[2017-08-02 10:31] ant31 commented on #520
1. install the helm plugin: https://github.com/app-registry/appr-helm-plugin/#install
2. login to quay.io from cli:
[code]
3. go the helm directory (where there is the Chart.yaml)
[code]

4. Go to quay.io (the front-end) and turn the app to 'public', in the setting view

to install it's:
[code]

[2017-08-02 11:48] brancz commented on #535
A `ConfigMap` has a size limit of 1Mb, this cannot be changed to my knowledge. The solution would be to shard the dashboards across multiple `ConfigMap`s, this is a bit more complicated, but generally possible, as we just need to bin-pack (no need for a fancy algorithm for this, just loop through the json files until 1Mb is reached) the dashboard json files into `ConfigMap`s, that then just end wi

[2017-08-02 11:57] eedugon commented on #535
mmm sure, thanks for the hints. I will take a deeper look and write back the conclusions.

[2017-08-02 12:35] eedugon commented on #535
Thanks to your hints, I have realized that the size limit reached in this case is the "annotations" size limit of kubernetes, which is 256 KB and not the ConfigMap limit which is 1MB.

That limit was discussed here:
https://github.com/kubernetes/kubernetes/issues/15878

The only way I have found to "skip" the annotation is issuing a `kubectl replace` instead of `kubectl apply`. That works perfect

[2017-08-02 12:48] brancz commented on #535
We can get creative and actually cut the json strings if we get the problem of single dashboards being larger than the limit, but I'd worry about that when we have that problem. For now I think just full dashboards bin-packed into the enumeration should suffice. Regarding the naming, I'm confident both namings work, personally I'd prefer

but that's just my taste I guess.

Other than that, everyth

[2017-08-02 18:39] eedugon commented on #535
Hi @brancz,

I have prepared the tool and I generate and apply the multiple configmaps based on files' sizes without problem, but it looks grafana pod doesn't really start (status = ContainerCreating) when we have the splitted configmaps.

These are the configmaps (with 6 and 4 files each):
[code]
And this is the status of grafana pod:
[code]
If with the same tool I prepare a manifest with only on

[2017-08-02 18:58] tao-lu opened #536 "Adding a timeout property to service monitor endpoints"
In addition to the existing `scrape_interval` property, I was wondering if there was any interest in adding a `scrape_timeout` one, as this has become relevant in our personal use of the operator.

[2017-08-02 20:41] nuala33 commented on #518
@brancz you were right. This was actually resolved by just fixing the permissions of the directory on the storage host. Thanks!

[2017-08-02 22:53] raliste commented on #480
It appears that the LifeCycle API is disabled by default in v2.0.0-beta.0, thus I'm getting `ts=2017-08-02T22:44:45Z caller=main.go:214 component=volume-watcher msg="Reloading Prometheus temporarily failed." err="Received response code %!s(int=403), expected 200" next-retry=46.860582567s`. at the prometheus-config-reloader.

Normally you would just add `--web.enable-lifecycle` to the prom args, bu

[2017-08-03 00:35] nuala33 opened #538 "Prometheus -- connection refused"
**What did you do?**

I created 2 prometheus pods, each with persistent storage. Though they have both been created successfully, Prometheus is not currently accessible on port 9090 and I am seeing this error repeatedly on one of the pods:

`ts=2017-08-01T17:49:01Z caller=main.go:214 component=volume-watcher msg="Reloading Prometheus temporarily failed." err="Post http://localhost:9090/-/reload: d

[2017-08-03 09:03] brancz commented on #518
Always happy to help! Feel free to open issue whenever you have a problem!

[2017-08-03 09:03] #518 closed

[2017-08-03 09:12] brancz commented on #535
Hmm I think this might happen because the grafana watcher is currently only made to watch a single directory for dashboard changes.

[2017-08-03 09:19] gianrubio commented on #513
@ryanwalls I had the same issue on the first time I deployed kube-prometheus. I'm pretty sure this is related to https://github.com/coreos/prometheus-operator/issues/443#issuecomment-311046540.

Could you try to reinstall prometheus with the right `serviceMonitorSelector`?

[code]

[2017-08-03 09:30] brancz commented on #480
@raliste we should indeed enable it always as we rely on that behavior for the config reloader. Do you want to create the PR to do so?

[2017-08-03 09:35] brancz commented on #538
Which version of Prometheus are you trying to run?

[2017-08-03 10:53] eedugon commented on #535
Ok, I understand.
Then for the moment, and as a workaround, we could use kubectl `replace` instead of `apply` for the dashboards in case of problems (as if we use replace the limit will become 1MB instead of 256KB).

We can keep this tool on hold until it's really necessary. For the moment I will configure a big limit size in the tool and then it will always generate single configmaps. If you want

[2017-08-03 11:18] ryanwalls commented on #513
@gianrubio Which issue are you referring to?

Also, I'm using the `kube-prometheus` chart, so I'm not explicitly installing the `prometheus` chart.

[2017-08-03 11:30] brancz commented on #535
Great! I'd love to integrate it nonetheless, for us to know when we absolutely need this, and it can turn out to be useful for the Prometheus rule files as well. I can't promise when I'll get to improve the grafana-watcher to allow watching multiple directories, but I see the importance.

[2017-08-03 11:54] brancz commented on #12
Garbage collection for CRDs [has recently been merged](https://github.com/kubernetes/kubernetes/pull/47665) and from my understanding will be supported starting 1.8. Once 1.8 alphas/betas are out we can implement this and test whether it actually works correctly on our side.

[2017-08-03 12:09] brancz commented on #488
Is this still an issue?

[2017-08-03 13:20] brancz commented on #483
Hopefully yes. The client-go version is updated, so that might already do the trick, but if not we have other options to explore if needed.

[2017-08-03 16:52] nuala33 commented on #538
@brancz We are running v1.7.0

[2017-08-03 16:58] eedugon commented on #535
For the moment you can take a look at this:
[https://github.com/eedugon/grafana-dashboards-configmap-generator](url)

Feel free to try it and let me know your thoughts, it's completely harmless and it will leave the generated manifest in the "output" directory.

Don't set APPLY_CONFIGMAP to "true" if you don't want kubectl apply to be executed :)

As you will see, with the current dashboards (only

[2017-08-03 17:28] nuala33 commented on #538
@brancz one other thing that might be important here. We are also seeing these errors on each of the pods:

  20m		51s		5	kubelet, k8s-pandora-mammal.ny2.etsy.com							Warning		FailedSync		Error syncing pod, skipping: failed to "KillContainer" for "prometheus" with KillContainerError: "rpc error: code = 4 desc = context deadline exceeded"

  51s	51s	1	kubelet, k8s-pandora-mammal.ny2.etsy.com	spec

[2017-08-03 21:02] nuala33 commented on #538
Probably also worth mentioning we're running Docker version 1.12.6...

[2017-08-03 22:25] nuala33 commented on #538
Solved by upping our CPU resource limit from 5m to 1000m :)

[2017-08-04 00:59] fangqiusheng commented on #488
we did not find the problem, but not use prometheus-config-reloader anymore. So you can close this issue as well.

[2017-08-04 00:59] #488 closed

[2017-08-04 07:23] brancz commented on #538
Yes 5m is pretty low considering Prometheus is a real time time-series database :slightly_smiling_face: . Great that you found the solution though!

[2017-08-04 07:23] #538 closed

[2017-08-04 08:01] brancz commented on #535
This is great! Nice stuff, I'm hoping to get to improving the grafana-watcher soon!

[2017-08-04 11:23] eedugon commented on #535
Perfect, no rush, when it's ready then I will check the best way to integrate it or part of it in the make generate process that you own.
Although maybe the user doesn't want to regenerate all promtheus rules + grafana stuff at the same time and this approach (a separate script) is also valid.

For the moment I have changed the limit to 1MB and using "replace" instead of "apply" and all is working

[2017-08-04 11:27] brancz commented on #535
That sounds fine. Whatever workflow works for you :slightly_smiling_face:

[2017-08-04 14:59] ryanwalls opened #540 "Remove hard coding 2Gi memory request"
Currently prometheus is hardcoded to 2Gi memory request for the stateful set.  https://github.com/coreos/prometheus-operator/blob/master/pkg/prometheus/statefulset.go#L95

Seems that there isn't a way to modify it?  If there is, is there documentation for modifying the value?

[2017-08-04 15:00] ryanwalls commented on #540
Doh, I see it's overrideable in the Spec.  2Gi is just a default.

[2017-08-04 15:00] #540 closed

[2017-08-04 17:43] Capitrium opened #541 "Permission denied using volumeClaimTemplate w/ automatically provisioned storage"
**What did you do?**

I ran the latest versions of the Prometheus Operator (v0.11.0 and v0.11.1) configured to use the new Prometheus v2.0.0-beta.0 version with persistent storage on the Prometheus pods using the following storage config:
[code]

Note: `ssd` is a `StorageClass` for AWS EBS gp2 volumes.

**What did you expect to see?**

Pods on the Prometheus StatefulSet launching correctly.

**Wha

[2017-08-06 14:56] bchanan03 opened #543 "Grafana watcher replacing all dashboards not found on Grafana configmap"
**What did you do?**
Updating Grafana dashboards configmap with Grafana dashboards and applying the configmap
has deleted all my dashboards created already.

**What did you expect to see?**
Updating Grafana dashboards should not remove dashboards not listed on configmap.
OR enabled/disabled for this change allow user to decide the Grafana watcher policy.

**What did you see instead? Under which ci

[2017-08-07 04:46] linhdsv opened #544 "Prometheus-operator doesn't scrape metrics from node-exporter"
### What did you do that produced an error?
Here's my config for node_exporter scrape job:

[code]

This one for node_exporter configuration itself:
[code]

Service Monitor for node_exporter:
[code]

Here's my Prometheus config to match ServiceMonitor:
[code]

### What did you expect to see?
Node_exporter worked and its state would be UP

### What did you see instead?
![image](https://user-images.

[2017-08-07 07:50] brancz commented on #544
As the node-exporter uses the host network interface/namespace this is most likely due to some firewall problems. Are you running this on a cloud provider?

[2017-08-07 08:03] brancz commented on #543
This is intended behavior. Because grafana has its built in sqlite database it is extremely hard to run reliably and in a consistent way. The grafana-watcher is intended to make grafana essentially stateless.

The workflow is intended to be something like this:

1) Grafana is deployed and provisioned with a set of dashboards from the ConfigMap.
2) You create/modify dashboards via the UI.
3) You ex

[2017-08-07 08:33] brancz commented on #541
This might have to do with the docker image being built with user `nobody`. We should anyways, but I think this might be fixed by setting the correct `securityContext`:

https://kubernetes.io/docs/tasks/configure-pod-container/security-context/#set-the-security-context-for-a-pod

To try this out you could take a copy of the StatefulSet generated and set the `securityContext` in the PodTemplate. If

[2017-08-07 08:45] Gouthamve commented on #541
Is this similar to a `hostPath:` volume? If yes, `fsGroup` doesn't work for `hostPath` IIRC.

Ref: https://github.com/kubernetes/kubernetes/pull/39438

[2017-08-07 08:53] brancz commented on #541
I would expect it to work on external volumes @Gouthamve. Host volumes are somewhat special as they require more sensitive treatment.

[2017-08-07 10:10] linhdsv commented on #544
Yes the project is running on AWS.

[2017-08-07 10:11] brancz commented on #544
Yes then most likely you need to adapt your security groups to allow workers to access that port for all your nodes.

[2017-08-07 10:12] linhdsv commented on #544
I will give it a try. Hope it works. Thank you

[2017-08-07 10:39] Capitrium commented on #541
Looks like setting the `securityContext` on the StatefulSet as suggested fixes the permissions issue - thanks @brancz!

[2017-08-07 11:52] brancz commented on #541
Great! Thanks for sharing @Capitrium! Would you like to give it a go and implement it in the Prometheus Operator?

[2017-08-07 12:07] #49 closed

[2017-08-07 12:07] #510 closed

[2017-08-07 13:48] nrobert13 opened #545 "prometheus-operator doesn't create target"
**What did you do?**
- Created a new ServiceMonitor resource.
- Troubleshooting: tried to scrape manually the ports from the endpoint with wget in the prometheus container, and it works.
Here are the current endpoints, services and servicemonitors:
[code]
**What did you expect to see?**
New target in the prometheus configuration.

**What did you see instead? Under which circumstances?**
The new ta

[2017-08-07 14:32] brancz commented on #545
You're missing entries for the `endpoints` field of the `ServiceMonitor`.

[2017-08-07 15:01] nghialv opened #548 "About roadmap"
Hi

Is there a scheduled release date for the beta version?

[2017-08-07 15:13] gmcquillan opened #549 "Make Test Failing on Forked Repos"
**What did you do?**

On HEAD of master:
[code]
Using latest stable golang:
[code]

**Here's What I see**
[code]

Now that I look at it it seems to be the difference between running tests on a **fork** of the project vs. the main project. Any ideas for this?

(Note how the paths for imports are slightly different due to the forking: _s/coreos/gmcquillan/_)

[2017-08-07 15:35] brancz commented on #548
Hi @nghialv we're actually about to release v0.12.0 which does the last bit that we wanted to get done before graduating this project to beta. Realistically this project has not had a significant change in its APIs for a long time, so I would consider it beta by most standards already.

[2017-08-07 15:36] gmcquillan commented on #549
Okay -- confirmed.

Tests only work if you:

1. `git remote add <remote> <forked url>`
2. `git pull <remote> <branch>`
3. `make test`

[2017-08-07 15:38] brancz commented on #549
I'd argue that this is mainly golang quirky-ness, I'd recommend even for a fork to do development in `$GOPATH/src/github.com/coreos/prometheus-operator`. Do you want to add that to the dev guide?

[2017-08-07 15:39] gmcquillan commented on #549
Yeah, that's exactly what I was thinking -- just wanted to confirm that's the best idea. Marking as closed.

[2017-08-07 15:39] #549 closed

[2017-08-07 16:36] linhdsv commented on #544
@brancz It yielded the same error. Any suggestions ?

[2017-08-07 16:54] brancz commented on #544
I would exec into the container and try to `wget` one of the node exporter endpoints and troubleshoot from there.

[2017-08-07 19:11] Capitrium commented on #541
Sure, I'll give it a shot!

[2017-08-08 02:16] nghialv commented on #548
Great!
I really want to use prometheus-operator in our project.
Thank you for your reply and your hark work.

[2017-08-08 02:16] #548 closed

[2017-08-08 02:33] ketzacoatl commented on #467
I'm not sure what the issue was here, but I found the 1.7.0 image worked, but still threw the error noted above.. so the error from kube seems to be more of a warning, and I'm not sure the reason why my initial attempts failed. I am not sure if there is really an issue here worth investigating.

[2017-08-08 06:31] nrobert13 commented on #545
you're right. it works with endpoints. the doku is a bit confusing then.

it says: ServiceMonitorSpec
endpoints	A list of endpoints allowed as part of this ServiceMonitor.
required  false

I thought if I don't specify any endpoints, it will take all the ports from the selected ep's. So the endpoints is requiered, should the required flag be changed to true?

Thanks,
Robert.

[2017-08-08 07:57] brancz commented on #545
You're absolutely right, it should be marked as required in the docs. I opened #552 to fix this.

[2017-08-08 08:33] brancz opened #553 "Use SIGHUP instead of http reload"
The prometheus-config-reloader currently reloads Prometheus by doing a `POST` request to the reload endpoint. As noted by a user, this endpoint is by default disabled in Prometheus 2.0, however, as the SIGHUP handler is available in 1.x and 2.x either way it seems more sane to reload via SIGHUP then expose these endpoints.

[2017-08-08 10:35] #545 closed

[2017-08-08 15:29] brancz commented on #536
Closed by #537

[2017-08-08 15:29] #536 closed

[2017-08-09 03:13] linhdsv commented on #544
I’m using NodePort to expose node-exporter service to be accessible from external. And I can see exposed metrics at http://ec2-52-87-207-223.compute-1.amazonaws.com:32327/metrics

Any suggestion?

[2017-08-09 03:15] linhdsv commented on #544
I also tried to `wget` one of the node exporter endpoints inside the container but got this `wget: can’t connect to remote host (xxx.xxx.xxx.xxx): No route to host`

[2017-08-09 06:41] brancz commented on #544
You're getting the exact same error from the `wget` so there is indeed a problem there, `wget` should work. There might be a problem with your container networking solution (flannel?). Note that regarding security groups you will most likely have to configure ingress for _all_ nodes and egress for the nodes that will run Prometheus.

[2017-08-09 06:46] linhdsv commented on #544
Actually I'm using AWS for hosting. I also configured firewall to accept traffic from all port in and out. For the nodes thats currently running Prometheus, I'm using LoadBalancer to expose its service.

[2017-08-09 06:56] linhdsv commented on #544
I am following this user guide: `https://github.com/coreos/prometheus-operator/blob/master/Documentation/user-guides/cluster-monitoring.md`

[2017-08-09 07:07] csethanhcong commented on #544
Hi @brancz I'm facing same error with this user guide. Any update on this issue?

[2017-08-09 07:36] brancz commented on #544
Have you tried deploying the entire stack with the kube-prometheus scripts (`hack/cluster-monitoring/*-deploy`)? I just did and it works fine for me. The manifests in the cluster monitoring guide are included from there.

[2017-08-09 08:19] linhdsv commented on #544
I spent the last hour using your scripts but I'm getting the exact same error. :(
I'm confused about its stability for now

[2017-08-09 08:33] brancz commented on #544
There is a reason they're in a `hack/` directory. They're mainly meant to serve as guidance for you to built your monitoring on top of.

A couple days ago you shared this image: https://user-images.githubusercontent.com/19921743/28773292-1a8633be-7613-11e7-9016-f96be0759345.png

There everything seemed to be fine, what changed?

Can you share all the versions you are using? Kubernetes (including t

[2017-08-09 08:39] linhdsv commented on #544
Actually I followed user-guide `https://coreos.com/blog/the-prometheus-operator.html` at first that did not use RBAC. But I got the error as you can see in my shared image.

Then I decided to switch to use RBAC user-guide at ` https://github.com/coreos/prometheus-operator/blob/master/Documentation/user-guides/cluster-monitoring.md` and got the error with node-exporter as I stated.

FYI: Kubernetes

[2017-08-09 08:51] brancz commented on #544
Are you only having this problem with the node-exporter targets or with any other target?

[2017-08-09 08:55] csethanhcong commented on #544
Yes, only `node-exporter`

[2017-08-09 08:56] linhdsv commented on #544
Yes, only `node-exporter`. I'm using `kubectl` to create k8s cluster and AWS for cloud provision

[2017-08-09 09:11] brancz commented on #544
I'm not sure I understand, `kubectl` is a tool to interact with Kubernetes, but you're saying that you created your cluster with it? I'm asking for the way you setup your cluster as in did you use the tectonic-installer, kubeadm, kargo/kubespray, etc. to figure out whether there are known problems with host networking with these solutions.

[2017-08-09 09:21] linhdsv commented on #544
Sorry for misunderstanding your question. I used Rancher to setup my k8s cluster

[2017-08-09 09:49] brancz commented on #544
I have almost no experience with kubernetes through rancher, but since it dynamically deploys kubernetes without clear master/worker topology, a lot of (networking) things can go wrong. Have you tried [this](https://github.com/rancher/rancher/issues/6139#issuecomment-251558161), the issue sounds similar?

[2017-08-09 09:51] brancz commented on #544
Just to make sure, your node-exporter pods are actually up and running right? Could you exec into one of them and `wget -O- localhost:9100/metrics`?

[2017-08-09 09:56] linhdsv commented on #544
I could see it up and running on k8s Web UI
![image](https://user-images.githubusercontent.com/19921743/29115940-7ecc9b12-7d23-11e7-875a-185f3987c2b5.png)

But I tried to query `up{job="node-exporter"}` on Prometheus Dashboard and they all DOWN
![image](https://user-images.githubusercontent.com/19921743/29115971-9aa3892c-7d23-11e7-82de-03f4a33575a6.png)

I also tried your suggestion `wget -O- loca

[2017-08-09 10:06] brancz commented on #544
Yes the up metric describes whether Prometheus was able to successfully scrape which is the problem you reported. It's still interesting though, because from within the node-exporter pod, you should be able to `wget` always. Could you share the logs of of the node-exporter pods?

[2017-08-09 10:09] linhdsv commented on #544
Yes, sure. Here's the log from `node-exporter` pods. I dont see anything special.
[code]

[2017-08-09 10:14] brancz commented on #544
Curious, could you share the output of `ip addr` from inside one of the node-exporter Pods? I have a feeling the IPs we're seeing are not the actual node IPs.

[2017-08-09 10:18] linhdsv commented on #544
![image](https://user-images.githubusercontent.com/19921743/29116894-8d8cd1aa-7d26-11e7-8825-e064bbbbea18.png)
Yes, I'm curious too. When I exposed `node-exporter` with NodePort, I can access it directly and see its metrics but can't `wget` this ip addr as expected.

[2017-08-09 10:21] linhdsv commented on #544
BTW I'm able to get metrics from `kubelet` at port `4194` with same node IP of `node-exporter`, but I don't know why I can't scrape its metrics at port `9100`

[2017-08-09 10:24] brancz commented on #544
This sounds like a problem rather related to rancher, as I don't have any experience using rancher I can't help on that front. If this is not a production cluster I'd recommend you have a look at other solutions, for example the tectonic-installer (which can also create vanilla kubernetes clusters), and/or re-create this cluster to see whether this issue persists. If that is the case, I'd open an

[2017-08-09 10:27] linhdsv commented on #544
Alright thank you for your support. I will tag this issue if I could find out the solution 👍
Thanks again.

[2017-08-10 07:51] #544 closed

[2017-08-10 11:47] unguiculus commented on #535
We had the same issue. The workaround with `kubectl replace` is nice but after adding more dashboards we also hit this limit. We have to use multiple config maps. In order to make this work I updated the Grafana Watcher so it can monitor multiple directories: #556

[2017-08-10 15:48] alepaez commented on #483
@brancz This update is already available?

[2017-08-11 08:45] weiwei04 commented on #520
#558 open a pr to delete pre-installed dashboards for kube-prometheus.

and thanks @ant31 for help to set up a registry, now the grafana chart can install with
[code]

But the quay.io registry use a private spec different with the helm http registry spec, for now, I have't find out a proper way to include grafana into kube-prometheus. I will try to think other ways.

[2017-08-11 09:04] brancz commented on #483
We're working hard towards a `v0.12.0` release. We can't promise a date though right now. It shouldn't be far away though.

[2017-08-11 14:05] sebglon commented on #485
Have you information on integration of V1.0.0 of kube-states-metrics on prometheus-operator?

[2017-08-11 14:12] brancz commented on #485
There are some very high level metrics landed in the v1.0.0 release: https://github.com/kubernetes/kube-state-metrics/pull/179 ... getting the v1.0.0 manifests into kube-prometheus is on our list, but haven't gotten to it yet.

[2017-08-11 17:25] tsloughter commented on #520
I was out for a week but now looking at this again :). I noticed some PRs/issues that look related to grafana dashboards since then and will first look through those, but let me know if anyone knows of ones that definitely relate.

[2017-08-11 19:55] dmcnaught opened #560 "Added kube-prometheus to kops 1.7.0 cluster with kubernetes 1.7.3 - two alerts"
**What did you do?**
[code]
**What did you expect to see?**
`No alerts`
**What did you see instead? Under which circumstances?**
`2 alerts, persisting:`
[code]
**Environment**
`kops 1.7.0 cluster with kubernetes 1.7.3`
* Kubernetes version information:

[code]
* Kubernetes cluster kind:

	`kops 1.7.0`

* Manifests:

* Prometheus Operator Logs:

[2017-08-12 07:21] unguiculus commented on #560
I noticed the same thing when I updated my our setup this week and investigated.

`DeadMansSwitch` has to fire always. It verifies your alerting works and has severity `none`. I guess you should be alerted if it doesn't fire.
https://github.com/coreos/prometheus-operator/blob/master/contrib/kube-prometheus/assets/prometheus/rules/general.rules#L16-L24

`K8SApiServerLatency` required some tweaking

[2017-08-14 08:42] eedugon commented on #535
Thanks a lot @unguiculus !
@brancz , in case @unguiculus proposal works fine for multiple config maps like "grafana-dashboards-0", "grafana-dashboards-1", etc... should we integrate my code / tool into the project?

Let me know if you want me to propose something.
Btw, @unguiculus , have you tried [https://github.com/eedugon/grafana-dashboards-configmap-generator](url) ?

[2017-08-14 14:51] unguiculus commented on #535
@eedugon Looks interesting but have not tried it. I'm currently grouping dashboard files into multiple folders. I changed the shell scripts to create one configmap per folder. Works fine with the updated Grafana Watcher.

[2017-08-15 08:03] brancz commented on #535
I was out sick yesterday, but so far this all sounds perfect. I'll get to your PR right away @unguiculus, then we can work on intregrating your work @eedugon. Nice work everyone!

[2017-08-15 08:14] brancz commented on #535
I merged #556, I think it would now be appropriate to merge your tool @eedugon into the kube-prometheus scripts directory, and make it a seamless experience, wdyt?

[2017-08-15 08:15] brancz commented on #520
#556 and #535 are the PRs/issues to watch in this regard. They're not helm related, but are most likely going to play nicely into your helm setup once integrated.

[2017-08-15 09:01] brancz commented on #560
Nice finding @unguiculus ! Yes these kinds of contributions are of course also highly welcome! :slightly_smiling_face:

[2017-08-15 12:31] eedugon commented on #535
Yes, @brancz , I will prepare it as part of kube-prometheus, let me work on that and i will propose a PR soon for your validation.

[2017-08-15 13:11] mindw commented on #543
Thank you for the very detailed rational @brancz.

The above workflow may produce unfortunate results when employed by two users. Both modify different dashboards and whoever commits first destroys the others uncommitted work.

Wouldn't simply ignoring unreferenced sources & dashboard be an acceptable compromise?

[2017-08-15 13:24] brancz commented on #543
Interesting idea @mindw, essentially what you're saying is that we don't wipe _all_ dashboards, but rather only those we have information about in the configmaps... I guess this can be a compromise.

[2017-08-15 15:47] eedugon commented on #535
@brancz : PR 567 raised.
We could test it together with the new grafana watcher, if they are really aligned, because i'm not sure after reading latest comment from @unguiculus .

@unguiculus : What do you mean with one configmap per folder?

What I have prepared is the process of N dashboards files, and splitting them in multiple confimaps based on a ocnfigurable size limit. So, if the total bytes

[2017-08-15 19:39] unguiculus commented on #535
@eedugon This is just how I set it up. For each folder, I create one configmap with multiple dashboards. You can use any number of configmaps.

[2017-08-15 22:52] kop commented on #180
Yup, taints are something that Prometheus operator is definitely missing.
Is there any outgoing work on this issue?

[2017-08-17 09:43] wkjun opened #569 "node-exporter could not export all mountpoints"
node-exporter in this yaml  :

prometheus-operator/contrib/kube-prometheus/manifests/node-exporter/node-exporter-daemonset.yaml

volumes and mountpoints doesn't content :

   "/:/rootfs:ro"

not like node-exporter:
https://github.com/prometheus/node_exporter

why not add the to it?

[2017-08-17 10:24] idealhack opened #570 "node-exporter is not running on master"
I failed to find any clues about this.

Also I'm not sure whether this is an issue of prometheus-operator or Kubernetes.

**What did you do?**

Deploy kube-prometheus

**What did you expect to see?**

node-exporter running on all nodes, including master

**What did you see instead? Under which circumstances?**

[code]

**Environment**

* Kubernetes version information:

[code]

* Kubernetes cluste

[2017-08-17 14:29] ArchiFleKs commented on #570
Maybe we just need to support the taint which is by default on Master on 1.7 I think, we should add

[code]

to the DS

[2017-08-17 15:44] fragtom opened #571 "etcd3 metrics missing"
I installed all the prometheus-operator examples, quite a lot of metrics..

But missing etcd metrics..  Have running

[code]

and getting on http://localhost:2379/metrics (```kubectl proxy --port 2379```) not the expected results of  *etcd_server* values..

Kubernetes version information:
[code]

[2017-08-17 20:45] gdmello commented on #352
Started looking into this as well. It appears that enabling `remote_read` and `remote_write` natively via deployment configuration is the simplest path forward. Since with a custom configuration, by disabling `serviceMonitorSelector` we might have to add the serviceMonitor config by hand into the prometheus configuration.

Even though this is an experimental, feature, it would be nice to have this

[2017-08-18 11:46] wleese commented on #352
@gdmello would you mind explaining what you mean by this? I'm looking for a nice way to doing this.

Previously I simply statically defined it in the prometheus-operator container - not a solution I'd like to continue using.

[2017-08-18 13:40] kevtaylor opened #573 "Container prometheus-config-reloader terminates with OOM"
**What did you do?**

prometheus operator installed via helm chart

**What did you expect to see?**
fully operational containers

**What did you see instead? Under which circumstances?**
prometheus-config-reloader container is in failed backoff state by failing OOM

**Environment**
coreos/AWS

* Kubernetes version information:
1.6.2

	insert output of `kubectl version` here
[code]
* Kubernetes clu

[2017-08-18 15:04] tsloughter commented on #520
Cool. I'll look at those. But after looking at it I don't see myself getting around to working on an operator for this anytime soon, so hopefully someone else is interested :). Also, I wrote a short blog post about how we are using the operator and helm charts and installing dashboards for now https://spacetimeinsight.com/installing-monitoring-erlang-releases-kubernetes-helm-prometheus/ -- and if

[2017-08-19 06:01] gdmello commented on #352
@wleese - I meant it would be easier if remote read/write just worked by modifying the prometheus configuration in `/contrib/kube-prometheus/manifests/prometheus/prometheus-k8s.yaml` (to add remote-read/ remote-write configuration) and deploying the operator with `/contrib/kube-prometheus/hack/cluster-monitoring/deploy`. Yes, you would have to checkout this repo first.

I forked this repo, and add

[2017-08-19 06:07] wleese commented on #352
@gdmello great stuff, many thanks.

[2017-08-21 09:36] brancz commented on #569
there are a few things around the node-exporter daemonset we have currently that can be improved, if this change works in your setup, feel free to contribute it :slightly_smiling_face:

[2017-08-21 09:39] brancz commented on #570
In our production clusters we have

[code]

but it seems that is too opinionated regarding the node labeling.

@idealhack if you can confirm that @ArchiFleKs's suggestion or another way works in a generic way I'm happy to include that change in the kube-prometheus manifest collection. Always happy about contributions! :slightly_smiling_face:

[2017-08-21 09:43] brancz commented on #571
The problem is that etcd is typically quite locked down and is very different in its deployment. Essentially what you need is a `Endpoints` objects in your Kubernetes cluster, that includes the IP port combination that fits your cluster. An example for manual provisioning an `Endpoints` object can be found here:

https://github.com/coreos/prometheus-operator/blob/master/contrib/kube-prometheus/man

[2017-08-21 09:48] brancz commented on #573
It's odd as I can't come up with a point where this container might leak memory as I would have expected that to have happened much earlier, but this could also have to do with the sheer size of the prometheus configuration and rule files. I'd suggest for now to bump the limit to `50Mi` memory and `10m` cpu. Would you like to adapt this? I'd be wary of allowing to set these limits via flags or som

[2017-08-21 10:06] wkjun opened #574 "grafana-deployment.yaml may be has some error"
**What did you do?**

after deployment, i found  in kubernete's pod ,grafana could not share grafana when a container down ,the next container start ,this result cause my grafana data all be emptied. this is terrible.

**What did you expect to see?**

i want to pod work correctly,so grafana can share grafana.

**What did you see instead? Under which circumstances?**

**Environment**

* Kubernetes

[2017-08-21 10:30] brancz commented on #574
The entire intention here is to run grafana in an ephemeral fashion, if this is not how you want to run grafana, then you are not required to use the manifests provided by this project. We merely share the way we think grafana should be operated. And given that grafana is just a dashboarding solution we felt like it's unnecessary to run a full blown database to run a few dashboards that we could p

[2017-08-21 10:52] wkjun commented on #574
may be ,you have not understand what i mean,emptyDir

Containers in the pod can all read and write the same files in the emptyDir volume

[code]

[2017-08-21 11:01] eedugon commented on #574
Maybe I'm missing something, but shouldn't `grafana-watcher` sync the
dashboards content when you start a new pod?

I have never seen the issue you mention, always using the default manifests
from kube-prometheus.

[2017-08-21 11:01] ArchiFleKs commented on #570
Are the taint the correct one? Because you have multiple ways / discussion
regarding master taint even if node-role seems to be the latest official
one.

You can also remove the key and schedule the daemon set on every node with
no schedule just by leaving operator and effect. Weaves does that for
example.

On lun. 21 août 2017 à 11:39 Frederic Branczyk <notifications@github.com>
wrote:

[2017-08-21 11:44] brancz commented on #574
I'm still not sure I understand your problem @wkjun. Could you try to write up how to reproduce your problem?

[2017-08-21 11:51] brancz commented on #570
I don't have a strong opinion as long as it's either best practice or works generically :slightly_smiling_face:

[2017-08-21 12:28] kevtaylor commented on #573
I would be happy if you increase the constraints, but I would suggest that this will just continue to cause problems in the future, if the values are hardcoded inside the go code. It might be better to template the statefulset definition and then get the operator to load it, instead of dynamically constructing it, but not sure of the feasibility

[2017-08-21 13:21] brancz commented on #573
The general idea of the Operator is to not worry about tuning, so for the time being we'll adapt the limits.

[2017-08-21 21:55] gdmello commented on #352
@brancz - Can this be merged in, even though the feature is experimental? LTS is a production concern for organizations adopting `prometheus-operator`.

[2017-08-22 09:37] fragtom commented on #571
I added  that svc and ep, replaced IP addresses for my setup .. but there is no metric ```etcd_server```

[code]

Is it right, that ep and svc could resist in ```monitoring``` namespace?

[2017-08-22 09:42] idealhack commented on #570
@ArchiFleKs @brancz Thank you! I didn't found this taint before. I'll test tolerations and maybe submit a patch later.

[2017-08-22 10:32] brancz commented on #571
Since this is just a manually maintained list of IPs, it doesn't actually matter where these objects are. You do need to make sure there is a `ServiceMonitor` object, that selects that `Service`/`Endpoints` object. Like this one: https://github.com/coreos/prometheus-operator/blob/master/contrib/kube-prometheus/manifests/prometheus/prometheus-k8s-service-monitor-kube-controller-manager.yaml

[2017-08-22 10:36] brancz commented on #352
I'm ok with adding it (I haven't had a look at the code, yet but rather mean the general idea), however, we need to explicitly declare in the documentation that everything in this space is highly experimental just like it is in upstream Prometheus, and it can change from any release to the next, we can only support it on a best effort basis.

Out of curiosity, what is your long term storage? I am

[2017-08-22 10:37] brancz commented on #352
Note though that there are some large changes coming up as we're deprecating the v1alpha1 objects and moving them to v1 (#555).

[2017-08-22 11:38] wleese commented on #352
I'd gladly add my answer, even though this wasn't addressed to me ;)
Prometheus -> Remote storage adapter -> InfluxCloud

Would you care to elaborate?

[2017-08-22 12:33] brancz commented on #352
Beyond the remote read/write implementation itself being highly experimental, the influx adapter is actually just an example implementation, or at least started as one. Influx is working on integrating real support into influx itself for remote storage purposes, this will be a real solution although the remote read/write interface still remains highly experimental. And this support is still months

[2017-08-22 13:11] wleese commented on #352
@brancz

Because we value metrics for various purposes (14mil unique series, 40k/s, 90 day retention by default and more than 1000 grafana dashboards - not autogenerated btw). We're currently building up infra in the cloud and Graphite & Nagios simply doesn't fit our desire to have a low maintenance, cloud friendly (monitoring &) metrics platform (opentsdb didn't have the community, kairodb was to

[2017-08-22 13:12] gdmello commented on #352
@brancz - I'm considering Prometheus -> Adapter -> InfluxDB as well.

Three reasons-
* Prometheus design philosophy suggests not storing data in the long term. (Based on reading some PRs, I've understood that to mean no more than a month or so.)
* We are looking at Prometheus to replace possibly one of 2 commercial monitoring/ alerting solutions, and reduce/consolidate our spending.
* We store bus

[2017-08-22 13:52] brancz commented on #352
All of the above sounds great! Thanks for sharing!

This is really up to you, whether you are willing to buy into the ecosystem and pay for clustering, as if you have single nodes, then Prometheus on it's own will outperform influx simply because it can optimize the time series database for the concrete use case.

I would strongly suggest to look whether your requirements could be satisfied using

[2017-08-22 13:54] fragtom commented on #571
Thank you for response and hinting that. But I'm so sorry for my bad explanation on that, what I in general mean is, that I'm searching for the ```etcd_server``` items in the metrics.. I expect, that they should be listet on the etcd-k8s svc.. The snippet from the /metrics .. only etcd_helper_* and etcd_request_* entries listed.. concerning the documentation of https://coreos.com/blog/developing-p

[2017-08-22 13:59] brancz commented on #571
Those metrics look like they're from the apiserver. Are you sure you picked up the right IP address? What does your setup look like? As in which tools did you use to privision your cluster, kubernetes version, etc?

[2017-08-22 14:33] fragtom commented on #571
I installed exactly that https://github.com/coreos/prometheus-operator/blob/master/contrib/kube-prometheus/README.md setup, but without helm.. In my initial description I display the service and endpoints.

But I'm not sure to get the right IP for putting into the setup .. What ip address I have to use?

https://github.com/coreos/prometheus-operator/blob/master/contrib/kube-prometheus/manifests/et

[2017-08-22 15:18] gdmello commented on #352
Thanks @brancz! will look into Prometheus Federation.

[2017-08-23 08:43] #541 closed

[2017-08-23 15:54] gdmello commented on #352
@brancz - so had a look at federation, and I have 2 concerns with it-
* If using Grafana, at the very least, I will require 2 dashboards, one with data sourced from the slave node for instance/ granular metrics, and the other, from data sourced from the master node, for charts over a large timespan.
* Requires each time series to be aggregated and thus configured in the master node, and for a larg

[2017-08-24 06:46] brancz commented on #503
Out of necessity I added this to #555. As that's merged now, I'm closing here.

[2017-08-24 06:46] #503 closed

[2017-08-24 20:37] alepaez commented on #483
Hey @brancz
Any news on this issue? Really missing my kubernetes metrics :(

[2017-08-24 23:45] jescarri opened #580 "Prometheus Spec Metadata does not propagates to pods"
**What did you do?**

Created a prometheus with the following configuration:

[code]

**What did you expect to see?**

Prometheus pods with the annotations defined in the Prometheus.Meta spec.

**What did you see instead? Under which circumstances?**

Only the metadata added by prometheus-operator.

[code]
**Environment**

* Kubernetes version information:

	tectonic v1.7.1

* Kubernetes cluster k

[2017-08-24 23:48] jescarri commented on #580
@brancz / @fabxc

Should the operator just add the labels / annotations from the Prometheus.Meta spec, in this function?

https://github.com/coreos/prometheus-operator/blob/master/pkg/prometheus/statefulset.go#L450-L456

[2017-08-25 05:22] brancz commented on #483
We actually just released v0.12.0, I'm hoping updating client go just fixed the issue, if not I'll start profiling more heavily, as this badly needs to be fixed.

[2017-08-25 06:45] gytisgreitai commented on #523
What about new rule format: https://prometheus.io/blog/2017/06/21/prometheus-20-alpha3-new-rule-format/ ?

I maybe missing something, but right now I get

[code]
when i try to use v2.0.0-beta.2
And I see that those rule files are still in old format. The easiest path if I understand correctly would be to put those converted rules into  ConfigMap and re-apply it

[2017-08-25 08:28] slintes commented on #343
Did somebody find out where that value "8" for some list actions is coming from? We have the same problem...

[2017-08-25 08:34] brancz commented on #343
8 is the maximum bucket size, so essentially the number of requests larger than 8 seconds, and in 99% quantile if there are enough requests that fall into that bucket then it's the value you get alerted on.

[2017-08-25 08:58] brancz commented on #523
@gytisgreitai this issue is about the Prometheus Operator supporting the Prometheus beta, which it does. What you're referring to is kube-prometheus supporting the beta. kube-prometheus explicitly just supports whichever version we specify currently in the manifest. For other versions you will need to put in some effort to make it work. Typically we always support the latest stable release of Prom

[2017-08-25 09:14] slintes commented on #343
thanks! Still strange that I can't reproduce these slow list requests with kubectl, that's always way faster than 8 seconds... :/

[2017-08-25 09:16] brancz commented on #580
The `StatefulSet` already gets the labels and annotations of the Prometheus object:

https://github.com/coreos/prometheus-operator/blob/7410ee7515df4d9c1ac2a34028fc01d3818f8bc0/pkg/prometheus/statefulset.go#L102-L109

Problem around allowing to specify annotations on Pods is that they often used to enable alpha features which likely remove all guarantees we can provide around the stability of depl

[2017-08-25 09:26] gytisgreitai commented on #523
yeah thanks, I'm not complaining, just wanted to know if I understand this correctly. Thanks.

[2017-08-25 09:31] brancz commented on #523
I didn't take it as a complaint, just clarifying. Of course if you already are working on getting everything 2.0 ready that will be a huge help once we need it, and testing 2.0 is definitely also encouraged! :slightly_smiling_face:

[2017-08-25 09:32] brancz commented on #523
and fyi `promtool` can convert between old and new alerting syntax

[2017-08-25 09:59] brancz commented on #553
It turns out there are currently some technical limitations on this, primarily that the currently supported version of Docker in Kubernetes is not able to share PID namespace, so closing this for the time being.

[2017-08-25 09:59] #553 closed

[2017-08-25 12:02] alepaez commented on #483
Updated to v0.12.0 but It is not starting

[code]

![error-prometheus-operator](https://user-images.githubusercontent.com/1220168/29713197-e593d67e-8973-11e7-9619-ee061b980e65.png)

[2017-08-25 12:27] brancz commented on #483
Excerpt from the release notes:

:slightly_smiling_face: just apply the RBAC roles from this repo and you should be good to go.

[2017-08-25 12:50] albert0815 opened #581 "Deploy script in contrib for cluster-monitoring fails"
**What did you do?**
Running deploy script for prometheus:
prometheus-operator/contrib/kube-prometheus/hack/cluster-monitoring/deploy

**What did you expect to see?**
Prometheu operator gets installed.

**What did you see instead? Under which circumstances?**
With release from yesterday (0.12.0) this script doesn't proceed over "Waiting for Operator to register third party objects" - it waits fore

[2017-08-25 13:11] brancz commented on #581
Thanks for reporting! Did you previously have a Prometheus Operator deployed? If so, did you update the RBAC roles?

[2017-08-25 13:34] albert0815 commented on #581
I removed prometheus operator pod from kubernetes before installing new version. Is this not expected to work? How could I update the roles?

[2017-08-25 13:43] brancz commented on #581
Interesting. I'm not seeing this behavior on a new cluster at least.

[code]

Will try to setup a cluster with the old version and just update the manifests.

The hack script should do the same, but you can change the RBAC roles with

[code]

[2017-08-25 13:59] brancz commented on #581
Seems to work for me from the previous version as well:

[code]

[2017-08-25 14:09] albert0815 commented on #581
Not sure whether I completly get it. I tried following:

1. With version v0.11.1 run script hack/cluster-monitoring/deploy (works fine)
2. remove prometheus-operator pod
3. Run latest release with above script
[code]
This now continues forever. In the meantime I tried above given command (for updating the RBAC roles) after step 2 but nothing changes.

[2017-08-25 15:31] jescarri commented on #580
I need annotations to use kube2iam https://github.com/jtblin/kube2iam and allow the prometheus pods to assume an specific AWS role.

Maybe a new spec field called iamrole?

[2017-08-27 09:38] punitag commented on #284
+1 use-case same as @grrywlsn

[2017-08-27 09:50] csahli opened #583 "[ kube-prometheus ] Kubernetes scheduler and controller manager pods have no service which match the related kube-prometheus servicemonitor"
I deployed a kubernetes cluster (v1.6.7 multi master cluster) using kubespray and then deployed the kube-prometheus (v0.11). Everything was fine but I get some alerts visible on promDash UI. Alerts were related to k8s scheduler and controller unavailability.

To solve the problem I just deployed kubernetes service to target kube-scheduler and kube-controller pods with labels matching related servi

[2017-08-28 01:58] VinceMD commented on #581
I have the same issue with 0.12.0 on a cluster where I haven't installed prometheus before.
The logs of the pod:

[code]

[2017-08-28 02:07] VinceMD commented on #581
do we need to install Prometheus-operator outside? Reading the contrib/kube-prometheus,  I'm under the impression that running the deploy command will do everything for me

[2017-08-28 07:15] brancz commented on #581
@VinceMD yes as noted in the release notes, `v0.12.0` of the Prometheus Operator requires a 1.7 cluster. So you will first have to upgrade your kubernetes cluster and then the Prometheus Operator from `v0.11.1` to `v0.12.0`.

[2017-08-28 07:46] brancz commented on #581
I believe I understand the problem now though. Yes the `hack/` scripts are not intended to be used for upgrading from one version to another, it is a mere coincidence, if it ever worked. That said I believe the changes to the script should be minimal so I'm trying it out right now and will open a PR if it turns out working.

[2017-08-28 08:10] brancz commented on #583
As I mentioned in the PRs, these manifests already exist, but are highly dependent on the tool used to provision your cluster, therefore we unfortunately cannot cover all cases generically.

[2017-08-28 08:39] brancz commented on #574
As it seems to work for all other users, we'll need a write up of how to reproduce this. I'll close this here, but feel free to re-open if you feel it's necessary :slightly_smiling_face: .

[2017-08-28 08:39] #574 closed

[2017-08-28 10:00] csahli commented on #583
yes it makes sense ... I didn't figure it out :(

[2017-08-28 10:00] #583 closed

[2017-08-28 10:09] brancz commented on #583
No worries that happens :slightly_smiling_face: if there is anything for your cluster that doesn't work we'd still like to hear from it, so we can make this project as compatible as possible :slightly_smiling_face: .

[2017-08-28 13:00] #581 closed

[2017-08-29 00:18] bamb00 commented on #363
I'm running into this issue with kubernetes v1.6.6 and prometheus-operator 0.11.1.  Is there a workaround or a fix?

Error:
unable to decode "prometheus-k8s-service-monitor-alertmanager.yaml": no kind "ServiceMonitor" is registered for version "monitoring.coreos.com/v1alpha1"

[2017-08-29 00:38] bamb00 commented on #363
Hi,

I'm running into this issue with Kubernetes v1.6.6 and prometheus-operator 0.11.1.  Is there a fix or a workaround for this error below?

Error:
unable to decode "prometheus-k8s-service-monitor-alertmanager.yaml": no kind "ServiceMonitor" is registered for version "monitoring.coreos.com/v1alpha1"

Env Info:
Client Version: version.Info{Major:"1", Minor:"6", GitVersion:"v1.6.6", GitCommit:"7fa

[2017-08-29 06:45] VinceMD commented on #571
I've got the same issues. Probably from lack of understanding

1. Created an etcd service and endpoints in monitoring space:
[code]

[2017-08-29 07:12] brancz commented on #363
@bamb00 that looks like a different problem. Is that error from when you try to apply the manifest with kubectl or an excerpt from the Prometheus Operator logs?

Could you give us the output of

[code]

As it seems they have not been registered, which could be due to an RBAC issue.

[2017-08-29 07:23] brancz commented on #571
The `etcd_helper_*` metrics are actually coming from the apiserver, not etcd. You are not successfully discovering etcd yet.

The `ServiceMonitor` you referenced needs to be adapted, as it specifically selects only those service/endpoints objects that have the `k8s-app: kube-controller-manager` label. What you need to do is label your service and endpoints object properly and then adapt the `Servi

[2017-08-29 08:28] weiwei04 commented on #569
Since kubernetes not support mount propagation, `/:/rootfs:ro` will cause some mount/unmount issues on host machine(for example if you use networked block device like ceph rbd/aws ebs etc), see https://github.com/prometheus/node_exporter/pull/660

after this pr https://github.com/kubernetes/kubernetes/pull/46444 merged, I think we can consider run node_exporter with `/:/rootfs:ro,rslave`.

[2017-08-29 10:00] VinceMD commented on #571
This works, thanks! Now just need to configure the ServiceMonitor it to use SSL as etcd will only respond over SSL.
I will test that over my kube-aws cluster and provide feedback so others can use this configuration in the future

[2017-08-29 14:48] brancz opened #592 "rework helm-charts"
I just had a chat with @mgoodness regarding the state and future of the kube-prometheus helm charts, and we wanted to share what our vision is regarding them and we invite anyone who wants to help on this to participate.

We imagine the general structure of the charts to be like this:

The kube-prometheus chart (this is mostly a "meta" chart that includes multiple other charts and adds the Prometh

[2017-08-29 15:16] bamb00 commented on #363
Here is the output from TRPs,

# kubectl get thirdpartyresources
NAME                                    DESCRIPTION                           VERSION(S)
alertmanager.monitoring.coreos.com      Managed Alertmanager cluster          v1alpha1
prometheus.monitoring.coreos.com        Managed Prometheus server             v1alpha1
service-monitor.monitoring.coreos.com   Prometheus monitoring for a serv

[2017-08-29 20:46] bamb00 commented on #363
This part of the script did not get execute manually after applying prometheus-operator,

# Wait for TPRs to be ready.
printf "Waiting for Operator to register third party objects..."
until kctl get servicemonitor > /dev/null 2>&1; do sleep 1; printf "."; done
until kctl get prometheus > /dev/null 2>&1; do sleep 1; printf "."; done
until kctl get alertmanager > /dev/null 2>&1; do sleep 1; printf "

[2017-08-29 21:10] ryanwalls commented on #363
@bamb00 You might try deleting your TPRs and rerunning the script from scratch.

[2017-08-29 21:58] bamb00 commented on #363
I'm running each yaml individually.  I need a workaround to get pass registering the TPRs.

[2017-08-29 22:43] bamb00 commented on #363
I see the problem.

The objects did not get create for each of the TRPs.  How do I do that?

[2017-08-30 05:37] VinceMD commented on #571
I'm able to curl my etcd endpoint by passing the certificates:

`curl -L -v  --cacert ./ca.pem --cert ./etcd-client.pem --key ./etcd-client-key.pem https://etcd0.mycompany-internal-domain.local:2379/metrics`

Where etcd0.mycompany-internal-domain.local is the full DNS for my first etcd node. I have 3 of them, each with its own DNS (Route53)
* etcd0.mycompany-internal-domain.local
* etcd0.mycompany

[2017-08-30 08:40] wleese opened #593 "Prometheus 2.0 Alert format documentation"
**What did you do?**
Use Prometheus 2.0.0 beta 2 with kube-prometheus.

**What did you expect to see?**
Alerts defined in the UI of prometheus

**What did you see instead? Under which circumstances?**
Nothin'

It's currently unclear how / if it's possible to create a configmap with a 2.0 style Alert definition, and the old style isn't migrated in any way.

[2017-08-30 12:12] eedugon commented on #535
@unguiculus , @brancz , quick update: I will test this early next week, as I'm still out on vacations ;-)

[2017-08-31 06:57] VinceMD opened #594 "ServiceMonitor makes job appears in Configuration but missing in Targets"
**What did you do?**
I have a service exposing Cassandra created in a namespace called 'vince1':
[code]
This service works for its purpose.

I then created a ServiceMonitor in 'monitor' namespace:
[code]
The job appears in the Configuration page of Prometheus if I create it in 'monitoring'. But does not if I create in 'vince1'. I wasn't sure if it needs to be next to the actual service.

**What di

[2017-08-31 11:14] mfaizanse opened #596 "Error when creating Cluster Role [Windows] [Kubernetes]"
**What did you do?**
Ran "kubectl apply -f bundle.yaml"

**What did you expect to see?**
It should create the clusterrole.

**What did you see instead? Under which circumstances?**
`Error from server (Forbidden): error when creating "promethius-clusterrole.yaml": clusterroles.rbac.authorization.k8s.io "prometheus-operator" is forbidden: attempt to grant extra privileges: [{[*] [extensions] [thirdp

[2017-08-31 11:31] VinceMD commented on #571
So I thought I could use the IP of my etcd nodes for time being with the `insecureSkipVerify` option for time being, until I generate certificates that work for both the IP and DNS address.

With the Certificates options:
[code]

Where are those files expected? Is that a location inside the Prometheus container? Or on the host VM?
I assume the etcd certificates are not available to the kubernetes

[2017-08-31 12:00] VinceMD commented on #571
I think I'm getting close: https://github.com/coreos/prometheus-operator/pull/264
Secrets available in the namespace can be mounted into the pod

The alternative, as explained on the ticket, would be to bake a Prometheus image which includes the certificates.

it's the first time I see Kubernetes secrets used to store a file i

[2017-08-31 12:36] VinceMD commented on #571
I got it working :). Problem solved for me

[2017-08-31 16:58] pete0emerson commented on #343
This one is biting us, too. Performance is fine AFAICT.

[code]

![screen shot 2017-08-31 at 9 56 04 am](https://user-images.githubusercontent.com/296757/29935166-b1f47b98-8e32-11e7-9899-6efe7c23d054.png)

It's only the GET verb, pegged at `8` like others.

[2017-09-01 00:13] VinceMD commented on #571
Created a doc in the repo and wanted to push a pull request but I'm not authorised.

Here is the doc in a Gist: https://gist.github.com/VinceMD/43c7afc1a6b0f580b0cb6fb27e650042

[2017-09-01 09:23] VinceMD commented on #594
I found an error in logs:
`User "system:serviceaccount:monitoring:prometheus-k8s" cannot list services in the namespace vince1`

I would have thought the monitoring account created by Prometheus Operator could by default read in other namespaces.

[2017-09-01 12:52] hartmut-pq opened #597 "prometheus-config-reloader - can't update / apply rules (main.go:214 | 500)"
**What did you do?**
run Prometheus

**What did you expect to see?**
prometheus-config-reloader working

**What did you see instead? Under which circumstances?**
Config & Rules not applied.

**Environment**
branched from `./contrib/kube-prometheus`

* Kubernetes version information:
v1.7.5

* Kubernetes cluster kind:
kops, AWS

* Manifests:

[code]

* Prometheus Operator Logs:
[code]

[2017-09-01 13:54] hartmut-pq commented on #597
Hi, seems to have been an issue with Decoding / Parsing the rules configmap - by slowly adding rulefiles within one by one I've been able to get it all applied - strange enough in the end I didn't really need to change anything - edited the configmap manifest manually in IntelliJ though - which changed some whitespaces, ..? unsure if the generate script file has any issues (run on MacOS)

Overall

[2017-09-01 15:11] pgburt opened #598 "User unaware of 1.6 incompatibility, make clearer in docs?"
This is from a user on the #coreos IRC https://botbot.me/freenode/coreos/2017-09-01/?msg=90543886&page=1

**What did you do?**

User tried to install Prometheus-Operator on Kubernetes 1.6.

**What did you expect to see?**

User did not realize CRDs were a new feature, so was expecting the install to work.

**What did you see instead? Under which circumstances?**

User got an error regarding CRDs.

[2017-09-01 18:12] jeremyd commented on #571
https://gist.github.com/jeremyd/1fffeaf3e9acc0165bbcd9c33286287c  @VinceMD here's what I use for grafana dash, it's a mix of host metrics and etcd metrics.  Maybe you can make it better and add it to grafana.net :)

[2017-09-01 20:53] punitag commented on #256
@brancz were you able to add documentation on custom configuration as a workaround for this or can you point me to one? I am wanting to use `blackbox-exporter` using the operator to monitor our internal k8s services

[2017-09-01 23:34] VinceMD commented on #571
Thanks I made one quickly  yesterday and published on Grafana: https://grafana.com/dashboards/3070

I didn't include host metrics. Are they available with the etcd_ label?

I will check your gist on Monday and see if I can merge and republish on Grafana

[2017-09-02 18:42] tsloughter commented on #520
Is there a reason the `grafana-watcher` watches a directory for config map changes instead of acting like an operator that watches kubernetes events and then `POST`ing them to grafana directly from the ConfigMap contents?

If the watcher watched for new config maps (or changes to existing ones) and checked if they were grafana dashboards, then importing them through the grafana api directly from t

[2017-09-02 23:32] tsloughter commented on #520
So I did a quick thing, https://github.com/tsloughter/grafana-operator

This is what I was thinking in terms of loading the dashboards from `ConfigMaps` based on an annotation: https://github.com/tsloughter/grafana-operator/blob/173b1fadcb97e3ba042aea5fd564314eb0726618/pkg/controller/controller.go#L73-L89

Not sure if it makes sense as a sidecar or as part of `prometheus-operator`?

[2017-09-04 07:08] VinceMD commented on #594
the solution was to create cluster role with read access to all namespaces:

[code]

If that is the way I should do this, let me know and we can close this ticket

[2017-09-04 08:49] brancz commented on #520
The reason why the grafana-watcher is a side-car is because this way it only needs to worry about consistency with the files on disk and the single "local" grafana instance. Whereas when you were to build this into an operator then a) that operator needs to perform all of those requests to all grafana servers, which is a NetworkPolicy I wouldn't want in my cluster b) the Operators are scoped to ma

[2017-09-04 09:38] brancz commented on #571
Sorry I was on vacation, and am only slowly working myself through issues and PRs.

@VinceMD we'd be happy if you could create a PR to add this to the docs. Anyone should be able to open a PR, just fork the repository, commit your doc and open the PR. Once we merge your doc, I would say we can close this issue :slightly_smiling_face:

Regarding an etcd grafana dashboard, the etcd team maintains a

[2017-09-04 09:45] brancz commented on #343
@pete0emerson in your case it seems to be the log resource endpoint, which can naturally take a long time, so we should just ignore that one, especially as it also allows following/streaming so it can actually be infinitely long.

@slintes the Kubernetes components themselves are doing requests to the apiserver, so those latencies are not only coming from kubectl alone. Could you post the ones tha

[2017-09-04 10:02] brancz commented on #256
@punitag I haven't found the time, but the tl;dr is that you skip the `serviceMonitorSelector` and provide your own `Secret` named `prometheus-<name-of-your-prometheus-object>`, the two caveats are that you need to manually ensure the rule files and secrets that are mounted into the container if you need them. There have been issues around this in the past so if you can get around to writing this

[2017-09-04 10:05] brancz commented on #535
Absolutely no worries! I just got back from vacation myself and slowly working through things, take the time off of GitHub :slightly_smiling_face: burnout is a real thing.

[2017-09-04 11:09] brancz commented on #363
@bamb00 it seems you are trying to apply the manifests currently on master of this repository, which will not work with `v0.11.1` of the Prometheus Operator, as we've promoted the objects from `v1alpha1` to `v1`. You should check out this commit 2747557, which was the last commit, where the manifests were compatiable, with `v0.11.1` of the Prometheus Operator. Note that the Prometheus Operator `v0

[2017-09-04 12:21] brancz commented on #594
The kube-prometheus manifests are merely an example of how cluster monitoring can be done, as in "how can I easily monitor my Kubernetes cluster and specifically the Kubernetes components with Prometheus?". The RBAC roles for this are highly detailed to fit exactly this need, following the principle of least privilege.

That said, the kube-prometheus manifests are totally meant to be "take and ada

[2017-09-04 12:21] #594 closed

[2017-09-04 12:23] brancz commented on #598
Absolutely! I noted it in the [release notes](https://github.com/coreos/prometheus-operator/releases/tag/v0.12.0), but if people run into it, then clearly it needs more visibility.

@joshix what is your take on this? Maybe we can insert a banner on all `v0.12.0`+ docs that only `v1.7.x`+ is supported?

[2017-09-04 12:26] brancz commented on #598
cc @radhikapc @athai @zbwright

[2017-09-04 12:35] brancz commented on #597
As the prometheus-config-reloader doesn't and shouldn't know anything about the syntax of rule files, what do you think we can maybe improve around the error message displayed? Always happy to improve.

If the script doesn't work on OS X (although initially developed on OS X) then this is certainly something we need to fix. In other places, however, where we had difficulties around inconsistencies

[2017-09-04 12:41] brancz commented on #596
I believe your issue is unrelated to the Prometheus Operator, and rather RBAC as a whole. You are trying to give the Prometheus Operator `ServiceAccount` more RBAC roles than you currently have. I'm not sure about Azure Container Service, but I know that on GKE this is the exact same thing exists, where by default users don't have full cluster admin RBAC roles themselves, therefore they cannot gra

[2017-09-04 12:45] hartmut-pq commented on #597
Hi @brancz - we didn't get an alert - for no alerts had been configured .. not rules at all had been accepted / applied since we upgraded to 1.7.x and re-applied `kube-prometheus`... :-)

Prometheus didn't show any logs - there's only been the log I provided above - hinting at a 500 error code.. so I ended up reading the source code which lead me to the issue with parsing the rule -> configmap and

[2017-09-04 12:45] brancz commented on #593
This is currently expected, as the kube-prometheus manifests are only provided as is and are always specific to the latest stable version of Prometheus.

`promtool`, a small utility shipped with every Prometheus release is able to convert rules from old to new Prometheus alerting rule syntax. You should be able to just run it over all alerting rule definitions, run the manifest generation scripts

[2017-09-04 12:45] #593 closed

[2017-09-04 12:49] brancz commented on #597
In that case I'd suggest to implement a dead mans switch :wink: .

Generally maybe we can just add a hint to the log message, that whenever the status code returned is `500`, then it is likely be because of an invalid rule files. I think this would be a useful addition. Would you like to open a PR to add this @hartmut-pq?

[2017-09-04 14:06] slintes commented on #343
at this moment we have this for LIST on persistentvolumes, persistentvolumeclaims, statefulsets, ingresses, secrets, endpoints, pods, storageclasses, services and configmaps. So many but not all resources. I solved this by using the 90% quantile instead of 99%, then everything is fine. But of course the alert will be triggered later when there is a real problem...

[2017-09-04 14:27] brancz commented on #343
Interesting. How many objects do you have? Your solution might be perfectly valid, maybe we even just need to explicitly alert on list actions separately as they have different SLOs than the other endpoints, that handle only single objects.

[2017-09-04 14:30] brancz commented on #570
@idealhack any update on this? :slightly_smiling_face:

[2017-09-04 17:26] tsloughter commented on #520
Ok, gotcha.

I'm going to continue working on the grafana operator when I have time. Hopefully others who are interested in Grafana being handled this way will see this issue and help out :). Going to add a list of what needs to be done for it to be actually usable to the readme.

[2017-09-04 21:30] slintes commented on #343
Sorry, missed your reply.
There are only very few objects in that cluster, less than 50 pods etc., which makes it even more strange.
Handling list actions separately sounds like a good idea :)

[2017-09-05 07:30] wleese commented on #593
Many thanks.

What I did was run:
[code]
and update hack/scripts/generate-rules-configmap.sh
[code]

[2017-09-05 07:35] brancz commented on #593
Awesome, thanks for sharing! That will be useful once we migrate! :slightly_smiling_face:

[2017-09-05 08:00] #573 closed

[2017-09-05 10:55] brancz commented on #127
As initializers and presets are still in alpha, we decided to move forward with this and implemented it into the object directly afterall. (closed by #600)

[2017-09-05 10:55] #127 closed

[2017-09-05 10:56] brancz commented on #180
Closed by #600, which implements taints and affinity, setting custom annotations and labels is also coming up in #591 .

[2017-09-05 10:56] #180 closed

[2017-09-06 02:03] VinceMD commented on #571
@brancz Documentation pull request here https://github.com/coreos/prometheus-operator/pull/601

Improvements welcome.

PS: I include in the doc an etcd dashboard that I've uploaded to Grafana.com. It's based on the official etcd one but working with Prometheus and I've added some metrics that were mentioned on the CoreOs metrics doc and were not present in the dashboard

[2017-09-06 07:58] mfaizanse commented on #596
Thank You @bonifaido, I will update the thread once I get the resolution. Apart, can you share some document or sample for deployment/integration of prometheus operator with windows containers?

[2017-09-06 08:00] brancz commented on #596
This is the very first time to my knowledge, that anyone has tried the Prometheus Operator with windows containers, so while I'm happy to hear about your experience, I don't have any docs to help you.

[2017-09-07 00:19] athai commented on #598
@joshix @pgburt @brancz

If we add the following to the top of the markdown files:
[code]

It should add a note before the heading that will be displayed like so on coreos.com:
<img width="767" alt="screen shot 2017-09-06 at 5 02 56 pm" src="https://user-images.githubusercontent.com/6801364/30139912-b315bfb2-9325-11e7-96ff-f0fd1503b1d5.png">

And within the GH docs, it'll just appear as:

**Note:*

[2017-09-07 13:00] brancz commented on #598
Good idea @athai. I added the headers in #605 .

[2017-09-07 15:49] nrobert13 opened #606 "change default scrape_interval"
**What did you do?**
installed prometheus with kube-prometheus

**What did you expect to see?**
an option in the Prometheus TPR to change the scrape_interval in the global section of the config

**What did you see instead? Under which circumstances?**
didn't find

**Environment**
* Kubernetes version information:

# kubectl version
Client Version: version.Info{Major:"1", Minor:"7", GitVersion:"v1.

[2017-09-07 16:23] brancz commented on #606
`30s` is a sane option, it's rather an edge case when this is not an appropriate value, so setting other intervals on a servicemonitor basis makes sense. What does your case look like? I'm not entirely opposed, but want to avoid duplicating the entire prometheus config.

[2017-09-07 17:03] nrobert13 commented on #606
I find 30s to short. in a 20 node cluster monitoring only the core components, what kube-prometheus brings, the database is like 3GB. I'd go for a longer default like 2m, and rather define the default to be 2m than defining in each and every servicemonitor the interval. if I need to change the interval, I need to change all the ServiceMonitors. Beeing able to define the global default, would make

[2017-09-07 18:00] gmcquillan opened #607 "Prometheus Config Reloader Out of Sync"
**What did you do?**

Using prometheus operator, monitoring services. Works well for weeks. Then, eventually nearly all the targets are timing out.

**What did you expect to see?**

I expected to see targets in prometheus match the pod IPs for the current active deployment.

**What did you see instead? Under which circumstances?**

Turns out that prometheus config reloader stopped reloading the co

[2017-09-08 06:28] #598 closed

[2017-09-08 06:49] brancz commented on #607
Just to make sure I understand correctly, were these Pods of deployments which were previously monitored, or did you add new `ServiceMonitor`s?

The Prometheus Operator generates the Prometheus config from the `ServiceMonitor` objects selected through the `serviceMonitorSelector` field, therefore, reloading is really only necessary when those `ServiceMonitor` objects are modified or new are added

[2017-09-08 08:00] nrobert13 commented on #606
thank you for the offer :). I'd be happy to implement it, but unfortunately I have no GO knowledge, so you would potentially need to guide me not only through prometheus-operator challenges but also GO language challenges ...

[2017-09-08 08:17] MattiasGees commented on #592
This will be a really good way forward.
The place I am working at for the moment is a heavy kubernetes, prometheus and helm user. I am willing to help with development of the HELM chart.
I think some of my colleagues are also willing to help with pushing the helm-charts forward and helping out the community.

Kind regards,
Mattias

[2017-09-08 08:57] brancz commented on #606
No problem, always happy to help a new-comer :slightly_smiling_face: . If you are on kubernetes slack we could have a quicker feedback cycle, let me know what you think and or ping me there.

[2017-09-08 10:18] idealhack commented on #570
@brancz Hi, sorry for the late reply. We’ve tested this and here’s the patch: #610.

[2017-09-08 11:52] brancz commented on #592
That sounds fantastic! Let me know if I help you in any way to get started :slightly_smiling_face: .

[2017-09-08 11:57] brancz commented on #570
Awesome! Thanks a lot! Closing here as #610 was merged.

[2017-09-08 11:57] #570 closed

[2017-09-08 13:03] stevenpall commented on #535
I just ran into this issue as well. I'm wondering if another option might be to follow a configmap-per-dashboard model? That way it's clear which configmap contains what data, and one would never encounter this max size limitation unless they had a single dashboard config > 1 MB.

Looking at the current Grafana deployment, I'm thinking the only tricky part might be figuring out how to volume mount

[2017-09-08 13:23] ringods commented on #592
And @MattiasGees, don't be shy to say we are working for [Skyscrapers](https://skyscrapers.eu/). 😄

[2017-09-08 13:32] brancz commented on #535
Absolutely, basically this is what a grafana operator could do similarly to what we do today in the Prometheus Operator with Prometheus objects selecting ConfigMaps containing rule files via a selector.

[2017-09-08 13:47] brancz commented on #507
Closing here as #515 was merged.

[2017-09-08 13:47] #507 closed

[2017-09-08 14:45] kevinjqiu commented on #592
@brancz At my $DAYJOB, we're currently using the kube-prometheus manifests to deploy our prometheuses, alerts and dashboards. It's been great but we're looking into rewriting the manifests to helm charts just like you've described. We'd like to contribute to this too if you could point us to a place to get started.

Our background:
- using Kubernetes 1.6 in prod for a couple of months
- using prom

[2017-09-08 17:36] gmcquillan commented on #607
I'm not sure what the status of ServiceMonitors was. That's something to investigate.

Mostly, I wanted to confirm that the config-reloader doesn't need to reload prometheus to pick up new targets.

I'll keep looking into it. Thanks for the information.

[2017-09-09 10:43] eedugon commented on #535
HI @brancz , sorry for the delay.

I have tested the multiple configmaps I generate with the `tool to split .json dashboards into multiple configmaps based on a configurable file limit`, and it works fine, as expected, but grafana-watcher doesn't detect the changes.

So, this is not a transparent method, because if we configure 4 configMaps (grafana-dashboards-0, grafana-dashboards-1, -2 and -3),

[2017-09-10 16:04] aknuds1 opened #613 "Dangling link to ServiceMonitor from kube-prometheus README"
The [kube-prometheus README](https://github.com/coreos/prometheus-operator/tree/master/contrib/kube-prometheus) has a [link](https://github.com/coreos/prometheus-operator/blob/master/Documentation/service-monitor.md) to ServiceMonitor, which results in a 404. I would rectify this in a PR if I knew of the URL to the ServiceMonitor documentation, in fact I am looking for this myself :)

[2017-09-11 12:17] hartmut-pq commented on #485
Hi @brancz do you have any update if that's still on track / is there a github issue?

[2017-09-12 17:50] dmyerscough opened #614 "Documentation confusion"
The documentation for the Prometheus Operator seems to be outdated/incorrect. I was reading the user-guides [1] and they have the following example:-

[code]

The `alertmanagers` block seems to have required fields missing as stated in [2].

| Field | Description | Scheme | Required |
| ----- | ----------- | ------ | -------- |
| namespace | Namespace of Endpoints object. | string | true |
| name

[2017-09-12 18:00] dmyerscough commented on #614
Ill attach this here to; the troubleshooting guide [1] isn't really a troubleshooting guide as there are no examples on how to actually troubleshoot the Operator e.g. if X is broken run Y to enable debugging etc.

[1] https://coreos.com/operators/prometheus/docs/0.12.0/troubleshooting.html

[2017-09-13 09:03] brancz commented on #485
Looks like they're landing in 1.8 https://github.com/kubernetes/kubernetes/pull/51553/files

[2017-09-13 09:06] brancz commented on #485
However as already mentioned the PR has some problems (particularly what Piotr pointed out), so I wouldn't count on them just yet.

[2017-09-13 09:24] brancz commented on #535
Agreed, that's exactly what I could see an operator do, however, that might even be overdoing it dramatically, basically we just need something that generates the manifest when it generates the configmaps, which shouldn't be too hard to extend the scripts with.

[2017-09-13 09:36] brancz commented on #614
That's actually just a documentation mistake, those fields are not mandatory. Only truly mandatory are `namespace`, `name`, and `port` (which can either be `web`, which is the port of Alertmanager's API for Alertmanager clusters created with the Prometheus Operator or the port number `9093`, by default).

I'm not sure I understand the troubleshooting concern, the entry we have is a common problem

[2017-09-13 09:38] brancz commented on #613
Always feel free to fix those kinds of things, but thanks for checking in with us! :slightly_smiling_face: The kube-prometheus readme had previously been in a separate repository, so I can imagine that this might not be the only problem.

[2017-09-13 09:39] aknuds1 commented on #613
@brancz What's the correct URL to ServiceMonitor documentation? Does it exist?

[2017-09-13 09:43] brancz commented on #613
I believe we distilled it into [this](https://github.com/coreos/prometheus-operator/blob/master/Documentation/design.md#servicemonitor) section of the `design.md` document, so we should link there.

[2017-09-13 10:11] eedugon commented on #535
@brancz : I can modify / generate the grafana manifest to be aligned with the configMaps, that won't be a problem at all.
Do you want me to include it in the proposal?
It will take just one or two hours to prepare it, just making a grafana manifest `template` to be processed after generating the configmaps.

[2017-09-13 10:16] brancz commented on #535
If it's a quick one I'd say let's complete it now.

[2017-09-13 10:48] hartmut-pq commented on #485
thx for the update and -> PR !

[2017-09-13 11:14] #613 closed

[2017-09-13 11:20] brancz commented on #614
Just to make sure I understand correctly, what is the issue you're facing or rather what are you trying to do?

[2017-09-13 11:29] brancz commented on #571
Closing here as @VinceMD added some nice docs around this in #601 . Thanks!

[2017-09-13 11:29] #571 closed

[2017-09-13 16:56] dmyerscough commented on #614
@brancz I have been using the Prometheus Operator and I have hit a lot of issues and going through the documentation hasn't helped.

Let me give you an example; I was configuring the Prometheus Operator to load some custom rules, I received the following error:-

[code]

I traced this error down in GitHub #490 which mentioned rbac rules might not be configured correctly. This type of error should

[2017-09-13 19:23] kevinjqiu opened #616 "Add `AlertRule` custom resource definition and AlertRule operator that manages it"
We use the alert rules and dashboards provided by kube-prometheus to monitor our Kubernetes cluster. Big props to those who contributed to these rules and dashboards - it really saved us a lot of time.

However, the way kube-prometheus alerts (and dashboards) are compiled it's a little less than ideal. Namely if we want to customize, say, the threshold of certain alerts, we have to template the al

[2017-09-13 19:42] punitag commented on #592
similar use case to @kevinjqiu . would definitely contribute back once our infra is set up.

[2017-09-13 19:58] paalkr opened #617 "How to scrape nginx ingress engine statistics?"
Hi

I have successfully deployed the prometheus operator in my kube-aws built Kubernetes 1.6 cluster on AWS, using kube-prometheus 11.1. All default resources are scraped as expected, and the alertmanager and grafana does function correctly. Now I'm trying to set up a ServiceMonitor to scrape statistics from my nginx ingress engine (0.9.0-beta.13), but without success. The nginx ingress engine end

[2017-09-13 20:58] kevinjqiu commented on #592
@punitag We have extended prometheus-operator with a new CRD `AlertRule` which is a simple object wrapper a prometheus rule. The operator syncs a `ConfigMap` for the `AlertRule` which gets picked up by the prometheus instance.

https://github.com/coreos/prometheus-operator/issues/616

I'm not sure if this fits the vision of the project, but I think it could be a useful addition.

[2017-09-14 07:15] brancz commented on #617
There are some approaches to doing this, one is just converting the metrics, that nginx provides via it's status endpoint using the [nginx-vts-exporter](https://github.com/hnlq715/nginx-vts-exporter). This gives you some metrics pretty quickly:

[code]

However all metrics are for the entire backend, it's not possible to dissect for example which is the endpoint that errors a lot or has high laten

[2017-09-14 07:48] eedugon commented on #592
Hi @brancz : I can also collaborate with the helm charts for all the components, trying to make them as much flexible and configurable as possible (via values.yaml overwriting).

I think one of the most powerful features of helm is to create different manifests based on the input parameters, for example adding / removing containers (sidecars) based on the configuration, setting up resources (memor

[2017-09-14 07:50] eedugon commented on #592
another example / idea.... :)
Prometheus persistent storage should be a simple option in the yaml for helm, so any user could enable persistence by just enabling something and setting the size of the persistent volume claim to create.
That's very easy to achieve too and I have it already written.

[2017-09-14 09:28] brancz commented on #592
Totally, as a matter of fact I think any mean of accessing/exposing web UIs for example should be completely left to the user, so any `Service`, `Ingress` or whatever is not something that belongs in kube-prometheus or even less in the prometheus chart.

As I mentioned before I think we first need to make sure the "leaf" packages are robust. For example the kube-state-metrics helm chart needs opti

[2017-09-14 12:29] wkjun opened #618 "K8SControllerManagerDown and K8SSchedulerDown"
**What did you do?**

K8SControllerManagerDown and K8SSchedulerDown

**What did you expect to see?**
K8SControllerManagerDown and K8SSchedulerDown  dones't firing

**What did you see instead? Under which circumstances?**

**Environment**

* Kubernetes version information:
[code]

* Kubernetes cluster kind:

	Kubeadm

* Manifests:

[code]

* Prometheus Operator Logs:

[code]
i select controller-man

[2017-09-14 13:08] eedugon commented on #535
got it working... I will update the PR

[2017-09-14 15:03] brancz commented on #614
Regarding your first issue, maybe we just need to switch to client-go for the prometheus-config-reloader as well and we should get the correct errors.

Regarding the second issue, I would expect that to work, what did not work?

Any contributions to the docs are also highly appreciated :slightly_smiling_face: .

[2017-09-14 17:55] paalkr commented on #617
Thanks for the feedback.

I have configured my nginx ingress engine to provide statistics in vts format, and all endpoints provides metrics when queried manually on port 10254 and the path /metrics.

The problem is that I'm not able to get Prometheus to scrap the endpoints.

[2017-09-14 19:56] paalkr commented on #618
Have you checked your security group settings?

Prometheus needs access on port 10252 and 10251 on the controllers to scrape metrics. Usually Prometheus ends up running in a regular worker pool, while controllers run in another pool. Each pool usually have their own dedicated security group. So basically you need to open the ports mentioned like
WorkerSecurityGroup -> ControllersSecurityGroup on p

[2017-09-14 22:18] paalkr commented on #617
Issue solved. I had some errors in my service and ServiceMonitor templates.

[2017-09-14 22:18] #617 closed

[2017-09-15 02:48] wkjun commented on #618
i didn't use aws,just installed kubernete on normal server ,so nodes are not in security group enviroment

[2017-09-15 07:03] brancz commented on #618
Yes we're aware of the inconsistencies between cluster setup tools, we just most commonly use bootkube which is why those manifests are as they are. I'm happy to accept PRs for different manifests as we already have `k8s/minikube/` and k8s/self-hosted/`, so what do you think of adding working manifests with the correct selectors and ports to `k8s/kubeadm`?

[2017-09-15 10:17] #580 closed

[2017-09-15 13:31] brancz commented on #535
With #567 being merged, do you think we can close this @eedugon ?

[2017-09-15 15:11] kevinjqiu commented on #616
Might be an overkill... closing it.

[2017-09-15 15:11] #616 closed

[2017-09-15 15:35] chenww commented on #467
it is not a warning if the pod needs container name to start:

kube-flannel-nm3rz                          1/2       CrashLoopBackOff

Error from server (BadRequest): a container name must be specified for pod kube-flannel-nm3rz, choose one of: [kube-flannel install-cni]

the workaround is to delete the pod

[2017-09-15 15:42] brancz commented on #467
Agreed with @ketzacoatl I'm not sure there is actually anything to investigate here, so I'm closing here, but feel free to re-open or open a new issue if you feel there is anything going wrong.

[2017-09-15 15:42] #467 closed

[2017-09-16 09:18] eedugon commented on #535
Yeah, let's close this.
Just as a conclusion:
The issue about limit size of the configmap (`metadata.annotations too long`) should be fixed with this PR plus the previous update in grafana-watcher supporting multiple configmaps for dashboards.

With this PR, the `make generate` command will create N configmaps for grafana dashboards based on a sizelimit of 240000 bytes and will prepare a `grafana-

[2017-09-16 09:18] #535 closed

[2017-09-17 09:01] brancz commented on #535
Once more, thanks @eedugon for your effort and involvement - this is an excellent result!

[2017-09-18 08:56] brancz commented on #520
With the recently added scripts by @eedugon I'm a bit skeptic whether a full blown Grafana Operator might be overdoing it, the scripts automatically split up the Grafana Dashboard Json definitions into multiple `ConfigMap`s and templates the Grafana deployment accordingly.

With all this tooling in place all one needs to do is export a Grafana dashboard through the UI and drop it into the grafana

[2017-09-18 08:56] #520 closed

[2017-09-18 15:07] tsloughter commented on #520
Ok. I disagree, but understand :). I'd want dashboards to work after a `helm install pkg` with no additional manual interaction. But I'm fine leaving this closed, for now at least.

[2017-09-18 16:34] brancz commented on #520
We figured that that would also be possible by tweaking the grafana-watcher slightly, similar to how the prometheus-config-reloaded works.

[2017-09-19 08:40] free8gent commented on #617
@paalkr I have a similar issue do you mind posting what you fixed.

[2017-09-19 08:42] paalkr commented on #617
Sure, what platform do you run on? AWS?

[2017-09-19 16:27] free8gent commented on #617
@paalkr Yes AWS, we have prometheus-operator deployed and can't seem to get the ingress-controller nginx  vts stats scraped. https://github.com/kubernetes/ingress/tree/master/examples/customization/custom-vts-metrics/nginx

I think we have a similar setup

[2017-09-20 09:27] #560 closed

[2017-09-20 14:29] qrpike commented on #239
I also seem to be having this issue ( CoreOS 1465.7.0, Kubernetes 1.6.1, Prometheus 1.0.1 ). However I'm mounting the prometheus data directory to the host disk.

@klausenbusk Did disabling selinux fix the issue for you?

[2017-09-20 14:55] klausenbusk commented on #239
I haven't experienced this for some time, and the cluster has changed a bit since (k8s 1.5 -> self-hosted 1.7).

[2017-09-21 10:07] mad01 opened #631 "contrib/kube-prometheus manifests generator sets newline incorrectly"
**What did you do?**
in `contrib/kube-prometheus` rerun of `make generate` the k8s deployments newlines is set incorrectly see diff

**What did you expect to see?**
expected to get a working k8s deployment.

**What did you see instead? Under which circumstances?**
[code]

[2017-09-21 11:23] brancz commented on #631
Interesting. What OS are you running on and executing this? When I run this I don't get a diff, I'm assuming this is due to incompatible tooling. Maybe we should just use a Dockerfile that packages all the required tools anyways, just like we do for the `generate` target in the `Makefile` in the root of this repo.

@eedugon as you initially developed these scripts, your opinion is also welcome :sl

[2017-09-21 12:04] brancz commented on #483
We've been able to identify the memory leak, and fixed it with #629 and #630.

We've already released `v0.11.2` to fix this for `v1.6.x` Kubernetes clusters. A new version for `v1.7.x` clusters is coming up soon.

Closing this issue here.

[2017-09-21 12:04] #483 closed

[2017-09-21 14:09] lorenzo-biava opened #633 "[kube-prometheus] cAdvisor metrics are unavailable with Kubeadm default deploy at v1.7.3+"
**What did you do?**

Successfully installed `kube-prometheus` in a Kubeadm cluster v1.7.5.

**What did you expect to see?**

The **cAdvisor** endpoints in the Prometheus **kubelet** job working correctly.

**What did you see instead? Under which circumstances?**

Several metrics are gathered correctly, but not the **cAdvisor** ones in the **kubelet** job.

**Environment**

* Kubernetes version in

[2017-09-21 15:20] brancz commented on #633
I'm not super familiar with kubeadm, but the change in 1.7.3 was unrelated to the cAdvisor metric endpoint exposed on port `4194`, the metrics were only removed from the `/metric` endpoint of the kubelet and moved to `/metric/cadvisor`.

I think in terms of this issue this was actually a firewall issue, that your worker that runs the Prometheus pod doesn't have network access to the kubelet `4194`

[2017-09-21 19:08] lorenzo-biava commented on #633
@brancz I've dug into the actual kubelet configuration and you're right: the default kubeadm configuration disables the cAdvisor port (with the `--cadvisor-port=0` flag).

Actually I've just found the [original thread on the Prometheus repository](
https://github.com/prometheus/prometheus/issues/2916#issuecomment-319373287), which already covered this explanation.

Personally, I'm not very willing

[2017-09-22 10:29] mad01 commented on #631
id did this in macOS sierra

[2017-09-23 16:32] tricky42 opened #638 "Instructions in README.md to install the operator in a different space dont work"
I read the README.md to get ready to install the prometheus-operator in a fresh minikube instances and wanted to make sure, all elements of the installation end up in a new namespace called *monitoring*.
So I created this namespace and also adjusted the namespace specified in the bundle.yaml to *monitoring* as described in the README.md file.

But when I checked what got installed all see all elem

[2017-09-23 20:47] emas80 commented on #617
I have a similar issue, my ingress service is not discovered by prometheus for some reason.
Please note that I have exactly the same setup on 2 different clusters - ingress, ingress service for prometheus, service monitor.
With "same setup" I mean literally the same yaml files, those are 2 clusters we use for development and integration testing, and we apply the same exact configuration to those c

[2017-09-24 09:17] emas80 opened #639 "Cannot monitor other namespaces out-of-the-box"
**What did you do?**
Run the "contrib/kube-prometheus/hack/deploy" script

**What did you expect to see?**
Prometheus up and running with the possibility to monitor any desired application by providing the necessary ServiceMonitor

**What did you see instead? Under which circumstances?**
If the service is deployed in a namespace other than the default "monitoring" one (or the one where prometheus

[2017-09-25 06:56] paalkr commented on #617
Sorry for the delayed response. First of all you need to make sure that the nodes running Prometheus have access to the nodes running your ingress engine at port 10254. This is done by configuring security groups correctly.

Second, you need to configure scarping endpoints for your ingress engine, and a set of scarping targets. I have the ingress engine running the default namespace, and my config

[2017-09-25 08:17] brancz commented on #617
@emas80 @paalkr both of your last comments would be highly welcome as docs contributions! :slightly_smiling_face:

[2017-09-25 08:32] brancz commented on #639
The kube-prometheus manifest collection is exactly that, a collection of manifests. They are very opinionated and are meant to be taken and adapted to your need. Along with that you're executing a script in a `hack/` directory, which goes even further, it says this _is_ a hack, it is just making our life a bit easier.

That said, the kube-prometheus manifests are designed to follow the principle o

[2017-09-25 08:37] brancz commented on #638
Can you explain where in the `README.md` it sounds like you need to install it into the `monitoring` namespace? The `bundle.yaml` is indeed designed to be deployed in the `default` namespace - primarily for a quickstart.

[2017-09-25 19:09] Capitrium opened #642 "HighNumberOfFailedHTTPRequests Alarms Firing Unnecessarily"
I've noticed the `HighNumberOfFailedHTTPRequests` etcd alarms firing whenever a new node is added to my k8s cluster. Digging into the logs, I noticed the following error on the kube-controller-manager while a new node was spinning up:

[code]

Seems like this is a pretty common failure that doesn't necessarily warrant the level of alerting we currently have on it due to the following:
  * the daem

[2017-09-26 07:59] brancz commented on #642
The DaemonSetController doesn't talk to etcd, so this retry handling has nothing to do with this. The errors the DaemonSetController gets are errors returned by the apiserver. Only the apiserver talks to etcd. Could you share the false alert that you have received so we can further examine what happened here?

[2017-09-26 09:35] mbugeia opened #643 "K8s nodes keep being scraped after shutdown"
**What did you do?**
We make a change on some workload of our cluster that cause the cluster autoscaler to shutdown some nodes.

**What did you expect to see?**
Nothing particular, dead nodes shouldn't be scraped anymore since they aren't in the cluster.

**What did you see instead? Under which circumstances?**

3 alerts firing K8SKubeletDown (warning and critical) and TargetDown (on job kubelet).

[2017-09-26 10:58] brancz commented on #643
The alert probably just needs a better `FOR` clause. The nodes may continue being discovered for up to 3 minutes.

[2017-09-26 11:22] emas80 opened #644 "Kubelet end points not updated - still scraping the old servers"
**What did you do?**
For some reasons, 3 days ago, our 3 masters have been replaced by AWS. All good, everything still works on Kubernetes. We got alerts for "K8SKubeletDown" as expected.

I tried restarting prometheus operator, and then deleting and recreating the kubelet servicemonitor, but nothing changed.

**What did you expect to see?**
The new masters scraped and added automatically by prome

[2017-09-26 11:24] emas80 commented on #639
Ok, fair enough.
Thank you @brancz !

[2017-09-26 11:24] #639 closed

[2017-09-26 11:59] mbugeia commented on #643
I don't think it's only the alert, it seems my nodes continue being discovered forever (it's been here for 3 days now). Do you know which metric is doing  the node discovery part ?

[2017-09-26 12:35] mbugeia commented on #644
I did open the exact same issue today #643

[2017-09-26 12:37] mbugeia commented on #643
Maybe the issue is not related to the prometheus operator `kubectl describe endpoints kubelet -n kube-system` still contain all my old nodes.

[2017-09-26 13:22] mbugeia commented on #643
I found the solution (not related to prometheus-operator):
`kubectl get endpoints kubelet -o yaml > kubelet.yaml`
Manually remove the dead nodes from kubelet.yaml
`kubectl replace -f kubelet.yaml`

[2017-09-26 13:22] #643 closed

[2017-09-26 13:23] mbugeia commented on #644
I found the solution (not related to prometheus-operator):
`kubectl get endpoints kubelet -o yaml > kubelet.yaml`
Manually remove the dead nodes from kubelet.yaml
`kubectl replace -f kubelet.yaml`

[2017-09-26 14:09] brancz commented on #644
@mbugeia @emas80 we recently changed how this is handled, as we have had a problem with updating the kubelet endpoints object, so we changed it to syncing the state every 3 minutes. So this is actually a problem with the Prometheus Operator.

[2017-09-26 14:41] Capitrium commented on #642
<img width="2993" alt="alerts" src="https://user-images.githubusercontent.com/5111534/30865344-b0adc54e-a2ac-11e7-96b6-1670d24f104d.png">

<img width="3002" alt="metric" src="https://user-images.githubusercontent.com/5111534/30865356-b7704604-a2ac-11e7-865a-b0d83439b2e4.png">

The false alert is pretty easy to reproduce. Spin up a small cluster (<5 nodes), deploy the Prometheus Operator, then spin

[2017-09-26 15:05] emas80 commented on #644
Thanks @mbugeia , replacing manually the nodes worked.
@brancz let me know if I can be of any help.

[2017-09-27 00:44] ptagr opened #647 "Setting up federation using servicemonitor (instead of custom config)"
**What did you do?**
I am trying to create a service monitor that would scrape the `/federate` endpoint of another prometheus service. I want all jobs to be included so I am using the param:
match[]: '{__name__=~".+"}'

My Service monitor looks like this:
[code]

When I create this, the parent prometheus sees this target but somehow the metrics are not imported. I think the params are not being pa

[2017-09-27 06:17] brancz commented on #644
The Prometheus Operator should be syncing the nodes in to the object every 3 minutes, so it seems that there is a bug in this sync.

@emas80 from the log line, it seems that the problematic thing is that we're trying to set the node name: https://github.com/coreos/prometheus-operator/blob/d372f28b01f5fac4bce946ed99544d1c32486a47/pkg/prometheus/operator.go#L380

Could you just try removing that lin

[2017-09-27 06:40] brancz commented on #647
Which version of the Prometheus Operator are you running?

[2017-09-27 09:55] JosephSalisbury opened #648 "Support certificates stored as Kubernetes secrets"
Hi!

At Giant Swarm, we're developing a platform for managing and running Kubernetes clusters. We run our control plane on Kubernetes, and use that to spin up Kubernetes clusters.

I'd like to use Prometheus to scrape these 'guest' Kubernetes clusters (api server, kubelet, node exporters, to begin with). As a customer requirement, we need to use https for the scrape itself.

Our operators provide

[2017-09-27 11:14] brancz commented on #648
I'm not sure how much sense automatically discovering secrets would work or make sense, but we do allow a list of secrets to be mounted into Prometheus pods. This however will always trigger a re-deploy of the Prometheus instance on a new secret (which I imagine should not be very often, but still possible).

[2017-09-27 11:17] JosephSalisbury commented on #648
Yeah, that wouldn't work for us, we'd be restarting prometheus very frequently.

[2017-09-27 11:52] brancz commented on #648
Sounds like your best bet would be to have a sidecar that retrieves the certs from the Kubernetes API and writes them and reloads Prometheus.

[2017-09-27 12:36] JosephSalisbury commented on #648
Cool, we'll go with our own approach. Thanks for your time!

[2017-09-27 12:36] #648 closed

[2017-09-27 17:27] punitag commented on #647
@brancz version `0.11.1` because our GKE clusters are still at `1.6.x` and dont support the new CRD

[2017-09-27 17:44] brancz commented on #647
Unfortunately the ability to set params only landed in the v0.12.0 release.

[2017-09-27 18:18] punitag commented on #647
thanks for the info @brancz. THis can be closed.
Does the approach look ok though? I was looking to use for federation instead of having a seperate prometheus with a custom config

[2017-09-28 05:40] brancz commented on #647
I haven't tried your exact config, but generally it looks good. I'll close this here then, but feel free to re-open or open a new issue when you have had the chance to upgrade to kubernetes 1.7.x+ and Prometheus operator v0.12.x+

[2017-09-28 05:40] #647 closed

[2017-09-28 09:26] vuza opened #649 "Grafana-Watcher import of dashboards exported via UI leads to nil pointer dereference"
**What did you do?**
I exported Grafana dashboards via the web UI, mounted them via a k8s configmap to the grafana-watcher and let grafana-watcher import the dashbords.

**What did you expect to see?**
I expected the dashbaords to be imported to Grafana

**What did you see instead? Under which circumstances?**
I realized this leads to an server side error on Grafana and the grafana-watcher receive

[2017-09-28 09:32] brancz commented on #649
When exporting a dashboard from the UI, you need to drop it into the `assets/grafana/` directory and then run the `make generate` make target, it will take care of wrapping the exported blob correctly as you described and generate a `ConfigMap` manifest accordingly.

Let us know or feel free to contribute to this document:

https://github.com/coreos/prometheus-operator/blob/master/contrib/kube-pro

[2017-09-28 11:12] vuza commented on #649
Thank you @brancz for the fast reply! The problem was, that we are not using the whole prometheus-operator ecosystem, but only the grafana-watcher docker-image, which most probably is not what it is designed for.
Would you accept an PR adding a README to https://github.com/coreos/prometheus-operator/tree/master/contrib/grafana-watcher with some basic information about just this part of the prometh

[2017-09-28 11:33] emas80 commented on #644
Hi @brancz , I tried to remove that line, and the results are interesting.

Apparently the server got removed after some time, and the new one was added correclty, but the end points have been sort of duplicated.
I can see every server reported twice under prometheus for the kubelet service "target", one on the port 10255, the second one on the port 4194 under the label endpoint: "cadvisor".
I hav

[2017-09-28 11:54] brancz commented on #644
The target with the new port is expected, that is the port that cAdvisor is natively listening on, it's metric output is just incorporated into the kubelets metric output. A user can choose which one to scrape, just be aware that starting with Kubernetes 1.7.3 the cAdvisor metrics have been removed from the `/metrics` endpoint of the kubelet and moved to `/metrics/cadvisor`. The `/metrics` endpoin

[2017-09-28 11:56] brancz commented on #649
Definitely! I've been meaning to add a `README.md` to the grafana-watcher, but haven't gotten around doing it. If you are up for it, it would be highly appreciated if you could write up one :slightly_smiling_face: .

[2017-09-28 13:23] brancz commented on #642
What tooling did you use to setup your cluster, and which networking solution are you using? As far as I can tell the Kubelets don't talk to etcd directly, but networking solutions, like flannel might.

[2017-09-28 13:49] emas80 commented on #644
Sure I will do!

Thanks!

[2017-09-28 18:57] Capitrium commented on #642
Our clusters are setup using a custom terraform config, and we're using flannel as our container networking interface. Flannel is running as a daemonset configured with the `kube-subnet-mgr` flag, so writes to etcd should be delegated to the apiserver AFAIK, but if the kubelets don't talk to etcd it would make a lot of sense for flannel to be the source of these PUT errors since they seem to only

[2017-09-28 19:33] eedugon commented on #631
Hi @mad01 , @brancz,
Sorry for my late response about this. Interesting issue.

I believe the reason is how the `sed` command in macOS is handling the newline characters.
@mad01 : Have you tried installing in your system `GNU sed / gsed` instead of the default version?

@brancz : There are some options to try to mitigate this, for example:
- using `perl` instead of `sed`
- change the code to direc

[2017-09-29 07:40] brancz commented on #631
Yeah, I think the Dockerfile option is the sanest here, it will make sure we all run into the same issues if there is one :slightly_smiling_face: .

[2017-09-29 07:42] brancz commented on #642
I would expect flannel and or etcd to log on an actual erroring API call. Could you check those logs? If this happens when a new node is joining the cluster, then this should be a good clue as to when these events should be happening.

[2017-10-01 21:51] vuza commented on #649
PR: https://github.com/coreos/prometheus-operator/pull/656

[2017-10-01 21:51] #649 closed

[2017-10-02 19:25] julianvmodesto opened #658 "Allow configuring .spec.livenessProbe.initialDelaySeconds > 300"
My prometheus db is crash recovering, but the `livenessProbe` restarts the entire Pod since the recovery is taking long for such a large database (`retention: "720h"`).

https://github.com/coreos/prometheus-operator/blob/630941347fc25215a9746ea19576df2faba58287/pkg/prometheus/statefulset.go#L486-L490

Could we set `initialDelaySeconds` higher than 300? Perhaps 900?

* Kubernetes version informatio

[2017-10-02 20:19] edrex opened #659 "Prometheus queries intermittently returning empty"
**What did you do?**

I deployed https://github.com/coreos/prometheus-operator/tree/master/contrib/kube-prometheus, and am seeing intermittently empty result sets across all queries. For example:

[code]

I thought that this might be an issue with a particular instance of prometheus, so I scaled the stateful set to 1 and removed the extra pod, but the behavior persists.

**Environment**

* Kuberne

[2017-10-03 11:37] gianrubio commented on #521
@ryanwalls could you confirm if this issue still happen? Yesterday I did some changes on the helm charts, following the same steps, and I can't reproduce this issue. Maybe it's already fixed on the charts.

[2017-10-03 12:03] gianrubio opened #660 "Please provide a coreos helm server"
The current helm repo is broken because they're not update after PR. I know that @mgoodness
 is busy with other stuffs but we can't keep the charts outdated. Also I trust more in a coreos helm repo than in repo managed by users.

Any plans to coreos provide a helm server, so we could sync all the changes with the helm chart upstream?

[code]
#592

[2017-10-03 13:34] mikebryant commented on #491
I don't think it affects rolling deployments.

e.g. if you have 3 instances and you set an update, it will still create/destroy/create/destroy etc.

The difference is, if you have 0 running instances and you ask it for 3, it will start them all at once, instead of waiting for the first one to be ready.

[2017-10-03 14:29] mbugeia commented on #535
I think the bug is still present in @eedugon generator. By using the script contrib/kube-prometheus/hack/scripts/generate-manifests.sh it generate a configmap that I wasn't able to deploy (same error, metadata.annotations too long)
By tuning the "-s" value to a lower number (150000) I was able to generate a proper configmap file.

[2017-10-03 14:50] julianvmodesto opened #661 "Use .spec.podManagementPolicy: "Parallel""
Could we use `.spec.podManagementPolicy: "Parallel"` for prometheuses for Kube 1.8 clusters?

https://kubernetes.io/docs/tutorials/stateful-application/basic-stateful-set/#parallel-pod-management

Updates should be rolling, but prometheuses should start in parallel instead of starting sequentially. For example, I run a prometheus with `.spec.replicas: 2`, and the first prometheus takes a long time

[2017-10-03 18:44] edrex commented on #659
Scaling down to one instance actually seems to resolve this. I'll close this for now and reopen with a better characterization if I hit it again.

[2017-10-03 18:44] #659 closed

[2017-10-03 19:30] ryanwalls commented on #521
@gianrubio Yeah, I think this is OBE.  Closing.

[2017-10-03 19:30] #521 closed

[2017-10-03 22:07] bamb00 opened #663 "Grafana dashboard error "Server side error :( Failed to get settings""
**What did you do?**
     Running grafana with prometheus-operator release-0.11

**What did you expect to see?**
     Dashboard continue displaying metrics from k8s cluster

**What did you see instead? Under which circumstances?**
     When the error "Server side error :( failed to get settings" occurs the files & dirs in the Grafana container is deleted automatically/mysteriously (/var/lib/grafan

[2017-10-03 23:06] tsloughter commented on #592
Related to this issue and https://github.com/coreos/prometheus-operator/issues/520, I wanted to mention that being able to add dashboard with helm install and upgrade would be very useful. Not being able to do that is what led me to looking at loading dashboards automatically through the watcher or operator. But really since they don't change except when a chart is installed or upgraded there is n

[2017-10-04 06:23] brancz commented on #535
This highly depends on the size of your previous configmap content (which is stored in an annotation). At some point I would recomment to just replace the manifest, and skip the annotation.

[2017-10-04 06:25] brancz commented on #491
We have some basic tests around rolling deployments, I guess we should just try it out and see how it goes.

[2017-10-04 07:53] eedugon commented on #535
Thanks for sharing the info @mbugeia , good point. But I'm not sure about the best approach here...

As @brancz mentions, the reason is the size of the `previous` configmap stored in the system, not the new one (I believe).

Anyway I configured the 240000 limit by default without deep investigation, so in case 140000 works better we could consider it. The only caveat is that that limit will also l

[2017-10-04 09:29] brancz commented on #663
I'm not sure I understand the way of how you got into this situation, could you describe more in detail, which objects/manifests you have in your cluster and their version, what you did and expected to happen, and what actually happened.

[2017-10-04 09:30] brancz commented on #661
Dupe of #491. Happy to add it, just haven't come around doing it yet.

[2017-10-04 09:30] #661 closed

[2017-10-04 09:36] brancz commented on #658
With Prometheus 2.0 "crash-recovery" is effectively gone, as only the WAL has to be loaded from disk, which is comparable to "crash-recovery", but will be much faster. I would prefer increasing the current value, rather than introducing yet another knob for people to configure. How about we meet in the middle and make it 10mins timeout? :slightly_smiling_face:

[2017-10-04 09:40] brancz commented on #660
I'm happy to have a repo hosted by us with the quay helm registry. If I remember correctly, it requires an additional fetch step for users, which we can document.

Currently I have no resources to invest into helm things, so I don't see it being automated via CI any time soon. I'm happy to do what it takes to enable this though. If I create the repositories, would you be interested in keeping them

[2017-10-04 12:55] gianrubio commented on #660
Yes, I'm willing to maintain the helm repo and work to automatize the CI stuff. I'm going to start figuring out how the helm server works so I'll back with further instructions.

[2017-10-04 13:03] brancz commented on #660
Let me know what I can do and we'll make it happen :slightly_smiling_face: .

[2017-10-04 16:35] Capitrium commented on #642
Seems like these PUT errors are actually caused by the `etcd-lock` [container linux update strategy](https://coreos.com/os/docs/1465.8.0/update-strategies.html). Closing this issue as the alarm doesn't fire when using the [container linux update operator](https://github.com/coreos/container-linux-update-operator), which is a better solution for updating nodes in kubernetes clusters anyway.

[2017-10-04 16:35] #642 closed

[2017-10-04 17:47] julianvmodesto commented on #658
Hmm, we would need the liveness probe timeout to be quite large. Crash recovery takes 20 minutes at the moment with `retention: "720h" # 30 days` for us, so unfortunately 10 minutes isn't much of a difference than 5 minutes because Prometheus will still be killed by kubelet in this case.

[code]

[2017-10-04 18:56] lucab commented on #642
@Capitrium so it looks like locksmithd is correctly talking to etcd but there a number of failing PUT attempts. If you have more details in locksmith logs, can you please forward them to a coreos/bugs ticket? I'm not 100% sure about what's going on, it sounds fishy but it may even be correct behavior.

[2017-10-04 21:49] edrex commented on #633
metoo, with kube-aws. seems like eventually scraping the /metrics/cadvisor endpoint will be preferred? We'll maintain a fork till this is resolved (see commit pingback)

[2017-10-05 01:28] edrex opened #667 "prometheus-k8s can only scrape local node_exporter (kube-aws)"
**What did you do?**

 - provisioned a cluster on aws using https://github.com/kubernetes-incubator/kube-aws.
 - ran `contrib/kube-prometheus/hack/cluster-monitoring/deploy`

**What did you expect to see?**

prometheus instance running in prometheus-k8s pod can scrape node-exporter on all nodes.

**What did you see instead? Under which circumstances?**

Prometheus can scrape the node-exporter runn

[2017-10-05 01:53] edrex commented on #667
Yes, it was just a missing firewall rule in the workers security group. Anyone else seeing a similar issue should open up inbound tcp 9100 to their worker security group. Sorry for the noise, closing.

[2017-10-05 01:53] #667 closed

[2017-10-05 08:04] brancz commented on #633
We'll probably move to the `/metrics/cadvisor` endpoint when we upgrade everything to be target 1.8.0+.

[2017-10-05 12:22] mad01 opened #668 "feature request toleration selection"
currently it's supported to use node selector for prometheus. it would be grate if we could add support for toleration to be able to use tainted instance groups for monitoring. The use case is in a senario were you have a very elastic workload and the cluster instance groups scales up/down frequently. If you have a separate instance group that is tainted you could use that instance for the prometh

[2017-10-05 12:32] brancz commented on #668
Actually the latest release (`v0.13.0`) introduced this. Unfortunately the docs haven't been synced on coreos.com yet, but the docs on master of this repo are accurate. Let me know if there is still anything missing! :slightly_smiling_face:

[2017-10-05 12:45] mad01 commented on #668
aa cool that is awesome. will take a look a that then

[2017-10-05 12:45] #668 closed

[2017-10-05 14:31] mbugeia commented on #644
Do you plan to make a release soon with this fix ? It's kind of critical for us since the bug also appears for new nodes in the cluster, the kublet endpoint is never updated.
Also is there a workaround to regenerate the kubelet endpoint ?

[2017-10-05 14:32] brancz commented on #644
Yes, a release should be coming up soon! :slightly_smiling_face:

[2017-10-05 14:32] mbugeia commented on #644
Thanks !

[2017-10-05 15:48] julianvmodesto commented on #658
I want to reiterate why a knob would be helpful: not all Prometheus databases will be as large as mine since not all Prometheuses are the same, but a knob would be useful to *allow* users' Prometheuses to scale with usage. At this point, my Prometheus is inoperable because it will never start up due to kubelet killing it mid-crash recovery.

[2017-10-05 15:52] julianvmodesto commented on #658
Also, while I'm excited for Prometheus 2.x, this project is not Prometheus 2.x Operator -- plenty of users are running 1.x at different scales.

[2017-10-05 17:55] julianvmodesto opened #669 "update liveness and readiness probes for Prometheus 1.8.x"
With https://github.com/prometheus/prometheus/issues/2831 being added to the Prometheus 1.8 release, there are now more accurate endpoints for liveness and readiness probes, the `/-/healthy` and `/-/ready` endpoints. This helps address https://github.com/coreos/prometheus-operator/issues/658 for Prometheus >= 1.8, 2.

[2017-10-05 23:30] juiceblender opened #671 "Prometheus Operator with custom prometheus.yml"
Hello guys, I'm trying to better understand the behaviour of Prometheus Operator. There are some things I can't quite explain but all that said I'm in no way good at Kubernetes.

**What did you do?**
I created a Prometheus Operator on a Tectonic Cluster, and an associated dockerized Graphite Exporter. Using ServiceMonitor and checking targets in Prometheus, it does manage to discover my graphite e

[2017-10-06 02:41] juiceblender commented on #671
On a closer glance and the source code, it looks like Config reloader is only able to reload configurations which target the ".rule" directory. In that case, I guess it is not possible to provide custom `prometheus.yaml`s to a Tectonic Prometheus Operator's managed Prometheus and as a corollary of that is then since it is generated based on ServiceMonitor only instances/pods managed by Tectonic ca

[2017-10-06 08:52] brancz commented on #669
Adding these definitely make sense, do you want to give it a go?

[2017-10-06 09:18] brancz commented on #671
There are a couple of confusions here, I'm hoping I can solve all of them. Firstly, Prometheus rule files are not about the Prometheus configuration itself, it's meant for specifying the alerting rules. The Prometheus configuration is primarily about how Prometheus is supposed to discover targets, and which of those to select to be monitored.

In contrast to the etcd-operator, the Prometheus Opera

[2017-10-06 10:24] #631 closed

[2017-10-07 02:17] julianvmodesto commented on #669
Sure I'll give this a go.

[2017-10-07 12:39] juiceblender commented on #671
You bet it helps. Wow. After a lot more mucking around, it works just as you described!

I am trying to use Prometheus to monitor instances both inside Tectonic and outside Tectonic, and was trying to get away with having a `ServiceMonitor` for the pods and a custom configuration otherwise. That actually clears things up a lot, thanks a lot for your effort in explaining all that again! 👍

[2017-10-09 03:20] #671 closed

[2017-10-09 07:30] xvzup opened #677 "Disk space usage depcited in Grafana correct?"
**What did you do?**
Open the Grafana dashboard "Nodes" which is provided by prometheus operator.
**What did you expect to see?**
For a given Kubernetes node the disk space usage was given with 10.41%
**What did you see instead? Under which circumstances?**
Calculating the value by hand I end up with a value of 8.31%. The following expression is used to calculate Disk space usage:
expr": "(sum(nod

[2017-10-09 08:00] brancz commented on #671
As this is not the first time this has come up, I will make sure to create a documentation page for this right now.

[2017-10-09 10:11] ant31 opened #679 "Deploy prometheus-operator scoped in one namespace"
I would like to be able to deploy multiple prometheus-operator in one cluster and limit each of them to gather metric from a single namespace.
I propose the following changes:

- [x] Add an option to change the crd api-group name:
[code]
- [x] Add an option to select a namespace and filter k8s api calls to this namespace
[code]

[2017-10-09 10:13] ant31 opened #680 "Propagate custom labels to all resources"
I would like to inject custom-labels to all resources created by the operator:

[code]

[2017-10-11 12:01] brancz commented on #677
Yes, you're right. How do you think we should solve this? I was thinking of maybe adding a recording rule to have the percentage per logical filesystem:

[code]

Then the query we can do would be this:

[code]

Also a neat one to be able to explore which disk on that host has high utilization

[code]

[2017-10-11 12:52] mikebryant opened #686 "kube-prometheus: Mismatch between dashboards and rules"
https://github.com/coreos/prometheus-operator/blob/9d4f8feb906d465008a0ea45fb94782c3f90446a/contrib/kube-prometheus/assets/prometheus/rules/kubernetes.rules#L134 has `cluster_resource_verb:apiserver_latency:quantile_seconds`

https://github.com/coreos/prometheus-operator/blob/9d4f8feb906d465008a0ea45fb94782c3f90446a/contrib/kube-prometheus/assets/grafana/kubernetes-control-plane-status-dashboard.j

[2017-10-11 14:50] brancz commented on #686
Yes, you're right this happened due to some syncronization issues with internal extensions to these rules, I'll try to figure out how to solve this properly. Sorry about this, I'll try to make sure there is a smooth solution to this now and in the future.

[2017-10-11 19:05] xvzup commented on #677
Hi,

I would prefer the first solution. This looks good to me!

Thx

[2017-10-11 23:54] julianvmodesto opened #689 "Consider setting sample_limit to mitigate overload"
`sample_limit` is available in the scrape config as a means of mitigating Prometheus overload:

https://prometheus.io/docs/operating/storage/

This is limit that would be high enough to only hit during an emergency. See https://github.com/prometheus/prometheus/issues/2137 for reference.

Perhaps a reasonable value for this is `sample_limit: 1000` for scrape configs.

[2017-10-12 08:46] brancz commented on #689
I think this is a valid setting on a `ServiceMonitor` endpoint. kube-state-metrics easily exports thousands of metrics in a single scrape, so I'm not sure whether we should be posing any default on a user, but I'm happy to have it configurable

[2017-10-12 09:17] Madixin opened #690 "Where can I config image name in manifests"
**What did you do?**
I have used kube-prometheus in inner network that can not pull image from proxy.

**What did you expect to see?**
I have pushed all images which kube-prometheus used into our private registry ,and have renamed it to like myPrivateRegistryIP/quay.io/prometheus/xxx , and want to modify the deploy script to use the new image name.

**What did you see instead? Under which circumst

[2017-10-12 09:38] brancz commented on #690
The config-reloader images are configured using flags of the prometheus operator binary. They default to

* `--prometheus-config-reloader=quay.io/coreos/prometheus-config-reloader:v0.0.2`
* `--config-reloader-image=quay.io/coreos/configmap-reload:v0.0.1`

Additionally you can configure the default base images of Prometheus and Alertmanager containers with flags and through fields in the objects (w

[2017-10-12 12:44] #679 closed

[2017-10-12 12:44] brancz commented on #680
Closed by #685

[2017-10-12 12:44] #680 closed

[2017-10-12 14:06] brancz commented on #669
closing here as #675 is merged, thanks a lot for the contribution @julianvmodesto !

[2017-10-12 14:06] #669 closed

[2017-10-13 06:25] Madixin commented on #690
Thanks,I get it. It works.

[2017-10-13 06:25] #690 closed

[2017-10-13 12:06] wkjun commented on #618
Sorry for late replay:

one problem is kube-controller-manager's and kube-scheduler's label do not match witch default label  in `prometheus-operator/contrib/kube-prometheus/manifests/k8s`'s Service selector which Start witch ` k8s-app`  when My kube-controller-manager start witch `component`

Refer to  https://github.com/coreos/prometheus-operator/tree/master/contrib/kube-prometheus i fond one wa

[2017-10-13 12:21] brancz commented on #618
Would you like to create a `k8s/kubeadm/` directory next to the `self-hosted` directory, to add the manifests in kubeadm style? Happy to review a PR for this :slightly_smiling_face:

I'm curious though why you think the address binding and kubelet restart was necessary? I don't see those things to be connected.

[2017-10-13 19:26] dimm0 commented on #618
Trying to make this work too...
By default kube-controller and kube-scheduler are only allowing connections from localhost, by having:

    - --address=127.0.0.1

Any ideas how to avoid changing the default behavior?

[2017-10-13 21:05] klynch opened #692 "Outdated vendor packages causing import issues"
**What did you do?**

I am trying to import prometheus-operator into a project as a dependency using go dep.

[code]

**What did you expect to see?**

An imported library in my vendor path.

**What did you see instead? Under which circumstances?**

[code]

**Environment**

My current project already imports the master of `k8s.io/client-go` and related libraries. This is unfortunately at odds with

[2017-10-13 21:12] klynch commented on #692
I have a couple of options here...

1. I can change my code to match the client-go used by prometheus-operator. This is less than ideal since it will eventually mandate we all move forward in code versions.

2. We update prometheus-operator to use master client-go. I'm not sure what the implications here are with using those versions, but I am will to help out.

3. Some crazy use of go dep that I

[2017-10-14 17:45] tamalsaha opened #693 "Plans to upgrade to client-go 5.0.0"
We are trying to use Prometheus operator client from a project that used client-go 5.0.0. This causes build failures due to the k8s.io/api package. I am wondering what are the plans for migration to client-go 5.0.0 .

[2017-10-16 04:04] wkjun commented on #618
@brancz  i think, it is a  rough way to make modify work,i is was not necessary ,may use `kubectl apply -f` to do this.
@brancz  @dimm0  ,when i discuss  with my colleague ,he has the same question ，
Any ideas how to avoid changing the default behavior `- --address=127.0.0.1`?
i try to use NodePort in Service ,but not success

[2017-10-16 04:11] dimm0 commented on #618
NodePort still means the request can come from anywhere in the cluster... I was thinking about scheduling some container to run on the controller node and bound to the physical host's network, in that case it can call the localhost port.

[2017-10-16 07:59] brancz commented on #618
I see, yes the `--address=0.0.0.0` actually makes sense, and you restarted the kubelet to apply the changes. This actually sounds like the correct approach. The default value is something, that kubeadm would need to take care of, I would ask the maintainers of kubeadm directly.

[2017-10-16 08:04] brancz commented on #693
We definitely want to upgrade to client-go 5.0, just haven't gotten to it yet. If you want to, feel free to have a go at it :slightly_smiling_face: .

[2017-10-16 08:07] brancz commented on #692
We can't update to client-go master, but we are planning on updating to client-go 5 as soon as there is a release for it. Apart from that, you should be able to just vendor the client package, that package should not have any transitive dependencies on the remaining packages, and if it does, then we need to fix that.

[2017-10-16 09:24] tamalsaha commented on #693
Thanks @brancz ! I did try it and here is the commit from my fork. https://github.com/coreos/prometheus-operator/compare/master...tamalsaha:client-go-5?expand=1 . This complies but has some issues:

Here is a list of things I have changed:

1. Import paths:  I have done global replacement of the following imports
[code]

2. In client-go 5, `runtime.Object` has a new method called `DeepCopy()`. Thi

[2017-10-16 09:35] sebglon opened #695 "Propagate service monitored label"
**What did you do?**
my service have labels pfid.
My servicemonitor use label pfid on selector
But those label is not propagate on prometheus metrics

**What did you expect to see?**
i want to have access on all or select of labels available on service to prometheus metrics

[2017-10-16 09:39] brancz commented on #693
Thanks for the info! We should probably switch to go dep or glide anyways, and yes I've seen the `DeepCopy` bits before. I'll let you know when we get to upgrading. Can't promise when that will be though.

[2017-10-16 09:43] brancz commented on #695
While this is generally possible, you can also join all labels of a service onto metrics using the metrics available in kube-state-metrics

https://github.com/kubernetes/kube-state-metrics/blob/master/Documentation/service-metrics.md#service-metrics

Does that work for you?

[2017-10-16 10:00] sebglon commented on #695
Sorry.
when i am not clear.
I use mysql_exporter on a pod with label pfid
on my service monitor i have matchExpressions
[code]
But when metrics show metric `mysql_exporter_scrapes_total` on prometheus, fid` label used on selector is not available on metrics.
I have only basic label
`
mysql_exporter_scrapes_total{endpoint="mysqld-exporter",instance="10.0.2.12:9104",job="mysqld-exporter",namespace="

[2017-10-16 11:38] brancz commented on #695
Yes, the excerpt of the Prometheus config only says that a target with that meta label will be kept, not that it will have that target after relabeling. Relabeling is exactly the kind of black magic we want to keep out of the Prometheus Operator in terms of configurability.

What you are seeing is the mix of Prometheus labels and Kubernetes labels. While they can be used in a compatible manner, th

[2017-10-16 11:42] brancz commented on #98
I'll close this issue at this point as it used to be a "catch all" documentation issue, but most of the documentation is there and for anything else that comes up, feel free to open a new issue :slightly_smiling_face: .

[2017-10-16 11:42] #98 closed

[2017-10-16 11:43] brancz commented on #19
While Grafana deployments need some form of management, we have decided, that it is a non goal for the Prometheus Operator itself.

[2017-10-16 11:43] #19 closed

[2017-10-16 11:45] brancz commented on #115
While Grafana deployments need some form of management, we have decided, that it is a non goal for the Prometheus Operator itself. This could be implemented in an entirely new operator, if necessary at all. Possibly the grafana-watcher can do all the heavy lifting already without any need to write a full blown operator.

[2017-10-16 11:45] #115 closed

[2017-10-16 11:48] brancz commented on #443
@gianrubio you recently wrote a blog post and used the helm charts in it, right? Could you confirm that they are currently working when installed from the repository?

[2017-10-16 12:10] #12 closed

[2017-10-16 12:30] sebglon commented on #695
Yes i'm right with you. but how can i make to configure or request with Kubernetes labels? i have not found information or example.

[2017-10-16 12:36] brancz commented on #695
If you have kube-state-metrics running and are scraping its metrics, then you can join the `kube_service_labels` metric onto the `mysql_exporter_scrapes_total` metric.

[code]

[2017-10-16 12:42] brancz commented on #663
Unfortunately we can't help without enough information. I'll close this here, but feel free to re-open or open a new issue with more information and detail :slightly_smiling_face:!

[2017-10-16 12:42] #663 closed

[2017-10-16 13:25] brancz commented on #638
For a full monitoring setup checkout `contrib/kube-prometheus/`. The `bundle.yaml` is just meant for a quickstart to apply and try out things. Closing this here, but feel free to re-open or open a new issue if there is anything else :slightly_smiling_face:!

[2017-10-16 13:25] #638 closed

[2017-10-16 13:37] brancz commented on #501
I'm pretty such GOMAXPROCS is not the right tool to solve the problem. As this issue has gone pretty stale, I'd say we can re-discuss the actual problem at hand and see how we can solve it. Closing here, but feel free to re-open or continue the discussion.

[2017-10-16 13:37] #501 closed

[2017-10-16 13:41] brancz commented on #426
I'm happy to take suggestions on how to improve the automatic tuning of Prometheus storage parameters based on the memory request as well.

[2017-10-16 13:55] gianrubio commented on #443
@brancz yes I wrote the post on [medium](https://itnext.io/kubernetes-monitoring-with-prometheus-in-15-minutes-8e54d1de2e13) explainning how to use prometheus-operator. The charts are not working out of the box, as you can see in the post I'm using `sed` and  specific selector.
I'm waiting #676 to be merged to have a coreos helm chart, after that I'll work to fix all this issues.

Also related to

[2017-10-16 14:02] brancz commented on #443
Got it, thanks for the info! The chart repo is on our list, but as I mentioned in the PR I'd prefer to use the quay helm registry if possible, as I would like to avoid having to manage a raw s3 bucket.

[2017-10-16 14:25] OlivierBoucher commented on #644
@brancz Is there any roadmap/milestone we can follow for the next release? I'm just trying to have some sort of ETA on "soon"

Thanks :)

[2017-10-16 14:31] brancz commented on #644
We're actually just finishing up some work, and the next release will be out within the next few days.

[2017-10-17 06:02] tamalsaha commented on #693
https://blog.openshift.com/kubernetes-deep-dive-code-generation-customresources/ exists now.

[2017-10-17 20:44] byxorna commented on #644
I just bumped into this bug as well. As a side note: trying to reverse engineer where the `kube-system/kubelet` service and endpoint came from was a bit of a pain. I think it would be preferable to  bias towards explicit configuration (thats easily modifiable by an operator) over hidden magic; my kubelets were exposing cadvisor on a different port, and there was no clear way to reconfigure prom-op

[2017-10-18 15:57] gintautassulskus opened #699 "Can't apply a resource more than two times"
Hi,

I am not entirely sure if this issue is specific to pormetheus or kubernetes. Thought to leave it for you to judge.

**The issue**

`kubectl` throws an error when a `ServiceMonitor` resource is applied for the _third_ time. Might be the same with other custom resource definitions as well.

The following displays the result of an attempt to apply the contents of resources.yaml (defined later i

[2017-10-19 11:27] irishandyb opened #701 "Prometheus instance has no targets (syncing nodes into Endpoints object failed)"
**What did you do?**

I have deployed Prometheus operator to monitor my application, however the Prometheus instance is showing no targets listed.

Note that before deploying a Prometheus instance and Service Monitor for my app, I deployed kube prometheus by following the [KOPSonAWS docs](https://github.com/coreos/prometheus-operator/blob/master/contrib/kube-prometheus/docs/KOPSonAWS.md).
With thi

[2017-10-19 11:48] brancz commented on #701
Can you share the configuration that your Prometheus instance has loaded (you can find it in the Prometheus web UI)? Also the `Deployment` used to deploy the Prometheus Operator would be helpful as well.

[2017-10-19 12:12] brancz commented on #686
We've made the decision to open source core rules for Kubernetes clusters, so I will soon be synchronizing them back into this repository so they will be consistent with alerts and dashboards.

[2017-10-19 12:27] sebglon commented on #256
I have found a good exemple of config for blackbox / kubernetes
https://github.com/prometheus/blackbox_exporter/issues/113

Bit is it possible to add custom job config for specifi service monitor?
This can help all new exporter to inject there job definition.

[2017-10-19 13:23] brancz commented on #256
For the time being I would recommend to use a custom prometheus config to run the blackbox exporter. We'll eventually have to figure out a meaningful abstraction to use it, but we're not there yet.

[2017-10-19 13:35] sebglon commented on #256
Yes but is it possible to use custom promethues config with prometheus-operator?

[2017-10-19 15:03] irishandyb commented on #701
Hi @brancz

The Prometheus instance configuration is:

[code]

It seems quite empty, I am guessing it is a default.

The `Deployment` for the Prometheus Operator is the one from `kube-prometheus`. [Linked here](https://github.com/coreos/prometheus-operator/blob/master/contrib/kube-prometheus/manifests/prometheus-operator/prometheus-operator.yaml)

Although, I note that you have recently updated th

[2017-10-19 15:40] brancz commented on #256
Yes we have a documentation page on this: https://github.com/coreos/prometheus-operator/blob/master/Documentation/custom-configuration.md

[2017-10-19 16:00] atopuzov commented on #644
Thanks for the release! 👍  my kublet endpoint looks OK now.

[2017-10-19 22:57] valentin2105 opened #703 "Change the k8s URL for IPv6 uses"
**What did you do?**

I try to change the k8s API Url for the helm/prometheus chart, but It's always go to 10.32.0.1.

How can I inject `KUBERNETES_SERVICE_HOST` to the `kind: Prometheus` resource but It doesn't work.

My cluster use only IPv6 so the default 10.32.0.1 is, for sure, unreachable.

* Kubernetes version information:

v1.8.1, Calico, IPv6 only, Debian 9, Prometheus-Operator charts 0.0.

[2017-10-20 06:14] brancz commented on #644
Thanks for the feedback! Happy it did the trick! Closing here.

[2017-10-20 06:14] #644 closed

[2017-10-20 06:21] brancz commented on #703
The charts are quite work in progress I recommend using them off of this repo. Prometheus simply discovers the apiserver IP(s) from the Endpoints objects provided by Kubernetes, which is in the default namespace. I don’t think this is an issue with the Prometheus Operator. Can you have the output of:

kubectl get endpoints kubernetes -oyaml

[2017-10-20 06:42] brancz commented on #701
The fact that your configuration is nothing but the default, this means the `ServiceMonitor` was either not correctly selected or is malformed. Can you double check that your `ServiceMonitor` is correctly indented (also no tabs instead of spaces etc.)?

[2017-10-20 07:09] sebglon commented on #256
Have you an example o using it?

[2017-10-20 07:16] irishandyb commented on #701
This is the service monitor definition that I am using:

[code]

I based it on (or copied it from) the [example definitions for kube-prom](https://github.com/coreos/prometheus-operator/blob/master/contrib/kube-prometheus/manifests/examples/example-app/servicemonitor-frontend.yaml). Also comparing it to the `prometheus-k8s` definitions for kube-prob ([here](https://github.com/coreos/prometheus-oper

[2017-10-20 07:56] brancz commented on #701
The kube-prometheus Prometheus instance is highly adapted to _only_ monitor cluster components. It only has RBAC access to the namespaces it needs to: default, monitoring, and kube-system. If you look at your Prometheus logs, this will probably tell you that you don't have access to request something from the apiserver.

[2017-10-20 07:58] brancz commented on #256
I'm not sure I understand the question. The `Prometheus` object just must not have a `serviceMonitorSelector` field and you have to provide a `Secret` named `prometheus-<name>` that has a `prometheus.yaml`. The config is just like any other Prometheus configuration file.

[2017-10-20 08:03] irishandyb commented on #701
I am deploying a separate Prometheus instance to monitor my sampleapp.

[code]
and then a ServiceMonitor to tie my app to this Prometheus instance:
[code]

Do you see any reason why this would not work? There must be something wrong with these manifests because the prometheus instance in the sampleapp namespace does not get configured with the service monitor.

[2017-10-20 09:46] brancz commented on #701
Yes I agree. Can you check the logs of the Prometheus server? It might show if there are permission problems or malformed configuration or something like that.

[2017-10-20 14:02] wleese commented on #695
I have the same issue.

We have labels we want to propagate from kubernetes into prometheus. The above solution on a random metric resulted in:

{code}
Error executing query: many-to-many matching not allowed: matching labels must be unique on one side
{code}

But whatever the case, we don't want to always have to write a query that's 3 times longer than it should be, just because we're running pr

[2017-10-20 14:12] brancz commented on #695
We're aiming to make the majority of common cases very easy with great experience, there will always be a case that's not very well supported, at that point we want to make sure you can achieve what you want, but can't always make it easy. If you disagree with how the Prometheus Operator generates a configuration off of `ServiceMontior` objects, then you can still opt for a [custom configuration](

[2017-10-20 14:24] wleese commented on #695
I respect your desire to limit the scope of your application.
Of course, I disagree with:

..which implies that my and @sebglon 's case is not common ;)
All I need is an on/off switch for kubernetes label propagation for servicemonitors. Going the custom config route is not an option for me (very self service orientated org).

[2017-10-20 22:56] tamalsaha commented on #693
FYI, [client-g0 5.0.0](https://github.com/kubernetes/client-go/releases/tag/v5.0.0) has been released.

[2017-10-22 09:53] irishandyb commented on #701
I just got around to testing again today. Looks like I made a mistake on the above regarding the Prometheus configuration. It takes some time for the prometheus-config-reloader to push the config after the service monitor is created. Previously I had checked right away and not waited. Today, I see the following under the Prometheus configuration tab:

[code]

There are no errors in the prometheus

[2017-10-22 15:55] tamalsaha commented on #693
Here is how I am using code-generator for Voyger repo;

https://github.com/appscode/voyager/blob/master/hack/codegen.sh

I am using a Docker image to pre-build code-generators:
https://github.com/appscode/gengo-builder/blob/release-1.8/gengo/Dockerfile

[2017-10-22 20:48] brancz commented on #693
Perfect! Thanks for sharing! I’ll be at open source summit EU all week, but should be able to get to it the week after.

[2017-10-22 22:01] valentin2105 commented on #703
Hi @brancz ,
My Endpoint is correctly the Kube-APIserver IPv6, but Prometheus use the service instead,

How to change that ?

[code]

[2017-10-23 06:55] brancz commented on #703
I see, yes this is actually in upstream Prometheus, not the Prometheus Operator. I would recommend opening an issue there so that the other maintainers also have visibility of this issue.

Nonetheless, I think I've already discovered the problem. Client-go seems to default to that IP, but there is a comment, that it _should_ default to the cluster DNS. This is probably what we should do here, fix

[2017-10-23 16:22] yskopets commented on #695
@brancz If we implement such a feature on our own, will you consider accepting a pull request?

[2017-10-23 22:18] valentin2105 commented on #703
Thanks for your answer.
Do you know if it's possible to give the ENV `KUBERNETES_SERVICE_HOST` to the pod created by the `kind: Prometheus` yml file ?  I have try the `env:` key but it doesn't work..
(It work for deployment, rc, pod ...)

[2017-10-24 01:27] nghialv commented on #644
Hi @brancz
Can you make a new release for `v0.11.2` with this fix?
We are using `v0.11.2` on Kubernetes `v1.6.7`.

[2017-10-24 06:16] brancz commented on #644
I’m currently at ossummit eu, I won’t get to it anytime this week, please open an issue so I’ll remember to backport the fix.

[2017-10-24 11:18] mikebryant commented on #606
@brancz I think this issue can be closed? - the feature was merged in #628

[2017-10-24 11:23] brancz commented on #606
You're absolutely right @mikebryant ! Thanks for the ping!

[2017-10-24 11:23] #606 closed

[2017-10-25 14:17] jonaz commented on #382
I would really really like a whitelisting which is configurable in the ServiceMonitor object. For example i might want the team and version label propagated from kubernetes to prometheus.

[2017-10-25 14:21] yamihalovna opened #708 "Permission denied when using prometheus-operator on minikube"
**What did you do?**
I ran the latest version of prometheus-operator in minikube.
**What did you expect to see?**
Prometheus working

**What did you see instead? Under which circumstances?**
 Prometheus pod fails with
[code]
**Environment**
minikube installed on MacOS

* Kubernetes version information:

Client Version: version.Info{Major:"1", Minor:"7", GitVersion:"v1.7.1", GitCommit:"1dc5c66f5dd6

[2017-10-25 14:24] #708 closed

[2017-10-25 14:38] brancz commented on #382
I think relabeling the `ServiceMonitor` labels onto the targets is reasonable. Happy to review PRs.

[2017-10-25 14:40] brancz commented on #708
Which version of the Prometheus operator are you running?

[2017-10-25 14:41] brancz commented on #708
Oh I just noticed you closed the issue, can you share what solved the problem?

[2017-10-25 15:09] yamihalovna commented on #708
@brancz The version is `0.14.0 / 2017-10-19` and the problem is still relevant but on further discussion with teammates I think it's more `minikube` bug then `prometheus-operator`

[2017-10-25 18:02] moos3 commented on #498
I'm still having this issue with the latest checkout of this project.

[2017-10-25 20:40] brancz commented on #498
The charts are still in a somewhat shaky state. We’re happy about contributions. Also @gianrubio recently wrote a great article on them. https://itnext.io/kubernetes-monitoring-with-prometheus-in-15-minutes-8e54d1de2e13

Feel free to open a PR on anything what would help to make them work out of the box!

[2017-10-26 06:09] nghialv opened #710 "Make a release for v0.11.2 to fix #644"
Hi

Please make a new release for `v0.11.2` to fix #644.

Can you make a new release for v0.11.2 with this fix?
We are using v0.11.2 on Kubernetes v1.6.7.

[2017-10-26 06:18] jonaz commented on #382
In our case that would mean one ServiceMonitor per team which is not scalable :(

[2017-10-26 07:13] brancz commented on #382
So you want the label from a Kubernetes Service to be propagated @jonaz ? That's another concern, than what was proposed in this issue.

[2017-10-26 07:54] jonaz commented on #382
Yes, and yes i know. But i thought having the discussion here was relevant. I can open a new issue if you like.

[2017-10-26 08:40] brancz commented on #382
I believe what you are looking for is described in https://github.com/coreos/prometheus-operator/issues/695, given that there seems to be a lot of interest, we may have to rethink the strategy for this.

[2017-10-26 09:00] brancz commented on #695
Considering there seems to be a lot of interest in this, I would like to discuss the design for this to ensure that we're happy with the result. Options that we could do:

* Relabel all labels of a service onto targets
  * With an additional prefix for these labels would mean potential usability concerns, omitting a prefix would allow for possible collisions. We could formally describe the order o

[2017-10-26 09:06] wleese commented on #695
Of the two, whitelisting labels would empower the user the most. Any concerns about keeping your whitelist of labels in sync with changes to the service labels, would be a concern of the deployment tooling.

Personally, I'd like to be able to add custom relabeling configuration to a job. This way you'd gain more flexibility (I'd like to rename labels for example).

[2017-10-26 09:13] jonaz commented on #695
Here is an example joining the team label:

[code]

Original query looks like this:
[code]

The original query takes 1500ms to run on on 1h data
The joining takes more than double that time to run.

So it might be a performance enhancement to allow putting labels on the jobs

I would ideally have a whitelisting on the ServiceMonitor object. Both for pod and service.

[2017-10-26 09:54] Yangsheng93 opened #711 "helm install grafana erro"
Tips:
[root@k8s-master01 ~]# helm install opsgoodness/grafana
Error: file "opsgoodness/grafana" not found

[2017-10-26 12:38] brancz commented on #695
The performance of a query is something that can easily be fixed with recording rules, but I think it's still fair to relabel white-listed labels onto targets. The next question would be, how do we want this to look like usability wise. I would propose a list of label-names as a field of the `ServiceMonitor` object.

For example:

[code]

This part would be the new part:

[code]

This would cause

[2017-10-26 12:46] brancz commented on #711
Yes currently we ask people to install the charts by checking out the repository and then installing the chart from the respective directory. Related to #676.

[2017-10-26 13:23] ghostflame commented on #633
Is it meant to be adding in a kubelet/4194 target by default?

We have:  k8s 1.7.7 built with bootkube
prometheus-operator 0.14.0 (not meddled with the versions, to prometheus 2.0.0-rc1)

We, as the original poster described, get kubelet metrics but no cadvisor metrics.  Checking prometheus' targets, its scraping <nodes>:10250 as per normal.

I don't really mind whether it would get cadvisor metri

[2017-10-26 13:31] jonaz commented on #695
That would be a perfect solution from my perspective.

I dont know if anyone needs pods and service labels separated. If so there might be a need for two lists, perhaps targetPodLabels and targetServiceLabels. I would prefer just taking service and pods labels, with pods having priority.

I agree with keeping the ```label_``` prefix consistent with kube-state-metrics

[2017-10-26 14:29] #711 closed

[2017-10-26 14:38] brancz commented on #633
Can you explain more what you think is not working today? I’m saying this because I think all combinations are possible today, but possibly not well enough documented.

If one wants to use the 4194/metrics endpoint then that’s already reflected in the kube-prometheus manifests.

If one wants to use the 10250/metrics/cadvisor metrics then one has to modify the servicemonitor endpoint provided in ku

[2017-10-26 15:18] lorenzo-biava commented on #633
@ghostflame To use the `10250/metrics/cadvisor` endpoint, it should be enough to edit the `kube-prometheus/manifests/prometheus/prometheus-k8s-service-monitor-kubelet.yaml` manifest the way I reported it in the issue description:

change
[code]

to
[code]

and redeploy.

Hope this helps...

[2017-10-26 19:42] yskopets commented on #695
@brancz As a user, I’d like to:
- be able to propagate labels from both `service` and `pod` (on my choice)
- be able to select labels for propagation using regular expressions, e.g. `org_.*` or `example\.org/.*`
- be able to rename labels during propagation, e.g. `example.org/feature: true` => `org_feature: true`
- be able to override default prefix (`label_`), if any
- not to worry about accident

[2017-10-27 11:08] mindw commented on #343
A naive question -  isn't `apiserver_request_latencies_bucket`a counter? if so shouldn't it
be `sum(rate(apiserver_request_latencies_bucket{verb!~"CONNECT|WATCHLIST|WATCH"})) ...`?

BTW 👍 on excluding list. seeing this on production cluster with 300 pods for `get pods`.

[2017-10-27 12:33] brancz commented on #343
The multiple bucket counters (and a bit more) make up a histogram, which describes the latency distribution as raw data, and then quantiles are calculated at query time.

[2017-10-27 13:48] brancz commented on #710
Closed by #713

[2017-10-27 13:48] #710 closed

[2017-10-27 15:23] primeroz commented on #644
Was there a release for v0.13.0 ?

I _think_ i am hitting this issue

`ts=2017-10-27T15:16:41Z caller=operator.go:306 component=prometheusoperator msg="syncing nodes into Endpoints object failed" err="synchronizing kubelet endpoints object failed: updating kubelet endpoints object failed: Endpoints \"kubelet\" is invalid: [subsets[0].addresses[0].nodeName: Forbidden: Cannot change NodeName for 10.

[2017-10-27 15:29] brancz commented on #644
The fix landed in the `v0.14.0` release. Sorry for missing it in the release notes.

[2017-10-27 16:21] primeroz commented on #644
@brancz  Got it

Can i upgrade to v0.14.0 but keep the prometheus and alertmanager at their current versions ? I don't want to go from 1.7.1 to 2.0 right now but still would like this fix.

I tried an hacky update on one of my test cluster by editing the `deployment/prometheus-operator` and update the prometheus-operator image to 0.14.0 but ended up with an error in trying to update the prometheus

[2017-10-27 17:10] brancz commented on #644
If your Prometheus object has the version pinned, then it's no problem to just upgrade the Prometheus Operator version. The Prometheus Operator supports all versions of Prometheus as described in https://github.com/coreos/prometheus-operator/blob/master/Documentation/compatibility.md#prometheus .

[2017-10-28 13:47] shadycuz opened #716 "kube-prometheus - Grafana Password Secret can only be admin"
**What did you do?**
Changed password for grafana
**What did you expect to see?**
I expected to login, but I could only login if I made the password admin
**What did you see instead? Under which circumstances?**

**Environment**
Cloud
* Kubernetes version information:

1.8.1

* Kubernetes cluster kind:

KubeSpray

* Manifests:

[code]

* Prometheus Operator Logs:
Dont even know what this is ^
[cod

[2017-10-29 06:33] irishandyb commented on #701
Got some more time today to play around with this. Solved the problem, my Service was missing the label that the Service Monitor was tied to.
[code]

I just had to update the service to include the label:

[code]

As hinted in my original post, I always suspected user error was the cause - however, I am embarrassed that it took me that long to notice the missing label.

Either way, all happy now,

[2017-10-29 06:33] #701 closed

[2017-10-30 03:05] Yangsheng93 opened #717 "Using helm to install Prometheus tooltip errors"
[root@k8s-master01 prometheus-operator]# helm install --name kube-prometheus --namespace=monitoring helm/kube-prometheus
Error: found in requirements.yaml, but missing in charts/ directory: alertmanager, prometheus
[root@k8s-master01 prometheus-operator]# pwd
/root/prometheus-operator
[root@k8s-master01 prometheus-operator]# ls helm/
alertmanager  grafana  kube-prometheus  prometheus  prometheus-o

[2017-10-30 10:16] brancz commented on #699
Very odd. Yes this seems to be a problem with Kubernetes, thanks for reporting, we will investigate.

[2017-10-30 12:17] primeroz commented on #644
I tried again to just change the prometheus operator version to 0.14.0 while leaving my prometheus and Alertmanager CDR untouched
I do specify the version (1.7.1) since i am basically running the v0.13.0 version of both those CDR

I get the following error though , not sure what field is trying to update. I ll see if i can find out

ts=2017-10-30T12:15:00Z caller=operator.go:670 component=promethe

[2017-10-30 23:41] bamb00 opened #720 "AlertManager Liveness & Readiness probe failed: ... getsockopt: connection refused"
**What did you do?**
Deploy prometheus-operator 0.14.0 to Kubernetes and alertmanager (statefulsets) has the liveness & readiness getsockopt: connection refused.  I had to reboot the VM and the alertmanager works again.

**What did you expect to see?**
alertmanager-main pod does not failed
**What did you see instead? Under which circumstances?**
Liveness and Readiness probe failed: Get http://10.3

[2017-10-31 13:39] kaarthikeyan1987 commented on #87
I am getting below error while trying to implement kubectl create -f https://coreos.com/operators/prometheus/latest/prometheus-k8s.yaml

Error from server (BadRequest): error when creating "https://coreos.com/operators/prometheus/latest/prometheus-k8s.yaml": the API version in the data (monitoring.coreos.com/v1alpha1) does not match the expected API version (monitoring.coreos.com/v1)

Error from s

[2017-11-01 00:44] dimm0 commented on #135
Is there a working solution yet? The ones listed seems to be too complex.

[2017-11-01 09:00] brancz commented on #135
@dimm0 what are you trying to accomplish? PromQL is very powerful and can probably do everything you need it to do, I'm happy to help. Not sure what's too complex about a single line query.

[2017-11-01 09:02] brancz commented on #87
@kaarthikeyan1987 the blog post is outdated, as noted in the header

Please try out the getting started in the docs, that is kept up to date. If that doesn't work, we need to fix it.

[2017-11-01 14:43] dimm0 commented on #135
Hi! I'd like to have the hostname instead of IP and port in the dropdown field in standard Nodes dashboard (and some others I've added). I already could change the template field to show hostnames based on previous examples, but now I have to rewrite all queries in all panels in this dashboard. I can't yet figure out ho to change the $server field in queries like: `100 - (avg by (cpu) (irate(node_

[2017-11-01 14:59] brancz commented on #135
We've been trying to hide relabeling for as long as we could :slightly_smiling_face:, but it seems that a lot of people actually do end up needing it, so I am considering adding an `extraRelabelingRules` field to the `ServiceMonitor` object, but have to think the design through a bit. This will still have its limitations at some point though, which is why I'm hesitant to draw the line here. In thi

[2017-11-01 16:57] brancz commented on #716
How did you generate the base64 encoded string for this? You need to make sure to not have a line break in there.

The command we use to generate it is:

[code]

[2017-11-01 16:58] shadycuz commented on #716
Hmmm let me give that a shot, most likely my issue.

On Nov 1, 2017 12:57 PM, "Frederic Branczyk" <notifications@github.com>
wrote:

[2017-11-01 17:19] dimm0 commented on #135
Yep, I think that's the best option. Thanks!

[2017-11-01 22:47] shadycuz commented on #716
@brancz We shall never talk about this again...

So I do have one last question. I read the grafana watcher README and I'm still not sure what it does. It watches the configmap for changes to the dashboards and reloads them into grafana? Or when you change a dashboard in grafana it saves it to the configmap for persistence?

Great work on this by the way. Super easy to get great monitoring out of

[2017-11-02 02:00] dimm0 commented on #618
Still not working for 1.8.0... Default behavior is allowing connections from localhost.

[2017-11-02 09:09] brancz commented on #716
No worries, it took me some time to figure it out on the first try as well when I was just seeing base64 encoded strings it's hard to catch a line-break :slightly_smiling_face: .

The grafana-watcher actually has nothing to do with Kubernetes, it just plays well into the way Kubernetes does things. The grafana-watcher just watches files and directories for changes and provisions the Grafana instan

[2017-11-02 09:11] brancz commented on #618
You can feel free to open an issue on kubernetes/kubernetes to change this, but I'm uncertain whether that will happen. Alternatively I'm open to having docs on how to get this working with kubeadm. Does that sound good?

[2017-11-02 10:13] cofyc opened #723 "Chart at opsgoodness/prometheus-operator:0.0.6 is out of sync"
**What did you do?**

Install prometheus-operator v0.14.1 with opsgoodness/prometheus-operator:0.0.6 chart.

**What did you expect to see?**

Everything should be ok.

This commit https://github.com/coreos/prometheus-operator/commit/3ea7085ae076d1c32b9436fba5ee66beeb97b322#diff-f968b7bf1e41336c32aa557114213c78 update charts templates but did not update chart version.

Release a new chart version 0

[2017-11-02 10:17] brancz commented on #723
We're currently looking to have a new home for the charts, related to #676

[2017-11-02 13:54] shadycuz commented on #716
@brancz
Kube-prometheus has grafana-watcher set to look at a configmap, but I thought that was static, a 1 time mapping when the pod is created? So if you did update the config map you would still have to kill that pod to get grafana-watcher to update grafana?

[2017-11-02 14:03] brancz commented on #716
The grafana-watcher actually watches file-system events, because when a ConfigMap gets updated, it gets re-mounted into a Pod, triggering the file-system events, which makes grafana-watcher re-provision the "local" Grafana instance.

[2017-11-02 14:05] brancz commented on #716
This makes updating Grafana dashboards very easy, as a CI pipeline just applies the ConfigMap with dashboards, and the grafana-watcher ensures the Grafana instance ends up in the correct state, without having to worry about the existing state currently present in the Grafana instance.

[2017-11-02 14:09] shadycuz commented on #716
@brancz Ahhh I didn't know that config map values got reloaded live into pods. Neat =). Thanks for being so helpful.

I did change some metrics in the included dashboards to be more "fitting"  and my api response time and scheduler charts didn't work at all with kubernetes 1.8.1 one. Should I submit a PR?

[2017-11-02 14:17] shadycuz commented on #716
@brancz
# Before
![image](https://user-images.githubusercontent.com/17090999/32330550-d29670f8-bfb6-11e7-9a83-fa5bd88c7b31.png)
# After
![image](https://user-images.githubusercontent.com/17090999/32330601-fa03235c-bfb6-11e7-8479-fede42b15d16.png)

Couple things like that ^

[2017-11-02 14:53] kubebc opened #724 "[FIRING:1] K8SApiserverDown (critical)"
on our two Tectonic 1.7.5 stacks on AWS, I get "[FIRING:1] K8SApiserverDown (critical)" everyday. But our micro-services are running fine.

Any idea what's the reason for that? If there're false alarms, can I just turn off the warning? Thanks!

fyi,
1 alert for alertname=K8SApiserverDown
[1] Firing
Labels
alertname = K8SApiserverDown
severity = critical
Annotations
description = No API servers are

[2017-11-02 15:34] brancz commented on #724
This is unfortunately a problem with HA Kubernetes apiserver implementation itself. The way Prometheus discovers targets in Kubernetes is through `Endpoints` objects. When there are multiple highly available apiservers, they keep overwriting each other causing Prometheus to not be able to scrape the apiservers. This has been fixed upstream, however, will only land in the 1.9 release. For the time

[2017-11-02 15:34] brancz commented on #716
Generally yes, all contributions are welcome :slightly_smiling_face:, the exact queries we'll have to review to ensure that they are still appropriate.

[2017-11-02 17:15] kubebc commented on #724
Thanks a lot! brancz :)
I'm new to prometheus-operator, how to silence this series of alerts once for all? or do you prefer to recommend us to silence each alerts day by day?

[2017-11-02 19:05] skuda opened #725 "kubernetes_io_hostname missing in metrics"
**What did you do?**
Tried to install this grafana dashboard https://grafana.com/dashboards/315

**What did you expect to see?**
Dashboard working.

**What did you see instead? Under which circumstances?**
Graphs are showing "no data points"

**Environment**
Using kube-prometheus with v0.14.1 prometheus-operator release.

* Kubernetes version information:
Client Version: version.Info{Major:"1", Mi

[2017-11-03 08:42] brancz commented on #725
The metrics on cAdvisor have no stability guarantees unfortunately, so these may have changed. We'll have to investigate.

[2017-11-03 09:17] brancz commented on #724
The Tectonic Console has a link to the Alertmanager UI under the "Troubleshooting" tab. The link is called "Prometheus Alerts". You may need to login a second time. Then you click on "New Silence" in the top right corner. Then you create the matcher to be `alertname = K8SApiserverDown`, then you should not be alerted about this issue anymore. I would recommend silencing it until you have upgraded

[2017-11-05 00:39] ejwood79 opened #726 "Question about target discovery"
['logs-from-prometheus-in-prometheus-prometheus-0.txt'](https://github.com/coreos/prometheus-operator/files/1443672/logs-from-prometheus-in-prometheus-prometheus-0.txt)
['logs-from-prometheus-operator-in-prometheus-operator-77859cfbf8-jmxgx.txt'](https://github.com/coreos/prometheus-operator/files/1443673/logs-from-prometheus-operator-in-prometheus-operator-77859cfbf8-jmxgx.txt)

**What did you do

[2017-11-06 09:32] brancz commented on #726
Can you post the configuration loaded by Prometheus? You can find it in `/config` of the Prometheus UI.

[2017-11-06 11:46] wleese opened #729 "Allow jobconfig to be dynamically configured by Service labels"
While the concept that everyone creates ServiceMonitors to get their endpoints scraped is great, it would also be nice to have a small amount of ServiceMonitors, with more flexibility.

We'd like to have labels on the k8s Service actually be used to determine the metrics_path and port(name). This would allow a minimal of ServiceMonitors with only a small amount of configuration being static.

[cod

[2017-11-06 12:33] brancz commented on #729
This seems reasonable to me, happy to accept a PR for this, only nit would be that I'd prefer `pathLabel` and `targetPortLabel`. Also we would need to document the behavior that we expect and/or whether these would work mutually exclusive to the existing selection mechanism.

[2017-11-06 15:03] SleepyBrett commented on #597
Why not verify the rules with promtool before calling reload. At least that way you can say which rule is failing?

[2017-11-06 15:17] keithf4 commented on #677
I'm seeing something similar, but doesn't seem to be caused by duplication of the mount point. It's just flat out calculating the size wrong when summarizing to larger unit scales. Using prometheus as the data source, it is returning the correct values.

[code]
[code]
`df` returns values in kilobytes and I checked the conversion values to bytes in prometheus and they match
[code]

[2017-11-06 15:29] ejwood79 commented on #726
Here you go!

[code]

[2017-11-06 15:36] SleepyBrett opened #730 "RuleSelector seems to not work as advertised."
**What did you do?**

I have the following in my prometheus spec:

    ruleSelector:
      matchLabels:
        role: "prometheus-rulefiles"
        shared-prometheus: "true"

**What did you expect to see?**

When I inspect /etc/prometheus/rules/rule-* folders in the config reloader container I expect to see files from configmaps only with the above labels.

**What did you see instead? Under which

[2017-11-06 16:18] brancz commented on #726
This doesn’t seem to be the Prometheus instance created off of the Prometheus object manifest you shared in the initial post. This looks like the config of the kube-prometheus instance used for cluster monitoring.

[2017-11-06 16:21] ejwood79 commented on #726
Maybe that's a misunderstanding on my part - I assumed that there would be a single prometheus UI that would aggregate all of the serviceMonitors in the cluster.

[2017-11-06 16:24] brancz commented on #677
Both seems to be applicable. The initial issue was for averaging all utilization, but what you report also sounds reasonable for single file systems as well.

[2017-11-06 17:18] brancz commented on #726
The UI will only show the targets of the ServiceMonitors you have selected. Which ones you select depend on the definition of your Prometheus object.

[2017-11-06 18:17] keithf4 commented on #677
Shouldn't need to make a custom rule to get a correct unit scale adjustment, though. Something seems wrong in grafana's internal calculation.

[2017-11-06 18:32] keithf4 commented on #677
Perhaps this is the related bug  https://github.com/grafana/grafana/issues/8957

[2017-11-06 19:31] #716 closed

[2017-11-06 19:45] ejwood79 commented on #726
Makes sense. Is there somewhere in the documentation that shows how to define this?

[2017-11-06 21:27] shadycuz opened #731 "Unable to add a new service to be monitored with kube-prometheus"
**What did you do?**
Created a new servicemonitor

[code]
**What did you expect to see?**
I expected to see it appear in the prometheus dashboard under targets
**What did you see instead? Under which circumstances?**
Nothing changed
**Environment**

* Kubernetes version information:
1.8.1

* Kubernetes cluster kind:
kubespray

* Manifests:

[code]

* Prometheus Operator Logs:

[code]

after seeing

[2017-11-06 22:14] shadycuz commented on #731
Okay... so I found this https://coreos.com/blog/the-prometheus-operator.html which says I need to tell the operator what servicemonitors I want to be embedded into my config. It has...
[code]

then when I check the kube-prometheus files the default prometheus has...

[code]

So how do I include my new servicemonitor? I was going to try
[code]

but idk if thats right, cant find any documentation fo

[2017-11-06 22:19] shadycuz commented on #731
Hmm that failed
[code]
[code]

[2017-11-06 22:31] shadycuz commented on #731
So this caused a bunch of updates in prometheus-operator but now I have 0 targets

[code]

[2017-11-06 22:36] shadycuz commented on #731
Tried this
[code]

still not targets, does serviceMonitorSelector take a list or something?

[2017-11-06 23:15] shadycuz commented on #731
Finally gave in and labeled my servicemonitor as k8s-app that didn't work either, but at least it's in the config now...

[code]

I noticed the namespace says `  - monitoring` so I changed my servicemonitor to ...

[code]
as per the docs.... and that doesn't work either.
[code]

[2017-11-07 08:25] brancz commented on #726
I'm not sure I understand what you mean by _this_. We have API documentation on the [`PrometheusSpec`](https://github.com/coreos/prometheus-operator/blob/master/Documentation/api.md#prometheusspec) and documentation on [how to expose/access a UI](https://github.com/coreos/prometheus-operator/blob/master/Documentation/user-guides/exposing-prometheus-and-alertmanager.md).

[2017-11-07 08:27] brancz commented on #677
@keithf4 yes, what I was saying is that I believe what you are suggesting is correct, the Grafana behavior seems to be wrong. In addition to that the average calculation over all filesystems by us is also off.

[2017-11-07 08:34] brancz commented on #720
This doesn't sound like a problem with the Prometheus Operator.

[2017-11-07 08:42] brancz commented on #731
`ServiceMonitor` objects _must_ be in the same namespace as the `Prometheus` object. The fact that your `ServiceMonitor` now shows up in the config is a good thing. That means it was selected and parsed by the Prometheus Operator. The `namespaceSelector` is in regard to the `Service` objects, that a `ServiceMonitor` selects. Basically the point you are at is: your Prometheus instance is running, y

[2017-11-07 09:15] embano1 commented on #501
Have a look at this thread from Monzo: https://github.com/golang/go/issues/19378
Interesting read on related matter (CPU quota).

An easy approach for this discussion here would be to use ResourceFieldRef based on limits.cpu in the manifest (https://kubernetes.io/docs/tasks/inject-data-application/environment-variable-expose-pod-information/#use-container-fields-as-values-for-environment-variables

[2017-11-07 11:01] kubebc opened #732 "How to make -storage.local.retention=24h longer"
Hi, Team,

1.  I've tried to update "retention" from 24h to 8760h below, but both failed. Any tips? Thanks!

$ kubectl edit statefulsets -n tectonic-system prometheus-k8s
[code]

Edited this file from console.
[code]

2.  Are my storage config right?
[code]

[2017-11-07 11:32] brancz commented on #732
The Tectonic Prometheus instance intentionally does not offer persistent storage today, as we're about to migrate it to Prometheus 2.0. Regarding the retention, there is a `ConfigMap` called `tectonic-monitoring` in the `tectonic-system` namespace, within it you can configure selected things for the Tectonic Monitoring stack. We need this in order to be able to control the customization so we can

[2017-11-07 12:13] sokyrko commented on #717
I have some trouble.

[2017-11-07 12:43] shadycuz commented on #731
Yeah once I got it in the config I was on the right track. I'm going to leave this open and write some docs from a fresh point of view.

[2017-11-07 13:07] brancz commented on #731
Awesome!

[2017-11-07 13:08] brancz commented on #717
There are some known issues with the helm charts, I recommend reading through this article: https://itnext.io/kubernetes-monitoring-with-prometheus-in-15-minutes-8e54d1de2e13

[2017-11-07 18:06] kubebc commented on #732
Amazing!
1. I've set "retention: 8760h" following your guide.
[code]
2. prometheus-k8s-db cannot survive after pod restating, what's your recommendation to backup and recover prometheus-k8s-db? Thanks!
[code]
Fyi, I used to copy data files out from prometheus container as a backup, and then copy back in as recovery. But those data are unrecognizable at last.
[code]

[2017-11-07 20:04] rocketraman commented on #135
@brancz Since this issue is closed, is there somewhere else we can follow for updates on the recording rules and dashboards?

[2017-11-07 20:09] yoniranjan commented on #699
We're having the same issue. If applied for two or three times, the following errors surface up:

The Alertmanager "main" is invalid: apiVersion: Invalid value: "monitoring.coreos.com/__internal": must be monitoring.coreos.com/v1
The ServiceMonitor "alertmanager" is invalid: apiVersion: Invalid value: "monitoring.coreos.com/__internal": must be monitoring.coreos.com/v1
The ServiceMonitor "kube-api

[2017-11-07 20:35] bamb00 commented on #720
Actually, rebooting the VM does not help resolve the CrashLoopBack error to the alertmanager statefulsets.  But it would be helpful to pinpoint what's causing the network issue between alertmanager and prometheus.

[2017-11-07 20:43] #720 closed

[2017-11-08 02:34] ejwood79 commented on #726
That's what I'm looking for that - the docs on how to expose the UI. Thank you!

[2017-11-08 08:22] brancz commented on #726
Let me know how it goes, and whether you are able to solve the issue reported :slightly_smiling_face: .

[2017-11-08 08:23] brancz commented on #135
@rocketraman that sounds good to me. It'll allow me to track that better, thanks for suggesting!

[2017-11-08 10:53] kubebc commented on #732
Can I add permanent storage the same way as "retention" at here?

$ kubectl edit cm -n tectonic-system tectonic-monitoring
[code]

[2017-11-08 11:40] brancz commented on #732
Persistent storage for the prometheus-k8s instance is intentionally not configurable today, as we're about to migrate to Prometheus 2.0, which has a completely new storage format, and data migrations are close to impossible. Therefore we decided to only start allowing to configure persistent storage once we roll out Prometheus 2.0. I understand this is not ideal, but Prometheus 2.0 stable was rele

[2017-11-08 11:49] Morriz commented on #725
That dash works fine with me, I expect some of the exporters not to work correctly.

[2017-11-08 12:17] skuda commented on #725
Hey @Morriz, I am using kube-prometheus directly, not helm based installation, maybe the problem is related?

I don't see the label kubernetes_io_hostname in any of the metrics used in that dashboard so it's impossible in my setup for those charts to work.

[2017-11-08 12:21] stuart-warren opened #735 "Update to use v2.0.0 final"
**What did you do?**
started up an instance of prometheus using the operator

**What did you expect to see?**
to have version v2.0.0 running

**What did you see instead? Under which circumstances?**
v2.0.0-rc.1 was running and no way to set a newer version

[2017-11-08 12:24] Morriz commented on #725
Then I think you are not correctly deploying the `hack/...` scripts, or have not generated the correct artefacts. Also, I have only been able to get the manifests to work together by NOT specifying a namespace with `kubectl apply`. So trying to deploy everything into a 'monitoring' namespace has been no success (I am only deploying on minikube for now, so I assume it's not rbac related, as that is

[2017-11-08 12:31] r0bj commented on #699
The same situation with `ServiceMonitor` definition:
[code]

[code]

[2017-11-08 12:55] skuda commented on #725
For me, everything is working perfectly fine using the monitoring namespace and the kube-prometheus scripts.

You can see the Prometheus targets here:
[![Screenshot from Gyazo](https://gyazo.com/4c463bf9ad3eb863d54bf68fe17bdc1d/raw)](https://gyazo.com/4c463bf9ad3eb863d54bf68fe17bdc1d)

All the included dashboards in kube-prometheus work perfectly fine, and other dashboards I integrated directly fr

[2017-11-08 12:57] Morriz commented on #725
that is strange, as I just added it and it works nicely :|

[2017-11-08 15:19] brancz commented on #699
Yes, this seems to be a problem with Kubernetes itself. I haven't been able to get to the ground of what's happening. I'm imaging a problem with the merge-patch functionality with custom resources.

[2017-11-08 15:23] brancz commented on #725
The `ClusterRoleBinding`s of the kube-prometheus stack assume the `monitoring` namespace, if you wish to deploy it to another namespace you'll have to check those manifests and adapt them. The helm charts, are currently in a bit of a rough state, we're working on getting them into shape. I'd recommend [this article](https://itnext.io/kubernetes-monitoring-with-prometheus-in-15-minutes-8e54d1de2e13

[2017-11-08 15:30] skuda commented on #725
I used monitoring namespace and kube-prometheus scripts, indeed everything is working fine for me, other than the kubernetes_io_hostname label is not inside metrics.

[2017-11-08 15:32] brancz commented on #725
@skuda can you just query for `container_network_receive_bytes_total` in the Prometheus UI, and paste the "console" output here? I'm guessing that the label was renamed.

[2017-11-08 15:42] skuda commented on #725
I don't think so, but here it is:
[code]

[2017-11-08 15:50] brancz commented on #725
hmm .. sounds like there was a change upstream then. Could you open an issue on the cadvisor repository and tag me? We can leave this open until we resolve things there.

[2017-11-08 18:42] #735 closed

[2017-11-09 03:00] ejwood79 commented on #726
Got it running - thank you!

[2017-11-09 03:00] #726 closed

[2017-11-09 11:46] kubebc commented on #732
Thanks! brancz

1. We're now using tectonic_1.7.5. When can we expect to migrate to Prometheus 2.0 on our stack?

2. I just read release note and Prometheus 2.0 migration guide. Amazing! **We can upgrade to 2.0 on our current Tectonic stack, right? Would be no impact on Tectonic stack itself right?**
https://coreos.com/blog/prometheus-2.0-released
https://github.com/prometheus/prometheus/releases/

[2017-11-09 12:00] kubebc opened #741 "How to update kube-prometheus manually on Tectonic stack, when Tectonic stack failed to update from 1.6.8 to 1.7.1 then to 1.7.5?"
Hi, Team,
Maybe you have some tips on this ticket? Thanks! :)
https://github.com/coreos/tectonic-forum/issues/211
"How to move on "Migration from TPR to CRDs"? My Prometheus Operator didn't automatically migrate TPRs to CRDs when the whole Tectonic got updated from 1.6.8 to 1.7.1 then to 1.7.5 #211"

[2017-11-09 12:24] brancz commented on #732
It sounds like you've just rolled out Prometheus, if you don't have a lot of important historical data, I highly recommend just upgrading to 2.0 without data migration.

The Tectonic Monitoring Prometheus instance will automatically be upgraded for you in one of the next Tectonic releases, in facts it's what I'm working on as we speak.

[2017-11-09 12:53] brancz commented on #741
Commented on the other issue.

[2017-11-09 13:16] kubebc commented on #741
Thanks!
So your suggestion is better to restore to TPR,
and not to migrates TPRs to CRDs manually,
and not to let Prometheus Operator automatically migrates TPRs to CRDs again,
right?

[2017-11-09 13:25] shadycuz opened #742 "Running kube-prometheus results in 2 kublet targets per node with one failing"
**What did you do?**

Ran `git pull` and then deployed the self-hosted deploy.

**What did you expect to see?**

Awesome monitoring per the usual

**What did you see instead? Under which circumstances?**

I see extra targets for Kubelet that are now failing.

![image](https://user-images.githubusercontent.com/17090999/32607542-56dba2f0-c527-11e7-89e4-cde64568436e.png)

**Environment**

Bare-metal

[2017-11-09 13:26] brancz commented on #741
Actually since your TPRs are already de-registered and the CRDs registered, and a recent version of the Prometheus Operator is started, I'd just recommend to restore the CRDs directly.

[2017-11-09 13:28] brancz commented on #742
This sounds like there is a problem with the firewall or kube-spray disabling the `:4194` cAdvisor port.

[2017-11-09 13:30] shadycuz commented on #742
@brancz when I deployed 2 or 3 weeks ago it was only the 1 target per node. I ran git pull and redeployed and got the 2. I can check with kubespray about the metrics.

[2017-11-09 13:37] shadycuz commented on #742
@brancz They just added it 3 days ago. https://github.com/kubernetes-incubator/kubespray/pull/1908/files and it's default port is 0. I'm guessing off. Closing this.

Congrats on prometheus 2.0. Can't wait till we are using it in kube-prometheus. Looking forward to the 16th.

[2017-11-09 13:37] brancz commented on #742
Yes, since Kubernetes 1.7.3 the kubelet serves _only_ its own metrics on the `/metrics` endpoint and container metrics on `/metrics/cadvisor`. The `/metrics` endpoint on the `:4194` port is identical to the `/metrics/cadvisor` endpoint, only that it was available before and afterwards. You can also change the `ServiceMonitor` to use the 10255 port with the `/metrics/cadvisor` endpoint instead, the

[2017-11-09 13:40] shadycuz commented on #742
I will probably try to change the service advisor to go back to 10255. Pod and deployment charts worked so it must have been getting cadvisor metrics.

[2017-11-09 13:40] #742 closed

[2017-11-09 18:07] rocketraman commented on #485
IGNOREME: I am commenting here so I can easily find this issue again in the future, [since I can't do that by subscribing alone](https://github.com/isaacs/github/issues/283\).

[2017-11-09 18:12] rocketraman opened #743 "RFE: Nodes Summary"
In the dashboards, I'd love to see a Nodes summary dashboard. Currently, each node has its own dashboard which is great for digging into the details, but often times one just wants a high-level view of node CPU, memory, and I/O across the cluster.

[2017-11-09 18:14] rocketraman opened #744 "node_exporter should use recording rules to publish node name"
Quoting @brancz from https://github.com/coreos/prometheus-operator/issues/135#issuecomment-341131667:

Creating this issue to track this! Thank you.

[2017-11-09 22:22] shadycuz opened #745 "Place holder for a PR I am Working on IGNORE"
# Dashboard Updates

## Node

### Before
![image](https://user-images.githubusercontent.com/17090999/32632587-2c4aba4e-c572-11e7-9984-c0f06559a4f0.png)
![image](https://user-images.githubusercontent.com/17090999/32632612-443fa434-c572-11e7-8a39-eedde136ff08.png)

### After

![image](https://user-images.githubusercontent.com/17090999/32632657-6c60669c-c572-11e7-94db-b0add117f081.png)
![image](https

[2017-11-10 08:09] brancz commented on #745
The request latency is just a result of us not having synced recording rules with our internal set. I'm about to publish all internal recording rules for core kubernetes components, so that will be solved.

[2017-11-10 10:54] brancz commented on #743
This already exists in the "Kubernetes Capacity Planning" dashboard is :slightly_smiling_face: it literally has the same layout, just all nodes summed up.

[2017-11-10 14:19] rocketraman commented on #743
That's useful for some things but isn't that I'm looking for. I'm looking for individual node level data, summarized. Summing the node data is ideal for capacity planning but obscures issues with individual nodes. For example if I have one node with a CPU at 100% due to a bug in some host software, I won't see that in the sum.

[2017-11-10 14:20] alexlokshin opened #746 "Allow security context to be specified explicitly"
It appears the security context is set to 1000:2000:non-root, we're running into an issue with the hostPath volumes where a specific gid/uid have to be used. Please support securityContext at the spec level.

[code]

[2017-11-10 14:31] lucasvel commented on #746
Having this same issue as of right now

[2017-11-10 15:02] shadycuz commented on #745
Interested in those changes @brancz , I will submit the PR as soon as I get that configmap generation script to run. Also I noticed those charts are in python? Can I submit json?

[2017-11-10 15:54] rawkode commented on #717
@brancz Following that article doesn't solve the problem mentioned above. I'm getting this also

[2017-11-10 16:21] brancz commented on #717
@gianrubio ^ I think you have the most experience, could you maybe look into this?

[2017-11-10 16:22] brancz commented on #745
The json changes are overridden by the json generated by the python scripts. It should generally be pretty easy to adapt through the python code, if not the abstraction is not good enough :slightly_smiling_face:

[2017-11-10 16:23] brancz commented on #745
That said, wait until early next week, when I have synced the open source rules with the internal set.

[2017-11-10 16:23] brancz commented on #743
I see. Not sure how you would do that, but happy to accept PRs, if you have a reasonable strategy :slightly_smiling_face:

[2017-11-10 17:12] gianrubio commented on #717
comment the lines 2 to 9 on [kube-prometheus/requirements.yaml](https://github.com/coreos/prometheus-operator/blob/master/helm/kube-prometheus/requirements.yaml#L2-L8) and run the command again. This will be fixed after #676 merged.

[2017-11-10 17:46] rawkode commented on #717
Also, `helm upgrade --install --namespace=monitoring --set rbacEnable=false kube-prometheus helm/kube-prometheus`

Fails, as the required Helm charts don't get passed `rbacEnable=false`. Is there a way to pass this down, or does this essential make the flag useless?

[2017-11-11 01:15] blackbaud-brandonstirnaman commented on #717
@rawkode Use `--set exporter-kube-state.rbacEnable=false`.

[2017-11-11 21:22] keithjohnhowe opened #747 "Include alerting in Prometheus Helm Charts"
I am planning to use Prometheus to monitor an application which (when finished) will sit on a K8s cluster.
Unfortunately I am having some problems with alerting. As far as I understand the alerting rules are set in the rules_file, these rules are then handled by the Alertmanager. However my question is -- How do I set these to send an alert if for example a pod fails or the CPU reaches 90% and is

[2017-11-12 15:10] r0bj opened #749 "kube-prometheus: TargetDown alert is not working"
Alert definition from `kube-prometheus`:
[code]

It won't work as expected:
1. for the first 5 minutes alert is in PENDING state (waiting 10 minutes)
2. after 5 minutes there are no results of `count(up == 0)`, failing job is just not present at all
3. alert is resolved despite failing job

I think it affects all alerts based on `up` metric.
Is there a better way of doing such alert?

[2017-11-12 21:48] #749 closed

[2017-11-13 05:13] ngtuna commented on #357
That's not always true. For example, the case of @yuvipanda showed that the username that GKE recognized was capitalized at some characters. So my two questions:

1) why does capitalization happen ?
2) How do we retrieve that _modified/capitalized/real_ username by code ? I am looking for support from client-go for example...

[2017-11-13 08:12] ngtuna commented on #357
Okay I found this below command actually better:

[code]
It returns the user's email and in my case the capitalized one. So, probably it's an alternative command if `gcloud info | grep Account` doesn't work.

[2017-11-13 09:32] brancz commented on #749
This is just a general alerting rule, you will want to write an extra rules if you have more knowledge about your target. The `up` metric goes away if a target disappears.

[2017-11-13 09:37] brancz commented on #747
I'm not sure I understand the question. Alerting rules are loaded by Prometheus. A common practice is that each team runs their own Prometheus instance(s), and then all alerts are fired against a single Alertmanager cluster, where they can then be globally deduplicated and grouped in a meaningful way to then be sent via your favorite notification provider.

[2017-11-13 09:42] brancz commented on #746
I'm fine with adding this, and defaulting to what is currently in use.

[2017-11-13 10:42] keithjohnhowe commented on #747
Many thanks for getting back -   I would like to use Prometheus for monitoring and alerting an app that will sit on a K8s cluster. I have used Helm to install Prometheus along with Grafana and can now use it for monitoring nodes/pods etc. However it is alerting that I'm having problems getting my head around. I understand the theory of using prometheus.yaml to point to the rules_file which is then

[2017-11-13 10:51] brancz commented on #747
The `Prometheus` object defines a `ruleSelector` meaning, that any `ConfigMap` that has matching labels, will be retrieved by the prometheus-config-reloader side-car and then the files inside it will be loaded by Prometheus. The Prometheus Operator ensures, that the `prometheus.yaml` config is adapted properly in order to do this. Meaning, that any helm chart that puts a `ConfigMap` that has the c

[2017-11-13 12:26] keithjohnhowe commented on #747
Thanks for the reply -- I will look into using a ConfigMap to define alerting alerts and let you know how I get on.

[2017-11-13 12:59] iJanki opened #751 "K8SApiServerLatency always triggering but can't find why"
I'm running an on premise k8s 1.8.1 cluster installed with kubespray.
There are 2 API servers.
The alert
[code]

is always triggering.

[code]

I can't see anything wrong on the cluster. I also checked the logs of apiservers for POSTS, and the response time is never above 1 second.

Could help me find out what's wrong?

[2017-11-13 13:09] brancz commented on #751
This definitely means, that your apiserver is responding slowly, to _some_ request. You should query the Prometheus UI to see which ones those are. Just run

[code]

in the Prometheus expression browser, and you should be able to find the values that are too high. You might need to graph it to see it historically (this query might take some time as it's a lot of data and calculations).

[2017-11-13 13:11] brancz commented on #730
Did this happen in conjunction with a custom configuration?

[2017-11-13 14:29] iJanki commented on #751
Thanks for reply, if i do that i get

{endpoint="https",job="apiserver",namespace="default",scope="cluster",service="kubernetes",subresource="",verb="POST"}   8

But still can't pinpoint what request is that.
If i theck api servers logs i get lines like

I1113 14:27:22.545325       1 wrap.go:42] POST /api/v1/namespaces/monitoring/events: (6.05608ms) 201 [[kubelet/v1.8.1+coreos.0 (linux/amd64) kube

[2017-11-13 15:49] brancz commented on #729
I have a draft of this working. Will test it a bit and open a PR for this tomorrow if it works out.

[2017-11-13 17:47] brancz commented on #751
What's odd is that the `resource` label is empty. Can you check when you do a raw query without the `histogram_quantile` function, whether there is the `resource` label?

[2017-11-13 18:00] iJanki commented on #751
using "WITHOUT (instance, resource)" does not remove the resource?

if i do
[code]
i get
[code]

[2017-11-14 09:13] iJanki commented on #751
Hmm, these are the actual metrics from apiserver /metrics (for verb=POST and resource=namespaces)

[code]

[2017-11-14 12:59] atopuzov commented on #486
How about adding a more general rule about daemonsets? to kube-state
Something on the line of
[code]

[2017-11-14 13:50] brancz commented on #751
The buckets are cumulative, meaning this request happened at some point in time, so the logs don't help unless we find the actual request. It seems that there was a single request, that took longer than 8 seconds. Does the alert still fire? I would expect it not to, as it should only fire if there was an increase of this value.

[2017-11-14 13:55] iJanki commented on #751
I tried to restart the apiserver pods, and that bucket still has 1. I can't find any request that take that long in the logs... so weird.
And it alerts yes, even if that number stays the same.

[2017-11-14 14:08] brancz commented on #751
I see, yes actually that is expected, we would need to add a `rate` in addition to the `sum` in the `histogram_quantile` function in order to do this based on let's say the past 10 minutes. Right now it's just saying the 99th percentile of all requests ever is >8s, which is not as useful.

Two things to do:
* improve the alerting rule to be based on recent data points
* figure out where that "crea

[2017-11-14 14:09] brancz commented on #751
Would you like to take a shot at improving the alerting rule? :slightly_smiling_face:

[2017-11-14 14:10] iJanki commented on #751
I'll give it a try:)

[2017-11-14 14:10] brancz commented on #486
All of those sound great! Could you open a PR for them @atopuzov ?

(they will have to be in the Prometheus 2.0 alerting rule format though :slightly_smiling_face: )

[2017-11-14 14:16] atopuzov commented on #486
@brancz Will do.
I'll also try to update the charts to use the new prom 2.0 rules.

[2017-11-14 14:23] iJanki commented on #751
how about

[code]

[2017-11-14 14:41] atopuzov commented on #486
@brancz does [this](https://github.com/coreos/prometheus-operator/pull/755) look ok?

[2017-11-14 14:50] atopuzov commented on #660
I can chip in as well as I use the charts to deploy the operator and kube-prom trough helm.

[2017-11-14 15:16] atopuzov commented on #249
Helm solution https://github.com/coreos/prometheus-operator/pull/757

[2017-11-14 16:06] brancz commented on #486
That sounds fantastic! Thanks a lot!

[2017-11-14 20:32] keithjohnhowe commented on #747
Could you please advice - I have created a configmap.yaml in the helm/prometheus/templates with rules and a a label - backend. I can execute
 $helm install --name prometheus --set serviceMonitorsSelector.app=prometheus --set ruleSelector.app=prometheus --namespace=monitoring helm/prometheus
so I assume the the configmap is running.
I have also created the follow configmap for the alertmanager. Whe

[2017-11-14 22:40] svend commented on #729
Would annotations be more appropriate than labels for these?

[2017-11-15 00:53] nuala33 opened #758 "Seeing data:null though /metrics endpoint does have data"
**What did you do?**
We are spinning up a new prometheus instance in a new k8s 1.7 cluster. Although we are able to see a number of metrics in the browser via the prometheusserver:9090/metrics endpoint, prometheusserver:9090/api/v1/label/\__name\__/values returns the following:
{
status: "success",
data: null
}

Additionally, when we load the UI we are seeing no dropdown options where it says "- i

[2017-11-15 07:23] brancz commented on #729
The imeplementation I chose leaves this up to the user :) I can imagine scenarios where people would want either.

[2017-11-15 10:45] brancz commented on #747
The Alertmanager configuration actually needs to be a `Secret`, not a `ConfigMap`. I'd suggest to go through the [Getting Started](https://github.com/coreos/prometheus-operator/blob/master/Documentation/user-guides/getting-started.md) and [Alerting](https://github.com/coreos/prometheus-operator/blob/master/Documentation/user-guides/alerting.md) guides without helm, in order to understand the way t

[2017-11-15 11:04] brancz commented on #758
Do you have Prometheus configured to scrape itself? Otherwise Prometheus won't ingest this data.

[2017-11-15 11:22] keithjohnhowe commented on #747
Many thanks, I'll have a look at the guides and follow your suggestion about helm.

[2017-11-15 13:32] brancz commented on #747
I'll close this issue here, but feel free to re-open or open a new issue if you run into problems.

[2017-11-15 13:32] #747 closed

[2017-11-15 23:46] nuala33 commented on #758
Thanks as always, @brancz! Adding a ServiceMonitor for Prometheus did the trick :)

[2017-11-16 00:05] nuala33 commented on #758
Hey one last thing. Is this documentation up to date? https://github.etsycorp.com/Engineering/prometheus-operator/blob/master/helm/alertmanager/values.yaml

I would have thought that Alertmanager uses the volumeClaimTemplate pattern now, similar to how you'd set up persistent storage in Prometheus. Is that correct?

[2017-11-16 03:05] gmichels commented on #732
Sorry for sort of hijacking the thread but I was wondering how does one accomplish the same using just kube-prometheus. I don't see any config maps with this entry.

[2017-11-16 03:56] kaarthikeyan1987 opened #759 "Prometheus Exporters"
**What did you do?**
I have Prometheus implemented using Prometheus-operator.
**What did you expect to see?**
I would like to setup monitoring for the applications like Nginx, Tomcat, Mysql, Redis, Elastisearch
**What did you see instead? Under which circumstances?**
I tried different approaches and failed to get things up and running on the prometheus dashboard
**Environment**
AWS
* Kubernetes ve

[2017-11-16 06:49] hamid2013 opened #760 "Mertics Data Storage"
Hello All,

Need help on this.
I have implemented the kube-prometheus. I checked all the files but didn't find where exactly the data is getting stored. For that i need to use persistent data disk. (Which we are using Glusterfs).

Another question i have, when i run the deploy script, its deploy all the necessary services on the kubernetes cluster in the monitoring namespace. But without the passw