[2020-07-17 14:59] sephethus opened #3341 "Prometheus Container Hung on Creating 503 Error"
**What did you do?**
Prometheus has stopped responding, we're unable to access it.

We see:
```prometheus-prometheus-operator-prometheus-0               2/3     Running   0          53s```

[code]
and we also see this when trying to get logs:

```Error from server (BadRequest): container "prometheus" in pod "prometheus-prometheus-operator-prometheus-0" is waiting to start: ContainerCreating```

**

[2020-07-17 15:15] stealth1188 opened #3342 "Multiple Subsets Addresses"
Hi everyone,

Have multiple external instances where I would like to scrape and my question is what do I need to put under ExternalName in the Service side. Here are my yamls (excluding ServiceMonitor):

apiVersion: v1
kind: Endpoints
metadata:
  name: k8-cluster01-metrics
  namespace: prometheus-ext
  labels:
    app: k8-cluster01
    release: node-exporter
subsets:
`- addresses:`
`  - ip: 1.2.3.

[2020-07-17 15:49] mircohaug commented on #3204
@brancz I would be interested to look into implementing this CRD. How should we proceed?

[2020-07-17 15:49] ehsanrocket opened #3343 "prometheus service nodePort does not work => I cant get the prometheus UI"
Hi all
I am new to prometheus-operator
I have install the prometheus-operator . and I have followed the examples. I have created **deployment** (example-app-deployment.yaml )  and a **service** ( example-app-service.yaml ) then
create a **service monitor** (example-app-service-monitor.yaml) to monitor the service then
the **prometheus instance** ( prometheus-service-monitor.yaml ) and **prometheus

[2020-07-17 16:53] sephethus commented on #3341
Here are the host logs:

[code]

[2020-07-17 17:06] sephethus commented on #3341
yaml output of failing pod if relevant:

[code]

[2020-07-17 17:55] brancz commented on #3204
I think a design doc would be in order, as what I'm imagining would involve synchronizing types from the prometheus repo.

[2020-07-17 18:21] stealth1188 commented on #3342
Hi there - FYI - I have inserted one of the listed IP addresses under externalName (eg, externalName: 1.2.3.4) and that seems to work. :).

[2020-07-17 18:21] #3342 closed

[2020-07-18 09:20] lianfulei opened #3344 "Prometheus has failed to evaluate 20 rules in the last 5m"
rule_group=/etc/prometheus/rules/prometheus-po-prometheus-operator-prometheus-rulefiles-0/monitoring-po-prometheus-operator-kubernetes-system-kubelet.yaml;kubernetes-system-kubelet
rule_group=/etc/prometheus/rules/prometheus-po-prometheus-operator-prometheus-rulefiles-0/monitoring-po-prometheus-operator-kubelet.rules.yaml;kubelet.rules

Prometheus monitoring/prometheus-po-prometheus-operator-prome

[2020-07-18 15:04] lianfulei commented on #3344
i have solve it

[2020-07-18 15:04] #3344 closed

[2020-07-18 15:21] lianfulei opened #3345 "[stable/prometheus-operator] failed to join cluster,unable to join gossip mesh"
pod logs
alertmanager-po-prometheus-operator-alertmanager-0

level=warn ts=2020-07-18T03:21:59.842Z caller=cluster.go:228 component=cluster msg="failed to join cluster" err="1 error occurred:\n\t* Failed to resolve alertmanager-po-prometheus-operator-alertmanager-0.alertmanager-operated.monitoring.svc:9094: lookup alertmanager-po-prometheus-operator-alertmanager-0.alertmanager-operated.monitoring.

[2020-07-18 15:42] lianfulei commented on #3345
i have slove it
Error reporting is normal

[2020-07-18 15:42] #3345 closed

[2020-07-19 18:41] b0g3r commented on #1890
Same feature request

I using Django as backend and hosts `/metrics` via django. Django has default security feature about HTTP Host Header Attack (https://docs.djangoproject.com/en/3.0/ref/settings/#allowed-hosts), so I need to append `Host: ` header with every request (for example, liveness probes)

[2020-07-20 05:14] perumalla-giridhar opened #3346 "Alertmanager error : failed to join cluster"
**What happened?**
Running CRD alertmanager in replica=1
shows error in logs of alertmanager saying "failed to join cluster"
wrong arguments are passed to alertmanger
--cluster.peer=alertmanager-ml-0.alertmanager-operated:9094
where it says host `--cluster.peer=alertmanager-ml-0.alertmanager-operated:9094` not found
actual name of the host is `--cluster.peer=alertmanager-ml-0.alertmanager:9094`
**

[2020-07-20 05:28] vaishali-prophecy commented on #3338
@brancz  Could you figure out any issue with the yamls provided above?

[2020-07-20 07:43] brancz commented on #1890
As mentioned in my previous comment, for the prometheus operator to be able to support this, Prometheus first needs to support this. This will need to be resolved in Prometheus first. Then we can talk about support in the Prometheus Operator :)

[2020-07-20 08:06] brancz commented on #3346
Can you upgrade to v0.40.0? https://github.com/coreos/prometheus-operator/pull/3233 is only available starting with that release.

[2020-07-20 08:22] brancz commented on #3338
Could you put the prometheus operator in debug mode and see if it prints anything useful? My hunch would be that it might be something about the bearerToken references that are empty, causing the servicemonitor to be skipped.

[2020-07-20 08:48] lilic opened #3347 "Syncing prometheus fails when a ns error occurs but none of other resources have this problem"
**What happened?**

Passed two namespaces that do not exist and two that do exist via the prometheus operator flag `--namespaces`. Seen the expected errors of:

All resources were up and running and syncing for example:

and it correctly picked up the Alertmanager CR instance.

But it failed to the same for prometheus CR instance and create the needed resources, and in the logs it seems like the s

[2020-07-20 08:51] perumalla-giridhar commented on #3346
Thank you. It is working now without errors.

[2020-07-20 08:51] #3346 closed

[2020-07-20 09:01] brancz commented on #3347
This should be fixed by https://github.com/coreos/prometheus-operator/issues/3218

[2020-07-20 09:09] lilic commented on #3347
tl;dr of the above issue is that we should consider being in general tolerant of errors and failures more as these things are very hard to debug for users if we do not perform the sync and at the same time never actually kill the process, we just swallow those errors.

[2020-07-20 16:12] jah-jh commented on #455
Hi

Try next

[code]

[2020-07-20 16:36] jpreese opened #3349 "unknown long flag --kubelet-service during deployment"
**What happened?**

Using the prometheus-operator v0.40.0, the deployment is failing due to the following log line:

[code]

**How to reproduce it (as minimally and precisely as possible)**:

Using:
prometheus-operator v0.40.0
prometheus-config-reloader v0.40.0
jimmidyson/configmap-reload v0.4.0
prometheus v2.19.2
alertmanager v0.21.0

**Environment**

* Prometheus Operator version:

prometheus-op

[2020-07-20 17:17] kfirfer commented on #2359
Come across this problem and face it as-well..

[2020-07-20 17:26] jpreese commented on #3349
Verified downgrading to 0.39.0 fixes the problem.

Also tried using 0.40.0 with 2.19.0 of Prometheus (rather than 2.19.2) just in case there were some compatibility issues as, in fairness, the docs only say 2.19.0. --but this also caused the same problem.

[2020-07-20 20:42] vaishali-prophecy commented on #3338
@brancz  By any chance do you mean debug logs for prometheus as in helm chart, I only find option to configure loglevel for prometheus and alertmanager but not prometheus-operator.

[2020-07-21 06:32] vivianforzj opened #3350 "Customed PodMonitor not working"
**What did you do?**

I wrote podmonitor by myself to monitor pod in defined namespace, the yaml file is:

[code]

After I installed the podmonitor, I checked the prometheus web-Status-Target. And I found the target tenant-xdf-aeeg/test-pod-monitor/0, but no endpoint, and the "up" part is 0/0 (tenant-xdf-aeeg is the namespace of the podmonitor)

**Did you expect to see some different?**

I expecte

[2020-07-21 09:33] Tikam02 opened #3351 "Prometheus "--storage.tsdb.max-block-duration=2h" time reduction."
### Can we reduce the "block-duration=2h"?

```helm install prom ./prom -n testing --set storage.tsdb.min-block-duration=30m```
it didn't worked.Changed duration during installation, but getting same "2h" default in configs.

Tried with arguments it didn't worked,also changing manually it is not allowed to change,
``` Forbidden: pod updates may not change fields other than `spec.containers[*].imag

[2020-07-21 11:24] vaishali-prophecy commented on #3338
@brancz  Any help from the logs?

[2020-07-21 13:20] brancz commented on #3118
closed by https://github.com/coreos/prometheus-operator/pull/3249

[2020-07-21 13:20] #3118 closed

[2020-07-21 13:35] safuya opened #3352 "resources don't allow integer values"
These values should be valid according to https://kubernetes.io/docs/concepts/configuration/manage-resources-containers/, but they are not:

[code]

The error received when trying to deploy is:

[code]

[2020-07-21 19:45] cryptarchnoble commented on #3277
I am experiencing this issue as well. I'm attempting to monitor metrics from AWX, and have created a secret containing my bearer token, which is the only way to authenticate against AWX programmatically. I confirmed that I can use this token/secret to authenticate against /api/v2/metrics on AWX when using curl... but creating a ServiceMonitor and specifying the following configuration:

apiVersion

[2020-07-21 20:43] odelreym opened #3353 "Adding Additional Scrape Config doesn't work"
**What did you do?**

I've tried to add the following additional-Scrape-Configs

[code]

Then I executed:
**kubectl create secret generic additional-scrape-configs --from-file=prometheus-additional.yaml --dry-run -oyaml > additional-scrape-configs.yaml**

and I applied the secret into the namespace

Then, I updated the Prometheus by adding

[code]

Lately I restarted the pods, but the config is no

[2020-07-21 21:24] bhandari8sujit commented on #3336
Thanks @vsliouniaev - I'll will try purging the chart

[2020-07-22 02:12] kanadaj commented on #3277
@brancz Can confirm on v0.38.0; can't go any higher since we're on OKD 3.11; not sure if we can upgrade to 0.40.0 since the readme says it needs Kubernetes 1.16.

[2020-07-22 05:49] #3350 closed

[2020-07-22 07:38] brancz commented on #3273
I just realized that there were discussions in various directions in the past, and I want to make sure we're explicit in these, I personally think we should put the prometheus-operator in the prometheus-operator org, and kube-prometheus into it's own (maybe kube-observability?). That way we can emphasize the separation of the projects much like we always desired (RE https://github.com/coreos/prome

[2020-07-22 07:40] brancz commented on #3161
Still some details to be figured out and being discussed. https://github.com/coreos/prometheus-operator/issues/3273

[2020-07-22 07:49] paulfantom commented on #3273
I don't agree, separation on repository-level is fine, but those two projects are connected to each other and IMHO should belong to the same org.

Additionally in such case where do, we want to put helm charts and handle issues about it?

[2020-07-22 07:53] brancz commented on #3273
In the respective org. I think that would actually be good for people to understand the separation, I don't feel too strongly about it though.

[2020-07-22 08:02] brancz commented on #3338
Those won't help unfortunately. We do need it from the prometheus operator. We don't maintain the helm charts at all, so I cannot say how to do this. I would recommend opening an issue on the helm charts repo.

[2020-07-22 08:04] paulfantom commented on #3273
Such an approach immensely decreases project discoverability and clouds how projects are connected to each other.

One more thing to consider is how issues are created and what features GitHub offers here. We currently have quite a lot of issues which are in respect to helm charts or to kube-prometheus and we probably will always have such reports in prometheus-operator repository. With repositori

[2020-07-22 08:09] vaishali-prophecy commented on #3338
Can you tell me how to do it in prometheus-operator deployment itself
irrespective of helm? There must be some args that can set it.

On Wed, Jul 22, 2020, 1:32 PM Frederic Branczyk <notifications@github.com>
wrote:

[2020-07-22 09:10] brancz commented on #3273
Well the intention is precisely to emphasize the difference and independence of the projects. :)

[2020-07-22 09:12] brancz commented on #3338
You can set the `--log-level=debug` flag on the prometheus operator deployment.

[2020-07-22 10:32] paulfantom commented on #3273
They are already independent as they live in different repositories. I think separation on a higher level (organization) would impact developer workflows without any additional benefits.

[2020-07-22 11:07] brancz commented on #3273
There's no reason why it would be final, so I'm happy with keeping them together for now, and should there be more voices in the future then we can still change the direction.

[2020-07-22 12:03] denyo commented on #926
In case anyone comes across this issue again with AKS and k8s `1.18.4`.
With the chart `stable/prometheus-operator` in version `9.2.0` removing the suggested change
[code]
fixes the issue.

[2020-07-22 14:02] vincent-pli commented on #2515
@brancz @nrvnrvn
If I don't specify a container port, then use `targetPort` in `serviceMonitor` and point to right port of container (not specify a container port but truly existed), could it work?

[2020-07-22 14:22] brancz commented on #2515
yes that should work, when you specify the actual port number

[2020-07-22 14:38] brancz commented on #3353
Can you share the prometheus logs?

[2020-07-22 14:42] brancz commented on #3352
That's strange indeed. It'll need some more investigation. For now use `1000m` I guess, but I agree this should work.

[2020-07-22 14:58] brancz commented on #3349
That's odd, the flag is definitely not removed https://github.com/coreos/prometheus-operator/blob/release-0.40/cmd/operator/main.go#L162

Could you try running `--help` and see what the output says for you?

[2020-07-22 15:00] brancz commented on #3351
The helm charts are neither used nor maintained by the prometheus-operator maintainers. Therefore we don't know the setup, so we're unlikely to be able to help you. I recommend creating an issue on the upstream helm charts repo where these helm charts are maintained.

[2020-07-22 15:00] #3351 closed

[2020-07-22 15:30] brancz commented on #3277
@paulfantom if I'm not mistaken I think you made use of `bearerTokenSecret` recently no? Was there something specific that you did to make that work?

[2020-07-22 16:07] jpreese commented on #3349
The `--help` suggestion led me to actually go in and inspect the running container. and ..this was us shooting ourselves in the foot. Sorry for the noise, and thanks for the prompt response.

[2020-07-22 16:07] #3349 closed

[2020-07-22 17:06] kanadaj commented on #3277
Not sure about Paul, but my current workaround is to mount the bearer token secret as a file inside the prometheus containers and use bearerTokenFile instead. It works, but it did require recycling the pods so all transient data is gone :/

[2020-07-22 17:40] odelreym commented on #3353
hey @brancz
sure, here they are

(thanks in advance)

[code]
$ kubectl logs -n infra-mgmt prometheus-prometheus-0 prometheus-config-reloader
ts=2020-07-22T16:51:07.625702347Z caller=main.go:85 msg="Starting prometheus-config-reloader version '0.35.0'."
level=info ts=2020-07-22T16:51:07.626220788Z caller=reloader.go:127 msg="started watching config file for changes" in=/etc/prometheus/config/promet

[2020-07-23 00:55] vincent-pli opened #3354 ""targetPort" do not work in "ServiceMonitor""
**What happened?**
Try to use `targetPort` in `serviceMonitor` to retrieval data.
Seems it's not work, so I prepare two SVC point to same pod, one has port name, another not.
[code]
[code]

Then create two `serviceMonitor` for each:
[code]
[code]

The second on (with `port`) works, but the first one(with `targetPort` not work)
I checked the status on GUI of Prometheus: status-service discovery
[co

[2020-07-23 02:51] vincent-pli commented on #3354
I figure out the issue, when use `targetPort` the related pod must specify a container port, or it will not work.
I'm new for Prometheus, where can I fine document for it, thanks.

[2020-07-23 03:18] vincent-pli commented on #2515
@brancz
Based on my case, it's not work until I specify `container port` in my pod, see the details here:
https://github.com/coreos/prometheus-operator/issues/3354

[2020-07-23 06:26] fyery-chen commented on #2630
@metalmatze We also need this feature, so when it can be available?

[2020-07-23 07:06] paulfantom commented on #3277
My current setup is available at https://github.com/thaum-xyz/ankhmorpork/blob/master/apps/homeassistant/08_servicemonitor.yaml#L12. This is running prometheus-operator v0.40.0 and I didn't change anything (working OOTB).

I had one issue when encoding token value as it also encoded `\n` and authentication failed, but this was not related to prometheus-operator.

[2020-07-23 07:11] vaishali-prophecy commented on #3338
@brancz PFA the logs -

[code]

[2020-07-23 07:57] brancz commented on #3354
My apologies, you are correct. What you can still try to relabel the port into the `__address__` meta label, but what you said is indeed how it works, I was wrong. This is indeed how it is intended to work.

[2020-07-23 14:54] sdif commented on #2733
Hi,
We had the same issue.

We are using GKE version v1.16.11-gke.5
Prometheus-operator version 0.40

We bumped the GKE and the prometheus-operator version to the last available ones, we updated the cluster role ressource to have access to ressources but we still have those info message (probably because a feature is not enabled inside GKE):

[code]

We removed the `kubectl` endpoint but it was no

[2020-07-23 20:59] cryptarchnoble commented on #3277
Thanks for the example @paulfantom . I double checked, and your config looks very similar to mine (with the exception of using a SealedSecret instead of a regular Secret, but I assume this is not the issue). My Secret and ServiceMonitor share the same namespace as yours do... only real difference I can determine is that your Service shares the same namespace as your ServiceMonitor and Secret, wher

[2020-07-23 23:42] cryptarchnoble commented on #3277
I have confirmed that by mounting my secret as a volume on the prometheus pod and then updating my ServiceMonitor to use "bearerTokenFile" instead of "bearerTokenSecret" Prometheus is now able to scrape my endpoint successfully. I did not modify my secret, so definitely something wrong with the way Prometheus Operator is using secrets...

For completeness, here's my updated ServiceMonitor definiti

[2020-07-24 02:14] veerabhadra opened #3357 "Only Manage Prometheus Server Configuration"
**What did you do?**
In our environment we would like to use Prometheus Operator for managing configuration of Prometheus Server. However we would like to life cycle Prometheus Server not using Prometheus Operator. Can we deploy service monitors and not Prometheus Resources and achieve this functionality ?

**Did you expect to see some different?**

**Environment**

* Prometheus Operator version:

[2020-07-24 02:59] lianfulei commented on #2359
I also have this problem

[2020-07-24 06:31] #3298 closed

[2020-07-24 06:33] brancz commented on #3357
These concerns are very intertwined, which is why this is not possible. Reloads, templating, etc. are all very much coupled and they need to be to be able to offer the experience here. Is there something specific that you can't do that you want to do?

[2020-07-24 07:04] bharathpantala commented on #2368
Please give me the steps to resolve this AlertmanagerMemberInconsitent

[2020-07-24 08:41] perumalla-giridhar opened #3359 "How to create serviceMonitor for kubelet"
**What did you do?**
Trying to scrape metrics from kubelet cadvisor
created serviceMonitor
yaml file:
[code]
after creating this i expect to see all the metrics in prometheus. But i dont see any metrics from cadvisor in my prometheus
I wanted to know is this the  way of collecting metrics from cadvisor of kubelet. If not, how do i collect them?

**Did you expect to see some different?**
I expect t

[2020-07-24 09:16] brancz commented on #3359
Have you checked the prometheus UI /targets page?

[2020-07-24 09:40] FL3SH commented on #3344
Can you share how you solved it?

[2020-07-24 10:05] perumalla-giridhar commented on #3359
yes, i cant see this target

[2020-07-24 12:25] sjentzsch commented on #3337
Hi @brancz , exactly ! Yes, being able to separately enable HA (and leave it disabled when having a single replica) would be sufficient, and would only be an addition on top that would support my use case here. As a workaround, I did setup two Alertmanagers in each cluster (so HA is enabled), so we have four across two clusters.

Architecture-wise we are running Kubernetes on bare metal (https://m

[2020-07-24 13:25] snukone commented on #2516
Made the same mistake as @coryodaniel , thanks for the hint 👍

[2020-07-24 13:30] brancz commented on #3337
Just my own curiosity, how do the Alertmanager instances actually discover each other?

[2020-07-24 13:33] brancz commented on #3359
can you take a screenshot and share?

[2020-07-24 13:42] ingvarm-gr commented on #3352
Alternatively, `cpu: "1"` (in YAML `1` is likely to be an integer, but `"1"` never is).

[2020-07-24 13:45] sjentzsch commented on #3337
Via prometheus-operator's `additionalPeers` (IP:Port) :-)

[2020-07-24 16:41] myuser-git opened #3363 "Can't see service monitor through Prometheus web interface"
**What did you do?**

I have been trying to create a service monitor to scrape metrics for the following service:

![image](https://user-images.githubusercontent.com/6596178/88412148-1c860880-cda7-11ea-8571-e6d43c9f3e46.png)

Service monitor definition (which may or may not be correct):

![image](https://user-images.githubusercontent.com/6596178/88413072-88b53c00-cda8-11ea-89bf-67fb4130d128.png)

[2020-07-25 16:55] perumalla-giridhar commented on #3359
Hi , It was my mistake. i was running servicemonitor in different namespace. Now i changed it to correct namespace. After that i can see targets in the UI but status is `DOWN` for all the endpoints with error `Get "https://<nodeip>:4194/metrics/cadvisor": dial tcp 172.31.20.154:4194: connect: connection refused` for endpoint `https://<nodeip>:4194/metrics/cadvisor`
on other side the endpoint `http

[2020-07-27 03:33] lianfulei commented on #3344
rules must create through prometheusrule

[2020-07-27 03:34] lianfulei commented on #3344
@FL3SH rules must create through prometheusrule

[2020-07-27 05:09] vaishali-prophecy commented on #3338
@brancz Any findings?

[2020-07-27 05:33] brancz commented on #3337
Neat! Yeah I think having a flag to explicitly turn it on when replicas is 1 would be ok if you want to add that.

[2020-07-27 05:46] brancz commented on #3359
403 is about authentication/authorization yes. The first one it seems you have endpoints in correct, the `/metrics/cadvisor` endpoint is on the same http server as the normal metrics endpoint for the kubelet, so not the `4194` port.

Generally I recommend trying the [kube-prometheus](https://github.com/coreos/kube-prometheus) project as that has all of these things pre-configured and wired up with

[2020-07-27 07:39] perumalla-giridhar commented on #3359
so, in the above yaml file `bearerTokenFile: /var/run/secrets/kubernetes.io/serviceaccount/token`
is this location represent the location in master node? Now i see there is no such file in master.

If required how should I create one for authorization?

 there is  a service account already present for prometheus and it has following privileges given using cluster role
cluster role snippet:
[code]

[2020-07-27 07:42] perumalla-giridhar commented on #3359
Regarding kube-prometheus , yes i am going through it and it would take time. redirecting the cadvisor metrics to prometheus is the last task that is left behind.

[2020-07-27 07:46] perumalla-giridhar commented on #3359
i have also changed the port for cadvisor from `4194` to `10250` now both targets have status `server returned HTTP status 403 Forbidden`

[2020-07-27 07:47] brancz commented on #3359
You also need [`get` on `nodes/metrics`](https://github.com/coreos/kube-prometheus/blob/40adbfae6c1b8c0fc9130bbf39416b2afd427b1d/manifests/prometheus-clusterRole.yaml#L6-L11).

[2020-07-27 07:50] perumalla-giridhar commented on #3359
can we confirm that servicemonitor is using the token of prometheus service account?

[2020-07-27 08:09] brancz commented on #3359
If you can see `bearerTokenFile: /var/run/secrets/kubernetes.io/serviceaccount/token` in the templated configuration then yes it is.

[2020-07-27 08:37] perumalla-giridhar commented on #3359
Thank You very much. It is working now.  :)

[2020-07-27 08:37] #3359 closed

[2020-07-27 08:44] FL3SH commented on #3344
Can you explain it? I am using a promthues-operator to create rules.

[2020-07-27 09:24] brancz commented on #3363
Could you share your Prometheus object?

[2020-07-27 10:16] hedeesaa opened #3366 "set domain name as target"
I want to define domain name url instead of IP address as target.
is there any way to do that?

[2020-07-27 11:18] brancz commented on #3366
Is this for scraping or synthetic probes that you want to ping?

[2020-07-27 11:28] paulfantom commented on #3273
After migration, we should publish images into 2 repositories on quay (old one and new one) for 1 or 2 release cycles.

A good example of pushing to 2 repositories is in https://github.com/coreos/prometheus-operator/pull/3258

[2020-07-27 12:00] paulfantom opened #3367 "Cleanup OWNERS file."
Since we now have a release shepherd, we should clean up OWNERS file to ease the process of choosing the next shepherd.

In addition, we need to come up with a governance policy to allow better community-based maintenance of the codebase. One possible solution would be to remove OWNERS file and replace it with GitHub feature of [CODEOWNERS](https://docs.github.com/en/github/creating-cloning-and-ar

[2020-07-27 12:02] brancz commented on #3367
I think the combination of the two would be a good idea.

[2020-07-27 12:20] bwplotka commented on #3273
Creating many images is not a problem indeed, we do that on Thanos as well: https://github.com/thanos-io/thanos/blob/master/.circleci/config.yml#L79

In terms of org, I think I am with @metalmatze and would vote for `organization dedicated to observability` We can have totally different projects there with different maintainers and different governance. Then even if it's worse for discoverability

[2020-07-27 12:23] brancz commented on #3353
Could you share the whole generated config? You should be able to grab it with something along the lines of:

[code]

[2020-07-27 13:04] hedeesaa commented on #3366
It's for scraping. until now I've always created a service and an endpoint like this:
[code]
for endpoint I always address the target by it's IP but now I need to address it by Domain name URL something like this: example.com:9100
Is there any way to do that?
I've searched and I found [additionalScrapConfig](https://github.com/coreos/prometheus-operator/blob/master/Documentation/additional-scrape-

[2020-07-27 13:10] odelreym commented on #3353
Sure, there they are

[code]

[2020-07-27 14:45] 0xMH commented on #2359
Is there any workarounds for now instead of having to deploy this sidecar to every pod?

[2020-07-27 17:03] cryptarchnoble commented on #3277
I've been digging further on this, and here's some additional color:
- We're using Rancher, which offers prometheus operator as part of it's built in monitoring solution.
- We're using an "older" build of rancher: 2.2.10. This includes "rancher monitoring" version 0.0.3.
- The docker image of prometheus seems to be rancher/prom-prometheus:v2.7.1.
     https://hub.docker.com/layers/rancher/prom-pro

[2020-07-27 18:28] kanadaj commented on #3277
@cryptarchnoble Since it can be repro'd on OKD 3.11, it's unlikely to be Rancher's fault.

[2020-07-27 20:27] paulfantom commented on #3277
@cryptarchnoble you are using too old version. Support for `bearerTokenSecret` was added in https://github.com/coreos/prometheus-operator/pull/2716 which is part of 0.34.0 release.

@kanadaj OpenShift 3.11 is using prometheus-operator in version 0.23.2 (plus some patches), which is too old to support `bearerTokenSecret`. Source: https://github.com/openshift/prometheus-operator/blob/release-3.11/VE

[2020-07-27 20:34] kanadaj commented on #3277
I've manually updated it to 0.38.0, not using the default operator version. Other than this issue, it works perfectly fine.

[2020-07-28 02:14] lianfulei commented on #2359
Can write script detection @0xMH

[2020-07-28 02:16] lianfulei commented on #3344
create yaml files
kind: prometheusrule
@FL3SH

[2020-07-28 02:23] gnufied commented on #2359
I am prometheus noob, but can one not write a query to request last reported metrics for this time series? This way, even if no pod is using a volume - volume usage information is still available?

[2020-07-28 02:30] gnufied commented on #2359
Sorry, re-reading this thread. from sig-storage perspective and as far as I know,  persistent volume metrics are still being reported by kubelet. For in-tree volume types, this should already work.  For any CSI volume type - if they implement `NodeGetVolumeStats` RPC call, then PV metrics should be available from the kubelet.

You may notice that, these metrics are tied to lifecycle of a pod on a

[2020-07-28 02:31] gnufied commented on #2359
If you notice that, these metrics are missing for a particular driver/volume type. It might be most likely driver bug. If you think driver is alright, please open a bug against `kubernetes/kubernetes` and we will do our best to address it.

[2020-07-28 05:27] vaishali-prophecy commented on #3338
@brancz Did you get a chance to look at the above logs?

[2020-07-28 07:22] brancz commented on #3366
DNS discovery is probably the most appropriate thing in this case. Currently indeed additional scrape configs are the best mechanism available for making use of DNS discovery.

[2020-07-28 07:29] brancz commented on #3353
Could you share logs of the Prometheus Operator itself?

[2020-07-28 08:25] brancz commented on #3338
Could you share your Prometheus Operator deployment as well?

[2020-07-28 08:33] vaishali-prophecy commented on #3338
[PrometheusOperator.txt](https://github.com/coreos/prometheus-operator/files/4986974/PrometheusOperator.txt)

PFA the deployment of Prometheus Operator

[2020-07-28 09:03] brancz commented on #3338
You appear to be limiting the namespaces to "kube-system" and "prophecy", but the namespace you created is called "test". The Prometheus Operator can't see that namespace in this configuration.

[2020-07-28 09:05] vaishali-prophecy commented on #3338
So if I want the metrics to be picked from all namespaces or namespaces that I label a certain way, how should I do it? Should i remove this namespace arg altogether or what?

[2020-07-28 09:09] odelreym commented on #3353
Sure

Umm, I've just restarted the pod and I can see
"E0728 09:05:24.931515       1 operator.go:984] Sync "infra-mgmt/prometheus" failed: creating config failed: generating config failed: unmarshalling additional scrape configs failed: yaml: line 10: did not find expected key"

What is that?

[code]

[code]

[2020-07-28 11:46] rrpai opened #3371 "Deploying without thanos and podmonitors"
Hi All

- Our kubernetes cluster does not have Thanos or podmonitors
- The operator 0.40.0 version looks for thanos and podmonitors and fails
- Is there a way to disable it looking for them

logs
[code]
- I tried this in values.yaml in helm chart, but no effect

[code]

[2020-07-28 12:55] tarunptala commented on #644
This issue still persists, we are using `2.15.2`. let me know if anything we can do to enable this 3 `minutes` polling.

[2020-07-28 14:53] brancz commented on #3338
Yes, that would make the operator see all namespaces, but since you're limiting the namespaces ServiceMonitors are picked up from in your Prometheus, you are limiting it that way.

[2020-07-28 15:06] brancz commented on #3371
This is just about the CRDs, you don't need to make use of them. There is no way to disable watching for them.

[2020-07-28 15:09] brancz commented on #3353
Ah I finally see it. Your relabeling rules are not indented correctly. `regex` should be a sibling to `action`.

[2020-07-28 15:43] odelreym commented on #3353
Yes, you're right
It's very hard to see. I reduced to the minimum the configuration and I finally get it
Thanks @brancz

[2020-07-28 15:43] #3353 closed

[2020-07-28 15:44] nakfour opened #3372 "prometheus operator pod 0.37 is reporting error "Failed to list *v1.ThanosRuler: thanosrulers.monitoring.coreos.com is forbidden""
**What happened?**
We upgraded our operator to 0.37 on Openshift 4.4 and the prometheus operator pod (namespace bound) is reporting the error below.
[code]

**How to reproduce it (as minimally and precisely as possible)**:
Install the operator from the catalog
**Environment**
OCP 4.4

* Prometheus Operator version:
0.37.0

[2020-07-28 16:10] paulfantom commented on #3277
@kanadaj sounds to me like in your case root cause is different. Could you check if RBAC permissions allow prometheus-operator to read secret referenced in `bearerTokenSecret`?

[2020-07-28 17:18] brancz commented on #3372
My suspicion is that the the catalog entry was probably incorrectly bumped, and the permissions for this were not included.

[2020-07-28 18:46] nakfour commented on #3372
I checked the CSV for the operator, it does not have any rbac for "thanosrulers"

[2020-07-28 18:47] kanadaj commented on #3277
@paulfantom It should already have that:
[code]
It's present in both as a Role and ClusterRole and bound to prometheus-operator in the right namespace.

[2020-07-29 03:49] vaishali-prophecy commented on #3338
@brancz We could get our service monitor in the service discovery but targets is shown as 0/0 up. I am not sure what it means. You can access the prometheus here - http://prometheus.prophecy.southwest.cloud.prophecy.io/graph

I could see the metrics inside the pod which I am targeting by hitting localhost:8383/metrics but somehow these metrics are not available in Prometheus. Also, in Service Disc

[2020-07-29 07:23] brancz commented on #3372
Could you open an issue on the catalog repo about this? We don't maintain the catalog entry so we rely on the community to bump maintain those.

[2020-07-29 08:10] brancz commented on #3338
Does your `Service` actually select your `Pods`? Judging by the data in the service discovery page this does not seem to be the case.

[2020-07-29 09:31] vaishali-prophecy commented on #3338
Yeah you are right. Thanks alot @brancz . This worked..

[2020-07-29 09:53] brancz commented on #3338
Happy we were eventually able to make it work :)

[2020-07-29 09:53] #3338 closed

[2020-07-29 10:04] vaishali-prophecy commented on #3338
Also just one more question, is it mandatory to put label `app: prometheus` on service monitor for it to be picked up by prometheus? @brancz

[2020-07-29 12:44] brancz commented on #3338
You can just set the `serviceMonitorNamespaceSelector: {}` then it will select ServiceMonitors from all namespaces.

[2020-07-29 12:46] yaminisridaran opened #3375 "Required SecurityContext allowPrivilegeEscalation: false and capabilities configuration in prometheus crd"
I am using Prometheus operator version v0.31.0
SecurityContext runasUser and FSGroups in prometheus crd works fine.
When I configure SecurityContext allowPrivilegeEscalation: false and capabilities configuration in prometheus crd. SecurityContext for allowPrivilegeEscalation: false and capabilities is not applied on the prometheus pods.

With PSP restricted the prometheus pods applies SecurityCont

[2020-07-29 12:54] brancz commented on #3343
Are all these objects in the same namespace?

[2020-07-29 13:27] brancz commented on #3375
This is just because of the outdated API and client-go dependencies in that version. Could you update to the latest version of Prometheus Operator?

[2020-07-29 14:23] ngc104 commented on #3296
Hello
Any news on this feature?

[2020-07-29 14:24] brancz commented on #3341
Could you share if there the events for the Prometheus pod?

[code]

[2020-07-29 20:32] roidelapluie commented on #3150
Hello,

For anyone stumbling into this issue: we have lots of users reporting data corruption with EFS. It should be avoided.

[2020-07-29 21:22] nakfour commented on #3372
@brancz do you have a link to that repo?

[2020-07-30 02:14] yaminisridaran commented on #3375
@brancz Can I configure the security context allowPrivilegeEscalation: false and capabilities directly in the prometheus crd

[2020-07-30 02:57] jon-walton commented on #3119
Hi @paulfantom I'm in the same situation. I have a redis exporter that cannot be close to redis itself (Azure managed redis). What is the best practice for deduping data at the prometheus level without thanos or cortex?

(sorry, I've searched but only came up with thanos/cortex as a solution. I'm hopeful for a short term solution while I plan out a cortex deployment)

[2020-07-30 03:15] yaminisridaran commented on #3375
@brancz I tried below mentioned prometheus crd configuration.
[code]

Output Prometheus Pod:
[code]

[2020-07-30 05:42] brancz commented on #3372
I believe it is https://github.com/operator-framework/community-operators

[2020-07-30 05:46] brancz commented on #3119
No matther whether you are using Cortex or Thanos, you will always want two Prometheus instances for high availability reasons. If you don't have control over the targets themselves, then I recommend still running 1 exporter per process of a system.

For query time deduplication, you can just use the Thanos querier and none of the other components, which would simplify your setup a lot if that's a

[2020-07-30 05:47] brancz commented on #3375
That's strange, this will need a deeper investigation then.

[2020-07-30 06:24] yaminisridaran commented on #3375
@brancz  Only the below mentioned securityContext is getting reflected not the allowPrivilegeEscalation: false and capabilities.

securityContext:
    fsGroup: 65534
    runAsGroup: 65534
    runAsNonRoot: true
    runAsUser: 65534

I noticed the helm charts for prometheus crd also contains in the stable repo also contains only the above mentioned securityContext

[2020-07-30 11:21] yaminisridaran commented on #3375
@brancz Can you please help me with this issue

[2020-07-30 15:58] Yalafeg opened #3378 "collectd_exporter"
Hello,

collectd_exporter  plugin "https://hub.docker.com/r/prom/collectd-exporter/" is usually used with prometheus to be able to automatically collect metrics from multiple servers. Is it a feature that can be easily added to this code? Is it planned to add the collected feature to this code?

Regards,

[2020-07-30 17:40] myuser-git commented on #3363
After re-installing Prometheus though Helm using the --set prometheus.prometheusSpec.serviceMonitorSelectorNilUsesHelmValues=false option, the problem went away. Marking the issue as closed.

[2020-07-30 17:40] #3363 closed

[2020-07-30 18:52] paulfantom commented on #3378
This would be out of scope for the project. Usually, you deploy your application in a way you prefer and add a ServiceMonitor to allow prometheus scraping it. More in https://github.com/coreos/prometheus-operator/blob/master/Documentation/user-guides/running-exporters.md

[2020-07-31 07:53] jizi commented on #3277
Hi @paulfantom seems we have the same issue as @kanadaj on version 0.39.0.
We tried different setups:
1. prometheus-operator in monitoring ns
   deployment of monitored app `X`, secret, servicemonitor in ns `X`
2. prometheus-operator and secret in monitoring ns
   deployment of monitored app `X`, servicemonitor in ns `X`
3. prometheus-operator and secret and servicemonitor in monitoring ns
   depl

[2020-07-31 09:13] jizi commented on #3277
Sorry, my bad. I had bug in ServiceMonitor definition. So I can confirm it works in 0.39.0

[2020-07-31 09:30] brancz commented on #3277
@jizi could you share for everyone what the culprit was? Maybe it's helpful for the next person who encounters it and maybe we can do a better job validating the CR :)

[2020-07-31 10:10] jizi commented on #3277
I somehow made a shortcut checking the documentation (https://github.com/coreos/prometheus-operator/blob/master/Documentation/api.md#endpoint) that `v1.SecretKeySelector` is the whole structure used in e.g. deployment to set the env:
[code]
and had there these two extra levels `valueFrom` and `secretKeyRef`.
So definitely my bad. The documentation is correct in this.

[2020-07-31 11:14] ehsanrocket commented on #3343
yes
I think I found the probles
the serviceAccount:: prometheus  was not created after changing it to the proper serviceAccount prometheus instance pod created

[2020-07-31 11:15] #3343 closed

[2020-07-31 14:41] kanadaj commented on #3277
@jizi Shouldn't it be:
[code]
?

According to the CRD:
[code]
Also, `secretKeyRef` isn't `v1.SecretKeySelector` but `v1.EnvVarSource` and `valueFrom` is `v1.EnvVar`

[2020-07-31 15:00] jizi commented on #3277
Exactly, what I mentioned in my previous comment was the buggy version.

Wrong
[code]
Corrrect
[code]

With the correct version I was able to make it work in 0.39.0.

[2020-07-31 23:57] #3354 closed

[2020-08-01 00:01] spencergilbert commented on #3277
I think I did the same as @jizi, I tried again today on 0.38.1 and it is working :man_shrugging:

[2020-08-01 08:32] liguozhong opened #3380 "Upgrade the mod dependency of Prometheus"
https://github.com/prometheus/prometheus/releases/tag/v2.19.3

[2020-08-03 08:58] christiangda commented on #3380
Is the version [v2.20.0](https://github.com/prometheus/prometheus/releases/tag/v2.20.0) already supported?

[2020-08-03 09:23] brancz commented on #3380
Feel free to send us a PR :)

[2020-08-03 09:28] lilic commented on #3380
@christiangda  Version 2.20 of promethus is supported by the Prometheus operator.
https://github.com/coreos/prometheus-operator/blob/566b18b2c9bf62ff3558804a69de5e1127ce8171/Documentation/compatibility.md#prometheus

or are you also asking about bumping the dependency in go.mod like the original requester?

In any case PRs for bumping go.mod if we have not yet, are very welcome! 🎉

[2020-08-03 13:02] daurnimator commented on #3262
.

[2020-08-03 18:09] scott2449 opened #3381 "Secure Prometheus Config Reload"
**What is missing?**
The current reload works via /-/reload endpoint which requires web.enable-lifecycle which also allows prometheus to be killed with /-/quit. For those of us exposing the Prometheus endpoint this is very problematic. Fortunately there is much better way to do this! https://kubernetes.io/docs/tasks/configure-pod-container/share-process-namespace/ (since 1.10). Once this is enable

[2020-08-03 18:10] scott2449 commented on #3381
When I say current I am specifically talking about https://github.com/coreos/prometheus-operator/blob/master/cmd/prometheus-config-reloader/main.go

[2020-08-04 00:58] sjentzsch commented on #3337
@brancz would you mind reviewing?

[2020-08-04 07:45] brancz commented on #689
It is now possible to configure an enforced sample limit on Prometheus side, as well as a sample limit on ServiceMonitors/PodMonitors. In the future we may also add exceptions to the enforced limit for example for the kube-state-metrics case mentioned above.

[2020-08-04 07:45] #689 closed

[2020-08-04 07:56] yxyx520 commented on #3119
yep, it helps me a lot.

[2020-08-04 08:28] #3337 closed

[2020-08-04 08:44] brancz commented on #3381
Yeah I think this is a great one, we were waiting for the feature to be ubiquitous enough so that we could make use of it for this. I think there should be an old issue somewhere about this as well. If you would like to fix this, please go ahead! :)

[2020-08-04 10:23] kam1sh opened #3383 "ServiceMonitor added but no targets discovered (0/0 up)"
Hi! Firstly, thank you for the Prometheus operator and the whole kube-prometheus stack. It's awesome that such work exists =)

I'm kinda new to k8s. and only recently I deployed kube-prometheus on our cluster.

**What did you do?**

I have a few services in the default namespace, one of them is a Caddy web server with prometheus metrics plugin.
This morning I added **ServiceMonitor** for that serv

[2020-08-04 12:18] tarunptala commented on #2759
hey

we also see high memory usage issue with `quay.io/prometheus/prometheus:v2.15.2` used prometheus operator to deploy prometheus.
`k8s 1.11+`

[2020-08-04 15:21] lilic commented on #2759
@tarunptala yes this should be resolved in recent Prometheus versions, are you able to upgrade? If not just dropping the amount of series is another option.

[2020-08-04 15:23] mzupan commented on #2759
I solved it by forcing 2.19.3 in the helm chart to install and not the default one.

Also using victoriametrics as a backend and only having prometheus save 30min of metrics.

[2020-08-04 17:16] christiangda commented on #3380
Hi @lilic and @brancz

Since yesterday I'm trying  to update/upgrade `prometheus-operator` dependencies and guided by versions on [prometheus go.mod](https://github.com/prometheus/prometheus/blob/master/go.mod) without any success.

When I tried to use the latest version of prometheus project dependency many of the project dependencies broke.  Of course, nothing new for you, I supposed you are up

[2020-08-05 07:40] kam1sh commented on #3383
Interesting. I found that on Prometheus service discovery page labels mentions different service, message-gate. I didn't configured ServiceMonitor for message-gate, that's weird...
![image](https://user-images.githubusercontent.com/14600211/89385221-ef6f1980-d707-11ea-95c4-255a918b2873.png)

[2020-08-05 07:43] brancz commented on #3380
We tend to pin to specific commits or just `@master`. That so far has worked out just fine. Some of us are Prometheus maintainers, so yes that conversation does happen, but there is no conclusion yet, there are a couple of paths that the Prometheus project may go down and it's not decided yet.

[2020-08-05 07:50] brancz commented on #3383
That's due to the implementation details of how ServiceMonitors generate Prometheus service discovery (prometheus service discovery essentially discovers all services and the ServiceMonitor generates Prometheus relabeling rules that act as the same as a label selector).

Can you in the service discovery page see the Service that you meant to select at all?

[2020-08-05 07:56] kam1sh commented on #3383
@brancz You mean that? Yes, I see labels that mentions my service:
![image](https://user-images.githubusercontent.com/14600211/89386618-fb5bdb00-d709-11ea-9ebd-90d113d05ca2.png)

[2020-08-05 08:04] brancz commented on #3383
Your ServiceMonitor specifies scraping a port that is not defined on the Service.

[2020-08-05 08:15] kam1sh commented on #3383
@brancz You're right! I've added this port to both container specification in deployment and servcice and now it 0/1 as I expected. The rest is up to me.

*Thank you.*

[2020-08-05 08:15] #3383 closed

[2020-08-05 11:11] paulfantom opened #3386 "RFE: Remove vendor/ directory"
Since adding modules in golang, `vendor/` directory is not needed anymore. Removing it will reduce repository size, provide better developer experience when reviewing PRs and simplify tooling code in few cases as we won't need to ignore files in the directory.

/cc @brancz @lilic @metalmatze @s-urbaniak

[2020-08-05 12:09] byakku commented on #3344
In case someone will be looking for the error here - I had to redeploy CRDs, somehow I had totally different resources and that's why it was firing the same error.

[2020-08-05 12:13] metalmatze commented on #3386
If we (already) point the CI to use the proxy.golang.org then I'm fine with that. Might be the default in Go now anyway. :blush:

[2020-08-05 12:27] paulfantom commented on #3386
Indeed `proxy.golang.org` is [the default in go 1.13+](https://golang.org/doc/go1.13#introduction)

[2020-08-05 14:26] paulfantom commented on #3273
Closing as this is done after https://github.com/prometheus-operator/prometheus-operator/pull/3384 and https://github.com/prometheus-operator/kube-prometheus/pull/630

[2020-08-05 14:26] #3273 closed

[2020-08-05 14:48] #3386 closed

[2020-08-05 15:55] demisx opened #3388 "PrometheusMissingRuleEvaluations Warning Fired"
Hello. I get this warning alert periodically fired in production cluster. It is very distracting and I can't find any info on how to resolve it.  The cluster appears to be working normally.

[code]

**Environment**

* Prometheus Operator version:

[code]

* Kubernetes version information:

[code]

* Kubernetes cluster kind:

KOPS 1.16

* Manifests:

[code]

[2020-08-05 16:01] ryanj opened #3389 "New Logo?"
Feature: New Logo

The current logo could use some work

1. Are there any clear guidelines for new logo submissions?  Does CNCF have guidelines that we need to follow?
2. Have any suggestions on how to wrangle concept submissions? (aside from attaching images in comments below?)

[2020-08-05 16:14] christiangda commented on #3380
Hi @brancz ,

Thank you for your comments about it.  I hope both teams in a short time find a solution that allows mortals like me to help in this project.

I have been using both projects intensively like the majority, and I customized my job here
[https://github.com/slashdevops/kube-visibility](https://github.com/slashdevops/kube-visibility)

Which is just like [kube-prometheus](https://github.c

[2020-08-05 17:12] lilic commented on #3389
Thanks for opening the issue! 🎉

There are no guidelines, the current logo does not use any existing CNCF logos it was purely just symbols that indicate Prometheus and Kubernetes, so I would like to stay in this direction and not use directly the logos of the projects as to not violate any guidelines. I am also not sure if the current one violates any.

[2020-08-05 17:24] paulfantom commented on #3389
note: prometheus-operator is not (yet) a CNCF project.

[2020-08-05 17:51] brancz commented on #3380
You know that we generate a kustomize compatible config as the default in kube-prometheus? :)

[2020-08-05 17:56] scottrigby commented on #3169
Hello everyone! I was here from Freenode #prometheus-dev IRC channel, where I'm discussing moving the `stable/prometheus-operator` helm chart to a new home in advance of the `stable` and `incubator` helm repo deprecation this November (see https://github.com/helm/charts/issues/21103 for tracking that progress overall).

Related to this issue discussion, I want to mention that as of Helm `3.1.0` th

[2020-08-05 18:01] scottrigby commented on #3169
I should also note we have created Helm GitHub actions to make this an easy process, and myself and several others are volunteering to set up the new homes for these charts with essentially the same CI/CD as github.com/helm/charts use today. I also suggest using a separate git repo for the charts, and bringing in previous history from stable the stable chart(s) (git filter-branch etc) to not only

[2020-08-05 21:36] ajcann opened #3391 "WAL Recovery Restart Loop (EKS)"
I would like to re-open https://github.com/prometheus-operator/prometheus-operator/issues/3094 as we're experiencing this in a cluster which generates a great deal of metrics. In the event of a prometheus restart the WAL replay consistently takes longer than the liveness probe / readiness probes resulting in a restart loop.

[2020-08-06 06:37] christiangda commented on #3380
@brancz yes I do, in fact, those manifest was what I was using for a long time.

The problem where when I started to use fluxcd (GitOps Operator) and the job of keeping those manifest updated in an easy way.  Believe me, IO tried with bash scripts (curl the main) into my CI pipeline, etc.   At the end of the day, I found `kept` which is an amazing tool that allows you to establish a contract (like

[2020-08-06 07:28] brancz commented on #3380
I'd be curious to hear what we could do better to support kustomize (and kpt) better for kube-prometheus, I'd love to make that happen. Generally it works out for the best when we all work together :slightly_smiling_face: .

[2020-08-06 07:45] lilic commented on #3169
I am curious @scottrigby you mentioned you would help setup, but who would maintain these charts? My fear of adding them to our org is that we the maintainers of the org would eventually be responsible for them which has happened in the past. Wonder why did they not move just within the helm organization, and why is there a need to move it to each org instead of under `helm` for example?

I am not

[2020-08-06 08:35] brancz commented on #3169
I kind of agree with @lilic's direction. Projects don't tend to maintain all flavors of deb, rpm, flatpak, snap, ebuilds, pacman, etc. either. I guess the biggest problem I have with putting it in the prometheus-operator org is a kind of "endorsement" that that would give towards that solution, which does not exist in the current set of maintainers. I'm all for enabling the community to have helm

[2020-08-06 11:56] samuelvl commented on #2917
Was this feature finally implemented? Is it possible to enable remote_write only for one replica?

[2020-08-06 12:05] brancz commented on #2917
As described in the discussion, the requested feature is already possible. You cannot just enable remote write for one replica, but you can create two identical Prometheus objects and have the only difference be the remote write configuration.

[2020-08-06 12:06] brancz commented on #2917
I'm going to close this as the initial request in this issue is possible, and is at most lacking some documentation. If there are other issues please feel free to open a new issue describing is believed to be a problem with the prometheus operator. Thanks! :)

[2020-08-06 12:06] #2917 closed

[2020-08-06 15:09] bia commented on #3389
I made some sketches today, they might be a little too complex.
Should we pursue any of these?
Any more ideas for changes?

![200806prom-operator1](https://user-images.githubusercontent.com/92439/89548426-51fb0f00-d807-11ea-890f-afb3f9d8110a.png)
![200806prom-operator2](https://user-images.githubusercontent.com/92439/89548429-532c3c00-d807-11ea-908e-05efae74d47d.png)
![200806prom-operator3](https:

[2020-08-06 15:26] brancz commented on #3389
Wow thank you so much for doing this @bia! I personally really like the 3rd one, I would just want to double check with the CNCF that this doesn't violate trademark uses. (maybe we should just apply for CNCF sandbox project and solve that issue once and for all? :smile: )

[2020-08-06 15:36] lilic commented on #3389
Thanks Bianca! Much better than my attempt :D 🎉 ❤️

Seems like it is trademarked sadly :( https://www.linuxfoundation.org/trademark-usage/

Maybe we could combine just a simple fire image with the wheels from the Kubernetes logo. Ones that are not taken directly from Prometheus or Kubernetes?

[2020-08-06 15:39] bia commented on #3389
Ok! I’ll try that. :D
Thanks for the feedback @brancz @lilic

[2020-08-06 15:39] s-urbaniak commented on #3389
Wonderful, thank you!! :tada:

[2020-08-06 21:02] scottrigby commented on #3169
@lilic to start it sounds like it would be two of the [current maintainers](https://github.com/helm/charts/blob/master/stable/prometheus-operator/OWNERS) (I just reached out to the third again to check in, they had stepped back for a time but wanted to remain present to help merge PRs as needed), and also at least one more person [volunteered](https://github.com/prometheus-community/community/issu

[2020-08-06 21:09] scottrigby commented on #3169
@brancz OK that makes sense, especially with what @lilic is saying 👌

Since you are [sponsoring](https://github.com/prometheus-community/community/issues/28#issuecomment-669932123) the prometheus-operator chart for prometheus-community, and prometheus-operator devs feel the prometheus-operator org is not the ideal home for the chart, it sounds like we can follow up in https://github.com/prometheus

[2020-08-07 09:03] brancz commented on #3388
This can be very dangerous, it means your Prometheus may not be able to evaluate rules at the rate you're asking it to, this can lead to alerting rules not being evaluated.

[2020-08-07 09:29] brancz commented on #3391
As mentioned in other threads, I would prefer to keep focusing on improving Prometheus here and performing one time recoveries in cases like yours by setting `paused: true` in the Prometheus object, extending the liveness probe so the Prometheus is able to recover, and then remove `paused: true` again and let the Prometheus do a clean restart.

[2020-08-07 11:06] RiRa12621 opened #3393 "0.41 release still references old home of prometheus-operator in go.mod"
https://github.com/prometheus-operator/prometheus-operator/blob/f194e0349816f4ad18ab1d443ef47c424e7b6c40/go.mod#L1

leading to errors like

[code]

[2020-08-07 12:23] matthiasr commented on #3097
#3395 in an attempt to do this.

[2020-08-07 14:51] bia commented on #3389
The wheel from the kubernetes logo has got 7 points (like the heptagon that contains it). Another 7 pointed wheel would look too similar to the logo and 6 or 8 pointed wheels look wrong :

![200807prom-operator3](https://user-images.githubusercontent.com/92439/89657372-43772b00-d8cd-11ea-9fc2-a8e2cc560a69.png)

So I tried this
![200807prom-operator4](https://user-images.githubusercontent.com/92439

[2020-08-07 15:21] paulfantom commented on #3389
I love those!

I do prefer the first one though (flame in a blue wheel) as the second one is very similar to what people use in architectural diagrams when describing a prometheus instance in a kubernetes cluster. Especially considering [a number of official kubernetes logos which use blue heptagon as a background](https://github.com/kubernetes/community/tree/master/icons#control-plane-components-

[2020-08-07 18:55] TechIsCool commented on #3391
#3211 has a great idea. I keep having to fix clusters in our platform because of this.

[2020-08-07 19:19] ajcann commented on #3391
What I've done for now is something like
[code]
combined with a persistent volume claim about 5x of max retention size in order to check around the checkpoints not being able to write to disk.

[2020-08-07 20:22] ajcann commented on #3391
This is certainly a good way to manually resolve the issue, but we have dozens of clusters running workloads 24/7, which I imagine isn't that unusual, so automatic recovery is a must for us.

[2020-08-07 20:40] bia commented on #3389
Good point @paulfantom - how about this then? Maybe we can get away with it? 😉

![200807prom-operator5](https://user-images.githubusercontent.com/92439/89686603-ef853a00-d8fe-11ea-959c-04bb428e2f9b.png)

[2020-08-07 23:32] retr0h commented on #2255
Oddly my kubespray scheduler is running on a different port:

[code]

[2020-08-08 03:26] scott2449 commented on #3381
Will do! We are going to take a crack at this on our project. If it works well we'll make sure it's nice and tidy and submit a PR 👌

[2020-08-08 15:09] demisx commented on #3388
Any tips where to look for problem solution will be highly appreciated. I have a pretty simple cluster that's idle most of the time.

[2020-08-09 06:27] Saadwalami commented on #2359
any good news about this issue? because am having the same problem.

[2020-08-10 04:05] MartinForReal opened #3397 "collect dockerd metrics from node"
**What is missing?**

 I want to add a few ports to kubelet service in order to collect metrics data provided by dockerd.

**Why do we need it?**
I need to collect metrics data from the node.

**Environment**
docker 19.03.12

* Prometheus Operator version:

v0.40.0

**Anything else we need to know?**:
none

[2020-08-10 06:26] #3371 closed

[2020-08-10 10:14] paulfantom opened #3399 "Create a security policy"
**What is missing?**

Proper security policy file instead of [a readme section](https://github.com/prometheus-operator/prometheus-operator#security)

**Why do we need it?**

For easier discoverability and integration with [github tooling](https://docs.github.com/en/github/managing-security-vulnerabilities/adding-a-security-policy-to-your-repository)

[2020-08-10 10:33] lilic commented on #3389
Happy with this as well! Thanks Bianca! @prometheus-operator/prometheus-operator-reviewers PTAL :)

[2020-08-10 11:15] bia commented on #3389
Brilliant! Where should I upload svg and transparent png?

[2020-08-10 11:46] squat commented on #3389
+1 from me

[2020-08-10 12:16] lilic commented on #3389
@bia do you mind creating a PR to add it to the repo itself? After that we can manually change it. Thanks! 🎉

[2020-08-10 12:17] brancz commented on #3388
I would check which rules and or rule groups are taking a long time to evaluate. Long evaluation times are most likely the cause of it.

[2020-08-10 12:22] lilic opened #3400 "Expose EnforcedSampleLimit as metric"
EnforcedSampleLimit defines global limit on number of scraped samples and overrides any existing limits set for PodMonitor and ServiceMonitor.

**Why do we need it?**
Having this value in a metric allows us to create an alert to warn the admin that they are getting close to the limit, something like KubePersistentVolumeFillingUp alert. This means admin does not need to create this alert but it com

[2020-08-10 13:28] lilic commented on #3169
Thanks for your explanation! Happy to hear of that outcome, just want it to find a permanent home.

[2020-08-10 14:10] brancz commented on #3389
I love it! Thank you so much for taking the time for this @bia!

A really minor thing (and I really don't care if it's fixed or not, only if it's easy), it seems at the bottom half of the steering wheel, and the flame overlay there are slight edges showing.

[2020-08-10 15:09] bia commented on #3389
Thanks for the feedback @brancz ! It's no work at all to change. 🙂
What do you mean exactly?

Are you talking about these artifacts from my sketching? They will disappear when I transpar-ify the logo.
![200807prom-operator5](https://user-images.githubusercontent.com/92439/89798188-2a1fea00-db2c-11ea-8989-9f622e903742.png)

[2020-08-10 15:17] brancz commented on #3389
Ah perfect, yes those edges and a small circle-like dent in the lower tip over the steering wheel coming from the bottom of the flame.

Again thank you so much! Very grateful that you're spending your time on this! :)

[2020-08-10 15:57] brancz commented on #3397
I thought that this might happen one day. I think at this point I would prefer extracting the node sync into a separate component, I do think this is useful and we should allow configuring pretty much anything a user desires, but I think it needs a bit of a refactor/rewrite.

[2020-08-10 16:10] brancz commented on #3400
I think it's a bit more comparable to a CPU or memory, but I don't think which comparison matters here.

More importantly, there is an inconsistency here because technically a ServiceMonitor can be selected by multiple Prometheus objects, so it's ambiguous if two Prometheus objects selected the same ServiceMonitor what configuration to expose as a metric. I think because of this, in this situation

[2020-08-10 17:25] albertocsm commented on #3302
im facing a similar issue.
any value set on Prometheus's [volumeClaimTemplate.metadata](https://github.com/prometheus-operator/prometheus-operator/blob/master/example/prometheus-operator-crd/monitoring.coreos.com_prometheuses.yaml#L4528) is overwritten with an empty object.

[2020-08-11 07:23] lilic commented on #3400
Sorry for not being clear enough, my thinking was to have the metric be tied to the Prometheus object rather than the servicemonitor, and only when the EnforcedSampleLimit is set, we would not be able to set it for when individual servicemonitors set the sample_limit true. WDYT?

[2020-08-11 07:35] brancz commented on #3400
Ah yes, super nice idea, I didn't think of this. Sounds good to me.

[2020-08-11 08:08] lilic commented on #3302
Thanks for the report. I believe this might be due to your Kubernetes version. @albertocsm can you tell me what version of Kubernetes you are running where this problem happened?

[2020-08-11 08:26] lilic commented on #3302
Also note that most likely both PVCs stay around, so data is not lost fully, you just need to not delete the old PV.

[2020-08-11 09:11] paulfantom commented on #3389
I think we can put logo files in `Documentation/logos`.

[2020-08-11 10:10] prashantnitt07 opened #3401 "Does Grafana has persistent storage?"
Need grafana deployment yaml file which have persistent storage

[2020-08-11 10:11] #3401 closed

[2020-08-11 10:11] prashantnitt07 commented on #3401
not

[2020-08-11 10:21] albertocsm commented on #3302
v1.18.6

[2020-08-11 11:35] lilic commented on #3302
@mmiller1  Yes this was known as was part of the release docs, this was to fix a bug that was due to how Kubernetes changed the metadata retention. You will end up with two PVC and the newest one is the one that will continue to be used. You can migrate the data. Hope that explains it?

[2020-08-11 11:36] lilic commented on #3302
@albertocsm can you explain a bit more about your problem, is it exactly the same as @mmiller1 had? Did you migrate to a different version or can you provide what happened, thanks!

[2020-08-11 11:56] mmiller1 commented on #3302
@lilic, thanks for the response. We did end up rolling back the prometheus operator version so that the original PVC was rebound to the deployments. So is it known and understood that this functionality no longer works? if so should the documentation be updated to reflect this? Hopefully this isn't the case as we used it to work around issues in our PVC provisioner that has a pretty tight limit on

[2020-08-11 12:15] lilic commented on #3302
Yes this is a known, should be reflected in the docs in the PR already https://github.com/prometheus-operator/prometheus-operator/pull/3115/files#diff-b1a95f484fe1197853692d47abbfe919R199 Or did you find it other docs that maybe Paul missed? If yes we should fix it.

Now you need to use the
[code]

You need to use this type now for [Storage](https://github.com/prometheus-operator/prometheus-operat

[2020-08-11 14:20] Yalafeg commented on #3378
Hello,

Thank you for your reply, I was able to create the service and collect the metrics from an external server (plugin collectd installed).
My problem now is that I am unable to get those values in the Prometheus already configured and installed on Kubernetes. Note that Prometheus and the collectd_exporter service are installed on the same namespace. Do you have any idea?

Regards,

[2020-08-11 15:04] Yalafeg commented on #3378
In other terms, under prometheus target section, I am unable to see the collectd_exporter

[2020-08-11 15:39] MartinForReal commented on #3397
@brancz I would like to add a new operator to add node info to endpoint slice. Could you please help create a repo in prometheus-operator org please? I would send pr when I'm ready

[2020-08-11 17:45] scott2449 commented on #3381
Ooof at first I thought this was limited to the **configmap** reload... but the core reload is doing the same thing. IMO there should be 1 reloader to do both and neither should use the http endpoint. The unfortunately would require touching the operator helm, the operator itself, and the base helm. I pretty sure we are not going to get time for that... we also may need to abandon the operator com

[2020-08-12 06:48] #3389 closed

[2020-08-12 07:29] brancz commented on #3381
The fact that there are two reloaders is a bit of tech debt, there is no reason why they can't be one. You're of course free to choose tools as you wish, I highly doubt that rolling everything from scratch and not making use of the 4+ years of this project has in experience of operating, configuring and running Prometheus is less work than changing the reloader a bit. Again you're of course free t

[2020-08-12 07:43] brancz commented on #3397
On a second thought, maybe it's time to just remove this functionality entirely and make use of Prometheus' Kubernetes node service discovery directly. This was created in a time where the `additionalScrapeConfigs` feature didn't exist and we had to have an `Endpoints` object to collect cAdvisor and kubelet metrics.

[2020-08-12 07:45] s-urbaniak commented on #3397
Definitely a :+1: on deprecating the whole `--kubelet-service` and moving it into a small component of its own. prometheus-operator should be agnostic on the actual monitoring targets and leave it up to the user _how_ kubelet monitoring is being set up. We can provide guidance of course, by providing example manifests, jsonnet in kube-prometheus, etc.

[2020-08-12 08:06] brancz commented on #3397
Maybe we can start by documenting how to make use of `additionalScrapeConfigs` to discover nodes, add it to kube-prometheus (and disable the `--kubelet-service` flag in kube-prometheus) and then deprecate the functionality here. I wouldn't even create the separate component unless a clear need for it arises again.

[2020-08-12 08:09] paulfantom commented on #3397
I agree, we should deprecate `--kubelet-service` and promote usage of `additionalScrapeConfigs` option instead. Doing this in kube-prometheus sounds like a good first step.

[2020-08-12 08:36] coderanger commented on #3381
@scott2449 If you are exposing things through an Ingress, you can map the whole `/-/` path prefix to a different service, presumably one that does nothing but returns a 404 for all requests or similar.

[2020-08-12 08:38] coderanger commented on #3397
If the only thing being changed is the port, you can specify the port as an override in the ServiceMonitor anyway.

[2020-08-12 08:58] fculpo commented on #2500
Having the exact same thing with kube-prometheus trying to reach kube-rbac-proxy
TLS handshake error from 10.36.227.174:52888: tls: first record does not look like a TLS handshake

[2020-08-12 09:20] brancz commented on #3397
Yes this is what we do to collect cri-o metrics today as well.

[2020-08-12 11:44] bibincatchme commented on #2558
Hello,

For grafan persistent storage on prometheus-operator, I've tried the above code in values.yml file but the volume gets deleting when I uninstalling the prometheus-operator helm chart.

[code]

Storageclass.yml
[code]

Why it happened, ?

[2020-08-12 13:50] MartinForReal commented on #3397
I see. Thanks for the info.

[2020-08-12 13:50] #3397 closed

[2020-08-12 14:59] paulfantom opened #3408 "Reconciliation loop latency metrics"
**What is missing?**

Reconciliation loops duration histogram metrics.

**Why do we need it?**

With such metrics, we can have better insight into the internal workings of prometheus-operator and possibly alert on increased latency of reconciled resource.

**Environment**

* Prometheus Operator version:

[code]

**Anything else we need to know?**:

[2020-08-12 17:12] metalmatze commented on #3408
It would be great to experiment with adding a Histogram and see if we get enough data, otherwise maybe a Summary is good?

[2020-08-13 08:52] s-urbaniak opened #3410 "--deny-namespaces skips *v1.Status events"
**What happened?**

During an unrelated experiment https://github.com/prometheus-operator/prometheus-operator/pull/3409 it occurred to me that the existing deny listing watch logic which filters namespaced objects only can miss Watch events, i.e. `*v1.Status` event object types.

https://github.com/prometheus-operator/prometheus-operator/blob/5c3520960e179458c0c98dae94d4cae65f71aa7f/pkg/listwatch/

[2020-08-13 09:04] erickpeirson commented on #3150
@roidelapluie Are you able to share any more info about these reports? I note the discussion of non-POSIX filesystems in the docs, and Google turns up anecdotes, but would love to read more about the specific cases you're seeing (if possible).

[2020-08-13 09:12] roidelapluie commented on #3150
https://github.com/prometheus/prometheus/issues/5617

[2020-08-13 09:58] s-urbaniak commented on #3410
suggestion: let's refactor the denylist logic as a follow-up to the planned refactoring of multilistwatcher.

We learned that providing a custom `ListWatcher` interface always causes unexpected side-effects with the underlying client-go machinery as experienced in [1] and [2].

[1] https://github.com/prometheus-operator/prometheus-operator/issues/3218
[2] https://github.com/prometheus-operator/pro

[2020-08-13 13:30] #3378 closed

[2020-08-13 13:52] n1kofr opened #3411 "Service Sync - spec.ipFamily: Invalid value: "null": field is immutable"
**What happened?**

After deploying Prometheus Operator, the operated services are properly created, but the sync is failing due to the error:

[spec.ipFamily: Invalid value: "null": field is immutable, spec.ipFamily: Required value]

**Did you expect to see something different?**

Prometheus Operator should be updated to manage the "spec.ipFamily"

**How to reproduce it (as minimally and precisel

[2020-08-13 15:12] scott2449 commented on #3381
Well we already had most of it. This was just to kill some of that custom stuff. I finished a container that does this reliably with just a few lines of shell yesterday. Going to talk to my team today and see if they agree I taking a second pass just attempting to shim my reloader into the main reloader spot (just using the prom helm and not the operator, which is still an upgrade from us from the

[2020-08-13 15:14] scott2449 commented on #3381
https://gist.github.com/scott2449/ec0b81edbfe41170830df6a3beb2b2f3

[2020-08-13 15:21] scott2449 commented on #3381
We use an istio virtual service ingress, we also have auth/https in front of it. We'd also want to block it from everything else even within the mesh. I don't argue it could be done. My point is that this is much more secure and clean.

[2020-08-13 15:24] scott2449 commented on #3381
Also added the yaml so folks can see the process namespace share and shared configmap setup

[2020-08-14 00:16] coderanger commented on #3411
Should be fixed regardless but out of curiosity are you running in dual-stack mode?

[2020-08-14 00:18] coderanger commented on #3150
I think we can probably close this out, I don't think the operator has any issues here, it uses whatever volume claim template is specified (other than requiring it be RWO). The goodness or badness of using NFS with Prometheus is an upstream concern.

[2020-08-14 00:28] n1kofr commented on #3411
We are trying to... but RKE does not support this type of deployment yet. So it is not yet finalized.

And the feature gate "IPv6DualStack=true" is enabled on our cluster.

[2020-08-14 00:32] coderanger commented on #3411
Okay, that probably explains why this hasn't been an error for everyone :)

[2020-08-14 12:43] atmosx commented on #2357
I needed to expand the PVC from 500Gi to 1000Gi and came across a similar issue on AWS, using `storageClass: wait-consumer-gp2` with `allowVolumeExpansion: true`.
 There are two issues:

1.  The `statefulSet` resource definition was successfully updated from 500Gi to 1000Gi but the PVC remained at 500Gi. I had to edit the PVC resource manually to kickstart the expansion process.

2. Lack of proper

[2020-08-14 13:37] luconeb commented on #2552
Confirmed the same error, the alertmanager container into the pod is failing the probes, goes CrashLoopBackOff so the Service never gets a valid Endpoint:

[code]

Set the alertmanagerSpec.logLevel to **debug**, but the logs don't change:

[code]

Mine is a single alertmanager setup through the prometheus operator on **EKS**, alertmanager:v0.21.0, K8S 1.16
Same setup runs fine on vanilla kubernete

[2020-08-14 16:11] abelal83 commented on #2682
@brancz  would you recommend we install prometheus operator on every cluster with thanos sidecar? If so are there any guides on best practises with prometheus operator?

[2020-08-14 16:58] luconeb commented on #2552
This is confirmed to be AlertManager unable to access some resources (can't say which for lack of verbosity).

My setup was running on a specifically tainted node through tolerations, and the problem disappeared when using standard nodes. Clearly that node Alertmanager was trying to run on misses some access. I'll add more details if available.

[2020-08-14 22:14] yaroslavkasatikov opened #3412 "Issue with cross-namespaced servicemonitor"
Hello team,

Could you please assist me in this issue:

Scenario:
I have blackbox-exporter in central namespace (let's call this ns - cluster-command-center) and have servicemonitor into another namespace (let's call it vault). This servicemonitor is generated by helm, because target is dynamic (we may have several ns with such servicemonitor - vault1, vault2, vault-n etc and targets for blackbox

[2020-08-15 07:34] #3150 closed

[2020-08-17 10:11] paulfantom commented on #3262
As @brancz said, you need to pass your image name and tag/sha as a parameter `--config-reloader-image` to prometheus-operator binary.

[2020-08-17 10:11] #3262 closed

[2020-08-17 10:13] paulfantom commented on #3367
Done with https://github.com/prometheus-operator/prometheus-operator/pull/3407 and https://github.com/prometheus-operator/prometheus-operator/pull/3398

[2020-08-17 10:13] #3367 closed

[2020-08-17 13:50] abelal83 commented on #2990
Similar requirement for me, we have a cluster of alert managers already setup. I don't wish to use the one provided by operator, how can I disable built in and configure to only use my existing alertmanagers? From my understanding, this is how alertmanagers should be setup - not one alertmanager per cluster,

[2020-08-17 15:12] fernandocarletti commented on #3391
@ajcann did you try using the `initialDelaySeconds` setting in the probes? it sounds odd that prometheus operator leaves a huge failureThreshold.

I'm having a similar issue in EKS.

[2020-08-17 15:17] fernandocarletti commented on #3391
Actually, I just found this: https://github.com/prometheus-operator/prometheus-operator/pull/1232#issuecomment-382791578

As far as I understood, the `failureThreshold` was supposed to be set only in the readiness probe for having it ready ASAP instead of waiting for the full `InitialDelaySeconds`. Hackish, but kinda makes sense. Doesn't seem to fit the liveness probe case though.

[2020-08-18 08:56] Sayrus opened #3414 "Remote Write URL as a secret"
**What is missing?**

When configuring a Remote Write Endpoint, the URL itself cannot be configured from a secret.

**Why do we need it?**

Some providers (such as New Relic to name one) uses the Remote Write feature with an API key in a GET parameter. I'd like to be able to treat this API key (and therefore, the whole URL) as a secret and avoid having it in cleartext in the repository.

The URL l

[2020-08-18 09:11] coderanger commented on #3414
Oy yep, looks like that's a thing. Should be addable to the RemoteWriteSpec and RemoteReadSpec objects. /me sighs in "HTTP has features for this but of course no one uses them".

[2020-08-18 13:56] simonpasquier opened #3416 "Move quay.io/coreos/instrumented-sample-app image to the new org"
**What is missing?**

the [quay.io/coreos/instrumented-sample-app](https://quay.io/repository/coreos/instrumented-sample-app) image hasn't been moved to the new prometheus-operator organization. For reference it's used in the [e2e tests](https://github.com/prometheus-operator/prometheus-operator/blob/0b2321d2bd52d887d7d3fec4349f59cc6a9be73d/test/framework/ressources/basic-auth-app-deployment.yaml#

[2020-08-18 14:07] paulfantom commented on #3416
I would suggest we combine [instrumented-sample-app](https://github.com/prometheus-operator/prometheus-operator/tree/master/test/instrumented-sample-app) with [brancz/prometheus-example-app](https://github.com/brancz/prometheus-example-app) and either create new repository in prometheus-operator org or reuse https://github.com/brancz/prometheus-example-app

[2020-08-18 15:29] s-urbaniak commented on #3414
We also have basic auth settings exposed as native fields. We have precedence in TLS configuration for referencing secrets, but I agree we should think about protecting more fields.

[2020-08-19 07:41] antonLebiedyntsev opened #3419 "Prometheus do not update config for fluent bit metrics."
Using helm chart of prometheus operator.
Added config for prometheus operator for
`  - name: "fluentbit-metrics-monitor"
    selector:
      matchLabels:
        app: fluent-bit
    namespaceSelector:
      matchNames:
        - logging
    endpoints:
      - port: "metrics"
        interval: 30s
        path: /api/v1/metrics/prometheus
  additionalPodMonitors: []`

Fluentbit provides metrics as e

[2020-08-19 15:20] s-urbaniak commented on #3419
please file an issue with the helm repository https://github.com/helm/charts/tree/master/stable/prometheus-operator. This repository does not maintain them any more, see https://github.com/prometheus-operator/prometheus-operator/tree/master/helm.

[2020-08-19 15:20] #3419 closed

[2020-08-19 15:22] simonpasquier commented on #3414
Note that it would still be exposed in clear in the Prometheus configuration (from the `/config` and `/api/v1/status/config` endpoints).

New Relic has already been [told](https://github.com/prometheus/docs/pull/1705#issuecomment-665961617) that passing the license key in the URL isn't a good practice.

[2020-08-19 15:55] simonpasquier commented on #3414
@Sayrus thanks! I wasn't trying to dismiss your feature request but provide more context :-)

[2020-08-20 01:58] yxyx520 opened #3422 "monitor prometheus thanos sidecar support"
**What happened?**
sidecar thanos listen to a pod address like:
[code]
netstat -anp
[code]
curl in container
[code]

service
[code]

I think it should listen in 0.0.0.0 not pod ip , is that right?

**Did you expect to see something different?**

**How to reproduce it (as minimally and precisely as possible)**:

**Environment**

* Prometheus Operator version:

    `Insert image tag or Git SHA here`

[2020-08-20 02:01] #3422 closed

[2020-08-20 02:02] yxyx520 commented on #3422
sry my bad ,I made a mistake

[2020-08-20 05:54] s-urbaniak commented on #3412
Can you share the `Prometheus` custom resource definition? Especially please verify if `ignoreNamespaceSelectors` is set to true.

[2020-08-20 06:22] s-urbaniak commented on #3410
Continued investigation showed that we can leverage `FieldSelectors` (see https://kubernetes.io/docs/concepts/overview/working-with-objects/field-selectors/) in the style of `namespace!=foo,namespace!=bar,...` to implement the same functionality as the existing denylisting filter.

It also benefits from increased performance as the resultset is limited in the first place, without the need for in-p

[2020-08-20 06:23] s-urbaniak commented on #3339
A couple of investigational findings which we partially discussed OOB and partially found from my side as a continuation of the investigation:

- As far as I understand we cannot use `LabelSelectors` (or the type safe `LabelSelectorRequirement` variant) in conjunction with limiting the query results with a global listwatch, because a) namespaces cannot be specified using label selectors and b) a g

[2020-08-20 14:40] lurenjia528 opened #3425 "want prometheus recovery when node not-ready"
**What is missing?**
when node is not-ready, the prometheus(statefulset) status is 'Terminating' ,but don't  recreate on other ready node   .
**Why do we need it?**
prevent node not ready
**Environment**
k8s 1.14.2
* Prometheus Operator version:
prometheus-operator v0.23.1

**Anything else we need to know?**:
Hope similar effect with `https://docs.pingcap.com/zh/tidb-in-kubernetes/stable/use-auto-

[2020-08-20 15:38] devops2stay opened #3426 "How to scrape metrics from a exporter ( just binary ) running on a AWS VM using prometheus operator ? Does this combination work to begin with ?"
Have a exporter running on a AWS VM. Also have prometheus installed on Kubernetes. Wanted to know if we can monitor this exporter via prometheus operator ? - Meaning scrape metrics and view it in prometheus dashboard ( Targets )

[2020-08-20 16:32] devops2stay commented on #3426
I understand Prometheus operator is kubernetes native and can monitor kubernetes cluster instances. But I am not sure it can monitor an exporter running on an external AWS vm not managed under kubernetes. I heard about "custom configuration" and "virtual-IP-based-bridge" methods to accomodate this external setup. But if this is the case, need some guidance on how to go about implementing them. Tha

[2020-08-20 17:29] abelal83 commented on #2990
I got it working with this

[code]

[2020-08-20 18:18] devops2stay opened #3428 "How to scrape metrics from a exporter ( just binary ) running on a AWS VM using prometheus operator ?"
Have a exporter running on a AWS VM. Also have prometheus & prometheus operator installed on Kubernetes cluster. Wanted to know if we can monitor this exporter via prometheus operator ? - Meaning scrape metrics and view it in prometheus dashboard ( Targets )
I understand Prometheus operator is kubernetes native and can monitor kubernetes cluster instances. But I am not sure it can monitor an expor

[2020-08-21 09:06] PixelRobots opened #3430 "Unable to add target (RabbitMQ)"
**What did you do?**

Have existing RabbitMQ cluster running in k8s cluster with the Prometheus plugin enable and working. when using port forward I can see metrics.

**Did you expect to see some different?**

Expected to see the target in the ui and then be able to create a dashbaord.

**Environment**

Azure Kubernetes Service
K8s version 1.17.7

Prometheus operator in namespace called monitoring

[2020-08-21 11:48] scottrigby opened #3431 "Host the documentation on a public-facing website"
**What is missing?**

Question: do we want more easily browsable docs? Or is the goal to just point users here: https://github.com/prometheus-operator/prometheus-operator/tree/master/Documentation

**Why do we need it?**

This message at https://coreos.com/operators/prometheus/docs/latest/

**Environment**

* Prometheus Operator version:

    `all`

**Anything else we need to know?**:

Context is

[2020-08-22 05:57] lurenjia528 opened #3433 "hope add terminationGracePeriodSeconds support"
**What is missing?**
hope add `sts.spec.template.spec.terminationGracePeriodSeconds`  support

**Why do we need it?**
releate  to　`https://github.com/prometheus-operator/prometheus-operator/issues/3425` ,

if prometheus(sts) is running on node-1,when node-1 is down, the prometheus(sts) do not recreate on other ready node,
yeah,sts is design  so , https://github.com/kubernetes/kubernetes/issues/543

[2020-08-24 13:43] RickS-C137 opened #3437 "Credentials secret for basicAuth is not read/found"
**What did you do?**
I deployed a Helm chart containing an application, secrets and a servicemonitor.

**Did you expect to see some different?**
The servicemonitor should be scraped, so the metrics are collected by Prometheus.
I don't understand why the Prometheus can't read the credentials secret. We've done it for another kind of deployment similar to this one and it's working. Do I miss somethi

[2020-08-25 02:24] JohnRusk opened #3438 "Why does bundle.yaml include CRDs? Aren't the supposed to be auto-deployed when the Operator first runs?"
**What did you do?**

Looked at bundle.yaml.  It's huge.  Wrote my own yaml, without the CRDs in it, and deployed that instead.  That worked fine (I think), because the Operator deployed the CRDs when it first ran.

**Did you expect to see some different?**

Expected bundle.yaml to correspond to a realistic minimial scenario.  But, it has much more than that if its unnecessarily including the CRDs

[2020-08-25 02:33] coderanger commented on #3438
Letting an operator self-deploy its CRD files is a mixed bag. Mostly it means that the operator requires permissions to create and update those objects, which then presents a security question of "what badness could this do?". You can only restrict things by object name, but the CRD name as used in many places is part of the content of the document. So imagine a compromised operator changing its o

[2020-08-25 03:00] JohnRusk commented on #3438
Thanks for the amazingly quick response @coderanger!

After a bit more looking around, I found this commit: https://github.com/prometheus-operator/prometheus-operator/commit/05a8934c678134bffc83c401b091e6d0df651d6e#diff-5288dda836afe851d3d9d8bb31a0784f  by @dgrisonnet

Prior to that commit, the bundle YAML granted the operator the rights to install its own CRDs. I based my own YAML off an example

[2020-08-25 03:03] coderanger commented on #3438
re: points 4.i and 4.ii, those giant blobs of YAML don't go away, they just move. It would still be just as good an idea to review them as it was before but it's that much harder :)

[2020-08-25 03:07] JohnRusk commented on #3438
All the more reason for the Operator to obtain them automatically in a trust-worthy way ;-)    I.e. no-one is going to review those, no matter how they are distributed. So better to tighten and automate the distribution process.

[2020-08-25 04:02] JohnRusk commented on #3438
BTW: version 41 of the operator seems to only create _some_ of the CRDs. (So it doesn't actually work, if you try to rely on the auto-installed CRDs).  It creates this set:
[code]

Whereas version 38, which I'm using for now, creates these:
[code]

[2020-08-25 06:36] s-urbaniak opened #3439 "API deprecation policy"
So far prometheus-operator has no formalized API deprecation policy or documented stability guarantees. Taking as the precedence the conversation in https://github.com/prometheus-operator/prometheus-operator/issues/3089 I suggest to formalize and document our API guarantees and make it part of our readme and potentially a central documentation piece.

A first suggestion is to follow the Kubernetes

[2020-08-25 09:51] ne1000 opened #3454 "prometheus-k8s-1 always CrashLoopBackOff"
I have a issues, but I don't know if it's bug,  the prometheus-k8s-1 pod was always reboot，and prometheus-k8s-db uses NFS for persistence, how to fix it for me?

kubeadm version: 1.17.0
kubectl version: 1.17.0
kube-prometheus: v0.4.0
Docker version 19.03.4

`# kubectl get pods -n monitoring

NAME                                   READY   STATUS             RESTARTS   AGE
alertmanager-main-0

[2020-08-25 13:07] simonpasquier commented on #3327
I'll work on this one.

[2020-08-25 21:29] notjames opened #3442 "What is canonically correct way to `go mod download` `.../pkg/apis/monitoring/v1`"
What is the proper way to using go mod to obtain `"github.com/coreos/prometheus-operator/pkg/apis/monitoring/v1"`  that will not update all of my vendor libs? I just need to import the `v1` api there to set and read `servicemonitor`s in my clusters programmatically.

[code]
or
[code]

my imports
[code]

The actual code I'm using this library for looks like:
[code]

However, I cannot seem to just i

[2020-08-26 00:59] kyschouv commented on #3180
Is there any workaround for this in the meantime? We're trying to move toward OLM (or honestly any more stable way to manage operators in our clusters), but without a solution or workaround for this it seems like we may have to just wait?

[2020-08-26 06:53] notjames commented on #3442
Unfortunately, I had to bite the bullet and run `go mod tidy` which jerked versions around for the entire vendor library affecting ~950 files.

[2020-08-26 06:53] #3442 closed

[2020-08-26 08:15] MartinForReal opened #3443 "Fix package name in go.mod"
**What happened?**

I need to create servicemonitor object in my program. And when I try to compile my program. I found that the package name of operator is github.com/coreos/prometheus-operator

**Did you expect to see something different?**
I think it would be better if we renamed the whole project.

[2020-08-26 08:16] MartinForReal commented on #3443
workaround: I can still use github.com/coreos/prometheus-operator as package name to import code

[2020-08-26 08:37] simonpasquier commented on #3443
duplicate of https://github.com/prometheus-operator/prometheus-operator/issues/3393 :)

[2020-08-26 08:37] #3443 closed

[2020-08-26 12:17] grdryn commented on #3442
(I'm not a maintainer of prometheus-operator, but I hope some of the below might help)

What version of Go are you using (this might be relevant if people look back on this issue in future and get confused because tools have changed or something)?

I think using the `replace` directive in the `go.mod` file might help a little. See more info on that [here](https://golang.org/ref/mod). That might be

[2020-08-26 14:58] frederiksf opened #3446 "External service by start new node"
We are using prometheus with the prometheus operator and the servicemonitor. i would like to scrape the wmi exporter which is an external service running on the node off course without a k8s service.

Our k8scluster is dynamic where nodes come and go. How can i create an k8s endpoint on the moment a new node becomes ready?

I saw on the internet i can create a static endpoint but this is not worka

[2020-08-26 14:59] xander-sh commented on #2359
We have the same problem on k8s 1.17.4 and  vmware csi driver v1.1.0
After update vmware csi driver to v2.0.1 metric are present on kubelet.
I think you should find support this metric (or GetNodeVolumeStats) in you PV driver.
https://github.com/kubernetes-sigs/vsphere-csi-driver/pull/108/files

[2020-08-26 16:11] kam1kaze commented on #2866
The same issue here. When I added ServiceMonitor per each Statefulset (156 targets), CPU utilization dramatically increased (from 0.8 cpu to 4 cpu). I've switched to use only one ServiceMonitor for all Statefulset service and the load has dropped back.

![image](https://user-images.githubusercontent.com/2952868/91328399-90189c80-e7cf-11ea-9cb3-21d2f33bba3f.png)

BTW, prometheus_target_sync_length_

[2020-08-26 16:39] Cellebyte opened #3447 "Support External Target Scraping via the Probe CRD."
**What is missing?**

Support the Probe of External Targets and introduce those in a K8s native way.
This is currently not possible because the Probe CRD heavily relies on modules and a service running in K8s.

![image](https://user-images.githubusercontent.com/16540824/91331187-be47ad80-e7ca-11ea-9174-288c4b65f460.png)

**Why do we need it?**

Better management of monitoring of external systems w

[2020-08-26 17:43] lblackstone opened #3448 "Missing v0.38.2 container image"
**What happened?**
I was depending on the [0.38 bundle](https://raw.githubusercontent.com/prometheus-operator/prometheus-operator/release-0.38/bundle.yaml), which was just updated to point to quay.io/coreos/prometheus-operator:v0.38.2

However, this image doesn't exist: https://quay.io/repository/coreos/prometheus-operator?tag=v0.38.2&tab=tags

I just noticed that the repo was renamed, so perhaps

[2020-08-26 21:47] skob commented on #2207
same on v1.18.6 ubuntu

[2020-08-26 22:18] midnightconman commented on #2535
I am not sure if commenting on a closed issue is better than opening a new one... so I'll start here. If you guys want me to open a new issue, let me know.

I think we are confusing a couple of things here... The access mode of the PVC doesn't always mean that it will be accessed by multiple actors, especially when the volumeClaim is being used by a statefulset. When you have a volumeClaimTemplate

[2020-08-27 08:02] notjames commented on #3442
I'm using go version `go1.14.6`.

So the problem with the vendored files changing seemed to be mostly related to kubernetes libs. I can't speak to the specifics of what or why but after I ran `go mod tidy`, I ended up having to fix ~20 functions where `ctx` wasn't getting passed in as the first argument, so something seemed to force that requirement whereas before the run of `go mod tidy` those fu

[2020-08-27 08:05] notjames commented on #3442
I'm using go version `go1.14.6`.

So the problem with the vendored files changing seemed to be mostly related to kubernetes libs. I can't speak to the specifics of what or why but after I ran `go mod tidy`, I ended up having to fix ~20 function call arguments where `ctx` wasn't getting passed in as the first argument, so something seemed to force that requirement whereas before the run of `go mod

[2020-08-27 11:05] PixelRobots commented on #3430
Hello,

Nope, nothing is showing in the Prometheus targets page.

Sorry for being dumb here but how do I run the Prometheus operator with --log-level=debug

Config is below.

`global:
  scrape_interval: 30s
  scrape_timeout: 10s
  evaluation_interval: 30s
  external_labels:
    prometheus: monitoring/prometheus-operator-159794-prometheus
    prometheus_replica: prometheus-prometheus-operator-15979

[2020-08-27 11:59] simonpasquier commented on #3448
Yes there's been a hiccup in the release process because of the project renaming, https://github.com/prometheus-operator/prometheus-operator/pull/3444 should fix this and we need to trigger a new release.

[2020-08-27 12:01] simonpasquier commented on #3448
Ah we need another patch to fix the image location in the bundle YAML...

[2020-08-27 12:11] simonpasquier commented on #3430
Set the `logLevel` field to `debug` in the Prometheus spec.

[2020-08-27 13:00] PixelRobots commented on #3430
Hello, Sorry for this. I deployed via helm chart. I have looked at the yaml file for the running Prometheus pod and do not see the logLevel field.

Should I deploy via the budle.yaml instead?

[2020-08-27 13:12] simonpasquier commented on #3430
I assume that you can edit the prometheus-operator's deployment directly (.e.g. `kubectl edit deployments ...`).

[2020-08-27 13:57] PixelRobots commented on #3430
yes, I can edit the deployment. When checking the yaml I do not see logLevel under the spec.

`kind: Deployment
apiVersion: apps/v1
metadata:
  name: prometheus-operator-159794-operator
  namespace: monitoring
  selfLink: >-
    /apis/apps/v1/namespaces/monitoring/deployments/prometheus-operator-159794-operator
  uid: 897733d0-36d8-4758-ae84-9fb1f7f0fb35
  resourceVersion: '2409829'
  generation:

[2020-08-27 15:26] simonpasquier commented on #3430
Are you sure that the `rabbitmq` service is the correct namespace (e.g. `default`)?

[2020-08-27 15:29] PixelRobots commented on #3430
Hello yes 100% the RabbitMQ service is in the default name space.

[2020-08-27 15:34] emas80 opened #3450 "serviceMonitorNamespaceSelector doesn't work"
We have a problem on two different setup (which we call prod and prod-infra) with the namespace label selector: the service monitors are not found.
A third setup (stage), which to us looks EXACTLY like the other two, works perfectly well.

**What happened?**
This is the prometheus definition of the prod-infra, which DOES NOT work
[code]

This one instead works:
[code]
Yes, they look like the same

[2020-08-27 15:52] feliperoveran commented on #3450
according to the docs, you need to use `matchNames`

https://github.com/prometheus-operator/prometheus-operator/blob/master/Documentation/api.md#namespaceselector

AFAIK it doesn't support selecting namespaces by labels, but I might be wrong :)

[2020-08-28 10:30] emas80 commented on #3450
@feliperoveran
According to this

https://github.com/prometheus-operator/prometheus-operator/blob/master/Documentation/api.md#prometheusspec

what we've done is correct.

We have upgraded prometheus to 2.19.3 and the operator helm chart to the latest version 9.3.1 (we did not update helm operator has the latest version is not supported by the current chart because of the `probes` resource).

This

[2020-08-28 10:30] #3450 closed

[2020-08-31 07:20] paulfantom commented on #3448
0.38.2 images were manually pushed to repositories in quay.io/coreos organisation

[2020-08-31 07:21] #3448 closed

[2020-08-31 09:13] Redneck-prm opened #3453 "Prometheus very slow and not responsive."
**What did you do?**
I deployed Prometheus in k8s cluster via operator.
After the start of the container, it is very slow and not responsive.

[master1 ~]$ time curl http://10.233.67.83:9090
<a href="/graph">Found</a>.
real    0m8.400s
user    0m0.004s
sys     0m0.014s

**Did you expect to see some different?**
I expect the Prometheus to work normally.

**Environment**

* Prometheus Operator versi

[2020-08-31 09:14] Redneck-prm commented on #3453
Can anyone help with diagnostics and debug methods?

[2020-08-31 09:56] s-urbaniak commented on #3453
I suggest to submit an issue against the Prometheus repository itself. Having said that, is there a big WAL present that needs to be replayed maybe? Or is the database directory empty?

[2020-08-31 10:03] Redneck-prm commented on #3453
_Or is the database directory empty?_

Database ~300Mb, and clean when a redeploy operator.

[2020-08-31 10:36] paulfantom commented on #3439
SGTM after we release 1.x. Right now we are at 0.x.y and per sem-ver docs this means no stability guarantees for any interfaces.

[2020-08-31 10:43] s-urbaniak commented on #3439
I think it is not reasonable we change APIs today alrady, also see the comment in https://github.com/prometheus-operator/prometheus-operator/issues/3089#issuecomment-601168408. Prometheus-operator is in wide use today and even we we do have breaking API changes today we should at least have migration code.

[2020-08-31 12:45] navox19-tayachi commented on #1482
any help for that . ?

[2020-08-31 13:07] simonpasquier commented on #3439
I'm not too familiar with CRD versioning but can we mix `v1` and `v1beta1` (or `v1alpha1`) for different resources? Case in point: #3451 adds a new AlertmanagerConfig CRD that might need some time to get right.

[2020-08-31 13:23] paulfantom commented on #3454
@ne1000 you need something that can talk `remote_write` protocol and store your data (ex. Thanos or Cortex). After that you need to set up remote_write in Prometheus object, here is a reference: https://github.com/prometheus-operator/prometheus-operator/blob/master/Documentation/api.md#remotewritespec

[2020-08-31 13:37] s-urbaniak commented on #3439
yes, they can definitely be mixed and that is how it is done in Kubernetes too. #3451 is actually a good precedence, we could declare it alpha first and then gradually promote to stable.

[2020-08-31 13:38] s-urbaniak commented on #3439
Having said that, Kubernetes has a "conversions" framework in place which is able to handle n-1 versioned object types.

[2020-08-31 14:56] #3329 closed

[2020-09-01 06:59] gupf0719 opened #3456 "cross-compiled failed"
1. cd ...prometheus-operator
2. GOOS=linux make build
then failed and show me the error

"go install: cannot install cross-compiled binaries when GOBIN is set"

[2020-09-01 08:34] simonpasquier commented on #3456
Hmm, which version of Go have you installed?

[2020-09-02 03:33] gupf0719 commented on #3456
go version go1.14.4 darwin/amd64

[2020-09-02 07:35] #3097 closed

[2020-09-02 08:44] ne1000 commented on #3454
@paulfantom ok

[2020-09-02 09:49] gupf0719 commented on #3456
it is resloved

[2020-09-02 09:49] #3456 closed

[2020-09-02 10:32] brancz commented on #3439
This did happen, the APIs were alpha for a very long time. The APIs are v1, so we cannot break them in a backward compatible way, we can however, change the behavior, which is why the prometheus operator version has been non stable (to reflect that).

If we want to create a new iteration we will need to either do a v2alpha1 or an entirely new API (which probably makes sense for other reasons, like

[2020-09-02 13:33] brancz commented on #3391
Why do you say this? I think I'm happy with increasing the static failureThreshold though, since readiness and liveness is currently the same in Prometheus.

[2020-09-02 13:41] #3388 closed

[2020-09-02 13:54] brancz commented on #3433
I agree with @coderanger that duplicating is in fact the correct strategy here, I don't want to expose a field that enables an anti-pattern.

[2020-09-02 14:48] Asgoret opened #3458 "Alertmanager, retention"
Hi to everyone!

Can somebody help with data retention in alertmanager? I found this [PR](https://github.com/prometheus-operator/prometheus-operator/pull/1710) but can't understand where in jsonnet config file put retention?

[2020-09-02 15:05] fernandocarletti commented on #3391
@brancz Unless I'm missing something, if you set a high `failureThreshold` for the `livenessProbe`, it will accept that the probe fails many times (`failureThreshold * periodSeconds`, the last one defaults to 10s). In the @ajcann's snippet, setting it to 1000, just gonna allow that the health check fails a thousand times until the pod detects that the container is in fact down (this translates to

[2020-09-02 15:23] desaintmartin commented on #3216
We have a similar case where a Prometheus managed by Prometheus Operator is temporarily overloaded because of huge requests. Allowing to customize livenessProbe/readinessProbe parameters would allow us to loosen a bit the probes in order to give more time to Prometheus to finish to process (or abort) those requests before killing it.

Prometheus, in this case, does not need MORE resources because

[2020-09-02 15:28] ajcann commented on #3391
@fernandocarletti is correct here, I should only be adjusting the readiness probe to address the slow start up.

[2020-09-02 15:58] nicks opened #3459 "prometheus fails to start with permission denied errors"
**What happened?**

After being fine for a couple days, Prometheus mysteriously started crashing with this error:

[code]

**Did you expect to see something different?**

Ya, I expected prometheus not to crash

**How to reproduce it (as minimally and precisely as possible)**:

I deployed this resource:

[code]

**Environment**

GKE 1.17

* Prometheus Operator version:

https://raw.githubuserconten

[2020-09-02 18:57] pie-r commented on #2733
Same issue with operator 0.29 and gke 1.16-gke.13

All kublet target are down and not reachable from prometheus

[2020-09-03 02:10] KR411-prog opened #3460 "Relabelling Prometheus operator default alert"
I want to relabel Kubenodeunreachle alert so I can drop this alert as we dont need it and its only creating more noise in the alerts channel.I think I need to include this relabelling under additionalScrapeConfigs: in Prometheus config..The below config does not seem to work.It is still shown in alert page.
[code]

* Prometheus Operator chart version: 9.3.1

    `Insert image tag or Git SHA here`

[2020-09-03 07:46] brancz commented on #3428
Your best shot right now is the additional scrape configs feature.

[2020-09-03 08:03] coderanger commented on #3428
You could also manually construct a service's endpoints and use a ServiceMonitor.

[2020-09-03 08:13] simonpasquier commented on #3460
you want to use `additionalAlertRelabelConfigs` to drop alerts from being sent to Alertmanager. Note that the alerts will still show in the Prometheus Alerts page.

[2020-09-03 08:18] simonpasquier commented on #3459
I don't think that the operator should auto-inject an init container to "fix" potential ownership/permissions issues: it would hide problems from the users and it could probably make it worse in some other cases.
As you wrote, one can already add such init container so there's no defect from my POV.

[2020-09-03 09:14] s-urbaniak commented on #3459
I tend to agree as this seems to be an environment specific issue.

[2020-09-03 09:29] shantpschauhan opened #3461 "kind/question , kind/design"
**Questions:**
1. Question: Is this possible or any way to use rolebinding (not the clusterrolebinding) to bind cluster role with Prometheus-operator service account to give required api access to the prometheus operator?
    Is this possible or any way to use rolebinding (not the clusterrolebinding) to bind cluster role with Prometheus service account to give required api access to the prometheus

[2020-09-03 09:45] shantpschauhan opened #3462 "kind/question"
**Question:**
We are using 0.41.1 prometheus-operator version.

How to configure a particular prometheus server image and its tag instead of default/latest image
while deploying prometheus server using prometheus operator.
We want to use our private registry to keep the images there and to use these images from private registry.
I did not see any available reference yaml file or documentation.

**

[2020-09-03 09:51] simonpasquier commented on #3327
#3421 should add a `prometheus_operator_syncs` metric (name to be reviewed) that will track the number of Prometheus, Alertmanager and Thanos objects per sync status (ok/failed).

[2020-09-03 11:34] Romiko opened #3463 "servicePort-http - Migrating from Stable/prometheus-operator to bitnami-prometheus-operator"
Hi,

Please can serviceport not be hardcoded to http. Why is the new bitnami charts not as flexible as stable/prometheus-operator?

servicePort: http

Also, how can I host and configure ingress if i serve alertmanager, prometheus on a path e.g. http://myhost/prometheus, http://myhost/alertmanager, this worked really easy with stable/prometheus-operator but with bitnami I cannot get routing with ur

[2020-09-03 11:44] paulfantom commented on #3462
You can use [`image` field in Prometheus Spec](https://github.com/prometheus-operator/prometheus-operator/blob/master/Documentation/api.md#prometheusspec)

[2020-09-03 11:54] benjaminhuo opened #3464 "Thanos sidecar failed to start if tls is enabled"
**What happened?**
I'm trying to enable thanos sidecar's --grpc-server-tls-* configs by ：
- create certs, key, ca files
- create a secret for these files:
[code]
- Modify prometheus crd like below:
[code]

**But thanos sidecar container keeps failing with errors like:**

![Snip20200903_7](https://user-images.githubusercontent.com/18525465/92111472-ee243000-ee1e-11ea-9ea2-d970fe1abfb7.png)

**The p

[2020-09-03 13:51] nicks commented on #3459
ya, i'm still not entirely sure what causes the underlying permissions problem -- if it's caused by prometheus, or the operator, or GKE, or some weird interaction between the 3. will play around with it a bit more in a sandbox

I could imagine this turning into a feature request to add a field to the Prometheus kind's StorageSpec like "checkPermissions: true" that adds the init container

[2020-09-03 14:16] KR411-prog commented on #3460
oh..Thankyou..
Dropping alerts was just a poc that I tried..If I want to just relabel the default alerts,should I still use additionalAlertRelabelConfigs ? If yes,is there a example of it?I am not sure where to specify jobname in this configuration.

[2020-09-03 16:23] KR411-prog commented on #3460
I tried this in a values.yaml file for prometheus-operator helm chart deployment,
[code]
But I got below error,
couldn't load configuration (--config.file=\"/etc/prometheus/config_out/prometheus.env.yaml\"): parsing YAML file /etc/prometheus/config_out/prometheus.env.yaml: yaml: unmarshal errors:\n  line 893: field job_name not found in type relabel.plain\n  line 894: field metric_relabel_configs

[2020-09-03 18:03] KR411-prog opened #3467 "Setting severity levels for an alert"
I want to set different severity levels based upon the alert.
For eg:
Currently all the alerts of KubePodCrashlooping is warning.
I want to set the severity level as Critical for pods in certain namespace.
Is it possible to do this in Alertmanager?
Or in Prometheus rules?
If Prometheus rules,then its already a default rule,should I create new Prometheus rule and override this one? Could you please

[2020-09-03 19:28] janotav opened #3468 "Override rulefiles"
When prometheus-operator creates the final configuration for prometheus it puts prometheusrules into paths looking like:

/etc/prometheus/rules/prometheus-release-operator-prometheus-rulefiles-0/<**rule_metadata_namespace>-<rule_metadata_name>.yaml**

Is it possible to override this pattern? Can you please point me to where the relevant code resides?

My use-case is probably very specific and migh

[2020-09-03 19:53] janotav commented on #3468
After some more digging I discovered that my use-case is kind of generalization of _prometheus.prometheusSpec.enforcedNamespaceLabel_

This can be used to "tag" the objects (including rules) with a label that will receive the name of the enclosing namespace.

In my scenario each namespace has its owner, but single owner can own multiple namespaces. The owner of a namespace is defined by a well-kno

[2020-09-03 22:17] sathyendrasaran opened #3469 "Single Pod in Alertmanager and Prometheus keeps crashing"
**What did you do?**
Installed helm chart from
https://github.com/helm/charts/tree/master/stable/prometheus-operator

**Did you expect to see some different?**
All components running with stable installation
I can access the alertmanager and prometheus since 2/3 are available
but the installation is not stable which prevents me to proceed

**Environment**
EKS k8sv1.16.13

* Prometheus Operator ver

[2020-09-03 23:44] Romiko opened #3470 "AdditionalServiceMonitors Support"
Hi,

Please can we have AdditionalServiceMonitors Support? Reading the documentation, it is not clear how to register additional service monitors?

e.g.

`{{- if and .Values.prometheus.enabled .Values.prometheus.additionalServiceMonitors }}
apiVersion: v1
kind: List
items:
{{- range .Values.prometheus.additionalServiceMonitors }}
  - apiVersion: monitoring.coreos.com/v1
    kind: ServiceMonitor

[2020-09-04 08:42] astrixj opened #3471 "Using prometheus operator with blackbox exporter"
We are using prometheus operator which works as expected, We want now to add the blackbox exporter

I've installed in the same namespace like Prometheus with https://github.com/helm/charts/tree/master/stable/prometheus-blackbox-exporter

Now I've update the config (values.yaml)and install the chart with the update new values like:

     helm upgrade --install bbe stable/prometheus-blackbox-exporte

[2020-09-04 08:49] astrixj commented on #3471
To update I was able to see it working in prometheus/target but getting this error

[code]

However I was able to access to it with `http://localhost:9115/metrics` after port forwarding , is there something in addition that I need to configure?

[2020-09-04 08:49] astrixj commented on #3471
To update I was able to see it working in prometheus/target but getting this error

[code]

However I was able to access to it with `http://localhost:9115/metrics` after port forwarding , is there something in addition that I need to configure?

[2020-09-04 08:49] astrixj commented on #3471
To update I was able to see it working in prometheus/target but getting this error

[code]

However I was able to access to it with `http://localhost:9115/metrics` after port forwarding , is there something in addition that I need to configure?

[2020-09-04 09:35] janotav commented on #3468
I managed to to come to a reasonable solution for my scenario.

1. I patched prometheus-operator rule filename pattern to use "--" instead of "-"
2. this allows me to reliably detect namespace from the rule_group label using regex (because in our case namespace name may contain "-" but must not contain "--")
3. this in turn allows me to "join" on the prometheusrule namespace in recording rule
4. f

[2020-09-04 09:35] #3468 closed

[2020-09-04 10:57] brancz commented on #3446
Your best bet currently is the additionalScrapeConfigs feature.

[2020-09-04 10:58] brancz commented on #3447
You should use the additionalScrapeConfigs feature for this.

[2020-09-04 11:07] brancz commented on #3461
1) Yes, if you specify the `--namespaces` flag the prometheus operator will only require roles for the namespaces specified.
2) "all namespaces" refers to all discovered, which means if you use the `--namespaces` flag set to xyz, then that's already the case. Alternatively you can label the namespaces and use the namespace selector for servicemonitors/podmonitors in the Prometheus object.
3) You w

[2020-09-04 11:09] brancz commented on #3464
cc @s-urbaniak

[2020-09-04 11:12] brancz commented on #3459
I think a feature is discuss-able once we figure out why this is happening. Automatic remediation for something we don't understand is generally a bad idea I think.

[2020-09-04 11:14] brancz commented on #3467
Yes if specific results should be of different severity you should just create a second rule that represents that. Alert names are not forced to be unique so you can even call it the same.

[2020-09-04 11:15] brancz commented on #3469
Do you happen to have multiple Prometheus Operators running?

[2020-09-04 11:16] brancz commented on #3470
The helm charts are neither used nor maintained by the prometheus-operator maintainers. Therefore we don't know the setup, so we're unlikely to be able to help you. I recommend creating an issue on the upstream helm charts repo where these helm charts are maintained.

FYI I know the helm charts are moving currently so the maintainers may be busy until the move is done.

[2020-09-04 11:16] #3470 closed

[2020-09-04 11:43] Cellebyte commented on #3447
This is not the best way to automate updating of those additional Scrape Targets.
It would be better to change the `Probe` to also support those kinds of additional config.
It will get really messy when you onboard multiple external clusters and Applications/Servers.

The only way I currently see to circumvent it is running another prometheus instance outside of the cluster which is managed by Web

[2020-09-04 12:53] srinathganesh1 opened #3472 "During some installations (same machine) the 'Workload Charts' does not work"
**What happened?**
![grafana err](https://user-images.githubusercontent.com/11017158/92240815-d4e0b980-eeda-11ea-8b35-6988e7d25b11.png)

**Did you expect to see something different?** Workload chart that shows info

**How to reproduce it (as minimally and precisely as possible)**: During Random Installs this happens

**Environment** GKE

* Prometheus Operator version: Latest (adding my terraform s

[2020-09-04 12:54] srinathganesh1 commented on #3472
Any way to manually fix this?

[2020-09-04 13:47] sathyendrasaran commented on #3469
No just a single operator
---------
the issue got resolved for me
I found that it was the liveness probe which was terminating the pods before it can even start
i overridden the probes threshold which takes longer for the pods to get ready but it is not crashing anymore
-----------
Not sure if this is the way to go
happy to hear any solution which is a proper fix
------------
Both for alertmanager

[2020-09-04 14:43] simonpasquier commented on #3460
Try this

[code]

[2020-09-04 15:27] rbs4ba commented on #2866
Also seeing the same behavior. We specifically went from 51 serviceMonitors to 1 serviceMonitor and saw the CPU drop by a factor of 10x. We can workaround it for now with just the 1 serviceMonitor, but it does feel like this should be reopened.

[2020-09-04 17:21] KR411-prog commented on #3460
Thankyou ..I will try that..
If I want to do relabelling during metrics ingestion,how to do that? is it same?

[2020-09-04 17:32] KR411-prog commented on #3467
Thankyou..will try that..

[2020-09-04 20:32] mickael-carl commented on #3459
I bumped into a similar problem just now, also with dynamically provisioned storage on GKE:
[code]

Got it fixed by adding a security context, e.g.:
[code]

I'm guessing it has to do with prometheus UID's and the provisioned disk? For what it's worth:
- same operator version
- `Server Version: version.Info{Major:"1", Minor:"16+", GitVersion:"v1.16.11-gke.5", GitCommit:"baccd25d44f1a0d06ad3190eb508

[2020-09-04 21:48] plnordquist opened #3473 "Admission Webhooks not working in v0.40.0+"
**What happened?**
When I setup a MutatingWebhookConfiguration or a ValidatingWebhookConfiguration against the prometheusrule webhook paths with v0.40.0 or v0.41.1 of the operator, it does not return the appropriate output to the Kubernetes API Server.  The output is missing the apiVersion=admission.k8s.io/v1 and kind=AdmissionReview when returning data from the web call.  Kubernetes fails to crea

[2020-09-04 22:04] KR411-prog commented on #3467
@brancz  ..I created a new Prometheus rule for severity level critical.And it works.
Just want to check if this is correct way to clone Prometheus rules  for severity level update.
[code]

I kept the groups name and alert name as same.And changed the expr to include namespace which is critical.I have also changed metadata.name.

[2020-09-04 23:11] KR411-prog commented on #3467
Eventhough the above config works by sending Critical alert for example pods in default namespace,the same alert is also captured in the Warning alert which is the default Prometheus rule.
<img width="1130" alt="image" src="https://user-images.githubusercontent.com/14121261/92290533-41eb5380-eec9-11ea-9121-ecc6743ab421.png">
How to avoid the alerts getting duplicated in both warning and critical P

[2020-09-05 01:26] xoxodevops commented on #2552
Same problem here too :
Warning  Unhealthy  15m (x6 over 16m)    kubelet, empuls-prodenv-c1-k8node3  Liveness probe failed: Get http://192.168.150.200:9093/-/healthy: dial tcp 192.168.150.200:9093: connect: connection refused
  Warning  Unhealthy  86s (x147 over 16m)  kubelet, empuls-prodenv-c1-k8node3  Readiness probe failed: Get http://192.168.150.200:9093/-/ready: dial tcp 192.168.150.200:9093:

[2020-09-05 05:00] KR411-prog opened #3474 "additionalScrapeConfigs not working"
I am trying to add a new label called "teamname" to the metrics scraped on kube-state-metrics.So my objective is to add teamname as an additional label to  the metrics scraped at kube-state-metrics so in the PrometheusRule we can set the specific team name on the label.
So tried with the below config.But I dont see this new label being added to the kube-state-metrics in Prometheus Service Discover

[2020-09-07 07:35] brancz commented on #3447
`Probe`s are only for synthetic monitoring, not for actual scrapes. Something we've been thinking about is a more general `ScrapeConfig` CRD, which ServiceMonitors/PodMonitors/Probes would be "compiled" to, and if users wish to do so, then they can specify a raw `ScrapeConfig`.

[2020-09-07 07:39] brancz commented on #3467
Typically you use Alertmanager inhibition rules for this purpose, where you ignore the lower severity level alert over the higher level one.

[2020-09-07 07:46] brancz commented on #2866
Could you take a CPU profile of the Prometheus Operator in question with the "large" number of ServiceMonitors?

[2020-09-07 07:48] brancz commented on #3473
cc @s-urbaniak @paulfantom

[2020-09-07 07:48] #3474 closed

[2020-09-07 07:49] brancz commented on #3472
The helm charts are neither used nor maintained by the prometheus-operator maintainers. Therefore we don't know the setup, so we're unlikely to be able to help you. I recommend creating an issue on the upstream helm charts repo where these helm charts are maintained.

[2020-09-07 07:49] #3472 closed

[2020-09-07 08:00] Cellebyte commented on #3447
That would be awesome. Should I change the scope of that issue? So that you can keep track on it or does it already exist elsewhere?

[2020-09-07 08:01] s-urbaniak commented on #3473
I will have a look, that looks suspicious indeed :thinking:

[2020-09-07 08:05] brancz commented on #3447
There is already this issue https://github.com/prometheus-operator/prometheus-operator/issues/2787

[2020-09-07 08:07] #3447 closed

[2020-09-07 08:42] lilic commented on #3380
@simonpasquier did your commit above already land in master? :) Then we can close this.

[2020-09-07 11:07] shantpschauhan commented on #3461
Thanks @brancz  .
Can you please refer any web link or any example Yaml file to refer for point 1 and 2. That would be great help.

[2020-09-07 13:15] paulfantom commented on #3458
`retention` is a part of [`Alertmanager`](https://github.com/prometheus-operator/prometheus-operator/blob/master/Documentation/api.md#alertmanagerspec) spec and as such you need to configure it in your Alertmanager CR. A similar way to how you configure number of replicas for alertmanager or specify an image.

Example: https://github.com/thaum-xyz/ankhmorpork/blob/master/apps/monitoring/alertmanag

[2020-09-07 13:39] shantpschauhan commented on #3461
We tried using rolebinding to bind clusterrole with service account with specifying the --namespace=xyz-namespace
and now able to deploy the operator and the prometheus servers.
But we are getting the below error in the operator logs (issue while using while using rolebinding but we do not get any issue when using clusterrolebinding).  want to get rid of this error.
In our use case we do not want

[2020-09-07 14:49] nerzhul opened #3476 "Probe with same job name not merged in prom config"
**What happened?**
Hello, we are trying your new very nice probe support. It works fine except if we have 2 probes with the same job name. That generate an invalid prometheus configuration with 2 jobs with the same name:

[code]

**Did you expect to see some different?**
We would prefer to have a single job with both probes merged across namespaces

**How to reproduce it (as minimally and precisel

[2020-09-07 17:25] KR411-prog commented on #3467
ok..got it..Thankyou..

[2020-09-08 05:34] #3339 closed

[2020-09-08 08:18] brancz commented on #3461
You will need to remove the `--kubelet-service` flag if you want to run the Prometheus Operator in this less privileged way.

[2020-09-08 09:11] simonpasquier commented on #3460
It would be `metricRelabelings` (see https://github.com/prometheus-operator/prometheus-operator/blob/master/Documentation/api.md#endpoint).

[2020-09-08 09:58] brancz commented on #3476
I see yes, this is indeed a bug.

Here: https://github.com/prometheus-operator/prometheus-operator/blob/289ee029ef537c38090cb9a0249e7062a3173936/pkg/prometheus/promcfg.go#L638

We should instead of setting the `job_name` like that relabel the configured job name via relabel configs and generate a job name like we [do in PodMonitors for example](https://github.com/prometheus-operator/prometheus-ope

[2020-09-08 10:01] s-urbaniak commented on #3410
This is fixed in #3440, closing.

[2020-09-08 10:01] #3410 closed

[2020-09-08 12:16] nikolaistraessle commented on #2759
I have the same problem with the Version `quay.io/prometheus/prometheus:v2.18.2`.
The memory consumption starts on 900M and 2 hours later the memory consumption is over 2G.

![image](https://user-images.githubusercontent.com/24289388/92475283-73239680-f1dd-11ea-8fca-00dff6726f69.png)

The amount of samples is only around 3k per second.

Is any stable solution available for this problem?

[2020-09-08 12:28] galindro commented on #3302
@lilic I getting the same issue reported by @mmiller1 . I did exactly what you asked for @mmiller1 to do and it didn't worked.

I'm using prometheus helm chart version 8.13.8 from stable helm charts.

Prometheus-operator version: 0.38.1

[2020-09-08 13:08] simonpasquier commented on #3302
@galindro can you try with 0.38.3. I think that the issue you're facing might have been fixed by https://github.com/prometheus-operator/prometheus-operator/pull/3209.

[2020-09-08 13:55] brancz commented on #2759
Prometheus flushes data to disk every 2h, can you keep watching this for a few hours? As it stands this looks normal.

[2020-09-08 14:20] nerzhul commented on #3476
@brancz sorry i don't have the time currently, but i'm available to test any packaged docker image fix

[2020-09-08 16:11] KR411-prog opened #3479 "additionalScrapeConfigs query"
Prometheus Operator chart version: 9.3.1

Insert image tag or Git SHA here

quay.io/coreos/prometheus-operator:v0.38.1

Kubernetes version information:

kubectl version 1.15

Kubernetes cluster kind: EKS

Issue:

I am trying to add a new label called "teamname" to the metrics scraped on kube-state-metrics.So my objective is to add teamname as an additional label to the metrics scraped at kube-stat

[2020-09-08 21:22] KR411-prog commented on #3460
I thought additionalScrapConfig will help and thats why I raised this issue when I could not make it to work.
https://github.com/prometheus-operator/prometheus-operator/issues/3479

[2020-09-09 03:51] KR411-prog commented on #3460
I tried metricRelabelings but it didnt work,
[code]
I expected new label "teamname" to be added to kube-state-metrics scrapping. But it didnt work.

[2020-09-09 07:18] alexellis commented on #2877
I'm trying to federate multi-cluster Prometheus using [inlets](https://docs.inlets.dev), I noticed the `static_configs` mentioned in the docs, but is there any kind of SD that would also work? Providing that a Service exists with a certain annotation, it would be scraped as a federation endpoint rather than as a standard metrics endpoint?

[2020-09-09 08:02] simonpasquier commented on #3460
The regex never matches because source labels are empty. Try this

[code]

[2020-09-09 08:09] simonpasquier commented on #2877
@alexellis I've never done it but I guess that it should work: federation targets are no different than regular targets except you need to pass some `params`, a custom `metrics_path` and `honor_labels: true`. So it's a matter of tweaking the [endpoint](https://github.com/prometheus-operator/prometheus-operator/blob/master/Documentation/api.md#endpoint) config accordingly.

[2020-09-09 08:17] simonpasquier commented on #3479
you shouldn't need to use `additionalScrapeConfigs` for this. Lets continue the discussion on #3460.

[2020-09-09 08:17] #3479 closed

[2020-09-09 08:21] alexellis commented on #2877
I didn't realise that they were regular scrape targets, that helps. Thank you @simonpasquier

[2020-09-09 08:51] galindro commented on #3302
@simonpasquier , it wasn't fixed. I still got a huge names on PVCs.

[code]

This is my values.yaml:

[code]

[2020-09-09 08:57] lilic opened #3480 ""targets" field in staticConfig in Probe custom resource is wrongly called "static""
Seems like it might have been a typo, but the API field is called `static` instead of `targets`. In the [description](https://github.com/prometheus-operator/prometheus-operator/blob/master/Documentation/api.md#probetargetstaticconfig), we seem to call it targets:

Should we break API to do a fix for this as it seems like a bug to me, despite it being a breaking change?

https://prometheus.io/docs/

[2020-09-09 08:57] lilic commented on #3480
cc @prometheus-operator/prometheus-operator-reviewers

[2020-09-09 09:00] lilic commented on #3476
@nerzhul could you paste the manifests that caused the above issue, makes it easier for me test the fix, thanks!

[2020-09-09 09:16] s-urbaniak commented on #3480
As an after thought I believe we should have declared the Probe CRDs as suggested in https://github.com/prometheus-operator/prometheus-operator/issues/3439 using v1alpha1 most likely.

I think, in this very case, I would be fine with breaking behavior, but we should take care that new CRDs follow a more gentle versioning approach, especially https://github.com/prometheus-operator/prometheus-operat

[2020-09-09 09:17] brancz commented on #3480
IIRC there was some functionality in CRDs to rename fields, if so we can use that to rename. It is indeed unfortunate, but we did find small inconsistencies like this even after 1.5 years of v1alpha1 in the ServiceMonitor and Prometheus resources, so I wouldn't beat ourselves up about it too much :)

[2020-09-09 09:26] lilic commented on #3480
@brancz I will do some research around that, thanks for the pointer!

[2020-09-09 11:38] simonpasquier commented on #3302
@galindro

It doesn't look like the same problem than originally described. Can you share the full definition of the prometheus object as well as the corresponding statefulset object?

[2020-09-09 12:07] nerzhul commented on #3476
Hello @lilic
Here is our example usecase

First object
[code]

Second object:
[code]

[2020-09-09 12:52] lilic commented on #3480
Asked and Jordan answered:

Don't think this works for us here. At least I don't see it working.

Agreed with @s-urbaniak we should not define new APIs as v1 from now onwards.

[2020-09-09 13:13] brancz commented on #3480
I would do something a bit simpler without the webhook. Let's just introduce a new field that is actually the name that we want, deprecate the `static` field, and use both for some time. Eventually, we can stop using the value from the `static` field.

[2020-09-09 14:14] lilic commented on #3480
Yes agreed, my thinking as well!

[2020-09-09 15:44] KR411-prog commented on #3460
@simonpasquier  ..I dont want to change the existing label name.I want to add a new label called teamname.Is sourceLabels still necessary?

[2020-09-09 17:12] dou-oscarh commented on #2824
I just found that issue on a rollout as well, to workaround this issue I just set the spec.storage.volumeClaimTemplate.metadata.creationTimestamp to the creation timestamp of the pvc and redeploy with terraform.

[2020-09-09 20:51] KR411-prog commented on #3467
I tried inhibiting the alerts  so same alert in critical can inhibit warning alert.
The below configs didnt work...Please suggest whats the issue with this config..

[code]
    inhibit_rules:
    - source_match:
        severity: 'critical'
      target_match:
        severity: 'warning'
      equal: ['alertname', 'namespace', 'pod','prometheus']

[2020-09-09 21:28] coderanger commented on #3467
I think we can close this, it's not related to the operator, just a general question about using Prom and AlertManager.

[2020-09-09 22:07] KR411-prog commented on #3467
Ok..I will close this..
And this config finally worked,
inhibit_rules:
[code]

[2020-09-09 22:07] #3467 closed

[2020-09-09 23:44] KR411-prog commented on #3460
I made it working by adding below config,
[code]

However I am trying to populate the pod's label into the teamname using below config..but its not working.
[code]

I am not sure if we can directly refer to the pod's label "teamname" in the sourceLabels as "__meta_kubernetes_pod_label_teamname". Please suggest on this.
Also replacement: ${1} not working

[2020-09-10 05:08] KR411-prog commented on #3460
I have just found that this solves my problem..
kube_pod_info * on(namespace, pod) group_left(node) kube_pod_labels{label_teamname="example"}

https://github.com/kubernetes/kube-state-metrics/issues/536 -->this helped

[2020-09-10 05:08] #3460 closed

[2020-09-10 06:26] damomurf commented on #3464
I'm seeing this issue also.

Essentially at the moment, without baking TLS credentials into the Thanos container image, there's actually no way currently to use the Thanos sidecar with TLS at all, because there's no functioning way to supply it with external secrets containing those credentials.

[2020-09-10 07:13] s-urbaniak commented on #3464
@benjaminhuo you can patch the thanos sidecar in the `container` section of the `Prometheus` `spec`, example:

[code]

[2020-09-10 07:19] s-urbaniak commented on #3464
side note: we have been discussing if exposing more and more fields makes sense in native fields of the spec (i.e. `spec.thanos`).

The consensus so far was that more "advanced" settings can always be injected by patching containers directly, as prometheus-operator has a merge strategy implemented where you can express your "deltas" in the `containers` section and the reconciliation logic will the

[2020-09-10 10:25] brancz commented on #3391
It boils down to, in Prometheus currently the liveness and readiness endpoints are equivalent, so either we have the probes equivalent as well or drop the liveness probe for now (I think this is the right way to go), as really what the endpoints represent is not whether the process is alive (it is) but rather whether it is _ready_ to serve traffic, when the WAL replaying. Hence I think we should r

[2020-09-10 11:21] paulfantom commented on #3391
I would still prefer implementing [`startupProbe`](https://kubernetes.io/docs/tasks/configure-pod-container/configure-liveness-readiness-startup-probes/#define-startup-probes). However since this is available only in recent k8s versions I am fine with removing `livenessProbe` for now.

[2020-09-10 12:59] Romiko opened #3487 "CRASHLOOPBACKOFF - prometheus/operator.go:480: Failed to list *v1.Secret"
Hi,

I am running Prometheus Operator in GKE 1.16. The pod keeps going into a crashloop. Any ideas?

GKE Cluster -
1.16.13-gke.1
Nodes 2 -

e2-standard-4
--

releases:
- name: prometheus-operator
  chart: stable/prometheus-operator
  version: 9.3.1
  force: true

` k logs prometheus-operator-operator-d8dc78495-j7qls
ts=2020-09-10T12:44:56.076964326Z caller=main.go:209 msg="Starting Prometheus Oper

[2020-09-10 13:36] brancz commented on #3391
Yeah, let's give it until ~1.21 I would say, then `startupProbes` will have been around for long enough.

[2020-09-10 15:30] #3380 closed

[2020-09-10 16:03] varunsrinath opened #3488 "Add an option to add hostAlias for alert manager"
Hi Team,

For us to talk to a webhook , we have a init container which loads secrets from vault. The issue we are facing is that the alert manager pod is not able to resolve the dns for the same.

Also we run alert manager as non toot user so we are not able to change the host entries during the pod start lifecycle.

If we have any alternatives for this please let me know

[2020-09-10 19:27] vperi1730 opened #3489 "Error while launching alert manager in the cluster."
**What did you do?**

I am trying to launch the alert manager with the following CR configuration. However, I was unable to as it is looking out for a secret which i am not sure about.

**Did you expect to see some different?**

**Environment**

* Prometheus Operator version: 0.41.1

    `Insert image tag or Git SHA here`

* Kubernetes version information:

    `kubectl version`

* Kubernetes clus

[2020-09-11 02:24] benjaminhuo commented on #3464
@s-urbaniak Thanks for the quick response. I agree that patching the thanos-sidecar container is a good way to fix advanced feature like this. The merge strategy is such a good move 👍

[2020-09-11 02:24] #3464 closed

[2020-09-11 06:57] #3489 closed

[2020-09-11 07:00] simonpasquier commented on #3489
The documentation to configure Alertmanager is here: https://github.com/prometheus-operator/prometheus-operator/blob/master/Documentation/user-guides/alerting.md

In your case, you need to create a valid `alertmanager.yaml` file and run:

[code]

I'm closing it for now. Feel free to reopen if this doesn't work.

[2020-09-11 07:03] #3463 closed

[2020-09-11 07:06] vperi1730 opened #3492 "Additional Prometheus and Alertmanager Services are observed"
**What did you do?**
I have launched the Prometheus and Alertmanager services with the following CR configurations. However, additionally, i have noticed some default services which i am not sure from where they are getting created.

**Did you expect to see some different?**

**Environment**

* Prometheus Operator version:

    `Insert image tag or Git SHA here`

* Kubernetes version information:

[2020-09-11 07:56] avalcepina opened #3493 "ServiceMonitor in another namespace is not detected"
**What happened?**

I'm trying to set up a service monitor for another namespace, but, no matter what I do, it is not being detected.

**Did you expect to see something different?**

I expected the service monitor to be detected

**How to reproduce it (as minimally and precisely as possible)**:

I installed the operator with

helm install stable prometheus-community/kube-prometheus-stack

Then the

[2020-09-11 08:35] lilic commented on #3493
@avalcepina can you also share the deployment that is created for Prometheus operator, thanks!

[2020-09-11 08:38] lilic commented on #3492
@vperi1730 Can you please describe details how you installed the Prometheus operator, helm chart, manifests bundle from this repo or somewhere else? What would help would also be version of Prometheus operator. Thanks!

[2020-09-11 08:40] vperi1730 commented on #3492
We have used the repo and the prometheus operator version is 0.41.1

[2020-09-11 08:52] shantpschauhan commented on #3461
Thanks @brancz  for the clarification.
will let you know in case any issue.

[2020-09-11 09:32] simonpasquier commented on #3488
Can you share the Alertmanager spec? You should be able to use merge patch to tweak the definition of the Alertmanager container. See the `containers` field in [AlertmanagerSpec](https://github.com/prometheus-operator/prometheus-operator/blob/master/Documentation/api.md#alertmanagerspec).

[2020-09-11 09:57] s-urbaniak commented on #2824
I will have a look, we migrated to new tooling, so let me verify if we can fix this now.

[2020-09-11 10:36] avalcepina commented on #3493
Here it is:

[code]

[2020-09-11 14:28] Yalafeg commented on #2897
Hello,

For specific reasons, I need to do the same configuration with JSON file. The JSON file will be updated automatically and it will be followed by  a reload to the prometheus configuration. Please can you advise if this is feasible ? I am unable to read the JSON file from Prometheus, what is the best solution to configure file_sd_config with Prometheus operator along with the node_exporter.

[2020-09-11 15:12] vperi1730 opened #3494 "Unknown error while launching the PrometheusRule inside a namespace"
**What did you do?**

Tried deploying the Prometheus rule CR on a defined namespace.

**Did you expect to see some different?**

**Environment**

* Prometheus Operator version: 0.41.1

    `Insert image tag or Git SHA here`

* Kubernetes version information:

    `kubectl version`

* Kubernetes cluster kind:

    insert how you created your cluster: kops, bootkube, etc.

* Manifests:

[code]

* Pr

[2020-09-11 15:37] Yalafeg opened #3495 "Configuration of file_sd_config"
Hello,

I am trying to configure the Prometheus operator by adding the option file_sd_config. For a specific reason, I need to update the targets by adding them to the targets.json file and not by listing them into the file values.yaml.

1- I tried to configure it as additionalScrapeconfigs (I followed the documentation provided) with no luck.
2- I added the "file_sd_config" option into the file v

[2020-09-11 16:03] varunsrinath commented on #3488
Hi ,

Host aliases are part of the pod spec, not at the container level. So
unfortunately I cannot modify that.  Are there any plans to add this or can
you think of any alternative?

Thanks,
Varun

On Fri, Sep 11, 2020 at 4:32 AM Simon Pasquier <notifications@github.com>
wrote:

[2020-09-12 11:16] carlpett opened #3496 "Go module self-references with broken version"
It is not possible to import 0.42 with the new import path due to this line:
https://github.com/prometheus-operator/prometheus-operator/blob/675d303ee0b850ec2ac8ac4a07e3e34fbc1da49f/go.mod#L22

Related to #3393, which was supposed to be fixed in 0.42, but appears to have been missed?

[2020-09-12 16:06] carlpett commented on #3496
Sloppy reading on my part, this is not related to #3393, this is the separation of the type module.
Sorry for the noise

[2020-09-12 16:06] #3496 closed

[2020-09-14 02:36] tamalsaha opened #3497 "Missing tag for pkg/apis/monitoring Go module"
Please apply a tag `pkg/apis/monitoring/v0.42.0` to the last release so that we can use the apis/v1/monitoring package without needing to use commit hash.

In case you wanted to see an example, here is a good one: https://github.com/cloudevents/sdk-go/releases

cc: @metalmatze

[2020-09-14 08:07] lilic commented on #3497
Thanks for your issue, sounds like a good idea but since we have not done this before, I added label feature request. @prometheus-operator/kube-prometheus-reviewers for 👍 👎 on this, it would essentially mean we need to do two releases from now on.

[2020-09-14 08:17] mickours commented on #2359
Same problem with the cinder csi driver on managed Kubernetes instance at OVHCloud.
https://github.com/kubernetes/cloud-provider-openstack/issues/1064

[2020-09-14 08:19] lilic commented on #3493
Have you tried without the `namespaceSelector` and just allowed for all namespaces, does it still show up with the same issue? Trying to rule out namespaceSelector.

Second thing have you tried changing permissions for Prometheus operator for the ServiceMonitor resources, by giving it more permissions, we use the following ClusterRole https://github.com/prometheus-operator/kube-prometheus/blob/221

[2020-09-14 08:26] lilic commented on #3492
We do not create those services in this repo, so not sure where those would come from. Are you sure you haven't created those manually?

[2020-09-14 08:41] nimrodishi opened #3498 "Help setting up prometheus-operator with terraform + configuring apps"
Hi!
I'm using terraform to set up a new eks. I've installed `prometheus-operator` on it:

[code]
Is there any more setup needed?

I'm having some trouble with the next step.
I have a helm chart for an app. How and what do I need to modify/add to the chart for `prometheus-operator` to monitor it?
Is it enough to annotate, or do I need to add extra Services/ServiceMonitors?
All guides I see are a bi

[2020-09-14 08:49] lilic commented on #3498
You need a Service and ServiceMonitor per application (or even multiple depending on your app), or a PodMonitor. Getting started should be simple enough and still relevant, hope that helps :) https://github.com/prometheus-operator/prometheus-operator/blob/master/Documentation/user-guides/getting-started.md

[2020-09-14 09:49] lilic opened #3499 "Add support for TargetLimit"
Prometheus from [v2.21.0](https://github.com/prometheus/prometheus/releases/tag/v2.21.0) includes a new configuration option of adding a `TargetLimit` per scrape config. We should add support for this by adding a field in `ServiceMonitor` and `PodMonitor`.

But besides that, I am proposing to add a global limit of `TargetLimit`, similar to `SampleLimit` having an `EnforcedSampleLimit`, we could ha

[2020-09-14 10:35] vperi1730 commented on #3492
OK, I have missed a small thing. Basically Prometheus-operated and alert manager-operated are not the ones which I have created. Not sure where these services are born.

Any idea or clue about this?

[2020-09-14 11:29] lilic commented on #3492
Okay I see I thought you meant the UI ones :) , the operated ones are correct, see docs for more info https://github.com/prometheus-operator/prometheus-operator/blob/96094ad1ab039950537df448b95bbcc04c57bfc4/Documentation/rbac.md

[2020-09-14 11:56] simonpasquier commented on #3499
Definitely ok with this addition.

[2020-09-14 12:02] simonpasquier commented on #3488
Ah right.

[2020-09-14 12:04] simonpasquier commented on #3497
Yes it should be done as @tamalsaha described and added to the release document.

[2020-09-14 12:05] ne1000 opened #3500 "alertmanager refresh failure"
**What happened?**
One of the alertmanager refreshes failed

**Did you expect to see something different?**
All of alertmanager are ok

**Environment**

* Prometheus Operator version:
`0.4`

* Kubernetes version information:

    `1.17.0`

* Kubernetes cluster kind:

    `kubeadm`

* Prometheus Operator Logs:

[code]

[code]

**manifest**:
[code]

[2020-09-14 12:24] simonpasquier commented on #3500
Please try with the latest Alertmanager image. It will log the DNS error.

[2020-09-14 14:48] brancz commented on #3499
Very cool idea

[2020-09-14 23:28] KR411-prog opened #3503 "Dynamic routing based upon label"
I am trying with dynamic routing in Opsgenie config alert routing.The labels in alert can be teamname or label_teamname.But it does not seem to pick up the responder based upon label.Please let me know what is the issue with this config.
[code]

[2020-09-14 23:33] coderanger commented on #3503
This doesn't seem related to prometheus-operator?

[2020-09-15 00:59] KR411-prog commented on #3503
This is Prometheus operator Alertmanager config,
[code]

[2020-09-15 01:08] coderanger commented on #3503
Okay, but your question seems to have nothing related to the operator unless your config is not being correctly rendered for alertmanager. If you have questions about how to use Prometheus (or alertmanager) this is not the place.

[2020-09-15 02:49] ne1000 commented on #3500
@simonpasquier Yes, I changed the image to v0.21.0 ,  the logs output as below:
[code]

[2020-09-15 08:24] simonpasquier commented on #3500
This looks like a Kubernetes issue that can't sync the endpoint object associated to the `alertmanager-operated` service. Deleting the endpoint object might "fix" the problem.

[2020-09-15 08:29] simonpasquier commented on #3503
Despite this repository not being the correct one, I can point out that you should probably use `.CommonLabels` instead of `.Labels`.

[2020-09-15 08:29] #3503 closed

[2020-09-15 08:41] ne1000 commented on #3500
@simonpasquier  Year, alertmanager-operated is okay,  The coredns is work for me too, but there are still issues.
[code]

[2020-09-15 09:10] simonpasquier commented on #3500
Can you try to resolve the address from within the Alertmanager container? Do you get the same error?
Also note that Alertmanager might log this message on startup but if it stops after some time then everything is fine.

[2020-09-15 09:48] s-urbaniak commented on #3499
let's implement, agreed :+1:

[2020-09-15 10:18] ne1000 commented on #3500
@simonpasquier  Yes， It's able to resovle it
[code]

[2020-09-15 11:03] #3391 closed

[2020-09-15 12:17] galindro commented on #3302
Hi @simonpasquier . Sorry for the delay. I simulated the problem again in a brand new cluster. Here are the prometheus object and the corresponding statefulset object as requested. You can see that there is no metadata.name configured under statefulset's volumeClaimTemplate.

#### values.yaml
[code]

#### Statefulset: prometheus-prometheus-operator-prometheus

[code]

#### Prometheus object:  prom

[2020-09-15 12:31] simonpasquier commented on #3500
And is the warning message repeated in the logs?

[2020-09-15 14:59] simonpasquier commented on #3497
I've pushed [pkg/apis/monitoring/v0.42.0 ](https://github.com/prometheus-operator/prometheus-operator/releases/tag/pkg%2Fapis%2Fmonitoring%2Fv0.42.0).

[2020-09-15 15:07] simonpasquier commented on #3302
The Prometheus object being named `prometheus-operator-prometheus`, it's expected that the PVC template name is constructed as `prometheus-<prometheus object name>-db`. You need to either change the name of the Prometheus object or specify your own PVC template name in the Prometheus spec.

[2020-09-15 17:07] scottrigby commented on #3169
This is now complete ✅  I thought I had updated it everywhere, but just remembered this issue.

https://twitter.com/r6by/status/1303742371427909632?s=20

@HelmPack stable Prometheus charts (17 of them) have moved to https://github.com/prometheus-community/helm-charts 🎉 🥳

https://twitter.com/r6by/status/1303744992717008900?s=20

(also see the thanks tweet in that thread. mainly wanted to post news

[2020-09-15 17:30] fernandocarletti commented on #3391
I'm a bit late here, I totally missed the older replies. But what happens if the process can't reply the requests but it is not dead? Isn't this the case for the liveness probe?

[2020-09-15 18:19] tamalsaha commented on #3497
Thanks for the quick fix. It is working. Please close the issue when you are done.

[2020-09-16 00:46] ne1000 commented on #3500
@simonpasquier Sure,  there are a lot of such duplicate logs, and they are being sent all the time, the prometheus sends alert to the alertmanager always has alert too.
[code]

[2020-09-16 06:44] jakerbeck commented on #2972
@shibumi I found this page helpful in getting prometheus-operator to monitor Rancher's etcd, kubescheduler, kubecontrollermanager, and kubeScheduler:

https://github.com/xetys/rancher-prometheus/blob/master/docs/Monitoring%20external%20etcd.md

FYI the helm project looks like it moved to kube-prometheus-stack recently: (https://github.com/prometheus-community/helm-charts/tree/main/charts/kube-prom

[2020-09-16 06:59] dntosas commented on #3354
have you tried this workaround ^^ @vincent-pli ?

[2020-09-16 08:25] galindro commented on #3302
But this is occurring even on Alertmanager object @simonpasquier. BTW, would be nice if both alertmanager and prometheus objects could provide such functionality to keep similarity between configurations. This could be a good solution for prometheus-operator helm chart that creates huge PVC names (above 63 chars). The current way to workaround it is to set the fullnameOverride to a single char (li

[2020-09-16 08:47] galindro commented on #3302
I just ran a helm with dry-run to see if prometheus-operator helm chart could be trying to create a wrong Prometheus / Alertmanager specs and I confirmed that it **isn't**. This is a snippet of the dry-run:

[code]

[code]

[2020-09-16 09:39] paulfantom commented on #3169
Closing issue as helm chart is now maintained at https://github.com/prometheus-community/helm-charts

[2020-09-16 09:39] #3169 closed

[2020-09-16 11:28] dntosas commented on #3354
a little bit related --> https://github.com/istio/istio/issues/27328

[2020-09-16 14:38] zffocussss opened #3510 "how to manage config-out as it is a empty volume"
**What did you do?**
I want to control the promethues configuration file by configmap

**Did you expect to see some different?**

**Environment**
AKS
* Prometheus Operator version:

 `quay.io/coreos/prometheus-operator:v0.32.0`

`
kubectl describe Prometheus prometheus-operator-prometheus -n monitoring
 - Name:         prometheus-operator-prometheus
-  Namespace:    monitoring
 - Labels:       app

[2020-09-16 14:39] zffocussss commented on #3510
Is there a way to manage the promethues configuration by configmap or other ways?

[2020-09-16 14:50] zffocussss commented on #3510
how can I specify the config file?
--config.file=/etc/prometheus/config_out/prometheus.env.yaml

[2020-09-16 15:41] paulfantom commented on #3510
No, there is no such way. You need to use custom resources and configuration is synthesized by prometheus-operator. All options are described in [api.md](https://github.com/prometheus-operator/prometheus-operator/blob/master/Documentation/api.md).

[2020-09-16 16:43] #3497 closed

[2020-09-16 16:44] metalmatze commented on #3499
Let's do it! All for it!

[2020-09-16 17:37] Brick7Face commented on #3500
I am having this same issue - our logs have shown these refresh errors for the past 3 days. Our silences are not replicating on the different replicas of alertmanager and I was not sure if this perhaps was the reason, or if something else is the issue.

[2020-09-16 20:38] bgagnon commented on #2491
We've run into this.

When prometheus-operator is crash looping, it might become unavailable, but the pod will continue running on the same node with a restarting container. There is nothing that will magically "heal" this prometheus operator on the cluster. The idea that "15 seconds" or "30 seconds" is an upper bound on unavailability is inaccurate, IMO.

For such situation, HA through leader ele

[2020-09-16 20:42] bgagnon commented on #2791
See earlier discussion in #2491

[2020-09-16 20:52] RiRa12621 commented on #2491
From my perspective if any pod goes crashlooping and stays that way, be it prometheus-operator or whatever other app you have, you need to solve the root cause and not the symptom.
In case someone were to implement HA (PRs welcome, I assume), you would still need to manually interact with the cluster in your case since as you said, the pod is not coming back to a normal state on its own.
Your aler

[2020-09-16 22:37] colinking opened #3511 "Alertmanager Proxy URL"
**What is missing?**

To connect Prometheus with Alertmanager, you can specify a name/namespace/port: https://github.com/prometheus-operator/prometheus-operator/blob/156a5ec29cc90d76dbff8f3c8bf918c5e73080af/pkg/apis/monitoring/v1/types.go#L638-L647

However, that assumes that Alertmanager is running in the same k8s cluster as Prometheus. Prometheus [supports an optional proxy URL](https://promethe

[2020-09-17 09:08] stefancocora opened #3512 "prometheus-operator's component=prometheusoperator never syncs in versions of the prometheus-operator > 0.40.0"
**What happened?**
The component prometheusoperator of prometheus-op never syncs in versions of the prometheus-operator > 0.40.0
which results in the prometheus application never getting created.

[code]

Prometheus-operator 0.40.0 works as expected, it creates the prometheus application from the prometheus CRD.

[code]

**Did you expect to see something different?**
I expect to see the prometheus

[2020-09-17 10:29] RiRa12621 opened #3514 "Automatically deploy blackbox_exporter when a probe is defined"
**What is missing?**
A blackbox_exporter deployment

**Why do we need it?**
With the recent addition of synthetic probes, it is possible to easily create blackbox exporter probes, however this still requires a blackbox exporter deployment to exist on cluster in order to work.

A more convenient over a user manually deploying it, would be for prometheus operator to create said deployment, once the

[2020-09-17 11:39] paulfantom commented on #3514
I don't think prometheus-operator should deploy blackbox_exporter. The same way it is not deploying node_exporter or kube-state-metrics.

In the current iteration Probe CRD gives users full flexibility over where checks are coming from and according to best practices blackbox monitoring should be done from the outside of the cluster to mimic user requests. The majority of cases inside the cluster

[2020-09-17 11:49] RiRa12621 commented on #3514
I think the key difference here is that neither node_exporter nor KSM are explicitly required by prometheus-operator components in order to fully work.
Essentially a Probe will not work without a blackbox_exporter, if i understood correctly. If I did in fact misunderstand that part, then we can cut it short at this point.

Thinking of isolated clusters or users with only a single cluster: they bas

[2020-09-17 11:55] #2802 closed

[2020-09-17 11:58] paulfantom commented on #3514
Neither ServiceMonitor without a Service, not PodMonitor without a Pod. This doesn't mean prometheus-operator should provision those.

I agree that there as such cases, but if we start provisioning blackbox_exporter pods, we are setting a pattern of usage for it. And in this case, this would be an anti-pattern for a lot of environments. I think it would be good to include blackbox_exporter as a js

[2020-09-17 12:00] RiRa12621 commented on #3514
You got me there

kube-prometheus sounds like a good way forward to me.
Closing.
If anyone has strong feelings about this, I think they can still comment and/or re-open the issue

[2020-09-17 12:00] #3514 closed

[2020-09-17 13:21] brancz commented on #3514
Another perspective (same result): At one point I actually thought about defaulting blackbox exporter configuration, but even that I think goes too far. It's not uncommon that you have multiple blackbox exporters so you ping probe from multiple geolocations.

[2020-09-17 14:58] omegas27 commented on #2787
Could we start by actually adding the scrape config CRD to actually deliver this and refactor the code in other PRs to reduce duplication? This might become too big otherwise

[2020-09-18 10:32] lilic commented on #3218
@s-urbaniak I believe we can close this now since the new listwatch was merged?

[2020-09-18 13:32] CzarMich commented on #717
Anybody able to come up with solution on this..?

`helm install bitnami/kube-prometheus prometheus --values /tmp/prometheus.values --namespace monitoring`
`Error: failed to download "prometheus" (hint: running `helm repo update` may help)`

Same problem

[2020-09-18 14:23] paulfantom commented on #3512
It seems that you have issues with RBAC when using v0.42, which is expected considering that kube-prometheus from `release-0.4`, [used by you](https://github.com/stefancocora/prometheus-operator-test-4cef/blob/master/jsonnetfile.json#L11), doesn't have everything needed by prometheus-operator v0.42.
Additionally according to [kube-prometheus compatibility matrix](https://github.com/prometheus-oper

[2020-09-18 14:31] dgrisonnet opened #3516 "Add broken links check in CI"
**What is missing?**

Currently, we don't check if any of the links present in the documentation are actually working or not. Because of that, some of the links are broken which makes it harder to get all the information when reading the documentation.

**Why do we need it?**

To make sure the documentation is consistent.

**Anything else we need to know?**:

I wrote a POC for this and the CI repo

[2020-09-18 14:41] paulfantom commented on #3516
Good idea :+1:

I believe thanos repository has an [open PR with similar implementation](https://github.com/thanos-io/thanos/pull/3106) and it seems like we can discard false-positives with a config file.

[2020-09-18 15:58] stefancocora commented on #3512
Thank you for pointing out my mistake @paulfantom :+1:

It would be very useful if the prometheus-operator would log what/where it is having issues with.
That would be an important time saver.

Did some tests with later versions of the kube-prometheus lib
- `release-0.6`
- `master`

**release-0.6**

Even if `release-0.6` is marked as compatible with k8s v1.18.x in the kube-prometheus docs it didn'

[2020-09-18 17:33] macroscopicentric commented on #3227
Resolved by https://github.com/prometheus-operator/prometheus-operator/pull/3385

[2020-09-18 17:33] #3227 closed

[2020-09-18 19:35] colinking commented on #3511
Closing this issue, since we identified we could accomplish this with `additionalAlertManagerConfigs` to inject a `static_config` target.

[2020-09-18 19:35] #3511 closed

[2020-09-19 04:12] kehao95 opened #3517 "prometheus-operator crash on a Probe"
**What happened?**
I didn't fully understand the [API of Probe](https://github.com/prometheus-operator/prometheus-operator/blob/master/Documentation/api.md#probe) especially the difference between `prober` and `targets`  so I decided to try it out and I composed an (may be invalid) probe.yaml and applied.
prometheus-operator crashed when I applied the `Probe.yaml`

**Did you expect to see somethin

[2020-09-19 06:04] kehao95 commented on #3514
Hi there, I read your discussions and I agreed on your points, until I really tried to use it.

I was trying to probe some http endpoints inside/outside my k8s cluster. Then the first challenge I meet was to deploy an `node_exporter` fits into the `ProberSpec` which takes an `url` not an `selector`. **URL** makes sense since we may leverage the prober outside the cluster. But it makes it hard to l

[2020-09-21 00:44] JohnRusk commented on #3438
Relates to: https://github.com/kubernetes-sigs/controller-tools/issues/288

[2020-09-21 01:05] JohnRusk commented on #3438
See also: https://github.com/kubernetes-sigs/controller-tools/issues/441#issuecomment-695862151

[2020-09-21 01:06] JohnRusk commented on #3438
As per the two links above, the issue seems to be mostly that un-needed `descriptions` are being included in the generated YAML. If that could be fixed, then maybe this would become a non-issue.

[2020-09-21 06:48] jaisegrg opened #3518 "Monitor active passive URLs using Prometheus Operator"
Hi @dlespiau

I have a requirement to monitor active passive URLs  and send notification if  both are down.
I have setup blackbox exporter and  its sending notification if any URL is down. As its an active passive setup, i dont need to alert when any one is UP.

Is there a way to monitor shell script using Prometheus Operator to accomplish this or any other methods?

Can you please help on this?

[2020-09-21 07:02] nerzhul commented on #3476
any news on this issue ?

[2020-09-21 08:13] lilic commented on #3517
Thanks for the bug report, seems like a valid bug. Are you interested in working on the fix?

[2020-09-21 08:15] lilic commented on #3476
@nerzhul I am hoping to get to this within the next few days.

[2020-09-21 08:18] lilic commented on #3495
@Yalafeg can you share the entire configuration, might be easier to understand what went wrong, thanks!

[2020-09-21 08:37] brancz commented on #3518
Prometheus works by alerting from time-series, so you do want to collect metrics for both targets, but your alerting rule can express your desired behavior.

[2020-09-21 08:49] jaisegrg commented on #3518
@brancz ,

Below is the alert rule configured for the same,

- alert: EndpointDown
      annotations:
        summary: Endpoint {{ $labels.instance }} down
      expr: probe_success == 0
      for: 10s
      labels:
        severity: critical

But it will alert if any one endpoint is down, But i need to alert only when both the endpoints are down as its active passive URLs. Need to make sure any o

[2020-09-21 10:11] dgrisonnet commented on #3438
Hi @JohnRusk, CRD management has been removed from the operator since v0.39 by #3155 for the reasons mentioned above by @coderanger. Since this change, the operator is not creating its CRDs anymore, so we needed to include them to the bundle manifest to deploy an operator ready to use.

That being said, you mentionned that when you tried the v0.41 of the operator, it was still creating few CRDs. W

[2020-09-21 12:15] simonpasquier commented on #3500
`lookup alertmanager-main-2.alertmanager-operated.monitoring.svc on 10.100.0.10:53: no such host` tells us that the DNS server replies that the hostname doesn't exist. It's probably an issue with CoreDNS...

[2020-09-21 12:40] paulfantom commented on #3437
What is the actual version of prometheus-operator? Does prometheus-operator has access to `ecs-dev-haupia` namespace and Secrets stored there?

It looks to me like an issue with a helm chart you are using and as such, I would suggest contacting the maintainers of said helm chart.

[2020-09-21 14:31] kehao95 commented on #3517
I wish I can, but sorry I'm new to golang and k8s.

[2020-09-21 14:46] lilic commented on #3517
@kehao95 no worries!

[2020-09-21 14:56] nerzhul commented on #3476
nice to hear thanks

[2020-09-21 17:40] KadenLNelson commented on #3411
I'm experiencing this error as well, for not only the `prometheus-operated` service but the `alertmanager-operated` as well.

I'm running prometheus-operator without cluster level permissions but the service account it is using has `*` permissions for the namespace.

[code]

[2020-09-21 20:50] JohnRusk commented on #3438
It's possible I made a mistake in reporting the behavior of version 4.1.  I'll see if I can check somehow.

BTW, I'm not saying that _all_ descriptions are unneeded.  Just that ones like the example below.  It contains descriptions not of concepts relating to the Operator (which I agree should remain present) but of standard Kubernetes concepts.  Even worse, it's repeated 13 times in the CRD.  I'd

[2020-09-22 11:37] #3516 closed

[2020-09-22 11:42] paulfantom opened #3524 "Coding style guidelines"
**What is missing?**

We had a dead link to old coreos coding guidelines, now after https://github.com/prometheus-operator/prometheus-operator/pull/3519 was merged we don't have any coding guidelines.

**Anything else we need to know?**:
This is a follow-up to discussion from https://github.com/prometheus-operator/prometheus-operator/pull/3519#discussion_r492144248

/cc @s-urbaniak

[2020-09-22 11:50] lilic commented on #3524
I like the https://github.com/thanos-io/thanos/blob/master/docs/contributing/coding-style-guide.md that was suggested! 👍

[2020-09-22 12:21] paulfantom commented on #3524
We cannot directly use that guideline, unless we will to refactor some part of codebase to use [runutil](https://pkg.go.dev/github.com/thanos-io/thanos@v0.11.0/pkg/runutil?tab=doc)

[2020-09-22 13:56] galindro commented on #2515
Guys, I'm getting an issue to scrape metrics via PodMonitor and I found this issue, so, I would like to know if it has something to do with it.

I'm defining a PodMonitor like this to scrape some openebs pods metrics:

[code]

The problem is that the generated prometheus.yaml has the bellow content. It isn't working properly. Prometheus isn't being able to scrape any metrics because it can't find

[2020-09-22 14:22] simonpasquier commented on #3524
Another data point from https://github.com/prometheus/prometheus/blob/master/CONTRIBUTING.md

[2020-09-22 22:08] midnightconman opened #3527 "prometheus_operator_build_info metric"
**What is missing?**
prometheus and alertmanager have an info metric that indicates the deployed version of the application... can we create a `prometheus_operator_build_info` metric that would follow suit?

Here is an example of the metric for prometheus:
[code]

**Why do we need it?**
Without this I have to query kubernetes to determine which version of the prometheus-operator I have deployed.

[2020-09-23 01:46] jaisegrg opened #3528 "Horizontal scaling in Prometheus Operator"
Is horizontal scaling available in Prometheus Operator?
How it can deal with when the resource quota limit exceeds?

[2020-09-23 01:54] coderanger commented on #3528
Prometheus is, in general, not horizontally scalable in an automated manner. You can do it, but you need to manually think through how to shard your data and then how to federate it so it's still useful. Prometheus Operator makes it much easier to spin up, say, one instance per team or per customer but that's not HPA-style autoscaling that I think you are imagining.

[2020-09-23 01:54] #3528 closed

[2020-09-23 02:05] JohnRusk commented on #3438
@dgrisonnet I can't reproduce the behavior that I thought I saw, with version 41 supposedly creating some CRDs. I think I must have had an error in my earlier tests, and seen CRDs left over from earlier testing.  Today, with a fresh K8s cluster, I see the behavior you expect (i.e. version 41 creates no CRDs). Apologies for the false alarm.

Would still be interested in your thoughts about descript

[2020-09-23 07:47] lilic commented on #3527
@midnightconman thanks for the feature request, do you mind just also explaining what your use cases are for this metric, just curious how you would use it, thanks!

[2020-09-23 07:57] brancz commented on #3518
You can for example do:

[code]

The way alerts work in Prometheus is that any "line" of the result in the `expr` produces an alert, which is why for your example any probe that failed triggered the alert.

[2020-09-23 07:57] #3518 closed

[2020-09-23 09:03] brancz commented on #3528
FWIW there is some work in progress to that will make autosharding potentially possible: https://github.com/prometheus-operator/prometheus-operator/pull/3241

[2020-09-23 10:24] paulfantom commented on #3527
This is a valid feature request and we should implement it. Such a metric is a common way to discover what versions of the stack components are running and what was used to compile them. We can later ask users to provide output of this metric in issue templates.

@midnightconman could you create a PR?

[2020-09-23 10:45] s-urbaniak commented on #3524
@paulfantom what would speak against refactoring? I would assume that would be a good opportunity to readjust.

[2020-09-23 10:56] paulfantom commented on #3524
Nothing, apart from time :)

[2020-09-23 10:59] skonto opened #3529 "Upgrade version in k8s client"
Is there any plan to upgrade the k8s client version used in the operator. It seems too old. We are currently using the service monitor api in this project: https://github.com/openshift-knative/serverless-operator
Version mismathc causes issues like:
[code]
Should I create a PR?

[2020-09-23 11:02] paulfantom commented on #3529
We are using [k8s client go in version 0.18.8](https://github.com/prometheus-operator/prometheus-operator/blob/master/go.mod#L33), do you need 0.19? If so - why?

[2020-09-23 11:08] skonto commented on #3529
Hi, because this call https://github.com/prometheus-operator/prometheus-operator/blob/f6aba9769f1a9c6c199731cc63d21f5f0c909d25/pkg/client/versioned/typed/monitoring/v1/alertmanager.go#L73 in later versions does not require a ctx.

[2020-09-23 11:16] skonto commented on #3529
We can close this it is actually the opposite the project I am working on has an old version: https://github.com/kubernetes/client-go/blob/kubernetes-1.13.4/rest/request.go.

[2020-09-23 11:16] #3529 closed

[2020-09-23 12:43] TheoBrigitte opened #3530 "go get yield: invalid version: unknown revision 000000000000"
**What happened?**

[code]

**Did you expect to see something different?**

I expect to be able to use `go get -u github.com/prometheus-operator/prometheus-operator` without any error.

**How to reproduce it (as minimally and precisely as possible)**:

1. Setup a project which imports `github.com/prometheus-operator/prometheus-operator/pkg/client/versioned`

###### go.mod
[code]

###### main.go
[c

[2020-09-23 16:03] grdryn opened #3533 "Add Email Receiver type to AlertmanagerConfig CRD"
**What is missing?**

In #3451 we added the AlertmanagerConfig CRD, with just the PagerDuty receiver type, meaning that alert notifications can only be routed to PagerDuty. Alertmanager supports several other Receiver types, with this being one (other issues will be created for the others).

**Why do we need it?**

We should be able to define all of the Alertmanager receivers in AlertmanagerConfig

[2020-09-23 16:03] grdryn opened #3534 "Add Webhook Receiver type to AlertmanagerConfig CRD"
**What is missing?**

In #3451 we added the AlertmanagerConfig CRD, with just the PagerDuty receiver type, meaning that alert notifications can only be routed to PagerDuty. Alertmanager supports several other Receiver types, with this being one (other issues will be created for the others).

**Why do we need it?**

We should be able to define all of the Alertmanager receivers in AlertmanagerConfig

[2020-09-23 16:03] grdryn opened #3535 "Add Slack Receiver type to AlertmanagerConfig CRD"
**What is missing?**

In #3451 we added the AlertmanagerConfig CRD, with just the PagerDuty receiver type, meaning that alert notifications can only be routed to PagerDuty. Alertmanager supports several other Receiver types, with this being one (other issues will be created for the others).

**Why do we need it?**

We should be able to define all of the Alertmanager receivers in AlertmanagerConfig

[2020-09-23 16:03] grdryn opened #3536 "Add OpsGenie Receiver type to AlertmanagerConfig CRD"
**What is missing?**

In #3451 we added the AlertmanagerConfig CRD, with just the PagerDuty receiver type, meaning that alert notifications can only be routed to PagerDuty. Alertmanager supports several other Receiver types, with this being one (other issues will be created for the others).

**Why do we need it?**

We should be able to define all of the Alertmanager receivers in AlertmanagerConfig

[2020-09-23 16:03] grdryn opened #3537 "Add WeChat Receiver type to AlertmanagerConfig CRD"
**What is missing?**

In #3451 we added the AlertmanagerConfig CRD, with just the PagerDuty receiver type, meaning that alert notifications can only be routed to PagerDuty. Alertmanager supports several other Receiver types, with this being one (other issues will be created for the others).

**Why do we need it?**

We should be able to define all of the Alertmanager receivers in AlertmanagerConfig

[2020-09-23 16:03] grdryn opened #3538 "Add Pushover Receiver type to AlertmanagerConfig CRD"
**What is missing?**

In #3451 we added the AlertmanagerConfig CRD, with just the PagerDuty receiver type, meaning that alert notifications can only be routed to PagerDuty. Alertmanager supports several other Receiver types, with this being one (other issues will be created for the others).

**Why do we need it?**

We should be able to define all of the Alertmanager receivers in AlertmanagerConfig

[2020-09-23 16:03] grdryn opened #3539 "Add VictorOps Receiver type to AlertmanagerConfig CRD"
**What is missing?**

In #3451 we added the AlertmanagerConfig CRD, with just the PagerDuty receiver type, meaning that alert notifications can only be routed to PagerDuty. Alertmanager supports several other Receiver types, with this being one (other issues will be created for the others).

**Why do we need it?**

We should be able to define all of the Alertmanager receivers in AlertmanagerConfig

[2020-09-23 18:08] midnightconman commented on #3527
Excellent... I think I can get started on a PR for this. I have some concerns about how to integrate the versioning into the build system, but I'll reach out if that isn't clear.

Thank you! 😸

[2020-09-23 18:10] midnightconman commented on #3527
@lilic - for prometheus and thanos (they both have a build_info metric like this), we have a grafana dashboard with a table panel that shows the current deployed version. Since we have over 55 prometheus clusters, this helps to let us know if we missed any in our upgrades 😜

[2020-09-23 18:36] paulfantom commented on #3527
Feel free to ping me either on PR or on slack (same nick as on GitHub). I was recently refactoring our build system, so everything is fresh in my head :smile:

[2020-09-23 18:58] weisdd commented on #1961
There are two options now that can be useful for removing default external labels: prometheus.prometheusSpec.eplicaExternalLabelNameClear and prometheus.prometheusSpec.prometheusExternalLabelNameClear.

[2020-09-24 06:12] brancz commented on #3524
It's rather uncommon that there are 0 violations of style guides. I think it's better to have it and improve than adopt a standard we're not actually happy with.

[2020-09-24 06:58] #3411 closed

[2020-09-24 07:30] s-urbaniak commented on #3524
agreed :+1: we could merge the coding styleguides in conjunction with creating a "help needed" issue asking the community to help in refactors to adhere to guidelines.

[2020-09-24 07:54] lilic commented on #3524
Yes, we could mark them as hacktoberfest label as well, as they are most likely very small issues that are straightforward.

[2020-09-24 09:12] lilic opened #3540 "Flaky e2e test: E2E tests (alertmanager)"
We seem to have had a flaky test for some time, here are some examples I did not have a chance to look into it yet, but it does finish after some retries.

https://github.com/prometheus-operator/prometheus-operator/runs/1155429560?check_suite_focus=true

https://github.com/prometheus-operator/prometheus-operator/runs/1153860258?check_suite_focus=true

Seems like there are a couple of flakes, not j

[2020-09-24 09:27] silenceper commented on #2630
@metalmatze  We also need this feature too.

We customized the network in Kubernetes to isolate the pod network from the host network.
And we want prometheus to use the host network.

[2020-09-24 11:27] OleksandrMykytenko opened #3542 "Getting "Failed to list: resourceVersion: Invalid value""
**What happened?**
Prometheus operator generates lot of logs related to issues with parsing values from K8S.

**Did you expect to see something different?**
I'm not using Thanos and Alertmanager objects right now so I'm not impacted by these errors however I do not think that it's good sign.
**How to reproduce it (as minimally and precisely as possible)**:

**Environment**
AWS EKS cluster, version

[2020-09-24 12:34] simonpasquier commented on #3542
Ah can you try with v0.42.0? it's most certainly fixed by https://github.com/prometheus-operator/prometheus-operator/pull/3440.

[2020-09-24 12:36] simonpasquier commented on #3218
Yeah, it should be fixed by https://github.com/prometheus-operator/prometheus-operator/pull/3440.

[2020-09-24 12:36] #3218 closed

[2020-09-24 12:48] OleksandrMykytenko commented on #3542
OK, upgraded to `0.42.0` and the issue is gone for now. However, i started seeing new one related to Probe feature introduced in `0.41` - `E0924 12:47:02.555086       1 reflector.go:178] pkg/mod/k8s.io/client-go@v0.18.3/tools/cache/reflector.go:125: Failed to list *v1.Probe: the server could not find the requested resource (get probes.monitoring.coreos.com)` ... RBAC has been updated to allow Prom

[2020-09-24 12:54] OleksandrMykytenko commented on #3542
Do I need to create probe CRD by myself via applying https://github.com/prometheus-operator/prometheus-operator/blob/master/example/prometheus-operator-crd/monitoring.coreos.com_probes.yaml or it should be provisioned by operator itself somehow?

[2020-09-24 13:33] KadenLNelson commented on #3411
@n1kofr may you see if your issue is resolved with this image? `docker pull quay.io/prometheus-operator/prometheus-operator:master@sha256:72910cbe5aa7f7aad1e528063e430d9f8458ad0deeaa227bf47f5dd8c7c93edd`

[2020-09-24 13:58] OleksandrMykytenko commented on #3542
created CRD manually using example file. topic can be closed

[2020-09-24 13:58] #3542 closed

[2020-09-24 13:59] n1kofr commented on #3411
Thanks for the fix. I will setup my environment and test during the day. Hopefully i can give you some feedback by end of the day.

[2020-09-24 14:23] lilic commented on #3542
@OleksandrMykytenko yes since a few releases ago you need to manage your own CRDs, the operator does not do that for you anymore.

[2020-09-24 15:24] shockfish commented on #1595
First is check what is your Rule Selector, by:
1. Get current prometheus CRD (with default namespace is **monitoring**)
`kubectl describe prometheus $(kubectl get -n monitoring -o=name) -n monitoring`
2. Find Rule Selector, like:
[code]
3. In your PrometheusRule set labels as above:
[code]

[2020-09-24 15:33] vperi1730 opened #3543 "Enabling Rolebinding for Prometheus Server instead of ClusterRoleBinding"
**What did you do?**

We have a use case with the following configuration. Looking out for answers for 1 and 5 asks.

1) Prometheus and Prometheus operators are with role binding.
  a) Rolebinding with Prometheus is resulting in few errors inside the server logs.
User \"system:serviceaccount:brcm-prometheus1:prometheus\" cannot list resource \"nodes\" in API group \"\" at the cluster scope"
level=

[2020-09-24 16:16] n1kofr commented on #3411
I did update the image using the latest version you provided.

Images in my docker:

Logs before i updated the deployment:

List of Pods for monitoring namespace:

List of Pods after updated the image in the deployment:

The only logs after update are:

It seems that the chart i used did not create the resources/CRD for probes. Not sure if this problem impact the validation of your fix.

I checked

[2020-09-24 19:33] aeugenio commented on #2968
i encountered this as well.  adding via containers is not a viable solution as i actually tried it before finding this existing issue.  you're basically duplicating all the work that the `prometheusSpec.thanos` chart setting enables.  with less control since its mostly done in go code.

[2020-09-24 21:03] BlackBsd commented on #1319
Hello,
I recently switched from using the stable/prometheus-operator helm chart to the prometheus-community/charts/kube-prometheus-stack and I am now seeing this problem as well.  Its not really complaining about alertmanager, rather something about kubelet.

`
level=warn ts=2020-09-24T20:31:49.382Z caller=manager.go:577 component="rule manager" group=kubernetes-system-kubelet msg="Evaluating rule

[2020-09-24 23:41] JohnRusk opened #3544 "Support and document tighter RBAC permissions for Operator"
Some of the RBAC permissions that must be granted to the Operator, in its ClusterRole, seem too broad.  Following the principle of least privilege's, can they be tightened up?  If so, how?

**Details**

The existing permissions in bundle.yaml seem to fall into the following groups:

|Area|Example|Comment on Security|
|---|---|---|
|Access to CR instances|e.g. alertmanagers, serivcemonitors etc in

[2020-09-24 23:43] JohnRusk commented on #3543
Nice, @vperi1730.  I've just logged something very similar.  Maybe the stuff I logged in #3544 would be one way to do what you're looking for.  I logged it separately because you're looking specifically to use (only?) RoleBinding, whereas I'm suggesting splitting the existing ClusterRoleBinding - keeping some things at cluster level and moving others to namespace level.

[2020-09-24 23:44] coderanger commented on #3544
I think the issue is that there is no one namespace that you can create a Prometheus instance in. If you're running just one instance then this makes sense, but that's not the only use case. Folks also use the operator to do stuff like run one prom per team, each in its own namespace. That said, having two "flavors" available in the docs wouldn't be bad, even if the default is still the general ca

[2020-09-24 23:45] JohnRusk commented on #3544
Yes, two flavors would be ideal!

[2020-09-25 02:33] jichenjc commented on #2359
I used `curl -k https://localhost:6443/api/v1/nodes/127.0.0.1/proxy/metrics` and https://github.com/kubernetes/cloud-provider-openstack/blob/master/pkg/csi/cinder/nodeserver.go#L466 support already implemented, but

[code]

see nothing... any comments additional stuff need to be added?

[2020-09-25 12:28] grdryn opened #3546 "Generated copyright headers always use 2018 as copyright year"
This came up in a code review with @lilic here: https://github.com/prometheus-operator/prometheus-operator/pull/3451#discussion_r493294089.

See [here](https://github.com/prometheus-operator/prometheus-operator/blob/master/.header#L1) for where the value comes from.

This means that when we run generation commands, the year is always set to 2018, even for newly-generated files.

Should we update t

[2020-09-25 13:12] simonpasquier commented on #1319
`AlertmanagerConfigInconsistent` has been updated in https://github.com/prometheus-operator/kube-prometheus/pull/576 and it shouldn't trigger `many-to-many matching not allowed` errors anymore. AFAICT `AlertmanagerDownOrMissing` has been removed too so I'm closing the issue.

[2020-09-25 13:12] #1319 closed

[2020-09-25 13:37] lilic commented on #1245
Closing as helm was moved out of this repo and is now in the Prometheus community org.

[2020-09-25 13:37] #1245 closed

[2020-09-25 13:37] lilic commented on #907
Closing as helm was moved out of this repo and is now in the Prometheus community org.

[2020-09-25 13:37] #907 closed

[2020-09-25 13:57] omegas27 commented on #3536
I am up for implementing this one when https://github.com/prometheus-operator/prometheus-operator/pull/3451 is merged

[2020-09-25 13:57] omegas27 commented on #3535
I am up for implementing this one when https://github.com/prometheus-operator/prometheus-operator/pull/3451 is merged

[2020-09-25 14:21] dgrisonnet commented on #3546
I'd say we should follow what Kubernetes is doing, aka removing the YEAR for the generated go files: https://github.com/kubernetes/kubernetes/blob/master/hack/boilerplate/boilerplate.generatego.txt

As for the files created manually, we should continue with the usual mechanism to set the YEAR according to the one the file was created at.

[2020-09-27 07:23] infa-ddeore commented on #2907
I am able to make prometheus work with istio (`1.6.1` and higher only) STRICT mtls PeerAuthentication with some manual work, check out https://github.com/prometheus-community/helm-charts/issues/145 feature request for making it work, it will avoid some extra work to make it work once this feature request is available

[2020-09-27 13:11] nrchakradhar commented on #3488
Hi @simonpasquier I think the following changes are needed for this. If my understanding is right, I will try to create a PR.

In [type PrometheusSpec struct](https://github.com/prometheus-operator/prometheus-operator/blob/master/pkg/apis/monitoring/v1/types.go#L85) and [type AlertManagerSpec struct](https://github.com/prometheus-operator/prometheus-operator/blob/409568a7381e47e871c2db010351b8921b

[2020-09-27 13:31] nrchakradhar commented on #3375
@brancz
I believe the field allowPrivilegeEscalation and capabilities are part of container spec and NOT podSpec. https://kubernetes.io/docs/reference/generated/kubernetes-api/v1.18/#container-v1-core
So this probably should be added to the spec in types.go and then in [prometheus/statefulset.go](https://github.com/prometheus-operator/prometheus-operator/blob/de9a6e10509b5ceeb2c26bd23b840d4c6b8b45

[2020-09-28 06:51] jaisegrg commented on #3528
@brancz ,

Thank you for the information!!

I have 4 AKS clusters running Prometheus Operator. What are the chances of getting OOM issue? Below is the current CPU/Memory usage  and number of sample ingestion per second. Also the custom service monitors are configured with scrape interval 15s.

Can you please give some suggestions on optimizing the environment?

NAME

[2020-09-28 10:08] vperi1730 commented on #3543
Can someone answer to our question and help us.

[2020-09-28 12:18] jaisegrg opened #3547 "Prometheus Operator OOM issues"
We have 4 AKS clusters running Prometheus Operator currently in staging which is going to be in Production. What are the chances of getting OOM issue? Below is the current CPU/Memory usage  and number of sample ingestion per second for each cluster. Also the custom service monitors are configured with scrape interval 15s.

Can you please give some suggestions on optimizing the environment to avoid

[2020-09-28 16:16] KadenLNelson commented on #3411
@n1kofr Okay, it looks like you're running into a possibly unrelated RBAC issue now. If you see the aforementioned exception again please let us know, thank you for your time.

[2020-09-28 18:59] kehao95 commented on #3514
@brancz @paulfantom @RiRa12621
Maybe this is closed so you didn't see my comments. Just want to bring your attention on this again.

[2020-09-29 05:39] Mehmoodhassan opened #3548 "Where Prometheus Operator keeps data?"
I installed prometheus operator using helm in kubernetes and its working fine and displaying metrics on prometheus UI but i want all metrics in a file instead of UI, please tell me where promethus operator stores data in which directory.

[2020-09-29 05:42] coderanger commented on #3548
You can configure the storage used for Prometheus: https://github.com/prometheus-operator/prometheus-operator/blob/master/Documentation/user-guides/storage.md

By default it uses a temporary emptyDir as this is universally available and allows quick testing of the operator. Persistent storage is strongly recommended unless you reeeeeally know what you're doing and have made your own arrangements f

[2020-09-29 05:42] #3548 closed

[2020-09-29 06:55] jaisegrg commented on #3547
@brancz ,

Can you please advise on this?

[2020-09-29 07:44] simonpasquier commented on #3547
As an outsider, iIt's hard to tell exactly how much RAM you'd need because it depends on many factors: number of metrics ingested, labels churn, rules evaluation and user queries.
Check https://www.robustperception.io/how-much-ram-does-prometheus-2-x-need-for-cardinality-and-ingestion and https://www.robustperception.io/why-does-prometheus-use-so-much-ram if you haven't already.
One approach would

[2020-09-29 07:49] paulfantom commented on #3514
Probe is designed for external blackbox checks (hence why `blackbox_exporter` is necessary). In the current form it has a potential that other exporters might be used, for example maybe sth like [smokeping_prober](https://github.com/SuperQ/smokeping_prober) could be adapted for this purpose. This means a `Probe` has potential to be used with other exporters, which are designed in similar way as `b

[2020-09-29 09:46] junotx opened #3549 "rules in different prometheusrule instances may be overwritten"
**What happened?**

For example, there is a prometheusrule instance called `test-rules` in namespace `alerting`, and another prometheusrule instance called `rules` in namespace `alerting-test`. They are both being formatted into `alerting-test-rules` by `%v-%v` in the figure below. So one of them cannot be loaded into prometheus.

![image](https://user-images.githubusercontent.com/49136171/9454229

[2020-09-29 09:52] lilic commented on #3476
@nerzhul do you mind testing the https://github.com/prometheus-operator/prometheus-operator/pull/3481, thanks!

[2020-09-29 13:34] simonpasquier opened #3550 "The Prometheus operator should discard invalid TLS configurations"
**What happened?**

I created a service monitor with a `cert` field but no `keySecret`. The operator generated the new configuration but Prometheus failed to reload because it expects that both cert and key are [defined](https://github.com/prometheus/common/blob/317b7b125e8fddda956d0c9574e5f03f438ed5bc/config/http_config.go#L344-L354).

Prometheus logs:

[code]

Note that if the Prometheus contain

[2020-09-29 14:56] kirkharris1 opened #3551 "Problem with secret refresh v0.42.1"
We were running v0.39.0 with `additionalScrapeConfigs` runtime changes to the referenced secret were being updated by prometheus-operator and the config changes loaded into Prometheus.   After upgrading to 0.42.1 when prom-op starts the config is correctly loaded from the secret and Prometheus updated. However after the first update the configuration in Prometheus doesn't get updated when the conf

[2020-09-29 15:05] kirkharris1 commented on #3551
closing since i somehow managed to create an issue without it being `kind/bug` or using the template.

[2020-09-29 15:05] #3551 closed

[2020-09-29 15:13] kirkharris1 opened #3552 "Problem with secret refresh v0.42.1"
**What happened?**

We were running v0.39.0 with `additionalScrapeConfigs:` Runtime changes to the referenced secret were being updated by prometheus-operator and the config changes loaded into Prometheus. After upgrading to 0.42.1 when prom-op starts the config is correctly loaded from the additionalScrapeConfigs secret and Prometheus updated. However after the initial update the configuration in

[2020-09-29 19:15] bradwood commented on #3341
I'm having a similar issue to this.

my events:

[code]

My problem occurred when my PVs filled up and prometheus crashed. I set a `retentionSIze` and changed `volumeClaimTemplate` to add more space and then re-applied the manifests. This fixed the crashloop, but then this problem started....

Happy to provide more details if needed.

[2020-09-30 03:23] QCU266 opened #3553 "namespaceSelector use the same scheme 'NamespaceSelector'"
**What is missing?**
* PrometheusSpec.serviceMonitorNamespaceSelector  using Scheme [metav1.LabelSelector](https://kubernetes.io/docs/reference/generated/kubernetes-api/v1.17/#labelselector-v1-meta),
but MonitorSpec.namespaceSelector using scheme [NamespaceSelector](https://github.com/prometheus-operator/prometheus-operator/blob/release-0.38/Documentation/api.md#namespaceselector)

**Why do we nee

[2020-09-30 06:53] s-urbaniak commented on #3341
Could you recheck the size of the WAL directory? 503 is returned by prometheus when replaying its write ahead log. If it is very big it a) can take quite a while and b) could even exhaust resources causing crashloops.

If the WAL is very big, maybe try deleting it (you'll lose some recent metrics data) to see if the issue resolves.

[2020-09-30 06:57] s-urbaniak commented on #3550
cc @dgrisonnet how do you feel about tackling this issue? :-)

[2020-09-30 07:19] dgrisonnet commented on #3550
I can give it a shot

[2020-09-30 09:08] simonpasquier commented on #3552
I've tried to reproduce but couldn't. Are you sure that you've waited long enough?

[2020-09-30 09:31] kirkharris1 commented on #3552
@simonpasquier thank you for testing. I left it at least 15 minutes, based on `resyncPeriod = 5 * time.Minute` I thought 5 minutes is the max.  I will test again.

[2020-09-30 11:51] simonpasquier commented on #3552
Please provide the YAML manifest of the Prometheus resource.

[2020-09-30 12:50] kirkharris1 commented on #3552
[code]

[2020-10-01 07:03] #3476 closed

[2020-10-01 07:03] lilic commented on #3476
@nerzhul I tested the changes and bug should be fixed, but if you are still having problems feel free to open a new bug report, thank you for reporting! 🎉

[2020-10-01 07:35] arghya88 commented on #3158
So create `context.Context` somewhere at the beginning and use the same everywhere?

[2020-10-01 07:40] nerzhul commented on #3476
very good news, i will text on next release, thanks !

[2020-10-01 08:08] simonpasquier commented on #3158
yes the main context is created [here](https://github.com/prometheus-operator/prometheus-operator/blob/467d744ca9e892da7c5bea1cfb364420986e8d53/cmd/operator/main.go#L258)

AFAICT it's almost done for the operator's code (except one function in `pkg/listwatch/listwatch.go`). I'm not sure what should be done for monitoring informers. And for e2e tests we don't have a concrete context to pass...

[co

[2020-10-01 08:51] simonpasquier commented on #3277
It seems that it works for anybody using Prometheus operator >= 0.38. This issue should probably be closed (cc @paulfantom).

[2020-10-01 08:56] paulfantom commented on #3277
I agree with @simonpasquier. Closing.

If you find problems with bearerTokenSecret, please comment or open a new issue.

[2020-10-01 08:56] #3277 closed

[2020-10-01 09:56] omegas27 opened #3555 "Allow discovery of prometheus through a service using custom annotations"
**What is missing?**
We currently cannot use a service monitor to monitor the prometheus instances created through prometheus operator using custom annotations like prometheus.io/scrape=true

**Why do we need it?**
We need this as we currently have a management cluster managing multiple tenant clusters. We have a prometheus for the management cluster and one for each tenant cluster and we would li

[2020-10-01 11:51] #3347 closed

[2020-10-01 12:01] simonpasquier commented on #3540
Another flake here: https://pipelines.actions.githubusercontent.com/vPMnvJjkGBteTBBeHIuBuscIAxYyVzD3ZDtsis3lp8F0MLY5xH/_apis/pipelines/1/runs/129/signedlogcontent/16?urlExpires=2020-10-01T11%3A52%3A28.2712240Z&urlSigningMethod=HMACV1&urlSignature=tceE7Uj9qlkXbu3QFekc5Bjz2TuYbCSlH6hUQbNijB0%3D

BTW the e2e tests still use the [Alertmanager API v1](https://github.com/prometheus-operator/prometheus-o

[2020-10-01 12:38] edvinas31 opened #3556 "Editing prometheus operator file"
Hello, I am using OKD (however 3.11) version and I was unable to find any way to edit prometheus rules file permanently. I know that it is possible to change Alertmanager file using ansible variable openshift_cluster_monitoring_operator_alertmanager_config (https://docs.openshift.com/container-platform/3.11/install_config/prometheus_cluster_monitoring.html). It would be great to be able customise

[2020-10-01 13:13] lilic commented on #3540
@simonpasquier

Would be a good first issue maybe, do you mind opening it?

[2020-10-01 13:31] lilic commented on #3556
Hey @edvinas31 this is an upstream repo that is only one part of OpenShift monitoring stack, but can answer as I work on monitoring in OpenShift, best next time best open these questions in OpenShift or ask on other slack channels.

cluster-monitoring-operator in openshift is the one that modifies these files and application monitoring and custom alerting rules is in OpenShift starting with 4.3 on

[2020-10-01 13:31] #3556 closed

[2020-10-01 13:33] simonpasquier opened #3557 "End-to-end tests should use the Alertmanager API v2"
the e2e tests still use the [Alertmanager API v1](https://github.com/prometheus-operator/prometheus-operator/blob/434f9f7e0b75cd1bcb444cf4532a53112074af4e/test/framework/alertmanager.go#L257) and this should be changed to the API v2 instead.

Discovered while looking at https://github.com/prometheus-operator/prometheus-operator/issues/3540.

[2020-10-01 13:36] arghya88 commented on #3557
/assign

[2020-10-01 13:36] arghya88 commented on #3557
I can work on it

[2020-10-01 13:36] simonpasquier commented on #3540
Instead of returning the error from `GetAlertmanagerStatus()`, we should save it in `pollErr` and return no error.

https://github.com/prometheus-operator/prometheus-operator/blob/434f9f7e0b75cd1bcb444cf4532a53112074af4e/test/framework/alertmanager.go#L218-L221