[2019-12-17 16:59] grzesuav commented on #2915
Alertmanager requires config file to be encrypted, I could have different proxy on different clusters, I have many cluster. Setting the same proxy does not work for me, necessity of having different alertmanager conf (and encrypting it) also is not tempting.

[2019-12-17 22:05] valyala commented on #2917
Yes, this is the main use case for distinct remote_write urls per Prometheus replica - replicating the data among distinct availability zones.

This can be OK, but this multiplies the amount of transferred and stored data, which could be undesired in certain cases.

This looks like good idea. For instance, we `prometheus-operator` could automatically generate prefix for the configured `remote_writ

[2019-12-18 07:49] brancz commented on #2915
Secrets are not encrypted, they are encoded. Either way, since Alertmanager doesn't support env variables for this there is no other way.

[2019-12-18 07:54] brancz commented on #2917
I haven't tried this myself, but this should actually already work thanks to https://github.com/coreos/prometheus-operator/pull/2591. You should be able to specify the remote write URL with the `$(STATEFULSET_ORDINAL_NUMBER)` substitution within the URL and you should be all set. Could you try that?

[2019-12-18 10:57] Janesee3 opened #2918 "`external_labels` is missing in all metrics"
**What did you do?**
I have a Prometheus Operator that is setup via the prometheus operator helm charts. I understand that there is a `prometheus_replica` external label that is automatically added to every metric, and I can see that configuration reflected in the Prometheus UI under `/configuration`.

**Did you expect to see some different?**
All my metrics do not have any of the external labels

[2019-12-18 12:20] brancz commented on #2918
External labels are only attached when data is communicated to the outside so you will see them in:

* Outgoing alerts (although we do automatically drop the "prometheus_replica" label, so alerts are unique and can be deduplicated by Alertmanager)
* Remote-read endpoint
* Remote-write
* `/federate` endpoint

You should be able to find the external labels in any of those uses. Queries, targets, dis

[2019-12-18 15:22] simonpasquier commented on #2909
As far as I know, you're correct. Closing for now, feel free to reopen if you need more details.

[2019-12-18 15:22] #2909 closed

[2019-12-18 17:04] davisford opened #2919 "Default prometheus-operator deployment spec invalid"
**What happened?**

Trying to deploy prometheus-operator -- k8s returns an error:

[code]

I'm using the [same yaml](https://github.com/coreos/prometheus-operator/blob/master/Documentation/user-guides/getting-started.md#example-prometheus-operator-manifest) you have in your example / getting started:

Here it is:

[code]

The only _minor_ difference is I've removed the `namespace` b/c I use `Kusto

[2019-12-18 21:24] davisford opened #2920 "operator is not writing prometheus.yml in secret based off service monitors"
**What did you do?**

Deployed operator, clusterroles, services, servicemonitors, etc. into my cluster.

When I execute the following you can see the prometheus.yml is basically empty and has no rules/configuration.

[code]

**Did you expect to see some different?**

I expected it to have the rules defined by my service monitor definitions (see below)

**Environment**

EKS

* Prometheus Operator v

[2019-12-18 21:39] valyala commented on #2917
This looks like the way to go! Thanks for the pointer! It would be great documenting this.

[2019-12-18 22:44] davisford commented on #2920
After reading [the RBAC page](https://github.com/coreos/prometheus-operator/blob/8d44e0990230144177f97cf62ae4f43b1c4e3168/Documentation/rbac.md)

I made some changes so that the `prometheus` pods that get spawned are using the `prometheus-server` service account which has a cluster role binding that gives it the access it should need to do its work.

[code]

[code]

[code]

[code]

Still doesn't w

[2019-12-18 23:11] davisford commented on #2920
With this one commit change to my prometheus spec, a target finally appeared.

I don't get it.  The docs say that `matchLabels` and `matchExpressions` get merged.  Why did this change all of a sudden cause some targets to appear?

![Screen Shot 2019-12-18 at 6 08 55 PM](https://user-images.githubusercontent.com/186677/71131064-9f1b6980-21c1-11ea-8370-24f366d69f3d.png)

[2019-12-19 04:33] davisford commented on #2920
What is up with `matchLabels`?  I'm [noting this stale issue](https://github.com/coreos/prometheus-operator/issues/2781) where he has to create a separate individual  `ServiceMonitor` for each label he wants to monitor.   Why is that?

When I read the docs for the CRD -- specifically for the `serviceMonitorSelector.matchLabels` it reads:

              description: A label selector is a label quer

[2019-12-19 05:40] #2904 closed

[2019-12-19 07:23] Janesee3 commented on #2918
Oh I see! Yup it makes sense, thanks for the pointing this out!

[2019-12-19 07:23] #2918 closed

[2019-12-19 07:24] brancz commented on #2917
Agreed. Do you want to maybe write up a remote-write user-guide describing both the "single" and per-replica strategy?

[2019-12-19 08:55] sirrapa commented on #2147
Did you manage to get the pod labels? I'm facing the same challange.

[2019-12-19 16:42] kallomat opened #2921 "Possible bug in exec probes with wget localhost:9090 to Prometheus if listenLocal?"
**What happened?**

After upgrading prometheus-operator from v0.33.0 to v0.34.0 the prometheus pods are crashlooping.
prometheus configured with listenLocal: true

**Did you expect to see some different?**

Running prometheus pods.

**How to reproduce it (as minimally and precisely as possible)**:

clean git checkout of https://github.com/coreos/kube-prometheus
Apply the manifests unchanged, prome

[2019-12-19 16:58] davisford commented on #2920
Final question -- it seems I missed this subtle point:

                {key,value} in the matchLabels map is equivalent to an element
                of matchExpressions, whose key field is "key", the operator is
                "In", and the values array contains only "value". The requirements
                are ANDed.

More specifically from [k8s docs](https://kubernetes.io/docs/concepts/overv

[2019-12-19 20:15] brancz commented on #2919
Is this reproducible on a minikube or kind cluster? Because we run this on every PR and every CI run, and are getting no errors.

[2019-12-19 21:19] valyala commented on #2917
I'll try creating the user guide for remote_write options in `prometheus-operator` and sending a pull request in the near future. Should it be published as a distinct doc or should it be incorporated into existing docs?

[2019-12-20 00:34] davisford commented on #2919
Hi @brancz -- I am unsure if it is reproducible on Minikube.  The error is strange tho?

[code]

Why would it indicate that the MatchExpressions - LabelSelectorRequirement is immutable?

If you are already deploying the same yaml in Minikube for CI, then I'm guessing it isn't complaining.  This was an EKS cluster I created from Terraform.  Nothing particularly spectacular or weird about it.  I've

[2019-12-20 06:52] brancz commented on #2917
I think a distinct doc in the user guide directory would make sense. Thanks! :)

[2019-12-20 06:57] brancz commented on #2919
This could only have happened if you already had a prometheus operator deployment as the selector is indeed immutable and we did change it somewhat recently.

[2019-12-20 07:19] brancz commented on #2921
cc @metalmatze @s-urbaniak @LiliC @pgier

[2019-12-20 11:20] brancz commented on #256
#2832 is working on this API. Hopefully soon coming to your prometheus-operator deployments! :)

[2019-12-20 11:26] brancz commented on #1441
We're about half way there, most manifests do this but not everything the operator generates.

[2019-12-20 13:06] brancz commented on #2515
I believe the docs still need to be adapted here.

[2019-12-20 13:14] davisford commented on #2919
Hmm...that could be.  I'm using Flux and it's possible in my experimentation with bootstrapping it, it wasn't cleaned up completely when I tried to re-deploy.  I'll go ahead and close the issue.

[2019-12-20 13:14] #2919 closed

[2019-12-20 14:09] brancz commented on #2920
I recommend you to check out [kube-prometheus]() as it ships an entire monitoring stack out of the box for you to use.

Aside from that, in terms of selectors, you most likely just want to make use of the empty selector `{}`, which in Kubernetes, matches everything so any ServiceMonitor or PodMonitor would be picked up. You most likely want to configure this for all `serviceMonitorSelector`, `serv

[2019-12-20 16:55] davisford commented on #2920
Thanks @brancz -- that makes sense.

[2019-12-20 16:55] #2920 closed

[2019-12-20 18:03] metalmatze commented on #2921
I can reproduce this indeed. Sorry about that.
Do you want to give it a try, @kallomat?

If so, can you try to change this line? :)

https://github.com/coreos/prometheus-operator/blob/4f896655d1ad310747d2f1aa69f39067defbb05b/pkg/prometheus/statefulset.go#L619

[2019-12-23 06:40] omerlh commented on #2064
I think it worth discussing it again - permission to read all the secrets in the entire cluster is very dangerous, and makes the operator a very sensitive workload.  Maybe now we can revise this decision? If the permission is only needed for Prometheus, can we have the operator watch for only specific namespaces (where Prometheus is installed) for secrets, and not the entire cluster? Also, why doe

[2019-12-23 14:42] kouk opened #2924 "unknown field "preserveUnknownFields" when creating CRDs"
**What happened?**

While creating the CRDs I receive an error `unkown field "preserveUnknownFields"`, probably due to it's introduction here:  https://github.com/coreos/prometheus-operator/pull/2903
[code]

**Did you expect to see some different?**

According to the README the prerequisite kubernetes version is anything greater or equal than 1.8.0:
https://github.com/coreos/prometheus-operator/bl

[2019-12-23 19:33] RaynDol opened #2925 "Alert not sent using prom operator"
**What happened?**

Alert not sent

**How to reproduce it (as minimally and precisely as possible)**:
install PO via helm 0.3.4  and add alerts

**Environment**
K8S
* Prometheus Operator version:
0.3.4
    `Insert image tag or Git SHA here`

* Kubernetes version information:
1.15.7
    `kubectl version`

* Kubernetes cluster kind:
AWS
    insert how you created your cluster: kops, bootkube, tecton

[2019-12-24 10:25] ingvarm-gr commented on #2915
The approach we take to this is to have the alertmanager configuration in a "plain YAML file" (that is, just the YAML for the alertmanager configuration file), then pull it in to a Secret manifest using something like the following in helm (if this is in templates/... we expect that the actual configuration would be in config/alertmanager-configuration.yaml).

[code]

This allows you to version-co

[2019-12-25 16:43] grzesuav commented on #2915
I want to have the same configuration across many environments, just want to read some env dependent config from other configmap. If I read correctly, there is no such possibility right now, I consider this as a valid feature request.

[2019-12-27 19:23] aslimacc opened #2926 "bug add label for default rules"
**Describe the bug**
For prometheus operator in Values.yaml file, when I add a label for default rule with a key "**app**", it doesn't work. example:
  #Labels for default rules
  labels:
      **app**: kubernetes

When I change the key (**app**) with any word except "app" it works.

**Version of Helm and Kubernetes**:
helm: v2.16.1
Kubernetes: v1.13.11-gke.14

**Which chart**:
CHART VERSION 8.3.2

[2019-12-27 20:09] sev3ryn opened #2927 "Add AlertRoute for merging alertmanager configs for different teams"
**What is missing?**
I believe, ability for each team/project to configure their alertmanager routes, grouping options and own receivers is a missing part in Prometheus operator.

**Why do we need it?**
K8s CRD( let's name it AlertRoute) together with ServiceMonitor and PrometheusRule will give teams full control over their monitoring and alerting.

Is it something you will consider merging if I c

[2019-12-31 08:31] juliantaylor commented on #2642
Any updates on this?
objects created by version 0.34 are still being pruned by kubectl apply because the labels on the prometheus object are transferred to the child runtime generate objects (with the kubectl last-apply annotation)

[2019-12-31 14:18] kallomat commented on #2921
Changed the wget output file to be /dev/null
Passed tests: test-unit, test-e2e
Works in vanilla kube-prometheus manisfests with listenLocal=true
Works also in a modified kube-prometheus with a sidecar proxy in the prometheus pod.
make generate-in-docker produced no diffs, so no commit was made for it.

[2020-01-01 23:35] taibc opened #2930 "How to config sending alert to email"
**What did you do?**
I installed prometheus-operator. Now I want to config to send an alert to my gmail. But I don't know where is the config file. I didn't found any configmap for alertmanager. How can I do that ?

**Did you expect to see some different?**

**Environment**

* Prometheus Operator version:

`Labels:                 app=prometheus-operator-operator
                        chart=prom

[2020-01-02 13:12] cyperplex commented on #2182
Encountering same issue on version: 8.5.0, unable to write data to the mounted volume

level=info ts=2020-01-02T13:08:17.241354943Z caller=main.go:679 msg="Notifier manager stopped"
level=error ts=2020-01-02T13:08:17.241420366Z caller=main.go:688 err="opening storage failed: create dir: mkdir /prometheus/wal: permission denied"

[2020-01-02 15:37] wiseelf opened #2931 "scrape_timeout"
Hello!
There is exists a possibility to change scrape_interval.
For example for kubelet:
[code]
The same settings can be applied to the global variable.
Hot to change scrape_timeout? looks like it cant be done now.

[2020-01-02 17:32] afirth commented on #2557
Firstly, thanks for all the hard work putting this together @brancz . Just wanted to say that the namespaceSelector is very useful in cases where we create many similar services across multiple namespaces (e.g. each customer gets it's own namespace). This let's us deploy just one serviceMonitor, instead of 100s, unless I'm misunderstanding here.

[2020-01-02 21:48] jutley opened #2932 "Support prometheus v2.15 remote_write queue name config"
**What is missing?**
Prometheus recently added support for giving a remote_write queue a name. We have no way to leverage this field when using the prometheus-operator.
https://github.com/prometheus/prometheus/pull/6043

**Why do we need it?**
Simply put: This is configuration on Prometheus that is impossible to configure using the prometheus-operator.

In my case, I have multiple remote-write que

[2020-01-03 09:13] #2931 closed

[2020-01-03 15:35] simonpasquier commented on #2930
You need to create the configmap object holding the Alertmanager configuration, see https://github.com/coreos/prometheus-operator/blob/master/Documentation/user-guides/alerting.md.

See also https://www.robustperception.io/sending-email-with-the-alertmanager-via-gmail for an example of Alertmanager configuration sending alerts to Gmail.

[2020-01-03 15:50] simonpasquier commented on #2925
The warning message is nothing to worry about IMO, it is just a transient issue. If you look at the Status page in the Alertmanager UI, you should see that everything's ok.

[2020-01-03 17:32] raqqun commented on #2891
is there any temporary solution for this problem ? Is the fix https://github.com/prometheus/prometheus/pull/6455 in any production version so that we update our images ?

[2020-01-03 18:38] jutley commented on #2932
This is blocking the suggested workaround for this issue: https://github.com/prometheus/prometheus/issues/6545

[2020-01-04 10:02] taibc commented on #2930
@simonpasquier : Thank you. But I resolved my problem. I edited the configmap "prometheus-operator-grafana". And add blow code in grafana.ini section, and turn off the feature in gmail "Less secure app access", the it done

[code]

[2020-01-04 10:02] #2930 closed

[2020-01-04 22:35] maxromanovsky commented on #2877
@SofiaTa here's config that works for me (with the default `scheme: http`):
[code]

Keep in mind to add label used in `match[]` to all the metrics in the prometheus you'd be scraping

[2020-01-05 21:29] midnightconman commented on #1488
This issue is stale, closing.  :smile:

[2020-01-05 21:29] #1488 closed

[2020-01-06 00:25] kazukousen commented on #2682
I want it too.
Can APIServerConfig be set to ServiceMonitorSpec?
I have a reason i don't want to run Prometheus server in target clusters.
(e.g. want to monitor when the cluster goes down.)
can you consider it?

[2020-01-06 06:27] brancz commented on #2891
If I am not mistaken the fix should be available in Prometheus 2.15.

[2020-01-06 06:31] brancz commented on #2182
That doesn’t seem like an issue with the prometheus operator but rather with either your setup and or the helm charts. I can see that there is a linked issue regarding the helm chart in this thread. Maybe check that out. Just FYI we don’t use nor maintain the helm charts, they’re entirely community maintained.

[2020-01-06 07:12] brancz commented on #2847
This is still the case although continues to be a non issue in practice.

[2020-01-06 07:28] brancz commented on #2840
The PR is still open and welcome, I think there were just some difficulties with some of the tests that relied on the old behavior.

[2020-01-06 09:51] LiliC commented on #2823
Haven't seen this issue around anymore, closing and we can open a new one if needed.

[2020-01-06 09:51] #2823 closed

[2020-01-06 09:54] raqqun commented on #2891
@brancz I figure that out. Thanks for replying.

[2020-01-06 12:39] brancz commented on #2915
There is no possibility for this, and there is none planned in this exact way.

[2020-01-06 13:14] #2921 closed

[2020-01-06 13:21] brancz commented on #2927
I think this is a valid use case and one that we would want. Merging the Alertmanager routing tree from different configs is tricky but I think it can be done. If you want to write up a design for it that would be fantastic! Then we can discuss the design and ultimately we/you can get to implementing this! :)

[2020-01-06 13:22] brancz commented on #2926
The helm charts are neither used nor maintained by the prometheus-operator maintainers. Therefore we don't know the setup, so we're unlikely to be able to help you. I recommend creating an issue on the upstream helm charts repo where these helm charts are maintained.

[2020-01-06 13:22] #2926 closed

[2020-01-06 13:22] brancz commented on #2924
cc @pgier I believe we already haven an issue for this, but I can't seem to find it right now.

[2020-01-06 14:11] pgier commented on #2924
@brancz There is the similar issue https://github.com/coreos/kube-prometheus/issues/353 in kube-prometheus, that might be what you are thinking of.
So I guess we could either drop support for v1.14 and earlier in master (it seems a bit too early to do this IMO), or try to handle the earlier versions.  For the CRDs deployed by prometheus operator, we could maybe add some logic to detect the kube ve

[2020-01-06 14:56] oded-dd opened #2934 "DNS definition by Kubernetes affects alertmanager"
**What happened?**
Alertmanager `cluster.peer` (added by prometheus-operator) does not translate as a fully qualified name but as:

[code]

DNS resolution inside a container - like any Linux system - is driven by the /etc/resolv.conf config file. The default Kubernetes dnsPolicy is `ClusterFirst` which means any DNS query will be routed to dnsmasq running in the kube-dns pod inside the cluster whi

[2020-01-06 15:19] mjpitz commented on #2840
@brancz I left a comment on the PR about not being able to pull / find the config reloader image (which seemed to be causing my tests to fail), but I don't believe anyone has addressed that comment. Was waiting for that to be addressed before dedicating more time into this.

[2020-01-07 05:53] gowrisankar22 opened #2935 "promethesrules crd is failing"
Hello Colleagues,

While applying prometheusrules crd it fails.

kubectl apply -f https://raw.githubusercontent.com/coreos/prometheus-operator/master/example/prometheus-operator-crd/monitoring.coreos.com_prometheusrules.yaml

The CustomResourceDefinition "prometheusrules.monitoring.coreos.com" is invalid: spec.validation.openAPIV3Schema.properties[metadata]: Forbidden: must not specify anything ot

[2020-01-07 07:24] brancz commented on #2924
I tend to agree that dropping 1.14 at this point is a bit early, but on the other hand there are 3 newer minor releases. I think I would be ok with generating 1.14 compatible ones until 1.18 is released (we typically maintained 4 releases backward). I think it would be ok to ask people pre 1.15 to put the prometheus operator into managed crd mode and not bother with doing other code changes.

[2020-01-07 07:28] brancz commented on #2934
I wouldn’t consider this a bug but rather an enhancement, but feel free to make this change, if all tests pass I’m happy to merge this.

[2020-01-07 07:37] kouk commented on #2924
if it helps anyone, in my  case I am using https://github.com/coreos/kube-prometheus to target some 1.14 clusters so I currently have to patch the generated CRDs, doing something like this:
[code]
Perhaps this patch can be included in coreos/kube-prometheus.

[2020-01-07 08:22] qqbuby commented on #2439
pls try to set pod's security context with runAsUser, runAsGroup and fsGroup with 65534.

[code]

- - -

[code]

In the configuration file, the runAsUser field specifies that for any Containers in the Pod, all processes run with user ID 1000. The runAsGroup field specifies the primary group ID of 3000 for all processes within any containers of the Pod. If this field is omitted, the primary group I

[2020-01-07 08:46] VEH47 opened #2937 "监控k8s1.15 版本 schduller 和controller-manager 过一段时间失效"
我的 k8s集群是1.15 的版本, 在使用Prometheus-operator时, 监控schduller和controller-manager时, 刚创建的第一天, 可以正常监控, service serviceMonitor  ep 都正常的. 第二天就看到ep丢失, service  和serviceMonitor状态还是正常的.
![image](https://user-images.githubusercontent.com/41114318/71881378-2038a180-316d-11ea-8e90-8910a2943366.png)
![1578386601(1)](https://user-images.githubusercontent.com/41114318/71881411-3181ae00-316d-11ea-8f39-f3708514680c.jpg

[2020-01-07 09:18] juzhao commented on #2937
translate to English, feel free to tell me if I am wrong, see below:
********************************
My k8s cluster version is 1.15, when using Prometheus-operator to monitor schduller and controller-manager, they could be monitored on the first day, and Service/ServiceMonitor/Endpoints are all normal, but on the second day, value in Endpoints column is "None" when checked by "kubectl get ep -n k

[2020-01-07 11:46] brancz commented on #2937
Judging by what you shared it looks like this never worked. Could you share the selector you use from the `Service` to select the pods, and an example of a controller-manager pod that you have in your cluster?

[2020-01-07 12:34] zkcrescent opened #2939 "Alertmanager service config in Prometheus Object not work"
**What did you do?**
Totally following [alerting guide](https://github.com/coreos/prometheus-operator/blob/master/Documentation/user-guides/alerting.md) (no anything change),  I'm trying to create an altermanager
and test a alert trigger from prometheus service

**Did you expect to see some different?**

the `altermanagers` field in `Prometheus Object spec` not working, I can really view the web U

[2020-01-07 12:43] benjaminhuo opened #2940 "Supporting EnforcedNamespaceLabel in PrometheusRuleSpec"
Currently , EnforcedNamespaceLabel is defined in PrometheusSpec which is global to all PrometheusRules.

Maybe we can add label similar to EnforcedNamespaceLabel in PrometheusRuleSpec , this way user can define their own rules in their own namespace.

I can help to create a PR if my proposal sounds reasonable .

Thanks
Ben

[2020-01-07 12:47] brancz commented on #2940
How would enforcing a label help if the user chooses the label to enforce? That sounds like something that should be handled outside of the PrometheusRule object in tooling. The point of the enforcedNamespaceLabel is to allow teams to run Prometheus with somewhat untrusted rules being created in other namespaces.

[2020-01-07 12:48] brancz commented on #2939
Could you share your Prometheus manifest?

[2020-01-07 12:53] benjaminhuo commented on #2940
Yeah, I take a look at the code comments and it seems my proposal is not necessary because it mentions : "The label value will always be the namespace of the object that is being created."

This means the enforced namespace label's value will be the namespace where the PrometheusRule is created?

"EnforcedNamespaceLabel enforces adding a namespace label of origin for each alert and metric that is

[2020-01-07 12:55] brancz commented on #2940
Correct.

[2020-01-07 13:27] brancz commented on #2064
Agreed and it's already tracked in https://github.com/coreos/prometheus-operator/issues/2186

[2020-01-07 13:29] omerlh commented on #2064
Thanks, I'll follow this thread. For now, I changed the rule manually to make it work - I can maybe open a PR on kube-prometheus if this will be helpful

[2020-01-07 13:33] brancz commented on #2642
To my knowledge this still has to be fixed. Would you like to take this @juliantaylor ?

[2020-01-07 13:59] brancz commented on #2935
cc @pgier

[2020-01-07 14:00] brancz commented on #2924
Yes I think that's a good idea, and document that for 1.14 use.

[2020-01-07 14:26] benjaminhuo commented on #2940
I thought of a scenario where setting EnforcedNamespaceLabel in PrometheusRule might be useful:

If EnforcedNamespaceLabel is defined in PrometheusSpec globally, it will add enforced namespace label and value to all PrometheusRule instances which make all these PrometheusRules locally to their namespaces, but some PrometheusRules are meant to be globally usage

[2020-01-07 14:44] brancz commented on #2940
Yes that makes sense, I think that would rather be a configuration parameter on the Prometheus object though as we want the authority to come from there as that's what the operations team would be in charge of.

[2020-01-07 15:02] pgier commented on #2935
@gowrisankar22 we saw a similar issue in https://github.com/coreos/kube-prometheus/issues/341 due to a mismatch between using prometheus-operator v0.34.0 and applying the updated CRDs from master.  Can you confirm that you are using prometheus-operator v0.34.0?  You should be able to resolve the issue by using the `master` tag of the prometheus-operator image.  You may need to delete the prometheu

[2020-01-07 15:37] benjaminhuo commented on #2940
ok, maybe an exception can be set in the PrometheusSpec to exclude the specified PrometheusRule

[2020-01-07 15:57] #2735 closed

[2020-01-07 16:22] brancz commented on #2940
Yes I think that would be reasonable.

[2020-01-07 17:11] juliantaylor commented on #2642
yes I can try to provide a PR this week.

[2020-01-07 19:33] brancz commented on #2642
That would be awesome! Thank you!

[2020-01-08 00:34] juzhao commented on #2937
@VEH47 could you please provide info as @brancz mentioned?

[2020-01-08 02:26] zkcrescent commented on #2939
![image](https://user-images.githubusercontent.com/14883259/71945227-398b2d80-3201-11ea-8f88-fb6da771c87c.png)

![image](https://user-images.githubusercontent.com/14883259/71945286-5889bf80-3201-11ea-90e1-87cb91f2e81d.png)
![image](https://user-images.githubusercontent.com/14883259/71945295-62132780-3201-11ea-996f-deb60e5036a8.png)

would you mean these?

[2020-01-08 03:11] boxuan666 opened #2941 "How to upgrade prometheus-operator?"
I want to upgrade prometheus-operator from v0.16.0 to v0.33.0
where i can get document for this?

[2020-01-08 07:21] brancz commented on #2939
Do the logs say anything?

[2020-01-08 07:24] brancz commented on #2941
That’s a huge jump, I honestly can’t tell you anything better than try and make sure you have a Kubernetes cluster that is up to date. Maybe even reinstall on a new cluster.

[2020-01-08 07:28] boxuan666 commented on #2941
@brancz
Thanks. i'll try reinstall the latest version of operator in my cluster

[2020-01-08 07:28] #2941 closed

[2020-01-08 07:29] zkcrescent commented on #2939
just `sync alertmanager` and `sync prometheus`
![image](https://user-images.githubusercontent.com/14883259/71958619-b4693e00-322b-11ea-9d66-b8de4cf874e0.png)

[2020-01-08 07:35] brancz commented on #2939
That’s the prometheus operator. What about the prometheus pod itself?

[2020-01-08 07:38] zkcrescent commented on #2939
Ha... I find this error log `level=error ts=2020-01-08T07:36:34.607811441Z caller=klog.go:94 component=k8s_client_runtime func=ErrorDepth msg="/app/discovery/kubernetes/kubernetes.go:301: Failed to list *v1.Service: services is forbidden: User \"system:serviceaccount:default:default\" cannot list resource \"services\" in API group \"\" in the namespace \"default\""`
I think I know how to solve thi

[2020-01-08 07:51] #2939 closed

[2020-01-08 10:46] gowrisankar22 commented on #2935
Yes, it works. But this is not idempotent. why is that ?

[2020-01-08 12:43] gowrisankar22 opened #2942 "Grafana dashboards not automatically created with helm template"
Hello Colleagues,

grafana dashboards are not automatically getting loaded with helm template whereas it works fine with helm install.

helm install --name-template my-release stable/prometheus-operator -n monitoring
[code]

helm template -f values.yaml --name-template my-release stable/prometheus-operator -n monitoring

[code]

Logs:
[code]

[code]

[2020-01-08 13:50] obrienrobert commented on #2890
Any update/workaround for this?

[2020-01-08 16:49] spencergilbert commented on #2927
I know that Rancher does some level of merging of Alertmanager configs for it's monitoring solution, it could be a useful reference

[2020-01-08 17:12] juliantaylor commented on #2642
posted https://github.com/coreos/prometheus-operator/pull/2944 which fixes the pruning in our deployment pipelines using `kubectl apply --prune -l managementlabel=value`

[2020-01-08 19:05] brancz commented on #2927
Do you have a link to that?

[2020-01-08 19:13] spencergilbert commented on #2927
I think most of that logic lives [here](https://github.com/rancher/rancher/blob/master/pkg/controllers/user/alert/config/config.go)

[2020-01-09 07:09] brancz commented on #2942
The helm charts are neither used nor maintained by the prometheus-operator maintainers. Therefore we don't know the setup, so we're unlikely to be able to help you. I recommend creating an issue on the upstream helm charts repo where these helm charts are maintained.

[2020-01-09 07:09] #2942 closed

[2020-01-09 07:12] brancz commented on #2890
This doesn’t look like a bug or anything. This looks like plain misconfiguration. I assume almost all users just want the all selector, which instead of specifying a label just set “ruleNamespaceSelector: {}”.

[2020-01-09 08:59] soorajpv opened #2945 "is there any way for obtaining metrics from grpc microservices with prometheus operator ?"
I am planning to make a setup of below Google demo application in kubernetes. Since all the communication in done in grpc. which exporter i should use ?
https://github.com/GoogleCloudPlatform/microservices-demo

[2020-01-09 09:05] #2703 closed

[2020-01-09 09:17] brancz commented on #2927
I can't find config merging there (doesn't mean it doesn't exist but I couldn't find it). What you linked looks like a copy of the `config.go` file from the Alertmanager project.

[2020-01-09 09:21] simonpasquier commented on #2945
you probably want to look at https://github.com/grpc-ecosystem/go-grpc-prometheus

[2020-01-09 10:55] benjaminhuo commented on #2940
A few questions regarding PrometheusRule, I can see from the code that:

1.  Everytime PrometheusRule CR is changed, the old configmap is deleted and a new one with the same name is created and the statefulset spec is updated, will the prometheus pod be recreated/restarted ?

2. If Multiple PrometheusRule CRs are created, and the total size exceeds one configmap limit, let's say 2 configmaps are c

[2020-01-09 11:43] osminogin commented on #1890
This may be related, so I'm interested too. Any way to add `Host:` header in that situation?

[2020-01-09 13:06] gadelkareem commented on #956
Now it is ```kubectl get secret grafana -o jsonpath="{.data.admin-password}" | base64 --decode ; echo```

[2020-01-09 15:22] spencergilbert commented on #2927
Sorry, let me keep digging - I haven't looked at the internals much, just the user end

[2020-01-09 15:59] metalmatze commented on #956
At most this is related to kube-prometheus and not the Prometheus Operator. I'm locking this conversation going forward.

[2020-01-09 18:42] #2642 closed

[2020-01-09 22:25] rhuss opened #2946 "ARM images"
**What did you do?**

I tried to install the operator on an RaspberryPi 4 cluster (k3s). However, its doesn't seem that ARM variants of the operator are available (as I get an exec error, so it doesn't look that manifests for ARM images are deployed).

**Did you expect to see some different?**

'would love to use the operator on an ARM architecture.

**Environment**

K3s v1.17.0+k3s.1

* Prometheu

[2020-01-10 05:56] soorajpv commented on #2945
is there any documentation to understand the usage of the document ?

[2020-01-10 11:15] metalmatze commented on #2946
Hey, for my talk during KubeCon I recently ported (compiled) this Operator for ARM. I have a local branch that I never got to push publicly. Let me do that right. :blush:
Thanks for reminding me by opening this issue. :sweat_smile:

[2020-01-10 12:39] metalmatze commented on #2946
I created an initial PR at #2947 :blush:

[2020-01-10 13:10] GramozKrasniqi commented on #2049
I see it as a really good enhancement.
One use case would be creating the ini ConfigMap using Terraform.

[2020-01-10 14:25] rhuss commented on #2946
@metalmatze cool, thanks ! Looking forward to try it out ...

[2020-01-10 14:44] agusl88 opened #2948 "Alertmanager and Prometheus CrashLoopBackOff"
**What did you do?**

Deploying prometheus-operator using the latest helm chart on EKS 1.14 results in the following error:

[code]
[code]
I saw this error reported on #2413, the suggestion was to update prometheus-operator to v0.29, but i'm already on v0.34. According to #2409 the root cause of the problem was the memory limit of 10Mi on the reloader pod, but looking at the current manifest the m

[2020-01-10 15:31] metalmatze commented on #2049
As @brancz pointed out this would either be something for [kubernetes-grafana](https://github.com/brancz/kubernetes-grafana/blob/master/README.md#config-customization) or now [kube-prometheus](https://github.com/coreos/kube-prometheus/).
Please use these repositories going forward as this repo doesn't contain anything related to Grafana anymoer.

[2020-01-10 15:31] #2049 closed

[2020-01-10 15:35] metalmatze commented on #2948
This was fixed in a recent PR but not yet released: https://github.com/coreos/prometheus-operator/pull/2929.

[2020-01-10 17:16] agusl88 commented on #2948
Changed the prometheus-operator deployment to use the image tagged as master that already has the fix, but the problem persist. Am I missing something?

[2020-01-11 12:29] grzesuav commented on #2915
OK, so as summary :
- only valid way of customizing alertmanager set up per environment is to provide a different alertmanager.yaml config ?

[2020-01-11 14:11] chaosaffe opened #2950 "prometheus-operator repeatedly deletes prometheus StatefulSet once pods reach ContainerCreating"
**What happened?**
On upgrading to `v0.34.0` the `prometheus-operator` started deleting the `prometheus-k8s` StatefulSet once the pods reached the `ContainerCreating` status.

When the operator is scaled to 0 (terminated) after the StatefulSet is created but before the pods enter the `ContainerCreating` status the pods are able to sucessfully start and run the `prometheus-k8s` pods

**Did you expe

[2020-01-11 16:18] krichter722 commented on #2942
@gowrisankar22 created an issue in the helm/charts project: https://github.com/helm/charts/issues/19987

[2020-01-11 23:08] olvesh commented on #2946
It also looks like quay.io does not support docker manifest lists (aka multi-arch) so that you cannot push one image that works on multiple architectures. So in order to make multi arch work in quay.io I think you need to maintain multiple separate images.

E.g.
[code]
while the same against e.g nginx gives the following:
[code]

Also when pulling from quay.io I get this warning:
`[DEPRECATION NOT

[2020-01-12 02:45] sergeyshaykhullin opened #2951 "ServiceMonitor didn't appear in SD section"
**What did you do?**
1. I switched from manual deployment to prometheus operator recently. Trying to add ServiceMonitor to scrape RabbitMQ metrics from rabbitmq_prometheus. No metrics, no SD section added, but configuration section has.
2. I checked pod metrics manually with `curl localhost:15692/metrics`
3. I checked service with `curl rabbitmq:15692/metrics`
4. I checked labels:
    - pod to ser

[2020-01-12 02:53] sergeyshaykhullin commented on #2951
I found logs inside prometheus pod:
[code]
I think thats it

[2020-01-12 03:08] sergeyshaykhullin commented on #2951
Solved

[2020-01-12 03:08] #2951 closed

[2020-01-12 14:37] rhuss commented on #2946
The multi-stage build from https://github.com/coreos/prometheus-operator/pull/2947#issuecomment-573419338 with quay.io and I get the following error:

[code]

So at least buildkit doesn't seem to be compatible with quay.io

[2020-01-12 15:00] sev3ryn commented on #2927
I'm new to writing k8s CRD - please correct me if I'm saying something that is absolutely wrong:

the way I see design of it - we need 2 new k8s CRDs:
1. AlertReceiver - same config as any of receivers https://prometheus.io/docs/alerting/configuration/#receiver but instead of fields with secrets you have to specify the k8s secret. Also there will be additional field templates: in which you specify

[2020-01-12 15:49] rhuss commented on #2946
The operator runs now smoothly on ARM, but unfortunately the Prometheus images from quay are not multi-arch, too. I switched over to the official Prometheus image hosted on Docker, but then I have the issue that the sidecars (configmap reloader) are not mulitarch either, and there is no way to change those images in a `Prometheus` installation.

That's my `Prometheus` CR with which I tried:

[code

[2020-01-12 16:27] rhuss commented on #2946
Does anyone knows where I find the source to quay.io/coreos/prometheus-config-reloader:v0.34.0 and `quay.io/coreos/configmap-reload:v0.0.1` ?

Interestingly I can't find some on the web interface of `quay.io` (no coreos images at all). Seems to be coming from a private repo ?

[2020-01-12 16:36] rhuss commented on #2946
Ok, found  https://github.com/jimmidyson/configmap-reload by @jimmidyson (oh my, should have known that ;-), which also has nice ARM support. BTW, also a very good blueprint for howto generate ARM images via circleci.

[2020-01-12 16:44] rhuss commented on #2946
With

[code]

I got Prometheus up and running.

Of course, it would be awesome if we could get Quay Prometheus images to be also multi-arch. But I have no idea how to contribute (as there is no indication where the Quay Prometheus source are)

[2020-01-13 07:39] brancz commented on #2915
Correct.

[2020-01-13 08:34] brancz commented on #2950
That’s indeed odd and shouldn’t happen. It seems like some illegal update is continuously attempted. It would be good if we added what the illegal action was, as I believe the stated upset api does return this information.

[2020-01-13 08:42] brancz commented on #2927
I think that’s pretty close to what I would have designed as well. I think the templates are probably fine to inline into the receiver API, and the default route is something that I think I would require to be specified in the alertmanager if the “distributed config” Mode discussed here is chosen (maybe a reference to an object).

The tricky part about all of this is how to merge the route configs

[2020-01-13 08:43] brancz commented on #2946
cc @simonpasquier @pgier regarding prometheus’ docker Setup.

[2020-01-13 08:45] brancz commented on #2950
cc @pgier @s-urbaniak i think this could potentially have to do with the controller generation tooling changes?

[2020-01-13 12:12] sev3ryn commented on #2927
I believe, issue with merging routes should be not that big  - mostly people will use labels "team", "project", "app"  for their specific alert route. At first, line in documentation "main routes are merged in random order" should do the job :)

[2020-01-13 12:19] paulfantom commented on #2946
Regarding configmap-reloaded, this PR should simplify things: https://github.com/coreos/prometheus-operator/pull/2952

[2020-01-13 12:40] iptizer commented on #1977
Actually it is even worse. At the moment EKS updated to 1.14.9 but there are no AMIs for 1.14.9 available at the moment...

[2020-01-13 12:43] brancz commented on #2927
I don't think those types of organizations are really the ones that benefit most from this feature. Organizations that are that well structured could already with a static alertmanager config accomplish everything. It's those that have very different requirements, maybe multi tenant environments, that really need this, and we need to ensure that we don't make it easy to do the wrong things :slight

[2020-01-13 13:52] simonpasquier commented on #2946
They should be (since https://github.com/prometheus/prometheus/pull/5031):

![image](https://user-images.githubusercontent.com/2587585/72260775-dab82080-3613-11ea-9bae-928b1685acbd.png)

What's not working exactly?

[2020-01-13 14:08] metalmatze commented on #2946
Yeah. Prometheus and Alertmanager worked just fine without doing anything about it for me in November :blush:

[2020-01-13 16:25] rhuss commented on #2946
See https://github.com/coreos/prometheus-operator/issues/2946#issuecomment-573421272

I.e. using buildkit to push to quay.io doesn't work. But this could be more a buildkit interoperability issue, too. Maybe the way how Docker.io and Quay.io deal with publishing multi-arch images are just different.

[2020-01-13 16:45] metalmatze commented on #2945
You should most likely ask the people in the other repository. This is not specific to the Prometheus Operator at all

[2020-01-13 16:47] metalmatze commented on #2948
What do you see when `kubectl describe`ing one of the Prometheus Pods, does it have events that fail the probes?

[2020-01-13 16:48] #2915 closed

[2020-01-13 21:00] chaosaffe commented on #2950
I should also note that this occurred after I updated `kube-prometheus` to `master` as there were several K8s API Alpha/Beta Group removals in 1.17.

[2020-01-14 09:27] simonpasquier commented on #2946
We (Prometheus/Alertmanager) are successfully pushing images to Docker Hub and quay.io. On Quay you need to create the arch-specific repositories (e.g. https://quay.io/repository/prometheus/prometheus-linux-arm64) in advance while Docker Hub auto-creates them for you.

You can have a look at the following targets to see how we do it:

https://github.com/prometheus/prometheus/blob/aad8f89ecb2b6eade

[2020-01-14 12:33] brancz commented on #2927
This is a dupe of https://github.com/coreos/prometheus-operator/issues/1528. Won't close this though as the discussion here is more active than on the other thread :) .

[2020-01-14 12:33] paulfantom opened #2954 "Unify tooling image"
**What is missing?**
Common tooling container image. Right now we moved most of the tooling into http://quay.io/coreos/jsonnet-ci, but since new tools are being added (https://github.com/coreos/prometheus-operator/pull/2938) it might be worthwhile to create one common image with all tools in it instead of managing multiple ones.

The easiest solution would be to add `lint` tool to `quay.io/coreos/

[2020-01-14 15:09] paolomainardi commented on #2924
are there any updates here ? Or we just change the requirements declaring support from 1.15+ or we must provide the right CRD for 1.14.

[2020-01-14 15:10] paolomainardi commented on #2924
Bump, just faced again this very annoying problem, the only working fix for now is to download crd files, patch them and apply without the offending field.

[2020-01-14 15:49] omerlh commented on #2186
This is what I ended up doing in my jsonnet:
[code]

Maybe we can even narrow it down further, I removed all the sentive permissions (secrets get)

[2020-01-14 18:04] Vislor opened #2956 "Prometheus pods constantly deleted / recreated"
**What happened?**
Created a Prometheus object (kind: Prometheus).  The operator creates the StatefulSet and associated config objects and service.  The Prometheus pods associated with the StatefulSet enter a loop where they constantly terminate and restart.

**Did you expect to see some different?**
Expected the Prometheus pods to start successfully and not continually terminate / restart.

**How

[2020-01-14 19:30] omerlh opened #2957 "Allow to specify alert manager configuration path"
**What is missing?**
The path to alert manager config file is hardcoded (`/etc/alertmanager/config/alertmanager.yaml`), and by default there is a volume mount to `/etc/alertmamager/config`, making it impossible to mount something else to this directory.

**Why do we need it?**
I wanted to use [Kamus](https://kamus.soluto.io) for creating a template configuration file, with a place holder for encry

[2020-01-14 23:11] midnightconman commented on #2766
I would like to see this happen and would be willing to help out... would we first want to see schema, before we start working on code?

[2020-01-15 02:47] brancz commented on #2399
cc @pgier @s-urbaniak i believe this should now be resolved with the new controller generation tools no?

[2020-01-15 07:06] LiliC commented on #2766
Yes defining a schema in advance would be good, feel free to write up initial outline so we have something to start with. Thanks!

cc @simonpasquier

[2020-01-15 07:44] lianghuiyuan commented on #2682
+1
I also need a single prometheus operator to simply collect the metrics from multiple clusters, but without THANOS.

[2020-01-15 13:33] metalmatze commented on #2950
It would be great if you could start a `kind` cluster with 1.17 and check if it happens there too when deploying kube-prometheus master.

[2020-01-15 13:37] agusl88 commented on #2948
Event log from the prometheus pod:

`Events:
  Type     Reason     Age                From                                                 Message
  ----     ------     ----               ----                                                 -------
  Normal   Scheduled  46s                default-scheduler                                    Successfully assigned default/prometheus-prometheus-opera

[2020-01-15 19:41] agusl88 commented on #2948
One thing worth mention, **listenLocal** is set to **false** (is the default value for the helm chart). The problem described on the PR you made reference (#2929) seems to be only present when **listenLocal** is set to **true**.

[2020-01-15 21:52] howardjyee commented on #2182
spend a whole day on this:

im running
Client: &version.Version{SemVer:"v2.14.1", GitCommit:"5270352a09c7e8b6e8c9593002a73535276507c0", GitTreeState:"clean"}
Server: &version.Version{SemVer:"v2.14.1", GitCommit:"5270352a09c7e8b6e8c9593002a73535276507c0", GitTreeState:"clean"}

    prometheus_operator:
      chart_version: 8.5.7

`---
prometheus:
  server:
    statefulSet:
      enabled: true
    p

[2020-01-15 23:05] chaosaffe commented on #2950
I have tested using image `kindest/node:v1.17.0` and deploying my manifests generated by `kube-prometheus` I see the same behaviour with the StatefulSet being repeatedly deleted once it reaches the `Pending` phase.

It appears that this behaviour may be related to the changes in Kubernetes 1.17.

[2020-01-16 09:28] cyperplex commented on #2182
It worked for me by adding the following under prometheusSpec

  prometheusSpec:
    retention: 90d # Data retention value
    securityContext:
      runAsNonRoot: false
      runAsUser: 0
      fsGroup: 0

[2020-01-16 12:59] tlereste opened #2959 "Exposing Prometheus and Alertmanager documentation has broken links"
**What happened?**

Read the documentation :
https://github.com/coreos/prometheus-operator/blob/master/Documentation/user-guides/exposing-prometheus-and-alertmanager.md

Documentation have broken links, spec.version are not up to date.
NGINX Ingress Controller link is broken, NGINX Ingress Controller quick-start is out of date

**Did you expect to see some different?**

**How to reproduce it (as m

[2020-01-16 12:59] #2959 closed

[2020-01-16 13:01] tlereste opened #2960 "Exposing Prometheus and Alertmanager documentation has broken links"
**What happened?**
Read the documentation :
https://github.com/coreos/prometheus-operator/blob/master/Documentation/user-guides/exposing-prometheus-and-alertmanager.md
Documentation have broken links, spec.version are not up to date.
NGINX Ingress Controller link is broken, NGINX Ingress Controller quick-start is out of date

**Did you expect to see some different?**
A up to date documentation.

*

[2020-01-16 15:15] jonathanpauda opened #2962 "Prometheus rule validator admits rules with invalid label types"
**What happened?**

Prometheus rule validator allowed Prometheus rule with an incorrect label type to pass the validating webhook validation, this caused prometheus operator failing to start after the pod bounced.

I believe the testSeverity: off is causing the type not to be set correctly as a string. It came through as a boolean and should have been a string. We have seen similar behavior for nu

[2020-01-16 20:53] matthewmodestino commented on #926
I have run into this using Splunk on MicroK8s 1.17 as well. Can confirm switch to scraping the unauth http port 10255 works.

[code]

It's similar to an issue we see on AKS, described in this thread:
https://github.com/coreos/prometheus-operator/issues/926

I tried adding the workaround described with enabling webhook token auth, but it broke my Mirok8s node pretty bad, so I can settle for http.

[2020-01-17 10:08] vrathore18 opened #2963 "Getting KubeDeploymentReplicasMismatch alerts continuously"
I am getting KubeDeploymentReplicasMismatch alert for almost all deployments. I think their is something wrong with kube-state-metrics.

[code]

Is anyone facing the same issue?

[2020-01-17 11:53] s-urbaniak commented on #2399
We should still verify that the new controller generation tools respect the `nullable` attribute. If they do, we're good here.

[2020-01-17 21:29] smueller18 commented on #2889
I just stumbled over this issue because my prometheus operator had the same behaviour (about 4 syncs per second). In my case, a certificate request from [cert-manager](https://github.com/jetstack/cert-manager) was in a weird state which resulted in continous putting certificate values in the etcd store. After I deleted the misbehaving `certificates.cert-manager.io` object, the prometheus operator

[2020-01-19 08:50] PsychoSid opened #2966 "Pod Environment Variables"
Hi,

I did ask on the Slack channel but didn't get a reply.

When using Thanos as part of the operator we access object store behind a corporate proxy which normally entails adding environment variables to set HTTP_PROXY/HTTPS_PROXY etc.

How do I do this for the Prometheus statefulset pod to able to use the Thanos sidecar to upload to object store S3/GCS etc.

Thanks

[2020-01-20 06:32] #2937 closed

[2020-01-20 08:20] chymy commented on #2552
I've got the same issue using prometheus-operator-0.34.0, kube-prometheus-0.3.0 and Alertmanager 0.18.0.
`kubectl describe po alertmanager-main-0 -n monitoring` result:
[code]

[2020-01-20 13:04] brancz commented on #2966
Have a look at the API docs, the `containers` field merges into the generated containers, so you can specify any environment variable you want by defining a container in the `containers` array with the same name as the container you want to inject the env variable definition into.

[2020-01-20 13:20] brancz commented on #2963
For what it's worth, we are not seeing this, for this to fire your expexted replicas must be unequal the actual replicas. Can you share a full deployment object of the ones affected including the status?

[2020-01-20 13:21] #2960 closed

[2020-01-20 13:24] brancz commented on #2956
We've been seeing a couple of problems on 1.17, we're not entirely sure yet what's happening, but this look like the same symptom.

[2020-01-20 13:28] brancz commented on #2962
Yes I believe `off` is a special value in YAML. We should indeed be more strict about the parsing here. Just making sure though, you do have the validating webhook enabled yes?

[2020-01-20 13:37] #2948 closed

[2020-01-20 13:41] PsychoSid commented on #2966
Oh my word. I must have gone through that 3 times and missed it every time. Many thanks. All sorted now.

[2020-01-20 13:41] #2966 closed

[2020-01-20 14:10] simonpasquier commented on #2962
I believe it's a duplicate of https://github.com/coreos/prometheus-operator/issues/2727

[2020-01-20 14:16] simonpasquier commented on #2962
Also as noted by @vsliouniaev (https://github.com/coreos/prometheus-operator/issues/2727#issuecomment-559129432), the validating webhook wouldn't help as it uses the Prometheus de-serialization code which enforces labels as string.

[2020-01-20 14:40] brancz commented on #2766
There are multiple discussions happening around this, I think we need to start deduplicating (https://github.com/coreos/prometheus-operator/issues/2927).

[2020-01-20 16:06] brancz commented on #2962
Closing here then as a dupe of #2727. We should nevertheless find a solution to this.

[2020-01-20 16:06] #2962 closed

[2020-01-21 03:06] chaosaffe commented on #2956
This is likely a duplicate of #2950

[2020-01-21 08:37] juzhao commented on #2950
checked, no issue with OCP 4.4
`# kubectl -n openshift-monitoring logs -c prometheus prometheus-k8s-0 | more
level=info ts=2020-01-21T08:25:39.355Z caller=main.go:330 msg="Starting Prometheus" version="(version=2.15.2, branch=rhaos-4.4-rhel-7, revision=26eb549e3fbb176c890dffd3d2ac6b4ebed2ae44)"
`

`# oc -n openshift-monitoring logs prometheus-operator-54c74f6797-zjvlt
ts=2020-01-21T02:33:18.399798

[2020-01-21 15:40] IKSIN opened #2967 "Strategy update for every prometheus/StateFullSet resources."
**What is missing?**
Update sts from prometheus operator one by one (not all at the same time). Or implement some strategy update.

**Why do we need it?**
We have 22 instances of prometheus in our k8s cluster (11 of them are replicas with different external_labels and retentions). After upgrade prometheus-operator image all STS recreated/updated and all pods go to restart at the same time.

**Envi

[2020-01-22 09:33] brancz commented on #2967
I agree this would be nice. Do either of 1. or 2. you suggested work with a statefulset that has the parallel pod management policy enabled?

[2020-01-22 10:04] metalmatze commented on #2954
Sounds good. Maybe even renaming the image with a grace period of using both names?

[2020-01-22 10:04] Daly123456 commented on #2010
Could any one help me on this ! i have that problem that ican't display ssl expiry for some sites in singlestat panel
![image](https://user-images.githubusercontent.com/46686877/72884751-ec31b480-3d06-11ea-89e7-1b124137475b.png)

[2020-01-22 10:39] IKSIN commented on #2967
@brancz Not sure that I understood you right. We not use parallel pod management policy, because `replicas=1` in every statefulset. We can't use replicastion, becasuse every instance of prometheus has uniq parameters.

[2020-01-22 12:49] d-ulyanov commented on #2967
@brancz hello! We have at least different external labels on each Prom for deduplication on Thanos (replica=A, replica=B),

[2020-01-22 13:00] brancz commented on #2967
You will definitely need to run 2 replicas of Prometheus to get some form of high availability here during rollouts. The question then becomes how do we make the statefulset controller only update one pod at a time. This was previously the case when we used the `OrderedReady` pod management policy, but this caused problems where the statefulset stalled if there was any error and human intervention

[2020-01-23 18:29] streetmapp opened #2968 "Secrets don't get properly configured on thanos-sidecar container"
**What happened?**

When editing the prometheus CRD defining secrets that should be mounted to the containers. Notably the secret containing the GCP credentials in a JSON file. The volume was created for the `thanos-sidecar` container, but the VolumeMount was not. This results in an error where the thanos sidecar cannot configure the client for the Object Store component.

**Did you expect to see

[2020-01-23 19:29] chancez commented on #2957
Im currently struggling with this as well. We're using SealedSecrets and currently it seems our only solution is to either encrypt the entire file, making it extremely annoying to modify, or to generate the alertmanager secret in in a separate pod/job from a template and the secret containing the credentials.

[2020-01-23 21:00] scampuza opened #2969 "Some Grafana Dashboards on Prometheus Operator 0.34.0 don't have proper expressions to read Pod Metrics"
**What happened?**

Some Grafana Dashboards on Prometheus Operator 0.34.0 don't have proper expressions to read Pod Metrics.  In example, the "Kubernetes / Compute Resources / Pod" Dashboard, has this PromQL query for reporting the CPU usage per Pod:

sum(node_namespace_pod_container:container_cpu_usage_seconds_total:sum_rate{namespace="$namespace", **pod="$pod"**, **container!="POD"**, cluster="$

[2020-01-23 21:59] GramozKrasniqi opened #2970 "Setting storageSpec wont create a Prometheus instance"
**What happened?**
Setting storageSpec for Prometheus dosent create the prometheus instance

**Did you expect to see some different?**
Prometheus instance is created and also PV and PVC

**How to reproduce it (as minimally and precisely as possible)**:
- Install prometheus-operator `0.35.0` or `0.34.0`
- Use the following CRDs
[code]

**Environment**

**Prometheus Operator version**: `0.35.0` & `0

[2020-01-24 02:09] sachinmsft opened #2971 "What is the benefits of having multiple replicas of Prometheus cluster statefulset"
I see that we have provision to configure the multiple replicas of the Prometheus statefulset cluster through Prometheus CRD.

My understanding is that all the replicas will scrap the same targets configured.
Only benefits that I see is during update of the Prometheus cluster if update policy is rolling-update.

Is there any other benefits that I am not able to see?

[2020-01-24 07:53] brancz commented on #2971
That’s all :) it’s very unlikely that you ever want more than 2 replicas.

[2020-01-24 07:59] brancz commented on #2957
Can you elaborate on how modifying the alertmanager config file fixes this?

[2020-01-24 13:24] brancz commented on #2970
This is likely a duplicate of https://github.com/coreos/prometheus-operator/issues/2950

[2020-01-24 13:25] brancz commented on #2970
cc @simonpasquier i think you’re looking into this right?

[2020-01-24 13:36] brancz commented on #2968
This is indeed a bug in the https://github.com/kubernetes-monitoring/kubernetes-mixin project. Would you like to fix this?

[2020-01-24 14:33] GramozKrasniqi commented on #2970
Just a side note maybe important the same behavior is experienced with k8s 1.13.12 & 1.14.8 on AKS

[2020-01-24 14:49] brancz commented on #2969
This is indeed a bug in the https://github.com/kubernetes-monitoring/kubernetes-mixin project. Would you like to fix this?

[2020-01-24 15:24] simonpasquier commented on #2970
@brancz hmm no, maybe @pgier?

[2020-01-24 15:58] scampuza commented on #2969
@brancz  What is the Bug number reported on Kubernetes Mixin Project?  I'd be interested in tackling it

[2020-01-24 16:00] brancz commented on #2969
I don't think this was reported on the kubernetes-mixin project yet. Feel free to open an issue there and fix it!

(I'm a maintainer there as well so I can review your changes as soon as you have them out :slightly_smiling_face: )

[2020-01-24 16:08] brancz commented on #2970
I'm starting to deduplicate, because this is getting out of control. Closing as duplicate of #2950.

[2020-01-24 16:10] brancz commented on #2956
Closing as a duplicate of https://github.com/coreos/prometheus-operator/issues/2950

[2020-01-24 16:10] #2956 closed

[2020-01-24 19:56] vitobotta opened #2972 "No etcd data available for Rancher-deployed cluster"
**What did you do?**
Hi! I installed the operator with Helm in a cluster deployed with Rancher. The Grafana dashboards for components such as etcd/scheduler/proxy show no data, and the Prometheus dashboard shows 0 active targets for those components in the Service Discovery page.

**Did you expect to see some different?**
I was expecting to see data about etcd etc.

**Environment**
Kubernetes 1.17

[2020-01-24 22:10] chancez commented on #2957
We can already use extra volume mounts + initContainers to generate the alertmanager configuration file, but there's no way to actually use it without being able to customize the path, as it's not possible to overwrite the mounted alertmanager configuration.

[2020-01-24 23:27] pgier commented on #2970
Reopening because I'm not sure this is a duplicate of #2950.  What I'm seeing is that the storage config is not correctly copied into the statefulset.  @GramozKrasniqi can you verify that the generated prometheus stateful set does not include the `resources` portion of the volumeClaimTemplate?
[code]
Also if you do a `kubectl describe` on the stateful set that might confirm the reason the pods are

[2020-01-25 05:58] pgier commented on #2970
I think the problem here is a typo, `request` should be plural `requests`.  Feel free to reopen this issue the spelling change doesn't fix the problem.

[2020-01-25 05:58] #2970 closed

[2020-01-25 11:31] GramozKrasniqi commented on #2970
@pgier yep sorry that was the typo problem.
Thank you for your help :)

[2020-01-26 07:10] C-K-Loan commented on #2908
Having the same issue with kafka-minion

[2020-01-26 19:52] omerlh commented on #2957
Exactly, for me everything worked using kube-prometheus and some Jsonnet magic, but I couldn't make alert manager to point to the right configuration path. Ideally, adding to the spec something like:
[code]

[2020-01-27 14:57] vfiset commented on #2963
@vrathore18 did you manage to find the solution ?

[2020-01-27 15:26] pgier commented on #2950
I don't think this is related to the CRD and build changes since those weren't released until v0.35.0 and this is reported against v0.34.0.  I haven't been able to reproduce this yet unfortunately.  @chaosaffe what do your storageclass/standard and the associated PVs look like?

[2020-01-27 16:11] brancz commented on #2972
I assume you are talking about kube-prometheus not just the prometheus-operator.

Each cluster creation tool has some subleties to it. We have patches prepares for many of them, but don't have it for rancher: https://github.com/coreos/kube-prometheus#cluster-creation-tools

Would you like to figure this out and add a patch to support ranchero

[2020-01-27 16:19] vitobotta commented on #2972
Hi @brancz ! I meant the prometheus operator. However I have been told by Rancher devs that other monitoring stacks won't fully work with Rancher deployed clusters because of their architecture. So I am still using Prometheus, Grafana etc but installed by Rancher, and that works. I was hoping to use some lighter stack because Rancher's uses quite a bit of CPU/memory for a small cluster like mine.

[2020-01-27 16:19] #2972 closed

[2020-01-27 17:31] fog1985 opened #2973 "All grafana dashboards are just gone in few minutes after installation."
**What happened?**
After some time, Grafana loses all the dashboards and all the content with any visible items etc. Like something has wiped out CSS and everything.

And the message is as follow:
Failed to fetch dashboard
{"data":"","status":404,"config":{"method":"GET","transformRequest":[null],"transformResponse":[null],"jsonpCallbackParam":"callback","url":"api/dashboards/home","retry":0,"head

[2020-01-27 21:53] pgier commented on #2950
I was able to reproduce this and tracked and found this error.
[code]
It appears that this validation doesn't occur in kube v1.16.  The issue only occurs when `apiVersion` or `Kind` are set.  It appears these two fields are removed by the kube api server.  The issue can be seen by trying to apply the same statefulset twice with one or both of these fields set (https://github.com/kubernetes/kuberne

[2020-01-28 07:42] brancz commented on #2957
I get the desire but I don’t think that will quite work with the way that we currently handle the auto reloading of the config. Not saying it’s impossible but it’s more tricky than just the location being configurable. If we can figure that out I’m happy with having this.

[2020-01-28 07:53] omerlh commented on #2957
It's fine by me that if this is enabled, you're opting out from hot reloading of configuration, it means you take full control of the config and you're also responsible for managing it.

[2020-01-28 08:13] s-urbaniak commented on #2950
Great finding @pgier! I believe this then can also bite us in OpenShift 4.4, as we are on k8s 1.17 right?

[2020-01-28 09:05] brancz commented on #2950
We have some logic that attempts to "resolve" this by deleting the statefulset completely and re-creating it. But it seems to me that in this case we're ending up in some sort of a loop of this behavior.

[2020-01-28 09:06] brancz commented on #2973
The helm charts are neither used nor maintained by the prometheus-operator maintainers. Therefore we don't know the setup, so we're unlikely to be able to help you. I recommend creating an issue on the upstream helm charts repo where these helm charts are maintained. Beyond that, the helm charts actually package [kube-prometheus](https://github.com/coreos/kube-prometheus), not just the prometheus

[2020-01-28 09:06] #2973 closed

[2020-01-28 09:24] fog1985 commented on #2973
Thank you @brancz  for the clarification.
Will keep in in mind for the future.

[2020-01-28 13:31] AceHack opened #2975 "Alert Manager above 0.16.2 broken"
I'm in EKS and If I try to use any alert manager above 0.16.2 I get the following errors.

level=warn ts=2020-01-28T13:26:12.788077549Z caller=main.go:230 msg="unable to join gossip mesh" err="1 error occurred:\n\t* Failed to resolve alertmanager-prometheus-operator-alertmanager-0.alertmanager-operated.2269-monitoring.svc:9094: lookup alertmanager-prometheus-operator-alertmanager-0.alertmanager-op

[2020-01-28 13:37] AceHack commented on #2975
Can we have the operator use the fully qualified name?

[2020-01-28 13:39] AceHack commented on #2975
Also, I take that back, I still get these errors in replica 0, just not replica 1 with 0.16.2

[2020-01-28 15:27] simonpasquier commented on #2975
Are the warnings printed repeatedly or is it just at start time?

[2020-01-28 15:33] christiangda opened #2976 "Prometheus --> Metadata --> labels (kind: Prometheus) are implemented?"
**What did you do?**

If I set the Label `environment: staging` on my manifest `kind: Prometheus` it doesn't apply my label to the pod

[code]
**Did you expect to see some different?**
[code]
**Environment**
AWS EKS 1.14.9

* Prometheus Operator version:

    `Insert image tag or Git SHA here`

[code]
* Kubernetes version information:

    `kubectl version`

[code]
* Kubernetes cluster kind:

AWS

[2020-01-28 16:19] pgier commented on #2950
@s-urbaniak yes, I believe this will affect us in openshift also if either of those fields are set.

@brancz Right, the prometheus operator keeps trying to resolve the difference between the stateful set generated from the prometheus crd config and the stateful setting running in kube.  It fails to update because of the validation error, so Prometheus operator deletes the running sts and tries to

[2020-01-28 16:20] paulfantom commented on #2954
What about push it to a new repo called `quay.io/coreos/po-tooling`? This would preserve the naming schema we have for our binaries.

[2020-01-28 16:56] pgier opened #2977 "Prometheus stateful set is always immediately updated after creation"
**What happened?**

When a new Prometheus resource is added, the prometheus operator first creates a new statefulset, and then almost immediately updates the stateful set.  This is due to the way the hash calculation was changed in #2801.  This causes the initially generated hash to never match the hash of the running statefulset.

**Did you expect to see some different?**

I would expect that the

[2020-01-28 17:43] brancz commented on #2954
Sgtm

[2020-01-28 17:50] zmailloux commented on #2821
@samsja When you say you were able to get multiple URLs to scrape, do you mean only by creating additional servicemonitor rules? I'm trying to create servicemonitor rules with multiple endpoints and haven't been able to do so.

[2020-01-28 17:58] brancz commented on #2976
You need to use .spec.podMetadata for this puspose.

[2020-01-28 18:00] brancz commented on #2815
Closing as there wasn’t any follow up. Should the still happen feel free to continue to comment or open a new issue! :)

[2020-01-28 18:00] #2815 closed

[2020-01-28 18:36] christiangda commented on #2976
Thanks a lot, @brancz !, I will do.

[2020-01-28 18:53] paulfantom commented on #2954
I'll create the second pipeline for `quay.io/coreos/po-tooling` after #2979 is merged. This way we will have a grace period :)

[2020-01-29 02:16] pgier commented on #2977
I was hoping this could be fixed by just calculating the statefulset spec checksum before creating the statefulset, but it seems this isn't possible due to the changes the api server makes to the statefulset spec when it is applied.  To resolve this we'd probably need to give up on trying to detect manual statefulset changes.

[2020-01-29 03:00] AceHack commented on #2975
Just at start time.

[2020-01-29 07:43] brancz commented on #2976
I assume we can close this. If there are any other questions feel free to ask or open a new issue.

[2020-01-29 07:43] #2976 closed

[2020-01-29 08:21] brancz commented on #2957
I'm trying to outweigh whether we should do what is proposed here and continuing our effort in having an AlertRoute CRD which would reference a secret for secret material. It seems like that would satisfy your requirements as well? I'm bringing this up because we actually have time allocated to start working on this feature.

[2020-01-29 09:00] omerlh commented on #2957
Actually, the CRD sounds better to me, so I think we close this issue in favor of the second issue

[2020-01-29 09:55] samsja commented on #2821
Yep exactly, the only way I found is to create one Service Monitor (based on the template of the helm chart) for each url I want to monitor. It worked even though it is not ideal. Let me now if you found a solution to have multiple endpoints in one service monitor.

[2020-01-29 10:23] simonpasquier commented on #2975
Then it's only transient and doesn't affect the operations.

[2020-01-29 16:52] chancez commented on #2957
I'd be fine with that, so long as I can have a plain text alertmanager configuration in git and the encrypted secret values separated.

[2020-01-29 17:06] #2954 closed

[2020-01-29 17:21] brancz commented on #2957
That's the idea :)

[2020-01-29 17:21] brancz commented on #2957
Closing in favor of https://github.com/coreos/prometheus-operator/issues/2927

[2020-01-29 17:21] #2957 closed

[2020-01-30 07:02] #2950 closed

[2020-01-30 11:26] shindanim commented on #913
For the future viewer's information, the example seems to be moved to https://github.com/coreos/kube-prometheus/tree/master/examples/example-app

[2020-01-30 12:06] pepov opened #2988 "Consider making the `pkg/apis/monitoring` package a nested go module"
**What is missing?**
The ability to import only the monitoring apis from another project instead of the whole module.

**Why do we need it?**
There are several dependencies that could easily cause conflicts with existing local versions in a downstream project. This change would limit the affect of such conflicts.

Note: I would be glad to take a stab at it.

[2020-01-30 13:12] sc250024 opened #2989 "[alertmanager] Integrating OpsGenie / Alerting tool"
**Summary**

Essentially I'm trying to figure out how to integrate OpsGenie (or any other alerting service) into my AlertManager instance that's spun up by the Prometheus Operator. I referenced Robust Perception's blog post here for the relevant configuration: https://www.robustperception.io/using-opsgenie-with-the-alertmanager.

It's pretty clear from the logs what the error is (YAML unmarshallin

[2020-01-30 13:54] tcrst commented on #2969
Encountering the same issue on 0.34.0 with v1.14.9-eks-c0eccc cluster.

[2020-01-30 15:16] brancz commented on #2989
You need to make use of the Alertmanager CRD, the alertmanager config in the Prometheus object is just to discover Alertmanager instances. I recommend reading the [Alerting user-guide](https://github.com/coreos/prometheus-operator/blob/master/Documentation/user-guides/alerting.md). If you still have questions afterwards feel free to ask them! :)

[2020-01-30 17:25] GabrielPeral opened #2990 "[alertmanager] One alertamanager for multiple Prometheus from different K8s clusters"
HI everyone,
I'm quite new with Prometheus Operator and me and my team are trying to centralize all metrics and alerts from different k8s clusters, so I was looking at the configuration, and I only find that in Prometheus it will look for the endpoint of a given service, but what if that service is not in the same cluster, for example,lets see this scenario:

- One k8s cluster designed as centrali

[2020-01-30 22:41] csquire commented on #2858
@archmangler did you find a solution for this? We ran into the same thing today.

[2020-01-31 00:50] SVronskiy commented on #2969
Same problem here. Pleae fix it.

[2020-01-31 07:31] brancz commented on #2990
You can make use of raw prometheus config for discovering alertmanagers using the “additionalAlertManagerConfigs” feature.

[2020-01-31 08:54] galindro commented on #1909
I'm facing the same problem as well. I'm using prometheus-operator helm chart version 8.5.2. In my scenario, I've added a new value on grafana.additionalDataSources array and  the change wasn't being reflected on grafana.

#### BEFORE
[code]

#### AFTER
[code]

[2020-01-31 09:59] galindro commented on #1909
I just figured out how to implement a workaround for it. The datasource will never being added because the method used to add datasources to grafana is being done by an init-container called `grafana-sc-datasource` which is part of the grafana statefulset. This container will run only at the creation of the statefulset's pod.

To force the pod's recreation, I just added an annotation called timest

[2020-01-31 10:48] galindro commented on #1909
Guys, I propose to add a new annotation to this chart called checksum/sc-datasource-provider-config that can controls changes on the datasource config, like checksum/sc-dashboard-provider-config does for dashboard. This way, we can avoid the above workaround

[2020-01-31 15:12] LiliC commented on #2988
@pepov Do you have another example of an operator where this is done this way?

[2020-01-31 15:23] yeya24 opened #2992 "Support thanos tracing config"
**What is missing?**
Current thanos spec cannot support tracing

**Why do we need it?**

Since prometheus-operator already supports thanos-sidecar and thanos-ruler, I think it is useful to support thanos tracing config.

With the first class support for thanos tracing, I don' t have to specify them in containers field.

cc @pgier

[2020-01-31 15:54] pepov commented on #2988
@LiliC yes:
- https://github.com/banzaicloud/logging-operator/tree/master/pkg/sdk
- https://github.com/banzaicloud/bank-vaults/tree/master/pkg/sdk

Although these modules are not just for types, but the concept is the same.

[2020-01-31 17:48] stromvirvel commented on #2975
I'm having the same issue with Prometheus Operator 0.35.0 and AlertManager 0.17.0. No matter if I start 1 or 3 replicas, the Pods show this log entries:

[code]

This is running on Azure Kubernetes 1.15.7. The Pods stay in CrashLoopBackOff.

[2020-01-31 18:40] sachinmsft commented on #2971
Thanks.

[2020-01-31 18:40] #2971 closed

[2020-02-01 04:19] Kampe commented on #2399
This is still a problem

[2020-02-03 04:16] yeya24 opened #2995 "Thanos ruler cannot upload blocks"
**What happened?**

The thanos ruler cannot upload blocks to object storage because of no external label specified in Ruler.

**Potential fix**

Add `--label=ruler-replica=$(POD_NAME)`  to ruler args.

**Environment**

* Prometheus Operator version: master

    `Insert image tag or Git SHA here`

* Kubernetes version information:

    `kubectl version`

* Kubernetes cluster kind:

    insert how y

[2020-02-03 09:23] stromvirvel commented on #2975
I was sticking too much on the first erros with the DNS resolution, so I thought it was some kind of chicken-egg issue while the pod tries to reach itself using DNS but the pod didn't get registered in the DNS since it has not started yet.

Anyway, I just had an error in the alertmanager config, which the other lines shows :)
Therefore, please disregard.

[2020-02-03 09:33] brancz commented on #2995
cc @pgier

[2020-02-03 10:06] LiliC commented on #2988
Sounds interesting, this would help us with any cycle dependencies as well.

cc @coreos/team-monitoring thoughts?

[2020-02-03 12:17] vrathore18 opened #2996 "How can I add my custom grafana dashboard?"
I am trying to add a new dashboard to the below helm chart
https://github.com/helm/charts/tree/master/stable/prometheus-operator

I am having all my dashboards in .json files. Could you please help me out I can I edit my values.yaml in such a way that everytime I install prometheus-operator I will have my dashboard imported.

P.S I know I have to create a configmap and there is some setting I need

[2020-02-03 13:05] bwplotka commented on #2988
Nested dependencies are hard to play with, but to me this case is very solid.

Looks like this is yet another use case for [`modularize`](https://github.com/Helcaraxan/modularise-example-core) @Helcaraxan (:

[2020-02-03 14:10] yeya24 commented on #2995
Maybe it is better to be a `feature request`

[2020-02-03 14:14] simonpasquier commented on #2988
I agree it would be useful.

[2020-02-03 14:16] Helcaraxan commented on #2988
Am still working hard (although in stealth mode) on `modularise`. Will follow up here as soon as I have a working first version. I don't know about the timelines here but I _hope_ that I can have something in 1-2 months based on my current progress.

[2020-02-03 15:55] sc250024 commented on #2996
I can comment on this. There are a couple of ways to inject Grafana dashboards, but here's the general flow:

1. Make sure you have a `dashboardProvider` configured. This is actually part of the Grafana chart that comes bundled with the Prometheus operator Helm chart:

[code]

2. Once you have your provider (named `myprovider` in this case), you can add dashboards one of the followings ways:

**Vi

[2020-02-03 15:57] sc250024 commented on #2989
Thank you @brancz . I will test this out, and have a PR soon-ish for a quickstart on this.

[2020-02-03 15:57] #2989 closed

[2020-02-03 15:57] metalmatze commented on #2996
The Prometheus Operator itself is completely out of scope for Grafana these days. Please open Grafana related and kube-prometheus specific question over in that repo: https://github.com/coreos/kube-prometheus/
As I can see some Helm related things in the comments above you might want to discuss in the helm repository.

Closing because this discussion is happening in an unrelated repository.

[2020-02-03 15:57] #2996 closed

[2020-02-03 16:20] sc250024 opened #2999 "[prometheus-operator] Support dry-run / diff for admission webhooks"
**Description**

At our organization, we utilize many `PrometheusRule` s for internal monitoring. As a DevOps Engineer, I would like to see, as part of a CI/CD pipeline, the output of `kubectl diff` against the current `PrometheusRule` (or any other Prometheus Operator CRDs which aren't explicitly part of the Helm chart), and the new version I am trying to apply via some pull request.

**What is m

[2020-02-03 17:10] brancz commented on #2988
I think modularise would be a very good use case!

[2020-02-03 17:19] sc250024 commented on #2999
Nevermind. Duplicate of https://github.com/coreos/prometheus-operator/issues/2343.

[2020-02-03 17:19] #2999 closed

[2020-02-03 17:38] Helcaraxan commented on #2988
Just to add to @bwplotka's point about nested modules being tricky: if there's the possibility to wait for `modularise` to be available and take a stab at this then that would be worthwhile in my opinion.

Based on my ever growing experience with projects and people going the nested modules way it is not something you'd want to do. It's more likely to hurt both project maintainers AND downstream p

[2020-02-03 17:57] mr-karan commented on #2990
I tried the configuration from the official helm chart [example](https://github.com/helm/charts/blob/master/stable/prometheus-operator/values.yaml#L1707 and got the following error on applying the manifest:

[code]

Posting the config:

[code]

Any pointers? @brancz

[2020-02-03 18:04] #2992 closed

[2020-02-04 08:43] IKSIN commented on #2967
I think, that It must be internal logic of operator to connect few STS (i.e. by label) and recreate them consistently

[2020-02-04 13:04] tlereste opened #3004 "Documentation has old and broken links"
**What happened?**
Documentation has old and broken links.

**Did you expect to see some different?**
Documentation with correct links.

**How to reproduce it (as minimally and precisely as possible)**:
NA

**Environment**
NA

--

[2020-02-04 14:09] simonpasquier commented on #2990
@mr-karan from the [doc](https://github.com/coreos/prometheus-operator/blob/master/Documentation/api.md#prometheusspec):

You need to create a secret storing `- consul_sd_configs: ...` and reference it in the Prometheus resource.

[2020-02-04 14:53] omerlh commented on #1052
@brancz can you please elaborate on that? We have multiple production clusters, and currently, we're running an alert manager on each one of them (not ideal!). What is the recommended solution that is also HA? And how can you expose all alert manager pods easily? Using LoadBalaner service will not work here, and I'm not familiar with any good solution for exposing pod IPs. This is a discovery issu

[2020-02-04 15:20] #3004 closed

[2020-02-04 15:26] haf-afa commented on #2865
.............

[2020-02-04 18:02] jasonmacdonald commented on #2924
I just ran into this as well, and please be aware that Kubernetes on AWS (EKS) is locked to 1.14 with no option to upgrade right now.

[2020-02-04 19:48] onedr0p commented on #2890
Having that in my config doesn't seem to get all the namespaces, I am still only seeing rules from my `monitoring` namespace. I am using v8.7.0 of the helm chart.

[code]

[2020-02-05 07:19] omerlh opened #3010 "Using external dns with alert manager"
**What is missing?**
I want to expose alert manager stateful using external dns support for headless services. For this to work, I need to add annotation on the headless service - which is not possible currently.

**Why do we need it?**
For sending alerts from a Prometheus running on one cluster to alert manager running on another cluster. The architecture of alert manager requires that all the in

[2020-02-05 11:16] yannh opened #3011 "AlertManager StatefulSet should support HostPort"
**What is missing?**

It is currently not possible to configure the AlertManager StatefulSet generated by Prometheus-operator to use hostPort.

**Why do we need it?**

We have multiple Kubernetes clusters, each running Prometheus deployed using the Prometheus Operator. To get cross-cluster alert deduplication, we would like those Prometheus servers to send alerts to a central AlertManager.

We're

[2020-02-05 11:34] brancz commented on #2890
You’re right the docs do need updating.

cc @pgier can you look into why the selector may not be working as expected?

[2020-02-05 11:35] brancz commented on #2791
This was about HA of the prometheus operator itself. Running prometheus HA is just a matter of having 2 or more replicas.

[2020-02-05 12:24] brancz commented on #2828
Sounds like we can close this.

[2020-02-05 12:24] #2828 closed

[2020-02-05 14:03] juliantaylor opened #3012 "admission controller accepts invalid prometheusrules"
The operators validating admission controller is supposed to reject invalid prometheus rule objects before they end up in the cluster, but you can construct rules that cannot be parsed by the operator but are still accepted by the operator

Example:

[code]

Applying a differnt invalid rule does not work so the admission configuration is working:

[code]

* Prometheus Operator version:

    0.35

[2020-02-05 14:17] juliantaylor commented on #3012
note the current CRD schema example does not forbid integers either:
https://github.com/coreos/prometheus-operator/blob/master/example/prometheus-operator-crd/monitoring.coreos.com_prometheusrules.yaml#L72

[2020-02-05 14:24] juliantaylor commented on #3012
oh no I read that wrong the CRD schema does forbid integers
our cluster just had a older version of the CRD deployed.

Though imo the admission controller should also validate using the schema to avoid this situation where the crd is statically deployed and diverges from what is needed.

[2020-02-05 14:24] #3012 closed

[2020-02-05 14:36] pgier commented on #2498
Fixed by #2952

[2020-02-05 14:36] #2498 closed

[2020-02-06 03:31] onedr0p commented on #2890
It's easily issue to replicate. Seems broken for awhile now... Let me know if there is more details that you will need me to provide.

[2020-02-06 04:20] yeya24 commented on #2890
@onedr0p Could you please share what version of Prometheus-operator are you running? I cannot reproduce it in master branch.

[2020-02-06 04:48] onedr0p commented on #2890
@yeya24 My entire Kubernetes cluster is at that link.

https://github.com/onedr0p/k3s-gitops

and my helm values for the chart is here:

https://github.com/onedr0p/k3s-gitops/blob/master/deployments/monitoring/prometheus-operator/prometheus-operator.yaml

[2020-02-06 04:50] onedr0p commented on #2890
I am running Kubernetes v1.17.2 could that be a factor?

[2020-02-06 05:10] yeya24 commented on #2890
Could you please share your Prometheus CR yaml file? I think there might be something with the chart, but I am not sure.

[2020-02-06 05:20] onedr0p commented on #2890
kubectl get clusterrole/prometheus -n monitoring -o yaml

[code]

Sorry for the bad yaml formatting I'm on mobile.

[2020-02-06 05:49] yeya24 commented on #2890
Sorry for not being clear. Could you please share the yaml file of your Prometheus Custom Definition? like `kubectl get prometheus -n monitoring -o yaml` ?

[2020-02-06 06:54] artemsre opened #3016 ""sourceLabels" for metricRelabelings is lose"
I defined new ServiceMonitor with metricRelabelings section:

[code]

But I got prometheus config without "source_labels" keys:
[code]

Kubernetes secret also wrong:

[code]

How I could fix this. I tried 0.34.0 and 0.35.1 operator image.

[2020-02-06 06:56] artemsre commented on #3016
Different representation I already tried:
[code]

[2020-02-06 07:12] artemsre commented on #3016
I found my mistake. source_labels: fo ServiceMonitor should be "sourceLabels".

Thanks for all :) . And sorry

[2020-02-06 07:12] #3016 closed

[2020-02-06 07:52] #2995 closed

[2020-02-06 08:37] HanithaKrishnaraj opened #3017 "ISSUE : http://{appname}:9080/metrics: read tcp 1{ip}:54948->{ip}:9080: read: connection reset by peer"
Hi Team,

I have posted my question in google forum and it's been a week hitting my head.

https://groups.google.com/forum/?utm_medium=email&utm_source=footer#!msg/prometheus-users/84P78yZ7opw/mwRDPegZAwAJ

I tried many ways but still facing issue **"target state is down"**

[2020-02-06 13:35] onedr0p commented on #2890
@yeya24

[code]

[2020-02-06 13:38] jrcjoro commented on #2950
I'm still having this issue with kube 1.17.1, prometheus-k8s-0 and prometheus-k8s-1 keeps terminating. I just tested with kube-prometheus "version": "release-0.35". Any info how to fix this?

[2020-02-06 13:48] yeya24 commented on #2890
Thanks! @onedr0p The manifest is good. So the last chance is that the rules label cannot be matched
[code]

Could you please set your prometheus-operator log level to debug and check if you can find the logs like `level=debug ts=2020-02-06T13:46:01.360165Z caller=rules.go:200 component=prometheusoperator msg="selected Rules" rules=kube-system-prometheus-example-alerts.yaml namespace=default promet

[2020-02-06 13:58] onedr0p commented on #2890
Will do, in the mean time does it make since to set the following?

[code]

and

[code]

[2020-02-06 14:11] onedr0p commented on #2890
Logs from the past hour with debug turned on

[code]

[2020-02-06 14:19] yeya24 commented on #2890
Yes, I think they have the same logic.

Could you please share the logs of your prometheus-operator instance, not Prometheus? It is ok to just use kubectl logs to check whether it contains `selected Rules`.

[2020-02-06 14:21] onedr0p commented on #2890
I think I found what you want:

[code]

[2020-02-06 14:28] onedr0p commented on #2890
Full logs here: https://gist.github.com/onedr0p/bd695f14ff91bef802c4f290ddb58c97

[2020-02-06 14:49] onedr0p commented on #2890
It looks like all namespaces are being monitored! derp

For example I have https://github.com/onedr0p/k3s-gitops/blob/master/deployments/rook-ceph/monitoring/prometheus-ceph-v14-rules.yaml

Would me updating the first few lines to this make it pick up the rules?

[code]

[2020-02-06 14:54] yeya24 commented on #2890
Yes, I think so. You could try it and see if it works

[2020-02-06 14:59] pgier commented on #2950
@jrcjoro Can you try using prometheus-operator v0.35.1?  The other workaround is to remove `apiVersion` and `kind` from your prometheus resource
[code]

[2020-02-06 15:03] onedr0p commented on #2890
And just like that it started picking up the rules. Anyone else in this issue make sure you have you labels set correctly on your PrometheusRule objects.

Thanks @yeya24 for all the help!

[2020-02-06 17:03] onedr0p commented on #2890
More information for people who want to ignore labels and just have monitoring and rules for all namespaces / objects, it's important to set the following:

[code]

[2020-02-07 00:32] cmcconnell1 commented on #2924
Seconding @jasonmacdonald post above. We're also hitting this problem with all of our EKS clusters and ref: https://docs.aws.amazon.com/eks/latest/userguide/kubernetes-versions.html we are running the latest EKS kube version possible.
[code]
Thanks

[2020-02-07 16:59] onedr0p commented on #2359
Anyone have a status of this issue in 2020? It would be nice to have these metrics reported to us.

[2020-02-07 21:10] pgier commented on #2924
I created a PR to remove the `preserveUnknownFields` from the kube-prometheus examples (https://github.com/coreos/kube-prometheus/pull/408).  The current version of prometheus-operator (v0.35.1) seems to deploy the CRDs into Kubernetes 1.14 without any issue.  I'm guessing the client library is making the necessary removal of the incompatible field.  So this seems to be only an issue when manually

[2020-02-08 21:06] C-K-Loan commented on #2908
I resolved the issue!

I was using bitnamis Prometheus chart !

When deleting that chart and installing the official Prometheus Chart, it worked fine!

[2020-02-10 10:33] ravvereddy commented on #2119
I had a similar issue and i followed the above steps but i cannot see nginx-ingress endpoints in prometheus any help.

<img width="1433" alt="Screen Shot 2020-02-10 at 4 03 02 PM" src="https://user-images.githubusercontent.com/23655462/74142426-de44c480-4c1e-11ea-994d-f3d28c7219e2.png">

[2020-02-10 14:03] dr460neye opened #3020 "Auto discovery for ExternalName services"
Hi there,

i would like to bring up the topic about implementing support for services with external name configuration again.

I know this has been discussed in the past multiple times, and the current workaround is a single "scrape config" file. This makes it hard to scale and administate for future proof scenrarios.
Meanwhile prometheus kubernetes module supports auto discovery for this use case

[2020-02-10 14:05] dr460neye commented on #3020
Reference for tickets about this topic:

https://github.com/coreos/prometheus-operator/issues?utf8=%E2%9C%93&q=is%3Aissue+ExternalName+
in specific:

https://github.com/coreos/prometheus-operator/issues/2036

Like mentioned sometimes, for managed services or in clouds, its hard to get a stable ip and way easier to get a dns address provided by your provider.

[2020-02-10 16:21] ravvereddy commented on #2809
https://github.com/coreos/prometheus-operator/issues/2119#issuecomment-584057458

[2020-02-10 18:31] brancz commented on #2359
I think that would be best answered by sig storage people on Kubernetes. I don’t know off the top of my head.

[2020-02-10 20:35] onedr0p commented on #2359
Feels like the Spiderman meme with Prometheus operator, rook-ceph, and sig storage team pointing at each other. 😄 I'll still continue to dig into this issue.

[2020-02-11 05:59] jasvinder-tp commented on #1884
First create:

step1: vi grafana/grafana-credentials.yaml

apiVersion: v1
kind: Secret
metadata:
  name: grafana-credentials
data:
  user: YWRtaW4=
  password: YWRtaW4=

step 2: kubectl apply -f grafana/grafana-credentials.yaml -n monitoring
step 3: check credentails: kubectl get secrets -n monitoring
step 4: kubectl describe secrets grafana-credentials -n monitoring
step 5: change the grafana dep

[2020-02-11 14:42] pgier commented on #2924
Closing this since I believe this is resolved by https://github.com/coreos/kube-prometheus/pull/408

[2020-02-11 14:42] #2924 closed

[2020-02-11 15:18] omerlh opened #3022 "CRD manifests are now generated with status field"
**What happened?**
I update my jsonnet library to the latest version and noticed that now the CRDs contains a new field, `status`. This is problematic when using GitOps tools like flux/argo - as this field is updated by k8s and therefore the sync from Git to Kubernetes fails.

**Did you expect to see some different?**
No

**How to reproduce it (as minimally and precisely as possible)**:
Generate m

[2020-02-11 15:28] omerlh commented on #3022
A workaround for the issue is by doing the following jsonnet magic (if using `kube-prometheus`):
[code]

[2020-02-11 22:47] antonputra commented on #2400
faced similar issue, alertmanager config was the reason.
https://github.com/coreos/prometheus-operator/blob/master/Documentation/user-guides/alerting.md

[2020-02-13 14:23] sebastiansirch commented on #2950
Unfortunately, neither 0.35.1 nor 0.36.0 are resolving this bug in our setup.

[2020-02-14 09:42] s-urbaniak commented on #2399
cc @pgier ^ this is something we should look into :thinking:

[2020-02-14 12:50] vukasin-nikodijevic commented on #2934
I see this as bug as `cluster.local` is missing at the end domain.

Alertmanager is throwing dns resolution errors:
[code]

This is not matter of config (it should be) but hardcoded:
https://github.com/coreos/prometheus-operator/blob/master/pkg/alertmanager/statefulset.go#L327

I'll expect to see something like this:
[code]

Or even better parametrise `cluster.local` and set as default value to th

[2020-02-15 00:58] bchess opened #3025 "Add support for query_log_file"
**What is missing?**
Prometheus v2.16.0 adds the ability to log queries to a file. It's controlled via a config field called `query_log_file`. More details are at https://github.com/prometheus/prometheus/pull/6520

prometheus-operator should support setting this field.

[2020-02-15 17:56] superbiche commented on #2950
@pgier had this issue, removing `apiVersion` and `kind` from the generated manifests made the pods start. Kubernetes 1.17.2 on Scaleway Kapsule (managed Kubernetes)

[2020-02-16 11:06] mr-karan commented on #2003
@AngusDavis Thanks a lot for documenting this! I've been looking several ways to do this since few hours now :smile:

[2020-02-16 19:54] manikanta-kondeti commented on #2963
any update on this?

[2020-02-17 07:44] brancz commented on #2963
If someone were to share what I asked we could have a look and analyze the situation :)

[2020-02-17 11:30] brancz commented on #2934
Happy to have a field to configure cluster extension.

[2020-02-17 12:19] alexconlin opened #3029 "Alertmanager statefulset pruned unnecessarily"
**What happened?**

When kubectl apply --prune is run against a system deployed with prometheus-operator  the alertmanager stateful set gets pruned every time

**Did you expect to see some different?**

Alertmanager stateful set not pruned

**Anything else we need to know?**:

This is the same issue as https://github.com/coreos/prometheus-operator/issues/2642, but for the alertmanager stateful set

[2020-02-17 20:11] manikanta-kondeti commented on #2963
Ok, let me do that. this is the alert ```[FIRING:1] KubeDeploymentReplicasMismatch prod (order-mgt-console kube-state-metrics monitoring/k8s critical)
Alert:  - critical
 Description:
 Details:
  • alertname: KubeDeploymentReplicasMismatch
  • deployment: order-mgt-console
  • severity: critical ``` Also, cant share the entire deployment object, please tell me the fields that you wanna check?

[2020-02-17 20:14] manikanta-kondeti commented on #2963
[code]

[2020-02-17 22:08] elisiano commented on #2963
@manikanta-kondeti in your case the alert seems legit, you have the deployment setup with 5 replicas but only 4 are ready (and 1 unavailable).

[2020-02-18 07:12] manikanta-kondeti commented on #2963
yes, but question why is it and how do I fix this?

[2020-02-18 08:25] hwdef opened #3031 "Unable to obtain kube-controller-manager and kube-scheduler monitoring information"
**What did you do?**

I apply the kube-prometheus in minikube , but the kube-controller-manager and kube-scheduler in prometheus is empty.

![image](https://user-images.githubusercontent.com/13084946/74717387-44f35f00-526b-11ea-80b5-14cf3a2093e5.png)

more information in https://github.com/coreos/kube-prometheus/issues/418

**Anything else we need to know?**:

[code]

[2020-02-18 08:31] brancz commented on #2963
Check why the pod is not running, see if there are 5 but one maybe pending, or check events.

[2020-02-18 09:11] simonpasquier commented on #2927
Hello! I've started a design document:
https://docs.google.com/document/d/1aVVttvocop8zNezwrNFbHh_HKRW_fhJUZqhmrr8fGK0/edit?usp=sharing

Feel free to comment there...

[2020-02-18 09:11] simonpasquier commented on #2766
Hello! I've started a design document:
https://docs.google.com/document/d/1aVVttvocop8zNezwrNFbHh_HKRW_fhJUZqhmrr8fGK0/edit?usp=sharing

Feel free to comment there...

[2020-02-18 09:12] simonpasquier commented on #1528
Hello! I've started a design document:
https://docs.google.com/document/d/1aVVttvocop8zNezwrNFbHh_HKRW_fhJUZqhmrr8fGK0/edit?usp=sharing

Feel free to comment there...

[2020-02-18 09:12] simonpasquier commented on #1498
Hello! I've started a design document:
https://docs.google.com/document/d/1aVVttvocop8zNezwrNFbHh_HKRW_fhJUZqhmrr8fGK0/edit?usp=sharing

Feel free to comment there...

[2020-02-18 09:12] simonpasquier commented on #2957
Hello! I've started a design document:
https://docs.google.com/document/d/1aVVttvocop8zNezwrNFbHh_HKRW_fhJUZqhmrr8fGK0/edit?usp=sharing

Feel free to comment there...

[2020-02-18 09:18] benjaminhuo commented on #2766
@simonpasquier That's great! Will take a look at this!

[2020-02-18 13:27] #3031 closed

[2020-02-18 15:13] allen13 commented on #2727
Are there any plans on getting the invalid label issue fixed in the validator as mentioned in #2962 ? With a large number of users this breaks the operator on a fairly regular basis.

[2020-02-19 01:33] allen13 commented on #2727
Added PR #3032 to fix the above issues.

[2020-02-19 10:08] vrathore18 commented on #2963
@brancz : I was able to fix the issue. I was getting the error because of the deployment.

[2020-02-19 18:03] #3029 closed

[2020-02-19 18:39] brancz commented on #3022
@pgier can we make sure we remove this entirely? We’re not setting any status so let’s remove the connection until we do.

[2020-02-19 19:20] brancz commented on #3020
Prometheus requires to scrape each individual target for white box monitoring so even if we discovered these, it would be the wrong strategy.

[2020-02-20 07:09] brancz commented on #3010
The headless service is really just an implementation detail, I would suggest to create a new headless service, that doesn't select every Alertmanager pod in a namespace created by the Prometheus Operator, but instead the exact one's from the Alertmanager cluster you intend to expose.

[2020-02-20 07:11] brancz commented on #3011
Exposing Alertmanager on hostport is not a good idea for security reasons. Alertmanager as is is entirely unprivileged, hostport opens this door. We're unlikely to ever implement the support for this. There are other ways to expose Alertmanager, that would not require hostport, I recommend you to look into those.

[2020-02-20 07:14] brancz commented on #3017
For us to be able to help you it would be good to explain exactly what you did and how we can reproduce it, however, from the mailing list thread it does not look like you're using the Prometheus Operator, so this is just a general Prometheus question.

If you want to try it with the Prometheus Operator, then I recommend our [getting started guide](https://github.com/coreos/prometheus-operator/blo

[2020-02-20 15:09] fengyehong opened #3033 "How to get the original job tag?"
**What did you do?**

I create the following ServiceMonitor

[code]

and get the following prometheus config:

[code]

I need to get the original job_name as a tag `prometheus_job_name`, which should results to `default/test/0` here, but as the config show, relabelings defined in ServiceMonitor object are appended after built-in configs, so when the last relabeling executing, `job` has already bee

[2020-02-20 18:15] brancz commented on #2189
I released a first version of [kube-audience-proxy](https://github.com/brancz/kube-audience-proxy), which we can use to build this integration.

[2020-02-21 11:01] brancz commented on #3033
I'm unsure how breaking it would be if we changed the order of where we insert relabel configs. I think what we can do is we can relabel the original job name into a meta label. Would that work for you?

[2020-02-21 13:15] Zenlil commented on #2787
I'm also in need of scraping the node (i.e kubernetes_sd_configs.role = node)
The big impact of getting node-labels is getting info on different agentpools and GPU enabled nodes. These metrics are only exposed when scraping as a "node" ([prometheus.io](https://prometheus.io/docs/prometheus/latest/configuration/configuration/#node))

The referenced code from @auhlig looks interesting to avoid the "

[2020-02-23 10:56] omerlh opened #3036 "API server SLO recording rules produce too many metrics"
**What happened?**
When applying `status_class:apiserver_request_total:rate3d` rule, I'm getting the following error from Prometheus:
[code]

**Did you expect to see some different?**
Yes, didn't expect an error

**How to reproduce it (as minimally and precisely as possible)**:
Run kube-prometheus and try to apply the default rules.

As a work-around, I removed the rule:
[code]

But I think it wil

[2020-02-23 23:16] keeganwitt commented on #1977
Dumb question: What version of the chart has the fixes for kube-prometheus and kubernetes-mixin?  Or am I misunderstanding how to get the fix?

[2020-02-24 06:16] #2727 closed

[2020-02-24 06:25] brancz commented on #3036
@metalmatze maybe we can have some intermediate aggregation so these errors don’t happen?

[2020-02-24 07:06] fengyehong commented on #3033
I think that works for me.

[2020-02-24 07:35] brancz commented on #3033
Do you want to open a PR for this? :)

[2020-02-24 07:45] fengyehong commented on #3033
OK, I will try. I am learning about the source code.

[2020-02-24 14:18] metalmatze commented on #3036
The underlying query is:
```sum by(status_class) (label_replace(rate(apiserver_request_total{job="apiserver"}[3d]), "status_class", "${1}xx", "code", "([0-9]).."))```

Not really sure how we can improve that. We could first get the rate then label_replace?

[2020-02-25 08:59] brancz commented on #3036
We could do one query per status class as opposed to doing all of them at once, just to make the query load a bit less heavy on each of them. That should be a breeze with jsonnet :wink: .

[2020-02-25 10:52] coderanger opened #3041 "podMetadata feature no longer functional"
**What happened?**

All edits to the `podMetadata` field of a Prometheus object are discarded by kube-apiserver.

**Did you expect to see something different?**

Data should be stored by kube-apiserver.

**How to reproduce it (as minimally and precisely as possible)**:

Try to set a label or annotation using podMetadata.

**Environment**

* Prometheus Operator version: 0.36.0

* Kubernetes version

[2020-02-25 14:52] rpf3 commented on #1001
@chris530 I had to do something very similar to the service selectors; basically null out the `component` label and add `k8s-app` label to the selector for those two services.

[2020-02-25 16:46] pgier commented on #3041
I tried updating to the latest version of controller-tools (v0.2.5) but it seems this is still an issue (https://github.com/kubernetes-sigs/controller-tools/issues/385).  There is a possible fix available (https://github.com/kubernetes-sigs/controller-tools/pull/395), so a local patch might be an option until it's fixed in controller-tools master.

[2020-02-25 17:12] pgier commented on #3041
I created #3043 to test out the upstream patch.  @coderanger can you give that one a try to see if it fixes the issue?

[2020-02-26 09:27] everflux commented on #2946
If I got the situation correctly, the prometheus/alertmanager images on quay.io are already multi-arch for ARM, only the prometheus-operator itself is missing, right?

[2020-02-26 10:32] stigok commented on #2840
I ran into this today. Very hard to figure out. Solution from https://github.com/coreos/prometheus-operator/issues/2840#issuecomment-547987240 worked immediately.

[2020-02-26 14:06] alok87 opened #3044 "Add weavenet monitoring and grafana dashboards for weavenet"
**Released WeaveNet Grafana Dashboards for Monitoring Weave**
Today we released grafana dashboards on the weavenet prometheus metric.

- WeaveNet (node level) https://grafana.com/grafana/dashboards/11789
- WeaveNet (cluster level) https://grafana.com/grafana/dashboards/11804

How to make weave net monitoring part of prometheus installation and where should i add grafana dashboards for it, so that

[2020-02-26 14:16] lilic commented on #3044
I think you might want to open this issue in kube-prometheus, as it doesn't have much to do with the operator itself, but the docs are here on how to add new dashboards in that project.
https://github.com/coreos/kube-prometheus/blob/7f2e669d46d3563e128b2879a645214e8b5993ea/docs/developing-prometheus-rules-and-grafana-dashboards.md

[2020-02-26 14:25] alok87 commented on #3044
thanks will do

[2020-02-26 14:25] #3044 closed

[2020-02-26 14:25] metalmatze commented on #2946
Correct. :)

[2020-02-26 15:33] c4m4 commented on #1890
I looking a way too, How to pass http custom headers

[2020-02-26 21:01] adamrbennett commented on #2907
I recently ran into this as well, here are some anecdotes that apply to my circumstances (may not apply to yours):

The admission webhook pod should not get an Istio sidecar injected.

Set the Istio auto injection default policy to disabled, for example:
[code]

This will not disable auto injection completely -- it will simply defer to pod annotations (namespace label is still required). See here:

[2020-02-27 16:50] rjshrjndrn opened #3046 "Is there any way to alter stock relabelling rule?"
Hi,
I just want to `drop` pod label, which is not useful for our case. This relabel config is coming from, default prometheus-operator. I tried `relablings` and `metricsRelabelings`. Both turned futile.

[code]
When I apply this SM(with relabelings), my job says `0/0`

[2020-02-27 20:49] Cellebyte opened #3048 "[alertmanager] status terminating when specifying volumeClaimTemplate"
**What happened?**

**Did you expect to see something different?**

**How to reproduce it (as minimally and precisely as possible)**:

**Environment**

* Prometheus Operator version:

    `I0.36.0`

[code]
* Kubernetes version information:

    `Client Version: version.Info{Major:"1", Minor:"17", GitVersion:"v1.17.2", GitCommit:"59603c6e503c87169aea6106f57b9f242f64df89", GitTreeState:"archive", Bu

[2020-02-27 23:00] pgier commented on #3048
This looks similar to #2950 which was fixed for Prometheus custom resources in #2987.  Looks like we forgot to also fix this for Alertmanager resources.  I'll create a PR for this.
For now you can workaround this by removing the `apiVersion` and `kind` fields from the `VolumeClaimTemplate` as these two fields are ignored anyway.

[2020-02-28 13:09] Sallyan commented on #2306
Hi @lw8008 How do you make it work?
I am facing the same issue. kube-controller-manager and kube-scheduler are running as service without pod. Currently the targets are shown in Prometheus with error connection refused.
Could you kindly share some information how did you do?
Thanks!
Sally

[2020-02-28 13:14] mchoma opened #3050 "Upgrade to v2.16.0 image with s390x support"
We are testing EAP on s390x architecture and we have test where EAP and Prometheus are used together. We use this prometheus operator to start up Prometheus.

Please provide release of Prometheus Operator with s390x image support v2.16.0 [2].

We believe it is enough to update [1]. Also consider to expose [1] to any arbitrary image version, which would also help in our case.

[1] https://github.co

[2020-02-28 13:16] mchoma commented on #3050
@pgier ^ could you help us with this?

[2020-02-28 13:24] brancz commented on #3046
Relabelings should work just fine but exchange the meta label for the concrete “pod” label.

[2020-02-28 13:32] #3041 closed

[2020-02-28 14:00] Sallyan commented on #2306
Hi @brancz
i searched out and find one issue related to this https://bugzilla.redhat.com/show_bug.cgi?id=1698201
it mentioned controller manager moved to secure port 10257.
Currently on my cluster, describe service controller manager and kube-scheduler, they are listening on port 10252 and 10251
 Get http://*.*.*.*:10251/metrics: dial tcp *.*.*.*:10251: connect: connection refused

[2020-02-28 15:34] pgier commented on #3050
@mchoma You should be able to set arbitrary images of Prometheus using either the `image` or the `version` field in your Prometheus custom resource (https://github.com/coreos/prometheus-operator/blob/master/Documentation/api.md#prometheusspec).
[code]

I'll also create a new PR to add v2.16.0 to the list of supported versions.

[2020-02-28 15:37] #3048 closed

[2020-02-28 17:49] #3050 closed

[2020-02-29 01:52] pgier commented on #2399
This may be fixed now by #3043 which replaces the ObjectMeta type for the pod metadata with a simpler type containing only labels and annotations.

[2020-02-29 19:10] metost commented on #2557
Yes. If you define your service monitor to have namespaceSelector like this it will look in all namespaces:
`
namespaceSelector:
    any: true
`
Or you can define a list like this:
`
  namespaceSelector:
    matchNames:
      - ns-name-1
      - ns-name-2
      - ns-name-3
      - ns-name-4
`

[2020-02-29 19:32] rjshrjndrn commented on #3046
@brancz Thank you for your response. But after changing `meta` to `pod`, targets are coming as `0/0` previously there was 1 target.

[2020-03-01 01:21] gclawes commented on #2946
Apparently quay does support multi-arch images, as of May 2019: https://thenewstack.io/red-hats-quay-3-container-supports-multiple-architectures/

[2020-03-01 08:09] NajemAyadi opened #3053 "Prometheus is showing the target but without endpoint"
I installed the prometheus-operator using helm. I created a Prometheus CRD
[code]
And a ServiceMonitor
[code]
I wanted to monitor the metrics of a sample .netcore application, for that i created a service
[code]
And a deployment
[code]
I expected to see the target in prometheus including the endpoint, state, labels etc...
but i can see only the target:
![image](https://user-images.githubuserconten

[2020-03-01 10:36] gitMukhtar commented on #2581
Hi @gauravkohli ;
Tried reaching you for one solution on DevOps. Please let me know how do I contact you?

[2020-03-01 17:09] Shini31 opened #3054 "Failed to list *v1.ThanosRuler: thanosrulers.monitoring.coreos.com is forbidden: User "system:serviceaccount:monitoring:sandbox-operator" cannot list resource "thanosrulers" in API group "monitoring.coreos.com" at the cluster scope"
**What happened?**
There is an unexpected flood of error message for Thanos Ruler CRDS

[code]

**Did you expect to see something different?**
No error log message

**How to reproduce it (as minimally and precisely as possible)**:
Deploy Helm prometheus-operator in 8.10.0 version

**Environment**
GKE

* Prometheus Operator version:
0.36

* Kubernetes version information:
[code]

* Kubernetes clust

[2020-03-01 18:43] Arkaniad commented on #3054
For what it's worth I am also able to reproduce this issue on DOKS 1.16.6-do.0 with Prometheus Operator 8.10.0 (chart version 0.36.0), same exact error as @Shini31

stern output:
[code]

One message every second

[2020-03-02 04:47] jamesla opened #3055 "Documentation is not clear whether I need a store as well as a sidecar with a bucket configured"
I am trying to deploy Thanos using the prometheus operator. Currently my stack consists of:

1. prometheus
2. thanos sidecar
3. thanos query

The sidecar is configured to use an GCS bucket which appears to be configured correctly as I can run `thanos bucket ls --objstore.config-file=/bucket.yaml` and it can connect to the bucket ok (however it has 0 objects in it).

My understanding is that I can

[2020-03-02 08:14] brancz commented on #3046
You also want to use the droplabel action instead of just drop.

[2020-03-02 09:57] brancz commented on #3055
The sidecar does not read from object storage ever, it only writes. For reading from object store you need to deploy a thanos store. The reason why this is not part of the prometheus operator is because it doesn't need any lifecycling as it's entirely stateless.

[2020-03-02 09:58] brancz commented on #3054
This sounds like a problem with the helm chart(s).

The helm charts are neither used nor maintained by the prometheus-operator maintainers. Therefore we don't know the setup, so we're unlikely to be able to help you. I recommend creating an issue on the upstream helm charts repo where these helm charts are maintained.

[2020-03-02 10:00] brancz commented on #3053
Your service doesn't actually select your pods. Your service selector is:

[code]

but your pod only has

[code]

[2020-03-02 10:01] mdgreenwald commented on #2359
This query worked for me and yields a percentage:
```kubelet_volume_stats_capacity_bytes{persistentvolumeclaim="$volume"} - kubelet_volume_stats_available_bytes{persistentvolumeclaim="$volume"}) / kubelet_volume_stats_capacity_bytes{persistentvolumeclaim="$volume"} * 100```

[2020-03-02 10:21] jomach commented on #2975
I had the same problem, and my error was on the config file from the alert manager. I think this can be closed

[2020-03-02 10:50] Shini31 commented on #3054
I hesitated when I created the issue.

FYI: https://github.com/helm/charts/issues/21171

[2020-03-02 10:50] #3054 closed

[2020-03-02 11:21] decd97 opened #3056 "ThanosRuler restarts instead of reloading with new PrometheusRules"
**What happened?**
When adding new PrometheusRule objects, the ThanosRuler pod will restart instead of reloading.

**Did you expect to see something different?**
The ThanosRuler pod remain running and a call to /-/reload so that the new rules are found.

**How to reproduce it (as minimally and precisely as possible)**:
Create a running ThanosRuler pod with some PrometheusRules. Add multiple new Pr

[2020-03-02 11:44] s-urbaniak commented on #2399
Indeed @pgier that was a very neat workaround :+1: we will test this in our cluster-monitoring stack too. As there is no `creationTimestamp` at all any more, this should have resolved the issue.

[2020-03-02 13:04] onedr0p commented on #2359
@mdgreenwald That doesn't help if you're unable to get any `kubelet_volume_*` metrics gathered.

[2020-03-02 14:01] yeya24 commented on #3056
I will take a look soon. Btw, what version of prometheus operator are you using?

[2020-03-02 14:28] declan-dennehy-transferwise commented on #3056
0.36.0

[2020-03-02 14:59] rjshrjndrn commented on #3046
oh... Is there any documentation for that @brancz

[2020-03-02 15:16] s-urbaniak commented on #3046
See https://prometheus.io/docs/prometheus/latest/configuration/configuration/#relabel_config, it is called `labeldrop`

[2020-03-02 15:51] rjshrjndrn commented on #3046
Okay... Finaly figured out. Big thanks for @brancz @s-urbaniak
Correct one
[code]
Even if you give wrong as I did
wrong
[code]
Prometheus was not giving any error, but simply my rules were not reflecting. Then after restarting the Prometheus pod, it became clear, because of some crash loop.

[2020-03-02 15:52] decd97 commented on #3056
0.36.0

[2020-03-02 16:00] #3046 closed

[2020-03-02 18:35] pgier commented on #3056
I'm guessing this is the same issue with alertmanager that was recently fixed (https://github.com/coreos/prometheus-operator/pull/3049).  @decd97 can you try removing the `apiVersion` and `kind` fields from your volumeClaimTemplate to see if that fixes the issue?

[2020-03-02 19:11] #2975 closed

[2020-03-02 20:22] jguipi commented on #1909
I made a script to format newly exported dashboard json file [here](https://github.com/jguipi/Grafana-dashboard-configmap-formatter/blob/master/README.md)

[2020-03-03 06:07] jamesla commented on #3055
Ok thanks @brancz working now that I have added the store. If the sidecar only writes does that mean that I can enable compacting on the sidecar and avoid deploying the compactor component?

[2020-03-03 06:58] brancz commented on #3055
No, compaction happens with the compactor component as that does it against blocks in object storage whereas prometheus (not the sidecar) would only do it against the data it knows about locally.

[2020-03-03 09:12] decd97 commented on #3056
@pgier There's no `apiVersion` or `kind` in our volumeClaimTemplate so this doesn't seem to be the same issue. Here is our VolumeClaimTemplate:
[code]

[2020-03-03 12:33] NajemAyadi commented on #3053
That was the problem, now it works. I just removed the release label and set the same labels in all the services and pods i needed. But i still don't understand how the labels works, could you please provide some clarification? What the difference between the labels under spec/selector and the labels under metadata is.

[2020-03-03 14:28] pgier commented on #3056
Ok, thanks for the clarification.  I think what's happening is that each time a rule is added, we're creating a configmap which is mounted as a new rule file, and then adding another `--rule-file` argument for that specific file.  Instead, we should be using a single `--rule-file` arg with a glob and then calling `reload` as you suggested.

[2020-03-03 16:18] Zenlil opened #3059 "Need TLS-config for Thanos"
**What is missing?**
Options to enable TLS-config in the Prometheus-CRD (i.e the --grpc-server-tls-* options) for the Thanos Sidecar

**Why do we need it?**
To allow multi-cluster prometheus with thanos-sidecar serve grpc to Thanos-Query in a different k8-cluster. GRPC won't work properly cross-cluster (using nginx-ingress as example) without TLS

**Environment**
2 k8-cluster
one with Thanos Store

[2020-03-04 05:41] #3055 closed

[2020-03-04 07:56] #2925 closed

[2020-03-04 07:58] brancz commented on #3059
I think this is reasonable to add. Would you like to do a PR to add this? :)

[2020-03-04 09:02] Yangstatus opened #3061 "Prometheus pod cannot find `prometheus.env.yaml` on start"
Please help me to check this error, thank you!

Below is the description of my pod

[root@k8s-master-1 alertmanager]# kubectl describe  pod prometheus-prometheus-operator-158278-prometheus-0
Name:         prometheus-prometheus-operator-158278-prometheus-0
Namespace:    default
Priority:     0
Node:         k8s-node-2/172.29.1.102
Start Time:   Mon, 02 Mar 2020 16:30:42 +0800
Labels:       app=prom

[2020-03-04 09:03] Yangstatus commented on #3061
I am just beginning to learn. Please give me your advice.

[2020-03-04 10:44] ouyangluwei commented on #2306
apiVersion: v1
kind: Endpoints
metadata:
  name: kube-controller-manager-prometheus-discovery
  namespace: kube-system
  labels:
    k8s-app: kube-controller-manager
subsets:
  -
    addresses:
      - ip: x.x.x.x
      - ip: x.x.x.x
      - ip: x.x.x.x
    ports:
      - name: http-metrics
        port: 10252
        protocol: TCP

---

apiVersion: v1
kind: Service
metadata:
  namespace: kube-sys

[2020-03-04 11:48] loxal opened #3062 "Number 1 Getting Started issue: Where & how can I actually view the dashboard"
Figuring out how to install Prometheus and installing: 1 min
Figuring out how to view the dashboard: after 10 min still no result

Maybe this would be a good point to include right on the frontpage of the documentation, i.e. the README?

[2020-03-04 14:11] mikonse commented on #3059
This feature would also be essential to have for the ThanosRuler-CRD as thanos only supports full tls encryption/authentication if one component of the thanos system is using it (e.g. sidecar-query).

[2020-03-04 14:54] #2399 closed

[2020-03-04 18:18] chadi3 opened #3063 "Bug on Time based Functions, PromQL"
**What happened?**
Cannot merge queries for time based functions

To Filter from 1:00 to 18:30, used the below query

`(vector(1) and ((hour() >= 01) and  ((hour() <= 18) and (minute() <= 30 )) )) or (vector(0))`

This gave result as,
![image](https://user-images.githubusercontent.com/30234760/75909044-4e86e480-5e71-11ea-9cd2-6a271f10fff1.png)

**Did you expect to see something different?**

The q

[2020-03-04 19:32] brancz commented on #3062
There are no dashboards with the prometheus operator. The prometheus operator is just a controller to deploy and manage prometheus servers. Perhaps you are looking for kube-prometheus: https://github.com/coreos/kube-prometheus?

[2020-03-04 19:33] brancz commented on #3063
This is unrelated to the Prometheus Operator, it's about usage of Prometheus/Alertmanager.

It makes more sense to ask questions like this on the [prometheus-users mailing list](https://groups.google.com/forum/#!forum/prometheus-users) rather than in a GitHub issue. On the mailing list, more people are available to potentially respond to your question, and the whole community can benefit from the

[2020-03-04 19:33] #3063 closed

[2020-03-05 09:30] loxal commented on #3062
@brancz Thanks a lot for this clarification! Still other people might have the same question. So a corresponding hint for those who are looking for a monitoring solution incl. a visual dashboard.

[2020-03-05 09:30] #3062 closed

[2020-03-05 14:33] jalev commented on #3056
I changed the statefulset code to use a hardcoded blob path, but the effect still continues, but is not present in the Prometheus object.

The only thing I can see which is different is that every time a PrometheusRule is created the ThanosRuler object's `generation` and `resourceversion` keys end up getting changed, whereas this is not the case in the Prometheus object.

[2020-03-05 14:39] brancz commented on #3053
The labels under metadata describe the ServiceMonitor itself and the one under spec selects `Service` objects.

[2020-03-05 15:43] jalev commented on #3056
Oh, it's actually simpler; in the Prometheus Operator code there is an explicit check to see if the Statefulset being generated matches the Statefulset that already exists. If true, do nothing.

https://github.com/coreos/prometheus-operator/blob/master/pkg/prometheus/operator.go#L1168-L1171

![image](https://user-images.githubusercontent.com/1196058/75997881-e7604300-5ef7-11ea-8090-9b99bf7d8417.pn

[2020-03-05 16:39] NajemAyadi commented on #3053
Thank you for the clarfication, ticket is closed

[2020-03-05 16:39] #3053 closed

[2020-03-06 15:55] #3056 closed

[2020-03-06 17:46] mikepuglisi commented on #2858
Same issue. I followed instructions for adding an additional scrape config and I see the following errors in my logs

Documentation: https://github.com/coreos/prometheus-operator/blob/master/Documentation/additional-scrape-config.md

[code]

[2020-03-07 13:34] Zenlil commented on #3059
My attempt at solving this is actually on Thanos itself with a small change: https://github.com/thanos-io/thanos/pull/2227

[2020-03-09 06:21] jamesla opened #3070 "ThanosRuler pod won't attempt to start"
I'm trying to deploy a thanosruler into my stack following the examples and documentation in this repository.

When deploying the admission controller fires up and disappears however the thanos ruler pod never even attempts to start and I cannot find an error message to actually troubleshoot this.

[code]

I simplified this down to make a nice example for this github so to try and bait an error me

[2020-03-09 07:45] lilic commented on #3070
Can you provide kubectl get pods and kubectl logs of the pod. Also the events in that namespace should be useful to look at.

[2020-03-09 08:50] lilic commented on #3059
I pinged Bartek on the PR, if it doesn’t get accepted then let’s implement it in the CRD.

[2020-03-09 08:54] lilic commented on #3022
@omerlh you are also welcome to remove this by doing a PR! 😊

[2020-03-09 14:19] whut opened #3071 "PodMonitor PodMetricsEndpoint port and targetPort do the same thing"
Follow up from PR #3064

Looks like port and targetPort from PodMonitor does the same thing: https://github.com/coreos/prometheus-operator/blob/v0.37.0/pkg/prometheus/promcfg.go#L475-L482 (except port does not support a number). This makes sense as PodMonitor is all about pods, so no service port, like in ServiceMonitor. I believe one of the two should be deprecated, IMO targetPort is term from Se

[2020-03-09 19:59] raonelakurti opened #3072 "Prometheus-operator(version 0.36.0) status is showing "CrashLoopBackOff""
I've tried installing prometheus component by using helm:

**Command:**
helm install --name prom-ns1 stable/prometheus-operator --set grafana.enabled=false,alertmanager.enabled=false,nodeExporter.enabled=false,prometheusOperator.enabled=false,kubeStateMetrics.enabled=false --namespace ns1

**Prometheus pod logs**:
ometheus-0 (none))"
level=info ts=2020-03-09T19:56:16.211Z caller=main.go:333 fd_lim

[2020-03-09 21:49] jamesla commented on #3070
1. Sure here are the pods running in the cluster (note no thanos-ruler).

[code]

2. I can't give you the pod logs since the pod doesn't even attempt to start

3. Here are the kube events:
[code]

[2020-03-09 22:10] yeya24 commented on #3070
@jamesla  Hi, Thanos Ruler CRD is added in Prometheus operator v0.36.0 release. From the events, seems you are using Prometheus operator v0.35.0? Could you please upgrade the operator and try again?

[2020-03-09 22:26] jamesla commented on #3070
Oops that was it. Thanks @yeya24 !

[2020-03-09 22:26] #3070 closed

[2020-03-10 10:17] paulfantom opened #3073 "Clarify usage of VolumeMounts"
Currently we have 2 methods of appending volumes to prometheus and alertmanager CRs:
- "hacky" strategic merge patch
- VolumeMounts CRD field

Can we refactor to promote only one method instead of both?

/cc @brancz @lilic

[2020-03-10 10:43] MaxDaDalton opened #3074 "Node Exporter Crash Back Off Loop - Issue installing Prometheus Operator on Kubernetes Minikube with Helm3"
**Problem**
Hi, I hope I'm writing this in the correct place. I'm having an issue getting the Prometheus Operator to run and install on Minikube using Helm3. I previously posted on Stack Overflow and was given a solution which seemed to solve part of my issue, however there is now an issue with the Prometheus Node exporter, which goes straight into the CrashBackOffLoop state.

**Environment**
I'm

[2020-03-10 11:48] bwplotka commented on #3059
I Will comment on the PR, TL;DR I think we can consider it in Thanos, however still config for `mTLS` would really nice to have in prometheus operator anyway!

Hopefully, this is will be fixed soon: https://github.com/thanos-io/thanos/pull/2226 Wonder if that affects the format of the TLS config.

[2020-03-10 11:58] lilic commented on #3059
I mean that will be merged in the future release, so for now I would suggest we add support for the TLS config fields into the CRD natively, but something to consider!

Plan to start working on this soon, but if you want @mikonse or @Zenlil to add this support to prom-operator instead, you are welcome to.

[2020-03-10 14:08] MaxDaDalton commented on #3074
This issue turned out to be caused by the fact that Minikube was being run with --vm-driver=none. To solve the issue, Minikube was rebuilt using --vm-driver=kvm2 with --memory=6g. This then allowed the installation of stable/prometheus-operator and all pods ran without crashing.

[2020-03-10 14:08] #3074 closed

[2020-03-11 05:55] zgfh opened #3076 "can not set APIVersion for prometheus.alerting.alertmanagers"
**What happened?**
i can not set APIVersion for use alertmanaget v2 api
https://prometheus.io/docs/prometheus/latest/configuration/configuration/#alertmanager_config
![image](https://user-images.githubusercontent.com/11729624/76386589-d1db9500-639f-11ea-858b-91d8e9063c30.png)

**Did you expect to see something different?**
add prometheus.alerting.alertmanagers.APIVersion
**How to reproduce it (as

[2020-03-11 05:59] #3076 closed

[2020-03-11 08:39] w564791 commented on #298
v0.33.0  cannot get the jobLabel to translate over to a Prometheus target name too

[2020-03-11 11:16] #3059 closed

[2020-03-11 17:50] bgagnon opened #3077 "Extend Thanos sidecar container args without replacing them"
**What is missing?**
The ability to add extra args to containers (eg. PrometheusSpec.spec.containers) without having to replace the `args` array completely.

**Why do we need it?**
We wanted to enable JSON logging format to Thanos (`--log.format=json`), but the only way to do this is to replace the entire `args` array. At that point, the value added by the operator is significantly reduced.

**Any

[2020-03-12 02:37] pgier commented on #3071
I agree the name `port` makes more sense than `targetPort` for PodMonitor. Created #3078 to deprecate `targetPort` since it seems redundant.  The only concern I have is that `targetPort` is slightly different in that it allows an integer type instead of just string which allows filtering pods based on `__meta_kubernetes_pod_container_port_number`.  If this is a feature people are using, I guess we

[2020-03-12 03:02] pgier commented on #3077
We discussed this a bit in #3069 and the conclusion was that we didn't want to support additional args.  But if there is demand for this, maybe it's worth taking another look.  @brancz WDYT?

[2020-03-12 03:17] Sallyan commented on #256
Hi @iroller
I am trying to monitor kubernetes services using blackbox-exporter. But didn't make it to work.
i have been blocked for week, it would be great if you can give some help.
Below are my settings:
**blackbox config:**
[code]
**Prometheus additional-scrape-configs**
[code]
**Error In Prometheus Targets**
```Get http://monitoring-blackbox-exporter.kyma-system.svc.cluster.local:9115/probe?mo

[2020-03-12 10:47] leoncard opened #3079 "Prometheus is not creating blocks"
**What did you do?**

I am trying to configure prometheus with thanos and glusterfs persistent storage. I am facing a problem where prometheus is not creating blocks. It creates wal files, the files are stored on the persistent storage just fine, but it doesn't create blocks. I can see a temporary folder like `01E36YQWC3NWACRRNTN82S8ZEF.tmp` but it doesn't progress from there. Without blocks, than

[2020-03-12 19:36] yzhao1012 commented on #1826
Please consider make the deprecation notice more prominent.

Changing to red color might be a good idea.

Or the entire text should be hidden behind a zippy button, stating something like:
"This is deprecated, to read, click this button"
Which then shows the text after clicking the button.

[2020-03-13 12:39] #3071 closed

[2020-03-13 14:00] jalev opened #3081 "Thanos Ruler Statefulset does not update"
**What happened?**

With #3065 we fixed the Thanos Ruler Operator so it wouldn't constantly generate new StatefulSets and keep recreating the pods. The issue now is when you go from N number of PrometheusRules objects to 0, the StateFulset does not get updated to remove the volume mounts. We also see the StatefulSet not being updated when the ThanosRuler object is updated.

**Did you expect to see

[2020-03-13 17:29] pgier commented on #3079
I don't think this is a bug in prometheus-operator, since the prometheus pods appear to be deploying correctly.  You can try setting the `log.level` to debug to see if that provides any useful info about why it's not writing the blocks.  Other than that, you might want to try one of the prometheus support channels such as the users list or irc.
https://prometheus.io/community/

[2020-03-13 17:32] pgier commented on #3073
I think the container merge patch should always be the last option when nothing else works in terms of config.  Would be nice if this was clearer in the docs.

[2020-03-13 18:37] eli-jordan opened #3082 "Question: How to remove all labels that are injected by the prom operator"
What configuration do I need to define to avoid having the operator / prometheus inject additional metrics to scraped metrics. e.g. I'd like to prevent the `pod=<pod-id>` label from being added.

[2020-03-13 21:05] zetaab commented on #1890
I am also looking this possibility

[2020-03-13 21:15] pgier commented on #3081
Thanks for catching this!  Looks like this is caused by the old hash being copied over the new one before comparison and the operator always thinking that the statefulset has not changed.  I've submitted #3083 to fix this.

[2020-03-14 10:32] mohjam2004 commented on #2397
@benjaminhuo
Dear benjamin
Can you explain more about the process which you take?
I have the same problem
regards

[2020-03-14 13:27] benjaminhuo commented on #2397
@mohjam2004 , here is the etcd monitoring steps

1. Modify kustomize.jsonnet to include kube-prometheus-static-etcd.libsonnet,
2.  Checkin the modification to local git, copy the commit id and copy it to the kube-prometheus
 version part of jsonnetfile.lock.json
3. make generate-in-docker, you’ll see the etcd files generated
4. Change the endpointsEtcd to your etcd endpoint

[2020-03-15 11:21] dormunis commented on #2969
Any progress with this? Anyone figure out a quick solution until this is resolved?

[2020-03-15 13:47] mizhkeao commented on #2948
I'm running into the same issue. @agusl88 were you able to solve this issue?

[2020-03-16 01:19] mapleleafs89 opened #3085 "serviceMonitorNamespaceSelector not working"
I'm using the prometheus operator inside OpenShift (v0.32). I have a PrometheusRule setup in another namespace, and I've got ServiceMonitors (e.g. kube-state-metrics) in other namespaces as well. I've read about all the selectors below, and how an empty brace is treated as "select all", which is what I am after. I've also tried using a label selector for the specific namespace but it did not make

[2020-03-16 05:12] vaishali-prophecy opened #3086 "Prometheus not able to scrape metrics from different namespaces"
I have serviceMonitorSelector and serviceMonitorNamespaceSelector configured in values.yml for prometheus like below -

[code]
Namespace where servicemonitor is running has been labelled as-

[code]
Still, in service discovery, the service monitor running in this namespace are not listed and hence metrics are not scraped.

[2020-03-16 09:06] lilic commented on #3086
How did you configure the `--deny-namespaces ` or/and `--namespaces` args of prometheus-operator?

[2020-03-16 09:09] lilic commented on #3085
Helllo. This is most likely a question user support of openshift. :) But can maybe help you out.

How did you deploy that prometheus-operator?

[2020-03-16 10:46] vaishali-prophecy commented on #3086
I had set it up as -
[code]

[2020-03-16 14:54] mapleleafs89 commented on #3085
Thanks for your reply! No worries, I can head there if needed :) I used the Redhat Operator Hub, I thought maybe because in the description is shows this git repo as source it might not be OpenShift specific.

[2020-03-16 16:39] #3081 closed

[2020-03-16 17:09] gsexton commented on #1897
@brancz Is there any update on this? Also, can you share any work-arounds?

I'm confused because the reclaim policy is set to delete, but that's not happening. You stated that this expected behavior. Can you explain what's interfering with this?

[2020-03-17 07:05] brancz commented on #1897
The reclaim policy refers to what happens to the PV when the PVC is deleted. We can't make a decision for you whether the data stored on the PVC can be deleted or not, just like the statefulset (in fact this is just functionality from the statefulset). You need to make that decision and delete them if you don't need them anymore.

[2020-03-17 08:27] brancz commented on #2969
Presumably everyone here is talking about [kube-prometheus](https://github.com/coreos/kube-prometheus), as we're getting a lot of traffic about kube-prometheus issues on the prometheus-operator repository I'm going to close this here as it's causing confusion about the separation of the two projects.

Please open a new issue in the other repository with the full details of which kubernetes version

[2020-03-17 08:27] #2969 closed

[2020-03-17 08:29] lilic commented on #3085
Couple of things openshift it already comes installed with prom-operator and kube-state-metrics so depending which namespace you are installing things in it might be breaking because of that. What version of openshift are you using?

[2020-03-17 08:46] brancz commented on #1890
Note

If Prometheus supported this, then there would be a possibility here, but it doesn't :)

[2020-03-17 08:52] brancz commented on #3073
As @pgier said, this is already only the last resort and explicitly not a supported thing, just an escape hatch. VolumeMounts are the only supported feature here so I don't see a conflict. That said if we feel the docs aren't sufficient I also think they should be clearer. I do believe we say this explicitly in the containers strategic merge patch.

[2020-03-17 09:22] brancz commented on #3077
If there are specific features then we should implement those specifically. Otherwise we can't have upgrade guarantees from one thanos version to the other.

[2020-03-17 11:32] allen13 opened #3087 "Admission controller - absent_over_time parses as a failure"
**What happened?**

When creating a PrometheusRule with an `absent_over_time` function it gets rejected by the admission controller as bad. This function was released in v2.16.0. Updating the prometheus dependency will get the latest version of rulefmt which will resolve this issue. https://github.com/coreos/prometheus-operator/blob/master/go.mod#L39

Prometheus Operator version:
v0.37.0

[2020-03-17 13:05] brancz commented on #3087
Would you like to take care of bumping the dependency? :)

[2020-03-17 13:07] brancz commented on #3082
You need to define a relabeling rule with the `action: droplabel` matching the labels you want to drop.

[2020-03-17 13:08] #2945 closed

[2020-03-17 13:09] brancz commented on #3072
Which of the 3 containers is actually crashlooping?

[2020-03-17 13:24] jbfavre opened #3088 "podMetadata for prometheus & alertmanager still broken for first install"
**What happened?**
First prometheus-operator deployment with v0.37.0
podMetadata present in Helm Release, not in custom resources alertmanager & prometheuses.

Other (older) deployments were upgraded without issue.

**Did you expect to see something different?**
I expected to see pod annotations propagated to PODs and present in custom resources

**How to reproduce it (as minimally and precisely a

[2020-03-17 13:43] brancz commented on #3088
cc @pgier

[2020-03-17 14:18] jbfavre commented on #3088
Deleting Prometheuses custom resource and recreating it also fixed the issue for prometheus

[2020-03-17 14:59] jbfavre commented on #3088
Might happen because of Helm Chart providing "old" CRDs.
PR to fix it: https://github.com/helm/charts/pull/21499

[2020-03-18 08:57] brancz commented on #2889
Looks like there's not much we can do here right now. If we have another occurrence of this or a way to reproduce then please feel free to open a new issue! :)

[2020-03-18 08:57] #2889 closed

[2020-03-18 09:37] brancz commented on #3088
That would make sense :) looks like we can close this here?

[2020-03-18 10:54] jbfavre commented on #3088
Not sure I fully understand why 0.36.0 CRDs could lead to that kind of issue.
But, yes, if you think it's clearly linked, I agree we can close this

[2020-03-18 12:31] #3088 closed

[2020-03-18 21:39] raonelakurti commented on #3072
It's crashing prometheus pod. When I've checked the events on the corresponding namespace, I've seen "OOMKILLED" status and after that CrashLoopBackoff. So I've tried passing CPU and Memory limits.
Command:
helm install --name prometheus-ns1 stable/prometheus-operator --set resources.limits.cpu=1,resources.limits.memory=1Gi,resources.requests.cpu=0.5,resources.requests.memory=512Mi,grafana.enabled

[2020-03-19 03:04] ksiadz commented on #2552
Same error. My suspicion as I have other alert manager being installed stand alone from Prometheus operator in the same cluster is probes configuration. My other alert manager has much bigger initialDelaySeconds, periodSeconds and timeoutSeconds. Could we add probes delays configuration in CRD?

[2020-03-19 08:03] paulfantom opened #3089 "Drop baseImage configuration options"
**What happened?**
Started prometheus-operator and it spammed logs with:
[code]

**Did you expect to see something different?**
No warning messages

**How to reproduce it (as minimally and precisely as possible)**:

**Environment**
OpenShift 4.4

* Manifests:
https://github.com/openshift/cluster-monitoring-operator/tree/master/assets

* Prometheus Operator Logs:

[code]

**Anything else we need to

[2020-03-19 08:28] carlpett opened #3090 "Alertmanager missing config"
**What happened?**
After deploying an `Alertmanager` manifest, the pods do not start, staying in `ContainerCreating` forever. The following events are logged:
[code]

Note `list of unmounted volumes=[config-volume]`. In the statefulset, this corresponds to
[code]

**Did you expect to see something different?**
Yes, the necessary secrets should exist

**How to reproduce it (as minimally and precise

[2020-03-19 08:52] brancz commented on #3089
Removing fields are a breaking API change we can’t do that. What we can do is stop using them.

[2020-03-19 08:56] brancz commented on #3072
Sounds like you need to give prometheus more memory :)

[2020-03-19 09:03] lilic commented on #3089
I disagree, we are not 1.x, we can break the API :) These are the things we should be cleaning up before going GA.

[2020-03-19 09:05] lilic commented on #3090
Can you enable debug mode for Prometheus Operator.

[2020-03-19 12:22] carlpett commented on #3090
Ok, done. What am I looking for? I tried deleting the alertmanager object and recreating it, but nothing sticks out in the log.
Here's the output from the alertmanageroperator component:
[code]

[2020-03-19 13:09] brancz commented on #3089
The API is v1, the code handling it is not.

[2020-03-19 13:29] brancz commented on #3090
It's the user's responsibility to create the secret as the alerting user guide mentions: https://github.com/coreos/prometheus-operator/blob/master/Documentation/user-guides/alerting.md.

[2020-03-19 13:37] lilic commented on #3089
Confused why the API is v1 anywyas if code handlings is not. 🤷‍♀

Agreed, then lets add this to v2 API and go to v2 when we go GA, does that make sense?

[2020-03-19 13:40] brancz commented on #3089
I think they're disconnected things, but makes sense.

[2020-03-19 13:41] carlpett commented on #3090
Hah, that explains it. Thanks @brancz! Sorry for lack of reading.

[2020-03-19 13:41] #3090 closed

[2020-03-20 01:38] bgagnon commented on #3077
@brancz I agree, let's focus on specifics

How about we replicate the `logLevel` and `logFormat` fields already supported in `PrometheusSpec`,  `AlertmanagerSpec`, `ThanosRulerSpec`, etc.?

Basically, add this to ThanosSpec:

|name|description|
|-|-|
|`logLevel`| Log level for Thanos sidecar to be configured with|
|`logFormat`| Log format for Thanos sidecar to be configured with|

Which in turn in

[2020-03-20 03:48] RubyLangdon commented on #2865
I've got the same problem and setting the name does not seem to be working.
This is in my values file:
[code]
And this is what I get in the prometheus resource:
[code]
The metadata is not getting set so the default hugely long name is being used.

[2020-03-20 04:32] laoshufeifei commented on #2558
prometheus-pv.yaml:
grafana:
  ...
  persistence:
    enabled: true
    storageClassName: grafana-rwo
    size: 10Gi
    accessModes:
      - ReadWriteOnce

[2020-03-20 05:05] laoshufeifei commented on #2558
first create your pv for grafana, such as name is grafana-rwo,
than  modify prometheus-operator.yaml like this:
[code]

[2020-03-20 06:22] brancz commented on #3077
That works for me.

[2020-03-20 11:54] kgamanji commented on #2916
+1
Thank you for raising this issue.

Documentation around admission hook would be immensely helpful, especially that  it's a extremely useful feature.

[2020-03-20 18:16] carlosrmendes commented on #2847
@brancz I think is an issue. This causes an error on a fresh pod start that triggers a pod restart. The cause of pod restart is always an issue. If I have an alert for pod restarts and scale the prometheus replicas to more than 1 that alert will be triggered.

[2020-03-20 18:57] raonelakurti commented on #3072
I've already assigned 1Gb memory and we are not what's causing the issue

[2020-03-22 11:23] Neraud opened #3093 "Prometheus PVC metadata ignored"
**What happened?**

I have metadata (name and labels) set on on Prometheus PVC.
Once applied, the metadata property is empty

**Did you expect to see something different?**

I expect the metadata to be filled.

**How to reproduce it (as minimally and precisely as possible)**:

It worked with v0.34.0 :

[code]

And starting with v0.35.0 the metadata field is empty :

[code]

(same result with v0.38

[2020-03-22 11:24] Neraud commented on #2865
@RubyLangdon I've had the same problem and I've opened a dedicated issue : #3093

[2020-03-22 22:41] Namphibian opened #3094 "WAL Recovery Restart Loop (AKS)"
**Describe the bug**
When Prometheus crashes for any reason it is unable to come back up again. I logged this with the Helm chart guys and after 10 days no responses. Maybe someone here can shed some light on how to handle this.

**Version of Helm and Kubernetes**:

- Kubernetes: v1.15.7
- Helm: version.BuildInfo{Version:"v3.1.1", GitCommit:"afe70585407b420d0097d07b21c47dc511525ac8", GitTreeState:

[2020-03-23 06:28] brancz commented on #2847
Alerts for single restarts are an anti pattern. I agree it’s a cosmetic fault but not a functional one. If you would like to fix it, I’d be happy to review a PR :)

[2020-03-23 06:32] brancz commented on #3072
Depending on how many time series you are collecting, 1gb might be very little. I recommend increasing it further and then understand how many time series are being ingested and how many sample. That will decide how much memory will be required to run prometheus.

[2020-03-23 07:10] lilic commented on #3094
I haven't seen this issue before in our setups, but looks more like AKS or prometheus issue itself, as the operator seems to be working just fine, so does not look like a bug with the prometheus-operator itself.

[2020-03-23 08:58] brancz commented on #3094
It seems to me that the liveness probe is too low for your setup. I think I'd be ok with increasing it generally, or for that matter remove the liveness probe entirely? https://github.com/coreos/prometheus-operator/blob/378d36df448366414de53a66a64020cd053002b7/pkg/prometheus/statefulset.go#L641-L643

I feel that it's doing more harm than good here.

[2020-03-23 14:25] insider89 commented on #3036
Have same issue. Any workarounds?

[2020-03-23 14:33] paulfantom commented on #2677
This is fixed in kube-prometheus.

[2020-03-23 14:33] #2677 closed

[2020-03-23 23:09] Namphibian commented on #3094
@lilic  I suspect it is an AKS issue too. WIll look at making the retention period shorter and also following @brancz  advise about increasing/removing the liveness probe. Will try these and then close the issue either way. We are also looking at Istio but I am concerned that this issue is with AKS and we face it going forward.

[2020-03-24 02:02] SaraBenShabbat commented on #2229
How do I install Helm v1.12.1 ?
How can I specified the version to install ?

[2020-03-24 09:03] metalmatze commented on #3036
I'm working on replacing the current SLO implementation entirely with a more custom and better suited one for the apiserver.

See #382

[2020-03-24 09:25] brancz commented on #3093
cc @pgier

[2020-03-24 09:55] paulfantom opened #3095 "Introduce a flag to set metrics exposition endpoint"
**What is missing?**
There is no way to configure address on which prometheus-operator is exposing metrics.

**Why do we need it?**
In setup with a proxy in front of /metrics endpoint we would want to have prometheus-operator listen only on localhost

**Environment**

* Prometheus Operator version: 0.38.0

**Anything else we need to know?**:

[2020-03-24 19:00] alexey-medvedchikov commented on #2957
@brancz probably separate option to specify config path is also valuable, because it's almost impossible to cover all the use cases.

In our case we render configuration for Alertmanager using vault-agent, because we use Vault to store secrets like API keys, etc. With simple option to tell Alertmanager which file to use as config our life would be so much easier.

Is there a possibility that if I

[2020-03-24 23:29] raonelakurti commented on #3072
I've extended memory to 2gb even after that it's crashing. So we have decided to create one more replica and wanted to see the behavior.
helm install --name prometheus-test stable/prometheus-operator --set resources.limits.cpu=1,resources.limits.memory=2Gi,resources.requests.cpu=0.5,resources.requests.memory=1Gi,grafana.enabled=false,prometheus.prometheusSpec.replicas=2,alertmanager.enabled=false,

[2020-03-25 06:29] brancz commented on #3072
Increasing replicas does not distribute load with Prometheus. You would be increasing availability as you would get more replicas with the same data, but you won’t need less memory.

[2020-03-25 08:42] jbfavre commented on #2357
Hello,
Just ran into this exact issue.
I had to manually edit each prometheus PVC to adjust size. Resizing was fully transparent.
I then updated prometheus-oprator Helm Release.
The operator killed *all* Prometheus at once, instead of the usual rollout.

I also catches this message in operator logs:
```level=info ts=2020-03-25T08:39:25.321349082Z caller=operator.go:1180 component=prometheusoperato

[2020-03-25 09:34] ulikl opened #3096 "PrometheusNotIngestingSamples: not firing, when tsbd cannot store metrics"
**What happened?**

When the Storage for the TSBD files is not writeable, e.g. due to access problems or device full, the Prometheus continues working, but it cannot store metrics in the TSDB.

The Alert "PrometheusNotIngestingSamples" is not firing.
I can only see the TSDB write problems in the Prometheus logs files and via false alerts for other cluster component, which use absent expressions. E

[2020-03-25 10:24] ulikl commented on #3094
@Namphibian : The high number of wal segments to replay looks suspicious to me:
eg. starting with "segment=62 maxSegment=242" => 180 to replay.

Have a look at "Prometheus not cleaning up WAL files"(
https://github.com/prometheus/prometheus/issues/6408)

[2020-03-25 12:35] vfiset commented on #2148
/remove-lifecycle stale

Anyone got a workaround for this ?

[2020-03-25 13:06] waldo2188 commented on #1884
Thanks @ jasvinder-tp !

Now, how can we automate the generation of the grafana deployment with the parameters you give?

Is there a way to add this to the kube-prometheus settings?

[2020-03-25 16:06] slnowak commented on #1719
@markusdresch did you manage to fix it? I think we're getting the same issue - however it happens on Amazon EKS instead of Azure.

[2020-03-25 17:46] mnaser opened #3097 "Moving APIs to separate package"
**What did you do?**
I've attempted to use the Prometheus Golang types inside another operator and due to the fact that means I have to import all of `coreos/prometheus-operator` -- It results in some conflicts with my own dependencies.

It would be nice if the project could look into moving it's types out to a seperate repo so users that interact with the Golang Kubernetes APIs can reference them

[2020-03-26 14:29] brancz commented on #2148
@vfiset what is the actual error you are seeing in the Prometheus targets page for the node-exporter instances in question?

[2020-03-26 14:58] jeffplesko opened #3100 "Prom Operator node exporter on picking up k8s worker nodes"
I am having a problem with the nodeExporter picking up all 6 of my nodes, we have 3 master nodes which manager the control plane and etcd and 3 worker nodes which take alll the deployed pods.  Currently only the 3 worker nodes appear.  Checking the /target list and it only has the 3 worker nodes, no masters, no errors for the master nodes.

Prometheus Operator v6.7.3
Rancher Version: v2.2.8

[code

[2020-03-26 15:04] vfiset commented on #2148
@brancz this alert is triggering each time a node is repalced:
[code]

The same happens on GKE when using regular nodes and a gcp maintenance occurs and one or many nodes are replaced.

Not quite sure what should I do. I guess everyone on public cloud should be facing this problem so I guess I have the wrong approach ...

[2020-03-26 15:56] lilic commented on #3100
What do you mean by subchart? This repo is only for prometheus-operator and we don't provide node-exporter. Do you have a problem with the ServiceMonitor itself?

[2020-03-26 16:04] jeffplesko commented on #3100
That is the ## comments expanding to header text...it ws just a comment from the prometheus-operater values.yaml

[2020-03-27 09:10] markusdresch commented on #1719
@slnowak unfortunately not. also didn't get any response on the grafana forums. switched to azure omsagent in the meantime.

[2020-03-27 10:10] slnowak commented on #1719
Turned out in our case it was too restrictive AWS WAF rules - it considers prometheus query as an sql injection attempt.

[2020-03-27 10:26] brancz commented on #3100
1) we don't use nor maintain the charts, we have no idea about its setup, it's entirely community maintained
2) do you actually see all nodes in `kubectl get nodes`? We can only discover what Kubernetes knows about.

[2020-03-27 10:27] #3095 closed

[2020-03-27 10:43] markusdresch commented on #1719
oh that sounds reasonable. had an application gateway with OWASP firewall in front as well, so this might have been the issue.

[2020-03-27 10:43] #1719 closed

[2020-03-27 11:05] brancz commented on #3096
Can you open this as an issue on the upstream Prometheus repo? This alerting rule is defined there and just included here through a dependency. This does look like a bug to me (either in the metric itself or the alerting rule), I agree, that an alert should have fired if we indeed are not actually adding any samples.

[2020-03-27 11:50] jeffplesko commented on #3100
Thanks for your response.  I am somewhat new to prometheus/grafana and prometheus-operator so I appreciate any help or direction where to get help...

Yes, I can see all 6 nodes from a kubectl get nodes:

NAME         STATUS   ROLES               AGE   VERSION
10.8.1.10    Ready    controlplane,etcd   44d   v1.14.6
10.8.1.138   Ready    controlplane,etcd   44d   v1.14.6
10.8.1.148   Ready    worke

[2020-03-27 12:37] ulikl commented on #3096
ok.
I opened https://github.com/prometheus/prometheus/issues/7064
I you update the dependency regularly, this issues can be closed.

[2020-03-27 15:02] brancz commented on #3100
There should be an endpoints object named `kubelet` in the `kube-system` namespace, do you see all 6 nodes there or only 3?

[2020-03-27 16:21] satishrao84 opened #3102 "Error building"
**to build the Operator, I ran make**

Getting below error:

/Users/sanupin/go-workspace/bin/client-gen \
	--go-header-file /Users/sanupin/go-workspace/src/github.com/coreos/prometheus-operator/.header --v=1 --logtostderr \
	--input-base     "" \
	--clientset-name "versioned" \
	--input	         "github.com/coreos/prometheus-operator/pkg/apis/monitoring/v1" \
	--output-package "github.com/coreos/p

[2020-03-27 20:15] pgier commented on #3102
When you cloned the git repo, did you use `go get` or `git clone`?  If you use `go get` it should create the proper directory structure for you.
`go get github.com/coreos/prometheus-operator`

[2020-03-27 20:54] pgier commented on #3093
I believe this is similar to #3041 and is due to the CRD generation tool ignoring fields of `metav1.ObjectMeta` (https://github.com/kubernetes-sigs/controller-tools/issues/385).  This one is a little bit more difficult to fix than #3041 because the ObjectMeta is embedded within the `PersistentVolumeClaim` type, so a similar fix would require redefining that type.  Unfortunately, we also don't have

[2020-03-27 22:47] joejulian commented on #3093
I think the answer is to add kubebuilder:validation:EmbeddedResource to the volumeClaimTemplate in types.go which will add x-kubernetes-embedded-resource to the crd. Existing resources will be fine, but new resources would then require the ApiVersion and Kind:
[code]

[2020-03-28 01:57] jeffplesko commented on #3100
Yes I see all 6 in kubelet:

Endpoint | State | Labels | Last Scrape | Scrape Duration | Error
-- | -- | -- | -- | -- | --
https://10.8.16.10:10250/metrics | UP | endpoint="https-metrics" instance="10.8.16.10:10250" job="kubelet" namespace="kube-system" node="10.8.16.10" service="monitoring-prometheus-oper-kubelet" | 29.696s ago | 13.85ms |  
https://10.8.16.138:10250/metrics | UP | endpoint="http

[2020-03-28 17:29] etcshad0vv opened #3104 "Provide arguments docs in the project. These should be generated from the code and should reflect operator --help output."
Hello,

I am looking for documentation of arguments i can pass to prometheus-operator. Is this somewhere available?

Thank you

[2020-03-29 22:49] Namphibian commented on #3094
@lilic, @brancz so I found that one of our developers was stress testing or development cluster. This caused the scraped data to explode in size. Initially I specified 50GB just to test with and due to the amount of data this stress testing was generating it filled up the disk. The funny thing about AKS is that you cannot see a disk space usage easily.  We have been stable for a week now after I i

[2020-03-29 22:49] #3094 closed

[2020-03-30 07:59] lilic commented on #3104
Yes, if you compile the binary you can do `operator --help` that should give you the list of them.

[2020-03-30 12:51] robbieheywood commented on #2840
I also ran into this today! Thanks for providing the workaround (and would obviously be awesome to get a full fix, but afraid I don't have time to contribute that atm :( )

[2020-03-30 15:12] stanlyDoge opened #3106 "Scrapping metrics from the pod without service"
Hi,

I am using Vert.x Prometheus metrics to monitor my application running as a container in kubernetes. It does expose the metrics at the port `x`. So I am able to retrieve the metrics at `pod.ip:x/metrics`.
Is it possible to scrape the metrics using `ServiceMonitor` without creating a `Service` resource?

[2020-03-30 15:26] yeya24 commented on #3106
Hey, you can check out the `PodMonitor` cr, which enables you to scrape the pod metrics directly.

[2020-03-31 08:18] stanlyDoge commented on #3106
Thank you! :)

[2020-03-31 08:18] #3106 closed

[2020-03-31 12:16] jeffplesko commented on #3100
Any further ideas?  It appears like everything is seeing the nodes, yet its not reporting all of them.

[2020-03-31 12:32] brancz commented on #3100
I'm confused, the last snippet in the comment suggests that all 6 nodes are discovered and marked as `UP`.

[2020-03-31 12:58] pietervincken commented on #966
We're still experiencing the same issue with the latest version of the operator (0.38.0). We're deploying the operator on Azure AKS with Azure managed disks backing the persistent volumes. Is there any progress except for the initContainer workaround?

[2020-03-31 15:12] jeffplesko commented on #3100
You would think, but that is only in kubelet.  If you look at the nodes themselves, only 3 of the 6 show.  So whats the issue?

[2020-03-31 16:57] etcshad0vv commented on #3104
I guess that means the arguments are not documented, right?

[2020-04-01 05:52] alex-vmw opened #3110 "Prometheus and Alertmanager StatefulSets are not created correctly when spec.image is used versus spec.baseImage"
As per #2914, `spec.baseImage` has been deprecated in favor of `spec.image`. However, when `spec.image` is used Prometheus StatefulSet is not created correctly.

When Prometheus and Alertmanager are defined with `spec.baseImage`
[code]
Prometheus and Alertmanager StatefulSets get correctly created with:
[code]

When Prometheus and Alertmanager are defined with `spec.image`:
[code]
Prometheus and A

[2020-04-01 08:42] lilic commented on #3110
What version of prometheus-operator did you see this in?

Those docs as it states in the header of the webpage are migrated to this github repo and red hat docs.

[2020-04-01 08:57] lilic commented on #3104
Yes they are only available when you run the binary, so agreed we could have docs for them generated based on that.

Do you mind editing the description of this issue to say something like "Provide arguments docs in the project. These should be generated from the code and should reflect operator --help output." or if you want to open a new issue. Thanks!

[2020-04-01 10:14] brancz commented on #3100
I see now. Do you maybe have taints on your nodes that node-exporter might not be tolerating or a node selector that is not satisfied by the nodes?

[2020-04-01 18:34] alex-vmw commented on #3110
@lilic I am using the latest prometheus-operator v0.38.0, but I tested all the way down to v0.35.0 and issue was there as well.

[2020-04-01 21:12] pgier commented on #3110
In the latest github docs, these fields aren't documented as being deprecated, but they should be.  I missed that in #2914 .
https://github.com/coreos/prometheus-operator/blob/master/Documentation/api.md

I created #3103 which updates the deprecation notices and hopefully fixes the behaviour inconsistency.

[2020-04-02 04:36] nitin-ag opened #3111 "Apply Prometheusrule from custom rules file and reload it upon modifications to custom alert rules file"

[2020-04-02 04:42] nitin-ag commented on #3111
Hello,
We are attempting prometheus and Alertmanager install using prometheus operator. Our design approach is
1. To extract all metric based alert rules in one yaml file from our application.
2. Use the yaml file above and convert those rules into prometheusrules and apply them to prometheus.
3. If custom rules file from our application sees some modifications ( add or remove of alerts) then shou

[2020-04-02 14:40] jeffplesko commented on #3100
I am not seeing anything that should be blocking this.  Its all pretty generic.

[2020-04-02 16:36] pgier commented on #3111
Prometheus operator should be fine for you use case as described.  As you create/update PrometheusRule objects containing your alerting and recording rules, prometheus operator will pick up these changes and apply them to matching Prometheus instances.

[2020-04-02 16:53] nitin-ag commented on #3111
Thank you for your response.
But what is unclear to me is
1. Is there a way to create Prometheusrules object from our application alerts yaml File ? What should be the format of the yaml file we produce etc ?
2. Once #1 is done and lets say our application updates the source alert file ? How to update the prometheus rules object deployed into prometheus container.

Sorry If I m asking some dumb qu

[2020-04-02 17:35] Shobhit29 opened #3113 "stable/prometheus Unable to mount volume"

[2020-04-02 17:50] Shobhit29 opened #3114 "Unable to mount volume"
**What did you do?**
I tried to install the Prometheus-operator in my K8s cluster, but my statefulsets Prometheus and AlertManager is getting terminated with the error as below:

Warning Failed 1s kubelet, kn-default-2 Error: cannot find volume "config-out" to mount into container "prometheus"
Normal Pulled 1s kubelet, kn-default-2 Container image "quay.io/coreos/prometheus-config-reloader:v0.37.0

[2020-04-02 17:50] #3113 closed

[2020-04-02 17:51] Shobhit29 commented on #3113
I opened a support request

[2020-04-02 19:14] tiagomeireles commented on #3025
It would be awesome to have. Is there a workaround to enable this until prometheus-operator supports this config field?

[2020-04-03 05:19] #3025 closed

[2020-04-03 08:12] brancz commented on #3114
cc @pgier

[2020-04-03 08:18] dongwangdw opened #3117 "spec.storage.volumeClaimTemplate.spec.dataSource in body must be of type object: "null""
**What happened?**

we try to build a cloud app, which calls the prometheus operator api.
When to build prometheus, we need to deploy pvc for it. But we got the error
```spec.storage.volumeClaimTemplate.spec.dataSource in body must be of type object: "null"```
This is a CR validation error. I debugged it.  This value is empty, but in the code it is as `dataSource":interface {}(nil)`. This dataSour

[2020-04-03 08:28] lilic commented on #3117
Can you reproduce this in the latest release as well? https://github.com/coreos/prometheus-operator/releases/tag/v0.38.0

[2020-04-03 08:39] rodrigc commented on #2824
@s-urbaniak  was this solved?

[2020-04-03 10:51] dongwangdw commented on #3117
@lilic Thanks for reply.
It is a little hard to upgrade now. The best method is to find the cause and resolve this.
Hope maintainers will help. I will also keep investigating this.

[2020-04-03 12:39] brancz opened #3118 "Allow specifying remote write TLSConfig from secretkey and configmapkey selectors"
**What happened?**

The API exposes configuration of CA, cert, and key via secret or configmap key selectors, but does not actually make use of it.

**Did you expect to see something different?**

When defined the remote write TLS config is configured according to the values in the specified secret or configmap key selectors.

**How to reproduce it (as minimally and precisely as possible)**:

[cod

[2020-04-03 13:46] jeffplesko commented on #3100
I found this PR by you that might be of interest here, but add this didn't seem to work.  Not sure If I am applying this correctly.

https://github.com/coreos/prometheus-operator/pull/610/files

[2020-04-03 14:02] dongwangdw commented on #3117
This issue looks like this one: https://github.com/coreos/prometheus-operator/issues/2399.
Not sure the same reason.
@s-urbaniak Would you please give some advice?

[2020-04-03 14:05] lilic commented on #3117
This was fixed in https://github.com/openshift/cluster-monitoring-operator/pull/260 so should be in a later release.

You are using OCP, are you using Prometheus Operator via operator hub?

[2020-04-03 14:28] mandreasik opened #3119 "PodMonitor vs ServiceMonitor what is the difference?"
Hi, I'm new to prometheus-operator and I do not see difference between ServiceMonitor and PodMonitor.

Documentation describes them as:

But this does not explain when to use particular one.

I played with them a little bit. Both of them use selector rules to find pods.

So you can either define PodMonitor that search for pods with eg. label app: myAPP, or if your app is behind service that is lab

[2020-04-03 15:49] pgier commented on #3119
I think ServiceMonitor should be the default choice unless you have some reason to use PodMonitor.  For example, you may want to scrape a set of pods which all have a certain label which is not consistent between different services.

There is some helpful discussion in the original podmonitor issue #38, but I agree that the docs could be improved here.

[2020-04-03 16:01] pgier commented on #3111
1. PrometheusRules is a kubernetes custom resource, so you can create it the same way you'd create any resource in kubernetes (i.e. `kubectl apply`, golang client, etc.).  You can see an example of the format in the kube-prometheus project (https://github.com/coreos/kube-prometheus/blob/master/manifests/prometheus-rules.yaml).
2. The Prometheus operator reads the k8s api to find Prometheus custom

[2020-04-03 16:15] clausa20 opened #3120 "Hot-Deploy in Prometheus operator without downtime"
Hello,

I have a question,

is there a way to hot-deploy the prometheus/alertmanager resources in Kubernetes without downtime?
I mean if I would like to change/add/delete some field of the Prometheus kind resource for example the image, version, retention, any other or some configuration of the additional-scrape-config, and when that change is performed then prometheus is updated (manually or auto

[2020-04-03 18:01] #3077 closed

[2020-04-04 10:35] Slach opened #3122 "kubernetes 1.18, kubectl apply --validate=yes can't install CRD"
**What happened?**
kubectl apply --validate=yes can't install CRD from github URL

I try to run following command
[code]
and got exit code 1
and following error
[code]

**Did you expect to see something different?**
yes, on kubectl 1.17.x and kubernetes 1.17, I didn't get any errors

**How to reproduce it (as minimally and precisely as possible)**:
- install k8s 1.18 from zero
- try install latest

[2020-04-04 12:27] dongwangdw commented on #3117
@lilic This is dataSource segment.  The issue you mentioned is about timestamp. maybe some relationships, but not actually the same thing.

[2020-04-05 16:12] brancz commented on #3100
An even more general toleration already exists: https://github.com/coreos/kube-prometheus/blob/8fdf1c772c3d02a68f11466b118dccab3eb6211c/manifests/node-exporter-daemonset.yaml#L82

Can you double check that your daemonset has this?

[2020-04-06 12:59] omerlh opened #3124 "PrometheusDuplicateTimestamps might not be actionable"
See prometheus/prometheus#7091

**What did you do?**
The alert PrometheusDuplicateTimestamps triggered when there is any target with invalid timestamps (e.g.. same timestamp, different values). When running a single Prometheus with a lot of targets, this alert is not actionable - it does not contain the offending target, making it hard to route it to the relevant team/person owning this service.

[2020-04-06 14:37] elisiano opened #3127 "Tolerations not passed to pods"
**What happened?**
I applied tolerations to CR (prometheus and alertmanager).

**Did you expect to see something different?**
I expected to see those tolerations passed onto the managed pods (I checked the code and they should indeed).

**How to reproduce it (as minimally and precisely as possible)**:
I only have one cluster with dedicated nodes for monitoring so I'm not sure how to reproduce it b

[2020-04-06 14:55] elisiano commented on #3127
One thing I forgot to mention, the `.spec.template.spec.affinity` is passed correctly to underlying pods:
[code]

[2020-04-06 15:53] khdevel commented on #1884
Hello,

I have the same problem with credentials. I am using the [helm/chart/stable/grafana](https://github.com/helm/charts/tree/master/stable/grafana) and I checked every combination:

1. _secret variables_ with envs `GF_SECURITY_ADMIN_USER` and `GF_SECURITY_ADMIN_PASSWORD` with `GF_SECURITY_DISABLE_INITIAL_ADMIN_CREATION` like it is also mentioned by @jasvinder-tp
2. the `grafana.ini` configurat

[2020-04-06 20:28] jadencodes opened #3130 "Horizontal scaling via sharding"
**What is missing?**
Horizontal Scaling via Sharding

**Why do we need it?**
Right now we are collecting approx. 2 Million series with 2 hour blocks and using thanos for long term storage and deduping at query time. Despite these small block sizes, the ram usage is around 11 gigs. We run in HA mode so multiple prometheus pods all have about the same ram usage.

As we scale out more metrics, it wil

[2020-04-06 22:05] donbowman commented on #3122
This is due to https://github.com/kubernetes/kubernetes/pull/84920

[2020-04-06 23:28] rmb938 commented on #2946
Any updates on this or the accompanying pr? I would love to be able to run the prometheus operator on a raspberry pi.

[2020-04-07 02:51] Slach commented on #3122
@donbowman could you suggest how CRD should be changed to pass this validation?

[2020-04-07 02:57] jadencodes commented on #3127
I think your tolerations needs to be indented one more so it falls under `spec.tolerations` instead of just `.tolerations`

[2020-04-07 05:52] brancz commented on #2890
Looks like things work as expected. :)

Closing.

[2020-04-07 05:52] #2890 closed

[2020-04-07 05:59] lilic commented on #3122
Can you try to do a kubectl create instead?

[2020-04-07 10:35] alexey-medvedchikov commented on #3130
We use this approach and it works like a charm.

[2020-04-07 11:11] absispat commented on #3079
I am also facin the same issue the data gets populated in the wal folder but no blocks created in the tsdb location which is /promethus any resolutions please

[2020-04-07 12:39] Slach commented on #3122
@lilic yes, same result
[code]
returns following error
[code]

[2020-04-07 12:40] leoncard commented on #3079
It seems to be a docker issue. After upgrading our Ubuntu boxes to version 19 and Docker to 5:19.03.8~3-0~ubuntu-eoan it started writing to our gluster persistent volume.

[2020-04-07 13:34] brancz commented on #3124
Actually the alert is defined in the prometheus mixin which is in the prometheus repo. https://github.com/prometheus/prometheus/blob/34c7f6e3c4db66b6f630b2ba55f84b13f50cbb21/documentation/prometheus-mixin/alerts.libsonnet#L142

The alert is warning severity which generally means yes you should look at it, but it's not urgent. Definitely no one should be paged on it. I agree that it's harder to tro

[2020-04-07 13:42] rgordill commented on #3122
See https://kubernetes.io/docs/reference/using-api/api-concepts/#merge-strategy.

Same with kubectl create

The option may be to create a "default" field for the property, as it is explained in https://github.com/kubernetes/enhancements/blob/master/keps/sig-api-machinery/20190426-crd-defaulting.md, but I don't know exactly why it is not working too on my 1.18 kubectl client, raising another except

[2020-04-07 13:51] brancz commented on #3130
I always imagined sharding to be another layer on top of the Prometheus object, but I think something in between could actually be achieved here as well, as the approach is quite elegant I think. How about we essentially calculate the replicas of the statefulset by multiplying `shards * replicas` replicas being the amount of times to replicate data, and shards in how many to split it. If we can co

[2020-04-07 13:57] elisiano commented on #3127
@jadencodes it does look that way on the manifest, but the manifest is generated from jsonnet and I do set it in the spec:
[code]

am I doing something wrong?

[2020-04-07 14:24] Slach commented on #3122
@sttts
@deads2k
@lavalamp
@liggitt
@mbohlool
@apelisse

guys, could you help us and figure out how exactly defaulting works currently?
could you look at https://github.com/coreos/prometheus-operator/blob/master/example/prometheus-operator-crd/monitoring.coreos.com_alertmanagers.yaml#L1182

and suggest why `default: "TCP"` doesn't pass validate?

[2020-04-07 14:28] liggitt commented on #3122
defaults are only available in v1 CRDs (`apiVersion: apiextensions.k8s.io/v1`)

[2020-04-07 14:31] liggitt commented on #3122
Your options are:
* use a v1 CRD and define a default for the property
* make the property required
* stop using `list-type: map` with optional non-defaulted properties

[2020-04-07 14:37] Slach commented on #3122
@liggitt thanks for explanation

could I use `kubectl convert` for converting currently CRD and add default: "TCP"?

[2020-04-07 14:57] sttts commented on #3122
I doubt kubectl can do that.

v1 and v1beta1 are not that different. Mainly the versions (no top-level version and validation anymore, just by version) structure changed. Just fix that and switch to `apiextensions.k8s.io/v1` and verify your CRD is complete after `kubectl create`. Or go to a 1.17 cluster, create the CRD with kubectl and then `kubectl get customresourcesdefinitions.v1.apiextensions.

[2020-04-07 15:12] brancz commented on #3119
The way I see it, `ServiceMonitor`s are the perfect fit if you already have a `Service` for your pods anyways. However, if it doesn't make sense for other reasons to have a `Service` for your component, then the `PodMonitor` is the right choice. It's essentially about avoiding (failure prone) duplicating pod label selectors when possible.

[2020-04-07 15:15] brancz commented on #3120
Can you be more specific in what happens today that you would like to be different?

[2020-04-07 15:19] brancz commented on #1580
With https://github.com/coreos/prometheus-operator/pull/3128 merged, this should now be trivial to configure with one container.

[2020-04-07 17:02] jadencodes commented on #3130
@brancz I like the idea of making shards part of `/scale` however I would say this isn't required for MVP.
I also like the idea of simply specifying shards at the beginning so essentially the config would have this by default:

[code]

I don't think we can have just one stateful set though. Since each each pod in the statefulset mounts the config volume the only way to modify it after mount would

[2020-04-07 17:12] jadencodes commented on #3127
If you are using helm could you post the relevant `values.yaml` section? If it is just a `kubernetes.yaml` file could you post that?

[2020-04-07 17:51] elisiano commented on #3127
I'm not using helm, I'm using [coreos/kube-prometheus](https://github.com/coreos/kube-prometheus).

By the way, thanks to your pointer I figured out how to fix my jsonnet manifest, thank you @jadencodes .

I'm not sure this could be useful to anyone, but if someone comes across this post in the future, this is the jsonnet library that was included in the main manifest:
[code]

[2020-04-07 17:51] #3127 closed

[2020-04-07 18:57] mattharr-is commented on #2891
Sorry to revive this closed ticket, but i was wondering if you guys have any documentation on using multiple alertmanagers with the prometheus operator. do all alertmanager instances need to exist in the monitoring namespace? Are they automatically discovered by prometheus, regardless of where they run? Are there other steps to wire up discovery of additional alertmanagers besides just applying an

[2020-04-07 19:45] brancz commented on #3130
We already have this for external labels to label each replica uniquely, and it’s not so hacky I think, as it’s intentionally built into our reload sidecar already.

[2020-04-08 07:18] lilic commented on #3122
We in the opeator itself create the CRD programictly on the v1beta1 CRD, there is an option to do that, which we is why we haven’t been hitting it. (Its legacy)

We will switch to using v1 CRD altogether, thanks all.

[2020-04-08 08:48] mandreasik commented on #3119
@pgier @brancz Thank you for the explanation :) (now it's more clear to me when to use them)

I hope this issue will help other prometheus-operator newbies understand this matter better :)

[2020-04-08 12:43] simonpasquier commented on #3122
For the same reason, the current `master` version fails to start on a v1.18 Kubernetes cluster when the `-manage-crds`flag is enabled.

[code]

Note that v0.38 isn't affected because the issue has been introduced by #3107

[2020-04-08 16:38] velann21 commented on #2503
Can you guys please add this in a doc, Because in prometheus docs it is source_labels, target_label

[2020-04-08 18:49] brancz commented on #2503
The API docs already say this. Where would you have expected this to be documented?

[2020-04-09 02:49] jadencodes commented on #3130
Well then that sounds like exactly what we want! What exactly is the process to get this implemented? As in is there more discussion that needs to happen or should I start working on a PR?

[2020-04-09 05:25] brancz commented on #3130
You’ve largely already outlined the implementation details in this issue so from my side I would say you can get right to implementing it :)

[2020-04-09 07:55] dongwangdw commented on #3117
I have assigned an empty object to DataSource and it worked.
We read the yaml and convert it to go code and create the CR. This should be the problem.  To create from yaml or go is fine. Will close this.

[2020-04-09 07:55] #3117 closed

[2020-04-10 00:33] spencergilbert commented on #2927
Any progress on the design document @simonpasquier ?

[2020-04-10 07:21] mman commented on #2670
I came across this issue recently. My prometheus deployment with everything default was working for about a week and then it started OOM crashing. I have tried to increase the initial delay of liveness and readiness probes, but the OOM happens during WAL replays like this:

The prometheus container log
[code]

The pod status
[code]

[2020-04-10 12:10] simonpasquier opened #3137 "Switch to apiextensions.k8s.io/v1 for CRDs"
As reported in https://github.com/coreos/prometheus-operator/issues/3122, the latest version of sigs.k8s.io/controller-tools (>= v0.28.0) generate CustomResourceDefinition objects that aren't compatible with Kubernetes >= v1.18.

The [recommended](https://github.com/coreos/prometheus-operator/issues/3122#issuecomment-610421183) approach is to switch from `apiextensions.k8s.io/v1beta1` to `apiexten

[2020-04-10 14:46] etcshad0vv commented on #3104
Sure, description has been updated @lilic .

[2020-04-10 15:15] simonpasquier commented on #2927
@spencergilbert I'd say the document is more or less. I need to find time to work on the implementation but given the global situation, it's hard to tell when it will happen...

[2020-04-10 16:29] LucaPrete commented on #1470
@tals thanks for the suggestion!

Based on your solution, the only workaround I've found to let both the default exporters and my elasticserach-exporter work (the latter uses label app: elasticsearch-exporter) was to extend the default values.yaml file (here https://github.com/helm/charts/blob/master/stable/prometheus-operator/values.yaml) with a custom configuration, which includes both the stand

[2020-04-10 16:40] LucaPrete commented on #1470
BTW, I've just tried this but unfortunately it didn't make the trick :(
All services disappeared...they must use a different label from the ones you've posted I guess...

[2020-04-11 07:33] lilic commented on #3137
cc @dgrisonnet you said you were interested in some prom-operator things to work on, this is a good one for first start!

[2020-04-11 07:35] lilic commented on #3104
Feel free to work on it, otherwise we can make it as help-wanted. 😊

[2020-04-11 08:30] SerialVelocity commented on #2934
I just hit this as well.

Every 15s each alertmanager triggers 6 DNS requests:
[code]

@vukasin-nikodijevic I think you have something wrong in your set up as Kubernetes uses `ndots:5` by default so the domain name should be automatically expanded and there should be no DNS error.

Also, `cluster.local` should definitely be configurable as lots of companies (and some personal stacks like mine) con

[2020-04-12 18:18] sbussetti commented on #2503
It's not that the documentation is missing, it's that your preformatted text blocks are overwide and cut off the super important note about parameter naming.  If you're on an OS/Browser with visual scrollbars disabled, it's very easy to miss that you need to scroll right in the examples, even when the rest of the page is at max width.

[2020-04-13 08:00] omerlh commented on #3124
Yes it is, the question is - does the alert actionable enough? The runbook is something like "look for the offending service in the log and ping the relevant team responsible for it". This is why I feel it might not be a very actionable alert.

[2020-04-13 18:24] FelixRodriguezJara opened #3139 "Prometheus trying to scrape outside configured namespaces"
Hello, Prometheus Team.

We have deployed two Prometheus within the same cluster, each of them in a different namespace and monitoring different namespaces (prod/noprod).

We are using Prometheus Operator v0.34.0, with Prometheus v2.11.0

This is our "prod" Prometheus configuration regarding Service Monitors and our attempt of limiting the namespaces where Prometheus should be scraping from, by us

[2020-04-14 01:52] gclawes commented on #2946
Looks like mutli-arch was added to the Dockerfile/Makefile in #3035.

Unfortunately, it looks like building multi-arch is alpha in Travis CI: https://docs.travis-ci.com/user/multi-cpu-architectures/

[2020-04-14 07:23] ikarlashov opened #3140 "How to skip metrics from ingestion?"
**What did you do?**

**Did you expect to see some different?**

**Environment**

* Prometheus Operator version:

    `v0.36.0`

* Kubernetes version information:

    `Server Version: version.Info{Major:"1", Minor:"15", GitVersion:"v1.15.6"}`

* Kubernetes cluster kind:

    kubespray

I've asked question in Slack, but no one replied :) So, I'm asking here:
We're using prometheus-operator helm ch

[2020-04-14 08:09] brancz commented on #3124
I think what you described is actionable, but not urgent. Warning severity seems appropriate here.

[2020-04-14 08:12] brancz commented on #2503
Agreed it's easy to miss in that scenario, do you have a suggestion how we could do better?

[2020-04-14 08:23] #2934 closed

[2020-04-14 09:02] brancz commented on #3140
You need to use the `metricRelabelings` field in the ServiceMonitor to drop metrics at ingestion time.

[2020-04-14 09:23] ikarlashov commented on #3140
@brancz

Thanks!
Although, I'm not sure where's the right place to ask question about node-exporter's serviceMonitor. Since from reading helm template of that serviceMonitor - there's no way to inject metricRelabelings. So I expected that prometheus-operator can do some magic on the higher level than servceMonitor.

[2020-04-14 11:23] brancz commented on #3140
The helm charts are neither used nor maintained by the prometheus-operator maintainers. Therefore we don't know the setup, so we're unlikely to be able to help you. I recommend creating an issue on the upstream helm charts repo where these helm charts are maintained. I assume it's just missing from the helm templates.

[2020-04-14 11:25] brancz commented on #3139
`serviceMonitorNamespaceSelector` is a Kubernetes style selector, so it does not have the `matchNames` paradigm, it has to be either `matchLabels` or `matchExpressions`.

[2020-04-14 12:13] FelixRodriguezJara commented on #3139
Thank you very much for your quick response, Frederic!

We have found out that the Service Discovery application that runs with Prometheus may be responsible of this cross-namespace communication. Even if we use matchLables instead of matchNames, would this change affect to the Service Discovery Application scope and limit it to the only desired namespaces? What would be the way of configuring Pro

[2020-04-14 13:15] infa-ddeore commented on #2907
here is what I came up with to make all prom operator pods work with istio injection enabled and `STRICT` mtls `PeerAuthentication` set in the prom operator namespace

[code]

[2020-04-14 15:01] #3122 closed

[2020-04-14 16:07] brancz commented on #2670
The liveness or readiness probes aren't the problem here. You just need to give your Prometheus server more resources so it can replay the WAL. It's somewhat known that replaying the WAL can be expensive, improvements are being worked on but are complicated to implement so I can't tell when they will be available.

[2020-04-14 16:30] brancz commented on #3139
I recommend to just not use the `namespaceSelector` in the `ServiceMonitor`, that way the ServiceMonitor will select only Services in the same namespace, hence the namespaces selected by the serviceMonitorNamespaceSelector are the only namespaces Prometheus would attempt to watch. Ultimately it all depends on the configuration fed to Prometheus via ServiceMonitors.

[2020-04-14 18:04] jalev opened #3142 "Ruler fails to reload when +100 PrometheusRule objects are removed"
**What happened?**

For a little bit of context, we're using Prometheus-Operator in environments that create lots and lots of PrometheusRule objects, and tear them down frequently.

When dealing with a large number of PrometheusRule objects the Operator creates a reload request for every rule removed. When you have hundreds of PrometheusRule objects this amounts to several hundred calls to reload,

[2020-04-15 07:44] brancz commented on #3142
The configmap is only reloaded every couple of minutes in bulk. Can you share logs of the config reloader showing that we're actually attempting to reload that much? I have a feeling this might be something else.

[2020-04-15 09:23] dgrisonnet commented on #3137
Looks interesting, I'll tackle it :)

[2020-04-15 20:09] manikanta-kondeti commented on #2963
@brancz you're right about last time when I commented here. But I see a weird issue here, I see this alert triggering from 3 hrs. This is the part of the deployment spec
`readyReplicas: 9
  replicas: 10
  unavailableReplicas: 1`

but when I do `kubectl -n <ns> get pods | grep <service_name> | wc -l`, I see 10 here. All 10 pods are running. How do I debug this?

[2020-04-16 07:08] brancz commented on #2963
I think that's a question best to ask the folks in Kubernetes who work on the workloads APIs. Generally speaking you should check that each one of those pods is actually _ready_, as that's what the controller is reporting is not the case.

[2020-04-16 07:09] #2932 closed

[2020-04-16 07:20] lilic opened #3146 "Migrate kubernetes clients to 1.18 release"
Since v1.18.x is out, we should update the client-go, k/api, and k/apimachinery dependencies

To help with the migration, as there were breaking changes we should make use of https://github.com/kubernetes-sigs/clientgofix

[2020-04-16 10:00] omerlh opened #3147 "Linter pass, but the created rule is invalid"
**What happened?**
I'm using prometheus operator linter to check my rules before deploying them, and although the linter said the rules are valid, in fact the rule was invalid. Is this the expected behavior? I can see with promtool that the rule is invalid...

[2020-04-16 10:23] manikanta-kondeti commented on #2963
thanks @brancz makes sense. I will take this up with k8s folks.

[2020-04-16 11:39] infa-ddeore opened #3148 "provide option to set different roles for kubernetes_sd_config"
**What is missing?**
there doesn't seem to be a way to set different type of `kubernetes_sd_config` role, eg. i want to use [service role](https://prometheus.io/docs/prometheus/latest/configuration/configuration/#service) to scrape the metrics from servicemonitor

**Why do we need it?**
prometheus finds pod ips and scrapes them directly, with istio enabled in strict mode "prometheus pod --> servic

[2020-04-16 12:21] jalev commented on #3142
Here is a snapshot of the config reloader:

[code]

Accompanied by ruler logs:
[code]

Perhaps the problem here is that config-reloader is being called twice? 🤔

[2020-04-16 13:05] joelanford commented on #3146
@lilic I'm willing to work on this since Operator SDK has a dependency on prometheus-operator for the ServiceMonitor types and we're trying to bump to 1.18 as well.

[2020-04-16 13:57] lilic commented on #3146
Nice, thanks! Let me know if you need anything! :)

[2020-04-16 15:55] jalev commented on #3142
Oh, hmm.

Looking at source, perhaps the issue might be that we've overridden the defaults to use `coreos/configmap-reload`, but never updated it to `jimmidyson/configmap-reload` 😬

[2020-04-16 16:34] jalev commented on #3142
So I updated the configmap reload to jimmidyson's image. Doing my replication of "create lots of rules and then delete them once I'm sure things are there."

On the one hand: no more of that double 'triggered reload' message; on the other the problem is still happening. So not the configmap reloader.

[code]

[code]

[2020-04-16 19:16] Denusdv opened #3150 "Prometheus configure with EFS on AWS"
**Try to config Prometheus to with against EFS on AWS**

My goal is to use PersistentVolume of nfs type
I create EFS on AWS and  want to mount it to Prometheus work with it.
The problem I face with is that Prometheus keeps use previously created ebs and kind of ignore the new configuration, the yaml files are attached.

* Prometheus Operator version: v0.34.0

    `quay.io/coreos/prometheus-operato

[2020-04-17 09:37] brancz commented on #3150
You need to delete the whole setup including the PVs and PVCs, and recreate.

[2020-04-17 09:38] brancz commented on #3147
Do you have an example? Also can you double check that you actually have the validating webhook setup?

[2020-04-17 09:58] brancz commented on #3142
My suspicion is that this happens when there are multiple `-volume-dir` flags specified (possibly globs?).

[2020-04-17 10:33] #3140 closed

[2020-04-17 12:24] Denusdv commented on #3150
I did it a many times. it didn't help.

[2020-04-17 12:51] brancz commented on #3150
Prometheus' volume must not be read write many

[code]

The storage must not be shared. The Prometheus Operator will force the requested volume to be ReadWriteOnce.

[2020-04-17 15:02] Cottonglow opened #3151 "Prometheus not finding ServiceMonitor in other namespace"
I am having some problems with getting my Prometheus talking to the ServiceMonitor  in a different namespace on OpenShift. I've managed to get it working on my local kubernetes so I am wondering if it's to do with some RBAC permissions or in the way that the operator is installed (or just something else I completely missed).

The scenario is that the Prometheus Operator and Prometheus itself are i

[2020-04-17 18:22] Denusdv commented on #3150
Hi Frederic, thanks for looking and trying to help me. I still face the same result even after the
**accessModes** is set to - ReadWriteOnce.

My current PV is

[code]

The storage section in the Prometheus is

[code]

the storage points to the PV rather than PVC, although I following the instructions where I should specify PV.

I created the Prometheus completely including PV.
The result I got, t

[2020-04-17 19:11] aakankshi commented on #1532
Hi, I am using service monitor for my java application so that prometheus pulls the metrics. Prometheus is able to discover the application and it is visible under target page. but under "labels" it is using alertmanager pod's label and hence the status of my application is showing as "down".
Kindly help where I am going wrong.
Here are my service, prometheus config and service monitor files:

ser

[2020-04-17 19:37] yeya24 commented on #2288
This is already done

[2020-04-19 04:50] omerlh commented on #3147
[code]

This is just one example - the rule itself is invalid (the promql query is invalid), which is detected by promtool, but not by the operator linter.

I'm not using the webhook - I'm running the linter on CI before merging PRs, and I was expecting it to fail if there is an invalid config.

[2020-04-19 09:04] #2648 closed

[2020-04-19 17:55] val1715 commented on #2682
+1
I also need a single prometheus operator to simply collect the metrics from multiple clusters, but without THANOS.

[2020-04-20 07:30] mcelep commented on #3031
@hwdef  I run into the same issue, could you please share the solution ?

[2020-04-20 07:35] hwdef commented on #3031
@mcelep
I created service for controller-manager.

[2020-04-20 07:51] #3020 closed

[2020-04-20 08:07] brancz commented on #3147
I see! I don't think the linter currently does any validations other than verifying the CR is conform. I think it'd be an awesome addition though if you want to give it a try!

[2020-04-20 08:10] brancz commented on #1528
Design is done, implementation still outstanding.

[2020-04-20 08:14] mcelep commented on #3031
@hwdef the operator also creates a service for the kube-controller-manager. The problem is the one it creates does find the right endpoints. If we create the corresponding service with the right endpoints manually as a one-off task, the issue is as soon the cluster grows or shrinks that service becomes invalid. So that would not be a solution for production use.

[2020-04-20 09:28] hwdef commented on #3031
@mcelep
maybe we have different questions.Hope you can find a solution to it.

[2020-04-20 10:32] brancz commented on #2682
Please let us know how you think that would work (Thanos was precisely created for this, so if it's the same strategy then Thanos continues to be the right answer, if there is a gap to fill I'm happy to listen).

[2020-04-20 12:06] brancz commented on #2288
Thanks for the reminder @yeya24

[2020-04-20 12:06] #2288 closed

[2020-04-20 12:28] vietwow opened #3152 "Support to set annotations for thanos's serviceaccount"
Hi,

I'm deploying vault on EKS using IRSA so I need to set annotations for thanos's serviceaccount, I take a look to prometheus-operator but looks like this is not supported yet (please correct me if I'm wrong). So I would like to request to support this, because I think this need is common. Thank you so much.

Best regards,
VietWOW

[2020-04-20 13:10] dgrisonnet opened #3153 "ThanosRuler missing from CRDs documentation"
ThanosRuler is missing from the list of Custom Ressource Definition of the operator: https://github.com/coreos/prometheus-operator#customresourcedefinitions

[2020-04-20 13:17] lilic commented on #3153
Good catch, but I wouldn't call this a bug, just documentation fix :)

[2020-04-20 14:50] rchenzheng commented on #2858
Running into this same issue, only way to get prometheus online was to disable ```prometheus.prometheusSpec.additionalScrapeConfigsExternal```

[2020-04-20 17:09] FelixRodriguezJara commented on #3139
Hi Frederic,

As per your recommendation, we have switched all the ServiceMonitors to using match labels. On the Prometheus definition, we have added the serviceMonitorNamespace selector with the namespaces we want Prometheus to scrape from. However, Prometheus keeps complaining about not being able of listing Endpoints, Services and Pods from namespaces out of its scope.

  serviceMonitorNamespac