[2018-04-23 03:21] sudermanjr opened #1241 "kube-prometheus node-exporter does not have standard master tolerations"
**What did you do?**
Installed prometheus operator using the kube-prometheus manifests

**What did you expect to see?**
Node-exporter running on all nodes (including masters)

**What did you see instead? Under which circumstances?**
Node exporter does not have toleration for node-role.kubernetes.io/master

**Environment**
OSX

* Kubernetes version information:

	Client Version: version.Info{Major:

[2018-04-23 05:07] mrueg commented on #1233
Sure I can provide a PR. There might be other occasions as well.

[2018-04-23 05:58] brancz commented on #1233
Note that the Prometheus images used are required to be equivalent to the upstream images and tags must be the same as well, as the it is used to parse semantic versions to make decisions to generate things in backward compatible ways.

[2018-04-23 10:02] whypro commented on #543
I've also encountered the same problem as @mindw described.
When some users add new dashboards but not saving (export to file or sync to repo) it yet, all of them will be lost after restarting. I think it may be useful if we don't delete all dashboards before creating.

What about add a flag or env to support this feature?
`--recreate=true`
If the value is `true`(default), the action is like previ

[2018-04-23 10:13] brancz commented on #543
The grafana watcher is deprecated and will soon be removed (it hasn't been used in the stack for a couple of months now), we recommend switching to Grafana 5.x, which has this functionality built in (including all sorts of strategies for creating/removing).

Closing here.

[2018-04-23 10:13] #543 closed

[2018-04-23 13:17] ffd2subroutine opened #1244 "Add NodeSelector to Deployments, StatefulSets, DaemonSets so that pods don't end up on windows nodes when running a hybrid cluster"
**What did you do?**
[code]

**What did you expect to see?**
pods deployed on linux nodes

**What did you see instead? Under which circumstances?**
alertmanager-main and prometheus-k8s StatefulSets are deployed on windows node.

NOTE:
I'm able to edit deployment and daemonset templates under **/contrib/kube-prometheus/manifests/** and add
[code]
for grafana, kube-state-metrics, node-exporter and p

[2018-04-23 15:17] whypro commented on #744
Adding node name to timeseries can be implemented by:
1. set node-exporter endpoints' `targetRef.kind` to `Node`, then prometheus will add `__meta_kubernetes_node_name` label to time series.
[code]
Thanks to: https://github.com/prometheus/prometheus/pull/3748#issuecomment-361817651

2. make prometheus-operator generate relabel config that converting `__meta_kubernetes_node_name` to `node`.
(As a r

[2018-04-23 15:38] whypro commented on #744
Will recording rules result in some performance problems?
IMHO, it could also be implemented by: https://github.com/coreos/prometheus-operator/issues/135#issuecomment-383617438.

[2018-04-23 16:04] ffd2subroutine commented on #1244
Hi @brancz, yeah it works, thank you!
Anyway, it would be nice to have this by default, I can make a pull request if you are interested.

[2018-04-23 17:00] NicolasT opened #1245 "Helm Chart namespace mismatches"
The `kube-prometheus` Helm chart hard-codes `kube-system` as a namespace selector for various `ServiceMonitor`s, even though one can deploy all the exporters in another namespace (`helm install --namespace ...`, which overrides any `meta.namespace` set in the manifest).

Would a patch switching those for `{{ .Release.Namespace }}`, to match the actual deployment, be accepted?

I believe this is re

[2018-04-23 18:43] brancz commented on #1244
Technically Prometheus is able to build on windows and same for all the other components, so ideally those labels would be in the manifests, not in the operator go code. That would be similar to adding tolerations as I demonstrated how to do here: https://github.com/coreos/prometheus-operator/pull/1242#issuecomment-383477997.

[2018-04-24 00:37] cspargo commented on #1240
i don't have time right now to do a pr for this, but the issue is in helm/prometheus/templates/servicemonitors.yaml

[code]

should be scoped

[code]

[2018-04-24 06:21] pickledrick opened #1247 "Not seeing alertmanager endpoints in configuration after installation with helm"
**What did you do?**

Installed kube-promethues helm chart with custom values for alertingEndpoints:

## Helm Values ##
prometheus:
  alertingEndpoints:
  - name: kube-prometheus-alertmanager
    namespace: monitoring
    port: "9093"

## Endpoints in Namespace ##
➜  ~ k -n monitoring get ep
NAME                                  ENDPOINTS                               AGE
alertmanager-operated

[2018-04-24 06:25] xpowerman opened #1248 "Bug in helm chart kube-prometheus/charts/prometheus/templates/servicemonitors.yaml"
**What did you do?**
Try to install kube-prometheus with one defined servicemonitor in Values using command:
`helm/kube-prometheus --name kube-prometheus --namespace monitoring`
**What did you expect to see?**
Completed installation.

**What did you see instead? Under which circumstances?**
Error: render error in "kube-prometheus/charts/prometheus/templates/servicemonitors.yaml": template: kube-pr

[2018-04-24 07:50] anandsinghkunwar commented on #399
@brancz Any hack for injecting environment variables into the pod? Also, do you have an ETA on the next release of the operator?

[2018-04-24 07:56] brancz commented on #399
The latest release of the prometheus operator already supports the Alertmanager v0.15 series which supports this.

[2018-04-24 08:03] ffd2subroutine commented on #1244
Yeah I meant updating manifests files under /contrib/kube-prometheus/manifests, not touching the operator's code, until prometheus-operator is ready for windows clusters as well.

[2018-04-24 11:32] anandsinghkunwar opened #1250 "Guide on how to upgrade the prometheus operator?"
**What did you do?**
I ran the `kubectl apply bundle.yaml` command. I wanted my prometheus operator to update but as I can see from the logs, I don't see the updated version.

**What did you expect to see?**
I expected any new alertmanager I create, should be created with the newer version.

**What did you see instead? Under which circumstances?**
I saw my alertmanager instance was of the older ve

[2018-04-24 19:01] valer-cara opened #1251 "grafana-watcher does not log errors when importing dashboards"
**What did you do?**
Used an additional configmap with dashboard definitions. It has a single definition being the JSON of a dashboard exported from grafana. Importing it however didn't work.

**What did you expect to see?**
An error message in the grafana-watcher logs on failure.

**What did you see instead? Under which circumstances?**
The dashboard was advertised as "Created", however in the gr

[2018-04-24 19:58] jolson490 opened #1252 "kube-prometheus no longer working on minikube"
**Can someone please help me figure out why I'm getting the following error** (when I run [prometheus-operator/v0.18.0/kube-prometheus/minikube-deploy](https://github.com/coreos/prometheus-operator/blob/v0.18.0/contrib/kube-prometheus/hack/cluster-monitoring/minikube-deploy) on my Mac)?
[code]

--------

More info:

I've been using (with minikube v0.24.1 and kubectl v1.8.4) the following command,

[2018-04-24 21:05] brancz commented on #1251
The grafana watcher is only supported for Grafana version lower than 5.0. Starting with 5.0 the features that the watcher added have been added to Grafana directly, therefore it has been deprecated. The manifests in this repository support only Grafana 5.0 going forward.

[2018-04-24 21:05] #1251 closed

[2018-04-24 21:07] brancz commented on #1250
The Prometheus Operator knows how to manage different version of Prometheus/Alertmanager but upgrading the versions themselves is still up to you. Projects like the [cluster-monitoring-operator](https://github.com/openshift/cluster-monitoring-operator) are what you looking for. Currently the cluster-monitoring-operator only supports OpenShift, but we are working towards supporting any Kubernetes c

[2018-04-24 21:10] brancz commented on #1252
Strange. Could you update to the lastest minikube (v0.26.1) and try if that helps?

[2018-04-24 21:28] anandsinghkunwar commented on #1250
Is it possible to specify a newer version of alertmanager in the CRD alertmanager's spec?

[2018-04-24 21:31] anandsinghkunwar commented on #1250
It is possible to specify the alertmanager's version in the spec of it's respective CRD, [link](https://github.com/coreos/prometheus-operator/blob/master/Documentation/user-guides/cluster-monitoring.md) for reference. Thanks for the help :smiley:

[2018-04-24 23:34] jolson490 commented on #1252
thanks @brancz  for the suggestion. Here's what I did:
 * commands equivalent to what's listed [here](https://github.com/kubernetes/minikube/issues/1043#issuecomment-354453842) to uninstall minikube.
 * I updated the `create-minikube-mac.sh` to what's listed below, and ran it.
 * I ran the commands below (at a terminal on my Mac), but (as shown at the bottom below) still encountered the error.

[c

[2018-04-25 00:36] midnightconman commented on #744
Can we have an update on this issue?

[2018-04-25 06:49] valer-cara commented on #1251
Thanks for the quick response! I was confused by the setup in the `grafana` chart that's running a `grafana-watcher` sidecar _and_ grafana 5.0

[2018-04-25 06:56] valer-cara commented on #1251
Is there a certain way you'd recommend getting additional dashboards in grafana? I'd prefer to use the same instance from kube-prometheus rather than an additional one with persistent storage.

Given the volatile setup in kube-prometheus and grafana-watcher being deprecated, it's not clear how to  create new dashboards.

[2018-04-25 17:46] gianrubio commented on #1154
@richerve, @pierreozoux any progress on this issue?

[2018-04-25 17:55] gianrubio commented on #1240
@cspargo I'm gonna fix that, the notation should be `{{ default $releaseName .Values.prometheusLabelValue | quote }}`

[2018-04-25 17:57] gianrubio commented on #1245
@NicolasT would you like to send a PR to allow namespace customization?

[2018-04-25 18:02] gianrubio commented on #1248
closing this as duplicate of #1240

[2018-04-25 18:02] #1248 closed

[2018-04-25 18:27] jolson490 commented on #1252
Huh - well, that worked:
[code]

It's still weird that what was working for me suddenly and inexplicably stopped working. But thanks very much for your suggestions to find a way past this.

Please let me know if there's any loose ends here that anyone would like resolved - e.g. if anyone thinks it would be useful to others if I check in the `create-minikube-mac.sh` script. If not, then I'm ok with

[2018-04-25 19:12] adamdecaf opened #1256 "ServiceMonitor can select itself"
**What did you do?**

I'm setting up federation using a ServiceMonitor (mentioned previously in https://github.com/coreos/prometheus-operator/issues/647), which works, but a prometheus instance can select itself.

I have two prometheus instances (and `kind: Prometheus` objects) in the same namespace. I'm setting up the "infra prometheus" to federate (read from) a `marathon-prometheus` instance. Th

[2018-04-25 19:14] adamdecaf commented on #1256
This looks to be a problem in that every `kind: Prometheus` object's `StatefulSet` is [created with a label `app=prometheus`](https://github.com/coreos/prometheus-operator/blob/release-0.16/pkg/prometheus/statefulset.go#L520). Then the label selector perform [set-based matching](https://github.com/coreos/prometheus-operator/blob/release-0.16/pkg/prometheus/operator.go#L748-L755), which matches _an

[2018-04-25 19:15] adamdecaf commented on #1256
I should note, this is also annoying because I've changed the "infra prometheus" `externalUrl` such that calling `x.x.x.x:9090/federate` on it gives a non-200 http status code. (There are extra path segments.)

[2018-04-25 20:29] NicolasT commented on #1245
Sure, was just checking whether such PR would be accepted upfront :wink: Will work on it.

[2018-04-25 23:40] jolson490 opened #1259 "kube-prometheus rule HighNumberOfFailedHTTPRequests is missing the instance label"
Can someone please tell me whether you agree that the following change should be made to [etcd3.rules.yaml](https://github.com/coreos/prometheus-operator/blob/master/contrib/kube-prometheus/assets/prometheus/rules/etcd3.rules.yaml)?:
[code]

When I do this query as-is...:
![current](https://user-images.githubusercontent.com/15840507/39278263-d6036810-48b7-11e8-9992-182e3f00abf0.png)

...versus my

[2018-04-26 07:30] brancz commented on #1259
this sounds good, can I recommend to make these changes on the upstream etcd repository first (it has this set of alerts in it's repository)?

[2018-04-26 07:38] pickledrick commented on #1247
realised service discovery was looking for __meta_kubernetes_endpoint_port_name not __meta_kubernetes_endpoint_port_number

updating configuration to name "http" resolved

[2018-04-26 07:38] #1247 closed

[2018-04-26 07:42] brancz commented on #1256
Can you share the `Service` that this `ServiceMonitor` selects? Within that service you can specify any mapping you want regarding ports and also have a more specific label selector than just selecting the `app: prometheus` label.

This is a common frustration with Prometheus. From your comment I couldn't figure out whether you managed to solve this. A common thing we do is only have the externalU

[2018-04-26 11:19] nikhilagrawal577 opened #1265 "In Kubernetes Capacity Planning Dashboard of Grafana, no of pods are not showing beyond 1300."
**What did you do?**
We did a scalability test in a cluster . .

**What did you expect to see?**
No of pods available in the cluster utilization and pod utilization section in "Kubernetes Capacity Planning" dashboard

**What did you see instead? Under which circumstances?**
Even though we have more than 1300 pods in the cluster. In Grafana Dashboard, it is not showing beyond 1300.
![image](https:/

[2018-04-26 13:06] gianrubio commented on #1240
fixed by #1263

[2018-04-26 13:06] #1240 closed

[2018-04-26 13:10] brancz commented on #1265
Is your Prometheus server answering the request? With this amount of pods, you will likely have to increase the request and limit of the Prometheus server :slightly_smiling_face: .

[2018-04-26 15:13] brancz commented on #1165
We implemented what @jdfalk suggested. It is meant as a last resort, anything that's not possible with it you will have to build your own tooling around.

[2018-04-26 15:13] #1165 closed

[2018-04-26 16:37] adamdecaf commented on #1256
I figured this out. I didn't realize the `targetPort` on the Service was wrong. Here's the working Service.

[code]

[2018-04-26 16:48] brancz commented on #1256
Nice, so you're all good? :slightly_smiling_face:

[2018-04-26 16:49] adamdecaf commented on #1256
@brancz I think so. Thanks

[2018-04-26 16:49] #1256 closed

[2018-04-26 16:50] brancz commented on #1256
Let us know if there is anything else! :slightly_smiling_face:

[2018-04-26 16:54] r-moiseev opened #1267 "No metrics from kubelet"
**What did you do?**
Installed `prometheus-operator` and `kube-prometheus` using `helm`

**What did you expect to see?**
Pods resource usage metrics in grafana

**What did you see instead? Under which circumstances?**
Constantly firing K8SKubeletDown alert and no resource usage metrics on pods (only requests and limits)

I can confirm that issue reproduced several times. We deploy clean kubespray

[2018-04-26 20:07] sokoow opened #1269 "How can I easily find out which manifest is throwing errors?"
**What did you do?**
Deployed https://github.com/camilb/prometheus-kubernetes

**What did you expect to see?**
Working prometheus

**What did you see instead? Under which circumstances?**
So I got a log off the operator that is VERY difficult to debug - how can I find out which manifest is wrong ?

**Environment**

* Kubernetes version information:
[code]
* Kubernetes cluster kind:
kadm
* Manifest

[2018-04-26 20:30] brancz commented on #744
Coincidentally I'm actually working on this currently. Updates coming soonish.

[2018-04-27 04:46] nikhilagrawal577 commented on #1265
Yes. Prometheus Server answered all request .
In our first test, prometheus server was down, so we increased the resources and limit in second test.
Still the issue was there in Grafana.
Where as all other metrics in dashboards were showing.

[2018-04-27 07:56] brancz commented on #1265
Strange! But this is more something you should report to the Grafana team, if the Prometheus server serves the query.

[2018-04-27 08:31] nikhilagrawal577 commented on #1265
Grafana installation was done from kube-prometheus manifests. So we raised the issue here.
if it is not relevant , kindly suggest where to report this issue ?

[2018-04-27 08:38] brancz commented on #1265
Sure that makes sense, but since Prometheus answers and Grafana shows other dashboards, it sounds like there is not a problem with the setup but with Grafana. I recommend opening an issue on the Grafana repo.

[2018-04-27 08:56] mxinden commented on #1269
@sokoow Which Prometheus Operator version is this?

Our logging code could definitely use some improvements. I am happy to accept PRs in this area.

[2018-04-27 10:05] brancz commented on #1269
This is unfortunate, but we can’t do anything about those errors, they’re coming from Kubernetes client-go. With validations the possibility for this to happen will disappear. (Validations are already implemented but only enabled on new clusters)

[2018-04-27 10:08] sokoow commented on #1269
I tried all that with 0.18.1. That's a bummer, cause the project I'm trying to use (https://github.com/camilb/prometheus-kubernetes) is like 40+ manifests itself, and logs don't even show the part of the flow that is wrong. It'd even help to display the value it's stuck at, maybe then I'd have a chance to cross check and find it.

[2018-04-27 10:11] sokoow commented on #1269
So are validations available on 0.19.0 ? I can try to flick the manifest to use that..

[2018-04-27 10:12] gianrubio commented on #1267
Could you check if in Prometheus you have the kubelet target?

[2018-04-27 10:28] brancz commented on #1269
Validations are available starting with v0.18.0 if I recall correctly (but only if there was no previous prometheus operator version installed). From the log output I can tell that it's definitely a Prometheus object causing the problem. Can you share the results of `kubectl get prometheuses --all-namespaces -oyaml`?

As a side note, the concrete problem with the manifest is that a manifest is wro

[2018-04-27 10:29] gogeof opened #1272 "[ support ] not working but I don't know why"
**What did you do?**
from [The Prometheus Operator: Managed Prometheus setups for Kubernetes](https://coreos.com/blog/the-prometheus-operator.html) to deploy prometheus in k8s cluster, but failed when deploy prometheus resouce

**What did you expect to see?**
success

**What did you see instead? Under which circumstances?**
[code]

**Environment**

* Kubernetes version information:

[code]

* Kube

[2018-04-27 10:31] brancz commented on #1272
The blog post is outdated, sorry about that, it happens easily to blog posts to go stale. Please try the [getting started guide](https://github.com/coreos/prometheus-operator/blob/master/Documentation/user-guides/getting-started.md) and see if you still run into problems.

[2018-04-27 11:03] r-moiseev commented on #1267
Yes I can see Kubelet (0/8) each of these says `server returned HTTP status 401 Unauthorized`

[2018-04-27 11:29] sokoow commented on #1269
[code]

[2018-04-27 11:30] sokoow commented on #1269
I've opened an issue with this dude also https://github.com/camilb/prometheus-kubernetes/issues/81

[2018-04-27 11:53] r-moiseev commented on #1267
I found problem, this related to webhook auth.

Was resolved by adding this to kubespray inventory
[code]

[2018-04-27 11:57] #1267 closed

[2018-04-27 12:07] jimsmith opened #1273 "Doesn't teardown all of the stack"
https://github.com/coreos/prometheus-operator/blob/f7cb6f59066f5b6a32a26bfebd7f13fbbd6acc1b/contrib/kube-prometheus/hack/cluster-monitoring/teardown#L3

I ended up having to copy the deploy script and reversing the workflow and change from apply|create to delete then everything was competely removed from the cluster.

Can you please have a complete teardown script.

[2018-04-27 12:09] brancz commented on #1269
Storage requests go into the storage spec, that’s probably the problem, also since that’s what the error says, I think the unit has to be specified differently.

[2018-04-27 12:13] brancz commented on #1273
While it takes some time the script works for me. Also note that the script is located in a “hack/“ directory, it is primarily intended to ease development

[2018-04-27 13:52] gianrubio commented on #363
Closing this as outdated

[2018-04-27 13:52] #363 closed

[2018-04-27 14:46] ryanash999 commented on #375
@brancz Can you point me to the correct documentation for setting this retention or other custom settings for the prometheus.yaml?   I have same question for customizing Grafana core configuration to enable auth LDAP, etc.

[2018-04-27 15:08] brancz commented on #375
regarding your first point see the API docs and the second: this is not currently possible we're waiting for Grafana 5.1 to be released, where we will be able to use the upstream image again

[2018-04-27 15:59] sgmiller opened #1274 "Prometheus operator spams logs"
**What did you do?**
Followed the getting started guide, as far as getting the Prometheus object created

**What did you expect to see?**

Registration of the prometheus pod.

**What did you see instead? Under which circumstances?**

Rapid spamming of the prometheus-operator log, see below.

**Environment**

* Kubernetes version information:

Client Version: version.Info{Major:"1", Minor:"9", GitV

[2018-04-27 17:29] sokoow commented on #1269
Yup, that was it. I removed storage section alltogether and now I'm happy owner of prometheus cluster :)

[2018-04-27 17:29] #1269 closed

[2018-04-27 18:59] ryanash999 commented on #835
@brancz Follow-up question.  What is the best approach to enabling LDAP authentication/authorization for Grafana?   This requires the additional ldap.toml which I need to deploy.  My assumption is that the additional configuration should be laid down via a configMap and referenced by env variables per the recommendation above.

Does this sound correct?  Any references to the an existing configMap

[2018-04-27 20:19] gmauleon commented on #1184
Now that we have #1227, we only missing this one to have a fully functionnal solution if we want a unique Prometheus for a multi-namespaces setup.

[2018-04-27 20:45] richerve commented on #1154
@gianrubio Sorry for the late reply, I'm actively working on this, I have a private copy of stable/grafana, applied a couple of changes and will be replacing kube-prometheus grafana soon. I will send a PR with those changes, hopefully next week.
I general I think right now is technically possible to migrate the to stable/grafana without any more change but is not convenient because of the way to d

[2018-04-28 02:54] gogeof commented on #1272
just this problem:

[code]

and can be solve by：

[code]

default-privilege-add.yaml look like:
[code]

[2018-04-28 18:12] mxinden commented on #1273
@jimsmith Which resources were left?

[2018-04-28 18:34] mxinden commented on #1274
@sgmiller Would you mind preparing a PR for your suggested changes?

[2018-04-28 18:36] mxinden commented on #1184
@gmauleon I will be working on this next.

[2018-04-28 20:13] brancz commented on #1274
Added a PR for leveled logging.

[2018-04-29 06:33] matthewflannery opened #1281 "Broken link in documentation - KOPSonAWS.md"
**What did you do?**

Try to follow the instructions in

https://github.com/coreos/prometheus-operator/blob/master/contrib/kube-prometheus/docs/KOPSonAWS.md

**What did you expect to see?**

Documentation without references to files that do not exist

**What did you see instead? Under which circumstances?**

A reference to an invalid file `./hack/cluster-monitoring/self-hosted-deploy`:

The direct

[2018-04-30 02:38] allsuper opened #1282 "Helm: Selector for Prometheus Service does not match, Service gets no Endpoints"
Hello,

I did a plain Helm install of Prometheus Operator  with:

[code]
Using: `https://s3-eu-west-1.amazonaws.com/coreos-charts/stable`, which resulted in Chart installs of `kube-prometheus-0.0.59 / prometheus-operator-0.0.20`...

However the installed Service for Prometheus does not get assigened any Endpoints due to the fact, that the selectors do not match.

[code]

But the pods do have this

[2018-04-30 04:56] brancz commented on #1272
Actually looking at the getting started once more, we just forgot or seem to have removed the “serviceAccountName: prometheus” as the cluster role and binding you are describing are basically what is described in the “Enable RBAC rules for Prometheus pods” section.

[2018-04-30 05:03] brancz commented on #835
@ryanash999 it’s probably worth having your own configmap, as the existing configmaps are for the purpose of provisioning Grafana at start up, so it wouldn’t make a lot of sense to mix those purposes, but really anything that works for you is fine :)

[2018-04-30 07:08] brancz commented on #1252
Yes we changed the manifests to only expose clusterip type services. We are working on packing up kube-prometheus in a better way in a way that we can allow you to do any customization you want without having to have all the possible combination of manifests checked in into this repository. (See #1279 as a teaser)

[2018-04-30 09:45] zytek opened #1285 "node-exporter Pod IP instead of NodeIP in default Grafana Node's dashboard"
**What did you do?**

Pure default hack/cluster-monitoring/deploy from current master (72b2e6847dec58269dfe4950097344155f8bc6cf)

* Kubernetes version information and environment

`
Client Version: version.Info{Major:"1", Minor:"10", GitVersion:"v1.10.1", GitCommit:"d4ab47518836c750f9949b9e0d387f20fb92260b", GitTreeState:"clean", BuildDate:"2018-04-13T22:27:55Z", GoVersion:"go1.9.5", Compiler:"gc"

[2018-04-30 12:48] brancz commented on #1285
Duplicate of #744, this will be addressed with #1279 as the dashboard changes in there do this, closing this as #744 is already tracking this.

[2018-04-30 12:48] #1285 closed

[2018-04-30 14:20] ryanash999 opened #1286 "Missing Prometheus alerts due to prometheus-config-reloader error"
**What did you do?**
Fresh install of prometheus-operator using the contrib/kube-prometheus/hack/cluster-monitoring/deploy
**What did you expect to see?**
I expect to see alerts populated in Prometheus
**What did you see instead? Under which circumstances?**
Missing alerts and error in prometheus-config-reloader logs
**Environment**

CentOS
CNI = calico

* Kubernetes version information:

[code]

[2018-04-30 15:54] allsuper commented on #1282
I am sorry, there seems to be a second Service `prometheus-operated` that in deed functions and allows to forward the ports with:
[code]
So this seems to be a documentation issue: At least it's now documented here. I will close the ticket. Thanks tommy

[2018-04-30 15:54] #1282 closed

[2018-04-30 16:08] brancz commented on #1282
Note that the `prometheus-operated` service is a single headless service for *all* prometheus servers in that namespace, so load balancing it is not a good idea as you may end up on totally differently configured prometheus servers. This service is an implementation detail of the Prometheus Operator.

[2018-04-30 16:10] brancz commented on #1286
This part seems strange: `localhost` seems to be resolved to `10.214.191.27`. That should not be the case. Any idea why this might be happening?

[2018-04-30 16:13] brancz commented on #1286
Could you check the content of `/etc/hosts` file of that container?

[2018-04-30 17:43] ryanash999 commented on #1286
It looks like someone has added localhost to our internal DNS
/etc/hosts
[code]
/etc/resolv.conf
[code]

[code]

[code]

I guess I would have expected the container to use above local /etc/hosts file entry.

[2018-04-30 22:20] cody-adams opened #1288 "Helm doesn't generate kube-prometheus chart properly"
**What did you do?**
ran `helm install \
    --name mon \
    --namespace monitoring \
    -f custom-values.yaml \
    coreos/kube-prometheus`
**What did you expect to see?**
A valid config for the Prometheus resource being generated
**What did you see instead? Under which circumstances?**

[code]

**Environment**

* Kubernetes version information:

[code]

* Kubernetes cluster kind:

	Azure Kuber

[2018-04-30 22:22] desaintmartin opened #1289 "helm chart: kube-prometheus-prometheus service looks for non-existent "prometheus: kube-prometheus" label"
**What did you do?**
Deploy kube-prometheus and prometheus-operator through Helm with:
[code]

it correctly created a prometheus-kube-prometheus-prometheus-0 pod with labels:
[code]

**What did you expect to see?**
Service created to access prometheus-kube-prometheus-prometheus-0 pod.

**What did you see instead? Under which circumstances?**
Service looking for :
[code]
Thus no endpoint is created

[2018-05-01 00:03] ntfrnzn commented on #1288
I believe this is the same issue as https://github.com/coreos/prometheus-operator/issues/1289 and https://github.com/coreos/prometheus-operator/issues/1282 which happens because the selector of the service is defined in the helm template directly, as
[code]
(and defaults to the release name, which is "[user-supplied-name]-prometheus"

but the actual labels of the pod are determined by the promethe

[2018-05-01 01:37] ntfrnzn commented on #1288
Note that there's at least one other issue with the labels mismatching -- the various servicemonitors must have a matching `prometheus` label in order to get picked up as targets, and without that they are not polled.  It's unclear which of the recently label changes is incorrect.

I find that version 0.0.50 of the kube-prometheus chart seems to work.  So a helm installation with
[code]
is functio

[2018-05-01 12:19] #1289 closed, assigned to nobody

[2018-05-01 12:58] ryanash999 commented on #1286
Once we resolved the internal localhost DNS entry the alerts appeared as expected.

[2018-05-01 12:58] #1286 closed

[2018-05-01 17:05] gianrubio commented on #1288
Fixed by #1261

[2018-05-01 17:05] #1288 closed

[2018-05-02 03:13] dprotaso opened #1293 "k8s 1.10 with CustomResourceSubresources=true prevents operator from creating CRDs"
**What did you do?**

Use prometheus-operator on a kubernetes 1.10 cluster with the feature gate CustomResourceSubresources set to true

Use the bundle yaml from the root of the repo: https://github.com/coreos/prometheus-operator/blob/master/bundle.yaml

**What did you expect to see?**

Operator/Controller is able to create CRDs

**What did you see instead? Under which circumstances?**

The operat

[2018-05-02 08:25] akshays244 commented on #958
i have successfully configured alerts Related to Nodes for CPU,MEMORY , NODE DOWN , FILE SYSTEM . but i am struggling to do the same for PODs in our infra

[2018-05-02 08:27] brancz commented on #1293
Thanks for reporting this! This is definitely a bug we need to fix! (cc @mxinden)

[2018-05-02 16:16] bgagnon opened #1295 "Bad query on kube-prometheus Etcd "Memory" panel"
The _Memory_ panel for the Etcd dashboard is build on this:

[code]
I think this grabs the `process_resident_memory_bytes` from _every_ process in the cluster, not just Etcd.

[2018-05-02 17:06] fracasula commented on #357
What I needed in my case was to create a [ClusterRoleBinding](https://kubernetes.io/docs/admin/authorization/rbac/#rolebinding-and-clusterrolebinding) to give my helm tiller super-powers :muscle:

First of all:

[code]

Then create a `tiller-clusterrolebinding.yaml` file:

[code]

And finally:

[code]

[Source](https://docs.bitnami.com/kubernetes/how-to/configure-rbac-in-your-kubernetes-cluster/).

[2018-05-03 08:23] vielktus opened #1297 "Wrong Prometheus pod label"
**What did you do?**
helm install -n kube-prometheus

**What did you expect to see?**
[code]

**What did you see instead? Under which circumstances?**
prometheus=kube-prometheus-prometheus

I checked the service and found out that it didn't have any endpoints.
The "kube-prometheus-prometheus" service will chose the pod with label:
[code]
But the pod label was wrongly created like I mentioned above

[2018-05-03 08:54] verwilst commented on #1297
I have the same issue. Kubespray-installed Kubernetes 1.10.2,

Ran following commands:

[code]

[2018-05-03 09:06] verwilst commented on #1297
Also tried to set a  prometheusLabelValue during helm install, but it doesn't seem to affect the pod label, which remains "kube-prometheus-prometheus".

[code]

[2018-05-03 10:42] alok87 commented on #597
@brancz I am also facing this. I would like to contribute to this by using promtool or something to verify and make it clear what exactly is breaking reload.

[2018-05-03 23:45] bamb00 commented on #951
Hi, @brancz

I'm using helm and pull the images from quay.io and re-tag it.  In the values.yaml file
the image is setup like below the deployment.yaml is unchanged.  The alertmanager deployment failed with CrashLoopBack and prometheus does not even deploy to k8s dashboard.  What am missing?

image:
   repository: private_registry_path
   tag: some_arbitrary_value

quay.io/prometheus/alertmanager:v

[2018-05-04 08:43] vielktus commented on #1297
@richerve I might need your help 👍

[2018-05-04 11:31] gianrubio commented on #1297
@vielktus you can solve this issue removing the selector `prometehus` from the prometheus service. Leave only the selector `app: prometheus`.

I'm gonna raise a PR to fix that.

[2018-05-04 14:05] zepouet opened #1301 "[ kube-prometheus ] How to expose grafana without port-forward"
Hello,

I tested your solutions and it is right but I would like not to use this command `kubectl port-forward prometheus-frontend-0 9090`

Is it possible in our case ?

Thanks a lot !
Best regards,

[2018-05-04 14:36] ryanash999 commented on #1166
I am running into the exact same issues.   Based on my testing you are correct that metricRelabeling has no access to any label which hasn't already been built, i.e __meta.    I wanted to update our instance to use the __meta_kubernetes_pod_node_name exactly how you referenced it.

[2018-05-04 18:58] audip commented on #958
@akshays244 Can you share more on what kubernetes version you're running? And what alerts are you looking to configure?

[2018-05-04 19:36] bamb00 commented on #430
@brancz Where is the manifest if I were using helm? Thanks.

[2018-05-04 21:09] deboshrestha commented on #455
Can you please tell me in this `externalLabels` fields how can i pass my cluster name if I have to pick it this way - `kubectl config current-context`.

[2018-05-05 19:35] jithinraj89 commented on #324
@brancz Is prometheus.yml in Prometheus-operator capable of scraping application metrics.
Example from my python or Ruby apps in kubernetes pod.?
I have a python app already exposing it's metrics but unable to scrape those metrics by Prometheus, can't query them in Prometheus UI. Help

[2018-05-05 19:47] jithinraj89 opened #1303 "Unable scrape application metrics"
@brancz Is prometheus.yml in Prometheus-operator capable of scraping application metrics.
Example from my python or Ruby apps in kubernetes pod.?
I have a python app already exposing it's metrics but unable to scrape those metrics by Prometheus, can't query them in Prometheus UI. Help

[2018-05-06 08:02] ArvinDevel opened #1304 "Default cluster-role-binding is not necessary to run one simple prometheus operator example"
**What did you do?**
I try Prometheus-Operator on my 3-nodes kuberneters cluster followed by [tutorial](https://coreos.com/operators/prometheus/docs/latest/user-guides/getting-started.html), but with self-defined namespace `monitor`.

**What did you expect to see?**
No error output, 3 targets shown on prometheus UI

**What did you see instead? Under which circumstances?**
no targets shown on prome

[2018-05-06 12:30] akshays244 commented on #958
@audip  :hi aditya thanks for response : below is the version details :

root@umaster1:~# kubectl version
**Client Version:** version.Info{Major:"1", Minor:"8", GitVersion:"v1.8.3", GitCommit:"f0efb3cb883751c5ffdbe6d515f3cb4fbe7b7acd", GitTreeState:"clean", BuildDate:"2017-11-08T18:39:33Z", GoVersion:"go1.8.3", Compiler:"gc", Platform:"linux/amd64"}
**Server Version**: version.Info{Major:"1", Mino

[2018-05-06 16:02] brancz commented on #958
That is the Prometheus 1.x alert rule format, you need to adapt it to the new format. https://prometheus.io/docs/prometheus/latest/migration/#recording-rules-and-alerts

[2018-05-06 16:05] brancz commented on #324
@jithinraj89 a custom prometheus.yaml is not necessary for your application metrics, only if you want to scrape non-Kubernetes targets.

You just need a ServiceMonitor selecting your application's Kubernetes Service object.

[2018-05-06 16:07] brancz commented on #455
@deboshrestha you will need to do that somehow with your configuration management.

[2018-05-06 16:08] brancz commented on #430
@bamb00 I'm not sure it exists for the helm charts. (cc @gianrubio)

[2018-05-06 16:10] brancz commented on #951
the tag can't be an arbitrary value, it's what decides the version, so it must be a valid semver tag

[code]

the error you are getting is likely because the wrong version is selected due to not being able to decide the version

[2018-05-06 16:24] brancz commented on #1303
As mentioned in the other thread, you need a ServiceMonitor for this, the custom configuration is only for non-Kubernetes targets, like AWS ec2 VM discovery for example. Everything within Kubernetes should be done via ServiceMonitors.

[2018-05-06 16:55] brancz commented on #597
Even things that fail promtool can fail at runtime, but the nice thing about failing to reload is that prometheus has a metric for that so when that happens we can actually alert on it.

[2018-05-06 17:16] jithinraj89 commented on #1303
@brancz Thanks for the reply. Just now I found your page.
https://coreos.com/tectonic/docs/latest/tectonic-prometheus-operator/user-guides/application-monitoring.html hopefully, this may help.

[2018-05-06 17:27] brancz commented on #1166
you can use the new `additionalConfig` feature which lets you use all the features of the prometheus operator but gives you the ability to specify complete scrape configs including relabel configs. We felt that is a fair trade off of allowing everything users may want and a restricted environment that may be necessary with ServiceMonitors.

[2018-05-06 17:27] #1166 closed

[2018-05-06 17:29] brancz commented on #1301
We have just merged a revised version of kube-prometheus, please have a look at the [customizing section](https://github.com/coreos/prometheus-operator/tree/master/contrib/kube-prometheus#customization).

[2018-05-06 17:29] brancz commented on #1297
can this be closed as #1302 is merged?

[2018-05-06 17:31] brancz commented on #1295
You're right! This should have a job selector, could you fix this in the upstream etcd repo? That's where this dashboard is defined (it was just copied in here for the lack of better tooling, which we're also fixing :) ).

[2018-05-06 21:31] verwilst commented on #1297
Installed 0.0.36:

kubectl describe svc kube-prometheus-prometheus -n monitoring
<snip>
Labels:            app=prometheus
                   chart=prometheus-0.0.36
                   heritage=Tiller
                   prometheus=kube-prometheus
                   release=kube-prometheus
</snip>
TargetPort:        9090/TCP
Endpoints:         <none>

kubectl describe pod prometheus-kube-prometheus-

[2018-05-07 07:37] vielktus opened #1306 "Duplicate kube-state pods when using Tolerations"
**What did you do?**
I set the values of Tolerations in `helm/exporter-kube-state/values.yaml` like this:
And `helm install -n kube-prometheus`
[code]
After that, found out in `helm/exporter-kube-state/templates/deployment.yaml`, the variables were wrongly named:
[code]
I changed this line to below (not sure if we need to fix this? Because the Toleration field is out side of "kube_state_metrics"):

[2018-05-07 08:56] jimsmith commented on #1273
@mxinden here is the output of what was left:

Tear down - `./hack/cluster-monitoring/teardown` script doesn't cleanup just deletes a single namespace

my workaround `cp ./hack/cluster-monitoring/deploy ./hack/cluster-monitoring/destroy
vi ./hack/cluster-monitoring/destroy`

And put the commands in reverse order and change from apply to delete and create to delete.
`chmod 755 ./hack/cluster-monito

[2018-05-07 09:13] nikhilagrawal577 opened #1307 "Pod Utilization, alerts are missing in Updated Grafana v5.1.0"
**What did you do?**
Deployed the Prometheus operator.
And other manifests by executing command :

``
kubectl create -f manifests/
``

**What did you expect to see?**

Wanted to see the no of pods available, alerts in the cluster.

**What did you see instead? Under which circumstances?**

Grafana is updated to Grafana v5.1.0, there are lots of changes in the dashboards.
As comparison to previous G

[2018-05-07 09:51] gianrubio commented on #1297
Sorry for any inconvenience, the prometheus object was fixed but not the service, I hope #1305 will fix that.

[2018-05-07 11:06] vielktus commented on #1297
Thank you @gianrubio.

[2018-05-07 13:04] gianrubio commented on #1297
Fixed by #1305

[2018-05-07 13:04] #1297 closed

[2018-05-07 13:06] gianrubio commented on #1306
Could you past the output of `kubectl describe pod kube-prometheus-exporter-kube-state-85689ccf67-k6w5m` ?

[2018-05-07 14:56] brancz commented on #1273
Note that we have fully removed the `hack/*/deploy` scripts. "Deploying" is now done with a single `kubectl create -f manifests/` and teardown with `kubectl delete -f manifests/`.

[2018-05-07 15:13] brancz commented on #1307
there are still some dashboards left to be migrated, I suggest to start here: https://github.com/brancz/kubernetes-grafana/tree/1d5427f5cfdd47549a0502f071320312acb20330/src/kubernetes-jsonnet/grafana/configs/dashboard-definitions

and migrate them into https://github.com/kubernetes-monitoring/kubernetes-mixin

[2018-05-07 15:57] bamb00 commented on #1088
Thanks for pointing out #1107 I see what I did wrong.

[2018-05-07 15:57] #1088 closed

[2018-05-07 15:58] jithinraj89 commented on #324
@brancz I created ServiceMonitor for my app and it is showing in `/config` page but not in `/targets` page. below is my config. It is also showing under `service discovery`.

[code]

[2018-05-07 18:38] bamb00 commented on #951
Hi @brancz

Is there a constraint restriction for the semver tag?

Try it with an arbitrary value but with prefix.  For example:  v2.0.0.25-master-0056-180504002721

[2018-05-07 19:20] alok87 opened #1310 "Memory calculation in the default grafana graph"
**Memory used percentage calculation needs a fix**
The default calculation for memory usage in grafana is https://github.com/coreos/prometheus-operator/blob/master/contrib/kube-prometheus/assets/grafana/nodes.dashboard.py#L157-L161
`100 * (node_memory_MemTotal - node_memory_MemFree - node_memory_Buffers - node_memory_Cached) / node_memory_MemTotal`

Most of the other monitoring tools like newrelic

[2018-05-07 20:17] jpke opened #1312 "Error: apiVersion "monitoring.coreos.com/v1alpha1" in kube-prometheus/charts/exporter-kube-scheduler/templates/servicemonitor.yaml is not available"
**What did you do?**
On a fresh cluster:
```helm install coreos/kube-prometheus --name kube-prometheus --set global.rbacEnable=true --namespace monitoring```

**What did you expect to see?**
kube-prometheus successfully installed

**What did you see instead? Under which circumstances?**
```Error: apiVersion "monitoring.coreos.com/v1alpha1" in kube-prometheus/charts/exporter-kube-scheduler/template

[2018-05-07 20:29] jpke commented on #1312
face-palm... needed prometheus-operator installed first.

[2018-05-07 20:29] #1312 closed

[2018-05-07 20:52] alok87 commented on #597
But why did it fail will that alert tell. Should i make a PR with promtool?

[2018-05-07 21:44] alok87 commented on #1310
Quoting Memavailable feature - https://git.kernel.org/pub/scm/linux/kernel/git/torvalds/linux.git/commit/?id=34e431b0ae398fc54ea69ff85ec700722c9da773

[code]

[2018-05-08 03:40] brancz commented on #951
anything that's an actually valid semver string works, the library we use is https://github.com/blang/semver you can test with that to find out if your string does what you think

[2018-05-08 03:41] brancz commented on #324
@jithinraj89 can you share the servicemonitor itself as well as the service you are trying to select?

[2018-05-08 03:42] brancz commented on #597
Sorry I'm not sure I understand.

[2018-05-08 03:57] jithinraj89 commented on #324
@brancz
Service:
[code]
ServiceMonitor:
[code]

[2018-05-08 04:06] brancz commented on #324
The selector you have is matching for all services with the `k8s-app: app-name` label, but your service actually has `app: app-name`.

[2018-05-08 04:30] vielktus commented on #1306
By the way, even though there's pod kube-state running, Prometheus still can not discover kube-state.

[2018-05-08 04:33] brancz commented on #324
are you actually serving https on that server, if not you will probably want to either delete the `scheme` field or set it to `http`?

[2018-05-08 05:44] bamb00 commented on #834
@amalucelli I have a service that is not external that I am targeting.  Would I still need the endpoint? For example the target will be a service,

          kind: Service
          apiVersion: v1
          metadata:
            name: my-internal-server
            labels:
              k8s-app: node-exporter
          spec:
            ports:
            - name: metrics
              port: 9100

[2018-05-08 06:14] jithinraj89 commented on #324
@brancz
Great 👍
I can now monitor my app with Prometheus-operator.

[2018-05-08 07:09] speedupmate commented on #982
you should reopen this as in GCE the setup fails due kublet requiring authentication and token based auth disabed on kubelet by default in GCE . This should be documented clearly , currently every GCE n00b needs to spend hours on getting this working there and wondering where the auth chain fails or where even to place the config needed to fix

you can get it working by adding a `--set exporter-ku

[2018-05-08 07:13] mxinden commented on #1304
Hi @ArvinDevel,

I am not entirely sure I understand your question. Please ensure, that when you adjust the namespace in one manifest to do the same in all the other ones as well.

[2018-05-08 12:06] ablekh opened #1317 "External IP for ingress is empty - unsure about correct steps"
**What did you do?**

Installed `prometheus-operator`, `kube-prometheus` and Grafana Helm charts as follows:
[code]

**What did you expect to see?**

A real IP address in EXTERNAL-IP column for `sbdh-jh-v3-k8s-grafana` service. Having said that, I realize that one of the following are likely reasons for the issue: 1) incorrect or incomplete configuration of ingress for my Prometheus and/or Grafana

[2018-05-08 14:36] gianrubio commented on #1306
They are right, if you want to change tolerations for kube-state you could set it in kube-prometheus/values.yaml  something like this:

[code]

You should investigate why the pod is not schedule to a node, it's out of the scope of the project to explain how to manage tolerations.

Try to search about this warnings, also check the output of the events

[code]

[2018-05-08 15:05] vielktus commented on #1306
"You should investigate why the pod is not schedule to a node, it's out of the scope of the project to explain how to manage tolerations."
Actually, the pod was scheduled Gianrubio. As I mentioned above, we have 2 pods (1 is running and the other is pending <- which should not be created, this issue).

For the variables in "deployment.yaml", the current variable is
[code]
but the "Tolerations" is

[2018-05-08 15:05] vielktus commented on #1306
"You should investigate why the pod is not schedule to a node, it's out of the scope of the project to explain how to manage tolerations."
Actually, the pod was scheduled Gianrubio. As I mentioned above, we have 2 pods (1 is running and the other is pending <- which should not be created, this issue).

[2018-05-08 15:58] camilb commented on #1201
This example works fine for most use cases. I'm using it to scrape a VM outside Kubernetes, running `node_exporter`. Also tested #1100 but didn't work for me.

[code]

[2018-05-08 17:42] jithinraj89 commented on #324
@brancz  So I have to create separate servicemonitor for all of my apps in the cluster..? Or is there a way to make single servicemonitor to monitor multiple services object.?

[2018-05-08 19:15] bgagnon opened #1319 "Rule evaluation failures for alertmanager.rules"
Two of the `kube-prometheus` rules from `alertmanager.rules` fail to evaluate: `AlertmanagerConfigInconsistent` and `AlertmanagerDownOrMissing`.

The error message is `many-to-many matching not allowed: matching labels must be unique on one side`.

Here are the full log entries:

[code]
and:
[code]

[2018-05-08 20:03] cakirilker commented on #357
@fracasula I followed your instructions and still getting "forbidden" output as detailed below.
[code]

[2018-05-08 20:13] cakirilker commented on #357
@fracasula  I've followed your instructions and still getting "forbidden" output as detailed below:

I'm using minikube v0.25.0 on my local Windows machine.

[code]
[code]
[code]

[2018-05-08 20:15] amalucelli commented on #834
@bamb00 I think that you only need to specify a selector for your `Service` object. Also don't create manually the `Endpoints` resource after that.

Based on the [docs](https://kubernetes.io/docs/concepts/services-networking/service/):

Also in the docs, there's a example of what happens when you don't specify the selector spec.

[2018-05-08 20:59] bgagnon commented on #1319
I wish I knew how to fix this and submit a PR... but my PromQL is weak at best :/ I _think_ the issue is with the `group_right()` clause, but I'm not sure what the problem is exactly.

[2018-05-09 00:46] ArvinDevel commented on #1304
Yes, I did change all the namespace in other ones as well and I apply these manifest under my custom `monitor` namespace context. I don't why should we grand privilege to `system:serviceaccount:monitor:default` user?

[2018-05-09 04:28] vielktus opened #1320 "[Helm] Missing kube-state scraping config in Prometheus"
**What did you do?**
helm install -n kube-prometheus
**What did you expect to see?**
There's `job_label: kube-state` config section in prometheus

**What did you see instead? Under which circumstances?**
Missing `job_label: kube-state` config section in prometheus

Pushing PR

[2018-05-09 07:28] stijndehaes opened #1323 "Loading alerts does not work on 0.19.0"
**What did you do?**

Upgrade from 0.16.1 to 0.19.0 with upgraded quay.io/coreos/prometheus-config-reloader:v0.0.2 to v0.0.4.

**What did you expect to see?**

Alerts to be loaded from configmap as before.

**What did you see instead? Under which circumstances?**

Suddenly alerts did not show up anymore. Changing to version 0.18.1 with reloader v0.0.3 works however.

**Environment**

kops aws

* K

[2018-05-09 10:37] speedupmate commented on #982
@brancz great to know. Just tried to add my input here as lot of searches on this topic lead here. It took a lot of time for n00b like me to get this working and is not essential at all and not documented

[2018-05-09 16:56] ablekh commented on #1317
Hey, @yuvipanda, can you help? I'm a bit stuck and this issue doesn't seem to have any love from Prometheus community :-(.

[2018-05-09 17:51] brancz commented on #1201
Note that #1100 was reverted. Instead use the `additionalConfigs` field, which you can use to utilize the other available service discovery means in Prometheus (such as ec2 discovery).

[2018-05-09 17:57] brancz commented on #324
It's very flexible allowing you to do various combinations depending on what suits your organization best.

With sufficient discipline in your organization you can use a single ServiceMonitor for everything your company runs (this is most likely unrealistic though), you can set the `namespaceSelector` of the ServiceMonitor to discover Services from any namespace. This requires you to have a single

[2018-05-09 18:13] brancz commented on #1323
can you share the alert configmap and logs from the prometheus server as well as the config reloader?

[2018-05-09 20:53] brancz commented on #867
Those are flags you need to have on your command that runs the kubelet, but a 500 error is not what you should be seeing as a result, it should be a 401 or 403. You should have a look at your kubelet logs.

[2018-05-09 21:05] mzupan opened #1324 "Failed to watch *v1.Namespace: unknown (get namespaces)"
**What did you do?**

I'm trying to get the operator running and running into this error

[code]

That's in the prometheus operator logs

This is all running in a `services` namespace and my prometheus config when I load the deployment is only monitoring default it seems like

[code]

* Manifests:

[code]

* Prometheus Operator Logs:

[code]

[2018-05-09 21:34] deboshrestha opened #1325 "Use configmap for the externalLabels field in prometheus-k8s.yaml file."
**What did you do?**
I am trying to set up an `externalLabels` field in `/contrib/kube-prometheus/manifests/prometheus/prometheus-k8s.yaml`  using a ConfigMap I created in the cluster.

_ConfigMap Creation_
`kubectl create configmap special-config --from-literal=cluster-name=sre-k8s-5`

_Prometheus pod manifest i.e. prometheus-k8s.yaml_
[code]

**What did you expect to see?**
I expected the Promet

[2018-05-09 21:34] deboshrestha commented on #455
Thanks! I tried using configmaps here but running into an issue - so opened this one - https://github.com/coreos/prometheus-operator/issues/1325.

[2018-05-09 22:49] jolson490 commented on #1252
With v0.19.0 of prometheus-operator, I'm able to successfully use kube-prometheus on minikube - so I'm closing this issue.

[2018-05-09 22:49] #1252 closed

[2018-05-09 23:31] ablekh commented on #1317
@yuvipanda Thanks for replying, no problem. BTW, what is the timeline for the official z2jh release v0.7?

[2018-05-10 00:14] bamb00 commented on #867
@brancz It was a status 403.  Sorry about the mix up.

     https://172.22.16.61:10250/metrics/cadvisor      server returned HTTP status 403 Forbidden
     https://172.22.16.61:10250/metrics    server returned HTTP status 403 Forbidden

[2018-05-10 07:42] zytek opened #1326 "Document Grafana integration (adding dashboards, data persistence)"
As a (first time) user of Prometheus stack I'm finding it difficult to understand Grafana integration.

I'd like to know especially how to add, edit and persist changes in dashboard configuration, preferably with backups. I see two scenarios here, one is extending the default dashboards set by the cluster admin and the second one is persisting dashboards created by users (developers). The first sc

[2018-05-10 09:08] distol commented on #1166
@brancz, no, please, no! Ability to choose what labels to add to targets and what not to add is very essential! If you force any predefined algorithm without an ability to customize — you limit your users. And if the only way to override that behavior is to complete disable automatic and use `additionalConfig` — what is the operator for? In such scenario, we don't need the operator at al!

[2018-05-10 09:13] distol commented on #1166
As a user of prometheus-operator, I want to be able to customize labels to make the following things possible.
![a](https://user-images.githubusercontent.com/2018901/39862128-829aa84c-544b-11e8-84e1-30e6a280d745.jpg)
![b](https://user-images.githubusercontent.com/2018901/39862129-82bde000-544b-11e8-9e3a-382f9323dce6.jpg)
![c](https://user-images.githubusercontent.com/2018901/39862130-82e592ee-544b

[2018-05-10 09:46] IvanBiv opened #1328 "https://<host>:10250/metrics Forbidden"
I see in Prometheus UI:
[prometheus-operator/helm/]
[code]

I use my K8s cluster.

[code]

I think it about RBAC. How I can fix it?

[2018-05-10 10:39] gianrubio commented on #1317
@ablekh please paste the output of the `kubectl get service svc-name` and `kubectl describe svc-name`

[2018-05-10 17:59] Wenzil opened #1330 "nodeSelector not configurable in coreos/exporter-kube-state chart"
**What did you do?**
`helm install coreos/exporter-kube-state -f my_chart_values.yaml`

**What did you expect to see?**
Pods deployed on the nodes specified by the `nodeSelector` in my yaml file

**What did you see instead? Under which circumstances?**
Pods deployed on a random node

**Environment**

* Kubernetes version information:

[code]

* Kubernetes cluster kind:

GKE

* Manifests:

[code]

[2018-05-10 21:26] Wenzil commented on #982
@speedupmate What version of coreos/prometheus-operator are you using to be able to set `exporter-kubelets.https` to false? It's not documented and it's not listed in the [default values](https://github.com/coreos/prometheus-operator/blob/master/helm/prometheus-operator/values.yaml) either.

[2018-05-10 21:49] prov-thinrichs commented on #1326
In our pipeline we use something similar to this:
[code]
So here's the breakdown:

``` kubectl patch configmap kube-prometheus-grafana```
All the default dashboards are in this configmap, but we want to add a dashboard, so we will patch the configmap

``` --namespace monitoring```
This is the namespace that we've decided to install monitoring stuff into

``` --record=true ```
Record the change in

[2018-05-10 23:27] jescarri commented on #1324
Need to update the prometheus operator rbac rules.

[2018-05-11 00:14] jescarri opened #1331 "serviceMonitorNamespaceSelector and serviceMonitorSelector don't work"
**What did you do?**

Deployed a prometheus with serviceMonitorNamespaceSelector and serviceMonitorSelector

**What did you expect to see?**

Scrape jobs for the matching namespace / serviceMonitor

**What did you see instead? Under which circumstances?**

Only one scrape job.

**Environment**

* Kubernetes version information:

	insert output of `kubectl version` here
`Server Version: version.Inf

[2018-05-11 03:18] stonefury opened #1332 "Question: kube-prometheus "as a library""
Hi. I think this is great!  But in the docs it says "Although this project is intended to be used as a library".  What's wrong with just deploying kubectl create -f manifests/?  Is there something wrong with that deployment?  It all seemed to work pretty well, and was usable.

Thanks

[2018-05-11 06:53] #1320 closed

[2018-05-11 07:43] speedupmate commented on #982
@Wenzil I'm using whatever comes out of helm installation today and on google container engine where by default the installation succeeds but kubelet information is not available due auth issues

[2018-05-11 08:02] gianrubio commented on #982
@Wenzil I don’t  have experience with GKE and Prometheus, I think this is the flag you are looking for https://github.com/coreos/prometheus-operator/blob/7b51c6052f165b4729657771b94ab2dddb667fc2/helm/exporter-kubelets/values.yaml#L2

[2018-05-11 08:08] vielktus commented on #1306
Yes I did. I will have a check again.

for this https://github.com/coreos/prometheus-operator/issues/1306#issuecomment-387434365, I will make a PR to get you more details.

[2018-05-11 08:31] stijndehaes commented on #1323
After retrying the scenario to gather all the logs. It seemed that a second reload some 3 minutes after startup does load the alerts correctly. This got me confused as in previous versions the loading of the alerts was almost instant.
See the following logs:

[code]

[2018-05-11 08:31] #1323 closed

[2018-05-11 09:05] VinceMD commented on #1332
yeah I'm a little bit confused now as how to use the latest release 1.9.

I figured the Readme version I should use is this one https://github.com/coreos/prometheus-operator/tree/release-0.19/contrib/kube-prometheus

Since master is not released yet.

But if/how to use it as a library. I used to alter the yaml files before running the `hack/cluster-monitoring/deploy` command.

How do I:

- tell Op

[2018-05-11 10:15] vinodhbasavani commented on #1001
I don't have any endpoints for kube controller manager and scheduler then how to monitor them using prometheus and prometheus operator

[2018-05-11 11:55] VinceMD commented on #1326
The name of the configmap has changed in 0.19

`kubectl patch configmap grafana-dashboard-definitions --namespace monitoring --record=true -p "$(cat ./dashboards.yaml)" || true`

Is there a doc that explains this process?

[2018-05-11 12:32] VinceMD commented on #1326
Last I tried

[code]
hack/grafana-dashboards-configmap-generator/bin/grafana_dashboards_generate.sh
# Starting execution of grafana_dashboards_generate on 2018-05-11-222951
# Configured size limit: 240000 bytes
# Grafana input dashboards and datasources will be read from: pathprometheus-operator-0.19.0/contrib/kube-prometheus/hack/grafana-dashboards-configmap-generator/templates/grafana-dashboards

[2018-05-11 12:50] VinceMD opened #1335 "Helm Chart Grafana can't find token to mount"
**What did you do?**
helm install coreos/grafana

**What did you expect to see?**
The grafana container launched

**What did you see instead? Under which circumstances?**
`grafana-59b8c54695-rpr8t          0/1       ContainerCreating   0          3m`

[code]

**Environment**

* Kubernetes version information:

[code]

* Kubernetes cluster kind:

kube-aws
* Manifests:

[2018-05-11 14:29] sjones-sot commented on #1079
The RBAC failings appear to be helm/tiller on AKS when using a namespace not initially used for Tiller - the charts rendered and applied via `kubectl create -f` work - Similar issues with Elastic etc

[2018-05-11 14:47] mzupan commented on #1324
Thanks issue solved not sure how i missed it

[code]

[2018-05-11 14:47] #1324 closed

[2018-05-11 16:28] mitchellmaler opened #1336 "Question about Prometheus in a shared cluster"
Hello,

We are looking at using a shared k8s environment as trying to plan how multiple teams will manage their prometheus envs. Is it safe to say that we would have to deploy the operator in each namespace which then deploys their own instance of prometheus and alert manager?

We are also having some difficulty knowing how each team will configure each instance. It looks as you have to use a secr

[2018-05-11 18:38] distol commented on #1166
I explained reasons in the first comment.
1. Ability to add extra labels from Kubernetes sd (for now it's impossible because there is no access to  `__meta_*` on the metrics_relabeling stage).
2. When we scrape kubelet, node_exporter (and some other system components, that are deployed as daemonset's) — we do not need either pod names, neither IP-addresses — we need node names, because they are me

[2018-05-11 18:40] distol commented on #1166
And, by the way, if we already have metrics_relabeling — why not add relabeling?

[2018-05-11 19:05] brancz commented on #1336
With #1333 we are finishing something that we've been working on for some time, which is the ability to share 1 prometheus servers in either combination of either 1 to 1 mapping of namespace to Prometheus server or n to 1, while retaining the ability to configure what's important for the users: how to retrieve metrics (ServiceMonitors) and what to do with metrics (Rules). This allows an infrastruc

[2018-05-11 20:04] dm3ch opened #1337 "Wrong prometheus address in grafana config when routePrefix configured"
**What did you do?**
I have installed prometheus-operator and kube-prometheus from helm and added routePrefix option
Try to open any dashboard.
**What did you expect to see?**
Working dashboard
**What did you see instead? Under which circumstances?**
No graphs and templating error

If I right understood this problem is caused by
https://github.com/coreos/prometheus-operator/blob/master/helm/grafan

[2018-05-11 21:47] brancz commented on #1332
The rendered manifests in `contrib/kube-prometheus/` are only there because it's an easy way to get started. The new readme in `contrib/kube-prometheus/` describes in detail, how these manifests can be generated with any customization you may want.

My personal opinion is that helm is fundamentally the wrong solution, because every possible customization that could be possible needs to be in the "

[2018-05-11 22:03] brancz commented on #1328
This means your Prometheus server does not have enough permissions to request those metrics. In `contrib/kube-prometheus` this is definitely correctly configured, so I imagine there is some problem with the helm charts. cc @gianrubio

[2018-05-11 22:07] brancz commented on #1331
Which version of the Prometheus operator are you using? The `serviceMonitorNamespaceSelector` was only introduced in the latest (v0.19.0) release.

[2018-05-12 01:33] VinceMD commented on #1326
@brancz no worries. If you could give me some pointer on how to do it with 0.19 (adding dashboards), would be great. And also how to monitor any namespace (there is an option but no idea where to change that option :D )

I use kube-aws and kube-aws has just made it easier to use Prometheus by opening all the required ports (etcd, controllers. workers).
What I would love is to help write a doc so t

[2018-05-12 01:38] VinceMD commented on #1332
@brancz I'm with you. If HELM is not the preference of the main contributor, I'll stick to the normal setup procedure.

I'm going to revert to 0.17 or 0.18 until docs are written.

I found it hard to understand the new readme in contrib/kube-prometheus/ but with your new docs next week, I have hope :)
I think we need some sort of design/concept document to understand how it's intended to be used.

[2018-05-12 01:54] ArvinDevel commented on #1304
thanks all of you.

[2018-05-12 01:54] #1304 closed

[2018-05-12 02:04] bamb00 commented on #867
How do I set the correct permission for prometheus? This install is directly clone from prometheus-operator github.

[2018-05-12 10:03] IvanBiv commented on #1328
Before deploy with helm I do:

$ kubectl -n kube-system create sa tiller
$ kubectl create clusterrolebinding tiller --clusterrole cluster-admin --serviceaccount=kube-system:tiller
$ helm init --service-account tiller --upgrade

from https://github.com/coreos/prometheus-operator/tree/master/helm/prometheus-operator
But I see the same `server returned HTTP status 403 Forbidden` in `kubelet` category

[2018-05-12 11:34] #1328 closed

[2018-05-13 19:11] mxinden commented on #1273
@jimsmith Can you let us know if the above works for you?

[2018-05-13 19:43] mxinden commented on #597
@alok87 In regards to validating rule files before triggering a reload on Prometheus. I am working on https://github.com/coreos/prometheus-operator/pull/1333 which introduces rule file crds with creation time validation via OpenAPI specs.

But I think the error message improvement is still greatly appreciated.

[2018-05-13 20:05] mxinden commented on #1323
@stijndehaes recent changes moved the reload to a time based interval. This will improve with https://github.com/coreos/prometheus-operator/pull/1333.

[2018-05-14 09:35] brancz commented on #867
If you use the helm charts or the manifests provided in `contrib/kube-prometheus/` then the permissions are already configured correctly. Can you share more concretely what you applied and what didn't work?

[2018-05-14 09:45] vielktus commented on #1306
ok @gianrubio. I pushed a PR, please help me to review.

[2018-05-14 10:55] gianrubio commented on #828
Seem like #1333 will fix this issue 😄

[2018-05-14 11:00] gianrubio commented on #1317
The grafana were you installed is not supported by this project, you should open an issue in the [kubernetes/charts ](https://github.com/kubernetes/charts/) upstream.

[2018-05-14 11:00] #1317 closed

[2018-05-14 11:03] gianrubio commented on #1335
I don't recommend you to install grafana as a standalone, please install it using kube-prometheus.
The token issue is related to your k8s administration, prometheus-operator doesn't manage tokens. This issue could be caused by a lot of possibilities, please use google to search about it

[2018-05-14 11:03] #1335 closed

[2018-05-14 11:05] gianrubio commented on #1330
this issue is duplicate of #1306, it will be fixed by #1339.

[2018-05-14 11:05] #1330 closed

[2018-05-14 12:00] brancz commented on #828
Indeed, the biggest gain we're getting out of that is that we can then allow rules for a single prometheus server to be defined across namespaces as well as provide validations at apply time and more fine grained RBAC. We'll close this once #1333 is merged.

[2018-05-14 12:37] brancz commented on #1332
Awesome! I'm starting to write some more documentation, I'll let you know when I have something to go through! :slightly_smiling_face: Thanks a lot for offering your help, I highly highly appreciate it!

[2018-05-14 14:33] mmiller1 opened #1341 "Alertmanager externalUrl value change is not applied"
**What did you do?**
Updated externalUrl parameter in Alertmanager resource
**What did you expect to see?**
"--web.external-url=" reflects changes made on the alertmanager resource
**What did you see instead? Under which circumstances?**
"--web.external-url=" still reflects previous value.
**Environment**
[code]

* Kubernetes cluster kind:
	bare metal, self managed
* Manifests:

[code]
flags appli

[2018-05-14 15:53] jescarri commented on #1331
@brancz Do'h! I forgot to mention it, my bad, I'm using `v0.19.0`

[2018-05-14 16:01] mxey opened #1342 "[kube-prometheus] NOTES.txt fails without deployGrafana"
**What did you do?**

[code]

**What did you expect to see?**

Rendered templates of kube-prometheus

**What did you see instead? Under which circumstances?**

[code]

**Environment**

only Helm client locally.

[code]

**Notes**

From looking at the NOTES.txt template, I assume the same would happen with deployAlertmanager=false

[2018-05-14 18:31] mxinden commented on #1331
@jescarri Thanks a lot for the detailed bug report.

Your Prometheus CRD has a wrong `ServiceMonitorNamespaceSelector`:
[code]
`ServiceMonitorNamespaceSelector` is a `k8s.io/apimachinery/pkg/apis/meta/v1.LabelSelector`, not a `github.com/coreos/prometheus-operator/pkg/client/monitoring/v1.NamespaceSelector`.

I would suggest adding a label to each namespace that you want to scan for ServiceMonitor

[2018-05-14 20:16] stijndehaes commented on #1323
@mxinden That improvement looks very nice!

[2018-05-14 20:48] williamsandrew commented on #1293
Just ran into this. Is there any workarounds at the moment?

[2018-05-14 21:02] jescarri commented on #1331
Ha!, that made the difference, I ended up using a matchExpression.

Thanks for the help!.

[2018-05-14 21:02] #1331 closed

[2018-05-15 07:56] ablekh commented on #1317
@gianrubio If this project supports different Grafana package, how could I install and use it (after removing the unsupported one)? Please clarify.

[2018-05-15 08:00] brancz commented on #1293
I'm not aware, but we should work on this, we're currently quite busy but I'm hoping we can get this fixed for the next release.

[2018-05-15 14:52] bamb00 opened #1343 "Question: kube-prometheus chart values.yaml"
**What did you do?**
Does the alertmanager & prometheus "baseImage:, image:" key:value in values.yaml get use in the kube-prometheus chart?
**What did you expect to see?**
baseImage and tag use in the kube-prometheus chart
**What did you see instead? Under which circumstances?**
Cannot find anywhere in the chart those key:value is being use?
**Environment**
prometheus-operator 0.19.0, CentOS 7.4
*

[2018-05-15 15:35] stonefury opened #1344 "Question: Blank pod metrics when deployed with Rancher"
Hi all,

Trying to get pod metrics to work.

First, I have to reiterate this is a great project, and it works extremely well for k8s monitoring with the simple starter "deploy" command, when I'm using KOPs.  With kops, it all just works fine.

However, our production environment is using Rancher 1.6.16 and k8s 1.9.5.  All of my pod metrics are blank.  Am I right in my understanding that kube-state

[2018-05-15 16:02] azzaka commented on #867
Hi @brancz

I beg to differ on that score. I used the helm charts and had no issues with the install nor any issues with permissions.

I have since updated k8s to 10.0.2 and the Prometheus Helm Chart no longer has permission to talk to the pods:

endpoint="https-metrics" instance="10.26.3.63:10250" namespace="kube-system" service="kubelet" - server returned HTTP status 403 Forbidden

I have checke

[2018-05-15 16:16] brancz commented on #867
cc @gianrubio this sounds like there may be a problem with the helm charts

[2018-05-15 21:49] astub commented on #38
So is there a way to monitor pods as of now with prom operator?

[2018-05-16 08:05] Renol7 commented on #1326
Yes, I use kube-prometheus **v0.19.0** and **I can't modify or add custom dashboards** because this version uses the external repo _github.com/brancz/kubernetes-grafana_ (specific commit 5df0eaa17361ce77f4a0486cc89f44f43bd51829) to download Grafana dashboards and does not use "assets/grafana" folder dashboards as https://github.com/coreos/prometheus-operator/blob/master/contrib/kube-prometheus/doc

[2018-05-16 08:29] brancz commented on #38
@astub you can already monitor Pods with ServiceMonitors, the thing is just that typically there is no uniform way Pods are labeled or ports are named across organizations (not even kubernetes components themselves), which is why it's most of the time not practical to perform this kind of monitoring.

[2018-05-16 08:30] brancz commented on #1326
I'm in the process of writing the docs on how to do this, stay tuned, I'll open a PR today or tomorrow.

[2018-05-16 12:11] brancz commented on #1344
kube-state-metrics only gives you metrics about the Kubernetes API objects, so basically what you can see with `kubectl get <resource> <object-name> -oyaml`, meaning this does not give you cpu, ram, and network. Those metrics come from a component called cAdvisor, which is built into the kubelet.

Is Prometheus able to scrape the cadvisor endpoints? You can check that in the Prometheus UI under `/

[2018-05-16 16:14] stonefury commented on #1344
@brancz, got it, thank you for explaining that, appreciate it. I'll take a look at your suggestion. :)

[2018-05-16 17:03] astub commented on #38
@brancz I get that pods can have annotations defining the ports and metrics endpoint. Could you provide an example? I see in the Prometheus config 'role: endpoint' not 'role: pod'.

[2018-05-16 19:03] bryanlarsen opened #1348 "Unable to add a new service to be monitored"
**What did you do?**

 Created a new servicemonitor

[code]

which should match

[code]

**What did you expect to see?**

 I expected to see it appear in the prometheus dashboard under targets

**What did you see instead? Under which circumstances?**

It does show up in /etc/prometheus/config_out/prometheus_env.yaml:

[code]

it just never shows up in targets.

**Environment**

* Kubernetes versio

[2018-05-16 19:13] bryanlarsen commented on #1348
It's working now.   Hopefully the bug description helps somebody else...

[2018-05-16 19:13] #1348 closed

[2018-05-16 19:42] gianrubio commented on #1343
@bamb00 yes, you could specify here https://github.com/coreos/prometheus-operator/blob/master/helm/kube-prometheus/values.yaml#L42-L44 and here https://github.com/coreos/prometheus-operator/blob/master/helm/kube-prometheus/values.yaml#L177-L179

[2018-05-16 19:43] #1306 closed

[2018-05-16 22:40] bamb00 commented on #1343
Hi @gianrubio,

The question is how's the alertmanager & prometheus (image, repository, tag) in values.yaml being used when helm install kube-prometheus chart?  Is it being use in another way?

I am a little confused.  Even though it is set in values.yaml but does not get call in kube-prometheus chart.  I review the .yaml in templates and could not find where the image is being call.

     prometh

[2018-05-17 04:13] stonefury commented on #1344
I learned that Rancher enables kubelet auth, so I turned it off and not the cadvisor targets are all reached.

But if I bring up nginx with simply

kubectl run --image nginx nginx

Shouldn't I be able to get basic pod level metrics on it? Or do I need to create a service monitor? I thought all pods were automatically monitoring.

[2018-05-17 10:03] minhdanh commented on #979
@leifmadsen the work around is not working for me, as it still results in a pvc name that is still long like this `prometheus-kp-prometheus-db-prometheus-kp-prometheus-0`, which is 72 characters.

Any way to fix this completely?

[2018-05-17 11:33] leifmadsen commented on #979
@minhdanh I haven't figured out where the operator chooses to do the naming convention. I started looking and played around with some naming overrides in the CRD, but I think it's embedded in the container image. I haven't gone through all the code to figure out where the naming happens.

This isn't a Helm issue though, as I'm deploying Operator without Helm at all. I ported all the original stati

[2018-05-17 12:38] brancz commented on #1344
We should document it more specifically but a reasonably secure setup is enabling token authN and authZ. The respective flags for those are:

* `--authentication-token-webhook=true`
* `--authorization-mode=Webhook`

The kube-prometheus stack is by default configured correctly with this, so you can run your cluster to be completely unsecured.

We have the minikube call documented here: https://gith

[2018-05-17 14:31] mikeln opened #1350 "kube-prometheus grafana Helm Chart Missing service.labels Override"
**What did you do?**
Deploy kube-prometheus, with additional labels set for grafana, alertmanager, prometheus services.

**What did you expect to see?**
The labels present on the deployed services.

**What did you see instead? Under which circumstances?**
The labels were present on all services except grafana.

The grafana chart does not have a way to supply additional service.labels in the chart

[2018-05-17 15:02] MichaelLiZhou commented on #867
### Environment
`Server Version: version.Info{Major:"1", Minor:"10"`

I used the manifest files with different namespace + node-ports. I too get a 403 on the kubelets but my apiserver + operator is up.

I checked the the service role and looks like its what was described above.
[code]

[2018-05-17 16:05] mikeln commented on #1350
to be more explicit:  here is alertmanager service.yaml
[code]

vs  grafana svc.yaml
[code]

- note the missing section to allow extra user specified labels...

[2018-05-17 16:13] brancz commented on #38
Prometheus Kubernetes SD has both, endpoints and pod roles. This Issue refers to the usage of the pod role to abstract the configuration. The currently used ServiceMonitor makes use of the endpoints role.

The prometheus upstream team (of which all the prometheus-operator maintainers are part of) have discussed multiple times and the majority of us agree that the annotation based scheme is insuffi

[2018-05-17 19:10] deboshrestha commented on #1325
Also I just noticed in the logs for the `prometheus-operator` pod I see the following error -

[code]

Am I missing something here in the syntax? The pod specification written in Go for the `prometheus-k8s` pod does it even supports an entry like this?

[code]

for the `externalLabels` section?

[2018-05-17 23:40] jeromefroe opened #1352 "Cluster Monitoring Guide doesn't Include node-exporter Service Account"
**What did you do?**

Deployed `node_exporter` using the `DaemonSet` and `Service` manifests listed in the [Cluster Monitoring guide](https://coreos.com/operators/prometheus/docs/latest/user-guides/getting-started.html).

**What did you expect to see?**

The daemon set for `node_exporter` to be deployed successfully.

**What did you see instead? Under which circumstances?**

The daemon set control

[2018-05-18 03:42] minhdanh commented on #979
Yeah, this isn't an issue with Helm but with Prometheus Operator.

So you ported all the charts in /helm/ to deploy to Kubernetes, right? I wonder how that could help with the gluster volume name issue, as there's no template file to define a PVC in kube-prometheus chart, like Grafana (https://github.com/coreos/prometheus-operator/blob/fa10f2751c62a00a7f4c3114cd9e5a31b3ec2e8f/helm/grafana/template

[2018-05-18 03:47] transient1 opened #1355 "prometheusRules in values.yaml being ignored"
**What did you do?**
I'm trying to get a handle on Helm and Prometheus, so I'm experimenting and making small changes to see what Helm does. I edited prometheus/values.yaml by uncommenting out "prometheusRules" and added my own small block (which is actually just a block taken from the Prometheus website as an example of a rules file).

**What did you expect to see?**
I expected that when I ran `h

[2018-05-18 04:51] vielktus opened #1356 "[Helm] Separated Prometheus doesnt have Alertmanager endpoints"
I wanted to deploy a separated Prometheus (to create a CRD Prometheus and let Operator generates configs ). I already deployed `kube-prometheus` before and it's working FINE.
I used this command to deploy one more Prometheus (And only Prometheus, no Alertmanager, no Grafana, No rules, No Servicemonitors):
[code]
And I got 2 Prometheus CRD
[code]
I specified Alertmanager endpoints in `prometheus-ap

[2018-05-18 07:05] minhdanh opened #1357 "[Helm] Cannot deploy prometheus-operator with storage on glusterfs"
**What did you do?**

I used Helm to deploy prometheus-operator with glusterfs for storage. Here's the config for the storage:

[code]
**What did you expect to see?**

I expect the pods kube-prometheus to be deployed correctly, with a dynamic glusterfs volume provisioned and mounted.

**What did you see instead? Under which circumstances?**

The pod kube-prometheus keeps staying in `ContainerCreat

[2018-05-18 07:11] minhdanh commented on #979
I report the issue with too long glusterfs volume name here: https://github.com/coreos/prometheus-operator/issues/1357

[2018-05-18 07:42] #1352 closed

[2018-05-18 07:44] brancz commented on #1325
The `externalLabels` field is simply a map of strings, so something like:

[code]

I think what you wanted to do would be neat, but unfortunately would be a breaking change, that we cannot introduce.

[2018-05-18 10:10] brancz commented on #1326
We have just updated the docs for Grafana dashboards and Prometheus rules: https://github.com/coreos/prometheus-operator/blob/master/contrib/kube-prometheus/docs/developing-prometheus-rules-and-grafana-dashboards.md

Let us know if anything is unclear! :slightly_smiling_face:

I'll close this issue, but feel free to continue the discussion or open a new issue if there is anything about the new doc

[2018-05-18 10:10] #1326 closed

[2018-05-18 13:41] transient1 commented on #1355
I tried using `helm install prometheus --dry-run --debug` instead, just in case there was something needed from Tiller to render that block. The computed values portion shows my specific config
[code]

But the rendered configmap has an empty data block
[code]

[2018-05-18 14:03] mxinden commented on #1325
@deboshrestha As of right now, we are using the [Thanos config reloader](https://github.com/coreos/prometheus-operator/blob/master/vendor/github.com/improbable-eng/thanos/pkg/reloader/reloader.go#L240), which automatically expands any env variables inside the Prometheus configmap.

So you could do something like this is the Prometheus CRD:
[code]

But this still leaves you with the problem on how

[2018-05-18 14:33] Renol7 commented on #1326
Great! The generation of grafana dashboards works for me 🙂

Unfortunately, I prefer to use release versions, so I have to wait to test it better... I will continue to use 0.19.0 version.

Maybe we should document options available in the Makefile.
For example, "compiling" section (https://github.com/coreos/prometheus-operator/tree/master/contrib/kube-prometheus#compiling) could be replaced by `mak

[2018-05-18 14:36] brancz commented on #1326
Thanks a lot for the valuable feedback! Would you like to create a PR and add your tipps to the readme for future users? :slightly_smiling_face:

We're hard at work getting the next release out, but we're working on some major features so it's still going to take a few weeks.

[2018-05-18 14:37] ResDiaryLewis opened #1359 "[kube-prometheus] Best practice for overriding serviceMonitorSelector"
**What did you do?**

I attempted to set the `serviceMonitorsSelector` to `{}` with both the `--set` flag (I don't think is possible via the command line):
`helm upgrade kube-prometheus coreos/kube-prometheus --version 0.0.67 --set prometheus.serviceMonitorsSelector={}`

and a values .yaml file:
`helm upgrade kube-prometheus coreos/kube-prometheus --version 0.0.67 -f .\customValues.yaml --debug --

[2018-05-18 14:46] Renol7 commented on #1326
Sure! I am going to create it!
And I will document more sections when the new version is available (because I will have to use the new features).

No worries, I will stay tuned! 🙂 I am going to use the new version until that!

[2018-05-18 15:18] mitchellmaler commented on #1336
@brancz That sounds awesome. Being able to have a single prometheus with rules and service monitors in different namespaces. Do you know when this will be released and available?

[2018-05-18 15:21] mxinden commented on #1336
@mitchellmaler We are planning to release this with Prometheus Operator `v0.20.0`. @brancz just merged the PR.

Missing pieces:
- Documentation
- Migration path
...

[2018-05-18 15:57] brancz commented on #1336
Just to set expectations, there is no planned timeline, it’s done when it’s done. Problems can pop up at any time that can indefinitely defer a release.

That said the major features that we were aiming for in this release have been merged :) now it’s validating further that everything works as expected and the thing Max has already mentioned.

[2018-05-18 16:01] mitchellmaler commented on #1336
@brancz That makes perfect sense! Just excited to give it a try! 👍

[2018-05-18 18:13] jolson490 commented on #1136
hi @mxinden . I see you beat me to this - that you already did this via #1192 - thanks! Closing this issue.

[2018-05-18 18:13] #1136 closed

[2018-05-18 19:10] gianrubio commented on #1357
There's not to do in helm so I created a PR to limit the volume name in 63 chars

[2018-05-18 19:30] gianrubio commented on #1317
@ablekh when you install[ kube-prometheus it already install](https://github.com/coreos/prometheus-operator/blob/master/helm/kube-prometheus/requirements.yaml#L61) grafana for you. No need to manually install grafana just follow [this guide](https://github.com/coreos/prometheus-operator/tree/master/helm#tldr)

[2018-05-18 22:53] deboshrestha commented on #1325
Is there any known solution for defining environment variable inside the prometheus-reload-container?

[2018-05-21 07:00] sujithnss opened #1364 "Is Prometheus Federation feature available here now ???"
Hi

This is just a question , do we have Prometheus Federation feature available with Prometheus Operator today ??? How we can implement the same

Best Regards
Sujith P V

[2018-05-21 09:08] amir-hadi commented on #817
Hi @brancz,

is this still the case? To me it looks like that it was removed, because I don't have a second instance of prometheus running.

Also would this second instance be defined as source in Grafana?

Note: I am new to this deployment and Prometheus in general.

[2018-05-21 09:32] akshays244 commented on #958
i was just wondering why does prometheus doesn't provide Kubernetes POD related  inbuild matrices

[2018-05-21 19:06] jolson490 commented on #1324
I'm using [kube-prometheus v0.19.0](https://github.com/coreos/prometheus-operator/tree/v0.19.0/contrib/kube-prometheus), and I too am getting the following in prometheus-operator logs:
`E0517 17:06:40.310569       1 reflector.go:322] github.com/coreos/prometheus-operator/pkg/prometheus/operator.go:300: Failed to watch *v1.Namespace: unknown (get namespaces)
`

hi @mzupan , can you please further e

[2018-05-21 19:08] mzupan commented on #1324
@jolson490 ya `- watch` would need to be added in the example

[2018-05-21 21:42] jolson490 commented on #1324
Just curious, if someone off the top of their head knows what the impact of this error is, could you please let me know? I haven't yet applied the proposed fix (from the PR I just created) to my clusters that I'm running, but all 3 kube-prometheus apps (prometheus & alertmanager & grafana) still seem to be working as expected.

[2018-05-21 22:14] jolson490 opened #1368 "kube-prometheus: RBAC questions"
**`#1)`**

[prometheus-operator/helm/](https://github.com/coreos/prometheus-operator/tree/master/helm) has `rbacEnable` - e.g. in [prometheus-operator/values.yaml](https://github.com/coreos/prometheus-operator/blob/master/helm/prometheus-operator/values.yaml).

**Can/should [kube-prometheus](https://github.com/coreos/prometheus-operator/tree/master/contrib/kube-prometheus) also have such functiona

[2018-05-21 22:22] inodb opened #1369 "helm chart: kube-etcd 4001 port blocked on master node in kops"
**What did you do?**
On a kops cluster with tiller running
[code]

Then checked out prometheus dashboard with
[code]
The kube-etcd service wasn't working in targets. It's because 4001 port is blocked by default by kops.

**What did you expect to see?**
kube-etcd working. Ideally it would use the https port 2379

**What did you see instead? Under which circumstances?**
kube-etcd gave an alert that

[2018-05-21 23:56] VinceMD commented on #1332
@brancz thanks

"provided example rule." -> link is broken in developing-prometheus-rules-and-grafana-dashboards.md

[2018-05-22 01:12] dgeorgievski opened #1370 "Prometheus not discovering ServiceMonitor"
**What did you do?**
Created ServiceMonitor for a custom app. Followed guidelines in https://itnext.io/kubernetes-monitoring-with-prometheus-in-15-minutes-8e54d1de2e13

**What did you expect to see?**
Automatic ServiceMonitor discovery by Prometheus, and scraping of the /metrics endpoint

**What did you see instead? Under which circumstances?**
I didn't see anything in Prometheus that the new Serv

[2018-05-22 01:29] altoic opened #1371 "Servicemonitor for kube-apiserver is discovered using wrong namespace"
**What did you do?**
I deployed operator with the kube-prometheus manifests. And I am changing the servicemonitors for my own cluster parameters. One of the servicemonitors that are not working as I expected is the apiserver. The configuration default matchNames: default and picks up my apiserver running in the kube-system namespace. The tags are also misaligned.
**What did you expect to see?**
I

[2018-05-22 01:45] VinceMD commented on #1332
I think the Usage section of https://github.com/coreos/prometheus-operator/tree/master/contrib/kube-prometheus can be improved further:

- You may wish to not use ksonnet and simply render the generated manifests to files on disk" -> as opposed to what? If we don't do that, then what is the set of commands to install prometheus operator in a Kubernetes cluster
- "this can be done with:" -> for the

[2018-05-22 09:50] whypro opened #1372 "Add apiserver configs to Spec to support custom `kubernetes_sd_config`"
**What did you do?**

/feature

In our cases, we use neutron network model to limit network access among multi-tenants. User pods in non-kube-system namespace accessing kube-apiserver must use specific domain and provider auth info. They cannot access to kubernetes.default svc directly.

So I expect to add apiserver configs to `PrometheusSpec` or `ServiceMonitorSpec` to support this features, like

[2018-05-22 09:59] nesoneg opened #1373 "pec.clusterIP: Invalid value: "None": field is immutable"
**What did you do?**
`helm upgrade -f values.yml prometheus-v2 stable/prometheus`

**What did you expect to see?**
`Release "prometheus-v2" has been upgraded. Happy Helming!`

**What did you see instead? Under which circumstances?**
`Error: UPGRADE FAILED: Service "prometheus-v2-kube-state-metrics" is invalid: spec.clusterIP: Invalid value: "None": field is immutable && Service "prometheus-v2-node

[2018-05-22 13:43] leifmadsen commented on #979
@minhdanh I ported the static files, not the helm charts.

[2018-05-22 13:44] leifmadsen commented on #1357
The name is auto-generated somehow, I suspect by the Operator container itself. No change in Helm will resolve this unless you limit the name to something like 2 chars, and even then, certain environments will still result in longer than 63 chars. I haven't figured out where this lies specifically, but it can't be resolved in Helm. It needs to be resolved in the Operator code or CRD.

[2018-05-22 14:29] aranair commented on #1355
I think it needs a key. Try this:

[code]

[2018-05-22 16:03] felipejfc opened #1375 "setting --storage.tsdb.min-block-duration and --storage.tsdb.max-block-duration"
Hi, I'ld like to specify both of these settings manually but can't find any way in the operator API to do it, is it possible?

[2018-05-22 23:14] VinceMD commented on #1332
Another issue after running `build.sh` and `apply -f manifests/`

[code]
What is the tool we have to use to shared the dashboards in multiple configmaps?
Can this be added to the doc https://github.com/coreos/prometheus-operator/blob/master/contrib/kube-prometheus/docs/developing-prometheus-rules-and-grafana-dashboards.md?

[2018-05-23 07:59] VinceMD commented on #1332
About the other questions (storage, etcd secret, ingress)

# etcd secret

I crated a jsonnet like this:
[code]
It did add the secret to the spec of the Prometheus in the manifest file

# Ingress
I looked at kube-prometheus-node-ports.libsonnet and tried to adapt it. I can include it fine so my ports and target ports are set.
But I have no idea how to create an ingress and I'm lost with the jsonnet

[2018-05-23 08:03] ResDiaryLewis commented on #1359
Correct me if I'm wrong but I think that `serviceMonitorSelector: {}` does select all of them

[2018-05-23 20:46] ryanash999 opened #1378 "[kube-prometheus] Missing kube-scheduler target"
**What did you do?**
Implemented kube-prometheus v0.18.0 on kubernetes v1.10.2 (kubeadm install) using the provided shell script.

**What did you expect to see?**
All of the servicemonitors creating the appropriate Prometheus service discovery configuration and associated targets.

**What did you see instead? Under which circumstances?**
Service discovery for schedule and controller are not return

[2018-05-24 09:20] mrueg opened #1379 "Add support for serviceMonitorNamespaceSelector to prometheus helm chart"
**What did you do?**
Tried out the prometheus{,-operator} helm chart
**What did you expect to see?**
Support for serviceMonitorNamespaceSelector in prometheus chart, allowing me to select prometheus labels via a matchLabel / matchExpression syntax
**What did you see instead? Under which circumstances?**
Not yet supported there

I'm not fully aware how the serviceMonitorNamespaceSelector currently

[2018-05-24 12:41] brancz commented on #1273
Both of the last statements are correct (including the discovery service being fixed). Thanks for the comprehensive write up!

[2018-05-24 12:41] #1273 closed

[2018-05-24 12:49] brancz commented on #1332
Sorry for not answering, I was on vacation for the past two days (and Monday was a public holiday in Germany).

Thanks a lot for all your feedback, it's extremely valuable. I have already started writing docs for all those topics. I will get back to this within the next couple of days, hopefully with more docs to test! :slightly_smiling_face:

This is generally fine, it just means you will ultimat

[2018-05-24 12:54] brancz commented on #1215
@wleese that makes sense. The problem I want to avoid is enabling users to create public Prometheus servers with unauthenticated/unauthorized admin APIs.

[2018-05-24 12:56] brancz commented on #958
Prometheus is not opinionated about what it monitors, plus there would be endless opinions on the "correct" queries, alerts, dashboards, etc. That's the purpose of external projects like kube-prometheus.

[2018-05-24 12:58] brancz commented on #817
@amir-hadi only the cluster monitoring hack script was removed as it's now a simple `kubectl create -f manifests/` to create and `kubectl delete -f manifests/` to teardown the stack. Eventually this will happen with the remaining manifests as well, but as of now the example-service-monitoring scripts still exist.

[2018-05-24 13:01] gianrubio commented on #1370
could you paste your prometheus object and the endpoints of the service?

[2018-05-24 13:09] jimsmith commented on #1273
Hi, sorry I moved off the project I was working on for this. Looks like from what I'm reading it got fixed ?

[2018-05-24 13:22] brancz commented on #1378
Your ServiceMonitor is selecting Services with the `component: kube-scheduler` label:

[code]

However, your Service has the `k8s-app: kube-scheduler` label.

[code]

[2018-05-24 13:28] brancz commented on #1359
An empty selector in Kubernetes is the "all" selector, so this behavior just follows Kubernetes norm.

[2018-05-24 13:34] #1341 closed

[2018-05-24 13:40] brancz commented on #1371
The apiserver is discovered through the service in the default namespace, so it's working correctly. Alternatively what you can do is create another service in the kube-system namespace and discover the apiserver pods through that.

If I understand correctly, the confusion is that the apiserver while it actually runs in the kube-system namespace is discovered under the default namespace. While str

[2018-05-24 13:42] felipejfc commented on #1375
I see, @Bplotka seems its not happening :/

[2018-05-24 13:47] brancz commented on #1368
I believe no, because the objects can still successfully be created, and anyone using Kubernetes without RBAC is running a cluster that is effectively already compromised, you're allowing anyone and anything to create root containers on any host. Security is already hard enough to get right, I don't want to make it easier or encouraged in the first place to do the wrong thing.

Yes, in fact we cha

[2018-05-24 13:51] brancz commented on #1375
Can you elaborate on the use case you why you would want to tune these flags?

[2018-05-24 13:53] felipejfc commented on #1375
It's for using [thanos](https://github.com/improbable-eng/thanos), @Bplotka can elaborate better than me

[2018-05-24 13:55] brancz commented on #1324
The namespace watch is only required when the `serviceMonitorNamespaceSelector` is non-nil. Currently it still is in kube-prometheus, but in the future this will likely change, which is why you may not have seen an effect yet.

[2018-05-24 13:58] brancz commented on #1364
Prometheus federation simply uses a different metrics endpoint than `/metrics`. You can configure the metrics path in the `ServiceMonitor` object. So yes, you can do federation with the Prometheus Operator.

[2018-05-24 13:58] #1364 closed

[2018-05-24 14:00] Bplotka commented on #1375
Yea, for thanos, running local compaction is not advised, so `--storage.tsdb.min-block-duration` should equal to `--storage.tsdb.max-block-duration` and all should equal to 2h.

I think currently Prometheus default for `--storage.tsdb.max-block-duration` is some calculation based on retention, so current Thanos manifests are wrong in Prom operator. (If I am right with defaults)

[2018-05-24 14:11] brancz commented on #1375
That makes sense. I'm struggling to figure out whether I would just like a "Thanos mode" or allow overriding these values. (cc @mxinden)

Thanks for elaborating, this should definitely be possible.

[2018-05-24 14:18] Bplotka commented on #1375
Yea, I think just Thanos is fine for now, until some strong argument will appear someday for general override option. Also for Thanos `--storage.tsdb.min-block-duration=--storage.tsdb.max-block-duration=2h` is totally enough (: Not need to actually modify anything further.

[2018-05-24 14:32] brancz commented on #1375
Yeah that was my thought exactly. I would like to discuss a deeper Thanos integration with @mxinden once he's back from vacation (monday). Ideally the sidecar is automatically added and configured appropriately from the Prometheus object as well. This would likely be an experimental feature at first, but I think it would be a good idea.

[2018-05-24 14:35] leifmadsen commented on #1357
@brancz can you point out where that naming generation happens? At least I could have a fix locally. Alternatively, there could be a migration script or method to change it right? Like if you pre-created the PVCs prior to an upgrade, migrated the data, and then did your upgrade to the new naming convention, then everything should work.

Of course I'd put this in a major version change, but it seem

[2018-05-24 14:40] brancz commented on #1357
Agreed, this should eventually be resolved. If we can work out an in-place migration I'd be most happy with that.

[2018-05-24 15:28] ryanash999 commented on #1378
Thanks.  Once I moved this back to k8s-app and applied all the yaml it is working.

[2018-05-24 15:28] #1378 closed

[2018-05-24 16:45] bamb00 commented on #1343
@gianrubio Why in kube-prometheus values.yaml and not in the alertmanager & prometheus values.yaml.  Can I override and use the values.yaml from the alertmanager & prometheus chart?

[2018-05-24 18:38] dimm0 commented on #744
Still no progress on this?

[2018-05-24 21:48] jolson490 commented on #1324
ah, ok, thanks for the info - so because (prometheus.libsonnet)[https://github.com/coreos/prometheus-operator/blob/4139026fcaed7f4c0dc95fd6169ddc668e47c57b/contrib/kube-prometheus/jsonnet/kube-prometheus/prometheus/prometheus.libsonnet#L179] doesn't define/specify a `serviceMonitorNamespaceSelector` for [PrometheusSpec](https://github.com/coreos/prometheus-operator/blob/4139026fcaed7f4c0dc95fd6169

[2018-05-24 22:08] bamb00 opened #1380 "Helm: Cannot use values.yaml file from prometheus and alertmanager chart"
**What did you do?**
Configure prometheus and alertmanager chart values.yaml to use type: NodePort
**What did you expect to see?**
NodePort type sets for Alertmanager and Prometheus chart
**What did you see instead? Under which circumstances?**
The prometheus or Alertmanager service does not switch to NodePort.  Had to set the NodePort type from kube-prometheus values.yaml in order for the service

[2018-05-25 06:00] VinceMD commented on #1332
cool, looking forward to the doc updates.

Here is another thing I did: allow Prometheus to monitor any namespace, which could be added to examples of customisation. This is to go around the issue:

` Failed to list *v1.Service: services is forbidden: User \"system:serviceaccount:monitoring:prometheus-k8s\" cannot list services at the cluster scope"`

[code]

As usual, if the syntax is not right o

[2018-05-25 08:57] brancz commented on #744
Actually this is now done, the dashboards allow you to select by node name now instead of node IP, and there are recording rules to do this in the expression browser as well. Closing here :tada:.

[2018-05-25 08:57] #744 closed

[2018-05-25 13:16] gianrubio commented on #1379
it's not currently supported in the helm charts. Do you want to send a PR to add this feature?
You can read the how to contribute [here](https://github.com/coreos/prometheus-operator/tree/master/helm#how-to-contribue). I'd expect this option as an optional argument [here](https://github.com/coreos/prometheus-operator/blob/b30d5e8ccd8fe5bc3f7eb7e91caaae537605af68/helm/prometheus/templates/prometheu

[2018-05-25 13:22] mrueg commented on #1379
Yes I'd like to help. Currently I haven't got it to work though when editing the helm charts myself and it's difficult to figure out where the issue is.

[2018-05-25 13:49] gianrubio commented on #1343
I can't understand your question, can you elaborate it? Maybe you can paste your values.yaml files and the commands were you ran.

[2018-05-25 13:56] gianrubio commented on #1356
Please post the dump of your prometheus and alertmanager CRDS

[2018-05-25 14:07] brancz commented on #1356
Could you also share the logs of that Prometheus server, this looks like an RBAC problem, where the Prometheus server is not allowed to discover the Alertmanager in the `monitoring` namespace. The solution to that would be to create a `Role` in the `monitoring` namespace and bind it to the serviceaccount the Prometheus server uses in the `prometheus-app` namespace.

[2018-05-25 14:20] dgeorgievski commented on #1370
### Prometheus object
kubectl -n monitoring  get prometheus kube-prometheus-prometheus -o yaml
[code]

### Service being monitored
 kubectl describe svc lei-service
[code]

### Test of /metrics endpoint
kubectl port-forward svc/lei-service 6080
curl http://localhost:6080/metrics
[code]

[2018-05-25 15:14] bamb00 commented on #1343
For example the values.yaml in kube-prometheus chart contain the following,

       alertmanager:
          image:
             repository: repo1_path/alertmanager
             tag: v0.13.1

The values.yaml in alertmanager chart contain the following,

         image:
            repository: repo1_path/alertmanager
            tag: v0.14.0

When I execute,
       helm install kube-prometheus --nam

[2018-05-25 15:19] brancz commented on #1372
I think this is generally reasonable. This probably makes most sense in the PrometheusSpec. The ServiceMonitor should be an object users create and those users shouldn't care how Prometheus will connect to Kubernetes, just how their application is scraped.

[2018-05-25 15:22] azzaka commented on #867
I can get metrics from other namespaces, just not kube-system.

[2018-05-25 16:57] ablekh commented on #1317
@gianrubio Thank you. Will follow your advice. (Sorry about delay with my reply.)

[2018-05-25 20:02] dimm0 commented on #744
Should I update to master to get this? Could you point me at the commit plz?

[2018-05-25 22:20] nickman opened #1385 "Support proxy_url in Endpoint"
`v1.types.Endpoint` does not map the Prometheus **proxy_url** option.
I use custom proxy servers to transform non-prometheus endpoints into prometheus scrape-able feeds, so the proxy_url option is super useful. Will submit PR for this.

[2018-05-26 16:38] bgagnon commented on #1295
A similar fix to etcd already exists at https://github.com/coreos/etcd/commit/808450129b3d002924a565737e8163316d983421

It looks like this repo's copy of the JSON dashboard is outdated.

[2018-05-27 09:33] stijndehaes commented on #1220
Added a PR for this: https://github.com/coreos/prometheus-operator/pull/1388

[2018-05-28 07:58] brancz commented on #1295
Yes we've actually been working on [jsonnet-bundler](https://github.com/jsonnet-bundler/jsonnet-bundler) to make vendoring a simple one off command to update all dashboards + alerts across all components. We've already started this for [etcd alerts](https://github.com/coreos/etcd/pull/9640), the dashboard should be next.

[2018-05-28 08:04] vielktus commented on #1356
I tried to disable RBAC and also PSP, no luck (even helm del and reinstall, not just upgrade)

Prometheus "kube-prometheus-prometheus" CRD (This is working fine):
[code]

Prometheus "prometheus-app-prometheus" CRD (This is having blank Alertmanger endpoints):
[code]
Alertmanager "kube-prometheus" CRD (I'm only using this alertmanager):
[code]

[2018-05-28 08:10] vielktus commented on #1356
This is the log of the newly created Prometheus pod
[code]

The content of "prometheus.env.yaml" is blank, so I tried to cat "/etc/prometheus/prometheus.yml" in case you need it:
[code]

[2018-05-28 08:26] brancz commented on #1356
Your second Prometheus object does not have a `serviceMonitorSelector` set, which is an older artifact from the early days of the Prometheus Operator, where this was the method of supplying a custom configuration for Prometheus, which is why you're not seeing one in the container. Simply set that field to `serviceMonitorSelector: {}`, which will select all `ServiceMonitor` objects in that namespac

[2018-05-28 08:26] faheem-cliqz commented on #1379
Had the same issue of missing `serviceMonitorNamespaceSelector` in the helm chart, couple of days ago, and can help as well. This field is part of [PrometheusSpec](https://github.com/coreos/prometheus-operator/blob/master/Documentation/api.md#prometheusspec). It would be nice to have the `serviceMonitorNamespaceSelector` template in the [Prometheus Helm Chart](https://github.com/coreos/prometheus-

[2018-05-28 08:29] whypro commented on #1372
Thanks for your reply, I will implement this and create a PR later.

[2018-05-28 08:32] vielktus commented on #1356
`serviceMonitorSelector: {}` it currently is. But what I care about is the Alertmanager. I dont think it relates to serviceMonitorSelector (please correct me if I'm wrong)

[2018-05-28 08:38] brancz commented on #1356
It does matter, as the Prometheus configuration is not generated at all (and therefore the Alertmanager configuration as well). In the above manifest that you shared "prometheus-app-prometheus", I don't see a `serviceMonitorSelector` at all.

[2018-05-28 08:47] mxinden commented on #1136
@jolson490 Oh, I was not aware of this issue. Thanks for the update here.

[2018-05-28 08:50] mxinden commented on #1325
@deboshrestha None that I am aware of.

Are you trying to federate metrics of each of your K8s clusters into a master Prometheus? If so, how about instead of adding an externalLabel to each sub Prometheus, add a label to each sub metric in the master Prometheus via its service discovery.

[2018-05-28 09:03] zytek commented on #744
I've just deleted my prometheus stack (whole monitoring namespace) and created it with newest manifests from repo and Nodes dashboard still shows virtual IP addresses.

[2018-05-28 09:03] vielktus commented on #1356
Ah, I removed all of them. I dont need them on the new Prometheus. My new Prometheus is only for monitoring my app's services.
You mean these ?
[code]

Yes, it currently is

[2018-05-28 09:14] brancz commented on #1356
Even for monitoring your apps, you need a ServiceMonitor selector, even if it just selects the one ServiceMonitor.

Note that no `serviceMonitorSelector` is *not* the same as `serviceMonitorSelector: {}`.

[2018-05-28 09:16] brancz commented on #744
It uses whatever the name of your node objects is. The same as when you do `kubectl get nodes`.

[2018-05-28 09:18] zytek commented on #744
Should I somehow regenerate manifests to get this ?

My nodes are named after AWS private dns, but as I said dashboard still shows node-exporters pod IP addresses.

[2018-05-28 09:20] brancz commented on #744
Somewhat depends on how you installed your stack, but even if you just apply the manifests in `contrib/kube-prometheus/manifests/` against your cluster you should see this in the "K8s / USE Method / Node" dashboard.

[2018-05-28 11:28] brancz commented on #744
Yes, there is still some cleaning up/migrating to do but, the goal is to have one set of dashboards that can be shared among the whole community! :slightly_smiling_face: This effort is being worked on in this repo: https://github.com/kubernetes-monitoring/kubernetes-mixin

[2018-05-28 11:40] stijndehaes commented on #1180
@dobesv Same here maybe we should check that enough data is available before trying a prediction

[2018-05-28 17:43] jithinraj89 commented on #324
@brancz
We have n number of pods running in the cluster, where all the pods are not talking to the service object ( pods running without any services). How can I monitor the metrics from that kind of pods?. How servicemonitor will monitor those?.

[2018-05-28 21:51] alice-sawatzky commented on #1059
Has there been any progress on this? This would be very useful for my use case; I'm likely going to need to add an nginx contianer which adds an unnecessary point of failure.

[2018-05-29 06:31] brancz commented on #1059
We recently added additional alertmanager configs that allow you to add arbitrary discovery configurations known from prometheus. This has not been released yet, we’re working hard to get this release out, but there are a few more things to be finished.

[2018-05-29 09:50] vielktus commented on #1356
Hi brancz,
I set serviceMonitorSelector and tried to use serviceaccount from the currently running "kube-prometheus". Still no luck. The new Prometheus instance doesnt have `Alertmanager` and also can not scrape defined `serviceMonitorSelector`
[code]

[2018-05-29 12:47] brancz commented on #1356
Can you share what you can see in the `/config` page in the Prometheus UI? (this is the currently loaded configuration)

[2018-05-29 13:40] brancz commented on #324
That's what #38 is all about. In the mean time (until we implement that) the best I can offer right now is for you to define your own scrape job definition using the [`additionalScrapeConfigs`](https://github.com/coreos/prometheus-operator/blob/master/Documentation/api.md#prometheusspec) feature.

[2018-05-30 08:05] brancz commented on #1356
Can you share the output of `kubectl -n devops get svc,endpoints`? The configuration looks correct at first sight.

[2018-05-30 08:07] brancz commented on #37
@astub you can use the `ServiceMonitor` object across namespaces. The Prometheus object has the `serviceMonitorNamespaceSelector` (which you can set to `{}`, which is the "all" selector in Kubernetes) to select the namespaces you want the Prometheus object to select ServiceMonitor objects from.

If you just want all ServiceMonitor objects in all namespaces simply set both fields to `{}`.

[2018-05-30 08:10] ResDiaryLewis commented on #1359
So how can I override the `serviceMonitorSelector` value via Helm?

[2018-05-30 08:11] brancz commented on #1359
That's a question for @gianrubio

[2018-05-30 08:45] ashiddo11 opened #1400 "Kubelet service on wrong port"
I'm using the prometheus operator chart with kubernetes 1.9.6
The kubelet service is listening on port 10250 however cadvisor on the nodes listens on 10255. Can we make the kubelet port a variable so that we can change it depending on the port we're using?

[2018-05-30 08:52] brancz commented on #1400
Actually the underlying endpoints object already genrates all 3 ports:

[code]

It's a bug, that the Service doesn't have all three.

[2018-05-30 09:43] vielktus commented on #1356
Okay, brancz.
[code]

[2018-05-30 10:14] ashiddo11 commented on #1400
It works if I change port from **https-metrics** to **http-metrics** even thought the service doesn't have all three ports

[code]

[code]

[2018-05-30 12:16] brancz commented on #1356
I believe you may just need to change the `port` from the number to `web`.

[2018-05-30 12:17] #1385 closed

[2018-05-30 12:45] gianrubio commented on #1357
@brancz #1362 is address to fix that

[2018-05-30 13:16] deboshrestha commented on #1325
@mxinden Not yet, right now we are running one Prometheus Operator instance per cluster. However since we have multiple clusters and we are sending alerts to a single Slack channel(each for dev/prod etc)  for notification , we need some kind of identification mechanism to find which cluster it's coming from and take appropriate actions. Also based on the cluster names in the Alertmanager we are gr

[2018-05-30 15:09] brancz commented on #1356
Yes

[2018-05-30 16:08] r-divakaran opened #1401 "How can we add extra dashboards to Grafana"
**What did you do?**
I have installed prometheus-operator and kube-prometheus using helm. Command used are
[code]
and
[code]

Its working and am able to access grafana and see the default dashboards and graphs. Next I need to add some additional dashboards to grafana. So if I udnerstood correct, there is not a way or value that can be set in kube-prometheus chart installation to define additional

[2018-05-30 17:37] vielktus commented on #1356
Sorry, still no luck. Does this work on your environment ?

The way to reproduce is simple. Just install coreos's prometheus helm chart to get one more Prometheus CRD object. Am I doing the right way to create one more Prometheus ?

[2018-05-31 08:59] wleese opened #1402 "Enable Custom Metrics Support for HorizontalPodAutoscaler"
I'm currently setting up https://github.com/DirectXMan12/k8s-prometheus-adapter to allow HPA to use metrics from Prometheus.
It seems somewhat logical however that would be part of the functionality Prometheus-Operator provides.

[2018-05-31 09:31] brancz commented on #1402
I’m not sure it makes sense to have the custom metrics adapter be part of the Prometheus operator, however, I think it makes sense to have it as part of the kube-prometheus stack.

[2018-05-31 09:40] brancz commented on #1356
Ah wait, your alertmanager endpoints say the `monitoring` namespace, whereas you are expecting it to be `devops`, no?

[2018-05-31 10:45] mxinden commented on #1325
@deboshrestha would it be possible for you to solve this in a cleaner way with whatever configuration management you are using?

How would the configmap with the cluster name be created?

[2018-05-31 10:48] vielktus commented on #1356
Ah no, I just copied and pasted from the first comment to clarify my example. The current config is "devops".

[2018-05-31 10:54] brancz commented on #1356
Sorry it's quite confusing, could you share again all the manifests you currently have applied against your cluster, as well as the generated configuration?

[2018-05-31 11:14] olvesh opened #1406 "Prometheus config-reloader failure brings down whole Prometheus operated statefulset"
**What did you do?**
Upgrade prometheus operator using helm chart 0.0.25

**What did you expect to see?**
An HA upgrade of Prometheus and Alertmanager

**What did you see instead? Under which circumstances?**
Both of our Prometheus servers are in a crash loop backoff state. I expected that a failure in deploy would cause one of the instances in the statefulset to be failing, while the other would

[2018-05-31 12:45] brancz commented on #1406
Can you share the version of the prometheus operator that this runs as well as the example pod, so we can see all versions of the related components?

[2018-05-31 13:34] vielktus commented on #1356
That's a lot of information. Could you please do as I suggested to reproduce ?

(all of this are in the same whatever namespace)
[code]
And then go to the new Prometheus (3) homepage (not the kube-prometheus's prometheus) to find out if there's Alertmanager

[2018-05-31 13:41] brancz commented on #1356
I don't use helm, maybe @gianrubio can try and help with reproducing.

[2018-05-31 14:17] vielktus commented on #1356
Okie, @gianrubio please take a look at this.

[2018-05-31 14:27] olvesh commented on #1406
Looks like i was pinning an old version of operator (0.16.1) with a newer version of the helm chart (0.0.25).

After fixing this it now works again, but might there still be an issue here?

[2018-05-31 14:38] brancz commented on #1406
As far as I know there are no cross version compatibility guarantees in the helm charts.

[2018-05-31 14:39] olvesh commented on #1406
No, this was entirely a blunder from my side then :-)

[2018-05-31 14:39] #1406 closed

[2018-05-31 15:58] ball-hayden commented on #1356
I believe I'm seeing a similar problem.

I've installed the `prometheus-operator`, `prometheus`, and `alertmanager` helm charts.
I've set the following values for prometheus:

[code]
I too am seeing that Prometheus is not finding any alertmanager endpoints.

[2018-05-31 16:09] brancz commented on #1356
@ball-hayden your problem might be that `alertingEndpoints` should be `alertmangers`.

[2018-05-31 16:17] ball-hayden commented on #1356
@brancz I believe the helm chart uses `alertingEndpoints`:
https://github.com/coreos/prometheus-operator/blob/82761eff2e9a923c256604e82a99d3c95b2d7faa/helm/prometheus/values.yaml#L4

Using `alertmanagers` in my Prometheus helm values results in a `Prometheus` resource with:

[code]

which definitely isn't right.

If I use the config shown above, I see the following `Prometheus` resource produced:

[2018-05-31 16:44] vielktus commented on #1356
Really appreciate @ball-hayden . You've just saved my life. This bug frustrated me for whole 2 weeks.

I changed that to `http` and my new Prometheus can finally use the existing Alertmanager.
So is this a bug ? Why `http` ?

[2018-05-31 17:35] ball-hayden commented on #1356
Excellent. If nothing else, I'll get a PR together to update that comment!

[2018-05-31 18:07] aranair commented on #1401
I believe serverDashboardConfigmaps should be an list/array.

I just submitted https://github.com/coreos/prometheus-operator/pull/1408 to update the README for doing exactly that. (The setup works for me)

[2018-05-31 19:49] brancz commented on #1356
Thanks a lot for taking the time to look into this, we appreciate it greatly! Honestly I was assuming `web` as that's that it is in the kube-prometheus manifests which the helm charts are based off of, my mistake. Glad it worked out! It's just a naming thing so I think at least in the near term we can fix the documentation and think about how we can in the long term have the two sets of manifests

[2018-05-31 20:28] ball-hayden commented on #1356
Not so much taking the time to investigate as banging into the same problem and getting lucky!

It would be great if it could become more consistent, or if `port` could be renamed to avoid confusion - a port number seems like the expected value to me, so I definitely overlooked that as the possible source of the issue.

[2018-06-01 08:43] r-divakaran commented on #1401
I have a feeling the configmap is not getting created because of a syntax issue. My configmap looks like
[code]

When I try to apply it directly, it throws error like
[code]

[2018-06-01 09:07] azzaka commented on #867
@brancz can you reopen the issue please as it's still not resolved.

Or would you prefer we open a new issue? It's clear there t a fault somewhere and looks to be the heml chart. All other perms work except those for kube-system.

[2018-06-01 09:47] sanderaernouts opened #1412 "Prometheus datasource URL is configured wrongly in graphana"
**What did you do?**
[code]
Login to Graphana dashboard using username/password

**What did you expect to see?**
Dashboards with data from Prometheus

**What did you see instead? Under which circumstances?**
No data. After inspecting the datasource I noticed this:
![image](https://user-images.githubusercontent.com/6184673/40834496-45c0a046-6591-11e8-9603-209e5e0c3a5a.png)

Whereas the service is n

[2018-06-01 12:18] aranair commented on #1401
You can’t apply it directly. Try using helm to install/upgrade but add —dryrun —debug and check output if it fills it in properly. Or you can just check if the correct configmap is created after u install the helm chart?

[2018-06-01 14:09] azzaka opened #1415 "Prometheus Helm Chart no longer has permission to talk to pods in Kube-System"
**What did you do?**
Installed the Chart using Helm. Default Yaml, no amendments.

**What did you expect to see?**
Prometheus pulling metrics from all namespaces

**What did you see instead? Under which circumstances?**
Prometheus has access to all namespaces except kube-system.

**Environment**
Centos 7

* Kubernetes version information:
Client Version: version.Info{Major:"1", Minor:"10", GitVers

[2018-06-01 14:11] azzaka commented on #867
No problem. I have added a new issue here: [https://github.com/coreos/prometheus-operator/issues/1415](issue:1415)

Thanks for all the help @brancz

[2018-06-01 14:20] #1379 closed

[2018-06-01 14:33] gianrubio commented on #1415
@azzaka I don't have a k8s 1.10 to test why this is broken, the kubelet authorisation is configured [here](https://github.com/coreos/prometheus-operator/blob/master/helm/exporter-kubelets/templates/servicemonitor.yaml#L24-L51). Could you check if you have the right ca.crt and token configured?

Does the kubelet logs show any log related to this error?

[2018-06-01 14:40] azzaka commented on #1415
Nothing in the kubelet log. I'll add it again now and double check. As far as I remember, the only error was from Prometheus Dashboard, and that's where the original error was.

[2018-06-01 15:12] azzaka commented on #1415
Nothing in the logs.

![error](https://user-images.githubusercontent.com/4275707/40848200-69352b4e-65b6-11e8-918d-70c19d73acdd.PNG)

This shows the only namespace to see the error. If you need a specific command run to fetch certain information let me know and I will be happy to help out.

[2018-06-01 15:50] #1356 closed

[2018-06-01 15:52] brancz commented on #1415
Could you share the manifest of your ServiceMonitor of the kubelet?

You should be able to find it with `kubectl get servicemonitors --all-namespaces`.

[2018-06-01 15:56] r-divakaran commented on #1401
Yes as I said in my first request, initially I tried with helm and it was complaining that the config map is not found. Then I suppose the configmap creation was not working due to same error as above !?

[2018-06-01 19:49] ralphmcneal opened #1418 "K8SApiserverDown alert always triggers due to querying on non-existent job name"
**What did you do?**
Installed version 0.0.17 of kube-prometheus via helm.

**What did you expect to see?**
Everything installed fine. I do, however, get the K8SApiserverDown alert even though the api is up.
When looking at my targets, I see the apiserver has a job name of "kubernetes". The alert queries for a job name of "apiserver".

The alert in question is in `helm/exporter-kubernetes/template

[2018-06-02 11:42] shankerbalan commented on #1415
I am seeing something similar too - fresh install of v1.10 using kubeadm. The problem is only with kubelet.

[2018-06-02 12:03] stijndehaes commented on #1220
@gianrubio I think we can close this ticket, since pr https://github.com/coreos/prometheus-operator/pull/1388 has been merged

[2018-06-02 12:12] shankerbalan commented on #867
As suggested in this thread, KUBELET_EXTRA_ARGS fixes it.

$ cat /etc/systemd/system/kubelet.service.d/01-kubeadm.conf
# Ansible managed
[Service]
Environment="KUBELET_EXTRA_ARGS=--authentication-token-webhook"

[2018-06-02 12:13] shankerbalan commented on #1415
Made the below additional config to resolve the issue.

$ cat /etc/systemd/system/kubelet.service.d/01-kubeadm.conf
# Ansible managed
[Service]
Environment="KUBELET_EXTRA_ARGS=--authentication-token-webhook"

[2018-06-03 07:48] n-sviridenko opened #1419 "Wrong prometheus data source host in grafana"
**What did you do?**
Default installation

**What did you expect to see?**
Working grafana dashboard

**What did you see instead? Under which circumstances?**
Wrong hostname in the prometheus data source config

**Environment**
Doesn't matter

* Kubernetes version information:

[code]

* Kubernetes cluster kind:

kubeadm on ubuntu

---

Possible resolution:

Define the data source host: (https://g

[2018-06-04 04:46] vielktus commented on #1419
I'm running into this issue too. My workaround is use `Direct` and change datasource URL to ingress to connect to datasource from grafana homepage instead of `Proxy`

[2018-06-04 04:47] n-sviridenko commented on #1419
@vielktus I think better is to update the chart :)

[2018-06-04 07:42] brancz commented on #1415
Please make sure that the [requirements](https://github.com/coreos/prometheus-operator/tree/master/contrib/kube-prometheus#prerequisites) are met, and that you have made sure to have read the [kube-prometheus on kubeadm gude](https://github.com/coreos/prometheus-operator/blob/master/contrib/kube-prometheus/docs/kube-prometheus-on-kubeadm.md). If anything is unclear we would highly appreciate contr

[2018-06-04 08:09] brancz commented on #1418
This is somewhat strange, the service name is only a default, can you post the whole relabeling config gennerated as well as the output of `kubectl -n default get svc kubernetes -oyaml`.

It sounds to me, that yes something about your cluster might be unique here, but it might also just be that your cluster is very outdated, most of the components used here are not supporting Kubernetes 1.7 in any

[2018-06-04 08:40] azzaka commented on #1415
Removed and Re-added:

NAMESPACE    NAME                                               AGE
monitoring   kube-prometheus                                    7m
monitoring   kube-prometheus-alertmanager                       7m
monitoring   kube-prometheus-exporter-kube-controller-manager   7m
monitoring   kube-prometheus-exporter-kube-dns                  7m
monitoring   kube-prometheus-exporter-kub

[2018-06-04 08:42] r-divakaran commented on #1401
What am doing is:
1) Have the grafana chart locally
2) Modified the valuyes.yaml including the extra configmap
[code]
serverDashboardFiles: {}
3) I have put the extra configmap inside templates/additional-dashboards-configmap.yaml
[code]
4) then trying like `helm install coreos/grafana --name grafana -f values.yaml`

[code]
Please let me know if am doing wrong in any step. Thanks!

[2018-06-04 08:50] olvesh opened #1420 "Helm chart for Prometheus does not set default serviceMonitorSelector"
**What did you do?**
[code]

**What did you expect to see?**
[code]
**What did you see instead? Under which circumstances?**
No serviceMonitorSelector set
If I set the value it appears:
[code]
* Kubernetes version information:
[code]

[2018-06-04 08:55] faheem-cliqz commented on #1331
@mxinden Have a question. I am not sure we are able to attach labels to namespaces created by Helm. Currently we have all our stack in helm. Can you enlighten me if  `k8s.io/apimachinery/pkg/apis/meta/v1.LabelSelector` is able to select let say metadata name rather than labels
.

[2018-06-04 09:46] mxinden commented on #1331
@faheem-cliqz as far as I know you can only select labels via the LabelSelector, which sounds like a clean design to me.

Maybe @gianrubio can give you more advice on how to add namespace labels via helm.

@faheem-cliqz This sounds like a new question to me. In the future, please create a new Github issue for it.

[2018-06-04 10:14] fgrelaud commented on #1357
Hi,

is there a merge of planned ?

With the last version of kube-prometheus by helm (0.78), i got the same issue.

`  Type     Reason              Age                From                         Message
  ----     ------              ----               ----                         -------
  Warning  ProvisioningFailed  20s (x2 over 56s)  persistentvolume-controller  Failed to provision volume wit

[2018-06-04 11:08] faheem-cliqz commented on #1331
Found a lingering feature request in helm for this. Refereed it. Moving on will create a new issue. May be @gianrubio knows of any hacks for now to get this.

[2018-06-04 11:09] ashiddo11 commented on #1400
Im happy to open a PR if you can point me in the right direction

[2018-06-04 12:23] brancz commented on #1400
The reconciliation of nodes starts here: https://github.com/coreos/prometheus-operator/blob/254edd18d54e4eb9c88ddb3a7975e2c792908676/pkg/prometheus/operator.go#L368

And concretely the service port definition is here: https://github.com/coreos/prometheus-operator/blob/254edd18d54e4eb9c88ddb3a7975e2c792908676/pkg/prometheus/operator.go#L468

Make sure naming and port numbers are consistent with thi

[2018-06-04 14:16] olvesh commented on #1415
I bumped into something similar, as the service account, and cluster roles and binding name was changed. I use defaults, and probably the shortening of the helm release name via the `"prometheus.fullname"` template in _helpers.tpl.

I ended up deleting and recreating the prometheus crd instance, and loosing history.

[2018-06-04 15:37] ant31 opened #1425 "Rename RuleFile to PrometheusRule"
Generic CRD names should be avoided. `RuleFile` could be anything and used by other projects and it's not self-documented.

We can rename it to `PrometheusRule`, which is more specific.

[2018-06-04 18:29] gmauleon commented on #1184
Hey @mxinden, any love given to this yet? ;)

[2018-06-04 18:32] mxinden commented on #1184
@gmauleon Selecting Prometheus rules across Kubernetes namespaces was introduced by https://github.com/coreos/prometheus-operator/pull/1333. We are currently wrapping everything up for the next release, which will include this.

@Atoms @gmauleon Let me know what you think.

[2018-06-04 18:35] mxinden commented on #1425
I agree with the fact that `RuleFile` is too generic.

The name `PrometheusRule` is confusing to me. A `PrometheusRule`custom resource  would contain multiple Prometheus rules.

Instead I suggest `PrometheusRuleFile`.

@ant31 @brancz @community what do you think?

[2018-06-04 18:46] Atoms commented on #1184
looks promising

[2018-06-04 19:18] gmauleon commented on #1184
Thanks a bunch man!
Commented on the merge tasks with Atoms, a couple of question there.
I (we/everyone I'm sure) really appreciate the time you sink in this.

[2018-06-05 06:11] brancz commented on #1425
While semantically not 100% correct, the file part is meaningless to users, it's just a means to an end.

I still think `PrometheusRule` makes the most sense, even in the sense of a collection of rules. It's what will be most comprehensible by users. The `File` part would just cause additional confusion I believe.

[2018-06-05 08:28] brancz commented on #1425
My thought is that then we should have also called Prometheus PrometheusSet and Alertmanager AlertmanagerPeer, but the shortened versions make it clear to users what this is about, rather than detailed correctness of the term.

[2018-06-05 08:28] ant31 commented on #1425
I think it's acceptable to have 'multiple' rule in a crd name PrometheusRule, it's like the resource 'Ingress' you can define many routes in, or all the RBAC resources (e.g. ClusterRole) with many rules inside.

[2018-06-05 08:55] mxinden commented on #1425
That is a good point.

Let's go with `PrometheusRule` then.

[2018-06-05 09:42] sslavic commented on #1293
It seems https://github.com/kubernetes/apiextensions-apiserver/blob/master/pkg/apis/apiextensions/validation/validation.go#L303 doesn't allow `description` field that `Alertmanager` and other Prometheus Operator CRDs use in `openAPIV3Schema` https://github.com/coreos/prometheus-operator/blob/master/example/prometheus-operator-crd/alertmanager.crd.yaml#L15

Quick fix could be just to remove the pro

[2018-06-05 13:04] #1425 closed

[2018-06-05 13:13] ironcladlou commented on #1425
I wonder if you could apply the same argument to every other CRD in any other project including `ServiceMonitor` in prometheus-operator (i.e. why not "PrometheusServiceMonitor"); the kind is arbitrary and could be defined by any number of other CRDs given their versions are unique.

As the number of CRD-based components installed in the cluster grows, I wonder if disambiguation in the UI (e.g. CLI

[2018-06-05 13:16] ironcladlou commented on #1425
Actually I'm not even sure if that's true...

[2018-06-05 13:21] brancz commented on #1425
When creating with kubectl, it uses the full API group, so there is no abiguity. Your argument regarding the ServiceMonitor is somewhat true, although (almost) nothing is specific to Prometheus, the concept could be used by any other monitoring system just as well.

When getting resources and there is abiguity you can specify the kind + api group, as in:

[code]

[2018-06-05 13:45] sslavic commented on #1293
Improvement for k8s 1.11 which allows `description` has been provided by @nikhita (see https://github.com/kubernetes/kubernetes/pull/64766).

[2018-06-05 13:59] brancz commented on #1293
Thanks for investigating @sslavic, I do wonder why the CRD fails to be created by the operator then though, as it shouldn't be rendered in the first place if the code doesn't have the appropriate proto/json tags.

[2018-06-05 14:04] r-divakaran commented on #1401
I was able to get this working by using the chart that is downloaded locally, rather than using a local values.yaml file using -f.

[2018-06-05 14:04] #1401 closed

[2018-06-05 14:05] nikhita commented on #1293
I think the code has the appropriate proto/json tags. In Kubernetes, if the subresource feature is enabled, we validate that some properties should not be present at the root schema.

It is rendered, but fails validation.

[2018-06-05 14:08] brancz commented on #1293
Thanks for the quick answer and explanation @nikhita!

In that case it sounds we should skip, or at least enable to skip setting the description in the first place: https://github.com/ant31/crd-validation/blob/master/pkg/convert_types.go#L95

[2018-06-05 14:10] nikhita commented on #1293
I understand the idea here :+1: but that would also disallow you to add descriptions in the subschemas (the non-root ones). :(

[2018-06-05 14:11] brancz commented on #1293
I see, well if it's just the root one, can we just set that one to be blank?

[2018-06-05 14:13] nikhita commented on #1293
That should do it. I'll send a PR :)

[2018-06-05 14:54] smileisak opened #1435 "Prometheus tagets not being updated after creating a ServiceMonitor"
**What did you do?**
Trying to monitor kubernetes service using ServiceMonitor CRD.

deployment.yaml

[code]
service.yaml
[code]
service-monitor.yaml
[code]
`hashme` is go application that exposes `/hash` and `/metrics`

**What did you expect to see?**

Targets should be updated with new created ServiceMonitor in prometheus interface.

**What did you see instead? Under which circumstances?**

No n

[2018-06-05 14:55] dgeorgievski commented on #1370
In the meantime I had a chance to scrutinize the documentation of the operator and find a solution for my issue. For the benefit of the others the following is the outline of the resolution:
- Deploy ServiceMonitor in the **monitoring** namespace. Initially, by mistake, it was deployed in the same namespaces as the Service object.
- Use label _app: prometheus_ for the ServiceMonitor to include it

[2018-06-05 14:55] #1370 closed

[2018-06-05 17:26] mxinden commented on #1184
We just released the features: https://github.com/coreos/prometheus-operator/releases/tag/v0.20.0

[2018-06-05 18:52] gianrubio commented on #1359
@ResDiaryLewis you can override the serviceMonitorSelector in the [prometheus](https://github.com/olvesh/prometheus-operator/blob/66001c5ae64cd86de177dea4ab1acf6ac90b3dbf/helm/prometheus/templates/prometheus.yaml#L63) chart
ex.
[code]

[2018-06-05 18:52] #1359 closed

[2018-06-05 19:56] dimm0 commented on #744
@brancz where is the magic line to convert the instance to node name? I want to do the same for my dashboards, but can't find it so far..

[2018-06-05 20:00] #1420 closed

[2018-06-05 20:49] dimm0 opened #1436 "Grafana anonymous access"
**What did you do?**
Installed according to instructions

**What did you expect to see?**
Grafana to allow anonymous access as before

**What did you see instead? Under which circumstances?**
Grafana is requiring to login

Could you please add an example on how to set the grafana anonymous ENV variable?

Thanks!

[2018-06-05 22:37] pimvanpelt opened #1438 "Node/Kubelet cannot be scraped from the node running the prometheus pod"
**What did you do?**
*    Created RBAC bindings
[code]

* Installed operator and prometheus from stable chart
[code]
*    Applied `KUBELET_EXTRA_ARGS=--authentication-token-webhook` to kubelets from #867
*    Observed healthy pods/services/deployments

*    Observed prometheus `/targets`
[code]

**What did you expect to see?**
Expected to see all nodes and all kubelets being scraped.
Node Exporter

[2018-06-06 09:41] brancz commented on #744
@dimm0 for example the "K8s / USE Method / Node" dashboard does selection based on [`kube_node_info`](https://github.com/kubernetes-monitoring/kubernetes-mixin/blob/297f40ffc7dc07b690bf715f3952a8b729ba9197/dashboards/use.libsonnet#L85). Then queries this recording rule: https://github.com/kubernetes-monitoring/kubernetes-mixin/blob/297f40ffc7dc07b690bf715f3952a8b729ba9197/dashboards/use.libsonnet#

[2018-06-06 10:02] ant31 opened #1441 "Use recommended Labels"
https://kubernetes.io/docs/concepts/overview/working-with-objects/common-labels/

app.kubernetes.io/name | The name of the application | mysql | string
-- | -- | -- | --
app.kubernetes.io/version | The current version of the application (e.g., a semantic version, revision hash, etc.) | 0.20.0| string
app.kubernetes.io/component | The component within the architecture | XYZ | string
app.kubernetes.

[2018-06-06 12:16] brancz commented on #1436
There are instructions for helm and via `contrib/kube-prometheus/` (with or without jsonnet), which one is it? :slightly_smiling_face:

[2018-06-06 12:22] brancz commented on #1438
This sounds more like a firewall (maybe network policy) issue in your setup, as you said that you can't even curl the target. If there was another configuration issue you would see a 401, 403 or some sort of response.  Could you check if that might be the problem?

[2018-06-06 12:27] brancz commented on #1435
Thanks for reporting! Which version of the Prometheus Operator are you using? Since v0.18.0 Kubernetes 1.7 is not supported anymore. Could you also share the Prometheus logs as well as the prometheus-config-reloader logs? Thanks!

[2018-06-06 13:17] brancz commented on #1435
They _can_ be in a different namespace (starting with v0.19.0) using the `serviceMonitorNamespaceSelector` on the Prometheus object, but yes the default is that they need to be in the same namsepace.

[2018-06-06 13:22] pimvanpelt commented on #1438
There is no firewall inhibition on the machine itself:
[code]

I **can** see the metrics and curl them from the host machine. Checking out the `kube-prometheus-0` pod is tricky because I don't think it contains any shell for me to exec into.

No network policies are on the kubernetes cluster.

Perhaps `weave-net` is somehow disallowing container-to-host communication. I'll dig in to this a bit mor

[2018-06-06 13:28] brancz commented on #1438
Note that firewall rules are typically ignored when the kernel figures out that a request is actually done against a local interface, so what you're seeing would usually be the case even with firewall rules setup.

[2018-06-06 13:31] dimm0 commented on #1436
Ah, sorry :) No helm, with `contrib/kube-prometheus/` and jsonnet. The primary and recommended one.

[2018-06-06 13:33] dimm0 commented on #744
Great, thanks!

[2018-06-06 13:40] brancz commented on #1436
Perfect! :slightly_smiling_face: You can customize the entire grafana config, it's documented how to do that here: https://github.com/brancz/kubernetes-grafana#config-customization

I think it would be good to have a pointer to this in the kube-prometheus docs. Would you like to add it where you think it would make sense?

[2018-06-06 13:55] dimm0 commented on #1436
will do

[2018-06-06 15:06] brancz commented on #1281
We have updated usage with kops: https://github.com/coreos/prometheus-operator/tree/master/contrib/kube-prometheus#customization

As there is really no difference to the other methods we removed the extra docs page and included it in the customization section.

I'll close this here, but do let us know and re-open or create a new issue if you feel it's not quite right :slightly_smiling_face: .

[2018-06-06 15:06] #1281 closed

[2018-06-06 15:07] brancz commented on #1274
#1277 is merged and released (in `v0.20.0`), closing here. Thanks for reporting @sgmiller !

[2018-06-06 15:07] #1274 closed

[2018-06-06 15:09] brancz commented on #1301
We have just added new docs on how to expose Prometheus/Alertmanager/Grafana via Ingress: https://github.com/coreos/prometheus-operator/blob/master/contrib/kube-prometheus/docs/exposing-prometheus-alertmanager-grafana-ingress.md

I'll close this here, but if you feel the documentation is not clear or good enough feel free to re-open this issue or open a new one! :slightly_smiling_face:

[2018-06-06 15:09] #1301 closed

[2018-06-06 15:13] brancz commented on #1241
This has since been merged into master :tada: . Closing here.

[2018-06-06 15:13] #1241 closed

[2018-06-06 15:14] brancz commented on #1199
The `master` tag is now automatically updated on successful CI runs from master. Closing here.

[2018-06-06 15:14] #1199 closed

[2018-06-06 15:22] brancz commented on #1059
The `v0.20.0` release is out. The `additionalAlertmanagerConfig` feature is now available. Closing here.

[2018-06-06 15:22] #1059 closed

[2018-06-06 15:27] brancz commented on #1004
With the latest version of the Prometheus Operator we introduced the `PrometheusRule` CRD, and it can be selected across namespace using the `ruleNamespaceSelector`.

Closing here, but feel free to re-open this issue or open a new one if you encounter any problems with it! :slightly_smiling_face:

[2018-06-06 15:27] #1004 closed

[2018-06-06 15:29] brancz commented on #998
In the latest release (`v0.20.0`) we removed all of the rule handling via emptydir, so this should not be a problem anymore from now on.

Closing this here, but feel free to re-open or create a new issue should you run into any problems with it! :slightly_smiling_face:

[2018-06-06 15:29] #998 closed

[2018-06-06 15:32] brancz commented on #965
Closing this as there have been a ton of changes on master since this issue was opened. We would highly appreciate if you could try again from master with the latest versions. Should you run into any problems while doing this feel free to re-open this issue or create a new one. :slightly_smiling_face:

[2018-06-06 15:32] #965 closed

[2018-06-06 15:33] brancz commented on #871
In the latest release (`v0.20.0`) we released the `additionalAlertmanagerConfig` feature, with which you can pass arbitrary prometheus config to discover Alertmanager(s).

Closing this issue here, but feel free to re-open or create a new issue if you run into any problem with this new feature! :slightly_smiling_face:

[2018-06-06 15:33] #871 closed

[2018-06-06 15:35] brancz commented on #773
Closing due to staleness as a lot of things have changed since this issue was opened. Please try again with the current documentation and latest releases and feel free to re-open or create a new issue should you run into any trouble! :slightly_smiling_face:

[2018-06-06 15:35] #773 closed

[2018-06-06 15:45] brancz commented on #730
fyi we recently added the `additionalScrapeConfigs` feature where you can use all the prometheus operator features but define your own custom scrape jobs, I believe that's what you initially were looking for with this issue, right?

[2018-06-06 15:47] brancz commented on #382
Closing here as #695 has been closed.

[2018-06-06 15:47] #382 closed

[2018-06-06 15:48] brancz commented on #828
#1333 is merged and the release has been shipped :tada:. Closing here.

[2018-06-06 15:48] #828 closed

[2018-06-06 15:50] brancz commented on #743
fyi there is now a cluster wide dashboard, it doesn't include I/O and network metrics though, maybe you want to add it? The source for it is developed here: https://github.com/kubernetes-monitoring/kubernetes-mixin

[2018-06-06 15:51] brancz commented on #741
Closing here due to staleness. Feel free to re-open or open a new issue should you still have a problem! :slightly_smiling_face:

[2018-06-06 15:51] #741 closed

[2018-06-06 15:52] brancz commented on #699
This issue was since fixed upstream :tada: . Closing here.

[2018-06-06 15:52] #699 closed

[2018-06-06 15:54] brancz commented on #729
We recently released a new feature that enables users to do the same thing as you envisioned here. ServiceMonitors can now be selected across namespaces using the `serviceMonitorNamespaceSelector`, meaning that teams can define their ServiceMonitor including port, labeling, etc in their own namespace, while the Prometheus server itself can be managed in another namespace by an infrastructure team.

[2018-06-06 15:56] wleese commented on #729
@brancz perfect!

[2018-06-06 15:56] #729 closed

[2018-06-06 15:57] brancz commented on #775
We recently released the `additionalScrapeConfigs` feature, where you can specify arbitrary scrape configs known from the prometheus configuration, while making use of all the other features of the Prometheus Operator.

Closing here as there are now options to do what you requested, but feel free to re-open or open a new issue should you have any problems with this feature!

[2018-06-06 15:57] #775 closed

[2018-06-06 16:02] mxinden commented on #1441
Cool. This way we can also remove the `operated-by: prometheus-operator` [label](https://github.com/coreos/prometheus-operator/blob/master/pkg/prometheus/statefulset.go#L50).

Do you want me to apply this to both the Prometheus Operator as well as Kube Prometheus?

[2018-06-06 16:05] brancz commented on #1441
Sounds good to me regarding both prometheus-operator as well as kube-prometheus.

[2018-06-06 17:35] cheethoe commented on #1412
when will this be pushed to the coreos helm repo?  I still see 0.0.75 as the latest on the helm repo but this change is for 0.0.78 of kube-prometheus

[2018-06-06 17:53] tomplus commented on #871
It looks very promising, thanks a lot !

[2018-06-06 22:00] dimm0 commented on #135
@whypro Is any magic required to have `__meta_kubernetes_node_name` appear other than adding Node targetRef? Didn't work for me, with recent prometheus.

[2018-06-07 01:12] jiuchongxiao opened #1446 "where to set AlertManager Config?"
who know where to set alertmanager configs? i want to set sent email to someone.
i create monitor by kubectl create -f manifests/

[2018-06-07 01:45] jiuchongxiao commented on #1446
@mxinden  could you help me? i am getting into a flap.thank you

[2018-06-07 04:11] whypro commented on #135
@dimm0 The second step is my hacking way to add node name to relabel_configs for every endpoint if its `targetRef` is `Node`. It is just a forked and private commit.
I am not sure if it is a common requirement. If so I could create a PR for this.
cc @brancz

[2018-06-07 07:41] gianrubio commented on #1412
The CI is failing in a task before helm sync repo, it'll be sorted today. Sorry for any inconvenience

[2018-06-07 07:48] wjhboy opened #1448 "got the error"
Endpoint | State | Labels | Last Scrape | Error
-- | -- | -- | -- | --
https://192.168.172.133:10250/metrics/cadvisor | DOWN | endpoint="https-metrics" instance="192.168.172.133:10250" namespace="kube-system" service="kubelet" | 18.524s ago | server returned HTTP status 403 Forbidden
https://192.168.172.133:10250/metrics | DOWN | endpoint="https-metrics" instance="192.168.172.133:10250" namespace=

[2018-06-07 07:57] brancz commented on #1448
The 403 Forbidden points at your Prometheus server not having the appropriate permissions. Can you share the `Pod`, `ServiceAccount`, and `ClusterRoleBinding` for this setup?

[2018-06-07 08:02] wjhboy commented on #1448
[root@master01 kubernetes]# kubectl get ServiceAccount --all-namespaces
NAMESPACE     NAME                                 SECRETS   AGE
default       default                              1         14d
default       prometheus-operator                  1         4h
kube-public   default                              1         14d
kube-system   attachdetach-controller              1         14d
kube

[2018-06-07 08:04] wjhboy commented on #1448
[root@master01 kubernetes]# cat /etc/systemd/system/kubelet.service.d/10-kubeadm.conf
[Service]
Environment="KUBELET_KUBECONFIG_ARGS=--bootstrap-kubeconfig=/etc/kubernetes/bootstrap-kubelet.conf --kubeconfig=/etc/kubernetes/kubelet.conf"
Environment="KUBELET_SYSTEM_PODS_ARGS=--pod-manifest-path=/etc/kubernetes/manifests --allow-privileged=true"
Environment="KUBELET_NETWORK_ARGS=--network-plugin=cn

[2018-06-07 08:05] wjhboy commented on #1448
I used prometheus-operator-release-0.19 for the setup

[2018-06-07 08:09] brancz commented on #1448
Ah, I actually got my HTTP error codes wrong. 403 Unauthorized (against it's wording) means your serviceaccount token could not be used to _authenticate_ (if authorization fails you would have seen a 401 Forbidden), which means you don't have the `--authentication-token-webhook=true` on your kubelet, which indeed I can't see in that configuration. Could you try that? :slightly_smiling_face:

[2018-06-07 08:18] wjhboy commented on #1448
thank you ! I will add the --authentication-token-webhook=true configuration in my config file .

[2018-06-07 08:18] #1448 closed

[2018-06-07 08:37] wjhboy commented on #1448
@brancz I have try it . the issue has been resolved

[2018-06-07 09:13] brancz commented on #135
The thing is that `__meta_kubernetes_node_name` nor the target ref node is available because you're not discovering nodes, but endpoints (and the underlying thing is not a node, but pods). And more generally it is much easier to add non identifying labels at query time, then mess with identifying labels, because that will cause breaks in your graphs as Prometheus will treat them as different time-

[2018-06-07 09:15] brancz commented on #1446
It seems we don't have this information documented right now, so I opened a PR to address this: #1450. Feedback would be highly appreciated! :slightly_smiling_face:

[2018-06-07 09:19] brancz commented on #744
It somewhat depends on how these daemons are deployed. Are they just a daemonset? If that's the case, then they are just pods, and you can use the `kube_pod_info` metric to figure out the relationship between private IP and node name: https://github.com/kubernetes/kube-state-metrics/blob/master/Documentation/pod-metrics.md

[2018-06-07 10:40] mattcamp opened #1451 "All labels dropped via custom ServiceMonitor"
**What did you do?**

Created a new custom servicemonitor to monitor an existing service (in another namespace). The service appears in the Prometheus UI however there are labels and the Service Discovery section shows that all labels are being dropped.

Prometheus, prometheus-operator and servicemonitor are in namespace `monitoring`, service and pod are in namespace `apollo`

**What did you expec

[2018-06-07 11:32] brancz commented on #1451
Any labels starting with `__meta` in Prometheus are automatically dropped unless they are relabeled to a different value. You can white-list labels from a service to be transfered to you target using the [`targetLabels` field in the `ServiceMonitor`](https://github.com/coreos/prometheus-operator/blob/master/Documentation/api.md#servicemonitorspec).

For further understanding, the `__meta` labels a

[2018-06-07 12:54] mattcamp commented on #1451
Hmm... I tried adding targetLabels to my servicemonitor but it doesn't seem to have had any effect at all....

[code]

The service discovery tab in the UI still shows:

[code]

[code]

What have I screwed up?

[2018-06-07 13:05] brancz commented on #1451
Can you post the generated config again? (it can take up to 5mins for a configuration change to propagate, because Kubernetes)

[2018-06-07 13:12] mattcamp commented on #1451
Ahh... it was my own stupid fault. I had the selector: MatchLabels set incorrectly... once I matched it to the labels on the service it all started working.

Thanks for the prompt assistance!

[2018-06-07 13:12] #1451 closed

[2018-06-07 13:14] dimm0 commented on #744
Daemons are not running in a container at all, they are deployed on the nodes. I'm manyally setting the endpoints for those:

https://gitlab.com/dimm/prp_k8s_config/blob/master/monitoring/rules.jsonnet#L145-211

https://prometheus.nautilus.optiputer.net/targets

https://grafana.nautilus.optiputer.net/d/lhzgeA3zk/all-cuda-gpu?

[2018-06-07 13:20] azzaka commented on #1415
@brancz

ubectl -n monitoring get servicemonitor kube-prometheus-alertmanager -oyaml
apiVersion: monitoring.coreos.com/v1
kind: ServiceMonitor
metadata:
  clusterName: ""
  creationTimestamp: 2018-06-04T09:04:17Z
  generation: 1
  labels:
    app: prometheus
    chart: prometheus-0.0.42
    heritage: Tiller
    prometheus: kube-prometheus
    release: kube-prometheus
  name: kube-prometheus
  name

[2018-06-07 18:51] brancz commented on #744
You have two options, you can either specify entirely your own Prometheus scrape config using the `additionalScrapeConfigs` feature, or you re-use the kubelet endpoints object and set the port you want to scrape manually by just specifying the `targetPort` as the port number you want to scrape.

[2018-06-07 18:55] dimm0 commented on #744
How is that helping me to see the hostname?
Scraping works fine, I just can't convert the IP to hostname when displaying data in grafana dashboard

[2018-06-07 19:20] bamb00 commented on #867
@shankerbalan After making the suggested change the error when from 402 forbidden to connection refused.

       Get https://172.22.16.61:10250/metrics: dial tcp 172.22.16.61:10250: connect: connection refused
       Get https://172.22.16.61:10250/metrics/cadvisor: dial tcp 172.22.16.61:10250: connect: connection refused

[2018-06-07 21:06] melrakkian opened #1452 "Prometheus rules not populating"
**What did you do?**
Installed prometheus operator and kube-prometheus package via quick start instructions (kubectl apply -f bundle.yaml for prometheus operator and kubectl create -f manifests/ for kube-prometheus).  Created an ingress to expose prometheus GUI.

**What did you expect to see?**
Expected to see rules populated within prometheus from the prometheusrule defined in prometheus-rules.ya

[2018-06-07 22:07] dimm0 commented on #744
Can I add just my scrape config, or I have to repeat the whole config you have already? And what exactly should I add to it?

How would that help having the node name show up in dashboard?

[2018-06-08 02:58] jiuchongxiao commented on #1446
thank you very much for the improvement @brancz

[2018-06-08 07:33] stijndehaes commented on #1452
Are you sure you have waited long enough for the rules to appear?
I submitted this ticket not long ago: https://github.com/coreos/prometheus-operator/issues/1323
mxinden informed me they moved the reload to a time based interval. I had to wait for up to 10 minutes for rules to appear.

[2018-06-08 11:03] mxinden commented on #1435
@smileisak Thanks for your feedback. Please feel free to open up pull requests for documentation improvements for future users facing the same issue. You can find that doc [here](https://github.com/coreos/prometheus-operator/blob/master/Documentation/user-guides/getting-started.md).

[2018-06-08 11:09] mxinden commented on #1438
@pimvanpelt in case you still need to shell into your container for debugging:

[code]

[2018-06-08 11:30] mxinden commented on #744
Whatever you put into `prometheus.spec.additionalScrapeConfig` will be added to the [`scrape_config`](https://prometheus.io/docs/prometheus/latest/configuration/configuration/#scrape_config) section of your Prometheus configuration.

[2018-06-08 11:31] mxinden commented on #1446
I will close this issue. @jiuchongxiao let us know if you need any further help by either opening a new issue or commenting on this one.

[2018-06-08 11:51] mxinden commented on #1452
@melrakkian thanks for opening the issue and @stijndehaes thanks for referencing me!

With https://github.com/coreos/prometheus-operator/pull/1333 the reload of the Prometheus rules is back to being trigger based and not time based. That being said it should be fairly quick.

@melrakkian to be able to reproduce this, could you give us the following information:

1. Which commit id of the Prometheu

[2018-06-08 12:28] vinodhbasavani opened #1454 "Prometheus with nfs persistent storage"
**What did you do?**
I created the following yml file to create prometheus with nfs persistent storage.
[code]
**What did you expect to see?**
I would see creating two prometheus pod using the given nfs endpoint mounted to both pods
**What did you see instead? Under which circumstances?**
It is not using the claim template mentioned above and it is using the default claim only. It is trying to cre

[2018-06-08 12:47] melrakkian commented on #1452
Thanks, @mxinden and @stijndehaes!

1.  I had been troubleshooting with commit id 7d08e3d69c9d1d6dbdd06762935d616cfa51b81f from a few days ago.  I just pulled down and installed the latest commit (3c226f965e2568be0d28f3d22c59cccf895e71ed), and the prometheus rules populate just fine for me now.  Wish I had thought to try that sooner ;-)

[2018-06-08 12:47] #1452 closed

[2018-06-08 14:09] dimm0 commented on #744
Ok, great. But I still don't have the __meta_kubernetes_node_name field after setting targetRef.kind to Node...

https://github.com/coreos/prometheus-operator/issues/135#issuecomment-383617438

[2018-06-08 22:49] rmartinez3 commented on #1357
I just bumped into this problem as well.

``
Failed to provision volume with StorageClass “gluster”: create volume error: failed to create endpoint/service error creating service: Service “glusterfs-dynamic-prometheus-prometheus-db-prometheus-prometheus-0" is invalid: metadata.name: Invalid value: “glusterfs-dynamic-prometheus-prometheus-db-prometheus-prometheus-0”: must be no more than 63 charact

[2018-06-09 00:52] sneko commented on #1419
@n-sviridenko @vielktus Hi everyone :)

I don't know if it's related but it was not working for me too. Grafana was trying to access by default to "http://kube-prometheus-prometheus:9090" as a proxy.

I noticed that behind this service "kube-prometheus-prometheus" has no pod bound. While investigating I saw that the labels selector was looking for:
[code]

But that my Prometheus pod has the follow

[2018-06-09 01:39] alice-sawatzky opened #1456 "add additionalAlertManagerConfigs to Helm Chart"
the latest version (0.20.0) introduces the `additionalAlertManagerConfigs` field to the [`PrometheusSpec`](https://github.com/coreos/prometheus-operator/blob/v0.20.0/Documentation/api.md#prometheusspec),  which looks super handy! Unfortunately, it doesn't seem to be added yet to the helm chart. Can we add this?

[2018-06-09 02:56] sneko commented on #1419
Oh, it seems related to #1412

[2018-06-09 03:08] sneko opened #1458 "Can't see dashboards added by ConfigMaps"
**What did you do?**

Added dashboards files as ConfigMaps

**What did you expect to see?**

These new dashboards in Grafana

**What did you see instead? Under which circumstances?**

None of these dashboards

I checked the logs from the grafana-watcher container and I can see:
[code]

As you can see the watcher has created them (istio-dashboards/*)... that's really strange...

Instructions from @

[2018-06-09 09:49] taffy5366 opened #1459 "clusterrole"
**What did you do?**

**What did you expect to see?**

**What did you see instead? Under which circumstances?**

**Environment**

* Kubernetes version information:

	insert output of `kubectl version` here

* Kubernetes cluster kind:

	insert how you created your cluster: kops, bootkube, tectonic-installer, etc.

* Manifests:

[code]

* Prometheus Operator Logs:

[code]

[2018-06-09 09:50] #1459 closed

[2018-06-09 23:38] brycesteinhoff commented on #890
When I deploy the Prometheus Operator Helm chart, it sets the `serviceMonitorSelector` with a preset list of app names:

https://github.com/coreos/prometheus-operator/blob/master/helm/kube-prometheus/values.yaml#L317

With this set, is there a way to add `ServiceMonitor`s for other apps? Does this list need to be customized somehow?

I didn't see a way to pass in values to modify how the `serviceM

[2018-06-10 09:14] ArvinDevel commented on #1304
Recently, I found the reason is that the `serviceaccount` is not specified, so the default serviceAccount being used is `default`.
And this is fixed in [this pr](https://github.com/coreos/prometheus-operator/commit/c20139acce2cb599df26bb5a7885d5727d2bf94f#diff-074af51441a7c1a326433675382011ee), but the official doc is still not updated.

[2018-06-10 19:01] ntfrnzn commented on #1419
The configuration of the prometheus service name https://github.com/coreos/prometheus-operator/blob/v0.19.0/helm/prometheus/templates/service.yaml#L17 defaults to the templated `prometheus.fullname` which "usually" joins the release name with the suffix "-prometheus"
https://github.com/coreos/prometheus-operator/blob/v0.19.0/helm/prometheus/templates/_helpers.tpl#L22

https://github.com/coreos/pro

[2018-06-11 07:30] xinau opened #1460 "Unable to view default prometheus consoles visualization"
**What did you do?**
Try to view the default [prometheus consoles](https://prometheus.io/docs/visualization/consoles/) in my browser. I did try:
- `<prometheus.url>/consoles/index.html.example`
- `<prometheus.url>/consoles/node.html`

**What did you expect to see?**
I expected to see dashboards as mentioned at [https://resin.io/blog](https://resin.io/blog/monitoring-linux-stats-with-prometheus-io/

[2018-06-11 07:32] brancz commented on #1454
Hi, thanks for opening this issue! As a general rule I advise against using NFS if at all possible as we have experienced a variety of problems with it, there are numerous threads on the prometheus operator and on the upstream prometheus repository about various problems.

That said the problem you are facing here is not with the NFS storage itself but with the provisioning/usage part. The Prometh

[2018-06-11 07:37] brancz commented on #744
What is depicted in https://github.com/coreos/prometheus-operator/issues/135#issuecomment-383617438 is not true, as the PR never got merged. The following meta labels will be added with the respective values:

* `__meta_kubernetes_endpoint_address_target_kind`: will be set to `Node`
* `__meta_kubernetes_endpoint_address_target_name`: will be set to the nodes name

[2018-06-11 07:44] brancz commented on #1419
cc @gianrubio

[2018-06-11 08:01] brancz commented on #1460
Yes, you're absolutely right, we are not setting the flags for the console templates and libraries correctly. We can just start out with a pre-initialized array of flags here: https://github.com/coreos/prometheus-operator/blob/14d647a5c6b42a58dd172e4314baf8f6ca4b87c2/pkg/prometheus/statefulset.go#L289

The two flags we would want to add here are:

* `-web.console.templates=/etc/prometheus/consoles

[2018-06-11 09:51] brancz commented on #1304
@ArvinDevel thanks a lot for the feedback, highly appreciated! Could you make a suggestion on what you would expect to find in the docs, and what you are finding? We would love to improve the docs, or if you want to we would be even happier about a PR! :slightly_smiling_face:

[2018-06-11 13:56] CHIINGTING commented on #1415
i have same problem because of the kubeadm

[2018-06-11 14:04] brancz commented on #1415
Could you make sure that you have had a look at the troubleshooting section: https://github.com/coreos/prometheus-operator/tree/master/contrib/kube-prometheus#troubleshooting

Thanks! :slightly_smiling_face:

[2018-06-11 16:08] dimm0 commented on #744
I don't see those either..

[2018-06-11 17:21] huydinhle opened #1463 "include __meta_kubernetes_pod_node_name in the relabel"
I notice that we have relabeled  `__meta_kubernetes_namespace`, `__meta_kubernetes_pod_name`, `__meta_kubernetes_service_name` in our metrics.

Is it possible to include the `__meta_kubernetes_pod_node_name` in there as well ? We want this information for our graphs.

I found that the cleanest way to do this is to add `__meta_kubernetes_pod_node_name` in prometheus.cfg
[code]

Can you let me know

[2018-06-11 21:07] huydinhle commented on #1463
closing this issue because of this one https://github.com/coreos/prometheus-operator/issues/1166

[2018-06-11 21:07] #1463 closed

[2018-06-11 21:10] huydinhle commented on #1166
I really hope that this issue got reopened and worked on. Like @distol has said, this is a very essential functionality that prometheus-operator user should be able to have

[2018-06-11 21:35] Cryson commented on #256
Hey guys, I created a merge request that implements a helm chart for the blackbox exporter. As well as an example on how to use additionalscrapeconfigs to add a blackbox scrape in prometheus/values.yaml.

https://github.com/coreos/prometheus-operator/pull/1465

There is still work to be done, but it's at least a start.

[2018-06-12 01:21] brycesteinhoff commented on #890
I'm having a similar problem trying to get a `ServiceMonitor` registered.

I've added the name of the app to the `serviceMonitorsSelector` configuration which matches the label in my `ServiceMonitor`, but when checking /config on Prometheus I don't see a scrape config.

My `ServiceMonitor` is in a different namespace than Prometheus/Prometheus Operator are deployed in.

Is there any additional con

[2018-06-12 01:46] jiuchongxiao commented on #1446
where position the file (alertmanager-config.jsonnet or alertmanager-config-external.jsonnet、alertmanager-config.yaml) should to put?
@brancz

[2018-06-12 01:53] dimm0 commented on #744
I solved this by running GPU exporters as pods.

[2018-06-12 08:47] brancz commented on #890
The Prometheus object by default only selects ServiceMonitors in the same namespace as the Prometheus object. Starting with the Prometheus Operator v0.19.0 you can set the `serviceMonitorNamespaceSelector` to select the namespace the ServiceMonitor objects should be selected from.

[2018-06-12 08:49] brancz commented on #1244
You are likely using an outdated commit, on latest master, the `hack/cluster-monitoring/deploy` script does not exist anymore and the manifests all have linux node selectors. Could you try latest master?

[2018-06-12 08:54] brancz commented on #1446
jsonnet is a language, that generates json, in the readme we described how to build that and convert it to yaml. You can run `kubectl create -f manifests/` once you have generated the new manifests yourself with jsonnet.

[2018-06-12 09:28] brancz commented on #1415
@azzaka where in the documentation do you think it would fit best? Would you like to shoot us a PR? :slightly_smiling_face:

[2018-06-12 09:32] desaintmartin commented on #256
Nice! I have some code lying out there about blackbox helm chart, I'll try to find time to enhance yours.

[2018-06-12 09:35] smileisak commented on #1435
@mxinden i've create a PR : https://github.com/coreos/prometheus-operator/pull/1468

[2018-06-12 10:14] gianrubio commented on #1369
This is not an issue in the helm charts pleas read [this issue(https://github.com/kubernetes/kops/issues/4975#issuecomment-381055946)] to fix it. Another solution will be to monitor etcd running an [extra prometheus](https://github.com/coreos/prometheus-operator/issues/898) instance using tolerations to schedule it in a master node.

It'll be nice to have to etcd monitored out of the box with the

[2018-06-12 10:59] jiuchongxiao commented on #1446
it works,thank you very much @brancz

[2018-06-12 11:51] gianrubio commented on #1369
With this `Prometheus` object you can launch a new prometheus in your cluster and pull metrics from etcd.

[code]

[2018-06-12 12:17] ArvinDevel commented on #1304
I'm not sure why the doc is not updated, maybe the pr is restricted to specific version(currently this snapshot version), and the official doc points to somewhere that I don't know.
The spec of `prometheus` should specify `serviceAccountName: prometheus` explicitly, just as [the pr](https://github.com/coreos/prometheus-operator/commit/c20139acce2cb599df26bb5a7885d5727d2bf94f#diff-074af51441a7c1a32

[2018-06-12 14:11] mattcopas opened #1470 "ServiceMonitor not appearing in config or targets"
**What did you do?**
Added prometheus to a k8s cluster using helm. All pods are running as expected:
[code]
Note that I have added spring-simple-rest-deployment in the default (and later monitoring) namespace, in case that was the issue.

I added a new servicemonitor in the monitoring namespace:
[code]

And can see it in the cluster:
[code]

**What did you expect to see?**
spring-simple-rest to ap

[2018-06-12 14:47] nabadger opened #1472 "Can the configmap generated by PrometheusRule's hit the size limit?"
As far as I'm aware there's still a 1mb size limit imposed on configmaps due to the backend storage.

I noticed that when we create `PrometheusRule` objects, the operator ends up populating a single configmap. It looks like this is handled by `makeRulesConfigMap`

Could this potentially hit the config size limit, and if so, is there a workaround? Previously I could generate multiple configmaps.

T

[2018-06-12 14:57] brycesteinhoff commented on #890
Thanks @brancz, I just saw that setting this morning. Will give it a shot!

[2018-06-12 15:01] brancz commented on #1472
Yes, that is definitely possible. To be entirely honest we were not expecting people to have that many alert definitions, but as so often that assumption was wrong. We need to fix this.

/cc @mxinden do you want to have a look at this?

[2018-06-12 21:20] dimm0 opened #1473 "Network traffic in K8s/ USE method / Cluster dashboard is only counted for node-exporter container"
**What did you do?**
Installed the 0.20.0 version using NO helm and with ksonnet

**What did you expect to see?**
Cluster dashboard showing all network traffic for the nodes

**What did you see instead? Under which circumstances?**
Traffic for node_exporter's eth0 interface only, kilobytes range, while the cluster is transmitting gigabytes

**Environment**
kubeadm, kubernetes 1.10.3, centos 7

* K

[2018-06-12 22:10] RudyBone opened #1474 "Any support for the emptydir volume claim for Prometheus resource and stateful set?"
I'm guessing the answer is no, however just to be clear I am working on a small 3 node cluster that does not have persistent storage.  I have a persistent volume claim (which remains in the pending state), but the Prometheus stateful set never creates any pods (probably because of the missing volume claim).  Am I correct in assuming that this is a stateful set issue?  Couldn't find anything in the

[2018-06-13 01:52] dimm0 commented on #1474
Here's the example of a statefulset with emptydirs:
https://github.com/kubernetes/kubernetes/blob/master/test/e2e/testing-manifests/statefulset/mysql-galera/statefulset.yaml#L76

[2018-06-13 05:19] jiuchongxiao commented on #1446
it works,but why i cannot find the alertmanager config info in the manifest .yaml. where it goes,and why not in ymal file?
@brancz

[2018-06-13 06:52] mxinden commented on #1474
You can specify an EmptyDir storage via the Prometheus [`StorageSpec`](https://github.com/coreos/prometheus-operator/blob/master/Documentation/api.md#storagespec).

Let me know if this solves your problem.

[2018-06-13 07:59] datarace opened #1477 "Grafana - allow for LDAP configuration in grafana.ini & ldap.toml"
**What did you do?**
Installed Helm Chart, but there is no externalization of LDAP authentication for Grafana
The Grafana Helm chart should allow for LDAP configuration in grafana.ini & ldap.toml

[2018-06-13 08:15] brancz commented on #1446
the files need to be relative to the jsonnet file you are executing

[2018-06-13 08:16] gianrubio commented on #1369
I finally got an extra prometheus instance running in my master nodes, it's dedicated to pull metrics only from etcd.  It's a bit tricky to configure this extra instance and to not duplicate configuration between prometheus instances (serviceMonitorSelector and service labels conflicts 💀 🔫 ).
Before I implement this in the helm chart I'd like to see how users behaves with this configs, so no PR fo

[2018-06-13 08:36] brancz commented on #1474
If you just don't define the `storage` field, then the Prometheus Pods will default to using emptydir volumes.

[2018-06-13 08:43] brancz commented on #1473
That's definitely a problem. Any idea why, the node-exporter is already running in host network namespace, so it should at least be able to pick up the right metrics, are we just not showing the right metrics?

If there are any changes we need to make to the dashboard, then we need to do that in the [kubernetes-mixin](https://github.com/kubernetes-monitoring/kubernetes-mixin) repository.

[2018-06-13 09:10] nabadger commented on #1472
Thanks.

It's also worth noting that since the kubernetes `PrometheusRule` object will also need to store the `last-applied-configuration` in the annotation, the amount of rule-data we can actually add is further reduced.

[2018-06-13 09:38] steinliber opened #1479 "servicemonitor use config before"
I create a blackbox servicemonitor for monitor, the config in prometheus is below

[code]

this work well, and i get the target up
![image](https://user-images.githubusercontent.com/13215800/41344552-f8cd32de-6f33-11e8-9dfe-ad9f12a46543.png)

after that i create a rabbitmq servicemonitor, use config like below

[code]

the prometheus config is below

[code]

but when i look prometheus config, i ge

[2018-06-13 12:58] aleerizw commented on #1458
@sneko Can you check the logs for the grafana  container logs and see if anything is wrong there. I was having the same issue and the following solved the problem for me:
https://github.com/coreos/prometheus-operator/tree/master/helm/grafana#adding-grafana-dashboards

The dashboard json needs to be wrapped in a `"dashboard"` key. Hope this helps!

[2018-06-13 13:31] brancz commented on #1479
that looks very strange, could you share the whole prometheus configuration that is generated?

[2018-06-13 13:58] 2color commented on #481
Given that tectonic monitoring is already using version 2.x of Prometheus, is it safe to use the `      volumeClaimTemplate` in the `tectonic-monitoring` configmap?

[2018-06-13 14:33] brancz commented on #481
@2color yes.

[2018-06-13 14:35] mxinden commented on #1039
@mrueg Sorry for the trouble here. Fyi the prometheus-config-reloader image is automatically pushed and tagged via Travis on each release now.

[2018-06-13 14:40] aranair commented on #1458
I have a small script [Github Gist](https://gist.github.com/aranair/bec788df5a9a292f42e088e481b856c6)I use to help me format the dashboards to be used.  (You do need the CLI tool `jq` though). Also assumes it's using Prometheus as source.

[2018-06-13 20:41] sipian commented on #357
To add to Blasterdick [solution](https://github.com/coreos/prometheus-operator/issues/357#issuecomment-363498455) of looking through Stackdriver logs.
We can also get the principalEmail from the `client-id` field in service-account.json file

[2018-06-13 21:01] dimm0 commented on #1473
My node-exporter is not running in host network namespace. Where is that set?

[2018-06-14 00:56] #1446 closed

[2018-06-14 02:54] steinliber commented on #1479
[code]

The config look like right, the strange thing is the target ip and port is right, but other config use blackbox

![image](https://user-images.githubusercontent.com/13215800/41389036-3dd84d72-6fc1-11e8-93f2-3a05ff6f9ac6.png)

[2018-06-14 07:01] hppx5456 opened #1482 "node-exporter cannot access"
when i use command
kubectl get svc --all-namespaces
find
monitoring    node-exporter                   NodePort    10.68.255.0     <none>        9100:37599/TCP
next
Open in browsers with https://myhost:37599/metrics
display Unauthorized
so How to modify？

[2018-06-14 10:07] steinliber commented on #1479
i find even i don't create servicemonitor for rabbitmq-monitor, Once i create deployment and service of rabbitmq-monitor, the target of rabbitmq-monitor appear...

[2018-06-14 10:46] steinliber commented on #1479
If i first create rabbitmq exporter then blackbox, i get target below
![image](https://user-images.githubusercontent.com/13215800/41407700-ce5c7cf6-7002-11e8-8e87-ef732f347e6e.png)

does this mean i config error selector,  here is my blackbox servicemonitor config

[code]

this is my rabbitmq service config

[code]

[2018-06-14 10:53] steinliber commented on #1479
Look like i use same service port name for rabbitmq and blackbox, once i change the name, everything is ok

[2018-06-14 13:36] mxinden commented on #1473
@dimm0 this is an issue on our side. The fixing patch is here: https://github.com/coreos/prometheus-operator/pull/1484

Thanks a lot for reporting the issue! Would you mind trying those changes out?

[2018-06-14 13:54] brancz commented on #1482
The node-exporter is protected by the kube-rbac-proxy, so when you do a request against it, you must do it with a serviceaccount token that has the respective rbac permissions to view it. In the node-exporter case this is access to the `nonResourceUrl` with the value `/metrics`.

[2018-06-14 14:15] mxinden commented on #1479
@steinliber thanks for posting such a detailed issue description.

Do I understand correctly, that your rabbitmq-exporter is being picked up by the black-box-exporter-service-monitor?

One thing that caught my attention is that your rabbitmq-exporter service has the label `k8s-app: rabbitmq-exporter`, whereas your rabbitmq-exporter service-monitor selects any services with the label `app: rabbitmq

[2018-06-14 14:27] mxinden commented on #1479
In addition what @brancz pointed me to:

Using ServiceMonitors with the blackbox exporter might not be what you want to do. This way you end up scraping individual endpoints (pods), whereas you might want to scrape only the service instead, treating it as a black box.

You could achieve this via the `additionalScrapeConfig` parameter in the Prometheus configuration. Here you would need to add:
[co

[2018-06-14 16:44] sneko commented on #1458
Hi @aleerizw @aranair !

You were true 😃 it was about formatting dashboard files.

@aleerizw I didn't see the last line about dashboard key :s . It was more described there (didn't find the working link):
https://webcache.googleusercontent.com/search?q=cache:tjiAQNFsyQMJ:https://github.com/coreos/prometheus-operator/blob/master/contrib/grafana-watcher/README.md+&cd=1&hl=fr&ct=clnk&gl=us

That's ex

[2018-06-14 16:45] #1458 closed

[2018-06-14 16:55] dimm0 commented on #1473
Sure, will try those

[2018-06-14 17:44] dimm0 commented on #1473
Yes, that worked fine.
So now I have a problem of showing all possible network interfaces, none of which is called eth0. SHould I make my own adjustments, or you can include `device!="cali.*|lo|tunl0"` (for calico) in your rules instead of `device="eth0"`?

[2018-06-14 18:21] Andre-Freitas opened #1487 "basic auth not working in ServiceMonitor"
**What did you do?**

Added prometheus to a k8s cluster using helm chart kube-prometheus (0.0.79). All pods are running as expected:

[code]
using this [info](https://coreos.com/operators/prometheus/docs/0.17.0/user-guides/basic-auth.html) i tried to create a service monitor for a existing container that is exposing prometheus metrics

[code]
[code]

**What did you expect to see?**

This new devic

[2018-06-14 21:35] midnightconman opened #1488 "Remote Write "queue_config" Options Exposure"
Would it be possible to expose some of the `queue_config` knobs available for remote write in the `RemoteWriteSpec` object? We have a use case where we need to tweak these settings and we would like to use the prometheus-operator to do so.

- https://prometheus.io/docs/prometheus/latest/configuration/configuration/#remote_write

[2018-06-14 23:19] neuromantik33 commented on #479
Hi I'm facing a similar issue on GKE reported by me described [here (gke issuetracker)](https://issuetracker.google.com/issues/109894256) however I'm unable to modify the apiserver as it is managed elsewhere. Is there a possible workaround which would allow me to continue monitoring the k8s apiserver?

[2018-06-15 03:06] tals commented on #1470
I was just bitten by this.

When installing with helm, it applies a serviceMonitorSelector:
[code]

meaning that if your ServiceMonitor does not have an `app` label with one of these values, it will not be discovered, even if it is in the same namespace.
This contradicts the documentation here: https://coreos.com/operators/prometheus/docs/latest/user-guides/running-exporters.html

This was almost

[2018-06-15 07:05] alanh0vx opened #1489 "Cannot find memory metrics for the pods in default namespace"
**What did you do?**
Installed prometheus by helm -->
_helm install coreos/prometheus-operator --name prometheus-operator --namespace monitoring

helm install --name kube-prometheus --namespace monitoring  -f custom-values.yaml coreos/kube-prometheus_

(custom-values.yaml is used for setting requested memory)

_kubectl port-forward -n monitoring prometheus-kube-prometheus-0 9090_

**What did you e

[2018-06-15 07:37] brancz commented on #1473
The use method dashboards are meant for cluster / node level statistics, calico interfaces would be container level, no?

Nevertheless it should be configurable what the hosts network interfaces are that should be shown.

[2018-06-15 07:42] brancz commented on #479
You can create an artificial service and Endpoints object where you manage the IPs manually.

As an update the correct solution is not the apiserver count anymore, as this turned out to have problems as well. The recommended way is to use the lease Endpoints reconciler, which I believe in 1.11 will be default.

 Evertheless Google should enable this flag for all 1.9+ clusters (which is when the le

[2018-06-15 07:50] brancz commented on #1489
Do you actually have limits defined on those pods?

[2018-06-15 08:06] alanh0vx commented on #1489
Ok Thanks, know what I am missing now!
:)

[2018-06-15 08:06] #1489 closed

[2018-06-15 08:37] neuromantik33 commented on #479
Ok thanks, I figured I would create my own synthetic service/endpoint, thanks for the quick reply! :)

[2018-06-15 08:48] alanh0vx opened #1490 "No datapoints found for container_cpu_usage_seconds_total"
**What did you do?**
[code]
[code]

type the query from Prometheus
[code]

**What did you expect to see?**
able to find `container_cpu_usage_seconds_total` from the dropdown, and the corresponding graph

**What did you see instead? Under which circumstances?**
No datapoints found.

[2018-06-15 09:10] brancz commented on #1487
My hunch is that we only look for secrets in the same namespace as the Prometheus object, instead we should use the namespace of the ServiceMonitor.

@mxinden do you think you could have a look at this?

[2018-06-15 09:11] brancz commented on #1488
Thanks for opening this issue! Yes I think we should expose these options. Would you like to shoot us a PR to add these? :slightly_smiling_face:

[2018-06-15 09:12] brancz commented on #1490
Could you make sure that the kubelets are being successfully scraped? You can check this in the `/targets` page of the Prometheus UI.

[2018-06-15 10:05] Andre-Freitas commented on #1487
i tried even having the secret in "default" namespace but with no success. I think we should use the namespace defined in namespaceSelector: as normally the secrets for a specific service with be in the same namespace as the service that we are trying to monitor and not in the namespace of the servicemonitor

[2018-06-15 10:57] brancz commented on #1487
I think we can only do the namespace of the ServiceMonitor, as the content of the `namespaceSelector` is ultimately executed by the Prometheus instance itself, so we don't know which namespace it could be. With the `v0.19.0` release you can select ServiceMonitor objects across namespaces, though so teams can just define the ServiceMonitor in their namespace and have the secret there as well. Just

[2018-06-15 11:37] #1473 closed

[2018-06-15 11:51] mxinden commented on #1473
This issue was automatically closed with #1484 being merged. @dimm0 please reopen on further questions!

[2018-06-15 12:11] gianrubio commented on #1477
We're planning to use charts from upstream https://github.com/coreos/prometheus-operator/issues/1154 so this feature should be available on grafana and not here. I'm gonna close this issue for now because we are not planning to accept this feature here.

[2018-06-15 12:11] #1477 closed

[2018-06-15 12:54] #1456 closed

[2018-06-15 13:33] mxinden commented on #1487
Yes, that is correct. We are only looking inside the [namespace](https://github.com/coreos/prometheus-operator/blob/master/pkg/prometheus/operator.go#L1001) of the Prometheus instance for secrets.

Instead looking for secrets inside the ServiceMonitor namespace sounds good to me.

[2018-06-15 14:19] #1412 closed

[2018-06-15 14:21] gianrubio commented on #1419
@brancz the changes has been applied to the helm chart, however the CI is failing before we sync the files to s3. Do you mind to fix the CI?

[2018-06-15 14:36] brancz commented on #1166
That already exists as the `targetLabels` feature.

[2018-06-15 14:38] luisdavim commented on #1166
oh I was not aware of that, will this append tags to the list or replace the original list?

[2018-06-15 14:40] brancz commented on #1166
The `targetLabels` selected will be additive to the already existing labels. The whole point of all of this is that we can have a streamlined Kubernetes experience to have common alerting rules, dashboards etc. without having to mess with labelings, which is why we want to restrict differences in infrastructure as much as we can.

[2018-06-15 15:28] Andre-Freitas commented on #1487
@brancz i have tested the following:

1. created service device-metrics in develop namespace + secret and ServiceMonitor in monitoring namespace = **device-metrics correctly added** to prometheus target list
1. created service device-metrics and ServiceMonitor in develop namespace + secret in monitoring namespace = **device-metrics correctly added** to prometheus target list
1. created service dev

[2018-06-15 18:00] midnightconman commented on #1488
Sure, let me see if I can get one out today. :D

[2018-06-15 19:42] midnightconman commented on #1488
Verified with the following prometheus remoteWrite config:
[code]

[2018-06-16 04:36] alanh0vx commented on #1490
Thanks, kubelets return 401, it should be the similar case as https://github.com/coreos/prometheus-operator/issues/976

[2018-06-16 17:18] mxinden commented on #1479
Would you mind posting your black-box-exporter Service here as well?

Let say you have two pods behind one service. Scraping endpoints would mean, that you are scraping two targets per scrape interval. Scraping services would mean, that you are scraping exactly one target  per scrape interval. This would alternate between the two pods by whatever your kube-proxy and the underlying network stack do

[2018-06-16 19:46] k1ng440 commented on #1470
why helm doing it?

[2018-06-17 01:57] ArvinDevel commented on #1332
I'm confused with [the customization way of kube-prometheus using jsonnet](https://github.com/coreos/prometheus-operator/blob/master/contrib/kube-prometheus/README.md). For example, When I want to change alertmanager config, Where to put those lines below, how to execute it?
[code]
I put it into one single jsonnet file `alertmanager.jsonnet`, and create dir `alertmanger`, then execute using
[code]

[2018-06-17 06:57] ArvinDevel commented on #1332
@brancz , I want to delete some of the default dashboards, is there some quick way to do it?
Essentially, I want to modify some of the default dashboards, but found the exported json file can't be loaded to  the grafana using [tuitorial](https://github.com/coreos/prometheus-operator/blob/master/contrib/kube-prometheus/docs/developing-prometheus-rules-and-grafana-dashboards.md), so I want to delete

[2018-06-17 07:44] trondhindenes opened #1495 "I dont understand the readme"
The readme is almost impossible to understand. I've read it 5 times and I still don't understand why it's necessary to use webhook auth. I not saying that super-fluent English should be a requirement for a github project, but I can't deploy a project when I don't understand at least the basics of the setup requirements.

[2018-06-17 09:14] ArvinDevel commented on #1332
@brancz I realized how to override default config of grafanadashbords, using
[code]
But that would be better if there exists some doc explaining the fields of every object, for example, the fields of `grafanaDashboards`, so that we can do set favourite/star dashboard and other stuff easily.

[2018-06-18 03:04] ArvinDevel opened #1496 "master version of kubernetes-mixin jsonnet lib cause error due to the latest update"
**What did you do?**
extend prometheus rule

**What did you expect to see?**
run well

**What did you see instead? Under which circumstances?**
manifestation error

**Environment**
Linux server, mac client

* Kubernetes version information:

Client Version: version.Info{Major:"1", Minor:"10", GitVersion:"v1.10.1", GitCommit:"d4ab47518836c750f9949b9e0d387f20fb92260b", GitTreeState:"clean", BuildDat

[2018-06-18 09:27] brancz commented on #1332
@ArvinDevel as mentioned in the beginning, any of the examples depicted should be run in *your own* infrastructure repository, not within this repository and dependency management is handled with jsonnet-bundler.

The example you picked just renders the Alertmanager secret, you can remove the `.alertmanager.secret` at the end to generate the entire stack.

The examples always show the minimal code

[2018-06-18 09:29] brancz commented on #1490
Yes that was my suspicion :slightly_smiling_face:. We have some troubleshooting docs for this here: https://github.com/coreos/prometheus-operator/tree/master/contrib/kube-prometheus#troubleshooting

Let us know if that helps! :slightly_smiling_face:

[2018-06-18 11:14] brancz commented on #1495
It means that a ServiceAccount token can be used to authenticate against a kubelet (typically it can only be used to authenticate against the Kubernetes API). We require this as otherwise people must issue an extra set of client certificates for Prometheus to authenticate with the kubelet. A number of tools to create clusters have this enabled by default (GKE starting with 1.11, OpenShift, typhoon

[2018-06-18 12:04] brancz commented on #1496
You're right, I'm currently fixing this.

Yes, unfortunately there is a bug in jsonnet-bundler right now that needs to be fixed for this to work correctly.

[2018-06-18 13:01] jithinraj89 commented on #324
@brancz
I tried to create an additionalScrapeConfig ( secret ) prometheus.yml file as mentioned below. I used the same labels (managed-by: prometheus-operator) as the current prometheus.yml file have. restarted the pod. still, don't see any change under the` /configuration`  am I missing something here.

[code]

[2018-06-18 13:39] brancz commented on #324
@jithinraj89 you need to specify which secret and key you want to use in the `PrometheusSpec` as linked above. Look for the `additionalScrapeConfigs` field in the `PrometheusSpec`.

[2018-06-18 14:21] yurchenkosv opened #1498 "Is there any way to provide different alerting rules to single prometheus?"
**What did you expect to see?**
I expect, that developers can write their own alerting rules for their projects. I have one prometheus instance (created with your CRD) and searching the way to provide multiple alerting rules with dynamic update/reload. Something, that you done with ServiceMonitor, when for each project, developer can simply write ServiceMonitor config and prometheus "knows" how to

[2018-06-18 15:11] mxinden commented on #1487
Thanks a bunch for the thorough testing!

For sure, I think the current state should be treated as a bug. In my eyes, we should only look for secrets inside the namespace of the ServiceMonitor.

@Andre-Freitas would you like to give this a shot and create a patch for it? [`loadBasicAuthSecrets`](https://github.com/coreos/prometheus-operator/blob/master/pkg/prometheus/operator.go#L1009) should be y

[2018-06-18 16:29] brancz commented on #1498
You are in luck, this is exactly why we introduced the `PrometheusRule` CRD in the latest release. You can control which rules are being picked up by a Prometheus server using the `ruleSelector` as well as the `ruleNamespaceSelector`.

Let us know whether this is what you were looking for and how it goes! :slightly_smiling_face:

[2018-06-18 18:28] jithinraj89 commented on #324
@brancz I have specified the secret and key in the PrometheusSpec as below, created the secret with `name: additional-scrape-configs  key: prometheus-additional.yaml`. but I am unable to see the `job_name` appended in ` /config`. Please help.

prometheus-k8s.yaml
[code]

created the secret like this.
`kubectl create secret generic additional-scrape-configs --from-file=prometheus-additional.yaml --

[2018-06-18 18:59] brancz commented on #324
Which version of the Prometheus operator are you using?

[2018-06-18 20:10] brancz commented on #1496
The concrete issue here was fixed by #1497 and the respective upstream PR. The remaining jsonnet-bundler issue is tracked on that repository.

[2018-06-18 20:10] #1496 closed

[2018-06-19 00:08] jalateras opened #1501 "Cannot see the prometheus pod or endpoint"
**What did you do?**
[code]
**What did you expect to see?**
I expected to see the prometheus pod up and running under the monitoring namespace and be able to do a `kubectl port-forward <pod> 9090`
**What did you see instead? Under which circumstances?**
I can see the following pods

[code]

The following services

[code]

and the following endpoints

[code]

i cannot see the `kube-prometheus` pod

[2018-06-19 02:15] jiuchongxiao opened #1502 "alertmanager send duplicate repeated emails"
my alertmanager ha send repeated emails.
![default](https://user-images.githubusercontent.com/13093730/41572381-14eb2a3c-73aa-11e8-9ed9-2bc67fcccdd7.png)

**my config as follow**:

config:
    global:
      resolve_timeout: 5m
      # The smarthost and SMTP sender used for mail notifications.
      smtp_smarthost: 'smtp.ym.163.com:25'
      smtp_from: 'xxxx'
      smtp_auth_username: xxxx'
      s

[2018-06-19 03:40] steinliber commented on #1479
Thanks, i get it, this help me a lot
This is my blackbox-exporter total config

[code]

[2018-06-19 03:56] jiuchongxiao commented on #1502
i setted Number of Alertmanager replicas  replicaCount =3   i will recived 3 eamils.
when i set replicaCount =1 i will recived 1 email.

why ? should not it be set replicaCount?

[2018-06-19 05:12] jalateras commented on #1501
After looking at the logs in the operator i found the reason that prometheus wasn't starting up correctly

[code]

[2018-06-19 05:12] #1501 closed

[2018-06-19 08:16] brancz commented on #1502
Which version of the Alertmanager are you using? Could you check the UI of the Alertmanager and check that there are multiple peers in the `/#/status` page listed?

[2018-06-19 08:45] Zwordi commented on #1495
Hi,

I agree with @trondhindenes .
I will try to do a PR with additions/changes.

Anyway it's a nice "plug&play" for small IT teams.
Thanks

[2018-06-19 08:51] jiuchongxiao commented on #1502
@brancz
![default](https://user-images.githubusercontent.com/13093730/41587097-f4b9b260-73e0-11e8-8a0f-ccc60f725148.png)

[2018-06-19 09:13] brancz commented on #1502
Which version of the Prometheus Operator are you using? (could you try `v0.15.0-rc.3` of the Alertmanager as well, there are numerous bugs that have been fixed from `0.14.0` to `0.15.0-rc.3`)

[2018-06-19 09:14] Zwordi opened #1503 "Kube-prometheus - After enabling webhook and authentication i can't get logs from my pods with kubectl"
**What did you do?**
I just finished my setup by enabling :

**What did you expect to see?**

I have my grafana working fine with all the default dashboard.

**What did you see instead? Under which circumstances?**

When i'm using the dashboard or kubectl i get :
` Forbidden (user=system:node:kubYY, verb=get, resource=nodes, subresource=proxy) ( pods/log XXX) `

**Environment**

* Kubernetes versi

[2018-06-19 09:33] brancz commented on #1502
What about the prometheus-operator Pod?