[2021-06-07 16:11] #1303 closed

[2021-06-07 16:12] #1307 closed

[2021-06-07 16:12] #1371 closed

[2021-06-07 16:13] paulfantom commented on #1418
The alert is no longer shipped.

[2021-06-07 16:13] #1418 closed

[2021-06-07 16:13] paulfantom commented on #1441
I do believe we finally have all labels in 0.48.1 :)

[2021-06-07 16:13] #1441 closed

[2021-06-07 16:14] paulfantom commented on #1474
This issue hasn't been updated for a longer period of time. Since then we made significant changes to prometheus-operator. If you think this issue is still valid, please reopen it.

[2021-06-07 16:14] #1474 closed

[2021-06-07 16:14] paulfantom commented on #1506
This issue hasn't been updated for a longer period of time. Since then we made significant changes to prometheus-operator. If you think this issue is still valid, please reopen it.

[2021-06-07 16:14] #1506 closed

[2021-06-07 16:18] paulfantom commented on #1547
This will be possible with the introduction of generic ScrapeConfig CRD (issue #2787). Currently, there is no plan to support annotation-based discovery without additional CR.

I am closing this in favor of #2787. If you think this issue is still relevant, please reopen it.

[2021-06-07 16:18] #1547 closed

[2021-06-07 16:20] paulfantom commented on #1777
That alert is no longer shipped.

[2021-06-07 16:20] #1777 closed

[2021-06-07 16:25] paulfantom commented on #1897
With https://github.com/kubernetes/enhancements/tree/master/keps/sig-apps/1847-autoremove-statefulset-pvcs it should be pretty easy to implement. However we need to wait on k8s to implement `PersistentVolumeClaimPolicy` first :)

[2021-06-07 16:27] paulfantom commented on #2590
This seems to be implemented with #3241

[2021-06-07 16:27] #2590 closed

[2021-06-07 16:29] paulfantom commented on #2452
I do believe this is implemented already. If you think this issue is still valid, please reopen it.

[2021-06-07 16:29] #2452 closed

[2021-06-07 16:30] #1184 closed

[2021-06-07 16:30] paulfantom commented on #1604
This issue hasn't been updated for a longer period of time. Since then we made significant changes to prometheus-operator. If you think this issue is still valid, please reopen it.

[2021-06-07 16:30] #1604 closed

[2021-06-07 16:37] #2646 closed

[2021-06-07 16:38] paulfantom commented on #2640
This issue hasn't been updated for a longer period of time. Since then we made significant changes to prometheus-operator. If you think this issue is still valid, please reopen it.

[2021-06-07 16:38] #2640 closed

[2021-06-07 16:39] paulfantom commented on #2572
This issue hasn't been updated for a longer period of time. Since then we made significant changes to prometheus-operator. If you think this issue is still valid, please reopen it.

[2021-06-07 16:39] #2572 closed

[2021-06-07 16:39] paulfantom commented on #2555
This issue hasn't been updated for a longer period of time. Since then we made significant changes to prometheus-operator. If you think this issue is still valid, please reopen it.

[2021-06-07 16:39] #2555 closed

[2021-06-07 16:40] eugenberend opened #4078 "Support mute_time_intervals syntax (AlertManager >= v0.22.0)"
**What happened?**

An option `mute_time_intervals` new for Alertmanager v0.22.0 cannot be applied if prometheus-operator is used:

[code]

and this configuration option does not appear in the actual config after deploy.

**Did you expect to see something different?**

I expected that this option would be passed into AM config.

**How to reproduce it (as minimally and precisely as possible)**:

*

[2021-06-07 16:43] paulfantom commented on #2258
This is implemented with #3451

[2021-06-07 16:43] #2258 closed

[2021-06-07 16:44] paulfantom commented on #2238
This issue hasn't been updated for a longer period of time. Since then we made significant changes to prometheus-operator. If you think this issue is still valid, please reopen it.

[2021-06-07 16:44] #2238 closed

[2021-06-07 16:44] #2065 closed

[2021-06-07 16:46] paulfantom commented on #2192
This issue hasn't been updated for a longer period of time. Since then we made significant changes to prometheus-operator. If you think this issue is still valid, please reopen it.

[2021-06-07 16:46] #2192 closed

[2021-06-07 16:46] paulfantom commented on #2663
This issue hasn't been updated for a longer period of time. Since then we made significant changes to prometheus-operator. If you think this issue is still valid, please reopen it.

[2021-06-07 16:46] #2663 closed

[2021-06-07 16:50] paulfantom commented on #2752
RBAC is set outside of prometheus-operator codebase and examples show now a necessary operations: https://github.com/prometheus-operator/prometheus-operator/blob/master/example/rbac/prometheus-operator/prometheus-operator-cluster-role.yaml#L64-L71

If you think this issue is still valid, please reopen it.

[2021-06-07 16:50] #2752 closed

[2021-06-07 16:52] paulfantom commented on #3869
jsonnet-ci image is no longer used as we moved to a different way of managing tooling dependencies.

[2021-06-07 16:52] #3869 closed

[2021-06-07 17:08] paulfantom commented on #3932
Crazy thought, but completely serious - what if we ditch semver and follow a calendar release model (releases tagged with a date, ex. `v2021.06`), while still following CRD versioning we have right now? This would have the benefit of showing where the stability of the project lies (CRDs) and what is rolling to satisfy those APIs.

Additionally, it would have a positive side-effect of quickly showi

[2021-06-07 17:20] paulfantom commented on #4065
I agree with Simon, dropping labels with an established mechanism of using relabel_configs/metric_relabel_configs is IMHO better than introducing another parameter for this small feature.

[2021-06-07 17:23] paulfantom commented on #3166
This issue hasn't been updated for a longer period of time. Since then we made significant changes to prometheus-operator. If you think this issue is still valid, please reopen it.

[2021-06-07 17:23] #3166 closed

[2021-06-07 17:28] paulfantom commented on #2682
Yes, that is the recommendation.

If you think this issue is still valid, please reopen it.

[2021-06-07 17:29] #2682 closed

[2021-06-07 17:29] paulfantom commented on #2694
This issue hasn't been updated for a longer period of time. Since then we made significant changes to prometheus-operator. If you think this issue is still valid, please reopen it.

[2021-06-07 17:29] #2694 closed

[2021-06-07 17:29] #2721 closed

[2021-06-07 17:30] #2731 closed

[2021-06-07 17:30] #2733 closed

[2021-06-07 17:32] #2780 closed

[2021-06-07 17:40] #2781 closed

[2021-06-07 17:41] paulfantom commented on #2803
This issue hasn't been updated for a longer period of time. Since then we made significant changes to prometheus-operator. If you think this issue is still valid, please reopen it.

[2021-06-07 17:41] #2803 closed

[2021-06-07 17:41] #2849 closed

[2021-06-07 17:46] paulfantom commented on #2858
@wacuuu @rchenzheng sorry for pinging on the old issue. What is the actual problem you experienced? Is it that prometheus cannot be started because Secret for additionalScrapeConfigs is missing? Because that IMHO is the correct thing to do, operator fails fast and hard instead of silently not configuring prometheus to gather data.

[2021-06-07 17:47] #2877 closed

[2021-06-07 17:48] #3292 closed

[2021-06-07 17:49] #3267 closed

[2021-06-07 17:50] paulfantom commented on #3252
This issue hasn't been updated for a longer period of time. Since then we made significant changes to prometheus-operator. If you think this issue is still valid, please reopen it.

[2021-06-07 17:50] #3252 closed

[2021-06-07 17:51] paulfantom commented on #3246
Closing as the issue appears to be answered. If you need additional clarification, please reopen it.

[2021-06-07 17:51] #3246 closed

[2021-06-07 17:51] paulfantom commented on #3245
Closing as the issue appears to be answered. If you need additional clarification, please reopen it.

[2021-06-07 17:51] #3245 closed

[2021-06-07 17:51] paulfantom commented on #3243
Closing as the issue appears to be answered. If you need additional clarification, please reopen it.

[2021-06-07 17:51] #3243 closed

[2021-06-07 17:51] paulfantom commented on #3238
Closing as the issue appears to be answered. If you need additional clarification, please reopen it.

[2021-06-07 17:51] #3238 closed

[2021-06-07 17:52] paulfantom commented on #3215
Closing as the issue appears to be answered. If you need additional clarification, please reopen it.

[2021-06-07 17:52] #3215 closed

[2021-06-07 17:52] #3192 closed

[2021-06-07 17:52] paulfantom commented on #3188
Closing as the issue appears to be answered. If you need additional clarification, please reopen it.

[2021-06-07 17:52] #3188 closed

[2021-06-07 17:53] paulfantom commented on #3180
OLM now includes prometheus-operator v0.47.0, which makes this issue obsolete. If you think this issue is still valid, please reopen it.

[2021-06-07 17:53] #3180 closed

[2021-06-07 17:54] paulfantom commented on #3161
Helm chart was moved to https://github.com/prometheus-community/helm-charts/tree/main/charts/kube-prometheus-stack and is now community maintained.

[2021-06-07 17:54] #3161 closed

[2021-06-07 17:54] paulfantom commented on #3124
This issue hasn't been updated for a longer period of time and appears to be answered. If you need additional clarification, please reopen it.

[2021-06-07 17:54] #3124 closed

[2021-06-07 17:55] paulfantom commented on #3111
This issue hasn't been updated for a longer period of time and appears to be answered. If you need additional clarification, please reopen it.

[2021-06-07 17:55] #3111 closed

[2021-06-07 17:57] paulfantom commented on #3079
If you get the same problems as the reporter of this issue, consider the following advice from https://github.com/prometheus-operator/prometheus-operator/issues/3079#issuecomment-598833801. If you need additional guidance, please open a discussion in https://github.com/prometheus-operator/prometheus-operator/discussions.

Closing as the issue appears to be answered.

[2021-06-07 17:57] #3079 closed

[2021-06-07 17:57] paulfantom commented on #3072
This issue hasn't been updated for a longer period of time and appears to be answered. If you need additional clarification, please reopen it.

[2021-06-07 17:57] #3072 closed

[2021-06-07 17:57] paulfantom commented on #3017
This issue hasn't been updated for a longer period of time and appears to be answered. If you need additional clarification, please reopen it.

[2021-06-07 17:57] #3017 closed

[2021-06-07 17:58] paulfantom commented on #2908
This issue hasn't been updated for a longer period of time and appears to be answered. If you need additional clarification, please reopen it.

[2021-06-07 17:58] #2908 closed

[2021-06-07 17:58] paulfantom commented on #2907
This issue hasn't been updated for a longer period of time and appears to be answered. If you need additional clarification, please reopen it.

[2021-06-07 17:58] #2907 closed

[2021-06-07 17:59] paulfantom commented on #2905
This issue hasn't been updated for a longer period of time and appears to be answered. If you need additional clarification, please reopen it.

[2021-06-07 17:59] #2905 closed

[2021-06-07 17:59] paulfantom commented on #2896
This issue hasn't been updated for a longer period of time and appears to be answered. If you need additional clarification, please reopen it.

[2021-06-07 17:59] #2896 closed

[2021-06-07 18:11] paulfantom commented on #3305
Closing as the issue appears to be answered. If you need additional clarification, please reopen it.

[2021-06-07 18:11] #3305 closed

[2021-06-07 18:11] paulfantom commented on #3320
This issue hasn't been updated for a longer period of time and appears to be answered. If you need additional clarification, please reopen it.

[2021-06-07 18:11] #3320 closed

[2021-06-07 18:11] paulfantom commented on #3331
This issue hasn't been updated for a longer period of time and appears to be answered. If you need additional clarification, please reopen it.

[2021-06-07 18:11] #3331 closed

[2021-06-07 18:11] paulfantom commented on #3341
This issue hasn't been updated for a longer period of time and appears to be answered. If you need additional clarification, please reopen it.

[2021-06-07 18:11] #3341 closed

[2021-06-07 18:11] paulfantom commented on #3357
This issue hasn't been updated for a longer period of time and appears to be answered. If you need additional clarification, please reopen it.

[2021-06-07 18:11] #3357 closed

[2021-06-07 18:11] paulfantom commented on #3366
This issue hasn't been updated for a longer period of time and appears to be answered. If you need additional clarification, please reopen it.

[2021-06-07 18:11] #3366 closed

[2021-06-07 18:12] paulfantom commented on #3412
This issue hasn't been updated for a longer period of time. Since then we made significant changes to prometheus-operator. If you think this issue is still valid, please reopen it.

[2021-06-07 18:12] #3412 closed

[2021-06-07 18:12] paulfantom commented on #3428
Closing as the issue appears to be answered. If you need additional clarification, please reopen it.

[2021-06-07 18:12] #3428 closed

[2021-06-07 18:15] paulfantom commented on #3438
Converting this to feature request to disable `description` fields for common parameters in CRDs.

[2021-06-07 18:16] paulfantom commented on #3932
It would be good to finalize #3439 too.

[2021-06-07 18:19] paulfantom commented on #3446
We do have a windows jsonnet addon in kube-prometheus - https://github.com/prometheus-operator/kube-prometheus/blob/main/jsonnet/kube-prometheus/addons/windows.libsonnet.

Other than that `additionalScrapeConfigs` is the best bet as mentioned and possibly in the future it will be possible with Generic ScrapeConfig #2787).

Closing as the issue appears to be answered. If you need additional clarifi

[2021-06-07 18:19] #3446 closed

[2021-06-07 18:19] paulfantom commented on #3458
This issue hasn't been updated for a longer period of time and appears to be answered. If you need additional clarification, please reopen it.

[2021-06-07 18:19] #3458 closed

[2021-06-07 18:19] paulfantom commented on #3461
This issue hasn't been updated for a longer period of time and appears to be answered. If you need additional clarification, please reopen it.

[2021-06-07 18:19] #3461 closed

[2021-06-07 18:19] paulfantom commented on #3462
This issue hasn't been updated for a longer period of time and appears to be answered. If you need additional clarification, please reopen it.

[2021-06-07 18:19] #3462 closed

[2021-06-07 18:20] paulfantom commented on #3469
This issue hasn't been updated for a longer period of time. Since then we made significant changes to prometheus-operator. If you think this issue is still valid, please reopen it.

[2021-06-07 18:20] #3469 closed

[2021-06-07 18:20] paulfantom commented on #3492
This issue hasn't been updated for a longer period of time and appears to be answered. If you need additional clarification, please reopen it.

[2021-06-07 18:20] #3492 closed

[2021-06-07 18:21] paulfantom commented on #3471
The Probe CRD allows easier integration of prometheus-operator with blackbox_exporter.

This issue hasn't been updated for a longer period of time. Since then we made significant changes to prometheus-operator. If you think this issue is still valid, please reopen it.

[2021-06-07 18:21] #3471 closed

[2021-06-07 18:21] paulfantom commented on #3494
This issue hasn't been updated for a longer period of time and appears to be answered. If you need additional clarification, please reopen it.

[2021-06-07 18:21] #3494 closed

[2021-06-07 18:21] paulfantom commented on #3498
This issue hasn't been updated for a longer period of time and appears to be answered. If you need additional clarification, please reopen it.

[2021-06-07 18:21] #3498 closed

[2021-06-07 18:21] paulfantom commented on #3510
This issue hasn't been updated for a longer period of time and appears to be answered. If you need additional clarification, please reopen it.

[2021-06-07 18:21] #3510 closed

[2021-06-07 18:23] paulfantom commented on #4024
Closing as the issue appears to be answered. If you need additional clarification, please reopen it.

[2021-06-07 18:23] #4024 closed

[2021-06-07 18:23] paulfantom commented on #4000
Closing as the issue appears to be answered. If you need additional clarification, please reopen it.

[2021-06-07 18:23] #4000 closed

[2021-06-07 18:24] paulfantom commented on #3997
Closing as the issue appears to be answered. If you need additional clarification, please reopen it.

[2021-06-07 18:24] #3997 closed

[2021-06-07 18:25] #3887 closed

[2021-06-07 18:25] paulfantom commented on #3805
Closing as the issue appears to be answered. If you need additional clarification, please reopen it.

[2021-06-07 18:25] #3805 closed

[2021-06-07 18:26] paulfantom commented on #3708
Closing as the issue appears to be answered. If you need additional clarification, please reopen it.

[2021-06-07 18:26] #3708 closed

[2021-06-07 18:26] paulfantom commented on #3678
This issue hasn't been updated for a longer period of time and appears to be answered. If you need additional clarification, please reopen it.

[2021-06-07 18:26] #3678 closed

[2021-06-07 18:26] paulfantom commented on #3674
This issue hasn't been updated for a longer period of time and appears to be answered. If you need additional clarification, please reopen it.

[2021-06-07 18:26] #3674 closed

[2021-06-07 18:27] #3662 closed

[2021-06-07 18:27] paulfantom commented on #3636
Closing as the issue appears to be answered. If you need additional clarification, please reopen it.

[2021-06-07 18:27] #3636 closed

[2021-06-07 18:27] paulfantom commented on #3624
Closing as the issue appears to be answered. If you need additional clarification, please reopen it.

[2021-06-07 18:27] #3624 closed

[2021-06-07 18:28] paulfantom commented on #3589
Closing as the issue appears to be answered. If you need additional clarification, please reopen it.

[2021-06-07 18:28] #3589 closed

[2021-06-07 18:30] paulfantom commented on #3553
Help needed to move those awesome graphs into project documentation!

[2021-06-07 18:30] #3547 closed

[2021-06-07 18:37] paulfantom commented on #2709
As mentioned earlier, this looks like WAL replay issue related directly to prometheus. In recent versions there were many improvements regarding this code path, but there is no option (apart from discarding data) to have WAL replay not consuming a significant portion of resources.

I am closing this as prometheus has improved WAL replay resource consumption and prometheus-operator has implemented

[2021-06-07 18:37] #2709 closed

[2021-06-07 18:43] paulfantom commented on #2791
Closing as the issue appears to be answered. If you need additional clarification, please reopen it.

[2021-06-07 18:43] #2791 closed

[2021-06-07 18:44] paulfantom commented on #2825
This issue hasn't been updated for a longer period of time and appears to be answered. If you need additional clarification, please reopen it.

[2021-06-07 18:44] #2825 closed

[2021-06-07 18:46] paulfantom commented on #2861
This issue hasn't been updated for a longer period of time and appears to be answered. If you need additional clarification, please reopen it.

[2021-06-07 18:46] #2861 closed

[2021-06-07 18:47] paulfantom commented on #2862
This issue hasn't been updated for a longer period of time. Since then we made significant changes to prometheus-operator. If you think this issue is still valid, please reopen it.

[2021-06-07 18:47] #2862 closed

[2021-06-07 18:49] paulfantom commented on #2882
This issue hasn't been updated for a longer period of time and appears to be answered. If you need additional clarification, please reopen it.

[2021-06-07 18:49] #2882 closed

[2021-06-07 18:51] paulfantom commented on #2897
The only possible way right now would be to mount file_sd files and use additionalScrapeConfig feature. Possibly in the future this may be extended by using generic ScrapeConfig CRD (#2787).

[2021-06-07 18:51] paulfantom commented on #2935
This issue hasn't been updated for a longer period of time. Since then we made significant changes to prometheus-operator. If you think this issue is still valid, please reopen it.

[2021-06-07 18:51] #2935 closed

[2021-06-07 18:54] paulfantom commented on #2967
This is more specifically covered by https://github.com/prometheus-operator/prometheus-operator/issues/3917, https://github.com/prometheus-operator/prometheus-operator/issues/2753, and https://github.com/prometheus-operator/prometheus-operator/issues/3875. Closing in favor of those issues. If you think this issue is still valid, please reopen it.

[2021-06-07 18:54] #2967 closed

[2021-06-07 18:55] paulfantom commented on #2968
Duplicate of https://github.com/prometheus-operator/prometheus-operator/issues/3322

[2021-06-07 18:55] #2968 closed

[2021-06-07 18:57] paulfantom commented on #3011
This issue hasn't been updated for a longer period of time and appears to be answered. If you need additional clarification, please reopen it.

[2021-06-07 18:57] #3011 closed

[2021-06-07 18:58] paulfantom commented on #2847
Duplicate of #3061

[2021-06-07 18:58] #2847 closed

[2021-06-07 19:00] paulfantom commented on #3082
Closing as the issue appears to be answered. If you need additional clarification, please reopen it

[2021-06-07 19:00] #3082 closed

[2021-06-07 19:00] paulfantom commented on #3085
This issue hasn't been updated for a longer period of time and appears to be answered. If you need additional clarification, please reopen it.

[2021-06-07 19:00] #3085 closed

[2021-06-07 19:00] #3087 closed

[2021-06-07 19:02] paulfantom commented on #3100
Closing as the issue appears to be answered. If you need additional clarification, please reopen it.

[2021-06-07 19:02] #3100 closed

[2021-06-07 19:05] #3172 closed

[2021-06-07 19:05] paulfantom commented on #3189
This issue hasn't been updated for a longer period of time and appears to be answered. If you need additional clarification, please reopen it.

[2021-06-07 19:05] #3189 closed

[2021-06-07 19:10] #3282 closed

[2021-06-07 19:10] paulfantom commented on #3282
Deprecated :)

[2021-06-07 19:11] paulfantom commented on #3293
This issue hasn't been updated for a longer period of time. Since then we made significant changes to prometheus-operator. If you think this issue is still valid, please reopen it.

[2021-06-07 19:11] #3293 closed

[2021-06-07 19:12] paulfantom commented on #3295
This issue hasn't been updated for a longer period of time and appears to be answered. If you need additional clarification, please reopen it.

[2021-06-07 19:12] #3295 closed

[2021-06-07 19:12] paulfantom commented on #3321
This issue hasn't been updated for a longer period of time and appears to be answered. If you need additional clarification, please reopen it.

[2021-06-07 19:12] #3321 closed

[2021-06-07 19:17] paulfantom commented on #3644
This issue hasn't been updated for a longer period of time and appears to be answered. If you need additional clarification, please reopen it.

[2021-06-07 19:17] #3644 closed

[2021-06-08 05:09] tbuchier opened #4087 "Support target_matchers and source_matchers syntax (Alertmanager >= v0.22.0) in AlertmanagerConfig CRD"
**What happened?**
Hello, I'm trying to set some inhibit_rules using the new syntax in 0.22.0:
https://prometheus.io/docs/alerting/latest/configuration/#inhibit_rule
where `target_match` , `source_match` have been deprecated and replaced by:
`target_matchers` and `source_matchers` that now support PromQL syntax for matching.

However the AlertmanagerConfig don't support them:

[code]

So the confi

[2021-06-08 08:18] slashpai commented on #3352
I would like to work on this

[2021-06-08 09:42] paulfantom commented on #3352
@slashpai awesome! If you need help, feel free to ping us in #prometheus-operator-dev channel on kubernetes slack.

[2021-06-08 09:44] paulfantom commented on #4087
It is not a bug as prometheus-operator does not support alertmanager v0.22 yet.

Issue relates to https://github.com/prometheus-operator/prometheus-operator/issues/4078

[2021-06-08 09:50] paulfantom commented on #4053
Closing as the issue appears to be answered. If you need additional help, please reopen this issue or contact us in `#prometheus-operator` channel on [kubernetes slack](http://slack.k8s.io/).

[2021-06-08 09:50] #4053 closed

[2021-06-08 09:50] paulfantom commented on #4045
@djamaile go for it! If you need help, feel free to ping us in `#prometheus-operator-dev` channel on [kubernetes slack](http://slack.k8s.io/).

[2021-06-08 09:52] paulfantom commented on #4032
Closing as the issue appears to be answered. If you need additional help, please reopen this issue or contact us in `#prometheus-operator` channel on [kubernetes slack](http://slack.k8s.io/).

[2021-06-08 09:52] #4032 closed

[2021-06-08 09:57] paulfantom commented on #4036
Seems like we need to create new API object and use it in following CRDs:
- Prometheus (for remote-write)
- ServiceMonitor
- PodMonitor
- Probe

OT: Looks to me like we should start working on generic ScrapeConfig so such options could be put in one place and inherited. This should at least simplify adding such features to the last 3 CRDs/APIs.

[2021-06-08 10:02] djamaile commented on #4045
Oh sorry didn't see I could pick this up. Will go at it now, if I need any help I will look for it in the slack channel 👍

[2021-06-08 10:03] saschagrunert opened #4088 "Add support for CRI-O metrics"
**What is missing?**

The operator synchronizes the kubelet endpoints via the `--kubelet-service` flag:

https://github.com/prometheus-operator/prometheus-operator/blob/5f8ce3a01c88d99060e253a010f9d6f3c906f80f/pkg/prometheus/operator.go#L584-L675

We have the same issue with CRI-O metrics, which should live in it's own `ServiceMonitor` object in the future. To achieve this, we would have to change

[2021-06-08 10:08] paulfantom commented on #4088
If you have one service for which you are sure to have endpoints on all nodes (like the kubelet Service), you can attach relabelings to the ServiceMonitor and gather metrics from other endpoints, example: https://github.com/openshift/cluster-monitoring-operator/blob/master/assets/control-plane/service-monitor-kubelet.yaml#L95-L116. Alternatively you can deploy Service and manage Endpoint objects m

[2021-06-08 10:13] saschagrunert commented on #4088
Yes, thats how it works today. AFAIU the goal is to have CRI-O metrics living in its own `ServiceMonitor`. For that we need a Service referencing all nodes as endpoints on a specific port, right? How could we achieve that without touching the operator code?

[2021-06-08 10:31] paulfantom commented on #4088
Prometheus-operator is not about managing CRI-O nor about governing resources belonging solely to CRI-O, hence I don't see why it should deploy Service object for CRI-O.

In the case of Service object for kubelet, it is needed by the operator for the correct operation of the operator and it is not deployed only to get metrics from kubelet.

[2021-06-08 12:15] saschagrunert commented on #4088
Got it, thank you for the clarification @paulfantom. Do you think that using a service monitor is the wrong approach, if we assume that we serve CRI-O metrics via TLS for each node?

[2021-06-08 13:00] simonpasquier commented on #4064
I would check the generated Prometheus configuration first.

[2021-06-08 14:03] vinodhbasavani commented on #1454
As per the recommendations, Prometheus is not best suited with the NFS storage so I am using the EBS volumes only.

[2021-06-08 14:03] #1454 closed

[2021-06-08 14:40] gr8Adakron commented on #4064
On the prometheus dashboard -> configuration page it's visible, both the labels are present.

[2021-06-08 14:52] simonpasquier commented on #4064
So it looks like the operator does the right thing and the issue is between Prometheus and VM?

[2021-06-08 15:26] paulfantom commented on #4088
Using ServiceMonitor is a correct approach and TLS has nothing to do with it :) This is more about what object is deployed in a cluster. Since CRI-O is not deployed as Pods then PodMonitor cannot be used, however, as Service can be provisioned by a third party then ServiceMonitor is a good choice here.

As for TLS, it already looks like you need some third party to provision at least 3 objects int

[2021-06-08 18:56] tiagomeireles commented on #4076
I'll get a PR by EOD.

[2021-06-08 19:39] jjo opened #4090 "support skipping namespace match in generated route matchers"
**What is missing?**

We should be able to skip default `namespace: <resource_namespace>` match entry in generated 1st route receiver.

**Why do we need it?**

We need this for cases where you e.g. have your `AlertmanagerConfig` resources in a
single namespace (e.g. "monitoring"), while using them to route _cluster-wide_
alerts (e.g. many cross-namespace same-team deployments),

**Environment**

*

[2021-06-09 05:01] lkravi commented on #2359
Yes having the same issue for AWS EFS CSI, it's working fine for the EBS

[2021-06-09 06:37] saschagrunert commented on #4088
This makes sense, we will move forward without changing anything within this operator, thank you again!

[2021-06-09 06:37] #4088 closed

[2021-06-09 09:09] paulfantom opened #4094 "Emit event on silence creation"
**What is missing?**

I think it would be nice to emit a kuberentes event when alertmanager silence is created/updated.

**Why do we need it?**

To offer better integration of silences with kubernetes ecosystem

**Environment**

* Prometheus Operator version: all

    `Insert image tag or Git SHA here`

**Anything else we need to know?**:

In some way this relates to https://github.com/prometheus-

[2021-06-09 09:12] paulfantom commented on #4090
Duplicate of #4033

[2021-06-09 09:12] #4090 closed

[2021-06-09 11:27] #3782 closed

[2021-06-09 11:32] #4058 closed

[2021-06-09 11:33] #4037 closed

[2021-06-09 13:02] simonpasquier commented on #4094
I'm not sure that it's something the operator should be responsible for since silences are out of its scope (unless we revisit #2398)

[2021-06-09 19:36] paulfantom commented on #4094
I think #2398 is orthogonal. That issue is about translating K8S API into alertmanager API. This is in the other direction, Alertmanager API -> K8S object, so more like getting status information and appending it to CR. However, since silences have TTL and events have TTL it looked to me like a better match than `.Status`

[2021-06-10 07:17] simonpasquier commented on #4094
Not completely orthogonal IMO since both issues mean that the operator would be responsible for interacting with the Alertmanager API to create/update Kube resources. For now, I'm not sure that it falls under the responsibilities of the Prometheus operator. My take would be that the [silence-operator](https://github.com/giantswarm/silence-operator) is the right place to hook this up.

[2021-06-10 07:21] #3061 closed

[2021-06-10 08:44] paulfantom commented on #4094
I don't fully agree. In the case of creating silences via CRD, it is a user who creates kubernetes object, not the prometheus-operator. In case of this issue, the user creates silence in alertmanager API, and prometheus-operator only translates it into k8s object. To me, this feature is more of an advanced `.Status` than anything else.

As for silence-operator, it is responsible for declaratively

[2021-06-10 08:44] #4094 closed

[2021-06-10 20:42] lboix commented on #800
@neuromantik33 @brancz I tried option 3 at the Ingress Controller specification and it worked well, thanks for your help 👍

[code]

[2021-06-10 23:16] yashrahurikar23 commented on #830
If you have a dedicated Prometheus user give that user permission to access the /var/lib/prometheus folder
You can refer this article if this helps: https://linuxhint.com/install_prometheus_ubuntu/

[2021-06-11 10:09] paulfantom opened #4099 "Remove po-lint"
`po-lint` was useful when there was no tools like [`kubeconform`](https://github.com/yannh/kubeconform) (which we use in kube-prometheus project). And support for CRDs in kubernetes was at earlier stage. Right now `po-lint` seems like a largely unused code.

We would need to change docs at https://github.com/prometheus-operator/prometheus-operator/blob/master/Documentation/user-guides/linting.md t

[2021-06-11 10:19] slashpai commented on #4099
I am taking this one

[2021-06-11 11:06] slashpai commented on #3352
I am trying to reproduce this error so I ran `kubectl apply -f bundle.yaml` in kind cluster and tried to create alertmanager resource using https://github.com/prometheus-operator/kube-prometheus/blob/main/manifests/alertmanager-alertmanager.yaml but I updated cpu requests and limit to use `1` and `4` respectively and I see I am able to give that as value for the resources. Am I missing any info he

[2021-06-11 11:22] qudongfang commented on #4065
Cool, thanks for your suggestions and I'll close this issue.

For anyone who might have the same issue as me.
[code]

[2021-06-11 11:22] #4065 closed

[2021-06-11 12:12] dgrisonnet commented on #3352
This issue was most likely fixed as a side effect of #3694.

[2021-06-11 13:20] slashpai commented on #3352
Thank you @dgrisonnet
I see it allows both integer and strong format now.

@paulfantom We can close this one then?

[2021-06-11 13:30] #3352 closed

[2021-06-14 08:38] raptorsun commented on #3256
I'm going to remove this option :)

[2021-06-14 13:22] slashpai commented on #4099
I will wait till discussion is finalised in https://github.com/prometheus-operator/prometheus-operator/pull/4060 to start with this one

[2021-06-14 13:54] slashpai commented on #3158
I would like to take this one, some starting points would be helpful

[2021-06-14 14:36] MattJeanes commented on #3832
We're not using virtual nodes anymore but as far as I can tell this is still an issue

[2021-06-14 14:40] #3086 closed

[2021-06-14 14:40] #2186 closed

[2021-06-14 14:40] #2251 closed

[2021-06-14 14:40] #2487 closed

[2021-06-14 14:40] #1825 closed

[2021-06-14 15:18] simonpasquier commented on #3158
@slashpai there are least 2 "easy-to-fix" places where we should replace `context.TODO()` by the context passed to the function
https://github.com/prometheus-operator/prometheus-operator/blob/2b93704fc1d1d5dbc4e7aa98c2a1425a48bbca42/pkg/prometheus/operator.go#L1421
https://github.com/prometheus-operator/prometheus-operator/blob/2b93704fc1d1d5dbc4e7aa98c2a1425a48bbca42/pkg/prometheus/operator.go#L1

[2021-06-14 15:24] #731 closed

[2021-06-14 15:38] paulfantom commented on #3234
Closing as packages are now built and published to 2 registries and images are available at:
- Quay - [`quay.io`](https://quay.io/organization/prometheus-operator)
- GitHub Container Registry - [`ghcr.io`](https://github.com/orgs/prometheus-operator/packages?repo_name=prometheus-operator)

[2021-06-14 15:38] #3234 closed

[2021-06-14 16:45] brunokoeferli commented on #4087
The support for the new `matchers` syntax inside `route` block is also missing. Can it be added within the same feature or should I open a new one?

[2021-06-14 20:52] paulfantom commented on #3399
Done in https://github.com/prometheus-operator/prometheus-operator/pull/3797

[2021-06-14 20:52] #3399 closed

[2021-06-15 05:47] slashpai commented on #4099
We don't generate schemas as in kube-prometheus right? I tried it locally to see how it works so without ignore option it has larger number of failures

[code]

with ignore missing schemas option

[code]

@paulfantom Should we add example with missing schemas or add option to generate schema and then validate?

[2021-06-15 06:39] slashpai commented on #3553
https://github.com/prometheus-operator/prometheus-operator/issues/3553#issuecomment-726733177 this diagram?

[2021-06-15 08:32] paulfantom commented on #3553
@slashpai correct

[2021-06-15 08:36] paulfantom commented on #4099
We do not, we only generate CRDs. I believe schemas are out of scope and can be easily created from CRDs if needed (Take a look at https://github.com/prometheus-operator/kube-prometheus/blob/main/scripts/generate-schemas.sh and https://github.com/yannh/kubeconform/blob/master/scripts/openapi2jsonschema.py)

[2021-06-15 08:42] slashpai commented on #4099
I checked https://github.com/prometheus-operator/kube-prometheus/blob/main/scripts/generate-schemas.sh but I was wondering if need to have it here just for the user to verify or just skip them like this run below

[code]

[2021-06-15 09:16] paulfantom commented on #4099
Skipping doesn't make any sense. Especially since `po-lint` was created to validate CRs which we would be skipping with `kubeconform` when there are no schemas.

As a stop-gap I would propose to include following in a documentation document:
- an amended version of https://github.com/prometheus-operator/kube-prometheus/blob/main/scripts/generate-schemas.sh to generate schema files using CRDs from

[2021-06-15 12:41] mouliveera opened #4105 "PrometheusMissingRuleEvaluations"
**What happened?**
It is alerting frequently these days
[code]

**Did you expect to see something different?**
Alert should be working healthy

**How to reproduce it (as minimally and precisely as possible)**:
No idea.

**prod*

* Prometheus Operator version:

    `kube-prometheus-stack-14.4.0`

* Kubernetes version information:

    `kubectl version`
[code]

* Kubernetes cluster kind:

    insert

[2021-06-15 12:58] simonpasquier commented on #4087
@brunokoeferli yes it should be covered by this issue IMHO.

[2021-06-15 13:14] #3256 closed

[2021-06-15 14:36] simonpasquier opened #4107 "Support label_limit, label_name_length_limit and label_value_length_limit configuration fields"
**What is missing?**

Prometheus v2.27.0 introduced 3 new configuration fields to prevent Prometheus from ingesting metrics with "excessive" labels:
* `label_limit`
* `label_name_length_limit`
* `label_value_length_limit`

The Prometheus operator should expose these fields in its CRDs.

See https://github.com/prometheus/prometheus/issues/8291 for details.

**Why do we need it?**

Feature parity wi

[2021-06-15 16:32] slashpai commented on #4107
If this not urgent I would like to work on it to get better understanding of CRDs :)

[2021-06-15 17:44] slashpai opened #4108 "Avoid updating volumeClaimTemplate of StatefulSet if storageclass provided is invalid"
**What is missing?**

prometheus-operator doesn't validate if storage class name provided is valid. So if someone wrongly give wrong `storageClassName` statefulset goes to undesired state since it cannot attach PVC (which would be in pending state) and none of the pods in stateful set would be Ready. To fix this we need to delete PVC created, give correct storageClassName and recreate StatefulSet.

[2021-06-15 17:47] slashpai commented on #4108
Looking for inputs for this before I wanted to work on this change since this would require to give operator one additional permission to get storageclass list available in cluster as well

cc: @paulfantom @simonpasquier

[2021-06-15 19:02] shay-berman commented on #4079
actually encounter the same issue now

[2021-06-16 08:34] raptorsun commented on #3104
I'm going to work on it.

[2021-06-16 09:43] PhilipGough commented on #3275
I'll take a look a this one.

[2021-06-16 12:30] slashpai commented on #3158
After #4104 merged we have context.TODO() now in following files

[code]

[2021-06-18 08:00] TheKangaroo commented on #3737
I followed this discussion for a while now and while I have no solution I wanted to share our current workaround.
As cluster admins, we need to route all kinds of alerts to our endpoint, so we startet to add the following label set to all of our prometheus alerts:
[code]
With this, we have one alertmanagerconfig in the prometheus namespace responsible for all cluster related alerts, no matter what

[2021-06-18 16:12] Kevin-Mok opened #4114 "Prometheus pod can't access services/endpoints with operator RBAC setup"
**What happened?**
The Prometheus pod can't access services/endpoints with the operator's RBAC setup.
[code]

**Did you expect to see something different?**
Not to see this error.

**How to reproduce it (as minimally and precisely as possible)**:
Requires [Kogito operator](https://github.com/kiegroup/kogito-operator#trying-the-kogito-operator) to be installed.
[code]

**Environment**

* Prometheus

[2021-06-18 16:43] Kevin-Mok commented on #4114
This issue was resolved on OpenShift ([CRC](https://developers.redhat.com/products/codeready-containers/overview) specifically) using `oc policy add-role-to-user admin -z prometheus-operator` (credits to @msmagnanijr). It seems strange that the Prometheus operator would need the admin role to function correctly though?

[2021-06-18 16:45] vignesh-v-nutanix opened #4115 "service monitor for getting custom metrics is not working"
**What happened?**
I dont get to see any metrics even though I have configured the service moniotr

**Did you expect to see something different?**

**How to reproduce it (as minimally and precisely as possible)**:

**Environment**

* Prometheus Operator version:

   quay.io/coreos/prometheus-operator:v0.42.0

* Kubernetes version information:

    `kubectl version`
   Client Version: v1.21.0
   Se

[2021-06-18 17:39] Kevin-Mok commented on #4115
I'm running into this same forbidden issue (see #4114). My co-worker gave me a [workaround on CRC](https://github.com/prometheus-operator/prometheus-operator/issues/4114#issuecomment-864159392), and I think you can reproduce the same effect in vanilla Kubernetes by creating a RoleBinding from the ClusterRole `admin` to the operator ServiceAccount `prometheus-operator`; I'm going to try to do this.

[2021-06-19 09:18] vignesh-v-nutanix commented on #4115
@Kevin-Mok I dont get that error now but still i dont see the custom metrics on the promethues or i dont see it appearing on the prometheusendpointurl/targets

[2021-06-20 08:17] PhanQ commented on #3460
@KR411-prog I'm facing the same issue. Could you guide how you extract the `label_teamname` from `* on (pod,namespace) group_right kube_pod_labels` and set it in `metricRelabelings`. I also want to add a custom pod label (teamname) to all kubeStateMetrics rules. Thank you.

[2021-06-20 15:16] Jammicus commented on #4070
I think I've managed to get a bit further with this.

It seems to be race between what I think is the operators work queue updating its data with the secrets label and annotation changes and scaling the replicas in the test.

I suspect that if the work queue has not had a chance to process the secret with its updated labels and annotations, before the new operator is spun up, the new operator will

[2021-06-20 16:55] just1900 commented on #2398
Sharing a possible use case for silence CRD here:

we have built a platform to manage multi-k8s-clusters, and we want to integrate alerting into the platform. It would be helpful to have CRD, so that we can talk to apiserver directly rather than having to connect to every alertmanager in all managed clusters, which requires extra ingresses and configs for service-discovery.

[2021-06-21 08:39] eugenberend commented on #4078
@paulfantom @simonpasquier Hi guys, it would be cool if you approve [this](feat: Add support for mute_time_intervals, target_matchers and source_matchers Alertmanager config #4111) PR from @Jammicus ❤️

[2021-06-21 10:59] KingCrunch commented on #3180
Hi @paulfantom

Can you explain, it is obsolete? I'm running `prometheus-operator v0.47.0` via OLM and I still need to _somehow_ setup a `kubelet`-Service myself. What did I miss?

[2021-06-21 16:30] MonicaMagoniCom opened #4120 "Deploy prometheus in another namespace"
I'm trying to deploy a parallel Prometheus and Prometheus operator in my Kubernetes cluster (v1.18.17) in a different namespace from the default one.
Prometheus operator starts correctly but it does not create any statefulSet for Prometheus.

**Here is the prometheus-operator.yaml**

apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRoleBinding
metadata:
  labels:
    app.kubernetes.io/compone

[2021-06-22 00:41] snuggie12 opened #4121 "Add .spec.prober.tlsConfig to Probe"
**What is missing?**
Looks like the new `.spec.tlsConfig` on a `Probe` is from the exporter to the targets. I would like to add a `tlsConfig` from prometheus to the bb-exporter similar to `ServiceMonitor` where you list files for your cert, key and ca.

I'm thinking `.spec.prober` would be a good spot since `.spec.prober.scheme` is there and I think is the equivalent field as `ServiceMonitor`.

He

[2021-06-22 01:43] xudesheng opened #4122 "prometheusSpec.additionalScrapeConfigs cause err="open /etc/prometheus/config_out/prometheus.env.yaml: no such file or directory""
**prometheusSpec.additionalScrapeConfigs causes prometheus service failed to start**

**expecting additional scrape config be added**

**How to reproduce it (as minimally and precisely as possible)**:

**Server: AKS, client: Ubuntu latest version of Prometheus Operator and Helm 3**

* Prometheus Operator version:

    `0.48`
* Kubernetes version information:

    `kubectl version`
[code]

* Kubern

[2021-06-22 06:11] orcahmlee commented on #4000
@rafaelsilvaaa10 Have you tried to modify the `servicemonitor.yaml` as following:

[code]

[2021-06-22 07:53] simonpasquier commented on #4070
@Jammicus nice investigation! So it would mean that the test updates the secret but when the operator [retrieves](https://github.com/prometheus-operator/prometheus-operator/blob/4c9821859592cde30c66c693d58ff0c1ac68dc26/pkg/k8sutil/k8sutil.go#L181) it from the API in `CreateOrUpdateSecret()`, it would get the "old" value?

[2021-06-22 09:31] #3275 closed

[2021-06-22 09:50] paulfantom commented on #3180
@KingCrunch what you described is an OLM issue, not prometheus-operator as it is OLM who is setting up operator flags.

[2021-06-22 09:54] paulfantom commented on #4122
Eventual consistency in action :)

Prometheus pod may be started before config is synthesized, which causes an issue like the one you reported. Just a moment after that config is generated and the issue goes away.

[2021-06-22 09:57] paulfantom commented on #4122
Fixed by https://github.com/prometheus-operator/prometheus-operator/pull/3955

[2021-06-22 09:57] #4122 closed

[2021-06-22 10:43] Jammicus commented on #4070
@simonpasquier Yeah, the hypothesis so far is:

* Test updates secret
* Secret is added to the queue to be saved by the operator
* Replicas increased causing reconciliation
* Reconciliation looks for secret in its store
* Finds old secret as new secret had not been processed before reconciliation
* Replaces the secret modified by the test with the one in the store
* Fails

Reason I suspect its fla

[2021-06-22 10:43] sushant30 commented on #3987
Hi Guys!! Does sigv4 feature has been added to 2.26 version, required it to remote_write to aws Prometheus.

[2021-06-23 05:48] vignesh-v-nutanix commented on #4115
can i get some help here?

[2021-06-23 06:06] vishalct opened #4124 "Unable to migrate metrics data from existing EBS volume"
Steps I followed:
===================
1. Took the snapshot of the volume before deleting the stable/prometheus
2. Created a new AWS EBS volume
3. Created PV.
===============
apiVersion: v1
kind: PersistentVolume
metadata:
  name: prometheus-storage
  labels:
     app: prometheus-storage
spec:
  accessModes:
  - ReadWriteOnce
  awsElasticBlockStore:
    fsType: ext4
    volumeID: aws://ap-south-1a/

[2021-06-23 06:08] #4124 closed

[2021-06-23 06:08] vishalct commented on #4124
Reopen it again

[2021-06-23 06:09] vinga2805 opened #4125 "Unable to migrate metrics data from existing EBS volume"
Steps I followed:

===================

1. Took the snapshot of the volume before deleting the stable/prometheus
2. Created a new AWS EBS volume
3. Created PV.

===============

apiVersion: v1
kind: PersistentVolume
metadata:
  name: prometheus-storage
  labels:
     app: prometheus-storage
spec:
  accessModes:
  - ReadWriteOnce
  awsElasticBlockStore:
    fsType: ext4
    volumeID: aws://ap-south

[2021-06-23 08:00] MKruger777 commented on #3737
Getting the same issue. Would be great if we can get the PR merged!

[2021-06-23 17:31] geoberle commented on #2398
managing silences via the kubernetes api would also be beneficial for gitops cluster management. @brancz made a good point about silences having a non trivial livecycle with expiration etc. - a silence CRD would be one way of handling this, at least in those situations where the silence is somehow permanent e.g. when a contextual irrelevant alerting rule can not be disabled (e.g. openshift cluster

[2021-06-23 17:31] alexisph commented on #3204
@miguel-callejas-coderoad-com , you're missing the Endpoints resource. Based on your example:

[code]

[2021-06-23 18:05] ThiruNandagopal commented on #3922
It would be great if we have this feature in podmonitor also similar to servicemonitor as we don't need to follow 2 different approach for same feature.

[2021-06-23 18:09] ofek-appsec commented on #3375
Hi guys,
Any updates here?

[2021-06-24 07:37] raptorsun commented on #3104
Here is the pull request to generate documents for operator executable:
https://github.com/prometheus-operator/prometheus-operator/pull/4112

[2021-06-24 10:23] fenfir opened #4126 "Probe Sharding"
**What is missing?**

I am missing the ability to shard metrics from Probes.

**Why do we need it?**

We are using an instance of prometheus-operater with 2 shards and our Probe scrapes are getting duplicated. I see that this has been handled for PodMetrics and ServiceMontiors.

**Environment**

* Prometheus Operator version:

    `Insert image tag or Git SHA here`

**Anything else we need to know

[2021-06-24 17:00] krishchow commented on #4114
It seems like the error here might be around the `list` and `watch` methods (verbs) for services and endpoints?  Could you try to update the cluster role with these two methods? I feel like admin access (even if it is just in the kogito namespace) might be overkill

[2021-06-25 02:43] kong62 commented on #3119
PodMonitor  -  no service
ServieMonitor - must has service

[2021-06-25 02:44] coderanger commented on #3119
Going to close this out as I think this issue has outlived its usefulness.

[2021-06-25 02:44] #3119 closed

[2021-06-25 05:05] slashpai commented on #2189
Trying to understand this one I would like to work on this

[2021-06-25 13:21] Abhishek2590 opened #4134 "PVC Cleanup"
Hi Team,

I'm raising this issue to understand how we can perform the cleanup of PVC, is there any standard approach that I need to follow in order to do the cleanup?

[2021-06-27 21:25] Jean-Daniel opened #4135 "Alertmanager listen addr and peer addr family mismatch in Dual Stack cluster"
**What happened?**

Prometheus operator chooses IPv6 as listen address for alert manager cluster, but `alertmanager-operated` host name resolve only to IPv4.

Despite the fact that the cluster (and the alert manager pod) are using IPv4 as primary family (first IP), prometheus controller still try to use IPv6 for cluster.listen-address.

[code]

Alert manager command line is:

[code]

This causes f

[2021-06-28 13:09] Jean-Daniel commented on #4135
After some check, it looks like this is more a Kubernetes bug than a prometheus operator bug:

`kubectl get -n monitoring pod/alertmanager-main-0 -o yaml`

[code]

[code]

[2021-06-28 16:01] harmjanblok commented on #3302
I had the same issue when using operator version v0.39 and above. Turns out that as of v0.39 CRD management has been removed from the operator by #3155.

Applying CRDs from https://github.com/prometheus-operator/prometheus-operator/tree/master/example/prometheus-operator-crd resolved the issue, now it's accepting metadata again.

[2021-06-28 19:38] MKruger777 commented on #3737
This worked for me - thanks! The only edge cases that I have encountered were when you end up losing the namespace label. This seems to be occurring when the alert expression is making use of aggregation operators (count for example).

[2021-06-29 07:29] #3104 closed

[2021-06-29 08:48] vodwood commented on #3987
`helm install -n stateless-infrastructure -f values.yml prometheus-stack prometheus-community/kube-prometheus-stack` produces:

Error: unable to build kubernetes objects from release manifest: error validating "": error validating data: [ValidationError(Prometheus.spec.remoteWrite[0]): unknown field "queue_config" in com.coreos.monitoring.v1.Prometheus.spec.remoteWrite, ValidationError(Prometheus.

[2021-06-29 13:42] vignesh-v-nutanix opened #4139 "Prometheus pod going down due to compaction"
[code]

[2021-06-29 15:33] #3158 closed

[2021-06-29 15:50] simonpasquier commented on #4114
Use a different service account for the Prometheus resource than `prometheus-operator`. Prometheus operator and Prometheus don't access the same resources so it's better to have different service accounts and permissions.

[2021-06-29 16:20] #3846 closed

[2021-06-29 16:20] #3995 closed

[2021-06-29 17:34] slashpai commented on #4108
@dgrisonnet  Can you add your inputs?

[2021-06-29 20:00] LiuVII opened #4140 "Use NamespaceSelector type for alertmanagerConfigNamespaceSelector in AlertmanagerSpec"
**What is missing?**

Ability to check all existing namespaces to collect AlertmanagerConfigs.

One way to do it is to make `alertmanagerConfigNamespaceSelector` use `NamespaceSelector` type vs current `metav1.LabelSelector`

**Why do we need it?**

This would allow a way to collect all AlertmanagerConfigs without a need to add label to each namespace (labeling just AlermanagerConfigs should be en

[2021-06-30 06:35] vignesh-v-nutanix commented on #4139
yes i have i get this error, right now
```level=error ts=2021-06-30T05:18:30.321Z caller=head.go:746 component=tsdb msg="Loading on-disk chunks failed" err="iterate on on-disk chunks: corruption in head chunk file /prometheus/chunks_head/000582: out of sequence m-mapped chunk for series ref 2090695"```

[2021-06-30 06:44] coderanger commented on #4139
I already responded on Slack. You'll likely need to remove corrupted blocks from your Prometheus database however assisting with this is out of scope for us as a project IMO. We don't know your requirements or how corrupted your DB is so I encourage you to do some research and work out a repair plan.

[2021-06-30 06:44] #4139 closed

[2021-06-30 08:12] jcdauchy-moodys commented on #256
Here now [Blackbox IngressProbe](https://github.com/thaum-xyz/ankhmorpork/blob/master/apps/monitoring/manifests/blackboxExporter/ingressProbe.yaml)

[2021-06-30 09:50] paulfantom commented on #4134
Closing as this is a duplicate of existing discussion.

Answered in https://github.com/prometheus-operator/prometheus-operator/discussions/4133#discussioncomment-942449

[2021-06-30 09:50] #4134 closed

[2021-06-30 19:04] paulfantom opened #4141 "Consider turning on dependabot"
**What is missing?**

Automated tracking of dependency releases

**Why do we need it?**

To simplify the release process and update dependencies earlier in the development process. This has a potential to find bugs introduced by dependencies earlier in the development process.

**Environment**

All

**Anything else we need to know?**:

dependabot is a native github feature now - https://docs.githu

[2021-06-30 19:06] paulfantom commented on #4141
With this proposal, PRs like https://github.com/prometheus-operator/prometheus-operator/pull/4142 would be automated.

[2021-07-02 13:11] LiuVII commented on #4140
closing as this is another variant of
https://github.com/prometheus-operator/prometheus-operator/issues/4033
and
https://github.com/prometheus-operator/prometheus-operator/issues/3737

[2021-07-02 13:11] #4140 closed

[2021-07-02 14:28] simonpasquier commented on #4141
I'm all for reducing toil. It might not be able to resolve all the things (e.g. not sure how it deals with `replace`) but it's worth trying.

[2021-07-05 15:10] fpetkovski commented on #4125
Hi @vinga2805, is the volume getting properly attached to the container? Can you check this in the pod definition?

[2021-07-05 15:30] Kevin-Mok commented on #4114
@simonpasquier I didn't realize there should be a separate `prometheus` ServiceAccount, but I see it now in the [Prometheus RBAC doc](https://github.com/prometheus-operator/prometheus-operator/blob/master/Documentation/rbac.md#prometheus-rbac). Thanks for the clarification.

[2021-07-05 15:30] #4114 closed

[2021-07-05 16:08] paulfantom commented on #4125
Linking slack conversation for anyone who wants to help: https://kubernetes.slack.com/archives/CFFDS2Z7F/p1624428278449300

[2021-07-06 10:20] simonpasquier commented on #4070
From what I can tell, the controller requests the secret from the API server so there shouldn't stale information even though the secrets informer can be outdated?

https://github.com/prometheus-operator/prometheus-operator/blob/e8906a89e082dbff7a7ffbb3776b7146cec0039a/pkg/k8sutil/k8sutil.go#L181

[2021-07-06 10:23] simonpasquier commented on #4121
see https://github.com/prometheus-operator/prometheus-operator/issues/3922#issuecomment-802899950 as for why Probe and PodMonitor don't support access to arbitrary files on the filesystem of the Prometheus container. Can you elaborate why using `Secret` and `ConfigMap` references doesn't work for you?

[2021-07-06 15:41] paulfantom opened #4150 "publisher CI stage is not triggered"
**What happened?**

During 0.49.0 release images weren't build with automation and had to be built by hand. The issue was introduced by https://github.com/prometheus-operator/prometheus-operator/pull/4116 and it is possible that the condition in `publish.yml` workflow is incorrect.

[2021-07-06 17:02] desaintmartin commented on #4020
Not stale.

[2021-07-06 17:14] PetzJohannes commented on #3954
Would be awesome if someone can show us a working example.

At the moment I am stuck at this configuration:

[code]

I don't know the update on which this changed. Before I was able to create a "match" over multiple namespaces. Now it looks like a AlertmanagerConfig is forced on one namespace.
https://github.com/prometheus-operator/prometheus-operator/blob/dab2194da371aee19ce251bcad34f8debb91ea9f/

[2021-07-07 04:02] snuggie12 commented on #4121
It's a performance/security feature of istio. The current SDS provisioning method doesn't work the same as described (there's no more `citadel` `DaemonSet`), but the downsides of making a `Secret` is listed in the first few paragraphs here: https://istio.io/v1.1/docs/tasks/security/auth-sds/.

None of this would be needed if normal traffic could flow through istio, but the OP in #3922 explains why

[2021-07-07 08:17] fpetkovski commented on #4120
Hi @MonicaMagoniCom, the `prometheus-operator.yaml` contents you attached are missing the operator deployment. Could you send that part as well?

[2021-07-07 08:20] just1900 commented on #3710
what's the current state of alertmanagerconfig's webhook?
Just running into an issue, here are logs from alertmanager during restart
[code]
As a result, I think we also need to validate the url pattern, otherwise, alertmanager may be CrashLoopBackOff after restart if we misconfigure some alertmanagerconfig without validating.

[2021-07-07 09:25] just1900 opened #4153 "Validating Url in alertmanagerconfig"
**What is missing?**
we need to validate url in alertmanagerconfig.

I find there are some check logic already, like `checkWechatConfigs`
https://github.com/prometheus-operator/prometheus-operator/blob/2388bfa557c9836d5ff01e620a129d33852670ff/pkg/alertmanager/operator.go#L1176-L1185
but  the check logic in `checkWechatConfigs` is actually different than the logic in alertmanager, which check the s

[2021-07-07 09:27] just1900 commented on #3710
I guess it's better to start a new issue https://github.com/prometheus-operator/prometheus-operator/issues/4153 to trace this problem, rather than discussing here :)

[2021-07-07 09:35] paulfantom commented on #4153
I feel like the admission webhook is a way to go here. Maybe you want to pick up https://github.com/prometheus-operator/prometheus-operator/issues/3710 ?

[2021-07-07 10:48] just1900 commented on #4153
@paulfantom as I mentioned there, I think it's also reasonable to check before rendering alertmanagerconfig into alertmanager's config. How do you think?

[2021-07-07 12:54] paulfantom commented on #4153
I think those two things are not excluding each other. We can have a safety check on operator side as a last resort, but having admission webhook is causing a faster feedback loop. With webhook, we can immediately notify user that the configuration is incorrect (`kubectl apply` can error out), whereas with operator we can only note this in log messages.

Additionally from maintainer POV it is less

[2021-07-07 13:40] just1900 commented on #4153
Yes, it's absolutely not excluding, and should be better to have a webhook to gain the fail-fast ability.
So, let's revisit #3710, any ideas about the current state of the webhook?

[2021-07-08 07:35] mujx opened #4155 "It's not possible to do `kubectl rollout restart` on the managed statefulsets"
**What happened?**

It seems that the operator isn't propagating the restart on all the pods and only the pod with the highest ordinal number is restarted.

**Did you expect to see something different?**

I'm expecting `kubectl rollout restart sts` to perform a restart on all the pods.

**How to reproduce it (as minimally and precisely as possible)**:

- Install prometheus operator with more than

[2021-07-08 07:57] paulfantom commented on #4155
I can confirm this is the case on 0.49.0.

Out of curiosity, why the pod restart is necessary in your case? Operator and config-reloader should handle restarts and reloads when needed, so I wonder what is the case that is not covered.

[2021-07-08 08:08] just1900 commented on #3710
As @simonpasquier memtioned, we check configuration in two places for now.
IMHO, we can move the check in `operator.go` to a validatingWebhook(I don't think it a good idea to do another mutatingWebhook and generate config in annotation to be used later) and reserve the basic nil checking logic in `amcfg.go` during config Converting.

[2021-07-08 08:59] mujx commented on #4155
I'm running some authentication sidecars on the statefulsets and an automatic reload mechanism is not yet implemented.

[2021-07-08 10:02] #4150 closed

[2021-07-12 09:05] VineethReddy02 opened #4161 "Operator doesn't delete admission secret created by it on uninstalling the operator"
**What happened?**
Prometheus-Operator created the TLS secret for admission webhooks i.e. `release1-kube-prometheus-admission` (note I am using Prometheus-Operator as a part of Kube-Prometheus stack). But on uninstalling the prometheus-operator the secret created by the operator isn't deleted.

**Did you expect to see something different?**
I expect the secret created by the operator needs to be d

[2021-07-12 10:23] joancafom opened #4162 "ConfigReloader does no longer define port name"
**What happened?**

Up to version 0.48.1, the ConfigReloader container defined a `containerPort` and assigned the name `reloader-web` to it:

https://github.com/prometheus-operator/prometheus-operator/blob/1e955299682630e4085adc2253f5689031eb0d0e/pkg/operator/statefulset.go#L49-L55

It seems that this behaviour was dropped in the new version 0.49.0, and the container is instantiated without any re

[2021-07-12 13:40] fpetkovski commented on #4161
Hi @VineethReddy02, the operator does not create and manage the webhook. As described in the [user guide]( https://github.com/prometheus-operator/prometheus-operator/blob/release-0.47/Documentation/user-guides/webhook.md), the tls secret and admission webhooks need to be created by a different user (or operator), and therefore cleaned up by that user (or operator) accordingly during uninstallation

[2021-07-12 13:45] fpetkovski commented on #4162
Hey @joancafom thanks for reporting this. The port was indeed removed in the PR you referenced. Would you be interested in contributing a patch for this? It should be a fairly straightforward fix.

[2021-07-12 13:51] #4161 closed

[2021-07-13 10:20] joancafom commented on #4162
Hi @fpetkovski

Thanks for your prompt response! Although the changes seem to be fairly straightforward, I reckon I won't have the time to work on them any soon.

[2021-07-13 15:42] rnorth commented on #455
We just wanted to add that the example given above does not appear to work with v0.49.0; I _think_ that a change in #3955 caused this, as well as a prior change to the container name.

A snippet of what works for us:

[code]

Notice these changes:
* `containers -> initContainers`
* `prometheus-config-reloader -> init-config-reloader`

As a user, I'd give a huge +1 to @Kampe's suggestion that this

[2021-07-13 17:06] hackaholic commented on #1637
Grafana store the custom dashboard created from GUI is in its database( default is sqlite3).
One can persist the dashboard and other setting  by persisting /var/lib/grafana/grafana.db

[2021-07-14 05:35] CarlosEssun opened #4164 "Prometheus default interface for receiving http post"
**What did you do?**

In prometheus 2.28.1 version, I can write metric data directly through http post application/x-protobuf /api/v1/wrie. May I ask if the same interface is on prometheus-operator? I directly test /api/v1/wrie and return 404 status code.
**Did you expect to see some different?**

**Environment**

* Prometheus Operator version:
* Version | 2.18.2
* Revision|a6600f564e3c483cc820bae

[2021-07-14 06:53] fpetkovski commented on #4164
Hi @CarlosEssun, this is a functionality of Prometheus itself, the operator only manages the Prometheus instance. So you can keep using the endpoint on the Prometheus instance created by prometheus-operator, but the operator itself will not support this endpoint.

[2021-07-14 07:13] charles-woshicai opened #4165 "Config for `prometheus` server `strategy.type`"
**What did you do?**

Hi guys, I want to upate my `prometheus` server's version with `.spec.Strategy.type=Recreate`, how could I override this value?
It seems this value is set to `RollingUpdate` by default and there's no way to override it.

**Did you expect to see some different?**

**Environment**

* Prometheus Operator version:

    `v0.45.0`

* Kubernetes version information:

    `v1.20.6`

[2021-07-14 07:21] charles-woshicai commented on #4165
This issue is not correct.
Actually prometheus-operator deploys prometheus's server with `sts` and deploys pushgateway with `deploy`, and it's ok to override the pushgateway's `.spec.strategy.type`.

Close it.

[2021-07-14 07:21] #4165 closed

[2021-07-15 13:01] fpetkovski commented on #4155
The way `kubectl rollout restarts` works is by adding an annotation on the pods managed by the deplotyment/statefulset. The operator is not detecting this field as being managed by someone so it removes it. I assume this is why the statefulset starts to rollout and then stops after the first pod is replaced.

[2021-07-15 21:24] DWizGuy58 opened #4168 "Expose Shards as metric"
**What is missing?**
Shards defines the number of shards to distribute targets onto. Exposing this as a metric could be useful.

**Why do we need it?**
We noticed that scaling up/down the `shards` by more than 1 requires manual intervention due to data not being resharded to the changed number of shards. We would like to detect when changes to this config are made but not reflected in the number o

[2021-07-16 10:06] simonpasquier commented on #4168
It looks like a useful metric. Do you want to submit a PR?

[2021-07-16 12:34] DWizGuy58 commented on #4168
yes, I can work on this

[2021-07-16 12:51] DWizGuy58 commented on #4168
#4173

[2021-07-16 12:53] simonpasquier commented on #4164
@CarlosEssun are you asking about how to enable the remote write API endpoint in Prometheus?

You should be able to pass the `remote-write-receiver` feature flag like this:

[code]

[2021-07-16 13:07] simonpasquier commented on #4121
I think that we can improve the way TLS configuration is currently supported/exposed. We never allowed pod monitors (and probes) to read arbitrary files from the filesystem of the Prometheus container because it's very easy to leak sensitive information in case of (bearer) token and basic auth. I agree that it's a bit different for TLS client authentication because the client key is never issued t

[2021-07-16 13:17] simonpasquier commented on #4126
Good question! I would expect that we apply the hashmod function to the `__param_target` label instead of `__address__` for regular targets. @lilic WDYT?

[2021-07-16 13:35] simonpasquier commented on #3375
@ofek-appsec  you should be able to use [strategic merge-patch](https://github.com/prometheus-operator/prometheus-operator/blob/master/Documentation/user-guides/strategic-merge-patch.md) already.

[2021-07-16 13:38] simonpasquier commented on #4115
@vignesh-v-nutanix from the logs you've shared, the prometheus-operator lacks permissions on the coreos.monitoring.com CRDs. You need to fix that (look at https://github.com/prometheus-operator/prometheus-operator/blob/master/example/rbac/prometheus-operator/prometheus-operator-cluster-role.yaml).

[2021-07-16 14:07] simonpasquier commented on #4108
I think that it makes sense for the operator to catch issues like this beforehand if possible (especially since "fixing" it after the fact requires manual intervention which isn't trivial). Maybe the operator could try to verify if the storage class exists and if it isn't authorized, it could create the statefulset anyway.

[2021-07-16 14:56] paulfantom commented on #4108
I don't like adding new RBAC rules to the quite large list we already have. However, it seems that without checking storageClass we do have indeed horrible UX, so the solution proposed by @simonpasquier sgtm.

Note: since this would add new permission, we need to update https://github.com/prometheus-operator/prometheus-operator/blob/master/Documentation/rbac.md too.

[2021-07-16 16:09] #3883 closed

[2021-07-16 21:32] yeya24 opened #4174 "Operator doesn't support matchers field in Alertmanager routes"
**What happened?**

I use an alertmanager config with the new `matchers` field. However, the generated secret cannot be parsed by the operator.

I tried the `amtool` and the config file can be parsed successfully. So I assume prometheus operator should support it too, as it is using the same alertmanager version `0.22.2` in its go module.

[code]

The error logs are

[code]

**How to reproduce it

[2021-07-16 21:58] yeya24 commented on #4174
OK. Looks like this is expected as we are still using the old config format https://github.com/prometheus-operator/prometheus-operator/blob/master/pkg/alertmanager/types.go#L66.

But `AlertmanagerConfig` already switches to the new config format. When will it be available for secrets?

[2021-07-17 19:43] snuggie12 commented on #4121
I think I followed most of that except for the `SecretKeySelector` part. Are you referencing a k8s resource or are files going to be possible? The istio sidecar can only output to a directory.

[2021-07-19 08:35] duanrex opened #4177 "How to remove the prefix of the prometheus pod name on kube-prometheus-stack of helm chart?"
When deploying prometheus, the pod name after the deployment is always automatically prefixed with "prometheus".

How can I remove this prefix?

such as :
fullnameOverride: "test-prometheus"

pod name: prometheus-test-prometheus.

Thanks

[2021-07-19 08:35] #4177 closed

[2021-07-19 11:52] #4168 closed

[2021-07-19 14:17] #4036 closed

[2021-07-20 06:21] vignesh-v-nutanix opened #4179 "Prometheus scraping old targets"
After upgrading the kubenetes nodes with the ami, Prometheus is still trying to scrape the metrics from the old nodes which are non existent

![image](https://user-images.githubusercontent.com/55975982/126271469-8b001224-ac08-46df-9297-e9a8d48be7c7.png)

![image](https://user-images.githubusercontent.com/55975982/126271548-256f3e26-0d8f-4ce0-8ec1-d7edbc4b70bd.png)

[code]

[2021-07-20 08:56] LinAnt commented on #4174
AlertmanagerConfig would work, but since there is no way of dropping the namespace from the generated routes, we cannot use them :/

Something like https://github.com/prometheus-operator/prometheus-operator/issues/4033 would be an excellent solution for us :+1:

[2021-07-20 12:54] paulfantom commented on #4155
I did not check in the code, but if what @fpetkovski is saying is correct then we have incorrect handling of metadata and we should possibly port solution from https://github.com/openshift/cluster-monitoring-operator/blob/2f35619d5b51058f918acbdb794109d5a6c8f163/pkg/client/client.go#L1347-L1366 to prometheus-operator. Any takers for creating a PR?

[2021-07-20 14:52] mujx commented on #4155
I can take a look @paulfantom

[2021-07-21 08:32] ensonic commented on #3587
Re probes, using 'InitialDelaySeconds: 600' would be much better that hammering the starting service with requests.
https://kubernetes.io/docs/tasks/configure-pod-container/configure-liveness-readiness-startup-probes/.
Luckily the workaround above worked here too.

[2021-07-21 14:17] madianas commented on #3747
Had the same issue on two clusters. Error is not helpful at all. @rbs4ba  solution solved the problem.

[2021-07-22 15:11] simonpasquier commented on #4121
@snuggie12 do you mean that the Istio sidecar would generate the TLS cert/key on disk and they would be accessible to the Prometheus container?
I think that we could support both `SecretKeySelector`s and files from the filesystem of the Prometheus container in that case.

[2021-07-22 15:43] simonpasquier commented on #4179
Can you share the operator version + logs?

[2021-07-22 15:59] simonpasquier commented on #3747
Closed by #4144 the operator should now log every minute a message stating that it's waiting on cache sync completion.

[2021-07-22 15:59] #3747 closed

[2021-07-22 20:53] snuggie12 commented on #4121
@simonpasquier yeah, that's exactly how it works.

[2021-07-22 21:38] amuraru opened #4181 "Invalid alert labels in PrometheusRule rule blocks reloading of other valid rules"
**What happened?**

Invalid alert labels in `PrometheusRule` rule blocks reloading of valid rules
I see this in prom logs:
[code]

This was generated apparently by a rogue alert defn where an invalid rule label was defined:
[code]

**Did you expect to see something different?**

I would expect the operator checks for alert rule definition validity and doesn't update the prom rules files if invalid

[2021-07-22 22:30] #2693 closed

[2021-07-23 06:59] paulfantom commented on #4181
prometheus-operator has an admission webhook to prevent such issues from happening. More in https://github.com/prometheus-operator/prometheus-operator/blob/master/Documentation/user-guides/webhook.md

[2021-07-23 07:17] paulfantom opened #4182 "Delegate admission webhook handling to a separate binary"
**What is missing?**

Simple ("one-click install") way to deploy admission webhook. With an end goal to have a simple way of enabling webhook in kube-prometheus.

The idea is taken from how cert-manager handles admission webhook deployment and how they can easily ship two sets of manifests without pointing people to documentation.

Additionally, this would allow switching from ServiceMonitor to Po

[2021-07-23 08:31] amuraru commented on #4181
thanks @paulfantom - admission webhook would be indeed a solution, unfortunately in our k8s environment we cannot use them as we install prom-operator in a restricted (tenant) namespace and admission and validation webhooks not permitted.

But speaking of this, wouldn't make sense to have the rule "validation" also executed in-band when the operator reads the `PrometheusRule` CR and before writing

[2021-07-23 09:40] paulfantom commented on #4181
I think that is reasonable to have :)

@brancz @simonpasquier do you know why we are not validating rules as suggested above? Is there any grander reason?

[2021-07-23 15:06] simonpasquier commented on #4181
I don't have a clue, sorry.

[2021-07-23 15:43] amuraru commented on #4181
got a draft change here https://github.com/amuraru/prometheus-operator/commit/cd4d390be35c7afb9b33b0e6c853e945efa3f18e#
If you think it's worth continuing I can clean it up and file a PR

[2021-07-24 10:00] n1lesh commented on #4162
@fpetkovski @simonpasquier: I would like to work on this.

[2021-07-24 17:50] weyert commented on #3932
Interesting, yes, would be nice to have some sort of matrix were each feature is listed and the level of stability :) Currently, it sounds like its better to avoid this useful operator due to its beta status.

[2021-07-25 11:13] benbenai7786 opened #4186 "Prometheus operator probes different target labels in one probe config"
Hi guys, I am a little confused about prometheus operator probes config, here is the request:
I want to monitor serveral static ip by icmp, each ip has its own labels, but I found probe config only support target labels like the following:
[code]
That means I have to create another job name when I want to monitor such as 9.9.9.9 with labelone: abc ....... I think each ip generating each job name f

[2021-07-26 06:23] fpetkovski commented on #4162
Hi @n1lesh, thanks for the initiative. Feel free to submit a PR whenever you have something ready :)

[2021-07-26 06:34] paulfantom commented on #3932
That is listed in API definition (version field) and particular field descriptions. But I agree it could be more visible.

[2021-07-26 09:31] Epimetheus84 commented on #3608
+1, same problem

[2021-07-26 10:47] simonpasquier commented on #4186
There might another way but you should be able to achieve this with `relabelingConfigs`:

[code]

[2021-07-26 12:55] benbenai7786 commented on #4186
Thanks, it works. But another strange problem, after I apply this probe config, prometheus didn't reload its config to add new job name, how could I troubleshooting it?

[2021-07-26 13:32] ryuheechul commented on #3737
Just reporting that related to this issue, following this guide, https://github.com/prometheus-operator/prometheus-operator/blob/master/Documentation/user-guides/alerting.md also doesn't send notification but it does when I do workaround as this one, https://github.com/prometheus-operator/prometheus-operator/issues/3737#issuecomment-774349513

[2021-07-26 14:45] benbenai7786 commented on #4186
Another problem:
[code]
my config file size is 2m+, is there any way I could pass the config?

[2021-07-27 14:16] simonpasquier commented on #4186
Your last issue would be something different and you're probably hitting the limits of what the API/etcd server can handle.

[2021-07-28 06:20] winshenting opened #4188 "Questions on Probe Config"
**What did you do?**
In one probe config, I want to config 3 jobs. However, after apply, it shows only last job.
Can one probe config support multiple jobs.

[2021-07-28 09:24] fpetkovski commented on #4188
Hello, could you send the probe that you've applied?

[2021-07-28 12:04] weyert commented on #3932
@paulfantom Sorry, where can I find this API definition?

[2021-07-28 12:57] paulfantom commented on #3932
@weyert We are following kubernetes API versioning schema practices. This means each CRD has a version field saying how stable this particular API is. So:

- AlertmanagerConfig is v1alpha1 and subject to changes
- Alertmanager, PodMonitor, Probe, Prometheus, PrometheusRules, ServiceMonitor, and ThanosRuler are v1 and thus considered stable

Data is available in generated CRD files as well as in go

[2021-07-28 13:31] paulfantom commented on #4188
Each `Probe` is meant to translate into one job, but each job can have multiple targets.
Example for static config: https://github.com/thaum-xyz/ankhmorpork/blob/master/apps/monitoring/manifests/blackboxExporter/promDemoProbe.yaml
Example for ingress: https://github.com/thaum-xyz/ankhmorpork/blob/master/apps/monitoring/manifests/blackboxExporter/ingressProbe.yaml

[2021-07-28 14:38] #4162 closed

[2021-07-29 03:05] szediktam opened #4191 "high iotop for prometheus-operator"
**What happened?**
prometheus-operator-0.43.2 has high disk-read.
output of iotop：
[code]

**Did you expect to see something different?**

**How to reproduce it (as minimally and precisely as possible)**:

**Environment**
kubernetes v1.19.9， docker 19.03.14
* Prometheus Operator version:
0.43.2
* Kubernetes version information:
kubernetes v1.19.9
Client Version: version.Info{Major:"1", Minor:"19",

[2021-07-29 06:59] sherifkayad commented on #3737
@simonpasquier

Are there any updates on that front? .. I think this flag is really a pretty fix for our use case requiring certain `AlertmanagerConfig`s to be kinda "central"

[2021-07-29 08:01] jw-s commented on #3970
Hi all! I was playing around with the config to try and get the heartbeats with basic auth to work and I managed it!

For anyone authenticating to opsgenie via basic auth use the following workaround until a more robust solution is available.

tldr; Use a colon ':' as the username value.

[code]

[code]

 if you specify the username as a ':' colon it works. I guess because basic auth is specified

[2021-07-29 08:20] dhohengassner opened #4192 "Add option to configure Prometheus feature flag `retry_on_http_429` on Prometheus CR"
**What is missing?**

Prometheus added a feature flag to enable/disable retries on HTTP 429 (too many requests) responses.

Feature got introduced with: https://github.com/prometheus/prometheus/pull/8477/

**Why do we need it?**

This feature is very useful if rate limiting got hit but the requests should be or not be retried later.
More background can be found [here](https://github.com/prometheus

[2021-07-30 07:46] s-urbaniak commented on #3932
I recall early discussion where we wanted to finalize support of status subresource before GA'ing prometheus-operator. Having said that I am not sure this should still be a requirement for GA. From my side it's fine to proceed to GA without this feature.

[2021-07-30 12:26] bennetty opened #4194 "Expose storage.remote.read-concurrent-limit flag"
**What is missing?**
allow storage.remote.read-concurrent-limit flag to be set from the operator
**Why do we need it?**
While doing some testing on thanos sidecar, setting the storage.remote.read-concurrent-limit seemed to improve the query performance of the thanos sidecar while increasing the maxConcurrency did not have a similar impact
**Environment**

* Prometheus Operator version: v0.42.1
* P

[2021-07-30 14:09] dmesser commented on #3180
There is a way to inject environment variables in OLM: https://github.com/operator-framework/operator-lifecycle-manager/blob/master/doc/design/subscription-config.md - does this help?

[2021-07-30 20:05] prsshini commented on #2975
What changes did you make in the config file?  I have the same problem

[2021-07-31 17:52] patoarvizu commented on #3180
@dmesser The original issue from last year was that even though OLM allows you to set environment variables there was no way to inject the value for the `--kubelet-service` flag on the operator command via environment variables though it sounds like it's now possible to do it. In any case, this is no longer an issue for me because I opted for deploying the operator via Helm, but it might be useful

[2021-08-02 07:04] Junnplus commented on #3805
I had the same confusion, I also deply separate instances of prometheus into the same namespace, I want each prometheus instance to have its own separate service instead of being in the same service `prometheus-operated`.

[2021-08-02 12:21] marratj commented on #3204
A quick note on this, as I was struggling with finding the same config:

You don't even need to specify the real IP of your destination FQDN in the Endpoint, it can be just any IP, because by relabeling `__address__` you're instructing Prometheus to actually scrape what is specified in the `__address__` label.

This would be usually populated by the IP address that is defined in the `Endpoint`, bu

[2021-08-03 07:26] dgrisonnet opened #4197 "Add sample and target limits to Probes"
**What is missing?**

We can't configure sample and target limits for Probes.

**Why do we need it?**

We need this feature to limit the number of samples and targets scraped by a Probe. This would also allow for the limits at the Prometheus level to be enforced to all kinds of scraping resources. Currently, these limits are only supported by ServiceMonitors and PodMonitors so if we were to add Pr

[2021-08-03 15:51] paulfantom commented on #4197
FYI: This is exactly the reason we should [implement generic ScrapeConfig](https://github.com/prometheus-operator/prometheus-operator/issues/2787) and inherit its options in other CRDs. This way we would implement core concepts once and they could be accessed in all *Monitors.

[2021-08-03 21:45] amuraru opened #4199 "Validating admission webhook incorrectly rejects valid thanos rule"
**What happened?**

When validating admission webhook is enabled, a valid Thanos `PrometheusRule` defining `partial_response_strategy` field ([docs](https://github.com/thanos-io/thanos/blob/main/docs/components/rule.md#partial-response)) is rejected as invalid.

**Did you expect to see something different?**

Valid rule is accepted as valid by the admission webhook

**How to reproduce it (as minim

[2021-08-03 22:00] amuraru commented on #4199
Once https://github.com/prometheus-operator/prometheus-operator/pull/4184 is merged we should update the admission package to reuse the same rule validator

[2021-08-04 11:31] jack1902 opened #4200 "prometheus basic auth"
**What did you do?**

Looked at previous issues but `basic-auth` flags a few but they all appear to be prometheus -> endpoint rather than say grafana -> prometheus.

I'm looking to setup prometheus per cluster i have and then have a single grafana instance hit the prometheuses as seperate data-sources. In order for me to feel comfortable about exposing prometheus apis externally (even behind a whi

[2021-08-05 12:40] slashpai commented on #2787
I would like to work on it. I am still learning things around operators so will take some time to come with a PR :)

So we need to create new api for scrapeconfig and fields should be scrape_config fields listed in https://prometheus.io/docs/prometheus/latest/configuration/configuration/#scrape_config?

[2021-08-05 13:45] R0peE opened #4201 "Multiple servicemonitors not processed if one is faulty"
**What happened?**

Additional servicemonitors are not procssed by the operator in case one of them contains reference to non existent resource (eg. configmap, secret etc.)

**Did you expect to see something different?**

Skip the faulty servicemonitor and continue processing the rest

**How to reproduce it (as minimally and precisely as possible)**:

Create a servicemonitor with http basic auth p

[2021-08-05 14:21] #4044 closed

[2021-08-05 15:06] paulfantom commented on #2787
@slashpai since it is quite a large change, it would be good to first start with a design document.

[2021-08-05 20:55] pslobo commented on #4020
Irecently stumbled upon this issue. Simply omitting `listenLocal` solved the issue for me.

[2021-08-06 07:07] fpetkovski commented on #4200
Currently the prometheus operator cannot configure basic auth for the prometheus HTTP endpoints. There are two options I see
* Configure mutual TLS: https://github.com/prometheus-operator/prometheus-operator/blob/master/Documentation/api.md#webtlsconfig
* Configure basic auth (or any other auth) at the ingress level. An nginx ingress is pretty flexible in this regard.

[2021-08-06 07:14] fpetkovski commented on #4201
Are `Prometheus` resources which do not select the faulty ServiceMonitors affected as well?

[2021-08-06 09:53] jack1902 commented on #4200
Configuring at the ingress level will work for now but ideally a solution directly on prometheus would be ideal. NGINX does unblock me for this but if its possible to extend the prometheus object to include some form of basic auth (pulling the password from a secret) that would be great.

The TLS side of things would again ideally be handled by an ingress as this is a common setup for most applica

[2021-08-06 10:20] fpetkovski commented on #4200
We are always looking for contributors and if you are interested in implementing the feature, I'd be more than happy to help with reviewing PR and answering any questions you might have.

As you indicated, we need to extend the [web spec](https://github.com/prometheus-operator/prometheus-operator/blob/master/Documentation/api.md#webspec) to accept basic auth configuration. There is already a `Basi

[2021-08-06 15:06] dmitriyr333 commented on #4020
and you are using Istio v1.10?

[2021-08-06 15:26] R0peE commented on #4201
Hi Filip,

Thx for the reply, it seems to also affect other resources. While adding a "faulty" ServiceMonitor i have also added a PrometheusRule, and it is also not being processed.

[2021-08-06 15:55] desaintmartin commented on #4020
Sorry, I did not have the time to update the PR. I'll try to push early next week.

Yes, with istio 1.10, NOT using listenLocal should work.

[2021-08-06 16:02] LiuVII commented on #4033
and update?

[2021-08-06 16:03] LiuVII commented on #3737
any updates?

[2021-08-07 05:50] pslobo commented on #4020
Yes. Sorry, forgot to mention that.

[2021-08-07 05:52] pslobo commented on #4020
Not sure if it helps, but submitted https://github.com/prometheus-operator/prometheus-operator/pull/4202 update docs.

[2021-08-07 13:05] renepardon opened #4203 "No metrics from custom exporter are available within Prometheus within another namespace"
**What did you do?**
I've installed the `kube-prometheus-stack` within it's default namespace `kube-prometheus-stack` hosted on DigitalOcean through 1-click-app-install without changing any default values.

I have a service within another namespace. Lets call it namespace J1:

[code]

Within `kube-prometheus-stack` namespace I created this `ServiceMonitor`:

[code]

**Did you expect to see some di

[2021-08-07 13:50] Wikiwix commented on #4045
This issue is still relevant. Looks more like the WIP fix is stale 🙁

[2021-08-09 09:11] xichengliudui opened #4204 "Prometheus operator image pull policy"
After i changed the image repository, i do not know how to change the image pull policy
I want to use the local image first，i looked up many links and couldn't find what I needed

[2021-08-09 09:11] xichengliudui commented on #4204
/help

[2021-08-09 10:30] navneet1075 commented on #3587
@ensonic right . setting a initialDelaySeconds is much better than rather than doing so many calls in the beginning.

[2021-08-09 10:46] navneet1075 commented on #3587
the pods keeps on restarting with readiness probe failed errors .

[code]

[2021-08-10 14:40] fpetkovski commented on #4201
Ok, thanks for the information. As you are using a fairly old version of the operator, my first suggestion would be to try the latest version since this issue might already been fixed.

[2021-08-11 07:27] mikechengwei commented on #3862
/assign

[2021-08-11 07:52] fpetkovski commented on #4204
There is currently no way to change the pull policy, it is always set to `IfNotPresent`. This should effectively allow you to use the local image first and fall-back to a remote registry

[2021-08-11 09:42] xichengliudui commented on #4204
ok, thanks

[2021-08-11 09:42] xichengliudui commented on #4204
/close

[2021-08-11 11:19] camelpunch opened #4206 "spec.preserveUnknownFields: Invalid value: true: must be false"
**What happened?**

We had a running operator `bundle.yaml` at v0.39.0. When we applied the bundle from v0.49.0, we got an error:

[code]

This occurred when attempting to apply the new `prometheuses.monitoring.coreos.com` CRD.

We're running a GKE cluster at `v1.20.8-gke.900`. The previous `prometheuses` CRD was `apiextensions.k8s.io/v1`, as is the new one.

See a similar issue over at Calico: ht

[2021-08-11 11:46] slashpai commented on #4197
I can add this to Probe

Implementing scrapeconfig api will take some time

[2021-08-11 11:48] #4107 closed

[2021-08-11 20:48] nrvnrvn commented on #2515
Stay away @stale

[2021-08-12 06:18] fpetkovski commented on #4203
Can you try setting the `port` field in the ServiceMonitor endpoint to `app-exporter-0`?

[2021-08-12 07:06] amaothree opened #4208 "Can I use probe to monitor a static target and get metrics?"
**What I need to know?**

I found `probe` CRD may can help me to get a metrics from a static target. But there are no docs or example to help me to make a probe yaml. Can anyone help me with a probe example? the example ip could be 0.0.0.0:8080.

--Original Question--
Hej, developers. There is a **static** URL of a target that I want to monitor via the prometheus operator. For some reason, I don't

[2021-08-12 07:32] amaothree commented on #4208
Oh, I just learned I should use `Probe` CRD not serviceMonitor. I am not sure is it right. I will test it and will close the issue later if it works.

[2021-08-12 08:32] #4197 closed

[2021-08-12 14:33] ggordonhall opened #4210 "No endpoint for custom target"
Hi, I'm trying to configure Prometheus monitoring for an API. I can see that the target exists, but there is no endpoint.

![Screenshot 2021-08-12 at 15 32 02](https://user-images.githubusercontent.com/24595376/129215418-87fc9ed6-427d-4052-898d-2bacb5b32ed7.png)

I installed the Prometheus Operator Helm Chart and created a Prometheus object:

[code]

My service monitor config is:

[code]

The targ

[2021-08-12 14:37] #4210 closed

[2021-08-12 17:46] pgier commented on #2977
Closing this since it's out of date now.

[2021-08-12 17:46] #2977 closed

[2021-08-13 02:33] artazar commented on #3388
Since searching for PrometheusMissingRuleEvaluations alert will likely land you here first, I am sharing the way to get to the cause. In prometheus, you can check which rule group is taking a long time by evaluating this expression:

prometheus_rule_group_last_duration_seconds >1

In my case it was the APIServer rules that led me to https://github.com/prometheus-operator/kube-prometheus/issues/503

[2021-08-13 04:44] renepardon commented on #4203
Unfortunately it doesn't make a difference @fpetkovski

[2021-08-13 05:39] amaothree commented on #4208
Solved this: just set the prober same with the target. TBH, I can not understant why prober should be set same as target. but it is works.
[code]

[2021-08-13 05:39] #4208 closed

[2021-08-13 13:53] miksercz opened #4212 "Prometheus instance stuck in Terminating loop"
Hello everyone,
we've encountered a very weird issue on two of our Production environments that we cannot reproduce on any other environment. Interesting thing to note is that one of the environments (let's call it prod1) has came up with the same issue earlier, but after scaling down of the Operator deployment (reasoning explained further down) and scaling it backup a few days later, the issue wa

[2021-08-13 15:36] MattJeanes commented on #3832
Cannot confirm if this is still an issue as we no longer use virtual nodes so will give it the benefit of the doubt and assume it is now fixed.

[2021-08-13 15:36] #3832 closed

[2021-08-14 18:49] #2670 closed

[2021-08-15 01:41] karasjoh000 commented on #1331
You can add labels to the namespaces and then reference to those labels. If you want to just use the namespace names, Kubernetes makes a label with the namespace name `kubernetes.io/metadata.name: <namespace-name>`:
[code]

[2021-08-16 05:11] sanusatyadarshi commented on #2573
@llussy Were you able to change the prometheus.yaml.gz file?

[2021-08-16 06:08] llussy commented on #2573
I did not find where to change,can use `echo "xxxxx"|base64 -d | gunzip` view content.

[2021-08-16 06:15] coderanger commented on #2573
@sanusatyadarshi @llussy Please use the Discussions section or Slack for support questions rather than asking tickets. Thanks!

[2021-08-16 09:04] TamasNeumer commented on #3926
Any updates / success on this topic?

[2021-08-16 10:19] #4020 closed

[2021-08-16 11:24] #4181 closed

[2021-08-16 17:04] #4155 closed

[2021-08-17 06:54] #4199 closed

[2021-08-17 08:05] paulfantom commented on #4203
It looks like your RBAC configuration does not allow prometheus access to the other namespace.

[2021-08-18 05:19] George-T-Serban commented on #2211
This worked for me.

[2021-08-18 07:20] sunlintong commented on #3737
@simonpasquier @brancz Do you all think this is a good way ? If so, I can open a PR to implement this feature.I need this feature very much.

[2021-08-18 07:44] sunlintong commented on #3737
this will lead cyclic dependency  as mentioned at [3821#issuecomment-791163512](https://github.com/prometheus-operator/prometheus-operator/pull/3821#issuecomment-791163512), can we use `globalAlertmanagerConfigName`?

[2021-08-18 09:15] m-messiah commented on #4079
Hello! I just want to up this issue, because it is really annoying to edit all PVCs manually and rekick all pods manually when we have the operator.

[2021-08-19 08:35] archerbj opened #4223 "prometheus-adapter in openshift-user-workload-monitoring namespace"
I am trying to implement custom metrics autoscale in openshift 4.6

1.I have enabled user-workload-monitoring in openshift 4.6
2.installed a Prometheus adapter in project openshift-user-workload-monitoring
3.I am trying to make prometheus-adapter connect the prometheus instance through service prometheus-operated:9090.
But I failed due to connection refused

[code]
And I found the prometheus-user-

[2021-08-20 02:43] XzBuleSky opened #4224 "alertmanger Failed to resolve alertmanager-main-0.alertmanager-operated:9094"
**What happened?**
Hello! I encountered two problems with the AlertManager service.

**The first problem is the alertManager high availability error message.**
[code]
The log information shows that alertManager cannot be resolved to `alertmanager-main-0.alertmanager-operated` using coreDNS.
Here's my test result: `alertmanager-main-0.alertmanager-operated' can't connect properly, But `alertmanager

[2021-08-20 04:05] archerbj commented on #3151
@Cottonglow
hi !  i am encountering the same issue in openshift 4.6.
May I ask that you said

[code]
Did you mean just install the prometheus operator in a user-defined namespace to avoid serviceMonitor discovery issue?

@brancz
After enabling the user-workload-monitoring feature, it did discovery serviceMonitor in other namespace. But I  was trying to expose custom metrics, so I have to use a pro

[2021-08-20 11:54] johannesfritsch commented on #3608
I was able to configure it correctly, but it does not update the prometheus configuration when I update the additionalScrapeConfigs value.

[2021-08-20 15:40] toniSta opened #4225 "Operator does not reconcile Alertmanager's sts"
**What happened?**
Prometheus operator does not reconcile Alertmanager's sts. When scaling down the sts via
`kubectl scale --replicas=0 sts alertmanager` (assuming the sts is called "alertmanager")
all Alertmanager pods terminate and don't come up again.

**Did you expect to see something different?**
I would expect the prometheus-operator to reconcile the sts and the number of Alertmanager pods i

[2021-08-21 12:54] #3935 closed

[2021-08-21 12:54] yishaihl commented on #3935
Solved

[2021-08-23 09:12] a-roberts opened #4227 "No target appears in UI, but no errors either with certain service monitors"
**What did you do?**

Enabled user defined workload monitoring on OCP 4.8.2, created an additional ServiceMonitor, observed it never appears unless it's of a certain (non-working) configuration.

**Did you expect to see some different?**

I expected my ServiceMonitor to result in a target on the UI regardless of it working or not, as I have an existing, partially erroring, ServiceMonitor

**Enviro

[2021-08-23 10:03] fpetkovski commented on #4223
Hi @archerbj, since this issue is related to OpenShift and prometheus-adapter, I would suggest that you raise a ticket through Red Hat support instead.

[2021-08-23 10:05] fpetkovski commented on #4212
Hi @miksercz, I assume there is another controller / loop which is modifying resources managed by the operator. Would you be able to attach the prometheus-operator deployment yaml as well as the `Prometheus` resource which is getting recreated?

[2021-08-23 10:07] dpuzikox commented on #3071
Deprecation of `targetPort` making impossible scraping of e.g. auto-injected `telegraf` with `prometheus-client` as output  because  of `telegraf` container injected without `port` section. Actually the same issue as @dave08 mentioned.

[2021-08-23 10:40] fpetkovski commented on #4227
Exposing troubleshooting information for ServiceMonitoring is definitely something which would be immensely beneficial. I believe there are already some issues for tracking such improvements.

Leaving that aside, from what I managed to understand, prometheus metrics are exposed on 9248 but prometheus is trying to scrape them from 9249. Can you check the name of the containerPort with name `prometh

[2021-08-23 10:53] a-roberts commented on #4227
👍 that would be super helpful, so the metrics are definitely on 9248 in the container, but I believe something in my operator code was having it use 9249. So to make it super explicit, what I've done is add `prometheus-tm` as a named port instead, and had this use 9249,

This means my service now looks like this:

[code]

and the servicemonitor like this:

[code]

If I then bounce the operator pod

[2021-08-23 12:29] fpetkovski commented on #4227
The no targets in the UI is caused by the following prometheus config chunk:
[code]

Prometheus is looking for a container port with the name 9248. The target port in a service monitor refers to a container port name, not the port value.

[2021-08-24 13:57] keyboardfann commented on #3608
@johannesfritsch
Please check Prometheus-operator and Prometheus log to see if any error log. It may cause by the wrong config.

[2021-08-24 13:59] johannesfritsch commented on #3608
@keyboardfann Sorry, I forgot to answer here yesterday. I found the problem. I applied a local config that was targeting the wrong namespace. When I edited the resource directly with "kubectl edit" I was able to update the field.

[2021-08-24 14:01] kashwinbhat commented on #569
Hi, can someone give more information on what is the potential issue that is observed when the root ('/') mount is not used.

I tried using both the cases with / hostpath and without it the node-exporter metrics was exactly similar, If any can give the details of the issue of not having / as hostpath that will help me.

https://github.com/prometheus-operator/kube-prometheus/blob/main/manifests/nod

[2021-08-24 15:53] stevehipwell opened #4229 "Support creating the Thanos Ruler rules configmap without creating the Ruler resources"
**What is missing?**

The ability to use the Prometheus Operator to manage rules for the Thanos Ruler without having it manage the actual deployment.

**Why do we need it?**

Installing the Thanos Ruler via an external mechanism such as [kube-thanos](https://github.com/thanos-io/kube-thanos) is preferential in situations where more customisation is required but the Prometheus Operator is still the

[2021-08-25 11:16] rjshrjndrn commented on #2821
If anybody is still looking for a solution, with old prom-operator version
- I've two endpoints,listening on port 4000
- I'm using black box exporter to monitor both
- Idea is to have an endpoint(because this is external apps, you can use service name if it's running in kube), and use that with the service monitor
[code]

[2021-08-25 14:18] PhilipGough opened #4231 "Add a stale bot to close stale pull requests/issues"
When looking through the list of open PR's, it is apparent some are entirely abandoned, outdated etc. There are some PR's almost 4 years old that are unlikely to be advanced at this point.

I wonder if we should consider extending the stale bot to close PR's that match this state?

[2021-08-25 14:18] PhilipGough commented on #4231
/assign @simonpasquier

[2021-08-25 14:19] PhilipGough commented on #4231
I see this also applies to the issues backlog and there is currently no `stale` bot

[2021-08-27 23:01] trainingUI commented on #1331
It worked, Thanks!

[2021-08-28 03:31] dhatchm commented on #455
Hi. I am new to using prometheus external labels. In our development cluster, we have around 20 namespaces and each have their helm release files separately. We would like to grab the slack channel names from appropriate namespaces and use it for routing.
The problem here is namespace able to exhibit the slack channel name but prometheus not able to pick it up from namespaces due to flux-system go

[2021-08-30 11:36] phin1x opened #4236 "Alertmanager SNS receiver not working"
**What happened?**

We want to use the new SNS receiver from alertmanager 0.23.0, but the operator fails with an unmashal error. A quick look at the code showed that the sns receiver structs are missing.

A general question: why is the alert manager config rebuilt if the corresponding structures are exported in the alert manager module and there is already a dependency on the alert manager anyway?

[2021-08-30 15:15] amavrin opened #4237 "Operator ignores PrometheusCompatibilityMatrix and installs `latest` prometheus"
**What happened?**
Operator `v0.49.0` is installed. `Prometheus` objects is installed with no explicit version set.
Operator installs `latest` version of Prometheus image.

**Did you expect to see something different?**
I'd expect that the latest version from `PrometheusCompatibilityMatrix` is installed
https://github.com/prometheus-operator/prometheus-operator/blob/release-0.49/pkg/operator/defau

[2021-08-30 21:40] buckner commented on #4174
I'm running into this same issue. Anyone know if there is any traction or progress on making matchers available for secrets?

[2021-08-30 22:12] zeadailson commented on #3608
The solution given by @keyboardfann helped me here, today works with both static IP and external urls.

[2021-08-31 08:06] #4070 closed

[2021-08-31 08:17] stevehipwell commented on #4229
@simonpasquier there are a number of UX issues with managing the Thanos Rule component via the operator, none of which are deal breakers but which made me ask this question. I'm not saying that the operator shouldn't be able to manage Thanos Rule, just that it shouldn't be a requirement to get the Thanos Rule config map generated.

In my case I have a [Helm chart](https://artifacthub.io/packages/h

[2021-09-01 07:15] fpetkovski commented on #4236
Hey :wave:, did you configure the Alertmanager with a kubernetes secret or using an `AlertmanagerConfig`?

[2021-09-01 08:46] phin1x commented on #4236
The configuration is stored in a secret. I'm using the kube-prometheus-stack helm chart, so i cannot simply change to alertmanager config.

[2021-09-01 15:19] njnygaard commented on #3954
Any advice on this? I'm not able to configure my Slack integration without killing the operator and modifying the generated configuration by hand. If the operator is alive, it will continually overwrite modifications I make to the configuration. I know that I'm not supposed to make modifications to the config secret, but it was the only way I was able to get it to work once.

`alertmanager-prometh

[2021-09-01 17:03] talha0324 commented on #3954
@njnygaard can you post your Alertmanager CR too?

[2021-09-01 18:16] njnygaard commented on #3954
@talha0324 the Alertmanager CRD? I installed with the [Prometheus Community Kubernetes Helm Chart](https://github.com/prometheus-community/helm-charts). Did you still want that?

[2021-09-01 18:47] talha0324 commented on #3954
So, the `prometheus-operator` creates an alertmanager config with the name of `alertmanager-xxxx-generated`
Now I'm assuming that you made no changes to the chart for alertmanager. So it's going to default config secret. What you need to do is.

1. Check if the `*-generated` secret is there with all your configs from `AlertmanagerConfig` CRD
2. Change the name of the secret picked by the chart for

[2021-09-01 18:57] njnygaard commented on #3954
Thanks for the response @talha0324
I would like to target a Helm install procedure like the following:
[code]
With the values that I pulled from `helm show values prometheus-community/kube-prometheus-stack`.
Is it not possible to configure the `AlertmanagerConfig` from the values file at this time?

[2021-09-01 19:07] talha0324 commented on #3954
Okay great so you used the `kube-prometheus-stack`
All you have to do is look at these configs:
https://github.com/prometheus-community/helm-charts/blob/2a0d552bab9f9686008fbcdb9ad63c6382485f98/charts/kube-prometheus-stack/values.yaml#L424

To be specific you need to add the AlertmanagerConfig selector label.

[2021-09-02 09:23] TamasNeumer opened #4241 "Alertmanager mTLS config"
**What is missing?**

AlertManager has recently introduced configuration options for mTLS:
- https://github.com/prometheus/alertmanager/commit/ff85bec45bdce3d296a229adb47e7d29415f8a05
- https://github.com/prometheus/alertmanager/blob/main/docs/https.md

**Why do we need it?**

To be able to configure AlertManager gossip to use mTLS.
Would be nice in general to be able to add flags to the AlertMana

[2021-09-02 14:46] xbglowx opened #4243 "Support consuming certs for PodMonitor as files"
**What is missing?**
ServiceMonitor allows for consuming certs as SecretOrConfigMap or string, but PodMonitor doesn't. Would be great to add `caFile`, `certFile`, and `keyFile` to PodMonitor.

**Why do we need it?**
To make ServiceMonitor's and PodMonitor's `tlsConfig` similar. Is there a reason they shouldn't be?

**Environment**

* Prometheus Operator version:

    `quay.io/prometheus-operator/p

[2021-09-02 14:50] simonpasquier opened #4244 "Remove dead code supporting Prometheus v1.x"
#2822 dropped support for Prometheus v1.x officially but there's still at least one place where the operator checks for v1.x

https://github.com/prometheus-operator/prometheus-operator/blob/98ed425ec9adbbe83871e2fd78276cdf5184c8b0/pkg/prometheus/promcfg.go#L419-L426

[2021-09-02 15:41] xbglowx commented on #4243
This issue might be a dup of https://github.com/prometheus-operator/prometheus-operator/issues/3922 and/or https://github.com/prometheus-operator/prometheus-operator/issues/4121

[2021-09-02 16:29] slashpai commented on #4244
I will check this :)

[2021-09-03 12:29] #4244 closed

[2021-09-03 14:53] PhilipGough commented on #3711
I'll take a look at this once since it looks like `MinReadySeconds` has been added to ss (although still feature gated) in https://github.com/kubernetes/kubernetes/pull/101316

[2021-09-06 08:19] nuriel77 commented on #4079
Agree

[2021-09-06 13:37] #3970 closed

[2021-09-06 15:04] simonpasquier commented on #4229
thinking about it more, can't you deploy a Thanos ruler with 0 replica? I assume that it would generate the configmap.

[2021-09-06 15:11] stevehipwell commented on #4229
@simonpasquier that's where I'm going next; although it'd be cleaner if the operator didn't create the resources in the first place and I'm not sure what warnings will be generated around things like services and monitors.

[2021-09-06 15:17] simonpasquier commented on #4201
Closing since this got fixed in #3445 (available in v0.42 and later).

[2021-09-06 15:17] #4201 closed

[2021-09-06 15:19] simonpasquier commented on #4191
this is unexpected since the operator doesn't write anything on disk and read very few data (only certificates probably).

[2021-09-06 15:30] simonpasquier commented on #4243
Yes this is similar to #3922 and #4121. We're not yet settled on the approach. Can you describe your use case and requirements more specifically?

[2021-09-06 15:42] simonpasquier commented on #4194
While I definitely understand the requirement, I think that the current approach of supporting each and every CLI argument of Prometheus isn't sustainable anymore.
Thinking out loud, it might be more convenient to let users append flags that aren't widely used to the generated command line arguments. If we want to keep things safe and avoid people breaking their systems, the operator could discard

[2021-09-07 02:37] sunlintong commented on #2552
Same error. At last I found that's my dns server error. After I fixed dns, alertmanager starts without error. But anyway, the alertmanager log didn't refer to any useful log. maybe I should open a issue to alertmanager.

[2021-09-07 09:49] juliantaylor opened #4249 "create poddisruptionbudget for statefulsets"
**What is missing?**

poddisruptionbudgets are important to avoid service downtimes during cluster management operations (like node draining). The operator should create these automatically as manually creating them is error prone as the selector labels for the statefulset are defined by the operator and cannot by dynamically added to a manually created pod disruption budget without needing to car

[2021-09-07 13:02] amintek opened #4250 "Need support for ppc64le architecture"
**What did you do?** Need support for ppc64le architecture

**Did you expect to see some different?**

**Environment**
Linux/ppc64le

* Kubernetes version information:
v1.17.2

* Kubernetes cluster kind:
   kubeadm

[2021-09-07 17:08] xbglowx commented on #4243
We have istio deployed, so in order for Promtheus to be able to scrape Pods directly it would need to have access to a valid mTLS cert. Services allow for accessing the cert via file, which works great using [this](https://istio.io/latest/docs/ops/integrations/prometheus/) example of having the cert injected into the Prometheus Pod via a volume mount.

[2021-09-08 03:02] lingfengChen03 opened #4254 "Warning Failed Error: failed to start container "prometheus": Error response from daemon: cannot join network of a non running container:"
When I tried to use Promethus to monitor rook-ceph:
    1.  kubectl apply -f https://raw.githubusercontent.com/coreos/prometheus-operator/v0.40.0/bundle.yaml
    2. kubectl apply -f service-monitor.yaml
    3. kubectl create -f prometheus.yaml
    4. kubectl create -f prometheus-service.yaml
[code]

[code]

[code]

But this is not normal：
[code]
When I went to check the pod：
[code]

kubernetes ver

[2021-09-08 07:29] lingfengChen03 commented on #4254
kubectl logs deployment.apps/prometheus-operator：
[code]

[2021-09-08 07:44] arajkumar commented on #3652
IIUC, the request is to replace the ip_addr part from `instance` label and replace it with `pod_name` for better UX.
Can't we simply keep the `pod` label as is(to help KSM joins) and only replace the `ip_addr` with `pod_name` from `instance` label.? Do you folks feel it would break any of the existing assumptions in alerts and recording rules?

Before:
[code]

After:
[code]

IMHO, doing this chang

[2021-09-08 09:35] simonpasquier commented on #4249
duplicate of #3917 ?

[2021-09-08 12:28] simonpasquier commented on #4243
Thanks @xbglowx so it looks identical to the other 2 issues. Would you mind closing that one?

[2021-09-08 13:19] slashpai commented on #4192
I will take look at this

[2021-09-08 14:18] #3711 closed

[2021-09-08 15:05] simonpasquier commented on #4250
duplicate from https://github.com/prometheus-operator/prometheus-operator/discussions/4252

[2021-09-08 15:05] #4250 closed

[2021-09-08 15:07] simonpasquier commented on #4254
Not sure if it's an operator issue. It looks more like a kubernetes problem?

[2021-09-08 15:49] simonpasquier opened #4256 "Support advanced alert relabeling configuration for Thanos Ruler"
**What is missing?**
The  ThanosRuler CRD supports `alertDropLabels` for dropping alert labels. Thanos Ruler >= v0.21.0 exposes the `-alert.relabel-config`/`-alert.relabel-config-file` flags for more advanced use cases. We could make it work like `additionalAlertRelabelConfigs` for the Prometheus CRD with a secret key selector pointing to the relabel configurations.

**Why do we need it?**
Feature

[2021-09-08 15:58] Awot83 opened #4257 "grafana stuck in ContainerCreating"
hello

i followed theses steps of installation :
1. git clone https://github.com/prometheus-operator/kube-prometheus.git
2. kubectl create -f manifests/setup
3. kubectl create -f manifests/

but the pod grafana information of "**kubectl get pods -n monitoring"** says  : **the pod grafana-xxxxxxx is stuck in ContainerCreating**

the log from :  kubectl get events --all-namespaces  --sort-by='.metad

[2021-09-08 16:23] amintek opened #4258 "Need support for ppc64le architecture"
What did you do? Need support for ppc64le architecture so i can deploy kube-prometheus

Did you expect to see some different?

Environment
Linux/ppc64le

    Kubernetes version information:
    v1.17.2

    Kubernetes cluster kind:
    kubeadm

[2021-09-09 03:25] #4243 closed

[2021-09-09 13:31] aauren commented on #3544
Commenting to stop stale bot from closing. I think that this would be helpful as well.

[2021-09-09 13:43] slashpai commented on #4257
Could you please share `kubectl describe` output as well

Also since this is issue related to kube-prometheus this should have been created in https://github.com/prometheus-operator/kube-prometheus

@simonpasquier can we move this issue to kube-prometheus?

[2021-09-09 14:39] simonpasquier commented on #4258
see https://github.com/prometheus-operator/prometheus-operator/pull/2947#issuecomment-915331480

[2021-09-10 09:54] PhilipGough commented on #4258
@amintek - as per Simon's comment - this should be relatively straightforward. Extending the list of supported architectures with `ppc64le` at https://github.com/prometheus-operator/prometheus-operator/blob/master/scripts/push-docker-image.sh#L19 and adding same to the manifest https://github.com/prometheus-operator/prometheus-operator/blob/master/scripts/push-docker-image.sh#L75 should allow CI t

[2021-09-10 18:54] n1lesh commented on #4258
@PhilipGough I can do it.

[2021-09-12 07:57] amintek commented on #4258
@PhilipGough thanks for the reply, do i need to clone the repo locally, then execute the "push-docker-image.sh" script (after extending the list of supported architectures) ?

[2021-09-13 10:48] xxxbobrxxx opened #4259 "Publish OpenAPI schemas for CRD resources"
**What is missing?**

OpenAPI schema in swagger format.
Reference: https://github.com/kubernetes/kubernetes/tree/master/api/openapi-spec

**Why do we need it?**

We have helm chart used to define prometheus-operator CRD's right in values files. It is very useful for software distribution. To not write such definitions by our hands currently we are using the following strategy:

- Clone the prometh

[2021-09-13 15:13] simonpasquier commented on #4259
Can you provide more details about what you have to patch?

[2021-09-13 20:55] elsbrock commented on #3204
Can you give an example?

[2021-09-14 02:15] AlexZhenWang opened #4261 "Is it possible to have multiple prometheus instances at the same time?"
Hi, I deployed prometheus using prometheus operator in my cluster with one prometheus instance, everything is working well. But after I set `prometheus.prometheusSpec.replicas` to 2 for creating more than 1 prometheus instance, those two instances are keeping crashing with `Readiness probe failed: HTTP probe failed with statuscode: 503` error.

Is this the expected behaviour when creating more tha

[2021-09-14 11:28] PhilipGough commented on #4258
@amintek the workflow is as follows:

1. Fork the repository
2. Make the relevant changes as described in https://github.com/prometheus-operator/prometheus-operator/issues/4258#issuecomment-916781641
3. Push the changes to your branch and create a pull request

I don't think you will need to execute the script directly. You can of course do that locally to verify your changes which is always a goo

[2021-09-14 11:33] PhilipGough commented on #4261
@AlexZhenWang you should for sure be able to create multiple replicas as you have described, so if that is not working it would be a bug, but I feel it is likely the e2e tests would have prevented that.

What is the output of `kubectl describe` on the crashing pods?

[2021-09-15 07:03] fpetkovski commented on #4212
It is hard to say what exactly is causing the problem but I can provide some pointers that might help you investigate further. The operator calculates a digest of the current state and stores it in the prometheus statefulset annotations[1].
During the next reconciliation loop, it will compare this value to the newly calculated hash value. If the values are different, it will update the statefulset

[2021-09-15 07:55] miksercz commented on #4212
You must be right, since during the issue occurring we are seeing the "updating current Prometheus statefulset" message constantly with debug logging enabled.

However, I am having a hard time navigating the code (not very good in Go), and cannot easily figure out what the variables stand for. Do you have any tips on how I could go and check this? Only thing that comes to mind is to dump the curre

[2021-09-15 07:59] leo-lao opened #4263 "Alertmanager cannot find my AlertmanagerConfig using alertmanagerConfigNamespaceSelector"
**What did you do?**
I set up my prometheus and alertmanager using kube-prometheus,
then I tried to let my alertmanagerconfig(in namespace default) recognized by alertmanager(in namespace monitoring).

my AlertmanagerConfig looks like this:
[code]

Alertmanager looks like this
[code]
after I appied above yaml files, I cannot find my aa configs in  alertmanager webUI.
I also tried differnent select

[2021-09-15 08:38] leo-lao commented on #4263
How to set prometheus-operator log level to debug?
previous issues give such tips

[2021-09-15 09:19] fpetkovski commented on #4212
Adding more logs by outputting what changed in the operator is a good idea and might help with auditability overall. The variables are as follows:
[code]
I suspect one (or more) of those variable are getting modified.

You can also check these resources through `kubectl` when you see the issue happen. You could in theory miss the changes if they're only temporary, but this is an easier way to star

[2021-09-15 10:05] xxxbobrxxx commented on #4259
There is an example for the 0.47.1 version:

[code]

[2021-09-15 11:52] fpetkovski commented on #4263
You can set the `--log-level` option to `debug`. The operator arguments are documented here: https://github.com/prometheus-operator/prometheus-operator/blob/master/Documentation/operator.md

[2021-09-15 12:38] #4257 closed

[2021-09-15 13:34] matrohon opened #4264 "PodMonitor spec with explicit scrape interval result in two jobs"
When I create a PodMonitor with an interval in the podMonitorEndpoints section, the operator creates two jobs, one with the endpoint="port-name" label which is scraped at the default period, and one without this label, which is scraped at the period I've asked.

If I remove the "interval" option, then only one job is created.

I've deployed the operator with the helm charts from kube-prometheus-st

[2021-09-15 13:57] etsauer opened #4265 "Enable MultiNamespace or AllNamespaces mode in Operator Lifecycle Manager/OperatorHub"
It appears that the latest version of the prometheus-operator that is listed in OperatorHub only supports a SingleNamespace install mode. This prevents OLM users from installing the operator in a manner where it can be used to monitor workloads across namespaces. I'm not sure if there was a reason it was done this way originally (maybe testing at the time wasn't working), but this operator is cert

[2021-09-15 14:05] miksercz commented on #4212
Thanks for the explanation. I removed the above-mentioned hack to compare the resource differences and the issue disappeared again. I will prepare a verbose-logging image of the operator for when this happens again and come back when I have more info. Thanks.

[2021-09-15 14:06] matrohon commented on #4264
thanks to @vsliouniaev how figured out where was my error. I was having a mistake in my spec, the correct one has only one entry in the podMetricsEndpoints slice:

[code]

[2021-09-15 14:06] #4264 closed

[2021-09-15 14:53] matrohon opened #4266 "Port not mandatory in PodMonitor.spec.podMetricsEndpoints"
After debugging #4264, I figured out that the podMetrcisEndpoints.port is not mandatory, as stated in the doc, in the PodMonitor spec, if we specify an interval.

* Prometheus Operator version:

chart=kube-prometheus-stack-18.0.2
kube-prometheus-stack:
Image: quay.io/prometheus-operator/prometheus-operator:v0.50.0
Port: 10250/TCP
Host Port: 0/TCP
Args:
--kubelet-service=kube-system/prometheus-stac

[2021-09-15 15:37] matrohon commented on #4266
actually, it seems that none of the fields is required in the podMonitorEndpoint: https://github.com/prometheus-operator/prometheus-operator/blob/master/Documentation/api.md#podmetricsendpoint

thanks @vsliouniaev

[2021-09-15 15:37] #4266 closed

[2021-09-15 15:41] etsauer commented on #4265
Opened https://github.com/redhat-openshift-ecosystem/community-operators-prod/issues/210 in the operators repo as well

[2021-09-15 22:23] hryamzik commented on #3204
@alexisph @miguel-callejas-coderoad-com do you literally use `"$FQDN:$PORT"` as `replacement`?

It works for me if I put real values there (in.e. `"myhost.example.com:8080"`) but ``"$FQDN:$PORT"`` produces `instance=":"`.

[2021-09-16 01:39] leo-lao commented on #4263
Thanks for answering.
As far as I can see, Alertmanager and AlertmanagerConfig should be in the same namespace,
and AlertmanagerConfig only support route alerts from the same namespace.

That is to say, I need to deploy all my deployments to `monitoring` namespace?

Is there any methods supporting multiple namespaces in prometheus-operator?

[2021-09-16 06:00] fpetkovski commented on #4263
Hi @leo-lao,

you can add the following match expression to the Alertmanager resource
[code]
Then add the `alertmanager: aa` label to the namespaces that you want to scrape.

Using `alertmanagerConfigNamespaceSelector: {}` is equal to scraping all namespaces regardless of their labels.

[2021-09-16 15:32] mouliveera opened #4268 "Stop scraping metrics from a namespace in K8s"
**What did you do?**
tried using below values in proetheusSpec, but it didn't help
[code]
**Did you expect to see some different?**

We use multiple namespace to test our features. We are using prometheus-operator to scrape metrics of our kubernetes environment irrespective of namespaces.

Observed service monitor `prometheus-kube-state-metrics` is taking care of that.

I am looking for a way, how

[2021-09-16 16:55] alexisph commented on #3204
@hryamzik , just use the FQDN and port of the service you'd want to scrape, like in your example.

[2021-09-16 18:26] hryamzik commented on #3204
That's what I already do, hoped for a more elegant solution as `externalName` already contains it. Got it, ty!

[2021-09-18 21:14] retr0h commented on #3118
It would be nice if `bearerToken` could be specified through a secret.

[2021-09-20 03:21] ringerc commented on #1866
I'm seeing similar behaviour here on a current kube-prometheus and a `kind` cluster. It's easily reproduced.

I reported the underlying `kubectl` issue here: https://github.com/kubernetes/kubectl/issues/1117

[2021-09-20 08:23] fpetkovski commented on #4268
Hi @mouliveera,

you could use matchExpression[1] instead of matchLabels and label the service monitors that you want to exclude.

[1] https://pkg.go.dev/k8s.io/apimachinery/pkg/apis/meta/v1#LabelSelector

[2021-09-20 10:27] mouliveera commented on #4268
@fpetkovski I tried to ignore the namespace `test.*` from scraping. Ran helm upgrade
[code]

I still see some test namespace pod metrics in prometheus. Do I need any other values to skip the metrics scraping the test.* namespaces?

[2021-09-20 12:08] fpetkovski commented on #4268
This is not how the matchExpression works, it matches service monitor labels.
I suggest you try something like
[code]
and label the service monitors that you want to exclude with
[code]

[2021-09-20 13:03] #4045 closed

[2021-09-20 13:17] mouliveera commented on #4268
@fpetkovski I agree, but the issue is not with `serviceMonitorSelector` options.

I am looking for some help where we can skip/stop a namespace from Prometheus metrics scraping. Is there any available options we can set to stop metrics scraping?

[2021-09-20 13:20] fpetkovski commented on #4268
Ok now I understand. You could try using `--deny-namespaces` on the oeprator itself, but that is a global deny for all resources, not only for ServiceMonitors: https://github.com/prometheus-operator/prometheus-operator/blob/master/Documentation/operator.md

[2021-09-20 13:29] fpetkovski commented on #4268
And if you need an operator for kube-system as well, you can spin up a dedicated one with `--namespaces=kube-system`

[2021-09-20 13:36] TamasNeumer commented on #4241
@simonpasquier @brancz

I'm happy to help and implement the feature, however some guidance would be helpful.

- As far as I see an additional field needs to be added to the `AlertmanagerSpec` API which should point to a `ConfigMap`. The `ConfigMap` is mounted as a volume.
- Then it's the user's responsibility to deploy the `ConfigMap` with the desired content
- We then add an additional (Second?)

[2021-09-20 16:28] mouliveera commented on #4268
Thanks for sharing the options[`deny-namespaces`]. Yes we dont want to scrape any metric from those test namespaces. I am trying it to test.
[code]

[2021-09-21 01:24] r0bj opened #4271 "ThanosRulerSpec.labels should preserve default replica label `thanos_ruler_replica`"
Currently `ThanosRulerSpec.labels` logic is described as:
"If not provided, default replica label `thanos_ruler_replica` will be added as a label"

So in order to add any single custom label we need also manually add replica label required by Thanos Querier (needed for deduplication of Thanos Ruler instances https://thanos.io/tip/components/rule.md/#external-labels).
For example if you want to add

[2021-09-21 12:54] simonpasquier commented on #4259
Ack, do you want to contribute a patch?

[2021-09-21 14:29] jphx opened #4273 "Support for using HTTPS in the Prometheus web UI is incomplete"
**What happened?**

I've been trying to use the feature of having the Prometheus web UI use HTTPS, via config in the `Prometheus` resource like the following:

[code]

This appears to partially work.  It does configure Prometheus to use HTTPS, and it does change the readiness probe for the Prometheus container to use HTTPS.  But it _doesn't_ change the `config-reloader` container to use HTTPS when

[2021-09-21 14:36] jphx opened #4274 "Support using HTTPS for the web UIs of Alert Manager and Thanos Ruler"
**What is missing?**

I use the Prometheus Operator to create instances of the Alert Manager and Thanos Ruler.  Both of these services support using HTTPS for their web UIs.  The Prometheus Operator supports configuring Prometheus instances to use HTTPS, but it doesn't yet support doing the same for the Alert Manager and Thanos Ruler.

**Why do we need it?**

We would like to use HTTPS for the web

[2021-09-22 04:19] leo-lao commented on #4263
Thanks for your reply!
I have solved this problem like this

![alertmanager](https://user-images.githubusercontent.com/20881696/134282720-c85432a1-f99c-4162-8c93-35f651292513.png)

[2021-09-22 04:19] #4263 closed

[2021-09-22 08:47] fpetkovski commented on #4273
This is indeed a bug, but changing the config reloader to use https can be problematic for certificates issued by an untrusted CA. We either need to mount the CA's certificate in `/etc/ssl/certs/` or add a feature to config-reloader for accept insecure connections.

@simonpasquier @PhilipGough thoughts on this one?

[2021-09-22 09:04] PhilipGough commented on #4273
@fpetkovski personally, I would be in favour of fixing the reported bug and treating support for self-signed certificates as an enhancement.

[2021-09-22 10:28] simonpasquier commented on #4273
Ah interesting case :) Agreed that it doesn't hurt to adjust the URI scheme but I expect that for most (all?) impacted users, it won't fix the issue (e.g. TLS verification will fail further down the road).
IIUC we depend on Thanos sidecar (+ Thanos reloader package) for this. Maybe skipping the TLS verification is enough in our case since the sidecar and reloader connect to the localhost address?

[2021-09-22 10:39] fpetkovski commented on #4273
If we decide to skip TLS verification, this will need to be implemented in the thanos sidecar and config reloader components first. Then we can configure these components with the insecure flag. Another alternative would be to allow Prometheus to listen on both HTTP and HTTPS at the same time. This way internal requests can go to the http endpoint on localhost and external ones can go to https.

[2021-09-22 11:46] simonpasquier commented on #4273
yes this is what I meant too :)

Possible too but I suspect that it will be more complicated to implement... Worth checking with upstream though.

[2021-09-22 13:08] simonpasquier commented on #4273
Reopening since #4276 only fixed the HTTP scheme but the TLS verification is still an issue.

[2021-09-23 04:27] thibault-ketterer commented on #2693
Hi
maybe a date / ntp issue ?
it was the case for me.

[2021-09-23 13:11] simonpasquier commented on #2503
Looking at this issue again I think that the operator should run more validation on relabelConfigs and metricRelabelConfigs. The following snippet will generate a bad configuration for Prometheus because a replace action needs to specify a target label:

[code]

Prometheus logs

[code]

[2021-09-23 13:18] simonpasquier commented on #3118
@retr0h with recent versions of Prometheus, you can use the new Authorization field which supports secret key selector (https://github.com/prometheus-operator/prometheus-operator/blob/master/Documentation/api.md#authorization).

[2021-09-23 13:23] simonpasquier commented on #4268
you could use `serviceMonitorNamespaceSelector` to exclude a set of namespaces based on labels. For instance:

[code]

Otherwise the `--deny-namespaces` flag should work too.

[2021-09-23 13:32] simonpasquier commented on #4241
It would be more friendly to expose the different settings in the Alertmanager CRD rather than forcing the user to craft the config manually. You may want to have a look at what exists for web TLS config (https://github.com/prometheus-operator/prometheus-operator/blob/master/Documentation/api.md#webtlsconfig).
cc @fpetkovski who worked on the implementation for web TLS.

[2021-09-23 13:33] simonpasquier commented on #4274
Would you like to contribute the feature?

Also related to #4273.

[2021-09-23 13:36] simonpasquier commented on #4265
We don't maintain the OLM version of the operator so there's nothing we can do it. Since you've opened an issue on the OLM side, I'm closing this one for now.

[2021-09-23 13:36] #4265 closed

[2021-09-23 13:38] simonpasquier commented on #4212
@miksercz I'm closing it for now. Feel free to reopen if you manage to reproduce and have more information to share :)

[2021-09-23 13:39] simonpasquier commented on #4271
@r0bj do you want to contribute the improvement?

[2021-09-23 20:20] midnightconman commented on #4194
I am also running into this issue, where I would like to raise the remote_read concurrency limit to allow more connections from my thanos-sidecar (at the moment I peg at 10 99% of the time)... can we do both? Add this flag via the normal mechanisms (the flags in prometheus are pretty stable these days, so I don't think there should be much resistance here) and then open a new issue to look at the

[2021-09-24 04:44] slashpai commented on #1897
will check this

[2021-09-24 05:25] barrowkwan opened #4280 "Upgrade prometheus from v0.28.1 to v0.30.0 cause WAL corruption"
### Discussed in https://github.com/prometheus-operator/prometheus-operator/discussions/4279

<div type='discussions-op-text'>

<sup>Originally posted by **barrowkwan** September 23, 2021</sup>
I have upgraded today and also increase the replica from 1 to 2.  After update the manifest and apply it,  I saw new pod has created first ( since I increase the replica to 2 ) and the new pod has used v0.3

[2021-09-24 11:21] PhilipGough commented on #4280
Hi, I think this is probably an issue that should be created in https://github.com/prometheus/prometheus/issues.

The best course of action might be to delete the WAL to move forward, although note that you will lose up to 3h of the most recent data by doing so.

[2021-09-24 12:30] #4258 closed

[2021-09-24 13:55] fpetkovski opened #4281 "Add an owner reference to Prometheus resources pointing to the PO instance that reconciled them"
**What is missing?**
The Prometheus Operator should add an owner reference on all Prometheus, Alertmanager and ThanosRuler resources that it manages. During the reconciliation loop, the Prometheus Operator should skip instances of these resources that are already owned by another Prometheus Operator instance.

**Why do we need it?**
When multiple PO instances run in the same cluster with overlappi

[2021-09-24 15:48] simonpasquier opened #4282 "Ensure that duration fields are valid"
**What is missing?**
The operator doesn't prevent invalid values for duration fields like `PrometheusSpec.Retention` (same is true for `EnforcedBodySizeLimit`).

**Why do we need it?**
Avoid breaking Prometheus :)

**Environment**

* Prometheus Operator version: N/A

**Anything else we need to know?**:

[2021-09-24 22:05] aa-belikov commented on #3433
terminationGracePeriodSeconds is a pod level parameter.
Is there another way to change that?

[2021-09-24 22:51] r0bj commented on #4271
@simonpasquier I prepared PR for this issue: https://github.com/prometheus-operator/prometheus-operator/pull/4283

[2021-09-25 04:01] slashpai commented on #4282
I had thought about that while creating PR but didn't get enough time back then. I will fix that

[2021-09-25 04:02] slashpai commented on #4281
I will take a look at this :)

[2021-09-27 08:10] simonpasquier commented on #4282
Cool! FWIW the AlertmanagerConfig CRD also has duration fields like `groupInterval`, `groupWait` and `repeatInterval`. The check should happen when the operator selects the resources and rejects the ones that are invalid.

[2021-09-27 08:28] ethernoy commented on #3488
I believe this feature is quite useful for Prometheus too, as Prometheus will leverage external connection when doing remote write.

[2021-09-27 08:44] simonpasquier commented on #4282
The same validation should be run on
* `ScrapeInterval`, `ScrapeTimeout`, `EvaluationInterval`, `MetadataConfig.SendInterval`, `QuerySpec.Timeout`, `Thanos.ReadyTimeout`, `RemoteWriteSpec.RemoteTimeout`, `RemoteReadSpec.RemoteTimeout` and `AlertmanagerEndpoints.Timeout` for Prometheus resources.
* `Interval` and `ScrapeTimeout` for service/pod monitors and probes.
* `ClusterGossipInterval`, `Clust

[2021-09-27 18:02] rubenssoto opened #4288 "Prometheus Operator - Service Monitor No Active Targets"
Hello,

I deployed and java application on kubernetes and Im using jmx exporter to export metrics to prometheus. I created a service monitor but on prometheus service discovery shows no active target...could you help me?

Deployment:
[code]

Service
[code]

Service Monitor

[code]

Could you help me?

Thank you

[2021-09-27 20:20] frouzbeh commented on #3964
@paulfantom Hi, I am using a hostpath provisioner on my single node cluster, but still prometheus is stuck in CreateContainerConfigError state and this error: Error: stat /mnt/hostpath/pvc-1efb6572-2a60-4a19-a32f-9546b918ad03: no such file or directory

I set the volumeclaimtemplate in prometheus spec, I don't know what else I should do. I'd appreciate any help.

[2021-09-28 06:13] younglin-db opened #4289 "Operator automatically adds namespace selector to AlertManager routes"
**What did you do?**

I added an AlertManagerConfig with matchers, and I expected it to match anything with those matchers. I then discovered that a matcher with namespace was automatically added, as documented here: https://github.com/prometheus-operator/prometheus-operator/blob/master/Documentation/api.md#route.

I'm wondering why this is the case? For a single AlertManager instance, how can we

[2021-09-28 08:02] Ghost---Shadow opened #4290 "Back-off pulling image "quay.io/prometheus-operator/prometheus-operator:v0.51.0""
**What happened?**

I ran

[code]

Although CRDs were created, the `prometheus-operator-74894744f9-hftdj` pod gives this error.

There is no v0.51.0 in quay

https://quay.io/repository/prometheus-operator/prometheus-operator?tab=tags

**Did you expect to see something different?**

**How to reproduce it (as minimally and precisely as possible)**:

Kubernetes 1.22
I also have loki stack installed

[2021-09-28 09:27] simonpasquier commented on #4290
Yep we had a CI glitch which is why though the v0.51.0 tag exists, the Releases page doesn't show it :-)

[2021-09-28 09:27] #4290 closed

[2021-09-28 09:31] mohanagandlla opened #4292 "Basic Auth for prometheus"
HI team
How can i enabled the Basic Auth for Prometheus v2.30.0

[2021-09-28 09:34] simonpasquier commented on #4289
Duplicate of #3737. TL;DR: the initial objective of AlertmanagerConfig CRD was to allow namespace owners to setup their own alerting routes and the namespace matcher for first-level routes ensures that alerts from a given namespace are routed to the correct team.

The plan is to for support a global AlertmanagerConfig for the base configuration and work is in progress (see #4220).

[2021-09-28 09:34] #4289 closed

[2021-09-28 09:35] simonpasquier commented on #4288
I'd say that you need at least to add the `app: presto-prometheus-metrics` label to the service.

[2021-09-28 09:39] simonpasquier commented on #4292
Duplicate of #4200

[2021-09-28 09:39] #4292 closed

[2021-09-28 09:51] simonpasquier commented on #4200
Also related to #4274

[2021-09-28 09:55] simonpasquier commented on #4268
@mouliveera I feel that you had the answers to your initial question, hence closing it for now. Feel free to reopen if I'm mistaken :)

[2021-09-28 09:55] #4268 closed

[2021-09-29 06:20] VineethReddy02 opened #4295 "Operator doesn't delete kube-prometheus-kubelet service created by it on uninstalling the operator"
**What happened?**
Prometheus-Operator created the `kube-prometheus-kubelet` service i.e. release1-kube-prometheus-kubelet-service (note I am using Prometheus-Operator as a part of Kube-Prometheus stack). But on uninstalling the prometheus-operator the service created by the operator isn't deleted.

Note: The service label says `app.kubernetes.io/managed-by=prometheus-operator`

**Did you expect t

[2021-09-30 09:22] yehaotong opened #4297 "about relabelingConfigs"
I want to use  relabelingConfigs in kind:Probe of monitoring.coreos.com/v1,
and my yaml is :
[code]

But it did not work and have some error:unknown field "relabelingConfigs" in com.coreos.monitoring.v1.Probe.spec.targets,how can I use relabelingConfigs to replace metrics ?

[2021-09-30 10:40] almson commented on #2630
The prometheus helm chart explains it well:

Expose a hostNetwork parameter! Most Helm charts do it, for this and other reasons.

This is why installing something through an operator is stupid--the operator maintainers might be dicks and there's little you can do about it.

[2021-09-30 14:34] mbiagetti commented on #4297
@yehaotong

Try use `metricRelabelings` instead of `relabelingConfigs`.

See the doc here https://github.com/prometheus-operator/prometheus-operator/blob/master/Documentation/api.md#probespec

[2021-10-01 07:37] ethernoy opened #4298 "Add hostAlias support in Prometheus CRD"
**What is missing?**
hostAlias setting in Prometheus CRD

**Why do we need it?**
Prometheus can have external dependencies like remote Prometheus Receive endpoint or alertmanager. Adding hostAliases support in it can help in enabling routing

**Environment**

N/A

**Anything else we need to know?**:

I am glad to submit a PR for this :)

[2021-10-01 08:53] PhilipGough commented on #4298
Duplicate of https://github.com/prometheus-operator/prometheus-operator/issues/3488?

[2021-10-01 08:55] PhilipGough commented on #4298
Related to https://github.com/prometheus-operator/prometheus-operator/issues/3488 where there is already some discussion about adding this to both `AlertManager` and `ThanosRuler`

[2021-10-01 09:00] PhilipGough commented on #4298
Based On @simonpasquier comment I think this would likely make sense. If you intend to work on it please take a look at and consider the discussion around https://github.com/prometheus-operator/prometheus-operator/pull/3944#issuecomment-810490119.

We will likely want to be consistent in the implementation how we add this to the components.

[2021-10-01 11:03] paulfantom commented on #3652
From my pov IP/port combo as a value of `instance` label is mostly a piece of irrelevant information that we carry. In day-to-day operations, I personally use namespace/pod combo to find out the application metrics and not IP addresses.

In the case of Kubernetes, I don't see much benefit of having `pod:port` as the value of the `instance` label, especially since we already have `endpoint` label.

[2021-10-01 19:25] snuggie12 commented on #3926
You're already looking at the same page I did to get mine working so I'm not sure what is currently wrong since you said scraping is working? Perhaps you're confusing what mTLS is? The setup is still using an official istio cert with mTLS, it's just that the traffic does not get routed through the sidecar.

`Probe` and `PodMonitor` as already mentioned does not work. There are a few issues open ab

[2021-10-02 20:08] r0bj commented on #3204
This issues became more important after k8s 1.22 in which write access to Endpoints has been disabled by default in admin roles due to CVE-2021-25740:
https://github.com/kubernetes/kubernetes/issues/103675
https://kubernetes.io/docs/reference/access-authn-authz/rbac/#write-access-for-endpoints

[2021-10-04 07:01] fpetkovski commented on #4295
One way to solve this problem is to add an owner reference on the service pointing to the prometheus operator deployment. Once the PO deployment is deleted, the service should go away as well.

[2021-10-04 11:44] simonpasquier commented on #4297
You've got a misalignment (`relabelingConfigs` should be at the same level than `static`).

[2021-10-04 11:47] simonpasquier commented on #4298
Thanks for following up @PhilipGough! Yes ideally the CRD should offer a way to inject arbitrary fields into the statefulset definition, just like we do with the `containers` field today.

[2021-10-04 12:48] heyoheyo opened #4302 "Multiple tls_configs to forward alerts to different alertmanager instances"
**What did you do?**

Hi, I am looking to have two alertmanagers for prometheus operator alerts - one living in k8s cluster and one outside k8s cluster. I successfully added two endpoints by adding `additionalAlertManagerConfigs` with `static_configs` and can see them in `$PROM_ENDPOINT/status` page. However, k8s Prometheus was set up differently (http and  a root `api/v2/alerts` endpoint), wherea

[2021-10-04 13:20] simonpasquier commented on #4302
Can you share the Prometheus resource definition as well as the generated configuration?

[2021-10-04 15:19] heyoheyo commented on #4302
Hi sure!

Prometheus Resource definition:

[code]

additional.yml:
[code]

Generated prometheus config:
[code]

[2021-10-05 08:00] paulfantom commented on #4231
We already have stalebot enabled. The configuration is in https://github.com/prometheus-operator/prometheus-operator/blob/master/.github/stale.yml and bot is active as seen in https://github.com/prometheus-operator/prometheus-operator/issues/4188

[2021-10-05 08:03] paulfantom commented on #4231
I am not in favor of automatically closing PRs, no matter how old they are. However we could possibly modify stalebot config to only mark PRs as stale after some time of inactivity. This way we could force human intervention to take a look if the PR is still relevant. WDYT?

[2021-10-05 08:03] paulfantom commented on #4231
Stalebot is active (example: https://github.com/prometheus-operator/prometheus-operator/issues/4188) and configuration is in https://github.com/prometheus-operator/prometheus-operator/blob/master/.github/stale.yml

[2021-10-05 08:09] PhilipGough commented on #4231
@paulfantom sounds good. I noticed there are *lots* of PR's that are likely in state that unless we/bot go and close them, they will remain open and abandoned forever. If they are closed the author would be notified and they would have the opportunity to think about it and potentially re-open at that point.

It was mostly a case of some housekeeping and no strong opinions on it either way.

[2021-10-05 08:57] simonpasquier commented on #4302
I suspect that your additional Alertmanager config isn't correctly formatted

[code]

[2021-10-05 09:38] simonpasquier commented on #4231
Marking old PRs as stale makes sense to me. At least it sends the correct signal to the reviewers.

[2021-10-05 12:54] #4271 closed

[2021-10-05 15:44] heyoheyo commented on #4302
That was it!! It works correctly now, thank you so much!!

[2021-10-05 15:44] #4302 closed

[2021-10-05 18:20] #2860 closed

[2021-10-05 18:20] #2858 closed

[2021-10-05 19:57] #2759 closed

[2021-10-07 02:25] ethernoy opened #4312 "The correct way to configure federation on high availability Prometheus"
I configured two different set of high availability Prometheus instances A and B. Both A and B have 2 replicas, A needs to scrape B to form a federation. I tried service monitor to form this federation, it ends bad because when using service monitor, each of A will scrape both B instances and result in unnecessary duplicated metrics. I ended up using additionalScrapeConfig on A to scrape the sessi

[2021-10-07 10:50] PabloPie opened #4315 "Support for generic ephemeral volumes"
**What is missing?**

Support for [generic ephemeral volumes](https://kubernetes.io/docs/concepts/storage/ephemeral-volumes/#generic-ephemeral-volumes). Currently the storageSpec for Prometheus only supports emptyDir and the usual pvc.

**Why do we need it?**

Generic ephemeral volumes are close to emptyDir in that they are ephemeral but they have the advantage of provisioning dedicated volumes if

[2021-10-07 14:01] stoupance opened #4317 "ServiceMonitor not working"
Hi,

I'm using `kube-prometheus` ontop of `Prometheus-operator` and I would like to monitor Redis, which is deployed by an operator too. Multiple Redis instances can/will be deployed into this cluster and into multiple namespaces. So I would like Prometheus to monitor all of them, without doing much configuration or having to tweak Prometheus configuration each time a new Redis instances is deploy

[2021-10-07 15:11] rjonala opened #4318 "How to configure multiple receivers and routes using Alertmanagerconfig custom resource?"
I want to setup alerts using Alertmanagerconfig custom resource. Does someone have example of alertmanagerconfig custom resource to configure multiple receivers and routes so that the alerts are routed to various teams accordingly? I have searched online to find examples but couldn't. It would be really great if someone can point me to examples.

[2021-10-07 23:42] weyert commented on #3932
Yes, I think able to release a GA would make it available for a larger audience :)

[2021-10-08 00:59] yehaotong commented on #4297
I put relabelingconfigs at the same level as static，and it have error:unknown field "relabelingConfigs" in com.coreos.monitoring.v1.Probe.spec.targets.staticConfig...Is the wrong version of Prometheus operatro I use, which will lead to the lack of some labels on the probe？

[2021-10-08 04:59] fpetkovski commented on #4318
Hi @rjonala, have you looked at the example that we have here: https://github.com/prometheus-operator/prometheus-operator/blob/master/example/user-guides/alerting/alertmanager-config-example.yaml ?

[2021-10-08 06:45] simonpasquier commented on #4312
`additionalScrapeConfig` is probably the best answer for now.

[2021-10-08 07:55] simonpasquier commented on #4315
Right. It may be possible once/if we support strategic merge patch for the pod's spec as we do for containers though.

[2021-10-08 08:26] simonpasquier commented on #4317
Have you checked https://prometheus-operator.dev/docs/operator/rbac/#prometheus-rbac?
If the Prometheus instance should all namespaces then you need to create a `ClusterRoleBinding`. Otherwise if the Prometheus instance is limited to one or several namespaces, you can create a `RoleBinding` for each namespace.

[2021-10-08 08:50] PabloPie commented on #4315
Would you be interested in adding support for this through the StorageSpec in the Prometheus CRD? I can work on a PR to add
[EphemeralVolumeSource](https://pkg.go.dev/k8s.io/api@v0.22.0/core/v1#EphemeralVolumeSource) as an option.

It would just require an addition similar to https://github.com/prometheus-operator/prometheus-operator/blob/master/pkg/alertmanager/statefulset.go#L125 right?

[2021-10-08 10:15] stoupance commented on #4317
Yes I finally figured it you by creating a `ClusterRoleBinding` with the proper permissions. I one I had previously wasn't correct. Hence the error I had.

I still have an issue when I don't declare a `namespaceSelector` into my `serviceMonitor`, Prometheus reload correctly but this `serviceMonitor` does not appears on `/targets` page of Prometheus, and I don't really why. Nor how to fix it. Any c

[2021-10-08 12:22] simonpasquier commented on #4317
From https://prometheus-operator.dev/docs/operator/design/#servicemonitor, this should do the trick:

[code]

[2021-10-08 12:39] simonpasquier opened #4319 "Use Prometheus in receiver mode in the remote write e2e tests"
**What is missing?**

Currently we're using [instrumented-sample-app](https://github.com/prometheus-operator/prometheus-operator/blob/05fce1eb80f57a27b485d1f7b7249fbf0c4cb18a/test/framework/resources/basic-auth-app-deployment.yaml) in [`testPromRemoteWriteWithTLS()`](https://github.com/prometheus-operator/prometheus-operator/blob/05fce1eb80f57a27b485d1f7b7249fbf0c4cb18a/test/e2e/prometheus_test.go

[2021-10-08 12:45] #4317 closed

[2021-10-08 14:18] MonolithProjects opened #4320 "Add remoteRead custom headers"
**What is missing?**
The possibility to add the remoteRead custom HTTP headers introduced in Prometheus v2.26.0 (see [Changelog](https://github.com/prometheus/prometheus/releases/tag/v2.26.0) or Updated [Configuration](https://prometheus.io/docs/prometheus/2.26/configuration/configuration/#remote_read)). New Config Option:

[code]

**Why do we need it?**
To support the Prometheus config option.

*

[2021-10-10 08:55] amuraru opened #4322 "Add prometheusMonitorsExcludedFromEnforce to exclude certain *Monitors from namespace label enforcement"
**What is missing?**

Similar to prometheusRulesExcludedFromEnforce a new parameter is needed to define a set of {Pod,Service}Monitors for which the namespace label enforcement (if enabled) should not apply.

**Why do we need it?**

Useful in multi tenant environments where trusted monitors scrape tenant namespaces (eg kube-state-monitor) and the target namespace label should be preserved.

**Envi

[2021-10-11 07:51] paulfantom commented on #3652
I don't see thanos conversation about mixins impacting or being relevant to this issue. Prometheus-operator has a hard dependency on kubernetes so we can simplify things and we don't need to be agnostic.

[2021-10-11 08:14] arajkumar commented on #3652
I agree that we should migrate to `pod` instead of using `instance`, but as you mentioned it should be done in iterative manner. IMHO keeping the value of `instance` same as `pod` might be a good start.

[2021-10-11 10:39] simonpasquier opened #4325 "Prometheus discovers too many targets when using selectors with empty label values"
**What happened?**

Deployed the example application from the Getting Started guide (https://github.com/prometheus-operator/prometheus-operator/blob/master/Documentation/user-guides/getting-started.md) but instead of matching services on `app: example-app`, I've modified the service monitor to match the service on an empty label value.

[code]

Instead of only scraping the endpoints with the `exam

[2021-10-11 12:02] simonpasquier commented on #4281
@paulfantom yes the cross-namespace issue is real but maybe we can at least make it work for the case where the Prometheus operator pod and managed resources live in the same namespace?
Another hurdle is how we make sure that deleting a Prometheus operator's pod doesn't remove the resources it used to manage?

[2021-10-11 21:10] rjonala commented on #4318
Hi @fpetkovski thanks for the response. Yes, I have looked at that example which only has a single receiver and a single route.

I am looking for a config file with multiple receivers and route them to multiple routes based on labels. For ex, I am able to configure multiple receivers but I am not able to list down multiple receivers in **kind: AlertmanagerConfig** file. Here is what I have,

[code

[2021-10-12 14:34] #3022 closed

[2021-10-12 14:34] #3778 closed

[2021-10-12 14:34] #3845 closed

[2021-10-12 14:34] #3921 closed

[2021-10-12 14:58] rmgpinto opened #4330 "Receiver not found"
**What happened?**

I've used the helm chart (https://prometheus-community.github.io/helm-charts) to create the deployment.
I've edited the `values.yaml` file and added a "global" receiver called SRE.
The idea is to re-use the SRE receiver on multiple `AlertmanagerConfig` and avoid repeating the same email addresses on every namespace.

Now, on the `default` namespace I applied:

[code]

However,

[2021-10-12 18:01] #3297 closed

[2021-10-12 18:01] #3430 closed, assigned to nobody

[2021-10-12 18:01] #3437 closed

[2021-10-13 09:59] rmgpinto commented on #4330
Thanks. I've "fixed" this by creating the receiver directly on the `values.yaml` file. Then each `AlertmanagerConfig` can re-use that receiver.

[2021-10-13 22:39] rubber-ant commented on #3704
@hmlkao  I followed your steps and it didn't work
after I also changed the same way from `Unkown` to `None`  for:
[code]
and this solve my issue, thanks !

-----------

Error:
`Error from server (BadRequest): admission webhook "prometheusrulemutate.monitoring.coreos.com" does not support dry run`

K8s:
Client Version: v1.21.4
Server Version: v1.19.13-gke.1200

Version:
CHART 9.3.2   from  https://

[2021-10-14 05:56] bhiravabhatla commented on #4319
Working on this - will raise a PR once i have code in shape

[2021-10-15 10:23] #4174 closed

[2021-10-15 11:55] stevehipwell commented on #4229
@simonpasquier in my understanding the primary purpose of an operator is to manage operational concerns that can't be met by static configuration. This makes the merging of rules into configmaps a core operator purpose. However just passing through the content of a CRD to install a service doesn't seem to be a core concern, especially if I can get the same effect from static config. Furthermore wi

[2021-10-15 19:33] kfox1111 opened #4336 "multiple storage classes"
**What is missing?**

The ability to specify multiple storage classes for alertmanager/prom.

**Why do we need it?**
Say you spawn a ha prom/alertmanager now, but use your rook-ceph as your backend storage. If ceph has a problem, alerts break.
Having the ability to have your instances spread out across multiple types of storage would provide higher availability.

[2021-10-16 09:36] tangjizhou commented on #1502
have the same issue in  centos 7.9 (kernal: 3.10.0-1160.el7.x86_64), kubernetes 1.18.9,docker 19.03,  alertmanager 0.20.0 ,prometheus 2.15.2 , seem like all pods alert .
one pod --> one email, three pods --> three emails .

[2021-10-16 09:40] tangjizhou commented on #1502
apiVersion: apps/v1
kind: StatefulSet
metadata:
  creationTimestamp: "2021-10-16T08:58:25Z"
  generation: 1
  labels:
    alertmanager: main
    manager: operator
    operation: Update
    time: "2021-10-16T08:58:25Z"
  name: alertmanager-main
  namespace: monitoring
  ownerReferences:
  - apiVersion: monitoring.coreos.com/v1
    blockOwnerDeletion: true
    controller: true
    kind: Alertmanager

[2021-10-16 09:51] tangjizhou commented on #1502
by the way , when i post alert to one pod manually , only one mail received , when i post alert to each pod (3 pods) , three mails received , and no error logs occurred

[2021-10-17 10:35] bhiravabhatla commented on #4288
ServiceMonitor selects/filters services using labels. Spec.selector.matchLabels in your serviceMonitor has `app: presto-prometheus-metrics`.

For your service to be considered/selected by the serviceMonitor, your service should have the same label/value pair as @simonpasquier mentioned.

[2021-10-18 16:09] paulfantom commented on #4295
Ah, I get what you meant @simonpasquier by external binary. It sounds good to me to extract [this function](https://github.com/prometheus-operator/prometheus-operator/blob/f95159f8646012f3cb63f2b5ff0d693b7c2d6cdf/pkg/prometheus/operator.go#L580-L671) and convert it into a separate binary (`node-endpoint-synchronizer`?) with its own deployment in `kube-system` namespace. It would be good to describ

[2021-10-18 22:13] antoniordz96 opened #4340 "Allow default alertmanager.yaml be to configured by AlertManagerConfig rather than Secret."
**What is missing?**

Disable operator from creating null receiver below when secret `alertmanager-<alertmanager-name>` is missing:
[code]
---
Currently the Prometheus operator will by default generate an `alertmanager.yaml` from the secret `alertmanager-<alertmanager-name>`. If this secret is not found then it will generate the configuration above. The way we setup our environment we are prevente

[2021-10-19 01:46] rjonala opened #4341 "AlertManager doesn't send alerts to Opsgenie if the alert is closed in Opsgenie"
I am using AlertManager to send alerts to Opsgenie. If I close a firing alert in Opsgenie(KubernetesDeploymentReplicasMismatch for 1min), AlertManager wouldn’t send to Opsgenie(even though the event is still happening, I see alert firing in AlertManager but don’t see in Opsgenie).

Is there any config that I need to change in AlertManager/Opsgenie to overcome this issue?

[2021-10-19 08:32] simonpasquier commented on #4340
I think this is a duplicate of https://github.com/prometheus-operator/prometheus-operator/issues/3737. Closing it but feel free to reopen if that's not the case.

[2021-10-19 08:32] #4340 closed

[2021-10-19 11:51] fpetkovski commented on #4336
I am not sure if the prometheus-operator is the right project for this. Kubernetes PVCs don't support multiple storage classes, which means that PO would have to implement some fallback logic to handle this use case. To me this problem seems to be better suited for a Kubernetes storage component.

[2021-10-20 18:54] #4336 closed

[2021-10-22 09:31] jingslunt opened #4343 "long pvc: prometheus-prometheus-operator-prometheus-db-prometheus-prometheus-operator-prometheus-0"
- Install
[code]
- set pvc
[code]
-  ERROR:
[code]

[2021-10-25 10:32] paulfantom opened #4344 "Add labels to CRDs"
**What is missing?**

Labels in CRDs metadata.

**Why do we need it?**

In some environments it can become difficult to track matching of features available in CRDs and features supported by operator binary.
It would be good to add the same labels as we are using in operator deployment metadata to CRDs metadata.

**Environment**

* Prometheus Operator version:

    `Insert image tag or Git SHA her

[2021-10-25 11:03] kanor1306 opened #4345 "Operator fails to spawn alertmanager due to parsing error when using authorization credentials from secret"
**What happened?**
Using the new `authorization` configuration ( See https://github.com/prometheus-operator/prometheus-operator/pull/4110 )  in the `http_config` section of a webhook receiver triggers a parsing error of the alertmanager configuration, preventing the alert manager from starting up. This happens when trying to use a secret to pass the credentials, like:
[code]

**Did you expect to s

[2021-10-25 11:54] #4345 closed, assigned to nobody

[2021-10-25 11:56] #4325 closed, assigned to nobody

[2021-10-27 14:41] #2840 closed, assigned to nobody

[2021-10-27 16:12] RafalKorepta opened #4348 "Quickstart stop to work using kubectl apply"
**What happened?**

In the README.md there is Quickstart section that says to run `kubectl apply -f bundle.yaml`. This doesn't work as `kubectl apply` adds annotation section. In Redpanda operator our tests starts to failed with the following error:

[code]

The https://github.com/prometheus-operator/prometheus-operator/pull/4326 changed the content of the [bundle.yaml](https://github.com/promethe

[2021-10-28 15:32] #4348 closed, assigned to nobody

[2021-10-29 10:31] gottwald opened #4353 "TLS assets secret hits 1 MB etcd object size limit"
**What happened?**
We're using service monitors to monitor https endpoints that need client tls certificates to retrieve metrics. After a certain amount of service monitors (250 ish) the operator is not able to save the tls-assets secret due to the k8s etcd object size limit.

**Did you expect to see something different?**
I'd expect it to keep working and scale beyond 250 service monitors

**How

[2021-10-30 21:54] winshenting opened #4354 "Why AlertManagerConfig CRD does not overwrite default Config"
**What did you do?**
I installed prometheus by prometheus operator helm chart. In values yaml, I conifg as below. I leave route blank
[code]
Then I created one AlertManagerConfig CRD and applied it to the Prometheus.
However, It looks like as below. I want to know how I can remove receiver: "null". And Make sure that prometheus-engops-team-noc-notification is the top one as default receive and rou

[2021-10-31 11:45] jithinjks opened #4355 "The CustomResourceDefinition "prometheuses.monitoring.coreos.com" is invalid: metadata.annotations: Too long: must have at most 262144 bytes"
**What happened?**

**Did you expect to see something different?**

**How to reproduce it (as minimally and precisely as possible)**:

**Environment**

* Prometheus Operator version:

    `Insert image tag or Git SHA here`

* Kubernetes version information:

    `kubectl version`
Client Version: version.Info{Major:"1", Minor:"21", GitVersion:"v1.21.0", GitCommit:"cb303e613a121a29364f75cc67d3d58083

[2021-11-01 02:17] jim-barber-he commented on #4355
I have the same problem on a kOps created cluster using Kubernetes 1.22.3.
[code]
And trying to install it:
[code]

[2021-11-01 02:51] slashpai commented on #4355
Can you try with `kubectl create`. The issue is due to large annotation size which will be issue for `kubectl apply` since it stores last applied config.

[2021-11-01 02:53] jim-barber-he commented on #4355
It works with `create`.
[code]

It fails with `apply` even if the CRD didn't previously exist.

[2021-11-01 03:34] slashpai commented on #4355
`kubectl apply` will store `kubernetes.io/last-applied-configuration` annotation even if we are creating a new resource :)

[2021-11-01 08:22] paulfantom commented on #4355
Closing as this was fixed in https://github.com/prometheus-operator/prometheus-operator/pull/4349. Please reopen if you feel the fix is insufficient.

[2021-11-01 08:23] #4355 closed

[2021-11-01 08:32] paulfantom commented on #3795
@mikechengwei #3941 is about different issue.

[2021-11-01 09:47] muralidharansomasundaram opened #4357 "How to set target limit in Prometheus pod with multiple replica."
Hi

I have scenario to scrape data from 2000 device and i want them to be on all pod replica. I dont want to have all scrape details into same single pod rather i need to set each pod with unique number of scrape details. like pod1(1 - 100) , pod2(101-200), pod3(201-300).

Let us know if we can achieve the above scenario.

[2021-11-01 10:03] brancz commented on #3840
Yeah, this makes sense to me. Essentially `sharedListWatch: true`.

[2021-11-01 11:17] svetomir commented on #3954
Hi, I am having the same issue with on K8s EKS. Helm Chart version: 19.2.2, appVersion: 0.50.0.

[2021-11-01 13:58] talha0324 commented on #3954
@svetomir is the `AlertmanagerConfig` in the same namespace as the Alertmanager?

[2021-11-01 13:59] svetomir commented on #3954
Hey @talha0324 , thanks for replying, it is.

[2021-11-01 16:05] talha0324 commented on #3954
Seems like it's picking and updating the alertmanagetConfig in the logs.
What is the name of the secret (config) for alertmanager that you are looking at?

[2021-11-01 16:17] svetomir commented on #3954
Yep, logs seem good, but it doesn't reflect in the alertmanager.

Secret name is: alertmanager-kube-prometheus-stack-alertmanager-generated
Also, /etc/alertmanager/config/alertmanager.yaml (the one being used) is unchanged.

[2021-11-01 17:34] PhilipGough commented on #4341
@rjonala - I think we (or someone else with an eerily similar issue) discussed this on a [Slack thread](https://kubernetes.slack.com/archives/CFFDS2Z7F/p1634608037381700).

The TL;DR is that you should set send_resolved to true and AlertManager will close the alert in OpsGenie when the alert is no longer firing. Does this solve your problem?

[2021-11-01 17:36] PhilipGough commented on #4282
@simonpasquier is this closed by #4308

[2021-11-01 18:18] paulfantom commented on #4341
There are 2 issues described in this thread:
1) Alert not closed in OpsGenie - the solution is as @PhilipGough wrote, do not set `send_resolved: false` ([it is `true` by default](https://prometheus.io/docs/alerting/latest/configuration/#opsgenie_config))
2) Lack of command propagation from OpsGenie to alertmanager (Closing in OpsGenie do not close alert in alertmanager) - This problem does not hav

[2021-11-02 02:27] mikechengwei commented on #4126
/assign

[2021-11-02 05:06] slashpai commented on #4282
@PhilipGough We will be able to close once https://github.com/prometheus-operator/prometheus-operator/pull/4352 is merged as well, that was last one part of this fix :)

[2021-11-02 05:21] slashpai commented on #4357
You have option to set `enforcedTargetLimit` in prometheus spec which defines a global limit on the number of scraped targets. You can also set `targetLimit` on PodMonitor/ServiceMonitor spec as well

Take a look at `enforcedTargetLimit` in https://github.com/prometheus-operator/prometheus-operator/blob/master/Documentation/api.md#prometheusspec for more details

[2021-11-02 06:14] muralidharansomasundaram commented on #4357
@slashpai  Thanks for your comment. I tired applying targelimit into service monitor and able to see limit is applied. does that means targets after the limit wont be scraped right.  But i need scenario like below.

say if we have 275 targets and have have 4 pod replica. i want the targets to be distributed equally into all pods(pod1- 1-75, p2- 76-150, p3-151-225, p4-227 to 275) and if we increase

[2021-11-02 06:21] slashpai commented on #4357
AFAIK it is not possible to spin up new prometheus pod based on number of targets

[2021-11-02 07:02] fpetkovski commented on #4354
Hi @winshenting, could you please format the config properly and put it in codeblocks?

[2021-11-02 08:35] paulfantom commented on #4354
To remove `null` receiver you need to remove it from configuration Secret. AFAIK helm chart by default adds this receiver.

For more about alerting configuration, please read https://github.com/prometheus-operator/prometheus-operator/blob/master/Documentation/user-guides/alerting.md

[2021-11-02 09:25] #4282 closed

[2021-11-02 09:26] #3795 closed

[2021-11-02 10:32] muralidharansomasundaram commented on #4357
our target are from on-prem. so we may not able to apply servicemonitor for those targets and apply targetlimit via servicemonitor. correct me if i m wrong.

also any other way we can increase prom pod dynamically based on targets number .?

[2021-11-02 11:15] fpetkovski commented on #4357
Have you looked at the sharding capabilities provided by the operator[1] ? You might need to manage the scaling manually or through another process, but it will get you started with distributing the targets across multiple prometheus pods.

[1] https://github.com/prometheus-operator/prometheus-operator/blob/master/Documentation/user-guides/shards-and-replicas.md

[2021-11-02 12:47] guusvw commented on #4355
@paulfantom
Is using `kubectl create` instead of `kubectl apply` right now the best approach?
We're generating our monitoring stack based on `kube-prometheus` and applying those manifests in every pipeline run, this is now somehow blocked, because we would need to handle that edge-case differently and that just feels bad.

[2021-11-02 17:11] paulfantom commented on #4355
@guusvw that's kubernetes restriction (as mentioned in https://github.com/prometheus-operator/prometheus-operator/issues/4355#issuecomment-955899678) and using `kubectl create` to apply CRDs [is considered a valid workaround by kubernetes-sigs](https://github.com/kubernetes-sigs/kubebuilder/issues/1140). FYI tools like argoCD have an internal logic to hangle such cases by removing and creating obj

[2021-11-03 08:12] xianyuLuo commented on #3119
podmonitor don't need services ^--^

[2021-11-03 09:50] Leweyy commented on #3737
This seems to have gone quiet. Is this being implemented in #4220, If so when can we expect? Having this route to match namespace is really causing some issues

[2021-11-03 11:20] paulfantom commented on #4237
IMHO since `PrometheusCompatibilityMatrix` is not really used for anything apart from docs generation and test, we should remove it, move to the appropriate place, or start using it somewhere :)

As for the relation between `version` and `image`, it can be confusing. The current flow is that `version` is just metadata and does not influence `image`. This is because `image` can be set in multiple w

[2021-11-03 11:58] #4206 closed

[2021-11-03 12:31] paulfantom commented on #4192
@slashpai any progress on this?

Note: Since the field is experimental in prometheus, we also should mark it as such.

[2021-11-03 12:32] paulfantom commented on #4249
Closing as dup of #3917.

[2021-11-03 12:32] #4249 closed

[2021-11-03 12:33] paulfantom commented on #3302
Closing as it looks like the issue is solved.

[2021-11-03 12:33] #3302 closed

[2021-11-03 12:34] paulfantom commented on #3862
@mikechengwei any progress on this?

[2021-11-03 12:54] slashpai commented on #4192
No I haven't looked at it yet. I will try to do it next week :)

[2021-11-04 06:21] HarshadRanganathan commented on #4236
We recently tried to configure the same and realized it wasn't working. So, currently using SNS forwarder. It will be helpful if the operator supports the SNS config so that we can get rid of an additional component.

[2021-11-04 13:23] ycd opened #4367 "Applying CustomResourceDefinition "prometheuses.monitoring.coreos.com" fails: "metadata.annotations too long must have at most 262144 bytes""
**What happened?**

Applying a manifest failed with the following output:

[code]

**Did you expect to see something different?**

Yes.

**How to reproduce it (as minimally and precisely as possible)**:

[code]

* Prometheus Operator version:

[code]

* Kubernetes version information:

[code]

* Kubernetes cluster kind:

AWS EKS.

* Manifests:

https://github.com/prometheus-operator/kube-prometheu

[2021-11-04 13:27] fpetkovski commented on #4367
This is a duplicate of https://github.com/prometheus-operator/prometheus-operator/issues/4348. Can you see if using `kubectl create` fixes your problem?

[2021-11-04 13:36] slashpai commented on #4367
Should we pin this issue for visibility of users facing similar issue?

[2021-11-04 14:10] paulfantom commented on #4367
Closing as duplicate of #4348.

Great suggestion @slashpai :+1:  Issue pinned.

[2021-11-04 14:10] #4367 closed

[2021-11-04 14:17] paulfantom commented on #4367
I pinned https://github.com/prometheus-operator/prometheus-operator/issues/4355 instead as it has a bit more explanation and title which should directly point people to the solution.

[2021-11-04 15:28] mikechengwei commented on #3862
I will do it quickly.

[2021-11-04 18:38] yann-soubeyrand commented on #3211
Hello, I agree that a startup probe doesn’t seem to be necessary since the liveness probe seems to do its office as expected. However, as mentioned here https://github.com/prometheus-operator/prometheus-operator/pull/3905#issuecomment-795157502, it’s not a big deal to introduce a startup probe just in case the liveness probe wouldn’t work correctly during WAL recovery (as some bug reports suggest

[2021-11-05 01:20] ninjaslothx opened #4370 "Support for pagerduty links/images in the AlertManagerConfig CRD."
**What is missing?**
The [pager duty alertmanager config](https://www.prometheus.io/docs/alerting/latest/configuration/#pagerduty_config) currently has support for sending links and images as part of the pager duty events v2 api payload.
However this is currently is missing from the AlertManagerConfig CRD spec.

**Why do we need it?**
It allows to better enrich the events with links like runbooks.

[2021-11-05 13:31] franck102 opened #4371 "Impact of moving config-reloader to a port other than 8080"
**What did you do?**
I need to modify the listening port of the init-config-reloader and config-reloader containers in the prometheus pod, to free up the 8080 port that we have to use for another extra container.

I cannot find any documentation / design explaining what would be impacted if I do this: what if anything needs to talk to those 2 containers on port 8080, and is there a way to configur

[2021-11-08 12:26] Vaibhavgole commented on #544
I was facing the same issue.
Finally, I allowed the prometheus server ip in the security group of node exporter server at port 9100.
It worked for me.

[2021-11-08 14:25] simonpasquier commented on #4237
My take is that the operator should only rely on the `spec.Version` field to infer the Prometheus version. Users can rebuild their own images and use a different version scheme, or they can reference images by SHA digest hence trying to parse the version from the image location seems fragile.

Overall I would expect that when a user creates a minimal Prometheus resource (as @amavrin did), the oper

[2021-11-08 14:33] PhilipGough opened #4376 "Support documenting different types in po-docgen"
**What is missing?**

It seems if we add some types to the sources for the API types (`alertmanager_config_types.go`, `v1/types.go`, ...) unless they are defined as a struct, they will not be added to the documentation.

We rely on kubebuilder annotations to generate the CRD's, and we might want to define the following enum as consts for example:

[code]

Right now,  it seems that https://github.c

[2021-11-08 15:20] fpetkovski commented on #4371
Hi @franck102, thanks for submitting the issue. I believe the config-reloader only exposes metrics on that port. If you decide to use a different port, you might need to adjust monitoring configuration.

We currently don't have any user-facing docs for the config reloader since it's more of an implementation detail. If you have an idea where this information should be, feel free to just raise a PR

[2021-11-08 15:44] paulfantom commented on #4376
What if we ditched `po-docgen` and used some other, community-maintained CRD docs generator? There is a nice thread about it in https://github.com/open-telemetry/opentelemetry-operator/issues/325.

[2021-11-08 16:16] simonpasquier commented on #4376
I'm in favor of dropping `po-docgen` too but it might be good to evaluate a couple of solutions beforehand? https://github.com/fybrik/crdoc#similar-tools has a list of alternatives and if I'm not wrong, @fpetkovski has experience with https://github.com/ahmetb/gen-crd-api-reference-docs

[2021-11-08 19:42] tarungidwani opened #4377 "Operator not functioning and detecting example-app when deploying getting started user guide"
**What happened?**

All of this is work is being performed on the Docker Desktop on a Windows 10 PC in the default namespace.

**docker version**
[code]

**Did you expect to see something different?**

example-app should have show up a target in Prometheus and codelab metrics should be explorable in the Prometheus UI

**How to reproduce it (as minimally and precisely as possible)**:

**Environment

[2021-11-09 08:56] muralidharansomasundaram opened #4381 "Multiple installation of prometheus using kube-stack-prometheus"
Hi Team,

is it possible to install multiple prometheus installation using same kube-stack-prometheus in same space ..?

Do we need to have multiple prometheus-operator for multiple separate Prometheus to manage all prometheus lifecycle or we can manage using single prom-operator.

[2021-11-09 09:13] mensylisir opened #4382 "Can't get prometheusrule"
**What happened?**

Failed to get Prometheus rule through Prometheus operator API

**Did you expect to see something different?**

The prometheusrule can be obtained successfully

**How to reproduce it (as minimally and precisely as possible)**:
[code]
Return error

[code]

**Environment**

* Prometheus Operator version:

[code]

* Kubernetes version information:

[code]

* Kubernetes cluster kind

[2021-11-09 09:32] paulfantom commented on #4381
Yes, just add another `Prometheus` object and adjust `ServiceMonitorSelector`, `PodMonitorSelector`, `ProbeSelector`, `RuleSelector`

[2021-11-09 10:54] paulfantom commented on #4376
`gen-crd-api-reference-docs` was also chosen for opentelemetry-operator in https://github.com/open-telemetry/opentelemetry-operator/pull/505 and I am all for using this tool for our docs too.

[2021-11-09 12:57] #3211 closed

[2021-11-09 15:10] haifzhu opened #4386 "Back-off pulling image "quay.io/thanos/thanos:v0.11.2""
**What happened?**
use prometheus-operator create thanos in example manifests, error in image pulling:
Back-off pulling image "quay.io/thanos/thanos:v0.11.2"
the docker image quay.io/thanos/thanos:v0.11.2 is not found

**Did you expect to see something different?**

**How to reproduce it (as minimally and precisely as possible)**:

**Environment**

* Prometheus Operator version:

    `Insert image

[2021-11-09 16:31] ArthurSens commented on #3989
This issue came up during the contributor office hours, so just backporting the discussion here:

It’s already possible to run the agent once it's released with the Prometheus CR so it's not like we have a huge urgency on this, but a dedicated CR for it would definitely help with validation and a better UX.

* The idea for the new Agent CR is to re-use everything we can from the Prometheus CR.
* C

[2021-11-09 16:38] fpetkovski commented on #4386
Hi @haifzhu, could you add a link to the manifests that you applied?

[2021-11-09 17:37] paulfantom commented on #4386
Image of `quay.io/thanos/thanos:v0.11.2` never existed on quay.io as thanos do not have 0.11.2 release - https://github.com/thanos-io/thanos/tags?after=v0.12.0-rc.1

[2021-11-09 18:21] tarungidwani commented on #4377
Ok so for every set of ServiceMonitors is a Prometheus object required? That dynamically spins up a Prometheus deployment/pod that scrapes the endpoints matching the labels specified in the ServiceMonitors?

Can ServiceMonitor be configured to work with an existing Prometheus deployment/pods?

[2021-11-09 18:22] tarungidwani opened #4389 "Can ServiceMonitor be configured to work with an existing Prometheus deployment/pods?"

[2021-11-10 02:17] mensylisir commented on #4382
pkg.runtime.codec.go/EncodeParameters() errors
This is get deployment
![image](https://user-images.githubusercontent.com/11365685/141037232-18203c4b-3cbe-435b-82d6-4332cac2c23d.png)
This is get PrometheusRule
![image](https://user-images.githubusercontent.com/11365685/141037318-05773dec-7cfc-4f5e-ba26-6976cb1bd09d.png)

[2021-11-10 06:42] fpetkovski commented on #4377
Yes, the `serviceMonitorLabelSelector` in the Prometheus resource needs to match the labels on the ServiceMonitor

[2021-11-10 09:32] #4320 closed

[2021-11-10 14:18] sgolod opened #4391 "matchExpressions in relabel_configs have a bug (regex)"
We must take a values for labels (in regex) in "()" to be compatible with RE2 rules. For example:

we have next selector in Pod/ServiceMonitor
[code]

old prom-operator (0.50.0):
[code]
new operator (0.52.0)
[code]

This regex:
    **regex: helm-controller|source-controller|kustomize-controller;true**

is invalid. It must be:
    **regex: (helm-controller|source-controller|kustomize-controller);tr

[2021-11-10 15:11] mtougeron opened #4392 "spec.podMetadata.annotations changes not applied starting with v0.50.0"
**What happened?**

Starting with v0.50.0 when the `Prometheus` resource has an updated value for `spec.podMetadata.annotations` the changes are not applied to the StatefulSet. Prior versions updated as expected.

**Did you expect to see something different?**

Expected the StatefulSet to have the new annotations applied to the Pods.

**How to reproduce it (as minimally and precisely as possible)*

[2021-11-10 15:24] wh1sssss opened #4393 "Can't evaluate field name in type interface"
Hello guys,

I try to resolve dependencies from kubecost and i need add some recording rules on my prometheus.

Chart name: stable/prometheus
Version: prometheus-operator-9.3.2

I use the follow configuration on "Values.yaml":

[code]

Error:

`Error: INSTALLATION FAILED: template: kube-prometheus-stack/templates/prometheus/additionalPrometheusRules.yaml:30:61: executing "kube-prometheus-stack/tem

[2021-11-10 15:25] Xartos opened #4394 "Allow alertmanager to be deployed as a Deployment"
**What is missing?**

_At least from what I can find_

When creating an alertmanager object, you should be able to set the type of deployment to use.

e.g. `StagefulSet`, `Deployment`

**Why do we need it?**

Since you can run alertmanager without any persistent volume it makes little sense to run it as a stateful set since that limits the kubernetes scheduler to move the pod.

**Environment**

*

[2021-11-10 15:41] wh1sssss commented on #4393
I try with the chart "stable/prometheus-operator" and have the same error.

Now, i change the "additionalPrometheusRules" to "additionalPrometheusRulesMap" and get another error.

[code]

[2021-11-11 01:57] slashpai commented on #4391
Thank you for reporting the bug. I will fix this

[2021-11-11 02:43] huzhengchuan commented on #2630
we also this feature too. in my scenario, the pod network and hostnetwork is isotate, kube-apiserver, kube-controller-manager and other system component is deploy with hostnetwork.

[2021-11-11 12:37] paulfantom commented on #4394
Alertmanager needs stable DNS names and as such, it is not recommended to provision it as a Deployment.

[2021-11-11 12:39] #4394 closed

[2021-11-11 15:57] paulfantom commented on #4394
Adding Deployment would require rewriting a quite substantial part of the operator related to alertmanager. I don't see much value in doing so just for the edge case of running 1 alertmanager replica as Deployment. Especially considering that scaling from 1 to n+1 replicas would require changing Deployment to Statefulset too.

What is the exact issue in regards to using statefulset and scheduling?

[2021-11-11 16:14] PhilipGough commented on #4376
@paulfantom I assume you meant crdoc which is used in the linked PR?  https://github.com/open-telemetry/opentelemetry-operator/pull/505/files#diff-76ed074a9305c04054cdebb9e9aad2d818052b07091de1f20cad0bbac34ffb52R254

@simonpasquier - the linked PR uses `crdoc` but it is just a RFC and we can investigate other options if desired.

There is some due diligence done on the provided options already by

[2021-11-11 16:34] paulfantom commented on #4376
Oh, seems like in the meantime they changed from `gen-crd-api-reference-docs` to `crdoc`.

[2021-11-12 11:16] PhilipGough commented on #4393
This looks like an issue with the Helm chart and should be created in that repo. The prometheus-operator maintainers do not maintain that, it is a community effort.

[2021-11-12 12:14] paulfantom commented on #4393
@wh1sssss as @PhilipGough said, that's an implementation specific to helm chart (as seen in https://github.com/prometheus-community/helm-charts/blob/main/charts/kube-prometheus-stack/values.yaml#L76-L92). Prometheus-operator as a project do not support helm chart and the official way of creating prometheus rules is to create a `PrometheusRule` object with specification available in https://github.

[2021-11-12 12:14] #4393 closed

[2021-11-12 14:51] KlavsKlavsen opened #4399 "kube-prometheus-stack Helm Chart 20.0.1 fails to install with argocd"
**What happened?**

First it fails with : #4355

And when I select argocd replace (to use create instead) - it works, but it then fails with this error:
Internal error occurred: failed calling webhook "prometheusrulemutate.monitoring.coreos.com": Post "https://latest-kube-prometheus-sta-operator.default.svc:443/admission-prometheusrules/mutate?timeout=10s": service "latest-kube-prometheus-sta-oper

[2021-11-12 15:27] liuhaibo0303 commented on #2211
I ran into the same problem and it has been solved
Check the configuration of your flannel network plug-in to ensure that the pod network segment configuration is consistent with the k8s cluster POD CIDR
`kubectl get configmap -n kube-system -o yaml kube-flannel-cfg > flannel.yaml
vim  flannel.yaml
net-conf.json: |
    {
      "Network": "10.224.0.0/16",
      "Backend": {
        "Type": "vxlan"

[2021-11-12 15:29] liuhaibo0303 commented on #2211
`ls test`

[2021-11-12 15:35] #4087 closed

[2021-11-15 13:22] simonpasquier opened #4401 "PromMinReadySeconds e2e test is flaky"
I've seen the test fail occasionally because the modification of the minReadySeconds field hasn't been propagated to the statefulset. Maybe the update didn't happen yet and the test should retry?

[code]

https://github.com/prometheus-operator/prometheus-operator/blob/6dfe2c320963277d3e6aa9da25d2a347a776535f/test/e2e/prometheus_test.go#L3742-L3755

cc @PhilipGough

[2021-11-15 13:49] simonpasquier commented on #4078
Closed by https://github.com/prometheus-operator/prometheus-operator/pull/4335

[2021-11-15 13:49] #4078 closed

[2021-11-15 13:54] KlavsKlavsen commented on #4399
We tried installing with plain Helm - and it seems to be a bug in Prometheus - not really related to the helm chart - see https://github.com/prometheus-community/helm-charts/issues/1507 ?

[2021-11-15 15:44] simonpasquier opened #4402 "AlertmanagerConfig with duplicate group_by labels generates an invalid configuration"
The following AlertmanagerConfig definition would trigger an invalid configuration:

[code]

Alertmanager logs:

[code]

cc @PhilipGough

[2021-11-16 04:39] jjmengze commented on #3954
Hello @PetzJohannes I have the same question, I am stuck at the special namespace.

If if apply this alert config as folowing as below:
[code]

the operator will create this alert configuration like the following as below.
[code]

how did you escape this namespace

[2021-11-16 08:49] simonpasquier commented on #4402
There is also probably an issue with the following definition

[code]

[2021-11-16 10:26] xinau commented on #3726
@jaredstehler I'm notifying you, just in case this is your real api_key.

[2021-11-16 13:23] fpetkovski commented on #4382
It's hard to know what the problem is without looking at the entire codebase. Could you set up a minimal repository with a main.go  file that we can look at?

[2021-11-16 14:31] primeroz opened #4408 "Version 0.52.0 dropped the app label from the statefulset but is still in the service selector causing no endpoint in the service"
**What happened?**
I upgraded to 0.52.1 , in 0.52.0 the `app` label was dropped from the statefulset for prometheus and alertmanager but is still in the service selector causing no endpoint in the service

I did delete the service forcing the operator to recreate it but it came back with the app label in the selector

[code]

**Did you expect to see something different?**
I expected the app label

[2021-11-16 14:38] fpetkovski commented on #4408
Hi @primeroz, does this issue exist in both 0.52.0 and 0.52.1, or just in 0.52.1?

[2021-11-16 14:39] primeroz commented on #4408
I have _only_ tested on 0.52.1 , i was on 0.51.1 and jumped directly to 0.52.1

I can try on 0.52.0 as soon as i am finished with something else here

[2021-11-16 15:23] primeroz commented on #4408
@fpetkovski yeah this is happening as well on 0.52.0

[2021-11-16 15:28] fpetkovski commented on #4408
Thanks for double checking this. I wonder if this is a kube-prometheus or a prometheus-operator issue. I'll need some time to track down the issue

[2021-11-16 15:31] primeroz commented on #4408
Sure i am just downgrading in the meantime !

thanks

[2021-11-16 17:01] mosheavni opened #4409 "Prometheus statefulset not ready"
**What happened?**
The statefulset created by Prometheus resource is never ready even though the pod is running and available (marked as 0/1),
This causes the service of prometheus to not have any available endpoints, rendering the prometheus pods unreachable.

[code]

**Did you expect to see something different?**

**How to reproduce it (as minimally and precisely as possible)**:
Simple installat

[2021-11-16 17:55] jaredstehler commented on #3726
@Whyeasy ^^

[2021-11-16 18:11] Whyeasy commented on #3726
Thanks for the heads up, will check it and reswap if needed.

[2021-11-16 18:40] slashpai commented on #4408
I created a fresh minikube cluster and spinned up the monitoring stack using kube-prometheus main branch. I was able to get the stack up, its using `0.52.0` version of prometheus-operator. I think this would problem while upgrading from one version to another since existing label won't be removed? I am trying to test that

[code]

[2021-11-16 19:29] primeroz commented on #4408
@slashpai so your service selector does not have the app label in it ?

I did try deleting the service post upgrade and it was recreated with the app label in the selector so it did not look like an upgrade issue to me but still could be.

Tomorrow I will try reproduce it on a local cluster as well ... I did check for any local customisation on my side but I could not really find anything causing

[2021-11-16 19:42] slashpai commented on #4408
In kube-prometheus app label was removed much earlier AFAIK so those manifests should not have those. I rechecked again I couldn't find, I will check again tomorrow

[2021-11-17 03:39] hughhm opened #4410 "serviceMonitorSelector with specific label causes all prometheus metrics/queries to fail"
**What happened?**
In the helm chart when setting:
[code]
All metrics suddenly stop being collected and prometheus cannot be queried. Same occurs with all lowercase label value.

No issues with using `serviceMonitorSelectorNilUsesHelmValues: false` or `true` however it would be nice to select only specific serviceMonitors that do not use the release name.

**Did you expect to see something differe

[2021-11-17 06:06] slashpai commented on #4410
Looks like this issue should be logged in helm chart repo https://github.com/prometheus-community/helm-charts/tree/main/charts/kube-prometheus-stack

[2021-11-17 09:05] mosheavni commented on #4409
I found the problem.
I created ingresses for prom, grafana and alertmanager, and I have a aws-load-balancer ingress controller on the cluster.
The namespace is labeled with the [pod readiness gate](https://kubernetes-sigs.github.io/aws-load-balancer-controller/v2.2/deploy/pod_readiness_gate/), and since I forgot to configure the healthcheck annotation:
[code]
The target group marked the targets as

[2021-11-17 09:05] #4409 closed

[2021-11-17 09:18] primeroz commented on #4408
It turns out it was my fault .

I am running kube-prometheus v0.9.0 which still have the app label in the selector but i upgraded the version of the prometheus-operator and that's why it broke.

I thought the service was created by the operator but it obviously is not

https://github.com/prometheus-operator/kube-prometheus/blob/v0.9.0/jsonnet/kube-prometheus/components/prometheus.libsonnet#L107

I

[2021-11-17 09:24] fpetkovski commented on #4408
Thanks for double checking on your side, it makes sense that the issue is not caused by PO itself but by the way it's configured.

If I understood @slashpai correctly, kube-prometheus dropped the app label a while back. I also don't see it in the 0.9 release branch: https://github.com/prometheus-operator/kube-prometheus/blob/release-0.9/jsonnet/kube-prometheus/components/prometheus-operator.libson

[2021-11-17 09:27] slashpai commented on #4408
https://github.com/prometheus-operator/kube-prometheus/blob/release-0.9/jsonnet/kube-prometheus/components/prometheus.libsonnet#L107

its still there in selector, we would want a new kube-prometheus release since its removed in main branch?

[2021-11-17 09:36] paulfantom commented on #4408
Closing as this turned out not to be an operator issue.
FYI kube-prometheus 0.10.0 is just around the corner :)

[2021-11-17 09:36] #4408 closed

[2021-11-17 09:50] paulfantom commented on #4410
I cannot reproduce it with plain prometheus-operator (not installed via helm) and it looks like helm chart issue. As @slashpai please report it in helm chart repo.

[2021-11-17 09:50] #4410 closed

[2021-11-17 10:07] primeroz commented on #4408
thanks !

[2021-11-17 10:55] stefanandres commented on #4348
https://github.com/kubernetes/kubectl/issues/712 suggests to wait for server-side apply (https://github.com/kubernetes/enhancements/issues/555).
When using a recent enough k8s version (don't known which, 1.21 works though) you can use server-side apply instead

[code]

[2021-11-17 12:44] #4401 closed

[2021-11-17 14:44] flokli opened #4412 "prometheus.spec.{rule,podMonitor,probe}NamespaceSelector seem to have wrong type"
**What happened?**
I tried to create a `Prometheus` CR, where only `PrometheusRule` CR from a specific namespace are matched.

I looked up the CRD description, and struggle with the structure:

[code]

This is a `*metav1.LabelSelector` (which come with `matchExpressions`, and `matchLabels`).

Why do we use a label selector here to select namespace?

Why don't we use a [`NamespaceSelector`](https:/

[2021-11-17 19:13] paulfantom commented on #4412
Overall we tend to prefer Kubernetes native types over custom ones. In this particular case using label selectors is easier to manage as it does not require changing Prometheus object when a new namespace is added (someone just needs to add label to the namespace). Hence the usage of `metav1.LabelSelector` as `ruleNamespaceSelector` in Prometheus CRD.

We should probably consider the same for othe

[2021-11-17 20:00] flokli commented on #4412
Allowing to match namespaces by their labels, and not by their name is indeed more powerful.
Matching by namespace names would still be possible, as the `kubernetes.io/metadata.name` labels gets populated [when the `NamespaceDefaultLabelName` feature gate is enabled](https://kubernetes.io/docs/reference/labels-annotations-taints/#kubernetes-io-metadata-name).

If using `metav1.LabelSelector` is th

[2021-11-17 22:21] hughhm commented on #4410
Thanks, will repost on the helm chart repo. The label is on my ServiceMonitor objects, and in fact it looks like they are picked up as targets, the issue is really that it breaks metrics collection/history.

[2021-11-18 07:42] slashpai commented on #4391
This didn't get close automatically even though referred in PR as Fixes

cc: @fpetkovski

[2021-11-18 07:49] fpetkovski commented on #4391
Closed by https://github.com/prometheus-operator/prometheus-operator/pull/4395

[2021-11-18 07:49] #4391 closed

[2021-11-18 08:21] paulfantom commented on #4410
If they are seen as targets, how does it break metrics collection?