[2017-11-16 08:54] brancz commented on #758
@nuala33 you're absolutely right, the documentation is outdated, the Alertmanager object did adopt the same `StorageSpec` as the Prometheus object. Could you create a PR to fix that? :slightly_smiling_face:

[2017-11-16 11:09] brancz commented on #760
It's important to understand that the kube-prometheus collection merely contains examples, you are encouraged to take it and adapt it to the way you need it. Have a look at the Grafana documentation to find out how to configure authentication and adapt the deployment. And modifying the object to fit your persistent storage solution is absolutely encouraged.

[2017-11-16 11:10] brancz commented on #759
We have a walk through for exporters in our documentation: https://github.com/coreos/prometheus-operator/blob/master/Documentation/user-guides/running-exporters.md

Let us know if you have any more questions.

[2017-11-16 14:10] #751 closed

[2017-11-17 00:58] kaarthikeyan1987 commented on #759
Thanks for your reply Brancz. From the link that you provided I could see code for creating service and service monitor, But I need to know on how to integrate the exporters itself.
I would like to know how to setup exporter deployment to make it running as a pod, may be post which I have to create service and service monitor

[2017-11-17 02:31] rocketraman commented on #743
Maybe just one chart for each of CPU, memory, I/O, and network send/receive showing one line for current usage for every node? This will allow an at-a-glance view of the normal ranges of these values, and any outliers.

Memory usage would be a percent of total so it is normalized.

Network usage would just be summed across all interfaces for the node.

[2017-11-17 07:01] brancz commented on #743
That sounds great!

[2017-11-17 10:11] shenshouer opened #762 "auto add v2.0.0-rc.1 tag to prom/prometheus images"
Run Deployment with image `coreos/prometheus-operator::v0.14.1`  when set flag `--prometheus-default-base-image=thub.autohome.com.cn/prom/prometheus:v2.0.0`, will pull error images: `Failed to apply default image tag "thub.autohome.com.cn/prom/prometheus:v2.0.0:v2.0.0-rc.1": couldn't parse image reference "thub.autohome.com.cn/prom/prometheus:v2.0.0:v2.0.0-rc.1": invalid reference format`

[2017-11-17 10:21] mfaizanse commented on #760
@brancz can you share any blog or instructions for persistent storage solution?

[2017-11-17 10:29] mfaizanse opened #763 "http_requests_total metrics for my custom pods not showing"
**What did you do?**
I deployed prometheus-operator (kube-prometheus) and then deployed my application pods and services. Now on the prometheus ui, when I executed 'http_requests_total'

**What did you expect to see?**
When I execute 'http_requests_total', it should return http requests stats of my deployed pods.

**What did you see instead? Under which circumstances?**
It only returned data of mo

[2017-11-17 10:34] brancz commented on #760
We have documentation on this here: https://coreos.com/operators/prometheus/docs/latest/user-guides/storage.html

Multiple persistent storage providers are described there. Feel free to ask follow up questions.

[2017-11-17 10:36] brancz commented on #763
The kube-prometheus stack is highly locked down to only monitor your Kubernetes cluster itself. You can modify this, however, common practice is to have a separate instance of Prometheus for application monitoring.

[2017-11-17 10:38] brancz commented on #762
This flag is only to override the default `baseImage` of Prometheus objects. You can set the version used in your Prometheus object with the `version` field. (see https://coreos.com/operators/prometheus/docs/latest/api.html#prometheusspec)

[2017-11-17 10:49] mfaizanse commented on #763
@brancz Does kubernetes has any metrics for keeping track of http requests to pods?

[2017-11-17 11:00] brancz commented on #763
Kubernetes is not aware of application level metrics, it only exposes metrics in the form of generic workload metrics: CPU, memory, network I/O, etc. Istio might at some point offer something like this. And you probably also want metrics from your Ingress.

[2017-11-17 11:00] hawksight opened #765 "deployment breaks in namespaces other than `monitoring`"
* What I was doing:
I was attempting to deploy using the kube-prometheus script method to the `default` namespace

* What I seen
Everything deployed (or seemed to) but prometheus was not picking up most metrics therefore Grafana was graphing almost nothing as it couldn't get most of the data it needed.
Notably grafana could not detect nodes, pods or deployments, so those options on dashboard were

[2017-11-17 14:01] brancz commented on #765
Yes this is absolutely correct. Maybe we should not allow setting the namespace in the first place (although the scripts are in a `hack/` folder and that should speak for their stability :slightly_smiling_face:). You're right though, that this is something we should rather have helm do.

I'm playing with the idea to use jsonnet to be able to take the kube-prometheus manifests and put them somewher

[2017-11-17 14:45] hawksight commented on #765
Thanks for the confirmation. Yer I agree, although hack folders are becoming increasingly common on k8s stuff (or maybe i'm looking at the same things too often). It was more so if anyone googles this, at least the context is documented.

I'd not seen jsonnet before this, so can't really comment. In principle it could be really good to take a single source of config and generate different outputs.

[2017-11-17 18:16] nuala33 commented on #758
I'd be glad to contribute. The only concern I have is that my Alertmanager StorageSpec does look identical to what I have set up for Prometheus, yet I see data being written to my Prometheus nfs mount and not to the Alertmanager mount.

Output of `mount` on one of my alertmanager pods:
[code]

Yet /var/alertmanager/data is an empty directory on all 3 pods. The only place I can see anything that lo

[2017-11-17 18:33] brancz commented on #758
Alertmanager flushes its state only every 10minutes or so to disk. Is this still the case now? Could you have a look at the Alertmanager logs?

[2017-11-17 18:37] brancz commented on #765
This is absolutely my own opinion, but I don't believe helm is the solution to packaging in Kubernetes, however, there is a large community behind helm which is why there are some helm charts (relatively unstable) of this stack under `helm/` in the root of this repo.

There are a number of people working on upstream Kubernetes, to develop better more "kubernetes-native" packaging/application manag

[2017-11-17 18:53] nuala33 commented on #758
Hmm, I did silence one alert to trigger an event but all I see in the logs since are:

[code]

And the /var/alertmanager/data directory remains empty. 🤷‍♀️

[2017-11-17 18:55] nuala33 commented on #758
Ah, maybe these logs from the Prometheus operator are telling. If my alertmanager instances aren't in sync, could this be the cause of the problem?

[code]

[2017-11-17 19:03] brancz commented on #758
Yes this is a limitation of Kubernetes, that is no longer present in newer versions. The solution here is to entirely remove the Alertmanager object and create it from scratch (and make sure the statefulset that belonged to the old Alertmanager object was also deleted).

[2017-11-17 19:56] nuala33 commented on #758
Hmm, any ideas why I might be seeing this upon deleting my statefulset? I know its familiar but I can't remember the solution here. See config above. Version of the Operator is 0.11.0

  17s		11s		16	statefulset			Warning		FailedCreate		create Pod alertmanager-main-1 in StatefulSet alertmanager-main failed error: Failed to create PVC alertmanager-main-db-alertmanager-main-1: PersistentVolumeClaim

[2017-11-17 20:10] nuala33 commented on #758
Ah, never mind. I figured out the last bit. The syntax isn't the same as I thought between Alertmanager and Prometheus for persistent storage. Changing the config to this fixed the issue of pods not creating:
[code]
Now just waiting to see if we can get some data being written to disk.

[2017-11-17 20:28] nuala33 commented on #758
Latest updates: I still don't see any data in /var/alertmanager/data on my pods, but I do see the strange characters associated with recent data in /etc/alertmanager/data:
[code]
Additionally, I noticed the file ownership is different on the alertmanager pods than from my prometheus pods for this file, not sure if that's relevant:

On alertmanager:
[code]

vs. on prometheus pods:
[code]

I don't s

[2017-11-18 08:48] brancz commented on #758
That actually looks correct. The data, that the Alertmanager persists is in the protobuf format, which on disk looks like a mash-up of binary and plaintext. The only data that the Alertmanager persists are the silences as well as the notifications.

Can you try deleting all pods simultaneously, that way you can see whether the Alertmanager will recover its data from disk.

[2017-11-18 21:15] loganasherjones commented on #618
Another way to solve this issue while using `kubeadm` is to use the [https://kubernetes.io/docs/reference/generated/kubeadm/#config-file](kubeadm config file). It will let you specify these things during `init` or `join`.

[2017-11-19 10:51] brancz commented on #618
@loganasherjones thanks for mentioning it! It would be great if someone could get around to documenting these :slightly_smiling_face: .

[2017-11-20 01:02] shenshouer commented on #762
Tks, It work fine when I specific the version on prometheus Spec.

[2017-11-20 01:02] #762 closed

[2017-11-20 03:46] nuala33 commented on #758
Hey @brancz. I noticed the last time that we deleted the alertmanager statefulset that a silence which had been previously set disappeared when the pods came back up. And this makes sense to me, because even if the protobuf format is correct, according to the output of `mount` on the alertmanager pods, the directory that should contain this data is "/var/alertmanager/data."

The data is being writ

[2017-11-20 03:52] nuala33 commented on #758
Ah, I think maybe I found the problem.

Shouldn't the storage path be /var/alertmanager/data instead of /etc/alertmanager/data here: https://github.com/coreos/prometheus-operator/blob/master/pkg/alertmanager/statefulset.go#L167 ?

[2017-11-20 10:21] stuxnet78 commented on #725
@skuda I've also followed the same way that you have tried. Even me too ended up with the same problem that you are facing label `kubernetes_io_hostname` is not present on Prometheus.

But when I tried with helm method I don't see that problem, but it creates other problem like no alerts configurations on Prometheus alerts page.

I'm using Kubernetes 1.6 with RBAC disabled on helm method.

[2017-11-20 11:18] brancz commented on #758
@nuala33 yes! You're right! Would you like to open a PR to fix this?

[2017-11-20 11:50] Morriz commented on #725
The helm chart is too bloated and should be split up to be able to use the prometheus and alertmanager charts (they are now bundled up with kube-prometheus).

Take a look at morriz/mostack to see what I did. It has a lot of work in figuring out how to deal with helm, rbac and network policies.

On Nov 20, 2017, at 11:21, Prasanna Ranganathan <notifications@github.com <mailto:notifications@github.c

[2017-11-20 13:35] brancz commented on #758
Actually I just checked the code, and there is a problem, but it's not exactly the line of code you referenced.

The path of the mount is:

https://github.com/coreos/prometheus-operator/blob/0862eb73124920016b19cc52300c912813ee604d/pkg/alertmanager/statefulset.go#L261

The path configured to be used for storage is:

https://github.com/coreos/prometheus-operator/blob/0862eb73124920016b19cc52300c912

[2017-11-20 13:37] ant31 commented on #758
@brancz if we change the previous default "/etc/alertmanager/data" would it break previous/existing prom?

[2017-11-20 13:43] brancz commented on #758
The way we implemented the rollouts of Alertmanagers is that the no-yet-updated nodes will first sync a new node with existing data, before continuing. We have e2e tests to confirm this works, however, there are still scenarios where rollouts can still cause data loss, so this is just best effort, which is why persistent storage is recommended.

[2017-11-20 14:31] brancz commented on #725
I totally agree @Morriz, I documented what I imagine the helm charts to look one day: #592. We don't use helm for the prometheus-operator, so we rely on the community to maintain them.

[2017-11-20 17:04] nuala33 commented on #758
Thanks @brancz. I actually did reference line 167 of alertmanager/statefulset.go in my comment but also wanted to point out that Prometheus had the correct path set for comparison :)

Looks like @ant31 created the PR. If I make this change in my local repo, are there any special steps needed to get Prometheus-operator to load in and use the updated code?

[2017-11-20 17:14] Arslanbekov commented on #686
@brancz hello, no news on this issue?

[2017-11-20 17:17] loganasherjones commented on #618
I don't mind doing that. Where do you want the documentation?

[2017-11-20 17:22] skuda commented on #725
@stuxnet78 I am waiting for cadvisor maintainers to check the issue I created to have a proper fix, the only Grafana dashboard that fails for me is the one I linked in the first post so I can live without `kubernetes_io_hostname` for now.

[2017-11-20 19:44] SleepyBrett commented on #730
Yes, I think we discussed over slack. It made me back out of using the operator ( the whole operator seems to lobotomize itself in the presence of a custom config )

[2017-11-20 23:46] keithjohnhowe commented on #747
I have followed the guides and have got a basic operator in place with the idea of changing this once I get it to work. However I start to run in to problems when I add the AlertManager. I have added the references to the prometheus.yaml to point to the alermanager.yaml and created the relevant resources as described in the guides so I'm not sure were I'm going wrong and would be grateful for some

[2017-11-21 10:56] hacor opened #772 "Adding custom dashboard instructions for tectonic-installer"
**What did you do?**
I have a running bare-metal setup using the Tectonic-installer and a working Prometheus operator and dashboards. I'm using [rook.io](rook.io) for storage and I wanted to add these to the existing monitoring cluster.
I created a working `ServiceMonitor` object and the Ceph cluster parameters appear in the Prometheus webpage and the data can be accessed.

I wanted to add the [ce

[2017-11-21 11:19] brancz commented on #686
Sorry about, this I should be able to get to this very soon.

[2017-11-21 11:20] brancz commented on #758
You would just need to build the binary with `make crossbuild` and then the container image with `make container`. Then you can push the image to a container registry and then change your image to that.

[2017-11-21 11:27] brancz commented on #772
This is intended behavior in Tectonic. The Tectonic Monitoring stack is managed by us, this includes the alerting rules, dashboards, etc. In order for us to be able have any guarantee around working automated updates. Some things are configurable, those are documented [here](https://coreos.com/tectonic/docs/latest/tectonic-prometheus-operator/user-guides/configuring-tectonic-monitoring.html).

For

[2017-11-21 11:29] brancz commented on #772
As an additional explanation. The kube-prometheus stack is very bare bone, for open source users it's meant to be taken and adapted as one needs. It is far from a production ready setup. In Tectonic we make it production ready as we can make assumptions around authentication, ssl, Ingress, and more as well as plug things together with the Tectonic console and other Tectonic components.

[2017-11-21 11:35] hacor commented on #772
@brancz This is a very clear explanation. I will create my own Grafana/Prometheus instances.

Thanks!
Best regards!

[2017-11-21 11:35] #772 closed

[2017-11-21 12:47] keithjohnhowe opened #773 "prometheus operator - alertmanager problem"
I am trying to get to grips with Prometheus and have used following guides to do so --
https://github.com/coreos/prometheus-operator/blob/master/Documentation/user-guides/getting-started.md
https://github.com/coreos/prometheus-operator/blob/master/Documentation/user-guides/alerting.md
However I am running into a few problem when I try to add the Alertmanager.

I have configured the various resourc

[2017-11-21 14:06] brancz commented on #773
If I'm intepreting the errors correctly that you have shared, then I believe you have not created the Alertmanager configuration as a `Secret`.

You do this with the command specified in the alerting docs:

[code]

Your Prometheus server seems to be running just fine, it's just the Alertmanager that you still need to provide the config for.

[2017-11-21 14:37] keithjohnhowe commented on #773
Thanks for getting back - Yes I have used this command and the secrets have
been created

$ kubectl create secret generic alertmanager-example
--from-file=alertmanager.yaml
Error from server (AlreadyExists): secrets "alertmanager-example" already
exists

When I try to remove Prometheus, (to reload a new configuration) I'm
getting RBAC errors

 $kubectl delete -f prometheus.yaml
Error from server (

[2017-11-21 14:55] brancz commented on #773
New configurations should be automatically picked up.

Yes the `ruleSelector` is the correct thing to use to select the `ConfigMap`s with containing rules that you want to load. The errors you shared, however, look like the objects didn't exist in the first place, it doesn't seem RBAC related.

Generally what you're doing seems correct.

Can you make sure that your manifests don't contain mixed sp

[2017-11-21 15:36] keithjohnhowe commented on #773
Thanks for your support with this - here is a section of my prometheus operator logs
Now I know that a ruleselector is the correct wat to id the configmap I have added to the prometheus.yaml
This change should be automatically recognised - right ?
Once again many thanks for your support --
E1121 14:41:57.542241       1 reflector.go:201] github.com/coreos/prometheus-operator/pkg/prometheus/operator

[2017-11-21 15:45] keithjohnhowe commented on #773
this part of the logs may be useful
ts=2017-11-21T12:32:44Z caller=operator.go:670 component=prometheusoperator msg="sync prometheus" key=default/prometheus
ts=2017-11-21T12:32:44Z caller=operator.go:979 component=prometheusoperator msg="updating config skipped, no configuration change"
ts=2017-11-21T12:33:04Z caller=operator.go:326 component=prometheusoperator msg="Prometheus updated" key=default

[2017-11-21 15:53] brancz commented on #773
These errors now look like RBAC problems. Can you share the exact commands you used? Did you create these manifests in any namespace other than the `default` namespace (that's what the manifests assume as they bind the `ServiceAccount` called "prometheus-operator" of the default namsepace with the `ClusterRole`)?

[2017-11-21 16:23] keithjohnhowe commented on #773
Yes they are created in the default namespace -
I following the guide
https://github.com/coreos/prometheus-operator/blob/master/Documentation/user-guides/getting-started.md
 - setup the prometheus.yaml used $kubectl create -f prometheus.yaml
- added example app and service in a similar way.
- Added the servicemonitor $kubectl create servicemonitor.yaml
- Created RBAC rules for prometheus & prometh

[2017-11-21 16:38] keithjohnhowe commented on #773
Could this be a simple matter of minikube not having RBAC enabled ? If so it seems strange that the first part worked ie. before added alerting

[2017-11-21 16:53] nuala33 commented on #758
Ah, gotcha. I think we want to keep using the latest coreos container image for Alertmanager, so I'll wait until the fix is pushed officially.

[2017-11-21 17:04] keithjohnhowe commented on #773
I have started minikube minikube with the following command,
 minikube start --extra-config=apiserver.GenericServerRunOptions.AuthorizationMode=RBAC.
 However still getting the same problem.
Any suggestion would be welcome.

[2017-11-21 18:54] kornface13 opened #775 "Support for configuring targets outside kubernetes cluster"
**What did you do?**
I have Prometheus operator setup and monitoring things in my kubernetes cluster.  I'd like to add some targets that are outside the cluster.  The server is running node exporter.

if I weren't using the operator, I could simply add the following to my prometheus config:
  - job_name: "randomserver01"
    scrape_interval: "10s"
    target_groups:
    - targets: ['10.248.0.11:91

[2017-11-22 09:38] brancz commented on #775
There are two strategies you can go with, the first being that you manually maintain an `Endpoints` object and a respective `Service` and manually maintain the IPs for those. Then you can use the `ServiceMonitor` pattern as with anything else.

Otherwise if you want to use any of the other target discovery mechanisms available in Prometheus, you can go with a fully [custom configuration](https://g

[2017-11-22 10:18] #686 closed

[2017-11-22 10:42] brancz commented on #239
Prometheus 2.0 stable has been released, and the Prometheus Operator fully supports Prometheus 2.0. I will close this issue here. Feel free to open new issues regarding Prometheus 2.0. The issue described in this post is fundamentally not solvable with Prometheus 1.x therefore we recommend switching to 2.0.

[2017-11-22 10:42] #239 closed

[2017-11-22 12:06] stuart-warren commented on #239
I don't believe that there has been a release of prometheus-operator that supports prometheus-2.0 stable since #735

[2017-11-22 12:53] #758 closed

[2017-11-22 12:59] brancz commented on #239
Prometheus 2.0 has support has been in the Prometheus Operator for multiple releases now :slightly_smiling_face:

[2017-11-22 16:25] brancz commented on #758
@nuala33 we just released `v0.15.0`, can you give it a try and let us know how it goes? :slightly_smiling_face:

[2017-11-22 18:42] gianrubio commented on #660
Fixed on #776

[2017-11-22 18:42] #660 closed

[2017-11-22 18:44] gianrubio commented on #723
Can we close this?

[2017-11-22 18:46] gianrubio commented on #717
@rawkode #776 fixed the helm dependencies.

[2017-11-22 20:22] gianrubio commented on #443
@brancz can we close this? fixed on #776

[2017-11-22 20:44] gianrubio commented on #592
I'm going to work on the reorganisation of the helm charts, the main task are:

- [ ] Migrate prometheus to v2.0

- [ ] Point dependencies like kube-state-metrics to kubernetes/charts repo, also figure out if there's more dependencies that can be pointed to the k8s chart repo.
- [ ] Keep kube-prometheus/{rules, grafana, alert} in sync with kube-prometheus chart
- [ ] Move kube-state-metrics to sta

[2017-11-22 21:14] keithjohnhowe opened #779 "Problem loading alerts into Prometheus"
**What did you do?**
I have installed Prometheus using Helm ( git clone git@github.com:coreos/prometheus-operator.git ) and I'm now able to monitor my kubernetes cluster. However I'm having problems setting up alerting. I have installed Alertmanager and added a secret.yaml. I've also added a configmap to specify rules for prometheus
When I open the prometheus ui I can not see any rules listed.
Can

[2017-11-23 01:58] #723 closed

[2017-11-23 08:55] #443 closed

[2017-11-23 08:55] #717 closed

[2017-11-23 09:03] rawkode commented on #717
@gianrubio Yeah, so the Helm install works now - but sadly none of the kube-exporters ever enter a healthy state and there are no endpoints for prometheus or alertmanager services.

[2017-11-23 09:05] rawkode commented on #717
[code]

[code]

Am I just missing configuration, am I just being silly? I'm really keen to get this working and willing to help in anyway, if it's not just me being daft.

[2017-11-23 09:21] brancz commented on #717
@rawkode can you elaborate what you mean by "a healthy state"? Are the pods crashlooping?

[2017-11-23 09:23] brancz commented on #592
The upstream kube-state-metrics chart needs some more changes, but there is already a stable one. I outlined some things that should be done to it here: https://github.com/kubernetes/charts/pull/2124

[2017-11-23 09:26] brancz commented on #779
Prometheus 2.0 changed the rule syntax, and Prometheus ignores rule files with invalid syntax, so this could potentially be the problem.

Otherwise can you share the `ruleSelector` used in your Prometheus object as well as the labels that the ConfigMap has that you are trying to load?

[2017-11-23 09:39] rawkode commented on #717
[code]

[2017-11-23 09:40] brancz commented on #717
Can you check the logs of one of those containers? Sounds like something is actually mis-configured.

[2017-11-23 09:41] rawkode commented on #717
The only error in the logs is the one mentioned above, every exporter is the same

[2017-11-23 09:46] brancz commented on #717
I believe that was introduced by this PR: https://github.com/coreos/prometheus-operator/pull/754

I think we may have missed the `v` in the tag.

[2017-11-23 09:47] rawkode commented on #717
AlertManager logs also

[code]

[2017-11-23 09:48] brancz commented on #717
That one looks like the alertmanager configuration is not created. @gianrubio are you aware whether the charts create the alertmanager config `Secret`?

[2017-11-23 09:49] keithjohnhowe commented on #779
Thanks for getting back - I am finding this a bit confusing as some of the
guides suggested referring the the rules file through  prometheus.yaml via
rule_file.
I have notice a ruleselector in the values.yaml and thought this may be a
way of selecting it. I have included a copy of my configmap. I have been
working on this this for a few days and would really appreciate some
assistance. I only need

[2017-11-23 10:02] gianrubio commented on #717
Not sure if the `./helm upgrade` command can handle the change, just installed a fresh chart using `helm install` and it created the secret. However the node-exporter are in a `crashLoopbackOff` state.

I'll submit a PR to fix that, #754 broked that.

[code]

[2017-11-23 10:03] brancz commented on #779
The `prometheus.yaml` as well as `rule_files`, are part of the raw Prometheus configuration. The Prometheus Operator is here to generate this configuration, so you shouldn't need to worry about this.

The `ruleSelector` is like any other label selector in Kubernetes. You can find documentation for it [here](https://v1-6.docs.kubernetes.io/docs/api-reference/v1.6/#labelselector-v1-meta). The rules

[2017-11-23 10:04] rawkode commented on #717
PR submitted

https://github.com/coreos/prometheus-operator/pull/781

[2017-11-23 10:20] rawkode commented on #717
Any idea how to resolve the secret problem? It looks like the operator should be creating this

[2017-11-23 10:23] ant31 commented on #773
That's probably a typo in the yaml file or a wrong type. could you create a gist to copy/past  the related resources .yaml ?

[2017-11-23 10:25] brancz commented on #717
Regarding the `Secret` problem, can you check whether a `Secret` called `alertmanager-<alertmanager-object-name>` exists in the same namespace as the `Alertmanager` object?

[2017-11-23 10:31] rawkode commented on #717
It does
[code]

but the pod is looking for `alertmanager-alertmanager`

[2017-11-23 10:37] brancz commented on #717
That's curious, from the [templates](https://github.com/coreos/prometheus-operator/blob/master/helm/alertmanager/templates/alertmanager.yaml) it looks like the Alertmanager name, should be the same as the helm release name. And the `Secret` also seems to be correctly [templated](https://github.com/coreos/prometheus-operator/blob/master/helm/alertmanager/templates/secret.yaml#L10).

[2017-11-23 10:45] rawkode commented on #717
I don't know if it's useful, but this is the output of `describe alertmanager kube-prometheus`

[code]

[2017-11-23 10:57] rawkode commented on #717
StatefulSet config looks incorrect:

[code]

[2017-11-23 11:00] rawkode commented on #717
There seems to be no concept of using the release name within the alertmanager, or prometheus, operators:

https://github.com/coreos/prometheus-operator/blob/master/pkg/alertmanager/operator.go#L283

[2017-11-23 11:06] brancz commented on #717
That code is unrelated. The Prometheus Operator just uses the name you give the objects, which is the release name as that's what's templated via the helm charts.

[2017-11-23 11:07] gianrubio commented on #717
@rawkode I just reproduced all the steps and I can't reproduce the alertmanager error. Can you do a clean install and see if this solve your issue? I'm working on to have a better helm integration, it will take few days.

[2017-11-23 11:08] rawkode commented on #717
@gianrubio What `values.yaml` did you use?

[2017-11-23 11:11] rawkode commented on #717
@gianrubio OK, I worked out why I have this problem. The operators / statefulsets aren't removed during `helm delete --purge`, so I assume they were a hangover from before the charts repo

[2017-11-23 11:13] gianrubio commented on #717
Can you fill a new issue about that, we should add a warning about the delete --purge behaviour.

[2017-11-23 11:22] brancz commented on #717
Starting with Kubernetes 1.8 and v0.14.0 of the Prometheus Operator, this problem will disappear as all resources have the appropriate `OwnerReference` meaning that when `helm delete --purge` is run, then the objects will be garbage collected.

[2017-11-23 11:24] keithjohnhowe commented on #773
Thanks for getting back, I think you are correct, once I make changes to the prometheus.yaml file the problem occurs, however I not sure where I'm going wrong as so I've created the link to the gist file as you've suggested and would welcome some assistance. As you will see I have followed the examples on the guide to get me started so it is very basic.
<script src="https://gist.github.com/keithjo

[2017-11-23 11:26] rawkode commented on #717
I've actually purged everything and deployed again. I've still got the `node-exporters` failing until the repo is updated.

I can't seem to browse to alertmanager using `http://localhost:8001/api/v1/proxy/namespaces/monitoring/services/kube-prometheus-alertmanager:9093`

Hopefully this is finally me being silly :joy:

[code]

[2017-11-23 11:27] brancz commented on #773
The `ruleSelector` needs to be added to the `Prometheus` object, not the `Deployment` of the Prometheus Operator.

[2017-11-23 11:45] keithjohnhowe commented on #773
Just to clarify - In the Alerting guide it mentions about creating Prometheus instances, is that what you mean by adding the ruleselector to the prometheus object ?

[2017-11-23 11:47] brancz commented on #773
Yes. If the wording is not clear enough, we're happy about any improvements to the docs :slightly_smiling_face: .

[2017-11-23 11:49] gianrubio commented on #717
When the helm charts are merged to master they are not automatically updated, I'm also working on this :)

[2017-11-23 12:05] keithjohnhowe commented on #773
Thanks for this I will give that a go and let you know - As I had prometheus already running and could access the ui I was reading the alerting guide from the view that prometheus had not been installed. I'm still learning about prometheus and thanks to your continued support I'm finding out that prometheus-operator and prometheus are two separate and completely individual entities ( may be worthw

[2017-11-23 12:33] rawkode commented on #717
Any thoughts on why I can't browse to the service?

[2017-11-23 12:58] gianrubio commented on #717
Not sure, I realise that kube-prometheus is creating a new service that it's already generated by alertmanager (I promisse to fix all this issue).

Could you list the service and endpoints at this namespace?
`kubect get svc,ep -n monitoring`.

[2017-11-23 13:00] rawkode commented on #717
Thanks for your continued help with this, @gianrubio - it's appreciated a whole lot and I'm happy to help with the Helm charts, if possible:

[code]

[2017-11-23 13:06] brancz commented on #773
Happy to help. Definitely let us know where our docs lack, we're always looking to improve the docs. We're very happy about PRs on docs :slightly_smiling_face: .

[2017-11-23 13:15] gianrubio commented on #717
I missed one step on the helm packaging, PR will come at the end of the day ;)
Contribution to the helm charts are always welcome.

[2017-11-23 13:16] rawkode commented on #717
Thanks :+1:

[2017-11-23 13:40] keithjohnhowe commented on #773
I have created the  prometheus object, however when I run the alertmanager.yaml  the pod starts up as CrashloopBackoff. I created the secrets it should be getting this. I am trying this in minikube and have include the output of some relevant files, any input would be welcome.
 $kubectl describe pods alertmanager-example-0
Normal   Created                7m (x3 over 7m)   kubelet, minikube  Create

[2017-11-23 15:17] rawkode commented on #717
Curious: are these charts supposed to spin up Grafana also?

[2017-11-23 17:02] xussof commented on #596
Ha, a Windows SysAdmin aporting to the community, nice one.
I have the same problem too but with CoreOs on GoogleCloud while deploying this bundle

[2017-11-23 17:11] dogopupper commented on #324
Hitting this, but apparently secrets have a requirement of base64? There are no sensitive data, all I need is just some regex to filter a 'name' label that is duplicated and messed up. Ideally there should be an automatic way of configuring it either live in prometheus or by a specific manifest (simply adding something more, rather than having to upload your own whole custom config in a hacky way)

[2017-11-23 18:05] brancz commented on #596
@xussof can you elaborate and share the errors you're getting, logs, manifests, versions etc.? (you can also feel free to open a new issue unless it's exactly the same as above)

[2017-11-23 18:35] brancz commented on #717
@rawkode I don't think it is installed with the kube-prometheus chart today, I believe the Grafana one is separate currently. Feel free to change that :slightly_smiling_face: .

[2017-11-23 21:55] shadycuz opened #782 "Trying to install grafanalib to build dashboard"
**What did you do?**
[code]
**What did you expect to see?**
No error msg
**What did you see instead? Under which circumstances?**
Syntax error msg
**Environment**
Ubuntu 16.04
* Kubernetes version information:

* Kubernetes cluster kind:

* Manifests:

* Prometheus Operator Logs:

[2017-11-24 01:21] shadycuz commented on #782
I seemed to get further, but now I have more questions, shouldn't requirments.txt be fed to the docker container?
[code]

[2017-11-24 08:17] brancz commented on #324
@dogopupper Prometheus configurations can have credentials in them, so we decided to make them Kubernetes `Secret`s. Your CI pipeline or whatever applies the configuration can easily support encoding a plaintext config to base64 and into a secret.

Why do you find this way hacky? This is the way you would configure every Prometheus server, if you weren't using the Prometheus Operator.

[2017-11-24 08:23] brancz commented on #773
This sounds like you put a Kubernetes manifest as the Alertmanager config into the Alertmanager config `Secret`.

[2017-11-24 08:33] xussof commented on #596
Yep, sorry I found the solution on this link. I think we can close this issue:
https://stackoverflow.com/a/47332612/2225987

[2017-11-24 08:45] #596 closed

[2017-11-24 11:50] batazor commented on #242
@NiklasMerz Hi. Did you integrate gitlab with Prometheus-operator?

[2017-11-24 12:34] mfaizanse commented on #596
The issue was with Azure Container Service, that RBAC was not enabled in it. Now the issue is resolved in Azure Kubernetes Service.

[2017-11-24 15:44] keithjohnhowe commented on #773
Thanks for getting back - I just have a basic secrets.yaml as in the alertmanager guide
https://github.com/coreos/prometheus-operator/blob/master/Documentation/user-guides/alerting.md
you can see this in the gist above.

[2017-11-24 15:50] NiklasMerz commented on #242
@batazor Unfortunately I did not try it further.

[2017-11-25 03:14] shadycuz commented on #535
@mbugeia Can you elaborate on this? I'm having the same issue with the same generation script.

[2017-11-25 03:17] shadycuz commented on #535
@eedugon I'm having the same error as @mbugeia on the latest release and in a new namespace I still get the error (no previous configmap).

[2017-11-26 00:19] eedugon commented on #535
@shadycuz: Have you tried with -s 125000 ?
I you need help to test this let me know.

Interesting info about the error on a fresh new namespace, it would be nice to see the output of generate-manifests.sh and the kubectl apply.

[2017-11-26 00:26] shadycuz commented on #535
@eedugon I don't know where to put `-s` or what it does. I ran the `kubectl create -f` and that worked fine.
[code]

[2017-11-26 16:36] cleberwarmling opened #785 "Problem with load alerts rules to Prometheus"
**What did you do?**

Deployed kube-prometheus using `./hack/cluster-monitoring/self-hosted-deploy`

**What did you expect to see?**

Grafana, Alertmanager and Prometheus with alert rules from https://github.com/coreos/prometheus-operator/blob/master/contrib/kube-prometheus/manifests/prometheus/prometheus-k8s-rules.yaml

**What did you see instead? Under which circumstances?**

Everything works fi

[2017-11-26 17:28] cleberwarmling commented on #785
I think that I figured out what is happening.

On kube-api log I saw this HTTP 403:

[code]

So, I checked every Role and Rolebinding I conclude that everithing is correct. Then, I tried to "force a  restart" to Prometheus pods `k delete pod Prometheus-k8s-0 -n monitoring and surprisingly  the config-reloader was able to load the rule file.

[code]

So I think that is something related to the crea

[2017-11-27 01:27] #782 closed

[2017-11-27 03:44] shadycuz opened #786 "generate-dashboards-configmap.sh has wrong line spacing and doesn't set id to null"
**What did you do?**
I used `./hack/scripts/generate-dashboards-configmap.sh` to add my own dashboards to the default
**What did you expect to see?**
Dashboards
**What did you see instead? Under which circumstances?**
No dashboards in grafana but they are in the grafana watcher.
**Environment**
bare-metal
* Kubernetes version information:
[code]
* Kubernetes cluster kind:

Kube-spray

The dashboar

[2017-11-27 04:33] shadycuz commented on #786
So I do have 1 dashboard but it's "empty" and gives a 404 if I click on it.
![image](https://user-images.githubusercontent.com/17090999/33250871-46a70ff4-d301-11e7-9a05-78c20a3563c0.png)

maybe one of my dashboards has bad yaml? I didn't see any in sublime.

same errors in logs after making all my dashboards version 0.

attached the generated dashboard configmap
[artifacts.zip](https://github.com/

[2017-11-27 10:36] rawkode commented on #717
@gianrubio Any update on the node exporters?

[2017-11-27 10:43] gianrubio commented on #717
It'll be update after #784 be merged

[2017-11-27 12:57] swestcott commented on #699
Just cross referencing the upstream issue for anyone else who runs into this. The fix is expected in Kubernetes 1.8.5.

https://github.com/kubernetes/kubernetes/issues/53379

[2017-11-27 14:59] younid opened #787 "Need to deploy Operator with restricted rights in a K8S cluster"
**What did you do?**
Hello,

I Deployed Prometheus with Operator following the "getting started" guide from the project site (https://coreos.com/operators/prometheus/docs/latest/user-guides/getting-started.html)
And it worked correctly but after this I needed to deploy it on another cluster which is using RBAC and is more restrictive. The administrator asked me to change RBAC files to reduce right

[2017-11-27 15:49] shadycuz commented on #786
Using the default configmap it works fine, so it's something to do with my configmap. Not sure what yet.

[2017-11-27 17:25] shadycuz commented on #786
So I removed all dashboards but the deployments dashboard. Reran the generation script and uploaded that. The dashboard doesn't appear in grafana.

Watcher logs
[code]

grafana
[code]

generating dashboards
[code]
deploying kube_prometheus
[code]

dashboard config file
[artifacts (2).zip](https://github.com/coreos/prometheus-operator/files/1506638/artifacts.2.zip)

[2017-11-27 17:26] shadycuz commented on #786
Think the problem is here
[code]

should be
[code]

[2017-11-27 21:55] shadycuz commented on #786
After fixing the wrapper.sh to fix the spacing, dashboards still did not work. I had to add a sed command to set "id": null, to get the dashboards to work.

[2017-11-28 09:29] brancz commented on #786
Hey sorry I was out sick yesterday. Your last comment sounds like you fixed the issue, can you elaborate?

[2017-11-28 09:34] brancz commented on #787
This is merely an example. You can also run the Prometheus Operator with the `--namespace` flag. Then it will only require `Role`s and `RoleBinding`s, however will also only work with objects within that namespace, and you need to create the CRDs yourself (as it requires cluster level roles to create them). `ClusterRole`s and `ClusterRoleBinding`s are not unreasonable, as that is exactly what upst

[2017-11-28 09:44] brancz commented on #785
I'm unsure I understand from your last comment whether your situation is fixed or still a problem?

There is certainly the possibility for timing issues where the roles the prometheus pod has were granted after the prometheus-config-reloader started.

This

[code]

is a known issue of the kubernetes client we're using in the project, which occurs when there is an error (as the Kubernetes API encod

[2017-11-28 10:52] cleberwarmling commented on #785
@brancz I think we can call this solved based on what you provided. Btw, thanks a lot for your help 😄

[2017-11-28 10:52] #785 closed

[2017-11-28 10:55] brancz commented on #785
Always happy to help. Feel free to open issues when you run into anything, if not a problem in code it usually means docs are not good enough :)

[2017-11-28 14:32] younid commented on #787
Hello and thank you for your answer.
If I understand well there's flag that I can use to setup the scope of Operator to the namespace I want.
Just to put this flag as parameter when creating the container like this ?

[code]

Another question, when you say that I need to create CRDs by myself, what do you mean ?
Do I need to create a new yaml file and put inside an apiextension declaration ?

[cod

[2017-11-28 16:36] brancz commented on #787
Right, because the Prometheus Operator creates it for you, if you can give it a `ClusterRole` to do so. Otherwise this:

[2017-11-28 16:53] shadycuz commented on #786
@brancz I hope you feel better. I will submit a PR, I just wanted to check to make sure it didn't break your python dashboards first. Also I noticed Kube-prometheus is only really suited for the monitoring namespace. I see a check in the deploy script for a namespace but most of the manifests have `namespace: monitoring` hardcoded in which means you can't deploy it into another namespace. Are you

[2017-11-28 18:03] brancz commented on #786
I'm happy if you want to open a PR for all of the above! (bear in mind that the scripts are in a `hack/` folder though). The idea is that helm is gonna help with some of that stuff, but I'm happy to have it in the hack scripts as well.

[2017-11-28 18:13] shadycuz commented on #786
I feel like kube_prometheus needs it's own helm chart that deploys everything or a bash script that deploys each helm chart you guys are currently working on in `/helm`. As long as the helm chart deals with

[2017-11-28 18:17] shadycuz commented on #786
Funny you mentioned helm and I was typing that comment ^ before you did.

[2017-11-28 23:43] nuala33 commented on #758
@brancz Running v0.15.0 and persistent storage for Alertmanager is working great now! Thanks.

[2017-11-29 09:04] xpowerman commented on #717
Hi. I Try to install prometeus operator using helm, step by step using this article https://itnext.io/kubernetes-monitoring-with-prometheus-in-15-minutes-8e54d1de2e13.

 `kubectl create ns monitoring git clone git@github.com:coreos/prometheus-operator.git cd prometheus-operator` - This fine.

`helm install --name prometheus-operator --set rbacEnable=true --namespace=monitoring helm/prometheus-oper

[2017-11-29 11:41] hawksight commented on #765
@brancz - appreciate the comments, and anywhere I can watch out for news on 'kubernetes-native' packaging?

I made a PR for this issue based on the short term solution - it's only comments :)

[2017-11-29 13:21] brancz commented on #765
This is the space we should be watching: https://github.com/kubernetes/kubectl/projects/1 . Thanks for your PR. I'll close this here.

[2017-11-29 13:21] #765 closed

[2017-11-29 14:58] gianrubio commented on #717
@xpowerman please see the comment https://github.com/coreos/prometheus-operator/issues/717#issuecomment-343531797
I'm still working to fix all this helm issues

[2017-11-29 23:34] younid commented on #787
Hello,
I putted the namespace flag in Operator deploiement manifest and created the CRDs with manual manifests also.

Here are the files used (without the RBAC part):

[code]

[code]

[code]

[code]

For the moment I still have some errors because Operator is not able to list or watch some resources but they are declared with a verb set to ["*"] in Role part and binded with RoleBinding to the user

[2017-11-30 00:41] midnightconman commented on #352
Is it possible to add an `additionalConfiguration` field? I seems like this type of request and need comes up often. Then the prometheus operator would be able to just append this block to the end of the prometheus configuration.

[2017-11-30 03:21] Morriz opened #796 "simplify and fix errors in networkpolicies docs"
Two issues:

- lowercase tcp and udp is not allowed since `apiVersion: networking.k8s.io/v1`
- it's not necessary to use `matchExpression` when referring to labels. So those can become `matchLabels`

See: https://kubernetes.io/docs/tasks/administer-cluster/declare-network-policy/

[2017-11-30 07:53] brancz commented on #352
I’ve mentioned this a couple times, if we allow passing arbitrary arguments then there are no guarantees for upgrades which is a large reason for why the Prometheus operator exists. We will properly integrate remote read has one of the next feature though. It might be experimental in the beginning.

[2017-11-30 08:04] brancz commented on #787
Can you share the exact Role and RoleBinding you are using?

[2017-11-30 09:10] brancz commented on #796
We're happy for PRs to fix this :slightly_smiling_face: .

[2017-11-30 11:33] Morriz commented on #796
Of course, but I am also using egress control, to avoid unwanted extraction of data. I will make a PR when I am satisfied with the whole

[2017-11-30 12:45] brancz commented on #796
Perfect, that sounds, great, thanks!

[2017-11-30 16:36] younid commented on #787
Hello,

Thank you for your support. I managed to make it (nearly) work properly now.
There's only one last bad log visible in apiserver and in Opertaor's pod :

`rbac.go:114] RBAC DENY: user "system:serviceaccount:monitoring-prom-ope:prometheus-operator" groups ["system:serviceaccounts" "system:serviceaccounts:monitoring-prom-ope" "system:authenticated"] cannot "update" resource "services" named "

[2017-11-30 17:14] brancz commented on #787
You need to remove this flag from the prometheus-operator `Deployment`:

[code]

This requires access to be able to write to the `kubelet` Endpoints and Service object in the `kube-system` namespace, which won't be possible in a restricted environment.

[2017-11-30 19:50] midnightconman commented on #352
Ok cool, I haven't seen the upgrade concern in the issues I have read and I see that as a very valid concern. Thank you, I look forward to the newer version that supports remote read / write.

[2017-11-30 21:04] nuala33 commented on #758
Hey @brancz I did notice that we are now running Prometheus 2.0 now even though our Prometheus config specifies 1.8. I also saw the release for v0.15.0 says "[CHANGE] Default Prometheus version v2.0.0". Do you have to run Prometheus 2.0 if you are running the newest version of the operator, and if not, is there a way for us to revert to 1.8?

[2017-11-30 21:10] brancz commented on #758
You can set the version in the Prometheus object. Prometheus 1.8 is still perfectly supported and will continue to be, however, when you have the chance I highly encourage upgrading, as the improvements are very much worth it.

[2017-11-30 21:14] SEJeff commented on #352
Yeah for some users (certainly myself included), this is a really important feature. We have a pretty sizable influx setup (load tested to handle peak traffic of 500,000 metrics per second) and want to use influx for long term storage of metrics from prometheus. This lets us do longer term analysis on app metrics we pull via prometheus.

[2017-11-30 22:31] nuala33 commented on #758
@brancz Something weird is going on then because I specify version 1.8 in my Prometheus object. Output of `kubectl get prometheus -o yaml` clearly shows 1.8:

[code]

Yet the UI's status endpoint says we are running Prometheus version 2.0, and additionally, so does the output of `kubectl get statefulset prometheus-ny5 -o yaml`:

[code]

Any ideas?

[2017-12-01 06:15] brancz commented on #758
Is there something in the logs of the prometheus-operator that could explain this? (I would be looking for reconciling failed errors, or something in that regard)

[2017-12-01 15:39] PhilippeDupont opened #798 "No matches for monitoring.coreos.com/, Kind=ServiceMonitor"
**What did you do?**
Trying to install prometheus-operator using Helm

**What did you expect to see?**
operator add crd properly but `kind: ServiceMonitor` isn't recognized

**What did you see instead? Under which circumstances?**
kind: ServiceMonitor should be recognized by the monitoring.coreos.com/v1 api
I also tried to apply the servicemonitor manifest directly with a `kubectl apply -f service

[2017-12-01 16:14] PhilippeDupont commented on #798
Fixed the issue:
an old TPR still existed ```
$ kubectl get thirdpartyresource
NAME                                 DESCRIPTION                    VERSION(S)
alertmanager.monitoring.coreos.com   Managed Alertmanager cluster   v1alpha1
[code]

[2017-12-01 16:14] #798 closed

[2017-12-04 07:22] bamb00 commented on #671
Hi,  Is it possible to have an example on how to create the custom configuration?

[2017-12-04 09:37] younid commented on #787
Hello,

It's working well now. Thank you for your support.
Just few last questions :
 - do you think we should create a PR for documentation as you asked it ?
 - I found in the code that Operator looks only for Service Monitor that are inside the same namespace of the Prometheus. Is it correct ? Why a such decision ? Isn't it better to allow creating Service Monitors inside each service's namespac

[2017-12-04 11:25] burdiyan commented on #513
Does anyone managed to install kube-prometheus chart? I alway have an error of: `Error: apiVersion "monitoring.coreos.com/v1" in kube-prometheus/charts/exporter-kubernetes/templates/servicemonitor.yaml is not available`

[2017-12-04 13:13] brancz commented on #787
Particularly in your environment this wouldn't be possible at all as the Prometheus Operator would not have enough permissions to perform this. The selector for `ServiceMonitor`s was thought to work the same way as `Service` objects in Kubernetes, as well as the capabilities of the Kubernetes Service Discovery of Prometheus. If you require, you can set multiple/all namespaces on the `Service` sele

[2017-12-04 13:14] brancz commented on #671
I currently don't have the capacity to write docs on this, but you are more than welcome to contribute some if you can figure it out. I believe I have commented about custom configs a couple times on the issue tracker here, so you should be able to find most of the information.

[2017-12-04 16:38] gianrubio commented on #513
@burdiyan it's your first time running the charts? If the answer is not, you probably have some garbage from previous version.

I would recommend you to:
-  Purge the charts running: ``` helm delete --purge chart-name````
-  Remove all the `crd or thirdypartyresource`.

[code]
- Reinstall the chart

let me know if this fix you setup.

[2017-12-04 18:30] neuromantik33 opened #800 "Exposing /metrics endpoint to public facing Service?"
I'm sorry to be asking this here but I've searched everywhere but I can't find a working solution.
So after successfully installing prometheus operator and all associated apps/services I have a security problem with the /metrics route exposed within my app.

At first I had a public `LoadBalancer` (it's a web tracker) with a public IP but then I noticed that the `/metrics` endpoint was exposed whic

[2017-12-04 20:33] nuala33 commented on #758
OK, I deleted my "prometheus" object (not just the statefulset) and we seem to have everything on Prometheus 1.8 now. I guess the only thing I'm wondering is how we ever got upgraded to 2.0 in the first place. When I upgraded prometheus-operator, was the upgrade to Prometheus 2.0 automatic, with the option to downgrade back to 1.8?

[2017-12-04 20:36] brancz commented on #758
There is no automatic upgrade with the Prometheus operator unless the version is not specified.

[2017-12-05 00:52] brancz commented on #800
Common approaches:

1) Have the metrics on a separate port, that is not exposed via Ingress
2) AuthN & AuthZ
3) Deny access to the `/metrics` path (https://github.com/nginxinc/kubernetes-ingress/issues/161)

[2017-12-05 16:27] huyipow opened #801 "how to monitor kube-router"
I'm going to use prometheus-operator to monitor kube-router. Whether prometheus-operator supports monitoring kube-router? if kube-router has a metrics port to be monitored for monitoring?

[2017-12-05 17:48] brancz commented on #801
kube-router can be deployed like any other workload as a DaemonSet` on Kubernetes, so you just need to put a `Service` in front of it, and discover them like any other targets with the Prometheus Operator :)

[2017-12-05 21:00] neuromantik33 commented on #800
Option 3 finally worked! A bit of a hassle though, as I only have one service behind the `Ingress` resource. I'll need to look at option 2. Thanks!

[2017-12-05 21:24] brancz commented on #800
AuthN & AuthZ is often achieved with mTLS.

[2017-12-05 21:24] #800 closed

[2017-12-06 01:20] harsh-px opened #802 "Need instructions on adding new dashboards to grafana on tectonic"
**What did you do?**
I'm running Tectonic 1.7.9 which ships with Prometheus and Grafana managed by the prometheus-operator.

1. I downloaded the existing `grafana-dashboards` config map.
2. Updated the `data` section and added a new dashboard.
3. Delete existing config map: `kubectl delete -f configmap-grafana-dashboards.yaml`
4. Apply new config map with added dashboards `kubectl apply -f configm

[2017-12-06 02:54] brancz commented on #802
The Grafana instance shipped as part of the Tectonic Monitoring stack is effectively immutable. Tectonic will always override changes you make. We do this as otherwise we cannot guarantee consistent reliable upgrades. For additional dashboards, you will need to deploy an additional Grafana instance.

[2017-12-06 02:57] huyipow commented on #801
Kube-router has been deployed in a Daemonset manner.
[code]
I tried to ask kuber-router's metrics to return the result to fail
[code]

[2017-12-06 05:02] harsh-px commented on #802
Thanks for the quick reply.

Is the same true for the `prometheus-k8s-rules` config map used by the prometheus operator to get the alerting rules?

So based on your comment, is the recommendation to deploy an entire new stack i.e 1) `kind: Prometheus` object 2) Grafana `Deployment` 3) `kind: AlertManager` object?

[2017-12-06 05:04] brancz commented on #802
Exactly :slightly_smiling_face:

[2017-12-06 05:10] harsh-px commented on #802
Thank you for the help!

At some point in future, it will be really useful to use the same instances to add more rules and dashboards. Many end users I talk to find it useful to just have to manage a single instance.

[2017-12-06 05:10] #802 closed

[2017-12-06 07:58] gianrubio commented on #801
I'm not familiar with kube-router but looking to [the code](https://github.com/cloudnativelabs/kube-router/blob/75bdfa2a10ba995062f084924b73764290601c23/app/controllers/network_services_controller.go#L141) I saw that prometheus is exposed on port :8080.

[2017-12-06 08:13] gianrubio opened #803 "Flaky tests"
I was working on PR https://github.com/coreos/prometheus-operator/pull/784 and some tests failed. My assumption it's one test are flaky.

https://travis-ci.org/coreos/prometheus-operator/jobs/312084482

[code]

[2017-12-06 12:51] brancz commented on #803
Yes I realized as well. The test is flaky because go maps don’t reflect the order key/value pairs are created in, so the order can be different. It should just be a matter of adding the other possible order as there are only two possible combinations.

[2017-12-10 02:45] snoby opened #810 "Operator Pod not triggering rest of deployment"
**What did you do?**
Created a single node cluster with kubeadm, installed calico network overlay then cloned coreos/prometheus-operator repo and ran `kubectl apply -f bundle.yaml`

**What did you expect to see?**
I expected to see the operator pod get installed along with running prometheus, alertmanager and grafana
**What did you see instead? Under which circumstances?**
I see the operator pod g

[2017-12-10 14:50] brancz commented on #803
closed by #811

[2017-12-10 14:50] #803 closed

[2017-12-10 15:13] brancz commented on #801
You need to first make sure that you can find your metrics exposed by your application, there can be many different things why this is the case, but unrelated to the Prometheus Operator. I will close this issue here. Feel free to re-open, once you can reach your metrics endpoint, but the target still doesn't show up in Prometheus.

[2017-12-10 15:13] #801 closed

[2017-12-10 15:20] brancz commented on #810
I'm confused with the description of what you did. Did you do `kubectl apply -f bundle.yaml` or run the scripts in `contrib/kube-prometheus/hack` to deploy the entire stack?

The contents of `bundle.yaml` only start the Prometheus Operator, nothing else. If you want the entire stack that includes the Prometheus instances, Alertmanager cluster, grafana, etc then have a look at the `contrib/kube-pro

[2017-12-10 16:53] snoby commented on #810
Ah I see now, I didn't understand from the talks at KubeCon and from looking at the README that the additional steps were necessary.  However after seeing everything now I understand the process. Thank you!

[2017-12-10 16:53] #810 closed

[2017-12-11 11:00] younid commented on #787
Hello @brancz ,

I tried to create a PR but don't know if I did it correctly as it first time.
Let me know if I miss something and what are the next streps.

#812 : Running the Prometheus Operator scoped to a namespace

Regards

[2017-12-11 13:42] xussof commented on #717
Still same problem for me.

I've just tried to install prometheus-operator from this repo master:
https://github.com/coreos/prometheus-operator

On a GCLoud Kubernetes cluster with autoscaling min nodes 4 max 6.

commands on the new created cluster:
helm init
kubectl create clusterrolebinding permissive-binding --clusterrole=cluster-admin --user=admin --user=kubelet --group=system:serviceaccounts;

[2017-12-11 13:45] gianrubio commented on #717
@xussof we're waiting #784 be merged, for now you could edit the node-exporter daemonset and apply the changes #781

[2017-12-11 14:04] burdiyan commented on #513
@gianrubio That was my first attempt to install the chart in a brand new GKE cluster.

[2017-12-11 14:34] gianrubio commented on #513
Do you have prometheus-operator installed? Try to install it first and after that install kube-prometheus.

Also please post the output of

```kubectl get pods,jobs -n monitoring```

[2017-12-11 14:40] burdiyan commented on #513
@gianrubio Yeah, that was the error, and I just figured out that you have to install the operator first. Worth mentioning on the README of `kube-prometheus` chart I believe.

Thanks a lot, anyway!

[2017-12-12 18:49] oguzy opened #814 "applying bundle.yaml caused error stated operator pod"
**What did you do?**

git clone https://github.com/coreos/prometheus-operator

kubectl apply -f bundle.yaml

**What did you expect to see?**

running pods related with prometheus

**What did you see instead? Under which circumstances?**

CrashLoopBackOff state prometheus-operatpr

[code]
**Environment**

cluster-info

Kubernetes master is running at https://10.35.101.224:6443
KubeDNS is running at

[2017-12-12 21:34] nuala33 opened #815 "Central Prometheus to query 2 different k8s clusters"
Hey Prometheus Operators,

Quick question: Is there a recommended way to use 1 central Prometheus to aggregate and query the metrics normally found by querying 2 different Prometheus instances in 2 different Kubernetes clusters in 2 different data centers?

If there is, I would love to get some tips on the best way to go about this.

Thank you!

[2017-12-13 06:46] shavo007 opened #816 "cant create kube-prometheus"
**What did you do?**
Ran command

[code]

Commented out requirements  based on existing issue  #443

[code]

**What did you expect to see?**
Resources created...

**What did you see instead? Under which circumstances?**

Error: found in requirements.yaml, but missing in charts/ directory: exporter-kube-api, exporter-kube-controller-manager, exporter-kube-dns, exporter-kube-etcd, exporter-kube-sche

[2017-12-13 19:41] stphivos opened #817 "Monitoring custom services guide in kube-prometheus doesn't add example-app to targets"
**What did you do?**
Created a local kubernetes cluster using `minikube`. From `contrib/kube-prometheus`, I installed monitoring using `hack/cluster-monitoring/deploy` and deployed the example-app using `hack/example-service-monitoring/deploy`.

**What did you expect to see?**
I expected to see the example-app in the list of prometheus targets at `http://192.168.99.100:30900/targets` as shown in t

[2017-12-14 05:04] shavo007 opened #818 "How to view service monitors and CRD"
* Kubernetes version information:

	Client version v1.8.1
Server version: v1.7.4

* Kubernetes cluster kind:

: kops,

sample service monitor

* Manifests:

[code]

I cant see these resources on the dashboard.

Or how can i view them with kubectl?

Thanks,
Shane.

[2017-12-14 06:55] oguzy commented on #814
I fixed this issue by running kubctl apply -f bundle.yaml -n monitoring

This time i am not able to see any dashboards installed on the grafana screen.

[2017-12-14 07:56] sebglon opened #819 "Grafana helm and serverDashboardFiles"
**What did you do?**
Hello,

Acutaly, i have no found documentation on how to use Helm package and how to customize configuration.
I want to haveto deploy many custom json dashboard with helm but i have an error with `serverDashboardFiles`.

This is my values.yml:
[code]
And i have this error:
[code]

The json dashboard is valid and is well imported if i create manualy the configmap.

**What did y

[2017-12-14 18:56] mmerrill3 opened #823 "k8s.io cache cannot find the "namespace" Indexer at master branch"
**What did you do?**
Built from the master branch and installed in my dev environment
**What did you expect to see?**
Normal operations
**What did you see instead? Under which circumstances?**
In the log file, I see this consistently, which means that the Indexer for the namespace cache is missing

ERROR: logging before flag.Parse: W1214 18:26:12.791794       1 listers.go:63] can not retrieve list

[2017-12-14 21:16] brancz commented on #513
Does someone want to add a troubleshooting section or something to the helm readme? Maybe we can add some examples as well, as suggested in the beginning of the thread.

[2017-12-14 21:22] brancz commented on #815
This is generally a question that is worth asking the larger Prometheus community, as it's not really specific to the Prometheus Operator. (https://groups.google.com/forum/#!forum/prometheus-users)

If not absolutely necessary I would actually just keep the instances apart, and just make each of them send their alerts to a single, organization wide Alertmanager cluster. This also still allows you

[2017-12-14 21:22] brancz commented on #816
/cc @gianrubio

[2017-12-14 21:26] bamb00 opened #825 "No Datapoints Found in Prometheus using release-0.15 + K8s 1.8.2"
**What did you do?**
     Deploy the script hack/cluster-monitoring/deploy to K8s 1.8.2

**What did you expect to see?**
     Metrics like Nodes datapoints in Prometheus page or grafana dashboard

**What did you see instead? Under which circumstances?**
    No datapoints found.  Tested the prometheus datasource and is working correctly

**Environment**

* Kubernetes version information:

	  Client

[2017-12-14 22:17] #825 closed

[2017-12-14 22:18] brancz commented on #825
can you share what you solution was?

[2017-12-14 22:19] bamb00 commented on #818
kubectl get servicemonitor -n monitoring

[2017-12-14 22:21] brancz commented on #823
Thanks for reporting, we will have to look into this.

[2017-12-14 22:27] brancz commented on #814
The `bundle.yaml` is only for a quick start to get started with the Prometheus Operator. If you want the full fledged setup, then you are probably looking for the kube-prometheus stack. See `contrib/kube-prometheus`.

[2017-12-14 22:28] brancz commented on #819
@gianrubio @weiwei04 ^

[2017-12-14 22:31] brancz commented on #817
Note, that these are two separate sets of Prometheus servers, one for cluster monitoring and one specifically for application monitoring. This is a common practice of how people run their Prometheus monitoring infrastructure.

The Prometheus server for application monitoring should be available under the `30100` port. With the `hack/example-service-monitoring/deploy` script.

[2017-12-14 22:39] Capitrium opened #826 "Feature Request: support dropping metrics at scrape time"
We recently ran a batch of about 2 million k8s jobs in under 24 hours, which led to some serious time series churn since the kubelets and kube-state-metrics expose metrics for every pod, and Prometheus was inevitably OOM-killed even with the memory requests/limits set to over 50Gi.

Our temporary solution was to simply stop scraping those sources entirely to prevent Prometheus from getting overloa

[2017-12-14 22:54] nuala33 commented on #815
Thanks, @brancz!

[2017-12-14 23:49] shavo007 commented on #818
awesome. thanks @bamb00

this documented somewhere?

will kubernetes dashboard support CRD in the future?

[2017-12-14 23:49] #818 closed

[2017-12-15 00:14] shavo007 commented on #819
+1 just came across this. in the doc there is no mention of serverDashboardFiles in values file.

located here
https://github.com/coreos/prometheus-operator/tree/master/helm/grafana

Or how easy is it to add in dashboards from bundle here?

https://github.com/aws-samples/aws-workshop-for-kubernetes/blob/master/cluster-monitoring/templates/prometheus/grafana-bundle.yaml

[2017-12-15 00:16] shavo007 commented on #819
apologies for the questions:

but what is the main differences from main helm chart and this one?
https://hub.kubeapps.com/charts/stable/grafana

[2017-12-15 05:36] oguzy commented on #814
I triend just running hack/cluster-monitoring/deploy, still no dashboards are imported.

[2017-12-15 06:22] gianrubio commented on #816
@shavo007 Since last month I have been working to fix these issue on the helm charts. I hope today we're going to solve this issues after we merge https://github.com/coreos/prometheus-operator/pull/824
Sorry for any incovenience.

[2017-12-15 06:26] gianrubio commented on #513
I can do it after all the rework on helm, btw I mapped this dependency on my [todo list](https://github.com/coreos/prometheus-operator/issues/592#issuecomment-346468179)

[2017-12-15 07:19] gianrubio commented on #819
@sebglon I can take a look on it, can you share your json files?

[2017-12-15 07:23] gianrubio commented on #819
@shavo007 the main diference is the [grafana-watcher](https://github.com/coreos/prometheus-operator/blob/6fe338830364822d7fbb12aad70327d2cd5c6bf2/contrib/grafana-watcher/README.md) that automatically generate grafana configuration after changes in the configmap.

[2017-12-15 07:51] sebglon commented on #819
I have only extracted your dashboard available on https://github.com/coreos/prometheus-operator/blob/master/contrib/kube-prometheus/manifests/grafana/grafana-dashboards.yaml

[2017-12-15 08:15] sebglon commented on #819
When i launch dry-run on debug, i have this:
[code]

[2017-12-15 08:40] gianrubio commented on #819
Hum... actually the [serverDashboardFiles variable ](https://github.com/coreos/prometheus-operator/blob/master/helm/grafana/templates/dashboards-configmap.yaml#L11) is not expecting a json file, it's expecting a yaml structure , something like that:

[code]

If you really want to do this I recommend you to inject the content of this file, since [this line](https://github.com/coreos/prometheus-oper

[2017-12-15 09:48] shavo007 commented on #819
good to know.

[2017-12-15 09:50] shavo007 commented on #819
i can confirm that piping in the different json files to serverDashboardFiles variable worked for me today.

[2017-12-15 09:54] shavo007 commented on #816
no need to apologise @gianrubio  be happy when these issues are resolved and can focus on using all these charts moving forward.

[2017-12-15 11:36] zrbilvoe opened #827 "add labels to the prometheus configuration file in operator"
How to add labels to the prometheus configuration file in operator

![image](https://user-images.githubusercontent.com/16753373/34040542-3c61c8fe-e1cf-11e7-828b-cf976e49799e.png)

https://grafana.com/dashboards/367

[2017-12-15 13:01] gianrubio opened #828 "Proposal: Configure Prometheus alerts in the ServiceMonitor"
ServiceMonitors and NetworkPolicies are good examples on the flexibility that kubernetes can offer to developers configure theirs monitoring and networking rules.

I thought we are missing a flexibility to customize alerts because nowadays developers need access to configmap to change alerts. I'm proposing to add an object in the [ServiceMonitor](https://github.com/coreos/prometheus-operator/blob/

[2017-12-15 14:59] mbenabda commented on #513
@burdiyan you seem to have experienced the same problem i did: are you using quay.io/coreos/prometheus-operator:v0.11.3 on k8s 1.6.x ?
if that's the case, then this PR should solve it: https://github.com/coreos/prometheus-operator/pull/829

[2017-12-15 22:07] bamb00 commented on #581
@brancz

I run into this problem quite a few times where the CRDs does not get register on new k8s cluster.

Any workaround, maybe registering manually.

Prometheus-Operator: 0.14.0, K8s: 1.7.4

[2017-12-15 22:58] nuala33 opened #830 "Opening storage failed, permission denied"
Similar to #541, I am having the same issue where when I include my usual volumeClaimTemplate block to my Prometheus configuration, my pods get stuck in a crash loop with the error:
[code]
This only started happening once I upgraded from Prometheus 1.8 to 2.0.

Things I have tried:
Deleting my persistent volumes and re-adding them, and adding the following to my prometheus-k8s.yaml file:
[code]

I

[2017-12-18 08:33] odino commented on #513
@gianrubio how does it work that one's supposed to install the operathor first to then install kube-prometheus? I though [this chart dependency[(https://github.com/coreos/prometheus-operator/blob/master/helm/kube-prometheus/requirements.yaml#L7-L10) would take care of that

[2017-12-18 08:38] burdiyan commented on #513
@odino I guess master branch is not yet published to the CoreOS chart repository, and in previous versions this requirement was not there yet.

[2017-12-18 08:43] odino commented on #513
gotcha!

[2017-12-18 12:41] cofyc commented on #352
hi, guys

I am currently using Prometheus 1.8.2 managed by prometheus-operator, and want to upgrade to prometheus 2.0. Because theirs data formats are not compatible, I followed the [migration guide](https://prometheus.io/docs/prometheus/2.0/migration/) to deploy a new prometheus 2.0 instance and configure it to read old prometheus data, but found it's impossible to configure `remote_read` in `Pro

[2017-12-18 15:54] brancz commented on #815
Closing this here, but let me know if there is anything else :slightly_smiling_face: .

[2017-12-18 15:54] #815 closed

[2017-12-18 16:02] brancz commented on #581
@bamb00 do you have steps to reproduce this? I run the prometheus operator hundreds of times a month and have never encountered that. Maybe it's an RBAC issue?

[2017-12-18 17:39] brancz commented on #814
Can you please describe in more detail, what you did (which versions), what you expected to happen and what actually happened, including logs. Thanks! :slightly_smiling_face:

[2017-12-18 17:41] mmerrill3 commented on #823
Hi @brancz, we could use CommandLine instance of a flagset from the flag package, which is what glog checks when it sees if the command line has been parsed.  Glog is used b/c of the k8s client.

As opposed to creating a new flag set in main.go, just use the one from the flag package that's already there.  That's a simple enough change, and "should" stop the stderr messages in the log from glog.

[2017-12-18 21:03] denibertovic commented on #731
@brancz Is there a way to have a logical OR in the `serviceMonitorSelector`. For instance I'd like to have
the it match:
[code]

But I'd also like it to match the labale `monitor: true` (or whatever other label). Is there a way to combine matchExpression and matchLabels?

[2017-12-18 22:15] brancz commented on #731
The LabelSelector object doesn't work that way unfortunately. ServiceMonitors are definitely encouraged to be used in that way. We are working on a way to make it a bit more flexible, but for the time being you either need to unify the labels on the ServiceMonitors or segregate as you described.

[2017-12-19 05:31] oguzy commented on #814
Just running hack/cluster-monitoring/deploy under
contrib/kube-prometheus/ worked.
Now i can see the predefined dashboards.

On Fri, Dec 15, 2017 at 1:27 AM, Frederic Branczyk <notifications@github.com

--
Oğuz Yarımtepe
http://about.me/oguzy

[2017-12-19 08:35] shavo007 commented on #819
two gotchas (maybe its documented), when i exported a dashboard i was working on, it didnt work when i added it inline. i needed to wrap in a dashboard object and add in an input at the end.

[2017-12-19 10:29] mrueg commented on #816
have you run `helm dep update` inside the helm/kube-prometheus directory? This fixed it for me.

[2017-12-19 10:30] brancz commented on #816
Is this solved with #824 being merged?

[2017-12-19 10:34] brancz commented on #814
Perfect, then I'll close this here. Let us know if you run into anything else, or open a new issue! :slightly_smiling_face:

[2017-12-19 10:34] #814 closed

[2017-12-19 10:35] brancz commented on #823
:man_facepalming: I think you're right. Do you want to create the PR to fix this?

[2017-12-19 10:38] brancz commented on #819
Any PRs for additional documentation from new users is highly appreciated. We're opinionated, we know these things, you have a fresh view on it. :slightly_smiling_face:

Documentation is everything. Without documentation things don't exist.

[2017-12-19 10:41] brancz commented on #352
Certain versions of 1.x also support remote read, we will support remote read/write support with the Prometheus Operator, we just haven't gotten around to it. If anyone wants to take a stab at it, PRs are highly appreciated! (if you need some guidance I'm happy to help, even if anyone is new to Go  :slightly_smiling_face:)

[2017-12-19 11:29] gianrubio commented on #816
No @brancz, the sync didn’t work with #824, I hope it will be fixed after #831 be merged.

[2017-12-19 11:31] brancz commented on #816
(feel free to ping me on anything, I'm still not completely caught up after KubeCon)

[2017-12-19 13:42] liamawhite commented on #232
@brancz is there a reason why the tag isn't configurable? Our internal naming follows different conventions so would require some snowflake behaviour.

[2017-12-19 13:45] theogq opened #833 "How to update rules content in deployed prometheus helm chart ?"
**What did you do?**
I set the (Recording) rules in values.yaml

I deployed Prometheus helm chart from
https://github.com/coreos/prometheus-operator/tree/master/helm/prometheus
When I go to gui under `/rules`, I can see the rules that I have set.

Now I want to change some values in `etcd.rules.yml`.
I can edit configmap with
`kubectl get configmap prometheus-<NAME>-rules -oyaml > configmap.yaml`

[2017-12-19 14:04] loganasherjones commented on #830
As far as I know, setting the `securityContext` in the `Prometheus` definition shouldn't change anything. Perhaps this is something that should be allowed? I'd have to defer to the team.

In any case, I'm having this issue as well, but as far as I can tell, it's due to the fact that the provisioner I'm using ([cephfs-provisioner](https://github.com/kubernetes-incubator/external-storage/tree/master

[2017-12-19 16:19] brancz commented on #232
Techincally the Tag just has to contain the same image and the tag itself needs to be parsable by the semver parser we use, as we configure Prometheus based on the version.

[2017-12-19 16:35] loganasherjones opened #834 "External Services not showing up as a target"
**What did you do?**
I am attempting to monitor a ceph cluster with the prometheus running inside the kubernetes cluster. I created a service with `ExternalName` and an `Endpoints` inside the cluster for the external service.  I can successfully hit the endpoint from inside a pod in the cluster. I then created a `ServiceMonitor` and the configuration appeared in Prometheus, but I don't see the tar

[2017-12-19 19:19] TatyanaBol commented on #474
Hello
We use your prometheus-operator.
It fills our logs with a lot of info entries.
How can we configure log level?
Thanks

[2017-12-19 19:52] liamawhite commented on #232
so you could do something like:
[code]
but not...
[code]
or
[code]

[2017-12-19 19:55] brancz commented on #232
@liamawhite that is correct. As otherwise we don't know the version of the image we're running. We're expecting this to be equivalent, as that is the practice taken within the Prometheus project.

[2017-12-19 19:56] liamawhite commented on #232
ok, so it will be the same for alert manager and service monitor?

[2017-12-19 19:58] brancz commented on #232
Alertmanger behaves the same way, yes. ServiceMonitor does not have any associated image.

[2017-12-19 20:14] liamawhite commented on #232
ok, thanks for the help!

[2017-12-19 21:25] brancz commented on #232
Feel free to add details/new things to the docs, so in the future people have it easier to discover this type of information :slightly_smiling_face: .

[2017-12-20 11:47] xussof opened #835 "How to configure grafana.ini inside kube-prometheus"
Hi all,
I'm trying to deploy a kube-prometheus with grafana using terraform. But basically the command that terraform uses is helm install --name kube-prometheus coreos/kube-prometheus. Today has beed release the newest version of this git so grafana is allowed to be installed throught kube-prometheus-values.yaml

My question is how I can edit /etc/grafana/grafana.ini which is  afile inside the co

[2017-12-20 14:32] peterkuiper commented on #357
Tried all the above, but still no luck:

[code]
[code]

[code]

Anything else I could try?

[2017-12-20 15:09] brancz commented on #357
That's very curious, as this seems to continue to be an RBAC issue and (so far) has only ever been reported for GKE, I would try to contact their support.

[2017-12-20 22:47] brancz commented on #826
Sorry for taking so long to respond. I think your proposal is absolutely reasonable. We’re happy to review a PR for it :)

[2017-12-20 23:42] tamalsaha commented on #693
@brancz , I noticed that master branch now used client-go 5. I am wondering when do you plant to cut the next release for operator. I am trying to decide to decide whether to keep using my fork / switch to unreleased master or wait for next release . :)

[2017-12-21 01:47] shavo007 commented on #786
@shadycuz  thanks for your solution. i was trying to import dashboard and i got this issue. set id to null and it worked

[2017-12-21 08:21] brancz commented on #693
I don’t think it’s going to be before the holidays, but other than the above code generation we’re done and then we can release.

[2017-12-21 10:06] brancz commented on #827
What you are seeing in the screenshot is merely an example, most important is that you actually collect metrics with the haproxy-exporter. The `alias` label for one is pretty arbitrary, so you could also adapt the dashboard itself to fit your infrastructure. The Prometheus Operator uses the Kubernetes service discovery built into Prometheus, not static scrape configs.

[2017-12-21 11:00] brancz commented on #828
Can you elaborate on the difference on configuring alerts in the ServiceMonitor vs in a ConfigMap? Dynamic reloading that is mentioned in the tweet is taken care of by the Prometheus Operator.

I feel what you're looking for here is a general application definition abstraction on top of Kubernetes and Prometheus in general.

[2017-12-21 11:18] brancz commented on #835
Luckily Grafana allows configuring almost anything via environment variables. I would suggest to extend the helm chart to allow configuring everything to your needs.

/cc @weiwei04

[2017-12-21 11:21] brancz commented on #834
External Services are currently not supported by Prometheus, therefore we don't have any possibility to support it either yet. There have been some attempts at it though, that I believe just need to be finished up.

Related:
* https://github.com/coreos/prometheus-operator/pull/372
* https://github.com/prometheus/prometheus/issues/2791

[2017-12-21 11:25] brancz commented on #830
This is probably the crooks of the issue. The Prometheus docker image changed from `root` user to `nobody`. I can imagine that to be a problem if you use the same volume in 1.x and the upgrade to 2.0 and all the permissions are already set. You may be able to just chown everything to your user, that's what I would try. If not I recommend starting with a new clean volume.

[2017-12-21 11:27] brancz commented on #833
The charts are in some ways (like this) in a somewhat rough shape, which is why they are in pre-alpha stage. All rules should in my opinion should simply be a value passed to the kube-prometheus stack, instead of a hardcoded configmap.

/cc @gianrubio

Related to #592

[2017-12-21 13:34] #474 closed

[2017-12-21 14:04] #746 closed

[2017-12-21 16:44] k1-hedayati commented on #816
Trying to install operator and running into same issue

[2017-12-21 16:46] mattnworb commented on #357
For what it is worth, `gcloud auth list` and `gcloud config get-value account` might be an easier way to check the currently configured account name.

[2017-12-21 17:14] brancz commented on #357
@mattnworb feel free to open a PR to improve docs where possible :slightly_smiling_face:

[2017-12-21 17:59] nrobert13 opened #838 "generate-manifests.sh fails"
**What did you do?**
trying to regenerate maniests.
**What did you expect to see?**
a working manifests/grafana/grafana-dashboards.yaml.
**What did you see instead? Under which circumstances?**
[code]
there are no dashboard.json files:
[code]
**Environment**

* Kubernetes version information:

$ kubectl version
[code]
* Kubernetes cluster kind:

	kubespray
* Manifests:
* Prometheus Operator Logs:

[2017-12-21 20:38] brancz commented on #838
All of those scripts are in a `hack/` folder. We provide no guarantee other than that we make sure that they run successfully with the provided Dockerfile.

I recommend to just do this:

[code]

[2017-12-21 20:38] #838 closed

[2017-12-22 15:57] brancz commented on #693
With much delay we're finally there. The `DeepCopy` functions are properly generated. I'm going to close this here as the issue in itself is resolved, we just need to release.

Happy holidays! :tada:

[2017-12-22 15:57] #693 closed

[2017-12-22 16:01] #760 closed

[2017-12-22 16:05] brancz commented on #759
Can you elaborate? Exporters are run in Kubernetes just like any other workload.

[2017-12-22 16:06] brancz commented on #763
I'll close this here, feel free to re-open or create a new issue, if your problem has not been resolved.

[2017-12-22 16:06] #763 closed

[2017-12-22 16:07] brancz commented on #732
I'll close this here. If you have follow-up questions feel free to re-open or create a new issue.

Happy holidays! :tada:

[2017-12-22 16:07] #732 closed

[2017-12-22 16:09] brancz commented on #228
I've released [kube-rbac-proxy](https://github.com/brancz/kube-rbac-proxy) exactly for this case, you can use it to perform RBAC authentication/authorization so only your Prometheus pod can request the node-exporter endpoint.

Closing this here :tada:. One of our oldest issues :slightly_smiling_face: .

[2017-12-22 16:09] #228 closed

[2017-12-22 16:09] brancz commented on #249
With helm you can now choose what do deploy of the kube-prometheus stack. Closing this here.

[2017-12-22 16:09] #249 closed

[2017-12-22 16:11] brancz commented on #407
Closing this due to staleness. Feel free to continue to comment or re-open if you continue to have a problem on the latest release.

[2017-12-22 16:11] #407 closed

[2017-12-22 16:12] brancz commented on #426
Prometheus 2.0 is now the standard everywhere in this repo, and should solve your problems. Feel free to report new issues or re-open this one if you continue to have problems.

[2017-12-22 16:12] #426 closed

[2017-12-22 16:13] brancz commented on #486
With #755 merged, I'll close this here.

[2017-12-22 16:13] #486 closed

[2017-12-22 16:14] brancz commented on #491
Where possible it's now implemented. :tada: Closing here.

[2017-12-22 16:14] #491 closed

[2017-12-22 16:15] brancz commented on #513
This should now be fixed, we are now automatically uploading new versions as they are bumped and merged.

[2017-12-22 16:46] jordanjennings commented on #513
@brancz Thanks for getting the latest versions synced up! Can this issue remain open until the original concern is addressed of adding information to the readme on how to actually use the charts? I'm installing via the scripts right now and would prefer to move to the chart but not really sure how to do it.

[2017-12-22 20:11] lucasvel commented on #746
@brancz do you know when a new release should be out with this fix?

[2017-12-22 21:00] brancz commented on #746
Not before the holidays but probably soon after :) happy holidays.

[2017-12-22 21:36] brancz commented on #513
Thanks for your response. I’m fine with re-opening for that purpose.

[2017-12-26 07:19] sujithnss opened #845 "k8sControllerManagerDown/k8sSchedulerDown alerts happening daily"
Hi Team

I'm novice to here and i have set up the prometheus-operator in Kubernetes Cluster. But daily I'm seeing the below alert. I'm not sure what went wrong and where to trace the issue. Kindly please help me.

- 1 alert for alertname=K8SSchedulerDown

- 1 alert for alertname=K8SControllerManagerDown

* Kubernetes version information:

	Client Version: version.Info{Major:"1", Minor:"8", GitVers

[2017-12-28 20:36] luisyonaldo opened #846 "Helm install fail due to missing CustomeResourceDefinition"
**What did you do?**

``` helm install helm/kube-prometheus```

**What did you expect to see?**

Install `kube-prometheus` dependencies (`prometheus`, `prometheus-operator`, etc..).

**What did you see instead? Under which circumstances?**

**Environment**

* Kubernetes version information:

	Client Version: version.Info{Major:"1", Minor:"8", GitVersion:"v1.8.4", GitCommit:"9befc2b8928a9426501d3bf

[2017-12-29 10:10] stijndehaes opened #847 "Error during start up"
**What did you do?**
I was doing a rolling upgrade of my kubernetes cluster. And thus the  operator pod has been resceduled.

**What did you expect to see?**

I expected the pod to start up correctly.

**What did you see instead? Under which circumstances?**

It kept crashing with the following logs:

[code]

**Environment**
aws cluster

* Kubernetes version information:

[code]

* Kubernetes clus

[2018-01-02 07:00] gianrubio commented on #846
Prometheus-operator is not a dependency for kube-prometheus, you should install prometheus-operator before installing kube-prometheus. We're missing a README form kube-prometheus, and we been working to have a better helm charts, this issue is already mapped on https://github.com/coreos/prometheus-operator/issues/592

[2018-01-02 07:02] gianrubio commented on #847
Somewhere, in your CRD, you have a int value that should be a string. Could you dump your Prometheus crd using `kubect get prometheus --all-namespaces -o yaml` ?

[2018-01-02 08:15] luisyonaldo commented on #846
but it is a dependencies according to `requirements.yaml`, isn't it? @gianrubio

[2018-01-02 08:21] gianrubio commented on #846
hum...it's a mistake in the requirements [that will be fixed](https://github.com/gianrubio/prometheus-operator/blob/59421f7018bbeaabbec27631d882b6a7ab521a1d/helm/kube-prometheus/requirements.yaml#L63) on #592.

Could you try to install prometheus-operator before installing kube-prometheus?

[2018-01-02 08:24] luisyonaldo commented on #846
yes if you do it like that it works, just didn't get why if it is a dependency (so helm will try to install it before running the `kube-prometheus` chart) it fails if you haven't installed `prometheus-operator` chart yet.

[2018-01-02 08:24] #846 closed

[2018-01-02 08:31] gianrubio commented on #846
It's a race condition, kube-prometheus need the `crd` that is going to be created by prometheus-operator, because takes few seconds to create the crd kube-prometheus fails.

[2018-01-02 08:36] KeithTt opened #848 ""Basic auth failed"、"User not found" when access grafana."
kube version: 1.8.4
OS version: debian stretch

There returns `{"message":"Basic auth failed"}` on the web ui.
![image](https://user-images.githubusercontent.com/15189954/34478190-783d143c-efda-11e7-94df-2dc0b31f9112.png)
And this is the logs:
[code]

I just followed this page: https://github.com/coreos/prometheus-operator/tree/master/contrib/kube-prometheus and exec the command `hack/cluster-moni

[2018-01-02 09:16] elisiano commented on #848
the default grafana user is `admin`/`admin`.

[2018-01-02 09:29] KeithTt commented on #848
@elisiano There is not a login box... just response this error message.

[2018-01-02 09:34] elisiano commented on #848
I have limited experience but if I understand it correctly you cannot access the grafana service from outside (at least out-of-the box, you can expose it if you want).
The easiest way to get started is to create a proxy with `kubectl proxy` and then in the browser you open `http://127.0.0.1:8001/api/v1/namespaces/monitoring/services/grafana:3000/proxy`

[2018-01-02 09:38] KeithTt commented on #848
I have exposed the service, the problem is about `auth`, this means I can open the web page but can not access it.

[2018-01-02 10:37] stijndehaes commented on #847
I have delete all the CRD resources and recreated all config to continue my upgrade. Otherwise my cluster was unusable.

Here is the recreated config, this should normally be the same as the one that was present on the cluster. Only replicas and cpu requests and limits are integer values. So maybe cpu request or limit could be causing the error?

This ia

[code]

[2018-01-02 10:46] gianrubio commented on #847
That's my guess, try to quotes these values.  ex:
[code]

[2018-01-02 10:52] stijndehaes commented on #847
I will do that but still shouldn't there be validation that won't allow me create it without the quotes?

[2018-01-02 11:34] gianrubio commented on #847
CRD validation just appears on [k8s 1.9](https://github.com/kubernetes/kubernetes/issues/53829), my guess is this will be done in further releases.

[2018-01-02 13:43] gianrubio commented on #848
@KeithTt  please check if the grafana configmaps are correcly loaded by kube-prometheus. By default the [basic-auth is disabled](https://github.com/coreos/prometheus-operator/blob/62096c84d3b659f118fdfe13aeffe89bc4747866/contrib/kube-prometheus/assets/grafana/prometheus-datasource.json#L3) on grafana

Could you also dump the grafana configmap?

[2018-01-02 13:48] KeithTt commented on #848
@gianrubio I found this sec in the cm:

[code]

[2018-01-02 13:50] KeithTt commented on #848
Here is the whole file:

[code]

[2018-01-02 14:06] gianrubio commented on #848
Sorry, but I realize that the basicAuth flag is to allow grafana access to the datasource not to your browser reach grafana. What happens if you forward the traffic using `kubectl port-forward  grafana-558c5b5d-bhg8g -n monitoring 3000:3000` and opening your browser at http://localhost:3000 ?

[2018-01-02 14:09] KeithTt commented on #848
There is already a port on my node `30900` which proxies grafana, I think it will not help to proxy another port.

[2018-01-02 15:59] stijndehaes commented on #847
Ok sounds like a valid plan :) Thanks for helping. I will close the ticket.

I don't see a ticket yet to implement the CRD validation, should there be on added to the backlog?

[2018-01-02 15:59] #847 closed

[2018-01-03 00:35] bamb00 commented on #581
The steps are pretty simple to reproduce.  I would run the script on a fresh CentOS 7.3 environment VM the CRD does not get register.  Then reran the script moment later the CRDs gets register.

[2018-01-03 01:29] KeithTt commented on #848
@gianrubio How to disable this feature, or how to login with this feature?

[2018-01-03 08:38] KeithTt commented on #724
Also find this problem in the webui of prometheus:

![image](https://user-images.githubusercontent.com/15189954/34513666-51561e7a-f0a4-11e7-8590-d842a58dd48c.png)

[2018-01-03 09:21] KeithTt commented on #633
In my case, I just let 4194 been listened, and they worked.

--cadvisor-port=0 disables cAdvisor from listening to 0.0.0.0:4194 by default. cAdvisor will still be run inside of the kubelet and its API can be accessed at https://{node-ip}:10250/stats/. If you want to enable cAdvisor to listen on a wide-open port, run:

[code]

[2018-01-03 09:28] gianrubio commented on #848
@KeithTt tust to be clear, do you have the same error if you reach grafana using the node port? Seeing the first screenshoot I guess you're exposing grafana with a ingress/proxy maybe it's related to the error.

[2018-01-03 10:07] brancz commented on #633
Actually CIS requires `cadvisor-port=0`, so I recommend everyone to use the `/metrics/cadvisor` path. I'll leave this open as we need to fix it for kube-prometheus.

[2018-01-03 10:09] brancz commented on #724
Starting with Kubernetes 1.9 this is fixed with the lease endpoint reconciler. Before that this is a known issue in Kubernetes causing this. With Kubernetes 1.9 simply pass:

[code]

To your apiserver and the problem will disappear :slightly_smiling_face: .

[2018-01-03 10:09] #724 closed

[2018-01-03 10:13] brancz commented on #581
Could you elaborate a bit more @bamb00 ? Which environment, how can I reproduce this?

[2018-01-03 11:04] brancz commented on #845
I'm guessing you're not actually monitoring the scheduler and controller manager, can you have a look at the `/targets` page of your Prometheus server and check whether there is a healthy scheduler and controller manager?

[2018-01-03 15:55] mmerrill3 commented on #823
@brancz, sure, I'll run my changes locally today.

[2018-01-03 16:28] mmerrill3 commented on #823
Opened https://github.com/coreos/prometheus-operator/pull/849

[2018-01-03 17:26] adamdecaf opened #850 "error: unable to recognize ... no matches for monitoring.coreos.com/, Kind=ServiceMonitor"
**What did you do?**

I was following the [getting started guide](https://coreos.com/operators/prometheus/docs/latest/user-guides/getting-started.html) and wanted to put everything into a new namespace. Being fairly new to k8s, I added `metadata.namespace` onto every object, which caused the failure below.

[code]

**What did you expect to see?**

Everything to work according to the guide.

**Envi

[2018-01-03 17:27] adamdecaf commented on #850
It took a bit to solve this so hopefully others find this issue helpful. Google didn't return any results.

After deleting everything and removing `namespace: prometheus` from the `ClusterRoleBinding` and `ClusterRole` objects everything works!

[2018-01-03 17:27] #850 closed

[2018-01-03 17:48] crandles opened #851 "Support tmpfs as a storage option"
Instead of defaulting to emptydir volumes, I'd like to use a tmpfs volume. Is this a change that would be accepted upstream?

This section would need to allow for the EmptyDir.Medium to be set to "Memory"
https://github.com/coreos/prometheus-operator/blob/281d3e7d5c26e72ad66871cee503bc183c1bc6a1/pkg/prometheus/statefulset.go#L137-L142

To support this, I think an additional configuration would nee

[2018-01-03 22:07] gianrubio commented on #816
After #853 all charts are in sync, the recommend way to install kube-prometheus is:

[code]

[2018-01-03 22:10] gianrubio commented on #592
Charts finally got synced with s3, everyone can enjoy prometheus 2.0 using helm :)

[code]

[2018-01-03 22:20] travisn opened #854 "Prometheus pod failed to start with db "Locked by other process""
**What did you do?**
Prometheus was happily collecting metrics in the k8s cluster. There was a shutdown of a machine due to power outage. When the machine was brought back up, the prometheus pod failed to start.

v0.14.1 of the prometheus operator was running.

**What did you expect to see?**
Expected prometheus to start up successfully again after the node restart.

**What did you see instead? Un

[2018-01-04 01:09] KeithTt commented on #848
@gianrubio I just deploy the components with the script, and don’t modify the ports manually.

And I just run the code, didn’t  add ingress or something else.

All I did is that:
- Run the scrip to deploy it.
- Use a external nginx to proxy the node port.
- Access the nginx by a browser.

Maybe we can only access the service by the internal IP and with the URI of the API?

[2018-01-04 06:42] gianrubio commented on #848
That's what I was trying to ask you to do, my guess is your nginx ingress is injecting headers. Try to reach the grafana pod directly using a svc or the pod ip.

[2018-01-04 09:15] KeithTt commented on #848
Our office and machine room are in different place, I can not access the internal IP directly, so I use a nginx proxy, but this nginx is not ingress, just a external nginx...

And can you tell the relevant headers and I will try to check my nginx proxy...

[2018-01-04 09:21] gianrubio commented on #848
In that case run the [echoheaders pod](https://github.com/kubernetes/contrib/tree/master/ingress/echoheaders) to dump the requests.

There's no relevant headers, my assumption is that your nginx is injecting a header like `Authorization` or `WWW-Authenticate`

[2018-01-04 09:30] brancz commented on #854
Thanks a lot for reporting! We seem to have missed to add that flag. I'll create a fix.

[2018-01-04 09:38] brancz commented on #851
I would propose to add the `medium` and `sizeLimit` fields to the `StorageSpec`, then one can override the fields as wanted. Wdyt?

[2018-01-04 11:12] #854 closed

[2018-01-04 14:38] crandles commented on #851
That sounds good. I'll have a PR ready for this soon.

[2018-01-04 14:45] moos3 opened #856 "share influxdb with heapster"
Is there a way to share the same influxdb as say heapster? So that all the data is collected in the same sink? this would help with tools like kapacitor and cluster autoscaler.

**Environment**

* Kubernetes version information:
Client Version: version.Info{Major:"1", Minor:"8", GitVersion:"v1.8.4", GitCommit:"9befc2b8928a9426501d3bf62f72849d5cbcd5a3", GitTreeState:"clean", BuildDate:"2017-11-20T1

[2018-01-04 15:01] crandles commented on #851
Would it make sense to add a layer between StorageSpec & these emptyDir configurations?

[code]

I think it may make the documentation clearer if those values that only affect the emptyDir usage are not top-level, as right now anything related to the use of a volume is under `volumeClaimTemplate`

[2018-01-04 22:10] bamb00 commented on #581
Run the 'deploy' script in a fresh environment below.

OS: CentOS 7.3
Kernel: Linux 3.10.0-514.el7.x86_64
Client Version: version.Info{Major:"1", Minor:"7", GitVersion:"v1.7.4", GitCommit:"793658f2d7ca7f064d2bdf606519f9fe1229c381", GitTreeState:"clean", BuildDate:"2017-08-17T08:48:23Z", GoVersion:"go1.8.3", Compiler:"gc", Platform:"linux/amd64"}
Server Version: version.Info{Major:"1", Minor:"7", G

[2018-01-04 22:12] bamb00 commented on #581
I have a question regarding the behavior when CRDs get register.

The prometheus-operator container has to be 'running' before the CRDs actually get register?

[2018-01-05 06:58] shenshouer commented on #375
I used the Ceph RBD as storage of prometheus, but the prometheus delete all data before at 8:00 AM every day. How to set to keep all data of prometheus ?

[2018-01-05 07:12] KeithTt commented on #848
@gianrubio Finally I find the problem, thanks a lot for your time.

And I can not connect to the datasource....

![image](https://user-images.githubusercontent.com/15189954/34598756-9a6749b4-f229-11e7-9a5f-92739cfd3b75.png)

[2018-01-05 07:21] brancz commented on #375
You just need to set the retention field in the Prometheus object.

[2018-01-05 07:38] brancz commented on #581
Yes. The Prometheus pod starts running and will register the CRDs. Only then can you start creating Prometheus, alertmanager and servicemonitor objects.

[2018-01-05 07:39] brancz commented on #851
That sounds like a better idea, yes. Looking forward to the PR! :)

[2018-01-05 08:31] gianrubio commented on #848
Please share what was your issue so other users can have the same benefit in the further.

I have some questions related to the next error that can help you to figure it out.

What are the status of the prometheus pod?
Can you reach the prometheus pod inside the cluster? Tip: use kubectl exec
Can you reach the prometheus service inside the cluster from the grafana container? (use the same address

[2018-01-05 09:25] KeithTt commented on #848
The issue is that there is another auth in my nginx, and it lead to the problem...recovered after removing it. Oops.....

1、the prometheus pods are running.
[code]

2、Yes, I can reach the prom pod.
[code]

3、there is no response when I use curl to access it.
[code]

So, it seems there is something wrong with dns?

[2018-01-05 09:37] gianrubio commented on #848
I don’t think is a dns problem otherwise you’ll get a dns error. Does it
connect using the pod ip?

On Fri, 5 Jan 2018 at 10:25, KeithTt <notifications@github.com> wrote:

--
Giancarlo Rubio

[2018-01-05 09:46] KeithTt commented on #848
@gianrubio Yes, it can connect with pod IP:

[code]

[2018-01-05 15:57] simon-k8s opened #860 "kube-prometheus persistent volumes"
**What did you do?**

I configured kube-prometheus with the vaules.yaml. The I tried to install the charts in the recommended way:

[code]

**What did you expect to see?**

I expected to see a complete prometheus installation. Including the prometheus operator a few exporter the alertmanager and grafana.

What did you see instead? Under which circumstances?

The exporter pods were created and the

[2018-01-05 18:25] whereisaaron opened #861 "[kube-prometheus] Helm chart won't deploy without TPR/CRDs in place"
**What did you do?**

[code]

**What did you expect to see?**

Prometheus deployed

**What did you see instead? Under which circumstances?**

[code]

**Environment**

Kubernetes 1.8 with RBAC

* Kubernetes version information:

[code]

* Kubernetes cluster kind:

[`kube-aws`](https://github.com/kubernetes-incubator/kube-aws)

* Manifests:

Used the [Helm chart](https://github.com/coreos/prometheus

[2018-01-05 18:40] whereisaaron commented on #861
Found a [comment in another issue](https://github.com/coreos/prometheus-operator/issues/592#issuecomment-355142097) by @gianrubio. Looks like the missing bootstrap info for `helm/README.md`!

[code]

[2018-01-05 18:47] whereisaaron commented on #861
Added a helm/README.md with this vital bootstrap info in PR #863

[2018-01-05 19:13] gianrubio commented on #861
Indeed is a chicken egg problem, maybe we can solve using a pre-install hook in a job to check if the `crd` is created, something like this [job](https://github.com/coreos/prometheus-operator/blob/master/helm/prometheus-operator/templates/get-crd-job.yaml)

[2018-01-05 20:30] whereisaaron commented on #861
True, except I think that hook just waits for the CRDs to exist - which will never happen if you only install 'kube-prometheus'. But, you could do that as a pre-install hook for things that need the CRDs, and then include 'prometheus-operator' and a 'kube-prometheus' sub-chart. So all the other charts will wait (on the hook) for 'p-o' to start-up and create the CRDs?

[2018-01-05 21:09] gianrubio commented on #860
The [storage spec](https://github.com/coreos/prometheus-operator/blob/master/Documentation/user-guides/storage.md#manual-storage-provisioning) was changed in previous version and the helm example haven't been update.

Please remove the previous installed charts, change the storageSpec and install it again.

[code]

Note: Since the last kube-prometheus chart update, grafana is installed [by default

[2018-01-05 21:14] whereisaaron commented on #861
@gianrubio I found this in an old pre-helm prometheus-operator deployment script I wrote. I wonder if it is a debateable design decision that p-o run time creates the TPR/CRDs at run time.? When you `helm delete` the chart, the TPR/CRDs get left behind, they don't get cleaned up. If the TPR/CRDs were part of the deployment manifest (with or without Helm) we wouldn't have some of this awkwardness,

[2018-01-05 21:19] gianrubio commented on #861
Related to helm delete, I have an old PR https://github.com/coreos/prometheus-operator/pull/433 to fix that. Do you mind to test it?

[2018-01-05 21:28] whereisaaron commented on #861
Sure, once I get it working first :-)
(The helm chart has no option to add Ingress resources...)

[2018-01-06 21:45] jason-riddle commented on #357
Based on @ngtuna's response, here's what I did to streamline the process a bit further.

[code]

@mattnworb Both `gcloud auth list` and `gcloud config get-value account` still returned the incorrect un-capitalized email address for me.

[2018-01-07 05:25] KeithTt commented on #848
@gianrubio I check the dns pod, the dns config is the same as the node, should I modify anything or add anything?

Grafana can get data by pod IP:

![image](https://user-images.githubusercontent.com/15189954/34646859-f16ad782-f3ad-11e7-98aa-49494934f73a.png)

But the status of controller-manager and scheduler can not be displayed, my k8s cluster is a HA cluster, I have 3 controller-managers and 3

[2018-01-07 23:31] #817 closed

[2018-01-08 02:11] thoslin commented on #845
Got the same issue here. Check the targets page, no scheduler or controller monitored. Are we supposed to add these targets manually? I'm just wondering if these targets are not set up by default, should the rules be excluded by default?

[2018-01-08 05:16] kvranjith opened #866 "Make generate fails"
**What did you do?**
want to update my EMail detail to altermanager.yaml

**What did you expect to see?**
want to receive alert email
**What did you see instead? Under which circumstances?**
ERROR:

docker run --rm -it --workdir /data -v :/data coreos/generate-prometheus-operator-manifests ./hack/scripts/generate-manifests.sh
Unable to find image 'coreos/generate-prometheus-operator-manifests:late

[2018-01-08 08:26] simon-k8s commented on #860
@gianrubio cheers that fixed the problem. I now have two volumes one for the alertmanager and one  for prometheus. Will you add an option to create a pv for the grafana installation?

[2018-01-08 08:35] KeithTt commented on #848
Finally, I resolve the dns issue, the dns inherits from the node, and I modify the dns config of the node `/etc/resolv.conf` like this:
[code]
Then I delete the grafana pod and restart it, and it works.

I followed the official guide: https://kubernetes.io/docs/tasks/administer-cluster/dns-custom-nameservers/

[2018-01-08 09:15] gianrubio commented on #860
@simon-k8s glas to help you, I'll do a PR to fix the docs.

 I don't think you need a pv for grafana, all the configurations are loaded during the bootstrap of the grafana container. If you want to change configuration I'd recommend you to do in the configmaps.

[2018-01-08 09:21] brancz commented on #845
This sadly depends on the way you have setup your cluster. A while ago I tried to push for some normalization across install methods, but it didn't lead anywhere.

You need to make sure there is an `Endpoints` object in the `kube-system` namespace that exposes the IPs of your controller-manager and scheduler. In a self-hosted environment (for example created through bootkube) it is enough to simpl

[2018-01-08 13:26] brancz commented on #866
That's interesting, which directory are you calling `make generate` from? And are you on current master?

[2018-01-08 20:20] luisyonaldo opened #867 "kube-prmetheus kubelet exporter target forbidden"
**What did you do?**
[code]

**What did you expect to see?**
All prometheus exporter targets on prometheus dashboard

**What did you see instead? Under which circumstances?**
target on prometheus dashboard: `server returned HTTP status 403 Forbidden`

**Environment**
RedHat

* Kubernetes version information:
[code]

* Kubernetes cluster kind:

	kube-spray/kube-admin

* Manifests:
Kubelet Service M

[2018-01-08 23:36] shamsalmon commented on #845
If you are using kops those self-hosted ones should fix your issue. They did for me.

[2018-01-09 11:44] brancz commented on #867
It's slightly more tricky with the kubelet. I actually have a branch ready to do this with the kubelet. See here: https://github.com/brancz/prometheus-operator/commit/0b96a8d86716e47b2c1028e2930c8aeca4ae8b3a

What you need to make sure though, is that these two flags are enabled on your kubelets:

* `--authentication-token-webhook`
* `--authorization-mode=Webhook`

I will open a PR and merge that

[2018-01-09 12:10] luisyonaldo commented on #867
yes I can confirm it work, `--authentication-token-webhook` did the trick for me, also added the role permit

[2018-01-09 13:06] brancz commented on #867
Awesome! Glad it helped, will close this here.

[2018-01-09 13:06] #867 closed

[2018-01-09 17:36] KeithTt commented on #848
Then.....I found I missed a part: https://github.com/coreos/prometheus-operator/tree/master/contrib/kube-prometheus#monitoring-other-cluster-components

After creating these two files, controller-manager and scheduler turn up.

Thanx a looooooot for your time!! @gianrubio

Close it.

[2018-01-09 17:36] #848 closed

[2018-01-09 21:31] brancz commented on #618
As #770 is merged I'll close this here.

[2018-01-09 21:31] #618 closed

[2018-01-10 11:48] KeithTt opened #870 "failed to get componentstatus after modify 127.0.0.1 to local IP."
Defaultly, endpoints of controller-manager and scheduler all listen to `127.0.0.1`, but in prome-operater they are node ip:

![image](https://user-images.githubusercontent.com/15189954/34771318-1781aa84-f63f-11e7-910c-b8f46d0cc56a.png)

After modifying the ip address, then I found this problem:
[code]

[2018-01-10 12:46] tomplus opened #871 "using external Alert Manager"
**What did you do?**

I want to use an external AlertManager (not deployed on K8s cluster) but I can't see any way to do it. There are no options to point external Service as AlertManager.

**What did you expect to see?**

I created AlertManager service:

[code]
But Prometheus needs endpoints (which need IP addresses, which I don't want to store there).

Or maybe an option to add something to the

[2018-01-10 13:02] brancz commented on #871
You only need to make sure that your Alertmanager cluster IPs are in an `Endpoints` object, then it can be "discovered" like any other Alertmanager as if it was running on Kubernetes. Make sure though that *all* Alertmanager nodes are discovered, as that's the HA contract between Prometheus and Alertmanager.

[2018-01-10 13:11] tomplus commented on #871
Yes, I did such test:

[code]
and Prometheus found it. But I have to store IP address there :/ It's external address of loadbalancer, it can change and so I have to synchronize it somehow.

[2018-01-10 13:40] brancz commented on #871
Yeah, you would need some shim to sync that. Once again though, you need to absolutely make sure it's not just one IP of your Alertmanager cluster, but all IPs.

[2018-01-10 14:30] #851 closed

[2018-01-10 18:05] KeithTt commented on #870
Yes, the prome-operator is working now.

Controller-manager and Scheduler only listen `127.0.0.1` by default, but operator get data from node ip like `192.168.5.42, ...`, and I modify the config file from `127.0.0.1` to node ip, then I found the status of controller-manager and scheduler turn Unhealthy, because it get data from `127.0.0.1`...

[code]

[2018-01-10 18:37] brancz commented on #870
simply listen on all interfaces `0.0.0.0` that should satisfy both

[2018-01-10 19:35] rlguarino opened #873 "Prometheus Operator does not respect changes made by K8s initializers"
**What did you do?**

Tried starting a Prometheus cluster with Prometheus Operator on [Istio](https://istio.io) with auto-sidecar-injection turned on.

**What did you expect to see?**

A Prometheus cluster's statefulset is running and in the Istio Mesh.

**What did you see instead? Under which circumstances?**

A Prometheus cluster starts but is not in the mesh. There are no istio-sidecar containe

[2018-01-11 02:21] KeithTt commented on #870
I have 3 controller-manager and 3 scheduler, to ensure there is only one instance can modify the status of the cluster in a time, in theory they should not listen on `0.0.0.0`......

[2018-01-11 08:27] danielm0hr opened #875 "[helm/grafana] grafana-watcher can't reach grafana on localhost"
**What did you do?**

Deployed the Grafana helm chart.

**What did you expect to see?**

grafana-watcher updating the Grafana dashboards trough its REST API.

**What did you see instead? Under which circumstances?**

The grafana-watcher application can't reach grafana which is running in the same pod. What I see in the grafana-watcher log:
```Get http://admin:admin@localhost:3000/api/datasources:

[2018-01-11 08:54] brancz commented on #870
I don't understand what HA has to do with not binding against `0.0.0.0`. Can you elaborate?

[2018-01-11 10:14] brancz commented on #875
Which container runtime are you using? I'm expecting this not to be a problem with the chart or the Prometheus Operator. Can you just try changing the address from localhost to `127.0.0.1`?

[2018-01-11 10:27] danielm0hr commented on #875
Container runtime is Docker v1.13.

As I wrote: Yes, it works, when changing the address to ```127.0.0.1```. However, ```localhost``` is hardcoded in the Helm chart's deployment manifest. Thus, this would be a code change.

But: When doing a ```telnet localhost 3000``` from inside the grafana-watcher container, I can reach grafana. There, ```localhost``` resolves to ```127.0.0.1```. But why not in

[2018-01-11 11:05] brancz commented on #875
Grafana has started implementing the functionality we implemented with the grafana-watcher in the latest versions, so I'm not inclined to start debugging code that is on my list to be removed. Would just updating the chart to use `127.0.0.1` work for you?

[2018-01-11 12:21] danielm0hr commented on #875
Yes, that's fine for me. Please see my PR above. Thanks!

[2018-01-11 13:13] luisyonaldo opened #879 "Broken prometheus targets and grafana dashboard after kube-prometheus install"
**What did you do?**
[code]

**What did you expect to see?**
All kubernetes components being target by prometheus exporters and grafana dashboards working.

**What did you see instead? Under which circumstances?**
Some targets not being show on prometheus and some grafana metrics not working because the target job label is wrong.

**Environment**

* Kubernetes version information:
[code]

* Kubern

[2018-01-11 13:20] brancz commented on #879
I'm not sure where it does this in the helm charts, but in the bare kube-prometheus manifests, we have the discovery services for different types of clusters:

https://github.com/coreos/prometheus-operator/tree/master/contrib/kube-prometheus/manifests/k8s

Sounds like we just need to have a "cluster type" variable in the helm charts and select the labeling through that.

[2018-01-11 13:36] philicious commented on #357
@jason-riddle your code snippet is nice but only working for roles/owner. it can happen that the user is a `roles/container.clusterAdmin` but not a project owner.
`gcloud auth list` and `gcloud config get-value account` also return the all lowercase user for me

[2018-01-11 14:17] #826 closed

[2018-01-11 15:43] luisyonaldo commented on #879
still on WIP https://github.com/coreos/prometheus-operator/pull/881

[2018-01-11 16:15] luisyonaldo commented on #879
about the grafana dashboard issue.. already validate it. Issue is that on promehteus relabeling the job name will be set to service name. So there are two options, set services names inside the exporters to match the ones defined in grafana dashboard config, or change the grafana ones to match the exporter services names. The later one imply needing to pass kube-exporter sub chart names to grafana

[2018-01-11 22:50] nuala33 commented on #830
Hey @brancz! I wasn't sure who the correct user should be, because my user had been "nfsnobody" all along on my NFS server (it wasn't root originally). But what I did do is make sure all the Prometheus storage files on my NFS host were chmod 777'd, and from there my pods were able to start up running the new version (Prometheus 2.0). However, when I looked at all my old files that were still there

[2018-01-12 02:52] KeithTt commented on #870
Change address to `0.0.0.0`, everything turns working, and lease lock is normal.

![image](https://user-images.githubusercontent.com/15189954/34857518-26fbe414-f786-11e7-8009-2996786a6a6f.png)

I guess I miss understand something, I will do my homework in this weekend.

And I found a guide, there is a config file where they listen on `0.0.0.0`.

@brancz Thanks a lot. Close it.

[2018-01-12 02:52] #870 closed

[2018-01-12 08:35] KeithTt opened #883 "Alerting DeadMansSwitch"
kube version: 1.9.1

I stop a kubelet on one node when I test email-alert config, after that I start the kubelet, alerts disappear except this one.

![image](https://user-images.githubusercontent.com/15189954/34866164-87e69938-f7b6-11e7-978a-f1cf89a756fa.png)

How to deal with this alert?...

[2018-01-12 08:39] wleese commented on #729
What's the status of this? :)

[2018-01-12 08:42] wleese commented on #695
Any progress on this? :)

[2018-01-12 08:57] brancz commented on #830
Thanks for the elaborate comment @nuala33! All of that looks correct, except that the lock shouldn't be there, but we're fixing that with #855, and are about to do a release with that fix. Note that NFS is a bit wonky though, we've seen a couple of odd things being reported to Prometheus when using NFS as it's not POSIX compliant and we require that in Prometheus (see https://github.com/prometheus

[2018-01-12 08:59] brancz commented on #729
Unfortunately the Prometheus config is a bit limited so there is only so much we can do. I have a POC of something that should work for the majority of cases, but not where I would like to get. I might add and release what I have, but mark it as experimental and hopefully we can get the Prometheus config to be more flexible to accommodate the use cases I have in mind.

[2018-01-12 09:00] brancz commented on #695
We added relabeling support for the remote read/write and metric relabeling, so I'd suggest that we add full relabeling capabilities to the ServiceMonitor/Endpoints object as well.

[2018-01-12 09:19] brancz commented on #883
The `DeadMansSwitch` is intended to fire at all times. It makes sure that your entire alerting pipeline actually works.

Basically it verifies, that Prometheus can reach Alertmanager, and Alertmanager can reach your notification provider. PagerDuty for example has an integration called DeadMansSnitch, which pages you, when an alert _is not_ firing. Basically when you get paged about this, it means

[2018-01-12 09:19] #883 closed

[2018-01-12 09:47] KeithTt commented on #883
@brancz Thanks for your time.

How to check that Prometheus can reach Alertmanager?

I can receive emails about this alert.

![image](https://user-images.githubusercontent.com/15189954/34868888-2dbfc09c-f7c0-11e7-962a-9d6e4a2f5e9e.png)

Does this mean Prometheus can reach Alertmanager?

[2018-01-12 13:25] brancz commented on #883
Yes, but you probably don't want to actually send that alert via email. I highly recommend not using email as your notification mechanism, as it doesn't support anything like a deadmansswitch. If you want to use email then I would suggest to configure alertmanager not to send alerts with severity "none".

[2018-01-12 13:27] #875 closed

[2018-01-12 17:11] trevrosen commented on #352
Per these [release notes](https://github.com/coreos/prometheus-operator/releases/tag/v0.16.0), it would seem that `remote_storage` is now supported in the latest release. Is this ticket still open pending documentation of feature usage?

[2018-01-12 19:26] klausenbusk commented on #228
Was this fixed? or is it expected that everyone can pull out `node-exporter` and `kubelet` metric if they know the public ip?

v1.8.3 bootkube k8s cluster running at DigitalOcean

[2018-01-13 07:40] KeithTt commented on #883
So this alert does not need to deal with?

And how to config alertmanager not to sent alert with severity "none"?...

[2018-01-13 08:13] brancz commented on #228
The kube prometheus manifests use the kube-rbac-proxy to secure it. That doesn’t shelter it from public access, but the actual goal here was to secure it in a way where one cannot anonymously access the metrics. For the kubelet you simply need to turn off the insecure ports and turn on token authentication and webhook authorization. Then your prometheus can use service account tokens to authentica

[2018-01-13 10:31] brancz commented on #883
I recommend pagerduty or opsgenie. If you just want to not send those alerts you can filter them in the alertmanager config, by saying you want to send all alerts where severity != none.

[2018-01-13 10:34] brancz commented on #352
Yes the feature now exists, but it’s true that we should add some real docs. I’ll leave this open until we have those.

[2018-01-13 19:24] alecmerdler opened #887 "How to Access Prometheus/Alertmanager/ServiceMonitor CR Statuses"
**What did you do?**
Documentation says that the Prometheus Operator publishes CR status via its HTTP API. Tried to understand the code here: https://github.com/coreos/prometheus-operator/blob/master/pkg/api/api.go#L96.

<kubectl-proxy-url>/api/v1/proxy/namespaces/default/services/prometheus-operated:9090/apis/monitoring.coreos.com/v1/namespaces/default/prometheuses/my-prom/status

**What did you

[2018-01-13 20:11] KeithTt commented on #883
@brancz Thanks for your advice, I will have a try.

And I add `severity != none` to my alert config:

[code]

Am I right?...

[2018-01-14 22:25] alexanderdavidsen opened #890 "New serviceMonitor does not show up in prometheus"
**What did you do?**

Added a new serviceMonitor in  values.yaml for kube-prometheus
[code]

**What did you expect to see?**

I'd expect to see `kube-prometheus-nginx-ingress` show up under targets in Prometheus and that Prometheus started scarping the targets.

**What did you see instead? Under which circumstances?**

No new targets where added and `kube-prometheus-nginx-ingress` does not show up

[2018-01-14 23:11] matjazp commented on #879
Are Grafana dashboard configs shared/copied between helm and contrib/kube-prometheus/hack/ installations?
If it is so, it is better to fix exporters.

[2018-01-15 03:24] KeithTt opened #891 "Can alertmanager be upgraded to a newer version?"
I need to try a  new notifier in this feature: https://github.com/prometheus/alertmanager/pull/1059

And I have tried to change the version of alertmanager from `v0.9.1` to `v0.12.0`, the alertmager pod can not work.

[2018-01-15 09:23] brancz commented on #891
Yeah I noticed this as well, I'm in the process of updating all versions, coming soon! :)

[2018-01-15 09:27] KeithTt commented on #891
@brancz Thanks, waiting for your update.

[2018-01-15 09:31] brancz commented on #890
Can you share the configuration that was generated by the Prometheus Operator? You can find it in the Prometheus UI under `/config`.

[2018-01-15 09:35] brancz commented on #887
We defined these objects a while back, but never actually implemented writing them back into the custom resource. What we did initially was implement the API ourselves, as TPRs were not supposed to get sub resources, but since, CRDs are now getting them we have decided not to proceed with that strategy as building the Prometheus Operator as a fully aggregated API is a big task.

We should either w

[2018-01-15 09:43] olvesh opened #892 "Crash loop when specifying port as number instead of string in ServiceMonitor"
**What did you do?**
Tested if a ServiceMonitor could handle port numbers

**What did you expect to see?**
A prometheus scraping services using a standard port number, not by name.

**What did you see instead? Under which circumstances?**
This was only a test. I am not saying that promehteus-operator should handle port numbers in addition to port names in the ServiceMonitor (although that would be

[2018-01-15 09:52] brancz commented on #892
This is expected. Unfortunately we have not yet gotten around to implementing CRD validations, but the problem here is that port is supposed to be the name of a port. If you want to specify an explicit number, use `targetPort`. Here are the [API Docs](https://github.com/coreos/prometheus-operator/blob/master/Documentation/api.md#endpoint).

[2018-01-15 09:53] #892 closed

[2018-01-15 09:58] olvesh commented on #892
Sure, I understand that it is wrong input in the service monitor, but should that force the operator to enter a crash loop?

Also when the operator was in a crash loop, I did a deploy of CRD Alertmanager and Prometheus. Helm reported success, but the CRD instances was nowhere to be seen afterwards. I would think that the system would balance itself after I fixed the failing port number..

Now helm

[2018-01-15 10:20] alexanderdavidsen commented on #890
Sure!

[code]

[2018-01-15 12:21] brancz commented on #890
The config should contain `kube-prometheus-nginx-ingress` somewhere, meaning there is some problem with it. Can you check the logs some more and see if it says somewhere that there was an error un-marshaling a ServiceMonitor object? In that case it sounds like there might be a problem with the way the object is structured (unfortunately validations for CRDs are very new and we haven't gotten aroun

[2018-01-15 12:52] alexanderdavidsen commented on #890
I have checked the logs for prometheus-operator and prompetheus (both prometheus-config-reloader and prometheus), but no errors are showing.

I might add that this service monitor was working with the previous version of prometheus-operator. I did a upgrade yesterday to the lastest version and it stopped working. This is the ServiceMonitor I was using with the previous version of prompetheus-opera

[2018-01-15 13:10] brancz commented on #890
To put it in debug mode add `--v=10` as an argument. Yes you assumption is correct, the Prometheus config is generated using the ServiceMonitor objects. Just to make sure, can you share the `Prometheus` object created through the chart release? That way we can make sure that the selector in the Prometheus object is correct and should be selecting that ServiceMonitor.

/cc @gianrubio did something

[2018-01-15 13:18] alexanderdavidsen commented on #890
Not sure what you want here? output from helm install --dry-run --debug?

I did make some "progress". I have added some bogus data in serviceMonitors, and prometheus-operator failed:
[code]
So I believe it's parsed correctly, because I get no errors when the syntax is correct. To me it looks like it's just not picked up and added by prometheus-operator.

Also, I have not specified any serviceMonit

[2018-01-15 13:33] gianrubio commented on #890
How did you installed this helm charts? Can you share the values.yaml?

On Mon, 15 Jan 2018 at 14:18, Alexander Holte-Davidsen <
notifications@github.com> wrote:

--
Giancarlo Rubio

[2018-01-15 13:45] secat commented on #891
@brancz The version of alertmanger `v0.13.0` is currently not supported by the prometheus-operator. The alertmanager arguments are now using 2 dashes instead of one.

Example:
[code]

[2018-01-15 13:47] alexanderdavidsen commented on #890
I installed using the official charts (helm install --name prometheus-operator coreos/prometheus-operator --set rbacEnable=false)

Here's values.yaml for kube-prometheus:

[code]
Prometheus-operator was installed using --set rbacEnable=false, the rest is default.

[2018-01-15 14:45] gianrubio commented on #890
I need more time to bootstrap a fresh minikube machine and figure out the issue. Did you try to install using `-- set rbacEnable=true` ?  Besides that could you share the prometheus logs?

[2018-01-15 18:07] alexanderdavidsen commented on #890
@gianrubio Sorry, we don't have RBAC enabled, so I'm not able to do that. I try to install one time with rbac enabled, but that failed due to no rbac in the cluster. I deleted using helm delete --purge and recreated without rbac.

The prometheues logs:

[code]

This is from kube-prometheus was recreated earlier today.

@brancz I'll share as much info I'm able to, but I'm not entirely sure what you

[2018-01-15 18:23] KeithTt commented on #883
@brancz I still do not figure out how to set `severity != none`, I need your help...

[2018-01-15 20:59] gianrubio commented on #890
@alexanderdavidsen I can't reproduce your issue in a cluster with rbac disabled.

"Prometheus object" means the prometheus crd definition, to dump it use
`kubectl get prometheus -o yaml --all-namespaces`

Could you also dump all the serviceMonitors you have?
`kubectl get servicemonitor -o yaml --all-namespaces`

[2018-01-15 21:07] alexanderdavidsen commented on #890
@gianrubio
Here's the prometheus object:

[code]

And the serviceMonitors;

[code]

The other serviceMonitors seems to be working just fine. The one added via kube-prometheues's values.yaml is not...

[2018-01-16 06:44] gianrubio commented on #890
I finally figure out what's the issue  💣

In your prometheus crd you have the serviceMonitorSelector below

[code]

That means the operator will just look for serviceMonitors with this labels. On the `kube-prometheus-nginx-ingress` serviceMonitor you have all the labels below, except `prometheus: kube-prometheus`.

[code]

My guesss is when you created the serviceMonitorSelector, the helm chart di

[2018-01-16 08:23] brancz commented on #883
I would have to try myself, but I think what you're looking for is:

[code]

[2018-01-16 08:24] brancz commented on #890
Do you maybe want to add a section in the helm chart on how to add additional ServiceMonitors?

[2018-01-16 08:52] alexanderdavidsen commented on #890
Not sure if this is what you where looking for, but check pull request #895

[2018-01-16 08:54] KeithTt commented on #883
@brancz Thanks a lot!

I think this matches `none`? how to define `!=none`?...

[2018-01-16 09:12] brancz commented on #883
Actually negative matches are not supported in re2 (the regex implementation golang uses). So you need to explicitly say which severity levels you want to send. You probably only want to send critical ones anyways. The other ones I recommend routing to an issue system, slack or the like. Email/paging should really only happen on the urgent things.

[2018-01-16 09:12] #891 closed

[2018-01-16 09:17] KeithTt commented on #883
OK, I got it. Thanks.

[2018-01-16 09:21] KeithTt commented on #891
@brancz `v0.13.0` is available now?

[2018-01-16 10:47] KeithTt commented on #891
@brancz Thanks a lot, wait for you.

[2018-01-16 11:10] brancz commented on #891
@KeithTt done, the manifests in `contrib/kube-prometheus` are updated and the Prometheus Operator `v0.16.1` has been released.

[2018-01-16 14:32] KeithTt commented on #891
@brancz Thanks a lot！！！

[2018-01-16 16:02] simox-83 opened #898 "Etcd monitoring using prometheus operator"
**What did you do?**
Using prometheus operator I created a Service Monitor for etcd monitoring, together with a Service and an Endpoint to list my etcd nodes (3 nodes). We use Tectonic (1.7.9 version) and etcd runs together with the master nodes. Prometheus is on version 1.8.1.

**What did you expect to see?**
I expect to see etcd_server metrics in Prometheus

**What did you see instead? Under whi

[2018-01-16 16:09] alecmerdler commented on #887
The [etcd Operator](https://github.com/coreos/etcd-operator) along with many other proprietary operators publish their status block, which is extremely helpful. I would like to see this added before Kubernetes v1.10.

[2018-01-16 16:14] mluedke opened #899 "Enabling Open Cloud Application via Tectonic console does not show all available namespaces."
**What did you do?**
Via the Tectonic console: Tried to enable the Vault Open Cloud Application on a specific namespace on a cluster with over 100 namespaces.

**What did you expect to see?**
A list of all namespaces after clicking the "Enable" button on the `/catalog` page.

**What did you see instead? Under which circumstances?**
A list of 122 namespaces, instead of the 131 namespaces we have in

[2018-01-16 16:25] mluedke commented on #899
Not sure if related or not, but one of the alm pods is crashing...
[code]
This is the only thing I see in the logs:
[code]

[2018-01-17 09:00] jstoja commented on #541
If anyone stuck with the same issue, the securityContext did solve the issue for me. The Helm chart from the Kubernetes repo for the 2.0 that has this issue is fixed as of right now https://github.com/kubernetes/charts/pull/2767.

[2018-01-17 10:30] brancz commented on #898
Note that customizing the Prometheus server shipped with Tectonic Monitoring is limited to the explicit configuration provided: https://coreos.com/tectonic/docs/latest/tectonic-prometheus-operator/user-guides/configuring-tectonic-monitoring.html

Note the compatibility guarantees: https://coreos.com/tectonic/docs/latest/tectonic-prometheus-operator/user-guides/update-and-compatibility-guarantees.h

[2018-01-17 11:04] simox-83 commented on #898
Hey @brancz,
thanks for your answer. And yeah that could be definitely the culrprit - though I don't know if my SSL is properly configured as the SANs include the hostnames and not the IPs..
To circumvent the Tectonic limitations, can I create a new configmap so that Prometheus reads from it and loads my etcd rules?
Ah thanks for letting me know about the next release - when is it going to happen?

[2018-01-17 11:22] murphyzh opened #900 "memory leak"
![image](https://user-images.githubusercontent.com/13235265/35040336-aca5f3aa-fbbb-11e7-9871-de58dc81ee48.png)
is memory leak? the memory of pod permetheus-k8s is increasing?
how to solve this problem? thx

[2018-01-17 13:09] brancz commented on #900
That's just the go garbage collector, which starts collecting garbage when garbage size == heap size. This is expected. You should however increase your memory request, since ~1Gb seems to be around your base line.

I'm closing this here, as it's a non issue, but feel free to ask if you have any further questions.

[2018-01-17 13:09] #900 closed

[2018-01-17 13:14] brancz commented on #898
What we are going to do, and you can do the same is create a completely separate Prometheus server, whose sole purpose it is to monitor etcd. This Prometheus server runs on the master nodes, so it has access to the etcd nodes network wise, the worker nodes cannot reach the etcd due to the firewall setup, but when you run Prometheus on master nodes this works. In the first iteration, we're doing th

[2018-01-17 14:45] #823 closed

[2018-01-17 16:43] simox-83 commented on #898
Thanks @brancz , but I don't see why I need to run another Prometheus server inside the k8s cluster when I have already the operator running over there - could you please clarify that?
Meanwhile I went ahead and modify a bit my approach - I created a new Prometheus object where I loaded my secrets and added a serviceMonitorSelector. I see a new secret with the job scraping rules in the Tectonic UI

[2018-01-17 19:28] brancz commented on #898
A second Prometheus object means a second Prometheus server. It's necessary as we don't want worker nodes to be able to have network access to etcd nodes, and the normal prometheus instance should run on workers as they can get large scale and potentially be the only thing running on a single node. Basically we did what you said you're now attempting. The secret(s) you want to mount into the Prome

[2018-01-17 21:24] jcscottiii commented on #816
@gianrubio thanks for the all work on this. the recent PRs https://github.com/coreos/prometheus-operator/pull/889 and https://github.com/coreos/prometheus-operator/pull/894 bumped chart versions and those versions cant be found in https://s3-eu-west-1.amazonaws.com/coreos-charts/stable/index.yaml so right now it's not deployable. :(

[2018-01-17 22:51] champtar opened #902 "Query kubelet via proxy / metricRelabelings issue"
Default helm deployment doesn't work out of the box as kublet querying doesn't work
There is an issue to fix the cadvisor part #633
Another issue is that on some cluster token auth doesn't work on the kubelet https endpoint (at least on GKE (https://github.com/kubernetes/kubernetes/issues/44330 https://github.com/prometheus/prometheus/issues/2606#issuecomment-294869099 https://github.com/prometheu

[2018-01-18 08:41] olvesh commented on #902
Here is another issue with relevant discussion on this topic https://github.com/prometheus/prometheus/issues/2606#issuecomment-294869099

@champtar  - could it be you need to adjust the ClusterRole to allow `nodes/proxy` as well?

I am fixing just this issue my self.. Will report the progress.

[2018-01-18 09:06] simox-83 commented on #898
Yep, I got what you mean about prometheus server right after I sent out the message :)

This is the yaml file of Kind Prometheus:
[code]

and this is the yaml which defines the Service, Service Monitor and the Endpoints for etcd:
[code]

And this is the yaml of the prometheus pod that gets generated:

[code]
And those are the logs of the prometheus pod above:

level=info ts=2018-01-17T16:25:07.640

[2018-01-18 09:24] gianrubio commented on #816
@jcscottiii this is a know issue, the current script is checking the version after the merge so if the script fail the charts are not synced. I'm currently working on #888 to check the chart versions before the merge.

[2018-01-18 09:29] gianrubio commented on #890
#895 fixed this issue

[2018-01-18 09:29] #890 closed

[2018-01-18 09:41] brancz commented on #902
Please do not touch relabeling if you don't need to, this is why we didn't add it for the longest time, and the relabeling we support is not the type you're looking for (we currently only support metric relabeling and remote read/write relabeling). The API docs on coreos.com have not been synchronized yet, but current docs can be found in this repository.

Regarding the issue you are seeing and th

[2018-01-18 09:57] olvesh commented on #902
Thanks @brancz

So, what you are saying is that on GKE we should wait until they add kubelet token auth?
Looks like Google have no plans on doing that: https://github.com/kubernetes/kubernetes/issues/44330#issuecomment-294023219

I'll look into using a client certificate, not sure how (especially in GKE). Guess I will have to learn something new :-)

[2018-01-18 11:00] brancz commented on #902
Yeah sounds like client cert auth is what you want to do as described in the description you posted:

[2018-01-18 11:00] danielm0hr opened #903 "[helm] grafana datasource & prometheus scrape target don't respect prometheus.routePrefix"
**What did you do?**

Set `prometheus.routePrefix: /prometheus` in order to make ingress on subpath work.

**What did you expect to see?**

- Grafana datasource set to `http://kube-prometheus-prometheus:9090/prometheus`
- Prometheus scrape target for prometheus server set to `http://kube-prometheus-prometheus:9090/prometheus/metrics`

**What did you see instead? Under which circumstances?**

- Gra

[2018-01-18 11:12] brancz commented on #898
That doesn't make a difference for us.

Could you try port-forwarding the prometheus server to look at the UI and see if you can see etcd targets at all?

[code]

There are a couple things I can think of that might be going wrong right now.

1) The pod is not on a master, so you need to specify the correct tolerations to do so.
2) The ServiceAccount doesn't have the correct RBAC roles to access th

[2018-01-18 11:16] brancz commented on #903
I highly recommend again prefixing Prometheus with a path. If you're doing this to request yourdomain.com/prometheus, I instead would recommend to rewrite the URL with your ingress. I'm saying this because we've gone through this and it's very painful, as there are a lot of things that behave totally different (Alertmanager as well for example) and it makes no sense for internal communication to h

[2018-01-18 13:01] simox-83 commented on #898
The pod is not running on a master for sure.. what is the toleration you talking about?
I did the port forwarding and I see a surprising thing:

[code]
If I look at the certificate the SANs are:
X509v3 Subject Alternative Name:
                DNS:yr25-49k4.concurasp.com, DNS:x3ow-djm8.concurasp.com, DNS:yr25-e974.concurasp.com, DNS:localhost, DNS:*.kube-etcd.kube-system.svc.cluster.local, DNS:kub

[2018-01-18 13:06] simox-83 commented on #898
Ok I tried to put the 192.168.x.y addresses and now I get the following:

https://192.168.128.15:2379/metrics | DOWN | endpoint="api" instance="192.168.128.15:2379" namespace="containerhosting" service="etcd-k8s" | 12.205s ago | context deadline exceeded
-- | -- | -- | -- | --
https://192.168.128.20:2379/metrics | DOWN | endpoint="api" instance="192.168.128.20:2379" namespace="containerhosting" se

[2018-01-18 14:31] simox-83 commented on #898
I got it working!! I had to add the following in the ServiceMonitor definition:
[code]

[2018-01-18 16:39] kedare commented on #867
To which role did you add this ? I could not make it work correctly

[2018-01-18 17:02] champtar commented on #902
For now I'm using the unauthenticated http port (http-metrics) but I was looking for a solution that work everywhere
Thanks for all the infos

[2018-01-18 17:02] #902 closed

[2018-01-18 18:39] champtar commented on #903
Hi @danielm0hr @brancz

alertmanager is working out of the box:
[code]

for prometheus, i did a small patch
[code]

and used this config
[code]
(the goal is to leave default for routePrefix)

and for grafana 2 patches:
[code]

and this config:
[code]

Hope this help

[2018-01-18 18:45] fritchie opened #904 "No alert rules after default helm install"
**What did you do?**

Install Prometheus Operator via helm.

**What did you expect to see?**

Alert rules defined in Prometheus/Alert Manager. Do alert rules need to be manually added after a default install?

**What did you see instead? Under which circumstances?**

"No alerting rules defined" is Prometheus. Grafana and Prometheus itself are working find.

**Environment**

CentOS 7
Kubespray defa

[2018-01-18 19:09] luisyonaldo commented on #867
`prometheus` cluster role, it was added to master already, even with that it doesn't work for you?

[2018-01-18 20:21] japaniel commented on #520
@brancz Was there further work/thought on slightly tweaking the grafana-watcher to allow for annotations to add dashboards? A PR that my searching for isn't coming up with perhaps? I would really like to use this in conjunction with a helm deployed grafana(watcher) and a dashboard deployed by an app. I understand the network policy concern as a singleton deploy of grafana, however my current setup

[2018-01-19 01:09] fritchie commented on #904
closing

[2018-01-19 01:09] #904 closed

[2018-01-19 08:31] danielm0hr commented on #903
@champtar: Thank you, this works.

@brancz: I see your point and I agree. But maybe then it would be better to not expose the routePrefix setting in the chart's values at all, wouldn't it? And instead maybe offer an `ingress.path` like @champtar did.

[2018-01-19 09:04] kyledakid opened #907 "[Helm] Grafana dashboard doesnt show Scheduler and Controller Manager status"
**What did you do?**
helm install prometheus-operator
helm install kube-prometheus

**What did you expect to see?**
Grafana dashboard should show the status of Scheduler and Controller Manager (just like we did in hack/cluster-monitoring/minikube-deploy)

**What did you see instead? Under which circumstances?**
The graphs for Scheduler and Controller Manager is showing "NA"

**Environment**

* Kub

[2018-01-19 09:25] brancz commented on #898
Glad you got it working, what you did is exactly what I would have suggested, and is what we're doing as well. The tolerations we use are:

[code]

By default the tsdb data uses an emptyDir volume, but you can configure any storage mean you want. See the [docs on storage](https://github.com/coreos/prometheus-operator/blob/master/Documentation/user-guides/storage.md) for that.

[2018-01-19 09:44] gianrubio commented on #907
Indeed is a bug, as soon I have time I'll fix that.

[2018-01-19 12:42] kedare commented on #867
I did the setup yesterday using the same commands and I still had the issue

[2018-01-19 12:52] luisyonaldo commented on #867
do you receive `user=system:anonymous` on `kubelete` logs? if so, then rbac webhook is not configured

[2018-01-19 12:53] brancz commented on #907
I'm not sure how much time we should invest in this, as minikube is switching it's default bootstrapper to be kubeadm, so minikube will be the same as kubeadm setups soon.

[2018-01-19 13:13] brancz commented on #520
@japaniel modifying existing dashboards is not a problem - annotations included. The process may just be a bit different than what you're doing today. The process how I recommend doing it is modifying the dashboard either via UI and export the result or the source directly (we're going to be working on some neat things here, so stay tuned). Then you open a pull request against your infra repo, or

[2018-01-19 14:11] kedare commented on #867
Nothing related to that so far in the Kubelet

There are my parameters on the Kubelet, I don't think I miss anything

[code]

[2018-01-19 14:16] brancz commented on #867
@kedare what does your `ServiceMonitor` for the kubelet look like?

[2018-01-22 10:41] simox-83 commented on #898
Hey @brancz I have a question about etcd metrics exposed. We had an issue (in our non production environment luckily) where the database compaction didn't work; therefore the etcd quota capacity was reached and the cluster became non operational. I was wondering whether there is a metric which exposes the available quota and anything that tell us about last database compaction.
Thanks a lot,
Simon

[2018-01-22 13:24] brancz commented on #898
@simox-83 There are, although currently part of the `etcd_debugging` namespace of metrics exposed. The debugging namespace of metrics is meant for currently unstable metrics, meaning these metrics can break in any way in any upcoming release. Nevertheless they still may be useful. Some you could have a look at:

* `etcd_debugging_mvcc_db_total_size_in_bytes`
* `etcd_debugging_mvcc_db_compaction_pa

[2018-01-23 19:32] adamdecaf commented on #256
I struggled figuring out how to get this working too. I ended up with a `Deployment` (and `Service`) exposing `blackbox_exporter` and then configuring prometheus to scrape via blackbox_exporter's `/probe` endpoint.

I'd like to help out with some docs around this as it wasn't very clear.

<details>
<summary>blackbox_exporter Deployment</summary>

[code]

</details>

<details>
<summary>blackbox_exp

[2018-01-23 22:39] audip commented on #847
Faced the same issue today, where we rolled the cluster deployed using `kops` running kubernetes `1.7.10`. The logs are of the prometheus operator that is still failing.
[code]

[2018-01-24 04:59] AnkitVaidya01 opened #913 "How to get POD stats by executing http_requests_total"
What did you do?
I deployed prometheus-operator (kube-prometheus) and then deployed my application pods and services. Now on the prometheus ui, when I executed 'http_requests_total'

What did you expect to see?
When I execute 'http_requests_total', it should return http requests stats of my deployed pods.

What did you see instead? Under which circumstances?
It only returned data of monitoring nam

[2018-01-24 05:08] AnkitVaidya01 commented on #763
so can you please tell me how I will get my pods stats in http_requests_total? do I have to deploy prometheus in my application namespace? @brancz @mfaizanse

[2018-01-24 10:08] brancz commented on #763
@AnkitVaidya01 yes, the idea is that you deploy a separate Prometheus server for application monitoring purposes.

[2018-01-24 10:13] brancz commented on #913
@AnkitVaidya01 first step is that your applications actually expose metrics. Then Prometheus needs to discover your targets and collect the metrics. Once you collect those metrics you can visualize them.

There is an example of this here: https://github.com/coreos/prometheus-operator/tree/master/contrib/kube-prometheus/manifests/examples/example-app

You can find an example application exposing me

[2018-01-24 10:13] #913 closed

[2018-01-24 10:16] brancz commented on #256
@adamdecaf that would be awesome! Feel free to open a PR to add a new doc. Maybe `Documentation/user-guides/blackbox-probing.md`?

That would be highly appreciated!

[2018-01-24 14:48] MihaiAnei opened #914 "Cannot use matchExpressions syntax with Rules Selector in Prometheus Helm Chart"
**What did you do?**
I deployed Prometheus using Helm.

**What did you expect to see?**
As with `serviceMonitorsSelector` I expected that the values from the Prometheus chart for `rulesSelector` can be written like this:
[code]
This syntax only works for `serviceMonitorsSelector`.

The bug is [here](https://github.com/coreos/prometheus-operator/blob/master/helm/prometheus/templates/prometheus.yaml

[2018-01-24 14:57] sebglon opened #915 "Helm grafana - add possibility to disable anonymous auth"
**What did you do?**
To disable anonymous auth on Helm granafa chart

**What did you expect to see?**
A new value auth.anonymous.enable =(true | false)

[2018-01-24 15:29] gianrubio commented on #915
@sebglon would you like to contribute to the project handling this issue?

[2018-01-24 19:22] sebglon commented on #915
Thanks @gianrubio , i start a PR.

[2018-01-24 20:09] adamdecaf commented on #481
@brancz Can `baseImage` take an image tag? I'm looking to upgrade prometheus-operator.

[2018-01-24 21:36] adamdecaf commented on #256
How can I generate the docs locally?

[2018-01-24 21:38] gianrubio commented on #256
Does `make docs` answer your question?

[2018-01-24 21:59] adamdecaf commented on #256
@gianrubio Only in that they're generated, but where can I serve them from? I want to view the docs in a browser ideally.

[2018-01-25 08:10] gianrubio commented on #256
@adamdecaf my suggestion is to commit and push the code to your fork so github can serve for you.

[2018-01-25 08:23] gianrubio commented on #914
@MihaiAnei pelase paste the values.yaml from your helm chart

[2018-01-25 10:13] brancz commented on #481
@adamdecaf are you on Tectonic?

[2018-01-25 11:25] sebglon opened #918 "Helm grafana with ingress not work if service is on ClusterIP"
**What did you do?**
I want to use grafana helm with an ingress.
I have not specify service.type
And i have this error on my ingress:
`googleapi: Error 400: Invalid value for field 'namedPorts[0].port': '0'. Must be greater than or equal to 1, invalid`

**What did you expect to see?**
GCE ingress only support NodePort Service with Ingress.
Is it the case for all?
If it is the case, we can force se

[2018-01-25 14:34] sebglon opened #919 "Helm grafana with ingress have many 404 on resources"
**What did you do?**

I want to acces on my grafana with an ingress.
**What did you expect to see?**
Grafana work well

**What did you see instead? Under which circumstances?**
When i go on my fqdn, index page retunr HTTP 200 but all CSS, JS are on HTTP 404.

**Environment**
kubectl version
Client Version: version.Info{Major:"1", Minor:"8", GitVersion:"v1.8.6", GitCommit:"6260bb08c46c31eea6cb538b3

[2018-01-25 14:55] sebglon commented on #919
If on ingress manifest i remove `path: /`, it work.
I create a PR to fix this.

[2018-01-25 15:00] MihaiAnei commented on #914
My custom chart values:
[code]
Expected output (Prometheus custom resource yaml):
[code]
Actual values:
[code]

[2018-01-25 15:03] adamdecaf commented on #481
@brancz Yep.

[2018-01-25 15:49] simon-k8s opened #921 "kube-prometheus chart update to 0.11 broke installation"
**What did you do?**

I updated the kube-prometheus helm chart from 0.10 to 0.11

**What did you expect to see?**

An updated kube-prometheus setup

**What did you see instead? Under which circumstances?**

The discovery of the kubelet does not work anymore. I get this error:

``
Get https://192.168.1.15:10250/metrics: x509: cannot validate certificate for 192.168.1.15 because it doesn't contain a

[2018-01-25 15:52] DuncancMartin opened #922 "tl get pods --all-namespaces"
**What did you do?**

**What did you expect to see?**

**What did you see instead? Under which circumstances?**

**Environment**

* Kubernetes version information:

	insert output of `kubectl version` here

* Kubernetes cluster kind:

	insert how you created your cluster: kops, bootkube, tectonic-installer, etc.

* Manifests:

[code]

* Prometheus Operator Logs:

[code]

[2018-01-25 15:56] christianTragesser opened #924 "Grafana: Unable to Log in, mkdir permission denied"
**What did you do?**
Pulled latest changes(1.25.2018) and ran kube-prometheus deploy.  Added ingress for grafana service, went to grafana landing page, navigate to Sign in, input credentials and submit.

**What did you expect to see?**
Expected to be logged into grafana user UI

**What did you see instead? Under which circumstances?**
Error message:
Server side error :(
runtime error: index out of

[2018-01-25 18:56] christianTragesser commented on #924
Not seeing this issue with commit 564f78eabf9bc4ecb53913c9412107bbe06b95b3, FWIW

[2018-01-25 19:38] aosmith opened #925 "generate-dashboards-configmap.sh and wrap-dashboard.sh are both broken"
**What did you do?**

Ran `contrib/kube-prometheus/hack/scripts/generate-manifests.sh`

**What did you expect to see?**

No output or a success message

**What did you see instead? Under which circumstances?**

This shell script is broken.  AFAIK `-eq` only works for integers.

[code]

**Environment**

Ubuntu 17.10

* Kubernetes version information:

N/A
	insert output of `kubectl version` here

*

[2018-01-25 20:59] ScottBrenner opened #926 "All kubelet targets down - 401 Unauthorized ?"
**What did you do?**
`./contrib/kube-prometheus/hack/cluster-monitoring/deploy`
**What did you expect to see?**
Everything working fine.
**What did you see instead? Under which circumstances?**
Everything is fine except `kubelet` on the Prometheus targets page, all are `DOWN` with error `server returned HTTP status 401 Unauthorized`
**Environment**
GKE / Ubuntu 17.10
**Kubernetes version informati

[2018-01-26 00:24] ScottBrenner opened #927 "How to setup Slack alerts for Alertmanager?"
Having trouble getting alerts from Alertmanager to send to Slack, could someone please provide a walk-through?

[2018-01-26 08:29] #915 closed

[2018-01-26 10:44] brancz commented on #927
This is unrelated to the Prometheus Operator, it's about usage of Prometheus/Alertmanager.

It makes more sense to ask questions like this on the [prometheus-users mailing list](https://groups.google.com/forum/#!forum/prometheus-users) rather than in a GitHub issue. On the mailing list, more people are available to potentially respond to your question, and the whole community can benefit from the

[2018-01-26 10:44] #927 closed

[2018-01-26 10:48] sebglon commented on #924
Have you deployed with Helm?

[2018-01-26 10:48] brancz commented on #926
Please note the `hack/` directory that you're executing this from. The kube-prometheus stack expects you to have a properly secured setup, which allows authenticating with ServiceAccount tokens and authorizes against RBAC roles. What this concretely means for a minikube cluster for example is documented here: https://github.com/coreos/prometheus-operator/blob/master/contrib/kube-prometheus/hack/cl

[2018-01-26 10:48] #926 closed

[2018-01-26 10:50] sebglon opened #929 "Helm grafana - add possibility to add Env variable from values"
**What did you do?**
I want to configure many plugin like Google Oauth.
And now i can't define it on my values.yaml

**What did you expect to see?**
To have new param env that can be append on grafana deployement.

[2018-01-26 12:15] #925 closed

[2018-01-26 12:25] brancz commented on #929
We envision to run Grafana in a completely stateless manner where it is really just concerned about dashboarding and dashboarding alone. We run the bitly/oauth2_proxy in front of it. This allows us to inject the auth proxy wherever we need to. It's @gianrubio's call whether to add it to the helm charts, but I'd like to keep the setup of Grfana as simple as possible. IMHO Grafana shouldn't have aut

[2018-01-26 12:39] brancz commented on #921
Note that the helm charts are under heavy development, breaking changes now and then are expected. Does it only break on upgrade or also on fresh install?

[2018-01-26 12:40] brancz commented on #922
Sorry we'll need some sort of description of your problem. I'll close this, but feel free to re-open if you can add a description of your problem.

[2018-01-26 12:40] #922 closed

[2018-01-26 13:41] christianTragesser commented on #924
Not deploying with Helm.  Our process implements the kube-prometheus/hack/cluster-monitoring/deploy script.

[2018-01-26 13:44] brancz commented on #924
That's curious. We did just change the Grafana image to build our own: https://github.com/coreos/prometheus-operator/blob/master/contrib/kube-prometheus/manifests/grafana/grafana-deployment.yaml#L17

The source for the image is here: https://github.com/coreos/prometheus-operator/tree/master/contrib/kube-prometheus/grafana-image

[2018-01-26 14:36] simon-k8s commented on #921
@brancz it breaks both the upgrade and a fresh install. The service discovery of the kubelets breaks. So I don't get any stats from my pods. After downgrading everything is fine.

[2018-01-26 14:40] christianTragesser commented on #924
No changes have been applied to the implementation of grafana.  We have applied an ingress rule allowing us to access the Grafana externally, but that is it.

[2018-01-26 15:04] mogaal commented on #921
I am facing exactly the same problem, I would add on the top of this the screenshot:

<img width="1666" alt="screen shot 2018-01-26 at 14 58 49" src="https://user-images.githubusercontent.com/134855/35445599-0341df2c-02aa-11e8-9c5a-5f2c99f5574f.png">

I am assuming installation [out of the box](https://github.com/coreos/prometheus-operator/blob/master/helm/README.md)

If I understand you it is bet

[2018-01-26 15:11] simon-k8s commented on #921
@mogaal for the time being you could downgrade to the previous version with helm:

`helm --namespace=monitoring install --name kube-prometheus --version 0.0.10 -f values.yaml coreos/kube-prometheus`

That worked fine for me.

[2018-01-26 19:56] erkolson commented on #921
I'm seeing the initial problem as well.  For me (in AWS) it is because the Subject of the certificate matches the hostname with is something like: `ip-172-17-157-108.ec2.internal` and as the error above says, there is no SAN defined for the hostname `172.17.157.108`.  So we need a way to configure the exporter for different hostnames.

@mogaal - I think you are seeing a different problem.  In my c

[2018-01-26 20:21] burdara commented on #924
I ran into this exact issue using the `./hack/cluster-monitoring/self-hosted-deploy`.  I was able to resolve it by updating the `grafana-deployment.yaml` manifest to include the following environment variable:

[code]

Ideally,  the `config.toml` should set this value as part of the build.  If I get some time, I will put together a PR, unless someone beats me to it.

[2018-01-26 22:54] alterx opened #931 "kube-prometheus and alertmanager pods are stuck in 'Pending' state"
**What did you do?**
[code]

**What did you expect to see?**
All the pods to be successfully created and started.

**What did you see instead? Under which circumstances?**
The kube-prometheus and alertmanager pods are stuck in pending state

[code]

**Environment**

* Kubernetes version information:
[code]
* Kubernetes cluster kind:

	Supergiant

Running `kubectl describe` outputs:
[code]
`node 'i

[2018-01-27 00:11] bgagnon commented on #256
@adamdecaf I've succesfully replicated your example, thanks for sharing!

Any ideas on how to preserve the `module` and `target` labels in the final metrics? Otherwise all information about what is actually probed is lost in the exposed metrics.

I tried to configure `metricRelabelings` in the `endpoints` entry of the `ServiceMonitor`, but it does not seem to do anything:

[code]

[2018-01-27 00:22] ptagr commented on #256
@adamdecaf does your setup requires that the service IP be hardcoded into your `ServiceMonitor`?

[2018-01-27 01:00] bamb00 commented on #690
@brancz,

For private registry do I use the flag like this,
  --prometheus-config-reloader=private_registry.io/prometheus/prometheus

How do I specify the default base image of Prometheus,
 --prometheus-default-base-image=quay.io/prometheus/prometheus

apiVersion: monitoring.coreos.com/v1
kind: Prometheus
metadata:
  name: k8s
  labels:
    prometheus: k8s
  namespace: {{ PROMETHEUS_NS }}
spec:

[2018-01-27 01:29] adamdecaf commented on #256
@bgagnon

Same. I've been trying to figure out a way to upgrade [prometheus-operator](https://github.com/coreos/prometheus-operator/issues/481#issuecomment-360258091) in my tectonic cluster.

@ptagr No. I've been able to add a `target` of a dns name.

[code]

[2018-01-28 16:26] slintes opened #932 "[kube-prometheus] node-exporter can not be scraped with k8s 1.7"
**What did you do?**
install kube-prometheus with `make generate` && `./hack/cluster-monitoring/self-hosted-deploy` using the `v0.16.1` tag

**What did you expect to see?**
all targets can be scraped

**What did you see instead? Under which circumstances?**
- node exporter couldn't be scraped because of 401
- logs of node-exporter/kube-rbac-proxy showed `Unable to authenticate the request due to a

[2018-01-28 17:25] bamb00 commented on #690
I think I got it.  Thanks.

[2018-01-29 08:08] gianrubio commented on #931
This doesn't appear to be related to prometheus-operator. Anyway, please paster the output of these commands:

[code]

[2018-01-29 08:20] gianrubio commented on #929
I agree with @brancz, @sebglon you can achieve the same results using the oauth2_proxy + injecting annotations, take a look on [this link](https://github.com/kubernetes/ingress-nginx/tree/master/docs/examples/external-auth). Please share the results 😋

[2018-01-29 09:14] gianrubio commented on #918
@sebglon please paste the values.yaml

[2018-01-29 09:23] gianrubio commented on #921
I could confirm the issue, it was introduced on #869, I'll work on a fix for that.

[2018-01-29 09:34] sebglon commented on #918
[code]

[2018-01-29 12:19] sebglon opened #934 "Helm Grafana - ingress fail with anonymous disabled"
**What did you do?**
I want to use grafana behind ingress and without anonymous authentication.
[code]

But ingress can set Up because backend health not manage HTTP 302.

show:
https://github.com/kubernetes/ingress-gce/issues/39
https://github.com/kubernetes/ingress-nginx/issues/582

To use ingress without anonymous auth, we can add readiness prod on deployment
https://github.com/kubernetes/ingre

[2018-01-29 14:21] brancz commented on #924
That's curious. This is actually already configured here: https://github.com/coreos/prometheus-operator/blob/master/contrib/kube-prometheus/grafana-image/config.toml#L2

[2018-01-29 14:40] brancz commented on #932
The kube-prometheus manifest collection has no stability guarantees and is generally kept up to date to work with the latest version of Kubernetes.

Incompatibilities like this can be solved with the helm charts.

[2018-01-29 14:50] alterx commented on #931
Yeah, it's very weird but I've deployed other things with Helm with no issues, even some of the pods created by this project are deployed correctly so I thought maybe there was something wrong. Anyway,

[code]

and

[code]

[2018-01-29 14:51] burdara commented on #924
@brancz that is the `database.path` setting.  The configuration I referenced is `paths.data`.  There is some overlap between these;  however, they are not the same.

Per [grafana documentation](http://docs.grafana.org/installation/configuration/):

`paths.data`

`database.path`

The important difference is **"file based sessions (if used), and other data"**.

[2018-01-29 15:23] brancz commented on #924
I see! Then your suggestion makes sense. Let's add it to the manifest.

[2018-01-29 21:31] adamdecaf commented on #481
@brancz Is it fine to update the `tectonic-monitoring` `ConfigMap` to bump the `prometheus-operator` version? I'm looking to deploy with support for `metricRelabelings`

https://github.com/coreos/prometheus-operator/blob/v0.16.1/pkg/client/monitoring/v1/types.go#L273

[2018-01-30 09:15] brancz commented on #481
@adamdecaf bumping versions for things that are managed for you in Tectonic is not supported, otherwise we can give you no guarantee that anything will work. The latest releases will always ship in the latest Tectonic release.

[2018-01-30 11:23] mogaal commented on #921
@simon-k8s Still getting errors with the etcd service (not exporter). For the time being the only one that works is https://github.com/coreos/prometheus-operator/blob/master/contrib/kube-prometheus/docs/KOPSonAWS.md

[2018-01-30 12:11] Ludek2 opened #937 "contrib/kube-prometheus/hack/scripts/wrap-dashboard.sh: line 28: DS_PROMETHEUS=DS_PROMETHEUS-ETCD: command not found"
Hello,
there is a bug in contrib/kube-prometheus/hack/scripts/wrap-dashboard.sh: line 28

I tried to generate Grafana config map from json dashboard files and this error was returned:
 contrib/kube-prometheus/hack/scripts/wrap-dashboard.sh: line 28: DS_PROMETHEUS=DS_PROMETHEUS-ETCD: command not found

https://github.com/coreos/prometheus-operator/blob/578369c2fbf62c282782b66980062eab4501f8e5/contr

[2018-01-30 15:43] jdoupe commented on #834
For the record, this example works fine - if you label the Service and Endpoints the same (you have one labeled "component: ceph-k8s" and the other "k8s-app: ceph-k8s") and obviously set the ServiceMonitor selector to match.

[2018-01-30 16:28] hobti01 commented on #918
@sebglon - NodePort is not required for all ingress controllers, but is [required for GCE](https://github.com/kubernetes/ingress-gce#l7-load-balancing-on-kubernetes)

[2018-01-30 19:34] adamdecaf commented on #481
@brancz Okay. I'm not very familiar with the update schedule, but when would prometheus-operator be upgraded next?

[2018-01-30 20:43] gianrubio commented on #931
@alterx definitely the error is something wrong on the api/scheduler. Maybe it's not scheduling because prometheus and alertmanager have the podAfinity enabled, could you try to remove that from the prometheus definition and see if solve?

[2018-01-30 21:05] gianrubio commented on #918
@sebglon because you successfully deployed the grafana on gce I'll close this issue. I would like to have a readme or just a comment on the values.yaml, feel free to contribute 😎

[2018-01-30 21:05] #918 closed

[2018-01-30 22:59] Ludek2 commented on #937
#941

[2018-01-31 06:17] #921 closed

[2018-01-31 09:03] sebglon commented on #929
I understand for oauth, but this is the same for all other extensions or config custo. For example smtp, analytics, log, metrics, ...

[2018-01-31 10:29] mfaizanse commented on #763
@brancz  What did you meant when you said that "common practice is to have a separate instance of Prometheus for application monitoring."? Do you mean that deploy a separate Prometheus server apart from Prometheus-operator? Or we can ask the Prometheus-operator to create a new instance of Prometheus which we can use with ServiceMonitors to monitor our applications? If yes, can share any guide or v

[2018-01-31 13:20] gianrubio commented on #816
closing this as outdated

[2018-01-31 13:20] #816 closed

[2018-01-31 13:21] #934 closed

[2018-01-31 14:24] tamalsaha opened #945 "Feature: Generate Listers and Informers for CRD types"
We watch prometheus CRDs from our code. It will be helpful, if the listers and informers where generated using the code generator and made available from this repo.

[2018-01-31 17:50] brancz commented on #481
I would have to double check but the release containing the metric relabeling should be coming to pre production channels soon.

[2018-01-31 18:48] ScottBrenner commented on #671
Has anyone created an example for this? Having trouble figuring it out.

[2018-01-31 19:23] jaglade opened #946 "Set sessionAffinity in prometheus service spec"
Reading the documentation, there are several mentions of using sessionAffinity when configuring for HA.  I have not found a way to configure that in the Prometheus service.  Looking at the helm charts, it does not appear to be configurable right now and just defaults to "none".

My question is - how do i properly setup ha so that i'm not bouncing between different prometheus servers?  I see a PR w

[2018-01-31 19:47] Ludek2 opened #947 "generate-dashboards-configmap.sh generates invalid configmap"
**What did you do?**

Generated new grafana dashboard configmap

**What did you expect to see?**

Valid configmap

**What did you see instead? Under which circumstances?**

Invalid configmap that contains python output

Manifest created by contrib/kube-prometheus/hack/scripts/generate-dashboards-configmap.sh:

[code]

[2018-01-31 19:51] Ludek2 commented on #947
#948

[2018-01-31 20:35] erkolson commented on #898
Any idea when that next release with fullly automated etcd monitoring and alerting will be ready?  I'm thinking about setting up an nginx reverse proxy daemonset scheduled on the masters to get access to the metrics endpoint from the worker nodes.  If this is coming very soon, it would save me some work :-)

[2018-02-01 06:12] brancz commented on #671
@ScottBrenner Prometheus only supports the Prometheus text format for metrics. You need to convert you Jason formatted metrics to the Prometheus format for Prometheus to be able to understand it. If what you have is a commonly used application/database chances are this already exists. We call these types of shim applications “exporters”.

[2018-02-01 06:15] brancz commented on #763
Yes, that's what the Prometheus Operator is all about :slightly_smiling_face: . Our getting started guide takes you through this: https://coreos.com/operators/prometheus/docs/latest/user-guides/getting-started.html

[2018-02-01 10:11] gianrubio commented on #946
@jaglade I'll be glad to have a PR adding the sessionAfinity configuration in the helm charts. Yesterday I wrote a doc explainning [how to contribute](https://github.com/gianrubio/prometheus-operator/blob/03f652eb627c20aeee4dcd583972b0d85a52c59c/helm/README.md) to helm charts. Let me know if you can make it

[2018-02-01 11:00] brancz commented on #898
@erkolson due to the security sensitive nature, there won't be any way to unify this. You need to make sure your Prometheus server has access to scrape etcd. The discrepancy across setups is too big to unify.

[2018-02-01 11:12] brancz commented on #929
Agreed. I think this is an issue with helm in general :slightly_smiling_face:, just auth in particular I think doesn't belong in Grafana IMHO.

[2018-02-01 11:13] #937 closed

[2018-02-01 13:02] brancz commented on #947
closed by #948

[2018-02-01 13:02] #947 closed

[2018-02-01 13:04] brancz commented on #945
Unfortunately due to the fact that we need to be able to inject the name of CRDs and API group, I'm unsure whether we can actually make use of that code generation.

[2018-02-01 15:22] jaglade commented on #946
@gianrubio I'd like to take a crack at it.  Will submit a PR once i get it written and tested.  Thanks.

[2018-02-01 19:24] ScottBrenner commented on #926
FWIW this seems to resolve the issue - https://github.com/kubernetes/kubernetes/issues/44330#issuecomment-293287575

[2018-02-01 20:37] jbvmio opened #951 "Change images for StatefulSets ?"
**What did you do?**
Pulled all images to private onsite registry. Edited all yaml file to point to new image location and deployed kube-prometheus. Our K8s Nodes are currently  unable to download public images directly.

**What did you expect to see?**
A working kube-prometheus deployment.

**What did you see instead? Under which circumstances?**
Prometheus and Alertmanager pods in a crashloop st

[2018-02-01 21:50] jaglade commented on #946
@gianrubio PR submitted.  #952
Also note that i found an issue with the 'how to contribute' instructions.  Packaging the prometheus-operator led to me installing it twice (since we already installed it once in the first line of instructions) which wreaked havoc in my cluster.

[2018-02-02 00:07] harbesc commented on #833
It is possible to work around this by (1) making changes to the config map and then (2) deleting the exporter-node pods. The pods will automatically be recreated by the daemonset with the updated rules.

Although after stumbling upon this issue I agree it'd be wonderful for folks to be able to pass their own rules to kube-prometheus while also still using the defaults.

[2018-02-02 08:42] brancz commented on #951
Those are exactly the images that would be pulled by default. Can you share more of your setup? Did you adapt any flags or options in the Prometheus/Alertmanager manifests?

[2018-02-02 08:50] gianrubio commented on #833
@theogq there's some changes on the helm charts after this issue was opened. I followed your steps to edit the configmap and I can see the changes were applied to my prometheus. I'll close this issue for now once it was fixed, feel free to reopen.

[code]

@harbesc I'm not sure if I understood what you mean but all the charts has the ability to customize rules.
For instance you can customize kube-

[2018-02-02 08:50] #833 closed

[2018-02-02 08:53] olvesh commented on #695
@brancz that is really good news. If there exists any WIP I would love testing this feature.

To add some context on the importance of this feature, consider that a lot of community supported Grafana dashboards are using the labels that will be added from e.g. (swap `pod` with either `service` or `node` ++ for other usecases):
[code]

After migrating to prometheus-operator I found I had to edit ma

[2018-02-02 08:56] gianrubio commented on #946
I made a small comment on the PR feel free to express your thoughts and thanks for reviewing the contribute instructions.

[2018-02-02 08:59] #919 closed

[2018-02-02 09:19] sebglon commented on #695
Have you a PR to track the change ?

[2018-02-02 10:38] sebglon commented on #929
Can i create a PR to add
[code]
for simple Key / value env to append

[2018-02-02 10:49] sebglon commented on #929
or make the same than `{{ toYaml .Values.dataSource | indent 2 }}`

[2018-02-02 11:00] gianrubio commented on #929
You can add this flags if you don't break the current configuration :)

[2018-02-02 11:03] brancz commented on #695
Dashboards and alerts are and always will be opinionated to the setup of the person who created them, it's unlikely, that we will ever be able to unify all dashboards and alerts. In the very first days of the operator we actually did relabel all labels onto a target, this caused various problem, which is why we ultimately removed them from the targets. Instead I recommend joining the labels onto t

[2018-02-02 12:20] sebglon commented on #929
An implementation for drupal: https://github.com/kubernetes/charts/blob/88f7f82ba96e8b3ebb24a97e734b2ce9a4a10ff6/stable/drupal/templates/deployment.yaml#L66

[2018-02-02 12:34] sebglon commented on #929
@gianrubio PR ready and Work without break

[2018-02-02 13:10] gianrubio commented on #914
@MihaiAnei do you want to make a PR to fix this issue?

[2018-02-02 15:26] lfaoro opened #955 "Grafana installPlugins: key"
The official Grafana helm chart has a section in the deployment file:
[code]
https://github.com/kubernetes/charts/blob/master/stable/grafana/templates/deployment.yaml#L48

Could you please include this section into the prometheus-operator/kube-prometheus official chart to allow us to inject plugins via overriding the values.yaml during helm install/upgrade?

[2018-02-02 21:14] ericzji opened #956 "Grafana default password for admin"
kube-prometheus

After run hack/cluster-monitoring/deploy
We should be able to reach Grafana on node port 30902

I am wondering what's the Grafana default password for admin user? Not able to login with admin/admin

thanks
-Eric

[2018-02-02 21:18] elisiano commented on #956
If you use kube-prometheus then did you try looking into the manifest that generates the secret `grafana-credentials`: https://github.com/coreos/prometheus-operator/blob/master/contrib/kube-prometheus/manifests/grafana/grafana-credentials.yaml ? (not tested that's just a guess)

[2018-02-02 21:20] elisiano commented on #956
according to this https://github.com/coreos/prometheus-operator/blob/master/contrib/kube-prometheus/manifests/grafana/grafana-credentials.yaml it looks like it's admin/admin (the manifest has the values base64 encoded)

[2018-02-02 21:29] ericzji commented on #956
@elisiano thanks for reply. Tried admin/admin, but failed.
Any way I can get the admin password?

I can use the following command
`   kubectl get secret --namespace default my-release-grafana -o jsonpath="{.data.grafana-admin-password}" | base64 --decode ; echo`
if I run "helm install --name my-grafana stable/grafana"

Any way I can get the admin password for this installation?
thanks

[2018-02-02 21:41] elisiano commented on #956
I'm not familiar with the chart installation method but if you used the deploy script without setting a `NAMESPACE` variable then it uses `monitoring` by [default](https://github.com/coreos/prometheus-operator/blob/master/contrib/kube-prometheus/hack/cluster-monitoring/deploy#L11). Try looking up the secret in that namespace.

My experience is limited I'm not sure I can be of further help.
How are

[2018-02-02 21:44] jbvmio commented on #951
Yes, those are the images pulled by default. I want to pull them from:
<my_registry>/alertmanager:v0.9.1
<my_registry>/prometheus:v2.0.0

instead. I've modified every manifiest file replacing every image reference as indicated above for every image, but I can't find where these 2 images are referenced for the given statefulsets.

Where are these defined so I can modify the pull location?

I only s

[2018-02-02 22:45] ericzji commented on #956
@elisiano Thanks.
Same issue with port-forward

seems the password should be "admin" as per the following:
scs@k8s-master:~/prometheus-operator/contrib/kube-prometheus$ kubectl get secret --namespace  monitoring grafana-credentials -o yaml
apiVersion: v1
data:
  password: YWRtaW4=
  user: YWRtaW4=
scs@k8s-master:~/prometheus-operator/contrib/kube-prometheus$ echo "YWRtaW4=" | base64 --decode
admin

[2018-02-02 22:55] elisiano commented on #956
Are you using a non-standard port? Because with port-forward by default it's port 3000

[2018-02-03 22:20] gitfrederic commented on #924
I also encountered this issue.  The cause is:

https://github.com/coreos/prometheus-operator/blob/master/contrib/kube-prometheus/grafana-image/Dockerfile#L13 , i.e.:

[code]

This directory is write-able only by `root`, i.e.:

[code]

but the `non-root` version of Grafana isn't running as `root` (it looks like it's running as `nobody`).

As mentioned in another comment, the [paths] defaults at htt

[2018-02-04 03:54] audip opened #958 "Add alert on prometheus pod memory usage"
**What did you do?**
Deployed prometheus using prometheus operator in kubernetes (using kops) and I'm impressed by the alerting rule provided out-of-the-box. While the alerts are great, the [file at this path](https://github.com/coreos/prometheus-operator/blob/master/contrib/kube-prometheus/manifests/prometheus/prometheus-k8s-rules.yaml) lacks any alerting when memory usage on the prometheus pod i

[2018-02-04 13:36] brancz commented on #951
The flags of the Prometheus Operator, that you are looking for are:

[code]

Let me know if this is what you were looking for.

[2018-02-04 15:01] brancz commented on #958
This is out of scope for the kube-prometheus manifests. Users are expected to do vendor the manifests into their own infrastructure repository and adapt to their needs.

In that sense I will close this, but feel free to contribute an alert if you put something together that works for you.

[2018-02-04 15:01] #958 closed

[2018-02-04 16:27] mike-henders commented on #956
I am encountering this problem as well.  Looking at the logs it appears the directory /grafana/data does not exist and the grafana does not have permission to add it.

I worked around it by creating a new emptyDir: {} volume and mounting it to /grafana/data in the container.  I don't know if this is the correct solution.  I'm experiment so I can afford to lose data if I make a mistake.

[2018-02-05 00:19] jbvmio commented on #951
Thanks brancz - This looks like it should be it. My apologies if this was documented somewhere and I just missed it. I am looking over the prometheus-operator deployment yaml now, will add these flags and test this week. Appreciate it -

[2018-02-05 07:17] afirth opened #960 "kube-prometheus installation with helm is broken if RBAC is not enabled"
**What did you do?**
[code]

**What did you expect to see?**
rbacEnable is set to false for all deps in the manifests

**What did you see instead? Under which circumstances?**
rbacEnable is set to false for the base, but true for the deps, so errors out

**Environment**
kops 1.8, k8s 1.8, helm 2.8.8, kube-prometheus-0.0.17

**Workaround**
specify rbacEnable=false for each one:
[code]

**Logs**

[d

[2018-02-05 07:23] vielktus opened #961 "[Operator] Prometheus Version wrong parsing"
**What did you do?**
Change the version in "contrib/kube-prometheus/manifests/prometheus-k8s.yaml"
`Version: v2.1.0` to `Version: Master`

**What did you expect to see?**
Prometheus Operator creates a Prometheus instance using the image with the tag "Master"

**What did you see instead? Under which circumstances?**
Prometheus Operator fails to create Prometheus instance when executing "kube-promet

[2018-02-05 09:30] gianrubio commented on #960
This is a know issue, #917 will fix that

[2018-02-05 12:49] gianrubio commented on #956
@ericzji could you past the grafana logs?

@mike-henders probably your issue is the same as https://github.com/coreos/prometheus-operator/issues/924 right?

[2018-02-05 12:52] gianrubio commented on #955
Fixed on #954

[2018-02-05 12:52] #955 closed

[2018-02-05 12:53] gianrubio commented on #946
Solved on #952

[2018-02-05 12:53] #946 closed

[2018-02-05 12:53] #929 closed

[2018-02-05 12:54] gianrubio commented on #931
@alterx feel free to reopen this issue or add more comments.

[2018-02-05 12:54] #931 closed

[2018-02-05 12:55] mike-henders commented on #956
@gianrubio Yes.  My issue looks the same as #924.

[2018-02-05 15:45] oszi opened #962 "Cannot log in to Grafana because it wants to write to the wrong location"
**What did you do?**

I deployed kube-prometheus with the hack/cluster-monitoring/deploy script.
When I try to log in to Grafana (admin:admin), I get an internal server error response.
See the Grafana logs at the end of the description.
I managed to work around the issue with the following modifications:

[code]

**Environment**

* Kubernetes version information:

[code]

* Kubernetes cluster kind

[2018-02-05 16:56] brancz commented on #961
Yes this is correct, the version must follow semantic versioning, as configuration of Prometheus differs across versions. This is the intended behavior. If you want to try a newer version you can use a different `baseImage` compile it and push it to the image repository you control.

[2018-02-05 16:56] #961 closed

[2018-02-05 17:16] jaglade commented on #946
@gianrubio Thank you for merging my PR.  The issue is that someone used the chart version that i was using (0.0.13) and was merged first.  I had to submit another pull request to bump chart versions.  Can you please take a look and merge?  #963
Thanks.

[2018-02-05 19:32] ericzji commented on #956
@gianrubio I am sorry but where I can get grafana logs? don't see it from /var/log/grafana/grafana.log

BTW, I am running as a non-root user

[2018-02-05 19:57] ericzji commented on #956
![prometheus-status-targets](https://user-images.githubusercontent.com/26015473/35825689-7b95d7a8-0a6b-11e8-83f1-8a1b655cb587.png)

Also in my case, the kubelet are not up as shown from prometheus. (attached)

[2018-02-06 14:20] zerda commented on #907
I have done some research with this issue, It's not about minikube or kubeadm.

Grafana is querying with `up{job="kube-controller-manager"}`, while the job name is `kube-prometheus-exporter-kube-controller-manager` in Prometheus.

The root cause is `ServiceMonitor.jobLabel` set to chart fullname. Same issue also exists in `exporter-kube-scheduler`, `exporter-kubelets`, `exporter-kubernetes`, `expo

[2018-02-06 15:53] Blasterdick commented on #357
Instructions from [here](https://coreos.com/operators/prometheus/docs/latest/troubleshooting.html) seem to doesn't work, as I have `clusterrolebinding` with my G Suite account email pointed, but no use.

[code]

[2018-02-06 16:56] ptagr commented on #256
```I tried to configure metricRelabelings in the endpoints entry of the ServiceMonitor, but it does not seem to do anything```

Looks like this is the only blocker now?

[2018-02-06 16:56] ibalajiarun commented on #898
I followed the above steps to setup etcd monitoring on my baremetal cluster I created using kubespray. I had issues with service account permissions for the second prometheus setup, so I granted them. But, I still dont see any targets listed when I port forward and visit the ui.

`yaml
apiVersion: monitoring.coreos.com/v1
kind: Prometheus
metadata:
  name: etcd-prometheus
  namespace: monitoring

[2018-02-06 17:14] adamdecaf commented on #256
Docs, which I said I'd help with. heh.

Getting prom-operator upgraded in tectonic would be nice. :)

[2018-02-06 17:24] Blasterdick commented on #357
Sorted this out. Go to [Stackdriver Logging](https://console.cloud.google.com/logs/viewer), select appropriate kubernetes cluster and error log level.

Apply the next advanced filter:

[code]
And you'll find errors like:

[code]

[2018-02-06 17:35] shamsalmon commented on #256
I followed the deployment and service and while the config updates, the endpoint won't display under targets... am I doing something wrong?

[2018-02-06 17:44] jakinc opened #964 "Wrong version of package in helm?"
**What did you do?**
Tried to install prometheus with helm on k8s 1.8.6

**What did you expect to see?**
Successful installation.

**What did you see instead? Under which circumstances?**
Helm was pulling prometheus-operator-0.0.11.tgz from the repo rather than prometheus-operator-0.16.1.tgz

**Environment**
Cluster in GKE. Win10 helm client.

* Kubernetes version information:
Client Version: vers

[2018-02-06 17:50] adamdecaf commented on #256
@shamsalmon Which `Deployment` and `Service`? There were a couple thrown around here.

[2018-02-06 17:54] shamsalmon commented on #256
`---
apiVersion: monitoring.coreos.com/v1
kind: ServiceMonitor
metadata:
  labels:
    k8s-app: blackbox-exporter
  name: blackbox-exporter
  namespace: monitoring
spec:
  serviceMonitorSelector:
      matchExpressions:
      - {key: k8s-app, operator: Exists}
      - {key: app, operator: In, values: [blackbox-exporter]}
  jobLabel: k8s-app
  endpoints:
  - interval: 60s
    metricRelabelings:

[2018-02-06 17:56] adamdecaf commented on #256
How about the `prometheus-operator` pod? I've had to track down config syntax errors in the logs there.

[2018-02-06 18:08] shamsalmon commented on #256
I dont see any errors there either

[2018-02-06 18:11] shamsalmon commented on #256
I don't see a log which would indicate it being added to the config. But it is in the config, just not in the targets.

[2018-02-06 18:17] shamsalmon commented on #256
I am seeing this in the logs for prometheus now:

2018-02-06T11:13:09.529986589Z level=warn ts=2018-02-06T11:13:09.529765454Z caller=scrape.go:673 component="target manager" scrape_pool=monitoring/blackbox-exporter/0 target=http://10.102.205.27:9100/metrics msg="append failed" err="out of order sample"

[2018-02-06 18:21] adamdecaf commented on #256
I've seen an underlying issue with the blackbox probe causing that. Or it's "ntp is out of sync".

To find the error I've looked at recent probe logs on the blackbox_exporter page. (`port-forward` and open `localhost:9115` in a browser)

[code]

[2018-02-06 18:29] jeffwji opened #965 "Alertmanager startup failed without clear reason."
**What did you do?**

Follow the document to deploy kube-prometheus

**What did you expect to see?**

To see every service announced.

**What did you see instead? Under which circumstances?**

Altermanager failed by unknown reason, the last two lines output are

[code]
Then pod terminated.

**Environment**

CentOS 7

* Kubernetes version information:

[code]

* Kubernetes cluster kind:

	Use `kube

[2018-02-06 20:42] IBMRob opened #966 "Permission denied writing to mount using volumeClaimTemplate"
**What did you do?**

I ran the latest versions of the Prometheus Operator and Kube-Prometheus helm charts configured to use persistent storage on the Prometheus pods using the following storage config:

[code]

**What did you expect to see?**

Volume mount used for storing persistent data.

**What did you see instead? Under which circumstances?**

The prometheus-kube-prometheus-0 pod keeps crashi

[2018-02-06 22:51] shamsalmon commented on #256
@adamdecaf it does not look like its doing any probes at all. I see no recent probes in blackbox exporter. Is there any way to see the status of the ServiceMonitor?

[2018-02-06 23:03] adamdecaf commented on #256
@shamsalmon That'd be in the prometheus-operator logs. I don't know of a log for the `ServiceMonitor`.

The indentation on your yaml above is a bit hard to diagnose. Are you sure the properties are lined up correctly?

[2018-02-07 01:23] shamsalmon commented on #256
Is tectonic required for this?? I deployed the same deployment and service you have exactly, but changed the image name to prom/node-exporter and changed the namespaces. Maybe I missed something?? I am just not sure how the target isn't being added but the configuration is... its not even trying to probe my blackbox exporter so I am a little lost.

[2018-02-07 01:25] shamsalmon commented on #256
[code]

[code]

[2018-02-07 02:51] shamsalmon commented on #256
I got it working... it was as simple as missing the service config.

[2018-02-07 08:26] brancz commented on #898
This looks like wrong indentation:

[code]

We are in the process of finishing everything for the next release which will include CRD validations, then these kinds of problems won't be able to occur anymore! :slightly_smiling_face:

[2018-02-07 08:59] brancz commented on #964
cc @gianrubio

[2018-02-07 09:01] brancz commented on #965
Which version of the Prometheus Operator are you deploying?

[2018-02-07 09:04] brancz commented on #966
What kind of storage volume are you using? Are there possibly permissions set already?

[2018-02-07 14:49] jeffwji commented on #965
The latest version which think is 0.16.1

[2018-02-07 15:00] brancz commented on #965
What's the termination reason in the Pod yaml?

[2018-02-07 15:39] simon-k8s opened #969 "kube-prometheus chart update to >0.11 broke installation"
**What did you do?**

Sorry for having to open this issue again. But it still does not work for me. I am running the kube-prometheus helm chart version 0.0.10 which works fine. If i try and upgrade my installation to anything higher than 0.0.10 I get the following error from the kubelet exporter:

`
Get https://192.168.1.27:10250/metrics/cadvisor: x509: cannot validate certificate for 192.168.1.27

[2018-02-07 15:49] jeffwji commented on #965
The reason is:

[code]

I think the pod didn't successfully open the status service.

[2018-02-07 19:10] gianrubio commented on #946
sorry for the inconvenience, #917 will fix that

[2018-02-07 19:17] gianrubio commented on #256
It will be awesome if someone could make a PR documenting how to connect prometheus operator to blackbox

[2018-02-07 19:38] gianrubio commented on #964
@jakinc helm charts versions doesn't have follow packages version number. On the helm chart prometheus-operator 0.11 you have the prometheus-operator v0.16.1.

Please check what deployment image from prometheus-operator you have on the installed charts, it should be 0.16.1.

[2018-02-07 20:04] gianrubio commented on #960
solved

[2018-02-07 20:04] #960 closed

[2018-02-07 20:08] gianrubio commented on #956
Use ``` kubect logs -f -n monitoring grafana-pod-name ```

[2018-02-07 20:11] gianrubio commented on #969
What command are using to upgrade kube-prometheus and to which version are you upgrading?

[2018-02-07 20:18] gianrubio commented on #907
I'll be glad to accept a PR to fix this issue + labeling, just in case all the rules are generated by https://github.com/coreos/prometheus-operator/blob/master/helm/hack/sync_kube_prometheus.py so please fix the script before changing the rules.

[2018-02-07 21:07] IBMRob commented on #966
The type of storage is an nfs filesystem. We use the same storage for other images such as Consul.

Complete kube-prometheus-values.yaml file

[code]

[2018-02-07 22:32] ibalajiarun commented on #898
@brancz I will try and fix that. When is the next release anticipated?

Thanks a lot!.

[2018-02-08 07:52] brancz commented on #965
Interesting, sounds like the readiness probe needs more time. Could you try to set `pause: true` in the `Alertmanager` object and try to change the readiness initial wait/timeout.

[2018-02-08 09:10] simon-k8s commented on #969
@gianrubio I am using this command to run the upgrade:

`helm upgrade -f values.yaml kube-prometheus coreos/kube-prometheus
`

I can't upgrade to any version higher than 0.10 with out breaking the kubelet exporter with the pod metrics. The version 0.10 works without a problem. Previous versions also worked.

`kube-prometheus    	1       	Wed Feb  7 16:23:40 2018	DEPLOYED	kube-prometheus-0.0.10

[2018-02-08 10:11] antonikonovalov commented on #969
the same problem

[2018-02-08 11:54] gianrubio commented on #969
The changes on #910 was already rolled back. Could you run the command again adding —dry-run —debug
Please also paste your values.yaml

[2018-02-08 13:58] pashok2398 opened #971 "Custom Config File"
**What did you do?**
cd contrib/kube-prometheus/
hack/cluster-monitoring/deploy

**What did you expect to see?**
Prometheus target: kubelet
https://KUBELET:10250/metrics/cadvisor UP

**What did you see instead? Under which circumstances?**
Prometheus target: kubelet
https://KUBELET:10250/metrics/cadvisor DOWN

server returned HTTP status 401 Unauthorized

**Environment**
Bluemix

* Kubernetes vers

[2018-02-08 14:40] jeffwji commented on #965
Hi Brancz, it does not allow me to change the `readiness`? I got this message when I performanced `kubectl edit pod alertmanager-main-2 -n monitoring`

[code]

I used `hack/cluster-monitoring/deploy` deployed this cluster, where is the source yaml?

[2018-02-08 14:43] simon-k8s commented on #969
This is the output from the dry run:

[helm_output.txt](https://github.com/coreos/prometheus-operator/files/1707449/helm_output.txt)

This is my values file:

[values.txt](https://github.com/coreos/prometheus-operator/files/1707452/values.txt)

[2018-02-08 14:57] antonikonovalov commented on #969
not use values

just install
[code]
output log - https://gist.github.com/antonikonovalov/a0047598388ec7e27cdd1e54498fecb2

I use kube via docker for mac
<img width="1440" alt="screen shot 2018-02-08 at 17 56 50" src="https://user-images.githubusercontent.com/1614346/35979470-7bc52874-0cf9-11e8-9656-a8e31b86cbef.png">

[2018-02-08 15:11] antonikonovalov commented on #969
I apply that
[code]

and now all is UP, but insecure :)

[2018-02-08 15:17] jbvmio commented on #951
Chiming back in to state this indeed was what I was looking for. Thanks @brancz.

[2018-02-08 15:17] #951 closed

[2018-02-08 17:17] Ludek2 opened #972 "Datasource named prometheus-k8s was not found in Grafana"
**What did you do?**

Generated configmap for grafana dasboards using hack/scripts/generate-dashboards-configmap.sh
and applied contrib/kube-prometheus/manifests/grafana/grafana-dashboards.yaml

**What did you expect to see?**

Dasboards in Grafana

**What did you see instead? Under which circumstances?**

Error message in grafana: "Datasource named prometheus-k8s was not found"

There is a wrong

[2018-02-08 21:05] ScottBrenner commented on #956
@ericzji This helped me resolve the kuebelet 403 issue you're seeing: https://github.com/kubernetes/kubernetes/issues/44330#issuecomment-293287575

[2018-02-09 07:25] brancz commented on #965
In that case dump the statefulset to a file, delete it in the cluster, modify it in the file and then create the statefulset from file.

[2018-02-09 08:45] gianrubio commented on #969
@simon-k8s I reproduced the issue, I will do a PR to fix that.

[2018-02-09 09:15] dejaeghered opened #976 "Prometheus kubelet target reports "server returned HTTP status 401 Unauthorized""
**What did you do?**
Deploy kube-prometheus using:
hack/cluster-monitoring/self-hosted-deploy

**What did you expect to see?**
kubelet metrics being scraped

**What did you see instead? Under which circumstances?**
server returned HTTP status 401 Unauthorized upon scraping kubelet https endpoint

**Environment**
CoreOS on openstack vms.

* Kubernetes version information:

Client Version: version.I

[2018-02-09 09:43] simon-k8s commented on #969
@gianrubio Thanks i will give the update a try

[2018-02-09 10:10] brancz commented on #976
Do your kubelets have RBAC authorization enabled? https://github.com/coreos/prometheus-operator/tree/master/contrib/kube-prometheus#prerequisites