[2020-10-01 13:37] simonpasquier commented on #3557
Nice! Ping me if you've got questions :)

[2020-10-02 06:41] KR411-prog opened #3559 "Remove one default rule using jsonnet"
I have below code in jsonnet which does update default rule,create a new rule..This works fine.
But I want to delete the rule "AggregateAPIDown".I am not sure how to do this in jsonnet.

I tried this,
[code]
But its not removing the rule.
Please let me know how to achieve this.

Here is the full code,

[code]

[2020-10-02 11:54] kirkharris1 commented on #3552
Did some more testing comparing v0.39 behaviour to 0.42

## v0.39
[code]

## v0.42

[code]

Writing this at 2020-10-02T11:52 there are have been no further syncs.  The first additionalScrapeConfigs for k8s-tenant has still not been sync'd. The second additionalScrapeConfigs change for k8s-tee has still not be sync'd

[2020-10-02 12:16] simonpasquier commented on #3552
Can you share the CLI arguments given to prometheus-operator?

[2020-10-02 12:19] kirkharris1 commented on #3552
[code]

[2020-10-02 12:35] brancz commented on #3553
I agree that this is confusing, and it has indeed lead to many issues on this repo. The problem is that Prometheus' namespace selection mechanism is not label based (it can only take a list of namespaces or all namespaces). In hindsight, we should have not called this field `namespaceSelector` but probably just `namespaces`. We could certainly try and improve this by renaming. What do you think, w

[2020-10-02 12:38] brancz commented on #3555
You can select all services using the empty/all matcher `{}` and then use relabeling to select those services that have the annotation.

[2020-10-02 13:16] omegas27 commented on #3555
We can but that requires an extra service monitor as we cannot set custom annotations (for example: `prometheus.io/scrape=true`) on the service generated by prometheus operator (the one with the annotation `prometheus-operated=true`).
Being able to set annotations on the generated service would make scraping them a lot easier

[2020-10-02 16:51] nrchakradhar commented on #3488
Gentle ping @simonpasquier

[2020-10-02 17:46] coderanger commented on #3553
@brancz Another option would be to have the operator do the label selector and pass in a list of namespaces?

[2020-10-03 07:47] brancz commented on #3555
Annotations aren't necessary for that, you can you normal relabeling rules for selecting the services you want to scrape.

[2020-10-03 14:03] johnnylei opened #3561 "create prometheus statefulset always terminating"
# prometheus operator: v0.40
# k8s: v.1.16.3
$ cat  prometheus.yaml
[code]
$ kubectl get pods
[code]

the question is: why pods/prometheus-prometheus-0 awalys terminating?

[2020-10-04 08:52] Xtigyro commented on #1375
Is there a way to lower the 2-hour mark for testing purposes only?

I need to migrate a setup of Prometheus Operator and Thanos sidecar (running a very old Thanos version - 0.4) to latest Thanos (0.15). For that some tests need to be conducted whether the uploaded data in the object store is correct and will be nice if that can be done faster with smaller pieces of data.

[2020-10-04 14:55] lironrisk commented on #644
still happens on v0.38.1

[2020-10-04 15:09] lironrisk commented on #2733
@brancz happens also on v0.38.1 prometheus operator on AWS (kops) - some kubelet targets are down for targets that are no longer exist

[2020-10-05 09:03] simonpasquier commented on #3561
Usually I'd look at the Kubernetes events in the namespace + use `kubectl describe pods prometheus-prometheus-0; kubectl describe sts prometheus-prometheus`

[2020-10-05 09:14] simonpasquier commented on #3488
`ThanosRuler` spec is also concerned by this change. It looks reasonable to me but I think we need first to understand why the DNS resolution doesn't work. Is it a restriction from the init container? Could one of you (@varunsrinath or @nrchakradhar) shed more light on this?

cc @brancz

[2020-10-05 12:22] #3557 closed

[2020-10-05 12:34] arghya88 commented on #3540
/assign

[2020-10-05 12:35] arghya88 commented on #3540
I will work on this.

[2020-10-05 12:52] omegas27 commented on #3555
Yes, I would then keep only the services having the prometheus-operated annotations, but would being able to add annotations to this generated service be a better alternative?

[2020-10-05 12:55] lilic opened #3563 "Clarify number of approval needed for merging a pull request"
We seem to be not consistent currently in our way of merging a PR. Sometimes we require 1 person, sometimes 2, etc. While there is nothing wrong with getting a second opinion, we should still document the lowest number of approvers needed to merge the PR. @paulfantom suggested we can easily enforce this via our tooling settings on github.

@prometheus-operator/prometheus-operator-reviewers Would y

[2020-10-05 13:05] simonpasquier commented on #3563
My (personal) decision tree is:
* if it's a simple PR (typo, logging enhancement, bug fix with a test), I'm fine with a single approval.
* for anything that I feel is more involved, I ask for multiple reviews.

If we want to enforce anything in GitHub, I'd vote for requesting 1 approval before merging. Otherwise I suspect that it will slow down the contributions more than anything.

[2020-10-05 15:30] tegioz opened #3564 "Consider listing operator in Artifact Hub"
Hi! 👋🏻

Have you considered listing the **prometheus** operator directly in [Artifact Hub](https://artifacthub.io)?

At the moment it is already [listed there](https://artifacthub.io/packages/olm/community-operators/prometheus), because the Artifact Hub team has added the [community-operators](https://github.com/operator-framework/community-operators/tree/master/upstream-community-operators) repos

[2020-10-05 16:19] paulfantom commented on #1595
Since this issue is related to helm installation it would be best to open a new issue in https://github.com/prometheus-community/helm-charts/ (if the issue is still present).

[2020-10-05 16:19] #1595 closed

[2020-10-05 16:24] paulfantom commented on #1961
Closing as this is already possible with `prometheusExternalLabelName` and `replicaExternalLabelName` in [PrometheusSpec](https://github.com/prometheus-operator/prometheus-operator/blob/master/Documentation/api.md#prometheusspec) as mentioned in https://github.com/prometheus-operator/prometheus-operator/issues/1961#issuecomment-697890661

[2020-10-05 16:24] #1961 closed

[2020-10-05 16:25] paulfantom commented on #3530
This should be solved with https://github.com/prometheus-operator/prometheus-operator/pull/3531. @TheoBrigitte could you confirm?

[2020-10-05 16:27] paulfantom commented on #3500
@ne1000 did you manage to fix your issue?

[2020-10-05 16:28] paulfantom commented on #3495
@Yalafeg friendly ping for the configuration :)

[2020-10-05 16:36] paulfantom commented on #3459
Since this is "fixable" by setting proper securityContext it seems to me more like a documentation issue than any bug with prometheus-operator code.

[2020-10-05 16:38] paulfantom commented on #1580
Done in #3457

[2020-10-05 16:38] #1580 closed

[2020-10-05 16:44] paulfantom commented on #3288
It's been some time and it would be good to arrive at some conclusion. Yay or nay on this (you can vote with emojis :+1: :-1:)?

If we want, there is a way to enforce it with CI :)

[2020-10-05 16:48] paulfantom commented on #3454
Closing as this looks to be resolved. Please reopen if you feel it is still an issue.

[2020-10-05 16:48] #3454 closed

[2020-10-05 16:49] paulfantom commented on #3216
We removed livenessProbe in Prometheus in https://github.com/prometheus-operator/prometheus-operator/pull/3502 and will reintroduce them when startupProbe is mature enough. This should close the issue for now.

[2020-10-05 16:49] #3216 closed

[2020-10-05 16:53] paulfantom commented on #3393
0.41.0 was released before migration to prometheus-operator organization and as such `module github.com/coreos/prometheus-operator` is correct. You can still use it in `go.mod` since a redirect on github side is in place.

[2020-10-05 16:53] #3393 closed

[2020-10-05 16:56] paulfantom commented on #1720
All helm-related issues should be targetted towards https://github.com/prometheus-community/helm-charts as this is were the development of those charts take place. Please open a new issue in the said repository if you feel this problem is still present.

[2020-10-05 16:56] #1720 closed

[2020-10-05 16:56] paulfantom commented on #1887
All helm-related issues should be targetted towards https://github.com/prometheus-community/helm-charts as this is were the development of those charts take place. Please open a new issue in the said repository if you feel this problem is still present.

[2020-10-05 16:56] #1887 closed

[2020-10-05 16:56] paulfantom commented on #1912
All helm-related issues should be targetted towards https://github.com/prometheus-community/helm-charts as this is were the development of those charts take place. Please open a new issue in the said repository if you feel this problem is still present.

[2020-10-05 16:56] #1912 closed

[2020-10-05 16:56] paulfantom commented on #1965
All helm-related issues should be targetted towards https://github.com/prometheus-community/helm-charts as this is were the development of those charts take place. Please open a new issue in the said repository if you feel this problem is still present.

[2020-10-05 16:56] #1965 closed

[2020-10-05 16:56] paulfantom commented on #1883
All helm-related issues should be targetted towards https://github.com/prometheus-community/helm-charts as this is were the development of those charts take place. Please open a new issue in the said repository if you feel this problem is still present.

[2020-10-05 16:56] #1883 closed

[2020-10-05 16:56] paulfantom commented on #1963
All helm-related issues should be targetted towards https://github.com/prometheus-community/helm-charts as this is were the development of those charts take place. Please open a new issue in the said repository if you feel this problem is still present.

[2020-10-05 16:56] #1963 closed

[2020-10-05 16:56] paulfantom commented on #1848
All helm-related issues should be targetted towards https://github.com/prometheus-community/helm-charts as this is were the development of those charts take place. Please open a new issue in the said repository if you feel this problem is still present.

[2020-10-05 16:56] #1848 closed

[2020-10-05 16:57] paulfantom commented on #1798
All helm-related issues should be targetted towards https://github.com/prometheus-community/helm-charts as this is were the development of those charts take place. Please open a new issue in the said repository if you feel this problem is still present.

[2020-10-05 16:57] #1798 closed

[2020-10-05 16:57] paulfantom commented on #1778
All helm-related issues should be targetted towards https://github.com/prometheus-community/helm-charts as this is were the development of those charts take place. Please open a new issue in the said repository if you feel this problem is still present.

[2020-10-05 16:57] #1778 closed

[2020-10-05 16:57] paulfantom commented on #1774
All helm-related issues should be targetted towards https://github.com/prometheus-community/helm-charts as this is were the development of those charts take place. Please open a new issue in the said repository if you feel this problem is still present.

[2020-10-05 16:57] #1774 closed

[2020-10-05 16:57] paulfantom commented on #1662
All helm-related issues should be targetted towards https://github.com/prometheus-community/helm-charts as this is were the development of those charts take place. Please open a new issue in the said repository if you feel this problem is still present.

[2020-10-05 16:57] #1662 closed

[2020-10-05 16:57] paulfantom commented on #1645
All helm-related issues should be targetted towards https://github.com/prometheus-community/helm-charts as this is were the development of those charts take place. Please open a new issue in the said repository if you feel this problem is still present.

[2020-10-05 16:57] #1645 closed

[2020-10-05 16:57] paulfantom commented on #1355
All helm-related issues should be targetted towards https://github.com/prometheus-community/helm-charts as this is were the development of those charts take place. Please open a new issue in the said repository if you feel this problem is still present.

[2020-10-05 16:57] #1355 closed

[2020-10-05 16:57] paulfantom commented on #1350
All helm-related issues should be targetted towards https://github.com/prometheus-community/helm-charts as this is were the development of those charts take place. Please open a new issue in the said repository if you feel this problem is still present.

[2020-10-05 16:57] #1350 closed

[2020-10-05 16:57] paulfantom commented on #1342
All helm-related issues should be targetted towards https://github.com/prometheus-community/helm-charts as this is were the development of those charts take place. Please open a new issue in the said repository if you feel this problem is still present.

[2020-10-05 16:57] #1342 closed

[2020-10-05 16:57] paulfantom commented on #1337
All helm-related issues should be targetted towards https://github.com/prometheus-community/helm-charts as this is were the development of those charts take place. Please open a new issue in the said repository if you feel this problem is still present.

[2020-10-05 16:57] #1337 closed

[2020-10-05 16:57] paulfantom commented on #1186
All helm-related issues should be targetted towards https://github.com/prometheus-community/helm-charts as this is were the development of those charts take place. Please open a new issue in the said repository if you feel this problem is still present.

[2020-10-05 16:57] #1186 closed

[2020-10-05 16:57] paulfantom commented on #3324
All helm-related issues should be targetted towards https://github.com/prometheus-community/helm-charts as this is were the development of those charts take place. Please open a new issue in the said repository if you feel this problem is still present.

[2020-10-05 16:57] #3324 closed

[2020-10-05 17:02] seh commented on #1864
With #3457 merged, I think it's safe to close this now, given [the current implementation of the Thanos reloader](https://github.com/thanos-io/thanos/blob/master/pkg/reloader/reloader.go#L299-L324).

[2020-10-05 17:02] #1864 closed

[2020-10-05 17:03] paulfantom commented on #1903
This issue seems to be outdated. Since its creation we moved kube-prometheus manifests and refactored config reloading.

Please reopen if you think this problem is still present.

[2020-10-05 17:03] #1903 closed

[2020-10-05 17:04] TheoBrigitte commented on #3530
This is broken in v0.42.1, so we need a new release with correct tags in place to be able to test this.

So far I can only test via commit sha, which produces a correct result.

[code]

But I would consider this fixed when I can run the following command with no error

[code]

Currently this produces the exact same error.

[2020-10-05 17:37] paulfantom commented on #1860
Looks like the issue was resolved :)

[2020-10-05 17:37] #1860 closed

[2020-10-05 17:37] paulfantom commented on #1924
Seems like #1914 solved the issue

[2020-10-05 17:37] #1924 closed

[2020-10-05 17:38] paulfantom commented on #1913
PodMonitors are already implemented.

[2020-10-05 17:38] #1913 closed

[2020-10-05 17:38] #1940 closed

[2020-10-05 17:38] #1939 closed

[2020-10-05 17:39] #1530 closed

[2020-10-05 17:41] #1992 closed

[2020-10-05 17:42] paulfantom commented on #2018
Labels and annotations should be preserved during reconciliation. This issue is still valid.

[2020-10-05 17:44] paulfantom commented on #1805
Implemented as `additionalAlertRelabelConfigs` in PrometheusSpec.

[2020-10-05 17:44] #1805 closed

[2020-10-05 17:45] paulfantom commented on #2023
Sadly this issue is still valid, however for a bit different reasons.

[2020-10-05 17:48] paulfantom commented on #1511
If this is still present, please reopen in https://github.com/kubernetes-monitoring/kubernetes-mixin/

[2020-10-05 17:48] #1511 closed

[2020-10-05 17:48] #1495 closed

[2020-10-05 17:48] #1419 closed

[2020-10-05 17:49] #1587 closed

[2020-10-05 17:50] paulfantom commented on #1613
All helm-related issues should be targetted towards https://github.com/prometheus-community/helm-charts as this is were the development of those charts take place. Please open a new issue in the said repository if you feel this problem is still present.

[2020-10-05 17:50] #1613 closed

[2020-10-05 17:51] paulfantom commented on #1502
This seems like a very old issue. It is entirely possible this was already fixed in recent prometheus-operator versions. If you think this issue is still present please reopen or comment in this thread.

[2020-10-05 17:51] #1502 closed

[2020-10-05 17:53] paulfantom commented on #1641
Seems like it is still valid. Right @lilic ? :smile:

[2020-10-05 17:53] paulfantom commented on #1663
All helm-related issues should be targetted towards https://github.com/prometheus-community/helm-charts as this is were the development of those charts take place. Please open a new issue in the said repository if you feel this problem is still present.

[2020-10-05 17:53] #1663 closed

[2020-10-05 17:54] paulfantom commented on #1615
This seems like a very old issue. It is entirely possible this was already fixed in recent prometheus-operator versions. If you think this issue is still present please reopen or comment in this thread.

[2020-10-05 17:54] #1615 closed

[2020-10-05 17:54] paulfantom commented on #1715
All helm-related issues should be targetted towards https://github.com/prometheus-community/helm-charts as this is were the development of those charts take place. Please open a new issue in the said repository if you feel this problem is still present.

[2020-10-05 17:54] #1715 closed

[2020-10-05 17:55] paulfantom commented on #3530
Thank you for verification :+1:

[2020-10-05 17:56] paulfantom commented on #1725
Possibly related to https://github.com/prometheus-operator/prometheus-operator/issues/2018

[2020-10-05 17:56] mszostok commented on #3527
Hi @midnightconman, are you still going to work on that? If not then, I'm interested to take care of that 😊

/cc @paulfantom

[2020-10-05 17:57] paulfantom commented on #1723
This seems like a very old issue. It is entirely possible this was already fixed in recent prometheus-operator versions. If you think this issue is still present please reopen or comment in this thread.

[2020-10-05 17:57] #1723 closed

[2020-10-05 17:58] paulfantom commented on #1739
All helm-related issues should be targetted towards https://github.com/prometheus-community/helm-charts as this is were the development of those charts take place. Please open a new issue in the said repository if you feel this problem is still present.

[2020-10-05 17:58] #1739 closed

[2020-10-05 17:58] #1686 closed

[2020-10-05 17:59] paulfantom commented on #1823
Probes are already implemented :)

[2020-10-05 17:59] #1823 closed

[2020-10-05 17:59] paulfantom commented on #1842
All helm-related issues should be targetted towards https://github.com/prometheus-community/helm-charts as this is were the development of those charts take place. Please open a new issue in the said repository if you feel this problem is still present.

[2020-10-05 17:59] #1842 closed

[2020-10-05 18:00] #1869 closed

[2020-10-05 18:01] paulfantom commented on #1535
Closing as this is not something we would like to have in prometheus-operator. It should be a separate operator as mentioned above.

[2020-10-05 18:01] #1535 closed

[2020-10-05 18:02] paulfantom commented on #2213
This is superseded by https://github.com/prometheus-operator/prometheus-operator/pull/3451 (Alertmanager CRD)

[2020-10-05 18:02] #2213 closed

[2020-10-05 18:05] paulfantom commented on #1325
Overriding external_labels is already possible with `replicaExternalLabelName` and `prometheusExternalLabelName` in [PrometheusSpec](https://github.com/prometheus-operator/prometheus-operator/blob/master/Documentation/api.md#prometheusspec).

[2020-10-05 18:05] #1325 closed

[2020-10-05 18:06] paulfantom commented on #2075
All helm-related issues should be targetted towards https://github.com/prometheus-community/helm-charts as this is were the development of those charts take place. Please open a new issue in the said repository if you feel this problem is still present.

[2020-10-05 18:06] #2075 closed

[2020-10-05 18:07] paulfantom commented on #2106
liveness probes were removed in https://github.com/prometheus-operator/prometheus-operator/pull/3502

[2020-10-05 18:07] #2106 closed

[2020-10-05 18:10] paulfantom commented on #1104
This is out of scope for prometheus-operator.

[2020-10-05 18:10] #1104 closed

[2020-10-05 18:10] paulfantom commented on #1128
All helm-related issues should be targetted towards https://github.com/prometheus-community/helm-charts as this is were the development of those charts take place. Please open a new issue in the said repository if you feel this problem is still present.

[2020-10-05 18:10] #1128 closed

[2020-10-05 18:12] #786 closed

[2020-10-05 23:24] midnightconman commented on #3527
@mszostok Feel free to take over... I got this far and ran into some issues: https://github.com/prometheus-operator/prometheus-operator/pull/3566

[2020-10-06 09:26] paulfantom opened #3568 "Enable closing old issues with stale bot"
**What is missing?**

Some sort of issue cleaning process. I started doing some cleanup yesterday, but it is not feasible to do it manually.

**Why do we need it?**

We have quite a lot of stale issues which even after being tagged with "stale" label are still open and possibly forgotten or irrelevant. To prevent this and allow easier search for valid issues (for example for hacktoberfest) we can

[2020-10-06 09:30] lilic commented on #3568
Sounds good to me 👍

[2020-10-06 09:33] simonpasquier commented on #3568
I'm always on the fence regarding automatically closing issues. What about limiting it to `kind/support` issues? It would mean that we're more diligent on labeling issues properly but I think it's good in general.

[2020-10-06 09:40] paulfantom commented on #3568
Majority of old issues are not tagged at all apart from "stale" label. We can exempt `kind/bug` and `kind/feature` though. This should bring a similar effect as limiting to `kind/support`.

[2020-10-06 09:44] lilic commented on #3568
Yeah I understand your concern Simon, I have seen so many bugs that were valid close, what about closing only after longer period of time? Two years seems like a long time for a bug or feature or kind/support to be valid?

[2020-10-06 09:53] paulfantom commented on #3568
Just remember that this doesn't count the time since the creation of the issue, but since last time someone added a comment, label, or interacted with the issue in any way. And we already have a reminder mechanism to ping interested parties to refresh the issue if it is still valid for them, this is why we tag issues with `stale` label after 60d.

[2020-10-06 11:19] kirkharris1 commented on #3552
Not sure how helpful this is, but i have just confirmed the problem doesn't exist in v0.41.1

[2020-10-06 11:22] ne1000 commented on #3500
@paulfantom No, maybe it's really coredns issues. I found that sometimes I run the telnet command is timeout in the container, then run the  ping command , and it return to be ok， then it's ok to run the telnet command again. anyway, sometimes the telnet command is timeout.

[2020-10-06 12:19] simonpasquier commented on #3568
Thanks for the additional information. I'm ok with enabling what you suggest @paulfantom :)

[2020-10-06 12:38] mszostok commented on #3527
@midnightconman thanks for the quick response, so I will take it over 👍

[2020-10-06 13:10] #3540 closed

[2020-10-06 15:32] #3327 closed

[2020-10-06 16:29] wandersonfdias commented on #3216
Thanks, @paulfantom.

[2020-10-07 01:32] devtech0101 commented on #2102
updated with user/gid 1000070000 but now this error.

WARNING: Running in user-mode.
WARNING: The user-mode requires you to manually start builds processing:
WARNING: $ gitlab-runner run
WARNING: Use sudo for system-mode:
WARNING: $ sudo gitlab-runner...

Registering runner... succeeded                     runner=FiCiWxae
PANIC: mkdir /.gitlab-runner: permission denied

[2020-10-07 06:43] Yalafeg commented on #3495
Hello, Thank you for your reply, the problem is solved by adding file_sd_config to the values.yaml and  configmap. Thank you.

[2020-10-07 07:13] #3546 closed

[2020-10-07 07:31] brancz commented on #3555
You can select all services from all namespaces with a ServiceMonitor something like this and then only select services named 'prometheus-operated':

[code]

[2020-10-07 07:35] brancz commented on #3563
I tend to agree it depends on the situation. I think 1 approval is necessary, and I only ask for more if I feel the change is risky enough. In Thanos, the rule is that if anyone (reviewer or creator of PR) thinks that a second review is required, then we explicitly write that on the PR and ping specific people we would like to see a review from. I think this works pretty well.

[2020-10-07 07:51] brancz commented on #3568
After closing issues for the past half an hour, I'm all for this :)

[2020-10-07 08:06] omegas27 commented on #3555
Sure, I wanted to avoid having to specify a service monitor for prometheus instances an be able to use a generic one for all services in my cluster by being able to add annotations to it but I guess there is no way around that :D
Thanks for your help

[2020-10-07 08:06] #3555 closed

[2020-10-07 08:44] brancz commented on #3561
Do you maybe have multiple prometheus-operators running in your cluster?

[2020-10-07 08:47] brancz commented on #3564
We don't use or maintain neither the helm chart nor the OLM definitions. I'm not against people putting it on artifact hub, but as it stands we're not maintaining those things.

[2020-10-07 08:50] #3495 closed

[2020-10-07 11:30] kirkharris1 commented on #3552
@simonpasquier  I have finally found something useful.

As you can see from the logs our setup has 7 prometheus resources.  k8s-tee and k8s-tenant have additionalScrapeConfigs.  If I delete all Prometheus except k8s-tee then it works fine.  I then restored all the Prometheus and the problem returned. I then deleted them one by one testing each time and things started working again when I got down

[2020-10-07 12:10] tegioz commented on #3564
Thanks @brancz 👍

[2020-10-07 12:10] #3564 closed

[2020-10-07 12:20] #3568 closed

[2020-10-07 12:34] simonpasquier commented on #3552
correct

[2020-10-07 12:47] arghya88 commented on #3499
Is anyone working on it? If not I am interested.

[2020-10-07 12:49] arghya88 commented on #3499
/assign

[2020-10-07 12:49] lilic commented on #3499
Thanks! Let me know if something is not clear!

[2020-10-07 16:13] Yalafeg opened #3572 "remoteread / remotewrite secret password"
Hello,

How can I get the password of the remoteRead and remoteWrite user from an existing secret. I want to avoit putting the password in the values.yaml file.

Thank you.

[2020-10-07 21:28] jeanluclariviere opened #3573 "KubeControllerManagerDown, KubeSchedulerDown and TargetDown on net new deployment"
**What did you do?**
Deployed kube-prometheus on a kubeadm cluster with pretty much default settings and only a few additional libraries enabled.

**Did you expect to see some different?**
After deploying the manifests, I can see the following alerts firing:

KubeControllerManagerDown
KubeSchedulerDown
TargetDown (kube-state-metrics/ down)

* Prometheus Operator version:
prometheus-operator:v0.42.

[2020-10-07 21:33] coderanger commented on #3573
Please file issues with kube-prometheus on https://github.com/prometheus-operator/kube-prometheus. This does not appear to be an issue with the operator.

[2020-10-07 21:44] jeanluclariviere commented on #3573
Of course, sorry! I had both tabs open created the issue in the wrong one, sorry about !

[2020-10-07 21:44] #3573 closed

[2020-10-08 06:43] zetaab commented on #3530
I am also hitting this

[code]

[2020-10-08 07:10] #3572 closed

[2020-10-08 07:14] zetaab opened #3575 "Probe crd not populated to prometheus config"
**What happened?**

I created following probe:
[code]

**Did you expect to see something different?**: I do see that prometheus config is reloaded. However, I cannot see this probe available in prometheus configurations.

**How to reproduce it (as minimally and precisely as possible)**: 1) create that probe yaml 2) wait some time and check prometheus configuration

**Environment**

* Prometheus Op

[2020-10-08 07:18] zetaab commented on #3575
okay it needed following to prometheus config:
[code]

[2020-10-08 07:18] #3575 closed

[2020-10-08 07:47] simonpasquier opened #3576 "Setup a CI job for Go code linting"
We would benefit from having a CI job that runs Go linters to detect unused code, unchecked errors, ...

FWIW the Prometheus project uses [golangci-lint](https://github.com/golangci/golangci-lint).

[2020-10-08 08:03] simonpasquier commented on #3552
@kirkharris1 the fact it works in v0.41.1 and not in v0.42.1 makes me think that #3440 might be involved.

[2020-10-08 11:10] #3499 closed

[2020-10-08 12:15] Tejeev commented on #763
@brancz are you able to please provide links to the resources or more information on how to actually get the metric from custom pods or what versions the above referenced changes were merged in on?  It would be very helpful and this conversation appears to be circular with many people, including myself, not knowing what you are actually alluding to.

[2020-10-08 12:19] Tejeev commented on #763
@mfaizanse you can not deploy multiple prometheus-operators in a single environment.  I think brancz may be saying to deploy another copy of prometheus with prometheus-operator disabled.  This can be done by adding the following to the answers file of a prometheus helm chart:
[code]

I'm not yet sure how to broaden the scope of permissions for scraping or in what version of Prometheus this has bee

[2020-10-09 01:53] Kampe commented on #455
Wondering the same thing, how did you manage this by chance?

[2020-10-09 01:54] johnnylei commented on #3561
[code]

[2020-10-09 01:54] johnnylei commented on #3561
no

[2020-10-09 02:23] rsilva-nk commented on #455
@Kampe , I solved this by using `replicaExternalLabelName: "__replica__"` :
https://github.com/prometheus-community/helm-charts/blob/main/charts/kube-prometheus-stack/values.yaml#L1670
This piece adds __replica__ key using Pod name as value for it.

For cluster name I used:
`externalLabels:`
  `cluster: cluster-name`
https://github.com/prometheus-community/helm-charts/blob/main/charts/kube-prometh

[2020-10-09 07:54] piellick commented on #3296
Hi everyone, there is a workaround ? Same problem for me.

[2020-10-09 13:01] schneifi commented on #1139
Try this https://www.robustperception.io/debugging-out-of-order-samples

[2020-10-09 13:22] simonpasquier commented on #3561
It seems that the pod is waiting for the rules configmap to be created. Have you checked the prometheus operator's logs?

[2020-10-09 15:50] simonpasquier commented on #3433
Irrespective of the use case mentioned by @lurenjia528 (immediate shutdown), there might be a need to customize the `TerminationGracePeriodSeconds` to a higher value than the default 600s?
We've got a [report](https://bugzilla.redhat.com/show_bug.cgi?id=1883749) about Prometheus containers requiring close to 10 minutes to flush the head to WAL on shutdown (not sure exactly why it took so long, may

[2020-10-09 23:08] n1kofr commented on #3411
I just re-deployed everything in my environment with the prometheus operator image you provided and the latest kube-prometheus-stack 10.0.1 which provides support to Probes CDR (and latest Prometheus Operator).

I do not see the Error anymore, all seems good now. Thanks.

[2020-10-10 06:38] johnnylei commented on #3561
how to check prometheus operators's log?

[2020-10-10 06:54] johnnylei commented on #3561
operator logs
[code]
after killed prometheus operator,  promethues server running normal

[2020-10-12 03:47] chestarss opened #3581 "how to specify prometheus node affinity"
**What did you do?**

**Did you expect to see some different?**

**Environment**

* Prometheus Operator version:

    `Insert image tag or Git SHA here`

* Kubernetes version information:

    `kubectl version`

* Kubernetes cluster kind:

    insert how you created your cluster: kops, bootkube, etc.

* Manifests:

[code]

* Prometheus Operator Logs:

[code]

**Anything else we need to know?**:

[2020-10-12 03:53] zwpaper commented on #3537
I would like to give this a try if nobody assigned yet

[2020-10-12 07:39] vperi1730 commented on #3543
Team - Could you please help us and let us know on this ask.

[2020-10-12 08:02] coderanger commented on #3543
I think we can close this as a duplicate of #3544.

[2020-10-12 08:14] simonpasquier commented on #3581
You can use the `affinity` field in the `Prometheus` custom resource. The field's type is the Kubernetes [Affinity](https://kubernetes.io/docs/reference/generated/kubernetes-api/v1.19/#affinity-v1-core) type (see also https://kubernetes.io/docs/concepts/scheduling-eviction/assign-pod-node/#affinity-and-anti-affinity for examples).

[2020-10-12 08:14] #3581 closed

[2020-10-12 08:19] simonpasquier commented on #3561
It looks like you're running an old version of the operator. Which version is it?

[2020-10-12 08:20] simonpasquier commented on #3537
@zwpaper sure. You'd need to wait for #3451 to be merged first though.

[2020-10-12 08:27] johnnylei commented on #3561
prometheus operator: v0.40

[2020-10-12 08:56] Preisschild commented on #3561
I'm having the same issue on the latest kube-prometheus-stack Helm Chart (operator version v0.42.1)

[2020-10-12 09:28] simonpasquier commented on #3561
Please provide the full output of `kubectl describe pods prometheus-prometheus-0`.

[2020-10-12 09:39] Preisschild commented on #3561
i workarounded the issue by deleting the prometheus statefulset

[2020-10-12 12:14] kirkharris1 commented on #3552
Have I provided enough information for you to recreate and fix this?

[2020-10-12 12:52] preethikarthi opened #3582 "additional scrape config doesn't work..."
I have deployed the kube-prometheus-stack on AKS cluster. Trying to add the additional scrape config through secret file. And it never reflects on prometheus config. Need help!

This is my configuration:

- job_name: 'prometheus-test'
  scrape_interval: 5s
  static_configs:
    - targets: [ 'localhost:9090' ]
- job_name: xxxx-api
  scrape_interval: 5s
  metrics_path: '/actuator/prometheus'
  kuber

[2020-10-12 13:12] paulfantom commented on #3582
It seems like an issue with helm chart. It would be best to ask the maintainers of said chart at https://github.com/prometheus-community/helm-charts.

[2020-10-13 00:15] skiley22 commented on #3582
How is the Prometheus CRD configured as it relates to the service monitor selector and namespace selector? With the Helm chart as-is, I don't think it will select any new ServiceMonitors. This may or may not impact addtl scrape config as you have configured.

https://github.com/prometheus-community/helm-charts/blob/4ac76c1bd53e92b61fe0e8a99c184b35e471cede/charts/kube-prometheus-stack/templates/pro

[2020-10-13 06:46] preethikarthi commented on #3582
I have been implementing the chart as is . And i dint modify any values in prometheus.yaml file. I am simply adding the values in values.yaml file. I dont think it will help me. As i did added this to the yaml. No luck!! can any one help me on this?

[2020-10-13 06:53] preethikarthi commented on #3582
This is my values.yaml for     serviceMonitorSelector: {}

    ## ServiceMonitors to be selected for target discovery.
    ## If {}, select all ServiceMonitors
    ##
    serviceMonitorSelector: {}
    ## Example which selects ServiceMonitors with label "prometheus" set to "somelabel"
    # serviceMonitorSelector:
    #   matchLabels:
    #     prometheus: somelabel

[2020-10-13 09:10] #3473 closed

[2020-10-13 09:18] simonpasquier opened #3584 "Use admissionregistration.k8s.io/v1 instead of admissionregistration.k8s.io/v1beta1 everywhere"
As mentioned in [#3574](https://github.com/prometheus-operator/prometheus-operator/pull/3574#issuecomment-707140902), Prometheus operator requires at least Kubernetes 1.16 which itself supports `admissionregistration.k8s.io/v1`. We should remove all mentions of `admissionregistration.k8s.io/v1beta1` in the code and docs to avoid confusion and bugs like #3473.

[2020-10-13 09:19] simonpasquier commented on #3336
Closing since it's related to the Helm charts.

[2020-10-13 09:19] #3336 closed

[2020-10-13 09:21] simonpasquier commented on #3494
`service "test-prometheus-operator-operator" not found` means that the API server can't resolve the given service name so it can't contact the Prometheus operator API.
You need to recheck the configuration of the `ValidatingWebhookConfiguration` object.

[2020-10-13 10:39] #3543 closed

[2020-10-13 10:39] paulfantom commented on #3543
Closed as a duplicate

[2020-10-13 11:31] azhang opened #3585 "Incorrect documentation"
https://github.com/prometheus-operator/prometheus-operator/blob/master/Documentation/user-guides/running-exporters.md

This isn't a limitation if the following is set.

[code]

[2020-10-13 12:33] simonpasquier commented on #3585
Can you elaborate a bit? What do you think is wrong in the quoted text?

[2020-10-13 12:34] kanekoh commented on #3459
Hi, setting securityContext when storage filed is specified seems to me a not good idea. I think setting a random user id into prometheus is more proper way unless a specific user id was requested by the prometheus.
Any feedbacks?

[2020-10-13 13:46] preethikarthi commented on #3582
FYI,
the static_config works perfectly fine. But I am not sure why the kubernetes_sd_config is not working as expected. May be I might be missing some? (not sure, since i have followed the documents). Also I have added what @skiley22 suggested to the configuration. But no hope..

Finally i have done the static config with wich my services are behind the ingress-controller. I scraped it through the

[2020-10-13 15:40] simonpasquier commented on #3552
@kirkharris1 yes thanks! I think I understand the issue now.
Instead of reconciling all Prometheus objects that may be affected by a secret, service/pod monitor or probe update, we stop after the first Prometheus that matches. The regression has been introduced by #3441 and I guess that we don't have an end-to-end test that validates this scenario.

https://github.com/prometheus-operator/prometheu

[2020-10-13 16:48] gaurav-ackotech opened #3587 "Not able to control Readiness probe Liveness probe"
Warning  Unhealthy  23m (x404 over 98m)  kubelet, ip-10-0-xx-xx.ap-south-1.compute.internal  Readiness probe failed: HTTP probe failed with statuscode: 503
  Warning  Unhealthy  17m (x93 over 78m)   kubelet, ip-10-0-xx-xx.ap-south-1.compute.internal  Liveness probe failed: Get http://10.0.77.87:9090/-/healthy: net/http: request canceled (Client.Timeout exceeded while awaiting headers)

Note : cont

[2020-10-13 18:35] Kampe commented on #455
The correct way to do this for all future comers, add env vars on the `prometheus-config-reloader` container and reference them with $(ENV) in your yaml.

Example:

[code]

[2020-10-13 21:08] mitchellmaler commented on #2258
Is there any update on this? Just ran into the need to dynamically add notifiers outside of the main prom stack deployment. Either multiple secret or CRD support would be amazing! Is there anything that can help speed this support along?

[2020-10-13 23:45] azhang commented on #3585
ServiceMonitors do not have to live in the same namespace as the Prometheus resource. I deploy ServiceMonitors in the same namespace as the targets (eg "prod", "staging"), which is different than the namespace in which my Prometheus resource is defined (eg "monitoring") and it works perfectly if I set `serviceMonitorSelectorNilUsesHelmValues: false`. This particular setting is mentioned in some ot

[2020-10-13 23:45] abursavich commented on #2258
@mitchellmaler, check out #3451

[2020-10-14 00:24] mitchellmaler commented on #2258
@abursavich Thanks!

[2020-10-14 00:41] Tejeev commented on #763
For future searchers, in retrospect, on a reread, it is clear now:
brancz was saying that the metric `http_requests_total` is not one commonly exposed by Kubernetes pods.  If your custom workload _does_ expose it but happens to be in a separate namespace from the Prometheus server there may be difficulty scraping this metric, though there may or may not be a PR out there that opened Prometheus Pod

[2020-10-14 07:15] simonpasquier commented on #3585
Right, I see how the sentence can be confusing. PR welcome to clarify this!

[2020-10-14 07:16] #3261 closed

[2020-10-14 08:50] vdi-kakui opened #3589 "I want to get redis and tomcat metrics on prometheus"
environment
Prometheus Operator version: 0.39.0
Kubernetes version information: 1.16

I want to get metrics for redis and tomcat using prometheus-operator.
However, even if I set it to the following yaml, it does not work well.
Where should I fix it to monitor redis and tomcat metrics?

## REDIS

[code]

[2020-10-14 11:45] #3561 closed

[2020-10-14 12:09] paulfantom commented on #3587
It seems your prometheus instance is overloaded (WAL replay?).

We recently removed liveness probes in https://github.com/prometheus-operator/prometheus-operator/pull/3502. Next prometheus-operator version will include this and it should fix your issue.

You can read our discussion on why we removed it and why we don't want to make this configurable in https://github.com/prometheus-operator/promet

[2020-10-14 13:41] simonpasquier commented on #3372
I believe it's been fixed by https://github.com/openshift/cluster-monitoring-operator/pull/939 (reported by https://bugzilla.redhat.com/show_bug.cgi?id=1882428). Anyway the issue doesn't belong to this repository.

[2020-10-14 13:41] #3372 closed

[2020-10-14 21:45] kousik93 opened #3591 "Prometheus operator secret length too long: must have at most 1048576 characters"
**Environment:**
Prometheus Operator: Forked from v0.23
Prometheus: v2.12.0

**Problem**
Prometheus Operator compiles all the config required for prometheus into a secret.
In our environment, we have a lot of namespaces, servicemonitors, promethuesrules.

We have hit a limitation with how long this secret can be. The error log from Prometheus Operator is:
[code]

Im not sure if this is a limitatio

[2020-10-15 08:47] simonpasquier commented on #3591
Can you retry with the latest version of the operator? The configuration bits are gzipped now and in practice it's very unlikely that the compressed version exceeds the Kubernetes limit.

[2020-10-15 19:04] kousik93 commented on #3591
Ah. Thanks a lot. This will definitely help.
I will try it out. I guess, this can be closed then.

[2020-10-15 19:04] #3591 closed

[2020-10-15 19:07] AshleyDumaine opened #3595 "Support for Pod Topology Spread Constraints for Prometheus and Alertmanager CRDs"
**What is missing?**
The Prometheus and Alertmanager CRDs support Pod affinities and anti-affinities as well as Node affinities, but not `topologySpreadConstraints`, which is a new feature (see https://kubernetes.io/blog/2020/05/introducing-podtopologyspread/ and https://kubernetes.io/docs/concepts/workloads/pods/pod-topology-spread-constraints/)

**Why do we need it?**
Having an even Pod spread a

[2020-10-15 23:37] Kampe commented on #1375
This level of configuration is needed for the Thanos Receive component.

https://github.com/thanos-io/thanos/issues/2114

[2020-10-16 01:44] vdi-kakui opened #3596 "I want to edit prometheus.yaml of prometheus-operator directly"
If you want to monitor other pods and services with this Prometheus Operator,
In the Prometheus config file instead of using service monitoring
Is there a way to add it directly or add settings in yaml?

Is that method deprecated by Prometheus Operator?

[2020-10-16 08:30] brancz commented on #3296
I don't think anyone has taken this up yet, if someone wants to propose something that would be appreciated! :)

[2020-10-16 08:31] brancz commented on #3433
@simonpasquier I think we should focus on the Prometheus improvements that are happening with checkpoints and snapshots on shutdown, so that won't be necessary.

[2020-10-16 08:35] #3552 closed

[2020-10-16 08:40] brancz commented on #3595
This makes sense. Would you like to contribute this feature @AshleyDumaine ?

[2020-10-16 08:41] brancz commented on #3596
Use the additional scrape configs feature for this: https://github.com/prometheus-operator/prometheus-operator/blob/master/Documentation/additional-scrape-config.md

[2020-10-16 16:26] AshleyDumaine commented on #3595
Sure, sounds good to me!

[2020-10-18 14:08] askainet commented on #3020
@brancz consider a scenario like this:

- A Prometheus Operator in a Kubernetes cluster managed by the core infrastructure team
- Multiple projects deployed to that cluster, managed by their respective development teams, responsible for their own cloud resources, but sharing the same Prometheus for their monitoring needs
- These projects use cloud resources like Amazon MSK, which already provide i

[2020-10-19 06:03] #3595 closed

[2020-10-19 06:07] #3584 closed

[2020-10-19 12:05] nrchakradhar commented on #3400
As per my understanding of collector.go
https://github.com/prometheus-operator/prometheus-operator/blob/59a2a22dba363be52d3ce25f6e130214cc50ed2c/pkg/prometheus/collector.go#L60-L65

Adding a new one like below will expose the metric I think.
`ch <- prometheus.MustNewConstMetric(descPrometheusSpecEnforcedSampleLimit, prometheus.GaugeValue, enforcedSampleLimit, p.Namespace, p.Name)`

descPrometheusS

[2020-10-19 12:36] nrchakradhar commented on #3585
At this link https://github.com/prometheus-operator/prometheus-operator/blob/master/Documentation/user-guides/getting-started.md#related-resources
its mentioned that

While in the https://github.com/prometheus-operator/prometheus-operator/blob/master/Documentation/user-guides/running-exporters.md the mentioned portion is not updated.

I can update the same to be aligned with [getting-started](http

[2020-10-19 13:54] simonpasquier commented on #3585
@nrchakradhar sounds good to me. I wouldn't mention `serviceMonitorSelectorNilUsesHelmValues` since it's only relevant for Helm users.

[2020-10-19 17:16] askainet commented on #3020
Currently I'm using this solution to discover ExternalName services from any namespace, with a custom kubernetes_sd_configs using the service role and matching services with a specific label. @dr460neye maybe this can give you some inspiration:

[code]

And create an ExternalName service object per target for white box monitoring. For instance, Amazon MSK provides a dedicated metric target per bro

[2020-10-20 02:08] kavimaluskam commented on #3020
Dealing with the same issue here.

Instead of doing the `additionalScrapeConfigs` way (as we are using [helmsman](https://github.com/Praqma/helmsman)), I simply setup some nginx pods to do the Amazon MSK metrics proxy.

Sounds not an elegant solution but good for modularizing the kafka project in my k8s cluster.

Like to ask @askainet, what exactly have you setup via Terraform?

[2020-10-20 02:44] mohanagandlla opened #3602 "HA problem with pvc and pv not bound for replica 2"
Hi for the sake of high availability I change the replica count to 2 if I use replica as 1 pvc and pv went to bound and instance is up and running fine where as if I use replica as 2 another one is creating fine but the pvc and pv is not coming to bound state it shows like two more claims are assigned to pv not acceptable.
How to solve that make the replica as 2 or more High availability with pers

[2020-10-20 03:38] coderanger commented on #3602
That is a question for your cluster admins. The operator just creates a StatefulSet with a VolumeClaimTemplate. If your PV dynamic provisioning isn't working, that would be a local issue.

[2020-10-20 03:45] mohanagandlla commented on #3602
No, I was used the static allocation

[2020-10-20 03:49] coderanger commented on #3602
Then that's even more of a local issue, you'll need to ensure the statically created PVs match the requested PVCs exactly or bind them manually.

[2020-10-20 03:49] #3602 closed

[2020-10-20 03:58] mohanagandlla commented on #3602
I did the same but it is an error throwing like "Two claims are bound to the same volume, this one is bound incorrectly"

[2020-10-20 04:32] mohanagandlla opened #3603 "makeing the replicas as 2 to get HA (manual storage provisioning persistent)"
**What is missing?**
I have created the Prometheus instance replicas as 2 along with manual storage provisioning the first replica's PVC is bound successfully to PV and the second one is still in a pending state.
It is showing an error like "Two claims are bound to the same volume, this one is bound incorrectly"
**Why do we need it?**
for the sake of HA
**Environment**
Kubernetes
* Prometheus Oper

[2020-10-20 04:33] coderanger commented on #3603
Hi there, I closed your last ticket with the same explanation. PV binding is up to your cluster administrators to debug. We cannot help with that. Please contact your admins.

[2020-10-20 04:33] #3603 closed

[2020-10-20 05:20] vdi-kakui commented on #3596
thank you.

[2020-10-20 08:00] #3550 closed

[2020-10-20 12:39] Nexucis commented on #2398
I also think it will simplify the way to manage AM. Of course we can use the API or the `amtools`, but as a kubernetes user, it is nicer to create the silence through a CRD just by using the `kubeclt` or the `openshift client`.

And it will maybe fit a bit better the lifecycle of the k8s object, if the silence would have an infinite end date. Like that it won't expire until the CRD is gone.

In ca

[2020-10-20 17:01] arun11299 opened #3608 "Having hard time with additional scrape configuration"
**What happened?**
Trying to get some static target configurations applied to Prometheus. Have followed what is suggested in
https://github.com/prometheus-operator/prometheus-operator/blob/master/Documentation/additional-scrape-config.md and
https://github.com/prometheus-operator/prometheus-operator/issues/2840 and many other related issues.

Not able to figure out what I am missing and why the co

[2020-10-20 23:12] okouyad opened #3609 "How to monitor Jobs with the Prometheus Operator ?"
I have a need to monitor some jobs in Kubernetes.

I see two different ways to monitor **PodMonitor vs Service Monitor.**

What would you recommend when it comes to monitoring jobs ?

[2020-10-20 23:15] coderanger commented on #3609
Jobs are definitionally transient so you would usually have to run a Push Gateway so things persist long enough to be scraped. It depends on how long your jobs run for though.

[2020-10-20 23:34] okouyad commented on #3609
My Jobs, are long running task. To keep short, my jobs, load entire tables from DBs, if not Entire DB into Kafka.

[2020-10-20 23:35] okouyad commented on #3609
Push Gateway ???

[2020-10-20 23:40] okouyad commented on #3609
Oh found what it is. did not know. Well sounds like for long running job that are kicked off manually like we do, a pull based model rather than a pushGateway is better ? Agreed?

[2020-10-20 23:43] coderanger commented on #3609
As long as you don't mind potentially losing the final scrapeInterval's worth of data as the job terminates, then a PodMonitor is fine. You wouldn't usually create a Service for Job pods. If you don't want to lose that last few seconds of data, you need a push gateway which is setup like a normal Deployment.

[2020-10-20 23:43] #3609 closed

[2020-10-20 23:54] okouyad commented on #3609
The website says that you need to delete de data manually ?

[2020-10-21 07:16] okouyad commented on #3609
Anyway thank you to put in on the path Very helpfull

[2020-10-21 07:29] ibotty opened #3610 "Manage Loki"
[Loki](https://grafana.com/oss/loki/) is Grafana's log collection that is heavily inspired by prometheus.

Because it uses the same concepts as Prometheus' service discovery it might make sense to configure it similarly or maybe even with the same kubernetes object.

I might be able to contribute, but I don't feel qualified to propose an API.

[2020-10-21 07:35] coderanger commented on #3610
-1. Loki takes some ideas and storage tech from Prometheus and Cortex but running it has no relation to running Prometheus. There's no overlap on the operator tooling side.

[2020-10-21 07:46] #3527 closed

[2020-10-21 08:05] brancz commented on #3596
I assume that resolved the question/issue. If you have any further thoughts or questions, don't hesitate to create a new issue :)

[2020-10-21 08:05] #3596 closed

[2020-10-21 08:12] simonpasquier opened #3611 "Emit Kubernetes events when the operator recognizes invalid resources"
**What is missing?**

The operator will reject resources that would trigger invalid configurations of Prometheus, Alertmanager and Thanos Ruler. While we already have [metrics](https://github.com/prometheus-operator/prometheus-operator/blob/2fda6f185b0f83b4aa09e47b6beffcdc2ca40739/pkg/operator/operator.go#L40-L45) in place, it would be useful to emit Kubernetes events.

**Why do we need it?**

It

[2020-10-21 10:26] paulfantom commented on #3610
I agree with @coderanger prometheus-operator shouldn't manage loki. Possibly another operator would be good for this task and it seems work for such operator was already started in https://github.com/giantswarm/loki-operator

[2020-10-21 10:26] #3610 closed

[2020-10-21 10:51] paulfantom commented on #3278
Closing in favor of https://github.com/prometheus-operator/prometheus-operator/issues/3433

[2020-10-21 10:51] #3278 closed

[2020-10-21 11:07] nrchakradhar commented on #3400
Gentle ping @lilic

[2020-10-21 11:16] simonpasquier commented on #3400
@nrchakradhar this looks good to me. Feel free to open a PR :)

[2020-10-21 12:50] sourabhgupta385 commented on #1884
I am also facing the same situation. I tried by uninstalling helm release and redeploying it, but then also it is not working

[2020-10-21 12:52] Drvanon opened #3613 "Documentation contradictory on namespaceSelector"
**What happened?**
I was trying to understand how I can add a new serviceMonitor to prometheus.

**Did you expect to see something different?**
I found the statement 'to discover targets in all namespaces the namespaceSelector has to be empty' to conflict with the piece of code that follows. Should namespaceSelector now be empty, or should it be an object with the code that follows after it?

**En

[2020-10-21 13:29] QAQ-rookie opened #3615 "When can vmoperator be added"
I want to monitor vm nodes in my cluster, but I don't want  use to maintain it manually cluster endpoint, Is there any other way.
can you provide vmoperator. thanks

prometheus in kubernetes cluster, vm in aliyun.
my Prometheus Operator version:   prometheus-operator:v0.36.0

[2020-10-21 13:37] nrchakradhar commented on #3400
/assign @nrchakradhar

[2020-10-21 20:08] bricef commented on #2515
@galindro I have the exact same issue. I can't seem to configure a way to reach an _unnamed_ port from a PodMonitor. That seems like a massive oversight. I'm not always in control of the naming of ports on pods. I should be able to configure scraping at an arbitrary numerical port.

[2020-10-21 20:56] coderanger commented on #3615
I don't really understand this question, but I can say fairly certainly that this is not a thing that we will implement. If you are talking about Prometheus' node_exporter, you run that using a DaemonSet, Service, and ServiceMonitor. Usually at least.

[2020-10-21 20:56] #3615 closed

[2020-10-21 20:58] coderanger commented on #3613
Just so everyone doesn't have to go find it, the following code is:

[code]

Which is indeed incorrect. Use `{}` as the value, i.e. an empty object. I think this is just from an old version and never got updated, thanks!

[2020-10-22 07:34] nrchakradhar commented on #3613
The API docs also mention that `any should be set to true`
https://github.com/prometheus-operator/prometheus-operator/blob/master/Documentation/api.md#namespaceselector.
I think if not design, API docs should be atleast updated.

[2020-10-22 11:16] galindro commented on #2515
Well, your case is even worse... I have no clues how to help you to workaround it. Sorry

[2020-10-22 12:57] paulfantom commented on #3613
Sadly prometheus-operator API is not consistent on namespace selectors and we have [a long-standing TODO item to fix this](https://github.com/prometheus-operator/prometheus-operator/blob/master/pkg/apis/monitoring/v1/types.go#L1331-L1333). Right now prometheus-operator is using almost everywhere usual Kubernetes label selectors as namespace selectors and in case of those setting value to `{}` allo

[2020-10-22 13:09] paulfantom commented on #3613
Possibly duplicate of #3553

[2020-10-22 13:18] lilic commented on #3553
I agreed, with @brancz approach, but I believe a lot of people already heavily use this, so I would prefer to add a new field if its causing this much problems rather than renaming current one and we just drop docs for the old one.

cc @prometheus-operator/prometheus-operator-triage WDYT?

[2020-10-22 14:26] wesleywh commented on #3608
This does not work for me either. Using the `additionalScrapeConfigsSecret` and the `additionalScrapeConfigs` values are completely ignored.

[2020-10-22 15:48] #3400 closed

[2020-10-22 15:50] #3534 closed

[2020-10-22 16:42] nrchakradhar commented on #3326
Can I give this a shot?

[2020-10-23 07:38] s-urbaniak commented on #3288
voted :+1: but i'd love to see the possibility to tweak the changelog before the release. I agree it is helpful though.

[2020-10-23 08:05] simonpasquier commented on #3326
@nrchakradhar you're welcome!

[2020-10-23 14:12] DenOlijf commented on #3530
hi, any updates on this :)

[2020-10-23 14:14] simonpasquier commented on #3530
we need v0.43.0 to be released which should be soon...

[2020-10-23 14:16] DenOlijf commented on #3530
because of this:

v0.42.2-0.20200928114327-fbd01683839a/pkg/client/versioned/typed/monitoring/v1/alertmanager.go:90:5: too many arguments in call to c.client.Get().Namespace(c.ns).Resource("alertmanagers").VersionedParams(&opts, scheme.ParameterCodec).Timeout(timeout).Do
	have (context.Context)
	want ()

?

[2020-10-24 13:18] zwpaper commented on #3589
you did not set the `app: redis` label on service, servicemonitor could not select the svc.

[2020-10-26 04:00] thamaraiselvam commented on #1741
Same here. How to update cadvisor endpoint?

[2020-10-26 09:05] simonpasquier commented on #3536
Closed by #3593

[2020-10-26 09:05] #3536 closed

[2020-10-26 09:35] lorenzo-biava commented on #1024
@brancz Any plans to get this feature in the roadmap? The container SecurityContext would be very useful from a security standpoint.

[2020-10-26 11:31] soleimaniamir opened #3623 "The --prometheus-default-base-image flag (and others) doesn't work"
Hello, I want to install Prometheus form a private registry, I have replaced two value  in `bundle.yaml`:
[code]
but after deploying, Prometheus generate two docker image that I don't know how can I replace them with my private docker images, these are images name:

- quay.io/prometheus/prometheus
- jimmidyson/configmap-reload:v0.4.0
is that any way to deploy Prometheus with private repository ima

[2020-10-26 12:54] simonpasquier commented on #3623
You should be able to use the `--prometheus-default-base-image` and `--config-reloader-image` flags to control the default images for prometheus and config-reload containers. At the same time, I suspect that `--prometheus-default-base-image` is broken since v0.41.0 (and above). I'll verify if my assumption is correct and report back here.

[2020-10-26 13:18] simonpasquier commented on #3623
Ok I can confirm that setting `--prometheus-default-base-image` has no effect: if I create a Prometheus CR without an `image`, the operator will always pick `quay.io/prometheus/prometheus` as the base image (and it's not even pinning to a release tag...).

@s-urbaniak #3103 and #3358 may have broken something.

Prometheus operator deployment
[code]

Prometheus resource
[code]

prometheus pod
[code

[2020-10-26 13:49] Mangosniper opened #3624 "Manual storage provisioning for prometheus operator"
**What did you do?**

Hey guys, I am trying to make the storage of my prometheus operator persistent to not loose all the data when the pods go down. After a while I luckily stumbled upon https://github.com/prometheus-operator/prometheus-operator/blob/master/Documentation/user-guides/storage.md and tried to implement the part about "Manual storage provisioning" to the helm charts values.yaml which

[2020-10-26 21:28] Finges opened #3625 "Additional Endpoints showing up when using Scrape Config with ec2_sd_configs"
Seeing some strange behavior with ScrapeConfigs. When using the `ec2_sd_configs` service discovery for my scrape config and setting a port. Something is setting an Endpoint with port 80 in addition to the Endpoint with the port I set. I would like to know why and what I can do to remove the additional port 80 configuration.

Below is the secret I've set for the scrape config:
[code]

Below is the

[2020-10-27 09:04] paulfantom commented on #3553
renaming the current one and dropping `namespaceSelector` from docs while still having it as a valid option SGTM.

[2020-10-27 13:24] simonpasquier commented on #3530
Closed by the release of [v0.43.0](https://github.com/prometheus-operator/prometheus-operator/releases/tag/v0.43.0). There's still an issue due to Cortex (AFAICT) so you'd need to use a `replace` directive to pin the correct version of `k8s.io/client-go` just like this repository does:

https://github.com/prometheus-operator/prometheus-operator/blob/9a39a3a90b6bf193c4b98e2cb86f6fec0ef532d0/go.mod#

[2020-10-27 13:24] #3530 closed

[2020-10-27 14:18] Nexucis commented on #2398
@brancz does it makes sense what I said above ? If by any chance it's 'ok', I will be glad to do it if you want.

[2020-10-27 14:25] s-urbaniak commented on #3553
I like this approach a lot :+1:

[2020-10-27 16:03] wesleywh commented on #3608
Someone answered my stack overflow answer and I was able to accomplish this by following the instructions provided on that answer found here: https://stackoverflow.com/questions/64452966/add-custom-scrape-endpoints-in-helm-chart-kube-prometheus-stack-deployment/64507135#64507135

[2020-10-28 07:29] mohanagandlla opened #3629 "Scrape commit failed"
Hi i am facing the error like Scrape commit failed
the logs msg is
level=error ts=2020-10-28T07:16:56.185Z caller=scrape.go:1076 component="scrape manager" scrape_pool=monitoring-pro/prometheus-kubelet/1 target=https://xxxxxxxx:10250/metrics/cadvisor msg="Scrape commit failed" err="write to WAL: log samples: write /prometheus/wal/00000012: stale NFS file handle"
continuously getting the same error

[2020-10-28 08:11] juliantaylor commented on #3391
Isn't this a bug in prometheus?
The liveness probe should be active during the WAL replay, only the readiness probe is false.

We also have a cluster with a lot of metrics and the WAL replay taking several minutes and have no issues.
Disabling the liveness probe seems like a bad idea at least for prometheus versions that work (which is for us at least 2.17 and 2.22 also seems to be ok so far but w

[2020-10-28 08:17] juliantaylor commented on #3391
this is not correct: https://github.com/prometheus/prometheus/blob/master/web/web.go#L442
the readiness function only becomes ready when prometheus sets itsself ready, the liveness probe is ok as soon as the webserver is initialized and does not wait for the WAL replay. We have explicitly tested this behaviour recently when switching the storage backend of our prometheus instances as we initially

[2020-10-28 08:25] juliantaylor commented on #3211
startup probes should not be necessary for prometheus, it already has two different liveness and readiness probes.
The liveness probe becomes true much earlier than the readiness probe, see
https://github.com/prometheus/prometheus/blob/master/web/web.go#L442

In particular the probe is healthy during the WAL replay, only the readiness probe is unhealthy during it see following annotated log (of a

[2020-10-28 09:25] simonpasquier commented on #3391
Hmm, the `/-/ready` endpoint of Prometheus is wrapped by the same [ready handler](https://github.com/prometheus/prometheus/blob/daf382e4a9f5ca380b2b662c8e60755a56675f14/web/web.go#L491-L500) as the other endpoints so it returns `503 Status Unavailable` as long as the TSDB data hasn't been loaded (the `dbOpen` channel is closed [here](https://github.com/prometheus/prometheus/blob/daf382e4a9f5ca380b

[2020-10-28 09:40] juliantaylor commented on #3391
yes but the livenessprobe `/-/healthy` which would restart pods in if it fails has no relation to the tsdb, only the webserver. The readiness probe will never kill a pod, it only causes to not receive traffic.
See the log file I posted in https://github.com/prometheus-operator/prometheus-operator/issues/3211#issuecomment-717777484 to see where the different probes become healthy.

[2020-10-28 09:43] juliantaylor commented on #3391
here the prometheus code:

[code]

note the difference between the two in this part

    readyf(func(w http.ResponseWriter, r *http.Request)

and

    func(w http.ResponseWriter, r *http.Request)

the liveness probe is not wrapped into the readiness check

[2020-10-28 10:28] soleimaniamir opened #3631 "Failed to start `prometheus-operator` with CephRBD dynamic provisioning"
Hello, I'm trying to run `prometheus-operator` in my Kubernetes cluster, But `prometheus` container failed to start. this is Prometheus console log:
[code]
I changed `securityContext` because when the value was `runAsUser: 65534`, I got `permission denied` error. This is my `securityContext`:
[code]
We use CephRBD to store data, so I added the storage to my Prometheus deploy file:
[code]

[2020-10-28 11:21] simonpasquier commented on #3629
NFS storage isn't supported by Prometheus, see the [upstream documentation](https://prometheus.io/docs/prometheus/latest/storage/#operational-aspects).

[2020-10-28 11:39] mohanagandlla commented on #3629
Ya thank you I got it and may I know the command to restart the server without deleting the pod I have tried the above one not working

[2020-10-28 11:39] simonpasquier commented on #3631
Have you tried setting `fsGroup` in the security context?

[2020-10-28 11:41] simonpasquier commented on #3629
`kill 1` should do it.

[2020-10-28 12:56] amirsoleimanii commented on #3631
@simonpasquier
I changed my security context as you see below but the problem already exists.
[code]

[2020-10-28 14:30] arghya88 commented on #3611
I am interested to work on this

[2020-10-28 14:44] simonpasquier commented on #3611
sure go ahead. @dgrisonnet might be able to help you here.

[2020-10-28 14:46] arghya88 commented on #3611
Is there an example operatorrs that I can look at?

[2020-10-28 14:55] mohanagandlla commented on #3629
ya ok but it is restarting the container

[2020-10-28 14:58] simonpasquier commented on #3629
`kill -SIGHUP 1` will reload the configuration. That may or may not help with your issue though...

Since it's a problem with Prometheus and not the operator itself, I'm closing it for now.

[2020-10-28 14:58] #3629 closed

[2020-10-28 14:58] mohanagandlla opened #3632 "Back Up and Restore For a limited period"
I have created the snapshot by API it is created and restore also done my question is....
The snap short at every time is creating from the very beginning of the data how to take the snapshot with a limitation like day bases week bases and month bases?

[2020-10-28 16:28] nrchakradhar commented on #3624
Can you do kubectl get prometheus -o yaml for the deployed prometheus and check if the storage section in yaml is present or not?

[2020-10-28 16:31] nrchakradhar commented on #3624
It will be created by the prometheus-operator.

You have to modify the CustomResource "Prometheus" for replicas and not the statefulset.

[2020-10-28 16:33] simonpasquier commented on #2766
Closed by #3451

[2020-10-28 16:33] #2766 closed

[2020-10-28 16:33] simonpasquier commented on #2927
Closed by #3451

[2020-10-28 16:33] #2927 closed

[2020-10-28 16:35] simonpasquier commented on #1528
Closed by #3451

[2020-10-28 16:35] #1528 closed

[2020-10-28 16:52] dgrisonnet commented on #3611
you can look at the kubernetes sample-controller: https://github.com/kubernetes/sample-controller.

[2020-10-28 16:56] nrchakradhar commented on #3611
@arghya88 https://book-v1.book.kubebuilder.io/beyond_basics/creating_events.html can be helpful.
I guess the events have to be fired on the operator Deployment.

Multiple examples are available:
https://github.com/kubeflow/tf-operator/blob/master/pkg/controller.v1/tensorflow/status.go
https://github.com/argoproj/argo/blob/master/workflow/controller/controller.go

The places where to create the eve

[2020-10-29 04:07] mohanagandlla opened #3634 "meta.json no such file in directory"
**What did you do?**
I have attached the mapr to the Prometheus on two instances at one instance it is working good coming to second one its not creating the meta.json file finally throwing an error
This is the status of mount
posix                  1.0T     71.1G    952.9G   7% /prometheus
**What did you expect to see?**
wal corruption need to resolve
**What did you see instead? Under which circu

[2020-10-29 07:53] nrchakradhar commented on #3634
Shouldn't this issue be raised with prometheus? I doubt if operator has any role here.

[2020-10-29 08:42] simonpasquier commented on #3634
Exactly it's an issue with Prometheus or more probably with your storage system.

[2020-10-29 08:42] #3634 closed

[2020-10-29 10:37] simonpasquier commented on #3391
@juliantaylor I agree with your conclusion, sorry for the mistake. The `/-/healthy` endpoint should return OK as soon as the webserver is started which happens in parallel of the WAL replay.

There seems to have been some confusion in the original description:

I suspect that only the readiness probe was responsible for the container being restarted. The same goes for #3094: looking at the data, I

[2020-10-29 12:26] nrchakradhar commented on #3632
@mohanagandlla What is the role of the operator for snapshot. Snapshot API is admin REST API of Prometheus. Are you expecting some additional functionality in operator?

[2020-10-29 13:34] priteshkadavrean opened #3635 "unable to load CA cert for remoteRead but working fine for remoteWrite"
**What happened?**
When using remoteRead for prometheus then it is unable to load specified CA cert.

**How to reproduce it (as minimally and precisely as possible)**:
[code]

* Prometheus Operator version:
v0.42.1

* Prometheus Operator Logs:

[code]

**Anything else we need to know?**:

The secret created has no data if using  remoteRead
[code]

If using remoteWrite with same tls certs it is wor

[2020-10-29 14:01] simonpasquier commented on #3635
Thanks for the report! Would you be able to contribute the fix?

[2020-10-29 14:18] simonpasquier commented on #3625
You have a typo in your YAML data.

[code]

should be

[code]

[2020-10-29 14:18] #3625 closed

[2020-10-29 14:35] nrchakradhar commented on #3553
![PrometheusOperatorSelector-For GIT](https://user-images.githubusercontent.com/38882990/97586735-9cfc7b00-1a20-11eb-86fd-a7980f6d79d1.png)
I made a diagram for my own understanding. I am still not clear as to which fields will be kept, renamed and what scenarios will be covered.

I am not able to understand

Also about the TODO in the code:

What are the desired changes and what scenarios should

[2020-10-29 14:49] s-urbaniak commented on #3623
thank you @nrchakradhar ! :tada:

[2020-10-29 15:18] s-urbaniak commented on #3553
@nrchakradhar let me think about your comment a bit as I believe you have some valid question, but first and foremost I would like to say a big thank you!!!!!! from me and the @prometheus-operator/prometheus-operator-reviewers team for the picture you drew and the effort, that helps a lot in thinking about it more deeply :tada: :heart:

[2020-10-29 15:42] simonpasquier commented on #3623
Nice!

A first hint is to look at this line. Instead of `operator.DefaultPrometheusVersion`, we need `c.PrometheusDefaultBaseImage`. The same applies to Thanos and Alertmanager.

https://github.com/prometheus-operator/prometheus-operator/blob/10af66079c9ec7a18939e77bfeec13b32908cf89/pkg/prometheus/statefulset.go#L76

[2020-10-29 17:23] juliantaylor commented on #3391
A failing readiness probe should not cause a pod container to restart, only the liveness probe does that so that there are reported issues is odd, there may be a bug in prometheus itself.

@ajcann how big is your WAL data? how long does it take to replay? how many chunks are it (see startup logs)
Can you provide the prometheus log file of a failing startup? Ideally including the kubernetes events

[2020-10-30 09:07] radinv opened #3636 "Prometheus isn't discovering PodMonitors."
**What did you do?**
I create Prometheus and PodMonitor for exporter in different namespace. I'l expecting see endpoint in targets.

* Prometheus Operator version:

    quay.io/coreos/prometheus-operator:v0.38.1

* Kubernetes version information:

Server Version: version.Info{Major:"1", Minor:"16+", GitVersion:"v1.16.13-gke.401", GitCommit:"eb94c181eea5290e9da1238db02cfef263542f5f", GitTreeState:"

[2020-10-30 10:31] mohanagandlla commented on #3632
Yes the role is Admin and what I am expecting here is the snapshots can be able to take on different time sequences
ex:
If I take the first snapshot today and again I am going to take the second snapshot on next day but here the major point is at the second day the snapshot contains the first data too I need to collect the only present day's data and make sure I need to maintain the retention time

[2020-10-30 12:27] #3537 closed

[2020-10-30 13:25] nrchakradhar commented on #3623
Thanks @simonpasquier. The change is needed from `operator.DefaultPrometheusBaseImage` to `c.DefaultPrometheusBaseImage` in `makeStatefulSetSpec` in files:
./pkg/alertmanager/statefulset.go
./pkg/operator/statefulset.go
./pkg/thanos/statefulset.go
https://github.com/prometheus-operator/prometheus-operator/blob/6c47bd6d6a91203acdd431a074798c7cbb651820/pkg/prometheus/statefulset.go#L284

I will also

[2020-10-30 13:42] nrchakradhar commented on #3632
Snapshot is a feature of prometheus and from prometheus documentation, it will be whatever is present in the TSDB data directory.
https://prometheus.io/docs/prometheus/latest/querying/api/#snapshot
For which timelines the data is present in TSDB data directory depends on the parameters configured for retention(size, time). So what you want to achieve may be possible in an indirect way.
It might be

[2020-10-30 16:19] karanmagdani1 commented on #2670
Hey guys, is there any development/workaround on this? Even after adding ~20Gi memory, replaying WAL is not an option for us as it still crashes. Currently, we are just deleting the WAL segments, and we lose metrics for a time period because of this.

[2020-10-31 08:07] brancz commented on #3288
I quite like what the [google cloud platform terraform repo](https://github.com/GoogleCloudPlatform/magic-modules/pull/3956) does. It's a specifically named code block in the PR, that automatically gets collected on releases. I like this better than a changelog in the repo, as that doesn't cause conflicts, and we as maintainers can easily edit it in a PR description.

[2020-10-31 10:17] ghorutest commented on #2552
Same error. K8s version 1.19.3
[code]

[code]

[2020-10-31 18:44] joshbranham opened #3638 "AlertmanagerSpec configSecret only mounts `alertmanager.yaml`"
**What happened?**

Utilized `configSecret` field of the `AlertmanagerSpec` to mount 2 files to `/etc/alertmanager/config`, however only the key named `alertmanager.yaml` was mounted.

**Did you expect to see something different?**

I expected both files to be mounted (in this case it was `.tmpl` file for notification templates)

**How to reproduce it (as minimally and precisely as possible)**:

C

[2020-10-31 19:00] sschne commented on #1400
Looks like this has been fixed with #3039

[2020-11-01 07:36] soleimaniamir commented on #3631
The problem was the permission of storage that solved with this `initContainers`:
[code]

I also rever my security context:
[code]

[2020-11-01 07:36] #3631 closed

[2020-11-01 14:20] nrchakradhar commented on #3553
@s-urbaniak For having a better discussion that I can understand, I have created another diagram. As per my understanding all the 3 scenarios indicated are possible currently. @prometheus-operator/prometheus-operator-reviewers, please let me know if any of them is not possible to be achieved. Based on the discussions here, example yaml's can be created for benefit of all.

![PrometheusOperatorSele

[2020-11-02 10:06] priteshkadavrean commented on #3635
Definitely Yes.

[2020-11-02 10:24] brancz opened #3639 "Remove framework.Poll"
Own own `framework.Poll` function is entirely unused by ourselves. Identified in: https://github.com/prometheus-operator/prometheus-operator/pull/3241/files#r515866159

We can just remove this function.

cc @lilic

[2020-11-02 11:02] matthyx commented on #3547
Sorry, but the OOM issue concerns the operator of the scraping pods?

We are also witnessing a huge memory usage on the operator, which doesn't make much sense because I thought this one only processes the CRD... not the actual metrics. Am I wrong?

[2020-11-02 11:13] s-urbaniak commented on #3288
The latest suggestion from @brancz sgtm :+1:

[2020-11-02 11:32] #3130 closed

[2020-11-02 12:33] paulfantom commented on #3288
Sounds good to me too. There is one caveat though. That repo is using https://github.com/hashicorp/go-changelog for checking for automatic checking if changelog block is populated. Sadly this tool cannot be used directly in our CI workflow as GitHub Actions don't allow using GITHUB_TOKEN in PRs originating from forks. Which means we would need to remember about checking if the field was set. Or ad

[2020-11-02 14:26] giovanni-ferrari commented on #3079
Hello everyone,
same issue here, prometheus is keeping increasing the WAL but never creates new blocks.
Is there any updated on this issue?

[2020-11-02 14:40] simonpasquier commented on #3547
No you're correct. Prometheus operator memory shouldn't be tied to the number of targets or samples. Can you quantify the increase?

[2020-11-02 14:41] simonpasquier commented on #1400
Thanks! Closing it then :)

[2020-11-02 14:41] #1400 closed

[2020-11-02 14:49] matthyx commented on #3547
@simonpasquier thanks for coming back...
I have found the culprit: secrets... we have a huge amount of secrets in our cluster (around 14k) which overloads the cache as described in https://github.com/prometheus-operator/prometheus-operator/pull/3355

[2020-11-02 19:52] sheetalsingala commented on #3639
I can work on this.

[2020-11-03 07:17] #3639 closed

[2020-11-03 09:33] liguozhong commented on #3517
apiVersion: monitoring.coreos.com/v1
kind: Probe
metadata:
  name: testprobename
  namespace: arms-prom
spec:
  jobName: testprobejob
  module: http_401
  prober:
    scheme: http
    url: localhost:9335
    path: /blackbox/probe
  targets:
    staticConfig:
      static:
        - https://www.baidu.com
        - https://www.taobao.com

[2020-11-03 10:01] priteshkadavrean commented on #3635
@simonpasquier Please grant me enough access rights for this repo, so that I can raise a PR

[2020-11-03 10:41] simonpasquier commented on #3635
You should fork this repository and submit a pull request as documented [here](https://github.com/prometheus-operator/prometheus-operator/blob/master/CONTRIBUTING.md#contribution-flow).

[2020-11-03 11:23] shibumi commented on #2972
Hi @jakerbeck  thanks a lot for this comment. Is KubeAPI still down for you, too?

[2020-11-03 11:38] gmintoco commented on #3119
While this is an older issue I would make the argument that potentially exporters that Prometheus scrapes (like the SNMP exporter, or BlackBox exporter) are almost anti-patterns in themselves (in that the scraping occurs via a proxy). However, these are in widespread use because of their important functionality (actually the only functionality that makes Prometheus viable for us).

In these cases,

[2020-11-03 12:29] coderanger commented on #3119
I don't think that's related to this original question, or that you misunderstand how ServiceMonitors work. They use the service's endpoints directly, not the kube-proxy balancer itself.

[2020-11-03 12:42] gmintoco commented on #3119
I am talking about a ServiceMonitor "like" resource using the service IP instead of the endpoint IPs for use case as outlined by yann-soubeyrand and discussed with brancz and paulfantom stance on this being an anti pattern and therefore wouldn't make sense to support and following on from this why I thought it would make sense as something that may be considered. I can see however that this might

[2020-11-03 13:27] hussainsaify opened #3644 "Config loader is failing with below error"
Hi Team,

I have installed kube-prometheus-stack chart with version 11.0.0 that is using prometheus-config-reloader with version 0.43.0. After installation the container is failing with below error

Kubernets version- 1.18(AWS EKS)

heus-kube-prometheus-kube-prome-prometheus-rulefiles-0 --reload-url=http://127.0.0.1:9090/-/reload
level=info ts=2020-11-03T13:18:13.940765141Z caller=main.go:147 msg=

[2020-11-03 14:30] simonpasquier commented on #3644
Can you check the (unzipped) configuration from `/etc/prometheus/config/prometheus.yaml.gz`? There seems to be a `$(NAMESPACE)` in the generated configuration that the prometheus-config-reloader tries to expand.

[2020-11-03 15:25] hussainsaify commented on #3644
Looks like it is looking for NAMESPACE to be supplied as an environment variable but I am not sure how it was working earlier.

[2020-11-03 15:45] simonpasquier commented on #3644
I don't think anything as changed in that regard: `prometheus-config-reloader` always tried to expand `$(...)` strings in the configuration file.

[2020-11-03 18:23] jakerbeck commented on #2972
KubeAPI monitoring is working for my clusters.  I can see 3/3 active targets in Prometheus' [Status > Service Discovery] page and 0 alerts triggering for them.

`monitoring/a-apiserver/0 (3/3 active targets)`

[2020-11-03 19:41] shibumi commented on #2972
@jakerbeck  ok weird. It's not working in my cluster. I didn't try the etcd part, I only checked the KubeAPI, KubeScheduler, KubeController part.. and that didn't work. This is not etcd related right?

[2020-11-04 06:15] mohanagandlla commented on #2355
Hi, May I know how do you take the back up by a time range? because I am getting the full backup whenever I give API command
i followed this command curl -XPOST http://<prometheus_IP>:<Port>/api/v1/admin/tsdb/snapshot

[2020-11-04 08:57] Skarlso commented on #3302
Hi.

I'd like to add to this some more... This isn't working for use either. We are managing the prometheus object through code, and we are defining the PVC template like this:

[code]

This works correctly for <0.35 and ends up being empty for anything above. I really would like to understand what's the fix / workaround here. Because right now, the workaround is tedious as in okay, find an invali

[2020-11-04 10:49] desaintmartin commented on #3638
Note that it happens in 0.43.0 even without configSecret, only by having the "default" secret with several keys.

[2020-11-04 12:53] joshbranham commented on #3638
Interesting, in this case will the sidecar reload on template changes and `alertmanager.yaml` changes?

[2020-11-04 12:53] simonpasquier commented on #3638
I see why this is happening now. Since the introduction of `AlertmanagerConfig` CRD, the user-provided secret containing the Alertmanager configuration isn't mounted directly in the container. Instead the operator will merge this "raw" Alertmanager configuration with all `AlertmanagerConfig` objects and generate a new managed secret containing only the `alertmanager.yaml` key.

A workaround for no

[2020-11-04 14:09] desaintmartin commented on #3638
Yes, it is. alertmanager.yaml part is working as intended and changes are propagated to `alertmanager-{ALERTMANAGER_NAME}-generated` secret, and AlertManager correctly reloads.

[2020-11-04 14:12] desaintmartin commented on #3638
Unfortunately, prometheus-operator actively converge, if one edits the managed secret, to the "expected" result.

[2020-11-04 14:46] simonpasquier commented on #3638
I meant a fix in the operator code which I'm working on :)

[2020-11-05 02:18] aiyengar2 opened #3648 "Support mutating PrometheusRules with partial_response_strategy"
**What happened?**
Can't add `partial_response_strategy` to a PrometheusRule when validation is enabled.

**Did you expect to see something different?**
Yes, it's a valid field.

**How to reproduce it (as minimally and precisely as possible)**:
Deploy Prometheus Operator onto a Kubernetes cluster with [a MutatingWebhookConfiguration pointing to `/admission-prometheusrules/mutate`](https://github.c

[2020-11-05 08:37] mohanagandlla commented on #3632
ok fine So what I have done here is I am maintaining the retention as X days so I have planed a corn job for same X days to generate the snapshot and that will copy to storage driver finally the snapshot will delete inside the pod. By this one we will have the data period of X days after X days a new data will come and we can save the pod memory too.

I am facing another issue here the above one i

[2020-11-05 09:33] mohanagandlla opened #3649 "Snapshot generation for second replica"
Hi I am maintaining the 2 replicas for Prometheus and 2 replicas are having the different PV the Prometheus is in version at 2.22.0
I am going to generate the snapshot for data back up it is working only on 1 replica I mean the snapshot is generating only on the first replica how to collect the snapshot on the second replica?

[2020-11-05 09:39] nrchakradhar commented on #3632
If you want to take snapshots from each replica, you may have to invoke it for each pod separately and not use the svc.

[2020-11-05 15:15] ajay1206 commented on #2211
@hshtel @Shini31 Going through the same in AKS v1.18.8. Did a fresh resinstall of the clusters too. Any pointers please?

[2020-11-05 15:44] PSjoe opened #3650 "Alertmanager templates not being created in pods"
**What did you do?**
I've created a secret for AlertManager configs as follows

[code]

**Did you expect to see some different?**
I expected to see a slack_templates.tmpl file in the same directory on the pod as `alertmanager.yaml` appears.  I can verify that any changes I make to `alertmanager.yaml` are showing up in the file in the pod and showing up in the AlertManger GUI.  To me, this confirms

[2020-11-05 16:07] simonpasquier commented on #3650
Duplicate of https://github.com/prometheus-operator/prometheus-operator/issues/3638

[2020-11-05 16:07] #3650 closed

[2020-11-05 16:07] simonpasquier commented on #3638
Closed by #3647

[2020-11-05 16:07] #3638 closed

[2020-11-06 08:52] #3326 closed

[2020-11-06 09:47] simonpasquier commented on #2753
https://github.com/kubernetes/kubernetes/pull/94399 is an attempt to improve the way Kubernetes deals with statefulset pods that never become ready after a rollout.

See also https://github.com/kubernetes/kubernetes/issues/67250 and https://github.com/kubernetes/kubernetes/issues/78007

[2020-11-06 10:04] SuperQ opened #3652 "Add option to populate instance labels with pod names"
**What is missing?**

Friendly `instance` labels.

**Why do we need it?**

In order to improve user-friendliness of the `instance` label, having the pod name as part of the label would be useful.

For example, instead of `instance="10.0.0.1:9090"`, we could have `instance="prometheus-0:9090"`.

[2020-11-06 14:21] SuperQ commented on #3652
cc @paulfantom

[2020-11-06 14:37] lilic commented on #3652
Hey, thanks for the feature request. Do you already do this today via relabeling rules in ServiceMonitor and you just want this functionality by default in Prometheus operator?

While the idea for a better UX is a good one, we would have to look at possible downsides to doing this, I am not in favor of adding more and more flags for this as we already have a lot to maintain and causes a lot of con

[2020-11-06 14:47] SuperQ commented on #3652
I was looking into doing this with relabeling, but I want to stick with community best practices. If there is a best practice reason to not do this, I probably won't implement it internally.

The one big down-side to this if Kubernetes schedules two pods with the same name in the same namespace. This shouldn't happen in practice, but I don't know if there is anything to specifically prevent this f

[2020-11-06 14:54] lilic commented on #3652
kube-thanos does already this relabeling https://github.com/thanos-io/kube-thanos/blob/master/jsonnet/kube-thanos/kube-thanos-query.libsonnet#L178-L181

Yes in theory that should not happen, it should be prevented as resource names should be unique.

cc @brancz for any backstory on the instance label in prometheus-operator.

[2020-11-06 15:07] invidian opened #3654 "Add some sort of spell checking to the CI"
**Why do we need it?**

To make reviewers life easier and to keep code quality at high level, I suggest we add some automatic spell checking as part of CI process, to ensure less typos end up getting merged.

This has been discussed in #3653

Sample implementation using Github Actions and codespell could look like:
[code]

_simonpasquier's edit: updated the link to the PR which was incorrect_

[2020-11-07 07:02] albertyfwu opened #3656 "Old version of Prometheus"
Am I misunderstanding this? I was trying to use `ExternalLabels` in my AlertManager config, and it did not work.

I found https://github.com/prometheus-operator/prometheus-operator/issues/2774, which mentions that 2.10.0 has it implemented.

However, in the `go.mod` file below, I see that prometheus is on v1.8.2. Isn't this an ancient version?

https://github.com/prometheus-operator/prometheus-ope

[2020-11-07 07:08] albertyfwu commented on #3656
Actually, I'm a bit confused.

I just switched from `ExternalLabels` to `CommonLabels` in AlertManager, and they work again now.

[2020-11-09 08:30] #3535 closed

[2020-11-09 08:55] simonpasquier commented on #3656
go.mod can't use the "real" tag because Prometheus doesn't respect Go modules semver. But the last part of the reference (e.g. `0a7fdd3b7696`) provides the commit SHA.

[2020-11-09 08:55] #3656 closed

[2020-11-09 15:44] munipravy opened #3658 "unable to fetch pod metrics for pod podname : no metrics known for pod"
I am using Prometheus  Operator and Promether server from this repo.

Looing for : Trying to trigger HPA using Prometheus adaptor.

Error : 1 reststorage.go:160] unable to fetch pod metrics for pod podname: no metrics known for pod

Need suggestion on Prometheus Adaptor for achieving HPA

[2020-11-09 16:17] desaintmartin opened #3659 "Default config-reloader-memory (25Mi) may be too small for the new unifed prometheus config reloader"
**What happened?**

Lots of OOMKills on config-reloader container from prometheus Pod since upgrading to prometheus-operator 0.43.0.

**Did you expect to see something different?**

Not having OOMKills

**How to reproduce it (as minimally and precisely as possible)**:

- Deploy prometheus operator with default values
- Observe config-reloader being killed every few hours

**Environment**

Using ku

[2020-11-09 16:33] simonpasquier commented on #3658
@s-urbaniak @dgrisonnet looks like an issue for prometheus-adapter?

[2020-11-09 16:42] dgrisonnet commented on #3658
This sounds like the following metrics-server issue: https://github.com/kubernetes-sigs/metrics-server/issues/629

[2020-11-09 16:43] simonpasquier commented on #3659
Out of curiosity, what's the size of your prometheus config? Also can you share a graph of memory usage of the container?

[2020-11-09 16:45] simonpasquier commented on #3659
That being said, it seems a valid issue given that previously we had 2 reloader containers, each capped at 25Mi by default :)

[2020-11-09 16:59] desaintmartin commented on #3659
Hm yes I haven't mentioned that, I don't know if 50Mi is the right "default" value but that looked good first approach. Probably something in the middle would be right for ~90% of Prometheus deployments.

Prometheus config is ~1200 lines long and rulefiles is ~10000 lines long. Quite big.

[2020-11-09 17:21] lbesson-della opened #3661 "Multiple label matcher refused by admission webhook"
**What did you do?**
Create a PrometheusRule with a multi label matcher expression, e.g. `http_requests_total{job="prometheus",group="canary"}`

The rule is refused by the admission webhook "prometheusrulemutate.monitoring.coreos.com" denied the request: Rules are not valid

**Did you expect to see some different?**

**Environment**

* Prometheus Operator version:

v0.38.1

* Kubernetes version in

[2020-11-09 23:08] Tejeev opened #3662 "Prometheus metric `http_requests_total` only reports for resources in monitoring namespace"
**What did you do?**
Prometheus is deployed as part of Rancher Monitoring

**What did you expect to see?**
When I execute 'http_requests_total', it should return http requests stats of pods users deployed.

What did you see instead? Under which circumstances?
It only returned data for resources in the Monitoring namespace.  User deployments are omitted

Do I have to expose http_requests_total from

[2020-11-09 23:12] Tejeev commented on #3662
I believe brancz attempted to address this in https://github.com/prometheus-operator/prometheus-operator/issues/763 but his updates were not clear to me.

[2020-11-09 23:47] corest commented on #2398
@Nexucis  At Giant Swarm we're managing lots of alertmanagers. We have this issue of silencing different kinds of alerts and managing a history of changes. For now, we've solved this issue with https://github.com/giantswarm/silence-operator . It is a bit specific to our needs, but even if you don't need to sync git repo with silences into your k8s clusters(kind of gitops way), you can use this ope

[2020-11-09 23:48] dharmab commented on #2398
@corest very cool! I will share that with my team!

[2020-11-10 01:36] dogfei commented on #3495
I had this problem too, can you tell me how it was solved? Thank you. @Yalafeg

[2020-11-10 08:18] foxylion opened #3664 "Thanos sidecar does reject any requests through service and pod port forwarding"
**What happened?**

I configured the Thanos sidecar container to be running along with a Prometheus instance.

**Did you expect to see something different?**

I expected to be able to access the sidecars ports for grpc and metrics, but wasn't able to do so.

**How to reproduce it (as minimally and precisely as possible)**:

I created an empty minikube cluster. And installed `prometheus-operator` i

[2020-11-10 08:33] simonpasquier commented on #3659
How does the memory graph look like if you set the limit to 50Mi? Is it steadily increasing, flat, sawtooth?

[2020-11-10 08:46] simonpasquier commented on #3662
Do you have configured service/pod monitors to scrape metrics from your application? Is prometheus configured to monitor other namespaces than `monitoring`?

The question would probably better answered by the Rancher project.

[2020-11-10 09:06] simonpasquier commented on #3664
This seems related to https://github.com/kubernetes/kubernetes/issues/72597

[2020-11-10 09:30] simonpasquier commented on #3661
Can you try with a more recent version of prometheus-operator? There should be a log message in prometheus-operator.

[2020-11-10 10:02] leandrocostam opened #3665 "Slack receivers are not being populated using managed secret for alertmanager"
**What happened?**
Following the steps described [here](https://github.com/prometheus-operator/prometheus-operator/blob/master/Documentation/user-guides/alerting.md#manually-managed-secret), you should be able to define alertmanager config using managed secret. When adding receivers of slack_config type, operator is not creating it properly. It's working with webhook and pagerduty, but not using s

[2020-11-10 10:05] simonpasquier commented on #3654
Copying my [comment](https://github.com/prometheus-operator/prometheus-operator/pull/3653#issuecomment-723113206) from the linked PR

I'd be more comfortable if the check only applies to comments and docs but I'm not sure codespell can get to this level of granularity.

[2020-11-10 10:24] lilic commented on #3654
+1 on Simons comment. @invidian if you can find a better tool that does spell check, we are happy to add it to our CI. Until then I prefer a few misspelled texts vs modifications that are invalid. :)

[2020-11-10 11:47] lbesson-della commented on #3661
I tried with a more recent version, and I do find logs

`component=admissionwebhook msg="Invalid rule" err="1:61: group \"myservice-metric\", rule 1, \"myservice_metric\": could not parse expression: 1:50: parse error: unexpected end of input inside braces"`

I'm gonna look, but I'm not sure to understand why my expression is refused.

[2020-11-10 13:33] simonpasquier commented on #3661
There might be a glitch in the expression string. Maybe try wrapping it within single quotes?

_Salut Lionel ! Sympa de te voir ici, ça change de [c2c](https://www.camptocamp.org/profiles/4049/fr/simonp) :)_

[2020-11-10 14:25] lbesson-della commented on #3661
Using single quotes didn't help, but I solved it with some escaping.

To be complete, I'm passing the rule via terraform, so I was escaping the double quotes. I witched to single quotes, and I tried to add a backslash before the comma and that made it.
(so the string passed via terraform is  `"rabbitmq_queue_messages{queue='myservice'\\,job='prometheus-rabbitmq-exporter-0'}"`)

I don't know exactl

[2020-11-10 14:25] #3661 closed

[2020-11-10 16:45] simonpasquier commented on #3665
Ah! When `AlertmanagerConfigSelector` is not nil, the operator will only render receivers that are supported by the `AlertmanagerConfig` CRD (e.g. OpsGenie, PagerDuty and webhook). Receivers of other types are discarded without notice unfortunately. It should at least have been called out in the docs, sorry for this.

[2020-11-10 16:48] simonpasquier commented on #3665
The fix would be to extend the internal [`receiver`](https://github.com/prometheus-operator/prometheus-operator/blob/dd1e5214da02a9f4a3c3637b76e56fb3a54303e6/pkg/alertmanager/amcfg.go#L97-L104) struct with all receiver configs supported by Alertmanager.

[2020-11-10 17:10] leandrocostam commented on #3665
@simonpasquier Yes, after removing `AlertmanagerConfigSelector` it worked just fine. Thank your for troubleshooting the issue.

[2020-11-10 17:19] foxylion commented on #3664
@simonpasquier how can I interpret your answer? I read this as" `kubectl port-forward` does not work as we would like it to work".

But this won't explain why port forwarding for the service also does not work, right? I also see the problem when the Thanos querier tries to connect to the sidecar. It also gets a "Connection refused". Has anyone configured this in a way that it works?

[2020-11-10 17:22] bismarck commented on #2824
@s-urbaniak Were you able to verify if this was fixed when #3043 merged?

[2020-11-11 08:09] keyboardfann commented on #3608
Hi @wesleywh,
    I install kube-prometheus-stack today and the additionalScrapeConfigsSecret seems work and can scrape.

Chart Version
[code]
Scrape config
prometheus-additional.yaml
[code]
Create Secret
[code]

custom-values.yaml
[code]

result
kubectl get prometheus -n prometheus -o yaml
[code]

[2020-11-11 09:14] barakplasma opened #3667 "docs: user-guide for linting needs an update"
In the documentation [user-guide for linting](https://github.com/prometheus-operator/prometheus-operator/blob/ce0f2cb240f8503020c92e063300e83fb35ef33d/Documentation/user-guides/linting.md#example), the example script's docker command is broken.

It seems like the docker command broke since the image was changed.

The following command does work, and I would be happy to modify the script to improve

[2020-11-11 09:33] brancz commented on #2670
@karanmagdani1 which version of Prometheus are you using?

[2020-11-11 09:37] brancz commented on #3288
Agreed, it's better than nothing. Also, I would imagine if there was a pre-baked github action (whether it's using hashicorp/go-changelog or not), would probably be a very much used community GitHub action if anyone wants to build it.

[2020-11-11 12:58] paulfantom commented on #3654
I think I did sth like that some time ago. More in https://pawel.krupa.net.pl/2018/07/automate-your-grammar-checks/ :smile:

[2020-11-11 13:55] brancz commented on #3652
Namespace and pod combination is guaranteed to be unique in Kubernetes (at least on the API level, which is what we're concerned with here), so this is not something we need to worry about, in fact, it could be useful, for StatefulSets for example, as the same pod (like statefulset-0), is intentionally the logical continuation of its potential predecessor, so this would actually be "more correct"

[2020-11-11 15:14] Zeka13 commented on #256
**For future googlers:**

`helm install --generate-name --namespace monitoring -f custom-values.yaml prometheus-community/prometheus-blackbox-exporter
`

custom.values.yaml
`config:
  modules:
    tcp_connect:
      prober: tcp
      timeout: 5s

serviceMonitor:
  enabled: true
  targets:
      - name: clamav
        url: tcp://clamav.foo:3310
        labels:
          app: blackbox
          rele

[2020-11-11 15:45] brancz commented on #3636
cc @dgrisonnet

[2020-11-11 15:50] brancz commented on #3610
I do want to note, configuring Loki collection similar to Prometheus' collection can be quite fruitful, and I would encourage you to do that. Essentially try to have the same labels on your Loki logs as you do on your Prometheus targets.

[2020-11-11 16:02] brancz commented on #3649
You will need to specifically do requests against each replica to do this.

[2020-11-11 16:45] brancz commented on #3667
Please feel free to fix the docs! :)

[2020-11-11 16:46] brancz commented on #3654
I prefer not to have something like this. I've experienced them to be noisy no matter if required or not.

[2020-11-11 16:48] brancz commented on #3664
`kubectl port-forward` by default doesn't work I believe because the thanos sidecar doesn't listen on all interfaces, but only the Pod IP. I think that's what @simonpasquier was getting at.

[2020-11-11 21:25] foxylion commented on #3664
Okay, but at least the Thanos querier should be able to connect to the sidecar, right? In my case this is also not working.

Are there any reasons why the Sidecar is not bound to `0.0.0.0` instead of the Pod IP?

[2020-11-12 01:28] jicki opened #3669 "Evaluating rule failed"
pls help me

[code]

[2020-11-12 08:06] brancz commented on #3664
I remember we did a bunch of changes binding to Pod IP for IPv6 support. @paulfantom I think you did that work, do you remember if this had something to do with it?

How is the Thanos querier setup? Just as a side note, it's best to open issues on the helm charts repo when you install via the helm chart as we don't use nor maintain the helm charts, so the maintainers of them tend to have better co

[2020-11-12 08:29] Yalafeg commented on #3495
Hello @dogfei,

I created a configmap that contains the targets.json file and I added the related configuration to additionalScrapeConfigs under values.yaml file.

Configmap configuration:
targets.json:
----
[
  {
    "labels": {
      "job": "servers"
    },
    "targets": [
      "",
      ""
    ]
  }
]

Values.yaml:
    additionalScrapeConfigs:
     - job_name: servers
       file_sd_configs:

[2020-11-12 09:35] dgrisonnet commented on #3636
Hi @radinv, your problem seems to be coming from a namespace selector misconfiguration. You mentioned that your Prometheus instance and your PodMonitor are in different namespaces; however, in your Prometheus manifest, you don't set the `podMonitorNamespaceSelector` value. As per the [API documentation](https://github.com/prometheus-operator/prometheus-operator/blob/master/Documentation/api.md#pro

[2020-11-12 10:01] simonpasquier commented on #3669
This is an issue with Prometheus rather than with the operator itself. The error may indicate that the data on disk is corrupted or invalid.

[2020-11-12 12:46] #3517 closed

[2020-11-12 13:45] yann-soubeyrand opened #3671 "Isn't Pormetheus' readiness probe too slow to detect a failure?"
Hello,

The comment here https://github.com/prometheus-operator/prometheus-operator/blob/7daed4b44b1a198972f3d7ea3c904895fb536861/pkg/prometheus/statefulset.go#L652 indicates that 10 minutes are necessary to let Prometheus do data recovery on startup. The problem is that a failure takes 10 minutes to be detected. Unless I'm mistaken, it's not a problem for a pod to fail it's readiness probe during

[2020-11-12 13:55] paulfantom commented on #3671
Yes, lowering this sounds like a good solution.

[2020-11-12 14:44] desaintmartin commented on #3659
Hm, it looks... weird.
This is for the last 3 days. Looks stable at 39MB
<img width="806" alt="Screenshot 2020-11-12 at 15 40 42" src="https://user-images.githubusercontent.com/38929/98953870-8153a300-24fd-11eb-90ff-46a69ca38883.png">

[2020-11-12 14:50] #3659 closed

[2020-11-12 17:04] diyavicky opened #3672 "Latest prometheus-operator image unavailable in registry"
Team,

when we are trying to pull latest prometheus-operator image its unavailable in docker registry.
https://quay.io/repository/coreos/prometheus-operator?tab=tags

Latest image that we could see is **v0.42.1**

Could you please advise on this.

Thanks!

[2020-11-12 17:08] paulfantom commented on #3672
As stated in [0.41.0 release notes](https://github.com/prometheus-operator/prometheus-operator/releases/tag/v0.41.0) we dropped coreos repository after migration to the new organization. Since 0.43.0 images are only pushed to [prometheus-operator organization](https://quay.io/organization/prometheus-operator) on quay.io.

[2020-11-12 17:08] #3672 closed

[2020-11-12 17:27] paulfantom commented on #3664
AFAIR IPv6 and POD_IP was done only for node_exporter and we touched neither prometheus nor thanos components as they were working fine for us.

You can use a workaround script from https://github.com/kubernetes/kubernetes/issues/72597#issuecomment-693149447 to port-forward to non-localhost ports. However, it seems like an issue with querier discovery.

[2020-11-12 17:40] diyavicky commented on #3672
Thanks for the update!

[2020-11-12 18:38] diyavicky opened #3673 "Custom terminationGracePeriodSeconds for Operator"
Team,

In our private cloud infra, we have limitation on terminationGracePeriodSeconds(<180) seconds.
Also we have explicitly specified this parameter in Operator Deployment manifest like below but still prometheus CRD creations is getting failed.

**terminationGracePeriodSeconds: 60**

Error:
 Warning  FailedCreate  12s (x13 over 32s)  statefulset-controller  create Pod prometheus-prometheus-reso

[2020-11-12 19:39] diyavicky opened #3674 "AlertmanagerConfig CRD Error"
Team,

We are using latest version of prometheus operator and when we try to apply AlertmanagerConfig CRD seeign the below error.
Could you please advise what's causing this issue?

Thanks!

**error: unable to recognize "01_alertManager_config.yml": no matches for kind "AlertmanagerConfig" in version "monitoring.coreos.com/v1alpha1"**

[2020-11-13 02:21] mohanagandlla opened #3675 "Thanos deployment"
Hi team I didn't see any Thanos deployment files might be I am missing something could you please provide the Thanos deployment with prometheus-operator by core os .
On any guidence links to download.

[2020-11-13 08:55] simonpasquier commented on #3674
The `AlertmanagerConfig` CRD is probably missing from the cluster. You can check its presence with `kubectl get crd alertmanagerconfigs.monitoring.coreos.com`.

[2020-11-13 08:56] simonpasquier commented on #3675
You want to check https://github.com/thanos-io/kube-thanos. The prometheus operator only deals with Thanos ruler and sidecar.

[2020-11-13 12:16] nrchakradhar commented on #3553
![PrometheusOperatorSelector-ForGitWithNamespaces](https://user-images.githubusercontent.com/38882990/99071346-fb585a80-25d7-11eb-862c-1658589aabf3.png)

I hope, I have covered most possible use cases in the picture above. I would be happy to receive any feedback/corrections/suggestions.

[2020-11-13 12:33] nrchakradhar commented on #3671
I guess the value can be changed by Containers patching. 10m looks quite long though.

[2020-11-13 12:42] vincent-pli opened #3676 "Add "Status" for ServiceMonitor"
**What is missing?**
Could we add `status` for `ServiceMonitor` or `PodMonitor`.
the state will be simple, just mark if the CR has been recognized by `operator`.

**Why do we need it?**
Sometimes after created `ServiceMonitor`, we has no idea if it has been adopt since there will be many reason cause it not been adopt, for example, the `ns` not label correct or label not match
If there is a flag i

[2020-11-13 13:14] simonpasquier commented on #3676
Yes this is already tracked in https://github.com/prometheus-operator/prometheus-operator/issues/3335.

[2020-11-13 13:14] #3676 closed

[2020-11-13 14:05] wndhydrnt opened #3677 "Empty configuration in Prometheus after change to ConfigMap"
**What happened?**

After an update to the ConfigMap that contains alert and recording rules, the config of a Prometheus server at `/config` is empty:

[code]

Triggering a reload of the Prometheus server via the `/-/reload` endpoint resolves the issue immediately.

We are running a lot of smaller Prometheus servers. This issue does not happen on every update of a ConfigMap but, given our number o

[2020-11-13 15:34] diyavicky commented on #3674
@simonpasquier ya its missing in the cluster. But as operator is already deployed with latest version it should have the CRD created right?

Please clarify on this.

Thanks!

[2020-11-13 15:41] diyavicky commented on #3674
Seeing only the below CRDs for coreos
➜  ~ kubectl get crd | grep -i monit
alertmanagers.monitoring.coreos.com                                2020-04-10T20:25:37Z
podmonitors.monitoring.coreos.com                                  2020-04-10T20:25:37Z
probes.monitoring.coreos.com                                       2020-09-03T23:48:24Z
prometheuses.monitoring.coreos.com

[2020-11-13 16:07] simonpasquier commented on #3677
v0.35.1 is quite old. Please try with the latest prometheus operator version and report back if it's still happening.

[2020-11-13 16:08] simonpasquier commented on #3674
Not necessarily. Someone (yourself or your cluster admin) has to make sure that the CRDs are up-to-date which doesn't seem to be the case.

[2020-11-13 16:10] simonpasquier commented on #3674
see https://github.com/prometheus-operator/prometheus-operator#quickstart

[2020-11-13 17:40] metroshica commented on #3665
Looks like support for the Slack receiver in the AlertmanagerConfig CRD was merged in recently https://github.com/prometheus-operator/prometheus-operator/pull/3618 so I expect this should be resolved with the next release.

[2020-11-13 19:26] hoangelos opened #3678 "service account missing in the namespace Prometheus Resource created."
I installed the operator using kustomize into a namespace called operators.  I'm using Kubernetes 1.17 cluster on Azure's AKS.  This is a multi-tenant environment.  In one of the tenant namespaces I installed the following Prometheus resources

`apiVersion: monitoring.coreos.com/v1
kind: Prometheus
metadata:
  name: prometheus
  labels:
    prometheus: k8s
  namespace: fake-tenant-ns
spec:
  repli

[2020-11-13 23:18] foxylion commented on #3664
I created a simple repository that reproduces the issue: https://github.com/foxylion-playground/thanos-prometheus-repro

The thanos querier is configured as following (and deployed in the same namespace):
[code]

The service is present in Kubernetes:
[code]

The Prometheus is configured as before:
[code]

[2020-11-13 23:36] foxylion commented on #3664
Okay, i figured it out. I mixed up the metrics and the grpc port. Sorry for bothering you with this.

[2020-11-13 23:36] #3664 closed

[2020-11-14 03:46] mohanagandlla commented on #3675
Ok thank you

[2020-11-16 09:27] simonpasquier commented on #3665
@metroshica yes but the issue exists nonetheless for other receiver types like Pushover for instance.

[2020-11-16 10:26] #3675 closed

[2020-11-16 11:44] MrD2 opened #3683 "Increase throttling alarm threshold"
Throttling on pods is set to trigger alarm when it is above 25%
This should be much much higher because if the applications are well set up they would consumer efficiently the resources.

I would say this Throttling should be only triggered for CPU usage above 95% to 90%.

It's normal for my clusters to always trigger an alarm for my prometheus-node-exporter pods as they always have a a CPU consum

[2020-11-16 14:26] simonpasquier commented on #3683
That's an issue for kube-prometheus I believe.

[2020-11-16 16:21] diyavicky commented on #3674
@simonpasquier We have added Alertmangerconfig CRD to our cluster and am able to list that CRD.
We are trying to configure Slack notification with webhook endpoint. Looks like standard alertmanager receiver configuration parameters are different from Alertmangerconfig.

I was referring the below documents but couldn't find all matching keys in configuration. Could you please advise on this.

https

[2020-11-16 17:49] anishasthana opened #3684 "Update Prometheus Operator available via Community Operators"
**What is missing?**

Community Operator Version is outdated.

**Why do we need it?**

The latest version of the Prometheus Operator available in the community operators repository is [0.37](https://github.com/operator-framework/community-operators/tree/master/community-operators/prometheus/0.37.0 ), which came out in March.

Since the latest tagged release of the operator is 0.43.2 it would be gr

[2020-11-16 22:07] diyavicky commented on #3673
Can someone advise on this?

Thanks!

[2020-11-17 06:47] mohanagandlla commented on #3649
May I know how to give request specifically

[2020-11-17 08:04] s-urbaniak commented on #3684
This doesn't seem to be a question related to prometheus-operator per se. Note that we don't include distribution specific deployments here, these are handled elsewhere, i.e. helm has its own repo at https://github.com/prometheus-community/helm-charts/tree/main/charts/kube-prometheus-stack. I suggest to open an issue in OperatorHub itself. We do not maintain that repository.

[2020-11-17 08:04] #3684 closed

[2020-11-17 08:36] mohanagandlla opened #3687 "Frequently Compaction failed in Prometheus DB"
Hi I was facing the WAL compaction fail and in logs I have seen this

level=error ts=2020-11-14T17:02:36.468Z caller=db.go:685 component=tsdb msg="compaction failed" err="delete persisted head block after failed db reload:01EQ3V61MKYGSW91GP411WRBTQ: unlinkat /prometheus/01EQ3V61MKYGSW91GP411WRBTQ/chunks: directory not empty"

This issue is geting a lots of time I am not sure there the mistake is..

[2020-11-17 08:52] simonpasquier commented on #3674
The format of the AlertmanagerConfig CRD is defined [here](https://github.com/prometheus-operator/prometheus-operator/blob/master/Documentation/api.md#alertmanagerconfigspec). Not every field of the Alertmanager's configuration is exposed.

Note that because of #3665, you should use `AlertmanagerConfig` resources if you're using only webhook, PagerDuty or OpsGenie receivers.

[2020-11-17 08:59] simonpasquier commented on #3687
This is more a question about Prometheus than the operator itself. What's your PV/PVC flavor? What's the content of the `/prometheus/01EQ3V61MKYGSW91GP411WRBTQ/chunks` directory?

[2020-11-17 11:33] vsliouniaev commented on #3673
I believe that you can override the configuration of an individual container by using the `spec.containers` field as documented here: https://github.com/prometheus-operator/prometheus-operator/blob/master/Documentation/api.md#prometheusspec

[2020-11-17 14:36] shibumi opened #3688 "[alertmanagerconfig] routes field gets empty when applied to cluster"
**What happened?**

When I apply the following configuration via helm the `routes:` field is suddenly empty on the cluster:

[code]

The applied version looks like this: `kubectl describe alertmanager`:
[code]

This leads to this error message here:
[code]
**Did you expect to see something different?**

I expect that the routes section gets deployed, too.

**How to reproduce it (as minimally and p

[2020-11-18 04:25] diyavicky commented on #3674
Thanks for looking into this Simon.

@simonpasquier Even after updating all parameters am not receiving alert with the configured webhook ednpoint.
Could you please advise on this?

Config file is reloaded properly though.

apiVersion: monitoring.coreos.com/v1alpha1
kind: AlertmanagerConfig
metadata:
  name: alertmanager-config-webhook
  labels:
    alertmanagerConfig: slack-webhook-notification
s

[2020-11-18 04:53] mohanagandlla commented on #3687
I am using the mapr system POSIX type and static way of memory
Inside the chunks directory the content is

/prometheus/01EQ3V61MKYGSW91GP411WRBTQ/chunks $ ls -lart
total 795398
-rw-r--r--    1 xxxxxxxxx  xxxxx    536870843 Nov 14 17:01 .fuse.fuse000001
-rw-r--r--    1 xxxxxxxxx  xxxxx   277615125 Nov 14 17:01 .fuse.fuse000002
drwxr-xr-x    3 xxxxxxxxx  xxxxx            2 Nov 17 08:23 ..
drwxr-xr-x

[2020-11-18 08:34] #3623 closed

[2020-11-18 08:35] simonpasquier commented on #3687
then it's an issue with mapr rather than Prometheus.

[2020-11-18 12:30] mohanagandlla commented on #3687
ok

[2020-11-18 13:26] #3687 closed

[2020-11-18 13:33] mohanagandlla commented on #3632
Could you please give more guidence to do that.

[2020-11-18 13:47] longtomjr opened #3690 "Inconsistent naming between base Alertmanager and AlertmanagerConfig CRD receiver keys"
The capitalization for the `AlertmanagerConfig` CRD receiver keys differ from how the words are broken up in the base Alertmanager config
https://github.com/prometheus-operator/prometheus-operator/blob/131dad67dd1537387b751f9829ba04dbc3675a00/pkg/apis/monitoring/v1alpha1/alertmanager_config_types.go#L78-L84
vs
[code]
https://prometheus.io/docs/alerting/latest/configuration/#receiver

I can see thi

[2020-11-18 15:28] lilic commented on #3690
Thanks for the issue. At least we can choose to go one way and agreed, being consistent with alertmanager is the right way, as we do this with other config fields.

From what I can gather we need the change the following two, or did I miss any:
- weChatConfigs -> wechatConfigs
- pagerDutyConfigs -> pagerdutyConfigs

cc @simonpasquier and @grdryn for further thoughts on this.

[2020-11-18 15:47] simonpasquier commented on #3690
I'm fine with it, consistency is definitely good. I only see the 2 fields @lilic mentioned that would need a change.

[2020-11-18 15:53] simonpasquier commented on #3674
Have you checked the Alertmanager logs?

[2020-11-18 16:24] diyavicky commented on #3674
@simonpasquier Alertmanager logs doesn't have any errors. **hooks.slack.com** is a webhook endpoint for Slack. So will this be considered as webhookConfigs or slackConfigs?

If its slackConfigs as you already mentioned it is not supported with alertmanagerConfig CRD at this point?

Please advise!

**AlertManager Logs:**
level=info ts=2020-11-18T16:16:24.525Z caller=coordinator.go:119 component=con

[2020-11-18 16:48] simonpasquier commented on #3674
If you see nothing in the logs, it is because hooks.slack.com replied with 200 though the posted payload doesn't make any sense for it. I presume you have to wait for Slack to be supported in the next Prometheus operator release.

[2020-11-18 19:35] v-pap commented on #3119
I think that one way to monitor a service without scraping data from all its pods, is to use the uri of the service `<service-name>.<namespace>.svc.cluster.local:<service-port>` in an `additional-scrape-configs` secret.

[2020-11-18 20:35] grdryn commented on #3690
Sounds good to me. :+1:

[2020-11-19 05:37] mohanagandlla opened #3693 "queries.active: permission denied"
Hi I am facing this issue and the prometheus is from operator and that instace is previously working fine after almost 20 days now i am facing this issue (PV and PVC are bounded successful)

level=error ts=2020-11-19T05:32:16.299Z caller=query_logger.go:87 component=activeQueryTracker msg="Error opening query log file" file=/prometheus/queries.active err="open /prometheus/queries.active: permissio

[2020-11-19 08:20] lilic commented on #3690
@longtomjr are you interested in doing the changes and opening a PR? No worries if not, we can add a help-wanted in case anyone wants to pick up as its a good first issue.

[2020-11-19 08:38] simonpasquier commented on #3693
For some reason the Prometheus process doesn't have permissions to write to the data directory. You might want to check the permissions/ownership of the volume. Closing as a duplicate of #3459.

[2020-11-19 08:38] #3693 closed

[2020-11-19 10:37] #3665 closed

[2020-11-19 12:13] mohanagandlla commented on #3459
I didn't find solution for my issue #3693 could you please guide me the solution here

[2020-11-19 15:00] simonpasquier commented on #3688
Thanks for reporting the issue! Indeed I understand more or less why this is happening. It looks like the circular definition in the [`Route`](https://github.com/prometheus-operator/prometheus-operator/blob/master/Documentation/api.md#route) struct isn't well supported by the Kube API.

[2020-11-19 15:02] simonpasquier commented on #3688
Sorry I didn't read carefully the first time but it is very likely that the issue has been fixed in v0.42 by https://github.com/prometheus-operator/prometheus-operator/pull/3457. Closing for now, feel free to reopen if you can reproduce with the latest version.

[2020-11-19 15:05] simonpasquier commented on #2501
For people that may stumble upon this issue by accident, it should have been completely fixed by https://github.com/prometheus-operator/prometheus-operator/pull/3457 (prometheus-operator >= v0.42.0)

[2020-11-19 15:13] dgrisonnet opened #3695 "Flaky e2e test: PromGetAuthSecret/bearer-token"
The `TestAllNS/y/PromGetAuthSecret/bearer-token` e2e test is very rarely failing in CI. I didn't look into it but there might be some issue with how we are checking for healthy targets in the tests. https://github.com/dgrisonnet/prometheus-operator/blob/fedeed921ef71accae9934059fdedc2cec1c1135/test/framework/prometheus.go#L350-L372

A new mechanism to check for healthy targets was recently added i

[2020-11-20 01:17] diyavicky commented on #3673
@vsliouniaev @simonpasquier Could you please advise the variable that can used to specify custom terminationGracePeriodSeconds? In the above document am not seeing anything specific to this.

Thanks!

[2020-11-20 03:55] GuobingLiu opened #3699 "AlertmanagerConfig and Alertmanager's alertmanager.yaml not match！！！"
**What did you do?**
[code]
automate secret `alertmanager-example-generated` content：
[code]
convert to text:
[code]
I can't find default-config-example-wechat-example,  what does it  mean？

**Environment**

* Prometheus Operator version:
v0.43.2
* Kubernetes version information:
v18.3
* Kubernetes cluster kind:
kubeadm

[2020-11-20 06:19] mohanagandlla opened #3700 "Multi tenancy Possibility for Prometheus"
Hi
Can we have the possibility for multi tenancy for Prometheus which is from operator.

[2020-11-20 06:21] chiehmin commented on #3459
Adding `securityContext` to the Prometheus object should fix the problem.

[code]

[2020-11-20 07:42] mohanagandlla commented on #3459
I have done that still it is showing the same error

[2020-11-20 10:06] simonpasquier commented on #3699
WeChat isn't supported in v0.43.2. It will be in the next release.

[2020-11-20 10:31] #3677 closed

[2020-11-20 10:32] simonpasquier commented on #3688
Sorry I messed up and didn't mean to close it :)

[2020-11-20 10:33] simonpasquier commented on #3677
Sorry I didn't read carefully the first time but it is very likely that the issue has been fixed in v0.42 by #3457. Closing for now, feel free to reopen if you can reproduce with the latest version.

[2020-11-20 10:40] shibumi commented on #3688
@simonpasquier  ah ok. For one moment  I have been happy that this is fixed :D

[2020-11-20 12:14] angeloskaltsikis commented on #3204
Any news on this feature? (or the design doc?)

[2020-11-20 12:20] hmlkao opened #3704 "`--dry-run=server` support in admission webhook"
**What is missing?**
Admission webhook doesn't support `--dry-run=server`

**Why do we need it?**
To check Prometheus rules over `--dry-run=server` to be sure that Prometheus rule syntax is correct before deployment.

* Prometheus Operator version:
    `quay.io/coreos/prometheus-operator:v0.38.1`
* Kubectl version:
    `v1.19.4`

**Issue example**
[code]

[code]

[2020-11-20 12:51] simonpasquier commented on #3704
Hmm I would expect that `--dry-run` is supported if the admission webhook is configured with `sideEffects: None` (according to https://kubernetes.io/docs/reference/access-authn-authz/extensible-admission-controllers/#side-effects). Can you check if it is the case or not?

[2020-11-20 15:42] diyavicky commented on #3673
@vsliouniaev @simonpasquier As of now this works only with the default terminationGracePeriodSeconds: 600 seconds. As our cluster is managed, we can allocate max of 180 seconds only. In this scenario prometheus CRD creation is broken.

Please advise on this!

Thanks!

[2020-11-20 16:30] simonpasquier commented on #3673
@vsliouniaev AFAICT `terminationGracePeriodSeconds` works at the pod level so `spec.containers` won't help here.

Closed in favor of #3433 where the discussion can continue. It looks like you're hitting the same issue as described in https://github.com/prometheus-operator/prometheus-operator/issues/3278.

[2020-11-20 16:30] #3673 closed

[2020-11-20 16:33] simonpasquier commented on #3433
#3673 is another report about the hard-coded termination grace period. This looks similar to #3278: some cloud providers enforce a maximum value for `terminationGracePeriodSeconds` preventing the roll-out of the prometheus statefulset.

[2020-11-20 16:47] diyavicky commented on #3433
@simonpasquier So at this point there is no possible way to provide acceptable custom value for terminationGracePeriod?
Just trying to understand the current state of this issue.

Thanks!

[2020-11-22 03:28] GuobingLiu commented on #3699
native  alertmanager can support email_config，but in prometheus operator  alertmanagerconfig can't support receiver email_config。
![image](https://user-images.githubusercontent.com/41884027/99892955-d6d63f80-2cb5-11eb-9594-e983f128a7d4.png)

[2020-11-22 14:13] Danipiario opened #3706 "Add label "app" to PodMetadata doesn't work"
**What happened?**
Label "app" added with PodMetadata is not propagated to prometheus pod

**Did you expect to see something different?**
With this Prometheus configuration:
[code]
I expect to have a Prometheus pod like this:
[code]
but the Prometheus pod is always created with
[code]

**How to reproduce it (as minimally and precisely as possible)**:

**Environment**

* Prometheus Operator version

[2020-11-22 16:10] FarnazZ opened #3708 "prometheus and alertmanager's node-selector set by prometheus-operator"
Is is possible to set `node-selector` of prometheus and alertmanager by the operator to make them to deploy on specific nodes without specify it in their own manifests?

**What did you do?**
I try to add below part to prometheus-operator:
[code]

**Did you expect to see some different?**

I expected to see that all resources start recreating and migrating to specified nodes and the `node-selector`

[2020-11-23 08:44] Alanthur opened #3709 "How to integration with PushProx"
Hi,I use prometheus operator,but I do not know how to integration with pushProx?
How do I configure the prometheus operator to integration with pushProx?
Any help is appreciate

[2020-11-23 09:12] simonpasquier commented on #3699
@GuobingLiu yes we still have a few integrations that aren't supported but hopefully they will be soon. See https://github.com/prometheus-operator/prometheus-operator/pull/3701, https://github.com/prometheus-operator/prometheus-operator/pull/3697 and https://github.com/prometheus-operator/prometheus-operator/pull/3692.

[2020-11-23 09:12] #3699 closed

[2020-11-23 09:24] paulfantom commented on #3709
The integration with pushprox is done the same way as with other applications exposing a Service. After you deployed pushprox and created a Service for it, you need to add a ServiceMonitor which will be picked up by prometheus-operator to configure prometheus. More on the topic in https://github.com/prometheus-operator/prometheus-operator/blob/master/Documentation/user-guides/getting-started.md

[2020-11-23 09:27] simonpasquier commented on #3706
The `app` and `prometheus` labels are reserved by the operator to configure the `prometheus-operated` service IIUC. We need either to document this limitation in the documentation or use a different label names (prefixed by "operator.prometheus.io"?). I don't have enough background to decide which option is appropriate.
cc @s-urbaniak @brancz

[2020-11-23 09:28] paulfantom commented on #3708
nodeSelector is Prometheus CRD and it is part of PrometheusSpec. More in https://github.com/prometheus-operator/prometheus-operator/blob/master/Documentation/api.md#prometheusspec

[2020-11-23 09:34] Alanthur commented on #3709
@paulfantom But the ServiceMonitor is not have 'static_configs'.The pushprox needs 'static_configs' for presuming the FQDN of the client is "client".

[2020-11-23 09:40] paulfantom commented on #3709
In that case you can configure it with `additionalScrapeConfigs` in [PrometheusSpec](https://github.com/prometheus-operator/prometheus-operator/blob/master/Documentation/api.md#prometheusspec)

[2020-11-23 12:11] hmlkao commented on #3704
Honestly, I dindn't know about `sideEffeects` field so thanks for the link.
I changed this field to `sideEffects: None` (default is `Unknown`) as you mentioned but the behavior is still the same
[code]
[code]
I'm still convinced that it must be supported on the webhook side.

I use K8s `v1.16.14`, server-side dry run si [enabled by default from 1.13](https://kubernetes.io/blog/2019/01/14/apiserver

[2020-11-23 13:09] paulfantom commented on #3648
This is not a bug since `partial_response_strategy` is not a prometheus rule group field. This is an additional field used by thanos. Changing to feature request.

[2020-11-23 13:42] hmlkao commented on #3704
I realized that the `expr` in example is valid PromQL request (and it will pass validation) so I have changed it to
[code]
which is really invalid (correct is `version=~".*"`).

But that doesn't change fact that validation still not work even if field `sideEffect: None` is set...

[2020-11-23 13:52] simonpasquier commented on #3704
I did a test with v0.43.2 and I can't reproduce:

[code]

Maybe it was broken before #3574? So I'd advise to update the operator's version.

[2020-11-23 15:59] simonpasquier opened #3710 "Implement admission webhook for AlertmanagerConfig resources"
**What is missing?**

Similar to what we have for Prometheus rules, it would be useful to implement an admission webhook endpoint for `AlertmanagerConfig` resources.

**Why do we need it?**

There are validation constraints that can't be modeled in the CRD. To list a few:
* ~~a route needs to reference the name of an existing receiver in the same resource ([link](https://github.com/prometheus-oper

[2020-11-23 16:11] munipravy commented on #3658
@dgrisonnet I am facing this issue with kubernetes cluster v 1.17, is this issue cluster version specific ?
If it is not cluster specific, can you please let me know how can I achieve HPA with Prometheus Adaptor ?

[2020-11-24 03:27] shouichi commented on #3239
Had the same issue and setting `securityContext` worked for me. See https://github.com/prometheus-operator/prometheus-operator/issues/3459.

[2020-11-24 07:29] simonpasquier commented on #3239
Closing in favor of #3459

[2020-11-24 07:29] #3239 closed

[2020-11-24 07:33] #3690 closed

[2020-11-24 11:51] gleichda commented on #2883
@petergood will you still work on that?

[2020-11-24 12:35] #3533 closed

[2020-11-24 12:36] lilic commented on #3700
@mohanagandlla Hey! We have several mechanisms already, like thanos ruler and the ability to create different Prometheus instances, etc. but might help if you can explain you specific use case.

[2020-11-24 12:38] lilic commented on #3678
Hey @hoangelos can you clarify a bit what you mean by the following, thanks!

[2020-11-24 12:42] mohanagandlla commented on #3700
Ya sure For example I have an instance which is scraping the all data from all components now my use case is like I want to privilege to specified ns for one person and some other ns for some other person how to do it.

[2020-11-24 12:54] lilic commented on #3700
So you are more wanting to know how to multi-tenancy on a query level then? You want one Prometheus instance to scrape metrics from all namespaces, but users to only have access to see their own namespace metrics? Is this what you mean by privilege?

[2020-11-24 13:46] dgrisonnet commented on #3658
@munipravy yes after looking into it again, it seems that the issue I linked is specific to 1.19.

As you problem seems to be related to prometheus-adapter, would you mind opening this issue in https://github.com/DirectXMan12/k8s-prometheus-adapter/ and provide your prometheus-adaptor and hpa configurations? I'll help you with the debug from there.

[2020-11-24 14:58] munipravy commented on #3658
@dgrisonnet created new issue - Hpa is failing with the following specification. #340
Please help me with the same

[2020-11-24 16:29] mohanagandlla commented on #3700
Yes

[2020-11-24 16:34] #3539 closed

[2020-11-25 03:22] Alanthur commented on #3709
@paulfantom But the 'additionalScrapeConfigs' needs 'job_name'. And the ServiceMonitor is not have 'job_name'.
So I configure prometheus-additional.yaml
`- job_name: kubesphere-monitoring-system/node-exporter/edge
  honor_timestamps: true
  scrape_interval: 1m
  scrape_timeout: 10s
  metrics_path: /metrics
  proxy_url: http://10.233.56.173:8080/
  static_configs:
    - targets: ['pushprox-client-5

[2020-11-25 08:30] #3538 closed

[2020-11-25 14:43] hoangelos commented on #3678
@lilic

Yeah, so, I use kustomize to install prometheus-operator into the namespace operators.  After deploying it, we see a secret for prometheus resources created in the operators namespace.  We have a tenant namespace called ds-<tenant>-ns, and we've included a Prometheus resource with no secretName.   There's no secretName imported to the ds-<tenant>-ns.

[2020-11-25 14:59] paulfantom commented on #3709
As far as I can see without knowing your setup network topology everything is ok apart from your `targets`. Since `additionaScrapeConfigs` are including raw prometheus config, it doesn't know anything about k8s objects. For this reason, anything you put into `targets` needs to be reachable from prometheus pod. Is `pushprox-client-5947cc99bb-q7v97:9100` an address that is reachable from prometheus?

[2020-11-25 19:38] wiardvanrij opened #3711 "Add .spec.minReadySeconds as configurable option"
**What is missing?**
.spec.minReadySeconds

**Why do we need it?**
In a HA setup using Cortex or Thanos, I want to have 0 downtime deployments.
Best-case now is to run 3 replica's of Prometheus.

Yet if there was an option to rollout slowly between instances, it would be fine to run a replication of 2.

Current behaviour:

- Prometheus 1 gets terminated -> starts again
- Loads WAL and eventually (

[2020-11-26 02:15] Alanthur commented on #3709
@paulfantom The targets is not reachable  from prometheus pod.But the proxy_url is reachable from prometheus pod.
My network topologies:
![20201126091320](https://user-images.githubusercontent.com/9957813/100296691-e01e1f80-2fc7-11eb-8dc0-9295dfda024a.png)
The prometheus can access proxy_url but not the targets.So if the prometheus would like to access targets, it has to access to proxy_url. I und

[2020-11-26 09:22] brancz commented on #3649
Because Prometheus is deployed in a statefulset, it should be something along the lines of

* `prometheus-<prometheus-object-name>-<replica-ordinal>.prometheus-operated.<namespace>.svc`

So for a `Prometheus` called `k8s` in the `monitoring` namespace with 2 replicas, that would be:

* `prometheus-k8s-0.prometheus-operated.monitoring.svc`
* `prometheus-k8s-1.prometheus-operated.monitoring.svc`

[2020-11-26 09:38] brancz commented on #3706
That is correct @simonpasquier. If we change these, then we should only change them once and clean them up once and for all. If we do that, then I think we should change these to be the official Kubernetes app labels.

[2020-11-26 11:08] Pluies commented on #1139
Thank you @schneifi , that link was helpful - the Prometheus logs have more info than the alert does, including the name of the `scrape_pool`, which helps narrowing this down 👍

(In our case it was a duplicated ServiceMonitor, so Prometheus was scraping the same endpoint twice and ended up with different values during the same scrape)

[2020-11-26 11:15] mohanagandlla commented on #3649
Ya thank you

[2020-11-26 11:15] #3649 closed

[2020-11-26 11:37] brancz commented on #3700
This is exactly what we built [prom-label-proxy](https://github.com/prometheus-community/prom-label-proxy) for, and we even dropped a note in the [example use](https://github.com/prometheus-community/prom-label-proxy#example-use) section how this can be achieved.

[2020-11-26 12:54] brancz commented on #3711
I think this is generally a sound idea. I wonder if we could start with a value that is not configurable, that hopefully works for everyone? What do you think?

[2020-11-26 13:33] wiardvanrij commented on #3711
I've actually came into a discussion with someone, who pointed out that minReadySeconds would not perse resolve my "issue". It was more that a phased roll-out could be done with statefulsets partitioning. I thought I could achieve this with minReadySeconds, but I might actually be mistaken.

Nonetheless, being able to change things in the prometheus operator statefulset via the CRD's would be awes

[2020-11-26 14:29] #3688 closed

[2020-11-26 16:07] mohanagandlla commented on #3700
This is really pretty cool I will go with this

[2020-11-26 18:00] RangelReale commented on #3587
I am having this same problem, but with the readinessProbe instead.
This happens over and over for more than 1 hour.
[code]

[2020-11-26 19:21] RangelReale commented on #3587
I discovered in #3391 that it is possible to do this:

[code]
This fixed my problem.

[2020-11-27 02:07] coderanger commented on #3700
This feels possibly out of scope for the operator given that the topology can get fairly arbitrary depending on your scale. label proxy works well on the small end but for a larger setup something like Cortex would probably be better. Also depends on how "hard" your tenant boundaries are, do you expect active cross-tenant attacks or just logical divisions.

[2020-11-27 06:53] brancz commented on #3700
For what it's worth, both Thanos and Cortex essentially only perform enforcing a tenant at query time, it might look different but that's the start, what happens afterwards depends on the concrete storage choice and concrete setup. It doesn't have anything to do with prom-label-proxy being scalable or not.

I do agree though that integrating some arbitrary tenancy mechanism is out of scope for the

[2020-11-27 06:53] #3700 closed

[2020-11-27 17:05] #3576 closed

[2020-11-29 08:25] konvergence commented on #2289
Whhy did you remove node label ?

[2020-11-29 12:06] brpaz commented on #3636
I am getting the same problem. The operator is not even detecting ServiceMonitors from helm charts like ingress-nginx, so I guess it´s not a problem of the ServiceMonitor definition per see, but some issue or missing configuration from the operator itself.

According to the logs, The Operator is looking into all namespaces, but it´s finding any Pod or Service monitor. Note that I am using the kube

[2020-11-30 15:14] diyavicky commented on #3433
@simonpasquier @brancz Could you please advise if there is a possible way to mention custom terminationGracePeriod by any chance?

Please advise!

Thanks!

[2020-11-30 15:57] jalev opened #3715 "Updating PVC in StorageSpec does not update PVC Spec"
**What happened?**

Updated the PVC storage request in a Prometheus CRD, but this the value was not reflected in the PVC created. We are using the EBS StorageClass. At the moment we have to update the Prometheus CRD and then manually update the created PVC object to reflect any size changes.

**Did you expect to see something different?**

Update the Prometheus CRD should reflect updates to the PV

[2020-11-30 16:15] bygui86 commented on #3706
Hi guys,

I'm using the `kube-prometheus release-0.4` with operator `0.35.1` and no matter which label I add, they are completely ignored by the operator.

For example:
[code]

Is the behaviouor still correct or does it look weird?

Thanks for your help!

[2020-11-30 18:14] #3142 closed

[2020-12-01 07:38] BoxuanChen commented on #3552
i meet the same issue there, how can i fix it? by upgrade prom-op version?

[2020-12-01 08:31] simonpasquier commented on #3706
@bygui86

:wave: there aren't only "guys" in this community :smirk:

`0.35.1` is very old, can you update the version of the operator?

[2020-12-01 08:35] simonpasquier commented on #3552
@BoxuanChen yes you should upgrade to v0.43.2.

[2020-12-01 08:38] simonpasquier commented on #3715
:wave: thanks for your report! It seems to me that it is the same issue as #2668. Can you check it and close this one if this is the case?

[2020-12-01 08:46] jalev commented on #3715
So I went ahead and manually made an STS object. Looks as though VolumeClaimTemplates don't update already existing PVCs, so this isn't so much an Operator bug as it is "Kubernetes behaviour I don't like". Closing the issue since there's nothing to do.

[2020-12-01 08:47] jalev commented on #3715
It is yeah. Closing it down.

[2020-12-01 08:47] #3715 closed

[2020-12-01 09:09] bygui86 commented on #3706
ok sorry! let me rephrase!

hi everybody!!

@simonpasquier I'm running kubernetes on `GKE` with version `v1.17.13-gke.600`, so looking at the compatibility matrix, more recent versions should not work. If you think like `release-0.5` could work, I can give it a try!

[2020-12-01 15:35] jalev commented on #2357
Also ran into this via #3715

What do you think needs to be done for the Operator to manage PVCs more closely? Would it be something like:

1. Check `StorageClass` object referenced by `volumeClaimTemplate` to see if expansion is allowed,
1. If true, compare PVC claim from previous STS vs current STS and check if volume size request has changed,
1. If true, use the k8s client to update the `Physic

[2020-12-01 15:59] simonpasquier commented on #3706
@bygui86 you should be able to use prometheus-operator v0.43.2 with GKE v1.17. I don't think you need to update the kube-prometheus version.

[2020-12-01 16:07] coderanger commented on #2357
@jalev I don't think this is a thing for the operator to manage. If it's going to be fixed it should be upstream. Way too many possible bad outcomes from directly mutating an object owned by another controller, even without persistent storage being thrown in the mix.

[2020-12-02 07:56] bygui86 commented on #3706
@simonpasquier I tried already to do some upgrades on prometheus-operator: from v0.35.1 first to 0.36.0, then 0.37.0, then 0.38.0 but they require also CRDs upgrade, so I gave up thinking that the entire kube-prometheus release was required.

I try to upgrade both CRDS and prometheus-operator to the latest versions and let you know!

[2020-12-02 08:49] smeeklai commented on #256
To make the above solution work, you also need to configure prometheus as written in the note [here](https://github.com/prometheus-community/helm-charts/tree/main/charts/kube-prometheus-stack#prometheusioscrape).

[2020-12-02 09:31] #3635 closed

[2020-12-02 09:51] paulfantom commented on #3296
This is done in #3668

[2020-12-02 09:51] #3296 closed

[2020-12-02 13:00] brancz commented on #3678
I'm not sure I can follow. The `Prometheus` resource works much like a `StatefulSet` if you specify a `serviceAccountName` in it, then you are also responsible for creating this `ServiceAccount`.

[2020-12-02 13:34] hoangelos commented on #3678
Most of the Kubernetes operators we use copy their own service account automatically from wherever it was installed.

Is that it’s behavior if you don’t specify serviceAccountName?

Sent from my iPhone

[2020-12-02 14:26] brancz commented on #3678
If you don't specify a `serviceAccountName` then the `default` ServiceAccount of that namespace will be used, just like always when you leave `serviceAccountName` empty in any `Pod`.

[2020-12-02 14:33] hoangelos commented on #3678
Ok, so i guess I’m requesting a feature. Most of the other operators we use. Grafana is a good example.  You don’t have to install the service account yourself.  The operator copies the service account from the namespace it is in.

Sent from my iPhone

[2020-12-02 14:54] brancz commented on #3678
What do you mean when you say "copy"? Are you actually saying it copies a ServiceAccount including roles and rolebindings? Or are just just saying it creates _a_ ServiceAccount automatically? Since Prometheus ServiceAccount is actually important and needs more permissions than most things (most things should not need _any_ permissions unless they are somehow talking to the Kubernetes API), I don't

[2020-12-02 16:42] lilic commented on #3288
So we seem to have an agreement or no one is really opposed to this? Anyone want to take this on?

[2020-12-02 19:44] lfrittelli commented on #3119
Although one can make a very reasonable argument that Prometheus should aim to scrape endpoints and not services, would you not say that it is at least confusing to have a CRD called "ServiceMonitor" that monitors **endpoints** when Prometheus configuration does support monitoring both **endpoints** and **services** independently? At least for educational purposes I'd recommend renaming it or perh

[2020-12-02 20:09] framled opened #3720 "Confusing documentation for serviceMonitorNamespaceSelector and podMonitorNamespaceSelector"
**What happened?**

Documentation in the link below is kind of incomplete or a bit confusing.

https://github.com/prometheus-operator/prometheus-operator/blob/master/Documentation/api.md#prometheusspec

Current doc says:
| Field | Description |
|--|--|
|serviceMonitorNamespaceSelector| Namespaces to be selected for ServiceMonitor discovery. If nil, only check own namespace.|
|podMonitorNamespaceSe

[2020-12-03 07:22] brancz commented on #3720
Sounds great! Would you like to propose this change?

[2020-12-03 10:44] chromafunk opened #3721 "How can I use my NFS provisioner service with prometheus-operator ?"
I have followed this article to build a configuration that spawns an NFS provision container via a service account:
https://medium.com/@myte/kubernetes-nfs-and-dynamic-nfs-provisioning-97e2afb8b4a9

This way, volumes are dynamically created from my NFS server and supposedly attached to anything requiring a persistent volume. My plan was to setup persistence for this prometheus stack deployment. Ho

[2020-12-03 10:47] coderanger commented on #3721
As with the blog post you linked, you can set the `storageClassName: nfs` or whatever your NFS storage class name is. That is passed through to the underlying StatefulSet spec.

[2020-12-03 10:54] simonpasquier commented on #3721
You're probably aware of this but bear in mind that [Prometheus](https://prometheus.io/docs/prometheus/latest/storage/#operational-aspects) doesn't recommend using NFS for storage.

[2020-12-03 11:27] chromafunk commented on #3721
Thanks for the information, I wasn't aware. On this case, I guess the solution for now is to just provision local storage. Is there a guide to make sure the volumes are persistent then ?

[2020-12-03 15:46] jalev commented on #2357
Agreed. @coderanger

What about solving a slightly different problem. Right now, any non-label change to the `Prometheus` object will cause the StatefulSet managed by the Controller to be delete and created. It's very frustrating when you're trying to keep a cluster HA as all pods owned by the StatefulSet will also be deleted in that process.

Should we make the Operator orphan the pods created by

[2020-12-03 18:11] framled commented on #3720
Yeah sure!

[2020-12-04 08:38] paulfantom commented on #3288
Yes, I will implement it. The starting PR was already merged in #3719

[2020-12-04 08:47] brancz commented on #2211
I opened a PR for GKE https://github.com/prometheus-operator/kube-prometheus/pull/821

I don't know the situation with AKS well enough to judge whether the same strategy should be applied.

[2020-12-04 10:14] simonpasquier commented on #2357
@jalev your last request seems to be related to https://github.com/prometheus-operator/prometheus-operator/issues/2753 which is also something that would need to be address upstream.

[2020-12-04 10:28] simonpasquier commented on #1725
Closed by #2944

[2020-12-04 10:28] #1725 closed

[2020-12-04 18:12] framled commented on #3720
PR #3723

[2020-12-04 22:25] diyavicky commented on #3433
@simonpasquier @brancz Really appreciate any update on the above query.

Thanks!

[2020-12-06 10:26] dorsany opened #3724 "ability to change --storage.tsdb.max-block-duration value"
**What is missing?**
support the ability to change `--storage.tsdb.max-block-duration` value. currently it's hard coded to `2h` :

https://github.com/prometheus-operator/prometheus-operator/blob/1d47c7497313e9685a8f8cbe14550f215d8c309e/pkg/prometheus/statefulset.go#L808-L810

and also the `--storage.tsdb.min-block-duration` key

probably need also to change some things in helm charts and [here](ht

[2020-12-06 12:50] dorsany opened #3725 "any way to disable sync prometheus configuration?"
**What did you do?**
I have changed some flags in the Prometheus  `statefuleset` resource, in my case: `kubectl -n monitoring edit statefulsets.apps prometheus-kube-prometheus-stack-prometheus` and after 2 seconds the `prometheus-operator` synced back to the original configuration as mentioned  in the `README.md`:

**Did you expect to see some different?**
There is any way to disable this sync?

s

[2020-12-07 08:16] xavierW commented on #1843
is there any  easier way to find out the expired client ?

[2020-12-07 08:39] coderanger commented on #1843
Not via metrics. Metrics are for numeric values, not textual data like client names. As mentioned earlier in the thread, apiserver should be logging more verbosely when an almost-expired client connects but that fix would need to be in apiserver itself, not here.

[2020-12-07 08:53] kong62 commented on #2224
any update ?

[2020-12-07 08:57] coderanger commented on #2224
The update is "this is not likely to be fixed because it's not a bug". If you use the ServouceMonitor or PodMonitor objects you can tightly control the namespaces used.

I'm going to close this out.

[2020-12-07 08:57] #2224 closed

[2020-12-07 10:56] s-urbaniak commented on #2824
@bismarck sorry not yet, but i definitely have it on my radar.

[2020-12-07 12:47] EranOfer commented on #3147
I think it almost the same code as the admission code.
I using this work around in the mean time https://gist.github.com/EranOfer/c8b80529d36a335f5002689f1c46af8f

[2020-12-07 14:16] simonpasquier commented on #3725
What you can do is override the containers as generated by the operator using the `spec.containers` field. See more in the [API docs](https://github.com/prometheus-operator/prometheus-operator/blob/master/Documentation/api.md#prometheusspec).

[2020-12-07 14:17] simonpasquier commented on #3725
other than that you can scale down the operator to 0 and override the statefulset definition as you wish.

[2020-12-07 14:27] simonpasquier commented on #3724
We don't want to promote something that is discouraged by upstream. Expect to prevent compaction in the Thanos case, there is no "good" reason to decrease `storage.tsdb.max-block-duration`. Which Prometheus version are you running?

[2020-12-07 16:03] Whyeasy opened #3726 "AlertmanagerConfig - Opsgenie Responder"
**What happened?**

Hi I'm switching towards the new AlertmanagerConfig CRD, but when I try to configure Opsgenie responders I get the following error: `OpsGenieConfig responder {   } has to have at least one of id, username or name specified"`.

I tried it with different values for responders:

[code]
and
[code]

Both with the same result.

**Did you expect to see something different?**

That the

[2020-12-07 17:31] dorsany commented on #3724
Hi  @simonpasquier ,  I have got the OOM issue on `v2.19.3` Prometheus version.
Maybe it's discouraged by upstream, but it's configurable.
So why not to expose this configuration and let the end user to handle the consequences?

[2020-12-07 17:38] bismarck commented on #2824
@s-urbaniak From my preliminary testing, I believe this is fixed.

[2020-12-07 19:03] jaredstehler commented on #3726
seeing the same; looks like the rendered config.yml looks like:
[code]

[2020-12-07 19:08] jaredstehler opened #3727 "alertmanager config-reloader failing, wants "enable-lifecycle" flag"
Seeing the following error in the alertmanager-main-* pod, config-reloader container:

[code]

this is with prometheus-operator v0.44.0

[2020-12-07 19:46] jaredstehler commented on #3727
I am now thinking this is related to #3726

[2020-12-07 19:46] #3727 closed

[2020-12-07 20:45] dorsany commented on #3725
Hi @simonpasquier , if I'll use `prometheus.prometheusSpec.containers` it will add additional container, but it won't change the `prometheus` container itself.
no way to override the `command` or `args` of the `prometheus` container?

I actually want to avoid from that, since it will consider as a friction which I'll have to maintain to be identical to the original `prometheus` statefulset

[2020-12-07 20:49] coderanger commented on #3725
It will, it's a keyed array and the extra config is deep-merged with an understanding of that.

[2020-12-08 03:42] mohanagandlla opened #3729 "HA for alert-manager"
Hi I just want to enable the HA for alert manager I saw the documentation only like https://coreos.com/operators/prometheus/docs/0.17.0/high-availability.html no where I found how to enable this feature with and.**How to maintain the gossip function between those**  Do we have any guidencies to make as HA (alertmanager) ?
I am using the Operator version 0.42.0
Alert-manager version 0.21.0

[2020-12-08 10:39] simonpasquier commented on #3726
Can you share the generated Alertmanager config as well as the full AlertmanagerConfig definition? Something like `kubectl get secrets <generated secret> -o json | jq '.data["alertmanager.yaml"]' | base64 -d -`.

[2020-12-08 12:29] Whyeasy commented on #3726
AlertmanagerConfig:
[code]

generated Alertmanager configuration:

[code]

Just as @jaredstehler mentioned, seems there is an empty `{ }` generated.

[2020-12-08 12:30] simonpasquier commented on #3729
Setting the `spec.replicas` field of the Alertmanager resource to a value greater than 1 will automatically setup the gossip clustering.

[2020-12-08 12:30] #3729 closed

[2020-12-08 13:22] mohanagandlla commented on #3729
Thank you for that even If i have maintain the more than 1 replica i am getting this error
evel=warn ts=2020-12-08T13:19:51.634Z caller=cluster.go:438 component=cluster msg=refresh result=failure addr=alertmanager-test1-0.alertmanager-operated.depl.svc:9094 err="1 error occurred:\n\t* Failed to resolve alertmanager-test1-0.alertmanager-operated.depl.svc:9094: lookup alertmanager-test1-0.alertmanag

[2020-12-08 13:28] simonpasquier commented on #3724
sure but you can notice that the flags are hidden and not listed by `prometheus --help`. Changing this setting is really a band-aid solution and has side effects such as degraded data compression. You need to allocate more memory to Prometheus or shard the metrics collection.

See discussions in #1375.

[2020-12-08 13:34] simonpasquier commented on #3729
Does the log message repeat over time or does it happen only once?

[2020-12-08 13:41] mohanagandlla commented on #3729
It has repeated 3 times and now not repeating at

[2020-12-08 13:45] simonpasquier commented on #3729
Then everything is fine. It needed a bit of time for the DNS server to update its data.

[2020-12-08 13:49] mohanagandlla commented on #3729
OK I good to hear thank you.

[2020-12-08 13:59] SAbdulRahuman opened #3731 "How to modify prometheus Retention at run time ?."
**What did you do?**
  I'm using openshift cluster and prometheus operator is installed and Prometheus,AlertManager are running. Now i have a request to change prometheus **Retention** (i.e, 100d), Mainly i'm looking REST API to change it , Is there any REST API available to change prometheus Retention at runtime?

**Environment**
  Openshift cluster 4.6

[2020-12-08 14:41] bygui86 commented on #3706
@simonpasquier thanks for your tip! I did an upgrade of all components in the prometheus environment and works perfectly.
Basically I can say that kube-prometheus `release-0.6` and `master` work also with Kubernetes `1.17.x`.

[2020-12-08 15:21] s-urbaniak commented on #2824
fwiw i also tested locally removing the following line and executing the e2e tests: https://github.com/prometheus-operator/prometheus-operator/blob/67780ccc4567250c58493162e4eea68a0f8eece3/pkg/operator/types.go#L33

and things seem to work fine, so I will submit a PR.

Thank you @bismarck for the verification as well!

[2020-12-08 15:41] simonpasquier commented on #3731
The retention is controlled by CLI flags only. Check the `spec.retention` and `spec.retentionSize` fields in the Prometheus CRD.

[2020-12-08 15:58] lilic commented on #3731
Since you are using openshift, check the openshift [docs here](https://docs.openshift.com/container-platform/4.6/monitoring/configuring-the-monitoring-stack.html#modifying-retention-time-for-prometheus-metrics-data_configuring-the-monitoring-stack) we have this documented as you cannot modify the Prometheus resource directly but via a ConfigMap. But for where you have control over the Prometheus r

[2020-12-08 19:18] maloochpich commented on #2733
I am also facing the same issue any solution for this?

[2020-12-09 05:54] SAbdulRahuman commented on #3731
Thanks **simonpasquier** and **lilic** for answers and the link. Now i got the idea and able to modify prometheus "Retention".

My requirement was to modify `retention` at runtime based on user's request.

[2020-12-09 08:12] brancz commented on #3433
You can always merge arbitrary customization to containers by specifying a container with the name "prometheus" in the "containers" field of the Prometheus custom resource, note this is an unsupported feature and customizations you do we won't help troubleshoot. We are unlikely to accept a first class feature for customizing `terminationGracePeriod`, as we would prefer to fix the root cause.

[2020-12-09 09:33] simonpasquier commented on #2733
@maloochpich can you try with the latest Prometheus operator version + debug log level enabled?

[2020-12-09 09:34] simonpasquier commented on #3731
@SAbdulRahuman I'm closing it since modifying retention at runtime isn't supported by Prometheus.

[2020-12-09 09:34] #3731 closed

[2020-12-09 10:03] NamrataKokate commented on #644
I am also facing this issue with Prometheus-operator version v0.38.1, how to resolvethis?

[2020-12-09 13:47] dorsany commented on #3724
more memory: can be issue on a bare metal server.
shard the metrics collection: We need to test it if this can be done with 1 Prometheus replica and to see if it won't get OOM

[2020-12-09 13:47] #3724 closed

[2020-12-09 14:50] dorsany commented on #3725
work like a charm!
thanks a lot @coderanger

example:
[code]

[2020-12-09 14:50] #3725 closed

[2020-12-09 16:09] jasonstitt commented on #3204
Running into this trying to scrape AWS MSK (see: https://docs.aws.amazon.com/msk/latest/developerguide/open-monitoring.html). MSK provides a FQDN for each broker, and we also have them aliased to consistent in-cluster names using ExternalName services. The underlying IP addresses _might_ be stable, but I don't see sufficient documentation to rely on that, and in any case they would have to be hard

[2020-12-10 00:28] snuggie12 opened #3733 "Why does alertmanagerconfigs automatically add a namespace matcher"
**What did you do?**
I created an `AlertmanagerConfig` and noticed it is adding a matcher for `namespace`. Is there some way to turn this off? What if there is no namespace label? What if the namespace is under a different label? What if I want it to be for all namespaces?

**Did you expect to see some different?**
I think I sort of understand why this exists, but curious if there's any way to tur

[2020-12-10 03:34] #2745 closed

[2020-12-10 04:19] mohanagandlla opened #3734 "permission denied on both containers in Prometheus at operator version 0.44.0"
Hi team i am using the operator version as 0.44.0 there I am facing the issue like permission issue on both the containers
on Prometheus container the permission issue on queries.active and on config container also the permission same
* Prometheus config-reloader container Logs:

[code]

* Prometheus container Logs:
[code]

[2020-12-10 06:50] jamesla opened #3735 "Sharing the /prometheus directory with a prometheus-operator sidecar"
I am trying to deploy the prometheus operator with a sidecar that has the /prometheus volume mounted. I've been through the docs but struggling to see how to achieve this.

The closest I have got is the following however this gives me an error around the rest of the required volumes not being mounted.

[code]

The error is

[code]

So I considered creating each of these as `emptydir` volumes but i

[2020-12-10 08:44] simonpasquier commented on #3734
Do you use persistent storage?

[2020-12-10 08:51] simonpasquier commented on #1336
Regarding Alertmanager, we now have the `AlertmanagerConfig` CRD allowing teams to provision their own routing tree for alerts. For service monitors and rules, everything's already in place to have a shared Prometheus monitoring several independent namespaces. I'm going to close this, feel free to open specific issues if you think that there are still gaps.

[2020-12-10 08:51] #1336 closed

[2020-12-10 09:42] brancz commented on #644
Please update to latest, you're more than 6 mintor versions behind.

[2020-12-10 09:45] brancz commented on #3733
That's kind of the point of the feature, otherwise it's possible that alertmanager configs in different namespaces conflict and Alertmanager won't be able to start.

[2020-12-10 09:47] #3726 closed

[2020-12-10 09:49] brancz commented on #3735
You should be able to do this without specifying the `volumes`, and using the name "prometheus-prometheus-db" (you can find the code that generates that name [here](https://github.com/prometheus-operator/prometheus-operator/blob/95b84612569ccbb4550ec80b6f8d98fd88dd0804/pkg/prometheus/statefulset.go#L911-L917)).

[2020-12-10 10:47] jamesla commented on #3735
That worked thanks @brancz

[2020-12-10 10:47] #3735 closed

[2020-12-10 11:07] mohanagandlla commented on #3734
Yes I have used too

[2020-12-10 12:09] bshifter opened #3737 "Make AlertManagerConfig namespace label matching optional / configurable"
It is a great thing that we have a validated alertmanager config with possible runtime reconfiguration. It’s much safer than the Helm chart values and easy to manage from 3rd parties.

However there are use-cases where the namespace restriction is not handy:

1. If an alert doesn't have a namespace label. There are already a couple of alerts (maybe from aggregated metrics) that have no namespace l

[2020-12-10 14:38] brancz commented on #3737
We haven't done a great job at documenting this, but the secret where we previously configured the entire Alertmanager configuration, still works, and can be used to configure exactly this. I do think though that this is a sub-par experience. I would suggest that we embed an AlertmanagerConfig in the Alertmanager object, where no namespace enforcement is applied. What do you think?

[2020-12-10 14:39] simonpasquier commented on #3734
Can you share the YAML Prometheus resource as well as the pod definition? Please also communicate your Kubernetes version/environment. Given that persistent storage is covered in the end-to-end tests, it might be an issue with Kube.

[2020-12-10 15:59] bshifter commented on #3737
Thank you for the hint, let me take a closer look on the details!

[2020-12-10 16:18] tarokkk commented on #3737
An AlertmanagerConfig under the Alertmanager object seems reasonable. I really like that we don't have to use raw secret so the input is validated against the Alertmanager config schema ;) Thank you for the quick answer

[2020-12-10 16:23] snuggie12 commented on #3733
Perhaps I'm in the minority but the feature I really cared about was using secret refs.

Regardless, do you see any reason why current behavior can't be the default and provide the ability to override?

One other thought I haven't tried is deploy only receivers via the object and, when necessary, deploy the route via the normal secret?

[2020-12-11 09:19] nrchakradhar commented on #3611
@arghya88 Gentle ping to check if you are still working on this?

[2020-12-11 10:48] gna582 commented on #3124
Ok, I'm legit confused. I get this error. There is no log regarding which are the targets that are providing the duplicates. The alert also doesn't specify this in any manner.

Could you help me figure out which of my targets are providing these duplicates?

Thanks a lot!

[2020-12-11 13:34] #3269 closed

[2020-12-11 19:55] kragniz commented on #3733
#3737 has the same problem: being able to specify a default on the alertmanager resource would be great

[2020-12-11 20:00] kragniz commented on #3737
That would be great.

[2020-12-11 20:37] snuggie12 commented on #3733
Doing just receivers in the `AlertmanagerConfig` works as expected.

As there are no secrets in the routes (at least for me, very much a prometheus newb,) I put them back in the secret. Since we use kustomize I should be able to put the routes in plaintext in git and use a secret generator (without the hash) to create the `Secret`.

I suppose my issues are resolved but I have two semi-contradictor

[2020-12-11 21:56] snuggie12 commented on #3733
Actually, maybe doing only receivers only semi works? If you make a route in the `Secret` and you use the name for the receiver that is auto generated it returns this error:

[code]

[2020-12-12 09:26] juewu4072 opened #3738 "How to hide my ServiceMonitor"
**What did you do?**
There is an old Prometheus operator, which is provided by another company and has the right to discover ServiceMonitor under all my namespaces.

There are some valuable indicators that are not allowed to be seen except the boss,
So I made a new prometheus-operator in kubernetes.
My question, how to hide my ServiceMonitor in the new namespace and be discovered by the old promet

[2020-12-14 04:01] duanyifei1937 opened #3739 "use prometheus sharding, how to split rules?"
i use prometheus sharding features in v0.44.1 version, have two prometheus shards;
pre prometheus only pull 1/2 metrics; but rules is for all targets;
prometheus targets show unhealthy;
how to fix this?

and not use thanos rules, is there any other way?

[2020-12-14 09:49] simonpasquier commented on #3738
If the metrics are really sensitive, your best option is to setup authentication for the metric endpoints (using [kube-rbac-proxy](https://github.com/brancz/kube-rbac-proxy) for instance).

[2020-12-14 13:38] paulfantom commented on #3124
@gna582 try checking services listed in promql: `scrape_samples_scraped-scrape_samples_post_metric_relabeling > 0` and you can also check this article for more help: https://www.robustperception.io/debugging-out-of-order-samples

[2020-12-14 13:55] paulfantom commented on #3720
Closing as #3723 was merged.

[2020-12-14 13:55] #3720 closed

[2020-12-14 15:19] vaxinate commented on #644
I'm having this problem as well on v0.44.1. I have pods running on AWS fargate and when they get replaced, prometheus continues to try and scrape the endpoints for the old kubelet in addition to the new ones.

[2020-12-14 15:35] stratus-ss commented on #2368
I just wanted to post for @bharathpantala the answer to your question is with the service endpoints. If the service endpoints do not match the IPs of the pods, this will cause the error:

Below you can see when the alert is firing because one of the pods IPs doesn't match the endpoint

[code]

[2020-12-14 15:52] paulfantom commented on #2368
I just created a runbook for this alert at https://github.com/prometheus-operator/kube-prometheus/wiki/AlertmanagerMembersInconsistent. Do not hesitate to improve it :)

[2020-12-15 09:32] mrueg opened #3740 "Design Doc is missing info about recently added CRDs"
**What happened?**
Looked at https://github.com/prometheus-operator/prometheus-operator/blob/master/Documentation/design.md which is linked in https://github.com/prometheus-operator/prometheus-operator#customresourcedefinitions
**Did you expect to see something different?**
I expected it to provide information on all CRDs and it's missing ThanosRuler, Probe and AlertmanagerConfig CRD.

[2020-12-15 09:38] #3739 closed

[2020-12-15 09:39] duanyifei1937 commented on #3739
target can split

[2020-12-15 09:51] angelovopsan commented on #2847
I can confirm this being an issue for https://artifacthub.io/packages/helm/prometheus-community/kube-prometheus-stack/12.8.0 running on EKS 1.18.9 (latest at the point of writing). Any pointers towards fixing the root cause?

[2020-12-15 12:36] lilic opened #3741 "Update thanos example automatically via jsonnet"
In our Thanos ruler and query [examples](https://github.com/prometheus-operator/prometheus-operator/blob/31bf4b889a5ea6de4c1907e299066787fcd73bae/example/thanos/thanos-ruler.yaml) seem to still be using the image for Thanos v0.11, we should add these manifests to our jsonnet generation, so when we update them automatically when we bump versions of Thanos we support to the latest.

Full [example](h

[2020-12-15 13:01] lilic commented on #3740
Hey, thanks for the issue! 👋 I would not say it's bug, so removed that and added docs label instead. But yes this should be updated! Our API docs are up to date as they are generated https://github.com/prometheus-operator/prometheus-operator/blob/master/Documentation/api.md#thanosruler

What are you missing from those docs? What would you like to see added about AlertmanagerConfig, ThanosRuler and

[2020-12-15 13:44] s-urbaniak commented on #3740
yes, agreed, we apparently missed adding those.

[2020-12-15 14:10] lilic commented on #3667
Seems like the PR was merged for this. Closing this issue, if a new one shows up lets open a new one. Thanks for issue and contribution @barakplasma!

[2020-12-15 14:10] #3667 closed

[2020-12-15 16:26] simonpasquier commented on #3740
We mention the new CRDs in the README.md but agree that we should be more cautious in the future. It's also hard to know exactly what to update given there's no website hosting the docs (hint #3431).

[2020-12-16 01:10] vdi-kakui opened #3743 "I get an error when I try to deploy the Prometheus rule manifest file."
I get an error when I try to deploy the Prometheus rule manifest file.

[code]

I can't determine what's causing the problem.
Please provide a solution.

[2020-12-16 05:17] #3743 closed

[2020-12-16 11:00] zuzzas commented on #3459
I think I've grokked this problem in my specific case. I believe with certainty that this issue should be closed as this is neither an issue with Prometheus nor prometheus-operator.

If you are using CSI (you probably are) with the new release of a CSI controller sidecar, they've [removed](https://github.com/kubernetes-csi/external-provisioner/pull/400/files#diff-243ebed2765f75e6a54f57167212fefb08

[2020-12-16 11:51] #3734 closed

[2020-12-16 11:52] #3632 closed

[2020-12-16 17:50] rbs4ba opened #3747 "Operator is not creating underlying k8s objects for Prometheus"
Slack link for a bit of context: https://kubernetes.slack.com/archives/CFFDS2Z7F/p1608060016432200

**What happened?**
Recently we have noticed that it seems like the operator is not reflecting changes from the CRD objects in the k8s cluster. We first noticed that it seemed like new `serviceMonitors` weren't getting picked up. Upon doing a fresh install of the operator, now nothing is created from

[2020-12-16 21:27] bpinske commented on #1843
This is a frustrating problem. Its unclear to me how the creation of this histogram could be fixed without introducing cardinality problems. My first thought was to add a label of the hex representation of the source IP.
https://github.com/kubernetes/kubernetes/commit/49a19c6011e05363a8baf8e99c917d11a9496568

pcap dumping is one way to figure this out as noted above, possibly the best. But remembe

[2020-12-16 22:43] rbs4ba commented on #3747
An update, _some_ of our clusters are broken and some are okay, but we still don't know why.

In the working cluster, I was able to observe the operator logs. Notably I can see the log message for `successfully synced all caches`. I can also see in the debug logs that there are multiple cache syncs happening (`Prometheus, ServiceMonitor, PodMonitor, etc`). Compared to the broken clusters, I only s

[2020-12-17 06:50] Khemdevi commented on #644
@brancz , I have used the latest prometheus-operator image quay.io/prometheus-operator/prometheus-operator:v0.44.0. and the issue still persists, I can see old node getting scraped for kubelet
<img width="793" alt="Screenshot 2020-12-17 at 12 18 40 PM" src="https://user-images.githubusercontent.com/35169194/102453393-2401c300-4062-11eb-9bfe-f85fe46b03d8.png">

These ae the logs of prometheus opera

[2020-12-17 13:21] lilic commented on #3747
Thanks for the bug report. Yes the Prometheus operator relies heavily on the apiserver to fetch all objects but also to create watches on them to get the updates, and afterward reconcile into the desired state.

This does seem to confirm the theory around the apiserver. I do not believe we did anything to how we interact with the apiserver in the latest release. @prometheus-operator/prometheus-ope

[2020-12-17 18:11] jutley opened #3748 "AlertmangerConfig doesn't validate when routes do not specify a receiver"
**What happened?**

When I applied an AlertmanagerConfig with nested routes, where non-leaf routes do not contain a receiver, this error appears in the logs.

[code]

For reference, here is a very simplified version of our real routing tree. Note that there are multiple intermediate routes that do not have a receiver, which is valid in vanilla Prometheus.

[code]

**Did you expect to see something

[2020-12-17 19:50] rbs4ba commented on #3747
We have solved this issue. In short, the solution was to give the prometheus-operator pod more CPU. After increasing the CPU we saw immediate improvements. At first we saw more of the log messages like
[code]
But, compared to a successful install, we did not see all of the caches being synced, nor did we see
[code]

Upon giving it slightly more CPU, everything started working again.

We first got

[2020-12-17 21:55] paulfantom commented on #3747
Seems like this is not the first issue about performance problems around many secrets. Same was reported previously in https://github.com/prometheus-operator/prometheus-operator/issues/3298 and https://github.com/prometheus-operator/prometheus-operator/issues/3547. A recommendation is to use `--secret-field-selector` implemented in 0.42 in https://github.com/prometheus-operator/prometheus-operator

[2020-12-17 21:58] paulfantom commented on #3431
I am not a fan of github pages and would prefer to do it with netlify, but I agree we should have a documentation site.

[2020-12-17 22:59] jutley opened #3750 "Alerts should not be required to match an AlertmanagerConfig's namespace"
**What is missing?**

Alertmanager routes created from AlertmanagerConfig resources only apply to alerts that have a namespace label that matches the namespace of the AlertmanagerConfig. I found this to be a very surprising design decision, because in our case, it does not match any of our use cases.

AlertmanagerConfig resources should be able to work as a "global" configuration, where their rout

[2020-12-18 03:41] buckner commented on #3737
Having the choice to disable the namespace label matching would be immensely helpful.

Would embedding an AlertmanagerConfig in the Alertmanager object result in rolling the alertmanager pod(s) on change? An attribute that disables namespace label matching would allow me to deploy a single global AlertmanagerConfig and take advantage of the config-reloader sidecar.

[2020-12-18 04:35] buckner commented on #3750
#3733 and #3737 also mention this. I agree - my use case is nearly the same, so I'm also experiencing this issue

[2020-12-18 05:20] Geethree commented on #2787
This. Is of interest to me as well. Are any docs flying around about this? I'd be curious about jumping in and lending a hand.

[2020-12-18 06:25] navneet066 opened #3751 "configSecret in alertmanager-alertmanger.yaml is not taking alertmanager-main as a secrete with custom configs"
**What happened?**

I am trying to put a custom alertmanager configuration. So I created below `alertmanager-secret.yaml` file.

[code]

[code]

along with this, I modified the `alertmanager-alertmanager.yaml` to take the config as stated in this [doc](https://github.com/prometheus-operator/prometheus-operator/blob/master/Documentation/user-guides/alerting.md):

below is the `alertmanager-alertman

[2020-12-18 09:51] c0da commented on #2003
You can disable the behavior of appending a suffix to your configmaps/secrets by using **generatorOptions**. Something like this:

[code]

I hope it helps!

[2020-12-18 11:58] kragniz commented on #3751
`alertmanager-main-generated` is generated from your input secret and used by alertmanager if the input config is valid.

If you check your prometheus-operator logs for errors, something like:

[code]

You might see some errors with your input secret, something like:

[code]

[2020-12-18 12:30] lilic commented on #3747
Agreed to mention this in the troubleshooting! @rbs4ba would you be willing to contribute this to that document? 🎉

[2020-12-18 15:13] sev3ryn commented on #3748
looks like duplicate for #3710

[2020-12-18 15:26] jutley commented on #3748
I don't think this is a duplicate. #3710 is for validating child routes, but this issue is stating that child routes that are already valid (and therefore should be unaffected by the validating webhook) are returning errors within the operator.

[2020-12-18 15:27] jutley commented on #3750
Ah, I thought I searched for this issue, but apparently I did not. I will close this issue and add my two cents onto the other issues.

[2020-12-18 15:28] #3750 closed

[2020-12-18 15:35] jutley commented on #3733
I also tried using the AlertmanagerConfig CRD solely for the benefit of using SecretRefs in receivers. Being able to due that would significantly simplify our Alertmanager configuration.

Currently, we generate a configmap with the config with the secrets templated, use an encrypted Secret with just the secret values, and run a small controller to bind the template with the real value, and update

[2020-12-18 17:18] snuggie12 commented on #3733
I've worked my way around most of it but it's proven to be tough.
- receivers only doesn't work at all (mistaken from my previous comment)  It appears as if the secret is processed separately from the alertmanagerconfig resources (also possible they are individually processed.) I believe part of that process is to validate and routes reference receivers that don't exist even if you point at the al

[2020-12-18 19:27] xxxbobrxxx opened #3754 "AlertmanagerConfigs discovery through namespaces"
**What happened?**

Hi! There is a bug with `AlertmanagerConfigs` discovery if `--alertmanager-instance-namespaces` CLI argument is defined.

If `--alertmanager-instance-namespaces` defined to a particular value and `alertmanagerConfigNamespaceSelector` is set to `{}` - `AlertmanagerConfigs` resources will be only discovered from namespaces defined in `--alertmanager-instance-namespaces`
- `--aler

[2020-12-19 12:33] Moshem123 opened #3755 "How to expose ingress-controller metrics?"
**What did you do?**
Just installed the operator stack via helm.

**Did you expect to see some different?**

**Environment**

* Prometheus Operator version:
`quay.io/prometheus-operator/prometheus-operator:v0.44.0`

* Kubernetes version information:

[code]
* Kubernetes cluster kind:

Digital Ocean managed k8s

Just a newb question, I installed the stack, I have an nginx ingress-controller and I w

[2020-12-19 12:41] coderanger commented on #3755
If you installed ingress-nginx via Helm, you can enable the `controller.metrics.enabled` and `.controller.metrics.serviceMonitor.enabled` values (https://github.com/kubernetes/ingress-nginx/blob/7d6c958c9d89cf5e5d8ae872624adaa912418100/charts/ingress-nginx/templates/controller-servicemonitor.yaml#L1)

If you didn't you can write a similar ServiceMonitor resource yourself that matches your ingress-

[2020-12-19 14:01] Moshem123 commented on #3755
Cool, I enabled it and now I can get `servicemonitor` object in the ingress namespace.
What's the next step? How can I verify the metrics are being received? How to I visualize it with a dashboard?
Is there a dynamic way to add dashboard? The official docs link to here: https://github.com/kubernetes/ingress-nginx/tree/master/deploy/grafana/dashboards, how can I load them ?

Thanks.

[2020-12-19 14:50] Moshem123 commented on #3755
For those googling, here's how to configure nginx-ingress controller to send metrics to prometheus using the ServiceConfig resource. Note the `additionalLabels` are required if the prometheus stack was deployed via helm:
[code]

Now my question remains, how do I add dashboard and persist them?

[2020-12-19 15:02] paulfantom commented on #3755
That depends on how you deployed your dashboarding solution. Prometheus-operator doesn't have any dashboarding solutions built-in.

[2020-12-19 15:06] Moshem123 commented on #3755
I deployed with helm this stack:
https://github.com/prometheus-community/helm-charts/tree/main/charts/kube-prometheus-stack

I noticed the dashboards are mounted to `/tmp/dashboards` but on the pod spec I can see that it is an `emptyDir` so I believe the sidecar is somehow loading the dashboards into that dir.
Unfortunately, [this MD](https://github.com/prometheus-operator/kube-prometheus/blob/mas

[2020-12-19 15:49] #3733 closed

[2020-12-19 15:49] #3738 closed

[2020-12-19 15:52] #3721 closed

[2020-12-20 22:19] sev3ryn commented on #3710
@simonpasquier what is your idea around validating of receiver existence used in routes?
From one perspective we shouldn't validate that - so that some shared receivers specified in main config may be used. From other perspective not validating receivers existence may lead to configuration that alertmanager can't apply

[2020-12-20 22:39] sev3ryn commented on #3710
I analyzed what needs to be done to add those validations - so basically validation webhook needs to do same job as operator iteself parsing, validating and transforming input to the alertmanager configuration style.

So maybe to keep code DRY it would be good - to do all the config parsing and transforming job in mutating webhook, write resulting alertmanager configuration to  the annotations. In

[2020-12-21 18:38] inoam commented on #2847
@angelovopsan this is indeed an issue, see: https://github.com/prometheus-operator/prometheus-operator/issues/3061
Community is waiting for someone to follow suggestion and open PR.

[2020-12-21 18:39] inoam commented on #2847
#3061

[2020-12-21 18:39] inoam commented on #2847
[https://github.com/prometheus-operator/prometheus-operator/issues/3061](url)

[2020-12-22 03:53] mohanagandlla commented on #3459
Thank you

[2020-12-22 09:52] TamasNeumer opened #3756 "E-mail alerting not working if configured through AlertmanagerConfig"
**What happened?**

I wanted to configure e-mail notification for the Alertmanager component using the new AlertmanagerConfig CRD. Our setup looks the following:

[code]

The AlertmanagerConfig was picked up correctly. The secret referrenced by `authPassword` was found. (No error-logs in prometheus-operator. I specifically tested this functionality of the operator - when I referenced an invalid se

[2020-12-22 11:22] simonpasquier commented on #3431
I've changed the title of the issue so it doesn't mandate GitHub pages anymore.

[2020-12-22 11:24] grdryn commented on #3751
@navneet066 To clarify, are you saying that the config included in the `alertmanager-main-generated` Secret is different from the one in your `alertmanager-main` Secret? Does Alertmanager start as expected, and what configuration does it see?

As @kragniz points out, the generated secret is expected: it should be the combination of your specified config (if that can be parsed correctly), merged wi

[2020-12-22 11:39] grdryn commented on #3756
@TamasNeumer I've think the reason it's not working the way you expect is that you've got a namespace matcher on the route. The `AlertmanagerConfig` resources limit the matching on namespaces to the namespace they're created in (by injecting a top-level namespace matcher). See [here](https://github.com/prometheus-operator/prometheus-operator/blob/master/pkg/alertmanager/amcfg.go#L138..L141).

So i

[2020-12-22 12:03] simonpasquier commented on #3747
How could we improve the warning message stating `"cache sync not yet completed"`?

[2020-12-22 12:08] simonpasquier commented on #644
@Khemdevi can you run the operator with debug log level?

[2020-12-22 13:18] #3740 closed

[2020-12-22 13:45] TamasNeumer commented on #3756
Hi @grdryn, and thank you for the quick response.
I'll look into this tomorrow, thanks for the hint.

[2020-12-22 14:18] simonpasquier commented on #3710
I'm not sure I'm following your proposal about using annotations. IMHO, the first thing to do would be refactor the code in [pkg/alertmanager/amcfg.go](https://github.com/prometheus-operator/prometheus-operator/blob/master/pkg/alertmanager/amcfg.go) and [pkg/alertmanager/operator.go](https://github.com/prometheus-operator/prometheus-operator/blob/master/pkg/alertmanager/operator.go). For instance,

[2020-12-22 14:23] simonpasquier commented on #3754
Hmm, I'd say that it works as expected since `--alertmanager-instance-namespaces` works for `Alertmanager` custom resources. It may be that we need to add another flag to control from which namespaces to discover `AlertmanagerConfig` resources but I wouldn't call this a bug.

[2020-12-22 14:36] simonpasquier commented on #3737
I agree that it's a valid request. The primary use case for AlertmanagerConfig was to offer self-service configuration of Alertmanager. That's why the initial implementation didn't change anything wrt the global Alertmanager configuration.

Instead of embedding, maybe we could have a reference to the `AlertmanagerConfig` resource in the same namespace? Especially since AlertmanagerConfig is v1alph

[2020-12-22 20:54] xxxbobrxxx commented on #3754
But for *Monitor CRD resources `--prometheus-instance-namespaces` has no such logic, thats because I marked this as a bug. For PrometheusRule I did not checked yet.

[2020-12-23 09:20] TamasNeumer commented on #3756
Makes sense, it seems to work if I send an alert with the namespace "monitoring".
Thanks for the quick response and clarification!

[2020-12-23 09:20] #3756 closed

[2020-12-23 10:35] simonpasquier commented on #3754
Sorry I misread your initial report and I thought that you were reporting that the operator should discover AlertmanagerConfig resources only in namespaces defined by `--alertmanager-instance-namespaces`. I've tested and indeed there's a bug.

[2020-12-23 13:59] aweris opened #3761 "`make image` is not working on `darwin`"
**What happened?**

Failed to build local docker image using `make image` as described in [running-end-to-end-tests-on-local-kind-cluster](https://github.com/prometheus-operator/prometheus-operator#running-end-to-end-tests-on-local-kind-cluster) at macOS

It seems the base docker image dynamically generated using `GOOS` and `GOARCH` and there is no base image for `darwin`.

To work around the issu

[2020-12-23 14:16] simonpasquier commented on #3761
cc @lilic who's on Mac too IIRC.

[2020-12-23 14:19] aweris commented on #3761
@simonpasquier I think you can also test using `GOOS=darwin make the image`.

[2020-12-23 18:07] dmitrievav commented on #2036
If it helps somebody, I wrote a k8s operator which create and update Endpoints for External services based on provided DNS. So, no need for static IPs any more to monitor External services via `ServiceMonitor`

https://github.com/dmitrievav/dns-endpoint-operator

[2020-12-25 22:21] hmlkao commented on #3704
Well, I finaly found time to check it again

# TL;DR
Can confirm that it was fixed in prometheus-operator v0.43.0

# Long version
[code]

[code]

[code]

[code]

[code]

[code]

# Versions

## Chart 12.8.1 (prometheus-operator v0.44.0)

[code]

[code]

## Chart 11.0.0 (prometheus-operator v0.43.0)

[code]

[code]

## Chart 10.0.0 (prometheus-operator v0.42.1)

[code]

[code]

[2020-12-25 22:21] #3704 closed

[2020-12-26 06:25] mikechengwei opened #3763 "Optimize thanos sidecar code logic and add `TracingConfigFile` field"
**Why do we need it?**
1. Optimize`ObjectStorageConfig` and `ObjectStorageConfigFile` field processing logic , which match comment logic `When used alongside with ObjectStorageConfig, ObjectStorageConfigFile takes precedence`.
2. Add `TracingConfigFile` field support `-tracing.config-file` args.
3. When disable prometheus compact,we can set the `--storage.tsdb.min-block-duration` and `--storage.ts

[2020-12-27 04:59] mikechengwei commented on #3741
/assign  Can I help with this PR?

[2020-12-27 05:04] mikechengwei commented on #3741
/assign

[2020-12-27 22:35] ahmedTouati opened #3764 "Syncing nodes into Endpoints object failed"
**New nodes aren't synchronized into prometheus endpoints object**

**See the newly created nodes in Prometheus kubelet targets**

**How to reproduce it (as minimally and precisely as possible)**:

**AWS EKS**

* Prometheus Operator version:

    `0.42.1`

* Kubernetes version information:

    `1.17`

* Kubernetes cluster kind:

    I'm running AWS EKS cluster

* Manifests:

[code]

* Prometheus

[2020-12-30 12:05] TamasNeumer opened #3765 "Field: containers does not exist"
**What happened?**

I'm using localstack to simulate a AWS bucket in minikube. For this I need to inject the AWS key and secret environment variables to the containers. According to the docs the "prometheusSpec" should have a containers field, which allows overriding containers. (Through it's stated in the docs that it's advanced and might break any time...

When I run the build I get "RUNTIME ERR

[2020-12-31 05:03] nrchakradhar commented on #3764
Just an observation. There is an "-" (minus sign) at the end prometheus-kube-pr-kubele**t-**. Start and end should be alphanumeric characters only.

[2020-12-31 14:36] brancz opened #3766 "Probe TLS and credentials configuration"
**What is missing?**

Probes currently cannot configure TLS and/or authentication for the prober they use.

**Why do we need it?**

A prober could fairly easily be abused by an unauthorized user to DDoS a target, so it's rather important to secure the probing endpoint. As it currently stands though, this is not possible.

**Environment**

Any version of the prometheus operator that has Probe suppo

[2021-01-01 13:13] surensinghkhatana opened #3767 "New Rules (kind: PrometheusRule) aren't discovered by the prometheus"
**What happened?**
 New rules of _kind: PrometheusRule_ aren't discovered by the prometheus server

**Did you expect to see something different?**
  Rules should be visible in the prometheus UI

**How to reproduce it (as minimally and precisely as possible)**:
1. Create a new PrometheusRule and deploy it in the same namespace as the operator
2.  Check if those are visible in the prometheus UI or n

[2021-01-01 18:32] surensinghkhatana commented on #3767
Also, my rule is not available in the configMap `prometheus-prometheus-kube-prometheus-prometheus-rulefiles-0` and as a consequence of that, it is not available inside the pod too.

Any idea what is needed for the `PrometheusRule` CR object to end up in the rulefiles configMap ?

[2021-01-01 20:38] surensinghkhatana commented on #3767
Noticed following error in the logs :
[code]

[2021-01-02 05:33] shinebayar-g commented on #3756
@grdryn can we disable that match: namespace injection? make it optional? Our alerts doesn't even have namespace label. I also believe default [kube-prometheus](https://github.com/prometheus-operator/kube-prometheus) alerts doesn't have namespace labels.

[2021-01-02 09:21] surensinghkhatana commented on #3767
Tried running it on a new EKS cluster, same issue

[2021-01-03 10:48] tpalfalvi commented on #3766
This of course invalidates the doc/example. I'd suggest something like:
[code]

[2021-01-04 11:07] simonpasquier commented on #3741
@mikechengwei feel free to open a PR and link to this issue :)

[2021-01-04 11:42] simonpasquier commented on #3764
Check your prometheus-operator's deployment definition. It looks like the `-kubelet-service` argument isn't defined correctly.

[2021-01-04 12:35] lilic commented on #3761
@aweris Hey! The image build you need to run in the cluster is linux so doing `GOOS=linux make image` is correct here, it will build for Linux env to run in the cluster. We just assume you are on Linux, but as you mentioned this can be easily overridden by setting the `GOOS` var to linux.

Unless I misunderstood something? The above works for me, this `GOOS=darwin make image ` is not expected to w

[2021-01-04 13:04] aweris commented on #3761
@lilic Thanks for the response.  I know using `GOOS=darwin` is not make sense for the docker image. I was trying to run the e2e test locally and when I follow instructions in README, it failed since it's using `darwin` as GOOS. I'm just curious about it.

As far as I can see  `Dockerfile` using:

[code]

and `make image` passing local GOOS to docker file.

if `GOOS` expected `linux`, is there any

[2021-01-04 13:12] simonpasquier commented on #3767
:wave: I suspect that it's due of the `ruleSelector` definition:

[code]

The `server-up-time` rule misses the `app` label.

[2021-01-04 13:18] lilic commented on #3761
cc @paulfantom on the above any thoughts, I noticed there were some multi-arch PRs that changed this so would not want to break anything here.

[2021-01-04 13:58] surensinghkhatana commented on #3767
I will try that but do we need to have all of the labels from the `ruleSelector` in to the `PrometheusRule yaml` ?
Also I couldn't find out , why the config-reloader container was throwing the following error ?
`level=error ts=2021-01-01T20:36:11.812072421Z caller=runutil.go:98 msg="function failed. Retrying in next tick" err="trigger reload: reload request failed: Post \"http://127.0.0.1:9090/-/r

[2021-01-04 14:16] simonpasquier commented on #3767
yes if you want the operator to select a given rule, the rule must have the same set of labels.

AFAIK this is a transient error when the pod starts because the config reloader is ready before Prometheus but it resolves itself once Prometheus has completed its initialization.

[2021-01-04 14:53] surensinghkhatana commented on #3767
Thanks alot @simonpasquier for your support. Indeed the issue was exactly you pointed out. After adding all of the labels from ruleSelector to PrometheusRule , it worked like a charm.

[2021-01-04 14:53] #3767 closed

[2021-01-04 15:01] shinebayar-g commented on #3737
Having ability to disable namespace injection is really needed. Widely used [kube-prometheus](https://github.com/prometheus-operator/kube-prometheus) alerts don't have any namespace labels for example.

[2021-01-04 15:44] mikechengwei commented on #3741
Thanks

[2021-01-04 16:30] Cho1409 commented on #2503
Hey @brancz what Operator version would you recommend to skip this issue? I'm trying from 0.38.1 up to v0.40.0 and I'm still getting that crash.

[2021-01-04 17:02] #3754 closed

[2021-01-05 02:31] wajika opened #3769 "metrics.k8s.io/v1beta1: the server is currently unable to handle the request"
I plan to launch a monitoring stack. After installing Prometheus operator and metric server, I find that when operating kubectl command (kubectl get pod/node, kubectl top ....) , the return result is always very slow.

kubeadm version:
[code]

metric version: 0.3.6

I opened the log to record a problem

[code]

I found a similar problem, according to the comment, this is not the reason for metric-

[2021-01-05 08:55] paulfantom commented on #3761
Passing `GOOS` makes sense as this allows to easily customize the resulting image. For example, if someone wants to build images for windows, such a person only needs to run `GOOS=windows make image` and not decompose the whole Makefile.

It seems that we need to adjust a few things:
- remove mention of `minikube` from README as we are using `kind` everywhere
- add mention of `GOOS` and how to han

[2021-01-05 09:18] aweris commented on #3761
I understand that logic, however `quay.io/prometheus/busybox-windows-amd64:latest` not exist either, and not sure if it needs to exist. Personally, not able to find any use case for using a different OS other than `linux`

It should be `linux`. `darwin` not related to the docker process.

I can make changes if it's okay.

[2021-01-05 10:21] simonpasquier commented on #3769
Can you explain in more details how it relates to the prometheus operator?

[2021-01-05 10:25] wajika commented on #3769
I'm not sure if it's a Prometheus operator issue.

[2021-01-05 11:16] wajika commented on #3769
I specially built a new cluster and only deployed Prometheus operator.  this issue still exists.

![image](https://user-images.githubusercontent.com/17058349/103639993-3482ca80-4f8a-11eb-8edd-cd64654b9d3c.png)

[code]

[2021-01-05 11:46] paulfantom commented on #3761
I am happy with enforcing `GOOS=linux` for `make image` target plus changes mentioned earlier. Could you create a PR?

[2021-01-05 11:48] aweris commented on #3761
Sure, I'll create PR according to what we talk in this issue

[2021-01-05 13:19] simonpasquier commented on #3769
It seems that the metrics-server pod isn't fully ready. Can you check why?