[2018-06-19 09:40] mxinden commented on #1502
@jiuchongxiao thanks a lot for filing this issue and helping us triage the problem.

In addition to the Prometheus Operator definition, would you mind posting the definition of the alertmanagers as well?

[code]

You probably need to adjust the names of the resources, as I am not fully aware of how you configured your deployment configuration.

[2018-06-19 09:50] jiuchongxiao commented on #1502
@mxinden

**the prometheus-operator as below:**
apiVersion: extensions/v1beta1
kind: Deployment
metadata:
  annotations:
    deployment.kubernetes.io/revision: "1"
  creationTimestamp: 2018-06-19T01:34:50Z
  generation: 1
  labels:
    app: prometheus-operator
    chart: prometheus-operator-0.0.26
    heritage: Tiller
    operator: prometheus
    release: prometheus-operator
  name: prometheus-ope

[2018-06-19 11:45] brancz commented on #1503
This is about the apiserver not having permission to ask for pods/logs on the kubelet API, so all you need is give the apiserver serviceaccount/user the appropriate permissions to do so. This should be fixed upstream in kubespray when `--authorization-mode=Webhook` is enabled.

[2018-06-19 12:05] Zwordi commented on #1503
Hello @brancz ,

Thanks for your reply.
Could you share more practical hints about how could i manage this steps ?
Do i need to update an clusterroles ?

Thanks

[2018-06-19 12:44] rgardam opened #1505 "Docker-4-Desktop K8S produces TLS errors in the k8s_client_runtime."
I originally thought this was an issue with the kubelet using https instead of http, but this seems to not be the case. We are using the docker-4-desktop to perform local deployments and I would like to be able to deploy remotely the same way.

**What did you do?**
[code]
**What did you expect to see?**
Working Monitoring stack

**What did you see instead? Under which circumstances?**
In the prome

[2018-06-19 13:54] brancz commented on #1503
It slightly depends on your setup, but this is the ClusterRole and ClusterRoleBinding that I have in my cluster:

[code]

[2018-06-19 13:56] brancz commented on #1505
This seems like a problem with the cluster itself. You should be able to communicate with the apiserver with a trusted certificate via `kubernetes.default.svc.`. This is a certificate error as far as I can tell.

[2018-06-19 14:20] rgardam commented on #1505
Ok, I'll do some more digging to see if I can find a way around this.

It might be that our tiller integration is causing some issues.

[2018-06-19 16:47] ghost opened #1506 "Unhandled error received. Exiting..." err="communicating with server failed: Get https://10.0.0.1:443/version: dial tcp 10.0.0.1:443: i/o timeout"
**What did you do?**
Installed Prometheus Operator 0.20.0 on an Azure acs-engine generated Kubernetes 1.10.4 cluster.

**What did you expect to see?**

Expected for `prometheus-operator` pod to be able to talk to the API server.

**What did you see instead? Under which circumstances?**

[code]

**Environment**

* Kubernetes version information:

[code]

* Kubernetes cluster kind:

acs-engine

* Ma

[2018-06-20 00:18] VinceMD opened #1507 "Sharing Grafana info: grafana snapshot and persistent dashboard ID after restart and PNG rendering"
**What did you do?**
I use Prometheus Operator 0.19
I did:
1. save the link to a Grafana dashboard
2. create a Grafana snapshot and save the link to the snapshot

**What did you expect to see?**
I was expecting to be able to access the same dashboard and the same snapshot through the link, even after a Grafana pod restart. For as long as the Prometheus has kept the data (I have a 30 days retention

[2018-06-20 03:19] VinceMD commented on #1507
An update and partial solution:
### DASHBOARD  LINK
The UID needs to be set in the JSON of the dashboard to import. Otherwise Grafana will generate one. Example:

[code]

[2018-06-20 07:43] brancz commented on #1507
Providing a UID in the dashboard json is the correct fix. If this was about any of the kubernetes dashboards, could you try with the latest state from master? #1497 pulled in all the upstream changes in the kubernetes monitoring mixin, for which we just fixed the links/uid.

[2018-06-20 07:45] brancz commented on #1506
Thanks for opening this issue!

I feel like this issue might be better opened with the azure support, this seems like a problem with the underlying cluster. Reaching the apiserver should be possible.

[2018-06-20 11:12] manuprometheus opened #1509 "Integrate slack and pagerduty and add rules"
**What did you do?**
configuring Prometheus and grafana on kubernetes ENV.
**What did you expect to see?**
Need to integrate my own slack channel and pagerduty to the prometheus and need to set custom rules
**What did you see instead? Under which circumstances?**

**Environment**
GCP
* Kubernetes version information:
Client Version: version.Info{Major:"1", Minor:"10", GitVersion:"v1.10.2", GitComm

[2018-06-20 11:50] ItamarYe opened #1510 "Alerts on kube-scheduller and kube-controller does not disappear after fixing the problem"
**What did you do?**
I got alerts in the prometheus after upgrading the kubernetes from 1.9.2 to 1.9.6 about kube-scheduller and kube-controller.

The pods really was down and I started those using the instructions from this link:
https://coreos.com/tectonic/docs/latest/troubleshooting/controller-recovery.html#recovering-a-scheduler

Now the pods are up, But I still getting the alerts. also when I

[2018-06-20 11:51] datarace opened #1511 "System Load visualization sh shown as percentage instead of number"
**What did you do?**
Installed prometheus with default dashboards
**What did you expect to see?**
System Load graph to have numerical value on vertical axis to 2 decimal places - matching load average shown on linux 'top' utility

**What did you see instead? Under which circumstances?**
System Load graph displays percentage. For example instead of showing load as 7.23, it is showing as 723%

**Env

[2018-06-20 11:59] brancz commented on #1510
Are your pods re-created the exact same way you previously had them? Do the kube-scheduler and kube-controller-manager services actually select those pods so they are successfully discovered?

[2018-06-20 12:05] brancz commented on #1509
Thanks for opening this issue!

Sorry to disappoint you but this is not a consulting channel, we won't do your work for you. If you are looking for consulting for Prometheus and related topics I would recommend [Robust Perception](https://www.robustperception.io/).

If you are running into problems and you feel that there is actually something wrong with the software that we are producing here, th

[2018-06-20 12:09] brancz commented on #1511
Which dashboard are you referring to? The Pod dashboard is intentionally done this way, because in Kubernetes CPU requests and limits are specified in # of cores available to the Pod, so it makes sense to show utilization in this unit as well.

[2018-06-20 12:14] ItamarYe commented on #1510
@brancz Thanks for the quick answer.

I checked it and it didn't I re created the services using the yaml file from here:
https://github.com/coreos/prometheus-operator/blob/master/Documentation/user-guides/cluster-monitoring.md

Thanks a lot!

[2018-06-20 12:14] #1510 closed

[2018-06-20 12:38] jithinraj89 commented on #324
I was using an old version (cloned nearly 4 months back ) and was pretty stable.  Now I want to add the `additionalscrapeconfigs` but it is not working, maybe the old version doesn't support that.

I cloned the latest Prometheus-operator manifest from here ( https://github.com/coreos/prometheus-operator/tree/master/contrib/kube-prometheus/manifests ) and ran `kubectl create -f manifest` command.
`

[2018-06-20 14:50] Andre-Freitas commented on #1487
@mxinden i don't have knowledge of Go language so i can't help in there

[2018-06-20 18:02] jithinraj89 commented on #324
Thanks, @brancz  I  upgraded the cluster to v1.8.2 . `kubectl create -f manifests` went well without any error and additionalScrapeConfigs also worked.

[2018-06-20 20:44] midnightconman commented on #689
I haven't been able to find this in the `PrometheusSpec` or `ServiceMonitorSpec` objects. Could we add this to the `PrometheusSpec` object, so people could impose scrape limits at the prometheus cluster level?

[2018-06-21 02:08] VinceMD commented on #1507
@brancz thanks that worked.  Good to see one configmap per dashboard.

Just the snapshot and PNG rendering issues outstanding

[2018-06-21 04:33] manuprometheus commented on #1509
Okay,Thank you.

[2018-06-21 06:59] jamesalice123 opened #1513 "I don't understand the readme ,did you install the all yaml under the manifestes"
**What did you do?**
https://github.com/coreos/prometheus-operator/tree/master/contrib/kube-prometheus/manifests

I  don't  understand  the readme ,did you install the all  yaml   under  the   manifestes

**What did you expect to see?**
how  to  install  the  kube-prometheus

**What did you see instead? Under which circumstances?**

**Environment**

* Kubernetes version information:

	insert outpu

[2018-06-21 07:08] jamesalice123 commented on #1513
@rubbish

[2018-06-21 07:16] datarace commented on #1511
Hi,

Thanks for following up this issue. Some further detail:

Dashboard: Nodes
Visualization: System Load

Dashboard: Kubernetes Capacity Planning
Visualization: System Load

These use the metrics node_load1, node_load5, and node_load15

From
https://blog.freshtracks.io/a-deep-dive-into-kubernetes-metrics-part-2-c869581e9f29
"node_load1, node_load5 and node_load15 represent the 1, 5 and 15 min lo

[2018-06-21 10:01] bonovoxly commented on #1001
@ScottBrenner what's the best way to delete an alert using helm? Is it possible to cherry-pick out the alerts, or would I need to recreate them all (minus the non-working alerts for GKE)?

[2018-06-21 10:22] siliconcat opened #1514 "Helm install times out on Azure AKS with RBAC enabled"
**What did you do?**

Since it is possible these days to create an Azure AKS with RBAC, I have done so. I have tried to install the `prometheus-operator` using Helm.

**What did you expect to see?**
A successful outcome, like when doing the same in a Kubernetes cluster without RBAC (and passing the relevant `rbacEnable` flag.

**What did you see instead? Under which circumstances?**

Command:

`he

[2018-06-21 11:40] #1509 closed

[2018-06-21 11:46] brancz commented on #1507
I would prefer not to introduce persistence for Grafana into this stack. Would using the hosted grafana snapshot server be an option for you?

I actually have never heard of the png rendering feature, I would have to look at it more closely to understand why this is happening. Grafana is run completely independently from the Prometheus Operator, so there is nothing additional to do.

[2018-06-21 12:06] brancz commented on #689
`sample_limit` is configured on a per job basis, so this should be configured in the `ServiceMonitorSpec` or even the ServiceMonitor's Endpoints. Ultimately this should be configured with defaults through Kubernetes LimitRanges in combination with ResourceQuotas (though I don't know whether either of those are extensible today), so I'm not entirely sure whether we should have the field in the `Pro

[2018-06-21 12:38] brancz commented on #1513
Thanks for opening this issue. Could you please provide more information on what you want to do and what was unclear?

[2018-06-21 13:42] mobilesfinks commented on #1215
@brancz I'm sure this is a problem for users of the api on the public Prometheus server. On your part, there is a default value that turns off the API. Is not it?

I now needed to delete several metrics. Unfortunately, this is not possible at the moment. I would like to still be able to configure Prometheus as the developers intended, and not to rest on your vision of the configuration situation.

[2018-06-21 14:07] jamesalice123 commented on #1513
I don't know  how to install the  kube-prometheus

[2018-06-21 15:42] brancz commented on #1513
If you just want to try it just run

kubectl create -f manifests/

From the contrib/kube-prometheus directory.

For customization we recommend using jsonnet to perform arbitrary modifications to the stack to match your environment.

[2018-06-21 15:56] aranair commented on #1454
I'm seeing this as well.

It seems like it still tries to provision the volumes and I see this when I describe the PVC

```  Warning  ProvisioningFailed  2s (x42 over 10m)  persistentvolume-controller  Failed to provision volume with StorageClass "gp2": claim.Spec.Selector is not supported for dynamic provisioning on AWS```

[2018-06-21 15:58] brancz commented on #1215
We can add it as an experimental field, what we’re trying to do here is make a user to the right thing, not necessarily restrict it in total.

We’re all part of the upstream team and even implemented those APIs, we are well aware of their existance and dangers.

[2018-06-21 16:14] cparedes commented on #1488
+1 on this, need to tweak parameters on my end to try to hunt down an OOM issue we're experiencing

[2018-06-21 16:16] aranair commented on #1454
Uh, after some rubber-ducking, I believe it's because the original PV was not created with a `storageClassName:`

I added `storageClassName: gp2` into the PV spec and it successfully bound without provisioning.

@vinodhbasavani try and define your own storageClassName e.g. `storageClassName: nfs` into the PV spec and the same line under the `volumeClaimTemplate`'s spec, it might correctly bind to

[2018-06-21 16:59] jithinraj89 commented on #324
@brancz
How can I add more scrape configs into the additional-scrape.yml secret file.? Each time should I edit this secret.? Do you have any suggestions to do this easy.?

[2018-06-21 17:43] brancz commented on #324
Our suggestion is not to that and use the ServiceMonitor object and let us know if there are any missing features :)

[2018-06-21 18:18] jithinraj89 commented on #324
@brancz
I would like to use the service monitor and it is pretty easy to implement as well. But it's missing feature to monitor the pods without any service is the issue.

Editing the additional-scrape.yml every time is the only issue with
[code]
.

[2018-06-21 21:27] kanolato commented on #1160
@sneko did you figure out how to do it?

[2018-06-21 21:33] sneko commented on #1160
@kanolato nop 😢

I also tried to ask on Google Groups but never received any answer:
https://groups.google.com/d/msg/prometheus-users/U5KehNV9XUs/uiABi1C2AAAJ

If you figure out how to do that please come back here to share the solution 😀

[2018-06-21 22:51] kanolato commented on #1160
what is in `jobLabel` is used by the `ServiceMonitorSelector` in `Prometheus`(Custom Resource) to select what ServiceMonitor's are in that prometheus

Prometheus
[code]
ServiceMonitor:
[code]
Rendered job:
[code]
The name of the job is given by namespace / ServiceName / ?

[2018-06-22 09:36] brancz commented on #324
That's something we have been wanting to implement for a long time :slightly_smiling_face:, in fact I believe it's the ticket that has been open the longest: #38 . If you or anyone would like to take a stab at it, it's definitely something we would like to have.

[2018-06-22 09:45] brancz commented on #1160
Sorry we missed to answer your question on the mailing list.

Note that any service discovery done with `role: pod` does not exist today, however we would like to add it, in fact it is the longest standing issue we have: #38.

What you need to do today is when you use a `ServiceMonitor` you need to have the service you want to monitor behind a Kubernetes `Service`, and then point the `ServiceMonit

[2018-06-22 12:51] atopuzov opened #1516 "PodFrequentlyRestarting still active even though the container was removed"
**What did you do?**
Pod that was tripping `PodFrequentlyRestarting` alert got removed (there are no more metrics for `kube_pod_info` for the pod).

**What did you expect to see?**
Alert is not active anymore.

**What did you see instead? Under which circumstances?**
Alert was active for some time after the pod was non existent.

**Environment**

* Kubernetes version information:

[code]

* Kubern

[2018-06-22 16:14] kanolato commented on #1160
thank you for clarifying my confusion :)  @brancz

[2018-06-22 18:33] mtaylor91 commented on #1419
I'm also running into this issue - in my case it seems to be caused by installing the prometheus-operator chart as a dependency of another chart; this changes the release name and causes grafana to attempt to connect to prometheus at the release name for the dependent chart.

[2018-06-22 19:03] trondhindenes commented on #1495
I would:
1. Clean up the wording so that it's simple-to-understand English
2. Explain not only the "what" but also the "why"
3. Documentation currently doesn't actually explain how to set up a Prometheus instance. It documents the configuration of the CRDs and the operator itself, and then goes on to show an example app. It kinda skips the important part - prometheus.

[2018-06-22 19:06] JTarasovic commented on #1438
I'm actually having the same / similar issue.

We are not having any issues w/ node-exporter though.

Using flannel for a network overlay. Deploying the operator from kube-prometheus/manifests.

Two prom pods, each can hit the kubelet metric endpoint for every other node but not the kubelet on the same node.
prom A -> kubelet B 👌
prom B -> kubelet A 👌
prom A -> kubelet A 👎
prom B -> kubelet B 👎

F

[2018-06-22 20:12] FuzzOli87 commented on #1160
Sorry for the mega late response, but this is the configuration I used:
[code]

I did some research in to how istio produces its logs and that configuration seemed to work for me.

[2018-06-22 21:18] Quentin-M commented on #1498
That's awesome! I am really excited to see this, thank you!

The cross-namespace ServiceMonitor was already a huge step that allows us running custom HPA across the board, while keeping separation of concerns. Enabling folks to push custom rules is is one step further towards enabling self-service monitoring/alerting.

It seems to me that the last bit is to let individual developers/teams configur

[2018-06-23 05:59] sneko commented on #1160
@FuzzOli87 oh ok thanks it works yeah :) !

Note: I had to modify the official Istio dashboards since they were looking for a "Prometheus" datasource instead of the default "prometheus" one.

[2018-06-23 06:10] sneko commented on #1160
and thank you @brancz for clarifying the point about PodMonitor/ServiceMonitor 😃

[2018-06-25 03:33] mxinden commented on #1498
@Quentin-M I remember this coming up a couple of times before. So far it is not on our road map, but I do see the practicality in that.

@brancz What is your take on this feature?

[2018-06-25 03:43] mxinden commented on #1438
@JTarasovic @pimvanpelt Are you sure this is related to the Prometheus project and not to your networking setup between pod and node network? Are you seeing similar issues in other places where pods try to connect to node instances?

Could you post the output of `ip route` from inside the Prometheus pod here?

[2018-06-25 07:03] mxinden commented on #1495
Cool, very much appreciated @zwordi!

@trondhindenes that sounds like a great action list. Would you like to tackle one of them?

[2018-06-25 07:07] #1375 closed

[2018-06-25 08:01] brancz commented on #1498
We have realized that this is a problem for a while, but haven't been able to come up with anything that is sufficiently portable across organizations so far, but honestly our focus also hasn't been on this. @Quentin-M would you mind opening a new issue so we can properly track this? Personally I would really like to have a feature like that kind of feature, but I feel it's going to take some more

[2018-06-25 10:04] yosefy commented on #352
after trying to understand for few hours i still can't simply find a file where i should add the remote configuration lines (like in regular prometheus.yml). can you just point to that file pls? thanks

[2018-06-25 12:02] jungopro opened #1522 "Targets are down when deploying on AKS"
Hello

**I'm trying to create prometheus-operator on AKS using the official helm charts**

I'm assuming the error is related to the fact that I have RBAC enabled and I need to grant permissions, or the fact that the control plane is a managed service and I can't access something...

Any help or guidance is appriciated

**What did you do?**

[code]

In addition, I modified the grafana service.type

[2018-06-25 12:06] brancz commented on #352
Say you have a `Prometheus` object, like this:

[code]

Then the remote storage field just goes under the `spec` field:

[code]

As pointed out, the [`PrometheusSpec`](https://github.com/coreos/prometheus-operator/blob/master/Documentation/api.md#prometheusspec) contains the [`remoteWrite`](https://github.com/coreos/prometheus-operator/blob/master/Documentation/api.md#remotewritespec) and [`remote

[2018-06-25 14:11] AliYusuf95 commented on #1522
I'm facing the same issue with AKS cluster with 3 nodes.

I have tried to remove and reinstall both `prometheus-operator` and `kube-prometheus` but I got the same result.

![image](https://user-images.githubusercontent.com/17704100/41855037-5557d774-789a-11e8-9d66-475fd9e17d1f.png)

[2018-06-25 14:12] brancz commented on #1522
Thanks for reporting! What seems most strange about this is that you can discover targets with the Kubernetes API, but then get context cancelled when requesting metrics from it. Sadly I have little knowledge about the configurations AKS uses. kube-dns is probably completely hidden from you, I doubt you will be able to get these metrics. The kubelet returning 401 likely means, that it doesn't have

[2018-06-25 14:31] JTarasovic commented on #1438
Max,

During my initial troubleshooting, it appeared to be isolated to the prom pod but on trying it again, a kubernetes launched busybox container cannot hit its own node but a docker launched busybox container can. 😭

For reference, the prom container shows this for it's route. 10.11.0.0/16 is the flannel overlay.

[code]

[2018-06-25 14:34] mattcopas commented on #1470
@tals Thanks! My service monitor appears!

I can also see my spring-simple-rest pod in the Discovered Labels section of the ServiceMonitor (on the prometheus UI).

I cannot however see any spring-simple-rest components (pods, services etc) on the Targets page...any idea why this is?

Many thanks again

[2018-06-25 15:04] trondhindenes commented on #1495
I can try and submit a doc PR next week, maybe the "prometheus itself" part

[2018-06-25 15:06] airwolfnh opened #1523 "Helm does not update files based on the actual configmap values , similar to #833"
**What did you do?**
In helm/kube-prometheus, I have created a values override file for kube-prometheus to add a custom rule using prometheusRules. I can see my rule under the rules tab, but when I change something on my values.yaml, I don't see my change being propagated. For instance, I changed the "for:10m" to "for:5m" , I can see my change on the Configmap kube-prometheus-rules, but not on the

[2018-06-25 15:19] mattcopas commented on #1470
@tals Looking at this again I can see that the Target Labels section (in Service Discovery) contains the pod/service etc I want to monitor, but Target Labels just says "Dropped"

[2018-06-25 17:05] JTarasovic commented on #1438
Our problem was definitely a security group issue. Sorry for the noise and thanks for the help.

[2018-06-25 17:52] Quentin-M commented on #1498
@mxinden @brancz

Thank you so much for your answers guys. Given all the work towards the direction of self-service monitoring you have done, I believe this last step, not to say an easy one, would provide the prometheus-operator a compelling user-story, that would be enough of a reason to use the prometheus-operator, and that would be worth a legit article/blog post.

Even though I am using the p

[2018-06-26 07:18] manuprometheus opened #1526 "How can I edit the alert manager configuration?"
**What did you do?**
Configuring prometheus.
**What did you expect to see?**
How can I edit the alertmanager configuration.
**What did you see instead? Under which circumstances?**
I have configured the alert-manager using your KB's. Now I need to add my custom config to the alertmanager. I know this is not a consulting channel,But if anyone can advice this, It will be a great help. I just need to

[2018-06-26 07:52] mobilesfinks commented on #1215
Well, I understand. I agree that many can simply copy the configs without thinking about their essence. What about checking for the basic authentication annotations for ingress? Or as on my ingress, the presence of annotations `nginx.ingress.kubernetes.io/auth-satisfy: any`,
  `nginx.ingress.kubernetes.io/whitelist-source-range: ....`.
This will minimize the likelihood of launching an API on a pub

[2018-06-26 08:34] brancz commented on #1215
There are too many possibilities how people could protect their Prometheus server, we should just add the field and put a warning in the documentation, that it should always be protected.

[2018-06-26 08:54] brancz commented on #1526
Are you looking to discover an Alertmanager cluster within or outside of your Kubernetes cluster?

If it's within your cluster you should be able to configure everything via the Prometheus CRD, if there is anything missing, then we should add it.

If it's outside of the Kubernetes cluster, then you can use the `additionalAlertManagerConfigs` field of the Prometheus object to specify a Secret that

[2018-06-26 11:22] brancz commented on #1526
Or are you talking about the actual configuration for Alertmanager? That's in a secret, and we describe [here](https://github.com/coreos/prometheus-operator/tree/master/contrib/kube-prometheus#alertmanager-configuration) how it can be adapted.

[2018-06-26 11:54] brancz opened #1528 "(Cross-)namespaced Alertmanager configuration"
Similar to how Prometheus can be configured using the ServiceMonitor and PrometheusRule objects, it would be nice if users could configure Alertmanager routes and receivers within their own namespace, for their respective alerts.

This is not as easy as it sounds, as typically when an Alertmanager route matches it does not continue to match any further routes, unless the `continue: true` field is

[2018-06-26 11:56] brancz commented on #1498
I opened #1528 to take the discussion around Alertmanager configuration there instead of this issue.

In terms of this issue I'll close this here as the initial request is possible, but if you feel anything is unclear or not what you meant @yurchenkosv, then please open a new issue or comment here! :slightly_smiling_face:

[2018-06-26 11:56] #1498 closed

[2018-06-26 12:26] romansky opened #1529 "bump prometheus version to 2.3.1"
**What did you do?**
install on docker for mac with k8s

**What did you expect to see?**
working prometheus setup

**What did you see instead? Under which circumstances?**

When prometheus starts (with default version 2.2.1) it fails to communicate with k8s on the account of Go being lower than 1.10, where a fix was landed to mitigate below issue
(see https://github.com/prometheus/prometheus/issue

[2018-06-26 12:49] brancz commented on #1529
https://github.com/coreos/prometheus-operator/pull/1521 already does this, it's just awaiting a review :slightly_smiling_face:

[2018-06-26 13:09] sebglon opened #1530 "Create federated prometheus with operator"
**What did you do?**
I want to manage 2 type of prometheus on the same cluster:
- one (statefull set)for collecting metrics
- one for federeted.

Is it possible use use 2 prometheus definition to manage that?
How can i specify for each servicemonitor if it's for federation or collector?
Is it better to have alertmanager on federation or on collector?
Is it possible to re-use or extend existing Hel

[2018-06-26 13:10] romansky commented on #1529
@brancz - actually, I tried the master version of `prometheus-operator` today (following that pull request) but it seems it was compiled with older version of Go somehow, I got the same SSL error but this time for `prometheus-operator`

[2018-06-26 13:19] #1529 closed

[2018-06-26 13:29] brancz commented on #1530
Yes you can create a federated Prometheus with the Prometheus Operator. There is nothing special about it. As far as I understand you don't care about persistence of the federated Prometheus, so you can just not configure the `storage` field for it.

Your `ServiceMonitor` simply needs to have the `metricsPath: /federate` and use the `params` field to configure the federation parameters you would l

[2018-06-26 13:31] mxinden commented on #1530
Depends whether your alerting rules are based on a specific data set, that a single Prometheus collector can serve, or if they require a global data set that only the federated Prometheus has.

[2018-06-26 13:38] mxinden commented on #1528
I can see two ways here:

1. Inject the `continue: true` into each route configuration.
2. Create one top level route per Kubernetes namespace and have each alert-route-crd be a sub-route to its namespaced route.

[2018-06-26 16:36] antoinne85 opened #1531 "Set Namespace Label on ServiceMonitor"
**What did you do?**
I created a `ServiceMonitor` in the `monitoring` namespace with `honorLabels: true`. It is monitoring a `Service` in the `infrastructure` namespace. Additionally, my `/metrics` endpoint produces series like `queue_length{namespace=platinum, queue_name=some-queue-name}`.

**What did you expect to see?**
After ingestion, `honorLabels` would have resulted in the `namespace` label

[2018-06-26 17:10] sebglon commented on #1530
Yes my rules are based on specific data set, that can be scaped by one
statefulset scaled at 4.
I explane, i have a big cluster with more than 500 nodes to use for the
continous integration.
On this cluster we create more 1000 pods / houre and delete it. Now only
one prometheus node crash with more data scraping with more than 10G memory

Now i can have an alert from one promemetheus that are fake

[2018-06-26 17:37] brancz commented on #1531
Could you share the generated Prometheus configuration snipped respective to this `ServiceMonitor` object? You can find it under `/config` in the Prometheus web UI, and the it should start with something like this:

[code]

Also could you share the Prometheus Operator version you are using?

[2018-06-26 18:01] antoinne85 commented on #1531
Thanks for the quick response @brancz.

Sure!

[code]

You'll see some business about `olfactory-wolverine` in there as well as some other items. When I supplied the `ServiceMonitor` YAML earlier, I remove some unrelated labels and such that are generated as part of the Helm template I used to deploy.

If necessary, I can go grab the full resource YAML complete with the Helm-related labels.

[2018-06-26 18:55] antoinne85 commented on #1531
Oh--here's something that I just noticed.
My `namespace` label seems to be coming through as `exported_namespace`.

[2018-06-26 22:01] antoinne85 commented on #1531
I couldn't find a way to stop my label from getting squashed, but I did manage to put together a workaround by naming my label `target_namespace` and using `metric_relabel_configs` to swap the value of the `namespace` label just prior to storage.

If you want to track this, I'm happy to help however I can. Alternatively, if you want to close this out because it's a niche problem for something most

[2018-06-26 23:46] jalateras opened #1532 "ServiceMonitor not being scraped"
**What did you do?**
I have deployed a service with a service monitor so that it can be picked up and scraped by prometheus. Here is the deployed servicemonitor

[code]

**What did you expect to see?**
I expected to see this service monitor configured in `http://localhost:9090/config` but that was not the case. I also expected to see references to the service monitor in the logs of the ` prometheu

[2018-06-27 00:14] stealthybox commented on #1522
They may be using CoreDNS which uses port 9153 instead of 10054 and 10055, but that's just a guess.

[2018-06-27 00:17] stealthybox commented on #1522
We also couldn't get the kubelet secure port to work out of the box, but our non AKS cluster did have the insecure readonly port available, so we just switched to using that.

[2018-06-27 00:21] stealthybox commented on #1495
Just stumbled upon this issue by accident, but I ran into this same issue -- where is the requirement for webhook authorization documented? I must be missing it in the README.

We ended up just using the kubelet insecure port for our first go at it: https://github.com/coreos/prometheus-operator/issues/1522#issuecomment-400502829

[2018-06-27 00:44] mxinden commented on #1532
@jalateras Thanks for reporting the issue. Would you mind posting your Prometheus configuration here as well?

[2018-06-27 00:47] jalateras commented on #1532
@mxinden here is the prometheus.yml

[code]

[2018-06-27 01:13] mxinden commented on #1532
Ah, sorry, my bad. I meant the Prometheus Kubernetes custom resource. Could you post that as well?

[2018-06-27 04:00] jalateras commented on #1532
@mxinden here it is

[code]

[2018-06-27 04:16] manuprometheus commented on #1526
Thank you Brancz. This is want I actually looking for. sorry for the misunderstanding happens in my past query. I just need a suggestion from you about the alert manager and I got it now. Thank you :). Let me try this

[2018-06-27 04:20] jalateras opened #1533 "Disabling the K8SControllerManagerDown alert"
**What did you do?**
I am running a K8 cluster on GKE where the control plane is managed by google. I have read the documentation but cannot see how to disable the alarm or the observations.  I tried setting the following the values files but that did not work at all.

[code]
**What did you expect to see?**
I expected that the alert to not fire

**What did you see instead? Under which circumstance

[2018-06-27 07:49] kevin-bowers commented on #1470
@mattcopas I've been running into the same issue since I installed Prometheus this week. Have you had any luck getting things to show up in targets?

[2018-06-27 07:57] kevin-bowers commented on #1532
@jalateras Looks like you ran into the same issue that was mentioned in [1470](https://github.com/coreos/prometheus-operator/issues/1470#issuecomment-397500048). None of your ServiceMonitor labels are in the `Service Monitor Selector`. You'll either need to add `skipper` to the list of match expressions, or add a `matchLabels` section to the Service Monitor Selector with `prometheus: kube-promethe

[2018-06-27 08:04] brancz commented on #1526
Let us know how it goes! :slightly_smiling_face:

[2018-06-27 08:12] brancz commented on #1495
It's documented in the [prerequisites](https://github.com/coreos/prometheus-operator/tree/master/contrib/kube-prometheus#prerequisites), and as it mentions, this is only so Prometheus can authenticate with the kubelet, not for etcd monitoring.

Etcd is deployed so inconsistently in terms of authentication and authorization, that we can't make any assumptions on how to configure it. Basically it's

[2018-06-27 08:21] brancz commented on #1531
Thanks for sharing all of this. What you are seeing is the expected behavior when not setting `honorLabels: true`, which is strange as the `ServiceMonitor` object you shared had it set, but it does not show up in the generated configuration. Could you try and make sure, that you actually applied this manifest with `honorLabels: true` and also check that Prometheus was successfully reloaded with th

[2018-06-27 08:23] sslavic opened #1535 "Grafana Dashboard CRD"
Similar to ServiceMonitor and operator/controller for configuring Prometheus, please support configuring Grafana dashboards to be used by Grafana instance.

E.g. say there's one team managing monitoring infra with help of Prometheus Operator, and multiple other teams manage different apps/services on same Kubernetes cluster, with those apps/services exposing custom metrics they will likely need al

[2018-06-27 08:29] brancz commented on #1535
We agree that this is a problem that needs to be solved, however we will not be solving it in the Prometheus operator, as this is a concern that revolves around deploymend and lifecycle management of Grafana. Related to https://github.com/coreos/prometheus-operator/issues/115.

We would be happy to collaborate around a Grafana operator :slightly_smiling_face:.

[2018-06-27 09:18] mattcopas commented on #1470
@kevin-bowers Not yet - still have the same issue. I'm hoping that @tals will get back to me with suggestions soon.

Let me know if you have any break throughs!

[2018-06-27 09:32] brancz commented on #1470
@mattcopas by "My service monitor appears" you mean that you can see a generated configuration snippet for it in the Prometheus config? If that successfully appears, then there is something else wrong, either with your label selectors not selecting the `Service` object or the `Service` object not selecting your `Pod`s correctly. You can check whether you `Service` selects your `Pod`s with `kubectl

[2018-06-27 09:32] tals commented on #1470
@mattcopas not sure if I follow. My pods showed up and were scraped.
The service is used for discovery and populating Endpoint.

Is it seeing your pods, but it's not able to scrape them for metrics?
I'd check the following:
- Does hitting my Service from within the cluster works? `curl http://my_service` should return metrics from one of the pods. If that fails, then there's an issue with your ser

[2018-06-27 09:48] sslavic commented on #1535
My bad, sorry for creating duplicate.

Saw Grafana YAMLs in https://github.com/coreos/prometheus-operator/tree/master/contrib/kube-prometheus/manifests so thought Prometheus operator was deploying it too.

[OLM](https://github.com/operator-framework/operator-lifecycle-manager) mentions

Would using OLM be the way to go for combining Prometheus operator and its dependency, Grafana operator?

[2018-06-27 09:52] jalateras commented on #1532
@kevin-bowers so i have add a new section to my value file and now the Prometheus manifest looks like this

[code]

but i still cannot see the target  in the prometheus web ui

[2018-06-27 09:56] mattcopas commented on #1470
@tals @brancz I've verified that the service can see the pod (`kubectl get endpoints`) and metrics can be accessed running `curl 10.244.0.6:8080/actuator/prometheus`

It would seem that prometheus can 'see' both the pod and the service, as seen in this screenshot:

<img width="1314" alt="screen shot 2018-06-27 at 10 50 30" src="https://user-images.githubusercontent.com/13625263/41966965-693b1030-7

[2018-06-27 10:22] jalateras commented on #1532
I was only able to get it going by configuring the following section. It seems that the discovery doesnt' quite work

[code]

[2018-06-27 10:57] manuprometheus commented on #1526
Hi Brancz. Its worked perfectly. I have created secret for my own configuration and added it in the secret yaml. Now I am able to get alert on my slack. Thank a lot. :)

[2018-06-27 11:49] brancz commented on #1526
In that case I will close this issue here, but feel free to comment further or open a new issue if you run into any problems! (also if you think the documentation is not good enough, then we always highly highly appreciate pull requests from people with additional perspective than just ours! :slightly_smiling_face: )

[2018-06-27 11:49] #1526 closed

[2018-06-27 11:53] brancz commented on #1470
From the dropped target and it's labels I think what's happening is that your container does not have a named port or it's incorrectly mapped or named in the `Service` object. Could you share your `Service` object as well? The port should be called `web`, which is what you are selecting in your `ServiceMonitor`, that you shared in the original issue description.

[2018-06-27 11:56] brancz commented on #1535
Yes I think that's a great idea, although I would not couple the two operators at all. Grafana datasources should just be filled with pointers to Kubernetes Services, not directly coupled with Prometheus Operator objects.

The kube-prometheus object just happens to use the Prometheus Operator. We had it as a subproject of the Prometheus Operator as there was only poor tooling for vendoring manifes

[2018-06-27 12:53] antoinne85 commented on #1531
Once I get back into the office I'll revert the changes I made to that `ServiceMonitor` and give it another look. Thanks for the tips on how to know when the config has been refreshed!

[2018-06-27 14:01] brancz commented on #1532
@jalateras I don't know how to configure this in the helm chart (we don't use the charts, they are entirely community maintained), but when the `serviceMonitorSelector` is set to `serviceMonitorSelector: {}` it will select all ServiceMonitors in the same namespace as the Prometheus object. #1512 is going to change to default to this though.

[2018-06-27 14:46] Pamir commented on #1511
In SystemLoad tab system load queries are  sum(node_load1) sum(node_load5) sum(node_load15). What is the aim of using sum instead of avg. Using sum functions makes the empty system load average to 200% 300% in graphics.

[2018-06-27 15:10] mattcopas commented on #1470
@brancz Good spot - I had indeed not given the service/deployment's ports names.

I've edited both components so that the port is called 'web' as specified in the service monitor:

[code]

[code]

I still see just `Dropped` in the Target Labels though (as in the above screenshot).

Running `kubectl describe endpoints spring-simple-rest-service`

shows that the port is correctly named:

[code]

I t

[2018-06-27 16:20] StianOvrevage commented on #352
We want to use the Helm Chart at https://github.com/coreos/prometheus-operator/tree/master/helm/kube-prometheus to deploy Prometheus. How exacly would we go about adding remoteWrite there? I cannot see in in the values.yaml or templates.

[2018-06-27 18:55] brancz commented on #1487
@huydinhle go for it! :slightly_smiling_face:

[2018-06-27 18:59] brancz commented on #352
@StianOvrevage the helm chart allows you so specify `remoteRead` and `remoteWrite` configurations: https://github.com/coreos/prometheus-operator/blob/39fe3f673a81886345ccdecd521cd90407eb31de/helm/prometheus/values.yaml#L126-L136

[2018-06-27 20:00] jalberto commented on #1522
installing plain prometheus helm works as expected, and every target is green

[2018-06-27 21:00] stealthybox commented on #1495
This is a good disclaimer -- thanks for this.
( we're on a POC install on private bare-metal infrastructure )

[2018-06-27 21:05] stealthybox commented on #1495
Should I add these as Secrets and VolumeMount them into the prometheus deployment somehow?
How can I modify the `kind: Prometheus` CRD to mount these secrets so that my `ServiceMonitors` can reference them?

[2018-06-27 22:19] amalbuquerque commented on #926
I had the same problem, using GKE. Solved it by updating the `kube-prometheus-exporter-kubelets` ServiceMonitor resource definition, from HTTPS to HTTP, as @vsinha suggested, with this one-liner (update the namespace accordingly):

[code]
After this, the Prometheus server was able to scrape the `kubelet` target as expected.

[2018-06-27 23:41] #1001 closed

[2018-06-28 05:47] mxinden commented on #1487
@huydinhle absolutely! Feel free to open up a _work-in-progress_ PR early on, so we can help you or give early feedback. Thanks.

[2018-06-28 08:00] sslavic commented on #1535
Would you mind starting the grafana-operator repo under coreos org? Maybe initialized using operator-sdk?
I see you already have an idea about Grafana CRD https://github.com/coreos/prometheus-operator/issues/115#issuecomment-289001896

[2018-06-28 08:08] brancz commented on #1495
@stealthybox precisely. And then you can reference those via paths in the `ServiceMonitor` object's TLS configuration.

[2018-06-28 08:10] romansky opened #1539 "high cpu usage on docker for osx with k8s"
**What did you do?**
install prometheus-operator on OSX with docker + K8s, machine is constantly under high cpu

[code]

[code]

* Kubernetes version information:

[code]

* Prometheus Operator Logs:

[code]

[2018-06-28 08:14] brancz commented on #1539
I doubt this has anything to do with the Prometheus Operator being installed. As you shared the Prometheus Operator has a CPU limit of `200m`, which is admittedly pretty high, but at most it will take 1/5 of your VMs virtual CPU. Do you have any information that points at the prometheus operator causing the high CPU load here?

[2018-06-28 08:22] romansky commented on #1539
The `docker stats` command reports per docker process CPU usage, here's some output with more instances for reference:

[code]

As you can see, its just the operator that consumes CPU (varies between 10-20% cpu consistently).
This is my development machine (obviously) and its currently not doing anything, pretty much idling.

[2018-06-28 09:10] brancz commented on #1539
Could you take a CPU profile so we can analyze what's going on?

Just forward the Prometheus Operator port `8080`:

[code]

And then take the profile:

[code]

This will write a profile to a location something like: `~/pprof/pprof.operator.samples.cpu.001.pb.gz`. Just share that file and we can analyze it. Thanks!

[2018-06-28 09:51] manuprometheus commented on #1532
Hi all, I also have the same issue. I have configured servicemonitor for my garafana and is as follows:
--------------
apiVersion: monitoring.coreos.com/v1
kind: ServiceMonitor
metadata:
  labels:
    k8s-app: grafana
  name: grafana
  namespace: monitoring
spec:
   endpoints:
   - interval: 30s
     port: http
   selector:
     matchLabels:
       k8s-app: grafana
~
--------------

I am able to s

[2018-06-28 09:55] brancz commented on #1532
@manuprometheus this is most likely the result of not matching `ServiceMonitor` and `Service` definitions. Could you share your `ServiceMonitor` in a formatted way using code blocks as well as the `Service` manifest, so we can check what might be going wrong.

[2018-06-28 10:01] manuprometheus commented on #1532
Hi brancz,

Thank you for the update.

Please find the Grafana servicemonitor yaml

----------------------

apiVersion: monitoring.coreos.com/v1
kind: ServiceMonitor
metadata:
  labels:
    k8s-app: grafana
  name: grafana
  namespace: monitoring
spec:
   endpoints:
   - interval: 30s
     port: http
   selector:
     matchLabels:
       k8s-app: grafana
-----------------------

Grafana service ya

[2018-06-28 10:05] brancz commented on #1532
Your Grafana `Service` has no labels, but your `ServiceMonitor` is expecting it to have the `k8s-app: grafana` label.

[2018-06-28 10:06] manuprometheus commented on #1532
Oh,Okay. Thank you for the hint. I will check it.

[2018-06-28 10:08] romansky commented on #1539
Happy to
[pprof.operator.samples.cpu.001.pb.gz](https://github.com/coreos/prometheus-operator/files/2144799/pprof.operator.samples.cpu.001.pb.gz)

[2018-06-28 10:11] manuprometheus commented on #1532
@brancz Great. my grafana is listing in service discovery and Target. I have added the label k8s-app: grafana in my garafana service. Thank you.

[2018-06-28 11:22] jalberto commented on #1522
@brancz I followed troubleshooting for kubelets, it just mention which flags need to be enabled, I checked in the AKS nodes adn those flags are enabled, still I get a 401 in prometheus

[code]

Also both, https/http, ports are enabled

[2018-06-28 11:33] brancz commented on #1522
@jalberto I don't see `--authentication-token-webhook=true` in there. If AKS allows you to do this, you can alternatively also generate a certificate for Prometheus to authenticate with the kubelet.

[2018-06-28 11:36] jalberto commented on #1522
@brancz you right, I misread the flag

[2018-06-28 11:37] jalberto commented on #1522
@brancz is there any troubleshooting for the apiserver issue?

[2018-06-28 11:41] brancz commented on #1522
What are you referring with "the apiserver issue"?

[2018-06-28 11:48] amalbuquerque opened #1543 "Prometheus in GKE-based cluster doesn't pick new ServiceMonitor"
**What did you do?**

Installed `kube-prometheus` and `prometheus-operator` with Helm in a GKE-based Kubernetes cluster, and I'm able to see cluster metrics in the Prometheus dashboard for the following targets: alertmanager, apiserver, kube-dns, kube-prometheus-grafana, kube-state, kubelet, node-exporter and prometheus. Installed both charts in the `monitoring` namespace.

The application runs in

[2018-06-28 11:49] jalberto commented on #1522
@brancz same as the original description of this issue "context deadline exceeded"

[2018-06-28 11:54] jalberto opened #1544 "Include kubernetes-app in grafana (enhancement request)"
Will be great to include kuberntes-app with grafana:

https://github.com/grafana/kubernetes-app

It provides nice kubernetes dashboards and direct integration

[2018-06-28 12:34] aleerizw commented on #1544
While kubernetes-app is nice, it seems that the project has been orphaned. The last commit was ~3 months ago :(

[2018-06-28 13:21] amalbuquerque commented on #1543
Will close this issue; after reviewing again similar issues, I've noticed everyone used named ports. After naming my `Service` port as `web` and referring to this port in the `ServiceMonitor` instead of the port number, it worked.

[2018-06-28 13:21] #1543 closed

[2018-06-28 13:45] brancz commented on #1544
I don’t really see the point of a plug-in here, it says that it also just uses Prometheus as a metrics backend, so this is just a collection of dashboards. Seems like we should just add some more dashboards that show that information to the kubernetes monitoring mixin.

[2018-06-28 14:29] brancz commented on #1522
I'm actually clueless, as it seems to be possible to discover targets through the Kubernetes API, but then scraping metrics fails .. could you try another container that has the same `ServiceAccount` as the Prometheus server and try to curl the apiservers `/metrics` endpoint?

[2018-06-28 15:42] jalberto opened #1547 "Add service annotations support (Enhancement proposal)"
In non-operator helm prometheus there is a interesting defautl configuration that allows to scrape any service or endpoints with specific annotations:

[code]

I think a default 'ServiceMonitor' with similar configuration can be very useful (in particular for migrations)

[2018-06-28 16:20] brancz commented on #1547
The reason this is not used here is because the Prometheus upstream team (which we are all part of) advises against it, as it is very limited in what it can do. In fact it's the very reason the `ServiceMonitor` object exists.

A few examples of things that are impossible with this approach:

* any targets with multiple ports
* any targets that don't all have the exact same authentication, http and

[2018-06-28 16:50] jalberto commented on #1533
I have same issue in AKS, I tried to edit configmap `prometheus-kube-prometheus-rulefiles`  then change `K8SControllerManagerDown` entry severity to `none` but as soon I save the changes, it back to original value `critical`

[2018-06-28 18:37] d-ulyanov opened #1548 "Ability to add custom relabeling to prometheus configuration"
**What did you do?**
I would like to add some labels to targets which I have on endpoint but not on k8s service.
Example:
I have kubelet job (from operator examples), that scrapes kubelets.
Targets have label (before relabeling)
`__meta_kubernetes_endpoint_address_target_name: <myprettyhostname>`

**What did you expect to see?**
I would like to have this label in scraped metrics. It could be done

[2018-06-28 18:42] mattcopas commented on #1470
Thanks @brancz but that didn't seem to solve it :(

Full `Service`:

[code]

Full `ServiceMonitor`:

[code]

Full `Deployment`:

[code]

I'm sure there's some small/silly detail I've missed...

[2018-06-28 20:47] StianOvrevage commented on #352
Yes, I saw that.

But prometheus-operator/helm/prometheus contains ONLY prometheus right? I'm using prometheus-operator/helm/kube-prometheus which is the umbrella chart for all the components, alertmanager, grafana and prometheus.

What I can't figure out is how to set remoteWrite when using the kube-prometheus umbrella chart. If I don't have to I would like to not manually install and keep up wit

[2018-06-29 02:00] ScottBrenner commented on #1001
@bonovoxly Was using `kube-prometheus`, never touched Helm.

[2018-06-29 03:54] argonmist opened #1549 "Thanos with kube-prometheus can't access prometheus servers"
**What did you do?**
I modify /prometheus-operator/contrib/kube-prometheus/manifests/prometheus-prometheus.yaml to enable Thanos sidecar :
[code]
and follow the thanos example create thanos query deployment as following :
[code]
query service:
[code]
thanos-peers-svc.yaml:
[code]
**What did you expect to see?**

Make Thanos query prometheus servers correctly

**What did you see instead? Under whic

[2018-06-29 04:53] huydinhle commented on #1487
@brancz @mxinden thank you guys. Here is the WIP PR https://github.com/coreos/prometheus-operator/pull/1550. Let me know  :smile:

[2018-06-29 06:08] manuprometheus opened #1551 "Showing target down even if the pod is running"
**What did you do?**
I have configured service monitor for one of my custom application running as a pod. The same is discovered in the service discovery and also listed in target. But showing target down even if it is running
**What did you expect to see?**
I need to see the target status "up"
**What did you see instead? Under which circumstances?**
Showing target down and getting error "server r

[2018-06-29 06:15] manuprometheus commented on #1551
Kindly find my service yaml:
________
apiVersion: v1
kind: Service
metadata:
  labels:
    task: monitoring
    kubernetes.io/cluster-service: 'true'
    kubernetes.io/name: monitoring-influxdb
  name: monitoring-influxdb
  namespace: monitoring
  labels:
    k8s-app: influxdb
spec:
  ports:
  - name: web
    port: 8086
    targetPort: 8086
  selector:
    k8s-app: influxdb
________________

Servi

[2018-06-29 06:52] #1549 closed

[2018-06-29 08:00] brancz commented on #1549
You were likely hitting a bug in Thanos regarding peer re-connects, this is going to be fixed in the next release of Thanos.

[2018-06-29 08:02] brancz commented on #352
cc @gianrubio

[2018-06-29 08:07] brancz commented on #1470
Could you share the generated Prometheus configuration regarding this `ServiceMonitor` again?

[2018-06-29 08:09] brancz commented on #1551
That sounds like the application you are running in your pod simply doesn't have a `/metrics` endpoint on its http server.

[2018-06-29 08:23] brancz commented on #1548
Relabeling is a concept that is very hard to grasp for most users, if possible I'd like to avoid adding relabeling as much as possible, as it will cause a ton of inconsistencies across environments making alerting rules and dashboard sharing much much harder.

In this case I think it's actually valid to simply always relabel the endpoints' `__meta_kubernetes_endpoint_address_target_name` meta labe

[2018-06-29 09:34] manuprometheus commented on #1551
Sorry, Could you please tell me how can I add a /metrics endpoint in a pod. Do I need to build any custom metrices?

[2018-06-29 09:45] jiuchongxiao commented on #1458
@sneko i use your prepare-dashboard.sh update the .json file downloaded from "https://grafana.com/dashboards" ,it updated the file but it could not seen in the grafana dashboad.
example : https://grafana.com/dashboards/1471/revisions

[2018-06-29 10:00] brancz commented on #1551
Yes if you want to scrape metrics from an application you need to make it expose metrics. You need to modify the application to do this. Generic workload metrics (CPU, memory, etc.) are already collected by the kube-prometheus stack.

[2018-06-29 10:50] d-ulyanov commented on #1548
Hi @brancz !
Now I've solved an issue with additionalScrapeConfig (it exists only for forwarding target_name label)

Maybe we can just add ability to list endpoint label names that would be transferred to target?
We can make PR for this.

[2018-06-29 14:21] ArvinDevel opened #1554 "Apply alertmanager-secret.yaml doesn't take effect"
**What did you do?**
customize alertmanager configure on kube-prometheus using #alertmanager-configuration chapter on [doc](https://github.com/coreos/prometheus-operator/tree/master/contrib/kube-prometheus): the jonnet file is like
[code]
the output shows that the secret is configured.
And I have checked the secret of `alertmanager-main` in `monitoring` namespace, and the content is changed to wha

[2018-06-29 14:28] gianrubio commented on #1470
@brancz should prom operator log when the `serviceMonitor` is not picked up by the operator because the labels doesn't match? Nginx ingress[ does log this warning](https://github.com/kubernetes/ingress-nginx/blob/0951b973c9bc1f8360e7765ab34ff3264abecced/internal/ingress/controller/store/store.go#L266) when and it's kind useful when you are having trouble matching objects.

[2018-06-29 16:03] mikeraimondi opened #1555 "Flaky tests"
**What did you do?**
Made an empty commit in #1444 after a [failed test run](https://travis-ci.org/coreos/prometheus-operator/builds/398268649?utm_source=github_status&utm_medium=notification).

**What did you expect to see?**
Another failed test run.

**What did you see instead? Under which circumstances?**
[Tests passed](https://travis-ci.org/coreos/prometheus-operator/builds/398300981?utm_sourc

[2018-06-29 16:33] brancz commented on #1555
Yes we are aware of this flaky test, unfortunately this is a bug in Thanos not the Prometheus operator. Luckily it has already been fixed and will soon be released, then the flaky test will disappear :) .

[2018-06-29 22:02] ntfrnzn commented on #1419
I only come back to this problem every couple weeks when I try to upgrade the installation process to the latest versions. With helm chart versions coreos/prometheus-operator:0.0.26 and coreos/kube-prometheus:0.0.89 I'm still seeing the mismatch in grafana datasource names. I really do not want to fork these charts for my own use & would prefer to receive all the upstream improvements. Maybe there

[2018-06-30 13:11] manuprometheus commented on #1551
Hi, I have added the metrics and now I got the error "no token found" from the target section. Any idea on this?

[2018-07-01 14:17] jungopro opened #1557 "Custom repository for prometheus-config-reloader"
**What did you do?**
Trying to deploy prometheus-operator chart

**What did you expect to see?**
Successful deployment

**What did you see instead? Under which circumstances?**
Chart deployment fails with time out

**Environment**

* Kubernetes version information:

1.9

* Kubernetes cluster kind:

kubespray

**The Problem**

in the [deployment.yaml](https://github.com/coreos/prometheus-operator/b

[2018-07-02 05:40] manuprometheus opened #1558 "Need to integrate my own custom logs(in html or txt format) with prometheus"
**What did you do?**
I have configured a script that fetch the GCP,Audit log and ssh logs from my cluster environment. The data is stored as html/txt file format.
**What did you expect to see?**
Now I want to fetch  these logs files by Prometheus and need to display the same in Prometheus GUI.Please let me know whether this is possible.
**What did you see instead? Under which circumstances?**

**E

[2018-07-02 07:55] brancz commented on #1558
Prometheus is a metrics system, it is not designed for log data. See more here: https://prometheus.io/docs/introduction/faq/#how-to-feed-logs-into-prometheus?

If you want to create metrics from your log data, you can use something like [mtail](https://github.com/google/mtail) to perform aggregations on your data and make it expose those as metrics.

I'm going to close this here as this is not an

[2018-07-02 07:55] #1558 closed

[2018-07-02 08:05] brancz commented on #1557
When you set the `imagePullSecrets` [in the Prometheus object](https://github.com/coreos/prometheus-operator/blob/master/Documentation/api.md#prometheusspec) that is passed on to each Pod, so when you set it in there it should be set for all containers.

https://github.com/coreos/prometheus-operator/blob/451031460b0e8b78e3c4c7becd8f432828d88504/pkg/prometheus/statefulset.go#L169

Does that help?

[2018-07-02 08:06] brancz commented on #1551
Can you share the output that you get when you curl that `/metrics` endpoint of your target? This sounds like the metrics are not in the correct format.

[2018-07-02 08:14] brancz commented on #1470
@gianrubio unfortunately this is not possible, as we're not hand picking single objects, but rather querying Kubernetes for all objects with the matching selector. So we don't know all the objects, we only know the selected ones.

[2018-07-02 08:18] brancz commented on #1554
Could you check the Alertmanager logs? This sounds like the config may be malformed and was thus rejected to be reloaded.

[2018-07-02 08:28] brancz commented on #1551
You need to expose metrics in the Prometheus exposition format: https://prometheus.io/docs/instrumenting/exposition_formats/

You can do this with one of the existing client libraries: https://prometheus.io/docs/instrumenting/clientlibs/

[2018-07-02 08:29] manuprometheus commented on #1551
Thanks@brancz. I will check this.

[2018-07-02 09:48] jalberto commented on #1547
@brancz thanks for the reasoning, it makes sense and is a fair point. As an addition I still think a basic predefined SM for this task can be useful in the case of simplest metrics (the ones that doesn't require multiple ports or any kind of customization).

[2018-07-02 09:49] jalberto commented on #1544
@brancz not only a coleciotn of dashboards, it also talks directly to k8s API

[2018-07-02 11:47] brancz commented on #1544
Yeah, but there seems to be a lot of overlap of what kube-prometheus does and what that Grafana plugin is doing (also I wouldn't really be comfortable giving the thing that everyone uses for dashboarding TLS certificates to practically do whatever it wants in the cluster).

I would like to see an actual benefit of this plugin that gives us things we can't already do, I'm fairly certain that the ma

[2018-07-02 11:52] jungopro commented on #1557
Hi @brancz. thanks for the reply
That makes perfect sense, I was hoping this is the configuration and no further args are needed.

At the meantime I'm struggling with installing the operator chart in a dark-site of a customer, something isn't working with pulling the image from a private artifactory repo, although I have the secret configured...

I will test it and if I have issues I will let you

[2018-07-02 11:57] brancz commented on #1547
Yeah I think it's reasonable to document a `ServiceMonitor` that works for a broad common case.

[2018-07-02 12:12] jalberto commented on #1544
fair point.

So maybe just copying the dashboards of the plugin (they are better than
current ones) will be a good step forward IMHO

On Mon, 2 Jul 2018 at 13:47, Frederic Branczyk <notifications@github.com>
wrote:

[2018-07-02 12:16] brancz commented on #1544
That would be awesome! The dashboards come from the [kubernetes monitoring mixin](https://github.com/kubernetes-monitoring/kubernetes-mixin) I'm sure everyone would be more than happy to have those in there! I'll open an issue there and tag you to see what we can do.

I'll go ahead and close this one.

[2018-07-02 12:16] #1544 closed

[2018-07-02 12:19] jalberto commented on #1544
I dind't knew that project exists, thanks :)

[2018-07-02 12:20] brancz commented on #1557
Let us know how it goes.

[2018-07-02 12:21] #1557 closed

[2018-07-02 12:39] jalberto opened #1559 "Grafana error using persisten storage"
kubernetes 1.10.3 with granafa 5.2.1 in AKS
on a clean kube-prometheus install

[code]

My config:

[code]

I guess related to url in error msg: http://docs.grafana.org/installation/docker/#user-id-changes

rel: #966 #541

[2018-07-02 12:45] brancz commented on #1559
#966 #541 are unrelated, they are about Prometheus and Alertmanager objects, which are managed by the Prometheus Operator, the Grafana deployment is completely unmanaged. It's a simple deployment. You need to mount some writable storage into that Grafana container (a simple emptydir would work already).

Are you trying to install this via helm?

[2018-07-02 12:49] jalberto commented on #1559
@brancz I am using kube-prometheus helm to deploy grafana, it use grafana helm hosted by prometheus operator, for that reason I related those issues too.

kube-prometheus uses by default grafana 5.0, while latest version is 5.2 and that is where the userID change happened. I though it will not be affected as it was a clean deployment.

Also, emptydir is great, but I will like to persist my custom

[2018-07-02 13:00] brancz commented on #1559
I disagree with this, but I do think that the helm chart should allow configuring persistent storage, however the kube-prometheus stack was designed with a completely stateless Grafana, so this may be a more involved effort.

[2018-07-02 13:07] jalberto commented on #1559
but using grafan in a stateless way also means, even the simplest change
like selecting the default dashboard or ideal time period, will be lost in
next deploy

On Mon, 2 Jul 2018 at 15:00, Frederic Branczyk <notifications@github.com>
wrote:

[2018-07-02 14:57] brancz commented on #1559
Right but if those are things that you want to do (we run Grafana even without users and just do authentication via the oauth proxy so there is 0 state in Grafana for us) then you should rather make Grafana use an external database than make Grafana itself stateful. Apart from that the Grafana folks are putting a lot of great work into their provisioning features so a local Grafana database can be

[2018-07-02 15:04] jalberto commented on #1559
you are right!, just a missunderstanding as for me an external DB also
counts as "stateful" :)

On Mon, 2 Jul 2018 at 16:57, Frederic Branczyk <notifications@github.com>
wrote:

[2018-07-02 16:56] jalberto commented on #1559
@brancz are you using PG as grafana storage?

When I use PG as DB type in grafana config, each time grafana is deployed (for example on upgrading) every custom dashboard is lost

[2018-07-02 17:09] brancz commented on #1559
No we don’t even use a backing database :)

[2018-07-02 17:40] abhaysr commented on #1189
@brancz I am having the same issue, I am trying to deploy Prometheus on 1.8.7 using the admin user. Deployed k8s using kops.

[2018-07-02 17:59] brancz commented on #1189
Could you try just running `kubectl create -f bundle.yaml` on the [`bundle.yaml`](https://github.com/coreos/prometheus-operator/blob/master/bundle.yaml) file in the root of the repository. If you get the same error your user does not have enough permissions to deploy the stack. Your user needs all permissions that the cluster role contains in order to grant those same privileges.

[2018-07-02 20:40] mxinden commented on #1502
According to the Alertmanager UI your Alertmanager cluster is not properly established. This would explain the duplicated notifications.

In order to debug this you could try the following:

1. Test the network connection between the Alertmanager pods.
Exec into the container:
`kubectl exec -it -n monitoring alertmanager-kube-prometheus-0 -c alertmanager -- /bin/sh`
Check if the peer urls get reso

[2018-07-02 20:50] mxinden commented on #1472
I got a first work in progress PR up: https://github.com/coreos/prometheus-operator/pull/1562

@nabadger in your scenario: Does a collection of rule files exceed the config map size limit of Kubernetes, or does a single rule file exceed the limit by itself?

[2018-07-02 21:37] d-ulyanov commented on #1548
Hi, @brancz
What do you think about this?

[2018-07-02 22:12] sneko commented on #1458
@jiuchongxiao sorry for the delay.

You're supposed to see in your logs something like:
[code]

If you're certain of your configmap I'm sorry but I don't know how to help you :(... Just to be sure about how you create configmap, you should follow:

You can create a ConfigMap for 1 dashboard like for Kafka:
kubectl create configmap -n monitoring kafka-dashboards --from-file=./dashboards/kafka-dashb

[2018-07-03 01:44] argonmist opened #1563 "Data backup via thanos s3 api is not working"
**What did you do?**
I deploy a aio ceph enviroment, and make sure I can upload files via s3 api, then I modify /prometheus-operator/contrib/kube-prometheus/manifests/prometheus-prometheus.yaml to enable thanos s3 data backup, but the prometheus-0 pod no show by command: kubectl get po -n monitoring
[code]
Here is my prometheus-prometheus.yaml
[code]

**What did you expect to see?**
Prometheus pod

[2018-07-03 06:21] VinceMD opened #1564 "Alert manager configuration"
**What did you do?**
Follow the different example to configure alert manager

Example:

[code]

I've tried both approach, external and normal

**What did you expect to see?**
I expected to see a new file in the manifest after I run
`jsonnet -J vendor -m manifests ${1-snim.jsonnet} | xargs -I{} sh -c 'cat $1 | gojsontoyaml > $1.yaml; rm -f $1' -- {}`

**What did you see instead? Under which circums

[2018-07-03 07:35] brancz commented on #1564
Thanks a lot for reporting this!

My suspicion is that you're going to need to remove the `.alertmanager.secret`, as having that will just render the Alertmanager secret. But to make sure, could you share your whole jsonnet file?

When I wrote this I wasn't sure whether that's more confusing or better as the `jsonnet` command will run faster. If you think this was confusing then I'm more than happ

[2018-07-03 07:46] brancz commented on #1563
Even though this might be in your environment, just out of security I redacted your keys.

The way the `accessKey` and `secretKey` fields work is that they are a pointer to a "key" within a Kubernetes Secret. So what you are looking for is something like this:

[code]

Meaning you will also need a Kubernetes `Secret` that is called `thanos-s3-credentials` that has the `s3AccessKey` and `s3SecretKe

[2018-07-03 07:49] brancz commented on #1548
I'm not entirely sure if this is possible but if so I would like to try and always relabel

* `__meta_kubernetes_endpoint_address_target_name` -> `target_name`
* `target_name` -> `pod` (if `__meta_kubernetes_endpoint_address_target_kind` == `Pod`)
* `target_name` -> `node` (if `__meta_kubernetes_endpoint_address_target_kind` == `Node`)

[2018-07-03 08:43] argonmist commented on #1563
Thanks for the reply, after I create the secret and modify
[code]
to
[code]
it works!:)

[2018-07-03 08:51] jalberto opened #1565 "Grafana overwrite every dashboard on deploy"
I am trying to use grafana helm deployed by kube-prometheus with a DB to back grafana state. In each deploy every dashboard is overwritten.

I understand the intention of this grafana deploy is to have a stateless service with config and dahbaord pragmatically deployed but this can cause lost of data in particular with WIP dashboards or very complex ones.

My suggestion is: Create a "kube-promethe

[2018-07-03 09:17] codexpage commented on #983
@grebois  Have you solved the problem ?  I have the same issue on my cluster. The operator only deploy node-exporter on master node.

[2018-07-03 09:46] brancz commented on #1564
Isn't that the change we want? The Alertmanager config is in that `Secret`.

[2018-07-03 09:50] rgardam commented on #1419
I have created a PR -> https://github.com/coreos/prometheus-operator/pull/1566
This enables the ability to override the service name for prometheus

[2018-07-03 10:07] VinceMD commented on #1564
oh, I didn't realise that. Interesting. I'll give it a go tomorrow (Melbourne time here)

[2018-07-03 10:23] subinmt opened #1567 "Want to setup persistent storage for Prometheus"
**What did you do?**
Followed the manifest for deploying the Prometheus on Kubernetes.
**What did you expect to see?**
Please let me know How can I setup persistent storage for Prometheus. My intention is to keep the Promethues  data safe.
**What did you see instead? Under which circumstances?**

**Environment**
Kubernetes
* Kubernetes version information:

	insert output of `kubectl version` here

[2018-07-03 11:41] brancz commented on #1567
We have a [user guide on storage](https://github.com/coreos/prometheus-operator/blob/master/Documentation/user-guides/storage.md).

I will close this issue, but should you run into any issues with this document feel free to keep commenting or open a new issue if you think the documentation is wrong or you think there might be a problem with the Prometheus Operator! :slightly_smiling_face:

[2018-07-03 11:41] #1567 closed

[2018-07-03 11:45] brancz commented on #1565
I think this is rather something you need to discuss with the Grafana folks, as I think that's just not how the provisioning feature of Grafana works.

[2018-07-03 11:46] brancz commented on #1563
Awesome! In that case I will close this issue, but feel free to comment further or open a new issue should you run into any other problems! :slightly_smiling_face:

[2018-07-03 11:46] #1563 closed

[2018-07-03 11:48] jalberto commented on #1565
Actually you can set a folder and a organization in the provider:

http://docs.grafana.org/administration/provisioning/#dashboards

[2018-07-03 12:05] brancz commented on #1565
Right I meant how should Grafana know to only delete/overwrite those dashboards instead of all. If the folder solves things I'm more than happy with going for that. If I recall correctly @metalmatze wanted to organize the dashboards in folders anyways.

[2018-07-03 12:47] hgraca commented on #1166
@brancz Im trying to use the `targetLabels` to get the node name on `node_memory_MemTotal` output but it doesn't seem to work.

I get this back atm:
[code]

and I would like to add to it something like `node="kube-master-01"` cozz the IP address means nothing to me.

I tried this:

[code]

and this:

[code]

But nothing works :(

Any idea what is going wrong, or where I can check how to do it?

Tk

[2018-07-03 14:28] brancz commented on #1166
We're discussing that for any node specific targets this should just always be relabelled onto the target as it is a frequently requested feature. (Re: https://github.com/coreos/prometheus-operator/issues/1548#issuecomment-402045553)

[2018-07-03 14:31] gokart23 opened #1568 "Basic auth fails due to introduction of newline"
**What did you do?**
I was working on deploying a ServiceMonitor for an endpoint which required authentication. The configuration was along the lines of:
[code]
I also tried setting up the secret with yaml block stripping, but observed the same results.

**What did you expect to see?**
I expected prometheus to collect metrics by polling the endpoint using the provided credentials

**What did you s

[2018-07-03 14:45] brancz commented on #1568
I think you forgot to paste the `ServiceMonitor` you wanted to share :slightly_smiling_face: .

[2018-07-03 14:47] gokart23 commented on #1568
@brancz sorry about that - updated :slightly_smiling_face:

[2018-07-03 14:48] dhain commented on #1169
Very interested in this. Any links to where this dev is happening? Happy to try out pre-release.

[2018-07-03 15:16] brancz commented on #1169
Actually we have released more integrated support for this in the latest release (v0.21.0).

API documentation is here:
* https://github.com/coreos/prometheus-operator/blob/master/Documentation/api.md#prometheusspec
* https://github.com/coreos/prometheus-operator/blob/master/Documentation/api.md#thanosspec

If anyone would like to write up a user guide on how to use this, that would be fantastic!

[2018-07-03 15:26] brancz commented on #1568
Thanks for the thorough report! Could you also let us know which version of Prometheus this is?

[2018-07-03 16:11] brancz commented on #1568
I was able to reproduce this with a minimal Prometheus configuration, but I'm afraid this is a Prometheus bug, not a Prometheus Operator bug, I will go ahead and open a bug there with a minimal config to reproduce. Thanks a lot for opening this issue!

[2018-07-03 16:34] brancz commented on #1568
I take that back, I think Prometheus is doing everything correctly. The yaml spec says that when a string field is defined with the `|` then the string has a new line at the end of it, so we are marshaling this incorrectly.

[2018-07-03 17:06] bamb00 commented on #291
Hi @brancz Which one of these image is a sidecar container?

1-hyperkube
2-addon-resizer
3-grafana-watcher
4-configmap-reload
5-prometheus-config-reloader

You mention #5 is a sidecar.  I'm wanting to understand since these image looks like it has a function to perform configuring.  If I miss any image please feel to added to the list.

Thanks in advance.

[2018-07-03 17:33] brancz commented on #291
configmap-reload and prometheus-config-reload are both sidecars they are used to configure and reload prometheus and alertmanager. The grafana-watched was as well, but it is not necessary anymore, as the functionality is now available directly in Grafana.

[2018-07-03 17:48] jolson490 commented on #1259
Note that this `` rule is defined in the following files in [etcd](https://github.com/coreos/etcd):
[code]

[2018-07-03 19:18] dberuben commented on #1458
I have the same issue .

i created 3 new dashboards in my helm grafana dashboards folder, but i have nothing in my interface.

if i checked my kubectl logs grafana-watcher:

[code]

[2018-07-03 19:20] sneko commented on #1458
@jiuchongxiao @dberuben did you specify the appropriate property while installing the Helm chart?

Something like:
[code]

[2018-07-03 19:35] dberuben commented on #1458
[code]

but i found that.

[code]

[2018-07-03 19:35] dberuben commented on #1458
Warning  FailedMount             3m    kubelet, aks-agentpool-75105107-0  Unable to mount volumes for pod "kube-prometheus-grafana-7474b77884-nnjvt_monitoring(5afef293-7ef7-11e8-9118-0a58ac1f0bf7)": timeout expired waiting for volumes to attach or mount for pod "monitoring"/"kube-prometheus-grafana-7474b77884-nnjvt". list of unmounted volumes=[grafana-storage-gf]. list of unattached volumes=[grafa

[2018-07-03 19:36] dberuben commented on #1458
and i created configmap manually for my 3 dashboards

[2018-07-03 19:41] dberuben commented on #1458
I fixed the issue for the mount but i m still having the same issue

[code]

[code]

[2018-07-03 20:39] jolson490 opened #1571 "Can't deploy v21 kube-prometheus to fresh cluster - CRDs race condition"
Greetings,

The [v21 kube-prometheus README.md](https://github.com/coreos/prometheus-operator/blob/v0.21.0/contrib/kube-prometheus/README.md) says to install/deploy k-p simply do `kubectl create -f manifests/`. But if I do that in a freshly created cluster (that doesn't already have the prometheus-operator CustomResourceDefinitions present - from a previous time that I deployed k-p), then it fails

[2018-07-03 21:10] sneko commented on #1458
@dberuben It seems they were installed in Grafana:
[code]

You should see them in Grafana even if the datasource is misconfigured. If not, I'm sorry but I'm not enough skilled to help you further :(

[2018-07-03 23:51] VinceMD commented on #1564
Ok so I got it working. Happy to close this ticket? should we update the doc?

[2018-07-04 01:14] jiuchongxiao commented on #1458
yeah, i had solved it. the .json file must named with the format xxxxx-dashboard.json.
thank you @sneko

[2018-07-04 02:14] DevOps-Alvin commented on #1571
I also encountered the same problem.

[2018-07-04 03:06] VinceMD opened #1572 "CA certificate issue on Alert manager to use with Slack notification"
Already posted here  https://github.com/prometheus/alertmanager/issues/1453

but not sure if prometheus operator can help

Basically when using HTTPS, most of the time we need to install our company's own CA certificate.
Slack notification is not working :

level=error ts=2018-07-04T02:16:23.338459596Z caller=dispatch.go:266 component=dispatcher msg="Notify for alerts failed" num_alerts=1 err="Pos

[2018-07-04 06:05] VinceMD commented on #1564
I'm not sure if related but since I've added the config above I see errors in prometheus-1 pod (not in 0)

[code]

What could be going on?

[2018-07-04 06:09] brancz commented on #1564
It’s actually unrelated, but there is already a PR to fix some of these on the Kubernetes monitoring mixin.

If you have suggestions on how to improve the docs we would be more than happy with accepting those!

[2018-07-04 06:09] brancz commented on #291
cc @gianrubio

[2018-07-04 06:15] brancz commented on #1572
The Alermanager object has the “secrets” field: https://github.com/coreos/prometheus-operator/blob/master/Documentation/api.md#alertmanagerspec

Using this you can mount your CA cert and consume it through the Alermanager configuration.

[2018-07-04 06:17] jiuchongxiao opened #1573 "how to config the prometheus-operator to collect data from pushgateway?"
**What did you do?**
i want to collect data from my pushgateway.my pushgateway has data as below:
![image](https://user-images.githubusercontent.com/13093730/42259782-7f6e7882-7f94-11e8-8ff1-5122577af2d5.png)
**Environment**
centos7.2
* Kubernetes version information:

[code]

my pushgateway url is : http://192.168.181.93:30379,how to config the operator?

[2018-07-04 06:30] #1507 closed

[2018-07-04 06:34] brancz commented on #1571
I suggest to just run the command twice. In theory this should work and it did for Kubernetes 1.9 and most of 1.10. I would prefer not to resurrect the scripts as that will drive people towards using the Prometheus operator repository as their own instrastructure repo rather than using the jsonnet vendoring into their own repo. When we had those scripts there were a number of improvements that wer

[2018-07-04 06:38] anandsinghkunwar commented on #1568
I think it should have `|-` and not `|`. Also, I am not sure why others haven't faced this yet.

[2018-07-04 07:01] VinceMD commented on #1572
Sorry stupid question but ( I could be wrong ) need latest version of alert manager. To specify the version with Jsonnet I tried that but no luck

[code]

[2018-07-04 07:15] brancz commented on #1573
If your pushgateway is running within your Kubernetes cluster you collect metrics from it, just like you do from any other service with a Kubernetes `Service` in combination `ServiceMonitor` object. If that doesn't work for you because your pushgateway is not in your kubernetes cluster, then you can create a fake `Endpoints` object that you manage the IPs in, and a respective Kubernetes `Service`

[2018-07-04 07:39] sjones-sot commented on #1514
I also experience this issue.  Deploy via helm / tiller times out after ~60s (during job creation) and does not honour the wait / timeout values (default or passed explicitly).  Interestingly, using `helm template` to generate something that can be used via `kubectl apply -f .` works fine.
This feels like an issue with the underlying proxy timeout perhaps?

(NB: I also had to create the `cluster-a

[2018-07-04 07:56] jiuchongxiao commented on #1573
@brancz my pushgateway is running within my kubernetes cluster.
the pushgateway install as https://github.com/kubernetes/charts/tree/master/stable/prometheus-pushgateway.
the pushgateway detail configs as below:

[code]
And the prometheus-operator's value.yaml about the pushgateway config as below:

[code]

i defined the serviceMonitor is locust-monitor. now the pushgateway can get data,but the pr

[2018-07-04 08:05] brancz opened #1574 "Wrong port for Alertmanager >=v0.15.0"
Starting with Alertmanager version 0.15.0 there are different ports being used for gossiping, but even for Alertmanager >=v0.15.0 versions we still add the old ports to the StatefulSet. Here:

https://github.com/coreos/prometheus-operator/blob/041acb182d8362d7758297e80669ebb3b1e3a4b6/pkg/alertmanager/statefulset.go#L255-L270

This is a bug and should be fixed for any version >=v0.15.0. I'm not 100

[2018-07-04 08:07] jiuchongxiao commented on #1573
@brancz  i think use helm or not,is not important.because it only the install about the pushgateway.
the serviceMonitor object i had share above.  and the prometheus object as below:
[code]

[2018-07-04 08:08] gianrubio commented on #1514
Please paste the output of `kubectl get pods -n monitoring` and `kubectl describe pod -n monitoring`

[2018-07-04 08:17] jiuchongxiao commented on #1573
@brancz i think the  ServiceMonitor object is defiended in file kube-prometheus/values.yaml , and the defiend as below:
![default](https://user-images.githubusercontent.com/13093730/42265276-a60c4d0a-7fa5-11e8-8a78-8f7c49417e19.png)
am i right?

[2018-07-04 08:36] jiuchongxiao commented on #1573
@brancz  yeah,i am sure  they are all installed in the monitoring namespace,because i definded the namespace when i installed them use helm (helm install kube-prometheus --name kube-prometheus --namespace monitoring).
![default](https://user-images.githubusercontent.com/13093730/42266108-0b6d8892-7fa8-11e8-8c09-3bcb1cf56820.png)

kubectl -n monitoring get prometheus -o yaml
[code]
kubectl -n monit

[2018-07-04 08:49] subinmt opened #1575 "configuring horizontal pod scaling along with the integration of Prometheus."
**What did you do?**
I am trying to configure horizontal pod scaling along with the integration of Prometheus. In this scenario how Can I add custom metrics for that. Any idea? Thanks in advance.
**What did you expect to see?**

**What did you see instead? Under which circumstances?**

**Environment**

* Kubernetes version information:

	insert output of `kubectl version` here

* Kubernetes cluste

[2018-07-04 09:31] vsliouniaev opened #1576 "[Helm] prometheusrules CRDs are not removed after deleting a chart"
Since Prometheus Operator 0.20.0 transforms rules ConfigMaps to CRDs automatically, but they are not cleaned up after the chart is deleted.

**What did you do?**
Installed, then subsequently uninstalled the unmodified kube-prometheus chart.

**What did you expect to see?**
That the `prometheusrules.monitoring.coreos.com` CRDs would be removed after uninstalling.

**What did you see instead? Under

[2018-07-04 09:49] brancz commented on #1575
There are some experimental manifests located here: https://github.com/coreos/prometheus-operator/tree/master/contrib/kube-prometheus/experimental/custom-metrics-api

We haven't extensively worked on this, but I would like this to eventually be part of the kube-prometheus stack.

[2018-07-04 09:52] brancz commented on #1573
Could you also share the Kubernetes `Service` object that has the `app: locust-monitor` label? As well as the generated Prometheus configuration from the Prometheus UI, that you can find at `/config`. Thanks!

[2018-07-04 10:09] jiuchongxiao commented on #1573
@brancz thank you very much,the reason is the app:cocust-monitor label error.<-_->

[2018-07-04 10:10] #1573 closed

[2018-07-04 10:58] StianOvrevage commented on #1514
Same problem here with Azure AKS with K8s 1.10.3 with RBAC enabled.

[code]

[code]

[code]

[2018-07-04 13:13] rsingh2411 commented on #1568
Recieving the same issue, 401 unauthorized.  @anandsinghkunwar by chance is there any workaround for this issue.

[2018-07-04 13:21] anandsinghkunwar commented on #1568
Don't know a way to use prom-operator and use basic auth currently.

[2018-07-04 13:23] brancz commented on #1522
This would be the exact same you generated a certificate for your Kubernetes apiserver to talk to your kubelets, I assume that AKS doesn't allow you to access these though, same goes for the flags. I think you will need to contact AKS support.

[2018-07-04 13:32] StianOvrevage opened #1578 "Add deployPrometheus value to helm/kube-prometheus"
Right now we use kube-prometheus to deploy the bundle of charts that a complete Prometheus setup consists of (Prometheus, Alertmanager, Node-exporters etc etc).

However, not all options defined in the template for `prometheus` exist in the kube-prometheus chart (such as remoteWrite, https://github.com/coreos/prometheus-operator/issues/352 ).

We deploy Grafana separately since we need values not

[2018-07-04 13:37] brancz commented on #1578
May I suggest you to also look into other solutions than helm. This exact reason is one of the reasons why we don't use helm at all. We use jsonnet to generate all the manifests with whatever modifications we want and then have additional tooling to simply deploy the rendered Kubernetes manifests. There is a lot of documentation on how to get started already: https://github.com/coreos/prometheus-o

[2018-07-04 13:43] StianOvrevage commented on #1578
I'm aware that you guys prefer jsonnet but around here Helm is still the de-facto standard for a lot of Kubernetes stuff and that is what our team have experience with. Adding another new component in the mix will be a very tough sell.

Is there any chance you could consider this 3-4 line change to allow us much greater flexibility while still using the Helm charts?

[2018-07-04 14:01] brancz commented on #1568
I tried an end to end example and I think this is actually about how you generate your `Secret` object. Make sure that when you are encoding things in base64, that the input does not actually contain a line break.

[code]

Comparing this to the values that you shared, it looks like your `Secret` was just created with line breaks, so everything is actually working as intended.

[2018-07-04 14:58] mxinden opened #1580 "Port config-reloader logic back into prometheus-config-reloader"
We currently have two sidecars for each Prometheus Pod.
1. Prometheus config reloader: Templating and reloading Prometheus configuration
2. Rule config map reloader: Reloading rule configuration

The logic of the latter should be merged back into the former, reducing the amount of sidecars by one.

[2018-07-04 21:10] vsliouniaev commented on #1533
Could you specify the version of Prometheus Operator you are using?

[2018-07-05 06:10] VinceMD commented on #1564
working for me.

[2018-07-05 06:10] #1564 closed

[2018-07-05 07:40] vsliouniaev commented on #1533
@jalateras what I suspect is happening is that the `ConfigMap`s are being transformed to `PrometheusRule`s by the operator, which does not update them when they are changed. You should be able to verify this

[2018-07-05 08:04] brancz commented on #1533
Maybe @gianrubio can comment on what the plan is to disable these alerts, as for managed environments it is often not possible to reach all components.

[2018-07-05 09:18] deltasquare4 commented on #1169
I tried `v0.21.0` out on GCP, but I think it has a problem:

* Default thanos sidecar container does not have a way to override the default path, which is `./data` ([Source](https://github.com/improbable-eng/thanos/blob/v0.1.0-rc.1/cmd/thanos/sidecar.go#L43)), but should be `/prometheus` ([Source](https://github.com/coreos/prometheus-operator/blob/master/pkg/prometheus/statefulset.go#L39))
* The `

[2018-07-05 09:29] rsingh2411 commented on #1568
Thanks, @brancz , The suggestion worked, basic auth is working and scraping targets is working

[2018-07-05 09:44] manuprometheus commented on #1567
Hi brancz, I am sorry for reopening a closed Issue. But I need a small help. I have followed the guide you provided but got some error. I got the error "Failed to provision volume with StorageClass "standard": claim.Spec.Selector is not supported for dynamic provisioning on GCE". I understand this issue is already reported and fixed. But in my case, I would like to know where the storage class "St

[2018-07-05 09:48] argonmist opened #1582 "Thanos query shows no result"
**What did you do?**
I modified some yaml files last week to enable thanos sidecar, everything worked fine, and I re-clone repo today with the same setting, thanos UI can not select the `metric at cursor` bar, but I tried thanos example, it's ok.
Here are all the yaml files I modified:

prometheus-prometheus.yaml
[code]

prometheus-service.yaml
[code]

prometheus-serviceMonitor.yaml
[code]

querie

[2018-07-05 10:57] gianrubio commented on #1514
@StianOvrevage I cannot see any errors on helm, all the pods were deployed and the jobs are completed. Did you try to investigate if this also happen with other users running helm on Azure? I find this issue that could be related https://github.com/Azure/AKS/issues/455

[2018-07-05 11:17] manuprometheus commented on #1567
Sorry, I got it. Thanks

[2018-07-05 11:43] mxinden commented on #1574
@brancz we currently add two ports:
1. `9093` for the web interface `--web.listen-address=127.0.0.1:9093`
2. `6783` for gossiping `--cluster.listen-address=$(POD_IP):6783`

Could you elaborate further on what is missing / obsolete here?

[2018-07-05 12:54] brancz commented on #1568
I'm going to close this here, but feel free to keep commenting or open a new issue should you run into any other problem!

[2018-07-05 12:54] #1568 closed

[2018-07-05 13:06] brancz commented on #1574
Ah I thought we are using the default port. Any idea why we are not? My understanding this should be `9094` instead of `6783`, no?

https://github.com/prometheus/alertmanager/blob/a736a90dd031b4d2b2ee277346c2573961232e9f/cmd/alertmanager/main.go#L129

[2018-07-05 13:16] jolson490 commented on #1571
Thanks very much @brancz  for the explanation/info.
fyi, to manage the [kube-prometheus](https://github.com/coreos/prometheus-operator/tree/master/contrib/kube-prometheus) stack I've resorted to creating my own deploy/teardown script (that does things before & after calling the [deploy](https://github.com/coreos/prometheus-operator/blob/v0.19.0/contrib/kube-prometheus/hack/cluster-monitoring/deplo

[2018-07-05 13:16] #1571 closed

[2018-07-05 14:02] #1555 closed

[2018-07-05 15:04] mxinden commented on #1169
Closing here. @dhain feel free to reopen if you have further questions.

@deltasquare4 Thanks a lot for your help!

[2018-07-05 15:04] #1169 closed

[2018-07-05 15:42] #1472 closed

[2018-07-06 01:18] argonmist commented on #1582
Thanks for the information, I've tried just restart Prometheus servers, but still got the bug, I'll try again if the new version released.

[2018-07-06 02:07] derekperkins commented on #1522
My kubelet monitoring is working properly, but the apiserver and kubedns are reporting the same errors as OP.

[2018-07-06 05:54] salman-hayder opened #1587 "I don't have google based cluster, I have just configured kubernetes based setup on single node, what should I give user ID? I am facing error exrea previlliges forbidden.."
**What did you do?**

**What did you expect to see?**

**What did you see instead? Under which circumstances?**

**Environment**

* Kubernetes version information:

	insert output of `kubectl version` here

* Kubernetes cluster kind:

	insert how you created your cluster: kops, bootkube, tectonic-installer, etc.

* Manifests:

[code]

* Prometheus Operator Logs:

[code]

[2018-07-06 06:20] brancz commented on #1587
Attempting to grant extra privileges has nothing to do with google or the user id. It means that the user you are performing the action with does not that all the privileges you attempting to grant. You will need cluster-admin access to do this as there are privileges involved that don’t exist in the cluster yet.

[2018-07-06 06:40] salman-hayder commented on #1587
how to get cluster infor and cluser users who has privileges?

[2018-07-06 06:45] brancz commented on #1587
how did you bootstrap your cluster?

[2018-07-06 06:53] salman-hayder commented on #1587
its bare metal installation using kubeadm

[2018-07-06 08:38] argonmist opened #1588 "Prometheus container CrashLoopBackOff when mounting NFS PV"
**What did you do?**
I create a NFS pv yaml:
[code]
and modify prometheus-prometheus.yaml:
[code]
**What did you expect to see?**

Prometheus pods mount the pv and running

**What did you see instead? Under which circumstances?**

kubectl get po -n monitoring
[code]

kubectl describe po prometheus-k8s-0 -n monitoring
[code]

kubectl get pv
[code]

kubectl get pvc -n monitoring
[code]

prometheus-k

[2018-07-06 09:10] mattcopas commented on #1470
@brancz Sorry for the delayed reply!

Prometheus manifest, from `kubectl -n monitoring get prometheus`:

[code]

And the service monitor in case that helps,  from `kubectl -n monitoring get servicemonitor spring-simple-rest-sm`:

[code]

[2018-07-06 09:33] argonmist commented on #1588
here's the log, but even prometheus pod running correctly, it still happened, so I don't post the log

kubectl logs prometheus-k8s-0 -n monitoring
[code]

[2018-07-06 09:34] brancz commented on #1588
There are multiple containers in the pod, you need to specify the container itself as well

[code]

[2018-07-06 09:38] brancz commented on #1587
Assuming you followed this guide: https://kubernetes.io/docs/setup/independent/create-cluster-kubeadm/#before-you-begin

Then your cluster admin configuration will be located at `/etc/kubernetes/admin.conf` on your node. Use that configuration and you should have cluster admin privileges.

[2018-07-06 09:49] argonmist commented on #1588
Here's the log

kubectl -n monitoring logs prometheus-k8s-0 -c prometheus
[code]

[2018-07-06 09:54] brancz commented on #1588
This is more of a Kubernetes problem then a Prometheus or Prometheus Operator problem. The NFS volume provider does not set the correct permissions on the NFS volume (which is something the kubelet does on most volume types, but NFS is unsupported in this manner). What you need to do is set the user and group ownership of the volume in advance and configure the Prometheus security context to use t

[2018-07-06 10:01] mattcopas commented on #1470
@brancz That got it!

I knew it'd be something silly on my end...

Thank you very much for all your help!

Closing issue

[2018-07-06 10:01] #1470 closed

[2018-07-06 10:03] StianOvrevage commented on #352
I added a `deployPrometheus` toggle to the helm chart. In the same process I tried adding/copying over the `remoteWrite` and `remoteRead` sections from `helm/prometheus/values.yaml` to `helm/kube-prometheus/values.yaml `and placed them under the `prometheus` object.

However when testing they did not show up in the Prometheus resource in K8s.

How does variables get propagated from `kube-prometheu

[2018-07-06 10:52] jalberto commented on #1565
I can think of a series of folders:
- foo (kube-prometheus)
- bar (kube-prometheus)

So on dos it's mention those folder are overwritten each time.

Another option is to use tags, with similar approach

[2018-07-06 11:29] brancz commented on #1565
I'm not exactly sure I understand, but if you can find a way that works for all users I'm happy with accepting that.

[2018-07-06 14:44] jalberto commented on #1565
So the idea will be dashbaord being provided by grafana provisioner like this:

[code]

That way only dashboards in that folder will be overwritten

[2018-07-06 15:24] brancz commented on #1565
If that works I’m more than happy with that approach.

[2018-07-06 15:41] aranair opened #1593 "Service Monitor - empty namespaceSelector (any: true) only uses default namespace"
**What did you do?**

I have pods running in default namespace AND custom namespaces.

Created a ServiceMonitor for all namespaces. (manifests below)

**What did you expect to see?**

Expected all of them to show up in Prometheus targets.

**What did you see instead? Under which circumstances?**

Only the ones in `default` namespace are showing up.

If i pin the `namespaceSelector` down, those tar

[2018-07-06 15:43] brancz commented on #1593
Could you share the configuration shown in /config of the Prometheus web UI?

[2018-07-06 15:49] aranair commented on #1593
ugh, you know what, I think it was the lag time between the service monitor update and the prometheus-config-reload. Apologies*200. I wish I rechecked before posting this heh. Closing.

[2018-07-06 15:49] #1593 closed

[2018-07-08 18:31] nabadger commented on #1472
@mxinden at the moment we're not hitting limit. I doubt we will, but I saw this as a regression since the previous version took care of this automatically.

[2018-07-08 23:01] VinceMD commented on #1572
ok I got it working. Well sort of. I could mount the CA inside the Alert manager. But Alert manager is still not happy. Maybe an issue with my company CA.
See https://groups.google.com/forum/#!msg/prometheus-users/OYJyteldQlc/7_tAFrHxAQAJ

Anyway the trick is to use `      insecure_skip_verify: true` under http_config.

[2018-07-08 23:01] #1572 closed

[2018-07-09 10:02] mxinden commented on #1574
@brancz No idea why we are running on `6783`. Don't think it matters, right? If you want I can change it so that we are uniform with upstream.

[2018-07-09 10:15] brancz commented on #1574
I believe this might have been the old gossip port. Yes let's make sure we're aligned with the upstream port(s).

[2018-07-09 12:35] bigbasket-minjar opened #1595 "Unable to update the alert rules"
**What did you do?**
I have added a new alert rule using custom-values.yaml and after that when tried to update the alert expression, its not reflecting in the prometheus-kube-prometheus-rulefiles  config map.

custom-values.yaml  - old settings

[code]

custom-values.yaml  - new  settings

[code]
This is the command I tried to upgrade the chart
`helm upgrade kube-prometheus coreos/kube-prometheus

[2018-07-09 14:58] kovszilard opened #1596 "Helm charts don't respect routePrefix config param"
**What did you do?**

Used `routePrefix` to add a prefix to Prometheus and Alert Manager urls

**What did you expect to see?**

Services are exposed with the correct url. Service monitors are still able to find the metrics endpoint.

**What did you see instead? Under which circumstances?**

* Prometheus service monitor endpoint was not adjusted to the correct url
* Alert Manager service monitor en

[2018-07-09 23:49] hobbsh commented on #1533
I am running the same prometheus-operator version (using helm to deploy) and am trying to update custom alertmanager rules but the old rules are somehow persisted in `prometheus-kube-prometheus-rulefiles`

Seems to be fixed by using chart `0.0.25` which runs v0.19.0 of prometheus-operator
[code]

I apologize if this is a separate issue - it seems related but I can create a new one if not.

[2018-07-10 03:29] jordanjennings opened #1599 "[kube-prometheus] Add more information on ksonnet to docs"
The current docs say:

Can some additional information be given around ksonnet? Is ksonnet a recommended approach? If so, can a ksonnet example be provided? If vanilla jsonnet is recommended instead can that be specifically called out?

I think a standard setup would have at least a non-prod and prod cluster that would want to share manifests, I assume that's where ksonnet comes in? An example of

[2018-07-10 10:19] salman-hayder opened #1600 "Node-Exporter Issue"
Unable to get nods data in grafana, confused because of daemon set...
Why nodes data is not showing in grafana?

[2018-07-10 14:57] r0bj opened #1602 "update to v0.22.0: Forbidden: updates to statefulset spec for fields other than 'replicas', 'template', and 'updateStrategy' are forbidden."
**What did you do?**

Update prometheus-operator version from 0.21.0 to 0.22.0.

**What did you expect to see?**

prometheus-operator works and doesn't log errors

**What did you see instead? Under which circumstances?**

prometheus-operator log errors after update:
[code]
[...]
[code]

**Environment**

* Kubernetes version information:

[code]

* Kubernetes cluster kind:

K8s cluster build in-hou

[2018-07-10 15:07] rmartinez3 commented on #1602
What is the current pvc and pv you have in the namespace monitoring?

[2018-07-10 15:23] r0bj commented on #1602
PVC:
[code]
PV:
[code]

[2018-07-10 15:35] rmartinez3 commented on #1602
Before update 0.22.0 operator will set the pvc names . Recent changes allows you to set the pvc name yourself.
When setting

`volumeClaimTemplate:
      metadata:
        name: prometheus-k8s-data
`

However since they are statefulsets upgrading is not possible without a migration step of deleting statefulset and allowing the new statefulset to be deployed. Let me replicate change of pvc for state

[2018-07-10 16:10] rmartinez3 commented on #1602
In order to change pvc name had to delete statefulset name. Something probably should be noted if people want to migrate name for pvc. However I don't see the need unless people are using gluster. Were you able to upgrade to  0.22.0 operator when removing `metadata: name: prometheus-k8s-data ` section ?

[2018-07-11 01:33] johnzheng1975 commented on #1502
Same issue for me.
Version:
0.9.1

[2018-07-11 02:16] fumanne opened #1604 "metricRelabelings in ServiceMonitor"
I have some  k8S cluster (mon, foundation.....), every k8s cluster have installed prometheus, now the mon cluster is the Top cluster and it federate from other cluster metics, the mon cluster prometheus servicemonitor looks like this:
[code]
and the prometheus web console look like this:
![11111](https://user-images.githubusercontent.com/5414434/42547133-2851ac7c-84f3-11e8-9a79-e64a23dbd516.png)

[2018-07-11 09:41] brancz commented on #1604
You can use the `targetLabels` field for this. See here: https://github.com/coreos/prometheus-operator/blob/master/Documentation/api.md#servicemonitorspec

[2018-07-11 10:03] fumanne commented on #1604
@brancz
you mean config like this:
[code]
now I add
[code]
but it still not work.

[2018-07-11 11:44] Blasterdick commented on #1595
Same thing on `prometheus-operator` v0.22.0 (w/o helm). Changes to the configmap don't reflect to `prometheus-prometheus-server-rulefiles-0` configmap.

Any change gets provisioned only if I delete an appropriate `prometheusrule`.

[2018-07-11 13:09] brancz commented on #1604
Metric relabeling is something that happens at ingestion time, not at discovery, so you can drop that part. Could you share the generated config again?

[2018-07-11 13:11] brancz commented on #1595
Starting with v0.21 the configmaps are created through prometheusrule objects so those are the objects you want to update when you want to change rules.

[2018-07-11 13:23] Blasterdick commented on #1595
Oh, so I have to get every `prometheusrule` to `yaml` and work with that resource. Copy that, thank you, @brancz , now everything seems to work as expected.

[2018-07-11 14:24] mmerrill3 opened #1606 "Need to use secrets in the same namespace as the service monitor for BasicAuth on endpoints"
**What did you do?**
I created a service monitor resource in a namespace that was different than the namespace where prometheus operator was running in.  This service monitor has a basic authorization section in it, where the username and password are defined by using a secret location selector.
**What did you expect to see?**
I expected prometheus operator to see the secret in the same namespace

[2018-07-11 14:25] mmerrill3 commented on #1606
not sure if this is by design, but just wanted to let the coreos team know about our use case.  I can happily provide a pr to address this.

[2018-07-11 14:27] therealgambo opened #1607 "prometheus-operator fails if PrometheusRule CRD already exists"
**What did you do?**
Using tag: `v0.22.0`

Delete all configurations from kubernetes that were created from the `contrib/kube-prometheus/manifests` directory except for `0prometheus-operator-0prometheusCustomResourceDefinition.yaml`

We leave the the `PrometheusRule` CRD installed, because we have rules in other namespaces, deleting the CRD removes those configurations

**What did you expect to se

[2018-07-11 15:54] brancz commented on #1606
Hi. Yes this is indeed something we should fix, and there has already been an attempt at fixing this here: https://github.com/coreos/prometheus-operator/pull/1550. Unfortunately the effort was dropped, but if anyone wants to pick it back up, that would be highly appreciated!

[2018-07-11 21:45] rmartinez3 commented on #1357
#1538 allows you to modify the pvc name. Which will then allow to set a short name so gluster can create a pvc for you.

[code]

Note that if upgrading have to delete statefulset first since statefulset does not allow you to upgrade and change pvc fields.

[2018-07-11 22:09] jolson490 opened #1609 "deleting kube-prometheus yields errors (v0.22.0)"
(This is kind of related to previous issue #1571 - for which the resolution was to run `kubectl create -f manifests/` twice.)

To summarize the commands below, I found that when I delete kube-prometheus then errors are printed - are the errors benign? If so, then perhaps I should just simply change the command to `kubectl delete -f manifests/ | true` (to ignore/suppress the errors - i.e. for the c

[2018-07-12 04:59] fumanne commented on #1604
@brancz
oh... I understand why... because I install prometheus with helm, in  the helm template, there is no targetLabels configure in  the servicemonitors.yaml. now I have modify it
like this:
[code]
Then it works .. Thanks @brancz

[2018-07-12 06:43] brancz commented on #1357
Thanks a lot for taking care of this @rmartinez3! I'll close this now as the problem has been solved thanks to your contribution! :tada:

[2018-07-12 06:43] #1357 closed

[2018-07-12 06:46] brancz commented on #1609
Do the objects actually still exist? The custom resources are cleaned up just by deleting the CRDs, still curious why things like the the `ServiceAccount`s got those errors.

[2018-07-12 07:09] brancz commented on #1604
@gianrubio maintains the helm charts, but if you like we would highly appreciate if you could contribute this! :slightly_smiling_face:

[2018-07-12 07:09] vielktus commented on #1595
Sorry, I still don't get how to change the rules using new this new CRD. Could you please show me how to do this ? Where should I edit in the Helm when I want to insert new rules ?

[2018-07-12 07:12] brancz commented on #1595
@vielktus could you first check which version of the Operator you are running? I believe the helm charts have not been updated yet to use versions that use that CRD.

[2018-07-12 07:33] brancz commented on #1595
hmm ok, so ideally the helm charts would just adopt the CRDs (they are community maintained and sometimes lag behind a little). Until then you can modify them by just running

[code]

And you can find rules in a namespace by

[code]

[2018-07-12 08:30] fumanne commented on #1604
@brancz
OK... I have make a pr for it.  [https://github.com/coreos/prometheus-operator/pull/1611](url)

[2018-07-12 08:47] jpds commented on #256
There's now a helm chart at https://github.com/kubernetes/charts/tree/master/stable/prometheus-blackbox-exporter

[2018-07-12 09:03] vielktus commented on #1595
Thanks @brancz

[2018-07-12 11:19] r0bj commented on #1602
Thanks @rmartinez3, after removing `metadata: name: prometheus-k8s-data` section, prometheus-operator upgrade works as expected.

[2018-07-12 11:39] brancz commented on #1602
In that case we can close this, right?

[2018-07-12 11:45] #1602 closed

[2018-07-12 12:01] romansky commented on #1604
@brancz for simple things like app version labels, according to your methodology, this information should reside on the service? (since there is no way to get a label from the pod, it seems)

[2018-07-12 12:03] brancz commented on #1604
I think having targetlabels coming from pods is valid as well. I don’t think that’s something that is supported today, but is feasible to be added.

[2018-07-12 12:09] romansky commented on #1604
targetLabels would be awesome, is there already a PR or ongoing work?
Trying to understand how people are handle simple monitoring meta-data like versioning today.
This information could reside on the service, and this may be simple enough for version label, but then it gets complicated if I want to have a feature flag label (these get propagated into env for usage), for example.

[2018-07-12 13:05] brancz commented on #1604
Yeah I think pods labels are definitely possible candidates to identify a target. I don’t know of any work in progress, if you like we are always very happy about contributions! :)

[2018-07-12 13:15] romansky commented on #1604
I'm not familiar with Go, otherwise would give it a go ;)

[2018-07-12 18:22] tomsherrod opened #1612 "kube-rbac-proxy address already in use"
**What did you do?**
Quick start with kube-prometheus

**What did you expect to see?**
running pods in monitoring namespace
Grafana is fine and metrics from master is fine. Pulling values from prometheus dashboard works.

**What did you see instead? Under which circumstances?**
node-exporter-d7mxn                    1/2       CrashLoopBackOff   219        19h
node-exporter-jzvnw

[2018-07-12 18:25] lli-hiya opened #1613 "The helm charts do not allow service port configuration"
**What did you do?**
We’d like to use Prometheus Operator in our company's environment.. We expose apps outside the cluster via Kubernetes Services using annotations for ELB integration and external-dns for Route53 integration. We do not use Ingresses at this moment. This means that we need to be able to set the Services’ ports to expected http(s) standards (80 and 443).

The problem is that the H

[2018-07-12 19:06] openJT commented on #1613
You just need to setup your service like this:

apiVersion: v1
kind: Service
metadata:
  labels:
    app: kube-prometheus-grafana-external
  name: kube-prometheus-grafana-external
  namespace: monitoring
  annotations:
      "service.beta.kubernetes.io/aws-load-balancer-ssl-cert": "arn:xxx"
      "service.beta.kubernetes.io/aws-load-balancer-ssl-ports": "443"
      "service.beta.kubernetes.io/aws-

[2018-07-12 20:52] lli-hiya commented on #1613
@openJT Thanks for your reply, and this is a functional workaround for the problem. But I think creating a PR for this problem can still benefit the community in the long run.

[2018-07-13 04:08] fumanne opened #1614 "how to use labels parameter in /bin/operator"
**What did you do?**
use -labels option  with /bin/operator

**What did you expect to see?**
add customs labels into labels

**Environment**
prometheus-operator version: v0.18.0
kubernetes: v1.9

* Kubernetes version information:

Client Version: version.Info{Major:"1", Minor:"9", GitVersion:"v1.9.3", GitCommit:"d2835416544f298c919e2ead3be3d0864b52323b", GitTreeState:"clean", BuildDate:"2018-02-07

[2018-07-13 09:00] manuprometheus commented on #1551
Hi,
Please let me know where can I change the  Prometheus scraping ur?

[2018-07-13 09:36] mxinden commented on #1612
Node exporter is running is in host networking. Thereby it binds to a port (`9100`) directly on your nodes interfaces. Can you make sure no other application is already set to that port on your node?

You could:

1. ssh into a node
2. run `netstat -l`

Feel free to post the output here so we can further debug your issue.

[2018-07-13 09:39] mxinden commented on #1614
Can you post the output of `kubectl get pod -oyaml -n <your-namespace> <prometheus-operator-pod-name>` here?

[2018-07-13 11:50] manuprometheus commented on #1551
Actually I have created the metrics in the Prometheus exposition format. and it is in  actuator/prometheus.
So I need to change the  Prometheus scraping url.

[2018-07-13 12:04] fumanne commented on #1614
@mxinden
[code]

[2018-07-13 13:39] manuprometheus commented on #1551
Hi, I found that. Please ignore. Now my issue is when I curl the metrics inside the pod using localhost, it is showing the result. But when checking using the cluster IP, it is not showing any result and the Prometheus  target is checking the path http://clusterip/mycustommetricspath. and showing down status.Can anyone help me?

[2018-07-13 14:21] brancz commented on #1551
This sounds like your application is not listening on all network interfaces and instead just listens on localhost. You should change it to listen on `0.0.0.0`.

As this is not a Prometheus Operator issue I will close this issue, but feel free to continue to comment or if you think you found a problem with the Prometheus Operator then feel free to open a new issue.

[2018-07-13 14:21] #1551 closed

[2018-07-13 14:56] brancz commented on #1612
I think this is because two node-exporter pods are attempting to bind to the same hostport. I seem to recall there is some undocumented feature for the daemonset that enforces that a pod _must_ be terminated before a new one is rolled out.

[2018-07-13 15:30] brancz commented on #1612
@tomsherrod could you try setting `terminationGracePeriodSeconds: 0` in the daemonset's pod template?

[2018-07-13 15:40] jalberto opened #1615 "Not working after deleting/recreating kube-prometheus pod"
**What did you do?**
I had a working prometheus-operator + kube-prometheus (using helm in AKS). I deleted `prometheus-kube-prometheus-0` pod (trying to force config reload because new service monitor).
After pod is recreated I get this logs:

[code]

**What did you expect to see?**
A working prometheus

**What did you see instead? Under which circumstances?**
Error logs

[2018-07-13 16:00] jalberto commented on #1615
by some kind of dark-magic, it did back to normal ~43mins later

[2018-07-13 16:59] tomsherrod commented on #1612
@mxinden
netstat -tulpn
Active Internet connections (only servers)
Proto Recv-Q Send-Q Local Address           Foreign Address         State       PID/Program name
tcp        0      0 0.0.0.0:22              0.0.0.0:*               LISTEN      1236/sshd
tcp        0      0 0.0.0.0:53848           0.0.0.0:*               LISTEN      18706/rpc.statd
tcp        0      0 127.0.0.1:44325         0.0.0.

[2018-07-13 19:30] tomsherrod commented on #1612
@brancz No joy. Even after the change, they fall back into the CrashLoopBackOff.

[2018-07-14 09:40] ozbillwang opened #1617 "[helm/kuber-prometheus] Can't control nodeSelector for all services"
**What did you do?**

I need use helm to deploy prometheus operator and kube-prometheus and nominate nodeSelector (for example, function=monitoring).

Since there are more dependency services under `kuber-prometheus` (https://github.com/coreos/prometheus-operator/blob/master/helm/kube-prometheus/requirements.yaml), the key `nodeSelector` are not set for all within default values.yaml

**What did y

[2018-07-14 10:07] ozbillwang commented on #1617
Maybe the exporter-nodes should be run in all workers.

[2018-07-14 11:20] ozbillwang opened #1618 "[helm/grafana] admin secrets"
**What did you do?**

deploy kube-prometheus, it will deploy its own grafana chart as well.

**What did you expect to see?**

I'd like the admin password auto-generated, not hard code to `admin`

Or get secrets from kubernetes secrets

**What did you see instead? Under which circumstances?**

hard code password `admin` every time, when deploy a new prometheus stack.

**Environment**

helm v2.9.1 k

[2018-07-15 20:20] ohmanandam opened #1620 "Adding new Service Monitor to Prometheus, cannot validate certificate"
**What did you do?**
I have downloaded the prometheus operator repo locally and deployed the promethes operator and kube prometheus via helm

$ helm install prometheus-operator --name prometheus-operator --namespace monitoring
$ helm install kube-prometheus --name kube-prometheus --set global.rbacEnable=true --namespace monitoring

I need to add few endpoints in the same/different namespaces, howe

[2018-07-15 21:50] ohmanandam commented on #1620
An earlier issue is helping to get closer to resolving this
https://github.com/coreos/prometheus-operator/issues/1470

[2018-07-16 03:03] ohmanandam commented on #1620
After following issue #1470 and adding the label to contain prometheus: kube-prometheus, my scape end point in picked up as Prometheus target. However I am running into the below issue

Get https://172.17.0.7:9998/metrics: x509: cannot validate certificate for 172.17.0.7 because it doesn't contain any IP SANs

I may need to add tls_config insecure_skip_verify as true to bypass the above issue, i t

[2018-07-16 04:14] #1479 closed

[2018-07-16 06:10] ohmanandam commented on #1620
https://github.com/coreos/prometheus-operator/blob/master/contrib/kube-prometheus/docs/monitoring-external-etcd.md

I needed to use in my ServiceMonitor
tlsConfig:
      insecureSkipVerify: true

Thanks Prometheus Operator team, amazing work with the prometheus and k8s config!

[2018-07-16 06:10] #1620 closed

[2018-07-16 06:49] manuprometheus opened #1621 "How Can I setup ServiceMonitor if applications are routing through a API gateway."
**What did you do?**
I have may applications on Kuberentes and they are routed through a API Gateway.
**What did you expect to see?**
I have need to add service monitor for my application,but since they are routed through API Gateway,I have to setup service monitor for that routing app.
**What did you see instead? Under which circumstances?**
So,when my application is deleted,the alert came as the

[2018-07-16 10:51] kovszilard commented on #1522
Related issue: https://github.com/Azure/acs-engine/issues/3479

[2018-07-16 11:35] mxinden commented on #1614
@fumanne Instead of `- --labels key1=val1` can you try `- --labels=key1=val1`?

In case you want to define multiple labels: `- --labels=key1=val1,key2=val2`.

[2018-07-16 11:52] mxinden commented on #1620
@ohmanandam Thanks for documenting your solution path here!

[2018-07-16 14:08] mxinden commented on #1615
Do I understand correctly, that you restarted the Prometheus Operator in order for it to discover a new ServiceMonitor?

The Prometheus Operator watches ServiceMonitors by default and should notice any new ones. Did this not work for you previously?

[2018-07-16 14:35] jalberto commented on #1615
@mxinden you understood correctly, after a while new SM was not showing up in prometheus, so I "recreated" it, it did work.

I am more worried about that ~45mins waiting for prometheus to work again

[2018-07-16 17:57] directionless opened #1623 "Scrape kubelets through the apiserver"
**What did you do?**

Deployed prometheus-operator, on GKE, using kube-prometheus

**What did you expect to see?**

Metrics.

**What did you see instead? Under which circumstances?**

401 scrape errors on all the kubelet metrics

**Environment**

* Kubernetes version information:

[code]

* Kubernetes cluster kind:  GKE

# Discussion

Pulling the /metrics and /metrics/cadvisor from the nodes seems

[2018-07-16 18:45] directionless commented on #1623
I can workaround this by downgrading the kubelet scrape from https, to http (as discussed in https://github.com/coreos/prometheus-operator/issues/926) but that seems undesirable. Moving the target to the apiserver seems like a better approach.

[2018-07-16 19:00] jolson490 commented on #1609
I verified (for a subset of the objects) that after running the `delete` that they no longer exist (more details below).
So maybe the only thing here is to do `| true`? In which case this issue could be closed (if there's nothing in kube-prometheus that needs to be fixed).

--------

After the `create `...:
[code]

and same commands after the `delete `:
[code]

[2018-07-16 19:03] brancz commented on #1623
I disagree. This has scalability and correctness issue, as it introduces an additional indirection. I have already thoroughly discussed this with the GKE team and the token authentication and authorization is going to ship with v1.11 of GKE (I'm not exactly sure which version of GKE 1.11, but it's coming).

[2018-07-16 19:05] brancz commented on #1609
That sounds fantastic, would you like to create a PR and add what you would have expected :slightly_smiling_face: ?

[2018-07-16 19:09] brancz commented on #1621
This sounds like you are not performing whitebox monitoring. Could you elaborate on what your architecture looks like? Generally the recommendation is to have the Prometheus server as close to the target as possible with as little indirections inbetween as possible. Ideally there is no proxy or anything in between the target and Prometheus and Prometheus directly requests the target's IP.

[2018-07-16 20:12] directionless commented on #1623
@brancz Oh. You've already discussed this, and the current token auth/authz approach should start working soon? That seems awesome!

Is the take away that the http downgrade is the best short term mitigation, until that lands?

[2018-07-17 04:18] manuprometheus commented on #1621
Hi brancz,
We are using Kong API Gateway as a  middleware for our  API-based applications. Could you please share me a useful link for configuring  Whitebox monitoring in this Prometheus setup.

[2018-07-17 05:41] brancz commented on #1623
Yes I would recommend that until GKE gives you token authentication and authorization.

[2018-07-17 06:50] #1523 closed

[2018-07-17 06:58] staff0rd commented on #926
Also applies to AKS, I switched the ServiceMonitor to http as workaround.

[2018-07-17 08:31] vsliouniaev commented on #1576
Fixed

[2018-07-17 08:35] gianrubio commented on #1576
The CI is flaky so the helm charts didn't synced to s3. Let's keep this issue open until we make sure they were updated on s3.

[2018-07-17 14:42] gianrubio commented on #1618
thanks for your feedback @ozbillwang.
I'm closing this issue because it's duplicate of https://github.com/coreos/prometheus-operator/issues/592#issuecomment-346468179

[2018-07-17 14:42] #1618 closed

[2018-07-17 14:49] gianrubio commented on #1617
I'd rather recomend you to [use affinity](https://raw.githubusercontent.com/kubernetes/website/master/content/en/examples/pods/pod-with-node-affinity.yaml) to select node. However not all the chart has support for either nodeSelector and affinity. If you are interested to contribute to the projec [read the guide](https://github.com/coreos/prometheus-operator/tree/master/helm#how-to-contribue) and

[2018-07-17 14:52] gianrubio commented on #1615
This means your apiServer was down or not reachable from prometheus-operator, did you see any issue on the apiserver pod?

[2018-07-17 14:55] gianrubio commented on #1576
The charts were synced to s3 🎉

[2018-07-17 14:55] #1576 closed

[2018-07-17 15:23] jalberto commented on #1615
no, everything else was working. Notice this is an AKS so masters are managed by azure

[2018-07-17 16:26] vsliouniaev commented on #1578
Could you not provide the value to the value to the `prometheus` chart through the `kube-prometheus` chart or am I misunderstanding something?

[code]

[2018-07-17 19:39] jolson490 opened #1629 "kube-prometheus and etcd-mixin - on minikube"
(By the way, all the jsonnet stuff recently added to kube-prometheus is super cool.)

There's some things about kube-prometheus & etcd that I'm hoping someone can please help me understand...

`#1)` Now that we have [Static etcd configuration](https://github.com/coreos/prometheus-operator/tree/master/contrib/kube-prometheus#static-etcd-configuration) (& [etcd.jsonnet](https://github.com/coreos/pro

[2018-07-17 19:58] jolson490 commented on #1609
If I were going to make such a change, then the snippet after the line below is what I'd change this part of the `README.md` to.

But I feel that would be a band-aid at best. Is anyone else at least occasionally encountering this #1609 issue and/or #1571 ? Instead of making the documentation update shown below, I'd of course prefer the steps be fixed so they always work (though I don't have any id

[2018-07-17 20:25] jolson490 opened #1631 "kube-prometheus: KubeClientErrors prom rule firing"
Hello,

When I use [v0.22.0](v0.22.0) of kube-prometheus out-of-the-box (without making any modifications of my own), two instances of the `KubeClientErrors` prom rule are firing (more details below); here's snippets from alertmanager (`http://192.168.99.100:30903/#/alerts`):
 * `Kubernetes API server client 'kubelet/10.0.2.15:10250' is experiencing 3% errors.`
 * `Kubernetes API server client 'ap

[2018-07-18 07:08] brancz commented on #1631
24% errors is very high, that means a quarter of all requests the apiserver does are errors, you can check the metric for the apiserver without the aggregations to see which endpoints it's hitting that it's getting all these errors from. Similarly you can do the same with the kubelet.

I assume you are not worried about overcommitting your minikube, so yes they can safely be ignored.

[2018-07-18 07:12] brancz commented on #1609
I think we're expecting too much from kubectl here. It's not a configuration management tool, it is simply a tool to interact with the Kubernetes API on a simple basis. It doesn't solve all problem and it shouldn't, this is a more complex rollout problem, which kubectl is just not made for.

[2018-07-18 07:20] StianOvrevage commented on #1578
@vsliouniaev I'm not sure. Does Helm propagate values to sub-charts like that? I thought all variables had to be re-defined in the top-level chart to be able to set them for dependent charts.

[2018-07-18 07:36] vsliouniaev commented on #1578
It does, I've used this extensively

[2018-07-18 07:43] brancz commented on #1629
1) Yes I think you're absolutely right, we should have one documentation page and it should be folded into the jsonnet documentation, as you proposed.

2)  a) Yes if prometheus isn't showing the target, it's not attempting to scrape it.

b) No the certificates in the kubeconfig are not the ones to access etcd, you need to check the apiserver container.

c) The certificates (`etcd/ca.crt`, `apiserv

[2018-07-18 10:22] StianOvrevage commented on #1578
Somehow I missed that completely. I've got it working now! I guess this issue and the PR can be closed as at least our problems are solved by this.

[2018-07-18 10:43] #1578 closed

[2018-07-18 11:47] jolson490 commented on #1609
Totally agree, thanks Frederic. I imagine a solution would involve more than tweaking the two kubectl commands.
Unless I hear otherwise from you, I'll plan on submitting a PR to make the aforementioned README.md change when I get a chance. And maybe eventually some sort of code change can be made to kube-prometheus so it gets deployed & torn-down every time without a hitch (the issues I've encount

[2018-07-18 11:57] jolson490 commented on #1629
Thank you so much Frederic for the detailed and helpful info - all of that sounds great.

(I'm currently working on stepping up from [v0.19.0](https://github.com/coreos/prometheus-operator/releases/tag/v0.19.0) to [v0.22.0](https://github.com/coreos/prometheus-operator/releases/tag/v0.22.0). I've never gotten kube-prometheus to monitor etcd in minikube (and it's not a requirement for me) - I just

[2018-07-18 12:02] vidhy opened #1635 "Grafana - Adding New dashboard not working as expected."
**What did you do?**
Installed prometheus-operator and kube-prometheus and grafana with helm.
Created a configmap with new portworx_dashboard.json.
Added the configMap name to serverDashboardConfigmaps key of the grafana config.

**What did you expect to see?**
Portworx Dashboard on the grafana UI.

**What did you see instead? Under which circumstances?**
All other default dashboards are available

[2018-07-18 12:33] ekarlso opened #1636 "No metrics for given ServiceMonitor in different namespace"
**What did you do?**
I have a go service labeled **app=metrics-test** in the **default** kubernetes namespace and I want to scrape metrics off of :50030/metrics from it

I have created the Operator in the **infra-monitoring** namespace and my prometheus instance in the same namespace. The definition for prom is:

**What did you expect to see?**
Metrics present in Prometheus from the ServiceMonitor

[2018-07-18 14:58] airwolfnh commented on #1523
This seems to be working now for alerts, but dashboards are still not being updated.

[2018-07-18 15:42] aleerizw commented on #1635
@vidhy can you share the dashboard json?

[2018-07-18 15:57] vidhy commented on #1635
[code]

[2018-07-18 16:49] necevil commented on #1514
Was having this issue also on AKS — until I upgraded my cluster.

**_kubectl get pods -n monitoring_**

[code]

**_kubectl get pods -n monitoring_**

[code]

Install Successful After Cluster Upgrade
--------------------
Per the user comments over here https://github.com/Azure/AKS/issues/455#issuecomment-405198324 a Cluster upgrade to v1.10.5 via the Azure AKS upgrade docs (https://docs.microsoft.c

[2018-07-18 17:10] gianrubio commented on #1514
Thanks for your feedback @necevil. I'm gonna close this issue since it's not related to this project

[2018-07-18 17:10] #1514 closed

[2018-07-18 17:11] vidhy opened #1637 "Grafana dashboards not getting persisted."
**What did you do?**
Installed prometheus operator and kube prometheus using helm.
Configured storagespec for grafana. (To persist grafana data)

**What did you expect to see?**
Expect the dashboards created on grafana UI to  persist even after pod restart.

**What did you see instead? Under which circumstances?**
Grafana dashboards are not persisted

**Environment**

* Kubernetes version informat

[2018-07-18 18:28] jolson490 commented on #1631
Thanks @brancz  for helping me look into this.

In my minikube I did `journalctl -u kubelet` and found a bunch of errors about `registry-creds` - then I disabled that minikube addon, re-started minikube and deployed kube-prometheus again - but `KubeClientErrors` still fires (but at least `KubePodNotReady` no longer fires).

Has anyone else experienced this `KubeClientErrors` rule firing? (I Google

[2018-07-19 02:05] fumanne commented on #1636
may be you should use portname instead of port number. other you may be use namespaceSelector in servicemonitor

[2018-07-19 02:09] fumanne commented on #1637
if you use helm, when you modify helm/grafana, you should use helm dependency update for kube-prometheus. Cloud you send grafana deployment configure in kubernetes?

[2018-07-19 02:14] fumanne commented on #1635
one question:  do you add new dashboard json file in  helm/grafana/dashboard directory?
if yes. your dashboard name must same with title which in the json content (without "-").

[2018-07-19 06:05] brancz commented on #1609
That sounds good to me, we drop in a note as well that says why that’s there.

[2018-07-19 06:09] brancz commented on #1629
That sounds fantastic, thank you so much for your involvement!

[2018-07-19 06:57] vidhy commented on #1635
@fumanne  No i didnot add the dashoard json in that path. I am creating a Configmap and giving that configMap name in **serverDashboardConfigmaps** of grafana config.

[2018-07-19 07:35] brancz commented on #1636
The `serviceMonitorNamespaceSelector` uses the upstream label selector, so matching can only happen based on labels. If you want to match all namespace you can set it to `serviceMonitorNamespaceSelector: {}`.

[2018-07-19 11:13] aleerizw commented on #1635
@vidhy Can you see if this solves your issue? https://github.com/coreos/prometheus-operator/issues/1458#issuecomment-396927925

[2018-07-19 11:36] patyatawee commented on #1637
Try
[code]
Result
[code]
Try
[code]
throw error "Can't get persistentvolumeclaim"
[code]

[2018-07-19 13:02] lilic opened #1641 "Add support docs for Cortex"
It would be good to have some documentation on how to use [Cortex](https://github.com/weaveworks/cortex) with the prometheus-operator.

From what I understand all it would take is to add documention on how to configure the `RemoteWrite` feature in the prometheus-operator to point to an instance of [Cortex](https://github.com/weaveworks/cortex) (or for example [Weave Cloud](https://cloud.weave.work

[2018-07-19 13:22] brancz commented on #1641
A lot of people have asked for `RemoteRead` and `RemoteWrite` documentation so I think this could be a nice example. I think we should primarily make this about `RemoteRead` and `RemoteWrite`, but I'm fine with having something along the lines of "You will need a service that accepts the `RemoteRead`/`RemoteWrite` interface, see the [official Prometheus documentation on services that support `Remo

[2018-07-19 15:39] kevtaylor opened #1643 "Inconsistent job labels between prometheus-operator and exporter rules"
**What did you do?**
Installed all helm charts

**What did you expect to see?**
The rules for exporter-kube-controller to be consistent in the prometheus operator configmap

**What did you see instead? Under which circumstances?**
An inconsistent naming convention of the job

**Environment**
AWS / Coreos 1745.7.0

* Kubernetes version information:

	insert output of `kubectl version` here
Client V

[2018-07-19 15:45] vidhy commented on #1637
@fumanne  I am not making any changes to helm grafana config at all. I create a configMap seperately and reference that configMap name in the helm grafana config (while installing the kube prometheus)

[2018-07-19 17:07] allisonking opened #1644 "How to use console templates?"
**What did you do?**
I'd like to try out [console templates](https://prometheus.io/docs/visualization/consoles/). I have a prometheus instance running but I get an error at the path `/consoles/index.html.example`. I described the error here https://github.com/coreos/prometheus-operator/issues/1460 which hopefully is not a hard fix. However, I am wondering what the right way to add my own console t

[2018-07-19 18:20] lli-hiya opened #1645 "Error seen when override `.Values.prometheusLabelValue` in helm chart"
**What did you do?**
I am using the code from `release-0.22`, and after I deployed Prometheus-Operator and Prometheus using the provided **Helm chart**, everything's working well and I can see this tag: `Promethus: <Helm-Release-Name>` appears in all of the following resource definitions: Prometheus (CRD), prometheus Service, prometheus StatefulSet and prometheus Pod.

However, If I override the `

[2018-07-19 18:25] allen13 opened #1646 "prometheus-config-reloader can't hit localhost"
**prometheus-config-reloader can't hit localhost**

For some strange reason just the prometheus-config-reloader pod resolves localhost to the wrong ip (not 127.0.0.1).  I assumed this was a problem with my underlying openshift cluster however the other two pods in the statefulset can reload the server just fine (I ran a curl from the prometheus pod). I manually changed the statefulset --reload-url

[2018-07-20 03:42] manuprometheus commented on #1621
Hi, Please close this issue, It is fixed :)

[2018-07-20 03:57] manuprometheus opened #1648 "Target is disappearing,when deployment is deleted."
**What did you do?**
Created servicemonitor and serviceaccount for an application. All are listed in Prometheus target and was working fine. But now when I delete the application the target is not showing the status down and the same target is disappearing from the Prometheus target. Please let me know How can I trouble shoot the issue
**What did you expect to see?**
Need to show the target down i

[2018-07-20 04:55] fumanne commented on #1614
@mxinden oh......
Thank you  very very much!!! it works..

[2018-07-20 05:55] manuprometheus commented on #1648
Please let me know which pods logs should I check.

[2018-07-20 06:12] fumanne commented on #1635
@vidhy   i think  "title": "Portworx Volume Status"  need be same as Portworx_volume_template.json filename , replace "_" with space

[2018-07-20 06:19] #1621 closed

[2018-07-20 06:49] brancz commented on #1644
You're absolutely right. Would you like to submit a PR to fix this?

[2018-07-20 06:59] brancz commented on #1648
This is the correct behavior. When targets disappear from discovery, they simply disappear. What you can do to alert on something like targets unexpectedly disappearing from discovery, is you can use the `absent` function and do something like:

[code]

That query would alert you if either all targets are down or all of them have disappeared from target discovery.

As this is not an issue with Pro

[2018-07-20 06:59] #1648 closed

[2018-07-20 07:00] #1614 closed

[2018-07-20 07:14] manuprometheus commented on #1648
Sorry, I think you misunderstood my question.  I will explain it briefly. When my pod is running, then the service discovery will fetch it and shows the correct Target label. also the metrics are fetched on the target and shows the status "up". But when I delete the pod  for testing, then the target is disappearing from the target section instead of showing "down" status. And in Service Discovery,

[2018-07-20 07:20] manuprometheus commented on #1648
The same is happening for all the target including "kube-state-metrics","kubelet" etc..

[2018-07-20 07:23] brancz commented on #1648
Could you share a screenshot of this? I think you may just be looking at those service discovery entries that are intended to drop that target.

If you delete a Pod, it disappears from the targets, that is the correct behavior. How is Prometheus supposed to know whether you are doing a rolling deployment or you are deleteing Pods? It just sees targets. If targets don't respond, they are down, but

[2018-07-20 07:33] brancz commented on #1646
The config reloader is mainly an implementation detail, ideally we wouldn't need to do a request at all, I hope that Kubernetes stabilizes sharing PID namespace, so that the reloader can just send a SIGHUP signal to the Prometheus process. So I don't think we should make this configurable in the Prometheus object, but given that we have seen these problems a number of times I think it's fair to ha

[2018-07-20 07:46] manuprometheus commented on #1648
Hi, Sorry, I missed to inform one point. When the target is down, the endpoint should normally show "down" status. But in this case, the end point itself is disappeared from the prometheus target UI. Please refer the screenshots attached below for my service "admin-backend". In the first two images, you can see the service as "up" in the target and target label for "admin-backend" is shown in the

[2018-07-20 07:54] brancz commented on #1648
Yes that is the correct behavior. It will only show down if there is a Pod and the Pod is not answering, or answering with anything but HTTP 200. Deleting a Pod does not mean it's down, it means you removed it, and therefore Prometheus target discovery will remove it from the list of targets.

[2018-07-20 08:08] manuprometheus commented on #1648
But earlier, when I deleted a pod, then the Target showed the status down. That's why I got confused.

[2018-07-20 08:08] kevtaylor commented on #1643
Bit more detail:
These are the configmaps created
[code]

And the servicemonitors
[code]
The labels from the controller
[code]
And the controller config map
[code]
And the full definition from the operator
[code]

[2018-07-20 08:16] brancz commented on #1648
Target discovery with Kubernetes is an eventually consistent system, it may take up to 10 minutes for it to be consistent with the real world picture, that's why you should use the `for` statement in alerting rules.

[2018-07-20 09:14] ekarlso commented on #1636
Hi, you where right, I had to do {} both for the namespace selector and the sm selector itself. I'll go ahead and close this :)

[2018-07-20 09:14] #1636 closed

[2018-07-20 10:31] embano1 commented on #501
For those interested and related to this issue: did some benchmarking when CFS quota is not aligned with GOMAXPROCS. Details here: https://github.com/uber-go/automaxprocs/issues/12

Before this gets into the wrong direction: these benchmarks show that there can be a potential performance impact. But as always, it's focused and synthetic benchmarks. Stress testing against prometheus has to be done

[2018-07-20 11:35] mxinden commented on #1614
@fumanne cool. Let us know if you hit any further issues.

[2018-07-20 11:39] brancz commented on #1646
That won't work in IPv6 only setups anymore. I realize that that's relatively scarce right now, but we've had reports of IPv6 only users (in other regards). I'd prefer not to drop compatibility with a set of users whose clusters are working correctly.

In the past we have heard that this is because the Kubernetes DNS soluteon has an entry for localhost. You should make sure that the first resolver

[2018-07-20 11:39] mxinden commented on #1644
This is probably a separate issue, but I get an endless stream of the following when I log prometheus operator:
[code]

Which version of the Prometheus Operator are you running @allisonking?

[2018-07-20 12:01] brancz commented on #1644
Sorry, just to be clear, I meant I think the built in consoles should work without bugs, however, I think extending Prometheus with executable code via ConfigMaps is not the right solution, I think for extended consoles, you should build your own images of Prometheus with the additional console templates added. ConfigMaps have a relatively low size limit, so I'd stay away from using them to add co

[2018-07-20 12:05] embano1 commented on #501
That would be great, thx a ton!
Frederic Branczyk <notifications@github.com<mailto:notifications@github.com>> schrieb am Fr. 20. Juli 2018 um 13:24:

@embano1<https://github.com/embano1> thanks for sharing! I gave this to our scalability team, we will evaluate it and might run some tests to validate whether that could have significant impact.

—
You are receiving this because you were mentioned.
R

[2018-07-20 12:26] debbiswal opened #1651 "Get metrics from specific namespaces in a K8 cluster"
I have a K8 cluster having multiple namespaces.
For example : DEV,PPE,LNP,REDIS,monitoring  and default,kubesystem,kubepublic
I have , added a PV to Prometheus deployment with retention of 5 days.

By default , I am getting metrics from all the namespaces , which eating up the PV allocated space.

Is it possible to specify to get metrics from only PPE,REDIS,monitoring?

[2018-07-20 12:30] mxinden commented on #1615
Just to clarify, you restarted the Prometheus Operator pod, or the Prometheus pod?

Would you mind posting your:
- Prometheus version
- Prometheus Operator version
- Kubernetes version

here?

[2018-07-20 12:30] brancz commented on #1651
No component exists today to do this, however, there is something that we will build in order to do this, but it doesn't exist today. We do have some very early stage PoCs, so it's coming, but we're not there. Although related it will be solved outside of the Prometheus Operator repository. We will probably integrate what we build with the kube-prometheus stack (which we would like to extract out

[2018-07-20 12:31] squat commented on #1460
As @allisonking notes, this issue still exists. The fix is to change line https://github.com/coreos/prometheus-operator/blob/master/pkg/prometheus/statefulset.go#L299
from
[code]
to
[code]

This is a good first-time contribution to the project.

[2018-07-20 13:37] airwolfnh commented on #1595
I had the same problem, then I updated to the latest version, rules are being updated now, but ServiceMonitors are not being picked as targets on prometheus, also,  adding grafana dashboards with json files to the grafana folder does not work either.

[2018-07-20 13:47] allen13 commented on #1646
Thanks for the great feedback! I'll definitely put in a PR. How does this work for the flag?

[code]

[2018-07-20 13:51] allisonking commented on #1644
Okay, I can build my own prometheus image. I tried passing it in with the `--prometheus-default-base-image`, but I can't figure out how to change the version. It seems to tack on `v2.3.1` to my image. I saw in the code it checks for a Tag, but I didn't see a tag flag in the code. Am I missing something?

I'll put together a pull request today for `console_libraries`!

@mxinden I'm using the `quay.

[2018-07-20 13:55] aleerizw commented on #1180
We are running into similar issues as well, if a node goes away ( is scaled down or deleted) an alert is generated for the node that does not exist anymore.
Can we maybe change the alert to something like:

[2018-07-20 14:03] allisonking commented on #1644
Put in a pull request! https://github.com/coreos/prometheus-operator/pull/1653

Another question along with the version question above... is there any way to pass in arguments to the prometheus image? For example, if my console folders aren't in the default location and I'd like to pass in a flag pointing to where they really are.

Thanks for all the help!

[2018-07-20 14:04] debbiswal commented on #1651
Thanks

[2018-07-20 14:04] #1651 closed

[2018-07-20 14:09] debbiswal opened #1654 "How to pass '--web.enable-admin-api' flag to prometheus container"
I am using Prometheus-Operator release-0.17.
In kube-prometheus/manifests/prometheus/prometheus-k8s.yaml , how do i pass  the flag '--web.enable-admin-api' to prometheus container.

[2018-07-20 14:15] richerve commented on #1154
The aforementioned PR was merged some time ago and I'm already using that Chart instead of coreos/grafana working along side kube-prometheus. I will work on the integration next week.

[2018-07-20 15:21] gianrubio commented on #1154
FYI I'm working on the node-exporter upstream, I added a PR https://github.com/helm/charts/pull/6742 to make it full compatible with prometheus-operator/node-exporter .

I'll point the kube-prometheus/requirements.yaml file to the upstream when the PR get merged.

[2018-07-20 17:13] brancz commented on #1180
@aleerizw I think that makes a lot of sense!

[2018-07-20 17:23] chancez commented on #1180
Id argue it also importantly needs to consider disks are expected hover at 80%-90% full.

[2018-07-20 21:07] aleerizw commented on #1180
Cool, I'll make a PR.

[2018-07-20 21:38] lli-hiya commented on #1645
FYI, the original error was seen in Prometheus: v2.2.1, and it still persists after I upgrade to the latest version of Prometheus: v.2.3.2.

It looks like the label: `Prometheus:<xxx>` in Prometheus pod is tightly related to the helm release name.

[2018-07-21 07:45] ervikrant06 opened #1658 "Prometheus operator ERROR status."
**What did you do?**
Trying to deploy the prometheus operator on kubernetes.

**What did you expect to see?**
It should be in running state.

**What did you see instead? Under which circumstances?**
Error state. When trying to start the operator.

**Environment**
Minikube.

* Prometheus Operator version:
quay.io/coreos/prometheus-operator:v0.17.0
	insert image tag or Git SHA here

* Kubernetes ver

[2018-07-21 16:00] mxinden commented on #1658
@ervikrant06 the last log line of the Prometheus Operator hints towards an RBAC issue.

Have you checked the RBAC permissions of the deployment? (See [bundle.yaml](https://github.com/coreos/prometheus-operator/blob/master/bundle.yaml))

[2018-07-22 06:19] staff0rd commented on #1522
I've manged to fix all except the `apiserver` issue;

## kubelet (2/2 up)

Switch `kube-prometheus-exporter-kubelets` to use `http` instead of `https`:
[code]
## kube-dns (4/4 up)

2/4 kube-dns are solved by adding the following to the dns container as noted by @NicolaiPetri [here](https://github.com/Azure/AKS/issues/345#issuecomment-403114164):

[code]

And the other 2/4 kube-dns are solved by ad

[2018-07-22 13:41] Paxa commented on #890
I had same problem, solved by changing `serviceMonitorsSelector`

Prometheus object generated by helm:
<details>
 <summary>kube-prometheus.yaml</summary>

[code]
</details>

#### Solution:

Change `serviceMonitorSelector` in prometheus resource
(using `kubectl edit prometheus -n monitoring kube-prometheus`)
[code]

#### Adding Metrics example:

Service to expose nginx metrics
[code]

Service monit

[2018-07-22 13:46] Paxa opened #1659 "prometheus-operator high CPU usage"
After changing some ServiceMonitor and Service it started to syncing often (4-6 times per second) and consume lots of CPU

Server `top`:
[code]

operator logs:
[code]

[2018-07-22 14:06] ohmanandam opened #1660 "alertmanager unable to send alerts via email_configs"
**What did you do?**
I added a new receiver and edited the default receiver in kube-promethes values.yaml

[code]

**What did you expect to see?**
I expected to see the alerts routed via new email_configs. The above changed email_configs works in a stand alone alertmanager mode.

**What did you see instead? Under which circumstances?**
The alert manager is unable to send the alerts.

level=error t

[2018-07-23 06:31] Paxa commented on #1660
May be firewall blocking outgoing connection?

I use it with mailgun.com and it works great:
[code]

[2018-07-23 07:17] brancz commented on #1654
Duplicate of #1215. The discussion ended with, we can add a field to the Prometheus object to enable this, but we have to make sure, that there is a noticeable warning, to make sure people are aware what they are doing, as those endpoints can potentially be dangerous.

[2018-07-23 07:17] #1654 closed

[2018-07-23 07:19] brancz commented on #1644
There is not, and that's intentional. The Prometheus Operator is supposed to be able to handle breaking changes in Prometheus, if we allowed raw configuration like that, then we could never make sure of that.

[2018-07-23 07:38] brancz commented on #890
@Paxa yes more documentation on common cases is a great idea. I would prefer it to be generic though, and not based on helm charts or anything.

[2018-07-23 07:45] Paxa commented on #890
What these common cases would be? Any ideas?

Btw do you know why nginx ingress has prometheus labels? Some distribution uses it?
[code]
https://github.com/kubernetes/ingress-nginx/blob/cb675b9dbf3175e14ac266e756aab59b7a2d1cd4/deploy/mandatory.yaml#L239

[2018-07-23 07:48] brancz commented on #1660
@ohmanandam what you pasted I believe is malformed. Your indentation is off, and could you make sure to follow this guide? https://www.robustperception.io/sending-email-with-the-alertmanager-via-gmail

[2018-07-23 07:52] brancz commented on #890
Yes I know where that's coming from, that's an old and outdated way of doing discovery with Prometheus, it's from pre-v1.3.0 Prometheus releases (where Kubernetes discovery was much less powerful and flexible), and we haven't been able to get rid of it everywhere sadly as it still somewhat works with newer versions. We and a number of people of the upstream team agree though that the way the Prome

[2018-07-23 07:59] brancz commented on #1522
This works, because `kubectl proxy` always proxies to the apiserver with the scheme defined in your kubeconfig, which is most likely `https`, so you're actually indirectly accessing that. I'm still puzzled though how discovering things works, but accessing the metrics doesn't, it's the same endpoint with the same configuration.

Could you just share the content of the `kube-prometheus-exporter-kub

[2018-07-23 08:01] brancz commented on #1658
Apart from that, could you try a newer version of the Prometheus Operator? It is unlikely that we are going to fix and release a patch release for 5 minor versions back, if you could verify that this problem still exists with v0.22.1, that would be great. Thanks!

[2018-07-23 08:07] brancz commented on #1180
@chancez I think with the `for` statement plus the `predict_linear` function, that's automatically taken into account, except if something continues to write large amounts of data over a period of `10m`, which is exactly what we would want to be alerted on. Fine tuning the parameters may still be necessary, but generally I don't think we need an additional condition.

[2018-07-23 08:39] staff0rd commented on #1522
kube-prometheus-exporter-kubernetes

[code]

serviceMonitorSelector

[code]

[2018-07-23 09:45] Tim-Schwalbe commented on #1637
Hi, I have a similar issue. I have created a PV and on the first helm install it works fine. My Pv gets bound to the PVC created by this:
[code]

After deleting this my PV is in state released and when I created the kube-prometheus with helm install again a new PV and PVC is created.
Isn't there a possibility to use like it its for prometheus?
[code]

Maybe someone can provide an working example?

[2018-07-23 09:50] aleerizw opened #1662 "Alert mismatch b/w helm and contrib/kube-prometheus"
I just noticed that a number of alerts defined in contrib/kube-prometheus are not defined in the helm exporter charts. For example none of the CronJob alerts are in the helm charts ( e.g KubeCronJobRunning ). Is this behavior intended?

[2018-07-23 10:07] ervikrant06 commented on #1658
thanks.. But with newer version still it got failed with same error.

[code]

Also, here is the rbac.yml file whichI  am using. I am not able to pin-point any issue with it.

[code]

[2018-07-23 10:07] brancz commented on #1662
I think this is a fundamental problem about helm. Honestly I don't know how this can ever be done and kept up to date without gigantic maintenance required. Maybe for the charts alerts should be completely external @gianrubio ?

[2018-07-23 10:09] brancz commented on #1637
This is because Grafana uses a Deployment and Prometheus uses a StatefulSet. The StatefulSet makes sure that PVCs are assigned consistently.

[2018-07-23 10:11] brancz commented on #1658
In that file `- alertmanagers` is commented out in the RBAC section, for `monitoring.coreos.com`, that may be the problem.

[2018-07-23 10:13] brancz commented on #1522
That all looks correct. Could you also share the generated configuration from `/config` from the Prometheus UI?

[2018-07-23 10:15] aleerizw commented on #1662
I am not sure if this is possible but can the prometheus rules be dynamically generated?

[2018-07-23 10:19] brancz commented on #1662
Using jsonnet, yes :slightly_smiling_face: .

[2018-07-23 10:22] staff0rd commented on #1522
[/config](https://gist.github.com/staff0rd/a667cbb4c352e1621d8a336a71d56cba)

[2018-07-23 10:48] aleerizw commented on #1662
Yes, I was thinking if can we render the *.libsonnet files to helm compatible yaml, that would remove the maintenance right?

[2018-07-23 11:26] carlpett opened #1663 "Pod security policies allow running as root"
There's a typo in the PSP in the helm charts that allows running as root, instead of disallowing it:

https://github.com/coreos/prometheus-operator/blob/e82f7bbd51eeb821746864e03adf4eeeda59a36a/helm/prometheus-operator/templates/psp.yaml#L36-L47

`min` should be 1, not 0.

[2018-07-23 11:37] vidhy commented on #1635
@fumanne  having the title and name of the file same did not work.

Naming the .json file with the format xxxxx-dashboard.json worked. It is mentioned in #1458 thanks @aleerizw

[2018-07-23 11:39] #1635 closed

[2018-07-23 12:02] ervikrant06 opened #1665 "Deleting Prometheus operator doesn't clean CRD"
**What did you do?**
Deleted prometheus operator but that doesn't delete the CRD.

**What did you expect to see?**
CRD should also be deleted after deleting operator.

**What did you see instead? Under which circumstances?**
CRD remains after deleting operator.
[code]

**Environment**
Minikube

* Prometheus Operator version:
v0.22.1
	insert image tag or Git SHA here

* Kubernetes version informati

[2018-07-23 12:03] brancz commented on #1658
Your RBAC roles are outdated for that version of the Prometheus Operator. You're missing the `prometheusrule` entry in the `monitoring.coreos.com` group.

[2018-07-23 12:04] brancz commented on #1637
The problem is that with a deployment you will always get a new PVC and thus a new PV, where as with a StatefulSet it will attempt to reuse the existing ones.

[2018-07-23 12:07] brancz commented on #1662
Yes and no, jsonnet will always only render json (or yaml as it's a compatible format), but we can't add additional templating, which I believe is something people want.

[2018-07-23 12:09] brancz commented on #1665
There is no way to do this cleanly, using something like [operator-lifecycle-manager](https://github.com/operator-framework/operator-lifecycle-manager) is what we believe the correct solution to this. If you have suggestions, then we'd be more than happy to hear them :slightly_smiling_face: . (we have thought about ownerreferences, but this can be dangerous as this may cause dataloss when performi

[2018-07-23 12:17] brancz commented on #1522
@staff0rd Can you share the exact labels that are being shown for the apiserver target in the `/targets` page? For some reason I am also seeing two entries for the apiserver, one for http and one for https. You definitely are also missing the correct `serverName: kubernetes` in the tlsConfig of your `ServiceMonitor`.

[2018-07-23 12:29] kevtaylor commented on #1643
Update:
I pulled the latest master to see whether any of this is fixed and I get a doubling up of the rule-sets
as:
[code]

[2018-07-23 12:57] wleese opened #1668 "Thanos no access to Google Cloud Bucket"
**What did you do?**
Enabled Thanos, referred to pre-created bucket in the Prometheus spec.

**What did you expect to see?**
Data being shipped to the bucket

**What did you see instead? Under which circumstances?**
 msg="shipping failed" block=01CK3CQH9K5H74FDRR7FFRJAMX err="check exists: googleapi: Error 403: Insufficient Permission, insufficientPermissions"

It's unclear to me how to run Thanos

[2018-07-23 13:18] Tim-Schwalbe commented on #1637
I just installed Grafana on my own now. Can you give me the dashboard included in kube-prometheus?
What else is different from stable/grafana version?

[2018-07-23 13:19] aleerizw commented on #1662
Ok, I can make a PR to try and sync the alerts in the helm charts, is this something that you would be open to merge?

[2018-07-23 13:55] brancz commented on #1668
Are you using a GKE cluster? The way I understand these two links, it should just work:

* https://github.com/improbable-eng/thanos/blob/master/docs/storage.md#gcp-configuration
* https://cloud.google.com/docs/authentication/production#obtaining_credentials_on_compute_engine_kubernetes_engine_app_engine_flexible_environment_and_cloud_functions

On the other hand looking at the setup code here: htt

[2018-07-23 13:55] jolson490 commented on #1631
hi @brancz . When you get a chance, I'm just wondering if you have any further ideas? thanks.

[2018-07-23 13:56] brancz commented on #1662
I don't maintain the charts, @gianrubio does. Unless it's very small changes, I generally don't review or merge them, it's up to @gianrubio.

[2018-07-23 13:58] brancz commented on #1637
All the dashboards are already files, you just need to make Grafana load them, which is what this setup automates.

[2018-07-23 14:40] allisonking commented on #1644
Thanks for the answer! I will just build my prometheus image as closely as possible to the default image, but with my own console templates then.

Could you give me some guidance on the problem I was having above? I passed in the `--prometheus-default-base-image` flag with a string to my image and its version. However, when I apply the manifest, I get an error from kubernetes saying the image is i

[2018-07-23 15:47] brancz commented on #1658
Could you increase verbosity with `--v=10` on the prometheus operator? That way we will see the request that the Prometheus Operator attempts to do against the Kubernetes API as well as the response of the Kubernetes API. Thanks!

[2018-07-23 15:50] brancz commented on #1644
You need to just pass the image repository in that flag. The Prometheus Operator will always attempt to use the tag as specified in the `version` field. That way we can make sure that the configuration and flags are correct for the appropriate version, for example on breaking changes.

[2018-07-23 16:03] allisonking commented on #1644
I think I'm missing something-- I'm using Amazon ECR to host my image, so it has the form `1234.ecr.amazonaws.com/my-repository@sha256:abc123` which is normally what I pass in to the `image` argument in a manifest without problem

When I pass this into `prometheus-default-base-image`, then look at the pod it generates, there is an `InvalidImageName` status next to the pod, and when I describe it,

[2018-07-23 17:51] mxinden commented on #1487
Fixed via https://github.com/coreos/prometheus-operator/pull/1619

[2018-07-23 17:51] #1487 closed

[2018-07-23 17:51] mxinden commented on #1606
Fixed via https://github.com/coreos/prometheus-operator/pull/1619

@mmerrill3 let us know if this works for you.

[2018-07-23 17:51] #1606 closed

[2018-07-23 18:51] lli-hiya commented on #298
Same question here. For my case, I don't want the service name to appear as the Target name, is there any way I can customize the target name?

[2018-07-23 19:01] astub opened #1673 "Thanos options for S3: s3.encrypt-sse as environment var"
Is there a way we can open up the Thanos spec to add environment variables flags? It would be really nice as Thanos adds more options or if they change.

I really need to be able to enable s3.encrypt-sse, but there appears to be no way of doing that at the moment. Correct me if i'm wrong.

[2018-07-23 20:25] carlpett opened #1676 "Empty RuleSelector creates recursive PrometheusRule generation"
**What did you do?**
Updated to new operator version with the PrometheusRule CRD. Set `ruleSelector: {}`, since I wanted it to pick up all the PrometheusRules (small cluster, only one Prometheus).

**What did you expect to see?**
All good.

**What did you see instead? Under which circumstances?**
First noticed this error:
`Sync "monitoring/main" failed: PrometheusRule.monitoring.coreos.com "promet

[2018-07-23 23:01] chancez commented on #1180
Fair enough, I guess my point is that the existing alert is usually firing so the  `for: 30m`  might need to be tuned.

[2018-07-24 08:12] wleese commented on #1668
GKE indeed.
What's unclear to me is how to use a Prometheus CRD to pass along authentication.

Note that I'm running a GKE cluster that's shared with other applications. It's not possible to grant the entire cluster (compute nodes) access to the bucket, without security concerns.

Basically I need to use specific a (gcloud) service account for access - which usually entails creating a secret key d

[2018-07-24 08:31] kevtaylor commented on #1643
@gianrubio I tracked the issue down and for some reason I was pulling 2 different chart versions for the rulesets which caused the name clashing and hence doubling up.  I can confirm that the original issue of the incorrect rules naming is also resolved.

[2018-07-24 08:31] #1643 closed

[2018-07-24 09:15] brancz commented on #1673
That's something that we would have to add to the `ThanosSpec` here: https://github.com/coreos/prometheus-operator/blob/b0f98a839fd3b9e04fad5602e426bda6f99fc904/pkg/client/monitoring/v1/types.go#L258-L271

And then based on that add the flag like here: https://github.com/coreos/prometheus-operator/blob/b0f98a839fd3b9e04fad5602e426bda6f99fc904/pkg/prometheus/statefulset.go#L634-L636

Would you like

[2018-07-24 09:17] staff0rd commented on #1522
@brancz my bad - I originally still had an additional endpoint specified in the `ServiceMonitor` in an attempt to solve the issue (it had no effect) but did not include it my post above.  I've now included it in the [edited `ServiceMonitor` post above](https://github.com/coreos/prometheus-operator/issues/1522#issuecomment-406983305).

After removing it, and adding `serverName: kubernetes`, it look

[2018-07-24 09:20] brancz commented on #1676
Thanks for the report, we are looking into it!

[2018-07-24 11:59] mxinden commented on #1676
@carlpett Thanks for reporting! Could you give https://github.com/coreos/prometheus-operator/pull/1679 a shot?

[2018-07-24 13:32] brancz commented on #1522
Could you try creating a Pod that has the same serviceaccount as the Prometheus pod, and curl the metrics endpoint? Something along the lines of:

[code]

Just to see if we maybe just have to increase the scrape timeout and or interval.

[2018-07-24 13:36] wleese commented on #1668
Hard to say - I only know how we handle our GKE clusters and Buckets, which will always require manual setup.
Looking at how Prometheus-operator now works where a lot is left up to the user but the thanos-sidecar is effectively insulated, I think the best way would be through changes to the PrometheusSpec.
So yes, having a ThanosSecretName / Selector with auto GOOGLE_APPLICATION_CREDENTIALS setup

[2018-07-24 13:38] markusdresch commented on #1522
i got the same problem on AKS with k8s 1.10.5 (current). fixed the kube-dns part with the mentioned patch. apiserver got "context deadline exceeded". for some reason prometheus shows an IP i don't recognize at all.

When i curl that IP, the request never terminates. When i `curl https://10.0.0.1/metrics` (that's the kubernetes service cluster ip and prometheus displays label service="kubernetes" f

[2018-07-24 13:43] markusdresch commented on #1522
when i use the token provided in my .kube/config, the curl request to 10.0.0.1 (kubernetes.default.svc) works fine. i don't know where that public ip shown in prometheus comes from though.

[2018-07-24 13:46] directionless commented on #1623
Cool. I updated the docs in https://github.com/coreos/prometheus-operator/pull/1682

[2018-07-24 13:46] #1623 closed

[2018-07-24 14:28] #1676 closed, assigned to mxinden

[2018-07-24 14:37] brancz commented on #1522
I'm pretty sure this is because the Service IP of the `kubernetes` named `Service` in the default namespace is `10.0.0.1`, but the IP of the actual apiserver is `172.x.x.x`. Could you confirm this by sharing `kubectl -n default get svc,endpoints kubernetes`.

Note that using the service IP is not an option as we need to scrape _all_ apiservers, and service IPs would load balance and yield incorrec

[2018-07-24 14:46] jalberto commented on #1615
@mxinden sorry for the delay.

- I deleted `prometheus-kube-prometheus-0` so the prometheus server created by kube-prometheus
- prometheus-operator-0.0.28
- kube-prometheus-0.0.102
- 1.10 (AKS)

I still have same problem, new 'servicemonitors' is not updating prometheus config

[2018-07-24 14:55] brancz commented on #1668
With the Prometheus Operator we have the chance to unify all configuration into a single way to do things, which I think is great instead of having to figure out which environment variables to set, so yes I think we should add a `credentials` field to the `ThanosGCSSpec`, that is a `SecretKeySelector` that has to contain that file as expected.

Would you like to create a PR to do this? :slightly_s

[2018-07-24 15:01] markusdresch commented on #1522
[code]
connecting to the public apiserver url does work though... is there a way to use something like externalname instead of the ip endpoint?

[2018-07-24 15:06] brancz commented on #1522
Anything that is not a unique IP for each instance of apiservers will not work, incidentally with a single apiserver it would work in your very case, but in any HA setup it wouldn't work. I cannot recommend running Kubernetes clusters with HA apiservers/controller-managers/schedulers highly enough, I have seen incredible amounts of failures with non-HA setups. I think we should see what the AKS su

[2018-07-24 16:00] derekperkins commented on #1522
cc @brendandburns

[2018-07-24 19:36] tomwilkie commented on #352
I had a go at this and the following worked, for authenticated remote write:

[code]

HTH

[2018-07-24 21:33] e-manrique opened #1686 "Prometheus-oparator is not able to retrieve pod data"
Hello,

I'm having a real hard time trying to get the pod metrics, i have kubernetes 1.11 and metric-server, actually i cannot find a way to get it work, every time i create the service-monitor and then the Prometheus to get the data from this service monitor, nothing happen, i believe it's because /metrics it's not sending the actual usage data, i read that i need to use cAdvisor, but i also cann

[2018-07-24 21:57] allisonking commented on #1644
Okay, I realized there's a `version` field in the Prometheus CRD-- I had been looking for it as a flag to pass into the operator.

Does the version have to have a tag that follows semver? I'm using my sha as the version but the statefulset isn't being created and I get the error:
[code]

Thanks for the guidance!

[2018-07-24 23:37] smanpathak opened #1688 "Operator spinning with namespace list error"
**What did you do?**
Deployed prometheus-operator with bundle.yaml, followed getting-started guide
**What did you expect to see?**
Prometheus monitoring working
**What did you see instead? Under which circumstances?**
No objects for prometheus resource, service monitor. Prometheus-operator seems spinning with this message follows in logs section.
**Environment**
Vanilla K8S cluster.
* Prometheus O

[2018-07-25 00:51] #1688 closed

[2018-07-25 03:06] jiuchongxiao commented on #1458
@sneko  where do you get the the dashboard about istio from . example istio-dashboards/xxx-dashboard.json

[2018-07-25 03:33] jiuchongxiao commented on #1160
@FuzzOli87 i had Collecting new telemetry data as istio said https://istio.io/docs/tasks/telemetry/metrics-logs/ and create serviceMonitor as you said , config prometheus/values as you said started and vim kube-prometheus/values.yaml serviceMonitorsSelector. but i cannot get the metric istio_double_request_count from prometheus ui. can you help me .thank you
[code]
create serviceMonitor as you sai

[2018-07-25 04:50] jiuchongxiao opened #1689 "how to get istio collected metrics? and show it on grafana."
had Collecting new telemetry data as istio said https://istio.io/docs/tasks/telemetry/metrics-logs/ and  create serviceMonitor,config prometheus/values.yaml and vim kube-prometheus/values.yaml serviceMonitorsSelector. but i cannot get the metric istio_double_request_count from prometheus ui. can you help me .
[code]

create serviceMonitor
[code]

config prometheus operator prometheus/values.yaml

[2018-07-25 04:51] jiuchongxiao commented on #1689
where i can get istio dashboard file to grafana. such as xxx-dashboard.json.

[2018-07-25 05:38] sneko commented on #1458
@jiuchongxiao on their repository in "istio / addonds / grafana / dashboards". At this time at this URL:
https://github.com/istio/istio/tree/405f47f54d19e6d998aa3e863ec9e2bc23c157f1/addons/grafana/dashboards

[2018-07-25 05:43] jiuchongxiao commented on #1458
@sneko thank you very much, could help me again: how to get istio collected metrics
the detail issue is https://github.com/coreos/prometheus-operator/issues/1689

[2018-07-25 05:48] sneko commented on #1458
@jiuchongxiao actually I never tried to custom Istio to provide custom metrics and while taking a look at your issue I don't know how I could help you 😞 sorry

[2018-07-25 05:53] jiuchongxiao commented on #1458
@sneko did you custom integrate istio dashboard to prometheus operator? and how to get the dashboard data?

[2018-07-25 07:19] brancz commented on #1644
Yes that's the expectation today, if you cannot control the tag used, then you can use the `tag` field to specify a different tag. That said, I think using the exact sha is a lot more sane than tags, so I think it would be nice to add a `sha` field, to make this possible as well. The question is what should happen if one specifies both? I would probably say, if a `sha` is specified then that has p

[2018-07-25 07:30] Paxa commented on #1660
Did you check that alert manager updated config? Why it keep trying to port 53? (should be 587)

[2018-07-25 07:33] ohmanandam commented on #1660
interesting observation @Paxa , how do i check the update config for AlertManager, I am new to k8 and Prometheus.

[2018-07-25 07:38] Paxa commented on #1660
Expose alertmanager with ingress or kubectl proxy and open `https://alertmanager-host/#/status`
Or check in container
[code]

To make sure it's updated I usually kill a pod so k8s will restart it with new config or scale it to 0:
[code]

[2018-07-25 07:47] ohmanandam commented on #1660
Thanks @Paxa , unfortunately the updated configuration has the same port as 587. The configs are identical as what i provided above.

[2018-07-25 07:53] brancz commented on #1660
@ohmanandam Could you check whether this may just be a firewall issue?

[2018-07-25 08:19] gianrubio commented on #1689
Seems like `serviceMonitorSelector` cannot match "app" label on serviceMonitor `istio-monitor`.  Try to create it using the right labels.

Ex:

[code]

[2018-07-25 08:29] brancz commented on #1686
There are a few concepts/components mixed here, I'll try to clear up the confusion.

metrics-server is completely independent from anything Prometheus. The metrics-server is a minimal components that will work in any Kubernetes cluster, it requests all kubelet's `/stats` endpoints every 60 seconds and just keeps all those results in memory. When you do `kubectl top pod` for example you are request

[2018-07-25 08:35] manuprometheus opened #1690 "Why service in custom namespace is not being detected?"
**What did you do?**
Created service monitor,service account for an application in a custom metrics. But the same is not being detected by prometheus
**What did you expect to see?**
Need to detect the application by Prometheus target. When I deploy the app in default name space or in the  namespace where the whole Prometheus is deployed,then it is working.
**What did you see instead? Under which c

[2018-07-25 08:41] brancz commented on #1690
Can you see configuration for your `ServiceMonitor` in `/config` of the Prometheus UI? Could also you check the Prometheus logs, this might just be an RBAC permission issue.

[2018-07-25 08:47] manuprometheus commented on #1690
Sure. Let me check.

[2018-07-25 09:32] manuprometheus commented on #1690
My Prometheus /config is not showing the confguration for my custom namespace. I have created the service monitor and service account. Is there any other configuration is needed to setup?

[2018-07-25 09:36] brancz commented on #1690
That means that the Prometheus object is not selecting your `ServiceMonitor`. Can you share the `serviceMonitorSelector` and `serviceMonitorNamespaceSelector` of your Prometheus object as well as the labels on the `ServiceMonitor` you are intending to select?

[2018-07-25 10:18] manuprometheus commented on #1690
Please find my ServiceMonitor as follows:

--------------------------
apiVersion: monitoring.coreos.com/v1
kind: ServiceMonitor
metadata:
     labels:
        k8s-app: my-app
     name: my-app
     namespace: mynamespace
spec:
    endpoints:
    - interval: 5s
      port: prometheus
    namespaceSelector:
         matchNames:
         - mynamespace
    selector:
        matchLabels:
             k

[2018-07-25 10:58] #1689 closed

[2018-07-25 11:31] brancz commented on #1690
You need to use three back-ticks around the code/yaml to render it as code.

[code]

Could you also share your Prometheus object?

[2018-07-25 12:04] prune998 commented on #823
@mmerrill3 I've deployed the 0.22.2 version (then upgraded to `master` docker image) and I do see the same exact log.

I've deployed using the Ksonnet/Jsonnet scripts

[2018-07-25 12:50] brancz commented on #823
@prune998 could you open a new issue with all your details and the exact SHA of the image you ran? That would be highly appreciated! Thanks! :slightly_smiling_face:

[2018-07-25 13:13] azizzoaib786 commented on #399
based on documentation .. inside alertmanager.yml file, we can define as below:

global:
hipchat_api_url: 'https://company.hipchat.com'
http_config:
proxy_url: 'http://(IP):3128'

[2018-07-25 13:17] prune998 opened #1694 "Index with name namespace does not exist"
**What did you do?**
I deployed the operator using the `kube-prometheus` manifests generated from `ksonnet`. I made no changes to the config. This is a plain stupid deployment

**What did you expect to see?**
no error logs

**What did you see instead? Under which circumstances?**
I keep having these in the logs :
[code]

**Environment**

* Prometheus-Operator
Prometheus-Operator image `quay.io/cor

[2018-07-25 13:17] prune998 commented on #823
@brancz it's done in https://github.com/coreos/prometheus-operator/issues/1694

[2018-07-25 14:31] prune998 opened #1696 "make kube-prometheus Ksonnet create full power ClusterRole"
**What did you do?**
I'm deploying a Prometheus using the Ksonnet templates from kube-prometheus

**What did you expect to see?**
I expect my cluster to be working and scrape metrics from my applications in any `namespace`

**What did you see instead? Under which circumstances?**
By default the `ClusterRole` is created as :
[code]
Which allows to gather all the nodes metrics but not the user's `se

[2018-07-25 14:32] prune998 commented on #1696
I could submit a PR for that, but I would like to have your point on view on this first...

[2018-07-25 15:00] mxinden commented on #1659
@Paxa Thanks for reporting the issue. Which Prometheus Operator version is this?

[2018-07-25 15:12] prune998 commented on #1696
Sounds the Helm chart already do that : https://github.com/coreos/prometheus-operator/blob/master/helm/prometheus/templates/clusterrole.yaml

[code]

[2018-07-25 18:38] jpke commented on #1582
any update on this? trying to setup thanos to push prometheus data to s3 using https://github.com/coreos/prometheus-operator/tree/master/example/thanos

[2018-07-25 19:50] anantaguha opened #1699 "kube-state-metrics not appearing in targets"
**What did you do?**
Installed Prometheus operator (and related resources) and the example-app using the Getting Started Guide. I am able to see the example-app at the http://<node-host>:<nodeport>/targets URL .
Then I installed kube-state-metrics from https://github.com/coreos/prometheus-operator/tree/master/contrib/kube-prometheus/manifests/kube-state-metrics*.yaml

The  Prometheus operator (and

[2018-07-26 03:07] manuprometheus commented on #1690
Thank you for the reply. Please find my Prometheus object yaml as follows:
[code]

[2018-07-26 03:17] manuprometheus commented on #1690
I have  also tried by adding my custom namespace in Prometheus object yaml,but the object is creating in the default namespace.

[2018-07-26 04:16] jimmythedog commented on #1631
hi @jolson490
Did you get anywhere with this? (I'm having the same issues, and am struggling to find any clues)

[2018-07-26 05:26] Manu-Thankachan opened #1702 "Custom alert for pod memory utilisation"
**What did you do?**
Created alert rules for pod memory utilisation
**What did you expect to see?**
Show the alert for pod memory utilisation of my apps
**What did you see instead? Under which circumstances?**
Alerts are showing perfectly, But it do not contain the name of the pod so that difficult to understand which pod is having the issue . It is Just showing " [FIRING:35]  (POD_MEMORY_HIGH_UTI

[2018-07-26 05:30] manuprometheus commented on #1702
My rule is as follows:
[code]

[2018-07-26 06:47] brancz commented on #1644
I'll close this here, but will make sure to open an issue to track the ability to use the sha directly.

[2018-07-26 06:48] brancz opened #1703 "Ability to specify sha of container image"
As image tags are floating values, it would be nice if we could allow specifying the exact sha of an image to use, as that way we can ensure which exact image is used.

RE: #1644

cc @allisonking

[2018-07-26 06:48] #1644 closed

[2018-07-26 07:15] brancz commented on #1702
I believe what you are looking for is just to modify the alert notification template, which has nothing to do with the Prometheus Operator, as the Alertmanager configuration is exactly the same.

Aside from that, you shouldn't use the `rate` function on non-counters, as `rate` treats consecutive values where the second value is lower than the first as a counter-reset. I believe what you are lookin

[2018-07-26 07:19] brancz commented on #1690
You don't have a `serviceMonitorNamespaceSelector` defined, which results in only `ServiceMonitor`s in the same namespace as the Prometheus object to be picked up. If you want to select `ServiceMonitor`s from all namespace use `serviceMonitorNamespaceSelector: {}`.

[2018-07-26 07:35] brancz commented on #1699
The `contrib/kube-prometheus/manifests/` are intended to be used as is, so you would want to remove the manifests you installed in the getting started and just do `kubectl create -f manifests/`. I think I would prefer to have this experience consistent, but wouldn't want to put the getting started in a non-default namespace nor do I want to put the entire kube-prometheus stack in the default names

[2018-07-26 07:38] brancz commented on #1582
Are both of you using the latest release candidate? If yes, could you share the metrics output of one of the queriers? (just port-forward the metrics port and curl the `/metrics` endpoint) The metrics tell us more about the peers that have been discovered (or not if they were not discovered properly).

[2018-07-26 07:52] ohmanandam commented on #1660
@brancz this is not a firewall issue, as I am running the standalone alertmanager as well the kube-prometheus instances from the same vm. The standalone alertmanager is able to send the alerts via the same config.

[2018-07-26 08:09] manuprometheus commented on #1690
@brancz  Thank you very much. I have added "serviceMonitorNamespaceSelector: {}" in my Prometheus object and now  service in custom namespace is detected. Thank you again :)

[2018-07-26 08:09] #1690 closed

[2018-07-26 08:15] markusdresch commented on #1522
No news from AKS folks so far. Thanks for the recommendation on HA, but in AKS all of this is managed, so I don't know anything about the master node, from what I found out I think there's only one (judging from some hints in azure advisor, where a few alerts are listed for another kubernetes vm otherwise invisible to me). So in this case it wouldn't make a difference if i directly connected to ku

[2018-07-26 08:47] davidrama opened #1704 "alertmanager-kube and prometheus-kube stay in ContainerCreating state forever"
**What did you do?**
helm install coreos/prometheus-operator --name prometheus-operator --namespace monitoring
helm install coreos/kube-prometheus --name kube-prometheus -f values2.yaml --namespace monitoring
with:

with values activating persistent storage:
`prometheus[rama]->cat values.yaml
alertmanager:
  storageSpec:
    volumeClaimTemplate:
      spec:
        storageClassName: rook-block

[2018-07-26 09:13] brancz commented on #1660
I think this might have to do with your DNS resolution within your container/kubernetes cluster. The error looks like it's timing out on the DNS resolution. Can you make sure that that is running properly in your cluster?

[2018-07-26 09:14] brancz commented on #1704
could you share `kubectl get events -n <namespace>` of the namespace you installed this into? Thanks!

[2018-07-26 09:15] markusdresch commented on #1522
Alright, convinced.

[2018-07-26 09:17] brancz commented on #1696
It is intentional, we don't want to grant the Prometheus server essentially the ability to view _any_ pod in a cluster. The intention is that you create a `Role` and `RoleBinding` in each namespace you want to monitor.

[2018-07-26 09:21] davidrama commented on #1704
https://pastebin.com/nYsdHHZT

[2018-07-26 09:31] mxinden commented on #1615
If I understand the helm charts correctly, helm-prometheus-operator `v0.0.28` corresponds to prometheus-operator `v0.20.0`. Could you check if this issue still persists with prometheus-operator `v0.22.2`?

Before updating, could you post your ServiceMonitor and your Prometheus manifest here?

[2018-07-26 09:34] brancz commented on #1704
That sounds like your dynamic provisioning doesn't work properly.

Could you also share `kubectl -n monitoring get pvc`?

[2018-07-26 09:47] davidrama commented on #1704
prometheus[rama]-> kubectl -n monitoring get pvc
NAME                                                             STATUS    VOLUME                                     CAPACITY   ACCESS MODES   STORAGECLASS   AGE
alertmanager-kube-prometheus-db-alertmanager-kube-prometheus-0   Bound     pvc-5831ea61-90af-11e8-abaf-e41d2dae3526   10Gi       RWO            rook-block     1h
prometheus-kube-prometheus

[2018-07-26 09:49] davidrama commented on #1704
with
prometheus[rama]-> kubectl -n monitoring get pv
NAME                                       CAPACITY   ACCESS MODES   RECLAIM POLICY   STATUS    CLAIM                                                                       STORAGECLASS   REASON    AGE
pvc-5831ea61-90af-11e8-abaf-e41d2dae3526   10Gi       RWO            Delete           Bound     monitoring/alertmanager-kube-prometheus-db-alertma

[2018-07-26 09:51] mxinden commented on #1688
The second, third and fourth log line is fixed via https://github.com/coreos/prometheus-operator/pull/1697. This does not fix the repeated first log line though. This might be related to https://github.com/coreos/prometheus-operator/issues/1659.

[2018-07-26 09:56] brancz commented on #1631
The kubelet only talks to the Kubernetes API, which has more finely detailed metrics. This should show what the kubelet is doing that creates so many client errors on the Kubernetes API:

[code]

I don't think the kubelet has anything equivalent, but maybe the errors are related. Let's try and see what the apiserver metrics will show.

[2018-07-26 10:00] brancz commented on #1704
Are you using those rook block-devices anywhere else? As in can you validate that it works properly? It sounds like it's timing out waiting for rook to make the volume available. If you can validate that it doesn't work in other cases this is probably an issue for them, rather than here, but let's first validate that.

[2018-07-26 10:35] prune998 commented on #1696
so it's ok that the Helm chart and the Ksonnet does not behave the same way  ?
Thanks for your answer @brancz
Maybe it would be good to explain this difference in behaviour in the docs ?

[2018-07-26 10:59] davidrama commented on #1704
I'll get back to you ASAP about this will check.

[2018-07-26 12:16] manuprometheus commented on #1702
Could you tell me where can I add the "__meta_kubernetes_pod_label_<labelname>" in our prometheus yaml.

[2018-07-26 12:19] brancz commented on #1702
That's not possible today, you can only use the `targetLabels` feature. You can just list the labels of the Kubernetes `Service` labels that you want to be transferred onto the target. We've discussed this though and would accept a PR that adds the same for Pods.

[2018-07-26 12:35] brancz commented on #1696
The helm charts just haven't been updated that way. The jsonnet files are basically the "upstream" and the helm charts are a downstream and are separately maintained by separate people. Helm is just so wildly popular that we wanted to offer that option, but I recommend the jsonnet way, as that's what we use in production and I can with confidence say that it's very well battle tested.

[2018-07-26 12:41] prune998 commented on #1696
Do you think of a clean way to change the config so that we could add a list of namespaces that Prometheus Server should be able to scrape ?

How would you do to, let's say, deploy the Operator + a Prom Server that would be allowed to scrape in all namespaces (or in a list) ? Maybe all Namespaces with a specific label ?
I'm pretty new to Jsonnet so it's clearly not obvious to me.
Thanks @brancz

[2018-07-26 12:53] brancz commented on #1631
Yes I've seen that once before, I think that's when a volume is declared optional. Then the kubelet attempts to retrieve the secret or configmap but when it gets a 404 it just continues as normal as it's optional. Could you try and see the Pods that have optional configmaps set with this kubectl + jq command:

[code]
The same thing for optional secrets:
[code]

[2018-07-26 12:57] jimmythedog commented on #1631
Thanks @brancz
I get nothing returned for the secrets query, and a single pod for the configmaps (kube-dns pod)

[2018-07-26 13:05] davidrama commented on #1704
Hello did a clean install and this seems have been related to the storage part.
Now all the pods are up and running. Sorry for the noise and thanks for your time

[2018-07-26 13:05] #1704 closed

[2018-07-26 13:12] brancz commented on #1696
we have a tenancy model where namespaces are hand picked, but I can imagine a world where the tenant is defined by a label on a namespace, and something would deploy the Role and RoleBinding into those namespaces. I would always try to not grant ClusterRoles when not absolutely necessary.

[2018-07-26 13:15] prune998 commented on #1696
so there is no way to `configure` the Jsonnet files to automatically deploy the Role and RoleBinding into those namespaces right now, right ?
It's a manual step to achieve afterward ?
I just want to be sure before I go on find a solution for that :)

[2018-07-26 13:16] brancz commented on #1631
Could you just try removing the optional configmap from the kube-dns deployment, and see if that helps with the kubelet errors (maybe we need to just exclude client errors from the kubelet's rest client errors)?

[2018-07-26 13:19] brancz commented on #1696
I think it would be reasonable to have a list of namespaces in the jsonnet files that generate the Role and RoleBinding for all the namespaces in that list. That has actually been on my list for a while anyways, as we do exactly the same thing already for the `default`, `kube-system` and `monitoring` namespaces. If you are up for it I can guide you through what needs to be done in order for that.

[2018-07-26 14:08] prune998 commented on #1696
Thanks @brancz that would be really kind of you.
I'm going to dig in the jSonnet code and come back with a PR so you'll be able to comment and guide me to do the right thing.

Things seem to take place in `prometheus_operator/contrib/kube-prometheus/jsonnet/kube-prometheus/prometheus/prometheus.libsonnet` so the goal would be to create a loop from a namespace list that would create many `roles` an

[2018-07-26 14:29] brancz commented on #1696
Precisely. Let me know if you get stuck, but you're on the right track.

[2018-07-26 14:30] brancz commented on #1631
Neat. Did both alerts disappear due to that?

[2018-07-26 15:49] dkirrane commented on #903
Is there any Pull Request for the `GF_SERVER_ROOT_URL` change. I don't believe this is configurable via the helm chart values.

This is needed to get to get to grafana via ingress path.
More details here:
https://stackoverflow.com/questions/48410293/kubernetes-ingress-not-adding-the-application-url-for-grafana-dashboard
and here:
https://github.com/kubernetes/contrib/issues/860#issuecomment-250522

[2018-07-26 16:51] jimmythedog commented on #1631
Sorry @brancz  I was away for a few hours there

The configmap & secrets metric values are now a *lot* more stable, but the localhost one is ridiculously high! (and constantly climbing) - To the point where it's triggering prometheus alarms with values of around 44%!!!

It's really frustrating not finding anything in the logs that relate to '404'

[2018-07-26 17:08] prune998 commented on #1696
So, I'm stuck...

I thought I would add a config parameter like `additionalRoleNamespaces = []`
then iterate over it and generate some more roles in a new file, like :
[code]

but I keep having the error `expected token OPERATOR but got "."` on the line `role.new() +`

I tried in every way without success... I've been reading the jSonnet docs many times but I don't get it...

[2018-07-26 17:29] prune998 commented on #1696
OK GOT IT !!!
I've found https://github.com/google/jsonnet/blob/master/benchmarks/bench.03.jsonnet and changed my code to :

[code]

I'll change some vars/function names and do a PR, except if you stop me here :)

[2018-07-26 18:43] hobbsh commented on #1533
@jalateras you should be able to set these flags in your custom values.yml - you will likely need to manually delete the exporters and rules files depending but this should stop them from being redeployed.

[code]

[2018-07-26 18:55] hobbsh commented on #1595
I use ansible to deploy alert rules and just delete the affected prometheusrules before reapplying as a workaround for now. Not great but better than missing rules.

[2018-07-26 19:11] brancz commented on #1696
That looks fantastic. Small suggestion let's just add a `$._config.prometheus.namespaces` and make that default to `["default", "kube-system", $._config.namespace]`. Then people just merge their additional namespaces into that array, that would be a little more idiomatic jsonnet.

[2018-07-27 00:03] jolson490 commented on #1631
Thanks again very much @brancz  for your help.

----------------------------

On minikube:

`apiserver_request_count{client=~"kubelet.*",code=~"4.."}`:
[code]

`apiserver_request_count{client=~".*apiserver.*",code=~"4.."}`:
[code]

[code]

----------------------------

In a K8s cluster on AWS:

`apiserver_request_count{client=~"kubelet.*",code=~"4.."}`:
[code]

[code]

----------------------------

[2018-07-27 03:55] manuprometheus commented on #1702
Could you please tell me, in which yaml,I can add my labels.

[2018-07-27 06:06] brancz commented on #1702
`targetLabels` goes into your `ServiceMonitor` and your `Service` has to have those labels.

[2018-07-27 07:43] yuriipolishchuk-finsight commented on #1533
@hobbsh I think etcd monitoring should be also disabled by`deployKubeEtcd: False`

[2018-07-27 11:52] prune998 commented on #1696
I've just created a PR including your reco : https://github.com/coreos/prometheus-operator/pull/1708
Feel free to comment.

I found no tests about the jsonnet files... let me know if I missed something

[2018-07-27 11:59] Tim-Schwalbe opened #1709 "Are the grafana dashboards reachable over grafana site with an ID"
Is it possible to import the dashboard which are delivered with kube-prometheus via an ID.
If so, can someone please post all ids here.

[2018-07-27 19:37] hatemosphere commented on #1516
+1, experiencing the same issue.

[2018-07-27 22:59] staff0rd commented on #1522
Agreed.
[code]

All my targets are up now 😃

[2018-07-28 05:46] hobbsh commented on #1533
@yuriipolishchuk-finsight Yes it's probably best to disable etcd monitor as well, but I have not seen any false etcd alarms yet on our staging EKS cluster with it enabled - it could be different with GKE/AKS though.

[2018-07-28 18:35] mitchellmaler opened #1712 "Kube-Prometheus Nodes labeled with IP Address"
**What did you do?**
Installed kube-prometheus
**What did you expect to see?**
Nodes labeled with their name instead of IP address
**What did you see instead? Under which circumstances?**
IP address of the node name

Is there a way to modify the kube-prometheus deployment to label the nodes using their name instead of IP address without manually modifying the manifests after jb generation?

[2018-07-28 20:20] weeco opened #1713 "Kube-Prometheus config file via helm chart"
I am using the helm charts to deploy kube-prometheus. I'd like to scrape all pods in my cluster if they have the following pod annotations added:

[code]

As far as I got I need to add a kubernetes_sd_config to achieve this, which would look similiar to this:

[code]

**My question:**

How can I set this config via your helm chart? Unfortunately the documentation is in lack of examples for the con

[2018-07-29 01:43] ohmanandam commented on #1660
DNS resolution is indeed the issue within my cluster. Thanks @brancz

[2018-07-29 01:43] #1660 closed

[2018-07-30 07:56] brancz commented on #1712
Can you specify in more detail where you expected this? Prometheus will always use an IP for the target. If you are thinking of the Grafana dashboards, then that's just an improvement we need to make to the "Nodes" dashboard, just like we have done for the "K8s / USE Method / Node" dashboard.

Note that targets really should just have the labels that uniquely identify them. Everything else can be

[2018-07-30 08:30] brancz commented on #1516
Thanks for opening this issue!

We should join the `kube_pod_info` metric onto the query, I believe then the alert should be instantly resolved as that metric won't exist anymore. Currently this happens, because the increase function's range query is 1 hour so it will look at the past hour of data, which is why the result set has data for up to 1 hour after the pod was deleted. As this alert is ac

[2018-07-30 08:46] brancz commented on #1713
You can use the `additionalScrapeConfigs` feature of the Prometheus Operator to specify arbitrary Prometheus configuration. I can see that this has been implemented in the Prometheus chart templates, but I don't know how to configure that chart from the kube-prometheus chart (we don't use helm, @gianrubio maintains them).

[2018-07-30 08:54] mxinden commented on #1694
With https://github.com/coreos/prometheus-operator/pull/1697 merged I am closing here. Let me know if you are facing any further issues with this. Thanks for reporting!