[2017-04-27 08:36] brancz commented on #309
I'll use this issue to track the `honor_labels` implementation.

[2017-04-27 10:18] nirdothan opened #315 "Add ImagePullSecrets to support private registries"
When specifying a baseImage in a [Prometheus TPR](https://github.com/coreos/prometheus-operator/blob/master/Documentation/api.md#prometheusspec) and in an [Alertmanager TPR](https://github.com/coreos/prometheus-operator/blob/master/Documentation/api.md#alertmanagerspec) there is no way to provide  [ImagePullSecrets](https://kubernetes.io/docs/concepts/containers/images/#specifying-imagepullsecrets

[2017-04-27 10:27] galexrt commented on #304
@brancz That fixed the issue for me.

[2017-04-27 10:27] #304 closed

[2017-04-27 10:49] brancz commented on #315
Thanks for reporting, yes that totally makes sense! Looking forward to the PR! :slightly_smiling_face:

[2017-04-27 12:25] brancz commented on #315
Added it to the next release if we can get it in in time with the other issues of that milestone

[2017-04-27 13:08] cemo commented on #98
@brancz would you please tell me how should I export dashboards for grafana after modifying?

[2017-04-27 13:16] #309 closed

[2017-04-27 13:23] brancz commented on #98
Sure thing. I'm assuming you're using kube-prometheus. You export the dashboard through the grafana UI and save it to disk. Assuming you are in the `contrib/kube-prometheus` directory. You move the dashboard json to `assets/grafana/` (or replace the existing json with the new one if you just want to update an existing one). Then you run `hack/scripts/generate-manifests.sh`. It might be worth havin

[2017-04-27 13:24] cemo commented on #98
I am not using kube-prometheus but using manifests and all other things. I wanted to stay a little bid in a hard way to learn deeply. I will send a PR regarding it.

[2017-04-27 15:58] #315 closed

[2017-04-27 16:01] mikebryant commented on #268
Am pretty confused. I'm going to close this for now

[2017-04-27 16:01] #268 closed

[2017-04-27 16:33] brancz commented on #308
Do you think you will be able to work on this soon-ish or do you want us to take over @gianrubio ?

[2017-04-27 18:47] jescarri opened #319 "Prometheus Operator does not set livenessProbe initialDelaySeconds"
**What did you do?**

Running a prometheus with attached EBS to persist data.
If the prometheus pod restarts, the default grace period does not allow prometheus to properly close the data files, then when the pod gets restarted, prometheus will try to recover the datafiles and after a few seconds k8s will mark the pod as unhealthy, the pod will get killed and then it will enter into a crash loopba

[2017-04-27 19:02] fabxc commented on #319
Thanks for the report. We are totally open to adjust the settings.
Do you want to file a pull request with limits that you would consider
appropriate?

On Thu, Apr 27, 2017 at 8:47 PM Jesus Rafael Carrillo <
notifications@github.com> wrote:

[2017-04-28 00:19] jescarri commented on #319
Ah, my bad, it seems that already sets 10 minutes it is plenty of time, I have been checking the code, the problem maybe is related to the liveness prove initialDelaySeconds, I do not see  being set anywhere.

I will submit a PR shortly to allow the initialDelaySeconds and terminationGracePeriodSeconds being user configurable.

[2017-04-28 00:51] dmcnaught commented on #314
master is working 😄

[2017-04-28 07:30] brancz commented on #314
Yes I believe we had a bad manifest in the release which was quickly fixed afterwards. One day I hope to also issue releases for kube-prometheus, but that will most likely be in form of packages for helm, kpm and whatever is on the horizon. Closing here as the initial problem was solved.

[2017-04-28 07:30] #314 closed

[2017-04-28 13:14] #313 closed

[2017-04-28 13:58] gianrubio commented on #308
Yes, I can handle this during the next week.

[2017-04-28 14:01] brancz commented on #308
Awesome, sounds good! Thanks @gianrubio !

[2017-04-28 23:10] ds0nt opened #320 "Having trouble creating the operator on GKE"
**What did you do?**
Trying to install the prometheus-operator on a running GKE cluster. I'm using the prometheus operator yaml from the latest version of the guide. https://coreos.com/operators/prometheus/docs/latest/user-guides/getting-started.html

My config files worked on minikube.

**What did you expect to see?**
Lots of Prometheus-stuff created.

**What did you see instead? Under which circ

[2017-04-28 23:11] ds0nt commented on #320
I'm wondering if I need to do something like this?

https://cloud.google.com/container-engine/docs/role-based-access-control

GKE has alpha features disabled, do you think if I recreate my cluster and enable RBAC it will solve this problem? Am I misinterpreting the error?

[2017-04-29 06:19] brancz commented on #320
RBAC resources graduated from alpha to beta in 1.6, kubectl can gracefully handle that if you create them using `kubectl apply`.

[2017-04-29 15:08] ds0nt commented on #320
Creating a new cluster like this seemed to work:

`To ensure your Role-Based Access Control permissions take effect, you must create your cluster with the option --no-enable-legacy-authorization.`

Doing that got past the error above. And then running kc apply a few times seems to have gotten the resources created.

My main concern was about whether or not there are any k8s alpha APIs being used o

[2017-04-29 15:38] ds0nt commented on #320
Oh this is weird. Now it just started working when I applied the files again, without having enabled RBAC, on the already existing cluster.

Darn, didn't need to do that enable legacy thing!

And also. Yay!

[2017-04-29 15:46] ds0nt commented on #320
Alright, mystery solved. A member of our team upgraded the cluster to 1.6.2 and that is what did it.

[2017-04-29 19:44] ds0nt opened #322 "Discovery of alertmanagers is undocumented"
**What did you do?**
Try and link a prometheus with alertmanagers, but having trouble. It's not mentioned in the documentation that it discovers via regex on the service's name.

https://github.com/coreos/prometheus-operator/blob/88f90dc68f2e47e2b7ff7ad753396e891b23f8dd/pkg/prometheus/promcfg.go#L300

[code]

[2017-04-29 19:59] fabxc commented on #322
That the configuration in your TPR maps to a regex in the generated Prometheus configuration is an implementation detail.
Generally, most of the generated configuration are a bunch of regexes. We therefore document the abstraction our TPR definitions expose.

Did you figure out what the problem was? And how could we adapt the documentation to assist in this in the future? I think in general educat

[2017-04-29 21:42] ds0nt commented on #322
Perhaps if it said something like: "The name field of an alertmanager must match the name of the service above". It just doesn't let me know how the mapping happens at all. No mention of the 'name' needing to point to the services name.

This was important to me as I didn't leave the names as their defaults in the yamls.

![2017-04-29-173920_693x471_scrot](https://cloud.githubusercontent.com/asset

[2017-04-29 21:42] ds0nt commented on #322
perhaps right after the code snippet in the screenie

[2017-04-29 22:14] #320 closed

[2017-05-01 12:41] gianrubio commented on #319
@jescarri add `initialDelaySeconds` on `livenessProbe` will not solve this issue. `livenessProbe` only start after the pod is healthy (covered by `readinessProbe` )

The current time to prometheus-k8s start is
[code]

`failureThreshold (100 )* periodSeconds (5) * timeoutSeconds (3)` = 1500 seconds ~= 25 min

I already had this issue of prometheus recovering but I didn't realise what are the issue.

[2017-05-01 16:31] ds0nt opened #323 "Having trouble using GKE Persistent Disk"
**What did you do?**

Attempt to add an gce-persistent-disk for storage on a prometheus operator.

I end up with an error like this:

[code]

Which is strange because I seem to have an available persistent disk:

[code]

My prometheus operator was set up with emptyDir before, and now I'm attempting to move it to this disk above. My configs look like this:

[code]

[code]

Am I supposed to use a St

[2017-05-01 16:31] Bekt opened #324 "Q: How to provide a custom prometheus.yaml?"
Maybe I'm missing something, but how do I go about providing my own config (prometheus.yaml) file to Prometheus? Looking at the source code, it is a [hardcoded value](https://github.com/coreos/prometheus-operator/blob/88e3e919a53024161a8409320ca714d969b53b4c/pkg/prometheus/statefulset.go#L194) of empty byte. I know it was possible to do so in previous versions.

I have tried providing it via a vol

[2017-05-01 17:27] ds0nt commented on #323
Alright, I think I'm onto something...

I checked out the code here, and it looks all fine and good. The class is only added if the configuration has the len(vc.Class) > 0.

But, I think my default class should be set to an empty string:

[code]

[2017-05-01 19:54] Bekt commented on #324
The only way I was able to work around this was:

- base64 the config file
- patch the secret resource generated by prometheus-operator

[2017-05-02 08:08] brancz commented on #322
While I agree we could point this out better in the described documentation, it actually doesn't have to be the name of a `Service`, but rather an `Endpoints` object. Whenever you create a `Service` object in Kubernetes a backing `Endpoints` object is created, where the `Service` writes the `Pod`s selected by it into. The `Endpoints` object is what is actually used to discover the Alertmanager. As

[2017-05-02 08:10] brancz commented on #323
If you have figured out what the issue was, would it be possible for you to add a guide specific to GCE to our [storage user-guide](https://github.com/coreos/prometheus-operator/blob/master/Documentation/user-guides/storage.md)?

[2017-05-02 11:04] galexrt opened #326 "Prometheus stopped scrapping metrics (urgency score 1)"
**What did you do?**
Run Prometheus for some time.

**What did you expect to see?**
Prometheus keep on scrapping data.

**What did you see instead? Under which circumstances?**
No data scrapped anymore.

**Environment**

* Kubernetes version information:
[code]

* Kubernetes cluster kind:
Kubernetes contrib Ansible.

* Manifests:

[code]

***

Is this related to my earlier issue with the Prometheu

[2017-05-02 11:14] fabxc commented on #326
Yes, that's a storage metric indicating load being too high for the available resources.
What resource limits does the Prometheus TPR have configured? How many targets does it scrape and how many samples per second?

[2017-05-02 12:54] gianrubio opened #327 "Introduce package manager"
At this time there's no package manager in this project. I'm not a experient golang developer, but most of the project I saw are adopting tools like Glide.  My question is why this project isn't using a tool for managing the dependencies?

[2017-05-02 13:12] gianrubio commented on #127
That the same behaviour of [etcd-operator afinity](https://github.com/coreos/etcd-operator/search?utf8=✓&q=affinity&type=), it's just a boolean flag to choose to use affinity or not. I really like this idea, it's simple for the users also solve the HA problem.

The latest release of client-go `podSpec`  support [affinity](https://github.com/kubernetes/client-go/blob/master/pkg/api/v1/types.go#L240

[2017-05-02 13:20] brancz commented on #327
we're currently using [govendor](https://github.com/kardianos/govendor)

[2017-05-02 13:21] galexrt commented on #326
The Prometheus TPR manifest:
[code]
The Prometheus instance(s) are scraping ~24 targets.
What is the metric name for samples per second? I assume it is `prometheus_local_storage_ingested_samples_total` here, after about two hours running of a fresh prometheus instance (new pvcs), I have reached `prometheus_local_storage_ingested_samples_total` ~28.092.413 samples.

This problem only occured with P

[2017-05-02 13:28] #327 closed

[2017-05-02 14:25] brancz commented on #127
I was hoping there would be a non beta release of client-go some time soon, but it looks like it is taking a while, so we should probably update to 2.0-beta.

[2017-05-02 14:58] gianrubio commented on #308
@brancz I did a PR #328  but it's not still complete

I'm not confortable with [promcfg](https://github.com/gianrubio/prometheus-operator/blob/0aa12a4358ecbfac296c1953f1f9cfce707fbcd9/pkg/prometheus/promcfg.go#L41) receiving secrets so I'm asking if the right way is to load the secrets from the endpoints on operator.go and pass as arguments.

The other question is when the secret is not found shou

[2017-05-02 19:22] Bekt commented on #324
@brancz thanks for the response. That did it for me. I don't think I've seen this described in the docs anywhere (I've seen when it was a ConfigMap before though), so maybe it makes sense to leave a note in the getting started page.

I have two comments on that:

1. I manually created the Secret. When I delete the `Prometheus` object, the Secrete is resource is deleted as well. Not sure if intenti

[2017-05-03 05:32] brancz commented on #324
1) We are definitely aware of, and by now would actually deserve an issue. It should be fixed.
2) While I agree that it might be more intuitive to use let's say a `ConfigMapKeySelector`, where a user could specify the `ConfigMap` and key the config should come from, it is operationally a lot more complicated as a change of the ConfigMap name requires a PodTemplate change in the StatefulSet which i

[2017-05-03 05:35] brancz commented on #324
Furthermore the intention of the Prometheus Operator is for that name to be purely an implementation detail, a user should not care about it as it is managed by the Prometheus Operator. If you want to use the custom configuration because there is something you can't do with the Prometheus Operator it is likely a missing feature :slightly_smiling_face:

[2017-05-03 05:50] brancz commented on #323
You either need to create `PersistentVolume`s that satisfy the requirements and selector of the `PersistentVolumeClaim`s, or use a `StorageClass` which would make the cluster create the `PersistentVolumeClaim`s as you need them, which in turn automatically provision the underlying `PersistentVolume`.

[2017-05-03 14:20] Bekt commented on #324
For 2), I was thinking to keep the `Secret` (not ConfigMap) but provide a selector for it. Does this change anything?

I agree that Prometheus Operator should be able to do everything that of a custom config should be able to do, but it should not get in the way if you wanna use a custom config. Maybe you already have a Prometheus config and you're trying out Prometheus Operator, or some features

[2017-05-03 14:45] brancz commented on #324
Go ahead! :slightly_smiling_face:

If we allow specifying a selector then that selector can be changed after the initial creation of the Prometheus object. And for the StatefulSet (which is generated from the Prometheus object) updating the PodTemplate (which would be necessary when changing the selector) is an illegal action, and would therefore make the Prometheus error in an unrecoverable manne

[2017-05-03 16:08] Bekt opened #333 "Prometheus deletion deletes a Secret not managed by Prometheus"
**What did you do?**
1. Create a `Secret` named `prometheus-foo` with `prometheus.yaml` data key.
2. Create a `Prometheus` resource named `foo` omitting `serviceMonitorSelector` in the spec.
3. Verify prometheus is launched with the config file specified in step 1.
4. Delete the Prometheus object created in step 2. (`kubectl delete prometheus foo`)
5. Check if Secret from step 1 is still there (`k

[2017-05-03 16:13] brancz commented on #333
If the `Secret` is managed by the Prometheus Operator it [has a label](https://github.com/coreos/prometheus-operator/blob/410b1ea8a9985d4a1b6cbd7fbb3afd05a203af87/pkg/prometheus/statefulset.go#L191) with that information, so at [deletion](https://github.com/coreos/prometheus-operator/blob/410b1ea8a9985d4a1b6cbd7fbb3afd05a203af87/pkg/prometheus/operator.go#L802-L808) we just need to check whether i

[2017-05-03 16:14] brancz commented on #333
If we can get an implementation down for this quickly I'm happy to include it in the v0.9.0 release which should be in the upcoming days.

[2017-05-03 16:43] Bekt commented on #333
I don't have much experience with testing in Go, so it's probably better for somebody else to pick this up. 😐

[2017-05-03 16:51] brancz commented on #333
No worries, just want to encourage people and give them a chance :slightly_smiling_face: should be able to take care of this tomorrow.

[2017-05-03 19:52] ds0nt commented on #323
Hey, sure. I did end up figuring out what the issue was.

This is something to pay close attention to if you’ve been using Kubernetes for a while, because it changes the default behavior of PersistentVolumeClaim objects on these clouds.
Marking a StorageClass as default makes it so that even a PersistentVolumeClaim without a StorageClass specified will trigger dynamic provisioning (instead of bind

[2017-05-03 20:36] ds0nt commented on #322
Yep, I'll look into it this evening. (in EST)

On Tue, May 2, 2017 at 4:08 AM, Frederic Branczyk <notifications@github.com>
wrote:

[2017-05-04 00:26] tsloughter opened #335 "kube-prometheus manifests still on alpha rbac"
**What did you do?**

`hack/cluster-monitoring/deploy`

**What did you expect to see?**

No errors when creating role bindings and roles.

**What did you see instead? Under which circumstances?**

[code]

**Environment**

GKE 1.6.2

* Kubernetes version information:

[code]

* Kubernetes cluster kind:

GKE 1.6.2

* Manifests:

All manifests under `contrib/kube-prometheus/manifests` with Roles and

[2017-05-04 01:36] phspagiari commented on #134
👍 for @gyliu513 problem. I got the same using the `kube-prometheus` deployment script in a `1.5.5` cluster in a `kube-aws` environment.

[2017-05-04 01:40] gyliu513 commented on #134
@phspagiari just FYI, if only want to test prometheus features, you can direct to https://github.com/vegasbrianc/prometheus , it is using docker-compose, pretty simple to set up a prometheus environment.

[2017-05-04 02:06] phspagiari commented on #134
Hey @gyliu513 thanks for sharing.
I've found my problem: The `contrib/hack/kube-prometheus/deploy` uses a `NAMESPACE ` Env Var to define the namespace that will be used to deploy the `prometheus-operator`, but unfortunately there are some hardcoded `monitoring` namespace around the yamls, for example here: https://github.com/coreos/prometheus-operator/blob/master/contrib/kube-prometheus/manifests/

[2017-05-04 07:21] brancz commented on #134
@phspagiari the create vs. apply problem is solved as soon as your cluster and kubectl are >=1.6.0.

Regarding the hardcoded namespace things, we are fully aware of this, which is why we want to package up kube-prometheus with helm and other package managers. Those will fully support those scenarios. Otherwise I can only suggest using sed for the time being in the deploy script.

[2017-05-04 07:23] brancz commented on #323
The existing https://github.com/coreos/prometheus-operator/blob/master/Documentation/user-guides/storage.md sounds like the place.

[2017-05-04 07:57] brancz commented on #335
Yes I believe 1.6 has been out for long enough that we can now change all the manifests to beta.

Regarding the last bit: that sounds like a permission issue on your side. The user/identity you are accessing the cluster with doesn't seem to have all permissions that the Prometheus Operator ClusterRole needs, which makes it error because you can't give permissions that are greater than your own.

[2017-05-04 09:30] geoand commented on #326
Hello,

I am using the Prometheus Operator v0.8.2 with Prometheus v1.6.1 on a Kubernetes v1.6.2 cluster, and I am seeing the same exact issue (Prometheus entering rushed mode after a certain amount of time).

It should be noted that the necessary Kubernetes manifests were deployed using the `contrib/kube-prometheus/hack/cluster-monitoring/deploy` script (albeit changed to use only 1 replica for Pr

[2017-05-04 09:38] brancz commented on #326
@geoand if you can tell us how many targets and time-series you are talking about we can give you an estimate on required resources. Your Prometheus resources pretty much scale with those two factors. Note: 3-6Gi are not a whole lot for a real time time series database so my guess is that that is just too small for the number of targets and time-series you are monitoring.

[2017-05-04 09:45] geoand commented on #326
@brancz Thank you the immediate reply!

I simply used the manifests that are provided in the `contrib/kube-prometheus/hack/cluster-monitoring` in order to monitor a Cluster of 5 nodes without adding any of my own service monitors.
I should also note that currently the cluster is receiving very little traffic since I am still evaluating it.

Is there any more information that I could provide?
Moreo

[2017-05-04 09:54] brancz commented on #326
@geoand No problem :slightly_smiling_face: !

Here is the offical documentation on how to scale your deployment memory wise: https://prometheus.io/docs/operating/storage/#memory-usage. Note that this is one of the things we are trying to manage with the Prometheus Operator so we [automatically adjust those flags](https://github.com/coreos/prometheus-operator/blob/master/pkg/prometheus/statefulset.

[2017-05-04 09:58] geoand commented on #326
@brancz Great information, thank you very much!

[2017-05-04 16:23] tsloughter commented on #335
@brancz thanks, yea the the fact other manifests in the repo were updated but not these made me think it wasn't on purpose and was an issue.

And, hm, ok. That is annoying, I created the cluster, figured gke would give me enough permissions, but not your issue :).

[2017-05-04 16:23] #335 closed

[2017-05-04 17:47] tsloughter opened #341 "Grafana Prometheus datasource returning 404"
**What did you do?**

`hack/cluster-monitoring/deploy`

**What did you expect to see?**

No error logs in prometheus logs and no http error from grafana accessing `http://prometheus-k8s.monitoring.svc:9090`

**What did you see instead? Under which circumstances?**

The prometheus datasource in grafana returns an HTTP error. In prometheus targets I see 404s for alertmanager-main and prometheus-k8s

[2017-05-04 18:51] #333 closed

[2017-05-04 20:29] tsloughter commented on #341
Well this is a pain... It is the setting of `externalUrl` in the `Prometheus` and `Alertmanager` configs that is the issue. After changing the datasource to `http://prometheus-k8s.monitoring.svc:9090/api/v1/proxy/namespaces/monitoring/services/prometheus-k8s:web/` to match the path of the externalUrl `https://127.0.0.1:8001/api/v1/proxy/namespaces/monitoring/services/prometheus-k8s:web/` then graf

[2017-05-04 20:34] tsloughter commented on #341
`routePrefix`! Sorry, originally in the docs https://coreos.com/operators/prometheus/docs/latest/user-guides/exposing-prometheus-and-alertmanager.html I missed that `routePrefix` was also added. Its purpose or that it is added isn't mentioned in the text.

Adding this seems to have fixed the issue.

[2017-05-04 20:34] #341 closed

[2017-05-04 20:51] tsloughter commented on #341
In case anyone else tries doing the same thing and finds this: AlertManager does not have a `routePrefix` option, so instead I updated `prometheus-k8s-service-monitor-alertmanager.yaml` endpoints to include `
path: /api/v1/proxy/namespaces/monitoring/services/alertmanager-main:web/metrics`

[2017-05-04 21:43] tsloughter opened #342 "Exposing alertmanager through Kubernetes api and alert urls"
**What did you do?**

Used `kube-prometheus` deploy script and then followed https://coreos.com/operators/prometheus/docs/latest/user-guides/exposing-prometheus-and-alertmanager.html#kubernetes-api for exposing prometheus and alertmanager.

**What did you expect to see?**

Links in alertmanager generated alerts that point to the kubernetes proxy url. Updating the `externalUrl` of the `AlertManager

[2017-05-05 07:05] brancz commented on #342
Interesting... this may require us to either also implement route-prefix for alertmanager or be able to provide an endpoint prefix in the alertmanager endpoint struct @fabxc

[2017-05-05 09:09] brancz commented on #323
Thanks a lot @ds0nt closing here as #339 is merged. :tada:

[2017-05-05 09:09] #323 closed

[2017-05-05 09:18] gianrubio opened #343 "Alert K8SApiServerLatency triggering"
The alert `K8SApiServerLatency` is strangely triggering to all my clusters. I checked my apiservers and etcd instances and looks they're smoothly running without latency or load issue.

## Alert
[code]

## Value > 1 are triggering
![screen shot 2017-05-05 at 11 01 11](https://cloud.githubusercontent.com/assets/5694860/25739447/310c3c12-3182-11e7-991a-7ff0fa6e4a88.png)

## What's wrong?
Analysing t

[2017-05-05 09:34] brancz commented on #343
Very interesting! I wouldn't expect this behavior, I'll check as well.

[2017-05-05 12:16] brancz commented on #343
I'm not seeing the same behavior:

![screenshot from 2017-05-05 14-14-24](https://cloud.githubusercontent.com/assets/4546722/25745027/49e9c7b6-319d-11e7-9dc3-65592c777e55.png)
![screenshot from 2017-05-05 14-14-01](https://cloud.githubusercontent.com/assets/4546722/25745026/49e8fcbe-319d-11e7-890b-d7ac4f2a518f.png)

`LIST` seems to behave normally in my cluster.

[2017-05-05 12:21] gianrubio commented on #343
This is a real cluster under production or only a minikube?

[2017-05-05 12:30] brancz commented on #343
This is a multi node cluster on AWS (1.6.2), but it does not serve any production applications. That said it is however running all CoreOS Tectonic components which do a lot of `LIST`/`WATCH`/`LISTWATCH` actions on the apiserver.

[2017-05-05 12:31] mikebryant commented on #319
@gianrubio Are you sure?
My prometheus pod is being killed ~3 seconds after startup (i.e. the liveness probe timeout), the readiness probe never succeeds, and the liveness probe kills the pod.

I don't see anything about liveness probes waiting till after readiness is already successful in the docs - could you point me to where this is stated?

[code]

[2017-05-05 12:37] brancz commented on #319
@mikebryant would you suggest to increase the livenessprobe?

[2017-05-05 12:47] mikebryant commented on #319
Yes - I'm testing a change for this on our cluster now, PR will follow shortly

[2017-05-05 12:49] galexrt commented on #326
@brancz Thanks for the informations!
But why do the same resource limits work for Prometheus 1.5.x and now with Prometheus 1.6.x this appears?

[2017-05-05 12:50] gianrubio commented on #319
@mikebryant

I guess `readinessProbe` is killing your container. What version are you running?
Until now the `livenessProbe` option is just available in the master branch, there's no available release with that option.

From the [k8s docs](https://kubernetes.io/docs/tasks/configure-pod-container/configure-liveness-readiness-probes/#defining-a-tcp-liveness-probe)

... "In addition to the readiness

[2017-05-05 12:56] mikebryant commented on #319
We're on master (specifically c47ad17) as we needed #330 in our environment.

Yes - the docs reference container start, which is when the readiness probe starts too - container start doesn't imply the container is ready

[2017-05-05 12:59] brancz commented on #326
That could be because the ration we chose in 1.5.x was a lot more pessimistic than what we hoped to get out of 1.6.x. We may need to be a bit more pessimistic with our formula with 1.6.x, possibly 2/3 of the requested memory is too optimistic.

We actually also had an incident where Prometheus stopped ingesting data for no apparent reason, we are still investigating what happened there, however, i

[2017-05-05 21:52] snarlysodboxer commented on #309
@brancz Thank you for the `honor_labels` functionality! This is very useful. I wasn't able to find time yet to create a PR.

For what it's worth, since the pushgateway is not highly available, one might want to run one pushgateway per service or group of services etc. (unless there's a workflow I'm missing.) But I see your point, all one needs is a deployment, no hard stuff, so what's the point?

[2017-05-06 10:41] CarlosDGQ opened #347 "How can I get"
**What did you do?**

**What did you expect to see?**

**What did you see instead? Under which circumstances?**

**Environment**

* Kubernetes version information:

	insert output of `kubectl version` here

* Kubernetes cluster kind:

	insert how you created your cluster: kops, bootkube, tectonic-installer, etc.

* Manifests:

[code]

* Prometheus Operator Logs:

[code]

[2017-05-06 10:44] #347 closed

[2017-05-06 10:49] CarlosDGQ opened #348 "How can I get the container's highest cpu usage for a given period of time?"
I have installed the kube-prometheus on my machine;
I want to get the container's highest cpu usage for a given period of time,
for example, to get the container named kibana-logging highest cpu usage at the period 2017-05-06T02:50:00.781Z to 2017-05-06T03:00:00.781Z.
Is there any method to solve my problem?
Thaks a lot!

[2017-05-06 16:45] xetys commented on #326
Hello. Like @geoand I have exactly the same issue. I also used the contrib scripts for cluster monitoring. My setup spans 9 nodes and with default 400Mi for the prometheus is giving me a working time of approximately 20 minutes. Scaling up to 2Gi increases that to 13 - 20 hours. After that, it slowly drops the scrape ratio, until it stops scrapping at all.

If looking to suggestions earlier this p

[2017-05-06 20:49] sheerun opened #350 "Change link in github repository description"
To https://coreos.com/operators/prometheus

It is more appropriate now than link do blogpost, I guess

[2017-05-07 00:37] gianrubio commented on #319
@mikebryant you're right, there's an issue open proposing changes https://github.com/kubernetes/kubernetes/issues/27114

[2017-05-08 07:49] #319 closed

[2017-05-08 08:33] brancz commented on #350
Done! Thanks for your feedback @sheerun !

[2017-05-08 08:33] #350 closed

[2017-05-08 08:35] brancz commented on #326
We are particularly seeing this with Prometheus 1.6. I'd recommend staying with 1.5 for now, it will also use a lot of memory but we are not seeing the unstable scraping behavior.

[2017-05-08 09:45] gianrubio commented on #343
Because this issue it's not related to operator I'll close for now

[2017-05-08 11:09] brancz commented on #348
Please refer to the [Prometheus users mailing list](https://groups.google.com/forum/#!forum/prometheus-users) regarding Prometheus usage questions.

I'm guessing what you are looking for are the [aggregation operators](https://prometheus.io/docs/querying/operators/#aggregation-operators) available in Prometheus. Just play around with those functions and the `container_memory_usage_bytes` metric ex

[2017-05-08 11:09] #348 closed

[2017-05-08 12:02] brancz commented on #342
@tsloughter which links are you referring to? Should these links be pointing at the Prometheus UI or the Alertmanger UI? Because if it's the Prometheus UI then you need to properly configure the `externalUrl` in the Prometheus resource.

[2017-05-08 14:38] wleese opened #352 "Support / Document Prometheus Remote Storage"
**What did you do?**

Run the getting started guide, read all the docs.

**What did you expect to see?**

Some mention of arbitrary configuration of prometheus

Basically I want to set up remote storage for prometheus:
https://prometheus.io/docs/operating/configuration/#<remote_write>

Maybe I'm missing something and this is already supported however.

[2017-05-08 16:57] tsloughter commented on #342
@brancz links to the alertmanager ui. I am using the prometheus `externalUrl` successfully, it has the `routePrefix` option that I had to also set for it to work.

[2017-05-08 22:37] t-trout opened #353 "Latest HELM chart does not include kubeletObject options"
**What did you do?**
Using HELM chart to install Prometheus-Operator and wanting to have the kubeletObject values set

**What did you expect to see?**
KubeletObject value set to defaults and the kubelet-object argument sent to Prometheus-operator on startup

**What did you see instead? Under which circumstances?**
No kubelet-object argument gets passed to Prometheus-operator upon startup.

The cod

[2017-05-09 00:30] tsloughter opened #355 "Unneeded alerts when running on GKE"
**What did you do?**

Installed through kube-prometheus deploy script to GKE.

**What did you expect to see?**

No triggered alerts.

These alerts are not possible when running on GKE, correct, in which case it is a documentation issue only? Something suggesting removing certain alerts for scheduler and etcd maybe?

**What did you see instead? Under which circumstances?**

Immediately these 2 aler

[2017-05-09 06:22] gytisgreitai opened #356 "exported_namespace, exported_pod instead of namespace, pod?"
**What did you do?**

hack/cluster-monitoring/deploy

**What did you expect to see?**

Ability to select pods, namespaces, etc. in graphana

**What did you see instead? Under which circumstances?**

Only `monitoring` namespace but nothing more

**Environment**

* Kubernetes version information:

[code]

* Kubernetes cluster kind:

	GKE

In the example `Pods` dashboard there is a template variable

[2017-05-09 06:32] gytisgreitai opened #357 "RBAC on GKE - extra step needed"
**What did you do?**

`hack/cluster-monitoring/deploy`

**What did you expect to see?**

No errors

**What did you see instead? Under which circumstances?**

[code]

**Environment**

* Kubernetes version information:

[code]

* Kubernetes cluster kind:

	GKE

According to Google Container Engine docs:

So in order to proceed without error, cluster-admin role should be added to current executing us

[2017-05-09 07:18] brancz commented on #342
Yes that was my suspicion. We'll investigate how to solve this best, but I can't guarantee this to happen very quickly as we'll have to take this upstream, as route prefix does not exist for the Alertmanager itself yet.

[2017-05-09 07:21] brancz commented on #355
I thought GKE runs the scheduler and controller manager as Pods within the cluster, in that case all you would need to do is create the `Service`s to select them. Those services are in `manifests/k8s/self-hosted/`.

The apiserver alert, however, seems legit.

[2017-05-09 07:25] brancz commented on #356
This is due to a recent change that allows us to use the `honor_labels` configuration of Prometheus. So master of kube-prometheus actually reflects the use of master of the Prometheus Operator. We hope to soon have releases of kube-prometheus as helm charts, to be able to separately release it to ensure stable installable packages.

[2017-05-09 07:27] brancz commented on #357
Yes I think it would definitely be worth starting an FAQ/Troubleshooting document in the Documentation folder. Do you want to do a PR for this @gytisgreitai ?

[2017-05-09 07:32] gytisgreitai commented on #357
sure :)

[2017-05-09 07:39] gytisgreitai commented on #356
Thanks for explanation, seems clear now:)

Few side questions if I may:

in `kubernetes-pods-dashboard.json` there is a query which uses
`kube_pod_container_requested_memory_bytes` imho this should be `kube_pod_container_resource_requests_memory_bytes`

Any way to query by custom pod labels? It seems that I need relabelling feature?

[2017-05-09 07:51] brancz commented on #356
There was a discussion in kube-state-metrics and that's what was agreed on. Feel free to open an issue there if you feel it should be changed. I don't have a particularly strong opinion about it, just out of compatibility I would hesitate to change it, but before the 1.0 it would still be ok.

The latest release of kube-state-metrics has the `kube_pod_labels`, `kube_node_labels`, and `kube_service

[2017-05-09 08:00] gytisgreitai commented on #356
Probably a slight misunderstanding:

`kubernetes-pods-dashboard.json` uses `kube_pod_container_requested_memory_bytes`
`resource-requests-dashboard.json` uses `kube_pod_container_resource_requests_memory_bytes`

So imho `kubernetes-pods-dashboard.json` is buggy cause there is no such metric anymore accoriding to this commit:

https://github.com/kubernetes/kube-state-metrics/commit/54ad74dfda739f45

[2017-05-09 08:03] brancz commented on #356
I see. Sorry that was a misunderstanding on my end, yes that dashboard needs to be updated to use `kube_pod_container_resource_requests_memory_bytes`.

[2017-05-09 08:06] brancz commented on #356
Feel free to open a PR for that as well :)

[2017-05-09 08:11] #308 closed

[2017-05-09 08:29] brancz commented on #352
You can specify an arbitrary configuration for your Prometheus instances by creating a Prometheus object without setting the `serviceMonitorSelector`. Then you can manage the`Secret` named `prometheus-<prometheus-object-name>` yourself. The Prometheus configuration must be under the key `prometheus.yaml`.

We plan on supporting remote storage configuration one day, but currently it is not supporte

[2017-05-09 09:01] wleese commented on #352
Great stuff. I'll close this then as this helps me well enough.

[2017-05-09 09:18] gytisgreitai commented on #356
Created https://github.com/coreos/prometheus-operator/pull/359

[2017-05-09 09:31] fabxc commented on #352
Reopening as we want to allow remote storage at some point. Probably a bit out there as the upstream API/configuration isn't stable yet though.

We might want to make custom config an explicit parameter at some point @brancz
The omitting of serviceMonitorSelector is pretty leaky by now as it also implies skipping of AM config etc.

[2017-05-09 09:37] gytisgreitai commented on #357
Created https://github.com/coreos/prometheus-operator/pull/360

[2017-05-09 10:16] brancz commented on #352
Agreed.

[2017-05-09 10:21] brancz commented on #357
Closing here as #360 is merged. Thanks a lot @gytisgreitai !

[2017-05-09 10:21] #357 closed

[2017-05-09 14:43] #353 closed

[2017-05-09 15:12] mgoodness commented on #353
Just published `opsgoodness/prometheus-operator:0.0.2`. Note that `kubeletObject` has changed to `kubeletService`. Check the README for details.

[2017-05-09 18:48] t-trout commented on #353
Gracias

[2017-05-09 23:09] rwkarg commented on #352
Looking to do the same thing, as well. Would appreciate a user-guide around adding to the prometheus.yaml config, specifically adding a remote storage endpoint.

[2017-05-10 05:42] gytisgreitai commented on #98
My 2 cents as a newbie.
Once you realise the potential of this operator, it blows your mind. But until then it leaves you wondering, "well, how do I make it work". For a regular Joe (like me) who is just starting out with Prometheus the `Getting started guide` is a bit vague and goes into details about the operator, and not how to do monitoring with it.
Then there is an example app which imho shou

[2017-05-10 07:14] brancz commented on #355
I'm not exactly sure how GKE runs those components. Possibly directly on the host machines, not self-hosted. We're generally only trying to target self-hosted environments, which would mean you need to maintain your own fork removing the things you don't want. That said, I'd be willing to separate the alerting rules into different files, then maintaining your fork would be easy as you can just del

[2017-05-10 07:52] mxinden commented on #98
@gytisgreitai For now we want to keep all *Grafana* related docs in the `/contrib` folder. The documentation in the `/Documentation` folder should be focused on the *Prometheus Operator*.

I would suggest adding these suggestions to the `/contrib/kube-prometheus` `README.md` and `/docs` folder. Improving these documentations would help us a lot, so PRs are very welcome!

[2017-05-10 08:40] brancz commented on #356
#359 is merged and v0.9.0 of the Prometheus Operator is released, so I'm closing this here. Thanks a lot for your contributions @gytisgreitai !

[2017-05-10 08:40] #356 closed

[2017-05-10 15:28] ryanwalls opened #363 "[kube-prometheus] Specify version of k8s and add backwards compatibility"
**What did you do?**
Running `contrib/kube-prometheus/hack/cluster-monitoring/deploy` does not seem to work on k8s 1.5.x.

**What did you expect to see?**
Ideally the readme for kube-prometheus would indicate which version(s) of the k8s it is targeting.  If possible, would ideally have the script dynamically work with different versions of k8s either using a flag or automatically detecting the api

[2017-05-10 15:37] brancz commented on #363
Yes we should definitely write that in there. @mgoodness can we stop helm from applying if a minimum cluster version is not met? I feel that would be the safest thing to do with the points of friction.

[2017-05-10 15:50] ryanwalls commented on #363
@brancz I was trying to make the current scripts backwards compatible with 1.5 by removing the rbac related stuff, but I'm still seeing errors when running.  Any ideas?  Is there a specific commit hash of kube-prometheus that should work with 1.5?

Output:

[code]

[2017-05-10 18:48] mgoodness commented on #363
@brancz I think we could build that logic into the charts, sure.

[2017-05-10 20:23] dmcnaught commented on #363
@ryanwalls I've been using 13a0dfbfc44f6c025363e612b469786a3cca091b on k8s 1.5 - right before the 1.6 changes...

[2017-05-11 00:42] atombender commented on #135
If you're using Prometheus' `role: endpoints` to discover node_exporter, you will only get the service metadata.

You should use `role: node` instead, i.e. go directly against the node port for every exporter; that will give you host names, via the `__meta_kubernetes_node_name` label. Here's what we use on Google Cloud:

[code]

[2017-05-11 07:30] gianrubio commented on #326
Same issue on high memory consumption here, I'm on prom 1.6 and operator 0.9.0.
Fixing the memory `limit` help to the k8s node stability but sometimes prometheus restart, it's acceptable for now.

[2017-05-11 07:43] fabxc commented on #326
We are still investigating. It definitely seems to come from the Kubernetes client library being used in the service discovery. Oddly enough, the memory usage doesn't show in our typical prombench setup.

We are running an instance with an upgraded client library and deduplicating API watches across scrape configuration. The memory usage is significantly lower. It is just not clear yet which of th

[2017-05-11 08:11] geoand commented on #326
I should note that using the same setup I mentioned in the my previous comment and after downgrading to Prometheus 1.5.x, the monitoring infrastructure is working fine.

[2017-05-11 10:47] fabxc commented on #326
It seems like a simple update of the k8s client libraries in Prometheus solves it. PR here: prometheus/prometheus#2704

We'll double check again in an hour and then do patch releases for 1.5 and 1.6

[2017-05-11 10:58] geoand commented on #326
Sounds great!

Once the release it ready, I will immediately use it and post my experience here.

[2017-05-11 12:09] brancz commented on #363
@ryanwalls those errors are just because kubectl was not able to use apply for TPRs pre 1.6. To fix those errors you're having, just replace any `kubectl apply` call to TPRs in the deploy scripts to ` kubectl create`.

[2017-05-11 13:40] brancz commented on #326
1.5.3 and 1.6.2 have been released :)

[2017-05-11 13:48] geoand commented on #326
Wonderful! I will switch to `1.6.3` and report back in a few hours

[2017-05-11 14:41] gianrubio commented on #326
It's planned a new release for prometheus-operator? As I notice it keep changing the image on the statefulset prometheus-k8s so it's impossible to setup the prom version.

[2017-05-11 14:46] xetys commented on #326
you can just tell the prometheus version in the Prometheus config. See

[code]

in https://github.com/xetys/kismatic-prometheus/blob/master/manifests/prometheus/prometheus-k8s.yaml

[2017-05-11 14:51] gianrubio commented on #326
you're right @xetys, thanks!

[2017-05-11 15:23] brancz commented on #135
Sorry for not answering here. This would also be a PromQL query that would allow you to do that without having to use a custom config just to see the nodes name instead of the IP:

[code]

I'm pretty sure it is possible to do this less complex, but this is what I was able to come up with for now.

I'll make sure to update the grafana dashboard accordingly.

[2017-05-12 06:54] geoand commented on #326
I have been running the Kubernetes monitoring infrastructure with the new Prometheus `1.6.2` release for around 16 hours using a limit of 3GB of RAM (2GB of RAM for requested memory) and Prometheus has not entered the rushed state at all (whereas with `1.6.1` and my specific configuration of time series metrics it took only a few hours to enter rushed state).

If anything changes I will let you kn

[2017-05-12 13:09] brancz commented on #127
as we upgraded client-go this is now possible, @fabxc what do you think of @gianrubio's idea of not exposing it directly but rather doing the "HA default"?

[2017-05-12 13:20] brancz commented on #180
having upgraded to the latest release of client-go this is now possible

[2017-05-12 13:37] gianrubio commented on #127
I imagine this as a boolean flag `antiAffinity` and a string flag `antiAffinityTopologyKey` so the user are able to choose the `topologyKey`.

[2017-05-12 13:43] brancz commented on #127
We're currently playing with the idea of using `PodPreset`s for any configuration that is not Prometheus specific, eg. any scheduling configuration.

[2017-05-12 19:52] NiklasMerz commented on #242
I need labels to be transferred to pods. This seems to removed in #345. Do you have any plans to support custom labels? I need to use the exact names without a prefix in my specific use case.

How can I handle this?
[code]

Thanks for helpin.

[2017-05-13 06:20] brancz commented on #242
@NiklasMerz the idea is that you can join any label through the kube-state-metrics `kube_pod_labels` metrics onto the other metrics. Using the `label_replace` function in PromQL you can rename a label to whatever you need. I gave an example of how to do that [here](https://github.com/kubernetes/kube-state-metrics/issues/137#issuecomment-299837471).

[2017-05-13 09:02] NiklasMerz commented on #242
@brancz Thanks for helping. If I understand this right this would help if I could change the Prometheus query. The point is I am trying to get the Gitlab Prometheus integration working so this exact query is executed by Gitlab:

[code]

This means I nedd to change the labels via configuration.

[2017-05-14 18:14] ntfrnzn commented on #326
Also looking good for me.  I upgraded my two test k8s clusters (k8s v1.5.6 and k8s v1.6.2) to the latest prometheus v1.6.2 and they've been stable for 48 hours, no rushed state, prometheus_local_storage_persistence_urgency_score holding below 0.05.

[2017-05-14 18:52] jason-riddle opened #368 "[Question] How can I pass in CLI args to prometheus?"
I need to change the path prefix that prometheus is using for the graph in order to properly render assets since I'm an ingress and forwarding to a service. My ingress is currently forwarding traffic on `/prom`, but once forwarded the javascript and css assets are not loading since they start with `/static`. It looks like the web prefix for the graph can be changed with the following CLI arg.

[co

[2017-05-14 20:51] fabxc commented on #368
The Prometheus TPR spec provides a field for the route prefix directly:
https://coreos.com/operators/prometheus/docs/latest/api.html#prometheusspec

On Sun, May 14, 2017 at 8:52 PM Jason Riddle <notifications@github.com>
wrote:

[2017-05-14 20:52] fabxc commented on #326
Great, looks like this is solved. Also saw much better behavior in another k8s setup myself.
Closing here then.

[2017-05-14 20:52] #326 closed

[2017-05-14 21:31] jason-riddle commented on #368
Awesome, thanks.

[2017-05-14 21:31] #368 closed

[2017-05-14 23:43] jason-riddle commented on #357
So I followed the instructions in #360, but I'm still stuck with "forbidden" access. Is there anything else need to be done? Do the credentials need to be recreated or do any other commands need to be ran?

[2017-05-15 02:22] ryanwalls commented on #363
@dmcnaught When I use that commit 13a0dfbfc44f6c025363e612b469786a3cca091b, it has errors spinning up the alertmanager statefulset.

[code]

It seems to be looking for a ConfigMap named `main` that doesn't seem to be created.

[2017-05-15 06:24] gytisgreitai commented on #357
Should be fine just with that command.

- What Kubernetes version are you using?
- Do you see your clusterrolebinding when doing `kubectl get clusterrolebinding` ?
- What does `kubectl get clusterrolebinding [yourclusterindingname] -o json` output?

As a quick hack you can do `kubectl proxy` and apply those failed yamls via `create`

[2017-05-15 07:14] brancz commented on #363
In the `v0.7.0` release we replaced all uses of `ConfigMap`s for configurations to `Secret`s, as the Alertmanager and Prometheus configs may contain secrets.

https://github.com/coreos/prometheus-operator/releases/tag/v0.7.0

[2017-05-15 14:19] ryanwalls commented on #363
@brancz The only thing I can think of is that somehow the tagged `v0.7.0` prometheus operator has the wrong version of the alertmanager thirdpartyresource somehow.   Because I can definitely see it should be trying to load the secret instead of the configmap from https://github.com/coreos/prometheus-operator/blob/43fdeb95df2003c216b63a2cc486c052033bd4c7/pkg/alertmanager/statefulset.go#L234-L243, b

[2017-05-15 14:51] brancz commented on #363
The TPR is just a mean of storing arbitrary data, the registered TPR has not changed since inception. The only difference is how the Operator handles the content of a TPR differently. You're referencing different commits of code and usage. Can you elaborate which versions you are using and if the Alertmanager pod stays this way, maybe you can post the, pod yaml so we can investigate further. Thank

[2017-05-15 15:44] dmcnaught commented on #363
@ryanwalls I didn't see/notice that error, but looking at my notes I did see problems with data not appearing in Grafana.
My clusters are actually running
https://github.com/coreos/kube-prometheus.git at 333bd23434a8da6ed8bf4b6e57e72e71f75dbc40

[2017-05-15 16:41] jason-riddle commented on #357
- `kubectl version`

[code]

- I do see my clusterrolebinding.

[code]

- `kubectl get clusterrolebinding myname-cluster-admin-binding -o json`

[code]

I literally used the name `myname-cluster-admin-binding`, but that shouldn't be an issue correct?

[2017-05-15 19:34] ryanwalls commented on #363
@brancz Yeah, I'm not entirely clear on how the versions inter-operate with respect to TPRs.

Using the commit the @dmcnaught mentioned, when I run the `/hack/cluster-monitoring/deploy` script, I get two stateful sets created.  One called `alertmanager-main` and one just called `main`.  This seems odd as previous versions created only one stateful set for alertmanager.
![image](https://cloud.githu

[2017-05-15 19:46] dmcnaught commented on #363
@ryanwalls - yes - that version is pre secret replacing configmaps for config...

[2017-05-15 19:53] ryanwalls commented on #363
@dmcnaught Thanks.  Yeah I see that now.  I think the earlier commit you mentioned https://github.com/coreos/prometheus-operator/commit/13a0dfbfc44f6c025363e612b469786a3cca091b was creating a Secret but the Alertmanager was looking for a ConfigMap.  I think I have enough to get it working now.

If I get a working example with 1.5, then I'd be happy to create a PR with a README that has instruction

[2017-05-15 20:34] ryanwalls commented on #363
@dmcnaught @brancz Thanks for all the help, but keep hitting more issues...  Rules for alerting on k8s don't seem to be mounted in the prometheus pod.  So there are no alerts in prometheus.

Also, the targets to the kubelets and kubernetes endpoints are down.
![image](https://cloud.githubusercontent.com/assets/842653/26078064/7d5ae78e-397b-11e7-8192-e6a2a0f9e6d1.png)

I think I'm going to wave the

[2017-05-16 06:58] gianrubio commented on #284
I don't agree with you on `servicemonitor` can only run on operator namespace. However this operator is really consistent and has a good architecture so I'm closing this issue for now.

[2017-05-16 06:58] #284 closed

[2017-05-16 07:26] fabxc commented on #284
To clarify, ServiceMonitors have to be in the same namespace as the Prometheus TPR but Prometheus TPRs do not have to be in the same namespace as the operator.
ServiceMonitors can reference services running in namespaces outside of its own.

If a Prometheus could include ServiceMonitors outside of its own namespace, which in return include services outside of their own namespaces, it becomes extre

[2017-05-16 08:11] brancz commented on #363
That commit is ancient for the speed of this project. I'd definitely recommend upgrading to 1.6 as soon as you can. Other than that there are only minor differences that would be necessary for current master to work on a 1.5 cluster. My guess would be that you have to change all `kubectl apply` calls in the `hack/` scripts to `kubectl create` as there were issues in 1.5 that did not allow `kubectl

[2017-05-16 08:33] brancz commented on #322
@ds0nt do you want us to pick up on this or do you think you can do a PR for this?

[2017-05-16 08:47] gytisgreitai commented on #357
Well I've just tested this on 1.6.2 and it seems to work fine for me.
And `gcloud info | grep Account` outputs `<my-gmail-username>@gmail.com` yes?

What access rights does this email have on iAM ?

[2017-05-16 14:07] jason-riddle commented on #357
- Yes, `gcloud info | grep Account` outputs my email.
- This user is an Owner on the project.

![screen shot 2017-05-16 at 9 59 28 am](https://cloud.githubusercontent.com/assets/2156866/26110120/54011580-3a1f-11e7-97d2-102b9c079cd6.jpg)

I'll let this issue die out since it only seems to be my problem, but I'll report back if I find a fix.

[2017-05-16 16:36] ohaiwalt commented on #256
Also interested in this, and we're currently using blackbox exporter to monitor availability for external services to give us a bit of a clearer picture of what a user is seeing until the rest of our monitoring shapes up.

[2017-05-17 02:34] ds0nt commented on #322
Yeah, sorry about that.

I'm not sure I know what to write, so it might be faster if you guys picked up on it.

[2017-05-17 02:36] ds0nt commented on #322
How much would I write about the endpoints object?

Or could I just say something simple like "make this field here match that field there".

If something simple like that will do, then I can write it ;)

[2017-05-17 08:08] brancz commented on #322
I think a simple like "create a service and put the name there" in a few sentences suffices. Thanks!

[2017-05-17 09:57] f0 opened #370 "Using Gi for Memory Requests does not work"
**What did you do?**
Change the Memory Request from the default to 16Gi for the prometheus pods

**What did you expect to see?**

prometheus pods have a Memory request of 16Gi

**What did you see instead? Under which circumstances?**
No change

**Environment**
CoreOS Stable
prometheus-operator dfc74ae4c704aa4913cf88da89e9f2ceeb8f1d4c
* Kubernetes version information:
[code]

* Kubernetes cluster k

[2017-05-17 15:49] dkoshkin commented on #261
Just found this and running into the same issue, does this metric only work when using the operator, Im trying to get these charts to work using helm charts but not able to :(.

[2017-05-17 15:55] mxinden commented on #370
I am having difficulties reproducing this issue on a Kubernetes `1.6.2` (On AWS with the tectonic-installer:1.6.2-tectonic.1) with the *kube-prometheus* manifests. Specifying requested memory via `Gi` does not prevent the pods from starting up. The string "16Gi" does match the RegExp from the error message.

Can you try this again on  a fresh cluster?

[2017-05-17 15:58] brancz commented on #261
It does not _only_ work with the Prometheus Operator, but it makes is especially easy to scrape them, and with out of the box configuration from kube-prometheus that will work pretty much one-click.

As there is currently just a Prometheus Operator chart I'm unsure I understand which charts you are referring to @dkoshkin .

[2017-05-17 16:01] dkoshkin commented on #261
My bad @brancz I should have specified I was playing around with https://github.com/kubernetes/charts/tree/master/stable/grafana

[2017-05-17 16:20] ryanwalls commented on #363
@brancz If I was to contribute a helm chart, what's your vision for where it would live and what it would encompass?  I see there's already a chart for prometheus-operator here: https://github.com/coreos/prometheus-operator/tree/master/helm.

So would you want to add to that existing chart to include more of what `kube-prometheus` does?  Or would you envision a separate chart that is put in https:

[2017-05-17 16:36] cemo commented on #261
I explained in other message but might be better to stay at here too. Default scrape interval is 1m and dashboard is using 1m for rate function. So there is not enough data for rate function. Change dashboard interval to 2m or decrease scrape interval to 30s.

[2017-05-17 17:07] dkoshkin commented on #261
Thanks @cemo that worked!

[2017-05-17 17:49] f0 commented on #370
@mxinden hm, i can not easy setup a new cluster, because its running on bare Metal..... and its used.
I completly removed the prometheus operator (with hack, teamdown) and added again, same Problem

[2017-05-17 18:17] ryanwalls opened #373 "Update helm chart to include all features of contrib/kube-prometheus for cluster monitoring"
There is a helm chart that @mgoodness started in the `helm` directory.  Ideally, it would have all the features of the `contrib/kube-prometheus` scripts.  i.e.  It would be great to have a single helm chart that installed a full cluster monitoring solution.

From what I can tell, the chart currently only installs the prometheus operator.

This would help with issues like #363 where people want to

[2017-05-17 18:34] mgoodness commented on #373
#277 will provide this, along with a few other stand-alone charts I'm working on now. I promise it won't be much longer

[2017-05-17 23:00] doublek opened #374 "Alertmanager endpoints configured inside Prometheus disappear after a few seconds"
**What did you do?**
Configure Prometheus alerting endpoints using `AlertmanagerEndpoints`.
**What did you expect to see?**
Expected alertmanager endpoints to be correctly listed under `status` Prometheus path (Runtime & Build Information).
**What did you see instead? Under which circumstances?**
The Alertmanager Endpoints correctly showed up for a few seconds and disappears. This happens the firs

[2017-05-18 02:44] Gouthamve opened #375 "Changing retention period deletes all data"
**What did you do?**

Add `retention: 360h` to spec and execute `kubectl update -f prom.yaml`.

**What did you expect to see?**

Prometheus is restarted with the new retention flag. All existing data is still there.

**What did you see instead? Under which circumstances?**

All data has been lost.

**Environment**

* Kubernetes version information:

[code]

* Kubernetes cluster kind:
A four node c

[2017-05-18 02:54] Gouthamve opened #376 "Change the default retention to be 360h"
To be inline with Prometheus default.

[2017-05-18 06:11] brancz commented on #374
Yes we discovered this recently as well, it is a problem with Prometheus itself though. I created a PR there to fix it: https://github.com/prometheus/prometheus/pull/2731. We should be able to release Prometheus including this patch by today or tomorrow..

[2017-05-18 08:42] brancz commented on #373
Yeah @mgoodness is already working on this, so if he needs any help then I'll let him coordinate.

@mgoodness let the community know if/how they can help, the more people working on it the better :wink:

[2017-05-18 08:45] brancz commented on #375
Changing the retention causes a deployment and if your Prometheus instance's data is not backed by a Persisent Volume there is little we can do about this. So the way to go here is to either provision Persisent Volumes yourself that match the criteria of the Persisent Volume Claim. Checkout our [storage documentation](https://github.com/coreos/prometheus-operator/blob/master/Documentation/user-gui

[2017-05-18 08:47] brancz commented on #370
@f0 you may want to ensure that StatefulSets are completely deleted after the teardown script. Since the teardown script also deletes the Prometheus Operator it may not clean up the failing StatefulSets, if it was ever able to create.

[2017-05-18 08:47] #375 closed

[2017-05-18 11:44] brancz commented on #376
This was chosen intentionally as we are expecting a much higher series churn in a Kubernetes environment than for Prometheus in general. The real value of monitoring is alerting and for 99% of alerting you will not need more than the past 12h of data, so 24h should be plenty. When people have a different opinion what they need then they can set that explicitly :slightly_smiling_face:

[2017-05-18 11:44] #376 closed

[2017-05-18 11:45] brancz commented on #374
The PR on the Prometheus repo is merged so closing here.

[2017-05-18 11:45] #374 closed

[2017-05-18 12:25] galexrt opened #378 "Missing url/path_prefix option for Alertmanager endpoints"
Prometheus instance doesn't use the `externalURL` path, rendering all requests to the Alertmanager from prometheus a 404:
[code]
The path with my set `externalUrl` would need to be: `http://1.1.1.5:9093/example/api/v1/alerts`.

I think there a) should be a `path`/`path_prefix` option added to the alertmanagerendpoints API object [0] or b) the config should automatically set/add the path of the `ex

[2017-05-18 12:57] brancz commented on #378
Essentially that means the route prefix and external url should behave the same way as they do in Prometheus. As mentioned in #342 this will first have to actually be implemented in the Alertmanger before we can implement it here. As #342 tracks the same thing as this I'll close this here as a dupe.

[2017-05-18 13:05] brancz commented on #378
Actually I think I was a bit too quick here .. while route prefix is necessary this should indeed also be configurable on Prometheus side.

[2017-05-18 18:53] f0 commented on #370
@brancz  ok, you are right after teardown, there are alertmanager and prometheus StatefulSets and a Prometheus Deployment leftove.
However, if i change the memory request and apply with  kubectl apply -f manifests/prometheus/prometheus-k8s.yaml, it does not work...

If i  change the memory request before installing the operator, it does work.....

[2017-05-18 20:31] ds0nt commented on #322
https://github.com/coreos/prometheus-operator/pull/379

[2017-05-19 07:37] brancz commented on #322
Closed by #379

[2017-05-19 07:37] #322 closed

[2017-05-19 10:41] jollinshead opened #380 "All Prometheus' targets are omitted if any single ServiceMonitor is configured incorrectly"
We had:
- prometheus-operator running in its own namespace
- multiple ServiceMonitors in different namespaces which allowed Prometheus to scrape metrics from various sources

...however, when a new ServiceMonitor was created with a port number used (rather than the port name) all targets are removed from Prometheus.
[code]
We understand port numbers are invalid (only names are valid), but the inva

[2017-05-19 12:03] brancz commented on #380
Yes this is something that shoulnd be part of validating manifests at creation time. Sadly this is currently not possible with third party resources, and I'm hesitant to making gracefully failing on errors in the workqueue, because that will likely cause actual errors to be swallowed and never seen.

Validation at time of creation will be possible one day though using user aggredated apiservers, w

[2017-05-19 17:28] ohaiwalt commented on #343
Also experiencing this in two clusters (one prod, one not) after upgrading from operator `v0.2.1` to `v0.9.0`, Prometheus `v1.5.1` to `v1.6.2`, and transitioned from custom config to using ServiceMonitors. Both clusters are 3-master on AWS, with >15 nodes each.

Did you happen to learn any more @gianrubio?

[2017-05-20 00:52] ohaiwalt commented on #343
Curiously the value is also 8 for me using the above query

[2017-05-20 14:13] galexrt commented on #135
Thanks for the help @brancz!
Closing for now as there is a solution.

[2017-05-20 14:13] #135 closed

[2017-05-21 08:20] 21stio opened #381 "Operator deployed Prometheus pod is restarting the whole time"
**What did you do?**

Deployed operator with coreos/prometheus-operator/bundle.yaml. Created prometheus object

**What did you expect to see?**

A healthy prometheus pod

**What did you see instead? Under which circumstances?**

The `prometheus-prometheus-0`'s containers are restarting (terminating, containercreating, running, termi..) the whole time. I deleted the Operator what made the `promethe

[2017-05-21 13:15] galexrt commented on #381
I'm experiencing the same issue with Kubernetes `v1.5.3` and Operator version `quay.io/coreos/prometheus-operator:v0.9.1`. I have a replica of 2 and the first one is always killed and restarted after ranging from 2 to 4 minutes.

[2017-05-22 08:12] fabxc commented on #381
Which operator version did this start with for you?

[2017-05-22 09:15] brancz commented on #381
hmm .. I cannot reproduce .. @21stio can you give us the output of `kubectl get pod prometheus-prometheus-0 -oyaml` .. maybe the status object can tell us why the container/pod was restarted

[2017-05-22 11:48] 21stio commented on #381
@fabxc I'm this image `ec264f462e568b53de2519a062c3644d
    Image:`

@brancz the status object is changing, frequently

[code]

[code]

[2017-05-22 12:15] Karnich opened #382 "[Suggestion] Apply service-monitor labels to the targets"
Since the removal of automatic relabelling of Pod and Service labels onto targets, i have been looking for a new way to get labels to the target without having to join with the kube-state-metrics.

I have arranged my service monitors by products. Basically the labels the service monitor looks for should not change, and therefore making it possible to apply labels to the targets through the service

[2017-05-22 12:46] brancz commented on #382
Are you thinking of a static list of labels that would be added to the targets where you specify both key and value, or were you thinking of while-listing labels of Pods that should be relabeled onto the targets?

[2017-05-22 14:44] galexrt commented on #381
For me this also started with `0.9.1`. As mentioned when the Operator isn't running after creating a Prometheus instance it works fine (= the container isn't killed).

[2017-05-22 14:47] brancz commented on #381
@galexrt are you also on a GKE cluster?

[2017-05-22 14:50] galexrt commented on #381
@brancz I'm on a bare metal Kubernetes cluster (2 masters, 4 nodes; deployed with kubernetes/contrib Ansible; Kubernetes version: 1.5.3).

[2017-05-22 14:54] brancz commented on #381
This suggests that it has to do with the config reload container crashing:

[code]

Also I'm unsure where these tolerations are coming from:

[code]

Although I don't think this has anything to do with it maybe you can try increasing the memory request? Depending on your cluster size 400Mi might be a little too low.

[2017-05-22 18:16] Karnich commented on #382
i was thinking both the key and the value. maybe prefix the key with sm_ or something like previously where pod_ was prefixed because it was pod labels?

whitelisting could also be a possibility, but i think that approach is tedious when having many labels?

example:

[code]

[2017-05-23 11:55] Karnich commented on #381
I ran into this problem just now. Where prometheus-k8s-0 was constantly restarting duo to receiving SIGTERM. I traced it down to me having an old prometheus instance running in another namespace. When i removed that one the restarting stopped.

[2017-05-23 12:49] brancz commented on #381
Interesting @Karnich ! Sounds like a deployment did not go through correctly. Can you describe in more detail? Was this a Pod that was left over? A StatefulSet? Was it in terminated state, etc.?

[2017-05-23 13:22] 21stio commented on #381
@brancz just tried w/ `requests.memory: 1000Mi` on the prometheus object, same behaviour..

I can give you access to my cluster, that one is just a playground

[2017-05-23 17:56] Karnich commented on #381
@brancz it was a leftover deployment i believe.. I actually do not remember the details.. I just remembered seeing a prometheus pod in a namespace it did not belong to. And i think it was a deployment and replicaset but im not 100%. It was just guess work to remove it and see if it was the reason to the restarting.

It was living well with prometheus-operator 0.8 but was interfering with 0.9. weir

[2017-05-23 20:37] 21stio commented on #381
Also just deployed v0.8, it's working fine now..

[2017-05-24 04:55] TamalSaha opened #384 "MonitoringV1alpha1Client does not implement v1alpha1.MonitoringV1alpha1Interface"
Hi,
I noticed that MonitoringV1alpha1Client does not implement v1alpha1.MonitoringV1alpha1Interface. Is that intentional?
[code]

[2017-05-24 07:59] brancz commented on #381
Fascinating, I have multiple clusters running 0.9.1 and have not been able to reproduce. I am currently busy otherwise, does your offer of debugging on your cluster still stand @21stio ?

[2017-05-24 08:15] codesuki commented on #381
Same thing happens here too. I tried starting with a fresh cluster and applied the configs again. Same. Weird that as @Karnich said above, pod-0 gets killed but pod-1 runs fine.

[2017-05-24 08:40] codesuki commented on #381
After some investigating I found this pullreq https://github.com/coreos/prometheus-operator/pull/331
Seems to be related. After checking what it does (comparing spec), I compared the spec myself doing `kubectl describe statefulset prometheus-main` and `kubectl describe pod prometheus-main-0`.
I noticed that the pod had a default value of
[code]

Which the `spec` was missing because my spec looks l

[2017-05-24 08:44] brancz commented on #381
Great find @codesuki! That makes a whole lot of sense, I'll make sure we fix and release ASAP.

[2017-05-24 08:46] codesuki commented on #381
I love how the changelog says
[code]
The irony... hahaha

[2017-05-24 08:49] fabxc commented on #381
Well, it was meant to trigger it more often, looks like we went beyond success with that :P
But seriously, thanks for debugging – fix will follow.

[2017-05-24 08:51] codesuki commented on #381
Hahaha yeah, I am not criticizing. Actually had a good laugh 👍

[2017-05-24 08:53] brancz commented on #381
none taken - it is indeed ironic :smile:

[2017-05-24 09:23] 21stio commented on #381
great :)

[2017-05-24 10:03] fabxc commented on #381
As @brancz pointed out, rolling update support for StatefulSet is planned work upstream (https://github.com/kubernetes/community/pull/503/files), which does basically what we would implement here – just that we have to work around a bunch of complications for that.

I'd propose rolling back the resource part of #331 for now and wait for upstream handling of this. This just means that resource adju

[2017-05-24 11:12] brancz commented on #384
Nope this is not intentional, we should fix this.

[2017-05-24 15:02] mmerrill3 opened #386 "Support the ability to use the remote_write feature in prometheus to export metrics to graphite or influxDB"
Expected the ability to use the remote_write feature in prometheus to write metrics to a remote time series database like graphite or InfluxDB.

We will most likely be implementing this, so this is a placeholder for a future pull request.

[2017-05-24 15:31] brancz commented on #386
`remote_write` is a highly experimental feature in upstream Prometheus, it is too unstable and changes too quickly for an integration to make sense at this point. Once stabilized it makes sense, but until then I think a custom configuration is the way to go here.

[2017-05-24 22:34] t-trout commented on #250
Could someone please provide an example of how to do this using Promtheus-Operator?  I have been unsuccessful getting access to the ETCD nodes (the endpoints are exposed, but since it requires HTTPS, I need to use the etcd-client.pem and etcd-client-key.pem files generated by kube-AWS when the k8s cluster was generated).

I've tried specifying the tlsConfig for the ETCD service monitor with the ca

[2017-05-26 15:19] TamalSaha opened #387 "How to use with out-of-pod exporters?"
We are trying to use Prometheus operator to monitor our production workloads. We have a number of
use-cases where we want to run exporter as a separate pod from workload. Examples are:

- We are running PostgreSQL database using StatefulSet.
- We run HAProxy based ingress controller using deployment.

The reasons we want to run exporter as a separate pod from workload instead of a side-car are:

-

[2017-05-26 19:17] TamalSaha commented on #387
I have created a pr with a potential solution for this issue in #388

[2017-05-30 15:28] slok opened #389 "Clarify alertmanager configuration and templates documentation"
Hi!

I was configuring the altermanager on the operator and I've reach the point that the documentation wasn't very clear.

I started with the alertmanager configuration, I read the [spec](https://github.com/coreos/prometheus-operator/blob/master/Documentation/api.md#alertmanagerspec) and didn't saw where is the alertmanager configuration set, then I went to the [user guides](https://github.com/co

[2017-05-30 16:28] brancz commented on #389
I'm not sure I understand the question. Do you mean that the last step doesn't work?

[code]

You might need to specify the full path `/etc/alertmanager/config/*.tmpl`.

[2017-05-30 21:04] TamalSaha commented on #387
@brancz, mind taking a look?

[2017-05-30 21:52] brancz commented on #387
I've been traveling the past couple of days and am still badly jetlagged, will have a look as soon as I can - sorry for the delay!

[2017-05-31 07:37] slok commented on #389
Sorry, I didn't explained good enought.

There is no question, what I wrote works like a charm, I just explained how I managed to get it work with the lack of documentation (or at least not clear enought for me). The issue is only to put some little explanation on the user guide or similar of how the configuration and the templates can be set up correctly with the `Alertmanager` resource.

I could

[2017-05-31 10:49] ese commented on #343
We are facing something like this with verb PROXY. Should it be added to the filter? @brancz

[2017-05-31 13:37] brancz commented on #343
@ese that sounds reasonable, I'll add it.

[2017-05-31 13:43] brancz commented on #389
That would be great! PR would be greatly appreciated! :slightly_smiling_face:

[2017-05-31 15:40] #389 closed

[2017-05-31 19:40] mmerrill3 commented on #386
Thanks @brancz, we'll look at the custom configuration

[2017-06-02 21:35] julianvmodesto opened #394 "Use prometheus.io/scrape annotations for k8s service discovery"
I'd like to configure Prometheus Operator to use `prometheus.io/scrape` annotations for Kubernetes Service Discovery. Is Prometheus Operator opinionated in using Service Monitors here or is there a way to configure a new Prometheus to do service discovery off of these annotations?

[2017-06-03 05:45] julianvmodesto commented on #394
Question answered! https://github.com/coreos/kube-prometheus/pull/16#issuecomment-305953469

[2017-06-03 05:46] #394 closed

[2017-06-03 16:17] ccyang opened #395 "Error from server (Forbidden): error when creating "prometheus-operator/prometheus-operator-cluster-role.yaml""
**What did you do?**
Trying to deploy Prometheus to gke

**What did you expect to see?**

**What did you see instead? Under which circumstances?**

Error from server (Forbidden): error when creating "prometheus-operator/prometheus-operator-cluster-role.yaml": clusterroles.rbac.authorization.k8s.io "prometheus-operator" is forbidden: attempt to grant extra privileges: [{[create] [extensions] [third

[2017-06-06 01:02] jer opened #396 "Prometheus pods shouldn't require cluster-wide read access"
When a Prometheus pod is created by the operator, that pod requires the ability to read cluster-wide pods, services, and endpoints. This seems unnecessary, and there is not a clear path to restricting namespace owners to their own namespaces while also providing a Prometheus TPR for them to use.

Here is an example error from the Prometheus pod logs:
[code]

We don't want to give this pod/servicea

[2017-06-06 01:08] jer commented on #396
It just occurred to me that this is probably Prometheus itself, and not the operator. I'll try to open the dialog with them.

[2017-06-06 01:08] #396 closed

[2017-06-06 03:57] ccyang commented on #395
https://coreos.com/operators/prometheus/docs/latest/troubleshooting.html

[2017-06-06 03:57] #395 closed

[2017-06-06 13:46] fabxc commented on #396
Same folks largely :)

Prometheus 1.7 will allow you to configure Prometheus to only consider a fixed set of namespaces. Then you can configure your RBAC accordingly to only give access to certain namespaces.

[2017-06-06 15:08] MattMencel commented on #256
Me too...

I'm trying to figure out how to monitor things external to the k8s cluster.

I.E. WMI exporter and Node Exporter for nodes in our regular VM environment, and snmp and blackbox exporter for ping/snmp monitoring of other devices on our network.

[2017-06-06 15:09] TamalSaha commented on #387
@brancz , sorry for pinging again. I wonder if you can take a look at this issue.

[2017-06-06 16:48] brancz commented on #256
@MattMencel anything not running as part of the Kubernetes cluster or in it is a use case for a custom Prometheus configuration.

[2017-06-06 22:05] MattMencel commented on #256
Yeah that's where I got stuck.  I'm still pretty new to prometheus and k8s.

For now I've got an external prometheus VM where I'm doing some of this monitoring.  Eventually I'm wanting to move it all into the k8s cluster.

Thanks!

[2017-06-07 12:01] brancz commented on #387
While I understand the benefits you are trying to get out of this, I don't think this is a use case we want to support, especially as this would be considered an anti-pattern as it is bypassing all the whitebox assumptions the Prometheus ecosystem uses and is used to. It is definitely the recommendation to run exporters as close to the actual application as possible.

The problems you mentioned ar

[2017-06-07 12:04] brancz commented on #387
If my above argument doesn't convince you or you need this asap, then I would recommend using a custom Prometheus configuration, which you can define yourself by leaving the `serviceMonitorSelector` empty.

I'll close this here.

[2017-06-07 12:04] #387 closed

[2017-06-07 15:34] TamalSaha commented on #387
@brancz , thanks for the reply and also explaining the philosophical underpinning of your reply.

[2017-06-08 00:18] jescarri opened #397 "Feature request: Ability to add extra annotations to the PVC created by the prometheus statefulset."
**What did you do?**
Tried to add extra annotations to a PVC created by the prometheus statefulset

**What did you expect to see?**
Being able to add extra annotations to the pvc created by the prometheus statefulset, this is useful for tagging dynamically provisioned EBS Volumes.

**What did you see instead? Under which circumstances?**
The current storage spec does not have a field for extra ann

[2017-06-08 06:19] eugene-chow opened #399 "How to configure alertmanager to use a forward proxy?"
Hi guys, I installed prometheus-operator on k8s 1.6.4. Outgoing traffic from the cluster goes thru a corporate proxy.

Based on [this issue](https://github.com/prometheus/alertmanager/issues/628), it seems like alertmanager can pick up `https_proxy` from the environment. However, the [docs](https://coreos.com/operators/prometheus/docs/latest/api.html) don't indicate how to configure it in the aler

[2017-06-08 14:06] brancz commented on #399
I realize this is something that is required, but IIRC it is merely a coincidence that the environment variable works for the Alertmanager. I would like to make sure that we have a lasting solution here.

[2017-06-08 14:34] eugene-chow commented on #399
I’ve scanned thru Alertmanager’s logs and nothing is mentioned about configuring a proxy. For the time being, is it possible to inject the proxy env vars into the Alertmanager manifest?

[2017-06-08 14:47] brancz commented on #399
The problem is that it is not clear whether the proxy should be configured via the configuration file or otherwise. Typically all Prometheus projects are _only_ configured via configuration file, and this case that the proxy is usable via environment variable is pure coincidence, because of how the underlying http client works. I would like to avoid introducing things in the Alertmanager/Prometheu

[2017-06-08 14:53] eugene-chow commented on #399
I understand the importance of doing this the right way. Do you mean that there isn’t a way to pass the env vars to Alertmanager in Prometheus-operator? I’m seeking a temporary quick fix while we work out the correct way for the long haul.

[2017-06-08 14:55] brancz commented on #399
There is currently no way to do this with the Prometheus Operator, as you can't control the StatefulSet that the Prometheus Operator creates for the Alertmanager cluster. If that is indeed something you need right away, I would suggest to not use the Prometheus Operator for that Alertmanager cluster and configure it manually right now. It is definitely something we need to address though.

[2017-06-08 14:58] eugene-chow commented on #399
Thanks for the confirmation :) I’ll open a ticket with the Alertmanager folks and see what they say.

[2017-06-08 14:59] brancz commented on #399
Go for it! As I said pretty much the same folk as here, so talk to you there :smile:

[2017-06-08 18:45] tsloughter commented on #373
Since #277 was merged does this mean this issue is "resolved"?

One thing I noticed when looking through the helm charts (currently using the kube-prometheus scripts and want to switch to helm since everything else we do is through helm charts) I noticed that the `kube-prometheus` chart does not have `prometheus-operator` as a requirement.

Does that mean I would want to install both of them separ

[2017-06-08 19:38] gytisgreitai commented on #355
I have a somehow related question. We're also on GKE and get alerts for `K8SControllerManagerDown` and `K8SSchedulerDown`. So what I've done is deleted those from .rules files, created yaml via `hack` script and applied that yaml file.
Those Rules no longer show up in prometheus, and not in alertmanager.
However, I get constant alert about  `Firing` and `Resolved` for these alert to the slack chan

[2017-06-08 23:21] mgoodness commented on #373
Yes, you need to install the `prometheus-operator` chart first. That's the only way to guarantee that the ThirdPartyResources types exist before the `kube-prometheus` chart instantiates them.

We'll continue to refine the charts, but you're right that this issue can be closed.

[2017-06-08 23:21] #373 closed

[2017-06-09 05:23] archSeer opened #402 "basicAuth secret configuration is backwards"
The [BasicAuth section of the API docs](https://github.com/coreos/prometheus-operator/blob/master/Documentation/api.md#basicauth) says that [v1.SecretKeySelector scheme](https://kubernetes.io/docs/api-reference/v1.6/#secretkeyselector-v1-core) from Kubernetes is used. Based on that spec, the `name` is the name of the secret to use, and `key` is the key inside that secret. I specified it accordingl

[2017-06-09 06:43] brancz commented on #402
@gianrubio do you think you can have a look at this?

[2017-06-09 07:53] gianrubio commented on #402
It's a mistake, I'll submit a PR to fix it.

[2017-06-09 07:54] archSeer commented on #402
That will break backwards compatibility though :/
On Fri, 9 Jun 2017 at 16:53, Giancarlo Rubio <notifications@github.com>
wrote:

[2017-06-09 07:57] brancz commented on #402
It's a bugfix, so it'll need to be done. The reality is that any change will always "break" someone. To upgrade properly you should use it the way it works right now and then once we release this you delete your Prometheus Operator, change the values in the TPR and deploy the new version of the Prometheus Operator. Without breaking your cluster that upgrade path will work.

[2017-06-09 12:31] galexrt commented on #378
@brancz With the latest version `0.10.0`. This is still happening with `routePrefix` set.
[code]
I think an option for the `routePrefix` of Alertmanagers needs to be added in the [AlertmanagerEndpoints](https://github.com/coreos/prometheus-operator/blob/master/Documentation/api.md#alertmanagerendpoints) object. How else can this be fixed in the code?

[2017-06-09 12:48] brancz commented on #378
In the latest release of the Alertmanager (v0.7.0) the `-web.route-prefix` flag was introduced. So in the latest Prometheus Operator release we added support for it and default it to root. That way no route prefix has to be configured for any inter cluster communication (including Prometheus itself), while it can still be exposed via ingress for example (with and without path in the external url),

[2017-06-09 14:44] f0 opened #405 "operator crashes after a few seconds"
**What did you do?**
Install prometheus-operator 0.10.0

**What did you expect to see?**
A constantly running prometheus-operator pod

**What did you see instead? Under which circumstances?**
a failing operator pod

**Environment**

* Kubernetes version information:

	inClient Version: version.Info{Major:"1", Minor:"6", GitVersion:"v1.6.4", GitCommit:"d6f433224538d4f9ca2f7ae19b252e6fcb66a3ae", Git

[2017-06-09 18:06] brancz commented on #405
Thanks for reporting! I opened #406 to fix this. In the mean time, this only happens when the `replicas` field is unset in your TPR, so just set that to 1 to have the same effect, but no crash. I'll make sure to release a patch release on monday.

[2017-06-09 18:32] f0 commented on #405
@brancz yes i can test #406

[2017-06-09 18:35] tsloughter opened #407 "prometheus pod from kube-prometheus chart fails to create"
**What did you do?**

Use `helm install` to install `prometheus-operator` followed by `kube-prometheus`

**What did you expect to see?**

Prometheus pods and service, along with kube specific metrics being collected.

**What did you see instead? Under which circumstances?**

Prometheus pod is created, runs shortly, terminates and repeats that sequence over and over.

Sometime when asking for the l

[2017-06-09 19:32] f0 commented on #405
@brancz   hm the replica filed is set in the manifests, or do you refer to an other ?
https://github.com/coreos/prometheus-operator/blob/master/contrib/kube-prometheus/manifests/prometheus-operator/prometheus-operator.yaml

[2017-06-09 23:09] jer commented on #396
Thanks a lot for the response! I ended up finding issues tracking this in both repos that I'm now eagerly awaiting :)

[2017-06-10 09:28] brancz commented on #405
Hmm interesting. No, I was indeed referring to that one.

[2017-06-10 09:30] brancz opened #408 "Prometheus route-prefix flag not set to root"
Although defaulting in other regards to the route prefix being `/`, the actual flag is only applied when it is != `/`. The flag should always be added, like in the Alertmanager Pods.

[2017-06-10 10:07] galexrt commented on #378
While configuring the Ingress I forgot to add:
[code]
But I keep getting 404 on the ingress domain.

***

My Ingress manifest:
[code]
The alertmanager manifest:
[code]
When I navigate to `https://alertmanager.example.com/example`, I get:
[code]

[2017-06-12 07:53] #405 closed

[2017-06-12 08:21] gianrubio commented on #402
@archSeer I did the PR, could you check if this fix your issue?

@brancz remember to add a good release note for this change.

[2017-06-12 08:24] brancz commented on #402
Will do @gianrubio ! Thanks a lot! There are a couple of bug fixes pending to be released, so once that is merged we can release 0.10.1.

[2017-06-12 08:25] #408 closed

[2017-06-12 08:26] brancz commented on #407
@mgoodness can you have a look at this?

[2017-06-12 10:01] brancz commented on #370
I'll close this here, feel free to reopen if you feel necessary.

[2017-06-12 10:01] #370 closed

[2017-06-12 10:33] anton-pydev opened #412 "Unable to define additional command-line flags for Prometheus"
Looking at Prometheus API docs and prometheus-operator examples I cannot figure out how to
Define additional command-line flags for prometheus to start with .
For example I would like to define "-storage.local.series-sync-strategy=never" when I start prometheus .
Thanks in advance.

[2017-06-12 11:34] #384 closed

[2017-06-12 11:56] brancz commented on #381
This was fixed by https://github.com/coreos/prometheus-operator/pull/385 and has been released in `v0.10.0`.

[2017-06-12 11:56] #381 closed

[2017-06-12 11:58] brancz commented on #355
@gytisgreitai which version of Alertmanager are you running? I would recommend upgrading to latest `v0.7.1`, as a couple of bugs regarding behavior as you described have been fixed.

[2017-06-12 12:02] brancz commented on #355
@tsloughter you can try creating manual endpoints objects pointing to the scheduler and controller-manager instances, you can look at the `etcd` folder in the kube-prometheus manifests for an example of how to do this. If that works, a contribution would be more than welcome :slightly_smiling_face: .

[2017-06-12 12:08] brancz commented on #342
`-web.route-prefix` has been added to upstream Alertmanager and released with `v0.7.0`. The version used in this repo has been updated and the exposition docs have been adapted.

I tested all types of access: `kubectl proxy`, `kubectl port-forward` and via ingress and all for consistently. Let me know if this works for you as well.

I will close this here.

[2017-06-12 12:08] #342 closed

[2017-06-12 12:19] brancz commented on #386
This is actually a duplicate of #352. Closing here, we'll continue the discussion and updates in the other thread.

[2017-06-12 12:19] #386 closed

[2017-06-12 12:24] brancz commented on #343
The PROXY verb has been added and the PR is merged. Closing here.

[2017-06-12 12:24] #343 closed

[2017-06-12 12:28] brancz commented on #239
Have you been able to test out Prometheus 2.0 alpha releases in this regard? The selinux labeling all files recursively issue mentioned in moby/moby#32892, should not be an issue with Prometheus 2.0 anymore, as the number of files created by Prometheus should be drastically smaller. I realize until Prometheus 2.0 hits a stable release, this is not a valid solution, but it would be great to know wh

[2017-06-12 12:33] brancz commented on #215
As an update of what's going on in the community: there is the idea of custom admission controllers, that automatically and transparently add sidecar containers. The discussion was started mainly around https://istio.io/ to automatically inject sidecar proxies that would terminate incoming ssl traffic, but the same concept should be applicable for authentication means.

[2017-06-12 12:46] brancz commented on #39
As namespace support is merged and released in upstream Prometheus this can now be implemented in the Prometheus Operator.

[2017-06-12 13:55] Hashfyre opened #415 "cannot create ClusterRole, ClusterRoleBinding"
**What did you do?**

[code]
**What did you expect to see?**
[code]

**What did you see instead? Under which circumstances?**

[code]
**Environment**

[code]

* Kubernetes version information:

[code]

* Kubernetes cluster kind:

```minikube```

[2017-06-12 14:00] anton-pydev commented on #415
Cluster Roles are not supported at Kubernetes 1.5 .
Try to upgrade your minikube to 1.6

[2017-06-12 14:00] brancz commented on #415
Your cluster is a v1.5.1 Kubernetes cluster, RBAC was in v1alpha1. It has been promoted to vbeta1 in Kubernetes v1.6.x, therefore your error. Upgrading your kubectl to v1.6 and using `kubectl apply` instead of create should transparently convert the version. (or if this is actually just using minikube, then just use a 1.6 cluster)

[2017-06-12 14:02] brancz commented on #412
I'm unsure whether this flag will still be present in Prometheus 2.0, therefore I'm hesitant to add a configuration option that is 1) questionable to be set in this way and 2) is already at creation targeted to be deprecated in an upcoming release.

[2017-06-12 14:09] anton-pydev commented on #412
I agree . But I am not talking about that specific flag , but about an ability to control command line options .

[2017-06-12 15:39] Hashfyre commented on #415
My bad, I should have passed the flag during `kubectl start`

[2017-06-12 16:03] #415 closed

[2017-06-12 16:05] mgoodness commented on #407
A couple of questions to help me troubleshoot:
- Does `kubectl describe pods <prometheus_pod>` give any indication of why the pod is being terminated?
- Are you providing any additional configuration as part of `helm install`?

[2017-06-12 17:46] tsloughter commented on #407
No, there is no additional configuration.

I don't see any indication why it is being terminated, but could be missing something:

[code]

[2017-06-13 05:10] f0 commented on #405
@brancz   tested  with current master, (https://quay.io/repository/coreos/prometheus-operator-dev), works now, no  crashes

[2017-06-13 05:32] travissutton commented on #407
I'm actually getting the same thing and didn't use helm for the deployment. I used the docs here: https://coreos.com/operators/prometheus/docs/latest/ and my output looks the same. It seems to be related to the default `prometheus-rulefiles` but it's been difficult to troubleshoot. Using GKE with nodes at 1.6.2 and master at 1.6.4 as well.

[2017-06-13 06:40] f0 opened #416 "Service Monitor only works with Name as port"
**What did you do?**
Add a Service Monitor
**What did you expect to see?**
Targets added to Prometheus
**What did you see instead? Under which circumstances?**
Errors in the operattor log, targets not added
**Environment**

* Kubernetes version information:

Client Version: version.Info{Major:"1", Minor:"6", GitVersion:"v1.6.4", GitCommit:"d6f433224538d4f9ca2f7ae19b252e6fcb66a3ae", GitTreeState:"c

[2017-06-13 07:33] brancz commented on #407
GKE clusters are a bit more locked down, you may need to look at these two docs, for the operator in general and for using the helm chart:
- https://coreos.com/operators/prometheus/docs/latest/troubleshooting.html
- https://github.com/coreos/prometheus-operator/tree/master/helm/prometheus-operator#rbac

[2017-06-13 07:40] brancz commented on #416
It's unfortunate that we were inconsistent with the naming of the port field, we should have named it `portName` and then `port` would be a number. Right now I'd recommend using `targetPort` instead, that one can be a number.

@fabxc what do you think of the proposed change? It would be breaking, but better now than later I would say.

[2017-06-13 07:50] fabxc commented on #416
I think we are consistent with K8S core resources. When specifying a port it's an object of `name` (string) and `port` (int). The name is generally optional, sometimes only if just a single port exists. This pattern can be found in pods, endpoints, and services.

When referencing a port of another resource, `port` is an `IntOrStr`, so can either set a fixed port or by port name in the referenced r

[2017-06-13 08:05] fabxc commented on #416
@f0 we went over it again. In fact, the current behavior is the correct one. If you want to define an explicit port (which you should avoid), set it as `targetPort`.

`port` allows referencing a named service port to be scraped for every pod of that service. The actual port number is inferred by which numeric port that named service port binds to for every individual pod.
`targetPort` allows you e

[2017-06-13 08:35] #402 closed

[2017-06-13 08:38] #378 closed

[2017-06-13 08:43] brancz commented on #412
As mentioned in https://github.com/coreos/prometheus-operator/issues/306, custom flags is a non-goal for the Prometheus Operator. The whole point of it is to abstract away, how you're running Prometheus. Specifically storage flags should be abstracted. If there are other flags you want to set that are currently not possible but legitimately should be possible, then that's a missing feature :slight

[2017-06-13 09:16] f0 commented on #416
@fabxc @brancz   ok thx

[2017-06-13 09:18] #416 closed

[2017-06-13 09:22] anton-pydev commented on #412
@brancz  I agree with an approach . However I have ended up recompiling prometheus operator image with new hardcoded command line flags in an attempt to solve production issue .

The issue is scrape jobs stop running with an error :
time="2017-06-11T14:56:58Z" level=error msg="Storage needs throttling. Scrapes and rule evaluations will be skipped." chunksToPersist=1121 memoryChunks=29867 source="s

[2017-06-13 09:32] brancz commented on #412
That makes sense, for that purpose I'd suggest not using the Prometheus Operator until you've found the tuning that satisfies your environment, then when you have those we can see how we can incorporate that into the Prometheus Operator. But yes that is definitely a huge pain point of operating Prometheus, the Prometheus Operator already supports running Prometheus 2.0 alpha versions so you can tr

[2017-06-13 15:10] tsloughter commented on #407
I should note that I am running the operator on GKE successfully in another cluster, which did not use the helm chart. But it wouldn't be the latest master of the operator. So it could be changes in the operator and not the helm chart. Will try this morning with the scripts and see if it does the same thing.

[2017-06-13 16:56] tsloughter commented on #407
I just checked out master and ran the deploy script on the same cluster, after purging the helm chart, and it is successfully running. So it does appear to be related to the helm chart in my case.

[2017-06-13 17:02] tsloughter commented on #407
To be sure I also tried again with the helm charts in current master, it results in the same terminating loop as described above.

[2017-06-14 12:13] gianrubio commented on #256
I'm starting to monitor external services with blackbox and operator so I got onto this issue.

My proposal for this issue and for others that will not be managed by operator is to accept a job append configuration. The `appendJobSelector ` will be attached to the end of the job configuration, generated by prometheus. Below are the prometheus spec and the job configmap.

## Prometheus
[code]

## C

[2017-06-14 13:38] mgoodness commented on #407
I'll try to spin up a GKE cluster in the next few days & see what I can find.

[2017-06-14 16:06] dimthe opened #421 "hack/cluster-monitoring/deploy gives a lot of errors"
**What did you do?**

hack/cluster-monitoring/deploy

**What did you expect to see?**
a working prometheus set up

**What did you see instead? Under which circumstances?**
these errors

kube-prometheus]# hack/cluster-monitoring/deploy
namespace "monitoring" created
serviceaccount "prometheus-operator" created
service "prometheus-operator" created
deployment "prometheus-operator" created
unable to

[2017-06-14 16:19] tsloughter commented on #407
@mgoodness great, thanks!

[2017-06-14 16:25] brancz commented on #421
The RBAC manifests are referencing the `v1beta1` version of the resources, whereas your cluster is 1.5.2 where those were still in `v1apha1`. The errors are valid, the script is meant to be run against 1.6.x clusters. Also keep in mind this is a script in a `hack/` directory :slightly_smiling_face: .

We intend to have broader compatibility with the helm charts. However, the Prometheus Operator un

[2017-06-14 16:25] #421 closed

[2017-06-15 08:31] #397 closed

[2017-06-16 20:39] anton-pydev opened #426 "prometheus_local_storage_memory_series leak over time on an empty cluster"
On a basic cluster setup  3 nodes .
K8s 1.5
Prometheus 1.7
No pods except for  K8s system pods and monitoring pods are running.
prometheus_local_storage_memory_series is growing with time , exploding when it reaches max amount of RAM available .
Number of series is growing without any reason for that.
Probably some ID that changes frequently is being part of a label , but cannot identify where it

[2017-06-16 23:34] anton-pydev commented on #426
I have tried to switch to latest prometheus-operator 0.10.1
And to Latest prometheus v.1.7.1 even tried prometheus v.2.0.0-alpha2
Same result . Prometheus Pod Memory is growing till it scraping stops forever .

Command-Line Flags
alertmanager.notification-queue-capacity	10000
alertmanager.timeout	10s
config.file	/etc/prometheus/config/prometheus.yaml
log.format	"logger:stderr"
log.level	"info"
que

[2017-06-19 15:53] mikebryant opened #430 "Make `defaultBaseImage` configurable for prometheus and alertmanager"
It would be useful to make these images configurable at a cluster level.

We provide a quay mirror inside all of our Kubernetes clusters to save bandwidth, and make them resilient to loss of internet. Currently we can override the `baseImage` in every `Prometheus` / `AlertManager` resource, but we have to tell all the people using the cluster to do so.

If we had a command line argument (like `--p

[2017-06-20 10:11] #39 closed

[2017-06-20 10:12] brancz commented on #426
How long did you leave your Prometheus instance running to observe this? 31 days retention is quite a lot of time as well.

[2017-06-20 13:41] anton-pydev commented on #426
Well this happened after 20 hours

On Jun 20, 2017 13:13, "Frederic Branczyk" <notifications@github.com> wrote:

[2017-06-20 13:57] brancz commented on #426
What is the "max amount of RAM" that you mentioned? Depending on the amount of samples/chunks in memory and the available RAM, this might be fine.

[2017-06-20 14:14] #430 closed

[2017-06-20 18:26] anton-pydev commented on #426
Max amount of RAM is a capping by K8s , I have started with 2G gradually increasing to 32G and even 64G , it just a matter of time till Prometheus  reaches the limit and stops scrapping .

[2017-06-21 11:24] mikebryant opened #436 "Rules loading fails on pod startup"
**What did you do?**
Killed a pod, let it be recreated

**What did you expect to see?**
The pod to start and have all the rulesfiles loaded

I would expect the config-reloader to retry if it fails to reload

**What did you see instead? Under which circumstances?**
The config reloader tried too early, failed, and didn't try again

* Kubernetes version information:

[code]

* Kubernetes cluster kind

[2017-06-21 11:27] mikebryant commented on #436
Quick and dirty solution - have the config-reloader terminate here: https://github.com/coreos/prometheus-operator/blob/master/contrib/prometheus-config-reloader/main.go#L213

(Thus letting kubelet restart it)

[2017-06-21 19:46] xgerman opened #437 "prometheus-config-reloader needs to retry"
**What did you do?**
I started a cluster fresh with prometheus operator. Then I deployed a Prometheus object like in the example.

**What did you expect to see?**
Prometheus to become active.

**What did you see instead? Under which circumstances?**
Prometheus doesn't seem to be active. I am seeing this in the logs:
[code]
From my limited understanding the prometheus object is not getting the conf

[2017-06-21 23:09] hasanatkazmi opened #438 "Exceptionally high IO for Prometheus"
**What did you do?**

Deployed Prometheus operator with 8G memory and 40G persistent volume. Cluster has few more deployments running. In an empty cluster, Prometheus works as expected.

**What did you see instead? Under which circumstances?**

I am seeing high CPU, IO and network usage for Prometheus.
From within Prometheus pod, I can see upto 50 Mbits/s IO, where as the node where this pods runs

[2017-06-22 09:23] jamiehannaford commented on #437
@xgerman What does the manifest look like for `prometheus-prometheus-0`? You can check by running `kubectl -n rackspace-system get pod prometheus-prometheus-0 -o yaml`.

I suspect you're not including [this parameter](https://github.com/coreos/prometheus-operator/blob/fd51262d9abd71ec7bfb6014348dc8e00174286b/contrib/prometheus-config-reloader/examples/prometheus-config-reloader.yaml#L37). That URL

[2017-06-22 09:36] brancz commented on #437
From what I'm seeing all of the above might be ok. The reloader might detect file changes before the Prometheus instance was up and running. Which is intended right now, but might change soon-ish ( #436 ).

A couple of outputs would be helpful here:

* `kubectl -n rackspace-system get statefulset prometheus-prometheus -oyaml`
* `kubectl -n rackspace-system get pod prometheus-prometheus-0`

@jamieh

[2017-06-22 09:37] brancz commented on #436
We should probably have the reloader probe the prometheus container to see that it is "ready" and only then "reload" for the first time.

[2017-06-22 10:06] brancz commented on #438
Yes Prometheus 1.x can be intense on I/O, it's one of the huge improvements of Prometheus 2.0, however, your instance is not reporting any problems. Prometheus will stop persisting, when the underlying storage cannot cope with the speed Prometheus wants.

Also note in terms of memory. Prometheus will attempt to use whatever memory request you give it, meaning it will keep more or less chunks of da

[2017-06-22 11:23] xgerman commented on #437
[code]

[2017-06-22 11:43] brancz commented on #437
Yes. This is a bug that was present in the Prometheus Operator v0.10.0 and v0.10.1, we released v0.10.2 yesterday, that fixes it. It's because the "-web.route-prefix" argument is not being set properly. A quick fix to make it work with your manifest and versions is to simply add the "routePrefix" field to your Prometheus manifest, and set it to "/".

If you upgrade to v0.10.2, it should work witho

[2017-06-22 11:46] brancz commented on #437
Note that you may need to manually delete the pods after making the changes, as the StatefulSet controller does not reconcile the Pods automatically yet.

[2017-06-22 22:43] farcaller opened #443 "Helm charts don't work out of the box"
**What did you do?**
[code]

**What did you expect to see?**

Prometheus working at http://localhost:8001/api/v1/proxy/namespaces/kube-prometheus/services/prometheus-prometheus:http

**What did you see instead? Under which circumstances?**

Prometheus is up and running but has no alerts or services being monitored, despite them being installed:

[code]

**Environment**

* Kubernetes version inform

[2017-06-23 01:03] hasanatkazmi commented on #438
Thanks for clarification @brancz .
I am trying to use Prometheus 2.0 alpha using operator. Can you kindly tell me how can I provide the version number in operator for this? Providing `version: v2.0.0-alpha.3` doesn't work.

[2017-06-23 07:46] brancz commented on #443
@mgoodness ^

[2017-06-23 13:46] farcaller opened #444 "Cannot add serviceAccount to Prometheus object"
**What did you do?**
Tried to enable rbac, following up after erros in prometheus pod console by adding:
[code]

to my
[code]
object.

**What did you expect to see?**
Prometheus is restarted and works as expected with no errors.

**What did you see instead? Under which circumstances?**
Prometheus isn't restarted. Prometheus opreator is stuck.

**Environment**

* Kubernetes version information:

[c

[2017-06-23 14:10] farcaller commented on #443
I poked around and I think I managed to get *some* of those to work. I guess my problem was that I installed prometheus as a dedicated helm app, and that screwed up some of the configuration.

I added the following overrides:

[code]

to make prometheus able to find the relevant rules and service monitors as provisioned by kube-prometheus app. After fixing some rbac issues, I'm only left with a fe

[2017-06-23 15:06] brancz commented on #443
FWIW monitoring etcd is not supported by kube-prometheus right now. There merely an example how it _could_ be done. The RBAC error is because those certificates are not valid for authenticating against the kubelet. Scraping secure kubelets is also not supported right now by kube-prometheus, however, we're working on getting to that, for now I recommend using the insecure port.

[2017-06-24 19:01] bzub opened #446 "helm/alertmanager: Template renders invalid YAML with resources defined"
**What did you do?**
[code]

**What did you expect to see?**
Successful helm install step.

**What did you see instead? Under which circumstances?**
When I specify resources in values.yaml like so:
[code]
I get this error installing:
[code]
And with --debug I can see the YAML that was generated is invalid due to comments in the template:
[code]

**Environment**

* Kubernetes version information:
k

[2017-06-26 12:35] gianrubio commented on #443
Removing [this default](https://github.com/coreos/prometheus-operator/blob/master/helm/prometheus/templates/prometheus.yaml#L51) `serviceMonitorSelector` can help other new users.

If the user didn't specify any `serviceMonitorSelector` we should assume the selector is just `app=prometheus` and the chart kube-prometheus will work properly without any changes.

[2017-06-26 12:40] grrywlsn commented on #284
Is this likely to be revisited?

My use case is that I'd like to delegate monitoring of services within a namespace to the team responsible for that namespace. I'd like for them to be able to to define ServiceMonitors within their namespace, which can be picked up be a centrally managed Prometheus, running in a namespace in which they do not have admin/write access.

[2017-06-26 13:18] brancz commented on #284
It's perfectly normal to shard Prometheus by services or teams, so each team having their own Prometheus instance(s). The integration point is actually the Alertmanager, where the grouping and routing determines who is alerted for which alerts.

[2017-06-26 14:22] eedugon commented on #407
Same problems here...
- prometheus operator and kube-prometheus running fine in an environment using "deploy" script.
- using helm charts (helm install prometheus-operator and then kube-prometheus) I end up with a prometheus port that gets unexpectedly stopped (Received SIGTERM, exiting gracefully).

I'm testing both types of installations under kops created kubernetes cluster on AWS with no rbac

[2017-06-26 22:13] tsloughter commented on #407
@mgoodness curious if you got a chance to try in GKE?

[2017-06-26 22:16] mgoodness commented on #407
I haven't yet, sorry. Going to try very hard to resolve this week.

[2017-06-26 22:26] anton-pydev commented on #426
I have conducted a test on io1 1024GB 10K IOPS  EBS , on EBS optimized  instance .
The test included 1 node K8s cluster  + prometheus operator .
No application rolled out except for Kube system and Prometheus .
After reaching container memory cap  , scrapping job stop forever .
No changes to original latest dev branch accept for adding PVs
Tried to add more RAM to pod but , it just prolongs the en

[2017-06-27 10:06] grrywlsn commented on #256
@gianrubio +1 for the appendJob idea; that's exactly what I'm looking for.

I like the simplicity of ServiceMonitors and would like to use them in most cases, but there are a few jobs in my existing (non-Operator) Prometheus I'd like to carry across, such as monitoring the external etcd used by Kube masters, which can't be expressed as a ServiceMonitor.

[2017-06-27 10:20] brancz commented on #256
@grrywlsn actually in that case what you want to do is create an `Endpoints` object yourself. As this is a common theme for etcd, we've prepared an example for it: https://github.com/coreos/prometheus-operator/blob/master/contrib/kube-prometheus/manifests/etcd/etcd-bootkube-gce.yaml

This issue is about actually blackbox probing your applications. For example performing real HTTP requests on your

[2017-06-27 10:22] brancz commented on #256
@gianrubio the point of the Prometheus Operator is to provide sensible abstractions for Prometheus. Your suggestion starts a bit too low level. We want to build abstractions that are higher up, so people don't need to know the Prometheus/blackbox exporter configuration paradigms.

[2017-06-27 10:48] grrywlsn commented on #256
@brancz awesome, thanks for that example! it wasn't all that obvious from the docs that I could see.

[2017-06-27 10:50] brancz commented on #256
@grrywlsn docs contributions are always welcome! :slightly_smiling_face:

[2017-06-27 12:42] grrywlsn commented on #256
Good to know. I'm working on moving our Prometheus deployments to Prometheus Operator deployments at the moment, so would be happy to update when we've got something good.

[2017-06-27 13:15] gianrubio commented on #256
@brancz so do you think operator will be responsible to manage blackbox-export as same way it take care of alertmanager?

What about a statefulset implementation of blackbox exporter?

[2017-06-27 14:00] brancz commented on #256
The blackbox exporter doesn't have any state of its own, so a StatefulSet would be exaggerated, but some kind of abstraction would make sense, however, currently I am thinking of mainly abstracting the way the blackbox exporter is configured, rather than how it is run. I believe that the integration will look something like the integration of the Alertmanager in the Prometheus object, that we loos

[2017-06-28 09:10] #436 closed

[2017-06-28 09:15] brancz commented on #444
Unfortunately modifying fields of the `PodTemplate` is an illegal action on a `StatefulSet`. This is going to change in the future, so I'm hesitant to make modifications which we would have to revert again soon. In more critical parts we have logic that prevents this part of the `StatefulSet` to be reconciled.

If you think we shouldn't error in this case, I can offer to add the `ServiceAccountNam

[2017-06-28 09:36] farcaller commented on #444
Is re-creating Prometheus StatefulSet an option?

[2017-06-28 09:51] brancz commented on #444
That's exactly what I don't want to build into the codebase today. From what I can tell, StatefulSet upgrades [are being released for 1.7](https://github.com/kubernetes/kubernetes/pull/46669). And 1.7 release is targeted for today :tada:

[2017-06-28 10:06] swestcott opened #455 "How to apply external labels?"
Suppose we have two independent Kubernetes clusters, `prod` and `pre-prod`. For a given service which is deployed to both clusters we deploy the same Prometheus Rules. On `pre-prod` we want alerts to be routed to Slack, while on `prod` they should be routed to Slack and PagerDuty.

To achieve this vanilla Prometheus, it looks like we should apply an external label to the global Prometheus config a

[2017-06-28 10:08] brancz commented on #455
The [PrometheusSpec](https://github.com/coreos/prometheus-operator/blob/master/Documentation/api.md#prometheusspec) has the `externalLabels` field, which is just a yaml map of label-value pairs. Let me know if you have any other questions.

[2017-06-28 10:21] swestcott commented on #455
@brancz Thanks for the prompt response, that's exactly what I'm looking for 👍

[2017-06-28 10:21] #455 closed

[2017-06-28 10:45] brancz commented on #455
Glad I could help :slightly_smiling_face:

[2017-06-28 13:34] farcaller commented on #444
Ah great! Let's keep it open for a day, until I'll roll out 1.7 and would confirm that the new setup is WAI?

[2017-06-29 07:47] gianrubio commented on #256
@brancz I wrote a draft to manage blackbox exporter with prometheus operator as a tpr. Suggestions are welcomed

https://github.com/gianrubio/prometheus-operator/tree/blackbox-exporter/Documentation/proposals/blackbox-exporter#generated-prometheus-config

[2017-06-29 20:10] #437 closed

[2017-06-29 22:29] #438 closed

[2017-07-01 13:09] galexrt commented on #256
@gianrubio Nice draft, but exactly do you mean with the question 1, "the http protocol (http x http) on the service spec"? Should it mean http and https?

[2017-07-02 02:03] xuchenhao001 commented on #430
@brancz Thanks for this fixing! I'm trying to use my custom Prometheus base image, so if you can give an example about this argument?

[2017-07-02 10:52] anton-opsguru commented on #426
Downgrading prometheus version from 1.7.x 1.6.x to 1.5.2 seems to solve the problem .
Probably due to the memory chunks calculation in prometheus-operators that's different for 1.5 versions ( you have specific flow control for that ) .

[2017-07-03 07:50] gianrubio commented on #256
@galexrt it was a typo, fixed now!

[2017-07-03 10:56] galexrt commented on #256
@gianrubio How about changing the `externalName` to `externalNames` in the service and making it a list of `ExternalName`:
[code]
For http probe the address would contain `http://` or `https://` and for others just the address without "protocol".

[2017-07-03 11:49] fabxc commented on #444
@farcaller any update?

[2017-07-03 13:23] farcaller commented on #444
Yep, sorry, just did an upgrade to 1.7 and had to fight a few other breakages.

So, if I go a transition from no `serviceAccountName` to `serviceAccountName: prometheus`, it propagates to StatefulSet, but stateful set won't do anything to the pod and prometheus is still broken.

I'm not sure if that's a StatefulSet bug in k8s or an expected behaviour, but from my prometheus-operator user standpoin

[2017-07-04 12:25] aknuds1 opened #464 "Which is the canonical representation of the operator, the bundle or the kube-prometheus manifests?"
I'm trying to figure out how to install the Prometheus operator, but there is the issue that this repository says either to install it from [bundle.yaml](https://github.com/coreos/prometheus-operator/blob/master/bundle.yaml) or from the [kube-prometheus manifests](https://github.com/coreos/prometheus-operator/tree/v0.10.1/contrib/kube-prometheus/manifests/prometheus-operator), and the two differ f

[2017-07-04 12:43] fabxc commented on #444
Expected behavior. Stateful sets currently do not do any upgrading at this point. We do it instead in the operator but only on a small selection of changes we know we can do safely.
In this case, you could upgrade by killing the pods one by one – they should be automatically restarted with the correct service account.

[2017-07-04 19:39] strowi opened #465 "adding external metrics?"
For hardware/raid-monitoring purposes we currently have the node-exporter running directly on the cluster-nodes

How do we add external endpoints to scrape?

regards,
strowi

[2017-07-05 10:00] fabxc commented on #465
The recommended approach is to create a headless service for which you have your configuration management or similar populate the Kubernetes endpoints object. Prometheus then sees it as just another service.

There are also "external" services in Kubernetes now, which we want to support eventually (#218)

[2017-07-05 12:08] mxinden commented on #464
@aknuds1 If you just want to use the Prometheus operator you should use the `bundle.yaml`. If you want an opinionated way how to monitor your entire k8s cluster, use the `kube-prometheus` project. For a more detailed differentiation between the Prometheus operator and kube-prometheus click [here](https://github.com/coreos/prometheus-operator/tree/v0.10.1#prometheus-operator-vs-kube-prometheus).

I

[2017-07-05 12:16] aknuds1 commented on #464
@mxinden Yeah I understand the logical difference between the two, however it will be an issue if the two go out of sync wrt. how Prometheus Operator should be installed. No-one will know which is the right way, and schizophrenia ensues :/

[2017-07-05 12:23] DonMartin76 commented on #135
I also had this issue, but solved it via relabelling, mapping the `instance` label to the kubernetes node name in my pod scraping configuration:

[code]

Thought it might help somebody.

[2017-07-06 20:48] pts-kevinqiu opened #466 "The storage documentation is inaccurate"
**What did you do?**
Creating a Prometheus object using [kube-prometheus](https://github.com/coreos/prometheus-operator/blob/master/contrib/kube-prometheus/manifests/prometheus/prometheus-k8s.yaml) with the storage spec defined according to the documentation [here](https://github.com/coreos/prometheus-operator/blob/master/Documentation/user-guides/storage.md#storage-provisioning-on-aws).

Here's m

[2017-07-06 22:00] ketzacoatl opened #467 "error from kube: a container name must be specified for pod"
**What did you do?**

Use `helm install` to install `opsgoodness/prometheus-operator`, and then `kubectl apply -f` to deploy an instance of prometheus using the resource spec included below.

**What did you expect to see?**

The `prometheus-operator` create a PVC and an instance of Prometheus (StatefulSet with pod/etc), and then available for use.

**What did you see instead? Under which circumsta

[2017-07-06 22:46] ketzacoatl commented on #467
I get the same error, with the example `Prometheus` resource from https://coreos.com/operators/prometheus/docs/latest/user-guides/getting-started.html.

[2017-07-08 16:46] mindw commented on #466
This affects the alertmanager as well.

[2017-07-09 12:10] ewolff opened #469 "targetPort does not work as advertised"
**What did you do?**

Take the example app at https://github.com/coreos/prometheus-operator/tree/master/contrib/kube-prometheus/hack/example-service-monitoring

Replace `port: web` with `targetPort: 8080` as documented at https://coreos.com/operators/prometheus/docs/0.10.1/api.html#endpoint

**What did you expect to see?**

Metrics should still be display

**What did you see instead? Under which c

[2017-07-09 13:54] tamalsaha commented on #469
cc: @aerokite

[2017-07-10 08:49] fabxc commented on #469
You are right, thanks for reporting. #471 should fix this.

[2017-07-10 08:57] fabxc commented on #466
For Prometheus this was fixed with #451 and was introduced with changes to how storage is declared.

The change was not done for Alertmanager yet and thus the problem shouldn't exist there. The code indicates that we are correctly setting the resources there too. @mindw can you elaborate what you observed?

[2017-07-10 10:50] #469 closed

[2017-07-10 16:36] grrywlsn opened #472 "ServiceMonitor cannot mount additional TLS certs for etcd"
I'm trying to get the ServiceMonitor to scrape my metrics endpoint of my etcd masters (external to the Kubernetes cluster), which use TLS to secure connections.  They have fixed IPs, so I can define them as endpoints, and I'm able to get basic stats in that way from Prometheus node exporter.

The problem is that I cannot define the cert and key file needed for the TLS communication. I'd also be ab

[2017-07-10 20:18] julianvmodesto opened #473 "Adding storage doesn't update the StatefulSet"
**What did you do?**
Added a Storage spec to my Prometheus:
[code]

I then did `kubectl apply -f` with the updated manifest.

**What did you expect to see?**
I expected to see that the StatefulSet would be updated w/ a PVC.

**What did you see instead? Under which circumstances?**
The StatefulSet is still the same and the existing pods were not updated with a PVC.

**Environment**

* Kubernetes ve

[2017-07-10 20:21] tamalsaha commented on #473
@julianvmodesto , StatefulSet updates are supported from Kube 1.7.

[2017-07-10 20:47] fabxc commented on #472
You can specify cert and key file in the `tlsConfig` section of the [Endpoint](https://coreos.com/operators/prometheus/docs/latest/api.html#endpoint) item of the ServiceMonitor.
They accept a file path that is intended to match one of the Secrets which are provided in the `secret` list of the [Prometheus](https://coreos.com/operators/prometheus/docs/latest/api.html#prometheusspec) object. You have

[2017-07-10 21:37] julianvmodesto opened #474 "Allow configuring logs"
Right now, logs can only be configured via command line parameter, not configuration file.

[code]

We're using a paid logging aggregator, and we'd like to (1) set logging output to json and (2) limit the amount of logging e.g. we received upwards of 3.8 million log lines for "checkpointing," which ate up our logging limit.

[2017-07-10 21:37] #473 closed

[2017-07-10 21:38] julianvmodesto commented on #473
Thanks @tamalsaha :)

[2017-07-11 09:09] grrywlsn commented on #472
I figured I could add the cert and key paths there, but didn't realise I could include them in the same Secrets. Thanks, will try that out.

[2017-07-11 22:14] #446 closed

[2017-07-12 11:05] #472 closed

[2017-07-12 14:49] aknuds1 opened #476 "kube-prometheus: Why is AlertManager configuration a secret?"
Why configure AlertManager configuration as a secret in the cluster, considering [it's already public in GitHub](https://github.com/coreos/prometheus-operator/blob/master/contrib/kube-prometheus/manifests/alertmanager/alertmanager-config.yaml)?

[2017-07-12 14:52] mxinden commented on #476
@aknuds1 The Alertmanager configuration is in a k8s secret as it can contain all kinds of secrets e.g. your access token to *Slack*. I am not sure what you mean by "considering it's already public in GitHub".

[2017-07-12 15:23] aknuds1 commented on #476
@mxinden The [secret definition](https://github.com/coreos/prometheus-operator/blob/master/contrib/kube-prometheus/manifests/alertmanager/alertmanager-config.yaml) is in GitHub.

Is it created as a secret because users are to customize the configuration according to their needs?

[2017-07-12 15:29] mxinden commented on #476
@aknuds1 Yes exactly. With the default version there is no point in using a secret, but once you add any credentials ("customize the configuration according to their needs") a k8s secret makes sense.

[2017-07-12 16:19] strowi commented on #465
ah, so i just setup a 2nd 'normal' prometheus which will be scraped. Thx for the clarification!

[2017-07-12 16:19] #465 closed

[2017-07-12 17:13] aknuds1 commented on #476
@mxinden Thanks for clarifying! :) I'm just digging into this stuff, hope you don't mind my asking.

[2017-07-12 17:13] #476 closed

[2017-07-13 10:01] strowi opened #479 "Multi-Apiserver -> Target apiserver flaky"
Hi,

i deployed a 3-Master kubernetes with matchbox. Taking a look at the targets, prometheus shows only a single api-endpoint that seems very flaky, switching the ip between the pods, and changing status between unknown and up..

Is there any solution to this?

[2017-07-13 10:32] galexrt commented on #479
The solution to this is to add a flag to all Kubernetes apiserver called `--apiserver-count=X` where `X` is the count of the apiservers. Then the endpoint is created correctly with all apiservers in them and prometheus should discover them correctly.

[2017-07-13 14:31] george-angel opened #480 "Unable to deploy `v2.0.0-beta.0`"
We are currently running `1.7.1`.

Having updated the `version` of the `Prometheus` type to `v2.0.0-beta.0`, I have then deleted the `StatefulSet`. New one has the correct image: `quay.io/prometheus/prometheus:v2.0.0-beta.0` and following args:

[code]

But is unable to start:

`prometheus: error: unknown short flag '-c'`

[2017-07-13 17:02] strowi commented on #479
thx, it works;)

[2017-07-13 17:02] #479 closed

[2017-07-14 05:43] fabxc commented on #480
We changed our flags to use double dashes (`--`) but forgot to adjust those in the default entry point of our docker container. This is already fixed in HEAD of `dev-2.0`.

In the meantime, overriding the entry point when starting your container should work.
Additonally, `-storage.local.path` is `-storage.tsdb.path` now.

[2017-07-14 12:27] george-angel commented on #480
@fabxc thanks for replying, when you speak of `entrypoint` what do you refer to, I only have access to: https://github.com/coreos/prometheus-operator/blob/master/Documentation/api.md#prometheusspec for modification using the operator.

Which creates the `StatefulSet`. Are you suggesting using our own version of `baseImage` with overridden `entrypoint`?

Thanks

[2017-07-14 12:42] fabxc commented on #480
Oh, my bad – I thought this issue was filed in prometheus/prometheus. For the operator it's our job to make this transition of course.

[2017-07-14 14:20] george-angel commented on #480
Shouldn't https://github.com/coreos/prometheus-operator/blob/master/pkg/prometheus/statefulset.go#L318 have two dashes?

[2017-07-15 01:12] tsloughter commented on #407
@mgoodness hey, just pinging to check if you got a chance to try on gke.

[2017-07-16 02:18] vnandha commented on #480
@fabxc Is the flag `storage.local.target-heap-size` is supported in 2.x ?  (looks like it is not from the --help).

What is the alternate way/flags to control memory?

[2017-07-17 06:27] lwolf opened #481 "unable to change configuration"
**What did you do?**
I have a tectonic cluster. Prometheus-operator was installed as part of it. I want to increase resource requests and retention by editing Prometheus object (not sure if this is the best way)
`kubectl edit Prometheus k8s --namespace=tectonic-system`
After saving, Statefulset is getting recreated but after a few minutes, its getting killed. The new one, recreated after this has

[2017-07-17 10:18] brancz commented on #466
The state of the `master` branch is only what will be released with the next release, which will deprecate the current storage declaration. Documentation on the current usage can be found on [coreos.com](https://coreos.com/operators/prometheus/docs/latest/user-guides/storage.html).

[2017-07-17 10:22] brancz commented on #430
Taking the [kube-prometheus Operator deployment manifest](https://github.com/coreos/prometheus-operator/blob/master/contrib/kube-prometheus/manifests/prometheus-operator/prometheus-operator.yaml) as an example.

The `args` list would just need the additional flags `--alertmanager-default-base-image=quay.io/prometheus/alertmanager` and `--prometheus-default-base-image=quay.io/prometheus/prometheus`

[2017-07-17 10:24] brancz commented on #426
I'm still curious though how this still occurs in 2.0 as you mentioned, as 2.0 doesn't have anything like this anymore.

[2017-07-17 10:59] anton-opsguru commented on #426
@brancz  Its sounds weird , but I install a new K8s cluster , with everything default . And rollout default prometheus-operator on AWS with i3.4XL instances and IO1 10K IOPS volumes
And the only think that run on a cluster is prometheus stack . And nothing but prometheus 1.5.2 works stable .
All the rest stops scrapping after few hours when it reaches heap size .
I have tried running with 2-4-6-32

[2017-07-17 12:03] brancz commented on #256
@gianrubio thanks a lot for your effort. I was two weeks on vacation, and am catching up on everything as quickly as I can. I have some comments regarding the proposal.

* I don't think the BlackboxExporter resources is necessary. As far as I can tell everything described by it is perfectly possible with a normal `Deployment` and a `ConfigMap`. I don't think users actually win anything as the same

[2017-07-17 12:18] brancz commented on #464
FWIW the bundle is generated and I have plans to generate the root bundle and the kube-prometheus manifest from a canonical source, but it's not very high in prio right now, but I completely understand the confusion.

Maybe a section in the docs to explain that only one operator is needed whichever namespace is runs in, would solve lots of the confusion already.

[2017-07-17 12:21] brancz commented on #135
@DonMartin76 thanks for sharing!

Just to make sure this doesn't confuse anyone. The sample posted by @DonMartin76 is only possible if one writes the Prometheus configuration themselves, which is supposed to be automated by the Prometheus Operator, which is why I would recommend doing it at query time, but both works.

[2017-07-17 12:33] DonMartin76 commented on #135
@brancz Thanks for clarifying. Indeed, we are not (yet) using the Prometheus Operator.

[2017-07-17 12:41] brancz commented on #426
That does sound very odd, as we're not experiencing anything like that upstream as far as I can tell (I'm also an upstream Prometheus maintainer/contributor). Can you post your Prometheus resource yaml and the generated statefulset manifest?

[2017-07-17 12:52] aknuds1 commented on #464
Your plan to generate root bundle and kube-prometheus manifest from the
same source sounds like the way to go.

On Mon, Jul 17, 2017 at 2:18 PM Frederic Branczyk <notifications@github.com>
wrote:

[2017-07-17 13:03] brancz commented on #481
For Tectonic there is actually a `ConfigMap` called `tectonic-monitoring`, where you can configure these values. The documentation for this has not been released yet, but you can find the configuration here: https://github.com/coreos/tectonic-installer/blob/master/modules/tectonic/resources/manifests/updater/tectonic-monitoring-config.yaml#L13. The documentation is planned to be released with the

[2017-07-17 13:08] brancz commented on #480
@vnandha the new Prometheus storage is `mmap`ed which means that the operating system will take care of evicting memory and therefore additional resource control by Prometheus should not be necessary anymore! :slightly_smiling_face:

Regarding what is happening in this reported issue, I'll have to investigate and report back. (I just got back from vacation and have a good size backlog :slightly_sm

[2017-07-17 13:11] brancz commented on #476
No worries @aknuds1 ask away, we're happy to spread knowledge :wink: .

[2017-07-17 13:22] brancz commented on #474
This sounds reasonable, would like to try and implnement this @julianvmodesto ?

[2017-07-17 14:20] lwolf commented on #481
Thanks for the reply. It seems that I don't have such configmap.
Should I create it? If so, should I also modify operator to include this configmap?

Also, another question, not related to the issue, should prometheus operator be listed in tectonic-ui under operators?

[2017-07-17 16:02] lwolf commented on #481
I created configmap `tectonic-monitoring` in `tectonic-system` namespace and it worked for rentention and resources. But not for storage.

I have manually provisioned PV with label `prometheus`.
Configmap looks like this
[code]

[2017-07-17 16:42] vnandha commented on #480
Thanks for clarifying @brancz, Is there a way to limit the amount of memory visible to Prometheus container? ( I mean in k8s, does Prometheus know the request/limit memory we set in the container ? ) Sorry to deviate from the original question.

We have a situation where we use `v2.0.0-alpha.2` which has allocated request memory is 16G ( no limit is set). It keeps utilizing more memory. I hope it

[2017-07-17 16:59] brancz commented on #481
Currently only retention and resources are supported. Storage is currently not supported, as we currently have no means to support storage in a reliable way and Prometheus 2.0 has a completely new storage implementation.

[2017-07-17 17:19] lwolf commented on #481
So it is not possible to make operated prometheus persisted?

[2017-07-17 22:58] hartmut-pq commented on #407
Hi, got similar issues - in my case it rather looks as if the prometheus container start just takes way too long so the pod gets restarted by k8s...

[code]

Note the gap of 4.5min => **Completed initial partial maintenance sweep through 1269 in-memory fingerprints in 4m32.629489539s.**

What's it doing? What's delaying or slowing down the container start so much and how can this be fixed? I've ne

[2017-07-18 02:50] robin-opsguru commented on #426
Hi @brancz, I've been working with @anton-opsguru on this, these are the configs

Prometheus Resource:
[code]

Generated StatefulSet:
[code]

[2017-07-18 04:49] maxim28 commented on #258
@brancz
Hi, i already used the latest version yaml with credentials, but still has this error "Waiting for Grafana to be available".
Also when i add admin/admin into grafana_url for grafana-watcher, this error still exists.
i run the command `hack/cluster-monitoring/deploy` described in https://github.com/coreos/prometheus-operator/tree/release-0.10/contrib/kube-prometheus without any configuratio

[2017-07-18 07:40] hartmut-pq commented on #407
Morning, UPDATE
I just was able to track it back to `externalUrl`
`externalUrl: https://monitoring.my-domain.net/prometheus`
with the field added, it's stuck and not starting up - while without it's starting up in seconds and is just fine..!

[2017-07-18 07:58] maxim28 commented on #258
I solved this problem by changing grafana-url from http://localhost:3000 to http://admin:admin@127.0.0.1:3000 and the grafana works.

I also add some logs into grafana-watcher code and found that if i use localhost, which will lead to a strange ip with the following error, but if you call localhost in the container, it will works normally.
[code]

[2017-07-18 08:09] hartmut-pq commented on #407
Tried with `1.6.3`, `1.7.0` & `1.7.1` - not working with either one of them.

[2017-07-18 09:50] brancz commented on #407
This was a bug in an older Prometheus Operator version. Once the Prometheus Operator version is updated to the latest release, this problem should do away @hartmut-pq .

[2017-07-18 09:53] brancz commented on #258
I think the last bit that you mentioned I have seen unrelated to grafana but in prometheus before where docker messes with the resolution of localhost, what if you just change the url from localhost to 127.0.0.1?

[2017-07-18 10:00] brancz commented on #481
Currently no, what you can do though, is create an additional Prometheus object that is the same as the k8s Prometheus object and add the storage definition there. Be aware, that the storage definition in the Prometheus object is changing with the next release of the Prometheus Operator.

[2017-07-18 10:13] lwolf commented on #481
I see, thanks for your help.

[2017-07-18 10:13] #481 closed

[2017-07-18 11:57] brancz commented on #407
Latest is actually v0.10.2, which is where this was fixes IIRC, I think we forgot to bump the version in that manifest.

[2017-07-18 12:12] hartmut-pq commented on #407
Hi, can confirm it works on `v0.10.2`! Thanks for the hint!
This version doesn't show up here either (https://github.com/coreos/prometheus-operator/releases) by the way.

[2017-07-18 12:54] brancz commented on #407
Don't know why that wasn't created either, I just added it.

[2017-07-18 19:58] tsloughter commented on #407
@hartmut-pq are you running on gke?

[2017-07-19 00:30] steigr opened #483 "Memory-Leak in prometheus-operator"
**What did you do?**

Fresh k8s/tectonic 1.6.7-tectonic.1 install with tectonic-installer on 4 nodes ( 3 masters + 1 worker).

**What did you expect to see?**

prometheus-operator should run continuously.

**What did you see instead? Under which circumstances?**

the operator memory usage grows and get eventually kill because of OOM. k8s reschedules the pod.
<img width="531" alt="memory-leak" src=

[2017-07-19 04:07] julianvmodesto commented on #474
Sure! I'll see if I can find some time this week.

[2017-07-19 07:40] cofyc opened #484 "Cannot remove alert rule from prometheus"
**What did you do?**

Remove a alert rule `K8SApiServerLatency` from config map, `<myname>-exporter-kube-api`.

**What did you expect to see?**

Expect this alert rule is removed from prometheus.

**What did you see instead? Under which circumstances?**

This alert rule is still in prometheus configuration.

**Environment**

Linux.

* Kubernetes version information:

[code]

* Kubernetes cluster k

[2017-07-19 08:48] brancz commented on #474
Great! Let me know if I can guide you if needed!

[2017-07-19 09:01] brancz commented on #484
I'm not sure I understand correctly, how are the two files you mentioned different? The filenames seem to be identical, so I don't understand how the files can differ. Prometheus will attempt to load whatever is in the ConfigMaps that are mounted, so I'm guessing you have additional ConfigMaps by accident.

[2017-07-19 09:02] brancz commented on #483
Thanks a lot for reporting! I don't seem to have the same behavior on my cluster, but I will definitely investigate!

[2017-07-19 09:13] cofyc commented on #484
@brancz Sorry, I had a typo, the second file is under `rules-1` directory, not `rules-0`. There are two files with different contents.

I checked all my ConfigMaps by executing `kubectl get --all-namespaces cm`, there is only one `<myname>-exporter-kube-api` ConfigMap object.

[2017-07-19 09:25] hartmut-pq commented on #407
@tsloughter no, aws (kops)

[2017-07-19 09:33] brancz commented on #484
Could you share your Prometheus manifest?

[2017-07-19 09:42] cofyc commented on #484
@brancz

[code]

[2017-07-19 09:48] brancz commented on #484
In the same namespace as the Prometheus object, can you run `kubectl get cm -lapp=prometheus,prometheus=xxx`, and if it's not sensitive, also share the output with `-oyaml`.

[2017-07-19 10:12] cofyc commented on #484
hi, @brancz

Problem resolved, `kubectl -n kube-system get cm -lapp=prometheus,prometheus=xxx` outputs:

[code]

I check `xxx-exporter-ku` and find it has `kube-api.rules`key too. I don't know why this object is created with same contents as `xxx-exporter-kube-api`...

After deletion of this object, the prometheus rules is updated to what I expected.

Thank you very much! It's my bad, I only check

[2017-07-19 10:12] #484 closed

[2017-07-19 10:13] brancz commented on #484
No problem happy I could be of help! :slightly_smiling_face:

[2017-07-19 15:43] hartmut-pq opened #485 "Monitoring Kubernetes PersistentVolumes"
**What did you expect to see?**
Metrics for PersistentVolumes (disk usage, size, free, io? ..)

**Environment**

* Kubernetes version information:
[code]

* Kubernetes cluster kind:
kops

Unsure if that's the right place to ask for that feature though... (should I do on prometheus/node_exporter ?)

It basically would be nice to monitor / alert if PVs are running out of storage..

[2017-07-19 17:12] hartmut-pq opened #486 "`node-exporter` DaemonSet ~> Pod 'Evicted', not Replaced => Node 'Vanishes', No Rule/Alert Triggered"
**What did you do?**
Run kube-prometheus

**What did you expect to see?**
_Pods_ for `node-exporter` _DaemonSet_ all up and running.

**What did you see instead? Under which circumstances?**
Had issues with a _node_ -> _DiskPressure_ which led to pods getting evicted - expected behaviour in general..
..but I noticed the _pod_ from the _DaemonSet_ got evicted too, yet not replaced by a new one whic

[2017-07-19 17:23] hartmut-pq commented on #486
Note: Just discovered https://github.com/coreos/prometheus-operator/blob/master/contrib/kube-prometheus/assets/prometheus/rules/node.rules
which was not triggered - for the value is not `!= 1` but the whole metrics just vanishes.

[2017-07-19 20:49] gdmello opened #487 "Contrib documentation - lacking notes on how to compile assets to manifests"
**What did you do?**
New to `prometheus` and the `prometheus-operator`, and trying to understand how to use this operator. In particular was looking for a way to add to the existing alert rules in prometheus for my kubernetes cluster.

**What did you expect to see?**
Documentation describing how to push rule modifications/ additions in the `contrib/kube-prometheus/assets` to the `contrib/kube-prom

[2017-07-20 02:07] fangqiusheng opened #488 "prometheus-config-reloader "Updating rule files failed""
**What did you do?**

kube-prometheus:

       `hack/cluster-monitoring/deploy`

**What did you expect to see?**
prometheus-rules configmap is reloaded successfully

**What did you see instead? Under which circumstances?**
$ kubectl logs prometheus-k8s-0 -c prometheus-config-reloader -n monitoring
ts=2017-07-20T01:25:06Z caller=main.go:231 component=volume-watcher msg=Starting...
ts=2017-07-20T01:

[2017-07-20 08:25] brancz commented on #488
Does this problem persist with the latest version (`v0.10.2`)? There is a fix released in that version, that might be related to this.

[2017-07-20 08:32] fangqiusheng commented on #488
we use the version v0.10.1, maybe  latest version (v0.10.2) could fix the problem. I will try that, thanks

[2017-07-20 08:33] brancz commented on #487
Yes this is definitely something we want to add at some point, currently we're still missing some documentation for the core functionality of the Prometheus Operator that will probably be added first, then we can go on to docs about things like this.

As a hint, from the `contribu/kube-prometheus` directory there is a `hack/scripts` directory that contains she `generate-manifests.sh` script that w

[2017-07-20 09:44] hartmut-pq commented on #488
I have an issue with k8s `1.6.6`
used _kube-prometheus_, too. [kops]

getting following logs for `prometheus-config-reloader`:

[code]

[2017-07-20 09:49] brancz commented on #488
@hartmut-pq I believe these two are unrelated. The logs of @fangqiusheng how that Prometheus is not reloading properly as well as a TLS handshake failing. If you can reproduce your behavior I'd suggest to open a separate issue for tracking. Thanks!

[2017-07-20 09:50] hartmut-pq commented on #488
Just about to do so, noticed I'm hijacking someone else's issue here.. one sec

[2017-07-20 09:52] hartmut-pq opened #490 "prometheus-config-reloader: err="decode error status: payload is not a kubernetes protobuf object""
**What did you do?**
Run kube-prometheus

**What did you expect to see?**
Prometheus being configured by _prometheus-config-reloader_

**What did you see instead? Under which circumstances?**
getting following logs for `prometheus-config-reloader`:

[code]

Note: Already using _prometheus-operator_ `v0.10.2`

**Environment**

* Kubernetes version information:

[code]

* Kubernetes cluster kind:

k

[2017-07-20 09:52] hartmut-pq commented on #488
Apologies @fangqiusheng - here we go with my issue: https://github.com/coreos/prometheus-operator/issues/490

[2017-07-20 10:08] brancz commented on #490
Thanks for reporting!

We should add some more error tracing to see where this originates from. My question would be whether this occurs consistently in your cluster and you can reproduce it, or whether this just occurred once.

[2017-07-20 10:12] hartmut-pq commented on #490
Hi @brancz - consistent.
Just newly applied to a new cluster - occurs for both replicas - every time when I delete / apply again. So I can't get prometheus to work at all - has blank configuration and no rules applied and is therefore effectively not working.

Have it up and running on another cluster k8s `v1.5.7` with the exact same setup.

Any way I could help debugging?

[2017-07-20 10:19] brancz commented on #490
We're using [this](https://github.com/ericchiang/k8s) light-weight kubernetes client implementation. I think we may have hit: https://github.com/ericchiang/k8s/issues/46.

[2017-07-20 10:22] hartmut-pq commented on #490
So it's effectively an RBAC issue first - secondly the error message returned can't be parsed/decoded properly..?
Can I reproduce the 'get configmaps' API call from inside the container somehow to find out the error / RBAC issue? what's to be retrieved exactly?

[2017-07-20 10:31] hartmut-pq commented on #490
Oh my... :-( found the issue - I've had the ClusterRole & ClusterRoleBinding disabled for v1.5 and forgot to apply to the v1.6 cluster.. reapplied, all working fine now..!!!

Many thanks otherwise for your help and jumping on immediately!

[2017-07-20 10:31] brancz commented on #490
Yes that would have been my next step. Unfortunately I believe there is only `wget` in that container, but what you should be able to do is launch an ubuntu container with the same service account and try to curl the api with the right ca and client certificate. I have to run right now, if you can get it working yourself that would be great if not I'll try it out a bit later.

[2017-07-20 10:32] brancz commented on #490
Ahh cool. At least we could figure it out quickly. :slightly_smiling_face:

[2017-07-20 10:32] hartmut-pq commented on #490
thx a lot ! 👍

[2017-07-20 10:32] #490 closed

[2017-07-20 10:36] mikebryant opened #491 "Use `podManagementPolicy` for the StatefulSets"
In 1.7, a new field `podManagementPolicy` is available.
https://kubernetes.io/docs/api-reference/v1.7/#statefulsetspec-v1beta1-apps

For Prometheus and AlertManager, we could use `podManagementPolicy: Parallel` to get faster scale up.
This would also help out in a situation where the AZ where the prometheus-0 volume is located is unavailable. (This currently means the whole prometheus cluster is d

[2017-07-20 11:43] brancz commented on #491
Thanks for sharing! For Prometheus this is definitely the case, and we should enable that. I'm curious as to how this will effect the Alertmanager though especially in terms of [rolling deployments](https://github.com/coreos/prometheus-operator/pull/458), I can imagine there could be some failure scenarios for the Alertmanager.

[2017-07-20 11:53] brancz commented on #486
Thanks for bringing this up! Any failure report can potentially be a valuable alerting rule! :slightly_smiling_face:

It's a bit more complicated than that, because that rule actually triggers when _all_ targets disappear (which usually indicates, that something is wrong with discovery). That's how this rule is intended to work currently, however, I do agree, that we should add some additional one

[2017-07-20 12:00] brancz commented on #485
I haven't actually looked into this in terms of PVs, but there are a bunch of `container_fs_*` metrics that are exposed by cAdvisor, those seem like what you are looking for, but as far as I can tell it's hard to make a connection as to which concrete PV a particular pod has mounted.

[2017-07-20 12:08] hartmut-pq commented on #485
@brancz  thx a lot for pointing into an initial direction, I may have a look as soon as I've got some spare minutes.
I guess as long as I can trigger a alert at all that's a good start - even if no concrete PV may be resolved... will keep this thread up to date!

[2017-07-20 12:09] brancz commented on #485
Awesome! Thanks a lot for all your insight and contributions @hartmut-pq !

[2017-07-20 12:09] hartmut-pq commented on #486
thx, will definitely have a look!

[2017-07-20 14:21] gdmello commented on #487
@brancz - yes I certainly could! Thanks for your response.

[2017-07-20 14:42] brancz commented on #487
Awesome! Thanks a lot, highly appreciated!

[2017-07-21 02:03] tsloughter opened #493 "contrib/kube-prometheus installs grafana but helm chart doesn't"
**What did you do?**

Installed the `kube-prometheus` helm chart.

**What did you expect to see?**

Either the helm chart to include grafana or `contrib/kube-prometheus` to not include it.

[2017-07-21 07:36] brancz commented on #493
Grafana is currently not included, but coming up: https://github.com/coreos/prometheus-operator/pull/470

[2017-07-21 07:54] eedugon commented on #485
Hi @hartmut-pq  and @brancz,

I've been strugling myself trying to find the same information, because our PVs get filled and I haven't found any way to detect and alarm about it.
Checking the container_fs_* metrics there's no info at all about the filesystems (PVs) mounted in the containers, and it's very weird (i give you an example at the end).
Also, checking the node_exporter metrics (node_file

[2017-07-21 08:03] brancz commented on #485
@eedugon thanks for the extended insight, very valuable! It was my suspicion that we won't get PV metrics from cAdvisor.

My suggestion on where to go from here:

* Start a discussion with the cAdvisor developers to see if there is a possibility to get metrics for these
* Start a discussion on upstream Kubernetes on having total space, used space, and free space "metrics" as status fields of PVs
*

[2017-07-21 09:00] eedugon commented on #485
Hi!

My view is that somehow both ways that you mention should be available, because:
- From cAdvisor point of view there's a docker with a filesystem (PV) mounted on it, and that filesystem has to be "provided" by the node, so the node/cadvisor probably has the information available somewhere.
- From kubernetes point of view there should be a way to keep track of the k8s resources, and the pv is

[2017-07-21 09:12] brancz commented on #485
Agreed, cAdvisor should be exposing them either way. I actually reviewed the cloud provider metrics upstream, IIRC the metrics were only about API requests as well as attach/detach durations.

[2017-07-21 09:27] flyer103 opened #494 "prometheus-operator cuased k8s to behave abnormally"
**What did you do?**
Just run `kubectl apply -f bundle.yaml` to try prometheus-operator.

**What did you expect to see?**
I could use prometheus deployed by prometheus-operator.

**What did you see instead? Under which circumstances?**
After running prometheus-operator, I ran `kubectl get pod` but got

<img width="733" alt="image" src="https://user-images.githubusercontent.com/829039/28457550-2c72

[2017-07-21 09:28] hartmut-pq commented on #485
Hi, nice to see so much instant movement here!
Agree -> cAdvisor, too - metrics/monitoring for PVs on-prem (non-cloud) would be quite important for us, too...

[2017-07-21 09:47] brancz commented on #494
I'm unsure how the Prometheus Operator might cause this. If your cluster responds, could you show us the Prometheus Operator logs?

[code]

[2017-07-21 09:52] flyer103 commented on #494
I have tried some times and gave up at last.
Now I'm reinstalling k8s on new nodes which have more CPU/Memory resources and will try again.

[2017-07-21 09:55] brancz commented on #494
Let us know how it goes :slightly_smiling_face:

[2017-07-21 10:09] flyer103 commented on #494
At first I deployed k8s master on a node which has 1CPU and 1GiB memory and in this situation, running prometheus-operator caused the k8s cluster couldn't work.
Now I have deployed k8s master on a node which has 1CPU and 2GiB memory and now everything works as expected.

So I think that prometheus-operator may need more memory that the master node couldn't offer and it makes `apiserver` or other k

[2017-07-21 10:09] #494 closed

[2017-07-21 11:31] brancz commented on #494
Happy that could solve your issue although it seems odd to me as I have a 1.7.0 cluster running the latest Prometheus Operator and it is using just `16777216` bytes of memory (roughly 17Mb), so I'm unsure how that could have effected it. That said, 1Gb is quite small.

[2017-07-21 11:46] brancz commented on #485
If you want to open an issue or start the discussion with the cAdvisor devs, feel free to tag me in an issue, so I can follow up.

[2017-07-21 13:13] brancz commented on #488
Any luck @fangqiusheng ?

[2017-07-21 13:19] brancz commented on #466
Storage docs in master are now accurate for the latest release (`v0.11.0`), but have not landed on coreos.com yet.

[2017-07-21 13:35] brancz commented on #363
Sorry @ryanwalls, I lost sight of this. @mgoodness is maintaining the helm charts, I'm sure he can point you at something that needs some work. All contributions welcome! :slightly_smiling_face:

[2017-07-21 13:46] brancz commented on #480
@vnandha I talked to @lucab and he mentioned that `mmap`ed memory is one of the first things that get eviceted by the kernel, when hitting the requested amount of memory (requested as in the fields in Kubernetes).

[2017-07-21 14:51] tsloughter commented on #493
Oh, sorry, missed that PR! :). I'll close this.

[2017-07-21 14:51] #493 closed

[2017-07-21 15:26] colhom commented on #483
I am also observing steadily growing memory usage for this pod as well, though the rate of growth is much slower than what @steigr is observing. It is consistent and roughly linear w.r.t to time though

Approx. 24 hour period on an essentially idle cluster, seeing memory usage grow from ~20M to ~150M

![prom-operator-mem-graph](https://user-images.githubusercontent.com/1075028/28469988-fd1920d0-6d

[2017-07-21 15:41] colhom commented on #483
@steigr what platform are you running tectonic on?

[2017-07-21 15:49] eedugon commented on #485
Yes, @brancz , i can do it, but it will be my first time.... should I raise the topic directly towards google/cadvisor project? Or is there any other cadvisor project closer to kubernetes/prometheus?

Regards!
Edu

[2017-07-21 16:31] brancz commented on #483
I remember we've seen memory leaks through client-go before, but everything is speculation until we measure. I'll make sure to add profiling endpoints next week (it's already EOD here in Germany :) ) and then we can investigate more clearly.

[2017-07-21 16:38] brancz commented on #485
Yep, I'd suggest to just open an issue on the cadvisor repo and describe that you were expecting the volume metrics to show up. I'm sure they won't bite, and if you tag me I'll be able to comment as well if necessary ;)

[2017-07-21 16:49] hartmut-pq commented on #485
pls tag me, too - or at least reference this issue and the new one - happy to help / contribute!

[2017-07-21 19:05] niclic opened #496 "helm/kube-prometheus: Values for service nodePorts in values.yaml are outside the range of valid ports."
The `nodePort` values for the **Alertmanager** and **Prometheus** services in [values.yaml](https://github.com/coreos/prometheus-operator/blob/master/helm/kube-prometheus/values.yaml) are outside of the range of valid ports, which is `30000-32767` as described in the [docs](https://kubernetes.io/docs/concepts/services-networking/service/#type-nodeport).

The default values should probably be:
* `a

[2017-07-21 19:14] niclic commented on #496
Here's a quick PR with a suggested patch: https://github.com/coreos/prometheus-operator/pull/497

[2017-07-21 19:49] niclic opened #498 "helm/kube-prometheus: Update version of alertmanager and prometheus dependencies."
**What did you do?**

When installing [helm/kube-prometheus](https://github.com/coreos/prometheus-operator/tree/master/helm/prometheus-operator) and setting resource requests values for alertmanager, there is a YAML syntax error.

This is issue #446 fixed in #447.

**What did you expect to see?**

A successful release.

**What did you see instead? Under which circumstances?**

1. Create demo names

[2017-07-21 20:07] niclic commented on #498
Basic patch included here: https://github.com/coreos/prometheus-operator/pull/499

[2017-07-23 04:07] vnandha commented on #480
Thank you @brancz Actually setting `resource.limits.memory` for Prometheus helps to keep the memory under the limit.

[2017-07-23 05:21] julianvmodesto opened #501 "resources.cpu.requests + GOMAXPROCS"
[The Prometheus documentation states](https://www.google.com/url?q=https%3A%2F%2Fprometheus.io%2Fdocs%2Fintroduction%2Fgetting_started%2F%23configuring-prometheus-to-monitor-itself&sa=D&sntz=1&usg=AFQjCNE5uYNeM5FWr4PgsZgphEHBn6jiLg) that OS threads is set by GOMAXPROCS. The default for `GOMAXPROCS`:

The Prometheus Operator uses `resources.memory.requests` to set `-local.target.heap.size` for effi

[2017-07-23 08:57] eedugon commented on #485
Done!
I have also included some extra information, and i'm suspecting now the problem might be in how node-exporter and cadvisor are configured, because the k8s node has all the info available (the disk is listed with lsblk and also the disk is mounted for the container), so it's very weird.

Let's see what they say.... for the moment I can check the usage of the persistent volumes in a very ugly

[2017-07-24 07:31] brancz commented on #485
For a slightly better hack, I'd suggest making use of the node-exporters file exporter functionality, in which you can just write your metrics that you gather in a file and the node-exporter adds them to it's metrics output.

[2017-07-24 07:50] eedugon commented on #485
Awesome, I didn't know that feature! very very interesting for integrating custom checks into metrics, thanks a lot!

[2017-07-24 08:07] hartmut-pq commented on #485
@brancz would you have a reference to documentation/example? Sounds quite interesting. That would need to run like as a cron directly on the node then?!?

[2017-07-24 08:21] mxinden opened #503 "tests: Expose logs of the Prometheus Operator after CI test run"
The Jenkins-CI should expose the logs of the Prometheus Operator for better debugging. One way of solving this is to write the logs of the Prometheus Operator into a file into `./build` before killing it. Whatever is in that folder will be archived by Jenkins and thereby visible after the test execution.

[2017-07-24 08:32] brancz commented on #501
As mentioned on the mailing list, I'm not sure we're actually able to do this, as we would need to know that then machine that the Prometheus pod is scheduled onto is going to have a certain amount of cores. Aside from that I'm not sure combining the number of GOMAXPROCS through limit is the right way to go, my feeling is that parallelization/cpushares should be treated distinctly.

[2017-07-24 08:35] brancz commented on #485
I'd only suggest using it if there is no other way, as we already concluded above, best would be if cAdvisor would expose these metrics in the first place. A description on how to use the textfile exporter functionality can be found here: https://github.com/prometheus/node_exporter#textfile-collector

@hartmut-pq yes that would have to run in a cron like fashion.

[2017-07-24 12:23] brancz commented on #483
With #504 merged we can now start profiling. An image from current master is available under `quay.io/coreos/prometheus-operator:master`. Could you run this image and take a heap profile once you see high memory usage again?

If you're running Tectonic and have the experimental flag on (aka self updating Prometheus), you need to first disable that the Tectonic Prometheus Operator ensures that all

[2017-07-24 12:31] brancz commented on #488
@fangqiusheng we also recently released `v0.11.0`, could you try that as well? Judging by the prometheus-config-reloader image you're using, reloading should be re-tried automatically, so it seems there is some other problem here. Do you have the correct RBAC roles setup?

[2017-07-24 12:38] brancz commented on #487
As more people are showing interest in this, I'll take this over. Is that ok with you @gdmello ?

[2017-07-24 12:41] brancz commented on #485
As a side note, I spoke to the creator of the existing PV metrics (those that describe the operations on PVs) and there is also a proposal in the works for metrics of PVs themselves.

[2017-07-24 12:54] brancz commented on #49
So rolling deployments have indeed landed in 1.7 and StatefulSets can be fully mutated without any errors. However, to automatically rollout these changes the Pods still have to be deleted manually, or we have to implement using the actual rolling deployments the StatefulSet now offers.

[2017-07-24 12:56] brancz commented on #444
I agree that this is something that the Prometheus Operator needs to handle, however, it's part of a larger story of rolling out any changes to the StatefulSet and its PodTemplate. Therefore closing this in favor of #49 as it captures the higher level problem that we want to tackle. We'll track this further there. Thanks for reporting and following up @farcaller. Greatly appreciated!

[2017-07-24 12:56] #444 closed

[2017-07-24 13:13] brancz commented on #486
@hartmut-pq do you think you can get to this? If not I'm happy to take over.

[2017-07-24 13:19] hartmut-pq commented on #486
Hi, I think I have a solution, the rules for kubelets didn't help though - but could improve those, too...
I'm just quite busy right now - will come back to you if I can't squeeze it in... but ideally will create one/multiple PRs

[2017-07-24 13:27] brancz commented on #486
Now I'm curious :wink: feel free to open multiple PRs. Just wanted to ping and see what's up, no rush. Thanks for all your efforts!

[2017-07-24 14:04] brancz commented on #480
Regarding the initial issue, the latest Prometheus Operator release (`v0.11.0`) supports for the latest Prometheus 2.0 beta release, the confusion came from the support being implemented, but not released at that point. I just tried out running the `v2.0.0-beta.0` image and it worked. Just to make sure, could you also confirm this @george-angel?

[2017-07-24 14:25] sylr commented on #135
I spent one hour trying to figure how to graph CPU of agents based on @brancz comment, came out with :

[code]

$k8sagent is a grafana var on which I repeat the panel, it's populated with :

``label_values(node_uname_info, nodename)``

Hope it helps someone at some point.

[2017-07-24 14:34] brancz commented on #135
Thanks for sharing @sylr !

[2017-07-24 14:44] george-angel commented on #480
Yep, all good, closing.

[2017-07-24 14:44] #480 closed

[2017-07-24 14:56] brancz commented on #501
I wrote on the mailing list once more. I'm still questioning whether we should use the same field to configure cpu utilization and paralellization. I feel we might want to configure them separately. Wdyt?

Also I understand the desire to set these kinds of things, but setting `GOMAXPROCS` is not really a general solution like cgroups limiting the memory/cpu utilization, there is no guarantee that

[2017-07-25 01:44] fangqiusheng commented on #488
Sorry for the late reply，busy these days.  It seems that v0.11.0 still not works and we disable the RBAC of K8S. I have waited for about 10 mins, no error logs  appeared but it hangs up .
`kubectl logs prometheus-k8s-0 -c prometheus-config-reloader -n monitoring`
ts=2017-07-25T01:30:15Z caller=main.go:231 component=volume-watcher msg=Starting...
ts=2017-07-25T01:31:51Z caller=main.go:204 component

[2017-07-25 01:46] fangqiusheng commented on #488
The related manifests is listed as follows:

apiVersion: extensions/v1beta1
kind: Deployment
metadata:
  name: prometheus-operator
  labels:
    k8s-app: prometheus-operator
spec:
  replicas: 1
  template:
    metadata:
      labels:
        k8s-app: prometheus-operator
    spec:
      serviceAccountName: prometheus-operator
      containers:
      - name: prometheus-operator
        image: 172.17

[2017-07-25 07:14] brancz commented on #487
Closed by #505

[2017-07-25 07:14] #487 closed

[2017-07-25 07:47] brancz commented on #488
The manifest looks ok, but what do you mean by disabling RBAC?

This seems to be the crooks of then problem. Could there be a some firewall problem or network policy that is preventing this from happening?

[2017-07-25 09:23] brancz commented on #483
So my cluster has been running for about a day and I can't seem to be able to reproduce this.

While the memory usage reported by cAdvisor seems to be growing:

![screenshot from 2017-07-25 11-11-26](https://user-images.githubusercontent.com/4546722/28564905-d2146304-712a-11e7-98f7-fea40fdbfc44.png)

The memory usage reported by the go runtime seem to be relatively stable:

![screenshot from 2017-

[2017-07-25 09:56] brancz commented on #239
Has anyone been able to try out Prometheus 2.0-beta.0 regarding this issue? Prometheus 2.0 is nearing GA, but we'd appreciate as much testing as possible, and if it solves this issue, then even better.

[2017-07-25 09:57] brancz commented on #215
Either way I don't think this is something the Prometheus Operator can handle by itself, it's a more general problem that needs to be solved by the community. Closing here.

Feel free to keep commenting and re-open if you feel it necessary.

[2017-07-25 09:57] #215 closed

[2017-07-25 10:02] brancz commented on #412
We're supporting the latest beta release of Prometheus with the Prometheus Operator. I'd suggest to try that out. Having arbitrary arguments being passed to Prometheus is a non-goal for the Prometheus Operator as is gives up the possible control over the deployments.

Feel free to re-open if you think otherwise.

[2017-07-25 10:02] #412 closed

[2017-07-25 11:34] fangqiusheng commented on #488
https://kubernetes.io/docs/admin/authorization/rbac/

Disabling RBAC means that i did not start the apiserver with --authorization-mode=RBAC.

 Is  RBAC  necessary condition for  prometheus-operator? Otherwise i don't think RBAC is the problem.

No network policy is defined, so i am also confused.

[2017-07-25 11:59] brancz commented on #488
So I started a simple ubuntu container in my cluster (and installed curl) and tried to perform a couple of simple requests and I got a timeout as well on http (not https) requests and when trying to ping that IP. I have a feeling this might be a networking issue, where I'm unfortunately not too experienced.

[2017-07-25 13:05] brancz commented on #488
I don't know what I was thinking when I was writing the above comment, but I meant to ask you whether you could try that as well and see if it's a general problem with your cluster or a Prometheus Operator problem

[2017-07-25 13:14] #466 closed

[2017-07-25 14:32] alepaez commented on #483
Hello guys.

I'm experiencing the same issue. Cluster version 1.6.7-tectonic1
Got worst when I got my own apps running on tectonic.

![prom-operator](https://user-images.githubusercontent.com/1220168/28577204-7f101ff2-712c-11e7-8313-32b566749a4a.png)

Now I'm getting blank spaces on my metrics

![prom-metrics-failing](https://user-images.githubusercontent.com/1220168/28577327-d77abc9c-712c-11e7-90

[2017-07-25 15:03] brancz commented on #483
That's what I suspected. Unfortunately it's hard for me to reproduce that.

@alepaez could you follow the above steps to try out latest master of the Prometheus Operator? That way we can take profile it and find out what's actually happening.

Thanks a lot for reporting!

[2017-07-25 15:37] ringods opened #507 "helm/prometheus: can't evaluate field serviceMonitorSelector in type interface {}"
**What did you do?**

Deploy `kube-prometheus` helm chart.

**What did you expect to see?**

Correctly deployed resources.

**What did you see instead? Under which circumstances?**

[code]

**Environment**

* Kubernetes version information:

[code]

* Kubernetes cluster kind:

kops, version 1.6.x

* Manifests:

[code]
Same when using it directly from http://charts.opsgoodness.com or from git sourc

[2017-07-25 15:57] alepaez commented on #483
prometheus-operator updated successfully, but got an error taking heap in use profile:

[code]
[code]

[2017-07-25 16:20] kerneljack opened #509 "Forbidden error when install prometheus-operator"
**What did you do?**
Tried to run the following:
$ kubectl create -f bundle.yaml

**What did you expect to see?**
Expected prometheus-operator to be installed into my 'default' namespace

**What did you see instead? Under which circumstances?**
$ kubectl apply -f bundle.yaml
clusterrolebinding "prometheus-operator" created
serviceaccount "prometheus-operator" created
deployment "prometheus-operato

[2017-07-25 16:24] kerneljack commented on #509
Found the following after some more googling, fixed it for me, hope it helps someone else:
https://github.com/coreos/prometheus-operator/blob/master/Documentation/troubleshooting.md

[2017-07-25 16:24] #509 closed

[2017-07-25 17:41] brancz commented on #483
@alepaez did you run `kubectl proxy`? Make sure it's still running (maybe through `kubectl proxy &`) so that the request is actually proxied.

[2017-07-25 17:52] brancz commented on #507
This was actually a problem in the original manifest. This has since then been fixed in the original manifests:

https://github.com/coreos/prometheus-operator/commit/91c20464849d56aa3f00d78dcd5c9ffcbf05e759#diff-8e540ec43f84715379754175fa4337ae

[2017-07-25 17:54] alepaez commented on #483
Yea, kubectl proxy was running. Another try with kubectl proxy &
[code]
Get connection refused if run pprof without kubectl proxy

[2017-07-25 18:37] brancz commented on #483
Which version of go are you using? I'm using 1.8 and that's also what the Prometheus Operator was compiled with. They might need to be in sync. Could you check that?

[2017-07-25 19:50] alepaez commented on #483
Updated to go 1.8 and worked like a charm! :D

[heap-inuse.zip](https://github.com/coreos/prometheus-operator/files/1174576/heap-inuse.zip)

[2017-07-25 22:13] nuala33 opened #510 "Limits not being picked up"
**What did you do?**

I added resource limits to my custom Prometheus object file. The Prometheus Operator service consumes that and manages the StatefulSet itself. Resource limits are now enforced for all namespaces in our k8s environment.

**What did you expect to see?**

I expected to see the new limits reflected when I ran `kubectl describe statefulset prometheus-shared`.

**What did you see i

[2017-07-26 00:47] fangqiusheng commented on #488
Ok, thanks for your patience. I'll try that :) .

[2017-07-26 06:53] ringods commented on #507
@brancz I don't get it. I'm talking about an issue with singular `serviceMonitorSelector` and plural `serviceMonitorsSelector` and you point to a commit changing singular `matchExpression` to plural `matchExpressions`.

Can you also elaborate the relation between the Helm chart in the `helm` folder and the manifests you refer to in the `contrib` folder?

[2017-07-26 08:15] brancz commented on #507
Got it sorry. You're absolutely right, it seemed like it was the same problem, because the before the above commit we had the same outcome, but you're absolutely right, his seems like a problem with the helm chart itself.

@mgoodness could you have a look at this?

[2017-07-26 09:12] brancz commented on #510
Yes, this is a known problem. With Kubernetes 1.7 released (with proper StatefulSet deployments), we can now work towards deployments on any PodTemplate changes. These changes will be coming up soon.

[2017-07-26 10:48] brancz commented on #483
Thanks! That suggests that only ~12Mb are in use. Could you take another profile with `-alloc_space` instead of `-inuse_space`?

[2017-07-26 14:27] alepaez commented on #483
Sure! :)
[heap-alloc.zip](https://github.com/coreos/prometheus-operator/files/1176892/heap-alloc.zip)

[2017-07-26 15:24] brancz commented on #483
Thanks! Interesting, it seems to all be in serializing/deserializing objects. We're in the process of upgrading to the latest versions of the Kubernetes libraries, that might already do the trick. If not we need to think of strategies to limit the objects we are list/watching to fill our cache, this is assuming that the sheer amount of objects in the cache are causing this amount of memory usage.

[2017-07-26 16:04] gdmello opened #512 "Out of the box Alerts Failing - K8SSchedulerDown and K8SControllerManagerDown - Kubespray (Kargo)"
**What did you do?**
Installed 3 master, 3 node kubernetes cluster on AWS using kubespray.
Setup `prometheus` via `prometheus-operator`

**What did you expect to see?**
Prometheus alerts all green, not firing.

**What did you see instead? Under which circumstances?**
2 out of the box alerts were firing - `K8SSchedulerDown` and `K8SControllerManagerDown`

**Environment**

* Kubernetes version infor

[2017-07-26 16:12] brancz commented on #512
Is the scheduler and kube-controller-manager run as pods in that kubernetes cluster? If so it's just about labelling them or adapting the labels in the [services used for discovery](https://github.com/coreos/prometheus-operator/tree/master/contrib/kube-prometheus/manifests/k8s/self-hosted) correctly.

I opened an issue on kubernetes/kubernetes a while ago regarding standardization of labels for Ku

[2017-07-26 17:23] gdmello commented on #512
@brancz - yes both are deployed as pods (updated the first comment).

[2017-07-26 17:47] ryanwalls opened #513 "Add README for kube-prometheus helm chart"
Would love to have a README with a couple examples of how to get the `kube-prometheus` helm chart running successfully.

Something similar to: https://github.com/coreos/prometheus-operator/blob/master/helm/prometheus/README.md

[2017-07-26 19:02] alepaez commented on #483
Nice @brancz, upgrading prometheus-operator when a new version is release will do the trick?

[2017-07-27 11:52] ringods commented on #507
@mgoodness @brancz my colleague @duboisph create PR #515 to fix this. Can you have a look at it?

[2017-07-27 12:06] fabxc commented on #501
What problem does this pull request address?

While I see the theoretical points, it would be great to get some profiling data to determine that this added complexity has practical benefit. Did you run into any problems with not setting GOMAXPROCS?

[2017-07-27 12:17] #464 closed

[2017-07-27 12:46] secat opened #516 "Alertmanager's storage spec should reflect prometheus storage spec for Operator version v0.11.0"
I created an alertmanager resource with the new storage specification with the Prometheus Operator v0.11.0. The statefulset generated was faulty.

I recreated the alertmanager, but this time by using the old storage spec. It worked.

IMHO, the alertmanger storage spec should be the same than the Prometheus storage spec.

**Environment**

* Kubernetes version information:

[code]

* Kubernetes clus

[2017-07-27 12:48] brancz commented on #516
Thanks for reporting this! This you're absolutely right! We need to adapt it.

[2017-07-27 14:35] #496 closed

[2017-07-27 14:37] #498 closed

[2017-07-27 14:51] brancz commented on #516
I opened #517 to address this. Once merged I'll create a new release ASAP.

[2017-07-27 19:42] nuala33 opened #518 "Permission denied creating a new pod in statefulset"
**What did you do?**

I upgraded to the newer version of prometheus-operator (v0.11.0) and tried to have my pods use persistent storage using volumeClaimTemplate by adding the following to the bottom of my Prometheus yaml (but formatted correctly):

``  storage:
    volumeClaimTemplate:
      spec:
        selector:
          matchLabels:
            app: "prometheus-persistent-volume-0"
        r

[2017-07-27 20:32] gdmello commented on #512
I realized from here that my `kube-controller` was not exposed as a service -

[code]

Once I created the service via `kube-prometheus/manifests/k8s/self-hosted/kube-controler-manager.yml`, the alerts stopped firing. PEBCAK.

Thanks for your help @brancz!

[2017-07-27 20:32] #512 closed

[2017-07-27 20:33] gdmello commented on #487
Sure! thanks for addressing it @brancz!

[2017-07-28 07:16] brancz commented on #512
Awesome! Glad it worked out. Feel free to open issues whenever things come up. Most of the time we have things to improve even if it's docs :wink: .

[2017-07-28 09:57] #516 closed

[2017-07-28 12:11] brancz commented on #518
I'm unsure this has to do with the Prometheus Operator. Could you try to mount that particular volume through a PVC with an extra Pod?

[2017-07-28 14:39] brancz commented on #485
FWIW a very high level metric has been merged into kube-state-metrics: https://github.com/kubernetes/kube-state-metrics/pull/179

[2017-07-28 16:10] tsloughter opened #520 "Adding to Grafana dashboards"
First, is there a chat where operators are discussed? Questions like this I would first bring there if there was a gitter/slack/irc channel for discussing operators. I try to bring the helm specific questions to the helm-users channel on slack first, but often can't find answers.

So I'm trying to figure out a good way of adding dashboards to a grafana deployed through the prometheus-operator's gr

[2017-07-28 20:44] gdmello commented on #135
Based on @brancz's amazing query above, I discovered that the vector `node_uname_info` has both the ip address and the hostname (at least for my kubespray setup on AWS). So this PromQL works very nicely for me-
`sum by ( instance,nodename)  (node_load5 * on(instance) group_left(nodename) node_uname_info) `.

It would be much better if node_exporter could include the hostname as another label, as q

[2017-07-28 21:53] ryanwalls opened #521 "kube-prometheus helm chart creates two alertmanager stateful sets"
**What did you do?**
[code]

**What did you expect to see?**
Expected one prometheus and one alert manager.

**What did you see instead? Under which circumstances?**
![image](https://user-images.githubusercontent.com/842653/28737419-a56c5e1e-73ab-11e7-9176-23650dc992a1.png)

It created a `k8s` stateful set and an `alertmanager-k8s` stateful set.  The `k8s` stateful set never starts successfully be

[2017-07-28 22:04] ryanwalls opened #522 "kube-prometheus chart creates 3 different services pointing to the same pods"
**What did you do?**
[code]

**What did you expect to see?**
One service for alertmanager, one for prometheus.

**What did you see instead? Under which circumstances?**
![image](https://user-images.githubusercontent.com/842653/28737945-1fa693fa-73ae-11e7-95de-22ccb0f7476a.png)

It created three services pointing to the same pods.
For prometheus pod it created the following services:
[code]

For al

[2017-07-28 22:10] ryanwalls commented on #522
Not ruling out that this is expected...

Would really like to help contribute to documentation, but I haven't been able to figure out what's going on under the covers.

Is there documentation for what the third party resources should be doing/creating?  Is there documentation for what the prometheus operator creates?

[2017-07-29 09:47] luxas opened #523 "Add support for Prometheus v2.0.0-beta0"
Would be really nice to get working without modding the operator.
Patch should be pretty straightforward

Would it be possible to get this in the next patch release?

[2017-07-29 14:27] brancz commented on #523
Prometheus `v2.0.0-beta.0` is already supported (starting with the `v0.11.0` release) :slightly_smiling_face:

I just deployed it on minikube from `contrib/kube-prometheus/` off of `master`:

![screenshot from 2017-07-29 16-24-25](https://user-images.githubusercontent.com/4546722/28745526-6ac2295e-747a-11e7-88af-91f327b863f8.png)

[code]

[code]

[2017-07-31 03:18] linhdsv opened #524 "Stable version for prometheus-operator and prometheus to work with"
Guys, which versions of both prometheus-operator and prometheus are stable atm?
Because I'm using both latest versions and some function not working properly
e.g Targets page does not show my own service when using ServiceMonitor even though I follow strictly the user guideline, or The config-reloader not auto-reload configuration file whenever I update it.

[2017-07-31 04:02] linhdsv commented on #524
- File Prometheus config:
[code]
- File ServiceMonitor:
[code]
- My own service:
[code]
- Here's my rules:
[code]

[2017-07-31 07:25] brancz commented on #135
@gdmello you can create a recording rule for this, to attach that label to your metrics automatically: https://prometheus.io/docs/querying/rules/

[2017-07-31 09:13] jpds opened #526 "Update prometheus-operator.yaml on blog entry"
Hello,

Not sure where to file this as it's more for this blog entry:

- https://coreos.com/blog/the-prometheus-operator.html

This blog references this URL:

- https://coreos.com/operators/prometheus/latest/prometheus-operator.yaml

Which deploys v0.0.1 of the operator that is affected by things such as #21.

Can this be updated to point at https://github.com/coreos/prometheus-operator/tree/maste

[2017-07-31 09:17] brancz commented on #524
`v1.4.1` is included in our [compatibility matrix](https://github.com/coreos/prometheus-operator/blob/7b48196c6ab86454bce92ccb8ccf5ca368fe68a1/pkg/prometheus/statefulset.go#L55-L69). We should document this matrix.

Nonetheless, I'm wondering why you need to use `v1.4.1`, it's quite old, I'd recommend using `v1.7.1`.

I'm unsure whether `LoadBalancer` services are supported by the Prometheus disco

[2017-07-31 09:19] brancz commented on #526
Blog posts quickly get outdated. We have a getting started guide, that we keep up to date: https://coreos.com/operators/prometheus/docs/latest/user-guides/getting-started.html

[2017-07-31 09:21] linhdsv commented on #524
@brancz I try `v1.4.1` because I tried `v1.7.1` before but it didn't work.
Here's the output of `$ kubectl -n staging get endpoints`:
[code]

[2017-07-31 09:25] brancz commented on #524
`v1.7.1` definitely works, we're shipping it :slightly_smiling_face:

The endpoints output looks good.

I actually just noticed, that your `ServiceMonitor` object has the port `web` specified, while your `Service` calls the ports `http` and `https`. You need to change the port specified in the `ServiceMonitor` to one of those.

[2017-07-31 09:31] brancz commented on #522
The `prometheus-operated` service is an implementation detail of the Prometheus Operator, it should not be touched, especially as *all* Prometheus instances will be registered in this service. I suspect the "prometheus" service is in there for legacy usage by @mgoodness and the "k8s-prometheus" service is what is being migrated to.

[2017-07-31 09:38] linhdsv commented on #524
oh, my bad, I updated the port name `http` to `web` before, and it shows our `example-app` service on targets page, but it still yields error:
![image](https://user-images.githubusercontent.com/19921743/28771895-a79d0d7c-760e-11e7-90e4-2251ebd76232.png)

[2017-07-31 09:40] brancz commented on #524
the example manifests you shared don't seem to match the screenshot, the screenshot says that the service is called "lumin-document-exporter".

[2017-07-31 09:45] brancz commented on #523
Closing here, let us know if you have any problem with using the beta! :slightly_smiling_face:

[2017-07-31 09:45] #523 closed

[2017-07-31 09:48] linhdsv commented on #524
Yes, I've replaced it by my own service name. In this case, `example-app` is my service name

[2017-07-31 09:56] brancz commented on #524
As you described [here](https://github.com/kubernetes/kube-state-metrics/issues/188#issuecomment-319020672) you are using Kubernetes v1.5.4. I'm not 100% sure that that is still supported by the client-go version we are using, however, as you are seeing a generated configuration it should be fine.

As this is your own service, are you sure you're actually exporting metrics through your http server

[2017-07-31 10:00] linhdsv commented on #524
I'm following this instruction: https://coreos.com/blog/the-prometheus-operator.html . As far as I know, `kube-state-metric` automatically exposes metrics through `/metrics` endpoint, doesn't it?

[2017-07-31 10:06] brancz commented on #524
The blog post is outdated, please use the [getting started guide in the docs](https://coreos.com/operators/prometheus/docs/latest/user-guides/getting-started.html). I'll make sure to let someone know to put a banner on the blog post to point people to it.

I'm slightly confused though, you said you are trying to monitor your own application, but are mentioning kube-state-metrics? The screenshot yo

[2017-07-31 10:11] linhdsv commented on #524
Maybe we're mismatched at some points. Here're full screenshot about my services monitoring. As you can see, my own service responsed with status DOWN and could not response at `/metrics` endpoint.
![image](https://user-images.githubusercontent.com/19921743/28773292-1a8633be-7613-11e7-9016-f96be0759345.png)
Does `kube-state-metrics` manage to expose my services metrics at `/metrics` endpoints?

[2017-07-31 10:26] brancz commented on #524
`kube-state-metrics` seems to be functioning as expected, it's up and could be scraped. What `kube-state-metrics` does is it converts Kubernetes objects to metrics consumable by Prometheus.

So from this screenshot I can see that everything seems to be working as expected, except for your application. Can you curl your application's `/metrics` endpoint, as in does your application actually respond

[2017-07-31 10:35] linhdsv commented on #524
Alright, It seems like I misunderstand the goal of `kube-state-metrics`. I'm considering `node-exporter` for this goal. Sorry if it's not related to this topic but could you give your advice about how to expose metrics on custom application, e.g in my case as you see above.

[2017-07-31 11:42] brancz commented on #524
There are [client-libraries](https://prometheus.io/docs/instrumenting/clientlibs/) for most major languages out there. The way Prometheus works, is that it performs an HTTP request to `/metrics` (this is configurable, but `/metrics` is the default) your application every 30s (this is configurable as well) and your application returns metrics which Prometheus then writes into its time-series databa

[2017-07-31 11:57] brancz commented on #520
We don't have a channel dedicated to the Prometheus Operator, however, lots of people use the `#prometheus` (on freenode) irc channel or `sig-instrumentation` on the Kubernetes slack.

As I don't use the grafana helm chart I cannot comment reliably on the functionality. As far as I understand, the grafana chart should be independent of the dashboards it is deployed with and only when deploying the

[2017-07-31 12:17] brancz commented on #426
Could you try the latest Prometheus `v2.0.0-beta.0` and set a memory limit? That should make the linux kernel evict memory when necessary.

[2017-07-31 13:05] linhdsv commented on #524
I see, thank you a lot! :)

[2017-07-31 13:11] brancz commented on #486
Any progress on this?

[2017-07-31 15:38] tsloughter commented on #520
@brancz thanks!

Sure, the issue is, at least for me, wanting to have an unmodified kube-prometheus and grafana charts that get installed and then when I install another app through a chart that needs specific dashboards they have to manually added each time. Or grafana has to be a dep of each chart, and then include its dashboards, and then the user switches grafanas to see the different dashboar

[2017-07-31 23:57] ryanwalls opened #528 "kube-prometheus node exporter not successfully scraped using host network"
**What did you do?**
Deployed kube-prometheus helm charts.

**What did you expect to see?**
I expected node exporters to be scraped successfully.

**What did you see instead? Under which circumstances?**
It seems that this line: https://github.com/coreos/prometheus-operator/blob/master/helm/kube-prometheus/charts/exporter-node/templates/deamonset.yaml#L39 causes the service endpoint to be discover

[2017-08-01 00:00] ryanwalls commented on #528
By the way, to get it working I just set:
[code]
in the DaemonSet manifest for the `exporter-node` chart.

[2017-08-01 03:00] weiwei04 commented on #520
@tsloughter

1. The grafana chart under github.com/coreos/prometheus-operator/helm is mainly for kube-prometheus, when helm install kube-prometheus, prometheus(with predefined k8s monitor targets, alertrulles), alertmanager and grafana(with pre-installed dashboard for k8s) are installed together with one cmd.

2. `when I install another app through a chart that needs specific dashboards they have

[2017-08-01 08:34] brancz commented on #520
There was already some thought on adding Grafana support to the Prometheus Operator, see: https://github.com/coreos/prometheus-operator/issues/115.

Our general idea around using Grafana is that it needs to be _completely_ stateless. Therefore any solution involving web UI import is highly discouraged (same applies for the current Grafana + grafana-watcher usage). It is important to understand tha

[2017-08-01 09:07] brancz commented on #528
@ryanwalls those settings are required for the node-exporter to be able to collect metrics from the host network namespace and the host pid namespaces. Even with a `ClusterIP` type `Service`, the underlying Pods can just have the hostIP, it must be something else, like a firewall issue that you're facing.

[2017-08-01 09:28] #524 closed

[2017-08-01 10:18] weiwei04 commented on #520
Thanks for the replay, my mistake. We use pvc(backed by ceph rbd) to store grafana state, if the Pod dies, the same pv will attach to the new grafana Pod, all the state are recovered. Yes, importing through the web UI is not apply everyone and should *highly* discouraged.

Make grafana complete stateless, by use configmaps to persistent the dashboards and use grafana-watcher to provision grafana s

[2017-08-01 10:25] brancz commented on #520
That sounds perfect. That way we can ship sensible defaults with the kube-prometheus chart(s), but still leave them bare bone. Essentially as I view kube-prometheus, the only thing the "package" should include are the things that make the overlaying dashboards/rules work, eg. the Kubernetes services, and plugging together all the components like Prometheus and Alertmanager. These dashboards and ru

[2017-08-01 10:27] brancz commented on #520
Basically what I'm saying is, if you two could help review the helm chart PRs and issues we'd highly appreciate that as we're not using helm ourselves, but would still love to ship high quality packages. We're just lacking contributors on the helm end. Let me know how I can help.

[2017-08-01 10:33] weiwei04 commented on #520
Yes, I'd like to help maintain the kube-prometheus charts(PRs and issues are welcome), but I don't have a public available helm registry to public these charts, since the charts in kube-prometheus are in @mgoodness registry.

[2017-08-01 12:20] xvzup opened #530 "kube-prometheus - monitoring of kube-apiserver fails since v0.11.0"
**What did you do?**
Used kube-prometheus  to install v0.11.1 of prometheus operator
**What did you expect to see?**
kube-apiserver should be listed as target in prometheus-k8s
**What did you see instead? Under which circumstances?**
kube-apiserver were not listed
**Environment**
prometheus-operator v0.11.1
* Kubernetes version information:

Client Version: version.Info{Major:"1", Minor:"7", GitVe

[2017-08-01 12:51] brancz commented on #520
@weiwei04 that won't be the problem. When we have them in a good state, I'm sure @ant31 can help us setup a helm repository in the quay helm registry (or before that to do pre-releases).

[2017-08-01 13:00] brancz commented on #530
Can you make sure that you have the latest roles and role bindings in place?

* [Roles](https://github.com/coreos/prometheus-operator/blob/e0003a00fe6d5f6aca71c5a10d11a0e715a92362/contrib/kube-prometheus/manifests/prometheus/prometheus-k8s-roles.yaml)
* [Role-Bindings](https://github.com/coreos/prometheus-operator/blob/e0003a00fe6d5f6aca71c5a10d11a0e715a92362/contrib/kube-prometheus/manifests/prom

[2017-08-01 15:44] xvzup commented on #530
In role prometheus-k8s for namespace default the resource pods is missing:

**Default namespace**
apiVersion: rbac.authorization.k8s.io/v1beta1
kind: Role
metadata:
  annotations:
  name: prometheus-k8s
  namespace: default
rules:
- apiGroups:
  - ""
  resources:
  - services
  - endpoints
  verbs:
  - get
  - list
  - watch

[2017-08-01 15:48] brancz commented on #530
Yes! You're absolutely right! Would you like to create a PR to fix this @xvzup ?

[2017-08-01 16:30] brancz commented on #530
Closing as #531 is merged. Thanks a lot again @xvzup !

[2017-08-01 16:30] #530 closed

[2017-08-01 16:42] tsloughter commented on #520
@brancz yea, I'm looking for a stateless solution as well. Happy to help any way I can (I still need to read through this whole thread). I'm currently working on a blog post for our company website that details using these helm charts and grafana dashboards was one of the last pieces to figure out.

"Simplest" solution (not sure how simple it actually would be) I can think of is to either build a

[2017-08-01 17:00] brancz commented on #520
That's one thing where having a controller/operator would be useful :slightly_smiling_face: .

[2017-08-01 17:13] eedugon opened #532 ""make generate" consultation to add grafana dashboards"
Hello,

Sorry if this question looks too simple or basic, but I have tried to find within the project documentation the information to be able to include some dashboards in grafana / grafana-watcher, and what I found is that I need to put the dashboards into the assets/grafana directory and then run "make generate", so the new configmap will be generated. That looks great, but...

Would you please

[2017-08-01 17:44] eedugon commented on #520
I'm very interested on this topic (more on the grafana overall solution you are discussing than the helm charts, but both are important).

Regarding the grafana dashboards and for short term solution (to allow users to add / remove dashboards easily), I would propose a bash script/tool that puts all dashboards into the ConfigMap yaml definition, and then updating the ConfigMap with kubectl should

[2017-08-01 17:47] ryanwalls commented on #528
@brancz But how does the port for collecting metrics get exposed on the node if the service is set to `ClusterIP`?

E.g.  When I setup the node exporter using the host network, the target that prometheus adds is the IP address of my node plus the port of the metrics endpoint.  So 172.19.32.1:9100/metrics.  But if the service is set to `ClusterIP`, how is the endpoint externally routable?

[2017-08-01 17:50] tsloughter commented on #520
Yea, an operator/controller would be best since it would work no matter what way grafana is installed to kubernetes.

It shouldn't be a very complicated task to do for grafana (compared to prometheus/alertmanager/etcd), right? If no one else has started on it I will take a wack at it.

Any pointers on if it should just be a custom controller or an operator, and links to any resources that might be

[2017-08-01 23:43] sabrehagen commented on #31
Does the use of TPRs Prometheus and ServiceMonitor render the ConfigMap that @manojlds missed redundant? https://coreos.com/blog/the-prometheus-operator.html

[2017-08-02 08:11] brancz commented on #31
@sabrehagen yes, this issue is ancient for this project :slightly_smiling_face:, back then we were not able to capture all Kubernetes components with the `ServiceMonitor`s, but nowadays we can. So unless you're doing something esoteric or very specialized you will most likely never have to specify your own configuration, but the use of `ServiceMonitor`s should cover all your needs. If not it's a b

[2017-08-02 08:20] brancz commented on #520
@tsloughter we've thought about actually integrating that directly into the Prometheus Operator (which for would make the name slightly odd, so it might actually be best to develop outside. The great thing about having it in the Prometheus Operator would be that we can make a lot more assumptions for it's usage, but given we're all on this thread I think we agree on the datasource type :slightly_s

[2017-08-02 08:23] brancz commented on #528
I'm not aware of the exact details, but IIRC the Cluster IP is simply routed via iptables to whatever IPs the endpoints object has.

[2017-08-02 08:31] brancz commented on #532
I think we have not documented which directory to run `make generate` in. As the dependencies are actually quite small: bash, cat, echo, base64. Are you running `make generate` in the root directory of the repository or in `contrib/kube-prometheus/`? The `Makefile` to generate the manifests is in `contrib/kube-prometheus/Makefile`, does that make sense? Do you think we need to improve the docs?

[2017-08-02 08:39] brancz commented on #526
I made sure to have a banner added at the top of the article stating that it's outdated and that the docs are a better point of reference.

Thanks for opening this issue! There is always room to improve. Everywhere! :slightly_smiling_face:

[2017-08-02 08:39] #526 closed

[2017-08-02 09:07] eedugon commented on #532
oh, my bad! I didn't see the Makefile because I wasn't updated to the latest master commit, and in my repository that file wasn't there, I'm sorry =) so, i didn't find the "generate" definition anywhere.

Yes, the doc then is accurate, maybe just adding a comment about where the make generate should be run. I will add that comment and raise a small PR for your validation.

Now I have also realized

[2017-08-02 09:07] #532 closed

[2017-08-02 09:27] ryanwalls commented on #528
@brancz Yep, this is definitely a "me" issue. :)  I figure out the reason it works despite using a Cluster IP for the service is because the DaemonSet sets a `hostPort`.  https://kubernetes.io/docs/concepts/workloads/controllers/daemonset/#communicating-with-daemon-pods.  So the DaemonSet is opening a port on the node, not the service.

So this should work.  Will investigate possible firewall issu

[2017-08-02 09:27] #528 closed

[2017-08-02 09:28] brancz commented on #528
Always happy to help :slightly_smiling_face: .

[2017-08-02 10:22] eedugon opened #535 "grafana-dashboards ConfigMap is invalid (metadata.annotations too long)"
**What did you do?**
Added dashboards to assets directory and recreate + apply the ConfigMap

**What did you expect to see?**
ConfigMap updated and applied.

**What did you see instead? Under which circumstances?**
Error in ConfigMap:
The ConfigMap "grafana-dashboards" is invalid: metadata.annotations: Too long: must have at most 262144 characters

**Environment**

* Kubernetes version information