[2019-04-01 10:14] #2391 closed

[2019-04-01 10:15] brancz commented on #2407
Could you share the `Namespace` object you're trying to select? Does it actually have the `namespace: test` label?

[2019-04-01 10:47] brancz commented on #2513
@tyrostone can you confirm that this fixed your issue?

[2019-04-01 10:51] brancz commented on #2517
What @squat said :100: . I personally don't think this needs any integration in the Prometheus Operator, as all of this can be generated via jsonnet. Only the ruler component might need some integration eventually, but that's tracked in #2288.

[2019-04-01 10:52] brancz commented on #2519
You can disable the metrics-server plugin in minikube, and this error should go away.

[2019-04-01 10:54] brancz commented on #2506
Could you share a graph of how the memory behaves? This sounds like Prometheus just doesn't have enough available.

[2019-04-01 10:55] brancz commented on #2507
Indeed, this looks like an issue on the kubelet. Can you confirm this @olivier-mauras ?

[2019-04-01 11:00] #2517 closed

[2019-04-01 15:09] nabadger opened #2525 "Possible node:node_disk_saturation:avg_irate mis-calculation ?"
Ref: https://github.com/coreos/prometheus-operator/blob/master/contrib/kube-prometheus/manifests/prometheus-rules.yaml

Should these recording rules be dividing by 1000? It looks like the output value is expected to be in seconds (which we already have in the newer version, where as previous metrics were `ms`).

Current
[code]

Previous:

[code]

[2019-04-01 15:34] brancz commented on #2525
You're totally right! We just use the kubernetes-mixin to define these: https://github.com/kubernetes-monitoring/kubernetes-mixin

Could you fix it there? Then we can bump the dependency here and fix it :slightly_smiling_face:

[2019-04-01 15:35] nabadger commented on #2525
Sure will do thanks

[2019-04-01 15:39] brancz commented on #2525
Awesome, thank you!

[2019-04-01 15:52] brancz commented on #2515
You're absolutely right, the documentation is faulty here. The `targetPort` field doesn't refer to the `Service`s fields, it refers to the port name or port number defined on the underlying selected Pods. Clarifying this in the docs is step 1.

Step 2 as you also already mentioned, we should treat `port` as a IntOrStr just like `targetPort` and select either the port name or port number, in the sa

[2019-04-01 15:55] brancz commented on #2520
Could you please make sure to update to latest versions of everything? I would like to avoid situations where the inability to create the gossip mesh caused the process to go out of ready state.

[2019-04-01 17:59] nabadger commented on #2525
Cool, there's a PR for that over in the kubernetes-mixin repo: https://github.com/kubernetes-monitoring/kubernetes-mixin/pull/181

[2019-04-01 18:33] brancz commented on #2525
Merged :) now we just need to update the dep and re-generate. You can find the steps here: https://github.com/coreos/prometheus-operator/tree/master/contrib/kube-prometheus#contributing

Just start in the `contrib/kube-prometheus/` directory with step 3.

[2019-04-02 01:20] guoyingying12 commented on #2520
hi~
   kubernetes  1.11.1
   prometheus 0.23.2

[2019-04-02 02:41] quakelee commented on #2519
Hi guys,
Thank you for your explain, and I have a suggestion about this, add a notice in ReadMe about this issue would be better.
Thanks for your help!

Xin

[2019-04-02 02:41] #2519 closed

[2019-04-02 05:03] feli5 commented on #2407
My object contains label 'namespace: test', otherwise
[code]
should not work either.

[2019-04-02 06:39] brancz commented on #2519
Agreed we should add it to the readme.

[2019-04-02 06:53] brancz commented on #2407
If I understand correctly you’re saying that if you configure a namespace selector then you’re not seeing your service monitor picked up.  This would make perfect sense if your namespace is not labeled appropriately. Which namespace did you create the servicemonitor in? And does that namespace have the “namespace: test” label? Can you please share the namespace yaml?

[2019-04-02 06:56] brancz commented on #2520
That’s not latest, v0.29.0 is latest of the Prometheus Operator, and v0.16.1 is latest of Alertmanager.

[2019-04-02 07:04] feli5 commented on #2407
That's what I'm using,
namespace.yaml
[code]
servicemonitor.yaml
[code]

[2019-04-02 07:29] brancz commented on #2407
If you specify a namespace selector, then that namespace must have that label :) you need to add the “namespace: test” label to your namespace.

[2019-04-02 07:43] feli5 commented on #2407
Cool, I will try it. And I have one more question, if I use serviceMonitorNamespaceSelector, I think prometheus will only pull metrics from exporters in matched Namespace, Is my understand right？

[2019-04-02 07:45] brancz commented on #2407
It will only select ServiceMonitor objects from that namespace, which in turn should be pointing at applications/exporters from those namespaces, correct.

[2019-04-02 07:46] brancz commented on #2519
I opened #2527 to address this. Thanks for bringing it up @quakelee!

[2019-04-02 07:47] feli5 commented on #2407
Thanks, will try it.

[2019-04-02 12:52] #2525 closed

[2019-04-02 13:47] avdhoot commented on #135
Other way do it.

[code]

[2019-04-02 15:50] jfuechsl commented on #2385
@metalmatze Are there any updates at this moment?

[2019-04-02 21:47] Tzrlk commented on #2487
Sure, though because I haven't done Go development before, it'll take me some time to get familiarised with the development environment and testing process. I also won't be able to get to it for a while, as I've already had to put a workaround in place, deprioritising any work time I could potentially spend on this.

[2019-04-02 23:36] cyrus-mc opened #2529 "prometheus-operator high CPU usage"
**What did you do?**

Recently installed Prometheus Operator on an EKS cluster

**What did you expect to see?**

The operator should simply be reconciling prometheus, servicemonitors, etc (which are not changing). So would not expect to see such high CPU usage.

**What did you see instead? Under which circumstances?**

Seeing average CPU usage from the operator of 25%, with jumps as high as 75%.

[2019-04-03 01:23] #2520 closed

[2019-04-03 03:33] reachlin opened #2530 "please provide container based on alpine"
I found operator is based on busybox which has too many security issues and is very difficult to fix. On the other hand, alpine is much better.

Please provide an image based on alpine for security compliance requirements.

[2019-04-03 05:48] brancz commented on #2520
Did that solve your issue?

[2019-04-03 05:51] brancz commented on #2487
Let us know if we can be of guidance :)

[2019-04-03 05:52] guoyingying12 commented on #2520
No,I want to solve the reinstallation problem by another way.

[2019-04-03 05:56] brancz commented on #2529
Can you be more specific what the % mean in terms of milli cores used by the process?

[2019-04-03 05:59] brancz commented on #2530
If you have special security compliance requirements, please build your own images. Do you have any examples of existing issues with this image, if so we’re more than happy to try and fix them.

[2019-04-03 06:55] reachlin commented on #2530
it's just busybox has too many tools pre-installed that may cause problems. anyway, thx.

[2019-04-03 06:55] #2530 closed

[2019-04-03 12:10] metalmatze commented on #2385
A week ago a few people, the original authors and others that have heavily invested into jsonnet and ksonnet, have met to discuss the future plans of ksonnet.

Without any hesitation it was agreed to keep the best parts of ksonnet and move forward with them.
That includes ksonnet-lib, the autogenerated (from Kubernetes' OpenAPI spec) jsonnet library which we use in kube-prometheus and other projec

[2019-04-03 12:37] jfuechsl commented on #2385
Thanks, that's amazing news!

[2019-04-03 15:49] azalio commented on #1533
[code]

[code]

[2019-04-03 16:33] tyrostone commented on #2513
@brancz I just tested this - it did not fix my issue - I consider this issue outstanding

[2019-04-03 16:36] cyrus-mc commented on #2529
I am seeing an average of 25% CPU usage (so 250 milli cores) with jumps as high as 75% (750 milli cores).

[2019-04-03 17:09] cyrus-mc commented on #2529
Closing this off. This turned out to be a memory limit issue. I had the limit set to 32Mi and the operator was right up against that. Once I bumped the request and limit up, the usage went down to 10 millicores.

My bad. Sorry.

[2019-04-03 17:09] #2529 closed

[2019-04-04 03:09] bluecarrife opened #2533 "prometheus v2.7.1 does not support storage.tsdb.retention"
In prometheus v2.7.1, storage.tsdb.retention is DEPRECATED;but for now, the master branches does not support the new arg 【storage.tsdb.retention.time】; when this arg can bu supported?

[2019-04-04 08:18] brancz commented on #1533
For jsonnet we merged the "managed cluster" patch in https://github.com/coreos/prometheus-operator/pull/2464 (careful when using as the file was renamed in https://github.com/coreos/prometheus-operator/pull/2508). As far as I can tell we don't have docs on this yet, which would be useful in this section I'd say: https://github.com/coreos/prometheus-operator/tree/master/contrib/kube-prometheus#clus

[2019-04-04 08:19] brancz commented on #2533
@paulfantom you want to give this a shot? All we need to do is starting from v2.7.0 or higher use the new flag and only below that use the old (now deprecated) flag.

[2019-04-04 08:44] paulfantom commented on #2533
Sure, it is in https://github.com/coreos/prometheus-operator/pull/2534

[2019-04-04 11:18] auhlig opened #2535 "storageSpec.VolumeClaim is not respected"
**What happened?**
Configured a Prometheus with
[code]

However, the operator ignores the VolumeClaimTemplate and creates the PVC with `spec.accessModes: ["ReadWriteOnce"]`.

Cause: The access mode is hardcoded [here](https://github.com/coreos/prometheus-operator/blob/master/pkg/prometheus/statefulset.go#L213).

**Did you expect to see some different?**

Operator creates PVC according to pvc templ

[2019-04-04 11:32] squat commented on #2535
@auhlig we intentionally hard code the accessModes to `ReadWriteOnce` because no two Prometheus servers should ever be sharing their storage; this will only cause problems. What is your use-case or need for `ReadWriteMany`?

[2019-04-04 11:42] auhlig commented on #2535
Thanks for the answer @squat.
I agree that if multiple Promtheis share storage causes mayhem.

However, `StorageSpec.VolumeClaimTemplate` is a `v1.PersistentVolumeClaim` and it should be up to the user to configure that.
Currently, the configured PVC template is just silently ignored. This is quite confusing.

I propose to leave configuration up to the user and use the volume claim template as con

[2019-04-04 12:12] squat commented on #2535
@auhlig I don't think that is a good idea. I suspect that the result of making that change will be user bug reports about corrupted data. There is not a valid reason for using ReadWriteMany in Prometheus Volumes and the operator should enforce this view.

Consider what would happen if a user ran a multi-replica Prometheus Statefulset, as is the default in kube-prometheus, but with a ReadWriteMany

[2019-04-04 13:28] vsliouniaev commented on #2273
I'm doing some testing of this on our own clusters as a standalone component running a single instance and noticed that I can end up with a race condition if I'm deploying rules and a new version of my validation pod together where there's nothing available to validate the rules.

Wondering if you have any opinion on creating a component external to the operator itself so it could be run as multip

[2019-04-04 13:37] auhlig commented on #2535
Thanks for the answer @squat.
I understand the implications of setting `ReadWriteMany` on the PVC and I completely agree that one should be using `ReadWriteOnce` to avoid corrupted data.

Unfortunately, we have to use pv's with `accessMode=ReadWriteMany` in some of our clusters.
We're aware that this is not ideal and we're working on fixing that.
However, there are no other option for us than to u

[2019-04-04 13:50] aylei opened #2537 "Add additionalPrinterColumns in CRDs"
**What is missing?**
`kubectl get prometheus` and `kubectl get alertmanager` prints less-informative message:
[code]

Starting with Kubernetes 1.11, CRD spec supports [`additionalPrinterColumns` definition](https://kubernetes.io/docs/tasks/access-kubernetes-api/custom-resources/custom-resource-definitions/#additional-printer-columns), which helps printing more informations of `Prometheus` and `Ale

[2019-04-04 14:46] metalmatze commented on #2513
@tyrostone What dod you see instead?

[2019-04-04 14:51] brancz commented on #2273
I don't see a problem creating the webhook as something that could be run individually (or in process). Ideally still part of this repo I'd say so we can be sure about compatibility.

[2019-04-04 15:04] brancz commented on #2537
What do you think would be useful information to show? Replicas are an obvious one I'd say. Anything else? (maybe that's a start already)

[2019-04-04 15:14] brancz commented on #2535
I think I agree with @squat, I think the Prometheus Operator should give hard guidance on the best way to run Prometheus and if the cluster is unable to deliver that, then the cluster "incompatible" with the best practices.

[2019-04-05 07:43] metalmatze commented on #2537
I'd like to see retention and the configured Alertmanager to show up as columns. Something along the lines of `alertmanager.monitoring` (service name and namespace) would be helpful.

[2019-04-05 08:19] BugRoger commented on #2535
Considering how much functionality this operator covers, I think, less opinion and more flexibility would be beneficial. This flag basically rules out the usage of this operator on our whole fleet of clusters. We either have to fork or maintain or own solution. It's a lose/lose situation. We have to spend our efforts elsewhere and the operator doesn't get contributions.

[2019-04-05 08:20] jobrs commented on #2535
I would agree with @squat if only Kubernetes would fall-back to RWX volumes to satisfy RWO claims (if RWO volumes are not available). But as long as this is not the case, I find hardcoding not an adequate solution especially since you are reusing VolumeClaimTemplate.

[2019-04-05 08:44] brancz commented on #2537
Yes I like the idea of covering retention

[2019-04-05 09:09] metalmatze commented on #2535
I agree with @squat and @brancz on their previous comments.
Enforcing the PVC mode to `ReadWriteOnce` has multiple advantages:
1. Users are safeguarded to not get themselves into trouble as easily
2. Thus we, as maintainers, do **not** get as many bug reports from users who unknowingly use `ReadWriteMany`.
3. Try to be opinionated, not with our own opinion, but with what's recommended by Prometheu

[2019-04-05 11:08] auhlig commented on #2535
Thanks a lot for taking the time @metalmatze, @brancz, @squat.

I completely agree with you.
Users as well as maintainers shouldn't be bothered by an unknowingly set configuration.
However, the reason I had to open this issue is exactly that.
Storage can currently be configured via a volume claim template.
The operator overrides some parameters of my template without me knowing nor wanting this.
I

[2019-04-05 11:47] vrathore18 opened #2540 "**Config-reloader of alertmanager is crashing**"
I found config-reloader of alertmanager is getting terminated. From describe pod what I found is :

[code]

I used HELM chart to install Prometheus-operator on AWS EKS.

Helm chart version:
prometheus-operator-1.1.0 0.26.0

How to fix it? I saw others were facing the same issue. Is there any fix or workaround as of now?

[2019-04-05 11:54] brancz commented on #2540
The fixed version has been released, I think you just need to update to latest.

[2019-04-05 12:41] vrathore18 commented on #2540
@brancz I am already using stable helm version. could you confirm the version name on which this issue is fixed?

[2019-04-05 12:46] brancz commented on #2540
Please refer to the upstream charts repo and ask there, as we don't maintain the charts I can't help you.

[2019-04-05 15:19] japaniel commented on #2502
To get access to the stats in the interim I've put someone's envoy-stats config in a secret and added that to the additionalScrapeConfigs

My prometheus yaml has this in it:
[code]

The secret looks like:
[code]

Or in other words
[code]

[2019-04-05 16:50] jescarri commented on #1831
@brancz cool I will try to find some time next week to submit the PR.

Thanks!

[2019-04-07 06:56] liupeng0518 commented on #1482
@brancz emmm.. How to add serviceaccount, is there an example?

[2019-04-08 07:00] brancz commented on #1482
@liupeng0518 can you please elaborate on your use case? Are you also trying to see the metrics endpoint in your browser?

[2019-04-09 05:48] nsvora commented on #2433
I am seeing weird behavior with prometheus operator 4.3.4.
I have setup PVC with retention set to following:

prometheus.prometheusSpec.retention 3h

Here is my observation:
After every 7 hours, first two hours of data is erased.

I am also seeing below error in logs:
"deprecation_notice="\"storage.tsdb.retention\" flag is deprecated use \"storage.tsdb.retention.time\" instead.""

Any thoughts on

[2019-04-09 07:54] brancz commented on #2433
This is not a version I'm remotely aware of, where is it coming from?

This is nothing to worry about. Prometheus stability guarantees promise that no flag will be removed in the same major release. We'll work on using the new flag when available anyways though.

Can you be more specific about what you mean by "the first"? The oldest data? The most recent data? With 3 hours retention, the oldest d

[2019-04-09 07:55] stanlyDoge commented on #2400
I have the same issue :(
The Alertmanager pod start, its UI is accessible, but there is this message in its log:
[code]
It result in situation the Prometheus pod fires an alert but Alertmanager is not able to process it.

When starting my Openshift cluster, I got this message:
[code]

Is it possible to configure the DNS address to resolve the service?

[2019-04-09 08:57] ant31 commented on #2535
The goal of the project is to simplify as much as possible running prometheus on Kubernetes using the best practices. Including a way to corrupt user data is against this goal.

As alternative, we could NOT use the upstream `v1.volumeClaimTemplate` and create new struct without the accessMode field, that way it would raise a validatationError if someone misconfigure it.
It could remove probably so

[2019-04-09 16:35] nsvora commented on #2433
Apologies for incomplete information.
I am using version 4.3.4 of prometheus operator helm chart.

I meant following in my previous post:
- I have retention flag set to indicate 3 hour retention.
- After having collected data for 7 hours, data in grafana erases previous 2 hour data and now shows data only for last 5 hours. (i am referring to compute resources/cluster dashboard here)

I was hoping

[2019-04-09 22:44] Gangareddy opened #2546 "Prometheus-server liveness fails on K8S port-forwarding with an intensive request."
**What happened?**
After port-forwarding to Prometheus-server pod on kubernetes, I tried some intensive promQL queries. The pod started to fail on liveness failure.

**Did you expect to see some different?**
I expect pod to not fail on liveness failure.

**How to reproduce it (as minimally and precisely as possible)**:
 port-forwarding to Prometheus-server pod on kubernetes,
then try some intensiv

[2019-04-10 00:49] Tzrlk opened #2547 "Prometheus Secret Config Empty"
**What did you do?**
I standardised the metadata labels for all my deployment entities when converting from loose manifests to local helm charts. After that, the prometheus config secret always has no data in it.

**Did you expect to see some different?**
I expected the configuration secret to contain data as it did on the default deployment.

**Environment**

* Prometheus Operator version:

    `

[2019-04-10 01:04] Tzrlk commented on #2547
I thought a bit about the issue with omitted `ruleSelector`, and double-checked the original config. After applying `serviceMonitorNamespaceSelector: {}` and `serviceMonitorSelector: {}`, the config started populating. Doing the same with `ruleSelector: {}` had the same effect.

[2019-04-10 01:04] #2547 closed

[2019-04-10 02:14] tuxknight opened #2548 "Operator should be able to config external alertmanager."
**What is missing?**
be able to config external alertmanager.

**Why do we need it?**

When we have multi prometheus clusters, such as  three k8s clusters with each prometheus cluster in it and 3 datacenters with one promethues cluster every datacenter,  it  will be better to have only one HA alertmanager cluster to handle all these alerts/silences .

A prometheus federation is not a good solution

[2019-04-10 09:41] brancz commented on #2548
You can use the `additionalAlertManagerConfigs` feature to configure raw Prometheus config for discovering Alertmanagers so you can do whatever topology fits your use case best :slightly_smiling_face: .

[2019-04-10 09:42] brancz commented on #2546
This sounds more like an issue with Prometheus. Could you report it there? (also maybe this is correct as Prometheus seems to not be responsive)

[2019-04-10 12:04] brancz commented on #2433
That sounds about right. Prometheus 2.x does deletion by deleting the immutable blocks on disk, which at your retention are blocks that are 2 hours in length, and Prometheus only deletes blocks that are fully out of retention, which means you will always see at least 2 blocks (4 hours) plus the head block which gets persisted after 2 hours of filling up, causing your data on disk to hover between

[2019-04-10 12:52] gouki777 opened #2549 "how drop target lables [repeating data]"
hi
my targets have more targets .
i want drop service="monitor-prometheus-operator-kubelet" and service="k8s-prometheus-operator-kubelet"
i want need  service="k8s-prometheus-operator-kubelet" targets.
i change my config.but no good
how to do drop k8s-prometheus-operator-kubelet targets. how to do change my config?
thanks.
<pre>
prometheus-operator
my targets  monitoring/prometheus-operator-kubele

[2019-04-10 13:04] brancz commented on #2549
This seems like an odd target to begin with. If you installed this via the helm chart, please talk to the helm chart maintainers, we don't use or maintain the helm charts so we can't help with that topic.

[2019-04-10 13:12] doog33k commented on #1834
@ktpktr0 : thanks for your help.
I was able to fix my issue thanks to you

[2019-04-10 14:54] gouki777 commented on #2549
sorry.i know

[2019-04-10 14:54] #2549 closed

[2019-04-10 16:30] jescarri commented on #1831
@brian-brazil can you give me some pointers, I'm lost with the code refactor that happened few months ago.

The validation needs to be done at the lister, however the code that is now automatically generated, how I can add code to those aut-gen functions?.

Code needs to go on `pkg/client/versioned/typed/monitoring/v1/prometheusrule.go` in List method. basically just check if is a valid yaml, and

[2019-04-10 17:55] jwineinger commented on #926
@kevinjqiu your snippet there is incorrect. s/http/https/

[2019-04-11 02:53] tuxknight commented on #2548
Cool. It works.
Thank you.

[2019-04-11 02:53] #2548 closed

[2019-04-11 06:16] guoyingying12 opened #2552 "alertmanager CrashLoopBackOff"
Hello,every guys!
When I used "prometheus-operator" build prometheus, alertmanager is faild that only one.

env:
master01:  alertmanager is faild
master02:  alertmanager is success
node01:   alertmanager is success

**please look picture.**
![图片](https://user-images.githubusercontent.com/32632723/55934147-4e329900-5c62-11e9-9044-696b638563c9.png)

**# kubectl describe pod -n monitoring alertmanage

[2019-04-11 06:55] guoyingying12 commented on #2552
prometheus-operator:0.29.0
kubernetes:1.11.1

[2019-04-11 11:08] stanlyDoge commented on #2400
I have found a solution. I started 2 replicas of Alertmaneger. The first replica has this error in its log. So I just rolled this replica. It started without any errors in the log and everything works fine.

[2019-04-11 11:31] nabadger commented on #2213
One problem with treating alertmanager config as a whole is with code-reviews - you now have to decode the data in the file or un-encrypt it (if using SealedSecrets etc).

This makes merge-requests to the config a real pain. As mentioned above, this is a specific issues (probably) with the receivers which tend to have auth. information in them.

[2019-04-11 12:31] metalmatze opened #2553 "Move kube-prometheus into its own separate repository"
We want to move kube-prometheus into its own repository (again). Here is why:

Two years ago kube-prometheus was moved from [its own repository](https://github.com/coreos/kube-prometheus) into the Prometheus Operator repository to keep both projects more synchronized, as the right tools were missing. A lot of people are confused that kube-prometheus is inside the Prometheus Operator repository and

[2019-04-11 12:34] brancz commented on #2553
I would very much like to see this happen :+1: . I think the only open question is which repository _exactly_. I would say because the dependency management process is so easy, for now we transfer it back to the `coreos/kube-prometheus` repository and should we decide to put it under another governance we can still do that, but can get started on removing the pain we have due to this _now_.

[2019-04-11 12:35] s-urbaniak commented on #2553
agreed :+1:

[2019-04-11 12:42] brancz commented on #1831
Unfortunately I don't think that's possible anymore, it'll be overwritten on subsequent runs. There is a bright light though as https://github.com/coreos/prometheus-operator/pull/2551 was just opened, which I believe is the correct fix for this, as PrometheusRule objects won't even be possible to be created :slightly_smiling_face: .

[2019-04-11 14:55] kevinjqiu commented on #926
@jwineinger Thanks. Updated.

[2019-04-11 15:08] brancz commented on #2552
If you delete the pod completely does that change anything?

[2019-04-11 16:46] nsvora commented on #2433
Thanks for response @brancz
I am not clear how the block size is computed. Could you help understand retention better (with ) with an example (using "storage.tsdb.retention" flag) ?

Overnight i had my setup running with retention set to 3 hours with 1GB PVC volume (using AWS EBS, gp2 type of volume). Today morning i see that prometheus is no longer collecting metrics and prometheus container is c

[2019-04-11 16:51] squat commented on #2553
SGTM. We've talked about this exact plan for a few months, and now is a good time.

[2019-04-11 20:56] jescarri commented on #1831
yes that's what I was thinking too, well we will have to find those rules in advance before updating the operator.

thanks for the help!, and I look forward to test the admission web-hook.

[2019-04-11 21:07] vsliouniaev commented on #2540
Current Helm chart version is 5.0.0+

[2019-04-11 22:55] vsriadib commented on #1470
Hi Guys,
 I am also having the same issue, data is not being scrapped into Prometheus. Looks like I have done all my due diligence on Service Monitors however no luck. I am enclosing the one works and the one is not working. I am enclosing Deployment config of the non-working application as well.

I appreciate all your help.

[Prometheus.zip](https://github.com/coreos/prometheus-operator/files/307

[2019-04-12 01:26] guoyingying12 commented on #2552
If I delete the pod alertmanager-main-2,a new pod will restart,but with the same error.

alermanager-main-2 contains two containers,  alertmanager and config-reloader. I can see by grafana that the container alertmanager is always stopped.
![图片](https://user-images.githubusercontent.com/32632723/56005808-e4b79680-5d04-11e9-8a6d-96be0786596c.png)

[2019-04-12 04:02] krmayankk commented on #1217
that is correct @brancz

[2019-04-12 07:07] brancz commented on #2540
Closing here, should the problem persist with the new release feel free to comment.

[2019-04-12 07:07] #2540 closed

[2019-04-12 07:11] brancz commented on #1217
In that case closing here, feel free to comment or open a new issue should this not work as expected.

[2019-04-12 07:11] #1217 closed

[2019-04-12 10:08] xxxbobrxxx commented on #2400
Have some issue on GKE clusters (v1.10.5-gke.3) and docker-for-mac (2.0.0.3 (31259) with Kubernetes  v1.10.11)

[2019-04-12 18:26] infyDavis opened #2555 "Prometheus can't access node-exporter metrics"
**What did you do?**
[code]

**Did you expect to see some different?**
no data for node-exporter metrics through prometheus webapp ```https://IP:9090/graph```

All targets for node-exporter on webapp have state ```UP``` no errors here

I can see node-exporter metrics through ```curl localhost:9100/metrics``` on nodes

**Environment**

* Prometheus Operator version:

    `prometheus-operator:v0.29.

[2019-04-12 19:08] brancz commented on #2433
The block size is based on the compression scheme used by Prometheus. A 2 hour window of continuous samples yields optimal compression. The amount of data could be very justified or very large, it very much depends on how much data you're ingesting. Could you query prometheus with:

[code]

That query gives you the amount of samples appended per second. Having that number will tell us whether the

[2019-04-12 19:23] nsvora commented on #2433
I see below value for rate(prometheus_tsdb_head_samples_appended_total[5m]) :
1561.3956135555554

[2019-04-13 05:21] wy100101 commented on #2213
I actually like the idea of being able to supply a templated ConfigMap that gets converted to expanded version in the secret used by alertmanager. I'm currently planning to store the templated config in git and then have the ci-cd system hydrate the secrets from vault.

[2019-04-13 08:08] sloppycoder opened #2557 "creating service monitor can only scrape service in monitoring namespace?"
I created a [test project on github](https://github.com/sloppycoder/profile-svc/blob/master/k8s/gke/README.md) here.

When I create deployment and service in the monitoring namespace, then created the service monitor as following

[code]

Operator picked up the service monitor and I saw the following configuration in Prometheus dashboard.

[code]

Everything seems to be fine, Prometheus scrapes my

[2019-04-13 22:01] StevenACoffman commented on #2519
Uh... so wait, for those of us running kubernetes clusters but not using minikube (like AWS eks), does it make sense to run metrics-server and the Prometheus Adapter?
Can Prometheus Adapter make the cluster autoscaler work?

[2019-04-13 22:29] enricomarchesin commented on #1839
Had a similar problem when upgraded the cluster from v1.10.4 to v1.10.13... Tuned out the selector in the selector in `svc/kube-prometheus-exporter-kube-controller-manager` and `svc/kube-prometheus-exporter-kube-scheduler` were wrong.

They were looking for pods with labels `k8s-app=kube-controller-manager` and `k8s-app=kube-scheduler`, but the actually deployed pods had slightly different labels,

[2019-04-14 08:00] sloppycoder commented on #2557
I found some references to this in #1921. but still not sure what I should do...

[2019-04-15 04:49] shaunmansell commented on #2501
We've been hitting this issue quite frequently with our Prometheus Operator deployments so I'm quite keen to get this fix deployed.

Is there an ETA on when a release containing this will be available?

[2019-04-15 06:53] YonatanKiron commented on #2238
Hey guys, any news on bringing this back?
I'm trying for a few days now, but seems like there is a golang "magic" that keep bringing this issue.
The only working option I found is changing the [code](https://github.com/coreos/prometheus-operator/blob/master/pkg/apis/monitoring/register.go#L18).
I also tried to override this value and [this one](https://github.com/coreos/prometheus-operator/blob/ma

[2019-04-15 07:13] guoyingying12 commented on #2552
HI~  Can you help me?

[2019-04-15 11:09] metalmatze commented on #2519
No, you can't run both. It is one one of both. They both implement the same APIService in Kubernetes.

[2019-04-15 11:56] brancz commented on #2552
Seems curious, @mxinden could you have a look at this?

[2019-04-15 11:58] brancz commented on #2238
Unfortunately because we kind of have to use the generators I don't see a good way of doing this, other than integrating functionality like this into the generators.

I'm curious how you do this generally with Kubernetes today, as Kubernetes itself doesn't allow you to do things like this.

[2019-04-15 12:00] brancz commented on #2501
I think we've collected a number of things. This is a short week in Germany so I can't promise we'll get to it this week, but likely by next week there should be a release out. Not promising anything though, things sometimes get into the way :slightly_smiling_face: .

[2019-04-15 12:09] brancz commented on #2433
Roughly calculating with that number 1560 samples ingested per second, and up to 6 hours of data stored on disk due to the above reasons (I won't discuss those further here as it's an intentional design decision on the Prometheus project not here):

1560 samples per second * 60 seconds * 6 hours = 561 600 samples disk

A sample with compression is anywhere between 1.3-2 bytes per sample (let's cal

[2019-04-15 12:17] brancz commented on #2557
The `ServiceMonitor` object should be created in the same namespace as the application lives in. You need to make sure that the `serviceMonitorNamespaceSelector` selects that namespace _and_ that the Prometheus server has the appropriate permissions to access Service/Endpoints/Pod objects in that namespace.

I saw you used the kube-prometheus stack, which we just a few minutes ago moved to it's ow

[2019-04-15 12:20] brancz commented on #2555
This error can be safely ignored as you just don't seem to have an ntp daemon running (you probably should, but don't _have to_). All other node-exporter things are still functional. Can you explain what metrics you expected to see, but didn't see?

[2019-04-15 13:02] auhlig commented on #38
I'd also be happy to see a `PodMonitor` following @fabxc initial spec.
Happy to get started and submit a PR.  Good to go @brancz, @fabxc?

[2019-04-15 13:18] brancz commented on #38
I'd say take it away @auhlig! :)

@s-urbaniak @metalmatze @mxinden @squat @paulfantom any thoughts on your side? I think for a start maybe we should leave out authentication and TLS config, as @mxinden is currently working out some of the mistakes we made early on in the `ServiceMonitor` object. But drafting the types and generation of everything else sounds good to me :+1: .

[2019-04-15 14:56] infyDavis commented on #2555
@brancz I expected to see any metrics from node exporter on the web-app.

For example I see ```node_memory_Cached_bytes 5.0248482816e+10``` if I ```curl localhost:9100/metrics``` on one of the nodes but don't see this metric through the web-app.  I ultimately want to see the metrics in grafana but there is no data there either.

<img width="1680" alt="Screen Shot 2019-04-15 at 7 50 59 AM" src="htt

[2019-04-15 16:07] metalmatze commented on #38
I would love to see a PodMonitor. :relaxed:

[2019-04-15 16:17] brancz commented on #2555
That seems curious, are you sure all node-exporters are `up` and you are not missing any targets? As in you're seeing a node-exporter being up for each node in your cluster?

[2019-04-15 17:26] infyDavis commented on #2555
Yea all node-exporters are up.

I just restarted prometheus today.

One alertmanager target has an error ```Get http://172.17.0.14:9093/metrics: dial tcp 172.17.0.14:9093: connect: no route to host```

and grafana target has error ```Get http://10.244.6.91:3000/metrics: context deadline exceeded```

I've recreated prometheus on my cluster multiple times and these targets are sometimes up and somet

[2019-04-15 19:00] kskewes commented on #2213
Whilst it's not pretty, we have the same issue and have done some hacks as per the gist at bottom.

Can definitely be improved (`std.mapWithKey()`?, overrides location) and would appreciate suggestions too.

[code]

[2019-04-15 21:14] StevenACoffman commented on #2519
Thanks! It might be good to make a more general note somewhere to show more universal relevance.

[2019-04-16 01:48] jehos opened #2558 "Does Grafana has persistent storage?"
**What did you do?**

`helm install prometheus-operator -f my-override-value.yaml`

working well, but when i delete the pod of grafana, everything on grafana resetted

**Did you expect to see some different?**

actually, i cannot find persistence storage setting on grafana section..

as i know, grafana has sqlite3 database.

can prometheus-operator using this by edit value.yaml?

Or, is grafana no

[2019-04-16 06:09] manuprometheus opened #2559 "Error while adding jsonpath as parameter in scrape_configs:"
**What did you do?**
I have configured a json exporter that will collect the metrics from a Json URL. I have passed the target and the json as a parameter using relabelling. But getting error.
**Did you expect to see some different?**

**Environment**

* Prometheus Operator version:

    `Insert image tag or Git SHA here`

* Kubernetes version information:

    `kubectl version`

* Kubernetes clus

[2019-04-16 06:11] manuprometheus commented on #2559
My additional-scrape-configs.yaml is as follows:

[code]

[2019-04-16 07:58] manuprometheus commented on #2559
I have fixed the issue. Modified the configuration as follows;

[code]

[2019-04-16 07:58] #2559 closed

[2019-04-16 20:56] StevenACoffman commented on #2502
This is how the istio folks are doing it for now: https://github.com/istio/tools/blob/master/perf/istio-install/setup_prometheus.sh

[2019-04-16 22:31] nsvora commented on #2433
Thanks @brancz for explaination.
Could you clarify why you used 6 hours in above calculation...is it twice the retention period in our example? And above formula returns kb of data ?

[2019-04-16 23:26] matkam commented on #2555
I'm noticing something similar. No metrics are logged with Prometheus. I can kill and restart the `kube-state-metrics` pod and everything will work fine for about 15 minutes.

[2019-04-17 07:21] YonatanKiron commented on #2238
Yah, I figure it out in the hard way :(

First, we have multiple clusters
Second, we are running prometheus `0.25` just because it does have crdgroup flag.

We will probably run multiple prometheuses and will try to divide them by labels and using the same CRDs.
I will update here on the results, and will open a PR that will remove this flag and document how to remove the flag for those who are st

[2019-04-17 08:48] brancz commented on #2433
6 hours comes from Prometheus deleting only fully out of retention blocks (and blocks are 2 hours long). Prometheus flushes these fully immutable blocks every two hours from the write-ahead-log.

[code]

[2019-04-17 08:56] brancz commented on #2558
We don't use or maintain the helm charts, please open an issue on the upstream helm repo.

Generally speaking though we deploy Grafana in a 100% stateless way, and only provision the dashboards at startup from files. After that it's entirely read-only. This is intentional.

[2019-04-17 08:56] #2558 closed

[2019-04-17 14:07] benjaminhuo commented on #2502
Thanks @StevenACoffman for this istio prom setup info.
And I've noticed that kube-prometheus has been moved to a new repo under coreos.
It make sense :)

[2019-04-17 14:09] neoludo opened #2561 "quay.io/coreos VS openshift3"
Prometheus operator in openshift is installed using openshift3 docker repository
is there any difference between this container and quay.io/coreos ?

Thanx in advance for your help
Ludovic

[2019-04-17 15:30] metalmatze commented on #2561
This questions is specific to OpenShift and this is the community upstream project. Please contact Red Hat support directly.

[2019-04-17 15:30] #2561 closed

[2019-04-17 16:02] bgagnon commented on #2433
Is this issue a feature request for the new `retention.size` to be added to the Prometheus CRD, or a bug report about the current retention functionality? Just wondering if I should file a new issue for the former :)

[2019-04-18 05:58] brancz commented on #2433
@bgagnon it is not, but I think that's a reasonable request. Do you mind opening a new issue for it? Thanks! :)

[2019-04-18 09:37] brancz commented on #2552
@paulfantom @mxinden could this maybe also be the cause of our flakes?

[2019-04-18 10:57] mxinden commented on #2552
Hi @guoyingying12 ,

Thanks for the report. In order to reproduce this, would you mind giving us some more details:

- Does the crash looping Alertmanager container only ever log a single line?

level=info ts=2019-04-11T06:08:41.637781884Z caller=main.go:177 msg="Starting Alertmanager" version="(version=0.16.1, branch=HEAD, revision=571caec278be1f0dbadfdf5effd0bbea16562cfc)"
level=info ts=2019-04-

[2019-04-18 15:46] metalmatze commented on #1834
The Helm chart is not part of this repository anymore, thus closing.

[2019-04-18 15:46] #1834 closed

[2019-04-19 00:46] bgagnon opened #2563 "Support storage.tsdb.retention.size in PrometheusSpec"
When Prometheus is bound to a PersistentVolumeClaim with a fixed size, the size-based retention make more sense than the time-based retention which is unpredictable if time series come and go and data rate is variable.

Realated issues:
* #2433
* #2533

[2019-04-19 00:48] bgagnon commented on #2537
Namespace/ServiceMonitor selectors would be useful to see as well

[2019-04-19 10:21] manuprometheus opened #2564 "Need to add custom webhook configuration in alertmanager"
**What did you do?**
I have a custom webhook URL and I need to configure the same in alertmanager for getting alert notification. But my configuration is not working as expected. Can anyone help?
**Did you expect to see some different?**

**Environment**

* Prometheus Operator version:

    `Insert image tag or Git SHA here`

* Kubernetes version information:

    `kubectl version`

* Kubernetes c

[2019-04-19 10:24] manuprometheus commented on #2564
My configuration is as follows,

[code]

[2019-04-19 16:50] leejones opened #2565 "Add support to set logFormat option for Alertmanager"
**What is missing?**

A `logFormat` option for Alertmanager.

**Why do we need it?**

In order to change the log output format for Alertmanager (e.g. to `json`).

**Environment**

* Prometheus Operator version: `quay.io/coreos/prometheus-operator:v0.29.0`

* kube-prometheus revision: `master`

**Anything else we need to know?**:

This option became available in Alertmanager `0.16.0` ([changelog](h

[2019-04-21 12:27] guoyingying12 commented on #2552
HI ~,Sorry,I have been busy recently, and the reply is late.

Only one alertmanager is error.and only ever log a single line.
when I delete the pod alertmanager-main-2,a new pod will restart,but with the same error.

[2019-04-22 09:55] manuprometheus commented on #2564
Now i am getting following error.
`
level=error ts=2019-04-22T09:31:46.038681545Z caller=dispatch.go:279 component=dispatcher msg="Notify for alerts failed" num_alerts=1 err="cancelling notify retry for \"webhook\" due to unrecoverable error: unexpected status code 404 from http://example.com:9898/TrigerToSlack"`

[2019-04-23 00:55] shaunmansell commented on #2501
Appreciate the update @brancz!

[2019-04-23 08:18] mxinden commented on #2552
@guoyingying12 Would you mind doing the following steps:

- Inside the [spec](https://github.com/coreos/prometheus-operator/blob/master/Documentation/api.md#alertmanagerspec) of the Alertmanager custom resource, can you set the `logLevel` to `debug`?

- Can you post the Alertmanager custom resource here?

- Does this issue persist, even when you remove and recreate the Alertmanager custom resource

[2019-04-23 08:35] guoyingying12 commented on #2552
Sorry.
Can you tell me how to modify the alertmanager custom resource management library.I don't know which yaml file to modify. I'm very sorry.

[2019-04-23 08:46] manuprometheus commented on #2564
I have fixed the issue. My API call was a POST but i have defined it as a GET. Changed the GET to POST and everything works fine after that.

[2019-04-23 08:46] #2564 closed

[2019-04-23 11:56] aslimacc commented on #2557
@brancz Thank you for response

For me, Prometheus cannot detect ```ServiceMonitor``` on other ```Namespaces``` if the ```ServiceMonitor``` object is created in the same namespace as the application lives in.

When I add the same ```ServiceMonitor``` object on ```additionalServiceMonitors```. It works

What is wrong?

[2019-04-23 12:45] brancz commented on #2557
@aslimacc sorry we don't maintain or use the helm charts, we can't help you with that.

[2019-04-23 13:43] brancz commented on #2565
Happy to have this added.

[2019-04-23 13:44] brancz commented on #2563
Note that Prometheus retention only deletes full blocks that are fully out of the retention window, so there is still some variability that you have to deal with, but yes generally speaking this is a great feature that we should allow to be made configurable.

[2019-04-23 17:33] akshayrathod2 commented on #1567
Hey this link you mentioned is not working. Can you please provide some document on setting up prometheus with persistent storage. My issue right now is each time I delete my pod I loose all my data.

[2019-04-24 07:07] occelebi commented on #1458
I used @aranair's script. However no luck. I keep getting `error="Dashboard title cannot be empty"` from grafana container whereas it works when I paste that into grafana directly.

[code]

[2019-04-24 08:24] metalmatze commented on #1567
@akshayrathod2, can you elaborate a bit about what you have done and tried? That would be helpful.

[2019-04-24 08:30] metalmatze commented on #1458
@occelebi, note that a lot of things in this issue might be quite outdated. The kube-prometheus project moved to [coreos/kube-prometheus](https://github.com/coreos/kube-prometheus). Would you mind creating a new issue there? Thanks

[2019-04-24 13:35] romanvog commented on #1567
@metalmatze ,

I've updated the following in prometheusCustomResourceDefinition:

[code]

pvc was created, but it doesn't include the capacity and access modes that I've specified. In addition, it's not used by prometheus-k8s pods.

[code]

Can't figure out what is missing, and having a guide on setting up a persistent storage for prometheus would be helpful.

[2019-04-24 13:40] omni-lchen commented on #2434
I experienced the same issue with stable/prometheus-operator v5.0.2, it looks like the endpoints of kubelet service is not up to date, it still holds the nodes terminated, however the endpoints of prometheus-operator-kubelet service are showing correct, not sure this is kubernets issue, you can run the following commands to verify.
- kubectl -n kube-system get ep kubelet -o json | jq .subsets[].ad

[2019-04-24 13:59] akshayrathod2 commented on #1567
We have two statefulset prometheus-k8s and alertmanager-main.
I am trying to add pv to these statefulset. But I think this statefulsets are managed by prometheus-operator(As I am not able to find these statefulset files in manifest directory).
So exported existing statefulset in yaml made changes and applied in different namespace.
that worked and while applying this changed stateful set I got bel

[2019-04-25 10:29] archyufa commented on #2407
@feli5 Can you please provide feedback if @brancz recommendation to label namespace worked for you and if this issue can be closed as it's configuration problem. Do you think this is something needs better documentation ?

[2019-04-25 10:34] spesala-infy opened #2572 "Unable the get the metrics of spring boot application in Prometheus Operator"
*What did you do?**
We are using Prometheus Operator to monitor our k8s cluster as well as to monitor our non K8S VM nodes.Created the deployment object for the spring boot application in different name space, also created the service object for the pods deployed through deployment object in the same name space.created the ServiceMonitor object to monitor in different name space, but spring boot a

[2019-04-25 12:00] metalmatze commented on #2572
The Service and ServiceMonitor looks good.
Can you check that Prometheus has access to the `actuator` namespace. If not you should see it in the Prometheus Container logs.

[2019-04-25 14:42] sterchelen commented on #2444
@sgmitchell Any news about your proposal ?

[2019-04-25 15:19] spesala-infy commented on #2572
Hi Matthias ,Thanks for your quick response. Prometheus is not having access to actuator namespace. so created the role and role binding for the name space, once created able to pull the metrics from spring boot actuator app.

Can you please share the document or process to create additional dashboards for spring boot app?

[2019-04-25 15:24] sgmitchell commented on #2444
#2445 implements this and should be merged in soon

[2019-04-26 02:28] llussy opened #2573 "how to get default promethues configure file ?"
**Environment**

* Prometheus Operator version:
[code]
install  way
[code]

* Kubernetes version information:

[code]

* The problem
**I found that the prometheus default configure file in secrets **

[code]

#### secrets data is prometheus.yaml.gz, How do I get prometheus.yaml.gz content？
prometheus.yaml.gz Where it was configured？Is it defined in the mirror image？ I did not find the relevant con

[2019-04-26 06:39] brancz commented on #2573
The Prometheus Operator generates the configuration for you. I recommend you to check out the getting started before you install the helm chart: https://github.com/coreos/prometheus-operator/blob/master/Documentation/user-guides/getting-started.md

Also as a side note we don’t use or maintain the helm chart, so we can only help with general things about the Prometheus operator, not much about helm

[2019-04-26 07:15] llussy commented on #2573
Thank you，I take a serious look getting-started.md file.

[2019-04-26 07:15] #2573 closed

[2019-04-26 19:59] ybizeul opened #2574 "Changing fullnameOverride after initial install wipes Grafana dashboards every few minutes"
**What happened?**
Dashboards just are all deleted at regular intervals

**Did you expect to see some different?**
Dashboards should stay

**How to reproduce it (as minimally and precisely as possible)**:
- Do a deployment with the default value file.
- Change fullnameOverride and redeploy

Now regularly k8s sends `DELETED` notification for the old ConfigMaps, the lack of control in k8s-sidecar le

[2019-04-26 20:42] ReillyProcentive commented on #1086
Could we reconsider adding this back in? While `additionalConfigs` works for some use cases it doesn't cover the case where you want to have self-service monitoring of external targets (with only `additionalConfigs` you would need to allow those users to either directly modify the secret or have an operator that aggregates such rules into the secret). Having direct support for them in `ServiceMoni

[2019-04-26 23:14] alejandrox1 opened #2575 "prometheus-config-reloader has insufficient CPU resources"
**What happened?**
I keep on getting constant cpu throttling alerts about the prometheus-config-reloader. i.e.,
[code]

**Did you expect to see some different?**
CPU limits for the prometheus-config-reloader should be configurable.
Looking at the official Helm chart there is a parameter `prometheusOperator.configReloaderCpu` that if set will add the following flag to the prometheus-operator pod:
[

[2019-04-27 00:13] alejandrox1 commented on #2171
Seeing the same problem as in the latest comments so i opened https://github.com/coreos/prometheus-operator/issues/2575
the problem, i think, is that the flag to specify the resource limits only works in the `rules-configmap-reloader` container but not in the `prometheus-config-reloader` container within the prometheus-operator pod.

[2019-04-27 07:53] stealthybox commented on #2433
I would say this issue is definitely implies changes need to be made:

Also:
https://github.com/coreos/prometheus-operator/issues/2433#issuecomment-467347894

I'm not opposed to an explicit tracking issue if it helps.
Thanks for creating one.

[2019-04-27 08:00] huanggze commented on #1764
It seems to reoccur sometimes

[2019-04-28 13:39] stijndehaes commented on #2565
@brancz I am happy to give this a try if you are fine with that. Would like to help out a bit.

[2019-04-29 07:43] brancz commented on #2574
I understand `fullnameOverride` is a helm thing? We don't use or maintain the helm charts related to kube-prometheus and the prometheus-operator, please open an issue on the helm charts repo pingin the maintainers. Should it turn out to be a problem here, then we're happy to help if you can provide details! :slightly_smiling_face:

[2019-04-29 07:49] brancz commented on #2565
@stijndehaes please go ahead! :)

[2019-04-29 08:03] brancz commented on #1086
The reason we don't have something like this, is because it doesn't allow enforcing labelling to create an authorization story. I'm not generally against your suggestion @ReillyProcentive, but I think that part needs to be thought through and it should probably be a separate object type, not the `ServiceMonitor` object.

[2019-04-29 08:07] brancz commented on #2575
What you're looking for has already been implemented in https://github.com/coreos/prometheus-operator/pull/2466. It just hasn't been released yet.

[2019-04-29 08:12] ybizeul commented on #2574
Thanks, you're totally right, it doesn't seem k8s-sidecar is part of the vanilla distribution !

[2019-04-29 08:12] #2574 closed

[2019-04-29 09:42] metalmatze commented on #1764
@huanggze What are you seeing? Please provide more details. :wink:

[2019-04-29 16:43] idobry opened #2576 "Prometheus instance isn't able to scrape node exporter when they are on the same host"
Hey all,
I deployed Prometheus operator using a chart from the stable repo.
I noticed that I didn't get metrics from a specific node. My cluster own 3 nodes and when Prometheus instance is on node1 I don't see this node1 metrics, only node2 and node3. I tried to deploy Prometheus on node2 and again I wa able to see node1 and node3 but not node2

I'm using kuberenetes 14.1 on prem, using centos 7.3

[2019-04-30 01:34] leo1515416043 opened #2578 "node-exporter prevents docker from removing monitored containers"
**What happened?**
```pod terminating -> device or resource busy```

[code]

```ps -ef |grep 118860```

**Did you expect to see some different?**
other containers can be removed normally
**How to reproduce it (as minimally and precisely as possible)**:
apply this [official manifest](https://github.com/coreos/kube-prometheus/blob/master/manifests/node-exporter-daemonset.yaml)
**Environment**
* kern

[2019-04-30 07:32] leo1515416043 commented on #2578
Got it! The reason is kernel.In my case, kernel 4.9.93 works.
https://github.com/google/cadvisor/issues/771

[2019-04-30 07:33] #2578 closed

[2019-04-30 07:34] brancz commented on #2576
We don't use or maintain the helm charts, please open an issue with them first. This generally sounds like a problem with your setup though not with Prometheus or the node-exporter. Probably a networking configuration, potentially hairpin is not configured correctly.

[2019-04-30 10:50] idobry commented on #2576
@brancz you are right.
I changed `hostNetwork` to false and everything is working as expected, so the problem is not with prometheus.

[2019-04-30 10:50] #2576 closed

[2019-04-30 11:41] #2553 closed

[2019-04-30 15:40] danhul commented on #1819
@brancz I tried your suggestion above to dynamically create pvc but it fails showing the following error message "Failed to provision volume with StorageClass "cephrbd": claim Selector is not supported". I am using Ceph rbd storage class. I also tried to remove the disable the selector match label option from the jsonnet file but doesn´t help. Can you please advise? Another work around is using an

[2019-04-30 16:04] brancz commented on #1819
Are you able to create any StatefulSet with dynamic volume provisioning?

[2019-04-30 17:38] danhul commented on #1819
@brancz yes I can create that.

[2019-05-01 08:57] k8s-learner opened #2580 "Not able to customize the subject line of alert mail"
I setup the smtp to get the alert emails. But now I am getting 2 environment alerts on 1 mail id.  So I am looking to add the environment name on the subject line.

Suppose this is the subject line :

`[FIRING:1] KubeSchedulerDown (monitoring/pb-k8s-utils-prometheus-op-prometheus critical)`

I am looking for something like this:

`[Systest][FIRING:1] KubeSchedulerDown (monitoring/pb-k8s-utils-prom

[2019-05-02 05:43] vatine commented on #1831
This only solves part of the problem, since prometheus constant numeric values are (essentially) floats.

I was bitten by this original Prometheus YAML (validates fine with promtool):

[code]

Some background, we run in-house clusters on physical hardware. We need to plan for machine failures, so for purposes of capacity planning, etc, we have a failure budget, but to make it easier in the rules,

[2019-05-02 11:23] MarkDordoy opened #2581 "Kublet target that doesnt exist"
**What did you do?**
I performed a cluster upgrade from 1.12.6 to 1.13.5

This is on AKS. I originally had nodes:
aks-linuxpool-24622319-0
aks-linuxpool-24622319-1
aks-linuxpool-24622319-2

After the upgrade i then had
aks-linuxpool-24622319-0
aks-linuxpool-24622319-1
aks-linuxpool-24622319-3

After the upgrade Prometheus started to show  target down for aks-linuxpool-24622319-2
however it doesnt

[2019-05-02 11:45] brancz commented on #2581
Does this resolve itself after a few minutes? Nodes are synced into an endpoints object every couple of minutes.

[2019-05-02 11:54] MarkDordoy commented on #2581
Afraid it doesn't. It's been like this for over an hour

Get Outlook for Android<https://aka.ms/ghei36>

________________________________
From: Frederic Branczyk <notifications@github.com>
Sent: Thursday, May 2, 2019 12:45:35 PM
To: coreos/prometheus-operator
Cc: Mark Dordoy; Author
Subject: Re: [coreos/prometheus-operator] Kublet target that doesnt exist (#2581)

Does this resolve itself after a

[2019-05-02 11:57] brancz commented on #2581
Could you share the manifest you used to deploy the prometheus-operator, as well as the output of `kubectl -n kube-system get endpoints kubelet -oyaml`? Thanks!

[2019-05-02 12:23] brancz commented on #2580
This is unrelated to the Prometheus Operator, it's about usage of Prometheus/Alertmanager.

It makes more sense to ask questions like this on the [prometheus-users mailing list](https://groups.google.com/forum/#!forum/prometheus-users) rather than in a GitHub issue. On the mailing list, more people are available to potentially respond to your question, and the whole community can benefit from the

[2019-05-02 12:23] #2580 closed

[2019-05-02 12:25] brancz commented on #1819
Then you should be able to use the same `volumeClaimTemplate` as you do in any other StatefulSet in the `.spec.storage.volumeClaimTemplate` field.

[2019-05-02 12:26] MarkDordoy commented on #2581
Response from kubectl command:
`Error from server (NotFound): endpoints "kubelet" not found`

I deployed it using the helm chart prometheus-operator

[2019-05-02 12:33] dcardozoo commented on #2359
Hi, There's an update about this issue? there's any workaround can someone suggest? Currently the only metrics about Persistent storage available in Prometheus for me are kube_persistentvolume*

[2019-05-02 12:35] MarkDordoy commented on #2581
Here is the yaml output for all endpoints

[code]

[2019-05-02 12:40] brancz commented on #2581
It seems like this is a mistake in the helm chart, please report this on the helm charts repo, we neither use nor maintain the helm charts. It looks like you have an old endpoints object there that probably doesn't have a prometheus operator instance anymore updating it.

[2019-05-02 12:42] MarkDordoy commented on #2581
I found the issue, you helped me search in the right direction. We did have an old endpoint called ` prometheus-operator-kubelet` which wasnt getting updated. After deleting this it all went healthy

[2019-05-02 12:42] MarkDordoy commented on #2581
Thanks for the help

[2019-05-02 12:42] #2581 closed

[2019-05-02 12:43] metalmatze commented on #2359
It seems there's some progress in this area, but we're not involved directly: https://github.com/kubernetes/kubernetes/pull/76188

[2019-05-03 07:49] neoludo opened #2582 "exclude a namespace for CRD discovery"
Hi,

I've have a problematic of having 2 Prometheus operators in my cluster :
- one for cluster monitoring (installed by Openshift)
- one for app monitoring

the first one has --namespace arguments to discover only CRDs in its own namespace
I'd like the second one to discover CRDs in all namespaces except from the namespace above.

I didn't find namespace exclusion capability. I've seen we can red

[2019-05-03 07:59] brancz commented on #2582
This is not currently possible. I think generally this is not a bad idea, the flexibility should be there, but keep in mind that this is not a supported piece of software as part of OpenShift. Also we're working on a couple of hardening features with the ultimate goal that there will be one prometheus operator running globally in OpenShift (I can't promise any of this, but we're looking into the p

[2019-05-03 09:22] neoludo commented on #2582
ok, I think I will use the CrdGroup in configuration to have my own crd group for application monitoring.
Any remark about this ?

[2019-05-03 09:33] brancz commented on #2582
Yes, actually that doesn't work anymore. Due to multiple apimachinery issues, we were forced to use the upstream generators to create the clients, which doesn't allow us to chose the apigroup in the same way anymore for list/watch, so that flag currently only affects the CRDs created. There is already an open issue around this, but it is unclear how this could be solved.

[2019-05-03 09:49] neoludo commented on #2582
Yes I'd just discovered the behaviour you are describing.

That would be great... Blue men :)

[2019-05-03 13:36] taharah opened #2583 "nil values for serviceMonitorSelector in Prometheus spec prevents configuration generation"
**What happened?**

When generating a manifest for a Prometheus CRD with jsonnet I ran the function `std.prune(...)` to remove null values, empty lists, etc. However, this resulted in Prometheus failing to start since `serviceMonitorSelector` was an empty list and thus removed. The Prometheus configuration was not being generated, which was the root cause for the service failures.

As evident in t

[2019-05-03 14:03] neoludo commented on #2582
https://github.com/coreos/prometheus-operator/blob/cd293ac33bd0def8c271b78dbff1a8d88df06eee/pkg/prometheus/operator.go#L815

err = cache.ListAll(c.promInf.GetStore(), labels.Everything(), func(obj interface{})

You have a filtering feature implemented in Prometheuses object, but don't use it...
A quick win would be to have  an argument for operator container to set a label Selector and give it to

[2019-05-03 16:12] brancz commented on #2583
This used to be an intended behavior, before we had `additonalScrapeConfigs` to specify raw Prometheus config. This way people could create their own secrets that had a fully customized Prometheus config, I agree though, we should just change this behavior now that we have this much better mechanism.

[2019-05-03 16:15] brancz commented on #2582
I'd be ok with adding the ability to only watch a subset of labels, that should happen at the informer level though, not when reading from the store.

[2019-05-03 16:44] taharah commented on #2583
Yeah that makes sense. The behavior just wasn't intuitive at first glance. I had to dig through the code base to understand why the configuration wasn't being generated. Even if the desire is to keep the current behavior, then the appropriate documentation would have helped as well.

[2019-05-03 20:15] neoludo commented on #2582
but It would prevent the operator to manage CRDs that are not in the scope of matched label.
Correct ?

[2019-05-03 21:13] therealmitchconnors opened #2584 "Prometheus resources cannot be declaratively updated."
Once a Prometheus object has been created, it cannot be declaratively updated, as patches require specification of the resource version.

For example:
[code]
I dropped a note in the slack channel to see if perhaps this behavior was intended, but it seems rather quiet today.

Using Prometheus operator v 2.9.1 with helm chart version 5.5.0.

[2019-05-03 22:17] douglas-reid commented on #2502
Please take a look at https://github.com/istio/installer/pull/71. The idea behind that PR is to address the need to create appropriate ServiceMonitors, etc.  We are specifically looking for feedback on how to improve upon this initial approach.

[2019-05-03 22:19] douglas-reid commented on #1160
Note: the new istio/installer comes with initial support for generating prom operator CRs. Any feedback on that config would be very welcome.

[2019-05-04 15:34] huanggze commented on #1764
@metalmatze my bad, it turns out that I applied yaml files in a wrong order... now everything is good, thx

[2019-05-05 18:34] runningman84 opened #2586 "ServiceMonitor endpoints url encoding"
**What did you do?**

I would like to scrape an exporter for my netgear switch. Therefore I wrote a helm template and deployed it to the cluster. This is the template
https://github.com/runningman84/helm-charts/blob/master/prosafe-exporter/templates/servicemonitor.yaml

**Did you expect to see some different?**

It looks like prometheus is encoding the url in a wrong way. It encodes ? which result

[2019-05-06 07:52] brancz commented on #2582
Right, that's also possible at list/watch level, which is how the informer gets it's data. It's even better as the data doesn't even end up in the prometheus-operator process, but is filtered at API level instead of in-process.

[2019-05-06 07:56] brancz commented on #2584
What version of kubernetes are you using? I'm not seeing this behavior.

[2019-05-06 07:59] brancz commented on #2586
You want to use the `params` field under the [ServiceMonitor endpoint]( https://github.com/coreos/prometheus-operator/blob/master/Documentation/api.md#endpoint) instead of specifying it in the path field.

[2019-05-06 11:13] danhul commented on #1819
Hei @brancz is it possible to specify existing PVC in the jsonnet file, so that prometheus rather use that PVC instead of dynamically creating.

[2019-05-06 11:50] brancz commented on #1819
Yes, the PVC just needs to select those existing volume and they need to be unbound.

[2019-05-06 11:55] danhul commented on #1819
If the PVC is created once, further runs can automatically bound to it. But, what I mean is if I create new PVC first separately and use the name of the PVC in the jsonnet configuration file.
In the jsonnet config , is it possible to specify name of pvc instead of pvc.new() as shown below?

storage: {
      volumeClaimTemplate:
         pvc.new() +
        .....

[2019-05-06 18:30] therealmitchconnors commented on #2584
1.11.8-gke.6

I had not considered that this could be K8s related.  I will upgrade the cluster to 1.12 and report back.

[2019-05-06 20:11] paulfantom commented on #2533
This took some time but as of now it is included in master branch.

[2019-05-06 20:11] #2533 closed

[2019-05-06 21:26] therealmitchconnors commented on #2584
After upgrading to 1.12.7-gke.10, I see no change in behavior.

[2019-05-06 21:48] therealmitchconnors commented on #2584
This seems to have been environmental.  I deleted the prometheus named "foo" and tried again, and now I can run and rerun the `helm template | kubectl apply` command without any difficulty.

[2019-05-06 21:48] #2584 closed

[2019-05-07 03:10] Nuru commented on #1378
@yuripastushenko `kops` creates pods with the `k8s-app` labels rather than `component`, so it is a reasonable default.

@fieryvova To use the `component` label  instead of the `k8s-app` label in a helm chart, you have to realize that by default, `helm` merges maps, so you have to explicitly unset the default, like this:

[code]

[2019-05-07 10:04] madushan1000 commented on #2258
Came across with this project(https://github.com/dbsystel/alertmanager-config-controller), wondering if we could utilize this with a couple of new crd types to provide alert rule live reloading.

[2019-05-07 10:42] brancz commented on #2258
Generally I'd be interested in integrating something if anyone has figured this out. At first glance I see a potential issue with the linked controller's strategy, as it throws things together globally, whereas Alertmanager configuration is order sensitive, which can have various side effects.

[2019-05-07 11:30] madushan1000 commented on #2258
I'm not sure if this is a proper way of dealing with something like this, but what if we modify the controller to order the alert rules according to a manually defined priority value(integer) in the crd/configmap objects?

[2019-05-07 11:31] Kirchen99 commented on #2258
We always have `continue: true` at the first level of routes. So the order of the configuration is not so sensitive for us.
[code]

[2019-05-07 12:04] benjaminhuo commented on #2517
Hi @squat @brancz and @metalmatze , seems that I still got gossip style manifest generated in the kube-prometheus project, just wondering if the changes to support thanos service discovery available now?

![Snip20190507_39](https://user-images.githubusercontent.com/18525465/57297749-08eb7500-7103-11e9-834b-7506ee82c2c4.png)

![Snip20190507_40](https://user-images.githubusercontent.com/18525465/572

[2019-05-07 13:34] brancz commented on #2258
Right, that's exactly what I was thinking, is this automated in the controller?

[2019-05-07 13:58] Kirchen99 commented on #2258
Not yet, We will implement this in the next release

[2019-05-07 14:27] cyperplex opened #2588 "Prometheus not loading rules"
**What did you do?**

1. Installed the prom operator using the latest helm chart.

2. Created a sample rule file :

[code]

3.  Applied the rule kubectl apply -f example-rule.yaml

**Did you expect to see some different?**

Expected to see the rule loaded into the Prometheus operator and the configmap updated
prometheus-prometheus-operator-prometheus-rulefiles-0, which remains empty.

**Environmen

[2019-05-07 16:25] metalmatze commented on #2517
No, we have not yet worked on this. Feel free to work on PRs for the necessary changes.

[2019-05-07 18:18] brancz commented on #2517
From what I understand this mostly means removing the flag from the current prometheus operator integration, more difficult is how can we enable the Querier to discover the stores. Maybe DNS discovery is sufficient though. It will need a little bit of investigation.

[2019-05-07 19:14] brancz commented on #2258
Nice, I like that a lot. I think that and a few other things (like receiver separation) are pretty much what I was imagining. I actually also quite like your approach of using plain secrets/configmaps for this. Would you be interested in contributing this feature to the prometheus operator?

[2019-05-07 19:39] ReillyBrogan commented on #1086
True, the name of `ServiceMonitor` does imply that it is for monitoring services. Would the next step potentially be a proposal for something like `ExternalTargetMonitor`?

[2019-05-07 19:41] ReillyProcentive commented on #1086
True, the name of `ServiceMonitor` does imply that it is for monitoring services. Would the next step potentially be a proposal for something like `ExternalTargetMonitor`?

[2019-05-08 08:07] metalmatze commented on #2588
You might be missing the label that matches the Prometheus that this PrometheusRule object should be for:
https://github.com/coreos/kube-prometheus/blob/93a493bda12be0f79cd3ab08dc8c97f3906bca87/manifests/prometheus-rules.yaml#L5

Once you've added that it can take a minute or two to reconcile. If it still doesn't show up, look into the logs of the Prometheus Operator pod/container and of Prometheu

[2019-05-08 09:36] msschl opened #2589 "Grafana: Unable to Log in, Failed to get settings"
**What happened?**
Running grafana with helm chart prometheus-operator-4.1.1 app version 0.29.0

**Did you expect to see**
Login Page

**What did you see instead? Under which circumstances?**
Error Page:
[code]

**How to reproduce it (as minimally and precisely as possible)**:
Here is my helm chart configuration, which overrides the default provided values.yaml:
[code]

**Environment**

* Promethe

[2019-05-08 10:34] benjaminhuo commented on #2517
ok, I'll think about it.
From [Thanos Query yaml](https://github.com/improbable-eng/thanos/blob/master/tutorials/kubernetes-demo/manifests/thanos-querier.yaml) , possible should allow Querier to add multiple --store args ?

And then add --cluster.disable to querier, store, ruler, sidecar, remove other cluster args

Ben

[2019-05-08 10:55] d-ulyanov opened #2590 "Support targets sharding"
Hi, colleagues!

**What is missing?**

At the moment there is no targets sharding support in the Prometheus Operator.
It would be great to add it.

**Why do we need it?**

Currently we have a thousands of targets in each Prometheus and it seems that we're coming to its performance limit on one node.

Possible solutions that I see are:
1) Prometheus per namespace
2) Use sharding

Both of solutions

[2019-05-08 14:29] liggitt opened #2592 "operator uses deprecated APIs targeted for removal in k8s 1.16"
The prometheus operator is used by kubernetes CI.

A [canary PR](https://github.com/kubernetes/kubernetes/pull/70672) that disables the apps/v1beta1, apps/v1beta2, and workload extensions/v1beta1 resources failed with [prometheus operator errors](https://github.com/kubernetes/kubernetes/pull/70672#issuecomment-490398939).

See the announcement around timeframes for removal of these resources: http

[2019-05-08 15:36] JessieAMorris commented on #2575
So, when's this looking to be released? The last release was back in Feb, we're now 3 months since then.

[2019-05-08 15:46] metalmatze commented on #2592
Thanks for notifying. We need to update in a few places, I believe.
https://github.com/coreos/prometheus-operator/blob/master/pkg/prometheus/statefulset.go#L23 for Prometheus and https://github.com/coreos/prometheus-operator/blob/master/pkg/alertmanager/statefulset.go#L23 for Alertmanager.

Additionally we are working on generating new kube-prometheus manifests from a new version of ksonnet that f

[2019-05-08 15:47] metalmatze commented on #2575
We're currently quite busy with the just announced OpenShift 4 release, but once we have some time, we should get another release out. Sorry and thanks for being patient.

[2019-05-08 15:49] metalmatze commented on #2589
If not a bug and problem with the Chart itself (which we don't maintain) this issues should be opened against [coreos/kube-prometheus](https://github.com/coreos/kube-prometheus). Thank you.

[2019-05-08 15:49] #2589 closed

[2019-05-08 15:50] metalmatze commented on #2589
Looking at your issue again, I think this is most likely a Chart issue/bug.

[2019-05-08 15:55] liggitt commented on #2592
the GA workload resources have been available since 1.9 (december 2017)... as a data point, when did support for them make it into the tools you're using?

[2019-05-08 17:23] msschl commented on #2589
Thanke you @metalmatze
I have opened an issue on the helm/charts repo

[2019-05-08 18:27] brancz commented on #2590
If you need a solution quickly, you can already use additional relabeling rules on your ServiceMonitor via the `hashmod` action, and create multiple ServiceMonitors per "shard". Your use case makes a lot of sense, I'd like to think it through a little bit further, and arrive at a solution, that would allow us to eventually autoscale sharding based on the metric ingestion (I'm thinking a general pu

[2019-05-08 18:40] brancz commented on #2592
The ksonnet tooling hasn't yet, hence we started that work. We're expecting that to merge soon though.

[2019-05-08 18:57] brancz commented on #1086
This is pretty much plain Prometheus config, I wonder if that needs a CRD at all, or if it could just be a plain secret/configmap.

[2019-05-08 18:57] brancz commented on #1086
The downside to that is that a status block wouldn't really be possible.

[2019-05-08 21:16] metalmatze commented on #2588
Glad to hear.

[2019-05-08 21:16] #2588 closed

[2019-05-09 09:57] mm4tt commented on #2592
Hey Folks,

Allowed myself to send https://github.com/coreos/prometheus-operator/pull/2593 to speed up the migration. Would appreciate if someone can take a look.

[2019-05-09 11:57] metalmatze commented on #2592
With #2593 merged and looking the kubernetes-dev post, we still need to update our Ingress resources. However that new API is available with Kubernetes 1.14+ and will be deprecated in 1.18. I guess we should still wait until 1.16 or 1.17 to do the switch not to break to many people while they update.

[2019-05-09 12:54] st3v commented on #2507
I believe this is due to https://github.com/cloudfoundry-incubator/kubo-release/issues/309

[2019-05-09 20:45] liggitt commented on #2592
if you wait until 1.16 is released to switch to networking.k8s.io/v1beta1 Ingress, you can support all current kube releases (1.14, 1.15, 1.16). After 1.16 is released is also when I'll likely open a canary PR for disabling extensions/v1beta1 Ingress (targeting 1.18) and will need a prometheus-operator image that does not depend on extensions/v1beta1.

[2019-05-10 07:19] benjaminhuo commented on #2517
@brancz , looks like the [thanos sidecar --cluster.address args](https://github.com/coreos/prometheus-operator/blob/master/pkg/prometheus/statefulset.go#L682)  should be removed from prometheus operator thanos code, right?

And if gossip will not be supported anymore, maybe more code should be removed from the sidecar code ? for example:

https://github.com/coreos/prometheus-operator/blob/master/p

[2019-05-10 11:40] #2592 closed

[2019-05-10 12:04] brancz commented on #2592
Thanks for the heads up! While this doesn't affect the prometheus-operator directly, it does indirectly, as Prometheus currently uses that API. I'll open an issue.

[2019-05-10 12:11] brancz commented on #2517
Cluster peers and advertise address can be removed yes, the GRPC advertise address needs to stay, as the querier still communicates with the store API.

As gossip is being removed entirely, I see no value it having it stick around in this experimental API, so always off I'd say.

[2019-05-10 15:22] benjaminhuo commented on #2517
The [thanos sidecar doc](https://github.com/improbable-eng/thanos/blob/master/docs/components/sidecar.md) mentioned that :
![Snip20190510_95](https://user-images.githubusercontent.com/18525465/57537982-f9299600-7379-11e9-9af2-69818cf5a826.png)

So maybe the querier can comm with the store api by specifying --store args?
![Snip20190510_96](https://user-images.githubusercontent.com/18525465/57538181

[2019-05-10 17:07] douglas-reid opened #2598 "Install with current bundle.yaml fails (ErrImagePull)"
It appears the `bundle.yaml` files were updated before the image they were updated to point to was created and published.

Ideally, the update to `bundle.yaml` would happen after the image exists.

**What happened?**

Tried installing operator directly from bundle at HEAD:

`kubectl apply -f https://raw.githubusercontent.com/coreos/prometheus-operator/master/bundle.yaml`

Checking on the pod after

[2019-05-10 18:00] brancz commented on #2517
Good catch, sorry I was confusing `grpc-address` with `grpc-advertise-address`. You're absolutely right good catch! We should convert `grpc-advertise-address` to just `grpc-address`.

[2019-05-10 18:14] brancz commented on #2507
This seems like a non-issue with the prometheus-operator, and the kube-prometheus stack moved to coreos/kube-prometheus. Closing here, please re-open on the other repository if you feel this is actually an issue with kube-prometheus.

[2019-05-10 18:14] #2507 closed

[2019-05-10 18:27] brancz commented on #2598
Sorry about this, we started a release today, but then didn't finish it up. We'll fix this on Monday :)

cc @metalmatze

[2019-05-10 20:56] brancz commented on #2598
Actually the team just finished the release, so now this should work just fine :)

[2019-05-10 20:56] #2598 closed

[2019-05-10 20:56] brancz commented on #2598
sorry for the inconvenience

[2019-05-10 22:15] douglas-reid commented on #2598
good to know, thanks!

[2019-05-12 03:29] abh commented on #2452
Just for what it's worth, I ran into this too when upgrading a setup from a very old version of the operator. I use the operator to, uh, operate Prometheus instances that scrape targets outside Prometheus.

[2019-05-13 09:23] desaintmartin opened #2599 "Alertmanager probes should use dedicated endpoints"
**What is missing?**
Currently, /api/v1/status is used for both readiness and liveness probes.

**Why do we need it?**
Dedicated /-/healthy and /-/ready endpoints should be used instead.

[2019-05-13 11:03] olivier-mauras commented on #2507
Sorry for not updating, this is exactly as stated by @st3v

[2019-05-13 12:49] metalmatze commented on #2599
#2600 was merged.

[2019-05-13 12:49] #2599 closed

[2019-05-13 14:27] TheKangaroo commented on #2358
With #2445 in the 0.30.0 release you can inject env vars in the thanos sidecar with:
[code]

[2019-05-13 18:17] jtmkrueger commented on #2572
@metalmatze and/or @spesala-infy can you point me to documentation/instruction for creating the role and role binding for a namespace? I'm not able to find where this is explained. All the examples I've found don't go into any detail about introducing additional namespaces.

[2019-05-13 19:49] dimm0 commented on #2575
0.30.0 released 3 days ago, seems like with the fix, but still no docs on how to disable limits..

[2019-05-13 19:53] alejandrox1 commented on #2575
Thank you for all the work you do @metalmatze @dimm0
I'll test the latest release on a cluster and will come back to close this

[2019-05-13 20:00] dimm0 commented on #2575
I'm not working on it :) thanks to @metalmatze
And it seems like we still need to do something to disable the limits... I can be wrong. Testing it now as well

[2019-05-13 20:02] JessieAMorris commented on #2575
I authored the changes to allow people to change limits for all of the config reloader ones. To the best of my knowledge there's not a flag to disable limits for those containers entirely.

[2019-05-13 20:22] dimm0 commented on #2575
https://github.com/coreos/prometheus-operator/releases the 0.30.0 release has:
`[FEATURE] Allow disabling limits on sidecars (#2560)`

[2019-05-13 20:25] JessieAMorris commented on #2575
Good catch. It looks like if you set the value to `0` it will disable the limits.

[2019-05-13 20:58] dimm0 commented on #2575
It sets those to 0 in result yaml.. And leaves the sidecar ones

How hard is it to remove those from the repo?.. :( It's causing multiple problems

[2019-05-14 01:27] DORcode opened #2602 "How to set storage.local.memory-chunks?"
When deployed prometheus with prometheus-operator, How to set storage.local.memory-chunks?

[2019-05-14 02:11] jstangroome opened #2603 "Prometheus.spec.routePrefix exhibits default behaviour that conflicts with upstream Prometheus"
**What happened?**
Defined a Prometheus object specifying an alternate externalUrl but not specifying any routePrefix:
[code]
This resulted in the Prometheus Pod's prometheus container having args `--web.external-url=/p8s/ --web.route-prefix=/`

**Did you expect to see some different?**
Upstream prometheus specifies that if the `--web.route-prefix` argument is omitted, then it will default to the

[2019-05-14 07:27] brancz commented on #2358
Note that that is only meant as a last resort, and when you do that we won’t help debugging your bugs. It says this clearly in the docs. If there is a legit case to implement some configuration please still open an issue

[2019-05-14 11:26] TheKangaroo commented on #2358
@brancz, I posted my usecase here in the slack channel:
https://kubernetes.slack.com/archives/CFFDS2Z7F/p1557309118156400

*tl;dr: is it possible to pass env vars to the thanos sidecar container?*
Hey guys, we have a setup where we create multiple prometheus with thanos sidecars from the operator. each prometheus/thanos stack gets its own s3 bucket automaticaly via the aws service broker. But this

[2019-05-14 12:05] spikepanx commented on #2503
@brancz is total right! To point this out, we had snake_case fields with underscore values. changing the snake_case fields to camelCase solves the issue without altering the (underscored) values.

`target_label: __foobar__ # does not work`
`targetLabel: __foobar__ # works!`

[2019-05-14 12:56] brancz commented on #2575
It's a flag to pass to the prometheus operator, not in the yaml.

[2019-05-14 13:00] brancz commented on #2603
This is not a bug, this works as intended. The reason we chose to do this, is because within a Kubernetes cluster each Pod has it's own IP and in order to consistently communicate within a cluster, it's much easier to be able to always ignore the prefix. We've actually long wanted to change the default behavior in Prometheus as well, but we can't break this behavior without cutting a major release

[2019-05-14 13:01] brancz commented on #2602
I'd be happy to see this added :slightly_smiling_face: do you want to open a PR?

[2019-05-14 13:04] brancz commented on #2572
Can you be more specific in how you've setup your Prometheus server. If you're using kube-prometheus then what you're looking for is https://github.com/coreos/kube-prometheus#adding-additional-namespaces-to-monitor

[2019-05-14 14:52] jtmkrueger commented on #2572
I'd tried that path @brancz and ended up using the helm chart instead.
What tripped me up was how the labels have to be set up on the service monitors, but I did get things going.
 I'm going to put together a PR for the documentation to try and clarify the things that tripped me up so that it's easier for others to get things up and running in the future.

[2019-05-14 16:55] richerve commented on #2357
As a complimentary comment, in order to expand the volume I needed to do it manually modifying the PVC/s directly. The resize happens and Prometheus starts healthy. I've modified the VolumeTemplate definition in the Prometheus spec prior to the pvc modification. Don't know if there will be a problem with this but I doubt is as is exactly the same referenced PVC.

[2019-05-15 07:10] akshayrathod2 commented on #976
@brancz Hello there I am new to kubernetes. I'm facing the same issue and unable to figure out where to put this parameter. I am using https://github.com/kubernetes-incubator/metrics-server.git this repo

[2019-05-15 07:22] brancz commented on #976
Metrics server is totally different from this repo. What are you trying to do?

[2019-05-15 07:51] leo1515416043 commented on #1310
@alok87 node_memory in grafana still not correct, as you said.

[2019-05-15 08:07] brancz commented on #1310
So you're saying it should be `100 * (node_memory_MemTotal - node_memory_MemAvailable) / node_memory_MemTotal` ? I'd be ok with that change.

[2019-05-15 08:26] leo1515416043 commented on #1310
IMO, yes.  @alok87

[2019-05-15 08:29] brancz commented on #1310
(note that that change would need to be in the [kubernetes-mixin](https://github.com/kubernetes-monitoring/kubernetes-mixin) as we're just using that as a dependency and the dashboards are actually defined there)

[2019-05-15 10:33] austincunningham commented on #2102
Seeing a similar issue on
Prometheus Operator version: 0.30.0
[code]

[2019-05-15 13:21] alejandrox1 commented on #2575
updating my prev comment: thank you @JessieAMorris for working on this.
update on the issue: been testing the v0.30 release and #2560 works as intended. So I'll close my issue.
Thank you everyone for keeping up on this 😄

[2019-05-15 13:21] #2575 closed

[2019-05-15 14:23] DJAyth opened #2606 "NGINX Metrics not scraping"
First off, here is what I'm trying to do in case someone has quick advice. Need to use HPA to scale wordpress instances based on connections to the site. In a nutshell that's it.

**What did you do?**

Created k8s cluster, used helm charts to deploy prometheus-operator and create the custom metrics. The example-app works for me, I can deploy that, generate connections and it works. However, trying

[2019-05-15 18:48] wadadli opened #2607 "custom container support in PrometheusSpec"
I'm curious,  is there a way to pass a custom image to `PrometheusSpec.containers` according to the documentation

are the current supported containers.

If this isn't supported could someone point me to the relevant lines of code that implements these containers?  We want to add the stack driver side-car to the operator and think others might find this useful as well,  it's possible to do this to

[2019-05-15 22:24] jingxu97 commented on #2359
cc @gnufied @msau42

[2019-05-15 22:25] GiannisSialmas commented on #256
Any progress on implementing tighter support for this?

[2019-05-15 22:30] msau42 commented on #2359
Are you seeing issues with non-CSI volumes or CSI volumes? Capacity usage for non-CSI volumes should work, and CSI volumes is being fixed in kubernetes/kubernetes#76188

[2019-05-15 23:36] dimm0 commented on #2472
Also for node-exporter

[2019-05-16 07:39] brancz commented on #2472
You can already modify node exporter’s limits to your liking. What’s outlined in this issue has been implemented since, hence closing this.

[2019-05-16 07:39] #2472 closed

[2019-05-16 07:42] brancz commented on #256
It hasn’t happened yet.

[2019-05-16 09:48] brancz commented on #2607
You can use that field to add any additional containers you'd like.

[2019-05-16 11:29] brancz commented on #2606
Sorry but this is not a support forum to debug your HPA issue. If you are seeing your metric in Prometheus collected via the configured ServiceMonitor, then I'd suggest you rather open an issue with the custom metrics adapter. For what it's worth, you are probably missing the right configuration for the custom metrics adapter. I'd recommend watching this talk: https://www.youtube.com/watch?v=paO2k

[2019-05-16 11:29] #2606 closed

[2019-05-16 14:18] BrianChristie commented on #2462
@kellycampbell if you don't have time to make this naming change I can pick it up next week, because I just spent awhile figuring out the same thing.

[2019-05-16 15:00] wadadli commented on #2607
how does that actually look?

Are you saying I can literally do
[code]

[2019-05-16 15:25] brancz commented on #2462
@BrianChristie I think you can go ahead.

[2019-05-16 15:26] brancz commented on #2607
I don't know how the helm charts work, but in general yes, you can add an arbitrary container.

[2019-05-16 15:59] wadadli commented on #2607
Thanks I'll give it a shot and report back

[2019-05-16 16:33] #2563 closed

[2019-05-16 17:10] brancz commented on #2607
As the feature exists, I'll close this at this point, but feel free to create a new issue if you have a concrete problem :slightly_smiling_face: .

[2019-05-16 17:10] #2607 closed

[2019-05-16 23:16] DaveKriegerEmerald commented on #1567
@akshayrathod2 - You can read the last version of the storage.md user guide; it's the content that was deleted by [this commit](https://github.com/coreos/prometheus-operator/commit/856de8bbfc37c97eda6964b1668c7690e40e787b#diff-beb91b1e2c8229ba0264afe625cef9ba). That page refers to [this "prometheus-pvc.jsonnet" file](https://github.com/coreos/kube-prometheus/blob/master/examples/prometheus-pvc.jso

[2019-05-17 08:34] Shini31 commented on #2211
Hello,

I have the same issue on GCP with `metric-server`.
So what is good practice? Delete all yaml related to `prometheus-adapter`?

Regards.

[2019-05-17 09:14] brancz commented on #2211
That’s probably your best bet. We should make that part of the jsonnet gke patch probably.

[2019-05-17 14:51] Shini31 commented on #2211
Thanks for the answer. Indeed a specific jsonnet for GKE (as it exists for kubeadm) would be a great move !

[2019-05-17 16:46] wadadli commented on #2607
This worked,  thanks!

[2019-05-20 10:53] cyperplex opened #2612 "Deploying an instance of prometheus via operator into application name space - Permission issue"
Hi,

Ive deployed the operator and via HELM into my cluster successfully and its working with the out of the box components .

Now when i deploy an instance via the operator into another name space to monitor application specific metrics, i get an error with permissions.

ie

level=error ts=2019-05-20T10:47:37.700320466Z caller=klog.go:94 component=k8s_client_runtime func=ErrorDepth msg="/app/disc

[2019-05-20 11:59] brancz commented on #2612
We neither maintain nor use the helm charts. I recommend opening an issue on the upstream helm charts repo. This look like the helm chart is not setting up RBAC permissions appropriately.

[2019-05-20 11:59] #2612 closed

[2019-05-20 20:18] paivagustavo commented on #1086
@brancz is there a issue where we can track this down?

I've a prometheus setup on a namespace that not every developer on my cluster have access and currently developers can't add scrape jobs outside of our k8s cluster because it would require to change the prometheus deployment so they need to ask me to change the helm values file to add such jobs.

[2019-05-22 11:18] veeranji23 opened #2613 "Facing Issue with SMTP setup for grafana"
**What happened?**

**Did you expect to see some different?**

**How to reproduce it (as minimally and precisely as possible)**:

**Environment**

* Prometheus Operator version:

    `Insert image tag or Git SHA here`

* Kubernetes version information:

    `kubectl version`

* Kubernetes cluster kind:

    insert how you created your cluster: kops, bootkube, tectonic-installer, etc.

* Manifests:

[2019-05-22 11:23] veeranji23 commented on #2613
HI All ,

When i am trying to set up SMTP set up in grafana i am unable to proceed further . Below is the set up of my SMTP setup in /etc/grafana/grafana.ini

[smtp]                                                                                                                                                                                           enabled = true

[2019-05-23 13:30] DanielShor commented on #2407
I was experiencing another issue with `serviceMonitorSelector`.

I'm using Prometheus to scrape applicational metrics (using custom service monitors which select services with specific labels).
For simplicity, let's say that I want Prometheus to select service monitors that match the label `prometheus: somelabel`, so I'm adding this to `serviceMonitorSelector`:
[code]
Indeed, I can see the changes

[2019-05-24 01:26] tanzhixu opened #2614 "pod:prometheus-k8s-0 is already Terminating status"
error like this:
![image](https://user-images.githubusercontent.com/6026899/58296349-f1e89a80-7e05-11e9-9b7e-cbbf3d912a99.png)

[2019-05-24 10:52] alokhom commented on #830
make a config folder in the location of your docker-compose.yml. insert the files prometheus.yml and alert_rules.yml in the config folder. This code worked for me on v2.10 prometheus image
[code]

[2019-05-24 10:52] alokhom commented on #830
make a config folder in the location of your docker-compose.yml. insert the files prometheus.yml and alert_rules.yml in the config folder. This code worked for me on v2.10 prometheus image
[code]

[2019-05-25 12:48] redbaron commented on #2582
@neoludo , if Prometheus objects you want to exclude have unique labels, you can use https://github.com/coreos/prometheus-operator/pull/2615 to configure operators such that they don't overlap

[2019-05-27 13:19] nan008 opened #2616 "How to send alerts based on the day of the week"
**What did you do?**

    - alert: EmailNot sent
      if: day_of_week() != 0 AND day_of_week() != 6
      annotations:
        message:Not enough email sent
      expr: | ......

**What did you expect?**

Not getting alerts on the weekend, we want to suppress the alert during Sat and Sun. This was (if: day_of_week() != 0 OR day_of_week() != 6) taken from old Prometheus rules set but it is not wor

[2019-05-27 15:59] vlaguduva commented on #1373
I am a newbie, ran into the same issue; I think, it is complaining that clusterIP is already assigned prior to this upgrade and could not be updated to None.

[2019-05-28 02:53] caarlos0 commented on #1325
it would be nice to have something like this with thanos, mostly because of the `--query.replica-label`, so metrics can be properly deduplicated.

I'm using the prometheus operator helm chart, to launch my prometheus instance, is there any way to do that?

Could even be the pod name or something... don't need to be something "fixed" elsewhere 🤔

[2019-05-28 09:45] llech commented on #1637
@infa-ddeore Probably that way: https://stackoverflow.com/questions/52046908/are-kubernetes-configmaps-writable
But it looks like an abuse to the feature that is not intended to be used that way.

[2019-05-28 11:05] flouthoc commented on #983
@grebois Did solve this ?

[2019-05-28 12:07] nicgirault opened #2619 "Confusing doc prometheus-operator vs kube-prometheus"
I am a noob who try to setup some monitoring for my cluster & apps. I lost 2 days of work trying to use kube-prometheus because of these lines: https://github.com/coreos/prometheus-operator/blob/b602243f57c988f9a2fc7efbedcbfad9ce611bcf/README.md#prometheus-operator-vs-kube-prometheus

I was really upset that kube-prometheus ask me to install some strange dependencies (jsonnet) with awful config fi

[2019-05-28 12:18] brancz commented on #2619
We've suggested this repeatedly to the helm charts maintainers (we don't maintain the charts, they're entirely community maintained). @vsliouniaev this is not the first time we're getting this report, could you please consider renaming the helm chart? Thanks! :)

Nobody is forcing you to use this, we feel these tools are solving our problem at hand very well, and there are many happy users of this

[2019-05-28 12:21] brancz commented on #1373
The prometheus-operator and kube-prometheus helm charts have been migrated to the upstream stable helm charts. Because of this we are not accepting any pull requests or issues about it in this repository. We announced this here: https://github.com/coreos/prometheus-operator/tree/master/helm#warning

Please open an issue on the upstream helm charts repository, as the Prometheus Operator maintainers

[2019-05-28 12:21] #1373 closed

[2019-05-28 12:22] brancz commented on #2616
This is unrelated to the Prometheus Operator, it's about usage of Prometheus/Alertmanager.

It makes more sense to ask questions like this on the [prometheus-users mailing list](https://groups.google.com/forum/#!forum/prometheus-users) rather than in a GitHub issue. On the mailing list, more people are available to potentially respond to your question, and the whole community can benefit from the

[2019-05-28 12:22] #2616 closed

[2019-05-28 12:27] brancz commented on #2614
Sorry this is not enough information to troubleshoot anything. Please open a new issue and fill out the issue template as provided.

[2019-05-28 12:27] #2614 closed

[2019-05-28 12:29] brancz commented on #2613
The kube-prometheus stack was extracted to its own repository: https://github.com/coreos/kube-prometheus. This doesn't seem like an issue with the prometheus-operator itself. Generally this doesn't even seem like an issue with kube-prometheus. Please first contact grafana about your problem.

[2019-05-28 12:29] #2613 closed

[2019-05-28 14:09] grebois commented on #983
Looks good now, using https://github.com/helm/charts/tree/master/stable/prometheus-operator

[2019-05-28 15:43] flouthoc commented on #983
Yes for me the issue was that some previous version of node-exporter was running on some other namespace removed it and worked for me as well. Thanks for the reply.

[2019-05-29 09:24] vsliouniaev commented on #2619
In my opinion, renaming the chart will just cause a bunch of chaos in the short term, then will be confusing in terms of feature-parity with the jsonnet version. There is already a `stable/prometheus` chart, which doesn't use the operator, so having a `stable/prometheus-operator` chart that will be marked as deprecated and moving it to something like `stable/kube-prometheus` will be ambiguous as t

[2019-05-29 09:29] reidlai commented on #965
It works.  Thanks a lot.

[2019-05-29 10:10] Pluies commented on #2398
As an additional data point, I also think this would be a nice feature. :)

Having a CRD would integrate nicely into the whole Kubernetes ecosystem, e.g. give the possibility to create silences with Helm, quickly list them with `kubectl`, etc.

It also lowers the overall complexity of the system from an operator point of view, by having one interface to interact with the system (k8s) instead of tw

[2019-05-29 17:50] deadlytea commented on #2501
Seeing this quite frequently as I am making a lot of rule updates, happy to hear a fix is on the way. To fix this we just need to update the `prometheus-config-reloader` sidecar release version when its available?

[2019-05-29 20:53] lucab commented on #2501
I think https://github.com/coreos/prometheus-operator/releases/tag/v0.30.0 already includes the fix for this.

[2019-05-29 20:58] vsliouniaev commented on #2501
@lucab Unfortunately it does not, since the migration to go modules accidentally reverted the fix

[2019-05-29 23:22] KavithaBNagaraju commented on #1637
Hi @MrD2 .. Can you please provide us the step you did to persist the data using configMaps?

[2019-05-29 23:50] midnightconman commented on #2435
Is this still an issue with thanos `0.4.0`?

[2019-05-30 20:19] glasswalk3r commented on #2370
@brancz , that means that `pod` is being added as a label by Prometheus itself, using service discovery, right?
I'm experimenting something like @benemon, but I'm trying to get rid only of the labels, not the metrics. That is the configuration I used:

[code]
The result is that I can get ride of `pod` and `service`, but not `instance`:

[code]

Looking from Prometheus dashboard (http://SERVER/conf

[2019-05-31 06:15] nishtha1508 commented on #2108
@rnkhouse

Could you please let us know what was wrong. I am facing the same issue.

kubectl logs pod/alertmanager-main-0 -c alertmanager -n monitoring
level=info ts=2019-05-31T06:07:14.014758734Z caller=main.go:177 msg="Starting Alertmanager" version="(version=0.16.2, branch=HEAD, revision=308b7620642dc147794e6686a3f94d1b6fc8ef4d)"
level=info ts=2019-05-31T06:07:14.014867833Z caller=main.go:178 b

[2019-05-31 06:25] Ghostbaby commented on #2108
level=info ts=2019-05-31T06:07:14.202488164Z caller=cluster.go:641 component=cluster msg="gossip not settled but continuing anyway" polls=0 elapsed=43.612344ms

pls check alertmanager-secret.yaml

[2019-05-31 08:34] nishtha1508 commented on #2108
Below is alertmanager.yaml file

global:
  resolve_timeout: 5m
  smtp_hello: xxxxxxxxxxxx
  smtp_require_tls: false
route:
  group_by: [Alertname]
  #Send all notifications to me.
  receiver: Test
  group_by: ['job']
  group_wait: 30s
  group_interval: 1m
  repeat_interval: 12h
  receiver: 'Test'
  routes:
  - match:
      alertname: DeadMansSwitch
    receiver: 'Test'

receivers:
- name: Test
  e

[2019-05-31 20:04] astub commented on #2295
Hey can you explain more on this. Where do you apply the jsonnet?

[2019-06-01 11:51] montenegrodr opened #2622 "Prometheus is not scrapping custom metric"
**What did you do?**

Hi, thanks for maintaining this tool. I am setting up prometheus-operator in my cluster. But for one specific deployment/service the metrics are not reaching Prometheus. The metrics are from sidekiq, and they look like (**and I have the feeling the error is here, I guess prometheus-operator expect another format?**):

[code]
**Did you expect to see some different?**

I wanted

[2019-06-01 13:12] montenegrodr commented on #2622
Hold on, I guess the problem isn't prometheus operator, but the service itself. I'll close this issue in a minute if that is true.

[2019-06-01 13:41] montenegrodr commented on #2622
Closing the issue since it was unrelated to prometheus operator.

For posterity:

I found a bit hard to troubleshoot. I figure out what happened by visiting `http://<prometheus>:9090/targets`. Saw there the error, which was:

[code]

So the service was unreachable.. I took from granted it was working since `kubectl port-forward` worked. But the address was not actually bound to the private ip. I j

[2019-06-01 13:41] #2622 closed

[2019-06-02 10:49] s-urbaniak commented on #2501
^ ping @metalmatze

[2019-06-02 11:04] vsliouniaev commented on #2501
This has been fixed in [v0.30.1](https://github.com/coreos/prometheus-operator/releases/tag/v0.30.1)!

[2019-06-03 20:31] rafaeltuelho commented on #2557
@brancz , I'm also trying to make the Prometheus scrap additional namespaces... Following the README instructions I added additional namespaces to my jsonnet config, like this:

[code]

But, the generated manifests only create additional Roles and RoleBinds. Should it generate ServiceMonitor objects for each additional namespaces? If not, should I explicitly config my jsonnet to generate ServiceMo

[2019-06-04 07:56] aneeshwara commented on #1400
hi i am trying to kubeadm init phase preflight
 unable to initiate and i am getting error as 10250 port is in use

[2019-06-04 07:56] aneeshwara commented on #1400
and 10250 port in use by kubelet

[2019-06-05 05:12] n0n0x commented on #2207
@mazzy89 sorry to bother you. But what did you put in the `secret`? I am facing the same issue

[2019-06-05 08:49] brancz commented on #2557
Typically we let the owners of the namespace decide how they provision the ServiceMonitor within that namespace. If you want to though, you can add another one for example with:

[code]

Would you like to add a PR to add this to the docs of kube-prometheus? :slightly_smiling_face:

[2019-06-05 08:51] #2501 closed

[2019-06-05 08:54] brancz commented on #2370
Prometheus will always ensure, that there definitely is an `instance` label. If it's empty after relabeling, then it will set it to the address of the target: https://github.com/prometheus/prometheus/blob/9ba2f13c5ebea1775561551988910de04d922cf4/scrape/target.go#L394-L397

[2019-06-05 09:34] #2273 closed

[2019-06-05 13:25] rafaeltuelho commented on #2557
Awesome!
I tested here and it worked like a charm!

Sure, I'll do a PR for the README.

[2019-06-05 14:21] spirrello commented on #2462
Hi,has there been any progress on this yet?

[2019-06-05 14:28] mwieczorek opened #2628 "Additional volumes for prometheus pod"
**What is missing?**

I'd like to be able to add volumes to prometheus pod (in PrometheusSpec definition).

**Why do we need it?**

My use case:
I'd like to monitor hashicorp vault which is deployed also in k8s cluster. To do it I need a vault token.
Current solution is to place the token in k8s secret, add this secret to prometheusspec.secrets and then use it in endpoint.bearerTokenFile. It's wor

[2019-06-05 14:31] brancz commented on #2295
I'd recommend you to check out this guide on customizing kube-prometheus with jsonnet https://github.com/coreos/kube-prometheus#customizing-kube-prometheus

[2019-06-05 14:45] PradeepKC commented on #1567
I also want to use a PV for prometheus storage. Based on comments above, it seems to be difficult. Is this possible?

The docs links are not working

[2019-06-05 14:50] brancz commented on #2628
There is already an emptyDir that you can use for this exact purpose (in fact we're already using this for templating the prometheus config, so this is perfectly good for you to use for this purpose as well).

[2019-06-06 05:53] akshayrathod2 commented on #1567
Hello @PradeepKC I would suggest to use a helm repository. It is very easy. In helm chart you get one values.yaml file where you can customize.
Here's the link of helm chart.
https://github.com/helm/charts/tree/master/stable/prometheus-operator
PS: PV is already configured in this.

[2019-06-06 09:10] huangjiuyuan opened #2630 "Support hostNetwork api in prometheus and alertmanager crds"
**What is missing?**
Support hostNetwork api in prometheus and alertmanager crds.

**Why do we need it?**
In our large scale Kubernetes cluster with VPC network, Prometheus need to monitor external Etcd clusters. However, Prometheus could not communicate with external Etcd clusters due to some restrictions of VPC network. We have a work-around by using host network for Prometheus.

[2019-06-06 09:11] ighack opened #2632 "How can I install prometheus-operator:v0.30.0 at offline?"
I want download image at A then load image and push to my private warehouse.

but "docker pull quay.io/coreos/prometheus-operator:v0.30.0" at A
I get "Error response from daemon: Get https://quay.io/v1/_ping: dial tcp: lookup quay.io: no such host"
[code]
this is in the bundle.yaml

[2019-06-06 09:33] mwieczorek commented on #2628
🤦‍♂ I'm blind
Thanks, closing.

[2019-06-06 09:33] #2628 closed

[2019-06-06 12:03] metalmatze commented on #2603
Closing for now. Feel free to re-open in case something new comes up.

[2019-06-06 12:03] #2603 closed

[2019-06-06 12:17] metalmatze commented on #2630
Can you explain how moving Prometheus to the hostNetwork mitigates your problem? Shouldn't a change in etcd solve your problems instead?
Not sure we really need this in the Prometheus Operator, but I might be missing something right now.

[2019-06-06 12:30] metalmatze commented on #2619
What about having `stable/kube-prometheus` chart for a period of time (6 months plus) that is an exact copy of the current `stable/prometheus-operator` chart for people to move over to `stable/kube-prometheus` before deprecating the current one?!

We can probably add as much documentation as we want and some people will still not read it (been there myself so no blaming). I strongly advocate for r

[2019-06-06 12:34] metalmatze commented on #2632
`docker pull quay.io/coreos/prometheus-operator:v0.30.0` works for me. This has to be something on your side.
Did you actually make sure to replace the image references with the correct URLs?

[code]

[2019-06-06 13:24] vsliouniaev commented on #2619
That's an interesting suggestion - do you know if it's feasible to do this in the helm/charts project with all the hoops that need to be jumped through?

[2019-06-06 13:37] metalmatze commented on #2619
I have no clue about anything related to helm/charts :wink: Was just thinking how to move forward.

[2019-06-06 13:47] brancz commented on #2630
If this is something you need to do, then I'd prefer if you deploy a proxy that has hostNetwork that forwards the request to etcd instead of exposing a potentially privilege escalation enabling feature in the prometheus operator.

[2019-06-06 14:06] vsliouniaev commented on #2619
The suggestion when I raised this was wait a bit to see if the documentation change has a positive effect first. There was also a suggestion to just host the chart externally, which would probably cause similar issues again.

[2019-06-06 16:42] irizzant commented on #2207
@mazzy89 How did you manage to get it work exactly?
I added the option `enableEtcdTLS: true` to kops cluster config but I don't see any secret created for etcd in Kubernetes.
Moreover I tried to create the `Secret`, the prometheus `Pod` start but there is no metric available for etcd in Grafana

[2019-06-06 17:17] mazzy89 commented on #2207
You need to manually create an etcd `Secret` and then reference the created secret in the prometheus-operator.

You need to grab the certs from any master machine.

[2019-06-06 18:35] harsh-px commented on #2552
Hello @mxinden I'm seeing the same issue on alertmanager.

prometheus-operator:0.29.0
kubernetes:1.14.2

When alertmanager starts, it just prints 2 info lines as below and then crashes after 2 minutes. I changed the logLevel to debug in the AlertManager resource with no effect.

[code]

Could you help us with some pointers on how we can debug this further? Thanks !

In my case, the first alertmana

[2019-06-07 08:15] divad4686 commented on #1522
My instance of aks also had coredns instead of kube-dns. I followed @stealthybox advice and changed the ports of the prometheus service in kube-system.

I run this command, if it helps anyone:

kubectl -n kube-system get service kube-prometheus-exporter-kube-dns -o yaml | sed 's/targetPort: 10054/targetPort: 9153/' | sed 's/targetPort: 10055/targetPort: 9153/' | kubectl replace -f -

[2019-06-07 12:46] deprecastor opened #2634 "helm delete rel-name --pruge wont delete kublet scraper service"
**What happened?**

[code]

**Did you expect to see some different?**
I would expect this service would have been deleted.

**How to reproduce it (as minimally and precisely as possible)**:
-> same as **What happened?**

**Environment**

[code]

* Prometheus Operator version:

[code]

* Kubernetes version information:

[code]

* Kubernetes cluster kind:

[code]

[code]

**Anything else we need to

[2019-06-07 12:55] brancz commented on #2634
The helm chart is not part of this repo, nor is it used or maintained by us. Please report on the upstream helm charts repo.

[2019-06-07 12:55] #2634 closed

[2019-06-07 13:33] deprecastor commented on #2634
Oh I am sorry, wrong repo.. stupid me.

[2019-06-09 16:59] JannikZed commented on #1357
hey, could somebody please explain where exactly I need to set this value? It's not documented here: https://github.com/helm/charts/tree/master/stable/prometheus-operator
I tried out several things, but prometheus would always just create a PVC with a 64 characters long name.

[2019-06-10 04:45] rverma-nikiai opened #2635 "Thanos v0.5 is not supported"
**What happened?**
While deploying thanos v0.5.0 getting exception as
Error parsing commandline arguments: unknown long flag '--cluster.address'
thanos: error: unknown long flag '--cluster.address'

**Did you expect to see some different?**
Thanos sidecar should successfully injected and started

**How to reproduce it (as minimally and precisely as possible)**:
Deploy using s3 bucket and thanos v0

[2019-06-10 14:39] antoinne85 commented on #1531
Hey, @brancz. I stumbled upon this issue when Googling for a related problem I was trying to solve around getting `__meta_kubernetes_namespace` to come through as `namespace` after relabeling (I had forgotten this was still floating around out there).

The context around this issue was that I was trying to get a workaround for external metrics and just getting my feet wet w/ the whole K8S/Grafana/

[2019-06-10 14:39] #1531 closed

[2019-06-10 15:02] linecolumn opened #2636 "etcdHighNumberOfFailedGRPCRequests alarm not correct due NaN return value"
prometheus-operator 0.30.1 (it was same on 0.30.0) on clean cluster (without any load) is constantly hit with alarms:

[code]

As it seems this is covered in [https://github.com/etcd-io/etcd/pull/10629](https://github.com/etcd-io/etcd/pull/10629).

[2019-06-10 19:05] MrD2 commented on #1637
@KavithaBNagaraju  @infa-ddeore

Sorry to only respond now.
For now we only save the dashboards to the kubernetes configmaps with the `grafana_dashboard=1` label. If you change the values on the grafana UI the modifications won't propagate to the CM (to the best of my knowledge. This is something that we want to alter, or find a way where users can freely change their dashboards under the grafana

[2019-06-11 02:02] huangjiuyuan commented on #2630
@metalmatze  We use two VPC networks for a cluster. One for Pod IP and one for Node IP. The VPC IP assigned to Pod cannot connect to external etcd clusters, yet the VPC IP assigned to Node (the IP bound to APIServer, Controller Manager, Scheduler, Kubelet, etc.) can because we do not allow our users to visit any external management services outside Kubernetes clusters for securoty reasons. We have

[2019-06-11 02:12] gjpei2 opened #2637 "k8s python client control operator meet some erro"
**What did you do?**
i am using k8s python client to control prometheus-operator,there are some promblem when create prometheusrule.
**Did you expect to see some different?**
can get a successful response
**Environment**
centos 7.3 ;python2.7
* Prometheus Operator version:
v0.29.0
    `Insert image tag or Git SHA here`

* Kubernetes version information:
1.10
    `kubectl version`

* Kubernetes clu

[2019-06-11 02:18] huangjiuyuan commented on #2630
@brancz Thank you for your advice. However, introducing a proxy would increase the complexity and using hostNetwork for Prometheus does not compromise the security in my opinion. I have noticed that securityContext is supported in the API document. Setting securityContext and setting hostNetwork both escalate privilege level of Prometheus operator.

[2019-06-11 06:32] gjpei2 commented on #2637
i find a space cause this promblem ,dict(str, str) is right,dict(str,str) is wrong.
the reason i don't know
close this issue

[2019-06-11 06:51] #2637 closed

[2019-06-11 08:11] brancz commented on #2636
I commented in the etcd pull request. Let's first discuss there. I don't think that what you are seeing is the same as that pull request. I think what you are seeing is https://github.com/etcd-io/etcd/issues/10289

[2019-06-11 08:12] brancz commented on #2635
Could you try the `master` image? This should be fixed on master already.

[2019-06-11 09:50] ighack commented on #2632
[code]

[2019-06-11 20:32] JensErat opened #2639 "prometheus-operator should be able to handle some svc/prometheus-operated modifications"
**What happened?**

I have prometheus-operator running, and another operator that adds itself to services as finalizer (it just needs to be aware they're removed).

This results in those two operators fighting over the finalizer -- prometheus-operator is removing it, the operator is adding it again.

**Did you expect to see some different?**

Finalizer persistent until removed by operator that add

[2019-06-11 20:49] irizzant commented on #2207
@mazzy89
I've kops 1.12 and it looks like they completely changed the way etcd is deployed, they use etcd-manager now.
I see etcd-manager has etcd-client certs in its pods but unfortunately it seems that the ports used by prometheus-operator are no longer valid.

[2019-06-11 21:00] mazzy89 commented on #2207
ok then it's up to you how you want to run it. I do run kops in `Legacy` mode because I don't like at all the idea of having `etcd-manager`. so kops in `Legacy` works for me.

[2019-06-11 21:02] pcfens commented on #2635
I was having the same issue - it does appear to be fixed in the master image.

Is there a release planned or some regular release cycle? I don't mind checking back, but if I know about when to start looking it's always helpful.

[2019-06-12 04:10] iainmorris commented on #2435
Yes, as far as I can tell, the thanos sidecar is still not functioning in an istio mesh

[2019-06-12 06:13] 1robroos commented on #2552
Same here,
If I have 1 alertmanager, it crashes after approx 2 minutes.
If I have 2 alertmanagers, one of them crashes after approx 2 minutes.
This is on EKS.
Describing that alertmanager pod gives:
[code]

[2019-06-12 08:39] MrD2 commented on #38
/close

[2019-06-12 12:53] brancz commented on #38
Closed by https://github.com/coreos/prometheus-operator/pull/2566. Longest standing issue closed! :tada:

[2019-06-12 12:55] #38 closed

[2019-06-12 12:58] brancz commented on #218
I think we can close this. Given that these services are "external", there is no general purpose way for us to monitor them. Using DNS+SRV discovery is also very much generalizing as that would assume that those types of records actually exist. I think the only real way to monitor external services is to actually use a separate discovery mechanism that is available for that service, kubernetes dis

[2019-06-12 12:58] #218 closed

[2019-06-12 12:59] brancz commented on #2552
cc @simonpasquier do you think you could have a look into this?

[2019-06-12 13:47] brancz commented on #2635
we don't have a set schedule, but I think we've finished all the features we've wanted to for the next release so we should be good to go

[2019-06-12 13:51] pcfens commented on #2635
I was just curious anyway - thanks for all the work you do on this.

[2019-06-13 07:01] zgfh commented on #1637
@den-is try this:
[code]

[2019-06-13 07:31] simonpasquier commented on #2552
Sure. Re-reading all the comments, I'm not sure what goes wrong, AlertManager should start the API server very early in the process (eg it doesn't depend on the cluster being settled). Lets start by getting the AlertManager custom resource definition (`kubectl get alertmanager -o yaml`) as well as the generated AlertManager configuration (`oc get secrets alertmanager-main -o "jsonpath={ .data['ale

[2019-06-13 07:37] Ghostbaby commented on #1637
@zgfh thanks for your yaml.
maybe we should remove the initContainers config.

[2019-06-13 08:18] zgfh commented on #1637
@Ghostbaby initContainers change directory permissions ,if not ,pod will error like this:
[code]

[2019-06-13 12:36] aman1989v opened #2640 "How Prometheus Operator has automated the task, which were done manually when using simple prometheus deployment?"
**What did you do?**

**Did you expect to see some different?**

**Environment**

* Prometheus Operator version:

    `Insert image tag or Git SHA here`

* Kubernetes version information:

    `kubectl version`

* Kubernetes cluster kind:

    insert how you created your cluster: kops, bootkube, tectonic-installer, etc.

* Manifests:

[code]

* Prometheus Operator Logs:

[code]

**Anything else we

[2019-06-13 12:41] aman1989v commented on #2640
Hi Prometheus Operator Team,  We are using prometheus to monitor our systems, I have started learning about Operators and finding ways how to configure Prometheus Operator.
I am not convinced why I should shift to prometheus operator for monitoring purposes. Could you please give me some insights How prometheus operator is better than simple prometheus deployment? What are the use cases it covers?

[2019-06-14 03:39] kengan opened #2641 "I can not create prometheus pod"
I downloaded the new release version (0.31.0) of prometheus operator
And then I run 'kubeclt create -f bundle.yaml' . Everything is OK and the operator can run without any error.
I use the yaml file in /example/user-guides/getting-started/ for testing.
I can run the deployment, serivce and servicemonitor about the example app.
After that  I run 'kubeclt create -f  prometheus.yaml'
I can use 'kubec

[2019-06-14 03:54] kengan commented on #2641
Follwoing show the result about "kubectl describe prometheus prometheus"

Name:         prometheus
Namespace:    default
Labels:       <none>
Annotations:  <none>
API Version:  monitoring.coreos.com/v1
Kind:         Prometheus
Metadata:
  Creation Timestamp:  2019-06-14T03:24:12Z
  Generation:          1
  Resource Version:    28466860
  Self Link:           /apis/monitoring.coreos.com/v1/namespac

[2019-06-14 06:58] #2641 closed

[2019-06-14 09:22] brancz commented on #2640
It gives users self-serve mechanisms to configure Prometheus in the way they need through CRDs. It manages edge cases of storage handling that the StatefulSet controller can't generalize, but we know how Prometheus works so we can make certain opinionated decisions. It can validate recording/alerting rules at apply time against the API. Probably most notably we provide an extremely smooth update e

[2019-06-14 10:21] irizzant commented on #2207
That's for sure, but I suppose that `Legacy` also means that sooner or later kops is not going to use it anymore.

[2019-06-14 10:57] mickael-carl commented on #1574
Any update on this issue? We now noticed this issue as well. Should something similar to #1601 be opened based on a more up-to-date version of the code?

[2019-06-14 11:31] Dimpison commented on #2482
Hey, @RickS-C137, could you please link the issue that u read about "As far as I read in another (closed) issue, it's recommended to use one operator for all prometheus in a cluster."

Also, @brancz , are there any peace of documentation or any other mentions about several prometheus-operator instances in one cluster in different namespaces? because I want to keep them both, to break dependencies

[2019-06-14 13:23] brancz commented on #2482
@Dimpison you can't have two controllers act on the same objects, that's always going to end badly. It's the reason why the kubernetes controller manager and scheduler do leader election.

[2019-06-14 13:23] brancz commented on #1574
If you want to rebase #1601 I'd be happy to give it another review :)

[2019-06-14 15:11] Devin-Holland opened #2642 "Add StatefulSetMetadata to PrometheusSpec"
**What is missing?**
Missing the ability to apply labels and annotations to the generated StatefulSet from the PrometheusSpec

**Why do we need it?**
Being able to tack on labels to the StatefulSet will allow you to ignore the StatefulSet when using the `--prune` flag and `-l` flag on `kubectl apply` so that the StatefulSet does not get deleted every time you re-apply the kubernetes yaml.

[2019-06-14 15:46] brancz commented on #2642
I felt like we had something like this already. Maybe we’re transferring the labels from the Prometheus object to the statefulset?

[2019-06-14 15:50] Devin-Holland commented on #2642
There is a feature on the Prometheus object to add `podMetaData` which will allow you to add additional labels to the pod, but for the statefulset the labels and from the Prometheus object are directly copied over and you can't add new labels or annotations to it.

[2019-06-14 18:21] brancz commented on #2642
Why can’t you accomplish what you are aiming for by adding the label/annotation you want onto the Prometheus object, hence it gets propagated to the statefulset?

[2019-06-14 18:29] Devin-Holland commented on #2642
So if you run `--purge` on your `kubectl apply` with that label that gets propagated to the stateful set then when kubernetes compares the cluster to your definition yaml it sees the statefulset but it isn't in your definition so it deletes the statefulset.

Example: You have a yaml definition that creates a deployment for Prometheus Operator and then you have a Prometheus object, and a random dep

[2019-06-14 20:03] esmail-fahimi commented on #2007
@justlooks what was the root cause for this?  I am getting the same error and there no references to po-crdgen anywhere.

[2019-06-15 23:15] dmyerscough commented on #2360
You can define the service account in the Thanos configuration:-

[code]

[2019-06-16 19:12] #2360 closed

[2019-06-17 06:52] brancz commented on #2642
That makes perfect sense, we should absolutely have he expected behavior here. How does the ReplicaSet do this in relation to the deployment? Or even more fundamentally pods? Ideally I’d want us to have the expected behavior out of the box, without having to do any custom labeling or anything.

[2019-06-17 08:48] larryzhu2018 opened #2645 "additionalScrapConfig not working"
**What happened?**
I added scrape config in values.yamal
    additionalScrapeConfigs:
    - job_name: "logstash"
      static_configs:
      - targets: ["logstash:9198"]

with full values.yaml here:
# Default values for prometheus-operator.
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.

## Provide a name in place of prometheus-operator for `app:` labels
##

[2019-06-17 09:47] kengan opened #2646 "How to use the relabelConfig"
I want to relabel some label, I set the yaml about prometheus.yaml as following. I want to set the value of label named namespace to 'DongGuang'. But It can not work.
Can someone help me? Thank you.

 apiVersion: monitoring.coreos.com/v1
kind: Prometheus
metadata:
  name: prometheus
spec:
  serviceAccountName: prometheus
  serviceMonitorSelector:
    matchLabels:
      team: frontend
  resources:

[2019-06-17 10:06] kengan commented on #2646
I also set in servicemonitor as following,but it does not work.

apiVersion: monitoring.coreos.com/v1
kind: ServiceMonitor
metadata:
  name: example-app
  labels:
    team: frontend
spec:
  selector:
    matchLabels:
      app: example-app
  endpoints:
  - port: web
  metricRelabelings:
    targetLabel: namespace
    replacement: DongGuang
  relabelings:
    targetLabel: namespace
    replacement:

[2019-06-17 11:21] brancz commented on #2645
We don’t use nor maintain the helm chart, please report your problem on the repo where the chart is maintained.

[2019-06-17 11:21] #2645 closed

[2019-06-17 11:25] brancz commented on #2646
Could you use the linting tool we have available to check that your manifests are valid?

go get github.com/coreos/prometheus-operator/cmd/lint

[2019-06-17 11:32] tombh commented on #1547
The main point for me is that the whole add `prometheus.io/scrape = true` to your annotations advice is all over the web, so it was pretty confusing trying to figure out why this chart wasn't picking up the extra metrics that I was expecting it to. So my advice would be merely some documentation that acknowledged the prevailing advice elsewhere on the web and pointed users in the right direction.

[2019-06-17 11:50] Devin-Holland commented on #2642
By default the labels on the Prometheus object are not copied to the ReplicaSet or the Pods so prune will not attempt to remove them. You can add labels to the Pods through the podMetadata on the Prometheus object.

[2019-06-17 15:10] irizzant commented on #2207
Ok I managed to get etcd scrape working with `etcd-manager`.

You can create the `Secret` needed for the operator to start properly like this:
[code]

Once you have the `Secret` you can install the operator with the following `values.xml` snipped (only etcd relevant part included):
[code]
Last but not least, you have to update the service `prometheus-prometheus-oper-kube-etcd` which the operator c

[2019-06-17 15:14] mazzy89 commented on #2207
Same way to configure the `Legacy` mode.

[2019-06-17 15:36] irizzant commented on #2207
Glad to hear it's the same.
Apart from grabbing the `Secret` from the masters I couldn't find any hint about changing the service selectors, the service default ports and removing the additional `component: etcd` label so I thought a recap would have been useful for everyone

[2019-06-17 19:03] jolson490 commented on #1631
I've stepped up to https://github.com/coreos/kube-prometheus/releases/tag/v0.1.0 (which has the changes made by https://github.com/kubernetes-monitoring/kubernetes-mixin/pull/63) and `KubeClientErrors` is no longer firing, so I'm closing this issue.

[2019-06-17 19:03] #1631 closed

[2019-06-17 19:19] jolson490 commented on #1754
This issue has been resolved - we now have https://github.com/coreos/kube-prometheus/releases/tag/v0.1.0

[2019-06-17 19:19] #1754 closed

[2019-06-18 00:53] kengan commented on #2646
@brancz  Thank you for your answer. But I do not know how to use lint. Can you tell me the detail. Thank you.

[2019-06-18 01:04] kengan commented on #2646
Let me take a example
For example
I have a metric  record as following

http_requests_total{code="0",endpoint="web",handler="api",instance="10.248.147.150:8080",job="example-app",method="get",namespace="default",pod="example-app-796bcbd7f9-7j7cp",service="example-app"}  17270449

I want to save the record into influxdb, I have used the remotewrite to save the record
I want to replace the label val

[2019-06-18 06:31] brancz commented on #2646
You can use the above command that I shared to install the Prometheus operator lint tool. Once installed check your manifests with:

lint prometheus.yaml servicemonitor.yaml

[2019-06-18 08:47] Twoling opened #2647 "Alertmanager sends an error via a self-built mailbox server"
* problem：Alertmanager sends an error via a self-built mailbox server
* environment：
    * k8s version:  1.14.2
    * prometheus-operator image version：prometheus-operator:v0.29.0
    * alert-manager version：alertmanager:v0.16.1

    * Mailbox server：ExtMail

* log（alertmanager container log）：
[code]

* Configuration（alertmanager.yaml）：
[code]

* Mailbox server log（/var/log/maillog）
[code]

[2019-06-18 10:20] moskitone opened #2648 "kubernetes_sd_config role: node"
**What is missing?**
There is no option to get node labels when node-exporter or kubelet are scraped.
**Why do we need it?**
There are labels provided by cloud providers like _cloud.google.com/gke-preemptible_ or other custom labels and they are missed because prometheus-soperator sets _role: endpoints_ to all targets.
It would be useful to have these labels for writing custom alert rules.

[2019-06-18 14:02] brancz commented on #2648
These are things that you would have once per cluster, so I would recommend you to do that with the `additionalScrapeConfigs` feature, where you can add arbitrary Prometheus config.

[2019-06-18 14:03] brancz commented on #2647
This is unrelated to the Prometheus Operator, it's about usage of Prometheus/Alertmanager.

It makes more sense to ask questions like this on the [prometheus-users mailing list](https://groups.google.com/forum/#!forum/prometheus-users) rather than in a GitHub issue. On the mailing list, more people are available to potentially respond to your question, and the whole community can benefit from the

[2019-06-18 14:03] #2647 closed

[2019-06-18 14:16] mattfarina opened #2649 "apps/v1beta2 -> apps/v1 for Deployment"
In the `bundle.yaml` file the `Deployment` uses `apps/v1beta2`. The GA version of this API (`apps/v1`) has been available since Kubernetes 1.9. Soon, Kubernetes will stop accepting objects versioned before `apps/v1`.

We've been telling people for several months about this. I just noticed the old verion while reading the file and thought I'd share that here, too.

[2019-06-18 14:41] brancz commented on #2649
I think @metalmatze had a work in progress PR for this, but can't find it right now. Where are we on this?

[2019-06-18 14:45] jtslear opened #2650 "How does one utilize externalLabels"
**What happened?**

I'm trying to figure out how to utilize [`externalLabels` as documented](https://github.com/coreos/prometheus-operator/blob/ca400fdc3edd0af0df896a338eca270e115b74d7/Documentation/api.md#prometheusspec), but I do not see the desired configuration inside of the generated `prometheus.yml` configuration of the running container.

**Did you expect to see some different?**

Based on

[2019-06-18 15:17] jtslear commented on #2650
Indeed I am.  I did find it odd that in my output above I saw version 5.12.1, however:
[code]

[2019-06-18 16:16] moskitone commented on #2648
It looks like strange behaviour to expose endpoint labels instead of node labels.
I think it would be much better to have the right labels for nodes like it is described here [/prometheus-kubernetes.yml](https://github.com/prometheus/prometheus/blob/master/documentation/examples/prometheus-kubernetes.yml)
Also by adding this to `additionalScrapeConfigs` one should disable default kubelet configura

[2019-06-18 16:39] metalmatze commented on #2649
I'm honestly not sure I started for the Prometheus Operator manifests themselves. I definitely did update kube-prometheus.
Anyone can do a PR to updates this, I'd say. Here's the kube-prometheus changes https://github.com/coreos/kube-prometheus/pull/87/

[2019-06-18 18:42] neoakris commented on #2255
https://coreos.com/operators/prometheus/docs/latest/user-guides/cluster-monitoring.html
May also be of help, says you need to create services for them to be discovered.

[2019-06-19 11:16] idanlevin commented on #2635
+1 on creating a release for Thano 0.5.0 support

[2019-06-19 12:12] e9169 commented on #2635
+1 on the new release, please. We are trying to fix several issues with our current deployment.

[2019-06-19 19:10] sbussetti opened #2651 "additionalConfig -- is it real?"
In this comment: https://github.com/coreos/prometheus-operator/issues/1166#issuecomment-386896013 @brancz mentions an "additionalConfig" parameter for ServiceMonitors that would let me append additional configurations to a particular ServiceMonitor definition, at least if I am reading the thread correctly.

However, I cannot find any documentation in the spec (https://github.com/coreos/prometheus-

[2019-06-19 19:59] brancz commented on #2651
It’s not on the servicemonitor but on the prometheus resource itself.

[2019-06-19 20:11] sbussetti commented on #2651
Right -- is there any way to manipulate the individual configuration components at the ServiceMonitor level?

[2019-06-19 20:12] sbussetti commented on #2651
You know as opposed to having to make a copy of the `job` and generated by a service monitor, paste it into the Prometheus additionalScrapeConfigs and then add the couple additional rules I need?

[2019-06-20 06:25] brancz commented on #2651
It you just want additional relabeling rules to what the servicemonitor generates then you’re looking for the “relabelings” in the endpoint field of the servicemonitor.

[2019-06-20 07:52] brancz commented on #2649
Closed by https://github.com/coreos/prometheus-operator/pull/2652

[2019-06-20 07:52] #2649 closed

[2019-06-20 11:38] Asgoret opened #2654 "How connect to prometheus own application?"
I use this [documentation](https://github.com/coreos/prometheus-operator/blob/master/Documentation/user-guides/getting-started.md#related-resources) , but can't get any metrics in prom. Can anybody help?

[2019-06-20 14:12] brancz commented on #1547
100% agreed. From the perspective of someone who recently ran into this. Where do you think we should put this?

[2019-06-20 14:13] #1574 closed

[2019-06-20 14:19] brancz commented on #2642
Sorry for taking so long to reply to this. How about, if the statefulset labels are non-nil, then we don't set the statefulset's labels to the prometheus object's labels?

[2019-06-20 14:22] brancz commented on #2642
I'm wondering about one more thing. The [prune docs say](https://kubernetes.io/docs/tasks/manage-kubernetes-objects/declarative-config/#how-to-delete-objects):

But the StatefulSet doesn't get this annotation, why would prune delete it?

[2019-06-20 14:43] tombh commented on #1547
The README here points to the Helm Chart README, so there maybe? https://github.com/helm/charts/tree/master/stable/prometheus-operator#prometheus-operator

[2019-06-20 14:48] brancz commented on #1547
@vsliouniaev do you think you could add a note there? :)

[2019-06-20 15:07] e9169 commented on #2635
@brancz the latest release, 0.31, does it offer support for Thanos 0.5.0? I read the note about removing gossip but I didn't read anything about thanos 0.5.0 although gossip is definitely removed on 0.5.0.

Thank you.

[2019-06-20 15:12] brancz commented on #2635
Yes you can use v0.5.0 with it (in fact that's what the tests do). Gossip was already possible to not be used in 0.4.0 though.

[2019-06-20 15:12] brancz commented on #2635
This has now been released. Closing.

[2019-06-20 15:12] #2635 closed

[2019-06-20 16:23] Devin-Holland commented on #2642
The stateful set seems to be getting a last-applied-configuration annotation when it gets created because it gets copied from the Prometheus object which gets that annotation automatically applied to it by kubernetes.

As for the statefulset labels being non-nil what do you mean? There is currently no way to interact with the statefulset's labels unless you're talking about adding to the change in

[2019-06-20 18:24] mickael-carl commented on #2602
Isn't this deprecated since [Prometheus 1.6.0](https://github.com/prometheus/prometheus/blob/master/CHANGELOG.md#160--2017-04-14) ?

[2019-06-20 18:49] sbussetti commented on #2651
oh snap

[2019-06-20 18:49] #2651 closed

[2019-06-21 08:02] dmyerscough opened #2656 "CRD PodMonitors unable to be created"
**What happened?**

I just tried the latest version of the Prometheus Operator and I am receiving the following error:-

[code]

**Did you expect to see some different?**

The previous version did not complain about the podmonitors CRD

**How to reproduce it (as minimally and precisely as possible)**:

Install the latest version of the Prometheus Operator:-

[code]

**Environment**

k8s in GCP

*

[2019-06-21 08:31] brancz commented on #2642
Got it! How about we ignore that annotation when transfering then? Then pruning would work and it's a managed resource anyways, so it's incorrect to be copied. What do you think?

[2019-06-21 08:33] brancz commented on #2602
That is correct.

[2019-06-21 08:58] adamarnold-msm commented on #2656
Can confirm, we are experiencing this bug. Adding podmonitors to the cluster role binding fixes

- apiGroups:
  - monitoring.coreos.com
  resources:
  - alertmanagers
  - prometheuses
  - prometheuses/finalizers
  - alertmanagers/finalizers
  - servicemonitors
  - prometheusrules
  - **podmonitors**

[2019-06-21 09:01] brancz commented on #2656
Did you update the ClusterRole? This should not occur with the latest bundle:

https://github.com/coreos/prometheus-operator/blob/852a9aa995e279ce31fc2ad3e7fe8882ad5b2244/bundle.yaml#L33-L50

[2019-06-21 09:54] adamarnold-msm commented on #2656
Thanks, waiting on a PR to be merged in the helm config https://github.com/helm/charts/pull/14943

[2019-06-21 10:41] Asgoret commented on #2407
Same error. I tried:
[code]
And it always return to:
[code]

[2019-06-21 11:06] brancz commented on #2407
@Asgoret it looks like you're trying to modify the immutable stack shipped on OpenShift. Your changes will always be reverted, this is intentional.

[2019-06-21 11:25] Devin-Holland commented on #2642
I think that's a good solution. I will be on vacation for a week but I'll take a look at making it happen when I get back.

[2019-06-21 12:24] sbussetti commented on #2503
I ran into this issue as well, even though the documentation suggests that you use snake_case style.

[2019-06-21 13:00] brancz commented on #2503
Where does the documentation suggest this?

[2019-06-21 13:01] brancz commented on #2642
No worries, enjoy your time off! This sounds like the best solution we could have come up with, very happy with it. Just drop a line here when you get started on it, to avoid someone else picking it up! :)

[2019-06-21 13:26] sbussetti commented on #2503
Okay honestly, this is user error.  On the endpoints config docs (https://github.com/coreos/prometheus-operator/blob/master/Documentation/api.md#endpoint) it directs you to https://prometheus.io/docs/prometheus/latest/configuration/configuration/#relabel_config and since the table is wider than the columns on github, the link to view the (correct) docs on the RelabelConfig spec are cut off, making

[2019-06-21 13:40] brancz commented on #2503
Makes sense. Do you think it would help, if we put a phrase before linking to the upstream relabeling configuration that in order to comply to kubernetes API convention it is converted to camel case instead?

[2019-06-21 15:02] Aracki opened #2658 "Adding write_relabel_configs in additionalScrapeConfigs doesn't work"
* Prometheus Operator version:

    `v0.23.2`

* Kubernetes version information:

    `v1.11.7`

* Manifests:

My prometheus operator manifest last few lines in `.spec`:

[code]

My **_prometheus-additional-public-api_** secret:

[code]
_Prometheus Operator Logs:_

[code]
---

My second try of **_prometheus-additional-public-api_** secret:
[code]
_Prometheus instances logs:_
[code]

[2019-06-21 15:03] Aracki commented on #2654
You will need to provide more info

[2019-06-21 15:35] Devin-Holland commented on #2642
One thing to check still is if kubernetes will automatically apply that label if it's not copied over from the Prometheus object.

[2019-06-24 06:46] brancz commented on #2642
Yes we should check that but to my knowledge this doesn’t happen Server side.

[2019-06-24 07:06] Asgoret commented on #2407
@brancz Yeah, i clarified it too) Thanks for help!

[2019-06-24 07:07] Asgoret commented on #2654
@Aracki i clarified that in OKD there is cluster-monitor, not prometheus operator so i just redeploy normal version of prom-operator

[2019-06-24 07:07] #2654 closed

[2019-06-24 08:32] brancz commented on #2658
Additional scrape configs is just for scrape configs, not other settings in the prometheus config. The remote write config in the Prometheus object allows you to specify relabeling rules already https://github.com/coreos/prometheus-operator/blob/master/Documentation/api.md#remotewritespec

[2019-06-24 10:08] lubouski commented on #2656
Greetings @brancz have the similar issue with `podmonitors`
Here my `rbac` config:
[code]
And deployment config:
[code]

But facing error:
[code]

[2019-06-24 10:20] brancz commented on #2656
You have a mismatch in service account names :)

[2019-06-24 11:03] Aracki commented on #2658
🧐 I have a lot of problems with getting the right syntax for the operator manifest.

Anyway I will not use this as it's `experimental feature`, but thanks for the info! 👍

[2019-06-24 11:03] #2658 closed

[2019-06-24 12:21] sbussetti commented on #2503
Sure, or if the hyperlink was linebroken to allow for a full view of the
table at that point, that’d work too.

~
Steve
c: 917.930.0612

On June 21, 2019 at 9:40:28 AM, Frederic Branczyk (notifications@github.com)
wrote:

Makes sense. Do you think it would help, if we put a phrase before linking
to the upstream relabeling configuration that in order to comply to
kubernetes API convention it is con

[2019-06-24 18:19] tkozma commented on #2207
Thank you @irizzant, worked for me too on `kops 1.12` and with `prometheus-operator-5.12.4 helm chart`. I would like to extend it a bit.
We also need to add the generated `etcd-certs` secret to the prometheus-operators `values.yaml` and we can remove in advance the `component: etcd` from the generated service by adding `component: null`

[code]

[2019-06-24 20:25] caarlos0 commented on #2656
so not a bug right?

the issue is part on the helm side (not applying crds on upgrade) and part on the chart not being updated yet (which is caused by the first issue 🙄)

If I get things correctly this may be closed...

[2019-06-25 07:23] lubouski commented on #2656
Wanna additionally mention that `deployment` `apiVersion` is kinda crucial for versions above `30`.
With `apiVersion: apps/v1beta2` I got bug in which `prometheus` config file it is absent and `prometheus` can't start without it.

[2019-06-25 09:07] mediaimprove commented on #2207
Thank you @tkozma for your solution, but with kops 1.12.1 and helm chart 5.12.4 i get this scraping error: "Get https://172.20.57.135:4001/metrics: context deadline exceeded".
Do you have any idea? certs are available. ServiceMonitor looks like this:
[code]

[2019-06-26 17:27] swtch1 commented on #2444
#2445 was merged.  This issue should likely be closed if this is the recommended pattern.

[2019-06-28 17:09] tkozma commented on #2207
@mediaimprove I didn't encounter that error, your ServiceMonitor looks good. I only have a couple of ideas you to check.

First I think you should check, if you can poll the etcd metrics endpoint on the master instance.
This command executed on a master instance should return the etcd metrics.
[code]

You can also check the scraped service:
[code]
Look for the selectors:
[code]
With the selectors

[2019-06-29 08:33] dotbalo commented on #2645
Hi, Does additionalScrapeConfigs support consul_sd_configs?

I am using Prometheus v2.5.0, Prometheus operator 0.18.0. I want to automatically discover and monitor SpringCloud applications through consul_sd_configs. But after I added the additionalScrapeConfigs configuration and redeployed Prometheus using kubectl apply, I did not find the added consul_sd_configs configuration in the Prometheus We

[2019-07-01 21:43] jgriff commented on #298
Has this changed at all?  I'm using the latest release (`v0.31.1`) and I cannot get the `jobLabel` to translate over to a Prometheus target name.

[2019-07-02 12:13] jtslear commented on #2650
After further testing, this is indeed working.  When looking at configuration files, there's two of them inside of the pod, I was simply looking at the incorrect one:

- /etc/prometheus/prometheus.yaml
- /etc/prometheus/config_out/prometheus.env.yaml

The latter is being utilized by the prometheus service

[code]

After learning to correctly query through a `thanos-query` instance that is properly

[2019-07-02 12:13] #2650 closed

[2019-07-02 18:53] GAHila opened #2663 "kubernetes-nodes-kubelet target -403 after upgrade to EKS 1.12"
**What did you do?**

Upgraded EKS to 1.12 and have prometheus v0.29.0. Now I get 403s on https://kubernetes.default.svc/api/v1/nodes/ip-10-124-0-32.ec2.internal/proxy/metrics.
It seems that webhooks are actually enabled in kubelet.
**Did you expect to see some different?**
Expected to still retrieve metrics from kubernetes-nodes-kubelet target

**Environment**

* Prometheus Operator version:
v0.2

[2019-07-03 13:15] djsly commented on #926
I just confirmed that on AKS, `--authentication-token-webhook` is set to `false` the default from kubelet.

https://github.com/Azure/AKS/issues/1087

[2019-07-04 16:37] #2602 closed

[2019-07-04 16:38] #2444 closed

[2019-07-04 19:22] vsliouniaev commented on #1547
Sure, thing. Will do that

[2019-07-05 09:05] hamid2013 commented on #2065
Hello Guys,

I am trying to increase the retention and use the pvc (persistent volume) for prometheus. And we do have example for it. When i copy and pasted that on the jsonnet/kube-prometheus folder and running the build.sh its giving the error:

[code]

[2019-07-05 09:08] metalmatze commented on #2065
You need to have the `jsonnetfile.json` in your same directory and then run `jb install` (jb being the jsonnet-bundler) to fetch all necessary dependencies to build kube-prometheus.

[2019-07-05 09:23] hamid2013 commented on #2065
@metalmatze : Thanks for the prompt reply.
To achieve that, i have copied the examples/prometheus-pvc.jsonnet to jsonnet/kube-prometheus and run the below commands:
1. jb install
2. ./build.sh

Now from where i can confirm that the retention and pvc has been added in the manifests so that i can apply on the cluster.

Apology, but new to jsonnet and kube-prometheus both.

[2019-07-05 09:27] metalmatze commented on #2065
No worries. Glad it works now!

[2019-07-05 09:43] hamid2013 commented on #2065
@metalmatze: I have not applied in the cluster, just wanted to know where can i confirm the retention period and pvc configuration has been modified before i apply.

Also if we have any slack channel for this kind of issue, can you please provide the URL to join that.

[2019-07-05 09:45] metalmatze commented on #2065
Yes. We have. There's #prometheus-operator in the Kubernetes Slack. See you there! :)

[2019-07-05 09:53] hamid2013 commented on #2065
Can you please provide the link, while searching the workspace kubernetes.slack.com, its asked to login and i am using my github registered email to do that or any other way to login to the kubernetes slack

[2019-07-05 10:11] hamid2013 commented on #2065
Please ignore i was able to join the slack now

[2019-07-05 21:25] redbaron commented on #501
Just wanted to add another datapoint. On 12 CPU VM with container limits set to 4, same query runs:
- 13 seconds without GOMAXPROCS
- 4.3 seconds with GOMAXPROCS=4

I think main slowdown comes from CFS quata period, where it starves process for cpu time for 100ms every time it runs over allocated quota.

[2019-07-06 15:00] jtslear opened #2665 "How can I troubleshoot PrometheusRule CRDs?"
**What did you do?**

How does one verify that PrometheusRule objects are being picked up and utilized by the prometheus operator correctly?  I've added 63 rule objects to kubernetes:

[code]

Looking at the logs of the operator, we see this line item every time a file is applied:

[code]

However, I can't find a rule files in the prometheus Pod, and going to the prometheus `/rules` endpoint confi

[2019-07-06 16:33] MrD2 commented on #2665
You probably are not specidying the Selectors currectly- Check the labels of the default rules and apply them to your file. Also the selector rules can be recearched on the Prometheus object and Alertmanager object

[2019-07-06 17:18] jtslear commented on #2665
That is precisely what it was.  I had no idea there was a selector in play for this.  Thank you for the pointer.

The documentation for the stable helm chart is incorrect as there are values set for the selector.  To answer my own questions above:

Roughly a minute

Yes there's an option for this, if using the `stable/prometheus-operator` helm chart, `ruleNamespaceSelector`, this defaults to all n

[2019-07-06 17:18] #2665 closed

[2019-07-07 10:56] bryanhuntesl commented on #2224
You ever figure it out ? Have the same problem now - going around in circles.

[2019-07-08 06:17] brancz commented on #2224
The annotation based approach is outdated and not recommended by the Prometheus team, it is literally not in the default example config anymore. The reason is that beyond a demo this config endorses things not suitable for production environments: it prevents use of multiple ports, it prevents TLS config per target or target group, it prevents the ability to configure authentication and a lot more

[2019-07-08 07:34] brancz commented on #501
@redbaron Thanks for testing it! Out of curiosity do you have the possibility to disable CFS quotas globally? That way we could validate if it is that, that is causing it.

Also are you just setting the limit to 4 or request and limit? If both, then I'd actually expect that guaranteed QoS would configure the container to its own cpuset. I'd be curious to see if the still phenomenon still occurs wh

[2019-07-08 12:30] bryanhuntesl commented on #2224
Mine's working fine now - I'm not very familiar with the Prometheus terminology/concepts - do you have a link to something I can read for best (current) practice configuring prometheus to scrape custom metrics from pods. Currently I'm using the following and it's working pretty well

https://github.com/binarytemple/is_it_up/blob/808ef28159ca4a275974a428271ee17b8025426c/ops/monitoring/prometheus-co

[2019-07-08 13:48] brancz commented on #2224
That config looks like you're discovering every pod's port in your cluster and start scraping a `/metrics` endpoint from every, no TLS, no authN/authZ. Do you not have a lot of scrape targets that just error on the `/targets` page of Prometheus?

[2019-07-08 14:25] bryanhuntesl commented on #2224
You're correct, actually I do have a lot of down/scrape errors (see screenshot).

I'm trying to learn prometheus (so I'd rather not drop an operator in). Do you have any recomendation how I could better config my configmap ? I'm not concerned with TLS or auth - that's fine (Elixr demo application (for a talk))

https://github.com/binarytemple/is_it_up/blob/808ef28159ca4a275974a428271ee17b8025426c/

[2019-07-09 08:26] brancz commented on #2224
I'm a little confused why you're asking questions on a prometheus-operator issues, but don't want to use it. kube-prometheus gives you a curated environment with everything pre-configured, so either you rebuild that yourself from scratch, meaning you'll type all those scrape configs by hand or use what's already out there :)

[2019-07-09 08:53] bryanhuntesl commented on #2224
Just clutching at straws when it wouldn't initially scrape (turns out I'd killed the nodes), also I'm considering running the operator but I wanted to understand the pieces before just running a script and increasing the abstraction level/what I'd have to understand to get it fixed/working.

Maybe it would help if the README outlined some of the things you're describing, they aren't imediately obv

[2019-07-09 08:56] krishnakumar797 commented on #2572
Prometheus showing down status for SpringBoot /actuator/prometheus endpoint. Manifests as follows,

[code]
  we are getting

http://10.1.1.131:8080/actuator/prometheus | down | endpoint="das-port"                                    instance="10.1.1.131:8080"                                    job="das-service"                                    namespace="default"

[2019-07-09 09:37] brancz commented on #2224
The Prometheus Operator introduces a custom resource that allows you to define what is to be scraped in a Kubernetes native way - with label selectors. This is called the ServiceMonitor. Each ServiceMonitor internally just generates a Prometheus scrape config, which you would otherwise end up writing by hand :)

I'd recommend going through the [getting started](https://github.com/coreos/prometheus

[2019-07-10 09:59] zhangxingdeppon opened #2666 "How can i change Prometheus‘s args,for example "--storage.tsdb.retention""
**What did you do?**
Good afternoon,guy,I want to extend prometheus's data retention time,but I can't find the configuration about it, I have tryed to online edit  the pod prometheus-k8s-0 .but it faild.can you help me ? thanks.
![image](https://user-images.githubusercontent.com/16789841/60959599-10194400-a33b-11e9-894c-fa5a77f13e9d.png)

I have found prometheus Spec.But the document don't describ

[2019-07-10 11:42] brancz commented on #2666
I recommend going through the [getting started guide](https://github.com/coreos/prometheus-operator/blob/master/Documentation/user-guides/getting-started.md), there you'll learn about the Prometheus type object, that the Prometheus Operator introduces. That's where you set the retention.

[2019-07-10 14:47] RiRa12621 commented on #2640
One thing i have valued a lot was a change of the concept: whilst on a single manual prometheus installation, you'll have to take care of scrape config as well as alerting rules and alertmanager rules, which involves reloading prometheus, making sure service discovery works and so on.
With the prometheus-operator and the corresponding CRDs you can abstract that away a bit. You can couple your aler

[2019-07-10 18:49] jtslear opened #2668 "Unable to modify storage class nor size after installation"
**What happened?**

I created a storage configuration:

[code]

Then when things weren't working, discovered a problem with GKE's use of small volumes.  So I needed to recreate the same thing, but a larger disk:

[code]

Upon doing so, the operator does not appear to do anything to help us along in recreating the PV's.  The replicas never get restarted, new volume claims never show up, and nothing

[2019-07-11 01:32] marcosnils commented on #2407
Which brings me to the next question. What if all the namespaces in my cluser don't have any labels? Is there a reason why it can't be a fieldSelector instead of a label selector?

I.E:
[code]

[2019-07-11 01:48] zhangxingdeppon commented on #2666
I' m sorry.I still haven't found the relevant content.i'm bad at it ,could you give some advise please ？thanks

[2019-07-11 07:58] brancz commented on #2407
We would need to check the API, to see if selection can be done like that. Last time I checked field selector was pretty much limited to the pods API

[2019-07-11 12:18] brancz commented on #2668
This goes back to the StatefulSet, and is generally about storage management. I think your points are valid, but need a lot of thought and this is a feature request, not a bug.

Some what related https://github.com/coreos/prometheus-operator/issues/2357.

[2019-07-11 12:29] brancz commented on #2666
Looking at the example in the getting started guide here: https://github.com/coreos/prometheus-operator/blob/master/Documentation/user-guides/getting-started.md#include-servicemonitors

It has this object:

[code]

To configure retention to be 10 hours, that object would look like this:

[code]

[2019-07-11 16:13] marcosnils commented on #2407
You're right. What I'm trying now is to add labels only to the namespaces that I want to exclude and use a matchExpression to scrape everything *but* the namespaces with that label.

[2019-07-11 23:40] smanpathak opened #2670 "Unrecoverable OOM"
I tested prometheus-operator with avalanche https://github.com/open-fresh/avalanche.
This tool creates mock scrape points for prometheus to scrape data from. The prometheus instance was created with cpu and memory requests and limits set. This ensured the QoS was set to guaranteed by kubernetes. The instance was also configured with persistent storage.

Then I increased load in steps by increasing

[2019-07-12 02:04] zhangxingdeppon commented on #2666
ok，I got it，I configured it according to your suggestion,the probelem have resolved recently，thanks very much,excellent.

[2019-07-12 02:06] zhangxingdeppon commented on #2666
I got it,LOL，I configured it according to your suggestion,the probelem have resolved recently，thanks very much,excellent.

[2019-07-12 06:08] #2666 closed

[2019-07-12 06:23] brancz commented on #2670
Which version of Prometheus are you using?

[2019-07-12 06:45] brancz commented on #2407
You should be able to model something like that using the “NotExists” and “In” expression operators no?

[2019-07-12 07:37] marcosnils commented on #2407
Correct. Worked like a charm. Thx getting back so promptly

[2019-07-12 15:55] smanpathak commented on #2670
The image used are : operator -- quay.io/coreos/prometheus-operator:v0.29.0
prometheus --  quay.io/prometheus/prometheus:v2.7.1

[2019-07-15 19:50] jesse-welch commented on #2207
@mediaimprove - Were you able to solve your issue?

I was able to follow the setup provided in this issue, and do have 2/3 targets scraping correctly.  My third instance however shows that same `Get https://#.#.#.#:4001/metrics: context deadline exceeded` error.  My general understanding of this specific error is that some sort of SSL/TLS error has occurred, but I cannot understand why only one of

[2019-07-16 15:15] itayvallach commented on #1637
These are the steps we make to persist dashboards to outlive pod deletion:

1. Create your custom dashboard through the UI.

2. Click on the “Save” button which will pop up a “Cannot save provisioned dashboard” window. There you can click on the “Save JSON to file” button.

3. Save the json file to your computer.

4. Using kubectl command-line tool which is configured to communicate with your k8s

[2019-07-17 02:08] zgfh opened #2674 "update endpoints of promethues by opreator"
**What is missing?**
when one prometheus down for a while , the metrics loss, when use service to query metric, it not work, because service will send request to the recovered prometheus

**Why do we need it?**
opreator update the endpoints of promethues service,
 according to `pod.status.containerStatuses.state.running.startedAt` of prometheus pod

[2019-07-17 09:23] wikiios opened #2675 "How to use monitorclientset informer or lister?"
**What did you do?**

I updated my prometheus-operator from 0.23.0 --> 0.29.0
and I found the operator was extended with cache informer & lister , however I can't find a doc for me to use it.

**Did you expect to see some different?**

A informer and lister usage doc or test.go ( which shows usage and add tests on these)

**Environment**

kubernetes 1.13.2
prometheus2

* Prometheus Operator versio

[2019-07-18 03:56] kong62 opened #2677 "HPA cannot scale down and kubectl top unstable"
prometheus-operator: v0.29.0
kubeadm: 1.14.2
metrics-server: not installed

HPA:
It Can expand, but can not be reduced！
 # cat hpa-hpa.yaml
apiVersion: autoscaling/v1
kind: HorizontalPodAutoscaler
metadata:
  name: php-apache-hpa
  labels:
    app: hpa-test
spec:
  scaleTargetRef:
    apiVersion: apps/v1
    kind: Deployment
    name: php-apache
  minReplicas: 1
  maxReplicas: 10
  targetCPUUtiliz

[2019-07-18 06:53] cristifalcas opened #2678 "jsonnet and service clusterip field"
**What happened?**

I'm hitting [this issue](https://github.com/kubernetes/kubernetes/issues/68369) when upgrading prometheus with jsonnet. I think it's from [this line](https://github.com/coreos/prometheus-operator/blob/7c448d90c1bbf8740b5f524937209d4ec56958ca/jsonnet/prometheus-operator/prometheus-operator.libsonnet#L172), but I'm not sure, as it just started to happen.

**Did you expect to see

[2019-07-18 13:59] brancz commented on #2678
Can you share more about your setup, logs, etc.?

[2019-07-18 14:03] brancz commented on #2677
cc @s-urbaniak @paulfantom we should look into this

[2019-07-18 14:04] brancz commented on #2675
We don't officially support any of those code bits, if you want to use them you're free to figure it out and document it, but I don't think we will. For what it's worth, it just uses the normal kubernetes code generators, so it works the exact same way as every other API out there :)

[2019-07-18 14:05] brancz commented on #2674
This is not something that is to be solved by the Prometheus Operator. It is solved by something like [Thanos](https://thanos.io/).

[2019-07-18 14:05] #2674 closed

[2019-07-18 14:22] ctryti commented on #1888
Here is another use-case for initContainers in `kind: Prometheus`.
We store all our secrets in Vault, and use an init-container to run the vault-cli to fetch secrets and store them on a volume mounted in by the main container (can use the `config-out`-volume for this).

One of the arguments to Thanos (objstore.config) contains an access- and secret-key we'd like to fetch from Vault.

I can't think

[2019-07-18 17:02] smanpathak commented on #2670
@brancz do you need any additional information on this?

[2019-07-18 19:00] brancz commented on #2670
Could you upgrade to latest versions of each? WAL replay has been significantly improved, so it might not be a problem in newer versions anymore.

[2019-07-18 20:53] zgfh commented on #2674
thanks for help

[2019-07-18 20:54] zgfh commented on #2674
should we add Thanos to Prometheus Operator as a option ?

[2019-07-18 21:48] david-martin opened #2680 "Add blackbox exporter and BlackboxTarget CRD"
**What is missing?**

Blackbox probing of endpoints using https://github.com/prometheus/blackbox_exporter.
More specifically, the ability to declare endpoints to probe in a kubernetes native way.

**Why do we need it?**

So that it's easy to gather metrics about endpoints with an 'out of the box' install of prometheus when using this operator.

You can get this feature already by doing a couple th

[2019-07-19 07:14] manavtidhan opened #2681 "No data points for master node in Grafana"
**What did you do?**
I deployed prometheus-operator on on premise K8s cluster
**Did you expect to see some different?**
I was expecting data points for all nodes but data points for master node is not available
**Environment**
Kubernetes v1.14.2
 on premise cluster running on 4 physical nodes

* Prometheus Operator version:
prometheus-operator-5.15.0
APP VERSION 0.31.1

    `Insert image tag or Gi

[2019-07-19 20:49] #2293 closed

[2019-07-20 00:51] brancz commented on #2680
I like this quite a lot as it is already. I'd like to discuss this part a little more:

From what I can tell, so far you provision a Blackbox exporter statically with a config. I wonder if the blackbox exporter to use should be specifyable in the BlackboxTarget, to potentially allow users to define whatever probe they want, but allow there to be a default blackbox exporter instance defined as a fl

[2019-07-21 02:33] brancz commented on #2681
Can you check the `/targets` page on Prometheus? It will tell you why scrapes are failing, if they are.

[2019-07-22 02:04] manavtidhan commented on #2681
Hi Frederic,

Below is the error from /targets , can you help me how to resolve it.
![prometheus_eroor](https://user-images.githubusercontent.com/48666534/61601482-204cef80-ac68-11e9-9428-0c06c2011738.JPG)

[2019-07-22 03:15] manavtidhan commented on #2681
Below is the logs from the node-exporter of affected node

/ $ /bin/node_exporter --log.level='debug'
INFO[0000] Starting node_exporter (version=0.18.0, branch=HEAD, revision=f97f01c46cfde2ff97b5539b7964f3044c04947b)  source="node_exporter.go:156"
INFO[0000] Build context (go=go1.12.5, user=root@77cb1854c0b0, date=20190509-23:12:18)  source="node_exporter.go:157"
INFO[0000] Enabled collectors:

[2019-07-22 07:35] wikiios commented on #2675
roger that, I've found my way to get use of it, thx

[2019-07-22 07:35] wikiios commented on #2675
/close

[2019-07-22 12:40] venkatkriish opened #2682 "add multiple cluster support"
I am using multiple kubernetes cluster as we need to have a single prometheus operator to collect the metrics from multiple clusters.
example config like below:
`kubernetes_sd_configs:
- api_server: <api server address>
  role: node
  bearer_token_file: <path to the token file>
  tls_config:
    ca_file: <path to the ca file>`
or
if there any flag to the operator to add multiple clusters.
can you

[2019-07-22 19:53] brancz commented on #2682
Prometheus is intended to run as close to your targets as possible. I recommend running a Prometheus server in each cluster, and use something like [Thanos](https://thanos.io/) to allow global querying (if that's what you're looking for for multiple clusters).

[2019-07-22 21:20] brancz commented on #2681
That means prometheus can't scrape the node-exporter on that node. Most likely a firewall thing.

[2019-07-23 02:37] manavtidhan commented on #2681
thanks! , I am closing it as it resolved as my firewalld is running so i stop it and disable it .

[2019-07-23 02:37] #2681 closed

[2019-07-23 12:23] venkatkriish commented on #2682
@brancz thanks for your reply
my scenario is like i am running multiple kubernetes clusters on our environment
i need to monitor by installing prometheus operator on one cluster and need to monitor other clusters as well with the same prometheus operator.
can you please have a solution for this is this possible with operator.

[2019-07-24 12:28] mfrister commented on #2207
@mediaimprove @jesse-welch kops doesn't allow nodes to access the masters on port 4001 (etcd client port) for security reasons, see your EC2 security group for the masters.

[2019-07-24 13:10] RiRa12621 opened #2686 "Add autmated lifecycle tagging and autoclosing to issues"
**What is missing?**
Automated tagging and closing of issues that are inactive

**Why do we need it?**
With a current of 287 open issues, this is a lot to go through for maintainers, current as well as new contributers.
It is hard and time consuming which issues are actively being investigated,discussed or worked on.
An automation in form of a bot could help to groom out stale issues and have them

[2019-07-24 15:51] amartorelli commented on #1595
I have a similar issue, like @msafarisc . The definition looks good, but doesn't show in Prometheus:
[code]

[2019-07-24 19:24] brancz commented on #2686
I would love this! Open to any suggestions :)

[2019-07-24 19:26] asherf commented on #2686
@brancz https://github.com/probot/stale https://probot.github.io/apps/stale/

[2019-07-24 19:31] metalmatze commented on #2686
There are a couple of projects doing that. Often it's quite annoying that these bots just close issues. I would rather do some grooming (again, did that a few months ago) to close issues.
In what way is having that many issue open an issue? If someone is not sure if something is still investigated, then simply ask? :thinking: :blush:

[2019-07-24 19:33] asherf commented on #2686
You can configure it to close issues/PR after X days of inactivity, any activity on the PR/Issue resets that clock (In my experience)
There is also support for exempt labels...
I have used this tool in the past (in private repos with a large eng team), found it very useful.

[2019-07-24 19:36] metalmatze commented on #2686
I'd be totally fine with labelling issue stale. Closing them based on time is something, that I've found really annoying over at https://github.com/gopasspw/gopass. Then people constantly need to comment to keep things open, which creates a lot of noise.

No hard feelings though. We should definitely do something about those stale issues. :+1:

[2019-07-24 20:47] jesse-welch commented on #2207
@mfrister - This was odd.  I had been successfully scraping from 2 etcd instances (see screenshot below).  However, when I checked my security group, I did find that 4001 was in fact not allowed.  I updated the security group, and suddenly all 3 etcd instances are being scraped.  Was very confident that this would not be the issue, given the success on 2/3.  Thanks for the tip.

![image](https://u

[2019-07-24 21:12] eddycharly opened #2687 "How to scrape multiple redis targets"
On the redis exporter, the configuration to scrape multiple redis targets is described like this :

https://github.com/oliver006/redis_exporter#prometheus-configuration-to-scrape-multiple-redis-hosts

[code]

How can we achieve the same thing with `ServiceMonitor` ?

I tried to add a `target` in `params` of my endpoint (https://github.com/coreos/prometheus-operator/blob/master/Documentation/api.md

[2019-07-24 21:32] mediaimprove commented on #2207
@jesse-welch also working on my installation now. thought too much about details rather than checking basics... thanks @mfrister

[2019-07-25 02:46] brancz commented on #2687
This is typically the recommendation, as we want to do whitebox monitoring, hence the exporter should be as close as possible to the redis server itself.

[2019-07-25 07:49] eddycharly commented on #2687
Thanks @brancz
I see your point but in the end it doesn't really answer my question.

I finally got it working yesterday.

The first main difference with the `redis-exporter` example is the service discovery of course.
As we use service discovery in k8s, the `static_configs` is useless in our  case.
Consequently, the relabeling can be simplified, we just need to specify the target in endpoint para

[2019-07-25 08:25] RiRa12621 commented on #2686
makes sense @metalmatze
How about "staged rollout" for the bot?
stage 1: the bot only tags the issues as stale/rotten/dead (not sure about the naming) and a human can then easily groom them at some point.
stage 2: the bot tags the issues as stale/rotten/dead (again not sure about the naming) and then closes them.

Starting with stage 1 and manually grooming, I'd should be relatively easy for the h

[2019-07-25 10:48] wikiios commented on #2675
/close

[2019-07-25 15:12] mirthy commented on #357
Got to here because of the forbidden attempt to grant extra privileges, the easiest fix is to upgrade the cluster 1.12.x if you don't want to add a clusterrolebinding - https://cloud.google.com/kubernetes-engine/docs/how-to/role-based-access-control#iam-rolebinding-bootstrap

Google Cloud IAM and 1.12.x does allow the creation of Roles and ClusterRoles

[2019-07-25 16:45] tamalsaha commented on #945
It is done for sometime https://github.com/coreos/prometheus-operator/tree/master/pkg/client

[2019-07-25 16:45] #945 closed

[2019-07-25 17:53] RGPosadas opened #2690 "Upgrade thanos to support v0.5.0+"
This is an issue to raise support for thanos v0.5.0+

Currently, the default thanos sidecar arguments are:
[code]

However, `--cluster.*` args have been deprecated since thanos v0.5.0 so the pod carrying prometheus and the sidecar error out, therefore only thanos v0.2.* to v0.4.* work with prometheus-operator currently.

Relevant docs:
https://github.com/thanos-io/thanos/blob/master/docs/proposals

[2019-07-26 07:45] dbluxo opened #2691 "Custom CRDs API Group does not work"
**What happened?**

I have deployed the prometheus operator with the `--crd-apigroup=custom.monitoring.coreos.com` flag. But the operator still tries to list the default CRD API Group, e.g.: servicemonitors.**monitoring.coreos.com**

**Did you expect to see some different?**

I expect that the operator tries it only with the provided CRD API Group.

**How to reproduce it (as minimally and precisel

[2019-07-26 10:21] RiRa12621 commented on #2691
This might need some improved documentation.
This only specifies the naming of the CRDs if `manage-crds` is set to true.

Here's the function for that https://github.com/coreos/prometheus-operator/blob/409ec7dc5dd6b88d33e67ba5d19ff1d6169e56b0/pkg/prometheus/operator.go#L1572

and that is only happening if `manage-crds` is set, as can be seen here https://github.com/coreos/prometheus-operator/blob/

[2019-07-26 10:39] dbluxo commented on #2691
But the new "re-named" CRDs have to be used in the further workflow? I didn't get it.

[2019-07-26 11:00] dbluxo commented on #2691
Ah okay, provided CRD API group name will be only used if 'manage-crds' is enabled.
Is there any chance that you could integrate this in the future? The specified API group name is therefore used when 'manage-crds' is disabled.

[2019-07-26 11:08] RiRa12621 commented on #2691
That i cannot tell you, but I'd suggest closing this issue, as it's expected behavior currently.
You could then open a new issue of type feature request to facilitate any conversation around that.

/cc @brancz

[2019-07-26 12:59] #2690 closed

[2019-07-26 13:02] dbluxo commented on #2691
But even if I enable `manage-crds` I'm getting this error:

- Manifest:
[code]

- Prometheus Operator Logs:
[code]

Why is the operator trying to list alertmanagers.monitoring.coreos.com and not alertmanagers.custom.monitoring.coreos.com?

[2019-07-26 15:56] eddycharly commented on #2687
I close the issue as it's solved on my side.
Thanks

[2019-07-26 15:56] #2687 closed

[2019-07-27 03:36] #2675 closed

[2019-07-27 15:54] #2686 closed

[2019-07-28 05:20] botzill commented on #2656
@lubouski and what is the fix for this? I get this for version 31:

[code]

[2019-07-28 22:48] thavlik commented on #1370
I'm running into this problem as well. After several hours, I've got it working by applying a patch to the ServiceMonitor so the `.metadata.spec.selector.release` field matches the `.spec.serviceMonitorSelector.matchLabels.release` in the Prometheus resource. kubectl warns me against doing this, as the resource wasn't created from the CLI (I'm using the helm chart).

[2019-07-29 01:31] zhangxingdeppon opened #2693 "Operation cannot be fulfilled on apiservices.apiregistration.k8s.io "v1beta1.metrics.k8s.io""
**What happened?**
Hi,I met a problem about api "metrics.k8s.io/v1beta1",there will be problems when this api is called，the following is apiserver error log：
<pre><code>
E0726 06:17:26.414572       1 controller.go:111] loading OpenAPI spec for "v1beta1.metrics.k8s.io" failed with: failed to retrieve openAPI spec, http error: ResponseCode: 503, Body: Error: 'net/http: TLS handshake timeout'
Trying

[2019-07-29 08:57] ingvarm-gr commented on #2682
As things stand, I don't think you can do this with a single prometheus-operator, in a single cluster.  Prometheus-operator can only spin up things in the cluster where it's running. and service-monitors can't really reach out to other clusters.

We're (sort of) in a similar situation, and what we have done is to deploy a "system prometheus" in all clusters, scraping things in the local cluster an

[2019-07-29 09:13] ingvarm-gr commented on #2213
What we do for this case is that the "secret" bits are stored in whatever vault solution the CI/pushing tool uses, then the secrets are template-expanded as part of the pushing.

Keeping the entire alertmanager config as secret isn't really a maintainable position, long-term.

[2019-07-29 10:21] Nasthiem opened #2694 "Need help to convert prometheus conf to prometheus-operator"
**What did you do?**

I need to access to metrics/cadvisor behind a proxy.

I have this prometheus configuration:
[code]

Can you help me to convert this prometheus configuration to prometheus-operator ?

**Did you expect to see some different?**

for the moment , i have this

[code]

**Environment**

* Prometheus Operator version:

    `prometheus-operator-0.0.29`

* Kubernetes version informatio

[2019-07-29 14:19] karancode commented on #2278
I am also facing this issues.
Running on `EKS 1.13`

[2019-07-30 04:39] venkatkriish commented on #2682
@ingvarm-gr Thanks for your reply.
we are also have the same thing in mind but prometheus is supporting for the configs to integrate multiple clusters to collect the data from ,please follow this link below to see how can we connect multiple clusters to a prometheus.
`kubernetes_sd_configs:
- role: node`
`kubernetes_sd_configs:
- api_server: <api server address>
  role: node
  bearer_token_file: <

[2019-07-30 07:16] vikram301093 opened #2696 "Not able to attach Persistent Volume to Prometheus pods"
**What happened?**
I want to attach a persistent volume(Local Volumes) to prometheus pods but it is not working.

[code]

**Did you expect to see some different?**
Ideally a persistent volume should be attached to prometheus pods. But is is not happening.
Can you guide me how to attach persistent volume to prometheus pods?

* Prometheus Operator version:
  - prometheus-operator:v0.31.1

* Kubernet

[2019-07-30 07:41] e9169 opened #2697 "Unable to find how to install other Thanos components apart from Sidecar"
**What did you do?**

I did read the documentation on Thanos but it's referencing to kube-prometheus to install other components of Thanos apart from the sidecar. However, kube-prometheus has removed the support for other components of Thanos.

**Did you expect to see some different?**

I would love to see how it's possible to install Thanos and all its components with Prometheus Operator, since a

[2019-07-30 09:13] RiRa12621 commented on #2697
Hey,
there is a project going by the name of kube-thanos [here](https://github.com/metalmatze/kube-thanos) that should give you what you need.
It works just like kube-prometheus but for thanos.

[2019-07-30 09:18] yeya24 commented on #2697
@RiRa12621  I am wondering that does this project plan to support other thanos components in operator api later?

[2019-07-30 11:10] e9169 commented on #2697
Thanks. So, is not possible to install Thanos with prometheus-operator anymore?

[2019-07-31 09:37] EgorSysoev commented on #2691
I have the same problem in Openshift 3.11.

[2019-07-31 09:42] RiRa12621 commented on #2691
As of https://github.com/coreos/prometheus-operator/pull/2692#issuecomment-515694513 it seem like this might actually be deprecated. I need to reproduce and confirm that.

[2019-07-31 09:54] EgorSysoev commented on #2691
Openshift comes with openshift-operator (version 0.23) that works only in openshift-monitoring namespace. Since CRD for 0.23 and 0.31 versions are different I don't know how to make both versions work without custom api group.

[2019-07-31 11:30] dbluxo commented on #2691
We have the same problem as @EgorSysoev. We would like to install newer prometheus-operator versions in each customer's namespace (multi-tenant OpenShift 3.11 cluster).
But updating the monitoring.coreos.com CRDs would have unpredictable side effects for the openshift-monitoring-operator, right? So initially our idea was to use custom api groups for the customer specific prometheus-operators. But

[2019-07-31 12:44] angelcos commented on #1866
Yes, this happens again using kops 1.12.2 and k8s/kubectl 1.12.10.

[2019-07-31 14:20] agolomoodysaada commented on #1535
This project seems relevant: https://github.com/integr8ly/grafana-operator

[2019-07-31 15:03] mayuresh108 commented on #2670
@brancz  Tried the tests conducted by @smanpathak with the new version of the operator 0.31.1 and I still see the crash after half an hour with the new operator version.

Post crash the prometheus pod keeps on restarting due to liveness check which fails and does not give the pod enough time to come up. If liveness/readiness checks are removed the pod comes up fine post crash.

Maybe the initial t

[2019-07-31 19:46] shettich opened #2699 "Make it easy to use console templates"
I read #1644, but the current solution of building a custom image is hard.

You seems to enforce SemVar on the image tag (to check for prom features?), so I can't have my own versioning of the custom image.

I understand the argument about configmaps being to small, but why not allow the side-car to fetch/sync the templates via http?  Or, at least make it easy to add more side-cars & volumes so on

[2019-08-01 01:59] youngee91 opened #2700 "Configure Grafana Query Interval with Prometheus"
**What did you do?**
Currently, Grafana updates its graph in an interval of 30 seconds. Even though a refresh rate of 5s or 10s is used, the graph will only update every 30s. Thus, when the graph refresh in 5s, no data will be shown until the 30th second then the data will appear. It seems like the default query interval between Grafana and Prometheus is 30s. I tried to change the scrape interval

[2019-08-01 03:16] k8s19 opened #2701 "Makefile:204: recipe for target 'shellcheck' failed"
* Problem:
Below error when run command "sudo make" :
recipe for target 'shellcheck' failed

* Reproduce:
$ git clone prometheus-operator
$ cd prometheus-operator
$ kubectl apply -f bundle.yaml
$ sudo make

* Environment:
Ubuntu 18.04
Kubernetes 1.15
DIND

* Prometheus Operator version: 0.31.1
  $ sudo kubectl -n monitoring describe deployment prometheus-operator
  Error from server (NotFound): de

[2019-08-01 07:42] theoldscarana opened #2702 "Custom serviceMonitorSelector inject label in ServiceMonitor"
**What did you do?**

Hi,

I deployed prometheus-operator enabling the included ServiceMonitors, I also defined a custom ServiceMonitorSelector:

serviceMonitorSelectorNilUsesHelmValues: false
  serviceMonitorSelector:
    matchLabels:
      **prometheus: default**

I didn't find a way to assign the label to the serviceMonitors included in the operator.

**What did you expect to see??**

I expect

[2019-08-01 08:54] mayuresh108 commented on #2670
A similar result was observed with latest version of prometheus: quay.io/prometheus/prometheus:v2.11.1

Prometheus version is hard coded in the prometheus operator code (pkg/prometheus/statefulset.go:37), had to manually change and recompile it.

[2019-08-01 09:45] raz5 opened #2703 "Readiness probe - configured values not reflecting in Prometheus server pod"
**What happened?**
I  have configured readiness probe but it is not reflecting in pod prometheus.

**Did you expect to see some different?**
When I do describe pod on prometheus pod it shows different readiness probe config.

**How to reproduce it (as minimally and precisely as possible)**:

**Environment**

* Prometheus Operator version:
v0.30.0
    `Insert image tag or Git SHA here`

* Kubernete

[2019-08-02 23:10] cscetbon commented on #2694
scrape config added using https://github.com/coreos/prometheus-operator/blob/master/Documentation/additional-scrape-config.md

[2019-08-05 04:30] yeya24 commented on #2680
Agree on @brancz . Any progress of this feature? It' s very useful.

[2019-08-05 07:55] brancz commented on #2680
I don't think there has been progress recently.

[2019-08-05 07:58] brancz commented on #2670
You can set the prometheus version to use in the Prometheus object. What you referenced is just the default that's used.

We should look into optimizing this if it's still not good enough.

[2019-08-05 08:02] brancz commented on #1535
Yes that's what I'd currently recommend :)

[2019-08-05 08:04] brancz commented on #2691
That's why in openshift we keep the Prometheus Operator version available via OLM in sync with the one deployed by the cluster-monitoring-operator.

[2019-08-05 08:41] pb82 commented on #2680
@brancz Yes that's correct, we currently provision one blackbox exporter with a static config for http probing. I think it would be a good idea to let users define their probes (modules). Is your idea to ship the Prometheus operator with a default exporter and if users need different probes they create more exporters and have Prometheus scrape them? If so, wouldn't the users also have to create a

[2019-08-05 09:54] sneerin opened #2704 "Installation issue. Logs saying error: no kind "ServiceMonitor" is registered"
**What happened?**
After the installation default metrics works fine, I can see my custom monitoring in the list
`kubectl get servicemonitors.monitoring.coreos.com
prometheus-nodejs-sm   3m`
, but when I'm trying to get logs, I've got this error :

`
kubectl logs servicemonitors.monitoring.coreos.com/prometheus-nodejs-sm
error: no kind "ServiceMonitor" is registered for version "monitoring.coreos.

[2019-08-05 10:28] mayuresh108 commented on #2670
Even with the default version set to v2.11.1, it correctly pulled the new image for prometheus and crashed. Let me still try by specifying it in the prometheus object.

[2019-08-05 10:56] #2696 closed

[2019-08-05 12:10] brancz commented on #2704
can you share the logs of the prometheus operator?

[2019-08-05 12:12] mayuresh108 commented on #2670
Nope, same issue after specifying image version in Prometheus object.

An immediate fix could be to increase the timeout for liveness/readiness probe. So liveness probe will not keep on killing the pod if it takes time to come up after a restart.

[2019-08-05 12:16] brancz commented on #2680
People will always have to define targets in some way, which I believe we're all agreeing would be through the BlackboxProbe CRD. The way I imagine it is that distributions (kube-prometheus, OpenShift, etc.) that decide to install the prometheus operator can include a blackbox exporter out of the box with a set of useful standard probes. The BlackboxProbe would allow configuring a concrete blackbo

[2019-08-05 12:18] brancz commented on #2694
Those two configurations seem to have pretty much nothing in common. What is it that you intend to do? Proxying through the apiserver is highly discouraged as that is essentially giving your Prometheus cluster-admin access.

[2019-08-05 12:34] brancz commented on #2702
We neither use nor maintain the helm charts, please open an issue against it on the upstream charts repo. Thanks! :)

[2019-08-05 12:34] #2702 closed

[2019-08-05 12:42] brancz commented on #2670
Happy to accept a PR to bump the liveness/readiness probe timeouts to something that works for you.

[2019-08-05 12:55] brancz commented on #2699
if there is a reasonable way to do this, I'd be open to it :)

[2019-08-05 12:58] brancz commented on #2697
The prometheus operator never managed more than the sidecar. Most Thanos components are completely stateless so currently we don't see much reason for the prometheus operator to manage more than the sidecar. kube-thanos is meant to generate the manifests complementary to kube-prometheus to integration Thanos with the kube-prometheus stack as @RiRa12621 already mentioned.

[2019-08-05 12:59] shettich commented on #2699
Two options:

A) [more open-ended, more work for users]: add an option to the CRD to add more side-cars and volume mounts

B) [more narrow, easy for users] add a URL to a tar file in the crd, have the config side-car poll it for changes and unpack into the console dir

[2019-08-05 13:13] pb82 commented on #2680
Yes agree

That sounds reasonable. Would those standard probes be configurable through the Prometheus CR or hardcoded?

One thing to keep in mind maybe: I found that the blackbox exporter doesn't act like a normal metrics endpoint that can be discovered with a service monitor. Prometheus needs to pass the URL it wants to probe (and how it wants to probe it) in the scrape request. For this reason w

[2019-08-05 13:26] brancz commented on #2693
Can you share the status of the apiservice?

[code]

[2019-08-05 13:42] brancz commented on #2700
This works as intended. This is because Grafana choses a step size, and until that step is full, it won't display new data, or rather Prometheus won't return a new data point. So this all works as expected. You would need to align the step size to be something smaller in order to see more data more quickly. The Prometheus interface dynamically sets the step, which is why you get a different result

[2019-08-05 14:16] brancz commented on #2701
That's odd. I just ran shellcheck on master and I don't get this.

[2019-08-05 14:18] brancz commented on #2703
The liveness/readiness probes are not exposed for configuration. You can make use of the un-supported feature of the `containers` field in the PrometheusSpec:

[code]

[2019-08-05 14:41] brancz commented on #2699
Sorry I should have been more specific about which parts I'm open to. I'd be ok with enabling the ability to configure a path to load a console template(s) from. Adding them to the container should just be via a ConfigMap I think.

[2019-08-05 14:42] pierreozoux commented on #2691
@brancz (I work with @dbluxo ) we have an OpenShift cluster 3.11.
The ClusterMonitoringOperator ships version 0.23 and the prometheus operator is 0.22.2.

I just opened a RedHat case to ask for a version bump for the prometheus operator. It would be nice if what you just said was true ;)

[2019-08-05 14:44] brancz commented on #2680
They would be "hardcoded" for the default blackbox exporter provided by the distribution. Any change to the out of the box provided probes would be a feature request.

Totally. That's the whole reason the BlackboxProbe CRD should exist, the prometheus operator will take care of doing what you're doing via the additional scrape config integrated in the same way as the ServiceMonitor is tightly inte

[2019-08-05 14:52] brancz commented on #2691
Sorry, yes we'll need to get that fixed.

[2019-08-06 02:47] youngee91 commented on #2700
Thank you for your reply. May i ask where can I adjust the step size for Grafana? Do you mean the min step on Grafana individual panel?

[2019-08-06 11:46] brancz commented on #2700
If I'm not mistaken it's a configuration of each Grafana panel.

[2019-08-06 14:31] MyMirelHub opened #2706 "Prometheus Operator: Best practice for services and metrics scraping"
**What did you do?**

We have 15 kubernetes deployments which are exporting identical prometheus metrics.  We have currently set up one `monitoring-service` to match all the pod labels and these are getting picked up my one `servicemonitor`

In reference to the diagram below, Are there any technical differences/limitations between creating a service for each deployment to be monitored,  or groupin

[2019-08-07 06:04] brancz commented on #2706
The Service name is relabeled onto the Prometheus targets which means that if there were separate services, then you would be able to group by each of those individually. If you don’t need that, then no need to do it :)

[2019-08-07 08:05] #2706 closed

[2019-08-07 18:48] sichvoge commented on #1310
@alok87 is there a related issue on the kubernetes-mixin project to fix that?

[2019-08-07 21:08] rchapple opened #2708 "Support Volumes on `kind: Prometheus`"
It would be useful if we had the ability to express ```Volumes``` in the Prometheus Operator's CRD ```kind: Prometheus```.  These volumes would be useful for passing data between ```initContainer``` instances that are part of a Prometheus instance pod.  A particular use case for this is when trying to use InitContainers to log into and fetch secrets from Vault, then insert them into template files

[2019-08-07 23:25] rchapple commented on #1888
(See Above)
Added a similar feature request, but for the ability to specify ```Volumes:``` via the ```Prometheus``` object.  We have a Thanos use case where we need to auth into and fetch secrets from Vault, but then we also need to pass them to the Thanos sidecar.  The only way we could conceive of that is to use ```Volumes```.

[2019-08-08 00:14] alok87 commented on #1310
@sichvoge Created an issue

[2019-08-08 07:02] brancz commented on #2708
I'd like to focus on the end goal which is fetching secrets from vault to use by Thanos. initContainers seem like a poor mechanism for this, volumes on the other hand with something like [this](https://github.com/deislabs/secrets-store-csi-driver) seems like a reasonable approach. What do you think of that?

[2019-08-08 08:26] #2401 closed

[2019-08-08 12:36] Sturgelose opened #2709 "Memory spike on starting Prometheus Operator"
**What happened?**
Whenever we start Prometheus, we get a memory spike several times the allocated memory to Prometheus. This forces us to set unlimited max memory to Prometheus in Kubernetes, which I'd like to avoid. Our usual base consumption of memory is around 1.70 Gib, but during the initial spike, it goes up to whooping 9GiB (close to x5 times).

I've tried disabling all the Alert rules and

[2019-08-08 13:13] e9169 commented on #2697
Maybe I explained myself badly, sorry for that. You are right. We were using kube-prometheus to deploy Thanos components. However, this option is not possible anymore (because of this commit: https://github.com/coreos/kube-prometheus/commit/f1cd88fdbb2c7019f09e36f1160a1e692ca16aaf). So, my question is, how can we, using prometheus-operator or kube-prometheus, deploy Thanos apart from the sidecar?

[2019-08-08 13:51] brancz commented on #2697
kube-thanos is exactly the same as the thanos parts of kube-prometheus was, just separating concerns into separate repos :)

[2019-08-08 14:56] brancz commented on #2709
Do you also see this if you start with a blank storage?

[2019-08-08 16:03] Sturgelose commented on #2709
@brancz Luckily I had restarted the whole prometheus a week ago, so here I have a screenshot.
![image](https://user-images.githubusercontent.com/244191/62717337-00f1e880-ba04-11e9-9046-30c5c6bb3785.png)
As you see, the initial run works well, but I did a restart some time later and automatically I had a spike. It was couple of hours later so I guess it shouldn't be because of the amount of data.

[2019-08-08 16:45] brancz commented on #2709
Which version of Prometheus is this? (this sounds like it's caused by WAL replay, which was optimized in recent versions)

[2019-08-08 21:26] rchapple commented on #2708
@brancz -- To be clear, the ```initContainers``` in question here just run the Vault login and consul-template processes, in a defined order.

However, the fact that they can be used to prevent the rest of the Pod's containers from starting if they don't succeed is a desirable trait.  Such is the case where the ```initContainers``` are pulling secrets that are critical to the operation of the 'mai

[2019-08-09 06:46] e9169 commented on #2697
Well... still you need to add and download a new project. We managed to do it by creating a new dependency into the jsonnet.json file and the project downloaded correctly so... at least that part wasn't terrible. Thanks again.

[2019-08-09 06:47] #2697 closed

[2019-08-09 06:50] brancz commented on #2697
That’s how it’s intended to work, happy it worked for you! :)

[2019-08-09 11:58] brancz commented on #2708
I was suggesting to use _that_ csi volume provider to provide the secrets to the prometheus container as opposed to init containers (and us adding support for mounting volumes enabling to use that), as I fear they will cause inconsistent setups causing unreasonably higher support burden on us.

[2019-08-09 18:46] dmyerscough opened #2711 "Creating PrometheusRule hangs"
**What happened?**

When upgrading the Prometheus Operator to 0.31.1 kubectl seems to hang creating the PrometheusRule.

**Did you expect to see some different?**

Previous versions of the Prometheus Operator worked fine without causing any issues.

**How to reproduce it (as minimally and precisely as possible)**:

Install the latest version of Prometheus Operator 0.31.1 and try create a Prometheu

[2019-08-09 19:09] danghung-dev commented on #1977
@eduardobaitello  @metalmatze hi, it fired again for me. What should I do?

![image](https://user-images.githubusercontent.com/5670932/62803083-b8c1eb80-bb13-11e9-9b9c-9cf5c25cf4d5.png)

[2019-08-10 21:33] abursavich commented on #2213
I was hoping for an Alertmanager Config custom resource to come out of this and #2258, but it's been a while now, so we've open sourced our solution to this problem: [ConfigMapSecrets](https://github.com/machinezone/configmapsecrets).  We've been running it in production for a few months without any issues.

A ConfigMapSecret is like a ConfigMap that includes your non-secret data, but it can refer