[2021-01-05 14:21] xichengliudui opened #3775 "Failed to create Prometheus service using Additional scraping Configuration"
**What did you do?**
create Prometheus services
[code]

**Did you expect to see some different?**

before i add `additionalScrapeConfigs` can be used normally. but after i added `additionalScrapeConfigs` to apply yaml, i found that not only was pod not created but prometheus StatefulSet was not even created

i followed the documentation: https://github.com/prometheus-operator/prometheus-operator/b

[2021-01-05 14:26] xichengliudui commented on #3775
how do I need debug, secret exists
[code]

[2021-01-05 14:32] xichengliudui commented on #3775
the information I found
[code]

[2021-01-05 14:55] xichengliudui commented on #3709
Has been fixed.
due to custom configuration

[2021-01-05 14:56] xichengliudui commented on #3709
/close

[2021-01-05 14:58] #3709 closed

[2021-01-05 15:01] simonpasquier commented on #3775
Please share the prometheus operator's logs.

[2021-01-05 15:01] xichengliudui commented on #3709
/reopen
I'm sorry，wrong PR reply

[2021-01-05 15:05] xichengliudui commented on #3775
has been fix

[2021-01-05 15:05] #3775 closed

[2021-01-05 15:06] xichengliudui commented on #3775
@simonpasquier  thank you for your reply

[2021-01-05 21:48] you4su opened #3777 "ServiceMonitor namespace selection issue"
**What happened?**
Adding a new servicemonitor to monitor a custom app does not show up any targets.

**Did you expect to see something different?**
The prometheus UI should show up a new target for the app under `/targets`

**How to reproduce it (as minimally and precisely as possible)**:
Create a service monitor as below for an app exporting prometheus format metrics, and promethus instances thr

[2021-01-06 00:51] MakeshKathirvel commented on #2990
@abelal83 When we try to add additionalAlertManagerConfigs, we received helm upgrade failed error
UPGRADE FAILED
ROLLING BACK
Error: no Secret with the name "prometheus-operator-prometheus-am-confg" found
Error: UPGRADE FAILED: no Secret with the name "prometheus-operator-prometheus-am-confg" found

Is there any dependency with other helm values?
Secret should be created as per this https://github

[2021-01-06 03:56] wajika commented on #3769
@simonpasquier

I'm still following the new cluster.
There was a problem with metric server before, but now it's working.

![image](https://user-images.githubusercontent.com/17058349/103727372-15ca1580-5016-11eb-9b56-6adddb8378bd.png)

![image](https://user-images.githubusercontent.com/17058349/103727405-27abb880-5016-11eb-9221-f6fe42566e00.png)

[code]

[2021-01-06 10:56] atomerz opened #3778 "Alertmanager doesn't apply the specified version."
**What happened?**
Specifying `Version` alongside `Image` in `AlertmanagerSpec` has no effect.

**Did you expect to see something different?**
As per documentation, I expected operator to concatenate `Image:Version` when creating the pods.

**How to reproduce it (as minimally and precisely as possible)**:
Apply the following using `kubectl`:
[code]
Use this command to get the image being used in p

[2021-01-06 12:21] lilic commented on #3480
In case anyone wants to pick it up, until I get a chance to get back to this.

[2021-01-06 13:01] paulfantom commented on #3778
`image` is meant to consume the full image name, including tag. Take a look at https://github.com/prometheus-operator/kube-prometheus/blob/master/manifests/alertmanager-alertmanager.yaml#L28 for proper configuration.

[2021-01-06 14:16] atomerz commented on #3778
Yes, that is how it works right now; but is this the intended behaviour? Should it be? Why does behave differently for `Prometheus`? Why take the version separately and not use it?

[2021-01-06 15:58] simonpasquier commented on #3778
Indeed the behavior wasn't consistent between Prometheus, Alertmanager and Thanos ruler but it's been fixed by #3642. Can you check what happens with v0.44.1?

[2021-01-06 16:01] lilic commented on #3777
Hello, thanks for the issue, you mention two different version you are using for Prometheus operator, both "I am using v0.44.1 version of the prometheus operator." and "Prometheus Operator version: v0.34.0", can you clarify which one it is, thanks!

[2021-01-06 17:01] you4su commented on #3777
My bad for the confusion, it is v0.34.0. Also see the updated serviceMonitor.yaml above where I have added the namespace selector since the app service is in `applications` namespace while the serviceMonitor is in `monitoring` namespace.

[2021-01-06 22:00] abelal83 commented on #2990
We didn't create any secrets. I simply added the values as given in my previous post. No other dependencies were required.

[2021-01-07 09:09] simonpasquier commented on #3769
It seems like a problem between the API server and the metrics server. Can you check the kube API server logs?

[2021-01-07 09:27] #2824 closed

[2021-01-07 18:20] juris commented on #3737
Yes, please! Blackbox probe metrics do not have namespace labels as well.

[2021-01-08 01:42] wajika commented on #3769
Strangely enough, it's back to normal.

controller log
[code]

[code]

[code]

[2021-01-08 01:46] wajika commented on #3769
I found this issue on another cluster, and I caught the log again.

`kube-apiserver[1195]: E0108 07:29:16.594610    1195 available_controller.go:353] v1beta1.metrics.k8s.io failed with: Get https://10.0.178.209:443: net/http: request canceled while waiting for connection (Client.Timeout exceeded while awaiting headers)`

I've read the logs, and the most useful one is 'timeout'.

How to check the a

[2021-01-08 04:47] mohanagandlla opened #3782 "Support web TLS configuration for Prometheus"
Hi team I want to config TLS for Prometheus which is available after 2.24.0 of Prometheus and i have sent required files in the form of secrets and i have started the server with those files all is done in logs TLS enabled and shows server is read but the container is not at starting it is still on 1/2 only  and how to enable the web command line flag like --web.config.file

[code]

[2021-01-08 12:08] bhiravabhatla commented on #3450
One thing I observed is if the namespace is labeled after the ServiceMonitor is created - existing servicemonitors are not picked up. If I delete and create the servicemonitors - they are getting picked.

[2021-01-08 14:39] you4su commented on #3777
@lilic anything on this yet?

[2021-01-08 14:48] simonpasquier commented on #3769
something weird is happening at the networking layer but I don't see evidences that the prometheus operator is involved.

[2021-01-08 14:55] simonpasquier commented on #3782
How did you pass the `--web.config.file` flag to the Prometheus server? And which value?
In any case, there's some work required for the operator to support web TLS properly.

[2021-01-09 00:35] wajika commented on #3769
Do you have any ideas？ thanks

[2021-01-09 07:08] atomerz commented on #3778
It's consistent now...
Alertmanager:
[code]
Output:
[code]
Prometheus
[code]
Output:
[code]
However, I still find it counter intuitive that there's a `Version` field that doesn't work. What is the point of `Version` field?

[2021-01-09 07:08] atomerz commented on #3778
It's consistent now...
Alertmanager:
[code]
Output:
[code]
Prometheus
[code]
Output:
[code]
However, I still find it counter intuitive that there's a `Version` field that doesn't work. What is the point of `Version` field?

[2021-01-09 17:25] mohanagandlla commented on #3782
Ok then let we wait untill the operator will support for Prometheus server as HTTPS

[2021-01-09 19:31] mnadeem commented on #1454
@itninja-hue  [volume exporter](https://github.com/mnadeem/volume_exporter) could be helpful to you.

[2021-01-12 00:36] wajika commented on #3769
I'm a little surprised that the metrics server will work after being re deployed.

[2021-01-12 10:22] simonpasquier commented on #3778
The documentation of the `version` field can definitely be improved. Its purpose is to tell the operator which version is being deployed and infer which Prometheus/Alertmanager/Thanos configuration fields and arguments are supported.
@atomerz do you want to contribute something?

[2021-01-12 12:08] paulfantom commented on #3335
This part should be simpler now since Prometheus 2.24.0 has built-in TLS handling (and we already have an issue to enable it - https://github.com/prometheus-operator/prometheus-operator/issues/3782)

[2021-01-12 12:17] michael1011101 commented on #3119
Hi @v-pap , I am confused why prometheus need to monitor a service without scraping data. And why do we need to monitor service without data scraping? :(

[2021-01-12 12:41] atomerz commented on #3778
If the resolution is to improve the documentation, I'm up for it. However, I still think it is counter intuitive to ask for a version and not use it when possible. Is there a specific reason we're avoiding to use the `Version` field for image as well?

[2021-01-12 13:50] simonpasquier commented on #3769
sorry I've got no idea. As I said above, I don't think it has anything to do with the prometheus operator.

[2021-01-12 14:36] valentin-krasontovitsch opened #3786 "podmonitor scrape target address definition"
**What did you do?**

I've deployed prom-op and some pod with a metrics endpoint, running on hostnetwork
the autogenerated address is the host IP + port

**Did you expect to see some different?**

not necessarily - here's my question: How does the podmonitor decide which address to use for scraping?

My use case / problem is that a pod deployed through another operator (meaning i don't have much c

[2021-01-12 14:51] paulfantom commented on #3786
Relabelling is the way to go here. Possibly the following will work:

[code]

You can check by yourself what `sourceLabels` you need, by going to prometheus instance `/service-discovery` and investigating available discovered labels.

[2021-01-12 14:59] valentin-krasontovitsch commented on #3786
thank you very much, gonna try it out and report back, thanks for the suggested solution and the pointer regarding where to find the discovered labels!

[2021-01-12 15:03] valentin-krasontovitsch commented on #3786
ah silly me, he cannot use the "pod ip address" as the pods don't have a dedicated own ip address - they're running on host network, the pod ip is the host ip *facepalm*

thanks anyways for the help, very useful info! gonna close this.

[2021-01-12 15:03] #3786 closed

[2021-01-13 01:58] hoffoo commented on #3737
also summary for alerts do not have label either, for alert expressions such as sum() > 5 avg() and absent() dont work via this method either

[2021-01-13 03:53] wajika commented on #3769
I don't know what caused it, but it's already working, so close issue

[2021-01-13 03:53] #3769 closed

[2021-01-13 05:37] mikechengwei commented on #3741
This issue can be closed.

[2021-01-13 09:07] surensinghkhatana opened #3787 "How to change Grafana default password"
**What did you do?**
Trying to change the default Grafana password
Steps taken -
1) Edited the gafana secret (prometheus-grafana) and added a new base64 encoded value to "admin-password"
2) Restarted the grafana pod
3) Deleted the grafana pod and connected to the new grafana pod and could see the new password being set as the value for env variable GF_SECURITY_ADMIN_PASSWORD
4) Try login with new

[2021-01-13 09:47] lilic commented on #3741
Thank you!

[2021-01-13 09:47] #3741 closed

[2021-01-13 09:53] #3763 closed

[2021-01-13 10:05] simonpasquier commented on #3787
It isn't related to prometheus-operator itself. Since you're using Helm charts, have you tried reaching out https://github.com/prometheus-community/helm-charts/?

[2021-01-13 10:22] #3761 closed

[2021-01-13 11:03] surensinghkhatana commented on #3787
Thanks. I will ask there.
I am able to set a new password via values.yaml but couldn't do it by directly updating the secret.

[2021-01-13 11:03] #3787 closed

[2021-01-15 03:23] mikechengwei commented on #3671
/assign

[2021-01-15 10:13] tux-o-matic opened #3793 "FAQ should mention serviceMonitorNamespaceSelector/pod/rul"
**What is missing?**
The FAQ/Troubleshooting documentation makes no mention of the ```serviceMonitorNamespaceSelector```and similar NamespaceSelectors when covering how CR are reconciled.

**Why do we need it?**
These parameters are essential and also behave differently if not present in a ```Prometheus```CR, set to just ```{}```or provided with a set of match rules.

**Prometheus Operator version

[2021-01-15 13:19] simonpasquier commented on #3793
:wave: do you want to contribute something? I know that @nrchakradhar has already nice [diagrams](https://github.com/prometheus-operator/prometheus-operator/issues/3553#issuecomment-726733177) illustrating the various possibilities.

[2021-01-15 14:21] tux-o-matic commented on #3793
@simonpasquier , I tried to go for something simple which hopefully everybody agrees to.
I know it would have helped myself when searching in this project for reconciliation issues.

[2021-01-15 16:16] Szymongib commented on #2018
Hi @paulfantom, could I work on that one?

From what I see the implementation is slightly different for some resources like Services and StatefulSets. I wonder if we would like to preserve labels and annotations for all resources, or just for Services and Endpoints for the start?

[2021-01-15 17:46] nickytd opened #3795 "Documentation and examples around shards and replication support in the operator"
Hi
Can you please refresh the documentation around sharding support and prometheus replication?

Thanks
Niki Dokovski

[2021-01-15 20:34] rjonala opened #3796 "Alertmanager doesn't send alerts while using AlertManagerConfig custom resource"
I am running kube-prometheus-stack-11.1.7. When I try to configure alerts using AlertmanagerConfig custom resource object, AlertManager doesn't send alerts to PagerDuty/Slack receiver. I can see alerts being fired in Prometheus/Alertmanager UI but not on PagerDuty/Slack. Here is my AlertmanagerConfig yaml,

[code]

Is anything wrong with my config? I don't find any working examples online for PD/S

[2021-01-16 14:53] martin-schaefer opened #3798 "Is the Prometheus Operator no more updated on operatorhub.io?"
I am using https://operatorhub.io and its framework to install operators on a Kubernetes cluster. I've noticed this Prometheus operator is also available from https://operatorhub.io/operator/prometheus, but it sems to be outdated there (0.37). Are new versions of this operator no more provided through https://operatorhub.io?

[2021-01-16 23:44] coderanger commented on #3798
I don't think that entry is managed by this project, you can see the Maintainers link is to the OpenShift operators team. IIRC this repo doesn't have any OLM metadata in it so that's being managed elsewhere.

[2021-01-17 00:34] grdryn commented on #3796
Hi @rjonala, what does your complete config in alertmanager look like (so that we can see that it got generated properly). Also, does the namespace that this `AlertmanagerConfgi` is in match the namespace of the alerts that are firing (there's implicit namespace matching forced on the route)?

[2021-01-17 04:25] rjonala commented on #3796
Hi @grdryn Thanks for your response :)

Here is my alertmanager config from `/etc/alertmanager/config/alertmanager.yaml` inside alertmanager Pod.

[code]
I don't see the **serviceKey** in the config file. Even if I pass **serviceKey** directly from alertmanagerConfig(without using kind:secret), I still don't see it in alertmanager config. Not sure what's the right way though.

All the Custom resou

[2021-01-18 08:07] paulfantom commented on #2018
@Szymongib feel free to take it :+1:

Yes :)

[2021-01-18 08:10] paulfantom commented on #3798
OLM metadata (CSVs) are maintained in https://github.com/operator-framework/community-operators/tree/master/community-operators/prometheus.

[2021-01-18 08:10] #3798 closed

[2021-01-18 08:50] martin-schaefer commented on #3798
I've checked it and yes, you are right, these are other maintainers which haven't updated it recently. In the meantime I have made a terraform module (Using this mostly anyway) for the Prometheus operator based on bundle.yaml. I would be able to share the module if someone is interested.

[2021-01-18 16:34] #3793 closed

[2021-01-19 13:33] ksa-real commented on #2255
The issue is there still/again. Problems:
- Both `kube-scheduler` and `kube-controller-manager` have 127.0.0.1 as DN in TLS certificate. So scraping from a non-master host is only possible with `insecureSkipVerify: true`.
- By default, both components bind to 127.0.0.1. Binding with `extraArgs: {bind-address: "0.0.0.0"}` works, but exposes the components too broadly: cluster-wide and probably even

[2021-01-19 22:13] sjentzsch opened #3801 "Shard count won't get translated properly"
If I set `shards: 3` in my Prometheus CR, it will only spin up one additional shard:

[code]
If I change shards back to 2, then back to 3 again, it will spin up the third one:

[code]
Looks to me like a controller issue?

**Environment**

* Prometheus Operator version: v0.44.1

* Kubernetes version information: 1.19.7

[2021-01-20 06:32] March-deng commented on #3796
Hi @rjonala , it's possibly that your alert being fired did not contain label as "namespace"="prometheus", so it did't match the namespace in alertmanagerconfig.yaml. You can either add a label as "namespace"="prometheus" in your alert metric or prometheus rules.

Also, I'm quite wonder why prometheus-operator decide to add a default namespace matcher in alertmanagerconfig.yaml. @grdryn , It would

[2021-01-20 09:40] simonpasquier commented on #3796
@rjonala which operator version are you using? please share the operator's logs too.

@March-deng please see #3737

[2021-01-20 11:07] brancz commented on #2787
@QuentinBisson I agree, adding it first and then refactoring the existing ones makes sense to me.

@Geethree I don't think there are design docs for this right now. I'm happy to bounce ideas though if you want to put one together. (if you want reach me on Kubernetes slack @brancz)

[2021-01-20 15:45] vsliouniaev commented on #3648
Seems like this is a bug, since the field is included in the API spec for the CRD, but then fails validation if it is used. https://github.com/prometheus-operator/prometheus-operator/blob/master/pkg/apis/monitoring/v1/types.go#L1138

[2021-01-20 15:48] sjentzsch opened #3802 "Extend sharding capabilities to additionalScrapeConfigs"
With https://github.com/prometheus-operator/prometheus-operator/pull/3241/files the capability of sharding was added to prometheus-operator.

However, this only works for targets coming from ServiceMonitors; however, for e.g. scraping external systems via DNS, we are forced to use `additionalScrapeConfigs`. For this, however, the magic modulus block won't get added, and there seems to be no way fo

[2021-01-20 16:17] dave08 commented on #3071
We have to specify istio's scrape port (that doesn't have a name...) where they merge the application's metrics to istio's proxy metrics... is there a workaround for specifying a number as a port? As specified here: https://istio.io/latest/docs/ops/integrations/prometheus/#option-1-metrics-merging the scraping should be done on /stats/prometheus:15020

[2021-01-20 18:15] sjentzsch commented on #2036
@dmitrievav That's great, but for my use case I need to communicate via the DNS name, not via IP, as my target is an ingress controller :(

[2021-01-20 18:52] chromafunk opened #3803 "How can I have the prometheus replicas distributed and using the same PV ?"
So, the thing is : I have successfully configured a prometheus-operator + thanos setup. What I'm seeing is that when I configure the prometheus pods to be replicated on this HA cluster ( replicas 4 ), four stateful sets are created, one on each worker node. My question is, how can I just run replicas of only one statefulset on different worker nodes ? Is it possible to do this by load-balancing pr

[2021-01-20 20:07] coderanger commented on #3803
No, that’s not how volumes work.

[2021-01-20 20:59] #3803 closed

[2021-01-20 22:38] mattcarrier commented on #3743
@vdi-kakui Did you find out what was causing this issue?  I am hitting the same thing.

[2021-01-20 22:42] joshuasimon-taulia commented on #3737
is there a workaround for this in the meantime? even hardcoding the namespace in the `matcher` doesn't work for me:
[code]
results in
[code]

child routes seem unaffected, but that's a super ugly workaround.

[2021-01-21 06:26] i9 commented on #3204
@jasonstitt have you tried
[code]

it worked for us

[2021-01-21 10:26] lilic commented on #3801
Thanks for the issue! How long did you wait for, as we do have a reconcile period, did it eventually (after 5-10 minutes) reconcile or did it never?

[2021-01-21 10:27] lilic commented on #3802
Thanks for your feature request!

@brancz as you working on the sharding do you mind having a look at this?

[2021-01-21 10:48] lilic commented on #3204
If anyone is willing to do a design doc for this they are more than welcome to create a PR for this! 🎉

[2021-01-21 11:39] #2813 closed

[2021-01-21 12:08] sjentzsch commented on #3801
I am afraid it does never, I waited 10min+
Only if I actively change the shards (3 -> 2 -> 3) it will add the third one.

[2021-01-21 12:19] lilic commented on #3801
Interesting this does indeed sound like a bug! Can you share some logs of prom-operator and the Prometheus instances that are created, e.g. the CRs? Hmm is this the helm chart and can you try to reproduce without the helm chart?

[2021-01-21 12:26] jbroenstrup opened #3805 "Rename Prometheus Operator Service"
I would like to be able to deploy separate instances of prometheus into the same namespace. This seems to fail, due to the fixed name of the service. Is it possible to change the name of the service? Mine is always named "prometheus-operated".

[2021-01-21 21:27] k1ng440 commented on #3493
+1. anyone had luck with this?

[2021-01-22 08:16] brancz commented on #3802
It's a little manual, but you can do this today already if it's pressing. Just add [these relabeling rules](https://github.com/prometheus-operator/prometheus-operator/pull/3241/files#diff-453ce9c721c51bf9591c2b212e9ce50157b9c40d1b211177bf502be268099656R1156-R1168) to your relabel configs in the content of your `additionalScrapeConfigs`.

Adding this automatically would be preferred though, I agree

[2021-01-22 08:38] March-deng opened #3808 "failed to read config_out/prometheus.env.yaml using prometheus-operator"
**What did you do?**
I want to use prometheus-operator to manage prometheus and alertmanager instances and their rules. I created a prometheus-operator deployment and Prometheus CRD. Prometheus instance started up successfully but it failed to read config at /etc/prometheus/config_out/prometheus.env.yaml.

below is the error log from describe prometheus pod
[code]
**Environment**

**Prometheus-Ope

[2021-01-22 09:07] s-urbaniak commented on #3805
What you are referring to is the governing service that point to the synthesized Prometheus statefulsets. In the case of a second Prometheus in the same namespace the same governing service will be referenced, which in turn will add the IPs of all pods of the separate Prometheus instances to the same governing service.

If you want a dedicated service to expose your second Prometheus instance, you

[2021-01-22 09:21] s-urbaniak commented on #3808
This error is an artifact during bootstrap at first start but the deployment should become stable as per https://github.com/prometheus-operator/prometheus-operator/issues/2847.

Does prometheus actually never come up at all?

[2021-01-22 13:01] EtienneBarbier opened #3809 "Probe RelabelConfigs"
**What did you do?**

I'm using prometheus-operator Probe to integrate ipmi-exporter to Prometheus.
https://github.com/soundcloud/ipmi_exporter

[code]
The previous configuration works well, but all targets use the same module and by extension the same user/password to connect to the BMC.

**Did you expect to see some different?**

I want to assign a different module for each target. From the ipmi

[2021-01-22 14:54] March-deng commented on #3808
prometheus instance start up successfully, the real issue is that, due to the error mentioned above, the rules I defined using PrometheusRule didn't really apply to prometheus.

When I exec into the prometheus pod, The config file /etc/prometheus/config_out/prometheus.env.yaml exists, but content is just empty.

[2021-01-22 15:16] simonpasquier commented on #3809
:wave: correct `relabelingConfigs` is only supported for ingress right now. My intuition is that it could be implemented for static probes too but @lilic has probably more context.

[2021-01-24 11:26] dmitrievav commented on #2036
Thank you @sjentzsch !

Sure, it does not help if your metrics are available only with DNS and not IPs (eg: ingress serves requests based on Host header) In this case I am not sure if scrapping such metrics could be possible at all with external prometheus. But it could be easily scrapped with an internal one (in the same cluster). And then could be federated to an external prometheus.

Though, th

[2021-01-24 16:04] debackerl opened #3812 "How to reduce memory consumption"
**What did you do?**

I installed Prometheus Operator via Kube Prometheus Stack. Accordingly to prometheus_operator_managed_resources, 16 services and pods are monitored.

Memory usage is around 420-440MiB. Double check this figure, I scaled the operator deployment to 0, and indeed, the total system usage was reduced by this much. The other way to validate this figure is using this PromQL: "contai

[2021-01-25 08:01] kmurthyms opened #3814 "Need pod labels in kube-state-metrics"
**What did you do?**

I have a similar issue as mentioned in https://github.com/kubernetes/kube-state-metrics/issues/536 and
https://github.com/prometheus-operator/prometheus-operator/issues/3460
I need all the pod labels to be present in the metrics , so that based on the label i could have the alert routing configured

We have the standrad set of kubenertes-state-metrics rules deployed and i don

[2021-01-25 08:04] #3748 closed

[2021-01-25 09:21] simonpasquier commented on #3812
:wave: it would be handy to have a memory profile from the operator. Feel free to ask if you need guidance :)

[2021-01-25 09:49] lilic commented on #3795
@nickytd hey, can you explain what needs refreshing, I am not sure much changed since that was merged? Or is it just general lack of docs that you need?

[2021-01-25 09:58] nickytd commented on #3795
Hi Lili,
I tried getting the sharing configuration together with a kube-state-metrics sharding enabled but that didn't work out of the box. First if you configure 2 shards and 2 replicas in the operator only 2 prometheus pod instances are created for the statefulset ( expected 4 I think) and once we have more than 1 the targets discovery doesn't recognise any longer the instances of kube-state-met

[2021-01-25 10:04] lilic commented on #3795
That might be another issue open for this, can you have a look at it and comment there if its the same https://github.com/prometheus-operator/prometheus-operator/issues/3801 Thank you!

[2021-01-25 11:26] lilic commented on #3809
👋 Yes implementing this for static probes sounds good to me. Do you @EtienneBarbier want to tackle adding this or do you want me to add help wanted?

[2021-01-25 11:51] Gokul-Radhakrishnan commented on #3801
Even I am facing this issue (I did not use helm chart to install prometheus-operator).

The following is the CR I used

[code]
The following are the logs from prometheus operator pod
[code]

I can see only 4 pods out of 10. (5 shards * 2 replica = 10 pods)
![image](https://user-images.githubusercontent.com/38651133/105702376-b8005d80-5f31-11eb-9a11-6177342bb995.png)

[2021-01-25 12:50] scila1996 opened #3815 "How can i add ETCD cert to Prometheus"
Hi ! I was deploy my Kubernetes with Master and ETCD same the node. ETCD configured with TLS Security and i was have cert of them.

1. I created namespace with name 'prom'
2. I added secret with name 'etcd-k8s-cert'

<pre>
kubectl -n prom create secret generic etcd-k8s-cert \
    --from-file=./cafiles/client.crt \
    --from-file=./cafiles/client.key \
    --from-file=./cafiles/ca.crt
</pre>

3. I

[2021-01-25 14:41] s-urbaniak commented on #3815
A first good debugging point is to inspect what the "Targets" pane of Prometheus shows about those endpoints.

[2021-01-25 15:28] s-urbaniak opened #3816 "Documentation: describe strategic merge patch functionality"
**What is missing?**

In `Documentation/api.md` we describe the following:

**Why do we need it?**

Users of prometheus operator tend to contribute pull requests if settings are missing in the exposed api, i.e. in https://github.com/prometheus-operator/prometheus-operator/pull/3813.

We should describe:
1. How the above "strategic merge patch" works.
2. When it is feasible to add an explicit API p

[2021-01-26 03:35] mikechengwei commented on #3816
/assign

[2021-01-26 04:13] scila1996 commented on #3815
Year. I was resolved . I missed a step. Must be add secrets with ETCD certs file to prometheus with config

<pre>
prometheus:
  prometheusSpec:
    # https://github.com/coreos/prometheus-operator/blob/master/Documentation/api.md#prometheusspec

    secrets:
      - etcd-k8s-cert
</pre>

follow this tutorial

https://banzaicloud.com/docs/bank-vaults/mutating-webhook/howto-ct-prom/#prometheusspec

[2021-01-26 07:37] #3815 closed

[2021-01-26 08:36] s-urbaniak commented on #3816
Thank you @mikechengwei for taking this! :-) let me know if you need help.

[2021-01-26 17:22] ArtemPG commented on #2733
I faced the same issue, and was able to debug it and find a solution. Probably, it won't help everyone, but my symptoms were exactly the same as for  @andybo .

So, ServiceMonitor uses the following selectors:
[code]
It means, it tries to scrape data from all endpoints with the `k8s-app: kubelet` label in the `kube-system` namespace.

In my case, I had 3 endpoints:
[code]
And ServiceMonitor was tr

[2021-01-26 20:37] eddycharly commented on #3737
@joshuasimon-taulia why don't you create it in the `integration` namespace directly ?

[2021-01-26 21:24] debackerl commented on #3812
@simonpasquier thx for getting back to me :-) It's a bit strange when I compare the stats. So pproff top gave me this:

[code]

So it pretends to use 78.06MB if I interpret well, but looking at prometheus metrics I get a fully different picture, and I double checked that I looked at kube-prometheus-stack-operator-5b5945cbd5-sd9sv in all cases:

[code]

So, which is right? My server isn't much used

[2021-01-26 21:30] Thilaknath commented on #3464
@benjaminhuo  I am trying to enable thanos sidecar as part of the kube-prometheus helm chart? can you point me to an example on how to enable the same and configure it? As the new kube-prometheus chart has multiple thanos config split across `prometheus` and `prometheus-operator` section [here](https://github.com/prometheus-community/helm-charts/blob/main/charts/kube-prometheus-stack/values.yaml).

[2021-01-26 21:36] eddycharly commented on #3796
@simonpasquier the operator is mounting the secret `alertmanager-kube-prometheus-stack-alertmanager-generated` in the alertmanager pod but only the name of the receivers are kept from the static `alertmanager-kube-prometheus-stack-alertmanager` secret, the other receiver stanzas are not preserved.

for example, in the static secret i have:
[code]

and in the generated secret, only the name is kept

[2021-01-26 22:14] joshuasimon-taulia commented on #3737
the above was intended to be deployed in my `thanos-operator` chart in the `monitor` namespace. i was reluctant to package a victorops receiver in each application chart and instead wanted to create 1 reusable victorops reciever to rule them all. this isn't currently possible since the respective receiver is only reference-able from within the `AlertmanagerConfig` CR object

[2021-01-27 00:12] funkypenguin commented on #2515
My workaround in this case has been to use the (deprecated) `targetPort` field, to point to the arbitrary numerical port on the pod.

Note that this works:

[code]

While this doesn't:

[code]

.. presumably because by encapsulating the port number in quotes, you're instructing Prometheus to look for a container port **named** "8080".

[2021-01-27 00:14] funkypenguin commented on #2515
Also worth noting that the above workaround doesn`t work when using `port: 8080`, but errors with:

[code]

[2021-01-27 07:49] eddycharly commented on #3796
In the end, i was using version `0.43.2` that didn't support slack configs in receivers in the static config, the observed behavior in my previous comment was expected.

[2021-01-27 09:04] simonpasquier commented on #3812
Have you looked at the `container_memory_working_set_bytes` metric? It should provide a more accurate picture. It might be that your system being not so loaded, the kernel doesn't reclaim memory from the application. See https://github.com/golang/go/issues/42330 for the interactions between the Go runtime and the kernel regarding memory management and reporting.

[2021-01-27 14:13] benjaminhuo commented on #3464
I think you can put the thanos config below at https://github.com/prometheus-community/helm-charts/blob/main/charts/kube-prometheus-stack/values.yaml#L2134

[code]

[2021-01-27 14:16] Thilaknath commented on #3464
Thank you, Do we also have to write a spec for the Thanos querier here as well?

[2021-01-27 14:20] benjaminhuo commented on #3464
Thanos querier is not under Prometheus operator control, it's up to you I think.

[2021-01-27 19:28] debackerl commented on #3812
Thank you @simonpasquier ! I didn't know that Go switched this sorry. It's indeed 100-110MiB accordingly to container_memory_working_set_bytes. I will close the ticket then. Thanks :-)

[2021-01-27 19:28] #3812 closed

[2021-01-27 19:30] gabecazares-cc commented on #3743
Hey, I'm also getting the same error

[2021-01-27 22:37] joshuasimon-taulia commented on #3119
is it possible to abuse the `Probe` crd to accomplish the same thing?

[2021-01-28 00:47] weibeld commented on #3354
The workaround mentioned by @brancz can be implemented as follows:

[code]

In other words, instead of defining the port for Prometheus to scrape with either `port` or `targetPort`, manually redefine the `__address__` label (which initially just contains the IP address of the Pod, if the Pod does not declare any ports) to include the desired target port.

I tested the above with a PodMonitor, but

[2021-01-28 00:55] weibeld commented on #2515
For the situation that the Pod does not declare _any_ ports (as mentioned by @bricef), a workaround can be implemented as follows:

[code]

That means, you don't try to define the port to scrape with `port` or `targetPort` at all, but manually redefine the `__address__` label to include the desired target port.

[2021-01-28 01:11] funkypenguin commented on #2515
That's a neat trick!

[2021-01-28 06:28] March-deng commented on #3808
It turns out that you have to specify the initial global config in Prometheus CRD, such as evaluationInterval, externalLabels, scrapeInterval, scrapeTimeout, the error mentioned above did not happen then, and prometheus.env.yaml was not empty.

I think It should be documented.

[2021-01-28 06:28] #3808 closed

[2021-01-28 07:52] s-urbaniak commented on #3808
@March-deng this is interesting. Do you mind posting the initial non-working `Prometheus` custom resource so we can inspect what is wrong?

[2021-01-28 10:56] nagarajuchallagulla commented on #3464
Tried the same workaround from values.yaml , but the volume mount is not happening for the secrets with path ""/etc/tls/grpc/ca.cert",and the sidecar is not coming up.

[2021-01-28 11:01] s-urbaniak commented on #3464
correct, thanos querier is not under prometheus-operator jurisdiction :)

[2021-01-28 15:09] hamzakilic commented on #3459
I fixed it by, finding prometheus-db folder. that mounted for operator pod, and run
chmod 777 -R prometheus-db

[2021-01-29 00:05] mohanagandlla commented on #3459
Yes if u gave permission as 777 to dat directory most of the cases it will
work other wise try to assign the pod to some other node by using node
selector. Because there might be mount issue not pv pvc bound issue.

On Thu, 28 Jan, 2021, 8:39 pm hamza kılıç, <notifications@github.com> wrote:

[2021-01-29 02:20] vsxen commented on #135
[code]

[2021-01-29 15:56] mtiller commented on #1547
Just a comment from somebody who just stumbled upon this.  As I understand it, the developers removed the discovery via annotations approach and replaced it with `ServiceMonitor` and `PodMonitor` because the annotation based discovery had limitations and these `*Monitor` resources represent a more powerful aproach.

Now, I'm new to Prometheus and (so far) have not figured out exactly how to use `S

[2021-01-29 16:37] simonpasquier commented on #1547
@mtiller Frederic already explained the reasoning at https://github.com/prometheus-operator/prometheus-operator/issues/1547#issuecomment-401092041

Here are a few Prometheus issues describing some limitations with the annotation approach (and there are probably other if you search):
https://github.com/prometheus/prometheus/issues/2353
https://github.com/prometheus/prometheus/issues/3756

That bein

[2021-02-01 12:09] lilic commented on #3801
Thanks, that looks correct to me. Seems like we have a bug. If you want to @Gokul-Radhakrishnan or @sjentzsch either of you can have a look and fix it. Otherwise will mark as help wanted.

cc @brancz FYI.

[2021-02-01 13:20] mtiller commented on #1547
@simonpasquier Just to be clear, I'm not saying annotations are sufficient for all cases (which seems to be the argument made in all the cases you cite).  So I'm willing to stipulate that up front.  I'm simply saying that requiring people to define `ServiceMonitor` or `PodMonitor` for all cases just raises the barrier to entry for simple configurations, i.e., IMHO simple things are not simple with

[2021-02-01 13:33] #3809 closed

[2021-02-01 16:38] tux-00 commented on #3743
Same here

[2021-02-02 03:04] abhilashjoseph opened #3819 "Generate receivers from alertmanagerconfig even if routes are empty"
**What happened?**
Alert manager config file generation ignores receiver section generation when routes are not present. With a global alert manager config setup, generating a receiver alone might be required to merge with the alertmanager configuration from the values file directly in the helm chart.

**Did you expect to see something different?**
Receiver configuration is generated irrespective

[2021-02-02 14:49] #2018 closed

[2021-02-03 06:56] syednadeembe commented on #2255
@okamototk @ksa-real
Can you please state how to use extraArgs: {bind-address: "0.0.0.0"} for controllerManager: and scheduler:

I updated the kubeadm-config comfig map as below but still facing the same issue.
#############################################################
kubectl describe cm kubeadm-config -n kube-system
#############################################################
Name:         k

[2021-02-04 17:36] haim-ari opened #3824 "Grafana is not exposed externally with Digital Ocean LB"
Installed with **One-Click** App from DO Dashboard.

[code]
There is no External IP available... or any new LB created.

[code]

[code]

[2021-02-04 17:38] JJJJJones opened #3825 "Allow independent setting of requests/limits for CPU/memory in configmap-reloader"
**What is missing?**

Independent setting of requests/limits for [CPU](https://github.com/prometheus-operator/prometheus-operator/blob/master/cmd/operator/main.go#L173)/[memory](https://github.com/prometheus-operator/prometheus-operator/blob/master/cmd/operator/main.go#L174)

**Why do we need it?**

Not everyone who removes CPU limits (to get rid of annoying CPUThrottlingHigh alerts or ensure that

[2021-02-05 14:41] lilic commented on #3824
Hey! The best would be to reach out to digital ocean here, I am not sure what is the one-click app install, was not aware that is even the case. :) Prometheus operator does not by default install or manage grafana, we do have another project that does something like that, so if digital ocean does not work maybe try manually installing that https://github.com/prometheus-operator/kube-prometheus.

[2021-02-05 14:55] #3824 closed

[2021-02-05 18:08] gmedders commented on #3737
In our use case, we have many kubernetes clusters with their own prometheus instances. The namespaces are globally unique ids, and alerts are labeled with the namespace. Each of those prometheus instances sends the alerts to a common alertmanager instance.

Because the namespace labels on the alerts generated from the (remote) promtheus instances don't match the alertmanager namespace, the alerts

[2021-02-05 23:52] freefood89 commented on #3737
I think there is a workaround for those who are stuck on this. I have a PodMonitor in namespace `monitoring`, monitoring a Pod in namespace `flux`, with a PrometheusRule in namespace `platform`:

[code]

I also have a PodMonitor in namespace `platform` monitoring a Pod in namespace `helmoperator` with PrometheusRule in namespace `platform`:

[code]

<img width="1166" alt="Screen Shot 2021-02-05 at

[2021-02-08 02:28] Haleygo commented on #2630
@metalmatze ,We also need this feature too.
In my scenario, prometheus need to scrap metrics(such as node-exporter which expose directly in hostnetwork) normally even when k8s cni(such as calico) down. And exposing prometheus directly in hostNetwork can solve that problem.
So can you evaluate this feature once again?

[2021-02-08 07:32] KielChan commented on #3218
I have encounter with same problem in kube-state-metrics.

[2021-02-08 16:45] simonpasquier commented on #3737
@gmedders can you share how your central Alertmanager configuration looks like today? I would assume that you've got an alert routing tree based on some label identifying the originating cluster?

I'm all for making the feature useful for more people, just want to understand better the use cases :)

[2021-02-09 11:16] muradheydarov commented on #3260
I also need to connect to external alertmanager. I want to use additionalAlertmanagerConfigs for this purpose. But I do not know how to configure it properly. Is there are someone used it and connected?

[2021-02-09 11:52] muradheydarov commented on #3260
I tested with this config but it is not worked.

`additionalAlertManagerConfigs:
 - static_configs:
   - targets: ["my-ingress-host"]`

[2021-02-09 13:30] mdostal-hci opened #3829 "[Alertmanager] global: smtp_require_tls configuration flag is not propagated to generated Alertmanager config secret"
**What happened?**
I have created a secret "alertmanager-test" with alertmanager.yaml contents:
[code]

and appropriate alertmanager config object with reference to "configSecret: alertmanager-test". It was parsed by prometheus-operator to "alertmanager-generated" secret, but generated secret was missing "global: smtp_require_tls" configuration option.

**Did you expect to see something different?

[2021-02-09 13:33] mdostal-hci commented on #3829
PR created as https://github.com/prometheus-operator/prometheus-operator/pull/3830

[2021-02-09 15:41] #3816 closed

[2021-02-09 17:29] bhvishal9 commented on #3737
This feature would also help us a lot, we have a situation where we have one namespace per application and we do not want to create `AlertManagerConfig` resource in each of those namespaces which are owned by different teams. Having it defined globally works perfect for us.

[2021-02-09 23:03] gmedders commented on #3737
Hey @simonpasquier sorry for the delayed response. Our config is similar to this
[code]
This has been working for our use case, but I'm definitely open to any options that satisfy our constraints (i.e., single alertmanager fed by many remote prometheus instances whose `namespace` label values are globally unique ids). Thanks so much!

[2021-02-10 07:10] teochenglim opened #3831 "kube-prometheus-stack prometheusa/alertmanager statefulsets Terminating looping - eks"
**What happened?**
Both alertmanager and prometheus keep on crashing. With alert manager log, it can't find prometheus

[code]

**Did you expect to see something different?**

It is running on my local, just don't run on EKS.

**How to reproduce it (as minimally and precisely as possible)**:

On EKS

[code]

**Environment**

EKS v1.18.9-eks-d1db3c

* Prometheus Operator version:

using helm chart

[2021-02-10 07:23] teochenglim commented on #3831
File another bug in case is it helm chart issue.
https://github.com/prometheus-community/helm-charts/issues/661

[2021-02-10 07:53] teochenglim commented on #3831
alertmanager error is easy, because it can't find prometheus

[code]

[2021-02-10 07:55] teochenglim commented on #3831
[code]

[2021-02-10 10:48] teochenglim commented on #3831
That's no finalizer

[code]

[2021-02-10 10:49] teochenglim commented on #3831
pod output

[code]

[2021-02-11 03:07] MattJeanes opened #3832 "Azure Kubernetes Service (AKS) Virtual Nodes (ACI) are included in the endpoint, causing target failures"
**What happened?**
The prometheus-operator is creating an Endpoint for metrics scraping against a AKS Virtual Node.

**Did you expect to see something different?**
Metrics scraping does not work on virtual nodes

**How to reproduce it (as minimally and precisely as possible)**:
- Install kube-prometheus-stack with the AKS virtual nodes feature enabled
- Under prometheus targets, it fails to contac

[2021-02-11 15:25] simonpasquier commented on #3737
thanks @gmedders

If I understand correctly, your Alertmanager routing tree is relatively simple and static. If it were possible to define the "global" `AlertmanagerConfig` in the `Alertmanager` resource as described [here](https://github.com/prometheus-operator/prometheus-operator/issues/3737#issuecomment-749570549), you would be able to accomplish the same thing?

[2021-02-11 21:38] osaffer commented on #2792
And so with the kube-prometheus, how can we configure the context-path ?

[2021-02-12 02:04] Shimokuni opened #3835 "[AlertManager] EmailConfig.headers key lost"
**What happened?**

`EmailConfig.headers` key will be lost even if inserted any value.

I think the cause is that `strings.Title(key)` always returns empty string. Parhaps `strings.Title(d.Key)`？

https://github.com/prometheus-operator/prometheus-operator/blob/v0.44.0/pkg/alertmanager/amcfg.go#L727-L729

So, in addtion, if multiple `EmailConfig.headers` are defined, the job of reloading AlertManag

[2021-02-12 06:14] gmedders commented on #3737
Hey @simonpasquier. Yes, our routing tree is definitely simple and more-or-less static (in the sense of: it may change over time and we'd want Alertmanager to reload the config at runtime, but that's it). So if we can accomplish the same thing via a global `Alertmanagerconfig` in the `Alertmanager`, that'd be great!

[2021-02-12 08:07] stafot opened #3836 "Add `dnsConfig` parameter on `PrometheusSpec` and to `AlertmanagerSpec`"
**What is missing?**

Add `dnsConfig` parameter on `PrometheusSpec` and to `AlertmanagerSpec` to be able to custimize dns configuration on Prometheus and Alertmanager StatefulSets' pods.

**Why do we need it?**
Pod's DNS Config field enable users more control on the DNS settings for the pods.

**Environment**
All
* Prometheus Operator version:
All

**Anything else we need to know?**:
If there are

[2021-02-14 15:10] bradkyle opened #3837 "Service monitor not found in new prometheus deployment"
I have installed the prometheus operator via the kube-prometheus stack with helm (pulumi infrastructure).
I have a set of sensor pods that are deployed in the default namespace that should be monitored by prometheus in the monitoring namespace, However the targets for the specific sensors are not showing up in the prometheus instance.
Some guidance as to what the cause for this might be would be i

[2021-02-15 10:37] s-urbaniak commented on #3829
cc @simonpasquier maybe you can advise?

[2021-02-15 12:27] mrueg opened #3839 "Set common labels on prometheus-operator managed resources"
**What is missing?**
Kubernetes recommends a set of common labels that help to identify objects more clearly.  https://kubernetes.io/docs/concepts/overview/working-with-objects/common-labels/ Prometheus-Operator currently does not set those.
**Why do we need it?**
Make it easier for users to find the right objects.

[2021-02-15 12:45] brancz opened #3840 "Allow using all list/watch"
**What is missing?**

Currently we intentionally scope service monitors to the namespace they are in and the generated scrape configs set the namespaces to watch. This results in 1 list/watch to be created per namespace being monitored in Prometheus.

**Why do we need it?**

Prometheus is able to re-use discovered targets if only relabeling configs are different. This could potentially safe a lot

[2021-02-16 10:15] raghu-de commented on #2821
Any further leads to knowing if this has been resolved when using values.yaml for BlackBox exporter?

[2021-02-16 11:42] vdksystem commented on #3350
what was the issue?
I have the same problem

[2021-02-16 12:59] paulfantom opened #3842 "Add category to CRDs"
**What is missing?**

CRDs are not grouped together in category reducing discovery of CRs

**Why do we need it?**

To improve UX.

Using `kubectl get prometheus-operator` which would list all CRs belonging to prometheus-operator would be a nice improvement. It would be also nice to add another category like `monitors` which would group all `ServiceMonitor`, `PodMonitor`, and `Probe` objects.

**En

[2021-02-17 07:38] SaltedEggIndomee opened #3845 "AlertmanagerConfig not working for email and Slack"
**What happened?**

- Alerts are not routed and handled by receivers (slackConfigs, emailConfigs). A.k.a I'm not receiving the emails or Slack notifications even after following the CRD specifications by the book.
- Prometheus UI and AlertManager UI are showing that alerts are firing correctly.
- No useful logs (info or error) to debug.
- Using blackbox-exporter manifests from the master branch. T

[2021-02-17 10:12] lilic commented on #3845
Thanks for the issue report! This seemed more like a Prometheus operator issue rather than kube-prom from what I can tell.

@simonpasquier do you have some time to have a look at this as you are more familiar with AlertmanagerConfig.

[2021-02-17 19:41] bwplotka commented on #3288
I wonder if we can leverage what @simonpasquier build 🤗

https://github.com/prometheus/promu/pull/170

NOTE: We are also looking on something that works for Thanos/Promethus, so subscribing this 🙃

[2021-02-18 01:10] n1kofr opened #3846 "Syncing nodes into Endpoints object failed - spec.ipFamily: Invalid value"
**What happened?**

Error message in prometheus operator related to Endpoint synchronization and IPV4I/IPV6 Dual Stack "spec.ipFamily: Invalid value: \"null\": field is immutable, spec.ipFamily: Required value]".

It seems related to previous issue I opened on service (which was fixed): https://github.com/prometheus-operator/prometheus-operator/issues/3411

From the logs we might have 2 issues in

[2021-02-18 10:13] mikechengwei commented on #3766
/assign

[2021-02-18 10:14] mikechengwei commented on #3766
I can help finish it.

[2021-02-18 10:30] brancz commented on #2821
I have no idea about the helm chart (we don't use nor maintain it), but blackbox probes are now a first class feature in prometheus operator. See the [`Probe`](https://github.com/prometheus-operator/prometheus-operator/blob/master/Documentation/api.md#probe) API spec. Under static targets you can add as many urls as you want or have them be discovered via `Ingress` objects.

If you have any furthe

[2021-02-18 10:30] #2821 closed

[2021-02-18 12:47] brancz commented on #3766
Great! Let us know if you need more pointers than what's already in the description.

[2021-02-18 13:08] brancz commented on #3777
Could you upgrade to the latest version? v0.34.0 is more than a year old (2019). There are countless bugs and features that went in since then, we'll only be able to help you on the latest version.

[2021-02-18 15:46] angelbarrera92 opened #3847 "serviceMonitorNamespaceSelector not working correctly"
**What happened?**

I need to activate and deactivate metric recollection at the namespace level.
I am using (trying) a label on every namespace I want to monitor with a specific Prometheus instance.
Also, I need to monitor just a subset of ServiceMonitor (those with the `example.com.app: app-1` label).

I am using the following Prometheus definition that is supposed to implement the usecase.

[co

[2021-02-18 15:49] brancz commented on #3847
Sounds like we may not be reconciling (correctly) on watch events from the namespace informer. @simonpasquier @s-urbaniak I think you last touched this part, do you have a hunch?

[2021-02-18 15:51] betorvs opened #3848 "Patch prometheus container args with custom args"
**What is missing?**

I want to enable `--enable-feature=exemplar-storage` to test new examplars endpoint but when I use
[code]
It replace all args from prometheus container.

**Why do we need it?**

To use `--enable-feature` in prometheus > v2.25.0.

**Environment**

* Prometheus Operator version: v0.42.1 from quay.io repository.

**Anything else we need to know?**:

We don't want to rewrite all

[2021-02-18 16:36] brancz commented on #3848
I'm actually happy with having feature flags as a first class feature. The nature of the field and documentation should be enough to clarify that any use of it exempts it from support. Do you want to add this?

[2021-02-18 16:48] #3842 closed

[2021-02-18 18:58] notjames opened #3849 "[prometheus-operator] prometheusOperator annotations do not place annotations in pod spec; only in sts."
**Describe the bug**
In https://github.com/prometheus-community/helm-charts/blob/main/charts/kube-prometheus-stack/values.yaml#L1356 the `annotations` property allows one to specify annotations for the statefulset. However, the annotations are seemingly not propagated to the pod spec. The more I look at this, the more I believe this is a bug in the operator, thus this issue.

As far as I can tell,

[2021-02-18 22:17] KrotanHill opened #3850 "Add remoteWrite custom HTTP headers"
**What is missing?**
The possibility to add the remoteWrite custom HTTP headers introduced in Prometheus v2.25.0 (see [Changelog](https://github.com/prometheus/prometheus/releases/tag/v2.25.0) or [Updated Configuration](https://prometheus.io/docs/prometheus/2.25/configuration/configuration/#remote_write)). New Config Option:
[code]

**Why do we need it?**
To support the new Prometheus config optio

[2021-02-19 09:10] basch255 opened #3853 "Scrape-config jobs with same name occur crashloop in prometheus"
**What happened?**
Prometheus created scrape config jobs with same name after creation of a Servicemonitor and Podmonitor with the same name in the same namespace. After trying to reload /etc/prometheus/config_out/prometheus.env.yaml Prometheus crashed and keeps in status CrashLoopBackOff.

**Did you expect to see some different?**
Prometheus should stop reloading in case the /etc/prometheus/confi

[2021-02-19 09:30] brancz opened #3854 "Fields incorrectly marked as deprecated"
**What happened?**

`podMonitorSelector` and `serviceMonitorSelector` are being marked as deprecated entirely by tools because of their comments. We should change this comment to just write out the behavior instead of using the typical deprecated format.

**Did you expect to see something different?**

These fields are not deprecated entirely, just a certain behavior, so only that should be called

[2021-02-19 11:52] simonpasquier commented on #3845
I suspect that it doesn't work as expected because AlertmanagerConfig resources are scoped to the namespace in which they are defined. This is to say that if your alerts don't have a `namespace: monitoring` label then they are caught by the `alertmanager-my-new-config` resouce and go through the default route. See #3737 which discusses how we could avoid the limitation.

[2021-02-19 12:04] simonpasquier commented on #3849
I'm not sure I understand exactly the issue. Can you share the YAML definition of the Alertmanager resource? It would be easier to understand than the Helm inputs.

The operator will copy the Prometheus resource's annotations to the statefulset for sure but the annotations won't be propagated to the pod and I'm not sure it should. You can add custom annotations to the pod using the [`podMetadata`]

[2021-02-19 12:05] simonpasquier commented on #3853
Good catch! Would you be able to work on a fix?

[2021-02-19 12:14] simonpasquier commented on #3835
Thanks for the report! Do you want to send a PR?

[2021-02-19 13:36] simonpasquier commented on #3846
Ah it seems that the bump of k8s.io/client-go to v1.20.0 is breaking in your case (see #3788).

After re-reading the [release notes](https://kubernetes.io/docs/setup/release/notes/#urgent-upgrade-notes), I'm not sure that the [current code](https://github.com/prometheus-operator/prometheus-operator/blob/f689892994656dda6de2aaf239a20b008b87db79/pkg/k8sutil/k8sutil.go#L124) would support dual stacks

[2021-02-19 14:59] lilic commented on #3846
@simonpasquier that could be the case yes, I only adjusted as per the tests and release notes. @n1kofr do you want to go ahead and do the changes as per Simons suggestion?

[2021-02-19 15:05] n1kofr commented on #3846
@lilic sure, i am not familiar with the implementation, so if you think this is the solution, it is fine for me :)

[2021-02-20 05:10] notjames commented on #3849
[code]

The mutating webhook will not work unless the annotations are in the pod, as far as I understand the documentation. Maybe I'm wrong there, but the way things are [not] working, I don't think I am.

[2021-02-20 06:09] Shimokuni commented on #3835
Yes. I am going to make PR.

[2021-02-20 08:23] Shimokuni commented on #3835
Ready. https://github.com/prometheus-operator/prometheus-operator/pull/3856
Could you please review?

[2021-02-20 23:33] petersin0422 opened #3857 "Add support to change the `--cluster.listen-address` Alertmanage flage"
**What is missing?**
A way to change the `--cluster.listen-address` AlertManager flag. The value is hard set to the pod IPs when there multiple replicas are deployed.

**Why do we need it?**
The current setup doesn't work well with Istio. Since all communication happens on the localhost network (127.0.0.1). This results in a `connect reset by peer` error from each peers.

**Environment**

* Promet

[2021-02-21 00:02] pbxqdown opened #3858 "Add support for "hostPath" storage type"
**What is missing?**
Currently, only emptyDir and volumeClaimTemplate is supported by prometheus-operator. It is hard to mount local host volume
**Why do we need it?**
On single node environment, it is not necessary to use PVC. It is not convenient and causes issue(i.e. for 2 replicas, we have to create 2 PVC and 2 PV for all pods)
If a hostPath option is provided, it would be very convenient to m

[2021-02-21 00:23] rmartinez3 commented on #3858
There was already a request asked here https://github.com/prometheus-operator/prometheus-operator/pull/1455 and don't think they will want to allow that. You are better off create storage class . PV to have pvc bind to.

[2021-02-21 00:31] pbxqdown commented on #3858
I have tried PVC solution.  The problem is, prometheus-operator created 2 PVC(named pvc-prometheus-k8s-0 and pvc-prometheus-k8s-1) for 2 Pod. And only one of them is able to bind to the PV.
Really messed up. Would be much convenient to use hostPath instead. I think many people run prometheus-operator on their single-node lab. So this is a valid use case.

[2021-02-21 00:37] rmartinez3 commented on #3858
You can create 2 persistent volume/claim before hand.  Which will then each promethues replica can consume  specifying the storage class name.

[2021-02-21 00:40] rmartinez3 commented on #3858
Or If you want to go the automatic provisioning route you can look at csi/storage local solutions to do the provisioning for you . But I think the easier route will be the manual setup route for now.

[2021-02-21 02:57] pbxqdown commented on #3858
There are many MR/issues asking about how to use hostPath, the use cases do exist. Prometheus-operator is a base library of many upper level projects(e.g. kube-prometheus), i think it would be good to provide more customization(e.g. adding flags for containers, customize volume mounts, etc)

[2021-02-21 03:29] rmartinez3 commented on #3858
Though in your case. Why would you want two prometheus  instances pointing to the same host path. Since pinned on one node.  If data is corrupted then both prometheus instances will be down vs having independent volune/paths to have a HA promtheus cluster. As well I think one doesn't want two prometheus instances using the same volume.  I think this is the reason why prometheus operator avoided th

[2021-02-21 06:36] pbxqdown commented on #3858
Good point that statefulset should use 2 PVC. agree that data replication is necessary in this case.
But it may still be nice to have hostPath for single node environment, just like k8s did. anyway, i reduced replica to 1 and applied the PVC configuration. It only runs on my personal server and HA is not very necessary🙂

[2021-02-22 07:35] basch255 commented on #3853
Unfortunately not. Would be great if someone could do that

[2021-02-22 07:53] paulfantom commented on #3858
I am closing this as a duplicate of #1455.

On a personal note, I can recommend using local-path-provisioner for this use case. With it, there is nothing to be changed in prometheus-operator as directories are created dynamically and there is no PV clash. This means storage is taken care of in kubernetes-native way without any hacks which would be necessary in the case of `hostPath`. You can take

[2021-02-22 07:53] #3858 closed

[2021-02-22 09:01] munipravy opened #3859 "Does Prometheus Operator and Alertmanager supports toleration ?"
**What did you do?**

**Did you expect to see some different?**

**Environment**

* Prometheus Operator version:

    `v41.0`

* Kubernetes version information:

    `1.17`

* Kubernetes cluster kind:

    insert how you created your cluster: kops, bootkube, etc.

* Manifests:

[code]

* Prometheus Operator Logs:

[code]

**Does Prometheus Operator support pod affinity and tolerations?**:

[2021-02-22 10:24] simonpasquier commented on #3853
@basch255 no problem :)

[2021-02-22 10:26] #3835 closed

[2021-02-22 12:55] #3859 closed

[2021-02-22 14:55] simonpasquier commented on #3849
As I said above, I think you want to use `podMetadata` to add the required annotations to the Alertmanager pods. Looking quickly at the kube-prometheus chart, it seems [possible](https://github.com/prometheus-community/helm-charts/blob/75a88bfdb3cccb9a5b48148c0aee12e94d4128d4/charts/kube-prometheus-stack/values.yaml#L370-L373).

[2021-02-22 15:50] eddycharly commented on #3737
This would be quite usefull, in our use case, we want a catch-all route.

[2021-02-22 15:55] eddycharly commented on #3737
Maybe a `ClusterAlertmanagerConfig` CRD ?

[2021-02-22 16:07] simonpasquier opened #3862 "Support the endpointslice role for Prometheus"
**What is missing?**

The operator doesn't support the new `endpointslice` role available in Prometheus since v2.21.0 (https://github.com/prometheus/prometheus/pull/6838).

**Why do we need it?**

[Endpoint slices](https://kubernetes.io/docs/concepts/services-networking/endpoint-slices/) are required to scale services with many pods.

**Anything else we need to know?**:

After discussing on Slack

[2021-02-22 16:16] paulfantom commented on #3862
Since k8s 1.19+ enables by default `EndpointSliceMirroring Controller` which should mirror custom Endpoints to EndpointSlice, maybe it makes sense to investigate if we can switch completely?

[2021-02-23 08:34] mohanagandlla commented on #3782
Hi team may I know at which version Prometheus operator will support SSL for Prometheus

[2021-02-23 09:19] #3850 closed

[2021-02-23 09:20] brancz commented on #3737
Not sure where the other thread is right now, but there is another thread going on this topic, and the latest idea is to embed an AlertmanagerConfig object into the Alertmanager config that will never have enforcement applied exactly for this catch-all use case. If it turns out there is a large use case for having distributed non-enforced configs then we can look into that afterwards (my feeling i

[2021-02-23 09:47] QuentinBisson commented on #2398
@brancz would it make sense to work on a documentation to explain all the possible use cases for it and see if this is worth implementing in prometheus operator?

[2021-02-23 13:43] brancz commented on #2398
Yeah I think if the use cases are sound we can talk about it! So far I'm not convinced that permanent silences aren't better off as being inhibition rules or routes that blackhole the alerts, both of which can be specified via the AlertmanagerConfig CRD already. Even if that's already possible though, we should document it, so having the use cases definitely helps either way!

[2021-02-23 17:35] avivgold098 commented on #3831
@teochenglim The `prometheus-operator` is manged the Prometheus `CRD` with `StatefulSets` object, seemed like the updates to the `Prometheus` spec are not allowed, due to `StatefulSets` immutable fields.  From your logs:
[code]

[2021-02-24 08:05] simonpasquier commented on #3847
Thanks for the detailed report! I'll try to have a look but from a first look, the operator doesn't handle namespace events. And it's probably been this way forever.

[2021-02-24 08:52] lnovara commented on #3669
We are seeing the same error related to the same recording rule, seems to be related to prometheus/prometheus#8221.

[2021-02-24 08:58] angelbarrera92 commented on #3847
Let me know if you need anything else from my side :)

[2021-02-24 09:36] brancz commented on #3847
@simonpasquier since we select namespace objects based on labels, we should probably fix that, right?

[2021-02-24 09:56] giacomolicari opened #3869 "jsonnet-ci jq update doesn't work"
**What happened?**
When I try to run:

`docker run --rm --user 1000:1000 -v $(pwd):$(pwd) --workdir $(pwd) quay.io/coreos/jsonnet-ci:latest jq update`

inside my kube-prometheus (version **release-0.3**) I get the following error:

[code]

and then

[code]

**Did you expect to see something different?**
I would expect the command to work as usual.

**How to reproduce it (as minimally and precisely

[2021-02-24 10:02] simonpasquier commented on #3847
@brancz definitely

[2021-02-24 12:53] RichiH opened #3870 "List ADOPTERS alphabetically?"
Lists in prometheus/prometheus are sorted alphabetically. Would that make sense here as well?

[2021-02-24 13:29] fredr opened #3871 "Global default podTargetLabels for ServiceMontor and PodMonitor"
**What is missing?**
A way to globally config podTargetLabels for ServiceMonitors and PodMonitors

**Why do we need it?**
In our clusters, each team create ServiceMonitors or PodMonitors as part of their applications. We have a labeling convention that all teams follow, where we have some common labels such as app, team etc. Some of these labels we always want to target, so that we get them in our

[2021-02-24 13:52] QuentinBisson commented on #3848
I can take care of adding this to the prometheus crd. Can you assign it to me?

[2021-02-24 14:48] brancz commented on #3848
Done! :)

[2021-02-24 14:51] brancz commented on #3870
Yeah that was an oversight, that was the intention, we should have paid more attention when people were adding themselves.

[2021-02-24 14:57] VincenzoDo commented on #3869
Hello @giacomolicari,

looks like Prometheus repository changed from "master" to "main". You can fix this by changing the corresponding entry in the jsonnetfile.json (under version):

    "source": {
        "git": {
          "remote": "https://github.com/prometheus/prometheus",
          "subdir": "documentation/prometheus-mixin"
        }
      },
      "version": "main",
      "name": "prometh

[2021-02-24 15:36] giacomolicari commented on #3869
Thank you @VincenzoDo for the hints, you helped me solve the issue for the moment.

In my case I've got the following jsonnetfile.json:

[code]

So I edited the file and set the following content:

[code]

Now everything works as expected when running `quay.io/coreos/jsonnet-ci` the first , but after every latter execution the jsonnetfile.json file gets overridden, so it becomes necessary to updat

[2021-02-24 17:33] yeplaa opened #3873 "CRD Update lifecyclle"
**What did you do?**

I test the version upgrade of Prometheus for my cluster from 0.43 to 0.45. On the update of CRD Alertmanagerconfigs, the behavior of a CRD manifest is updated without changing the version field on a CRD. I wondered what the impact was for the CR deployed with 0.43 version. What is your version upgrade strategy to avoid impacts on CRs already deployed?

**Did you expect to see

[2021-02-24 22:56] tiagomeireles opened #3875 "Handling statefulset recreation without user facing downtime"
How are others with large prometheus footprint handling statefulset recreation without user facing downtime?
Currently I run 3 prometheus pods scraping the same targets fronted by Thanos. The statefulset recreation causes all 3 prometheus pods to go offline. The prometheus pods take longer than our scrape interval to become available(5min+ in our case) which would result in a user facing downtime.

[2021-02-24 23:01] coderanger commented on #3875
As I said on Slack, this isn't really in scope for an operator to help with. Objects are sync'd in unrelated reconcile calls so that's not an issue. However there's a very large chance that you should just eat the few minutes of downtime rather than trying to engineer a complex solution.

[2021-02-24 23:11] coderanger commented on #3873
Resource versions are only updated when there's either a major schema change that isn't backwards compatible or when indicating a new version has reached an expected stability threshold (that's schema stability, not operational stability). It doesn't change much since almost all changes are adding new fields which can be backwards compatible :)

[2021-02-25 01:08] tiagomeireles commented on #3875
I understand that this is not in scope for the operator. I'm hoping to hear how others are handing this as i'm sure i'm not solely in this position. User facing downtime from a prometheus-operator upgrade is not acceptable for our use case.

[2021-02-25 02:35] coderanger commented on #3875
The bigger issue is that we shouldn't be doing things that require changing immutable fields, normal upgrades shouldn't touch any of those and that is probably a bug. If it's something that needed changing then there may not be much we can do but try and avoid it in the future.

[2021-02-25 09:28] brancz commented on #3875
We try our best never to do this, but it can happen from time to time, and there is not really anything else we can do much when it's necessary. We could have a setting where you are in control of doing the deletion instead, so at least you can do it on your own schedule. Do you think that would be helpful?

Also another thing we could explore (and I have no idea if this could actually be feasible

[2021-02-25 09:30] brancz commented on #3873
The `AlertmanagerConfig` CRD specifically is v1alpha1, so there are no stability guarantees around this yet whatsoever. The point is to allow us some time to ripen the schema and functionality before we have to support it essentially for life :)

[2021-02-25 10:47] juliantaylor commented on #3875
A non-cascading delete could be done, we do that to resize persistentvolumes attached to prometheus instances (in this case not operator managed).
Our script to do this looks about like this:

[code]

[2021-02-25 10:51] yeplaa commented on #3873
Thanks @coderanger , @brancz for your quick reply. :)
Regarding prometheuses.monitoring.coreos.com CRD that is v1,  are you on the strategy indicated by @coderanger , that's right?

[2021-02-25 12:26] paulfantom commented on #3871
We are already doing a similar thing with `enforcedNamespaceLabel` and I think this is a logical next step to allow users to configure what they wanted to be enforced. For me, this could allow much more flexible tenancy models in the future.

I wonder what is the team's perspective on this. cc @prometheus-operator/prometheus-operator-reviewers

[2021-02-25 12:28] brancz commented on #3873
Correct.

[2021-02-25 12:32] brancz commented on #3875
Agreed. This is neat though, thanks for sharing! We already have a `paused` option that makes Prometheus Operator ignore the Prometheus statefulset reconciliation, so this could be a solution as well.

[2021-02-25 13:21] #3873 closed

[2021-02-25 14:00] tiagomeireles commented on #3875
I really like the non-cascading delete idea. Would the pod deletion be manual?

This is far simpler than the other options I have considered.

[2021-02-25 14:18] brancz commented on #3875
Yeah I think we would need pod deletion to be manual, but we can document something like @juliantaylor's comment.

We do still need the ability to disable the "automatic" conflict resolution we have today, and a mechanism to tell users that they must take action (I suppose an metric+alert and kubernetes event would do?)

[2021-02-25 14:34] simonpasquier commented on #3875
isn't the issue similar #2753 and the fact that the operator uses `podManagementPolicy: Parallel` to prevent statefulset reconciliation hanging forever?

[2021-02-26 07:56] brancz commented on #3875
I'm not 100% sure about that. Parallel pod management policy is just about the statefulset _potentially_ reconciling multiple pods at once, in that case we just need to limit the amount of pods it actually touches at once.

[2021-02-26 14:03] stv0g opened #3881 "listenLocal option of Promtheus CRD causes to listen on IPv4 loopback address only"
https://github.com/prometheus-operator/prometheus-operator/blob/5e2eae9595e31367d3cebd15f21100d7d5c81e52/pkg/prometheus/statefulset.go#L442

Se should bind to IPv6 here

[2021-03-01 11:17] QuentinBisson commented on #3881
This look like the same issue as: https://github.com/prometheus/node_exporter/issues/654

[2021-03-01 11:18] #3848 closed

[2021-03-01 12:18] AleksanderRoszig opened #3882 "err="creating CRDs failed: waiting for ServiceMonitor crd failed: timed out waiting for Custom Resource: failed to list CRD:"
**What happened?**
I added servicemonitor, restarted prometheus-operator and after restart:

[code]

I deleted this servicemonitor, deleted pod and error is this same again.

**Did you expect to see something different?**
I except to work this properly.

**How to reproduce it (as minimally and precisely as possible)**:
1. Add servicemonitor
apiVersion: monitoring.coreos.com/v1
kind: ServiceMonitor

[2021-03-01 12:33] wrahmann commented on #2552
Is there any workaround or resolution to this problem? Every time I change replica from 1 to 2 or 3, the new alert manager instances keep crashing.

[2021-03-01 12:50] simonpasquier commented on #3881
ping @paulfantom, I remember that you had experience with IPv4/IPv6 and localhost.

[2021-03-01 13:35] #3870 closed

[2021-03-01 14:52] tiagomeireles commented on #3875
#2753 is a separate issue. This issue is regarding the operator resolving illegal updates to prometheus statefulsets causing a complete outage for prometheus setups that take multiple minutes to start.

The "resolving illegal updates" process deletes the statefulset then recreates it. During this time all of the prometheus pods are unavailable to process queries. In our case prometheus takes 5+ mi

[2021-03-01 15:22] JJJJJones opened #3883 "Remove `config-reloader-cpu` and `config-reloader-memory` flags with 0.50.0"
#3825 #3826

**What is missing?**

The flags for jointly setting the requests/limits of config-reloader's CPU/memory are to be removed with 0.48.0. Since 0.46.0 was released before the merging of #3826 should it instead be removed with 0.49.0?

**Anything else we need to know?**:

Creating this issue to [make sure it isn't forgotten](https://github.com/prometheus-operator/prometheus-operator/pull/

[2021-03-01 15:31] JJJJJones commented on #3883
@lilic [earlier you mentioned](https://github.com/prometheus-operator/prometheus-operator/pull/3826#issuecomment-774120645) assigning the followup issue to myself. I don't believe I have the permissions to do that.

[2021-03-01 15:46] JJJJJones commented on #3883
Pull request made: #3884

[2021-03-01 16:09] brancz commented on #3875
Thanks for testing! I would have tried something slightly different, although it's potentially the same result, but I think it's worth testing. For the sake of causing an illegal update, we could modify the requested storage space by:

1) Set `paused: true` in the `Prometheus` object.
2) Delete the statefulset with `--cascade=false`.
3) Set `paused: false` and modifying the storage resource reques

[2021-03-01 18:53] bkmeneguello opened #3885 "AlertmanagerConfig restricts the current namespace"
When configuring an AlermanagerConfig, it adds the resource's namespace as a required label matcher [here](https://github.com/prometheus-operator/prometheus-operator/blob/3efe14cd34c87ba387258c4afab60273dc789af2/pkg/alertmanager/amcfg.go#L142). This forces me to create one AlermanagerConfig per namespace to capture alerts from many namespaces and forces me to group my alerts by namespace, which is

[2021-03-02 08:10] thodquach commented on #2437
Hello,
I met a similar like you: [kube-scheduler](https://kubernetes.io/docs/concepts/scheduling-eviction/kube-scheduler/#kube-scheduler) is a part of [kubernetes control plane](https://kubernetes.io/docs/concepts/overview/components/#control-plane-components). It's components are scheduled on master node, to which on managed kubernetes solutions such as AKS, GKE or EKS, we have no access.

[2021-03-02 08:53] stv0g commented on #3881
In most cases it is sufficient to bind the socket to `::` in order to listen on IPv4 `and` IPv6.

[2021-03-02 09:33] thodquach commented on #1319
This fix for me, Tks

[2021-03-02 09:58] veera2019 opened #3887 "how to add custom metrics target into prometheus"
Hi Team,

we have my application custom metrics end point, we want scrap those endpoints into Prometheus, we can see there soo many configmaps are there , we are not getting on which config map we need to add these end point targets.

example:- i have **test.com:4500** end point i want add this into Prometheus how to add this
please let me know if we have solution for this

[2021-03-02 14:39] #3882 closed

[2021-03-02 15:18] brancz commented on #3881
I recall there was some special case in the kernel around `127.0.0.1` actually ending up listening on the equivalent IPv6 as well. It's very possible that I'm misremembering though. Does anyone have a log line showing an error?

[2021-03-02 15:20] stv0g commented on #3881
There is no log line. The socket simply only binds to IPv4 and the remote cant establish a connection to the IPv6 address

[2021-03-02 16:51] brancz commented on #3885
There's an existing issue where this is being discussed: https://github.com/prometheus-operator/prometheus-operator/issues/3737

Do you mind if we close this as a duplicate?

[2021-03-02 18:06] #3885 closed

[2021-03-03 11:38] universam1 opened #3889 "Prometheus remote_write metadata cannot be disabled"
**What happened?**

Prometheus remote_write metadata cannot be disabled
[code]

**Did you expect to see something different?**

should be configurable

**How to reproduce it (as minimally and precisely as possible)**:

CRD does not support these flags

ref: https://github.com/prometheus/prometheus/pull/6815
ref: https://github.com/thanos-io/thanos/issues/3772

[2021-03-04 03:36] Riohyc opened #3892 "ServiceMonitor endpoint tls config missing in "tls-assets" when read from ConfigMap or Secret"
**What happened?**
When ServiceMonitors in different Namespace all have endpoints use tlsConfig from Secret or ConfigMap. Only one Namespace's ServiceMonitor can scrap targets by tls cert data while others will get scrap error of missing tls data like this:
[code]

**Did you expect to see something different?**
All ServiceMonitor and Targets should not get error because of missing tls data file.

[2021-03-04 03:54] Riohyc commented on #3892
Bug is cause by code below:
https://github.com/prometheus-operator/prometheus-operator/blob/312d675008306b13c24d241bf4f0a882dbfa90d8/pkg/prometheus/operator.go#L1684-L1724

`smAssets` is always overrided by last ServiceMonitor in loop.

[2021-03-04 15:19] Zeka13 commented on #2821
@brancz thx for this new feature, but it's hard to find a working example for blackbox ssl and this Probe from API

[2021-03-04 15:24] Zeka13 commented on #256
@smeeklai looks like you moved it [here](https://github.com/thaum-xyz/ankhmorpork/blob/master/apps/monitoring/manifests/prober/ingressProbe.yaml)

[2021-03-04 15:37] mnacharov commented on #3147
Hi all!
Please review my PR

Also I'm wondering where is Dockerfile for po-tooling image and why not put this image to https://quay.io/repository/prometheus-operator/po-tooling ?

[2021-03-04 16:55] #3147 closed

[2021-03-05 10:26] ensonic opened #3896 "Allow to replace rules (e.g. to support federation)"
**What is missing?**

We're using cluster federation and hence supprot from a lots of the default rules that get installed failing with `many-to-many matching not allowed: matching labels must be unique on one side`, e.g.:

[code]

All I need to do to fix it would be to modify the expr to take `remote` label into account when grouping.
* in most case we now globaly disable the rule set, which is r

[2021-03-05 10:40] paulfantom commented on #3896
This seems like an issue with helm chart or with kube-prometheus since prometheus-operator is not defining any rules.

We would need to modify each alert rule to add a new label to that rule and I don't think this is feasible. You might be better off with relabelling `job` label to make it unique per federated endpoint.

[2021-03-05 10:53] paulfantom commented on #2821
@Zeka13 examples of Probe usage:
- staticConfig - https://github.com/thaum-xyz/ankhmorpork/blob/master/apps/monitoring/manifests/prober/promDemoProbe.yaml
- ingress - https://github.com/thaum-xyz/ankhmorpork/blob/master/apps/monitoring/manifests/prober/ingressProbe.yaml

[2021-03-05 11:46] paulfantom commented on #3881
`[::]` is an equivalent of `0.0.0.0` and not of loopback localhost device (127.0.0.1/8). The loopback for IPv6 is `::1`.

The difference is quite substantial as `0.0.0.0` is exposing port allowing external communication whereas local loopback doesn't. Usual workaround is to bind to `localhost` and allow internal DNS resolver (usually `/etc/hosts` managed by CRI) to figure out if this is IPv4 or IP

[2021-03-05 13:32] KlavsKlavsen opened #3897 "SD kube-controller-manager + kubescheduler not being discovered"
Prometheus servicediscovery says:
monitoring/kube-prometheus-stack-kube-controller-manager/0 (0 / 37 active targets)
monitoring/kube-prometheus-stack-kube-scheduler/0 (0 / 37 active targets)

all other targets are discovered just fine.

**What happened?**
I installed this using community helm chart v13.13.0 - and all other SD scrape jobs work fine.

**Did you expect to see something different?**
I

[2021-03-05 14:32] raz08 opened #3898 "Prometheus remote storage - not setting send_interval"
I'm trying to set remote storage write send_interval with Prometheus operator. But it is not getting reflected in Prometheus Configuration.

`  remoteWrite:
    - url: {{ required "please provide remote write url" .Values.prometheus.remoteStorage.remoteWriteUrl }}
      metadataConfig:
        sendInterval: 5m
  remoteRead:
    - url: {{ required "please provide remote read url" .Values.prometheus

[2021-03-06 01:42] midnightconman commented on #3610
I use the prometheus-operator heavily for managing prometheus and thanos in my environment. I was just trying to use the prometheus-operator to allow me to easily add `prometheusRules` to a loki ruler (as the types are very similar -- logql just has additional characters in the `expr` field). This didn't work though, as the prometheus-operator complains about the extra characters (in this case `|`

[2021-03-06 10:01] nickytd opened #3900 "Cannot fire cluster-wide alerts from default AlertManagerConfig"
Hi,

when AlertManagerConfig resource is used it adds a namespace matcher to the root route, which effectively stops propagation of the alerts down the tree.
...

List of matchers that the alert’s labels should match. For the first level route, the operator removes any existing equality and regexp matcher on the namespace label and adds a namespace: <object namespace> matcher.

...

Should there b

[2021-03-08 11:16] simonpasquier commented on #3900
Closed as duplicate of #3737

[2021-03-08 11:16] #3900 closed

[2021-03-08 11:29] simonpasquier commented on #3898
Closed as a duplicate of #3889. The operator doesn't support `metadata_config` for remote write.

[2021-03-08 11:29] #3898 closed

[2021-03-08 16:41] amuraru opened #3901 "Add support for common RuleGroup labels for alerts and recorded rules"
**What is missing?**

For our usecase it would be useful if we could declare once a set of labels at the RuleGroup `group` level that are inherited by all individual rules
https://github.com/prometheus-operator/prometheus-operator/blob/4fe6a6b5e276780ac387156bbdf081b0953b653f/example/prometheus-operator-crd/monitoring.coreos.com_prometheusrules.yaml#L38-L39

More-over we'd also benefit of a global

[2021-03-09 00:17] metalmatze commented on #3431
I've started a new repo https://github.com/prometheus-operator/website and a current version is deployed to: https://prometheus-operator-metalmatze.netlify.app/

[2021-03-09 14:33] shaikatz commented on #3840
I would like to try and work on that feature.
Can I get some pointers?
If we remove the namespace definition from the generated sd config, what will happen if the user has two targets matching the same labels on two different namespaces?
Maybe we can just move the namespace to drop relabeling instead?

[2021-03-09 14:39] #2193 closed

[2021-03-09 15:03] jan--f commented on #3211
Looks like #2822 re-added the liveness probe and we should now have the correct liveness and readyness probes (see https://github.com/prometheus-operator/prometheus-operator/pull/2822/files#diff-930519027f29e25f016e4d8134774e70edcc0c7ab725c5a664dd66da55d07392L600).

As @juliantaylor points out we don't really need a startup probe for prometheus and I'd agree. So this issue can probably be closed?

[2021-03-09 16:33] #3839 closed

[2021-03-09 18:40] Zeka13 commented on #2821
@paulfantom thx that's helped a lot

[2021-03-09 19:19] mmerrill3 commented on #3737
wow, didn't expect to come across this behavior.  My main use case was for secrets as well, but we have alerts that trigger our monitoring vendor across "all" namsepaces, simply by having a label on the route.  I have hundreds of namespaces, and I don't want to have to make hundreds of alertManagerConfig CRDs.  Yeah, it would be nice to be able to disable the match against the object's namespace i

[2021-03-10 10:06] simonpasquier commented on #3840
@shaikatz yes the idea is to remove the `namespaces: names: [foo]` part from the generated kubernetes SD config and drop targets that don't match the service monitor's namespace at the relabeling stage.
I'm not sure how we're going to expose this to the users: probably a new field in the Prometheus CRD?

[2021-03-10 11:56] shaikatz commented on #3840
I think a minimal change without changing user experience is moving the namespace filtering to relabeling stage only if no namespaceSelector was specified.
WDYT?

[2021-03-10 12:02] shaikatz commented on #3840
I think this setting should be in the operator level, something that will indicate that Prometheus has full cluster list/watch access, and it will make the generated SD config use relabeling instead of SD namespace filtering.

[2021-03-11 09:08] #3766 closed

[2021-03-11 10:22] costimuraru commented on #3119
What happens when pods are registered in multiple `Services` - each with their own ServiceMonitor? The pods will be scraped multiple times, leading to duplicated metrics. In that scenario PodMonitor might make more sense.

[2021-03-11 11:22] muffl0n commented on #3636
I'm also facing this issue and tried the following example:
nginx-deployment.yaml:
[code]
nginx-podmonitor.yaml
[code]

I created both in the namespace "kube-prometheus-stack" where the prometheus-operator is running. The operator sees a change but does not pick up the PodMonitor I created
[code]

I know that scraping port 9402 makes no sense in this example. But the PodMonitor should be selected

[2021-03-11 12:05] muffl0n commented on #3636
Nevermind! `probeSelectorNilUsesHelmValues` was set to true and so
[code]
was added, resulting in
[code]

So either setting `prometheus.prometheusSpec.probeSelectorNilUsesHelmValues` to false or defining an own   `prometheus.prometheusSpec.podMonitorSelector.matchLabels` like so
[code]
helps.

Other solution would be to add this label to the PodMonitor
[code]

[2021-03-11 16:40] sektorhybrid commented on #3587
K8s: 1.16.x / prometheus-stack:14.0.1

The liveness probe is removed here https://github.com/prometheus-operator/prometheus-operator/pull/3502 and I was getting the following error
[code]

I removed the liveness lines and it worked for me
[code]

[2021-03-11 23:16] jandersen-plaid opened #3908 "AlertmanagerConfig routes combined into a central Alertmanager do not respect `continue: false` under `routes`"
**What happened?**

We are currently templating out alerts for different teams to take on alerts from different namespaces. As part of this, we have placed an AlertmanagerConfig in each namespace that represents routing instructions for the team (as well as a central secret that contains more generalized or cross namespace routing rules).

While defining one of these rules, we set `continue: false

[2021-03-12 06:55] #3892 closed

[2021-03-12 12:07] brancz commented on #3119
This can potentially happen yes. The recommendation is to narrow down with labels when this happens.

[2021-03-12 12:08] brancz commented on #3737
Implementation is in progress to allow this https://github.com/prometheus-operator/prometheus-operator/pull/3821

[2021-03-12 15:41] Shadi opened #3911 "Support configuring prometheus using additionalScrapeConfigs only"
Hello,

We want to configure one of our prometheus instances using additionalScrapeConfigs, mainly because the configuration is simple and using a pod or servicemonitor adds a little bit of relabeling logic we don't need, but currently not specifying a servicemonitor causes the prometheus instance configuration to be "unmanaged"

**What is missing?**

a property for manually writing simple scrape

[2021-03-12 15:52] simonpasquier commented on #3737
_Recap after discussing the topic on the [#prometheus-operator-dev](https://kubernetes.slack.com/archives/C01B03QCSMN/p1615539203010100) Slack channel with @brancz_

1. We should extend the `Alertmanager` spec so it can hold a reference (by name) to the root `AlertmanagerConfig` resource + fields for the global and template parameters.

[code]

If defined, it would be used to generate the base Ale

[2021-03-12 17:00] simonpasquier commented on #3908
It's a deliberate decisions that `continue` is set to true for all first-level routes. Imagine you have 2 `AlertmanagerConfig` resources declared in the same namespace: if `continue: true` wasn't enforced, we wouldn't know which of the 2 routes would process the alert.
The same goes for the top-level routing tree coming from the main Alertmanager config secret which can declare sub-routes too.

[2021-03-12 17:04] simonpasquier commented on #3911
Probably related to #2787

[2021-03-12 17:29] jandersen-plaid commented on #3908
Ah, I see! I appreciate you pointing that out.

Would strictly ordering (e.g. based off of the alertmanagerconfig name) the generated routes be a `good-enough` replacement for this? Or is the preferred solution to always declare a lower node route which will stop processing the alerts?

[2021-03-12 17:37] jandersen-plaid commented on #3908
It seems ([looking at this line](https://github.com/prometheus-operator/prometheus-operator/blob/master/pkg/alertmanager/amcfg.go#L85)) like there is already an order enforced on the `AlertmanagerConfig`s too, so the only other thing to do would be to make the order of generation obvious to the end users.

[2021-03-14 17:34] mikechengwei commented on #3889
/assign

[2021-03-14 17:34] mikechengwei commented on #3889
I will help finish it.

[2021-03-16 08:10] paulfantom opened #3917 "Manage PodDisruptionBudget objects for alertmanager and prometheus"
**What is missing?**

It would be good to have PodDisruptionBudget objects for prometheus and alertmanager pods.

**Why do we need it?**

To ensure better deployment stability.

**Environment**

* Prometheus Operator version: all

**Anything else we need to know?**:

PDB objects were first created in kube-prometheus project in https://github.com/prometheus-operator/kube-prometheus/pull/1035 and im

[2021-03-16 08:50] lilic commented on #3917
Nice, that makes sense! I am guessing just having them be a field for Prometheus and Alertmanager Custom Resources? Can you maybe describe how the spec would look like and we can have someone contribute this, unless you wanted to do it?

[2021-03-16 09:31] paulfantom commented on #3917
I don't think there is a need for a new field. PDB should be configured when `spec.replicas` is greater than 1 and removed when it is 1 or Prometheus/Alertmanager resource was deleted. As for PDB itself, it is included in links from the issue description.

[2021-03-16 09:35] coderanger commented on #3917
Playing devils advocate, would there be value in disabling the creation if the user wanted to make a fancier one? I'm struggling to even think of a use case, would have to be something like `replicas: 4` and you want to allow 2 to restart at a time. Or maybe something fancier with the sharding system?

[2021-03-16 09:39] lilic commented on #3917
Yes exactly unsure about how this would work with the sharding mechanism, @brancz?

[2021-03-16 13:22] lilic opened #3921 "user guides: Section on best practices"
It would be great to include a best practices section and it can also be used as something to link to our users when they are just starting out.

We could include things like:
- unbound high cardinality
-  when to use ServiceMonitor vs PodMonitor
-  symptom vs cause-based Alerting
- etc.

[2021-03-17 08:26] amuraru opened #3919 "Add a new prometheusRulesExcludeFromEnforceLocalNamespace to exclude namespace labeler for local namespace"
**What is missing?**

Currently when `enforcedNamespaceLabel` is configured there is no way to exclude for ns labeling all the rules in a given namespace. While `prometheusRulesExcludedFromEnforce` exists this is hard to manage for helm based installation of the prometheus-operator where a set of "built-in" mixins based PrometheusRules are installed as part of the installation.

More specifically,

[2021-03-17 09:31] paulfantom commented on #3919
This looks like a hack to fix a shortcoming of the installation method.

Since this would essentially duplicate what `prometheusRulesExcludeFromEnforce` is intended to do, it has the potential to complicate UX while not giving many benefits to end-users.

[2021-03-17 09:48] aivanov-citc opened #3920 "Scraping small remote clusters from single monitoring K8s cluster"
Good day. Thanks for your great Prometheus operator!
In our company, many small Kubernetes clusters are used to develop services. I would like to collect metrics from each of these clusters and transfer them to a single monitoring  K8s cluster. Prometheus federations are not suitable for us, since we will have to install a Prometheus instance on each of these clusters, and this is an additional ov

[2021-03-17 18:04] akhalyavka opened #3922 "Allow file references in PodMonitorEndpointTLSConfig"
**What is missing?**
PodMonitorEndpointTLSConfig doesn't allow to reference certificates and key files.

**Why do we need it?**
This is causing us some trouble with Istio. As explained in [istio docs](https://istio.io/latest/docs/ops/integrations/prometheus/#tls-settings), sidecar proxy can't deal with scraping requests because they are destined for pod's IP, so in order to scrape metrics over TLS

[2021-03-17 19:19] amuraru commented on #3919
Closing as wont do

[2021-03-17 19:19] #3919 closed

[2021-03-18 09:08] mcinquin opened #3923 "Use Probe CRD with service discovery"
**What is missing?**
Probe would be used with Service Discovery

**Why do we need it?**
I use Consul as Service Discovery and i need to implement Blackbox Exporter for all my instances.
Maintain a static list of targets is painful

**Environment**
GCE instances with Consul
GKE
Prometheus-Operator hosted on GKE

**Anything else we need to know?**:

[2021-03-18 16:43] simonpasquier commented on #3889
Closed by #3915

[2021-03-18 16:43] #3889 closed

[2021-03-19 08:32] paullaffitte opened #3925 "In quick start documentation, "Access Prometheus" command is not working"
**What happened?**

I tried to run the command in the [quick-start#access-prometheus](https://prometheus-operator.dev/docs/prologue/quick-start/#access-prometheus) section of the doc, but it didn't work.

**How to reproduce it (as minimally and precisely as possible)**:

run `kubectl --namespace monitoring port-forward svc/alertmanager-k8s 9090`

* Prometheus Operator version:

`0.46.0`

**Anythin

[2021-03-19 12:00] lackhoa commented on #2848
@ Hiteshchaudhari1 Did you find any solution for this issue?

[2021-03-19 12:29] pratnaparkhi2000 commented on #1660
Hi, got same issue. I am monitoring my own machine using node_exporter, prometheus. Configured alertmanager for slack notifications, it worked well but for gmail notification, it is showing error

level=info ts=2021-03-19T11:46:09.522Z caller=cluster.go:640 component=cluster msg="gossip settled; proceeding" elapsed=10.000520621s
level=warn ts=2021-03-19T11:48:16.892Z caller=notify.go:674 component

[2021-03-19 13:46] suvl commented on #3488
@simonpasquier this issue seem a bit stale, but I'd like to add our reasons for wanting this.

So we have some hub-and-spoke installation where the prometheus stack will be on the cloud and everything else will be on-prem. Right now there's no DNS propagation from on-prem to the cloud so DNS resolution will not work. Alertmanager needs to connect to the corporate SMTP server that lives on-prem and

[2021-03-19 15:05] simonpasquier commented on #3922
It's on purpose that PodMonitors (as well as Probes) can't reference files that reside on the Prometheus pod's filesystem. It avoids exposing sensitive materials to the scraped targets inadvertently. ServiceMonitors support this because they predate PodMonitors and we can't change the API.

[2021-03-19 15:09] simonpasquier commented on #3488
@suvl thanks it makes a lot of sense and I agree that it is in the scope of the operator.

[2021-03-19 15:09] simonpasquier commented on #3908
I fear that relying on alphabetical ordering would be brittle and non-obvious, especially in cases where the operator aggregates resources from many namespaces.
It would make sense to include your consideration in #3821 which discusses how we could reuse the AlertmanagerConfig resource to the whole Alertmanager configuration.

[2021-03-22 14:39] mshivanna commented on #3344
I had to delete duplicate svcs

[2021-03-23 05:28] raz08 opened #3926 "Istio-proxy sidecar in Prometheus with Prometheus operator"
I have setup where all the applications are part of Istio service mesh i.e. enabled MTLS with Istio. In this case Prometheus is failing to pull metrics from pod directly because istio proxy running in that pod enforcing client to use certificates and https.

I tried with adding scheme https and passing certificates through servicemonitor. It is working fine.

But I'm looking for a solution where P

[2021-03-23 07:38] cuizhiyang opened #3927 "Prometheus-Operator automatically finds monitoring based on files, adds invalid, requests support, thanks!"
Does prometheus_operator support to add configuration file to monitor external host of K8S cluster, such as monitor machine based on Prometheus + Consul automatic discovery, the way I add ConfigMap to CRD resource in Prometheus does not work, is there any solution?Like
-job_name: consul_exporter
	consul_sd_configs:
	  - server: '10.x.x.x:8500'
	relabel_configs:
	  - source_labels: [__meta_consul_t

[2021-03-23 08:11] lilic commented on #3927
@cuizhiyang yes there is a way to do this via additional scrape configuration https://github.com/prometheus-operator/prometheus-operator/blob/be98a9ef311ccafa862e095069344ccb6f47579c/Documentation/additional-scrape-config.md

I am assuming you tried this with the above, can you maybe explain what did not work?

[2021-03-23 08:29] cuizhiyang commented on #3927
cat  prometheus-additional.yaml
- job_name: consul_exporter
        consul_sd_configs:
          - server: 'consul.tk8s.com'
        relabel_configs:
          - source_labels: [__meta_consul_tags]
                regex: .*,prome,.*
                action: keep
          - source_labels: [__meta_consul_service]
                target_label: job

![image](https://user-images.githubusercontent.com/3

[2021-03-23 08:31] cuizhiyang commented on #3927
kubectl create secret generic additional-scrape-configs --from-file=prometheus-additional.yaml --dry-run -oyaml > additional-scrape-configs.yaml

Above I generated the secret command!

[2021-03-23 10:02] cuizhiyang commented on #3927
Sorry, I have found the problem and found that there is something wrong with the format of the configuration file, which has been modified. The correct configuration file is as follows

- job_name: consul_exporter
  consul_sd_configs:
    - server: 'consul.default.svc.cluster.loacl:8500'
  relabel_configs:
    - source_labels: [__meta_consul_tags]
      regex: .*,prome,.*
      action: keep
    -

[2021-03-23 10:02] #3927 closed

[2021-03-23 10:03] simonpasquier commented on #3926
Using the [`containers`](https://github.com/prometheus-operator/prometheus-operator/blob/master/Documentation/api.md#prometheusspec) field of the Prometheus spec, you can inject any container you want to be deployed alongside the Prometheus container.

[2021-03-23 11:46] raz08 commented on #3926
Ok , thanks simonpasquier.

I also tried adding annotation way.
But it is not injecting sidecar with annotations.

`    annotations:
      sidecar.istio.io/inject: "true"
`
after this i described pod and checked but no sidecar injected. I have istio installed on my cluster.

[2021-03-23 14:12] sysadmin-exe commented on #3493
I have the same issue and this is the out put of describing the prometheus cluster role

Name:         prometheus-monitoring-prom-operator
Labels:       app=prometheus-operator-operator
              app.kubernetes.io/managed-by=Helm
              chart=prometheus-operator-9.3.2
              heritage=Helm
              release=prometheus-monitoring
Annotations:  meta.helm.sh/release-name: prometh

[2021-03-23 14:41] jemag opened #3929 "Delete grafana datasource through configuration (configmap)"
**What did you do?**

- Remove 2 datasources from Grafana datasource config map.
- Restart Grafana pod
- Check if the datasources got deleted within grafana
- Realize datasources are still there

**Did you expect to see some different?**

Datasources to be deleted

**Environment**

* Prometheus Operator version:

    quay.io/prometheus-operator/prometheus-operator:v0.43.2

* Kubernetes version inf

[2021-03-23 14:44] akhalyavka commented on #3922
@simonpasquier Is it reasonable to assume that this functionality in ServiceMonitor will be deprecated in the future? Could it be added to PodMonitors with the flag to opt-out of this behavior (like `ArbitraryFSAccessThroughSMsConfig`)?

[2021-03-23 15:23] jemag commented on #3929
My bad, grafana is not included in this project but rather in kube-prometheus

[2021-03-23 15:23] #3929 closed

[2021-03-23 16:37] simonpasquier commented on #3926
From #3922 and https://istio.io/latest/docs/ops/integrations/prometheus/#tls-settings, it seems that Istio doesn't play well with the Prometheus operator but I don't know much more.

[2021-03-23 17:52] akhalyavka commented on #3926
@raz08 `sidecar.istio.io/inject` annotation has no effect if sidecar injection is not enabled in the namespace. https://istio.io/latest/docs/ops/configuration/mesh/injection-concepts/

[2021-03-24 01:00] rramadoss4 opened #3930 "Enabling network policies crash loops prometheus operator,kube-state-metrics,grafana"
I tried to enable network policies using Calico in EKS server..
I got below errors and Prometheus Operator,Kub-state-metrics go into crashloopback status
[code]

I tried to add some egress for this issue:
[code]

But it didn't help..Could someone throw light on this please?

[2021-03-24 09:22] paulfantom commented on #3930
Judging by the log messages something is blocking prometheus-operator and kube-state-metrics access to kubernetes API server and they cannot operate. It is possible that you need an additional NetworkPolicy for this path.

[2021-03-24 10:50] paulfantom commented on #3917
Friendly ping @brancz :)

[2021-03-24 14:22] raz08 commented on #3926
@simonpasquier I have tried the TLS settings as I mentioned query description and it works. Thank you for the link.

@akhalyavka I have added both namespace label and annotation . But I'm getting psp and security context issues . Trying to fix them.
So It will work in this approach right? if I'm able to fix the psp issues. IF we have istio-proxy injected successfully will it be able to scrape metr

[2021-03-24 14:25] rramadoss4 commented on #3930
yeah..I got that..but issue is even after adding the below policies, it didn't work...
[code]

[2021-03-24 14:42] sswieton opened #3931 "Support role service for discovery in probe"
**What is missing?**

Support of service role in Probe CRD.
Today, probe CDR supports only static and discovery via ingress.

**Why do we need it?**

To supervise K8s services using blackbox exporter, and be able to dynamically discover Services.

This is the Job I'd like to build using Probe CR.

    job_name: 'blackbox'
    metrics_path: /probe
    params:
    module: [tcp_connect]
    kubernete

[2021-03-24 14:56] rramadoss4 commented on #3930
Adding below egress to open up connectivity to vpc cidr worked...
[code]

[2021-03-24 14:57] #3930 closed

[2021-03-24 15:59] sichvoge opened #3932 "Prometheus Operator GA / v1.0"
First of all. Thanks to everyone for their hard work on the Operator.

I am wondering if there is any desire to move the Prometheus Operator to GA or v1.0 in the near future? Right now it's still labeled as "beta" but I feel that it is being used by a lot of people already and already went through so many cycles that it should be "beta" anymore. Any insights would be much appreciated.

[2021-03-24 16:47] viperstars commented on #3931
I tried to add this feature. When I started, I found the design of "ProbeTargets" is not abstract enough.

And I think the "ProbeTargets" should be like this:

[code]

We can create the "Probe" like this,
[code]

Of course we can add the "service" probe just like the "ingress".
[code]
But it will be hard to config and maintain.
User can configure both "Ingress" and "Service" in the "ProbeTargets".

[2021-03-24 19:34] coderanger commented on #3932
Beta has specific meaning in Kubernetes parlance. It means that the feature or subsystem (or in this case, project) is stable enough for general use but there is some expectation that backwards incompatible data changes are likely before GA. It doesn't imply that the project is unstable or that you shouldn't use it :)

[2021-03-24 21:39] gautam2187 commented on #2693
@zhangxingdeppon curious if you found the solution.

[2021-03-25 09:14] lilic commented on #3932
cc @prometheus-operator/prometheus-operator-reviewers @prometheus-operator/prometheus-operator-triage please have a look. Thanks, Christian for opening this!

I remember us having some checklist of features we wanted before making it go v1.x but I honestly forget what they were, so this might be good place to collect those.

[2021-03-25 09:18] sswieton commented on #3931
hi,
Thanks for your quick reply
The solution based on  ProbeTargetDynamicConfig and DynamicProbeTarget
would be really great

The supervision of service with blackbox exporter and a dynamic discovery
of Service is really an important feature for your solution.

Thanks a lot !
best regards
sylvie

Le mer. 24 mars 2021 à 17:47, viperstars ***@***.***> a
écrit :

[2021-03-25 10:32] paulfantom commented on #3932
I am aware that some of our APIs are stable already, but making project GA has some marketing considerations and it means most of the project we ship is (or should be) stable, not only our APIs. We recently introduced AlertmanagerConfig CRD and there is a lot of confusion around this, so we should probably try to graduate it to beta or stable before going GA. Additionally, we have quite a lot of c

[2021-03-25 13:05] akhalyavka commented on #3926
@raz08 Injecting a sidecar is not enough because Istio cannot initiate mTLS on requests destined to pod IP. You're gonna need to use a trick from https://istio.io/latest/docs/ops/integrations/prometheus/#tls-settings
Be aware that this trick only works with `ServiceMonitor` - `PodMonitor` does not allow file references in TLS config.

[2021-03-25 13:24] akhalyavka commented on #3926
Sorry, I re-read your issue and saw that you already tried that. We tried omitting `traffic.sidecar.istio.io/includeInboundPorts: ""` annotation that disables inbound traffic interception and it worked fine, seemingly.
At least we saw mTLS between grafana and prometheus and could expose prometheus with istio ingressgateway. I can't verify that everything works correctly though because we bailed on

[2021-03-25 16:07] simonpasquier commented on #3431
https://prometheus-operator.dev is up and running (well almost because netlify has issues right now). I guess we can close it :)

[2021-03-25 17:12] raz08 commented on #3926
I was able to inject the istio-proxy sidecar and setup ingressgateway to reach Prometheus.

But still scraping metrics from mTLS enabled applications is failing with 503.

Endpoint | State | Labels | Last Scrape | Scrape Duration | Error
-- | -- | -- | -- | -- | --
http://192.168.49.162:9090/metrics | DOWN |  | 1.265s ago | 2.705ms | server returned HTTP status 503 Service Unavailable

[2021-03-25 17:37] yishaihl opened #3935 "Unable the get the metrics of spring boot application in Prometheus Operator"
i'm trying to get metrics from spring boot application inside my prometheus operator:
**eks: ver. 1.18
kube-prometheus-stack:
version: 12.12.1
appVersion: 0.44.0**

**i checked and the application is indeed pulling out the metrics via endpoint:**

http://myloadbalancer/internal-gateway/actuator/prometheus

https://ibb.co/tHJ7MGQ

[code]

so its all good from this end.

**this is my ServiceMonitor:

[2021-03-25 19:43] d-m opened #3936 "Combined Alertmanager config does not include `match` statements in `AlertmanagerConfig` child routes"
**What happened?**

We allow teams to create and customize `AlertmanagerConfig` resources in their namespaces so that they can manage their own routing trees. One team attempted to route all `KubeJobFailed` alerts to null, by adding the following to their `AlertmanagerConfig` resource's spec:

[code]

When this resource was combined into the Alertmanager config, the `match` section was dropped, re

[2021-03-26 12:26] nicolastakashi opened #3937 "Enable volumes and volumesMount on Thanos SideCar"
**What is missing?**

Currently, there is no way to mount volumes in a side-car container

**Why do we need it?**

Since we are able to use `objectStorageConfigFile`, mount volumes on the sidecar container will enable us to use secrets as volumes in a different path than `/prometheus`

**Environment**

N/A

* Prometheus Operator version: `v0.46.0`

**Anything else we need to know?**:

N/A

[2021-03-26 13:15] simonpasquier commented on #2988
This is available for a few releases now: https://github.com/prometheus-operator/prometheus-operator/blob/master/pkg/apis/monitoring/go.mod

[2021-03-26 13:15] #2988 closed

[2021-03-26 16:14] simonpasquier commented on #3937
This looks similar to https://github.com/prometheus-operator/prometheus-operator/issues/3322. Do you want to give a try?

[2021-03-26 17:18] hooten commented on #3706
I would like to work to update all of the `app` label names to use the recently added `app.kubernetes.io/name` label name. I need this for my use case anyway.

[2021-03-26 17:54] #3431 closed

[2021-03-26 21:15] sidewinder12s commented on #3801
Can also confirm we hit this as well setting shards to 5. Had to edit it back and forth to get it to add all the shards in.

[2021-03-27 10:31] gr8Adakron opened #3941 "Cadvisor metrics scarping generates - HTTP server returned HTTP status 403 Forbidden"
Hey, I have deployed Prometheus operator and Integrated with Linekrd, KMS, Node exporter - they are working as desired. As I am trying to scrape directly the `/metric/cadvisor` endpoint it say `HTTP server returned HTTP status 403 Forbidden` in the Prometheus Dashboard > Status > Targets.

<img width="1440" alt="Screenshot 2021-03-27 at 3 52 01 PM" src="https://user-images.githubusercontent.com/16

[2021-03-27 15:51] gr8Adakron commented on #3941
@coderanger - could you please help around on this?

[2021-03-28 05:40] gr8Adakron commented on #3941
Solved it. The trick is to provide cluster-admin role to Prometheus namespace as to scrape those metrics prometheus need highest privileged.
[code]

[2021-03-28 05:40] #3941 closed

[2021-03-28 14:45] janotav opened #3942 "Servicemonitor CRD schema allows invalid input"
**What happened?**

User uploaded invalid servicemonitor CR that was using invalid value in metricRelabeling action field. Prometheus-operator detects the configuration change but Prometheus fails to reload the configuration. If this happens during start up, Prometheus won't start at all.

**Did you expect to see something different?**

I expect the invalid servicemonitor to be rejected upon creat

[2021-03-29 10:00] QuentinBisson commented on #2398
One of the main use cases we have at Giant Swarm is to be able to apply the same silence across multiple clusters in a GitOps fashion (defined as desired state so it easier to track them).
Our silence operator, as explained by @corest renders the silence CR and applies them to Alertmanager. Them not expiring is mostly an implementation detail.

After thinking this through, maybe it would make sens

[2021-03-31 15:24] simonpasquier commented on #3942
Thanks for the report! Do you want to give a try?

Somehow related to https://github.com/prometheus-operator/prometheus-operator/pull/3914 but this particular issue needs to be fixed anyway.

[2021-03-31 19:41] nicolastakashi opened #3947 "Enable security context to the container level"
**What is missing?**

SecurityContext in container context.
Nowadays, we are only enabled to define security context to the Pod context, but it could be nice if there is a possibility to define the security context to the container context.

**Why do we need it?**

If you need to define properties such as `ReadOnlyRootFilesystem` that is only applied to the container level.

**Environment**

* Pro

[2021-04-02 02:50] Adam-Jin commented on #3247
I faced the same problem. At present, I have two inter-cloud vendors' nodes, and the intranet IP is not interoperable. At the same time, the nodes are all set up with externalip, but Prometheus uses the internal network IP to obtain metrics information, which of course cannot be obtained. The metrics-server has an option to specify the use of externalip access: --kubelet-preferred-address-types=Ex

[2021-04-02 11:38] jmichalek132 opened #3950 "Remote write configuration not propagated unless prometheus version is explicitly specified"
**What happened?**

Remote write headers did not get passed to prometheus. I put them in prometheus spec manifest but they did not get propagated into prometheus configuration. After looking at the code related to this I realized that this is caused by logic which checks if I have prometheus version which supports this feature.

[code]
https://github.com/prometheus-operator/prometheus-operator/blo

[2021-04-02 11:52] simonpasquier commented on #3950
Right it was an oversight when we released the latest version of the operator (we should have bumped to the default version of Prometheus). It would be fixed by #3946 and v0.47 is planned for next week.

[2021-04-02 12:16] jmichalek132 commented on #3950
Okay thank you.

[2021-04-02 14:29] simonpasquier commented on #3247
@Adam-Jin what you're saying is that you'd be fine if the operator had a flag to specify which address it should pick for nodes?

[2021-04-02 15:39] simonpasquier commented on #3932
IMHO there are different levels of stability guarantees. On top of my head:
* Custom resource definitions. For better or worse, most of them are v1 so they can already be considered "stable". For instance, getting rid of `ArbitraryFSAccessThroughSMsConfig` can't happen without bumping the version of the ServiceMonitor CRD. The only exception as @paulfantom mentioned is the AlertmanagerConfig CRD w

[2021-04-02 15:49] jandersen-plaid commented on #3908
That makes sense -- thanks for taking the time to explain the decision!

Part of this likely stems from our internal decision to have a federated alertmanager configuration (a central configuration in a system namespace, with some distributed ones in other namespaces) instead of a fully distributed or centralized configuration. Having `continue: false` makes sense there, but only if you hold an ac

[2021-04-02 15:49] #3908 closed

[2021-04-03 07:46] nicolastakashi commented on #3947
@simonpasquier if you want, I can open a merge request with a possible solution that I've implemented in a fork that I made.

[2021-04-03 07:47] nicolastakashi commented on #3937
@simonpasquier if you want, I can open a merge request with a possible solution that I've implemented in a fork that I made.

[2021-04-04 16:28] rdxilano opened #3952 "Customized CRD kind names"
**What is missing?**

In platforms such as Openshift, the current Prometheus CRD implementation makes it nearly impossible to install a private version of Prometheus because the platform operator CRD of the OpenShift must be shared with the private Prometheus.

**Why do we need it?**

Currently Prometheus Operator uses hard-coded CRD names for Alertmanager, PodMonitor, Probe, Prometheus,
Prometheu

[2021-04-05 08:19] rosulg commented on #3350
For my case, the PodMonitor started discovering my pod's metrics when I used the deprecated value `targetPort` instead of `port`.  NB! I am doing this for learning purposes, You should NOT use deprecated values.

[2021-04-05 12:58] Chams91 commented on #2558
@bibincatchme this is the expected behaviour for volumes provisioned with a storage class that doesn´t sepcify "Retain" as its reclaim policy. The volume and the pvc will be both deleted. Please adjust/create a new storage class that follows that desired retain state.

[2021-04-06 02:02] Adam-Jin commented on #3247
yes

[2021-04-06 04:53] raz08 commented on #3926
Now I'm getting different error.

Endpoint | State | Labels | Last Scrape | Scrape Duration | Error
-- | -- | -- | -- | -- | --
http://192.168.49.162:9090/metrics | DOWN |   | 1.265s ago | 2.705ms | GET "http://192.168.49.162:9090/metrics":EOF

[2021-04-06 08:00] shubhamc183 opened #3954 "AlertmanagerConfig not getting picked up"
My AlertmanagerConfig is not getting picked up by the Alertmanager. I have the CRD `monitoring.coreos.com.alertmanagerconfigs.yaml` version `0.46.0` applied in the cluster and I'm using `kube-prometheus-stack`.

Can someone guide me here?

**Environment**
K8s EKS

* Prometheus Operator version:
[code]

* Kubernetes version information:
[code]
**Prometheus-operator logs:** No logs are reflected whe

[2021-04-07 09:45] #3950 closed

[2021-04-07 10:00] jackyliusohu opened #3957 "prometheus in k8s restarts frequently, check the /kubernetes/audit log and find that it is deleted"
I found that there are sometimes 4 rule files and sometimes 5 rule files in the log. Why does this happen?
Is the number of generated files swinging back and forth to cause a restart？
Log when there is a problem
                         "volumeMounts": [{
					"name": "prometheus-k8s-business-a-rulefiles-0",
					"mountPath": "/etc/prometheus/rules/prometheus-k8s-business-a-rulefiles-0"
				}, {

[2021-04-07 11:25] paulfantom commented on #3952
There are no plans to add this feature due to the amount of complexity it would create. Ideally, this should be solved on kubernetes side.

As for OpenShift - v4.7.0 should have CRDs with `spec.properties.shards`.

[2021-04-07 13:14] brancz commented on #3952
As a matter of fact, we used to have this but had to hand-roll all clients, which was a huge source of errors and we eventually removed it. Unless the generators support this, I don't think this is something the prometheus operator maintainers can realistically maintain.

[2021-04-07 13:28] brancz commented on #3737
I think this sounds good on a high level. Just adding a few nuances:

This will probably make the code a bit odd, as it suddenly makes this AlertmanagerConfig special. I think I would truly embed this directly into the Alertmanager CRD.

I would suspect people want this to be ConfigMap key references.

[2021-04-07 14:35] simonpasquier commented on #3957
I don't see a bug here. The rules configmaps are generated by the operator based on the PrometheusRules resources associated to this Prometheus resource. It would mean that some PrometheusRules resources are added/removed over time causing the operator to regenerate the configmaps. If you look at the operator logs, you should see the syncs happening at regular intervals.

For what is worth, the op

[2021-04-07 15:08] mtherreault opened #3959 "Incompatible timestamp field value in json logs"
**What happened?**

The date format value of the timestamp field (`ts`) in JSON log entry is different when the error originates from the Golang `net/http` library. The [error logger wrapper](https://github.com/prometheus-operator/prometheus-operator/blob/v0.45.0/cmd/operator/main.go#L390) configured is using its own `ts` field (coming from the parsed entry) that has precedence over (overwrites) t

[2021-04-07 18:59] #3033 closed

[2021-04-08 06:57] gr8Adakron commented on #2840
I did the complete setup in one cluster where serviceMonitor was required then I apply the same setup to another where I didn't needed serviceMonitor and I was bewildered, eventually took few hours to narrow it down to this issue.

Anyway, it still persist - a workaround would be if its explicitly mentioned in the documentation of ScrapeConfig.

@mjpitz thanks

[2021-04-08 09:32] simonpasquier commented on #3959
from https://github.com/go-kit/kit/pull/438#issuecomment-273898973, it looks like we have to disable timestamps for the `net/http` logs. Do you want to give it a try?

[2021-04-08 09:32] simonpasquier commented on #3937
@nicolastakashi sure go ahead.

[2021-04-08 09:42] #3829 closed

[2021-04-08 11:14] paulfantom commented on #2840
We mention in docs in `serviceMonitorSelector` and `podMonitorSelector` that configuration is unmanaged when neither is specified. I agree this is vague and we should improve this message by adding similar information to `additionalScrapeConfigs` field. This would be the first and easy step, for a proper fix we should probably revise how to include additional scrape configurations and possibly foc

[2021-04-08 12:35] simonpasquier commented on #3737
I thought about it but then we have the Alertmanager CRD depending on a `v1alpha1` CRD. Unless we can state explicitly that these fields don't have the same stability guarantees?

:+1:

[2021-04-08 12:53] simonpasquier commented on #2840
IIUC we should add `p.Spec.AdditionalScrapeConfigs == nil` when considering whether Prometheus configuration should be managed or not.

https://github.com/prometheus-operator/prometheus-operator/blob/15ed70c2bb585a96d9611dc0771605dce376bebd/pkg/prometheus/operator.go#L1420-L1424

[2021-04-08 13:51] Prasoon6667 opened #3964 "Cant use volumeMount and volume for /prometheus"
I am using prometheus for some months now I am trying to convert deployment using operator. I am storing metrics in host machine itself and volumemount and volume section on my prometheus deployment yaml will look like this:-
`        volumeMounts:
        - mountPath: /prometheus
          name: prom-storage
        - mountPath: /etc/prometheus
          name: prom-config
        - mountPath: /va

[2021-04-08 14:15] sharoncr1 opened #3965 "Prometheus targets are not updated with current state of Kubernetes Endpoints"
**What happened?**

I am trying to set-up a monitoring system for a SpringBoot service. I have setup a pod, service and a ServiceMonitor for this. I've configured Readiness probe on the health end point and ServiceMonitor against the metrics endpoint. When the application becomes unhealthy, kubernetes de-registers the that pod ip from endpoints of that service. But this is not being picked up by t

[2021-04-08 19:41] nicolastakashi commented on #3937
@simonpasquier Done dude!

Can you take a look: https://github.com/prometheus-operator/prometheus-operator/pull/3966

I will fix the existing conflict

[2021-04-09 02:26] mtherreault commented on #3959
Indeed pretty simply to fix, just disabling standard flags (date+time) avoid it to be overridden:
[code]

[2021-04-09 07:42] jackyliusohu commented on #3957
@simonpasquier Thank you very much. You don’t need to restart to generate configmap, but you can see the log deleted by the operator in the master api log. Now I am sure that the node where the promethues load rules will appear, and sometimes there are 5 configmaps and sometimes 4 in the deletion log. That's why I thought of the restart caused by the need to mount different files when the files ch

[2021-04-09 14:40] fernandrone opened #3970 "Support OpsGenie Heartbeat"
**What is missing?**

As of now, the Prometheus Operator AlertmanagerConfig does not support [OpsGenie Heartbeat](https://docs.opsgenie.com/docs/heartbeat-api) integration.

AlertManager already supports it (see https://github.com/prometheus/alertmanager/pull/444#issuecomment-428493861), but this configuration does not work on the Operator because the Operator [does not accept](https://github.com/

[2021-04-09 17:59] n1kofr commented on #3846
Any news for this opened issue?
As k8s 1.21 is coming out and promoting Ipv6 Dual stack to Beta and enabled by default, we might need to have this fixed soon :)

[2021-04-11 16:43] mikechengwei commented on #3801
I can fix this pr. @lilic

[2021-04-11 16:43] mikechengwei commented on #3801
/assign

[2021-04-11 16:44] mikechengwei commented on #3795
I would be happy to help finish this requirement.

[2021-04-11 16:44] mikechengwei commented on #3795
/assign

[2021-04-11 17:11] mikechengwei commented on #3801
I found some log by enable debug log level.

[code]

After my analysis, I found a bug. When the first shard is created, it exits the loop. If the hash value of the first shard in the next loop has not changed, it will exit the loop directly and it will not create the next shard.

[2021-04-11 19:16] agentreno commented on #3350
I came across this because I had the same problem, which is because it's easy to mistake the meaning of `port` in this context.

From the output of `kubectl explain podmonitor.spec.podMetricsEndpoints`:
[code]

So give your port a name in the ContainerSpec:
[code]

And use it in the PodMonitor:
[code]

This fixed the issue for me and caused the target to be active in Prometheus.

[2021-04-12 11:11] munipravy opened #3977 "enabling external labels for Prometheus and alertmanager pods"
For enabling pod level labeling in Prometheus we are using podMetada under spec as shown below:
[code]

But we are unable to see labels on prometheus pods.
Please Kindly suggest us on this issue.

Env: GKE

prometheus operator version: prometheus-operator:v0.41.1
prometheus: prometheus:v2.20.1

[2021-04-12 11:25] paulfantom commented on #3977
There are two label sets behaving differently:
1) `prometheus: prometheus` label from `.metadata.labels` which is assigned to Prometheus object and it **isn't** propagated to pods.
2) `app: monitor` label from `.spec.podMetadata.labels` which should be assigned to pods.

If one of those two is not working as described, then please upgrade prometheus-operator to 0.46.0 to verify if this is still a

[2021-04-12 11:43] paulfantom commented on #2840
SGTM, anyone wants to create a PR?

Note: This needs to be documented :)

[2021-04-12 11:57] paulfantom commented on #3965
This is by design. Usually, you want to collect metrics from the application even if it is unhealthy/not ready, for example, to figure out why it is unhealthy or not ready.

[2021-04-12 13:21] paulfantom commented on #3964
`/prometheus` is managed by the operator. The expectation is to use `.spec.storage` field from PrometheusSpec to specify storage parameters. Note: this is a wrapper on volumeClaimTemplate and requires some sort of storage manager (hostPath is not directly supported).

[2021-04-12 18:31] xpepermint commented on #1859
The see same alerts of a fresh version of Kubernetes 1.20 created with `kops`.

Refs:
- https://github.com/prometheus-operator/kube-prometheus/issues/1089
- https://github.com/kubernetes/kops/issues/11211

[2021-04-13 00:51] fherbert commented on #3954
Your alermanagerconfig manifest has invalid route matching, according to the CRD definition
[code]

So your alertmanager config (route section) should look like:
[code]

[2021-04-13 06:36] munipravy commented on #3977
@paulfantom thanks for the response.

prometheus: prometheus label from .metadata.labels which is assigned to Prometheus object and it isn't propagated to pods.

[2021-04-13 09:30] munipravy commented on #3977
upgraded to latest  prometheus-operator to 0.46.0, even then my Prometheus pods are not reflecting with labels I am providing.

[2021-04-13 09:39] paulfantom commented on #3977
Could you share full Prometheus object?

[2021-04-13 10:09] munipravy commented on #3977
@paulfantom There are no error logs for my operator pod. Please find my Prometheus object below.
  ---
  apiVersion: monitoring.coreos.com/v1
  kind: Prometheus
  metadata:
    name: prometheus
    labels:
      prometheus: prometheus
  spec:
    podMetadata:
      labels:
        app: monitor
    alerting:
      alertmanagers:
        - namespace: prom-praveen
          name: alertmanager-service

[2021-04-13 10:38] paulfantom commented on #3977
And what is the metadata on prometheus pod?

[2021-04-13 10:57] munipravy commented on #3977
metadata is reflecting on Prometheus pods as below mentioned
  labels:
    app: prometheus
    controller-revision-hash: prometheus-prometheus-85745bf7
    operator.prometheus.io/name: prometheus
    operator.prometheus.io/shard: "0"
    prometheus: prometheus
    statefulset.kubernetes.io/pod-name: prometheus-prometheus-0

Problem is with podMetada, which is not reflecting on Prometheus pods

[2021-04-13 11:03] paulfantom commented on #3977
I think this is an edge-case. You are setting label with key `app` and that key is restricted by prometheus-operator which overrides it with `app: prometheus`. That's why you don't see your key from podMetadata.

To confirm my theory, please set some other label in `podMetadata.labels`, for example:
[code]

[2021-04-13 11:09] paulfantom commented on #3977
Just to note - we are in the process of removing the usage of `app` key in labels and replacing it with Kubernetes recommended labels like `app.kubernetes.io/name`. More in https://github.com/prometheus-operator/prometheus-operator/pull/3939

[2021-04-13 11:20] munipravy commented on #3977
@paulfantom thanks for your responses. It worked !!

[2021-04-13 11:20] #3977 closed

[2021-04-13 11:43] sharoncr1 commented on #3965
@paulfantom Is there a workaround or solution to achieve my requirement using Prometheus/Prometheus-operator?

A HeathMonitor kinda thing like ServiceMonitor where I can configure an endpoint, if not returning 200, Prometheus triggering an alert or removing that target?

[2021-04-13 12:56] paulfantom commented on #3965
It looks like what you are trying to achieve is cause-based alerting and this isn't something we advise to do. For more information on why I recommend reading https://docs.google.com/document/u/1/d/199PqyG3UsyXlwieHaqbGiWVa8eMWi8zzAn0YfcApr8Q/edit

If you want to know if the pod is ready then there is a metric from kube-state-metrics that reports the state of readiness probe and can be used for it

[2021-04-13 13:14] simonpasquier opened #3980 "Reduce the number of update operations on secrets managed by the operator"
We had to revert #3933 before releasing v0.47.0 because it caused CI failures. We should look at reverting the revert and fix the  bug causing the failure (though it hadn't' been identified).

cc @mikechengwei if you want to give it a try :)

[2021-04-13 13:34] mikechengwei commented on #3980
Ok. I will fix it

[2021-04-14 14:40] simonpasquier commented on #3954
What's the definition of the corresponding `AlertmanagerConfig` resource (in particular `alertmanagerConfigSelector` and `alertmanagerConfigNamespaceSelector`)?

[2021-04-14 14:46] simonpasquier commented on #3801
closed by #3974

[2021-04-14 14:46] #3801 closed

[2021-04-14 14:49] #3959 closed

[2021-04-14 19:03] fherbert commented on #3936
Your alermanagerconfig manifest has invalid route matching, according to the CRD definition
[code]
So your alertmanager config (route section) should look like:
[code]

[2021-04-15 02:22] mjpitz commented on #2840
I don't mind reworking a PR for this. I ran into issues getting tests to run locally last time. (you can see some of it on the linked PR I had put up previously).

[2021-04-15 07:35] simonpasquier commented on #3965
If you really want to filter out unready endpoints, you can drop them with the [`__meta_kubernetes_endpoint_ready`](https://prometheus.io/docs/prometheus/latest/configuration/configuration/#kubernetes_sd_config) label in relabel config.

[2021-04-15 11:04] tolleiv opened #3987 "Sigv4 RemoteWrite Support"
**What is missing?**

Prometheus 2.26.0 has added support for Sigv4 for the RemoteWrite configuration. (See [Changelog](https://github.com/prometheus/prometheus/blob/main/CHANGELOG.md). This is not yet configurable through the related Prometheus-CDR.

**Why do we need it?**

Using Amazon Managed Service for Prometheus currently requires some sidecar container to sign every request during remote_wr

[2021-04-15 12:18] #3706 closed

[2021-04-15 12:19] brancz commented on #2398
Yeah I think this makes sense. For what it's worth, we are already able to specify inhibition rules via the new AlertmanagerConfig CRD.

[2021-04-15 12:29] simonpasquier commented on #3987
Do you want to give it a try?

[2021-04-15 12:45] brancz commented on #3737
Yeah, I think we can just mark that explicitly as unstable.

[2021-04-16 06:32] XI1062-abhisheksinghal commented on #1660
getting below issue using ALert Manager to receive tha mails on gmails in case of alert fired , alerts are getting fired but not receiving the mails .
        caller=dispatch.go:309 component=dispatcher msg="Notify for alerts failed" num_alerts=1 err="gmail-notifications/email[0]: notify retry canceled after 2 attempts: create SMTP client: EOF"

        Below is the configuration i use
        glo

[2021-04-16 09:07] kakkoyun opened #3989 "Prometheus Agent Support"
Prometheus soon is going to have a lightweight version as an agent. https://github.com/prometheus/prometheus/issues/8305
It would be awesome to support this in the promethues-operator.

I've opened the issue to start the discussion and know what the maintainers think?

@prometheus-operator/kube-prometheus-reviewers

P.S: I'd be happy to work on this.

[2021-04-16 13:23] tolleiv commented on #3987
@simonpasquier - I indeed had some time and assume the referenced commits already solve it but couldn't yet figure out why my changes break the `make generate` toolchain.

[2021-04-16 15:03] pbnsilva opened #3990 "Can't increase scrape timeout for pod monitor"
I am trying to increase the scrape timeout of a pod monitor.

**What did you do?**
My PodMonitor:
[code]
In the prometheus dashboard, my podmonitor targets appear with the error `context deadline exceeded` and scrape duration still at 10s.

Additionally, the value of `scrape_timeout` in the Prometheus configuration (`Status`->`Configuration`) for the corresponding `job_name` is also still set at `

[2021-04-16 15:07] simonpasquier commented on #3989
+1 for me definitely. Because the agent won't have all capabilities of the Prometheus server (e.g. no rule evaluation,no alertmanager config, no API probably) and the plan is to have it as another binary, it might make sense to have another CRD for it. Obviously we need more details on what the agent will actually look like.

[2021-04-16 15:17] brancz commented on #3989
I think it might be a little early as the details haven't been fleshed/implemented out on Prometheus side even. It doesn't hurt to think about a high-level strategy of the CRD though.

I realize that this might be overloading things a bit, but this is sort of an opportunity for a new start, where we could re-think our mistakes from the existing Prometheus CRD/API. If you have time, I would very mu

[2021-04-16 16:34] simonpasquier commented on #3990
You need to increase scrapeInterval too probably (e.g. scrape interval needs to be equal or greater than the timeout).

[2021-04-16 17:51] pbnsilva commented on #3990
You're absolutely right. Thank you.

[2021-04-16 17:51] #3990 closed

[2021-04-16 18:48] yuha0 commented on #2670
fwiw, I believe this is a Prometheus issue(prometheus/prometheus#6934), and is not related to the operator.

Patiently waiting for the operator's auto sharding to become mature... ;)

[2021-04-18 16:03] camilamacedo86 commented on #3952
Hi @rdxilano,

When I try to install a private operator version 14.5.0 it fails since it attempts to set this attribute.

So, you want that your project uses a different version of Prometheus. Am I right? However, this diff version has the same APIs/CRDs and versions with new fields attributes.

If your project requires the API N/v1 then if you have N/v2 those are not the same. However, you cannot

[2021-04-18 16:56] enj commented on #3952
We encountered this problem as well.  You may find our [workaround](https://pinniped.dev/posts/multiple-pinnipeds) interesting.

[2021-04-18 17:21] enj commented on #3952
Related k/k issues:

https://github.com/kubernetes/kubernetes/issues/65551#issuecomment-400909534
https://github.com/kubernetes/kubernetes/issues/83413#issuecomment-537761637

[2021-04-18 19:35] rdxilano commented on #3952
Thanks all for your replies.
Since Prometheus Operator does not support programmable CR type names and kubernetes does not support namespaced CR types, I thought of using Prometheus without its operator.
I must decouple my application (and its internal Prometheus usage) from the cluster's Prometheus operator.
Any other short-mid term solution you might propose is welcome.

[2021-04-18 23:18] coderanger commented on #3952
Verbatim copying my response from the mailing list:

As a few others have mentioned, the deep issue here is that CRDs are cluster-global objects and there is no clear path towards changing that at this time. That is an issue for kube-apiserver and not something Kubebuilder or any particular operator can change. If you would like to work on that, the first step would be writing a KEP to lay out a p

[2021-04-19 09:23] ghazal-naderi commented on #2398
@corest, I have an issue while I have tried to use this.
`unable to recognize "STDIN": no matches for kind "Silence" in version "monitoring.giantswarm.io/v1alpha1"
`
Is it possible to let me know what can cause this error?

[2021-04-19 10:11] nicolastakashi commented on #3795
Could be nice if we have any documentation or example about resharding.

[2021-04-19 11:03] c-datculescu commented on #3608
Hit the same thing today, I was lucky i noticed `additionalScrapeConfigsSecret` present in the helm output and started looking into it, and stumbled upon this issue. The fix works just fine, but the documentation should probably be updated to reflect the proper way of setting this type of additional scrape configs up.

[2021-04-19 12:23] mikechengwei commented on #3795
I have submit a pr about it. refer #3991

[2021-04-19 14:52] rayitopy commented on #644
We were facing this issue. We noticed that we had multiple kubelet endpoints from previous installations.

We deleted the old ones and everything went fine.

[2021-04-20 06:08] nicolastakashi opened #3993 "Enable securityContext to Thanos sidecar container"
**What is missing?**

Possibility to defined `securityContext` to Thanos sidecar container.

**Why do we need it?**

Sometimes we need to define specific security contexts such as readOnlyRootFilesystem or allowPrivilegeEscalation and we can`t do that on the current version

**Environment**

* Prometheus Operator version:

    `v0.46.0`

**Anything else we need to know?**:

N/A

[2021-04-20 17:24] paulfantom opened #3995 "Incorrect build context in config-reloader image logs"
**What happened?**
Started prometheus config reloader and second log line indicates build context which is incorrect:
[code]

**Did you expect to see something different?**
I expected to see build context which comes from CI, possibly sth like `root@....`

**How to reproduce it (as minimally and precisely as possible)**:
Start config-reloader from quay.io

**Environment**

* Prometheus Operator ve

[2021-04-20 17:26] paulfantom commented on #3995
Possibly this line is causing it: https://github.com/prometheus-operator/prometheus-operator/blob/master/Makefile#L58. We should probably change it to something that indicates it was built by CI and not by a maintainer.

[2021-04-21 01:54] ethernoy commented on #3246
Hi, I have a question regarding these two fields too:

Let's say we have two Prometheus, namely A and B. B scape from /federate API of A using a hornorLabels=true service monitor. However, A and B both put a label "prometheus_replica" in its metric to indicate the Prometheus pod name and I wish to relabel A's "prometheus_replica" to something else in order to let B put its label on the scraped met

[2021-04-21 07:29] gr8Adakron opened #3996 "How to add multiple ServiceMonitor to PrometheusOperator object"
**What did you do?**
I have configured prometheus operator with 2 service monitors:
My service monitors files

[code]

Now I am refering the service monitor in the `prometheus-main-object` (Note: below YAML contain just issue-relevant field)

[code]

How do I add `app: backend` as well to the main object, I try doing like this:

[code]

But is didnt work as matchLabels works as `AND` operator.

An

[2021-04-21 07:50] paulfantom commented on #3996
Yes, that is [how label matches work in kubernetes](https://kubernetes.io/docs/concepts/overview/working-with-objects/labels/#label-selectors).

Solution is to use another label in ServiceMonitors (we most commonly use `prometheus: <name_of_prometheus_resource>`). This way you have a label dedicated for this purpose and you have a clear notion of which prometheus is scraping this ServiceMonitor (t

[2021-04-21 11:18] munipravy opened #3997 "Does Prometheus operator and application support Active Active Disaster recovery ?"
Looking for Disaster recovery set up for Prometheus, does this operator support ?

[2021-04-21 14:00] coderanger commented on #3997
No for prom-operator, no controller in Kubernetes supports multi-primary operations. We use active-passive with leader election through the K8s API. Prom itself doesn't really support anything but Cortex and Thanos both support multi-primary operations (in fact I don't think there is any way to do active-passive).

[2021-04-21 14:05] iamacceptable-daffodil commented on #2975
I had also the same problem but making changes to my config file to correct information resolved the same.

[2021-04-22 08:40] sicparvismagnaX opened #3998 "Prometheus did not discover correct label"
**What did you do?**
I have installed Prometheus with this repository using helm via youtube channel https://www.youtube.com/watch?v=QoDqxm7ybLc, Once I successfully installed Prometheus, I want to monitor the third party app which is nodeJS API. I have applied Servicemonitor as shown below

[code]

and here is my nodejs code

[code]

![Screen Shot 2564-04-22 at 15 39 09](https://user-images.githu

[2021-04-22 11:47] agermain commented on #1859
I'm also seeing the same on 1.19

[2021-04-22 19:04] rafaelsilvaaa10 opened #4000 "ServiceMonitor added but no targets (0/0 up)"
Hi, everyone.

**What did you do?**

I have a kubernetes application in the test namespace. this application exposes a /lalalametrics . I created her service monitor and it appeared, however the targets are 0/0.

**Did you expect to see some different?**

I expected to see the target 1/1.

**Environment**

* Prometheus Operator version:

`quay.io/prometheus-operator/prometheus-operator:v0.45.0`

*

[2021-04-22 22:15] rafaelsilvaaa10 commented on #3935
I have same problem.

[2021-04-23 10:17] Namrata3991 commented on #644
@simonpasquier, The issue was I was having more services for kubelet and the selectors were pointing to the old services, I updated the selectors and it worked.

[2021-04-23 15:35] flogfy commented on #1001
@chris530 how were you able to add these labels to the controller manager and the kube scheduler ?  I don't even have the pods and services associated with neither kube-scheduler nor kube-controller-manager. My kubernetes is installed with RKE.

[2021-04-23 15:56] stafot commented on #3993
@nicolastakashi If no other candidates to take it, I could work on it.

[2021-04-24 04:21] mohanagandlla commented on #3782
Isn't this feature is ready

[2021-04-24 07:31] gr8Adakron commented on #3996
Thanks for the response @paulfantom

Let me know if I am wrong but this means creating two prometheus-main object with each concentrating on different service monitor.

For example:
[code]

[2021-04-25 06:57] Belyenochi commented on #3608
same

[2021-04-25 23:51] revaniki commented on #3608
+1, through my for a loop .

[2021-04-26 06:57] efasel commented on #3862
Hi! It would be great to have that, would ease the life of our platform provider team a lot.  :+1:

[2021-04-26 12:40] AntonSmolkov commented on #3862
Support of `endpointSlice` with FQDN may also help with scraping external targets and fix https://github.com/prometheus-operator/prometheus-operator/issues/3204

[2021-04-27 09:39] Raynbag opened #4006 "AlertmanagerConfig Missing Global slack_api_url"
**What happened?**

alertmanager-generated secret created from alertmanagerconfig CRD is missing the global slack_api_url section causing an error in the alertmanager pod when trying to load the new config.

**Did you expect to see something different?**

Yeah, slack_api_url populated.

**How to reproduce it (as minimally and precisely as possible)**:

Create alertmanagerconfig CRD using the below

[2021-04-27 20:12] juandspy opened #4007 "Cannot find active targets"
**What did you do?**
I installed prometheus-community/kube-prometheus-stack and get all the metrics of my cluster but not the ones from a REST API I built in Golang.

**Did you expect to see some different?**
Yes. Inside Prometheus UI I see:

[code]

I don't know why the last one is 0/35 instead of 1/35. If Promtheus don't find the target I cannot monitor the API.

**Environment**

* Prometheus Op

[2021-04-27 20:39] paulfantom commented on #4007
You have an incorrect selector in ServiceMonitor. ServiceMonitor needs to match Service object using a kubernetes label selector.

This:
[code]

Needs to be matched by `spec.selector` in:
[code]

Try changing your ServiceMonitor `spec.selector` to:
[code]

[2021-04-27 21:02] juandspy commented on #4007
Thank you @paulfantom ! It was that. Now it seems to be down, but it may have to be related to the endpoint being HTTPS instead of HTTP.
![image](https://user-images.githubusercontent.com/42124482/116312366-a20e6d00-a7ac-11eb-8162-89a871f3f108.png)

[2021-04-27 21:02] #4007 closed

[2021-04-28 08:35] Belyenochi commented on #3608
I finally solved this problem by using kubernetes endpoints to simulate external service instances, then establishing kubernetes service to associate endpoints, and finally create servicemonitor to associate this service.

[2021-04-28 09:03] paulfantom commented on #3996
No. Solution is to use different labels, adding another `Prometheus` object will spin up another set of prometheus servers (unless this is what you want).

Use one selector in Prometheus object, like:
[code]
and use `prometheus: application-monitoring` label in all ServiceMonitors which need to be handled by that prometheus.

Additionally, if you have only one Prometheus server and wish for this s

[2021-04-28 12:28] simonpasquier commented on #3847
The issue is partly fixed by #3879. The problem still occurs when using an unprivileged namespace lister/watcher (e.g. when setting the `-namespaces` option) as explained [here](https://github.com/prometheus-operator/prometheus-operator/pull/3879#issuecomment-812431033).

[2021-04-29 06:59] sharoncr1 commented on #3965
I realise denying the pod from accepting traffic if health is down is a bad way to achieve monitoring goals... :smile: I just wanted to understand whether it's possible..

@paulfantom, I can't fully agree with your following statement though.

We are monitoring health of MicroServices running on K8s using Nagios over internet. But most of those services need not to be exposed to internet and they

[2021-04-29 07:12] sharoncr1 commented on #4000
@rafaelsilvaaa10 I kind of had a similar issue.

In my case, the issue was that the Prometheus instance was not able to identify the ServiceMonitors created for it.

Can you share your Prometheus yaml ?

To make sure your prometheus instance is able to find the service monitors, please try to define the `serviceMonitorSelector` in it and use corresponding labels on the ServiceMonitor definitions.

[2021-04-29 15:43] simonpasquier commented on #3995
Nice catch! Not sure if we need to keep `BuildUser`?

[2021-04-30 09:42] Whyeasy opened #4009 "Alertmanager-operated not selecting pods on GKE and version 0.47."
**What happened?**

When upgrading Prometheus-operator to version v0.47.0. The Alertmanager pods and statefulset is deleted and recreated, but it goes in to a crashloop. As the `alertmanager-operated` service doesn't select the pods and the endpoint is empty.

Errors in logs mention that it can't find any pods in the services and the pod restarts.

Labels on the service:
[code]
Selector:
[code]

L

[2021-04-30 12:09] Whyeasy commented on #4009
Issue is not related to labels or selectors. Seems an issue with the generated alertmanager yaml.

[2021-04-30 12:23] simonpasquier commented on #3998
The label selector of the service monitor doesn't match with the `test-api` service. Your service definition should be:

[code]

[2021-04-30 12:37] simonpasquier commented on #4006
Good catch! The field should be added here:
https://github.com/prometheus-operator/prometheus-operator/blob/981c6cdca48156442904bfae2c0da55245fcf673/pkg/alertmanager/types.go#L39-L65

Do you want to give it a try?

[2021-04-30 12:46] simonpasquier commented on #3993
you should be able to use a strategic merge patch as described in https://github.com/prometheus-operator/prometheus-operator/blob/master/Documentation/user-guides/strategic-merge-patch.md

[2021-04-30 14:20] MonicaMagoniCom opened #4013 "Updating Prometheus-operator fails to load rules"
We have deployed prometheus-operator v0.18.0 into our Kubernetes cluster, together with Prometheus v2.2.1 (I know it is an old version but I inherited this work from previous developers).
I would like to update to v0.20.0 but, once done, from the prometheus UI rules disappear and it says 'no rules defined'.

**This is the format of a rule:**
apiVersion: v1
kind: ConfigMap
metadata:
  name: prometh

[2021-04-30 14:52] paulfantom commented on #4013
Sorry, prometheus-operator v0.20.0 is almost [3 years old](https://github.com/prometheus-operator/prometheus-operator/releases/tag/v0.20.0) and as an open-source project, we tend to support only the latest versions of the operator. There are many changes in the rule loading path (one of which is the introduction of PrometheusRule CRD) and we do recommend to upgrade your environment.

[2021-05-02 07:20] puzzloholic commented on #2759
Hi @syst0m, could you share how to use tsdb analyze on prometheus on kubernetes pod, as I cannot exec into the pod itself

[2021-05-02 09:54] mikechengwei commented on #3942
I will fix this issus.

[2021-05-02 09:54] mikechengwei commented on #3942
/assign

[2021-05-03 08:22] MonicaMagoniCom commented on #4013
Hi Paul, thank you for your answer. I agree with you, the problem is related to the rules.They seem to be converted properly but then they are not loaded.
Do you suggest to update the operator step by step or to directly go to the latest version available?

[2021-05-03 09:00] paulfantom commented on #4013
Both will be hard as there are many changes between 0.18 and 0.47. If you have a lot of time but need to have this working most of the time I would recommend upgrading version after version and fixing stuff on the way. However, it might be simpler just setting up the secondary stack from the ground up based on 0.47, comparing both, and deprecating the older one when ready.

[2021-05-04 07:43] Raynbag commented on #4006
Hey,

Apologies, bank holiday weekend in the UK so been OOO.

I see there's a PR for this fix, thanks very much!

On your comment of giving it a try, apologies, how would I go about that exactly? @simonpasquier

[2021-05-05 09:56] unfor19 commented on #2950
I'm on AWS EKS v1.19, Rancher v2.3.4 and Prometheus-Operator 0.47.1

I had to disable Rancher Monitoring for this issue to stop. Would be great if you could add it as a note to the docs, something like

[2021-05-05 11:30] paulfantom commented on #2950
That seems like a good doc entry for Rancher, maybe consider pinging the rancher team about it? We as maintainers of prometheus-operator cannot list all quirks of every platform.

[2021-05-05 11:51] unfor19 commented on #2950
@paulfantom I guess you're right, I'll do that

[2021-05-06 10:14] #3998 closed

[2021-05-06 10:15] sicparvismagnaX commented on #3998
thank you.

[2021-05-06 14:53] desaintmartin opened #4020 "Thanos sidecar will no longer work with istio 1.10"
Currently, thanos-sidecar container will listen to [$(POD_IP)](https://github.com/prometheus-operator/prometheus-operator/blob/master/pkg/prometheus/statefulset.go#L644), `POD_IP` being fetched from `status.status.podIP`.

Using Istio, it is [stated to only listen to 127.0.0.1](https://github.com/prometheus-operator/prometheus-operator/blob/67a6f56d426ed87940af301cfd0833facd2b3af7/Documentation/th

[2021-05-06 17:07] aa920502 commented on #3756
I have the same issue........I tried to add the namespace under metadata to match what I have for alert mananager instance and alert rules, but email is still not working for me? Can anyone help take a look?

apiVersion: monitoring.coreos.com/v1alpha1
kind: AlertmanagerConfig
metadata:
  name: config-example
  namespace: default
  labels:
    alertmanagerConfig: example
spec:
  route:
    groupBy:

[2021-05-06 17:36] juliohm1978 opened #4021 "AlertManager installed by helm chart does not include alertmanagerConfigNamespaceSelector or alertmanagerConfigSelector"
**What did you do?**

Installed the basic operator using helm chart. The chart deploys a standalone AlertManager instance. I am trying to include AlertManagerConfigs into the cluster, but they are not picked up by this default AlertManager.

Only after patching the AlertManager to include

[code]

Then AlertManagerConfigs with that label are properly selected.

**_Question: How can I add `alertman

[2021-05-06 18:13] juliohm1978 commented on #4021
I think I was using the wrong helm chart.

Trying this one, which seems a lot more complete.

https://github.com/prometheus-community/helm-charts/tree/main/charts/kube-prometheus-stack

[2021-05-06 18:13] #4021 closed

[2021-05-06 20:41] caleb15 opened #4022 "Grafana chart incorrectly shows missing data as 0"
**What happened?**
Grafana dashboard shows missing data as 0

**Did you expect to see something different?**
I expected missing data to not be shown, so I could see that it is missing. 0 gives the false impression that the data is actually at 0.

**How to reproduce it (as minimally and precisely as possible)**:
Use https://github.com/prometheus-community/helm-charts/tree/main/charts/kube-prometheu

[2021-05-06 21:06] mguggi opened #4023 "Determine custom scheduler"
Is it possible to define a custom scheduler?

We use an SDS which have the opportunity to schedule the workload with data locality. For this feature we must define a custom scheduler for the created StatefulSet.  Unfortunately I've not found so an option/parameter ...

[2021-05-06 21:08] paulfantom commented on #4022
All dashboards are coming from [kubernetes-mixin](https://github.com/kubernetes-monitoring/kubernetes-mixin) project. Please open an issue there.

[2021-05-06 21:08] #4022 closed

[2021-05-06 21:13] coderanger commented on #4023
We've talked in the past about having a deepmerge option like `containers` but for the pod spec, that would probably handle this use case as well.

[2021-05-06 21:22] paulfantom commented on #4020
Listening on `0.0.0.0` would potentially break IPv6 compatibility.

[2021-05-06 22:58] caleb15 commented on #4022
thanks, I raised https://github.com/kubernetes-monitoring/kubernetes-mixin/issues/603

In that case https://github.com/prometheus-operator/prometheus-operator/issues/1182 should be transfered over as well right :thinking:

[2021-05-06 23:38] aa920502 opened #4024 "AlertmanagerConfig not being recognized as expected"
Hi team, I need some help identifying issue in my AlertManager Yaml file setup

Currently the alert rules are working, but AlertmanagerConfig is not properly read when I started Alertmanager service, I followed guide on https://github.com/prometheus-operator/prometheus-operator/blob/master/Documentation/user-guides/alerting.md but it's not helping with the issue

Here is my current alertmanager.ya

[2021-05-07 08:12] desaintmartin commented on #4020
Indeed. What about `--grpc-address=:10901` (same for http) ? Thanos uses standard http and net go api which, in the absence of specified host, will listen to all available IP adresses except multicast.

(btw 0.0.0.0 is the default host upstream: https://github.com/thanos-io/thanos/blob/deb599814af8c93fb29efb80d3c42ec88e530938/pkg/extkingpin/flags.go#L30)

[2021-05-07 13:40] simonpasquier commented on #4024
Does the AlertmanagerConfig resource live in the same namespace as the Alertmanager resource? Can you share the prometheus operator logs?

[2021-05-07 14:06] paulfantom commented on #4022
yes :)

[2021-05-07 18:13] aa920502 commented on #4024
Thanks for the response! How do I define the name space for AlertmanagerConfig resource? In my prometheus yaml file, I have this under the spec of Prometheus resource to specify the alert manager service
[code]

And I also have alert rules defined in the Prometheus yaml file
[code]

From this, should I just add `namespace: default`  in metadata field in AlertmanagerConfig?

[2021-05-07 20:51] aa920502 commented on #4024
Update: I just added namespace: default in metadata field in AlertmanagerConfig, but it's still the same..

[2021-05-08 04:14] #2012 closed

[2021-05-10 08:21] tarunptala commented on #2799
@chiragthaker would you mind describing what was the problem in your case and how did you resolve. we have similar issue.

[2021-05-10 13:11] guidoffm opened #4026 "Improvement wanted to use the "Probe" crd"
For the "Probe" CRD there is not enough documentation.

What I want to achieve:

I want to define a probe that queries the node exporter on a host. I found out that this yaml works:

[code]

The Probe API in the current form makes sense for the blackbox exporter.
But for just to query the node exporter this spec is not clear, because:

- I do both need `targets` and `prober` at the moment.
- I hav

[2021-05-10 17:24] guidoffm commented on #4026
I know about `additionalScrapeConfigs` and this is something we currently use. But we need to create this dynamically for node export not inside K8s. Our plan was to create a k8s operator that creates the `Probe` resources dynamically.
Maybe others will find this useful too if it would be possible to create any type of `Probe` the same way taht is used for `additionalScrapeConfigs`.

[2021-05-10 17:27] caleb15 commented on #1182
The dashboards come from the [kubernetes-mixin](https://github.com/kubernetes-monitoring/kubernetes-mixin) project. I would suggest transferring this issue over there BTW.

[2021-05-11 10:28] paulfantom commented on #1182
As @caleb15 mentioned, dashboards are sourced from kubernetes-mixin project. If this is still a problem, please open an issue there.

[2021-05-11 10:28] #1182 closed

[2021-05-11 15:48] #3849 closed

[2021-05-12 12:16] Sh1ftry opened #4030 "Prometheus operator validating webhook doesn't accept last_over_time function in rule expression"
**What happened?**
Trying to apply
[code]
ends with an error
[code]
Promtool says the rule is fine
[code]

**How to reproduce it (as minimally and precisely as possible)**:
Run `kubectl apply -f manifest.yaml` with above manifest and expect an error.

**Environment**

* Prometheus Operator version: v0.47.0
* Prometheus version: v2.26.0

[2021-05-12 19:08] costimuraru opened #4031 "Unable to make PodMonitor scrape pods while in startingProbe"
**What happened?**

We have a Kubernetes application which has a startupProbe. During this period, the pod is alive and is processing some warmup requests before it becomes ready. The pods are monitored using a PodMonitor. We noticed that the prom scraping starts working only after the pod becomes ready (after the startupProbe has completed). This means we are not able to see any metrics in Promet

[2021-05-13 10:23] #4013 closed

[2021-05-13 12:26] MonicaMagoniCom opened #4032 "Prometheus operator v0.43.0 not updating rules"
Hi, I'm using prometheus operator v0.43.0 together with prometheus 2.24.1. The problem I'm having is that if a change a rule (kind PrometheusRule), this is never reloaded. If I take back the operator to v0.40.0 everything works fine. This is my configuration:

[code]

[2021-05-13 12:29] Shashankft9 opened #4033 "Root AlertmanagerConfig and namespace matcher as optional"
This is to track the objectives of comment added here:
https://github.com/prometheus-operator/prometheus-operator/issues/3737#issuecomment-797577859

As I can understand, these are the pointers on which work could be done:
- adding the `baseAlertmanagerConfiguration` with root `alertmanagerConfigName` as a field in the alertmanager CRD spec. For this particular `alertmanagerConfig`, namespace matc

[2021-05-14 17:00] zet694 opened #4035 "Question - How to get hostname in alerts?"
Hello! I want to get hostname in labels to understand what the node has a problem, but my alerts contain only IP address like this:

[code]

I read about metric_relabel_configs but not understand where I can add this in `values.yaml` or add this in `values.yaml` (node_exporter)?

My labels right now:

![image](https://user-images.githubusercontent.com/16643155/118303781-84504000-b4ee-11eb-9c11-425

[2021-05-17 11:02] zet694 commented on #4035
Solution - Add this in nodeExporter (vaues.yaml)

[code]

[2021-05-17 11:02] #4035 closed

[2021-05-17 13:02] simonpasquier opened #4036 "Support authentication using OAuth 2.0"
**What is missing?**

Since v2.27.0 (https://github.com/prometheus/prometheus/pull/8761), Prometheus supports OAuth 2.0 authentication for scrapes, remote write, ...

**Why do we need it?**

To be on par with Prometheus capabilities.

[2021-05-18 18:03] agardiman opened #4037 "Alertmanager fails with slack api key from secrets"
**What happened?**
If I use a configuration like the following
[code]
(the value of `webhookURL` is the based64 of the dummy webhook `https://hooks.slack.com/services/REDACTED`)
the config reloader uptakes the AlertmanagerConfig, and merges it with with the default configuration.

But the alertmanager doesn't restart because it finds an extra \n character at the end of its `api_url` templated stri

[2021-05-19 12:20] gmodzelewski commented on #1319
Hello,

Unfortunately this issue happened again, after installing the kube-prometheus-stack version 14.5.100 in rancher k3s via helm crd. Don't know exactly if the extra service was installed at initial installation or in an upgrade installation afterwards when I changed quotas and limits.

# kubectl -n kube-system get services | grep kubelet

rancher-monitoring-kubelet                  ClusterIP

[2021-05-19 15:46] chadlwilson commented on #4009
Hello @Whyeasy - I've also been hit by this same root cause on an operator `0.47` upgrade. Wonder if there is a reason you closed this (other than the original title being a bit misleading)?

It does seem like a bug to me if it's generating fields that aren't valid with respect to alertmanager config. There is no `follow_redirects` documented at https://prometheus.io/docs/alerting/latest/configura

[2021-05-19 18:03] Whyeasy commented on #4009
Hi @chadlwilson,

The reason I closed it is because I got it working by removing `http_config: {}` in my alertmanager config. So for me the issue was "solved".

In your case it's indeed not a solution, as your proxy won't work. I would suggest to create a new issue (this time with a correct title 😉).

Sorry I can't help you further!

[2021-05-19 19:20] aendi123 opened #4040 "Question mark in service monitor endpoint path not working"
**What happened?**

A Question mark in the endpoint path is displayed correctly under "Configuration" in the Prometheus Webinterface but the scrape target is not working, because the ? is replaced by %3.

My Service Monitor:

[code]

I also tried:

[code]
Displayed correctly in the configuration:
![image](https://user-images.githubusercontent.com/40163655/118870348-bbf02b00-b8e6-11eb-87cc-dc8f83ef

[2021-05-20 10:58] talha0324 commented on #4024
Any update on this?

I'm using OpenShift version 4.7.1

[2021-05-20 11:07] talha0324 commented on #3954
I'm having same behaviour.
@fherbert  this doesn't fix it.

[2021-05-20 12:35] paulfantom commented on #4040
Try using [`params`](https://github.com/prometheus-operator/prometheus-operator/blob/master/Documentation/api.md#endpoint) for passing parameters in URI.

This should work:
[code]

You also shouldn't store sensitive information in plaintext, so consider using `bearerTokenSecret` for storing tokens. This way `params` shouldn't be needed at all. Like in:
[code]

[2021-05-20 13:09] paulfantom commented on #4031
What is in prometheus `/targets` page regarding this PodMonitor when the pod is starting up?

[2021-05-20 14:28] simonpasquier commented on #4009
Re-opening since it may be an issue for many users indeed.

[2021-05-20 14:29] wacuuu commented on #2858
If I understand correctly there still is no way to fix the issue if something goes missing by accident?

[2021-05-20 15:45] aa920502 commented on #4024
Still unresolved..  :(

[2021-05-20 16:01] simonpasquier commented on #4024
@aa920502 please run the operator with the debug log level and share the logs.

[2021-05-20 16:16] nantoniazzi commented on #3608
@Belyenochi Your external endpoints are static IP or did you manage to monitor external urls?

[2021-05-21 09:09] #4009 closed

[2021-05-21 09:20] chadlwilson commented on #4009
Thanks a lot @simonpasquier 👍

[2021-05-21 10:08] simonpasquier commented on #4040
Closing since it isn't an operator bug but a configuration issue.

[2021-05-21 10:08] #4040 closed

[2021-05-21 10:14] simonpasquier commented on #4032
You should have a `--watched-dir` argument for the config-reloader container. Can you share the prometheus operator's logs?

[2021-05-21 10:20] simonpasquier commented on #4030
We need to bump the prometheus version in `go.mod`. Do you want to submit a PR?

[2021-05-21 10:20] MonicaMagoniCom commented on #4032
Actually I have seen that the problem does not concern only rules. Starting from operator 0.41.0, the operator never syncs with Prometheus. This means that every change I make in Prometheus is never reflected. Until version 0.40.0 everything work correctly but from 0.41.0 it seems that the operator is not in sync with Promethus. Am I missing something?

From the operator logs we have the following

[2021-05-21 10:22] MonicaMagoniCom commented on #3512
I'm experiencing the same problem but I did not deploy with the project kube-prometheus-stack. Any news?

[2021-05-21 10:25] simonpasquier commented on #4023
https://github.com/prometheus-operator/prometheus-operator/pull/3899 is another example of why it would be useful. I agree that it would give more flexibility to users and solve lots of "small" issues. As long as there's a big warning sticker "use at your own risks", I'm fine with it.

Cc @prometheus-operator/prometheus-operator-reviewers to get more feedback about having a deep-merge capability f

[2021-05-21 12:12] talha0324 commented on #4024
[log.txt](https://github.com/prometheus-operator/prometheus-operator/files/6522383/log.txt)

These are the logs

[2021-05-21 12:30] talha0324 commented on #4024
and these are my configurations
[code]

[2021-05-21 14:50] simonpasquier commented on #4037
Indeed we should trim the trailing `\n`. Would you like to contribute the fix?

[2021-05-21 15:02] simonpasquier commented on #4032
Yes v0.41.0 introduced Probes CRD so you need to make sure that the Probes CRD is configured on your cluster.

[2021-05-21 15:46] simonpasquier commented on #4024
@talha0324 your logs say that you're running prometheus operator v0.38.1 but this version doesn't support AlertmanagerConfig...

[2021-05-21 15:54] aa920502 commented on #4024
@simonpasquier  what is the least version of prom operator that supports AlertmanagerConfig?

[2021-05-21 15:59] simonpasquier commented on #4006
Oh now I see what happens for you @Raynbag. You've got a typo in your AlertmanagerConfig yaml

[code]

[2021-05-21 16:00] simonpasquier commented on #4006
note that you might be hit by #4037

[2021-05-21 16:16] simonpasquier commented on #4024
Given AlertmanagerConfig is still v1alpha1, you want the latest stable release (e.g. v0.47.1).

[2021-05-24 08:28] MonicaMagoniCom commented on #4032
Is mandatory to have it? I thought that it could properly work even if probe CRDs are not present, since we are not using them

[2021-05-24 10:02] Raynbag commented on #4006
Hi @simonpasquier

Thank you very much replying, and for pointing out my yaml error.

Tested this morning and no longer getting the same error. Slack notifications aren't going through but I suspect this is an issue with my config.

Happy for this to be closed.

[2021-05-24 10:02] #4006 closed

[2021-05-24 19:28] henrytseng commented on #2607
Could someone explain what the jsonnet would look like?  there's a number of Prometheus objects.

[2021-05-24 23:21] barrowkwan commented on #4037
Hi, I wonder if this is fixed?  I hit the same problem and I have checked my yaml is correct.  thanks

[2021-05-25 13:23] alexisph commented on #3204
Hi. I came across this issue in our OpenShift clusters. Here's how I solved it:

1. Create service with externalName as the public URL
2. Create endpoints with service IP address and same name as service above
3. Create servicemonitor for this new service which replaces the `__address__` label

[code]

I was then able to scrape the FQDN!

[2021-05-25 16:00] paulfantom commented on #2607
@henrytseng this is adding oauth-proxy sidecar to prometheus pod: https://github.com/openshift/cluster-monitoring-operator/blob/master/jsonnet/prometheus.libsonnet#L318-L381

[2021-05-25 16:31] qudongfang opened #4044 "replicaExternalLabelPrefix"
**What is missing?**

`replicaExternalLabelPrefix ` configuration option.

**Why do we need it?**

Thanos-query running in Kube-mgmt talks to multiple prom clusters across multiple regions.
For example:

- Kube cluster: `us-east-1`

- Kube cluster: `eu-west-1`

**Environment**

multiple prom clusters.

**Anything else we need to know?**:

[2021-05-25 18:51] BenCoughlan15 opened #4045 "slack_api_url_file value is missing"
**What happened?**

**Did you expect to see something different?**

**How to reproduce it (as minimally and precisely as possible)**:

Use config from here:
https://github.com/prometheus/alertmanager/commit/59c7fd5053d503037702ad10e4a733aac89e615a

* Prometheus Operator Logs:

[code]

**Anything else we need to know?**:

the file to change is : https://github.com/prometheus-operator/prometheus-ope

[2021-05-26 07:30] zhengwe opened #4046 "Readiness probe & Liveness probe failed"
kube-prometheus branch v0.8.0

kubectl describe po -n monitoring alertmanager-main-2
Readiness probe failed: Get "http://10.244.104.38:9093/-/ready": dial tcp 10.244.104.38:9093: connect: connection refused
Liveness probe failed: Get "http://10.244.104.38:9093/-/healthy": dial tcp 10.244.104.38:9093: connect: connection refused

kubectl logs -f alertmanager-main-2 -c alertmanager -n monitoring
lev

[2021-05-26 12:17] delulu commented on #3246
You can simply use the settings below to achieve it, and it is processing label rename and drop at the same time, which seems to be more efficient.
[code]

[2021-05-26 16:47] vignesh-v-nutanix opened #4047 "opening storage failed"
**What happened?**
prometheus stateful sets going in crashloopbackoff

**Did you expect to see something different?**
i expected to see it running

**How to reproduce it (as minimally and precisely as possible)**:
[code]

**Environment**

* Prometheus Operator version: 0.38
*
*

    `Insert image tag or Git SHA here`

* Kubernetes version information: v1.18.0

    `kubectl version`v1.21.0

* Kuber

[2021-05-26 17:31] #2691 closed

[2021-05-27 11:16] amuraru commented on #1897
https://github.com/kubernetes/enhancements/tree/master/keps/sig-apps/1847-autoremove-statefulset-pvcs addresses this upstream in STS

[2021-05-27 12:22] simonpasquier commented on #4032
yes

[2021-05-27 12:26] simonpasquier commented on #4037
Tthis is still open. Can you make sure that your secret's value doesn't have a trailing \n?

[2021-05-27 12:56] simonpasquier commented on #4047
It is probably an ownership issue but it doesn't look like you're using persistent storage. Can you share the statefulset definition?

[2021-05-27 13:05] simonpasquier commented on #4045
Thanks for the report. Do you want to tackle it?

[2021-05-27 13:37] simonpasquier commented on #4044
Do you mean that you want the operator to provide more flexibility when generating the external `prometheus_replica` label (e.g. being able to have `prometheus_replica: us-east-1.$(POD_NAME)`)?
Why don't you add another external label (using `externalLabels`) which indicates the region/zone?

[2021-05-27 13:40] BenCoughlan15 commented on #4045
Sure, but I can't see how to raise a PR 🤔

[2021-05-27 14:20] qudongfang commented on #4044
Thanks for the suggestion. This works fine.

At the same time, The `$(POD_NAME)`  seems to be unreasonably long to me in my case `prometheus-${releaseName}-kube-prom-prometheus-0`.

It would be **nice to have** some flexibility to customize it.

[2021-05-28 06:59] #4046 closed

[2021-05-28 08:56] lorenzo-biava commented on #1024
Looks like this is actually available via the `containers` override field in `PrometheusSpec`, `AlertmanagerSpec`, etc.
@brancz I guess the issue can be closed.

E.g. via Helm:
[code]

[2021-05-28 15:04] beorn7 opened #4048 "Setting the `--storage.tsdb.no-lockfile` isn't necessary anymore"
**What happened?**

The operator sets the `--storage.tsdb.no-lockfile` flag, which needlessly disables the check for multiple instances of Prometheus using the same data directory.

**Did you expect to see something different?**

Not set the `--storage.tsdb.no-lockfile` flag.

**How to reproduce it (as minimally and precisely as possible)**:

Start Prometheus, check out the UI, go to Status → Comm

[2021-05-28 15:19] keithlayne opened #4050 "`app` label removed from prometheus in 0.48.0"
I upgraded to 0.48.0 via the prometheus-community/kube-prometheus-stack chart, and experienced breakage because the `app` label was removed from prometheus, and service selectors no longer matched. This seems like an unintentional break.

@metalmatze suggested I file an issue here.

I missed this line in the release notes, or I would have been more confused:

app labels will be removed in v0.50.

[2021-05-28 16:35] nicolastakashi commented on #1024
I've used this using the merge patch strategy as mentioned by @lorenzo-biava
But I see that as an workaround and not the final solution.

[2021-05-31 11:33] anothersrewhocancode opened #4053 "read WAL backfill checkpoint read records corruption in segment"
**What happened?**
one instance of Prometheus is going in CrashLoopBackOff

**Did you expect to see something different?**
yes to see it running

**How to reproduce it (as minimally and precisely as possible)**:
kubectl logs prometheus-k8s-1 -c prometheus -n monitoring

**Environment** kops cluster

* Prometheus Operator version: v2.4.2

    `Insert image tag or Git SHA here`

* Kubernetes version

[2021-05-31 13:04] Davidrjx commented on #2359
similar case as aws efs csi which has implemented NodeGetVolumeStats rcp call, but no any exposing metrics with efs pv usage in prometheus, even can not find efs pv.

[2021-05-31 14:39] simonpasquier commented on #4050
I can confirm that the breakage wasn't intentional. We'll work on a v0.48.1 patch release.

[2021-05-31 15:11] rcarre opened #4054 "prometheus-prometheus-0 Pod failed when StorageSpec defined as volumeClaimTemplate"
operator:v0.47.1
k8s cluster : Rancher/openstack

I don't get any error when using default emptyDir setup for StorageSpec. As soon as I update the config with volumeClainTemplate, both pvc and pv are created but the prometheus-prometheus-0 ends up with error. However, no error in promethus-operator pod logs.
Thanks for your support

[code]

[code]

[code]

[2021-06-01 08:08] paulfantom commented on #4054
It looks like files inside PV are stored with different user and group permissions. Consider using `securityContext` to run prometheus with different user.

[2021-06-01 08:56] #4030 closed

[2021-06-01 09:10] rcarre commented on #4054
Thanks @paulfantom for your reply.
All namespace created in my cluster come with a psp (Pod Security Policies) with restricted unlike the default namespace which come with a psps unrestricted. My Prometheus setup is fully hosted in the default namepace.
Not sure to fully understand what you mean by running Prometheus with different user ... I guess that this part is handled by the operator in the

[2021-06-01 09:22] simonpasquier commented on #4054
https://github.com/prometheus-operator/prometheus-operator/blob/master/Documentation/api.md#prometheusspec ?

yes you probably need to pass something other than the default security context so your Prometheus container gets a uid/gid with the correct permissions (maybe look at `fsGroup`).

[2021-06-01 11:24] uhthomas opened #4057 "thanos sidecar is too restricted"
**What is missing?**

The Thanos sidecar section of the `Promethues` CRD is too restricted. It makes deployments which don't exactly align with what was envisioned almost impossible without implementing the sidecar manually.

**Why do we need it?**

Every organisation has different ways of operating applications, having the flexibility is important.

Take for example, I want to use [rook](https://

[2021-06-01 11:40] fpetkovski opened #4058 "Enforce godoc comments when linting go code in the CI"
**What is missing?**
The go linter in the CI workflow does not report missing or invalid godoc comments on exported types and functions.

**Why do we need it?**
It makes sure all exported types and functions have documentation in the proper format. Proper documentation makes the code easier to use both from inside the project and by third party code. Streamlining this process in the CI also helps

[2021-06-01 12:00] uhthomas commented on #4057
So, upon reading the [PromethuesSpec](https://prometheus-operator.dev/docs/operator/api/#prometheusspec), specifically the `containers` attribute, it looks like some of this can be resolved.

This took a lot of digging, and doesn't quite solve the original problem but is a great step in the right direction.

[2021-06-01 13:04] paulfantom commented on #4057
Passing `objstore.config` to thanos sidecar is 100% possible without manipulating `containers` from PrometheusSpec. It is done with `objectStorageConfig`. Take a look at [`ThanosSpec`](https://github.com/prometheus-operator/prometheus-operator/blob/master/Documentation/api.md#thanosspec) for full list of supported options of `PrometheusSpec.thanos` field.

[2021-06-01 13:07] uhthomas commented on #4057
It doesn't look like Thanos substitutes environment variables in its config which is what's making this hard.

I could be wrong, and even would very much like to be wrong 🙂

The other option is to override the `args`, but that is not very nice.

[2021-06-01 13:13] paulfantom commented on #4057
No, it doesn't. Neither do prometheus. Hence I don't see why prometheus-operator should follow a different pattern.

Additionally, the example you posted is from some deployment tool that injects those variables and creates a deployment with those variables built-in. This pattern is bad on many levels as some of those variables should be secret. Especially consider this line: https://github.com/uh

[2021-06-01 13:21] uhthomas commented on #4057
That is not correct. The example I posed is completely transparent, the env substitutions (`$(BUCKET_NAME)`) are part of the actual `Deployment`

[code]

Prometheus Operator creates a deployment containing `--objstore.config=$(OBJSTORE_CONFIG)` which means the env substitutions which would usually happen, don't

https://github.com/prometheus-operator/prometheus-operator/blob/53d01635ed08b7149e5265

[2021-06-01 13:26] paulfantom commented on #4057
Since in both cases one stores secrets in a Secret object, what would be the benefit of storing full config (and passing SecretKeySelector via `objectStorageConfig`) vs only doing a variable substitution?

From maintainer pov, having `objectStorageConfig` is much simpler and creates simpler code hence it is preferable. Plus we don't need to update code whenever thanos changes config parameters. Th

[2021-06-01 13:36] uhthomas commented on #4057
I understand. The problem in my case is the credentials for the object storage buckets are provisioned automatically by Rook. They are then available through a ConfigMap and Secret which are to be provided to containers as environment variables.

I don't really know what the solution is, but I will not be the only one to face this problem as Rook is, and will become, more commonplace.

[2021-06-01 13:37] uhthomas commented on #4057
It might be possible to use an init container to create `/aws-config` but that is once again, kind of hacky.

[2021-06-01 13:41] XiamenGeek opened #4061 "Targets is ZERO on prometheus after create servicemonitor"
**What did you do?**
I have created a servicemonitor which try to scrape metrics, but it not work. It's 0 UP on Prometheus Targets page.
Actually  I can access this k8s service metric endpoint through the match labels and namespace. And this k8s service is located on [default] namespace
**Did you expect to see some different?**

**Environment**

* Prometheus Operator version:
v0.31.1

* Kubernetes

[2021-06-01 13:46] paulfantom commented on #4057
Seems like a possible solution would be to use sth like `ConfigMapSecret`. This way you can template a thanos config needed by prometheus-operator using values from secret provided by rook.

Example of such thing can be seen in https://github.com/thaum-xyz/ankhmorpork/blob/master/apps/monitoring/raw/alertmanager-secret.yaml (this is for alertmanager config).

[2021-06-01 13:53] uhthomas commented on #4057
Yeah, this is tricky.

Having to install an entire operator just to read environment variables for a Thanos config seems a bit much.

[2021-06-01 14:20] paulfantom commented on #4057
Yeah, I agree, this may be too much.

As far as I can see there are few more ways of fixing this and all of them have some issues:
1) prometheus-operator reads env variables and synthesizes thanos config from them - if thanos changes CLI parameters, then prometheus-operator needs an update to make it compatible.
2) thanos reads env variables directly - up to thanos maintainers. But generally picki

[2021-06-01 14:37] uhthomas commented on #4057
FWIW I've opened an issue with Thanos asking what they think is the best way to use environment variables with configs.

https://github.com/thanos-io/thanos/issues/4293

[2021-06-01 15:00] uhthomas commented on #4057
Well, here's my hacky solution for the interim. It's using an init container to push the envsubst'd config into a shared emptyDir volume.

https://github.com/uhthomas/automata/blob/6bfe6628ccdc14915e2cd7242db9029d8422cbce/k8s/pillowtalk/prometheus/prometheus_list.cue

Thank you

[2021-06-01 16:11] keithlayne commented on #4050
C'mon github, you're supposed to close this automatically. Thanks @fpetkovski!

[2021-06-01 16:11] #4050 closed

[2021-06-01 16:43] paulfantom commented on #4061
Does the Service object have `app: example-app` label on it?

[2021-06-01 21:59] miguel-callejas-coderoad-com commented on #3204
@alexisph that's great. Can you share a little bit more of your configuration. I'm trying configuring a Service with ExternalName property to reach the FQDN outside Kubernetes with your recommendations, but had no luck.

[code]

and the Service Monitor looks like

[code]

[2021-06-02 01:27] XiamenGeek commented on #4061
Yes, it has.

[2021-06-02 07:14] rcarre commented on #4054
I am managing Pod Security Policy by the means of RBAC; in this context, I do not understand well which value I should update securityContext with.

Here is  the ls -l  /prometheus output from prometheus container when emtyDir is used instead of volumeClaim:
[code]
This would mean that I should force my Persistent Volume to be mounted as nobody:nobody (65534:65534) so that Prometheus container can

[2021-06-02 09:38] rcarre commented on #4054
Apologize. I mixed up Pod Security Policy and Pod Security Context. Here under Prometheus manifest update does fix the permission issue.
[code]
Thanks @paulfantom and @simonpasquier for your help

[2021-06-02 18:27] vignesh-v-nutanix opened #4063 "alert manager erroring"
**What happened?**
i upgraded the version of alert manager to v0.22.0

**Did you expect to see something different?**

**How to reproduce it (as minimally and precisely as possible)**:
kubectl edit sts alertmanager-main -n montitoring

**Environment**

* Prometheus Operator version: 0.42

    `Insert image tag or Git SHA here`

* Kubernetes version information:

    `kubectl version` 1.20

* Kuber

[2021-06-02 18:48] vignesh-v-nutanix commented on #4063
[code]

[2021-06-02 19:50] tiagomeireles commented on #3875
@brancz Thank you for the `paused: true` tip. It improved the situation but doesn't resolve this problem.

[code]

To work around user facing downtime I am currently running an additional prometheus object with the same scrape targets. My upgrades look like this:

1. Pause the additional prometheus object.
2. Upgrade prometheus-operator.
3. Unpause the additional prometheus object after approximat

[2021-06-03 07:57] XiamenGeek commented on #4061
Looks no containerport is added on deployment...

[2021-06-03 07:57] #4061 closed

[2021-06-03 12:58] gr8Adakron opened #4064 "ExternalLabels not coming in all the metric"
I have configured Kube-state-metric/cadvisor pipeline, sending data to Prometheus-operator with High Availability along with externalLabels to be added to each metric but somehow `externalLabel` showing for some metric while absent for other (especially metrics by Cadvisor)

* Prometheus operator version : 0.46
* Kubernetes: 1.18
* Scraping Cadvisor using scrape config
[code]

For example common m

[2021-06-03 13:42] gr8Adakron commented on #4064
@jfchevrette

[2021-06-03 14:01] qudongfang opened #4065 "Option to turn off the default relabel_configs"
**What is missing?**

Option to turn off the default relabel_configs.

**Why do we need it?**

It ends with some useless extra labels with `kube-state-metrics`.

servicemonitor

[code]

the default `relabel_configs` will be

[code]

and the metrics look like

`kube_pod_labels{container="kube-state-metrics", endpoint="http", exported_namespace="flux-system", exported_pod="helm-controller-7b7fc87856

[2021-06-04 03:37] djamaile commented on #4048
Can I pick this up?

[2021-06-04 03:57] djamaile commented on #4045
If @BenCoughlan15 doesn't want to, I can pick this up?

[2021-06-04 10:46] #4048 closed

[2021-06-04 10:52] simonpasquier commented on #4065
you can still drop the labels that you don't care with additional relabel_configs/metric_relabel_configs. I'm not sure that exposing a parameter to disable default relabel_configs make sense.

[2021-06-04 10:53] simonpasquier commented on #4053
the only solution is to delete your /prometeus/wal directory. There's little that the operator can do here.

[2021-06-04 10:58] simonpasquier commented on #4064
I'm not sure to understand this. Do you use Prometheus remote write or federation? External labels are only added when Prometheus communicates with Alertmanager, federation and remote write endpoints.
Could you also share the generated config?

[2021-06-04 11:06] simonpasquier opened #4067 "Add end-to-end test to verify the upgrade from the current stable version to the next one"
**What is missing?**

As per $TITLE, we don't exercise the upgrade path in the e2e tests.

**Why do we need it?**

#4050 is a regression introduced in v0.48.0 (fixed by #4055) that could have been caught earlier instead of breaking end-users.

[2021-06-04 11:54] Jammicus commented on #4037
I'll pick this up

[2021-06-04 12:45] simonpasquier commented on #4054
can you close the issue if everything's settled for you?

[2021-06-04 12:55] Jammicus commented on #4063
Can you provide the contents of `/etc/alertmanager/config/alertmanager.yaml`? You can get this by exec-ing into the Alertmanager container

[2021-06-04 17:05] gr8Adakron commented on #4064
@simonpasquier

[code]

This is the Prometheus config with externalLabels `milkyway` and exporting it to Victoria Metric VM.

[2021-06-04 17:06] jacksondaw commented on #3344
For anyone else running into this, this issue pointed me in the right direction https://github.com/kubernetes-monitoring/kubernetes-mixin/issues/392

The duplicate services are in the kube-system namespace.

After upgrading to 14.x on one cluster the services were:

kubelet
prometheus-operator-kube-p-kubelet

I resolved the issue by deleting the kubelet svc.

On another cluster the duplicate servi

[2021-06-05 13:13] vignesh-v-nutanix commented on #4063
@Jammicus thanks for the message. I have solved it. The problem was my secret the alert manager consumed. It had two recievers.

[2021-06-05 13:14] vignesh-v-nutanix commented on #4063
I will close this

[2021-06-05 13:14] #4063 closed

[2021-06-05 16:32] Jammicus opened #4070 "Sporadic failures on test PromPreserveUserAddedMetadata"
**What happened?**

Occasionally PromPreserveUserAddedMetadata E2E test will fail.

**Did you expect to see something different?**

Should consistently pass

**How to reproduce it (as minimally and precisely as possible)**:

1. Create yourself a kind cluster as per the readme.
2. Build locally the current master branch
3. Change test-e2e in the makefile to be the following command `	go test -timeo

[2021-06-06 15:51] mikechengwei commented on #4067
I think i can do it.

[2021-06-07 06:50] lin1005q opened #4071 "probe crd support params"
**What is missing?**

Prometheus ScrapeConfig support Params, but ProbeSpec only support module param.

[code]

[code]

[code]

I modified the probeSpec code to support the param parameter.
And update snmp-exporter support web config.

Then

1. add components `snmp-exporter.libsonnet`
2. `build.sh example.jsonnet`
3. `kubectl create -f manifests/setup`
4. `kubectl create -f manifests/`
5. `kubectl

[2021-06-07 07:11] #4054 closed

[2021-06-07 07:13] rcarre commented on #4054
pvc fully supported thanks to fsgroup parameter

[2021-06-07 08:28] xuanyuanaosheng opened #4072 "Please support multiple in Additional Scrape Configuration"
I found and test that the additional scrape configurations only support one secret at https://github.com/prometheus-operator/prometheus-operator/blob/master/Documentation/additional-scrape-config.md.

Could you please support multiple prometheus-additional.yaml ?  This can better classify the different monitor point.

[2021-06-07 09:40] tomjohnburton opened #4073 "Operator stuck on cache sync"
**What happened?**
I have been getting alerts from alertmanager that `PrometheusOperatorNotReady`.
Upon checking the logs it seems that the `alertmangeroperator` and `prometheusoperator` components are stuck while performing the `cache` sync.

* Prometheus Operator version:
`quay.io/prometheus-operator/prometheus-operator:v0.48.0`
    `Insert image tag or Git SHA here`

* Kubernetes version inform

[2021-06-07 10:36] tomjohnburton commented on #4073
Closing,
I was giving it too few resources so it was choking at startup

[2021-06-07 10:36] #4073 closed

[2021-06-07 10:58] paulfantom commented on #4070
This is the same for analogous test in alertmanager e2e suite - `AMPreserveUserAddedMetadata`.

[2021-06-07 11:33] paulfantom commented on #4072
IMHO it would be better to focus on https://github.com/prometheus-operator/prometheus-operator/issues/2787 and deprecate `AdditionalScrapeConfig` completely.

[2021-06-07 15:02] paulfantom opened #4076 "StatefulSet pod selectors shouldn't change between operand releases"
**What happened?**

StatefuleSet was recreated when prometheus version was changed and this caused STS recreation. Same behavior happens for alertmanager.

**Did you expect to see something different?**

STS is not recreated on operand version update.

**How to reproduce it (as minimally and precisely as possible)**:

Start prometheus-operator with prometheus in version N-1 and update to N

**Envi

[2021-06-07 15:25] gr8Adakron commented on #4064
@simonpasquier Hey,

Here I have two labels:
[code]

So I am getting the label name `cluster` in all the metric but the label `universe` is only present in few. When this kind of issue is possible? This is quiet weird behavior as all the metric are surpassing the same prometheus instance so ideally both the labels must be present.

Any idea would be helpful

[2021-06-07 16:00] paulfantom commented on #607
This issue hasn't been updated in almost 2 years. If you think this is still valid, please reopen it.

[2021-06-07 16:00] #607 closed

[2021-06-07 16:00] paulfantom commented on #1179
This issue hasn't been updated in almost 2 years. If you think this is still valid, please reopen it.

[2021-06-07 16:00] #1179 closed

[2021-06-07 16:01] paulfantom commented on #887
Closing in favor of #3335

[2021-06-07 16:01] #887 closed

[2021-06-07 16:03] paulfantom commented on #1532
This issue hasn't been updated for a longer period of time. Since then we made significant changes to prometheus-operator. If you think the issue is still valid, please reopen it.

[2021-06-07 16:03] #1532 closed

[2021-06-07 16:03] paulfantom commented on #730
This issue hasn't been updated for a longer period of time. Since then we made significant changes to prometheus-operator. If you think the issue is still valid, please reopen it.

[2021-06-07 16:03] #730 closed

[2021-06-07 16:04] paulfantom commented on #796
This issue hasn't been updated for a longer period of time. Since then we made significant changes to prometheus-operator. If you think the issue is still valid, please reopen it.

[2021-06-07 16:04] #796 closed

[2021-06-07 16:04] paulfantom commented on #827
This issue hasn't been updated for a longer period of time. Since then we made significant changes to prometheus-operator. If you think the issue is still valid, please reopen it.

[2021-06-07 16:04] #827 closed

[2021-06-07 16:05] paulfantom commented on #873
This issue hasn't been updated for a longer period of time. Since then we made significant changes to prometheus-operator. If you think the issue is still valid, please reopen it.

[2021-06-07 16:05] #873 closed

[2021-06-07 16:05] paulfantom commented on #879
This issue hasn't been updated for a longer period of time. Since then we made significant changes to prometheus-operator. If you think the issue is still valid, please reopen it.

[2021-06-07 16:05] #879 closed

[2021-06-07 16:05] paulfantom commented on #1005
This issue hasn't been updated for a longer period of time. Since then we made significant changes to prometheus-operator. If you think the issue is still valid, please reopen it.

[2021-06-07 16:05] #1005 closed

[2021-06-07 16:07] paulfantom commented on #1084
This issue hasn't been updated for a longer period of time. Since then we made significant changes to prometheus-operator. If you think the issue is still valid, please reopen it.

[2021-06-07 16:07] #1084 closed

[2021-06-07 16:09] paulfantom commented on #1091
I believe this will be possible after introducing generic ScrapeConfig from #2787. Closing in favor of that issue.  If you think this issue is still valid, please reopen it.

[2021-06-07 16:09] #1091 closed

[2021-06-07 16:10] paulfantom commented on #1116
This issue hasn't been updated for a longer period of time. Since then we made significant changes to prometheus-operator. If you think this issue is still valid, please reopen it.

[2021-06-07 16:10] #1116 closed

[2021-06-07 16:10] paulfantom commented on #1151
This issue hasn't been updated for a longer period of time. Since then we made significant changes to prometheus-operator. If you think this issue is still valid, please reopen it.

[2021-06-07 16:10] #1151 closed

[2021-06-07 16:11] #1195 closed

[2021-06-07 16:11] paulfantom commented on #1265
This issue hasn't been updated for a longer period of time. Since then we made significant changes to prometheus-operator. If you think this issue is still valid, please reopen it.

[2021-06-07 16:11] #1265 closed

[2021-06-07 16:11] paulfantom commented on #1303
This issue hasn't been updated for a longer period of time. Since then we made significant changes to prometheus-operator. If you think this issue is still valid, please reopen it.