[2021-11-18 10:29] PhilipGough commented on #3710
@simonpasquier Closed by #4388 ?

[2021-11-18 10:48] paulfantom commented on #4412
`NamespaceDefaultLabelName` is a fairly fresh addition to kubernetes (GA in 1.22) and it cannot be used by everyone. Since we want to support as many k8s versions as possible, we cannot use features offered by the flag yet. However we could start experimenting with it :)

As for the docs. I completely agree, they should have more examples. If you would like to write them, we are open to PRs.

[2021-11-18 10:52] #4402 closed

[2021-11-18 10:54] everythings-gonna-be-alright opened #4414 "Patch prometheus container args with custom args storage.tsdb.max-block-duration / storage.tsdb.mix-block-duration"
**What is missing?**

I want to change `storage.max-block-duration` / `storage.mix-block-duration` for reduce prometheus memory usage.

[code]
Now it replace all args for prometheus container.

**Why do we need it?**

To use `storage.tsdb.min-block-duration` / `storage.tsdb.max-block-duration` in prometheus without rewrite all args.
Like this solution: https://github.com/prometheus-operator/promet

[2021-11-18 11:45] paulfantom commented on #4414
What's the use-case for changing those values to 30m?

[2021-11-18 12:34] #3710 closed

[2021-11-18 13:48] KlavsKlavsen commented on #4399
It seems it was due to a webhook from previous version not being removed by argocd when updating.

[2021-11-18 13:48] #4399 closed

[2021-11-18 23:01] benmathews opened #4415 "service|pod monitor do not follow prometheus labeling conventions for namespace and pod"
Prometheus-operator generates configuration that names labels differently than Prometheus. This makes it difficult to have a mixed environment with some annotation scrapes and some from monitors. Dashboards don't work consistently.

Yes, I could change my kubernetes-pods to conform to prometheus-operator. But that would result in all our dashboards needing to be updated and any imported from grafa

[2021-11-18 23:05] hughhm commented on #4410
Well thats the million dollar question isn't it mate

[2021-11-19 08:40] paulfantom commented on #4415
Label `namespace` and `pod` were chosen in prometheus-operator for convenience. Prometheus itself does not have any convention as to how they should be named and what you linked to is just an example of how things can be configured, not necessarily how they have to be configured.

[2021-11-19 08:42] paulfantom commented on #4410
I mean what are the errors in `/targets` section that suggest metrics collection is broken?

[2021-11-19 11:08] #4153 closed

[2021-11-19 11:26] goodosoft commented on #455
but env set in init-config-reloader does not exist in the pod env.
why?

[2021-11-19 14:51] simonpasquier commented on #3989
Now that we have a beta release of Prometheus with the agent feature flag ([v2.32.0-beta.0](https://github.com/prometheus/prometheus/releases/tag/v2.32.0-beta.0)), I gave it a try using the existing Prometheus CRD.

TL;DR: it's not working out of the box but it shouldn't be too hard to adjust a bit the operator to "support" the agent mode with the existing Prometheus CR.

My CR looks like this:

[

[2021-11-19 20:16] benmathews commented on #4415
I'd argue that the `kubernetes_` prefix is a convention. That is what is documented and most dashboards at grafana.com assume users follow it. There are exceptions of course. Linkerd charts use `namespace` but that is a self-contained ecosystem where they specify the prometheus job and provide dashboards.  Choosing differently IMO only causes frustration with the project by making grafana.com dash

[2021-11-20 02:35] cuchac commented on #3204
@hryamzik I found a better solution that does not require to duplicate domains.

[code]

[code]

or you can use __meta_kubernetes_service_name or __meta_kubernetes_endpoints_name in sourceLabels to get hostname from service or endpoints name. I use __meta_kubernetes_endpoint_node_name so that i can have more domains inside one endpoint.

[2021-11-20 20:04] TomHutter commented on #2306
changing service to port 10257:

[code]

[code]

and changing service monitor for controller-manager:

[code]

[code]

worked for me.

[2021-11-21 22:17] hughhm commented on #4410
There aren't any, nor does the operator post any errors/warnings. If i query directly on prometheus or check any of our dashboards in Grafana there is no data. Once i revert the change, the period in which the change was implemented does not have any data as seen with any Graph. Part of the reason i have found this issue to be so strange and frustrating, i was certain for a while that i had done s

[2021-11-22 08:14] sherifkayad commented on #3989
That will be really great to have the Agent feature. We are much looking forward for it

[2021-11-22 09:14] 631068264 opened #4421 "go mod tidy error invalid version: unknown revision"
**What happened?**

**Did you expect to see something different?**

**How to reproduce it (as minimally and precisely as possible)**:

**Environment**

* Prometheus Operator version:
 main branch

* Kubernetes version information:

    `kubectl version`

* Kubernetes cluster kind:

    insert how you created your cluster: kops, bootkube, etc.

* Manifests:

[code]

* Prometheus Operator Logs:
[cod

[2021-11-22 09:22] #4421 closed

[2021-11-22 09:27] simonpasquier commented on #4415
@benmathews the opposite would be true for all the people using alerts and dashboards from github.com/prometheus-operator/kube-prometheus and github.com/kubernetes-monitoring/kubernetes-mixin :)
We could back in the Git history to understand which pattern came first but AFAIR the operator has always used labels without the `kubernetes_` prefix.

[2021-11-22 09:33] paulfantom commented on #4421
@631068264 can you share your solution?

[2021-11-22 09:44] 631068264 commented on #4421
set Goland Go module env  GOPROXY=https://goproxy.cn ，perhaps is the network problem

[2021-11-22 09:54] slashpai commented on #3942
This needs to reopen :)

[2021-11-22 10:14] paulfantom commented on #4415
The `kubernetes_namespace` syntax was introduced in https://github.com/prometheus/prometheus/pull/1225 (prometheus 0.17.0) and was always treated as an example and not a convention or a best practice. Later this was copied as is into a prometheus helm chart (which was created after the operator) without looking at any consequence of breaking existing workflows and thus we are having a split. To ad

[2021-11-22 11:09] paulfantom commented on #4415
@benmathews Thank you for bringing this to our attention. Prometheus example was changed to use `namespace` as a convention. I also opened [a PR in prometheus helm chart](https://github.com/prometheus-community/helm-charts/pull/1520) to propagate that guideline.

Since the guidelines between prometheus and prometheus-operator are aligned now, I am closing this issue.

Community projects are urged

[2021-11-22 11:09] #4415 closed

[2021-11-22 11:24] kirkharris1 commented on #4392
cc @mujx since he contributed #4185 and is best placed to help

[2021-11-22 13:36] #4192 closed

[2021-11-22 17:37] paulfantom commented on #455
From what I see you would like to have loading configuration options from environment variables in `externalLabels` parameter. As of today this option is not available and changing `externalLabels` should be handled externally (either by helm or jsonnet).

We will be open to revising our stance when https://prometheus.io/docs/prometheus/latest/feature_flags/#expand-environment-variables-in-externa

[2021-11-23 06:47] james-callahan commented on #4099
I see the use-case for `po-lint` as possible to grow, e.g. it could do more detailed linting of prometheus rules (like `cortextool check`/`cortextool lint`).

Is there some tool that is part of prometheus-operator that I can use to convert e.g. a `PrometheusRule` resource to a prometheus config file?

[2021-11-23 08:47] paulfantom commented on #4099
I agree that it would be ideal. However, the problem is that it is not maintainable in the long run as we would need to create and keep up to date a tool that is built from multiple other tools. IMHO it is easier to give people the ability to convert `PrometheusRule` into the native prometheus format (described below) and allow them to use tools like `cortextool` or `promtool` directly.

---

`Pro

[2021-11-23 11:30] james-callahan commented on #4099
As far as I know, things are slightly different, particularly snake_case vs camelCase.

[2021-11-23 12:00] paulfantom commented on #4099
That is true for all prometheus-operator CRD apart from `PrometheusRule` one. The `PrometheusRule` is a simple wrapper as seen for example in API docs: https://github.com/prometheus-operator/prometheus-operator/blob/main/Documentation/api.md#prometheusrulespec

As for snake_case vs camelCase, all native prometheus fields in rule objects are single word keys, hence they are snake_case and camelCase

[2021-11-23 14:57] smitjainsj commented on #3031
Is there any solution to this problem ?

[2021-11-25 10:36] #4392 closed

[2021-11-25 13:32] simonpasquier commented on #4370
@PhilipGough do you have time to have a look at this?

[2021-11-25 14:03] PhilipGough commented on #4370
@simonpasquier missed this one. I'll investigate and work on this ASAP

[2021-11-25 14:15] edenkoveshi opened #4423 "Pushgateway Support"
Pushgateway support in the Prometheus operator.
The idea is to deploy a pushgateway image (as a pod or as a prometheus sidecar container?) automatically, and another nice feature would be to automatically set up a PodMonitor for every Job/CronJon (with label selectors) with the relevant job path so Prometheus could automatically scrape metrics from Jobs
I'm not new to either Prometheus,Kubernetes

[2021-11-25 16:24] simonpasquier commented on #4423
My gut feeling is that it would be best served by an independent operator. The Prometheus operator's focus is Prometheus, Alertmanager and Thanos Ruler and it's already a lot for us to maintain :)

[2021-11-25 18:06] edenkoveshi commented on #4423
To me it really feels like it belongs here as it is a part of the Prometheus system.
If another controller is the problem then it can be implemented within the Prometheus CR assuming we go for a sidecar (it also makes sense in a way and does have some pros to it), though I do think it should be handled in a different controller to make this independent of Prometheus controller and vice versa.

[2021-11-26 07:11] aviralharsh commented on #455
Hi @paulfantom, I am using prometheus chart (not prometheus operator) https://github.com/prometheus-community/helm-charts/tree/main/charts/prometheus. I am trying to apply external_labels under global field, but it seems all the replicas are fetching the same external_labels resulting in Thanos giving "dropping store, external labels are not unique" for one of the replicas.
Any way I can add dynam

[2021-11-26 08:47] simonpasquier commented on #4423
Happy to hear what other @prometheus-operator/prometheus-operator-reviewers think but personally I'm leaning towards a dedicated operator (e.g. pushgateway-operator). It could definitely exist under the prometheus-operator organization though.

[2021-11-26 13:12] PhilipGough commented on #4423
Agree with @simonpasquier that this would fit best as a dedicated operator. There were already some discussions on the community meeting regarding the the potential of splitting out alertmanager as a dedicated operator so adding more overhead to this particular project seems like a step in the wrong direction.

[2021-11-26 16:17] #4370 closed

[2021-11-29 06:43] ammmze commented on #4203
Wanna try swapping the selector from using `matchExpressions` to using `matchLabels`? I just did a bit of trial and error trying to figure out why my flux scraping has stopped working a few weeks ago (probably after some prometheus update). But switching from matchExpressions to matchLabels is what got mine to show up again.

Here was my before:
[code]

And after (just for helm-controller...though

[2021-11-29 10:44] paulfantom commented on #4423
From what I see from this issue, the potential pushgateway operator would need to solve two things:
1) manage pushgateway (pgw) deployment and operations
2) provide an easy way to gather metrics from applications running as Jobs

For me, the first part is fairly simple as pushgateway (pgw) is just an application handling incoming traffic and exposing it for prometheus consumption. There are not ma

[2021-11-29 17:03] betonetotbo opened #4428 "Prometheus operator not discovering new PodMonitors"
**What did you do?**
I'm using Camel-K to run pods and collect metrics from them (via PodMonitor).

**Did you expect to see some different?**
When I start/restart the prometheus-operator (after my camel-k pod is running) it can find my running camel-k pods and scrape metrics. But if I start new pods they don't get discovered by the operator and the metrics are not collected.

**Environment**

* Pr

[2021-11-29 17:41] ammmze commented on #4428
What does your actual pod monitor resource look like? I _think_ there may be a bug with `matchExpressions` selector. I've got a pod monitor (mentioned [here](https://github.com/prometheus-operator/prometheus-operator/issues/4203#issuecomment-981333768)) that when using `matchExpressions` never picks anything up, but when using `matchLabels` it does. It's been missing for a few weeks, I just starte

[2021-11-29 17:55] betonetotbo commented on #4428
[code]

[2021-11-29 18:43] bcg62 commented on #3737
also waiting for this.

[2021-11-29 20:12] betonetotbo commented on #4428
The question here is, my the PodMonitor definition is updated (see the log) but the "sync prometheus" is not fired after that?

[2021-11-29 20:29] slashpai commented on #4203
@ammmze which version of Prometheus operator are you using? Thete was a bug in matchExpressions in 0.52 but that was fixed in 0.52.1

[2021-11-30 00:35] ammmze commented on #4203
Ah...thanks! I'll check next time I'm at my desk. I'm using kube-prometheus-stack helm chart at 21.0.0. Need to look to see what version of the operator that pulls in. I am using renovate and flux to keep things up to date though, so 🤷‍♂️

[2021-11-30 06:41] fpetkovski commented on #4428
Have you checked the Status>Service Discovery and Status>Targets page of the Prometheus instance?

[2021-11-30 11:01] betonetotbo commented on #4428
Yes, but my service `micro-profile-metrics2` isn't listed in the **Service Discovery**:

[code]

In this case, the operator is already running when I started `micro-profile-metrics-2`.
In the operator log I just got this after my service started:

[code]

It starts to appear if I restart the operator pod:

[code]

And at the log I see it been discovered:

[code]

[2021-11-30 11:23] betonetotbo commented on #4428
I'm looking at operator sources, to see **where** this log message `PodMontior updated` is emited.

I found it: https://github.com/prometheus-operator/prometheus-operator/blob/5f72fbc655b416b9b50ede04ed2c0a64cda22933/pkg/prometheus/operator.go#L724

Theoretically, my PodMonitor is discovered and is "enqueued" for send it to the prometheus, but I don't know why this doesn't occurs.

[2021-11-30 12:00] fpetkovski commented on #4428
There is a small delay between when the operator regenerates the config and when Prometheus picks it up. How long did you try waiting for the pod monitor config to appear in Prometheus?

[2021-11-30 12:01] betonetotbo commented on #4428
30min, aslo 1 hr... and nothing occurs!

[2021-11-30 12:12] fpetkovski commented on #4428
Ok now I reread your initial description and I completely missed this
[code]

I see that your pod monitor selector is
[code]
but the generated Prometheus config has
[code]

Are you certain that the labels for the old and new pods are the same?

[2021-11-30 12:22] betonetotbo commented on #4428
No, this labels can change in each new podmonitor.

Can you show an example how to generate this config to be dynamically?

This a example of my `PodMonitor`s:

[code]
In this case, all my `PodMonitors`s are started with this labels, and what changes is the **value** of `camel.apache.org/integration` label, it will contains the name of the pod.

[2021-11-30 12:27] fpetkovski commented on #4428
The `PodMonitor` is able to discover new pods when they come up, so you don't need to change any labels when you deploy new pods. I would suggest you try keeping the PodMonitor selector stable like:
[code]

and make sure all pods (old and new) have the label specified in the `PodMonitor`
[code]

Then Prometheus will discover the new pods and scrape them automatically when they come up. Does that m

[2021-11-30 12:39] betonetotbo commented on #4428
Filip, the problem is that this **selector** is defined by the **Camel-K** then it runs a new pod.

Is responsibility of Camel-K to start a pod in k8s and create the PodMonitor definition. The only thing I can configure in the PodMonior is a new label.

Please, take a look on this https://camel.apache.org/camel-k/1.4.x/observability/integration.html#_discovery to help you to understand how it work

[2021-11-30 12:58] fpetkovski commented on #4428
Instead of matchLabels, you can use matchExpression
[code]

[2021-11-30 13:16] betonetotbo commented on #4428
I can not change the `PodMonitor` definition, but....

According to the camel-k, I just need to change the Prometheus resource, the attributes  to this:

[code]

But even with this the operator doesn't fire the regeneration of prometheus config.

And this is my question here... Why?

[2021-11-30 14:39] fpetkovski commented on #4428
Do you have the possibility to upgrade the operator to the latest version? 0.38 is quite old already and we might be trying to solve a bug that has already been addressed.

[2021-11-30 15:05] betonetotbo commented on #4428
I would like to keep this one...

This will be a hard work, because this prometheus stack is a embedded version in Rancher that is used to monitor all deployments on it.

[2021-11-30 17:31] betonetotbo commented on #4428
@fpetkovski can be this the cause #3173 ?

This was released in version 0.39.0...

[2021-11-30 18:50] betonetotbo commented on #4428
Thanks for your time, I finally solved it.

I upgraded my operator to version 0.39.0, probably that issue #3173 was the solution.

[2021-11-30 18:50] #4428 closed

[2021-12-01 09:47] woody3549 commented on #1001
Hello,

I am currently using prometheus-stack version 20.0.1
Alerts KubeSchedulerDown and KubeControllerManagerDown are currently being raised for no apparent reason.
Is that also a label issues, please ?
How did you solve it ?

Thanks for your help.
Regards,

[2021-12-01 10:02] fpetkovski commented on #4428
Great! Thanks for reporting back what the issue was :+1:

[2021-12-02 11:58] nicolastakashi opened #4432 "Relabeling not working with Kubernetes label style"
**What happened?**

I'm not able to relabel using [Kubernetes recommended labels](https://kubernetes.io/docs/concepts/overview/working-with-objects/common-labels/).

**Did you expect to see something different?**

Be able to add relabel config using labels that follow the style proposed by Kubernetes recommended labels.

**How to reproduce it (as minimally and precisely as possible)**:

Just add a

[2021-12-02 12:10] slashpai commented on #4432
Could you please give an example relabel config you are trying to apply?

[2021-12-02 12:32] slashpai commented on #4432
kubernetes labels like app.kubernetes.io/name with dots and slashes should be available in an escaped and prefixed form during relabeling as prometheus label names like `__meta_kubernetes_service_label_app_kubernetes_io_name`

[2021-12-02 19:01] paulfantom commented on #4423
I am closing this as @edenkoveshi created a project that fits their needs and others have extensive explanation on pgw usage in https://github.com/prometheus-operator/prometheus-operator/issues/4423#issuecomment-981513973. Please reopen if you think this issue is still relevant.

---

Bear in mind that we also struggle with current resources to keep prometheus-operator projects up and running. I h

[2021-12-02 19:01] #4423 closed

[2021-12-02 21:06] diranged opened #4435 "PodMonitor matchExpressions on multiple label values picking "last" value in 0.52.0+ Operator"
**What happened?**

We upgraded from the 0.50.0 to 0.52.0 operator, and one of our `PodMonitor` resources started to return no targets - which was strange because we made no other changes. The unique thing about this one `PodMonitor` is that it had an "In" list of multiple "Values". The `PodMonitor` is a near exact copy of this from Strimzi: https://github.com/strimzi/strimzi-kafka-operator/blob/f

[2021-12-03 03:49] slashpai commented on #4435
This issue was fixed in 0.52.1, can you upgrade to that version and try?

[2021-12-03 13:55] betonetotbo opened #4436 "Custom interval in podMonitorSelector?"
Prometheus: v2.17.2
Operator: 0.39.0
- Can I update to 0.52.1 ? Will it work with that version of prometheus?)

The main question:

Can I set a custom scrape interval in podMonitorSelector in Prometheus resource in prometheus operator?

This is my current podMonitor selector config:

   podMonitorNamespaceSelector: {}
    podMonitorSelector:
      matchExpressions:
      - key: camel.apache.org/in

[2021-12-03 14:58] fpetkovski commented on #4436
You can set the `interval` field in this resource: https://github.com/prometheus-operator/prometheus-operator/blob/release-0.39/Documentation/api.md#podmetricsendpoint

[2021-12-03 17:00] simonpasquier opened #4437 "Support high availability for the admission webhooks"
**What is missing?**

The ability to run the admission endpoints (/admission-prometheusrules/validate, /admission-prometheusrules/mutate and /admission-alertmanagerconfigs/validate) in HA.

**Why do we need it?**

Right now, you can configure `ValidatingWebhookConfiguration` resources pointing to the operator's service but you can't deploy 2 replicas of the operator since otherwise they would step

[2021-12-04 10:57] paulfantom commented on #4437
I think a separate binary might be easier to implement and maintain so I vote for that solution.

[2021-12-06 10:19] simonpasquier commented on #4436
Closing the issue since this is already supported as @fpetkovski explained. Feel free to reopen/comment if we missed something.

[2021-12-06 10:19] #4436 closed

[2021-12-06 13:18] nicolastakashi commented on #4432
Hi @slashpai thanks for the fast reply.
Sorry about that, I was using the label in the wrong way without replacing the `.` and `\`

[2021-12-06 14:29] slashpai commented on #4432
@simonpasquier can you help to close the issue?

[2021-12-07 09:42] sathieu opened #4439 "Fix prometheus CRD being too big"
When installing `prometheus-operator`, using `kubectl apply` or the Helm chart thru ArgoCD, the installation fails because the  `prometheuses` CRD is too big. This was reported already (#4367, #4348, #4355, ...), but the fix is not enough ( #4349).

I've proposed a PR to the Helm chart (https://github.com/prometheus-community/helm-charts/pull/1510), but they want the fix to be upstream, i.e. here

[2021-12-07 10:25] jnsrikanth commented on #2262
Hi @perriea can you show an example of how you configured username and password in remoteWrite ? You can mask out any details that you want to hide.

[2021-12-07 10:31] simonpasquier commented on #4439
I'm not sure how we could reduce the size of the CRD...

[2021-12-07 10:32] simonpasquier commented on #4353
The same fix needs to go into Alertmanager.

[2021-12-07 10:40] fpetkovski commented on #4439
I would say this is rather a Kubernetes, or more precisely, a kubectl problem. Even if we shrink the CRD now, at one point it might grow again.

@sathieu if you decide to replace the CRD, make sure that operation does not involve deleting and creating it again. That might lead to you losing all CRs for the deleted CRD.

[2021-12-07 11:36] rshiva777 opened #4440 "Unable to get kube-controller and scheduler metrics"
**What did you do?**
My controller and scheduler are running on 127.0.0.1 port as per the VA assesment report.

**Did you expect to see some different?**
After running them on port 127.0.0.1, i am able to see target down on prometheus page

**Environment**
kubernetes 1.20.0 version

* Prometheus Operator version:
v2.24.0

    `Insert image tag or Git SHA here`

* Kubernetes version information:

[2021-12-07 12:30] sathieu commented on #4439
@fpetkovski The k8s bug is here: https://github.com/kubernetes/kubernetes/issues/82292

[2021-12-07 12:37] sathieu commented on #4439
A possible workaround would be to truncate the descriptions with `crd:maxDescLen=0`, like in https://github.com/crossplane/crossplane/pull/702.

[2021-12-07 14:06] MalulDekel commented on #2590
Hey @brancz,
I am doing research around sharding prometheus cluster and I figured out that you are the guy to go to.

After increase the size of shards from 1 to 2 for example how can I dynamically, automatically and on-demand to relabel the data so it will split to two shards.

I hope my question is clear. Thanks for any help :)

[2021-12-07 15:17] paulfantom commented on #4439
The alternative fix is to use `kubectl apply --server-side` instead of plain `kubectl apply`. This wouldn't add kubectl specific annotation which is the main source of issue here.

[2021-12-07 15:48] MalulDekel opened #4442 "Sharding"
Hey I have question regards prometheus at scale with shards.

First of all why increase of the shards number will result on x time replicas and x time shards?
What is the different between replicas and shards pods?
How thanos works with prometheus when sharding is enabled?

I have done lots of research on that topic but I couldn't find enough data so if you can refer links it will be great also.
T

[2021-12-07 16:34] mikechengwei commented on #4442
Replicas ensure instance service high availability, and shards sure data distribute on multiple instances.

[2021-12-07 16:46] MalulDekel commented on #4442
First of all thanks for the quick replay!

Can you explain farther?

The replicas pods ensure HA of what if the data is being scraped and held by the shards pods?

[2021-12-08 01:47] mikechengwei commented on #4442
yes

[2021-12-08 01:47] mikechengwei commented on #4442
yes.

[2021-12-08 07:59] sathieu commented on #4439
@paulfantom My usecase is within ArgoCD. ` kubectl apply --server-side` is not implemented yet (https://github.com/argoproj/argo-cd/issues/2267). And even if it's implemented, it will probably need an annoation too.

[2021-12-08 08:14] paulfantom commented on #4439
Crossplane workaround predates server-side apply functionality being GA in kubectl, by using it we would be removing meaningful information about the fields and reduce ability to use `kubectl explain`.

Good time to ping them with following-up on implementation. FluxCD did this recently - https://github.com/fluxcd/flux2/issues/1889

[2021-12-08 08:22] MalulDekel commented on #4442
Ok so the replicas exposes the data that reside on the shards if I understood correctly

[2021-12-08 08:28] alonghub commented on #3217
hi,
I tested it and the update only takes a few seconds(kubelet),but it takes up to 1minutes from when u change the additional-scrape-configs secret until the prometheus CR is actually affected by the change.

[2021-12-08 08:32] fpetkovski commented on #3217
Did you see the change on disk inside the config-reloader, or just in the configmap?

[2021-12-08 08:35] alonghub commented on #3217
The secret (it's gzipped) update only takes a few seconds, and the disk change takes a few minutes
version:quay.io/prometheus-operator/prometheus-config-reloader:v0.49.0
- name: config-reloader
  args:
    - --watch-interval=5s

[2021-12-08 08:49] fpetkovski commented on #3217
The secret is currently mounted as a volume and reloading it on disk is done by the kubelet. I don't think we can speed up the process without modifying the config reloader to directly watch the secret instead of the file on disk.

If there is a delay between when the additional-config-secret is changed and the prometheus config _secret_ is updated, then that's a bug. Otherwise, speeding up the re

[2021-12-08 08:59] alonghub commented on #3217
![image](https://user-images.githubusercontent.com/40453075/145178883-7e99c107-ffb7-4e93-9e34-4d5b9281a745.png)
![image](https://user-images.githubusercontent.com/40453075/145178954-28e76cf1-10da-4eb1-b516-a68863483396.png)
![image](https://user-images.githubusercontent.com/40453075/145178986-c77dd60d-fe11-40c9-93b1-b79e2878639c.png)

kubectl get secret prometheus-5095514d-095d-4d6b-9b27-f3be701aa

[2021-12-08 09:26] paulfantom commented on #4442
As mentioned above, `shards` is responsible for data distribution and `replicas` is reponsible for making prometheus HA.

---

To explain it a bit more let's take a look at a basic setup with an application with 2 replicas that are scraped using single ServiceMonitor configuration. First let's start with a default setup of `shards: 1` and `replicas: 2` and look at prometheus data scrape flow:

![S

[2021-12-08 09:39] paulfantom commented on #3217
I personally don't like developing anything around `additional-scrape-configs` workaround (`additional-scrape-configs` is a workaround due to lack of [generic ScrapeConfig CRD](https://github.com/prometheus-operator/prometheus-operator/issues/2787)). As such I don't like putting logic of watching Secret into prometheus-operator.

However if there is popular demand, I won't be blocking and the solu

[2021-12-08 10:53] simonpasquier commented on #3217
AFAICT the "delay" isn't only for additional scrape configurations. The same applies if you add/update a service monitor for instance.

I agree that watching the generated secret would improve the situation.

[2021-12-08 13:13] paulfantom commented on #4440
Scheduler needs to be exposing metrics endpoint on an IP that is accessible in kubernetes network. When using 127.0.0.1 ip, the expected result would be the one you described.

[2021-12-08 22:22] kingdonb commented on #4435
I've just come across this issue, and I can confirm v0.52.1 does fix it.

There isn't a chart release which packages prometheus-operator v0.52.1 yet, so I set these values in order to test the upgrade:

[code]

(Our guides are impacted until the chart rev is published, tracking at https://github.com/fluxcd/flux2/issues/2192)

[2021-12-09 04:24] diranged commented on #4435
I can confirm that 0.52.1 fixes the bug. Thanks!

[2021-12-09 05:10] slashpai commented on #4435
Thanks for confirming :)
Can you close the issue if that is fixed?

[2021-12-09 05:18] #4435 closed

[2021-12-13 16:29] Mathis-Z commented on #2537
additionalPrinterColumns uses JSONPath to find the information for the objects but this is limited to "simple JSONPath". Apparently it is not possible to print multiple elements of a list. This means it is not possible to print the names of the configured alertmanagers or the serviceMonitorSelectors. However it would be possible to output them in JSON format which would give you all information ab

[2021-12-14 09:51] parberge commented on #2866
We ran to very high memory usage when we tried with around 1000 serviceMonitor objects.

This is the docker image of the operator we used: `quay.io/prometheus-operator/prometheus-operator:v0.50.0`

[2021-12-14 10:04] simonpasquier commented on #2866
@parberge i assume that you're talking about high memory usage for Prometheus and not the operator?

[2021-12-14 10:14] parberge commented on #2866
Oh right. Yeah that's correct. I assumed it was related but yeah that might be another issue then.

[2021-12-14 18:54] rubenssoto opened #4450 "Prometheus slow in Kubernetes"
Hello,

I've been using prometheus for the last 6 months and everything works good, but today, prometheus start to be slow. We don't have disk space problems, 95Gb available and only 5gb used, we don't have problems with memory and cpu resources.

I had the same problem on the sandbox env, the solution was delete prometheus namespace and create everything from zero, but for prod env it is not a go

[2021-12-15 09:43] m-messiah opened #4451 "Thanos Ruler remote write config"
**What is missing?**
Thanos introducing stateless Ruler https://thanos.io/tip/components/rule.md/#stateless-ruler-via-remote-write with possibility to send data from ruler somewhere else.  It would be nice to see it in https://prometheus-operator.dev/docs/operator/api/#thanosrulerspec

**Why do we need it?**
The only way to use stateless ruler now is to override containers, which is kinda tricky.

[2021-12-15 09:59] fpetkovski commented on #4450
Are you seeing issues with the operator itself? If not, then this issue might be better suited for the prometheus/prometheus project.

[2021-12-15 11:02] simonpasquier commented on #4451
It looks sensible to me. Adding a `remoteWriteConfig *v1.SecretKeySelector` field would be consistent with the rest of the CRD.

[2021-12-15 11:05] simonpasquier commented on #4450
It might be a storage latency issue?  The `apiserver_request:burnrate:*` recording rules are also quite intensive when they operate on long periods of time you could try reducing the retention period.

[2021-12-15 12:54] everythings-gonna-be-alright commented on #4414
https://github.com/prometheus-operator/prometheus-operator/issues/3989

[2021-12-15 13:20] #4353 closed

[2021-12-16 02:06] william-tran commented on #3544
The `*` on secrets as a cluster-role is a giant red flag. When using the `--namespaces` flag, you can scope the secrets api calls down to specific namespaces. But it's still too much; the operator assumes it needs to manage secrets in all namespaces it can operate on. In our situation, I want to enable PrometheusRule handling for many namespaces, but with one Prometheus instance in one namespace.

[2021-12-16 02:55] william-tran commented on #3544
The behaviour I was seeing where `--namespaces` was being used to list/watch secrets might be explained by the alertmanager operator not using its `AlertmanagerAllowList`

https://github.com/prometheus-operator/prometheus-operator/blob/3e4a6187161c743802182d63e962c63b76ee3359/pkg/alertmanager/operator.go#L189-L199

[2021-12-16 09:28] stevehipwell commented on #4229
@simonpasquier we've just been caught out by the following error that makes it unnecessarily complex to use the Prometheus Operator to manage Thanos Ruler rules without having it manage the Thanos Ruler. It'd be great to have a way to have the operator managed the rules without needing to validate and create an empty statefulset.

[2021-12-16 12:26] paulfantom opened #4457 "Attach manifests bundle in release"
**What is missing?**
It would be nice to attach CRDs bundle and basic deployment manifests to release assets.

**Why do we need it?**
Having those yaml files may be beneficial for users who don't know the repository layout or branching strategy and would like to quickly get the operator up and running.

[2021-12-16 14:06] #4236 closed

[2021-12-17 03:21] yc0 commented on #3935
@yishaihl any comments on how you solved issues

[2021-12-17 08:42] yishaihl commented on #3935
@yc0 the app label was missing on the service that's what solved the problem.

[2021-12-20 11:38] tomasfreund commented on #3832
Hi, the issue is still present, I have the node-exporter disabled for the virtual nodes as well

[2021-12-20 12:28] vincue commented on #1637
In `prometheus-grafana` deployment, if you see some volumes have `emptyDir` mounted! - mounting a `PV` there solved the problem for me!

[2021-12-20 13:58] omegazeng commented on #2262
@jnsrikanth
FYI:
https://github.com/prometheus-operator/prometheus-operator/blob/main/Documentation/user-guides/basic-auth.md

* grafana-cloud-basic-auth.yaml
[code]

* prometheus.yaml
[code]

[2021-12-21 15:39] luis13byte opened #4462 "New serviceMonitor don't scrape the endpoint"
I have been reading other Issues related to this topic, but none of the solutions help me. This is a kube-prometheus deployment, despite my best efforts I have not been able to configure a new serviceMonitor.

- I have configured my `Service` with an `app: snowflake-metrics` label.
- The `serviceMonitor` specifies that label in the `selector`.
- In the prometheus-prometheus.yaml declaration I shou

[2021-12-21 15:55] simonpasquier commented on #4462
Your `snowflakemetrics` service doesn't have a `app: snowflake-metrics` label as expected by the service monitor.

[2021-12-21 16:47] luis13byte commented on #4462
Thank you for your quick response @simonpasquier. I uploaded the manifest wrong, I've already corrected it in the main comment. But still specifying `app: snowflake-metrics` in the Service and then in the `selector: matchLabels: app: snowflake-metrics` of the serviceMonitor still doesn't work.

[2021-12-22 05:27] oneslideicywater opened #4463 "why there are prometheus instancs in default namespace ?"
**What did you do?**

finish the quick start tutorial, I have one question, why my `default `namespace has prometheus pod and `monitoring` namespace have prometheus instance too.

[code]
[code]

**Environment**

* Prometheus Operator version:

[code]

* Kubernetes version information:

[code]

[2021-12-22 09:38] luis13byte commented on #4462
Adding `env: labs` as label to the serviceMonitor seems to work! I can see the endpoint in the Targets section of Prometheus.

For some reason the serviceMonitor seems that it was not recognized by prometheus, which leaves me puzzled, because according to the defined `serviceMonitorSelector` parameter no special match is required to link it, anyway I checked the other serviceMonitors included in t

[2021-12-22 09:38] #4462 closed

[2021-12-23 14:44] primeroz commented on #4439
Even if that is true how can a "kubernetes specific operator" ignore such a limitation ?

Sure the day that it gets fixed on kubernetes side it will be amazing but until then IMHO _this is something a kubernetes operator_ needs to take into account.

I know there are _workarounds_ but given how big is the set of tools people use to deploy manifests it is just a useless friction added on the user e

[2021-12-23 15:57] PhilipGough opened #4467 "Updates to data in ConfigMap and Secrets may never be reflected in the application"
**What happened?**

In parts of the codebase we use `EnvVarSource` from ConfigMaps and Secrets. [For example with Thanos tracing config](https://github.com/prometheus-operator/prometheus-operator/blob/9c0db5656f04e005de6a0413fd8eb8f11ec99757/pkg/thanos/statefulset.go#L285).

From what I can tell, even after the operator reconciles, such components will not be updated with the changes and such an u

[2021-12-23 17:32] Poweranimal commented on #3511
Hi @colinking
I'm facing the same issue.
How were you able to solve it?
[static_config](https://prometheus.io/docs/prometheus/latest/configuration/configuration/#static_config) seems to define scrape target, not alert manager endpoints.
Or am I missing something?

I tried to set the following [helm](https://github.com/prometheus-community/helm-charts/blob/main/charts/kube-prometheus-stack/values.y

[2021-12-23 18:15] Poweranimal commented on #3511
Nvm, my example worked.
Additionally, I had set the `alertmanagers` to en ampty array:
[code]

[2021-12-28 23:43] Cheshirez commented on #4439
Server-Side Apply is not in so common use at the moment, so pushin apply with `--server-side` manually or forcing support of it to CD tools may decrease overall stability, especially when it come to resolving conflicts.

Would agree with the last, that resource definition could be reviewed and adjusted as it overgrow current k8s sizes for CRD.
From usage or debug perspective - people are rather ch

[2021-12-29 06:29] ooraini commented on #1547
Just came across this issue. Was something like `prometheus.io/{PORT}/path: '/whatever'` considered? It may solve the multiple ports issue. And for fast searching a label with the list of ports `prometheus.io/ports: '9090,9092'`, which would also enable scraping for the ports(no need for `prometheus.io/{PORT}/scrape: "true"`).

[2021-12-30 15:04] qixiaobo opened #4470 "JobLabel comment may cause misunderstanding"
https://github.com/prometheus-operator/prometheus-operator/blob/9c0db5656f04e005de6a0413fd8eb8f11ec99757/example/prometheus-operator-crd/monitoring.coreos.com_servicemonitors.yaml#L492

It may leads us to add label to endpoints like below

[code]
We should just point out this is service

[2021-12-31 05:08] omegazeng opened #4472 "ServiceMonitor kube-state-metrics missing a label"
**What happened?**
ServiceMonitor kube-state-metrics is not working

**Did you expect to see something different?**

**How to reproduce it (as minimally and precisely as possible)**:
* prometheus.yaml
[code]
[code]
**Environment**
k8s: v1.21.5
helm: v3.7.1
chart version: 27.0.1
* Prometheus Operator version:

    `prometheus-config-reloader:v0.53.1`

* Kubernetes version information:

    `kubectl

[2021-12-31 06:52] omegazeng commented on #4472
duplicate issues: https://github.com/prometheus-community/helm-charts/issues/1631

[2021-12-31 06:52] #4472 closed

[2021-12-31 07:20] zero-below commented on #4263
Stumbled across this, but for future, this does seem to work, without needing to label your namespaces:
`  alertmanagerConfigNamespaceSelector:
    matchExpressions:
      - key: random-label-that-doesnt-exist-anywhere
        operator: DoesNotExist
`

[2022-01-01 14:37] manixybion commented on #1957
@xingangwang, Thanks for your comment, It helped...! Also I just wanted to add few more points

I know it's been a long, I took faced the same issue on my k8s cluster,

Finally fixed by making the following checks.

Pblm:  The service monitor is displayed in the service discovery, Not in the target, The reason is prometheus is unable to connect the target.

Checks :

1) Check the service monitor l

[2022-01-03 10:07] #4457 closed

[2022-01-03 10:46] simonpasquier commented on #4467
I agree with your analysis. For things like the Thanos tracing config, the operator shouldn't use environment variables and inject the configuration directly in the arguments list instead:

[code]

[2022-01-03 13:17] simonpasquier opened #4476 "The operator should validate the "url" field in the Probe resource"
**What happened?**

From https://github.com/openshift/runbooks/pull/33#issuecomment-1004035511

Create a probe resource like the following:

[code]

Prometheus will fail to load the generated scrape configuration because the `url` contains the `https://` prefix. The value should be formatted like `host:port` or `host`.

**Did you expect to see something different?**

The operator should prevent th

[2022-01-03 14:20] slashpai commented on #4476
I will take a look at this

[2022-01-03 15:31] guy-frontegg commented on #4399
@KlavsKlavsen What was the webhook?
did you manage to solve this? we are still having issues

[2022-01-03 16:45] KlavsKlavsen commented on #4399
[code]
fixed it for me :)

[2022-01-04 11:59] paulfantom commented on #4476
It would be nice to have this in 2 places:
- in operator logic to definitely prevent this from happening
- in a validation webhook to have quick feedback that CR object is incorrect.

[2022-01-04 12:08] paulfantom commented on #4467
As remediation, we can compute and add checksums for objects included via `ConfigMapKeySelector`, `SecretKeySelector`, and `EnvVarSource` as pod annotations to trigger reconciliation due to annotation change (example: https://github.com/thaum-xyz/ankhmorpork/blob/master/apps/homer/manifests/deployment.yaml#L20-L21).

[2022-01-04 13:59] simonpasquier commented on #4467
@paulfantom will this trigger a recreation of the pods?

[2022-01-05 08:46] paulfantom commented on #4467
@simonpasquier yes, that's exactly what will happen

[2022-01-05 10:27] saiharshitachava opened #4480 "scrape limited metrics using prometheus"
I want to scrape only very few metrics using prometehus like used pod memory and used pod cpu and limits and requests of a namespace

How do I change my configs to scrape only specific metrics

[2022-01-05 11:53] slashpai commented on #4480
You can use `metricRelabelings` to ingest only metrics you are interested in. Example below is to collect only metrics which starts with http. You should be able to do that similarly for metrics you are interested in by forming the regex correctly

[code]

Documentation: https://github.com/prometheus-operator/prometheus-operator/blob/main/Documentation/api.md#relabelconfig

[2022-01-05 12:38] #2503 closed

[2022-01-05 12:39] simonpasquier commented on #3942
closed by https://github.com/prometheus-operator/prometheus-operator/pull/4429

[2022-01-05 12:39] #3942 closed

[2022-01-05 12:49] simonpasquier opened #4481 "Validating webhook for service monitors, pod monitors and probes"
**What is missing?**

Though the operator will discard "invalid" resources before reconciling the Prometheus configuration, the user isn't notified in advance that the resource isn't correct.

For example:

https://github.com/prometheus-operator/prometheus-operator/blob/56e89dfa0bac7a6b38a962059127992e64f69301/pkg/apis/monitoring/v1/types.go#L1195-L1211

In practice, we should push as much as we c

[2022-01-05 12:50] simonpasquier commented on #4476
@paulfantom I've filed #4481 for having a validating webhook for monitors and probes.

[2022-01-05 12:51] simonpasquier commented on #4480
What @slashpai said so I'm closing the issue.

[2022-01-05 12:51] #4480 closed

[2022-01-05 14:50] iceman91176 commented on #2787
How can we start this ? @paulfantom - are there templates/examples for design-docs available that could be used ?

[2022-01-06 16:27] slashpai commented on #4481
Can you assign this to me?

[2022-01-10 10:26] paulfantom commented on #2787
We don't have any design templates, but I can recommend one that is used by thanos and sometimes by prometheus org - https://thanos.io/tip/contributing/proposal-process.md/#template. Or in google doc form - https://docs.google.com/document/d/1AZ1tqk9qGIcVa369hE1J5bm_FTEz7mX1MhU4OJw3xCM/edit

[2022-01-11 11:42] slashpai opened #4485 "Invalid scrapeTimeout value specified causes failure during prometheus configuration reload and preventing changes from being applied"
**What happened?**

Create a servicemonitor like below

[code]

**Did you expect to see something different?**

Operator should validate scrapeTimeout value specified

**How to reproduce it (as minimally and precisely as possible)**:

Try creating servicemonitor like above example

**Environment**

* Prometheus Operator version:

`0.50` and above

    `Insert image tag or Git SHA here`

* Kubernet

[2022-01-11 14:20] #4476 closed

[2022-01-11 18:27] manikandanramdevops commented on #3246
I just tried to do the similar thing here as mentioned above, I have service monitor pointed to a service.

What I'm trying to make is, I just want to add a additional label like {env="dev"} to all the metrices coming from this service monitor, I dont know what I missed,

`apiVersion: monitoring.coreos.com/v1
kind: ServiceMonitor
metadata:
  name: rpc-app
  labels:
    app.kubernetes.io/name: kube

[2022-01-12 03:17] manikandanramdevops opened #4492 "I just tried to do the similar thing here as mentioned above, I have service monitor pointed to a service."
I just tried to do the similar thing here as mentioned in this ticket #3246.

What I'm trying to make is, I just want to add a additional label like {env="dev"} to all the metrices coming from this service monitor, I dont know what I missed,

[code]

The metrices from the prometheus, I just wanted to add a label like env=dev for this metric coming from the service monitor.

![image](https://user-i

[2022-01-12 12:54] simonpasquier commented on #4492
Here is the snippet to hardcode a static label:

[code]

[2022-01-12 13:56] manikandanramdevops commented on #4492
@simonpasquier No luck, Im unable to get the metrices in the prometheus eventhough I applied the snippet.

[code]

![image](https://user-images.githubusercontent.com/85827977/149153779-c67703af-cf9b-455e-bd56-ddf85260e5d1.png)

[2022-01-12 14:21] simonpasquier commented on #4492
I think you need to use `relabelings` instead of `metricRelabelings` because the "up" metric isn't exposed by the target directly (it's reported by Prometheus instead).

[2022-01-12 17:54] manikandanramdevops commented on #4492
@simonpasquier relabelings did the magic..! Thank you

[2022-01-13 12:12] PhilipGough commented on #4437
@simonpasquier perhaps we can get a checklist of tasks into #4437 as acceptance criteria so it might be easier to break up and review the work? Saying that I am happy to do it all in one PR if preferred. Some things that come to mind

- [ ] Split codebase
- [ ] Build image
- [ ] Update CI
- [ ] Jsonnet?
- [ ] Incorporate HA deploy into e2e tests
...

[2022-01-13 13:05] #4492 closed

[2022-01-13 13:14] simonpasquier commented on #4437
@PhilipGough sgtm, I've updated the issue's description. Let me know if you see anything missing/incorrect.

[2022-01-13 15:14] nvtkaszpir opened #4495 "Auto add labels to discovered rules"
**What is missing?**
We use kube-prometheus-stack helm chart which has additionalRuleLabels which allows to add extra lables to the rules defined in the chart.

Yet looks like there is no way to auto add labels to other discovered rules.

**Why do we need it?**
We want to avoid duplication of the labels or avoid copying them across installations, so it would be nice so that enforce adding specific

[2022-01-13 15:31] fpetkovski commented on #4495
I guess this can be both a global setting as a binary arg, and a field in the `PrometheusSpec`.

[2022-01-13 18:23] kladiv commented on #3737
+1 for this issue

[2022-01-13 18:53] nvtkaszpir commented on #4495
I've managed to get what I need by setting proper prometheusSpec.externalLabels

[2022-01-14 09:54] simonpasquier commented on #4495
`prometheusSpec.externalLabels` is the right way to go IMHO since it applies also to remote write, federation, ...

[2022-01-14 12:24] manikandanramdevops opened #4497 "Custom configs inside alertmanager for slack"
I tried to add custom configs inside the alertmanager-secrets.yml for slack, But once I added new configs the alertmanger pod crashed.

[code]

Getting the below error in alertmanager

![image](https://user-images.githubusercontent.com/85827977/149515554-cd1025c9-7394-4629-b87d-62cbac4fffaf.png)

![image](https://user-images.githubusercontent.com/85827977/149515589-6c702e9b-4e2f-4f37-b99b-cd290f5a

[2022-01-14 12:32] manikandanramdevops commented on #4497
Similar issue #3751

[2022-01-14 12:32] manikandanramdevops commented on #4497
Similar issue #3751

[2022-01-14 13:47] simonpasquier commented on #4497
you've got a typo in your configuration

[code]

[2022-01-14 13:59] manikandanramdevops commented on #4497
@simonpasquier  Modified the send_resolved but still the same

![image](https://user-images.githubusercontent.com/85827977/149527018-3cf407d8-5c19-4e61-b1aa-5a4d98614640.png)

![image](https://user-images.githubusercontent.com/85827977/149527114-a8313f08-e258-4c11-bcc4-c2024aecad84.png)

[2022-01-18 08:43] simonpasquier commented on #3989
@fpetkovski started https://docs.google.com/document/d/1LnnxGOaypmwgczuTp_nLyWG0EiF6ohNCsZf3XQHDvkc/edit to kick off the discussion :)

[2022-01-18 15:25] PhilipGough commented on #4497
@manikandanramdevops - I think your YAML is invalid. Verified the following with amtool:

[code]

[2022-01-20 07:06] sherifkayad commented on #3989
@simonpasquier is there a rough timeline on when the Agent CRD support could be started / completed?

[2022-01-20 14:07] simonpasquier commented on #4079
My understanding is that we depend on https://github.com/kubernetes/enhancements/issues/661. Once implemented, Kubernetes will support volume expansion for statefulsets. In the meantime I don't think that we should/can workaround the issue in the operator. Documenting the manual procedure would be ok though.

[2022-01-20 14:17] Starslider commented on #3737
+1 for this

[2022-01-20 21:59] Halytskyi commented on #3737
PR [3821](https://github.com/prometheus-operator/prometheus-operator/pull/3821) still not merged :( Waiting almost for a year...

[2022-01-21 02:31] Oliver-Sellwood commented on #3100
For anyone running across this in the future...

I think the problem here was that the value of `nodeExporter.jobLabel` must match the value of `prometheus-node-exporter.jobLabel`

i.e the config should be

[code]

note: I had to delete and redeploy the release to get these changes to take effect

[2022-01-21 05:31] mohan-nagandlla opened #4513 "tls: bad certificate"
HI Team,

I have enabled the tls for Prometheus which is running with the version of 2.30.0  and the operator version is 0.53.1. I am using open SSL certs after pod deployment I am getting the below errors

Promethus container logs

[code]

config reload container logs
[code]

[2022-01-21 06:58] fpetkovski commented on #4513
Is your certificate valid? In the logs I see
[code]

[2022-01-21 09:35] simonpasquier commented on #4273
The fix should be to pass down the proper TLS settings to Thanos sidecar and config reloader:
* The Thanos sidecar supports HTTP client configuration (including TLS) since v0.24.0 with the `--prometheus.http-client` flag.
* The same capabilities should be added to the config reloader.

The operator could reuse `spec.web.tlsConfig.cert` as the CA for the sidecars but it wouldn't work in case of cli

[2022-01-21 09:35] simonpasquier commented on #4513
Though it doesn't look directly related, #4273 is still something we need to fix.

[2022-01-21 09:38] simonpasquier commented on #4274
Note that for now, Thanos Ruler doesn't seem to support web configuration as Prometheus and Alertmanager.

[2022-01-21 09:43] mohan-nagandlla commented on #4513
Yes it's was signed by my organization

[2022-01-21 09:58] simonpasquier commented on #4513
can you share the Prometheus resource definition?

[2022-01-21 10:23] simonpasquier commented on #3989
@sherifkayad hard to commit on something but @fpetkovski has submitted #4512 to discuss the design and feedback is very welcome.

[2022-01-21 10:27] mohan-nagandlla commented on #4513
[code]

![image](https://user-images.githubusercontent.com/52690110/150511171-4b7d1380-a93a-4559-9676-a07028504c3e.png)

![image](https://user-images.githubusercontent.com/52690110/150511237-ab88ed10-1c1f-4599-956a-6c9963460e5a.png)

[2022-01-21 10:45] simonpasquier commented on #4513
The config reloader connects to the 127.0.0.1 address so it fails the certificate unless you add 127.0.0.1 to the IP SANs of the certificate.
And it might even not be sufficient as the config reloader may not trust the server certificate. In short we need to fix #4273.

[2022-01-21 11:07] mohan-nagandlla commented on #4513
Your reference is saying like enabling the Thanos sidecar But I don't want the Thanos

[2022-01-21 11:08] mohan-nagandlla commented on #4513
Why not to introduce the cert verification by putting the cert into /etc/ssl/cert/

[2022-01-21 11:19] simonpasquier commented on #4513
Thanos sidecar and the config reloader have the same issue because they both connect to 127.0.0.1.

Do you have the possibility to add "127.0.0.1" to the IP SANs of the server's certificate? Since the error you're saying isn't "x509: certificate signed by unknown authority", it looks like the reloader already trusts the server's certificate authority...

[2022-01-21 12:06] mohan-nagandlla commented on #4513
Nonits not possible to add IP SAN

[2022-01-24 16:12] PhilipGough opened #4519 "Operator can enter a hot-loop when trying to recreate Statefulset(s)"
**What happened?**

We had two similar issues reported downstream which caused us to investigate a potential race in the operator during upgrade.

1. https://bugzilla.redhat.com/show_bug.cgi?id=2030539
1. https://bugzilla.redhat.com/show_bug.cgi?id=2042441

The `app` selector label was dropped in #4350 - this would require us to delete and recreate the statefulset which is a pattern that pre-exist

[2022-01-25 04:37] yelhouti opened #4520 "Prometheus should scrap node-exporter using private/cluster IPs"
**What is missing?**
Prometheus should scrap node-exporter using private/cluster IPs.

**Why do we need it?**
Exposing the server metrics to the outside world doesn't seem to be a good idea.

**Environment**

* Prometheus Operator version:

    `quay.io/prometheus-operator/prometheus-operator:v0.53.1`

**Anything else we need to know?**:

[2022-01-25 04:53] yelhouti commented on #3247
In my case, I would prefer to use the ip/nodeName of the node-exporter pod, it avoids exposing the metrics publicly.
This would also be useful for kube-proxy as it would solve the need of exposing kube-proxy metrics on all interfaces.

[2022-01-25 12:29] cookcodeblog commented on #4462
why `env: labs` ?

[2022-01-25 14:23] fpetkovski commented on #4520
We've had discussions in the past to remove the creation of the kubelet service from the operator. It's arguable that this logic does not belong here and should be done by an external component, like kube-prometheus, or by users themselves.

[2022-01-25 16:53] #4519 closed

[2022-01-25 17:49] yelhouti commented on #4520
I think I agree, their are to many edge cases, Is their a flag to disable it by any chance ?
Also, I think the kibelet service is used by many components (kube-proxy, node-exporter...) Is their a way to configure their IPs separately and dynamically (to point to pods).

[2022-01-26 05:11] nabokihms opened #4523 "Service Account Token Volume Projection and PodMonitor"
**Why do we need it?**
We use Kubernetes service account tokens to fetch metrics protected by kube-rbac-proxy. With PodMonitor, it is possible to specify a secret with a token for authentication to access targets (as we can create a token secret with a predictable name, it worked for us).

[code]
These manifests still work, but there is a better solution.

Starting from the Kubernetes v1.21, the [

[2022-01-26 06:43] slashpai opened #4524 "Improve documentation and move possible validations via OpenAPI"
**What is missing?**

While working on adding [validation for scrapeTimeout](https://github.com/prometheus-operator/prometheus-operator/pull/4491#discussion_r782103988), we noted that its a bit confusing and documentation is not clear how default values are set for CRD fields. We need to improve documentation on how default values are set and move validations possible using [OpenAPI](https://book.

[2022-01-26 10:08] akorp opened #4545 "Alertmanager PodSecurityContext"
It is not possible to define [SecurityContext](https://kubernetes.io/docs/reference/generated/kubernetes-api/v1.20/#securitycontext-v1-core) for Containers of Alermanager (only [PodSecurityContext ](https://kubernetes.io/docs/reference/generated/kubernetes-api/v1.20/#podsecuritycontext-v1-core) is available). Because of the missing Container SecurityContext it's not possible to setup important sec

[2022-01-26 16:37] simonpasquier commented on #4520
Passing `-kubelet-service=""` to the operator args should do the trick but it could be better documented.

[2022-01-26 17:07] #4485 closed

[2022-01-27 17:08] kladiv commented on #3488
+1 to add hostAliases support

[2022-01-28 03:31] mikechengwei commented on #3862
I'm doing it now.

[2022-01-28 09:14] Jasper-Ben commented on #4236
Works with the latest release 0.54.0 :slightly_smiling_face:

[2022-01-28 15:06] simonpasquier opened #4537 "All labels set in selector.matchLabels are NOT automatically transferred"
### Discussed in https://github.com/prometheus-operator/prometheus-operator/discussions/4533

<div type='discussions-op-text'>

<sup>Originally posted by **andrey-dubnik** January 27, 2022</sup>
Hi, I'm trying the ServiceMonitor and accordingly to the doc - `All labels set in selector.matchLabels are automatically transferred.` which does not seem true as I can't see any labels in Prom from the se

[2022-01-28 15:20] yelhouti commented on #4520
@simonpasquier I tried understanding what you said by reading the [code](https://github.com/prometheus-operator/prometheus-operator/blob/24473006a5fe923e08c980f97afc15c1d4b674b7/pkg/prometheus/operator.go) but for my use case I need to have one ip pool per service/alert (1 for kube-proxy, 1 for node-exporter...)

[2022-01-28 15:28] nuriel77 commented on #4079
I've seen some comments here about editing the PVC spec.

Please correct me if I am wrong: This will result in a difference between the PVC size and what is configured in the StatefulSet spec. Scaling up the StatefulSet will result in the new pod having the size configured in the StatefulSet.

Therefore, probably a good idea to follow these instructions: https://itnext.io/resizing-statefulset-pers

[2022-01-30 07:14] mikechengwei commented on #4537
/assign

[2022-01-31 07:07] #4537 closed

[2022-01-31 09:35] STRRL opened #4540 "prometheus-operator crashed with an invalid Probe"
**What happened?**

I submit an invalid `Probe` wihtout `target` onto the kubernetes:

[code]

**Did you expect to see something different?**

Warning message printed on `opertaor` Pod. Or webhook could reject this object.

**How to reproduce it (as minimally and precisely as possible)**:

Apply pinned `Probe` resource.

**Environment**

* Prometheus Operator version:

    `Insert image tag or Git

[2022-01-31 22:04] MarsianMan commented on #2102
@devtech0101  What was the fix for the gitlab runner?

[2022-02-01 09:32] simonpasquier commented on #4545
could you achieve this by using a [strategic merge patch](https://github.com/prometheus-operator/prometheus-operator/blob/main/Documentation/user-guides/strategic-merge-patch.md) at the container level?
If the current `SecurityContext` needs better default values, it's also acceptable to change the pod template generated by the operator.

[2022-02-01 09:38] #4540 closed

[2022-02-01 13:28] sneko commented on #323
@ds0nt 's solution helped me years after! Thank you 😄

I was stuck with my PVC/PV for another tool... and among lot of posts read, that's the only working solution I found. Just wanted to notify it, it may help others!

[2022-02-01 16:52] simonpasquier commented on #4079
If anyone wants to document the manual workaround to expand an existing PVC, this should probably go to https://github.com/prometheus-operator/prometheus-operator/blob/main/Documentation/user-guides/storage.md

[2022-02-02 07:49] brushmate opened #4549 "Common labels override labels from podMetadata"
**What happened?**

When we updated prometheus-operator from ~v0.2.4~ v0.43.2 to v0.53.1 we lost some metrics because one Prometheus instance was not able to do service discovery anymore. This happened because we have some network policies in place that select pods based on the `app.kubernetes.io/instance` label. We used to define this label in the Prometheus `podMetadata` section, but now the lab

[2022-02-02 08:47] JBaptisme33 opened #4550 "Provide Specific Prometheus version not respected"
**What happened?**

When specified versions is provided into `.Spec.Version`, it seem not be take in account

**Environment**

* Prometheus Operator version:

  tested on `v0.35.0` and `v0.54.0`

* Kubernetes version information:
`1.21`

* Kubernetes cluster kind:
GKE
* Manifests:
Kustomize used. Version requested as follow:
[code]
[code]
[code]

Prometheus has been rebooted yesterday, so, we are

[2022-02-02 08:52] fpetkovski commented on #4520
@yelhouti how did you deploy node exporter? Did you use the official kube-prometheus manifests, or the community helm chart?

[2022-02-02 09:08] grhawk commented on #3277
Hi everyone, I am having exactly the same problem with the prometheus operator image `
quay.io/prometheus-operator/prometheus-operator:v0.54.0` (installed using the prometheus-kube-stack on k3s).

From the prometheus web ui/targets, I can see:
[code]

The service monitor:
[code]

The relative configuration taken by the web-ui/config:
[code]

[2022-02-02 10:20] simonpasquier commented on #4550
`.spec.version` tells the operator about the version to use when generating the configuration. This should be consistent with the image referenced by `.spec.image` but the operator can't enforce it.
I agree that we should try to reduce the confusion though it can be tricky to get right.

[2022-02-02 10:35] simonpasquier commented on #4549
Your analysis is correct and it is indeed an unexpected side effect of #3841. At the very least, it should be clear in the documentation which labels can't be overridden because they are "owned" by the operator.
Reverting the priority might break users that rely on the current behavior but one could argue that it would follow the principle of least surprise.

@paulfantom any thoughts?

Is this rea

[2022-02-02 10:44] raptorsun commented on #4273
Do we need the prometheus-operater generate a client certificate dedicated to Thanos sidecar and config reloader? or do we expect the user to set a certificate in the Prometheus CRD?

[2022-02-02 10:48] brushmate commented on #4549
Oopsy... I have copied a wrong version number. We have updated from v0.43.2. I also updated the original post.

By the way: I will happily help out with a pull request for this issue when you have decided how to proceed.

[2022-02-02 11:54] fpetkovski commented on #4273
In this case the certificate should be defined by the user.

[2022-02-02 12:17] simonpasquier commented on #4273
+1 to what @fpetkovski said.

Thinking more about this issue, it probably makes sense to disable TLS verification for the config reloader and the Thanos sidecar. Both talk to the Prometheus container via the local address so there's little advantage into verifying the peer's identity (if something manages to spoof/hijack the Prometheus port, you have probably bigger problems).
FWIW how Kubernetes

[2022-02-02 19:28] JohnRusk commented on #3544
@simonpasquier  @william-tran Do the recent commits only relate to alert manager? I.e. are there other parts of the RBAC permissions, unrelated to alerts, that are not yet tightened up, or is everything done now?

[2022-02-03 03:30] yelhouti commented on #4520
community helm chart: kube-prometheus-stack

[2022-02-03 10:10] simonpasquier commented on #3544
I think that we should keep it open since your initial request was at least that we document the current RBAC requirements.

[2022-02-04 12:13] primeroz opened #4557 "Add followredirect to Endpoint configuration so that it can be disabled."
**What is missing?**
Prometheus support an option to disable Redirect on the scrape endpoints

[code]

but is not exposed through the endpoint spec

**Why do we need it?**

When scraping VAULT, for example, the standby nodes do not return metrics but instead return a redirect to the Public endpoint

**Environment**
Kubernetes

* Prometheus Operator version: 0.53

    `Insert image tag or Git SHA h

[2022-02-04 17:28] gw0 commented on #4439
If you use ArgoCD to normally install `kube-prometheus-stack` it fails, because it uses `kubectl apply` in the background which causes this CRD too long issue. If you manually recreate the CRDs, it occasionally works, but sooner or later ArgoCD self-healing will cause issues again.

If you use ArgoCD to install with Replace=true `kube-prometheus-stack` it fails, because it uses `kubectl recreate`

[2022-02-04 21:52] clintmod opened #4560 "Why can't I set my own subPath?"
Why is it just:

https://github.com/prometheus-operator/prometheus-operator/blob/473a81e954579703d446e1476bfa5fd6c49e45b7/pkg/prometheus/statefulset.go#L973-L980

[2022-02-05 02:07] yelhouti opened #4561 "too many non active targets"
**What did you do?**
I created a custom serviceMonitor:
[code]

I checked the the Prometheus dashboard and it says:
[code]

I feel like I am doing something wrong and maybe be wasting resources configuring and checking for info in the wrong places.

**Did you expect to see some different?**
I expect something like: 1/1 since I have only one service matching `prometheus-type: jhipster` for now.

[2022-02-05 06:55] tchellomello commented on #3954
I'm hitting a similar issue. For example, my `AlertmanagerConfig` looks like:

[code]

However, when rendered, the result YAML looks like this:

[code]

So I'm only able to receive a notification via Slack if the motivation has the label `namespace: observability`. For example, the first rule `BlackboxProbeFailed` I get via Slack but the next one I don't

[code]

![image](https://user-images.githu

[2022-02-05 18:25] ArthurSens opened #4562 "QueryLog should create a volumeMount"
**What is missing?**
To follow more strict security best practices, the Prometheus container should have the security context `readonlyRootFilesystem` set to `true`.

Today that would be a breaking change to the feature QueryLog, where users are able to write down queries performed by Prometheus to a path chosen by the user.

To be able to enable `readonlyRootFilesystem: true`, when setting QueryL

[2022-02-07 11:05] LinTechSo commented on #1866
Hi all. i hit same issue. any update?
using loki-stack (loki version 2.4.1)
on kubernetes version 1.18 and also 1.23

[2022-02-07 11:13] fpetkovski commented on #4520
I see that node exporter runs on the host network by default: https://github.com/prometheus-community/helm-charts/blob/main/charts/prometheus-node-exporter/values.yaml#L98. I assume the reason is so that the exporter can discover information about all network interfaces on that node. Without host networking, it would only see the virtual interfaces of the container in which it runs.

If you need a

[2022-02-07 11:40] #4442 closed

[2022-02-07 13:15] fpetkovski commented on #4560
A lot of mount paths are implementation details and not relevant for the user. Could you explain what you're trying to accomplish?

[2022-02-07 18:02] clintmod commented on #4560
On EKS we have one fsx filesystem that is mounted by containers on various nodes. This fsx file system is used by multiple deployments. I need to set the subpath for the `/prometheus` volumeMount to a different path per deployment.  Why is this hard coded to `prometheus-db` in the code above?

I'm currently working around this by patching the volumeMounts for the  prometheus sts.

[2022-02-07 20:28] nkleinberg opened #4564 "Add validation for sourceLabels in RelabelConfig"
**What is missing?**

validateRelabelConfig validates other fields in the RelabelConfig, but does not validate sourceLabels:

https://github.com/prometheus-operator/prometheus-operator/blob/main/pkg/prometheus/operator.go#L2160

**Why do we need it?**

An invalid sourceLabels field can cause the operator to create an invalid config which Prometheus can't load.  This makes the consequences of a bad

[2022-02-07 21:00] danielcrisap opened #4565 "[Probe] RelabelingConfigs not been override"
**What happened?**

Scrape config generated by *Probe* definition hasn’t the `relabel_configs` override by the Probe `relabelingConfigs`, only append to default `relabel_configs`

**Did you expect to see something different?**

I expect to `relabel_configs` to be overridden by `relabelingConfigs`

**How to reproduce it (as minimally and precisely as possible)**:

Apply the manifest bellow

**Envir

[2022-02-08 02:37] slashpai commented on #4565
Could you please provide prometheus-operator logs as well?

[2022-02-08 03:33] slashpai commented on #4564
Thanks for logging the issue

Can you provide an example where prometheus load failed with invalid sourceLabels? Also possible to provide prometheus-operator logs?

@simonpasquier  I could be wrong but I think it will be tricky to validate sourceLabels as we would require to validate if provided label is valid or not by querying [label api](https://prometheus.io/docs/prometheus/latest/querying/api

[2022-02-08 07:47] ig-matsz commented on #3204
Hi.
Based on the previous posts we created a similar workaround. Let me share:

[code]

This solved the issue and everything was perfect. Unfortunately we noticed that after some short (few hours) but random time targets are disappearing in effect disabling this monitoring setup.

What we verified:
- all objects that I pasted are still present in the cluster
- we weren't able to find any meaningfu

[2022-02-08 10:19] fpetkovski commented on #4560
Could you mount a different directory into each prometheus instance?

[2022-02-08 16:30] juliocleal13 commented on #4026
Hi folks
@guidoffm
I had same problem with you.
I managed to solve it like this:
apiVersion: monitoring.coreos.com/v1
kind: Probe
metadata:
  name: servers
  namespace: monitoring
spec:
  jobName: servers
  interval: 10s
  prober:
    url: localhost
    path: /metrics
  metricRelabelings:
  - sourceLabels: [__address__]
    targetLabel: target
  targets:
    staticConfig:
      static:
      - 192

[2022-02-08 17:07] simonpasquier commented on #4564
@nkleinberg probably means that `sourceLabels: ["-foo"]` breaks since it doesn't respect the `^[a-zA-Z_][a-zA-Z0-9_]*$` regexp (see https://prometheus.io/docs/concepts/data_model/#metric-names-and-labels).

[2022-02-08 17:39] nkleinberg commented on #4564
Yes exactly -- the bad "sourceLabels" value we had included a `-` character.  I don't see anything interesting from our logs around that time, just the usual
```component=prometheusoperator msg="sync prometheus"```

[2022-02-08 20:47] clintmod commented on #4560
That's what I'm trying to do… that's what subPath is for and I tried to define it like:
[code]
but the resulting output has two mountPaths pointing to `/prometheus`

[code]

[2022-02-09 05:16] slashpai commented on #4564
sure thanks for confirming. I will submit patch for this

[2022-02-09 06:08] Laisky commented on #2573
`k get -n monitoring secrets prometheus-k8s -o jsonpath='{.data.prometheus\.yaml\.gz}' | base64 -d | gunzip`

[2022-02-09 06:20] chinmaygupta28 commented on #2787
Are there any in-review proposals for implementing this change yet?

[2022-02-09 09:45] fpetkovski commented on #2787
We don't have anything yet on this topic, feel free to start a document if you would like to drive the initiative

[2022-02-09 11:13] Shaybs commented on #3737
Any updates? I am totally confused about how to go about this issue?

[2022-02-09 14:49] fpetkovski commented on #2787
Yeah using the existing section makes sense. We don't have any strict designs process in place, so I am fine with whatever template you think is adequate for now. It's also completely fine that you don't have Golang skills, we can decouple the design from the implementation like we've done for the Prometheus Agent.

Initially we started the agent design as a GDoc, but I felt it was hard to exchang

[2022-02-09 15:24] AndresPineros commented on #3750
This has already been solved in VictorMetrics Operator: https://github.com/VictoriaMetrics/operator/issues/390

We should really get the same fix in the main operator. The most common use case is that AlertManager routes aren't self-serviced. I understand this is a really flexible solution intended for large teams with many divisions, but it just shouldn't be enforced. Now I have to go back to the

[2022-02-09 15:59] simonpasquier commented on #4565
Can you provide more details about the ingress objects and your particular use case? IIUC you want to build your own `__param_target` value but given that `__address__` is overridden just before, you can't do that.

In general, I would agree that we lack good documentation for the Probe resource (for instance what is getting scraped if you use ingress targets as you did).

[2022-02-09 19:50] clintmod commented on #4560
[code]

[2022-02-09 19:55] clintmod commented on #4560
claim looks like:

[code]

[2022-02-09 20:36] rhollins opened #4569 "[alertmanager] AlertmanagerConfig CRD do not overwrite the alertmanager config"
I'm trying to customize Alertmanager with custom config using AlertmanagerConfig CDR and following this instruction: https://github.com/prometheus-operator/prometheus-operator/blob/main/Documentation/user-guides/alerting.md

I have alert manager in debug mode and can't see any event when the CRD AlertmanagerConfig is getting created also the alertmanager config stays the same.

The workaround is t

[2022-02-10 03:41] cookcodeblog commented on #1957
In OpenShift, you need add `cluster-monitoring` label for namespace as well.

`oc label ns <namespace> openshift.io/cluster-monitoring=true`

[2022-02-10 09:12] fpetkovski commented on #4560
Thanks. Looking at the whole picture, it does seem that the only way to mount a different directory is through the `subPath` in the `volumeMount`.

On the other hand, I don't see a way at the moment to specify the `subPath` for the tsdb directory in the Prometheus CRD, so this looks more like a missing feature. As a workaround, are you able to provision dedicated volumes for each Prometheus, or is

[2022-02-10 14:07] clintmod commented on #4560
That would be a work around but is too much overehead.

[2022-02-10 14:23] simonpasquier commented on #4560
I'm not sure if it would work but have you tried to use [strategic merge patch](https://github.com/prometheus-operator/prometheus-operator/blob/main/Documentation/user-guides/strategic-merge-patch.md)?

[2022-02-10 15:35] clintmod commented on #4560
@simonpasquier I actually did take a look at that and try it but there's no way to set the subpath on the Prometheus crd.  I also tried patching the prometheus sts but it seems to be overwritten immmediately. I'm guessing the operator takes control as soon as I try to patch it.

[2022-02-10 16:15] simonpasquier commented on #4560
Correct

[2022-02-10 16:38] #4557 closed

[2022-02-10 17:43] clintmod commented on #4560
Not sure that would work… here's what my current prometheus def looks like:

[code]

[2022-02-10 17:47] clintmod commented on #4560
also… in the code I mentioned in my top most post… it won't matter what we set the subpath to in yaml… it's hard coded in the go code

[2022-02-10 18:10] liangyuanpeng commented on #4463
What's your command for this? Maybe you just create prometheus instance to namespace of default.

[2022-02-10 19:42] liangyuanpeng commented on #4389
Provide more info for know your question.

[2022-02-10 21:44] mkoertgen commented on #3942
The fix of #4429 seems to break existing labelMap-actions. With v0.54 using kube-stack we are lossing some PodMonitors (in this case from our Pulsar Cluster.

Log from the operator
[code]

From looking at the podMonitors
[code]

this should be the problematic action.

[2022-02-10 21:45] clintmod commented on #4560
Added a PR with how a simple fix might look.

[2022-02-10 21:57] mkoertgen commented on #3942
I manually deleted the labelmap action and voila we have metrics again.

However, when validating the targetlabel-match maybe empty labels would probably just be skipped by prometheus?
Note that according to the Docs the labelMap-action does not require a target_label:
- https://prometheus.io/docs/prometheus/latest/configuration/configuration/

[2022-02-11 08:58] simonpasquier commented on #4560
@clintmod IIUC you put the modified VolumeMount at the wrong level. It should be added to the `containers` list (with `name: prometheus-data` to target the [right entry](https://github.com/prometheus-operator/prometheus-operator/blob/24478fbc69fc9fe041285ef0e9c16b5c2ac5630f/pkg/prometheus/statefulset.go#L521)) then it will override the statefulset definition generated by the operator.

I'm not sur

[2022-02-11 09:55] dirtyValera commented on #1866
Same issue here, but I'm using helmfile. No idea what to do. Honestly this looks a bit ridiculous that this long-known issue  has been closed with "just press the button second time bro" without thinking that people use other providers except kubectl e.g. terraform and helm.

This blocks the whole kube-prometheus-stack chart, loki-stack chart and I'm sure a bunch of others using prometheus operato

[2022-02-11 16:43] simonpasquier opened #4572 "The fix of #4429 seems to break existing labelMap-actions"
The fix of #4429 seems to break existing labelMap-actions. With v0.54 using kube-stack we are losing some PodMonitors (in this case from our Pulsar Cluster.

Log from the operator
[code]

From looking at the podMonitors
[code]

this should be the problematic action.

Source definition: https://github.com/apache/pulsar-helm-chart/blob/master/charts/pulsar/templates/autorecovery-podmonitor.yaml#L41

[2022-02-11 16:44] simonpasquier commented on #4572
@slashpai if you want to have a look :)

[2022-02-11 16:45] simonpasquier commented on #3942
@mkoertgen thanks for the report I've create an issue (#4572) to track it as I believe that you're right.

[2022-02-11 16:54] slashpai commented on #3942
Thanks for the reporting the bug. I will take a look at it :)

[2022-02-13 18:14] danielcrisap commented on #4565
I update the report with the logs from prometheus-operator

[2022-02-13 18:25] danielcrisap commented on #4565
I'm trying to use blackbox to validate all my ingress from an external point of view, and all have the `/health` path to be scraped.

And my problem is exactly as you said, the `__address__` is overridden before and I can't use that value.

<img width="2041" alt="Screen Shot 2022-02-13 at 13 18 35" src="https://user-images.githubusercontent.com/32133534/153768890-a6d48c0a-19a0-463b-82dd-d6372a92d3

[2022-02-14 06:43] bailuoxi66 opened #4573 "server returned HTTP status 404 Not Found"
**What did you do?**
1. helm install prometheus-operator stable/prometheus-operator -n monitoring
![image](https://user-images.githubusercontent.com/35655760/153812359-df5b37db-eaac-4f4a-a680-0f755cd9eed4.png)

2. Deploy a custom service
![image](https://user-images.githubusercontent.com/35655760/153812501-4b0c5b4c-1143-437a-9c56-2ae83ff8b275.png)

3. To make prometheus-operator monitor custom ser

[2022-02-14 14:31] simonpasquier commented on #4573
there's nothing here indicating an issue with the operator. You could query the target's endpoint manually with curl to understand why it returns 404. Checking the application's logs might also be useful.

[2022-02-14 14:56] simonpasquier commented on #4565
One solution might be to move the relabeling of the `__address__` label at the very end.

[code]

Another option would be to inject a temporary label to remember the original address value (just like we do with the job label).

[code]

[2022-02-14 15:28] #4564 closed

[2022-02-15 09:08] simonpasquier commented on #4561
you need to look at the Prometheus targets page to identify what are the other endpoints selected by the service monitor.

[2022-02-15 09:14] simonpasquier commented on #3204
Closing this issue in favor of https://github.com/prometheus-operator/prometheus-operator/issues/2787 (generic scrape config CRD) which should resolve the original request eventuall.

[2022-02-15 09:14] #3204 closed

[2022-02-15 09:23] simonpasquier commented on #4463
I believe that you've followed both the [prometheus-operator getting started guide](https://github.com/prometheus-operator/prometheus-operator/blob/main/Documentation/user-guides/getting-started.md) and the [kube-prometheus quick start](https://prometheus-operator.dev/docs/prologue/quick-start/)

[2022-02-15 15:24] simonpasquier commented on #3335
I've submitted https://github.com/prometheus-operator/prometheus-operator/pull/4575 where we can discuss how the status subresources should look like.

[2022-02-15 16:30] mddeff commented on #2787
@fpetkovski in the interest in keeping this moving, I'll submit a PR for establishing the template/"how to create a proposal doc", we can use that as the comment/discussion mechanism for the process.  Once that's approved I'll push the proposal for this issue.

[2022-02-16 16:36] rhollins commented on #4569
works now the problem was name I had to use label with  alertmanagerConfig

[2022-02-16 16:36] #4569 closed

[2022-02-16 18:54] SleepyBrett commented on #1547
I also just ran into this and while i see the utility of the servicemonitor i constantly run into 'chicken and egg' problems. The servicemonitor is a crd, if that crd is not installed in the cluster then whatever you use to deploy manifests may just fail. (i have had this problem with people working on an application with metrics and a service monitor but are trying to deploy on a local or temp cl

[2022-02-16 19:00] sjmiller609 commented on #541
I have similar issue, and I believe not related to prometheus in particular, but rather to storage class or storage drivers. I think something about the storage drivers the permissions on the filesystem where the mount occurs is different.

For me on EKS 1.20 with default gp2 storage driver, install works fine. The default settings of prometheus-community/prometheus helm chart   prometheus-15.1.3

[2022-02-17 03:30] WLBF commented on #3709
yes you are right, I run pushprox-client as sidecar like:
[code]
and config `proxy_url` in service monitor, doc: https://github.com/prometheus-operator/prometheus-operator/blob/main/Documentation/api.md#endpoint. It works well.

[2022-02-18 08:16] woshihaoren opened #4582 "alertmanagerconfig has matchType will error"
**What happened?**
I use this chart kube-prometheus-stack-32.2.1 ,when alertmanagerconfig has matchType. output error like:
[code]
**Did you expect to see something different?**

**How to reproduce it (as minimally and precisely as possible)**:

**Environment**

* Prometheus Operator version:
    0.54.0

* Kubernetes version information:

    1.20

* Kubernetes cluster kind:

    insert how you cr

[2022-02-21 10:26] PhilipGough commented on #4582
I deployed the operator via kube-prometheus and created the example `AlertManagerConfig` you pasted without any
issues.

Was this a fresh install or an upgrade?

Can you confirm the CRD was applied correctly:
[code]

Also, worth nothing that the helm charts are maintained by the community and not by the maintainers of this project.

[2022-02-22 02:24] woshihaoren commented on #4582
@PhilipGough thanks.
you're right. helm charts alertmanagerconfigs  version is old，doesn't support matchtype.

[2022-02-22 04:20] xichengliudui opened #4588 "update prometheus-k8s secret data prometheus.yaml.gz data reset"
**What did you do?**
update secret prometheus-k8s data with k8s client-go, but after the update, data will restore the content before the update

**Did you expect to see some different?**
the `resources version` is updated every time

**Environment**
CentOS Linux release 7.6.1810 (Core)

* Prometheus Operator version:

[code]
* Kubernetes version information:

[code]

* Prometheus Operator Logs:
[

[2022-02-22 05:43] xichengliudui commented on #4588
How to disable Prometheus sync configuration

[2022-02-22 09:13] SindhuraGowri opened #4589 "Implement oauth2 using refresh_token"
**What is missing?**

Oauth2 Implementation using refresh_token

**Why do we need it?**

Enhancing support for oauth2 authentication. When the endpoint has oauth2 authentication using refresh_token grant type, then we need to fetch access_token from user provided refresh_token secret and then hit the endpoint url for scraping metrics.

**Environment**

* Prometheus Operator version:

    `quay.io/

[2022-02-22 09:20] SindhuraGowri commented on #4589
I am working on the above described enhancement, proposed design change is as below. Thinking to remove "required" properties section for oauth2 and introduce 2 new attributes grant_type and refresh_token.

[code]

Below is the existing sample spec of endpoint of a resource.
[code]

[2022-02-22 09:48] fpetkovski commented on #4589
Could you explain how the refresh token will be provided configured in the Prometheus oauth2 section: https://prometheus.io/docs/prometheus/latest/configuration/configuration/#oauth2

[2022-02-22 10:02] SindhuraGowri commented on #4589
we have to update that configuration as well by introducing grant_type and refresh_token attributes.

[2022-02-22 10:07] simonpasquier commented on #4582
Closing since it's an issue with the version of the Helm charts.

[2022-02-22 10:07] #4582 closed

[2022-02-22 10:08] simonpasquier commented on #4588
If you want to override the resources generated by the operator, you need to set `spec.paused: true` in the resource definition.

[2022-02-22 10:51] RemcoBuddelmeijer commented on #4273
Also +1 for what @fpetkovski said. Currently having issues with offering Prometheus over HTTPS with the operator, but the config reloader not trusting said certificate since its self-signed. Prefer to keep using the self managed certificate.

[2022-02-22 10:55] RemcoBuddelmeijer commented on #4513
@simonpasquier Adding the IP SANS won't fix the issue. This is because even though the error does not say "x509: certificate signed by unknown authority" in the first place, that doesn't mean this won't be the case afterwards.
In my use-case there was a self-signed certificate without the IP SANS, then after adding 127.0.0.1 to the IP SANS it still didn't work, the error: "x509: certificate signed

[2022-02-22 12:38] simonpasquier commented on #4513
Right, to avoid discussions happening in both issues, lets close this one in favor of #4273.

[2022-02-22 12:38] #4513 closed

[2022-02-22 13:07] xichengliudui commented on #4588
I found a new way to do this using `ServiceMonitor`
I have not used `ServiceMonitor` before，do you know how to configure the following two jobs using `ServiceMonitor`?
[code]
[code]

[2022-02-22 17:13] Joshi425 opened #4591 "Segfault when Prober has no targets"
**What happened?**
I Deployed:
[code]
and the prometheus operator crashed.

**Did you expect to see something different?**
yes
**How to reproduce it (as minimally and precisely as possible)**:
apply the Probe
**Environment**

* Prometheus Operator version:

    `quay.io/prometheus-operator/prometheus-operator:v0.54.0`

* Kubernetes version information:

    `Client Version: version.Info{Major:"1",

[2022-02-23 01:43] #4588 closed

[2022-02-23 09:30] simonpasquier commented on #4591
Thanks for the report, it is fixed in #4541 and will be available in the next release (v0.55.0) planned for 2022-03-09.

[2022-02-23 10:10] #2883 closed

[2022-02-23 19:03] hbarajas commented on #1866
Hi All, i am getting the same issue, is there any update on this or a workaround for this

[2022-02-23 23:01] tatchiuleung commented on #4451
Just came across here and find out the prometheus-operator doesn't support Thanos Ruler remote write. It would be great if we can do this without hacking the container args!

[2022-02-24 02:50] mikechengwei commented on #4565
/assign

[2022-02-24 07:34] xichengliudui opened #4594 "StaticTarget ServiceMonitor Is Not Updating Prometheus Configuration"
**What happened?**

I configured static config according to these issues

https://github.com/prometheus-operator/prometheus-operator/pull/1100
https://github.com/prometheus-operator/prometheus-operator/issues/1207

use a serviceMonitor with a static target to monitor another cluster via the /federate endpoint.
No change to the prometheus config file, the new static config was not added.

**Did you

[2022-02-24 07:57] xichengliudui commented on #4594
I notice that the StaticTarget field has been removed，how do I now configure static_config in ServiceMonitor

[2022-02-24 08:28] slashpai commented on #4594
AdditionalScrapeConfigs should help, check https://github.com/prometheus-operator/prometheus-operator/blob/main/Documentation/additional-scrape-config.md

[2022-02-24 08:34] xichengliudui commented on #4594
Thank you, the use of static_config has upset me

[2022-02-24 08:56] xichengliudui commented on #4594
`error: error validating "sts.yaml": error validating data: ValidationError(StatefulSet.spec): unknown field "additionalScrapeConfigs" in io.k8s.api.apps.v1.StatefulSetSpec; if you choose to ignore these errors, turn validation off with --validate=false`

I can't use `additionalScrapeConfigs`. is that because of my operator version?
[code]

[2022-02-24 09:26] #4594 closed

[2022-02-24 16:27] fpetkovski commented on #1866
The latest version of the operator is resilient enough to keep retrying until all CRDs are available in the apiserver.

If you are trying to apply `Prometheus` or `Alertmanager` custom resources before CRDs are available, there is nothing we can do to solve this problem. It is how Kubernetes works.

[2022-02-25 10:24] slashpai commented on #4572
We can close this since it's fixed now

[2022-02-25 10:24] slashpai commented on #3942
The fix is available in 0.54.1

[2022-02-27 10:04] haitaopanhq opened #4599 "Prometheus Operator: can not be used in agent mode with ["--storage.tsdb.path" "--storage.tsdb.retention.time"]"
**What did you do?**

When I enabled the feature : prometheus.prometheusSpec.enableFeatures: agent  , deoloy the kube-prometheus-stack chart in a k8s cluster .

`kubectl  get pods -n prometheus`:

[code]

`kubectl  logs -f  prometheus-prometheus-agent-kube-prom-prometheus-0 -n  prometheus`:

[code]

but i do not how to deal this problem in Prometheus Operator Mode, the   CRD Prometheus wil auto up

[2022-02-27 16:36] mikechengwei commented on #4467
/assign

[2022-02-28 11:49] simonpasquier commented on #4565
closed by #4598

[2022-02-28 13:18] zfrhv opened #4601 "prometheus operator cant monitor other namespaces"
**What happened?**

installed prometheus certified operator 0.47.0 on openshift 4.8.19
configured for the prometheus to monitor all namespaces:
[code]

created test rule in current namespace and in different namespace, it detects the rule in current namespace but not in the other namespace.

i gave cluster-admin to both prometheus-operator and prometheus-k8s service accounts.

no any error or stra

[2022-02-28 14:34] #4572 closed

[2022-02-28 16:11] simonpasquier commented on #4601
Not related to Prometheus rules but `serviceMonitoringSelector` and `serviceMonitoringNamespaceSelector` aren't valid fields.

add `--log-level=debug` to the container args in the operator's deployment manifest.

well it's going to be difficult for anybody to troubleshoot.

[2022-03-01 06:46] zfrhv commented on #4601
thanks,
well i ran the operator pod in debug (changed the csv),
and looks like the operator sends GET requests to list resources only for the namespace which its installed on (monitoring).
could it be because i installed the operator on a spesific namespace and not "All namespaces on the cluster" ? (this option is not available when i install the operator)

---

can i know why they are not valid f

[2022-03-01 10:08] simonpasquier commented on #4601
probably yes.

[2022-03-01 11:59] zfrhv commented on #4601
i saw [here](https://github.com/prometheus-operator/prometheus-operator/blob/ed36ac53f3ee2635618459cb91291b6a739b9199/pkg/listwatch/namespace_denylist_test.go#L116) that namespace `monitoring` is some kind of special or something,
so i tried to install it in namespace `ocp-monitoring`, and still have the same issue :/

[2022-03-01 13:22] #4126 closed

[2022-03-01 15:40] simonpasquier opened #4606 "Support global settings and templates in the new Alertmanager's `spec.alertmanagerConfiguration` field"
**What is missing?**

https://github.com/prometheus-operator/prometheus-operator/pull/4220 added the ability to reference an `AlertmanagerConfig` object  to provision the main Alertmanager configuration instead of using a raw secret.
But users can't pass custom templates and global settings as defined by https://prometheus.io/docs/alerting/latest/configuration/#configuration-file.

The extended sc

[2022-03-01 15:40] simonpasquier commented on #4606
cc @sunlintong

[2022-03-01 15:49] sunlintong commented on #4606
Ok I should be able to implement it in the next few days.

[2022-03-01 16:10] simonpasquier commented on #4606
Cool. And no pressure: if you don't have time, we totally understand.

[2022-03-02 08:54] zfrhv commented on #4601
sorry my bad, its not certified operator its community operator.

anyway i tried to install [kube-prometheus-stack](https://artifacthub.io/packages/helm/prometheus-community/kube-prometheus-stack) helm chart, and it was conflicting with the openshift-monitoring application (both of them ran into crash look back off after the installation)

so what should i do?
i cant install the operator in all na

[2022-03-02 19:57] rubenssoto opened #4610 "Get nodes Kubernetes Labels"
Hello Everyone,

I have some rules that I need to filter by nodes labels, how can I do that? For example on metric
container_memory_working_set_bytes I don't have any node label info.

thank you

[2022-03-03 07:45] SindhuraGowri commented on #4589
I have created issue (feature_request) in prometheus repo -  https://github.com/prometheus/prometheus/issues/10339

[2022-03-03 08:13] sunlintong commented on #4606
For the httpConfig, can I move it's defination to `monitoringv1` package, which means to update it's version from `v1alpha1.HTTPConfig` to `v1.HTTPConfig`.

So that we can refer it as `*monitoringv1.HTTPConfig`, and won't copy it.

https://github.com/prometheus-operator/prometheus-operator/blob/019631029ca02a0a025ac30a495af1d4ba0ae776/pkg/apis/monitoring/v1alpha1/alertmanager_config_types.go#L224-

[2022-03-03 11:24] PhilipGough commented on #4610
If I understand your question correctly, you are looking to join the metrics `container_memory_working_set_bytes ` and  `kube_node_labels` which is exposed from [kube-state-metrics](https://github.com/kubernetes/kube-state-metrics)?

If that is the case, then you will need to add the following arg to your kube-state-metrics Deployment `- --metric-labels-allowlist=nodes=[*]`

And assuming I add a l

[2022-03-03 13:30] jojotong commented on #4606
For the httpConfig, can I move it's defination to `monitoringv1` package, which means to update it's version from `v1alpha1.HTTPConfig` to `v1.HTTPConfig`.

So that we can refer it as `*monitoringv1.HTTPConfig`, and won't copy it.

https://github.com/prometheus-operator/prometheus-operator/blob/019631029ca02a0a025ac30a495af1d4ba0ae776/pkg/apis/monitoring/v1alpha1/alertmanager_config_types.go#L224-

[2022-03-03 14:18] simonpasquier commented on #4606
I would keep a clear separation between the v1 and v1alpha1 packages for now. Duplicating the struct should be manageable and it should be easy to move everything to v1 later on. I'd also recommend going with small PRs to ease the review (one for templates + maybe 1 per integration settings).

[2022-03-03 14:18] simonpasquier commented on #4606
Something we can discuss too is whether we keep the flat structure of the Alertmanager configuration for globals or if we want something different more hierarchical:

[code]

I don't have a strong opinion. Drifting from the original Alertmanager config format introduces some confusion so I would probably lean towards the first form but happy to hear other opinions :)

[2022-03-03 14:27] zfrhv commented on #4601
well well,
i installed the operator by just applying the bundle `oc apply -f bundle.yaml`.

but seems like he started to manage all of the instances in all namespaces (which is good?),
including the default namepaces as `openshift-monitoring` and `openshift-user-workload-monitoring` (which is bad).
plus the operator was in crash loop backoff without any errors. (i guess he just conflicts with the

[2022-03-03 14:35] zfrhv commented on #4601
or maybe just from the beginning tell that the operator will watch instances only with label of the operator :l

for example if i want the prometheus to be created by operator from namespace `test`, and on the custom resource of the prometheus i will add label of the operator.
like:
[code]

or maybe instead of namespace the operator name:
[code]

[2022-03-03 14:41] zfrhv commented on #4601
so i guess currently this is not possible to have 2 operators in the same cluster? because they both try to manage prometheus instances + thanos ruler + alermanager.
or am i missing something?

[2022-03-03 14:42] jojotong commented on #4606
That's also ok,

The second from is absolutely more beautiful. But IMO, operator data structure keep the same with origin alertmanager is easier to migrate.

I agree with the first ;)

[2022-03-03 18:03] sybadm commented on #3608
I still get this problem,

-  helm fetch prometheus-community/kube-prometheus-stack --untar
-  cd kube-prometheus-stack edit values.yaml
I have it in values.yaml,
`    additionalScrapeConfigsSecret:
        enabled: true
        name: additional-configs
        key: prometheus-additional.yaml`

`# cat prometheus-additional.yaml
- job_name: "DCS-logstash"
  scrape_interval: 60s
  static_configs:

[2022-03-03 18:06] sybadm commented on #3608
not sure what I'm doing wrong but my post is getting some line in bold and in heading

[2022-03-03 18:56] slashpai commented on #3608
Since it's markdown syntax if you use. `# something` it will be considered as header. And if you enclose something between ** ** it will be bold

[2022-03-04 03:58] cucker0 commented on #1559
In kube-prometheus-0.10.0

## I update the manifests/grafana-deployment.yaml file line 132 to 136 like this,
[code]

## Add a job to change the owner of the PVC mount directory
cat ./grafana-chown-job.yaml
[code]

[code]

##  Delete the Pod of grafana
[code]

[2022-03-04 07:18] fpetkovski commented on #4601
In OCP you can use UWM for another prometheus operator instance. Installing it through the bundle is not recommended nor supported. In any case, this is more of a question for OCP

[2022-03-04 08:40] zfrhv commented on #4601
yes but in user workload its very limited, the idea is that i can manage it by my own but its not the case, i cant configure whatever i want.

for example i had to monitor applications outside the cluster, but i cant do that, not with openshift-monitoring nor user workload. (i couldnt configure additional scrape configuration)

so i opened case on redhat, and they are not interested in supporting

[2022-03-04 09:54] ncauchois opened #4613 "Prometheus: added command arguments for remote write receiver"
**What is missing?**

https://github.com/prometheus/prometheus/pull/10119 added the possibility of enable remote-write-receiver feature with flag `--web.enable-remote-write-receiver`.
But in prometheus-operator this argument cannot be passed to Prometheus container.

**Why do we need it?**

To have remote-write-receiver feature with flag `--web.enable-remote-write-receiver`.

**Environment**

* Pr

[2022-03-04 13:56] slashpai commented on #4613
Looks valid to me, I can work on this one if we decide to have this. I will let maintainers decide :)

[2022-03-04 14:54] onwsk8r opened #4615 "0.54.1 release has wrong date"
**What happened?**

2022 happened, can you believe it!?

**Did you expect to see something different?**

I don't judge, but it certainly threw my script for a loop

**How to reproduce it (as minimally and precisely as possible)**:

1. Remain in a single year for at least 365 days. Ensure EUs type the year at least monthly.
2. Allow the year to increment naturally (this change **must** be monotonic

[2022-03-04 14:58] ingmars1709 commented on #3544
Are there any plans that this will be fixed in future releases?
Otherwise we cannot get passed security audits at our company and we need to migrate to another product.

As a temporary workaround I implemented these steps using the kube-prometheus helm chart (repository: https://charts.bitnami.com/bitnami):

1. disable the operator from the chart with operator.enabled = false
2. copy the template

[2022-03-04 15:30] fpetkovski commented on #4615
Time goes backwards in our universe :smiling_face_with_tear:. Looks like we have the same problem with 0.54.0. Will submit a patch to fix the changelog and tweak the releases.

[2022-03-05 00:39] wfindley opened #4618 "Webhook documentation indicates that mutation and validation webhooks both reject invalid rule config"
**What happened?**
I read this documentation that indicates that both webhooks reject invalid rule config.

https://github.com/prometheus-operator/prometheus-operator/blob/main/Documentation/user-guides/webhook.md#deploying-the-admission-webhook

Emphasis mine.

I implemented only the mutation hook and was still able to send erroneous rules.

**Did you expect to see something different?**
I expect

[2022-03-06 06:40] zfrhv commented on #4601
i see,
so i have no other choice but for the operator to watch only hardcoded list of namespaces, or all namespaces (not labes selection)

which means that there can be only 1 operator that will watch all namespaces. and redhat already made it and its openshift-monitoring.

so i have no other choice but to use openshift-monitoring to monitor all applications, and then use thanos ruler or whatever

[2022-03-06 08:04] zfrhv commented on #4601
wait, sorry for being annoying, but the original problem is still not solved.
operator doesnt detects instances outside of his namespace.

i checked my operator deployment:
[code]
i think the problem here is that when you spepcify `--namespace=` then the operator will read instances only from those namespaces. which makes the `serviceMonitorNamespaceSelector`, `ruleNamespaceSelector`.. useless bec

[2022-03-06 15:01] BrammyS commented on #3277
@paulfantom can we open this issue again?
I'm getting the same `server returned HTTP status 401 Unauthorized` error. I Have verified that the token in the secret is correct.

Version: `quay.io/prometheus-operator/prometheus-operator:v0.54.1`.

### ServiceMonitor
[code]
### Secret
[code]

[2022-03-06 15:03] BrammyS commented on #3277
@grhawk Seems like a trailing `\n` is the issue in your case.

[2022-03-07 10:23] PhilipGough commented on #4618
Thanks for reporting that. Would you mind adding a copy of the erroneous rule that was accepted? I just want to verify it is a docs issue only as opposed to a bad rule being accepted.

[2022-03-07 10:24] PhilipGough commented on #4615
Closed by #4616

[2022-03-07 10:24] #4615 closed

[2022-03-07 12:52] simonpasquier commented on #3544
@ingmars1709 this is an open-source project, contributions are more than welcome :)

[2022-03-07 12:57] simonpasquier commented on #4613
This looks good to me. Note that you can still use the `--enable-feature=remote-write-receiver` option via `spec.enableFeatures`.

[2022-03-07 14:14] ncauchois commented on #4613
Yes, but we will no longer be able to use this flag in next versions :
[code]

[2022-03-07 14:45] simonpasquier commented on #4613
I believe that the feature flag isn't ignored yet.

[2022-03-07 16:09] wfindley commented on #4618
Here it is.  It is completely a docs issue.  When I installed the validating webhook it got rejected.
[code]

[2022-03-07 17:56] wfindley commented on #4618
https://github.com/prometheus-operator/prometheus-operator/pull/4620

[2022-03-07 19:58] zfrhv commented on #4601
As i understand the namespace selector will work only on the list that is in the `-namespaces` flag, is that correct?
for example if the list is `-namespaces=ns1,ns2,ns3`, then the namespace selector will work only on ns1, ns2 and ns3.
the operator cant monitor anything in ns4, ns5... is that right?

when installing the community operator on a spesific namespace (the only option available), the it

[2022-03-07 23:35] Kampe commented on #455
So since that's not a "solution" - what's the preferred way to do this now that there's no way to manage this level of configuration with the CRD and external labels?  The latest releases have now completely broken now what used to be a working way to configure a prometheus with external environment variables via YAML.

[2022-03-08 09:50] jleloup opened #4621 "Add shard number/name as an external label"
**What is missing?**

I would like to have a Prometheus external label automatically set by prometheus-operator providing the shard number when deploying Prometheus using the sharding feature.

**Why do we need it?**

This would allow users to use this label as part of Thanos Query deduplication logic so that Thanos would still deduplicates metrics, alerts & targets exposed by replicas while not d

[2022-03-08 19:18] shreyas-badiger commented on #4437
@simonpasquier is there any blocker to merge this PR? We are waiting on this one. The other option was to see how we could implement leader-election for Prometheus-operator. Please share if this PR is going in or not.

[2022-03-08 19:28] PhilipGough commented on #4437
@shreyas-badiger - this was implemented by #4494

Closing based on that.

[2022-03-08 19:28] #4437 closed

[2022-03-08 23:39] grhawk commented on #3277
Thank you very much and sorry for the noise!

[2022-03-09 10:05] zfrhv commented on #4601
I tried to replace this:
[code]
with this:
[code]
as mentioned [here](https://github.com/prometheus-operator/prometheus-operator/issues/4601#issuecomment-1058979958) (in the operator deployment by changing the operator csv), and i get next errors:
[code]
the operator pod is in CrashLoopBackOff, buttttt the prometheus pod finally detects rules from other namespaces.

the `$(NAMESPACES)` is pointing

[2022-03-09 10:24] panhaitao commented on #4599
Thanks ！

[2022-03-09 10:32] zfrhv commented on #4601
oh and the CrashLoopBackOff seems to be caused by `OOMKilled`.
even after increasing the limit i was still getting OOMKilled and CrashLoopBackOff.
default resources:
[code]
tried to increase to:
[code]

[2022-03-09 12:59] #4599 closed, assigned to nobody

[2022-03-09 16:14] tanvp112 commented on #3989
Can you help to explain how to set to pause mode and remove the two fields? As far as I understood these fields are control by the operator. Thanks!

[2022-03-09 17:40] #4618 closed

[2022-03-09 18:19] Kampe commented on #455
Alright y'all, here again with another workaround/solution if you're facing issues with external labels and environment variables:

As of 0.49.0, you'll need to not only add in the environment variable for the `config-reloader` container like above, but ALSO you must supply the environment variable for the `init-config-reloader` container too or else you'll find your prometheus cannot start with e

[2022-03-09 21:52] mikakatua opened #4629 "regex in relabelingConfigs not working"
**What happened?**
I have created a Probe for an Ingress object with a relabeling config:
[code]
The Ingress host/path is `http://monitoring.localnet/prometheus(/|$)(.*)` and this relabeling does not eliminate the regular expression `(/|$)(.*)` at the end of the target url. The relabeling config is ignored and the target url remains the same.

**Did you expect to see something different?**
I would

[2022-03-10 02:12] mikechengwei commented on #4451
/assign i will help to do it.

[2022-03-10 07:40] mikakatua commented on #4629
Playing a bit with the regex, I found a solution:
[code]
The difference is that this regex pattern matches the **whole string** with the target url, resulting in:
* Match 1: `http://monitoring.localnet/prometheus`
* Rest: `(/|$)(.*)`

The previous regex didn't work because  it had multiple matches. You can check it in https://regex101.com/

[2022-03-10 07:40] #4629 closed

[2022-03-10 12:33] dantheman0207 opened #4631 "Is AWS EFS supported?"
You can see [here](https://github.com/prometheus-operator/prometheus-operator/issues/3150#issuecomment-665911221) that it was recommended not to use EFS with Prometheus. Reasons cited were lots of bug reports coming in and that it was likely not POSIX-compliant despite AWS's claims to the contrary. Does this still hold? Is there an official position on whether EFS or any other NFS is supported?

I

[2022-03-10 13:01] fpetkovski commented on #4631
The lack of support is called out in the official prometheus docs: https://prometheus.io/docs/prometheus/latest/storage/

[code]

[2022-03-10 16:03] jleloup commented on #4621
It works fine, thanks for your answer

[2022-03-10 16:29] simonpasquier commented on #4621
I'm wondering if the operator shouldn't inject the external label automatically. What do you think?

[2022-03-11 16:13] simonpasquier opened #4634 ""converting (v1.APIGroup) to (v1.APIResourceList): unknown conversion" warning in the logs"
**What happened?**

I've deployed the latest bundle.yaml on minikube. Checking the logs I see a warning about endpointslice support:

[code]

**Did you expect to see something different?**

No error.

**Environment**

* Prometheus Operator version:

v0.55.0

* Kubernetes version information:

v1.23.1

* Kubernetes cluster kind:

minikube

* Manifests:

bundle.yaml from the repository.

* Prometheu

[2022-03-14 15:22] dantheman0207 commented on #4631
Thanks!

[2022-03-14 15:22] #4631 closed

[2022-03-14 16:12] #4613 closed

[2022-03-14 21:33] PhilipGough commented on #4591
Closed by #4541

[2022-03-14 21:33] #4591 closed

[2022-03-14 21:35] PhilipGough commented on #4497
Closing this based on the previous response. Feel free to reopen if this still remains an issue for you.

[2022-03-14 21:35] #4497 closed

[2022-03-15 14:26] AgriAdhiatma24 opened #4639 "No target discovered despite ServiceMonitor already detected"
**What did you do?**
Hi. I'm deploying prometheus into my microk8s stack. I've deployed Prometheus and Grafana using `microk8s enable prometheus`. The Prometheus and Grafana successfuly deployed in `monitoring` namespace. My own backend service (let's call it Identity) is deployed in `dev` namespace.

As per documentations and tutorial, I then add a ServiceMonitor into `dev` namespace. My ServiceM

[2022-03-15 15:39] pschulten opened #4640 "Provide Short Names for Custom Resource Definitions"
**What is missing?**
CRDs don't provide a short name

**Why do we need it?**
Convenience :)

**Anything else we need to know?**:
I think it's quite common to provide short names for CRDs nowadays:
* keda.sh: ScaledObject: Short Names: so
* autoscaling.k8s.io: VerticalPodAutoscaler: Short Names: vpa
* cilium.io: CiliumNode: Short Names: cn

[2022-03-15 16:50] slashpai commented on #4640
I will give it a go :)

[2022-03-15 17:33] simonpasquier commented on #3862
Reopening the issue since #4535 doesn't work as expected (see #4634 for details).

In retrospect, switching automatically to the `endpointslice` role (if supported by the Kubernetes API) might break existing users if they didn't grant get/list/watch permissions on the `endpointslices` resources to the Prometheus service account in advance. And in a model where service monitors and prometheus objec

[2022-03-16 08:08] zfrhv commented on #4601
finally !
I just increased the limit even more and everything started to work.

I increased it to 8 cpu and 8Gb ram, then check the actual usage (with grafana),
and the operator used 0.1 cpu and 2.1 Gb memory.

so i change the limit:
[code]

I want to create PR but I dont see the same configuration as my operator was installed with.
- the resources limits I found [here](https://github.com/promethe

[2022-03-16 08:09] simonpasquier commented on #4634
Closing in favor of https://github.com/prometheus-operator/prometheus-operator/issues/3862

[2022-03-16 08:09] #4634 closed

[2022-03-16 10:55] simonpasquier commented on #4639
The service monitor matches endpoints with `port: http-metrics` but it doesn't seem to be present in the service itself.

[2022-03-16 17:07] michaelm-88 commented on #3737
any update on this @brancz ?

[2022-03-16 21:22] michael-burt opened #4647 "Prometheus Operated Service w/ Multiple Prometheus CRs"
**TLDR**
- I have multiple Prometheus CRs in the same namespace
- Some of these include Thanos config stanza, others do not
- The `promethtues-operated` Service does not include the Thanos port mapping, even though it points to all of the Prometheus CRs I have deployed

**What did you do?**

I am running multiple Prometheus instances in the same namespace. This means that multiple Prometheuses are

[2022-03-17 00:20] #4647 closed

[2022-03-17 02:15] jojotong commented on #3737
@michaelm-88 This feature has been implemented in https://github.com/prometheus-operator/prometheus-operator/commit/d41eb193e. You can refer to doc https://github.com/prometheus-operator/prometheus-operator/blob/main/Documentation/user-guides/alerting.md#specify-global-alertmanager-config to config. But this feature is EXPERIMENTAL, the rest of the work is in progress at https://github.com/prometh

[2022-03-17 10:14] rparke opened #4648 "Admissions controls in prometheus-operator after k8s v1.25"
**What is missing?**
Dynamic Admissions controls for Pods.

**Why do we need it?**
prometheus-operator manages creation of its pod security policy objects. psps have been depricated since kubernetes version 1.21 and will be removed in 1.25. As a result many cluster admins are moving to write their own policy for admissions control of pods (and in fact other resources) using tools like Open Policy

[2022-03-17 18:15] vishiy opened #4654 "How to get grafana dashboards from each prometheus operator release"
I am looking for how to get the dashboards that gets packaged with every version of prometheus operator (whic us used by kube-prometheus-stack chart). I am PRWing prometheus metrics to a remote store (cloud) and using managed grafana from a cloud provider, and i want to import those dashboards into managed grafana for the version of operator i am using. I know i can export & import manually from t

[2022-03-17 21:25] adyanth opened #4655 "Cross namespace service/pod monitors failing"
**What did you do?**
I installed the prometheus operator and set up `prometheus`, `servicemonitor` and `podmonitor`.
One of the cross namespace `servicemonitor`  for longhorn is working fine whereas another one for `cloudflared` is not.

**Did you expect to see some different?**
I expected both to work fine

**Environment**

* Prometheus Operator version:

    `v0.55.0`

* Kubernetes version infor

[2022-03-18 09:38] adyanth commented on #4655
My bad for not RTFM. I had to add the below to the `Prometheus` and the `ServiceMonitor` and `PodMonitor`

[code]

[code]

Can someone tell me how did it work for the 2 podMonitors and the 1 serviceMonitor without me adding anything? The documentation seems to say the following:

     ServiceMonitors to be selected for target discovery. *Deprecated:* if
     neither this nor podMonitorSelector are

[2022-03-18 10:23] rparke commented on #4648
Possibly. I'm dealing with a stack that I didn't build at the minute. My (possibly mistaken) understanding was that operator created its own psps. I take it this isn't the case?

[2022-03-18 10:48] simonpasquier commented on #4648
correct the operator doesn't create/manage PodSecurityPolicys.

[2022-03-18 11:08] rparke commented on #4648
Ah great. My confusion was that we use ansible to deploy the operator (via helm), and since there was no task to create the psp I'd assumed it was created by the operator.

I'll close

[2022-03-18 11:08] #4648 closed

[2022-03-18 11:40] simonpasquier opened #4656 "Add support for active time intervals in AlertmanagerConfig CRD"
**What is missing?**

Alertmanager v0.24 (to be released soon) supports active time intervals (see https://github.com/prometheus/alertmanager/pull/2779). The functionality would need to be added to the AlertmanagerConfig CRD too.

Similar to what happens in Alertmanager, the existing `spec.muteTimeIntervals` field needs to be deprecated in favor of `spec.timeIntervals`. The operator could seamless

[2022-03-18 11:42] simonpasquier opened #4657 "Add support to AlertmanagerConfig for `update_alerts` in the OpsGenie receiver"
**What is missing?**

Alertmanager v0.24 (to be released soon) supports  `update_alerts` in the OpsGenie receiver configuration. The same needs to be added to the AlertmanagerConfig CRD.

**Why do we need it?**

Feature-parity :)

**Environment**

* Prometheus Operator version: N/A

**Anything else we need to know?**:

[2022-03-18 11:44] simonpasquier opened #4658 "Add support to AlertmanagerConfig for `entity` and `actions` fields in the OpsGenie receiver"
**What is missing?**

Alertmanager v0.24 (to be released soon) supports `entity` and `actions` in the OpsGenie receiver configuration. The same needs to be added to the AlertmanagerConfig CRD.

**Why do we need it?**

Feature parity.

**Environment**

* Prometheus Operator version:

    `Insert image tag or Git SHA here`

**Anything else we need to know?**:

[2022-03-18 11:46] simonpasquier opened #4659 "Add validation for the OpsGenie's responders"
**What is missing?**

~~Alertmanager v0.24 (to be released soon) supports for `teams` responders in the OpsGenie receiver configuration. The same needs to be added to the AlertmanagerConfig CRD.~~

Proper validation of the responder field for the OpsGenie integration:
* At the OpenAPI spec level with `// +kubebuilder:validation:Enum` marker
* When generating the configuration to ensure that the re

[2022-03-18 11:49] simonpasquier opened #4660 "Add support for `opsgenie_api_key_file` in the global Alertmanager configuration"
**What is missing?**

Alertmanager v0.24 (to be released soon) supports `opsgenie_api_key_file` in the global Alertmanager configuration. The internal configuration struct needs to be updated:

https://github.com/prometheus-operator/prometheus-operator/blob/f49dc4bb80e33f0044df4915ab4e844feb30c02e/pkg/alertmanager/types.go#L39-L66

**Why do we need it?**

Feature parity.

**Environment**

* Promet

[2022-03-18 11:53] slashpai commented on #4656
I will give it a go

[2022-03-19 03:16] dullest opened #4662 "example manifest of thanos failed due to missing image tag"
**What happened?**

Thanos related deployment failed to pull image using [thanos example](https://github.com/prometheus-operator/prometheus-operator/tree/main/example/thanos) directory.
I checked the registry and found that it doesn't have v0.11.2 tag.

**Did you expect to see something different?**

[code]

**How to reproduce it (as minimally and precisely as possible)**:

[code]

**Environment**

[2022-03-19 08:47] dullest opened #4664 "thanos sidecar lost permission to work from v0.55.0 due to securityContext"
**What happened?**

thanos-sidecar cannot upload objects after upgrading to v0.55.0 from v0.54.1.
It seems thanos-sidecar needs some securityContext.capabilities.
I didn't check which capabilities are required but `securityContext.capabilities: {}` for thanos-sidecar can work.

**Did you expect to see something different?**

**How to reproduce it (as minimally and precisely as possible)**:

Deploy

[2022-03-20 05:50] dullest commented on #4664
Checked thanos process capabilities with `quay.io/thanos/thanos:v0.25.1`

[code]

So I could upload with following `securityContext.capabilities`.

[code]

[2022-03-20 14:05] mikechengwei commented on #4660
/assign

[2022-03-20 17:09] ElkRom commented on #3989
Hi,
When this issue will be fixed?

[2022-03-21 10:26] efekete opened #4668 "Pagerduty 'details' under template lose their order"
**What happened?**

Prometheus Pagerduty template details fields loses order

**Did you expect to see something different?**

Prometheus Pagerduty template fields  fields to keep the same order

**How to reproduce it (as minimally and precisely as possible)**:

Create pagerduty template with for example five fields.
Apply it to Kubernetes.
After operator generates configuration that will be used i

[2022-03-21 11:39] zfrhv opened #4669 "Installing 2 operators fight for clusterrole monitoring-edit"
**What happened?**
Installed the operator in 2 namespaces, and each of the tries to modify `ClusterRole/monitoring-edit` for his own need.

**Did you expect to see something different?**
I expected each operator to create his own `ClusterRole`

**How to reproduce it (as minimally and precisely as possible)**:
Install 2 operators in 2 different namespaces. and see that `metadata.labels["olm.owner.n

[2022-03-21 11:43] simonpasquier commented on #4668
This is correct. Even if the operator was able to serialize the map with a stable order for keys, it would only be reflected in the generated Alertmanager configuration. I assume that it's more a question for PagerDuty/Alertmanager than the operator itself.

[2022-03-21 12:42] efekete commented on #4668
Hello @simonpasquier,

Thank you for the fast reply.

It seems to me Alertmanager keeps the configuration same as it is in `/etc/alertmanager/config/alertmanager.yaml`, it only adds some default values as "firing". Also, pagerduty table order are the same as the one in configuration. Didn't check the code, but my guess is they are only using structs for marshal/unmarshal and it keeps the order.

A

[2022-03-21 14:05] simonpasquier commented on #3989
@ElkRom as far I know, we don't have an ETA.

[2022-03-21 14:22] #4662 closed

[2022-03-21 14:36] efekete commented on #4668
To get relevant information first when reading it on the phone

[2022-03-21 15:29] ap-vishal commented on #4606
Is there any workaround with which we can use custom templates with the new version? We needed the global config but as soon as we upgraded all our alerts syntax broke.

[2022-03-22 07:59] jojotong commented on #4606
In the latest release, maybe no solution. But I'll support the custom templates after https://github.com/prometheus-operator/prometheus-operator/pull/4622 be merged.

[2022-03-22 10:45] #4660 closed

[2022-03-22 14:02] #4386 closed

[2022-03-22 14:20] simonpasquier commented on #4668
This would be more a question for Alertmanager. But checking on the PagerDuty community forum, it seems that depending on the number of items, the`custom_details` keys are ordered either alphabetically or randomly hence it shouldn't matter if in which order they appear in the Alertmanager configuration?
https://community.pagerduty.com/forum/t/custom-details-field-ordering-and-whitespace/3671/4

[2022-03-22 14:28] efekete commented on #4668
Thx for the help! I'll close this issue then.

[2022-03-22 15:32] simonpasquier commented on #4669
:wave: the maintainers of this repository don't maintain the OLM bundle. you'll have to ask https://github.com/k8s-operatorhub/community-operators directly.

[2022-03-22 16:56] sybadm commented on #3608
Spent almost two weeks - no luck at all

both additionalScrapeConfigs and additionalScrapeConfigsSecret are ignored

[2022-03-22 17:56] zfrhv commented on #4669
ooo ok :0

[2022-03-22 17:56] #4669 closed

[2022-03-23 01:30] renebarbosafl opened #4674 "Limiting targets with the same data"
**What did you do?**

We have a k8s running where every single pod exports basically the same data through Prometheus endpoints. We want to setup a serviceMonitor and we want to scrape only one pod/endpoint per time (or maybe the load balancer itself). We tried to set `targetLimit: 1` on serviceMonitor's spec and no one of our endpoints were scraped.

**Did you expect to see some different?**

Onl

[2022-03-23 04:14] renebarbosafl commented on #4674
May be closed. I got what we need by using relabelings.

[2022-03-23 04:14] #4674 closed

[2022-03-23 06:52] dullest commented on #4664
This can be fixed by adding runAsUser.

[code]

[2022-03-23 06:52] #4664 closed

[2022-03-23 08:00] zfrhv commented on #4601
I think its a csv problem configuration and not operator fault.
so I [opened new case](https://github.com/k8s-operatorhub/community-operators/issues/942), and I will close this one.

thanks for the help !

[2022-03-23 08:00] #4601 closed

[2022-03-23 14:09] bjarteb commented on #3495
This is how we configured Amazon MSK for scraping

[code]

**values.yaml**

[code]

[code]

[2022-03-23 15:22] simonpasquier opened #4677 "Add v1beta1 AlertmanagerConfig CRD"
The AlertmanagerConfig CRD has been introduced as v1alpha1 in v0.43.0, one and half years ago. We've collected great feedback so far and the CRD now supports all Alertmanager configuration options. We'd like more users to benefit from it and offering a v1beta1 version of the CRD would increase adoption (beta version means that the project won't remove the API in the future and provides increased s

[2022-03-23 15:23] simonpasquier commented on #4677
@prometheus-operator/prometheus-operator-reviewers please have a look at this :)

[2022-03-23 15:25] simonpasquier commented on #4677
I would be in favor of this but I'm not 100% sure that it wouldn't complicate the conversion (need to be checked).

Given that the API changes should be rather limited, I don't think it is worth the effort (or at least it doesn't have to exist before releasing v1beta1).

[2022-03-24 14:49] #4322 closed

[2022-03-24 15:45] slashpai commented on #4677
Other resources in `v1` are `coreos.monitoring.com` so if we change this only for alertmanager would that look odd? :)

[2022-03-25 08:57] simonpasquier opened #4682 "Get rid of `github.com/pkg/errors` dependency"
https://github.com/pkg/errors has been archived and is no longer maintained.

~~At least 2 options are available:~~
* ~~Use a drop-in replacement like https://github.com/emperror/errors.~~
- [ ] Use the [`errors`](https://pkg.go.dev/errors) package from the standard Go library.
- [x] Add a `depguard` rule in the golang-cilint configuration to prevent future use of `github.com/pkg/errors`.

See als

[2022-03-25 08:58] simonpasquier commented on #4682
Personally I'd be fine with using the standard `errors` package since the code doesn't rely on advanced capabilities of `github.com/pkg/errors` such as stack trace logging.

[2022-03-25 09:16] slashpai commented on #4682
will do this

[2022-03-25 10:46] llussy commented on #3743
I'm also getting the same error.

[2022-03-25 12:23] PhilipGough commented on #4677
I tend to agree that it would. Although the original group is legacy at this point, it is still well known and I am not sure what we really gain by moving away from it?

[2022-03-25 13:10] simonpasquier commented on #4677
@slashpai this is a good point and having to deal with a new API version + a new group at the same time would probably complicate things too much (both for us and and for users). Lets keep `monitoring.coreos.com` for now!

[2022-03-25 13:13] simonpasquier commented on #4677
The main reason would be consistency and more clarity. But yes, the (user benefit / potential trouble) ratio might not be very good :)

[2022-03-25 13:52] Kuckkuck opened #4685 "Support http_sd_configs/file_sd_configs for CRD ServiceMonitor/PodMonitor"
The custom resources `ServiceMonitor` and `PodMonitor` are missing the Prometheus config feature for `http_sd_configs` and `file_sd_configs`. To remove jobs from the default Prometheus config and move them to the CRD ServiceMonitor, it makes sense  to at least add the feature for ServiceMonitor to retrieve config from the http_sd_configs: url.

**What is missing?**
ServiceMonitor and PodMonitor ne

[2022-03-25 16:49] simonpasquier commented on #4685
This is similar to #2787, that is a new CRD able to suport any Prometheus scrape configuration.

[2022-03-28 03:53] jhsswl opened #4689 "servicemonitor加入基本认证，Prometheus依然显示server returned HTTP status 401 Unauthorized"
监控外部主机，需要基本认证
host-servicemonitor.yaml 配置

[code]

==================
cat host-secret.yaml
[code]

=====================
cat host-endpoints.yaml
[code]

=============
cat host-service.yaml
[code]
======
外部机器node_exporter配置
cat node_exporter/config.yaml
[code]

node_exporter不用基础认证是可以获取到信息的，prometheus上还需要配置什么吗

![image](https://user-images.githubusercontent.com/35069629/160366540-cb3d6f70-3b43-4569-

[2022-03-28 09:05] simonpasquier commented on #4689
Can you provide more details about the issue? Does the Prometheus configuration on disk contain the correct credentials?

[2022-03-28 15:23] simonpasquier opened #4691 "How can the CRDs offer more flexibility/control for the pod template spec?"
We get regular requests from users to add more fields to the Prometheus, Alertmanager and Thanos Ruler CRDs. The situation is particularly acute for fields that exist in the statefulset's pod template spec.

As of today, the following pod template's fields are exposed by the CRDs:
* affinity
* containers (via strategic merge patch)
* hostNetwork (Prometheus only)
* imagePullSecrets
* initContainer

[2022-03-28 16:11] xobot42 opened #4692 "Prometheus path"
Hello. In `serviceMonitor` manifest in section endpoints we have this structure:

`  endpoints:
    - port: http
       path: /actuator/prometheus`

And in the `service` manifest this:

`metadata:
    annotations:
      prometheus.io/scrape: True
      prometheus.io/path: /actuator/prometheus`

Could you explain please. Should I use both of them `path` or is one enough? And which one is in priorit

[2022-03-28 18:04] acookin opened #4693 "kube-state-metrics not being scraped by prometheus"
**What happened?**
I setup the prometheus operator, and none of the kube-state-metrics I would expect were getting scraped.

I see `0/28 active targets` for kube-state-metrics in the service discovery view in the UI

**Did you expect to see something different?**
I would expect to see kube-state-metrics and an "active" kube-state-metrics.

**How to reproduce it (as minimally and precisely as possi

[2022-03-29 05:48] jhsswl commented on #4689
Prometheus 其它配置还需要凭据吗，创建了hosts目录用来监控外部主机node-exporter，Prometheus目录以添加图片

[2022-03-29 05:48] jhsswl commented on #4689
Prometheus 其他配置还需要添加端口监控，创建了hosts目录使用外部主机节点-exporter，Prometheus目录以图片

[2022-03-29 07:56] fpetkovski commented on #4692
You do not need the annotations in the Service object, the ServiceMonitor should have all the information it needs.

[2022-03-29 08:57] xobot42 commented on #4692
@fpetkovski thanks

[2022-03-29 08:57] #4692 closed

[2022-03-29 14:10] simonpasquier commented on #4693
Can you share the kube-state-metrics service YAML definition?

[2022-03-29 14:23] acookin commented on #4693
`kube-state-metrics` deployment:

[code]

service yaml:

[code]

[2022-03-29 15:49] AnthonyWC opened #4696 "[Question] Missing app=prometheus label on pod"
Somehow kubernetes operator pod is missing app=prometheus label on pod:

[code]

[code]

Endpoint and many other resources has dependency on that label; anyone know what could be causing this?

p.s. If someone can change label to question

[2022-03-29 16:56] AnthonyWC commented on #4696
Looks like label was changed by https://github.com/prometheus-operator/prometheus-operator/pull/3939 so can re-applied label under spec in Prometheus as:

[code]

Or change label selector to new version.

[2022-03-29 16:56] #4696 closed

[2022-03-29 17:02] mikechengwei commented on #4657
/assign

[2022-03-29 17:02] mikechengwei commented on #4658
/assign

[2022-03-29 17:57] mikechengwei commented on #4659
Ref: #https://github.com/prometheus/alertmanager/pull/2685 , i think prom-operator not need to add new filed to support teams, because teams feature  reuse the original `type` field. WDYT? @simonpasquier

[2022-03-29 19:47] MatTerra commented on #4071
Does this proposal include headers for probes?

[2022-03-30 07:09] jhsswl commented on #4689
https://github.com/prometheus-operator/prometheus-operator/issues/4689#issuecomment-1081977400

[2022-03-30 07:09] #4689 closed

[2022-03-30 07:21] jhsswl commented on #4689
node-exporter 上认证用户名和密码都是jhs, config.yaml生成密码过程：htpasswd -nBC 12 '' | tr -d ':\n'   输入jhs , 生成$2y$12$qI7tS0YsG0rGecOtLcOBJeIPKjmhYj543sVebw8x31fudJxvXpMHq ，写入配置文件，可以启动node-exporter 服务。 k8s host-secret.yaml data字段user，password如何设置密码和用户名都是jhs，跟node-exporter对应上，amhz 是通过echo -n  "jhs" | base64生成的，Secret中使用stringData字段(user，password直接写jhs)也不行。

[2022-03-30 07:42] simonpasquier commented on #4693
The service monitor's selector is:

[code]

But the service doesn't have these labels:

[code]

In particular `app.kubernetes.io/instance` doesn't match

[2022-03-30 08:43] lin1005q commented on #4071
no

[2022-03-30 12:06] #4658 closed

[2022-03-30 13:50] abudavis opened #4699 "Prometheus Service on Kubernetes has empty endpoints"
I followed this guide to deploying prometheus instance on my Kubernetes cluster on IBM Cloud and found that the Prometheus Service created has empty endpoints "<none>" as shown below:
---
[code]
---

Guide: https://grafana.com/docs/grafana-cloud/kubernetes/prometheus/prometheus_operator/
Kubernetes version: v1.22.8

This probably means that the web console of prometheus inside the prometheus pod i

[2022-03-30 13:51] hjfeng1988 opened #4700 "how to update container args"
My prometheus need reverse proxy,One domain name reverse proxy a variety of services.So I need to modify prometheus args `--web.route-prefix=/prometheus`.

I had look for everything,but can't found where to update.

[2022-03-30 20:04] #4699 closed

[2022-03-31 09:35] #4640 closed

[2022-03-31 09:37] PhilipGough commented on #4700
@hjfeng1988 does https://github.com/prometheus-operator/prometheus-operator/blob/9c0db5656f04e005de6a0413fd8eb8f11ec99757/Documentation/user-guides/strategic-merge-patch.md work for you?

[2022-03-31 11:37] mbihoop opened #4701 "Lack of clear documentation about how to have Pods/Services picked up by Prometheus"
I've been searching the web and reading for an hour now, I understood what instructions I needed to give my users in 2018/2019 - annotate your pods/services and go to the pub.

Now, in 2022 I still can't understand what is necessary with the new way of doing things. I'm not a moron, and I've been doing this stuff for > 2 decades +.

Can someone please clarify or point out the relevant documentatio

[2022-03-31 13:24] j-sokol opened #4702 "Creating K8s secret with Prometheus config fails when compressed config is larger than 1MB"
**What happened?**

When the Prometheus Operator tries to create a Kubernetes secret with Prometheus config (`prometheus.yaml.gz`) that is larger than 1MB, saving is fails due to Kubernetes limitation of the maximum Secret size of 1MB:

[code]

**Did you expect to see something different?**
I would expect it scale over this amount of ServiceMonitors.

**How to reproduce it (as minimally and precis

[2022-03-31 20:40] PhilipGough commented on #4682
@slashpai - thanks, its yours :)

[2022-04-01 04:17] mikechengwei commented on #4659
ok

[2022-04-01 09:17] hjfeng1988 commented on #4700
@PhilipGough tks,It works.

But prometheus start failure,I give up such a need.

[2022-04-01 09:17] #4700 closed

[2022-04-01 13:42] askoriy opened #4703 "Add Telegram Receiver type to AlertmanagerConfig CRD"
Alertmanager since [0.24.0](https://github.com/prometheus/alertmanager/releases/tag/v0.24.0) supports native Telegram integration.

But currently prometheus-operator still doesn't support it, and configuring telegram resulting
[code]
So please add support of `telegram_configs` in AlertmanagerConfig CRD

[2022-04-01 14:21] OneCricketeer opened #4704 "There's nothing dynamic about ProbeSpec targets"
**What happened?**

I read ProbeSpec documentation saying "dynamically discovered targets to probe", but it's clearly not referring to the staticConfig, and I don't have Ingress objects I want to scrape.

If it is only dynamic for Ingress resources, I feel that should be explicitly stated in `ProbeSpec` rather than nested in the Target spec, and us making the assumption that other types of dynamic

[2022-04-03 09:51] heylongdacoder commented on #3408
Hi folks, I am trying to implement this. Do I need to customize the value for the histogram buckets? If yes, what value would be suitable?

[2022-04-04 09:09] SuperMatt opened #4705 "config-reloader does not successfully reload after `global scrape timeout greater than scrape interval` failure"
**What happened?**

When a user accidentally changed their global scrape timeout variable to be larger than the global scrape interval, the prometheus instance rightfully asserted that it could not reload the config. A fix was put in place to revert the change and the new config was rolled out. However, the config reloader did not successfully reload the new config, and instead reported the follow

[2022-04-04 09:14] slashpai commented on #4705
The issue with scrapeTimeout set larger than scrapeInterval was fixed in `0.54.1`, can you try with that version?

[2022-04-04 09:19] simonpasquier commented on #3408
IMHO, the default histogram buckets would be too detailed for the operator, `{.1, .5, 1, 5, 10}` is probably enough.

[2022-04-04 09:25] simonpasquier commented on #4702
thanks for the report! Yes the operator would need to split the configuration into several secrets but it wouldn't be enough since the config reloader would need to reassemble the bits before generated the configuration on disk.

[2022-04-04 11:41] ikarlashov commented on #3071
Any updates? Looks like intention was to improve configuration but in the end it's a breaking change. port and targetPort don't do the same thing as OP stated. However, it's possible to adapt so **port** will do the same thing as targetPort by following approach mentioned by @pgier.

Please re-open PR @whut

[2022-04-04 13:14] simonpasquier commented on #4705
I tried to reproduce and indeed it looks like the config reloader can't recover even after you fix the bad configuration.

*How to reproduce*

* Deploy a Prometheus object with 2 replicas and wait for the replicas to be ready.
* Edit the Prometheus object to trigger an invalid configuration (e.g. `spec.queryLogFile: tmp/query.log`)
* Watch the config reloader logs and wait to see errors.
* Revert

[2022-04-04 15:35] #3408 closed

[2022-04-04 16:00] SuperMatt commented on #4705
I've just tried with v0.55.1 but the bug is still present. The result is exactly the same as before, and the same as the comment above from @simonpasquier. The logs stop and Prometheus still considers the last reload to be unsuccessful.

[2022-04-04 17:36] OneCricketeer commented on #4704
Yes, [`ProbeSpec`](https://github.com/prometheus-operator/prometheus-operator/blob/main/Documentation/api.md#probespec) docs should clarify what "dynamic" means.

Second part of my request is more of a feature-request, or if I am using the wrong tool overall, feel free to let me know. Basically, is there a way for the `Probe` resource to take advantage of Prometheus's service discovery modules to

[2022-04-05 04:43] avdicl commented on #3989
Keeping this issue alive.

[2022-04-05 09:58] simonpasquier commented on #4704
would you like to submit a PR to improve the description?

for now you'd probably want to use `additionalScrapeConfigs`. Eventually we want to add a `ScrapeConfig` CRD that woull support all Prometheus scrape options (see https://github.com/prometheus-operator/prometheus-operator/issues/2787).

[2022-04-05 11:05] aceeric commented on #4655
@adyanth Can you tell me which documentation you are referring to above when you say "My bad..."? I also am experiencing the operator not finding `...Monitor` resources across namespaces and cannot find an obvious doc reference indicating that modifying the `Prometheus` CR should be required. Thank you.

[2022-04-05 11:21] OneCricketeer commented on #4704
I would if I knew what "dynamic" was referring to

[2022-04-05 13:15] thomassuedbroecker commented on #4701
@PhilipGough The documentation works perfect for the example application, but if you going to add custom ServiceMonitors and Prometheus instances in different namespaces, it seems the the automatic scrape of the _ServiceMonitor_ doesn't work.

I used that [useful blog post](https://www.infracloud.io/blogs/prometheus-operator-helm-guide/) to inspect in detail the _cat prometheus.yml_ on the prometh

[2022-04-05 15:35] adyanth commented on #4655
@aceeric This [getting started guide](https://github.com/prometheus-operator/prometheus-operator/blob/main/Documentation/user-guides/getting-started.md) talks about using a selector `team: frontend` and including it in the `Prometheus` configuration for it to work.

But this is only when the `ServiceMonitor` is in the monitoring namespace but the actual service is in some other namespace. What I h

[2022-04-06 10:30] everythings-gonna-be-alright commented on #4414
I think it still actual for big clusters, when you collect big amount of metrics.
Or like my case:
I have 3 small clusters and 5GB of memory not enough for all my metrics. But i donʼt want provide more memory. It's insane.
storage.tsdb.max-block-duration=20m solve this problem.

[2022-04-06 11:33] majidrajabi commented on #4705
Same issue. Have you any progress @SuperMatt ?

[2022-04-06 11:46] SuperMatt commented on #4705
I'm not a developer on the project, so I wouldn't know where to start with fixing this issue. We have managed to protect ourselves against this bug by putting in tests in our CI/CD which fail if the scrape_timeout is larger than the scrape_interval, but it does not fix the bug.

[2022-04-06 12:01] majidrajabi commented on #4705
Above you said that you manually reload the configuration with curl. Can you please share that curl command?

[2022-04-06 12:23] SuperMatt commented on #4705
@majidrajabi much like this, though note that the url will be different for you.
```curl -X PUT http://prometheus.url:9090/-/reload```

[2022-04-06 20:17] danielcrisap commented on #4565
Issue closed due to the solution already applied in the version [v0.55.0](https://github.com/prometheus-operator/prometheus-operator/releases/tag/v0.55.0)

Thanks, @simonpasquier, and @mikechengwei  for the implementation !!

[2022-04-06 20:17] #4565 closed

[2022-04-07 00:41] daneearquero commented on #2588
Hi, we are having the same issue, how do you see the prometheus operator logs? we tried @metalmatze 's suggestion but its still not showing. Are we missing something?

`apiVersion: monitoring.coreos.com/v1
kind: PrometheusRule
metadata:
  labels:
    release: prometheus
  name: test-rule
  namespace: test-namespace
spec:
  groups:
  - name: test-rule
    rules:
    - alert: InstanceDown
      expr

[2022-04-07 00:48] daneearquero opened #4707 "Prometheus not showing rules and alerts"
Hi, We are trying to create a prometheus rule and alert.We have applied it in our namespace and can see the configuration when we run `kubectl describe` but it is not showing in the prometheus site

Sample Rule :

[code]

Sample Alert:
[code]

Are there any prerequisites needed? Did we miss anything
Thank you!

[2022-04-07 08:04] slashpai commented on #4705
@SuperMatt Does version `v0.54.1` let you define ScrapeTimeout greater than ScrapeInterval?
It should reject the config and report the error in prometheus-operator log

[2022-04-07 11:40] SuperMatt commented on #4705
I had only previously tested the config reloader itself. I will test the actual prometheus operator now, to see if it blocks the change.

[2022-04-07 12:53] SuperMatt commented on #4705
Can confirm that the operator blocks the config with the following message:
[code]

[2022-04-07 12:53] #4705 closed

[2022-04-07 13:24] simonpasquier opened #4708 "config-reloader doesn't reload a valid configuration an invalid configuration was pushed"
The issue was originally described in #4705 but it got closed because the root cause (scrape timeout > scrape interval) got fixed in v0.54.1.

*How to reproduce*

* Deploy a Prometheus object with 2 replicas and wait for the replicas to be ready.
* Edit the Prometheus object to trigger an invalid configuration (e.g. `spec.queryLogFile: tmp/query.log`)
* Watch the config reloader logs and wait to s

[2022-04-07 13:25] simonpasquier commented on #4705
FWIW I've filed https://github.com/prometheus-operator/prometheus-operator/issues/4708 to investigate why the reloader doesn't reload the Prometheus configuration after it got fixed.

[2022-04-07 13:30] simonpasquier commented on #4707
Can you share your Prometheus resource? Are you sure about your `ruleSelector` and `ruleNamespaceSelector`?

[2022-04-07 13:33] mbihoop commented on #4701
_I think_ ServiceMonitor won't work for my use case as I need to monitor distributed databases that are not fronted by a Service (each Pod runs on a separate node and is exposed individually).
I understand some of the user demands that must have prompted this design, one thing that has been lost from the original design is the fact that one could look at a Pod or Pod Template and instantly know wh

[2022-04-07 20:51] daneearquero commented on #4707
Hi @simonpasquier , thank you for replying.  Unfortunately, we were not the ones who did the set up for the prometheus site. We were supposed to just add the service monitors, rules and alert.

[2022-04-08 09:16] PhilipGough commented on #4701
Hi @thomassuedbroecker - PTAL [troubleshooting guide](https://github.com/prometheus-operator/prometheus-operator/blob/main/Documentation/troubleshooting.md#troubleshooting-servicemonitor-changes) to debug why your targets are not being discovered/scraped.

Hi @mbihoop - perhaps take a look at [PodMonitor](https://github.com/prometheus-operator/prometheus-operator/blob/2809ca11242cb6fdc107257a8e0a7

[2022-04-08 10:15] asettouf commented on #4079
Slightly related, updating the `storageClassName` doesn't do anything, no pvc is created using the updated storage class, the deployment keeps using the previous pvc even though it's incorrect

[2022-04-08 14:48] simonpasquier commented on #4707
It's probably a misconfiguration or mismatch between your PrometheusRule and the Prometheus. Which is why I asked about the ruleSelector and ruleNamespaceSelector values.

[2022-04-10 14:15] heylongdacoder commented on #4708
config-reloader will try to reload a config with a three minutes [timeout](https://github.com/thanos-io/thanos/blob/main/pkg/reloader/reloader.go#L256). Once it enter the reload stage, it wont accept any new config because the config unzip is happen in the reload stage. Hence the reload of a faulty config will make the reloader try until it timeout and I believe the `context deadline message` is d

[2022-04-11 17:16] ctml91 opened #4712 "Custom config-reloader resource limits"
I did do some searching and came across some older issues related to the topic of config-reloader resources but need some clarification.

2364
3883

I am looking to see if there is a way to configure the init container resources (config-reloader) through the Prometheus CR (I could only find the spec for prometheus itself, and adding additional init containers). The defaults are too big for what I

[2022-04-11 18:34] ctml91 commented on #4712
https://github.com/prometheus-operator/prometheus-operator/blob/main/Documentation/api.md#prometheusspec

Sorry, found it :) For anyone else who comes across, you can override the `config-reloader` container spec.

[code]

[2022-04-11 18:34] #4712 closed

[2022-04-12 16:05] pearsonradu opened #4713 "Prometheus Operator OpenApi URL"
Is there a URL for the Prometheus Operator OpenApi URL?

[2022-04-13 01:22] jhsswl commented on #4689
解决方法：
kubectl  create -n monitoring secret generic node-jf-secret --from-literal=username=jhs --from-literal=password=jhs

ServiceMonitor在引用

[2022-04-13 07:16] ihorhritskiv opened #4714 "opsgenie_configs field api_key_file not found in type config.plain"
**What happened?**

**prometheus-operator** not able to sync **alertmanager** configuration

**Environment**

* Prometheus Operator version:

    `image: quay.io/prometheus-operator/prometheus-operator:v0.55.0`

* Alertmanager version:

    `image: quay.io/prometheus/alertmanager:v0.24.0`

* Alertmanager config:

[code]

* Prometheus Operator Logs:

[code]

[2022-04-13 13:01] ostavnaas commented on #3954
I believe that is the idea behind AlertmanagerConfig, that it's pr. namespace.

ref: https://github.com/prometheus-community/helm-charts/blob/main/charts/kube-prometheus-stack/crds/crd-alertmanagerconfigs.yaml#L41

[2022-04-13 16:11] heilerich opened #4715 "Global AlertmanagerConfig without route spec sends operator into crash loop"
**What happened?**

Specifying a global `AlertmanagerConfig` using the new feature introduced in #4220 / d41eb193e5bb250e1a1b0c60a120e4e78ab59765 with an empty route section sends the operator into a crash loop.

**How to reproduce it (as minimally and precisely as possible)**:

1. Create a `AlertManagerConfig` without the `.spec.route` key
2. Create `Alertmanager` and set `.spec.alertManagerConfi

[2022-04-14 11:44] PhilipGough commented on #4703
@askoriy - would you like to give it a go?

[2022-04-14 12:04] jibingjie2 opened #4717 "如何修改alertmanager的配置文件，"
我尝试修改alertmanager的配置文件，首先我创建一个secret指定我的配置文件，然后修改alertmanager的sts，把secret指向我创建好的，当我退出后，它又指向了原有的secret。
然后我看到一个crd，alertmanagerconfig，它看起来像是可以修改alertmanager的配置文件，但是我在网上浏览了很多信息，都没有找到它的使用方法。
最后，我的目的是修改alertmanager的配置文件，怎么样可以实现

[2022-04-14 15:22] mbihoop commented on #4701
@PhilipGough Thanks - I understand now what's available, it's a little more complex than what I was used to before but is clearly documented. I'll close this out.

[2022-04-14 15:22] #4701 closed

[2022-04-14 15:37] fatsheep9146 commented on #4715
I'd love to help with this. Can you assign this to me? @simonpasquier

[2022-04-14 17:02] jbehrends commented on #3071
This issue is closed currently...  It looks like it should be re-opened... or a new issue created to address referencing a port by name(string) or number(int)...

[2022-04-15 02:42] jibingjie2 commented on #4717
它默认的secret删掉会立即重建，要怎么修改

[2022-04-15 02:53] daviderli614 commented on #4717
这个secret不需要删除，只需要把secret内容获取，然后调用client-go把他update就可以修改
或者直接kubectl edit secret进去修改

[2022-04-15 03:15] jibingjie2 commented on #4717
调用client-go把他update就可以修改这种方式我暂时不太了解
直接edit进去修改保存退出后，它依然会恢复原本的配置

[2022-04-15 03:28] daviderli614 commented on #4717
应该不会，我把secret修改后是生效的

[2022-04-15 03:42] Kampe commented on #4664
Is this to be remedied in the operator?

[2022-04-15 04:15] jibingjie2 commented on #4717
![image](https://user-images.githubusercontent.com/101303865/163517088-d85795fb-855a-4a53-9604-820b3a81d85f.png)
我将它编辑后，保存退出。
![image](https://user-images.githubusercontent.com/101303865/163517152-aaf2432f-b922-4576-aef3-c69ff8b1c324.png)
它依然显示830Bytes。
![image](https://user-images.githubusercontent.com/101303865/163517200-69b52f78-6884-4821-bce6-822e3bf9f1b0.png)
再进去看，它又是原样

[2022-04-15 04:22] daviderli614 commented on #4717
你应该改另外一个secret，它叫alertmanager-xxx-alertmanager

[2022-04-15 04:29] jibingjie2 commented on #4717
我似乎并没有看到你所说的secret，包括别的namespace我也有查看，并不存在
![image](https://user-images.githubusercontent.com/101303865/163518576-e85df23c-eb32-49e8-9b94-3fe69415d35f.png)

这些是我的镜像版本
![image](https://user-images.githubusercontent.com/101303865/163518607-c8b56e6a-eefe-4123-85a1-18b8c13edcfc.png)

[2022-04-15 04:36] daviderli614 commented on #4717
你试一下改上图那个叫alertmanager-main的secret

[2022-04-15 08:13] ebuildy opened #4718 "Support multiple prometheus instances"
**What is missing?**

In a case with multiple prometheus instances.

Allow in a same namespace, differents ``PodMonitor`` / ``ServiceMonitor`` to select prometheus instance, via a selector (namespaceSelector etc...).

**Why do we need it?**

We run a global prometheus and prometheus by team in order to separate software and business metrics.

Example: "rabbitmq must be scraped by global prometheus

[2022-04-15 13:49] yngwiewang opened #4721 "Incomplete documentation"
[https://github.com/prometheus-operator/prometheus-operator/blob/main/Documentation/rbac.md](https://github.com/prometheus-operator/prometheus-operator/blob/main/Documentation/rbac.md)

I thik it should be

The Prometheus Operator reconciles `services` called `prometheus-operated` and `alertmanager-operated`, which are used as governing `Service`s for the `StatefulSet`s. To perform this reconcilia

[2022-04-15 15:32] ArthurSens opened #4722 "Add support to configure Prometheus' Tracing"
**What is missing?**
Tracing was introduced to Prometheus in [version 2.18.0](https://github.com/prometheus/prometheus/releases/tag/v2.18.0), using the Jaeger library.

Jaeger's lib was deprecated and has finally been sunset so it didn't make sense to commit support for something that was definitely going to be replaced.

In [version 2.34.0](https://github.com/prometheus/prometheus/releases/tag/v2

[2022-04-15 19:52] octopus20 opened #4724 "Service Monitor No Active Targets - Target Labels are dropped"
**What did you do?**

Creating a ServiceMonitor to monitor Kubernetes service, the service and its ServiceMonitor are in other namespaces than Prometheus and it appears on Prometheus Service Discovery but showing 0/1 active targets and when expand the discovered service is has  "dropped" in the Target Label column.

**Environment**

* Prometheus Operator version:
 `Prometheus Operator" version="(v

[2022-04-16 07:38] jibingjie2 commented on #4717
谢谢，成功了，修改了alertmanager-main后，alertmanager-main-generated会一同发生改变，并且alertmanager-main-generated也能手动修改了

[2022-04-17 05:58] washanhanzi commented on #2515
I found with `podMonitor`,  if the `targetPort` or `port` doesn't exist in `containter port`, the operator will scrape all `container port`.

[2022-04-18 09:46] angelbarrera92 commented on #4703
Im having the same issue :)

[2022-04-18 14:28] nashtsai opened #4727 "prometheuses, alertmanagers, thanosrulers CRD should add scale subresources"
**What is missing?**
prometheuses, alertmanagers, thanosrulers CRD should add [scale subresources](https://kubernetes.io/docs/tasks/extend-kubernetes/custom-resources/custom-resource-definitions/#scale-subresource)

**Why do we need it?**

So `kubectl scale ...` would just work and provided documentation stated "When the scale subresource is enabled, the /scale subresource for the custom resource

[2022-04-19 03:13] pradeepgs1985 opened #4729 "Monitoring multiple Hyper-V Clusters with Prometheus"
Looking for the direction through which we can monitor 1000 plus Hyper-V clusters which is located in different locations with the help of Prometheus and Grafana. what is the best design to achieve this.

[2022-04-19 03:19] #4729 closed

[2022-04-19 09:17] fpetkovski commented on #4718
Can you use the `podMonitorSelector` and `serviceMonitorSelector` fields on the `Prometheus` object instead?

[2022-04-19 09:33] ktaborski opened #4730 "Configurable startup/liveness/readiness Probe"
**What is missing?**
I would like to have possibility to change startup/liveness/readiness probes parameters in statefulset via `Prometheus` CRD.

**Why do we need it?**
Currently my prometheus stucked in restart loop (due to long WAL-replay) and k8s is killing container before it gets ready. I would like to extend startupProbe.

**Environment**

* Prometheus Operator version:

    `v0.55.0`

**An

[2022-04-19 12:08] simonpasquier commented on #4664
@Kampe have you seen https://github.com/prometheus-operator/prometheus-operator/pull/4665#issuecomment-1075985700? IIUC the change should probably be that the Thanos image doesn't run as root.

[2022-04-19 12:09] simonpasquier commented on #4713
Not really. What's your use case exactly?

[2022-04-19 12:13] simonpasquier commented on #4724
can you share the Prometheus configuration and the Service Discovery for the endpoint?

[2022-04-19 12:15] pearsonradu commented on #4713
IntelliJ can use an Open API URL to support Kubernetes CRDs (https://youtrack.jetbrains.com/issue/IDEA-197971). Essentially, this would allow for autocompletion and verification of the resource within my IDE.

[2022-04-19 12:19] simonpasquier commented on #4730
How long does it take for Prometheus to complete the WAL replay in your case? I think that we'd be ok extending the current value.

You can already patch the generated statefulset using the `containers` field:

[code]

[2022-04-19 12:21] simonpasquier commented on #4708
This looks like a bug to me indeed. Do not hesitate to bring it to the [Thanos](https://github.com/thanos-io/thanos) project :)

[2022-04-19 13:57] simonpasquier commented on #4713
thanks for the update, I wouldn't be opposed to include a generated version of the OpenAPI spec but I'm not sure how easy it is.

[2022-04-19 13:58] heylongdacoder commented on #4708
alright, I will do that :D

[2022-04-19 14:12] simonpasquier commented on #4721
@yngwiewang sounds good to me, go for it!

[2022-04-19 16:53] angelbarrera92 commented on #4703
I did something here #4726. Who can take a look/review it?

[2022-04-19 17:08] pearsonradu commented on #4713
It would be more of a nice to have!

[2022-04-19 18:24] dmerrick commented on #4730
I support this. The WAL crashloop is unfortunately a very common problem with Prometheus right now:

* https://github.com/prometheus-operator/prometheus-operator/issues/3391
* https://github.com/prometheus/prometheus/issues/6934

[2022-04-20 05:30] fpetkovski commented on #4730
Instead of directly changing probes, we should consider either baking in a startup probe with a long threshold, or exposing a field like `startupFailureThreshold` in the spec itself.

[2022-04-20 06:22] ktaborski commented on #4730
Patching statefulset didn't helped, because prometheus-operator revert changes.

I do not really know. I had to remove `wal` directory to make app running again.

[2022-04-20 07:49] simonpasquier commented on #4730
Sorry I wasn't clear enough, I meant patching the generated statefulset using [strategic merge patch](https://github.com/prometheus-operator/prometheus-operator/blob/main/Documentation/user-guides/strategic-merge-patch.md) like this:

[code]

[2022-04-20 07:51] ktaborski commented on #4730
Cool! This was feature I was looking for!

[2022-04-20 08:57] paulfantom commented on #4713
Note: we do generate OpenAPI spec in kube-prometheus CI tests with https://github.com/prometheus-operator/kube-prometheus/blob/main/scripts/generate-schemas.sh. If those would be pre-generated in prometheus-operator, we could simplify that workflow.

[2022-04-20 10:22] ebuildy commented on #4718
I am not sure, this is for ``prometheus`` instance. I would like select the prometheus namespace that will scrap the ``PodMonitor``

[2022-04-20 10:24] simonpasquier commented on #4718
This works the other way around: pod monitors can't select which Prometheus instance(s) will scrape the targeted pods.

[2022-04-20 11:35] slashpai commented on #4727
will do this

[2022-04-20 13:10] #4721 closed

[2022-04-20 13:52] osaffer opened #4739 "Servicemonitor: Service Discovery Ok, but 0 target"
Hi,

I try to get the metrics in prometheus, but it shows 0 target : Here is my configuration :

Thanks for your help

[code]

[2022-04-20 14:59] ebuildy commented on #4718
thanks you. Thats why I post this as a feature request.

[2022-04-20 15:28] simonpasquier commented on #4718
Not sure why the Prometheus object selecting service/pod monitors by labels doesn't fit your case. Would you mind providing more details?

[2022-04-20 17:12] pavan541cs commented on #3989
@simonpasquier If the design is inplace and the team requires hands for development ... I can help out here if needed ...

[2022-04-20 19:22] fpetkovski commented on #3989
@pavan541cs I will not have time in the following weeks to work on this, so any help from your side would be highly appreciated. If you want to start working on this, I can help out with reviewing your code or answering any questions.

[2022-04-21 01:44] actliboy commented on #4739
same wiht you

[2022-04-21 04:34] pavan541cs commented on #3989
@fpetkovski Is there any design document inplace to work on this or should I start from scratch by designing and then implementing the same ?

[2022-04-21 07:15] #4714 closed

[2022-04-21 11:24] lazychanger opened #4741 "http: TLS handshake error from [ip]:[port]: remote error: tls: bad certificate"
**Environment**

* Prometheus Operator version:

[code]

* Kubernetes version information:

[code]

* Kubernetes cluster kind:

[code]

* Manifests:

[code]

* Prometheus Operator Logs:

[code]

**Anything else we need to know?**:

**Install command**:
[code]

**prometheus-stack-values.yaml**:
[code]

[2022-04-21 11:54] fpetkovski commented on #3989
Yes, we have this document that you can use as a base: https://github.com/prometheus-operator/prometheus-operator/blob/main/Documentation/designs/prometheus-agent.md

[2022-04-21 12:19] simonpasquier commented on #3989
I know that @paramite also expressed interest in working on this feature. Just make sure that both of you don't work in parallel :)

[2022-04-21 12:23] simonpasquier commented on #4741
`remote error: tls: bad certificate` tells that a client tried to send a request to the Prometheus operator web server but it couldn't trust the server certificate. If you've configured admission webhooks, I would verify that the CA bundle is correct.

[2022-04-21 14:39] OneCricketeer commented on #4704
This doesn't seem to be what I want either. I want to scrape a blackbox-exporter. This works, as expected. Rather, I want to be able to discover it's targets rather than statically list those.

I feel this is more a limitation of the Blackbox exporter, so will move my issue there

[2022-04-21 14:39] #4704 closed

[2022-04-21 18:37] paramite commented on #3989
That's true. In case there's nobody who already started working on this, I can start with implementation.

[2022-04-22 02:53] kapilgarg83 opened #4747 "Failed to resolve alertmanager-main-2.alertmanager-operated:"
Hi,

I just restarted by Alertmanager PODs and below is the error now
ALL 3 pods are crashing now. Anyone have any idea..??

_component=cluster msg="failed to join cluster" err="3 errors occurred:\n\t* Failed to resolve alertmanager-main-0.alted:9094: lookup alertmanager-main-0.alertmanager-operated on 10.100.0.10:53: no such host\n\t* Failed to resolve alertmanager-main-1.alertmanager-operated:90

[2022-04-22 04:39] pavan541cs commented on #3989
@paramite I have not started the implementation yet ... We want to enable agent mode for Prometheus on a very urgent basis ... Let me know when you can complete the implementation and also if you require an additional helping hand

[2022-04-22 07:03] satyabratabharati opened #4748 "How to monitor a static port to be scrapped by Prometheus from the Node port outside K8s"
Hi Team,

I want to monitor a static port form the node. my application is running on the node host and write the metrics to a the local host port in the node itself. example 0.0.0.0:9090.

I want to monitor via the Prometheus operator. For some reason,  I am not able to scape it.

[code]

Can anyone help me with a probe example?

 or is  there another  way I can achieve this.

Thank You.

[2022-04-22 09:20] osaffer commented on #4739
Hi This is Fixed, there was a problem in the service monitor. This is my configuration :

apiVersion: v1
kind: Service
metadata:
  annotations:
  labels:
    postgres-operator.crunchydata.com/crunchy-postgres-exporter: "true"
  name: hippo-exporter
  namespace: testdb
spec:
  ports:
  - name: postgres
    port: 9187
    protocol: TCP
    targetPort: 9187
  selector:
    postgres-operator.crunchyda

[2022-04-22 10:03] simonpasquier commented on #4739
@osaffer is the issue closed for you then?

[2022-04-22 10:08] osaffer commented on #4739
yes thank you

[2022-04-22 12:01] #4739 closed

[2022-04-22 12:02] simonpasquier commented on #4747
you've got an invalid configuration file
[code]

[2022-04-22 12:27] simonpasquier commented on #3989
@pavan541cs note that if you follow https://github.com/prometheus-operator/prometheus-operator/issues/3989#issuecomment-974137486, it's possible to deploy a Prometheus object in agent mode already (the only "hack" is that you need to repeat the complete `args` list).

[2022-04-22 12:31] simonpasquier commented on #4748
Not sure what you're trying since [0.0.0.0](https://en.wikipedia.org/wiki/0.0.0.0) isn't a valid address.

[2022-04-22 13:11] satyabratabharati commented on #4748
Hi Simone,

its just an example, please consider its the host IP of the node that i want to monitor.

but I am not able to achieve it with the probe CRD .

[2022-04-22 13:58] simonpasquier commented on #4748
IIUC your application exposes metrics with the Prometheus format so probes aren't what you're looking for (probes work against "generic" HTTP/HTTPS endpoints). It's a bit of a stretch but you could create "fake" Kubernetes service/endpoint objects that map to your node IP address. Or use `additionalScrapeConfigs`.

[2022-04-22 16:35] DmitriyStoyanov commented on #4414
This feature needed to possibly fix issue prometheus/prometheus#6934 during prometheus startup.
Currently prometheus operator do not have ability to configure such flags.

We use kube-prometheus-stack to deploy prometheus in cluster and have issues with it described in linked issue.

[2022-04-25 08:09] GalvinGao opened #4751 "Add Lark/Feishu support to AlertmanagerConfig"
**What is missing?**
- feishu.cn, or its international product larksuite.com is an all-in-one collaboration platform. They provides a pretty simple webhook for bots to integrate with, but the format of the webhook is somewhat complicated. Adding native support allows the users to integrate prometheus alertmanager way more easily.

**Why do we need it?**
- Webhook templates could work in this case,

[2022-04-25 09:36] thomassuedbroecker commented on #4701
Hi @mbihoop, I made a long blog post [MONITOR YOUR CUSTOM OPERATOR WITH PROMETHEUS](https://suedbroecker.net/2022/04/08/monitor-your-custom-operator-with-prometheus/) maybe that helps to understand better. Greetings Thomas

FYI: @PhilipGough maybe you want to take a look also. Feedback is always welcome  ;-)

[2022-04-25 09:57] sysnasri commented on #1866
Have the same issue, did you figure out?

[2022-04-26 07:39] bharathpantala opened #4752 "Cannot add the external nodes as targets to prometheus-operator in kubernetes"
Cannot add the external nodes as targets to prometheus-operator in kubernetes

My prom release on k8s is : **prometheus-operator**

Followed the same https://github.com/prometheus-operator/prometheus-operator/blob/main/Documentation/additional-scrape-config.md

Can someone give some doc to add external node-exporter as targets to prometheus-operator in kubernetes.

[2022-04-26 20:37] northonheld commented on #3608
For my works!!!

Terraform 1.1.7
Helm Provider 2.4.1

[code]

Result:

`kubectl get prometheus/kube-prometheus-stack-prometheus -n monitoring -o yaml`

[code]

[2022-04-26 21:44] njnygaard commented on #4439
Sorry if this is off topic for this repo, but I can't seem to get this to work in for ArgoCD `v2.4.0+185e580`.
I tried to add `skipCrds: true` to the manifest in the ArgoCD UI, right above `values`, and it seems like it doesn't stick around after apply.

[code]
Any tips?

[2022-04-26 22:32] Cheshirez commented on #4439
@njnygaard most probably you'll need to upgrade ArgoCD using latest 4.x helm chart, as old CRDs don't contain skipCrd.
Or you can update CRDs for argo applications manually:
[code]

[2022-04-27 11:53] satyabratabharati commented on #4748
Hi Simon,

After following all the steps
https://github.com/prometheus-operator/prometheus-operator/blob/main/Documentation/additional-scrape-config.md

 still I am not able to set the target for the static port ...!!

 apiVersion: monitoring.coreos.com/v1
kind: Prometheus
metadata:
  name: prometheus
  namespace: monitoring-
spec:
  replicas: 2
  additionalScrapeConfigs:
    name: additional-scra

[2022-04-27 14:53] upstream-dmahlberg opened #4755 "opsgenie field api_key_file not found in type config.plain"
**What happened?**

prometheus-operator is not able to sync alertmanager configuration when setting either receivers.[x].opsgenie_configs.api_key_file or global.opsgenie_api_key_file.

**Environment**

* Prometheus Operator version:
  Image:         quay.io/prometheus-operator/prometheus-operator:v0.56.0

* Helm Chart version:
  - name: kube-prometheus-stack
    version: 35.0.0
    repository: htt

[2022-04-27 14:56] upstream-dmahlberg commented on #4714
This still seems to occur in 0.56.0. [I've opened another bug here](https://github.com/prometheus-operator/prometheus-operator/issues/4755)

[2022-04-27 19:30] mateoporcar opened #4756 "AlertmanagerConfig matchers not working"
I'm trying to generate custom AlertManagerConfig but the matches added in the yaml are not reflected in the alertmanager configuration.

**What did you do?**

AlertmanagerConfig.yaml

[code]

Also, I tried this way too, with "matchers"

[code]

When I log in in the pod and see this config:

[code]

**Did you expect to see some different?**

I expect to see in config the match     "alertname: cert-

[2022-04-28 06:11] softwolves commented on #2759
my prometheus have  high Number Of Series ，its 10 millions ，so now its down ，more than 50Gi memory needed ，more than 2000 pod need monitor，but its really need so many memory？ how can i reduce  the  Series

[2022-04-28 06:16] softwolves commented on #2759
@brancz  how can i reduce series  from config

[2022-04-29 06:00] slashpai commented on #4752
May be there are better ways but I tested this way in local cluster and it works.  We will create the the service without selector and then define the endpoints separately. And then create servicemonitor. Treat this as example and tweak settings as per your need :)

1. Create service object for external node-exporter with selector

[code]

2. Create endpoint object separately

[code]

3. Create se

[2022-04-29 14:48] gavol commented on #4621
Maybe I have not fully understood your point, but such a label is actually injected.

From the CRD documentation:

I have two shards in my installation and a proper _prometheus_replica_ label is generated for each shard/replica.

[2022-04-30 13:45] bruse-peng opened #4760 "how to not load the history metrics from disk after resttart prometheus pod"
**What happened?**

**Did you expect to see something different?**

**How to reproduce it (as minimally and precisely as possible)**:

**Environment**

* Prometheus Operator version:

    `Insert image tag or Git SHA here`

* Kubernetes version information:

    `kubectl version`

* Kubernetes cluster kind:

    insert how you created your cluster: kops, bootkube, etc.

* Manifests:

[code]

* Pro

[2022-04-30 13:50] bruse-peng opened #4761 "how to not load the history metrics from disk after resttart prometheus pod"
**What did you do?**

**Did you expect to see some different?**

**Environment**

* Prometheus Operator version:

    `Insert image tag or Git SHA here`

* Kubernetes version information:

    `kubectl version`

* Kubernetes cluster kind:

    insert how you created your cluster: kops, bootkube, etc.

* Manifests:

[code]

* Prometheus Operator Logs:

[code]

**Anything else we need to know?**:

m

[2022-04-30 23:08] RossComputerGuy commented on #4212
I am having this issue on my production environment. I've tried these branches/tags:
- main
- release-0.10
- v0.10.0

I haven't found any solutions but it seems like everyone else is stuck as well.

[2022-05-03 13:14] b-0-b commented on #4655
@adyanth , I have been looking at this myself as part of improving our app deployments and being able to isolate all Kubernetes resources of a specific app to only one namespace.

From the Getting Started guide

[code]

To highlight the needed config

[code]

The add above label to your namespaces

[code]

That seems to have worked for me.

[2022-05-03 14:06] adyanth commented on #4655
There is a service monitor `namespace` selector? I think that is what I need then. But is there a way to select all namespaces without editing all of them?
https://github.com/prometheus-operator/prometheus-operator/issues/2155#issuecomment-440985207 seems to say it should work as is if I do not configure it?

[2022-05-04 01:28] charris-ca opened #4764 "Alertmanagerconfig injecting namespace into config for non kubernetes alerts"
**What is missing?**

   Ability to turn automatic namespace add to Alertmanagerconfig resources

**Why do we need it?**

   We are trying to use kubernetes resources with our deployment mechanism as our gitops hub for all alerts.  We have alerts outside of prometheus that are sending to this alertmanager instance, but want to manage that config with the alertmanagerconfig resource.  We are curren

[2022-05-04 07:44] b-0-b commented on #4655
I am no expert at this particular issues, so can't say for sure... The comment in #2155 is from 2018, so not sure if it applies still.

Looking at https://github.com/prometheus-operator/prometheus-operator/blob/main/Documentation/api.md
For `serviceMonitorNamespaceSelector` the _description_ says

[code]

I _think_  something like this might work

[code]

Not entirely sure how the CRD interprets i

[2022-05-04 08:33] simonpasquier commented on #4760
duplicate of #4761

[2022-05-04 08:33] #4760 closed

[2022-05-04 08:36] simonpasquier commented on #4761
without more details it's hard to tell. First thing would be to check the prometheus operator logs.

I assume that you've configured persistent storage for Prometheus. You can configure an emptyDir volume instead if you don't need/want to retain data across restarts.

[2022-05-04 11:51] simonpasquier commented on #4751
this isn't a question for the Prometheus operator project but rather Alertmanager.

[2022-05-04 11:51] #4751 closed

[2022-05-04 12:25] simonpasquier commented on #4755
I tried to reproduce but it worked for me. The error `line 8: field api_key_file not found in type config.plain` seems to suggest that `api_key_file` wasn't declared at the correct place.
Having said that, Alertmanager fails to start when both `api_url` and `api_key_file` are defined which looks like a bug to me.

[2022-05-04 13:24] simonpasquier commented on #4657
closed by #4728

[2022-05-04 13:24] #4657 closed

[2022-05-05 03:50] bruse-peng commented on #4761
yes  i want persistent storage for Prometheus,but i configure an emptyDir volume, how can make sure data not be lost after i resstart prometheus pod

[2022-05-05 11:56] simonpasquier commented on #4761
I'm not sure to follow exactly but if you want persistent storage then read https://github.com/prometheus-operator/prometheus-operator/blob/main/Documentation/user-guides/storage.md.

[2022-05-05 11:59] simonpasquier commented on #4755
you're correct: the file referenced by `api_key_file` should just contain the key value. Can you provide a full example exhibiting the issue? As I said above, I couldn't reproduce the problem on my end...

[2022-05-06 07:35] ihorhritskiv commented on #4755
I try to use **api_key_file** or **opsgenie_api_key_file** and get the same error **field api_key_file not found in type config.plain**

[2022-05-06 20:25] jeremiahhguo opened #4775 "metricRelabelings do not always work"
**What did you do?**
Hi, we use a service monitor to scrape metrics from a service and we would like to add a prefix to all metric name with metricRelabelings  (see service monitor config below). But we found our metricRelablings do not always work: we see same metrics from same pod at around same time both with and without this prefix in our metric-ingestion-pod log (see log examples at bottom).

[2022-05-09 08:45] simonpasquier commented on #4775
check your `endpoints` field: it's a list of 5 items while you probably want a single item, e.g.

[code]

JFYI these metrics seem to have unbounded cardinality as they have labels such as timestamps.

[2022-05-09 22:13] jimethn commented on #4194
Also looking for a way to set `storage.remote.read-concurrent-limit`.

[2022-05-10 04:10] SABERYJS opened #4778 "podmonitor config not working"
there is something strange when i  use  podmonitor  crd，its not working
i write podmonitor yaml:
[code]
i want  prometheus  get metrics from nginx ingress pod ,but i see nothing
prometheus installed in  `prometheus ` namespace:
[code]
i can  access  nginx ingress directly,`curl  http://127.0.0.1:10254/metrics`,result:
[code]
when i  browse  grafana metrics related to  nginx,there is nothing
![imag

[2022-05-10 06:07] slashpai commented on #4778
Inorder to work with ingress you would need to use Probe custom resource

[2022-05-10 08:07] wajika commented on #352
Hi, thanks for explaining a lot of prometheus(operator) features. Regarding your few comments, I would like to confirm if my understanding is correct.
Even if remote read/write is configured, will prometheus still keep an exact copy locally? So remote storage is just equivalent to a data synchronization?

In addition, the PrometheusSpec you mentioned above, if I have deployed a prometheus through

[2022-05-10 18:35] jeremiahhguo commented on #4775
@simonpasquier this works. Thank you!

[2022-05-10 18:35] #4775 closed

[2022-05-10 19:22] avoidik commented on #4664
proposed `runAsUser: 1001` fix works perfectly on clean deployments, existing deployments would require jump through hoops with `chown`

[2022-05-10 21:03] TaylorMutch opened #4779 "Add support for `attach_metadata` into ServiceMonitor/PodMonitor"
**What is missing?**

As of Prometheus 2.35 we can add the `attach_metadata` option to a `kubernetes_sd_config` to allow us to add `node` labels to pods discovered in the scrape config.

**Why do we need it?**

To be able to expose node metadata as a label on pod metrics, such as for `node_exporter` metrics. This is useful for monitoring items such as `nf_conntrack` on hosts and looking up the nod

[2022-05-11 05:56] fpetkovski commented on #4779
Attaching metadata is currently available for the pod role only, so I assume this field would only apply to the PodMonitor resource.

[2022-05-11 12:36] simonpasquier commented on #4691
And the current consensus is that when the maintainers consider that a new field is needed to support a valid use case, there's no reason to reject such request.

[2022-05-11 13:44] chrisdotm commented on #4755
I'm very very beginner at go, but I finally got this to work again by rebuilding the image with an updated alertmanager dependency. This PR shows my changes https://github.com/prometheus-operator/prometheus-operator/pull/4781

[2022-05-11 14:26] sbeginCoveo opened #4782 "Shards aware TopologySpreadConstraint for Prometheus"
**What is missing?**

The ability to define TopologySpreadConstraint using the label `operator.prometheus.io/shard` when sharding prometheus

**Why do we need it?**

Right now we can only define a single TSC or anti-affinity for _all_ statefulsets.

* Prometheus Operator version:

`prometheus-operator/prometheus-operator:v0.53.1`

**Anything else we need to know?**:

With some guidance, I could ma

[2022-05-11 14:56] sbeginCoveo commented on #4782
I'm thinking of something along these lines, to the best of my knowledge:

**User definition**
The user defines a set of "managed TSC" config and custom ones, such as:
[code]

**Generation**
And then each STS has its own set ot TSCs generated based on common prometheus labels, plus the additional TSCs are merged in the array.

We could even keep the `additionnalTSC` named `topologySpreadConstraint

[2022-05-12 05:01] DesistDaydream opened #4784 "Operator CPU usage is high"
**What happened?**
Operator CPU usage is high
![image](https://user-images.githubusercontent.com/39847025/167994762-32c3a099-cae1-4063-9f83-0134ee922a5a.png)
![image](https://user-images.githubusercontent.com/39847025/167995005-b4aea50a-55e2-4c65-9bbb-72d98f33f523.png)

But not all k8s environments are like this

**Did you expect to see something different?**
Normally it should be like this
![imag

[2022-05-12 06:50] paulfantom commented on #4784
Could you enable debug logs with `--log-level=debug` as in https://github.com/thaum-xyz/ankhmorpork/blob/master/apps/monitoring/manifests/prometheusOperator/deployment.yaml#L33 ?

[2022-05-12 06:54] DesistDaydream commented on #4784
yes,I used debug before
[code]

[2022-05-12 16:53] ruiengana commented on #3480
Think of a setup like https://istio.io/latest/docs/ops/best-practices/observability, where Production Prometheus instance is launched using Prometheus Operator and Istio Prometheus instance is *not* launched using Prometheus Operator.

Does this mean we can't use Prometheus Operator to add a PrometheusRule to Istio Prometheus instance?

[2022-05-12 16:54] ruiengana commented on #4718
Think of a setup like https://istio.io/latest/docs/ops/best-practices/observability, where Production Prometheus instance is launched using Prometheus Operator and Istio Prometheus instance is not launched using Prometheus Operator.

Does this mean we can't use Prometheus Operator to add a PrometheusRule to Istio Prometheus instance?

[2022-05-13 04:55] ctrought opened #4786 "Publish new operator releases to Operator Hub"
**What is missing?**

Hello! We’d love to see regular releases of prometheus-operator via OpenShift Operator Hub. The latest version available to us OpenShift users through OperatorHub is quite old, v0.47.0.

Someone else brought this up in the openshift GH repo and they suggested contacting the prometheus operator authors/contributors to submit. I would submit myself but I don’t have the expertis

[2022-05-13 05:38] slashpai commented on #4779
working on this

[2022-05-13 07:56] evalizhangli commented on #3254
I met the same problem. how do you solve this?

[2022-05-13 09:11] simonpasquier commented on #4718
@ruiengana I'm not following here: if the operator isn't managing Istio Prometheus, not sure how/why this Prometheus instance would be configured with  PrometheusRule objects.

[2022-05-13 09:35] ruiengana commented on #4718
It's clear :) I now understand that it's Prometheus CRD object with it's match labels that will look our for ServiceMonitor and PrometheusRule objects to execute.

As the creator of this issue, I was thinking that it worked in the reverse direction, e.g. to be the PrometheusRule that selected which Prometheus instance to apply.

[2022-05-13 09:59] simonpasquier commented on #4786
We (Prometheus operator maintainers) don't maintain the OLM version of the operator so there's nothing we can do unfortunately.

The request should go to https://github.com/k8s-operatorhub/community-operators. AFAIK there's nobody actively looking into it so your best option is probably to submit the PR there yourself (the code is at https://github.com/operator-framework/community-operators/tree/m

[2022-05-13 13:16] simonpasquier commented on #4784
Do you see the same behavior with v0.55.1? I'm also chasing down a regression where it looks like the operator performs unnecessary updates of the statefulsets. This might be the same thing you're experiencing.

[2022-05-13 13:35] DesistDaydream commented on #4784
Yes, I tested v0.55.X before and it was no problem

[2022-05-13 13:43] simonpasquier commented on #4782
Thanks for the request! I'm not very familiar with TopologySpreadConstraints but this seems useful. From what I understand, you would almost want to select pods on either `operator.prometheus.io/name: <prometheus>` + `operator.prometheus.io/shard: <shard>` or `operator.prometheus.io/name: <prometheus>`.

Maybe we could extend the `spec.topologySpreadConstraints` field so you don't have to think to

[2022-05-13 18:00] faustodavid opened #4791 "Add support to configure the property max_exemplars"
**What is missing?**
Add support to configure the property `max_exemplars`.
https://prometheus.io/docs/prometheus/latest/configuration/configuration/#exemplars
[code]

**Why do we need it?**
To increase the max allowed exemplars.

[2022-05-14 07:54] upstream-dmahlberg commented on #4755
@simonpasquier I created a helmchart demonstrating the problem, including a complete config (with usage with minikube in mind).
[kube-prometheus-stack-minikube.tar.gz](https://github.com/prometheus-operator/prometheus-operator/files/8692499/kube-prometheus-stack-minikube.tar.gz)

[2022-05-15 15:29] mikechengwei commented on #4779
/assign  I will finish this pr.

[2022-05-16 10:58] #4703 closed

[2022-05-16 13:37] simonpasquier commented on #4786
@ctrought yes I get that but unfortunately we have no maintainers available to commit for this. While I understand the frustration, I believe it's better that we don't make false promises: though the work may feel small, it's yet another thing that the team would have to support and maintain.

[2022-05-16 15:05] divyak8 opened #4795 "regex (.*) not working in service monitor configuration"
[code]

[2022-05-16 18:15] sbeginCoveo commented on #4782
Thats an interesting avenue!

Yes, Thats exactly what I want, the only combinaison of labels that uniquely identify prometheus instance's shards, are `operator.prometheus.io/name`and `operator.prometheus.io/shard`. Furthermore, we should still be able to define custom labelSelectors if for example we want to spread all shards of all prom instances on different nodes (using `app.kubernetes.io/name`

[2022-05-17 04:49] slashpai commented on #4791
working on this

[2022-05-17 11:10] PhilipGough commented on #4755
@upstream-dmahlberg FWIW when I run your example I get the following:

[code]

[2022-05-17 15:00] simonpasquier commented on #4795
What are you trying to do? You shouldn't have access to `__meta_kubernetes_namespace` in metric relabeling rules.

[2022-05-17 15:57] #4659 closed

[2022-05-17 19:13] chrisdotm commented on #4755
I think this commit https://github.com/prometheus-operator/prometheus-operator/commit/2c2ad101f491e41cfb3f6bf83a870aee531fdbe0 when put into a release might solve the problem because it removes the lock on alertmanager from v0.23 to v0.24

[2022-05-17 20:20] PhilipGough commented on #4755
@simonpasquier as @chrisdotm mentions it looks like the [replace directive](https://github.com/prometheus-operator/prometheus-operator/blob/v0.56.2/go.mod#L133) for the alertmanager lib in `v0.52.x` is problamtic.

I believe it is a case of the raw secret being passed to the v0.23.0 Load function in https://github.com/prometheus-operator/prometheus-operator/blob/v0.56.2/pkg/alertmanager/amcfg.go#L

[2022-05-17 20:47] upstream-dmahlberg commented on #4755
@PhilipGough Sorry, my bad - uncommenting lines 12 and 13 in values.yaml should fix that, or rather, produce the error I wanted to demonstrate.

[2022-05-18 01:57] DesistDaydream commented on #4784
All debug logs are duplicates of those I posted above~~

[2022-05-18 17:35] TaylorMutch commented on #4779
To confirm my understanding, why would this only be supported on the PodMonitor?

[2022-05-18 17:38] TaylorMutch commented on #4779
Oh I see; I suppose this means we would need to use a PodMonitor on things like node-exporter, which isn't how the kube-prometheus-stack implements this. I wonder if this should be changed on the node-exporter chart used by kube-prometheus-stack. Thanks

[2022-05-19 07:39] Xuezenghuigithub commented on #3203
I have also have this issue, is there a solution?

[2022-05-19 08:54] Xuezenghuigithub commented on #3769
This also happens when I occasionally upgrade the pod and it automatically fixes. How can I to turn it off?

[2022-05-19 15:36] simonpasquier commented on #4755
I'll cut a 0.56.3 with the fix (#4797) but I also wanted to investigate #4784.

[2022-05-20 01:11] wajika commented on #3769
I suspect it has something to do with the apiserver version, which happens if the apiserver is lower than a certain version.
The allocation of resources can be increased as a temporary solution.

[2022-05-20 05:09] DesistDaydream commented on #4784
I got rid of some duplicate logs and kept the logs from starting the operator to calling `processNextReconcileItem()` repeatedly

[code]

[2022-05-21 07:53] BakermanLP opened #4800 "Router monitoring not showing up in Prometheus"
**What did you do?**
I want to monitor my router with a pod. The pod is a webserver and listening on port 9042

This is my deployment of the pod and a service:

[code]

If I curl the webserver inside my cluster, than I got the correct answer:
[code]

But it didn't seem to be recognized by prometheus. I don't see a target or service discovery inside prometheus.

Is there anything wrong with my depl

[2022-05-21 10:54] oneslideicywater opened #4801 "Can't Access Prometheus,Grafana UI in NodePort way"
## version
download zip lastest of this repo

## description

can't access pods such as `promtheus-k8s-0` in `monitoring` namespace by creating a custom pod in the same namespace, I can't either  expose those service `prometheus-k8s` in NodePort.

[code]
but using a custom pod `nginx` can't access grafana pods

[code]

edit the promtheus svc by expose the nodeport, but my brower can't access UI
[c

[2022-05-21 11:24] #4801 closed

[2022-05-22 11:54] keren-benzion opened #4802 "add external node with changed ip addess"
I have followed the following :https://github.com/prometheus-operator/prometheus-operator/issues/4752#

and it indeed add external target to the promethues which can be monitored. the only problem with that in my case is that the ip of the external node which I am trying to collect it's metrics is being changed all the time ( in this case I am talking on spot instances in AWS)

Do you know if ther

[2022-05-22 20:29] yeya24 opened #4803 "Recording rules backfilling job support"
**Why do we need it?**

Recording rules backfilling is a Promtool feature that allows users to backfill their recording rules to Prometheus TSDB.

Since Prometheus Operator manages `PrometheusRule` CRD, it would be great to manage the rules backfilling job from the Prometheus operator directly. The new backfilling job CRD can specify backfilling from which `PrometheusRule` CR to which `Prometheus`

[2022-05-23 05:51] fpetkovski commented on #4802
You can add an additional scrape config, but the operator won't be able to keep track of the node changing IPs.

[2022-05-23 06:31] keren-benzion commented on #4802
Is there a way to monitor EC2 instances that does change ip addresses using Prometheus?

[2022-05-23 06:34] fpetkovski commented on #4802
Not with the prometheus operator, unless you expose each EC2 instance through a static address or a domain name

[2022-05-23 08:15] soloradish commented on #3970
#4110 already merged into release branch, version `v0.22+` user can use  config like this
[code]

[2022-05-23 09:07] #4779 closed

[2022-05-23 10:30] simonpasquier commented on #3587
@sev3ryn a workaround would be to patch the default startupProbe definition generated by the operator like this:

[code]

We should probably give more flexibility for users that have Prometheus servers with long WAL replay times.

[code]

I don't feel that we need to provide full control on the configuration of probes though.

[2022-05-23 10:37] simonpasquier commented on #4800
Did you create any pod or service monitor?

[2022-05-23 10:40] simonpasquier commented on #4803
This sounds a very interesting idea :smiley:

Personally I haven't played with rule back-filling at all so not sure how it would work in practice but eager to hear more details how you would make it work as of today...

[2022-05-23 11:38] sev3ryn commented on #3587
@simonpasquier sorry if it is a stupid question, but how can I patch definition generated by operator?

when I do `kubectl edit pod mon-prometheus` to change the values of probes I get such error
[code]

[2022-05-23 11:48] BakermanLP commented on #4800
OK, here is a working copy. This is solved with a service monitor, a service and a pod.  Sorry for the issue, but this topic is new to me and not easy. But now it is working.

[code]

[2022-05-23 11:48] #4800 closed

[2022-05-23 12:04] simonpasquier commented on #4800
no problem :)

[2022-05-23 12:22] simonpasquier commented on #3587
Sorry for being dense :)
You should be editing the Prometheus object and not the pod.
E.g. `kubectl edit prometheus mon-prometheus` and add the following snippet under the `spec` field (more details in https://github.com/prometheus-operator/prometheus-operator/blob/main/Documentation/user-guides/strategic-merge-patch.md about strategic merge patch):

[code]

[2022-05-23 16:35] conall88 opened #4808 "unable to configure remote_write endpoint (api/v1/write) TLS and client auth settings"
Hi,

I'm trying to configure the prometheus operator (as part of the kube-prometheus-stack helm charts) so that the `api/v1/write` endpoint used for receiving `remote_write` data is available behind a kubernetes  ingress, for other prometheus instances or the grafana agent to remote_write to.  I'm reasonably new to kubernetes, and very new to helm, so I hope i don't cause too much facepalming!

I

[2022-05-24 05:08] fpetkovski commented on #4808
What you're interested is remote-read, and you need to enable it in Prometheus by toggling a feature flag: https://prometheus.io/docs/prometheus/latest/feature_flags/#remote-write-receiver. This can be done through the `enableFeatures` field in the `Prometheus` spec.

TLS is not enabled by default and I assume your ingress controller will do TLS termination so you won't need to configure anything

[2022-05-24 08:15] conall88 commented on #4808
receiver is already enabled :

![image](https://user-images.githubusercontent.com/10930485/169983350-77cbd928-9db0-4a04-9139-e1875473ec5a.png)

[2022-05-24 09:07] conall88 commented on #4808
just ingress would be fine. Here's the currently implemented ingress rule spec:

`spec:
  ingressClassName: public-iks-k8s-nginx
  rules:
    - host: write.prometheus.somewhere.com
      http:
        paths:
          - path: /api/v1/write
            pathType: Prefix
            backend:
              service:
                name: prometheus-kube-prometheus-prometheus
                port:

[2022-05-24 15:39] SelimBF commented on #1637
Does any one find a final solution for this issue because I try it all even using :
"helm upgrade grafana grafana/grafana --set persistantce.enabled=true"

[2022-05-24 20:07] faustodavid commented on #4791
Hey @slashpai are you already working on this issue? otherwise, I can create a PR for it :)

[2022-05-24 22:47] cornfeedhobo commented on #3246
@brancz  It seems as the only difference for these two is pre/post ingestion, which is confusing when looking for ways to rename the actual metric and not the labels... any ideas on how to get that done?

[2022-05-24 23:21] yeya24 commented on #4803
Thanks @simonpasquier, I am unable to attend the meeting but we can discuss this offline.
This is just a random idea when I saw https://github.com/prometheus/prometheus/issues/10202. Actually, this can be extended to other operational jobs like block backfilling, backup, etc.

For the implementation, I don't have a plan now. But happy to collaborate with you on a design doc if you think it is good

[2022-05-25 02:31] slashpai commented on #4791
Hello @faustodavid I was working on this side, thought to submit PR by end of the week.
But if you want to try attempting go ahead :)

[2022-05-25 06:10] fpetkovski commented on #4808
Isn't the domain name you're using different than the one on the certificate?

[2022-05-25 09:45] simonpasquier commented on #4803
Cool! As I wrote, we agreed yesterday that it would fit the operator's duties but also nobody had concrete suggestions/ideas. Let's see if someone picks this up :)

[2022-05-25 12:16] #4784 closed

[2022-05-25 13:09] tobbbles opened #4812 "Add a way to augment the Prometheus Service created by the controller"
**What is missing?**
A way to modify the created service that serves the Prometheus pods, and optionally the thanos sidecar.

**Why do we need it?**
GKE supports [https://cloud.google.com/kubernetes-engine/docs/concepts/ingress#container-native_load_balancing](container native load balancing), which requires setting an annotation on the Service, to create network endpoint groups for the load balan

[2022-05-25 13:12] fpetkovski commented on #4812
The service created by the Operator is merely used for stable pod network identities and should not be used for sending traffic directly to it. As a matter of fact, the same service is used for each Prometheus resource in a single namespace.

So creating your own service is the way to go in this case.

[2022-05-25 13:16] tobbbles commented on #4812
Thanks for the clarification. I wonder if it's of value to add the ability to create a service under the ThanosSpec, targeting the related instances sidecar? This might be super low hanging fruit though, and like you say managing your own services preferred.

[2022-05-25 14:25] simonpasquier commented on #4812
I'm wondering why in addition to the governing service (e.g. `prometheus-operated`), the Prometheus CRD doesn't give an option to create a custom service? There might be an historical reason but it predates me :)

[2022-05-25 17:21] jutley opened #4816 "Prometheus jobs generated by PodMonitors do not exclude non-running pods"
**What happened?**

When using PodMonitors, it appears that the generated Prometheus jobs do not filter out non-running pods.

In some cases, this can have really ugly consequences. In our case, we had a handful of succeeded/failed pods which all had the same pod IP. Since they were completed, the IP was available to assigning, and it happened to get assigned to kube-state-metrics. This meant that