[2022-05-26 08:58] Tim-Schwalbe commented on #1637
For me its working with an existing PVC/PV, I am creating it before the first install of Grafana.

values.yaml
[code]

[2022-05-26 20:07] jimethn opened #4822 "AlertmanagerConfig fails to unmarshal matchers"
**What happened?**

When I use the deprecated matchers syntax

[code]

it works fine, but the operator gives a warning that I'm using a deprecated syntax:

[code]

But then when I update to the [current syntax](https://prometheus.io/docs/alerting/latest/configuration/#matcher)

[code]

then the operator pod crashes with an error

[code]

**Did you expect to see something different?**

I expect the

[2022-05-26 22:10] ctml91 opened #4823 "failed to update status subresource: prometheuses.monitoring.coreos.com \"instance\" not found""
Status subresource looks like it was updated in some of the logs and status is visible from Prometheus CR, but then after there are recurring messages every ~15 minutes about the Prometheus instance not found despite it being there.

Prometheus-operator: v0.56.2

[code]

[code]

[2022-05-27 18:19] ddmunhoz commented on #3587
Sorry, but correct me if I'm wrong: There's no way increase the InitialDelaySeconds right ? I tried the failureThreshold, but it still gives me errors. I can definite patch the pod, but that would be less than ideal.

[2022-05-27 18:43] jimethn commented on #4822
The problem is on my end, I was looking at the alertmanager docs instead of the alertmanagerConfig CRD spec https://github.com/prometheus-operator/prometheus-operator/blob/main/Documentation/api.md#matcher

[2022-05-27 18:43] #4822 closed

[2022-05-30 09:12] mikechengwei commented on #4656
/assign

[2022-05-30 10:06] simonpasquier commented on #4656
The plan is to make the change as part of the new v1beta1 AlertmanagerConfig (see #4677).

[2022-05-30 13:06] simonpasquier commented on #4816
Thanks for the detailed report! The actual behavior is expected because you may want to be alerted when a pod isn't running.
As you noticed, it can be tweaked with target relabeling:

[code]

Modifying the current behavior would be a breaking change so we can't do that. But I agree that it could be less cumbersome. Maybe something like this?

[code]

[2022-05-30 13:21] simonpasquier commented on #4823
The operator doesn't create/manage the CRDs since v0.39.0 I believe. It's the responsibility of the cluster admin to apply the correct version.

[2022-05-30 13:45] simonpasquier commented on #3587
@ddmunhoz it is possible to patch `initialDelaySeconds`

[code]

[2022-05-30 14:00] mblaschke commented on #3922
Would be nice to have this feature also for PodMonitor to support fetching metrics with Istio

[2022-05-31 03:51] slashpai commented on #4682
Not stale I am working on this

[2022-05-31 09:43] dalidovichea opened #4826 "field telegram_configs not found in type alertmanager.receiver"
hi, got error on 0.56.3 version
failed: provision alertmanager configuration: failed to initialize from secret: yaml: unmarshal errors:\n  line 6: field telegram_configs not found in type alertmanager.receiver

[code]

in 0.56.3 version this issue [4703](https://github.com/prometheus-operator/prometheus-operator/issues/4703) is fixed but
got new
Please add telegram_configs in type alertmanager.rec

[2022-05-31 17:55] jutley commented on #4816
I can definitely see the use case for wanting to alert when a Pod is unexpectedly in a crashloopbackoff state. I'm not totally sure why anyone would want to scrape if a pod is failed or succeeded. That would imply they are running a pod that intentionally runs to completion, right?

Regardless, I understand the issue about backwards compatibility. The new field you suggested seems like a reasonabl

[2022-06-01 09:04] wyb1 opened #4828 "Add apiserverConfig to the ServiceMonitor and PodMonitor"
**What is missing?**

Similar to #2682

I would like to be able to configure the `api_server` section of the `kubernetes_sd_configs` from a `ServiceMonitor` or `PodMonitor`. For example to something like this:

[code]

**Why do we need it?**

I would like to use the `prometheus-operator` in [Gardener](https://github.com/gardener/gardener) to make the Prometheus deployments easier and more extensib

[2022-06-01 10:55] wyb1 commented on #4828
I am also happy to contribute this feature if it gets accepted.

[2022-06-01 14:42] simonpasquier commented on #4826
The Telegram support should be released in v0.57.0.

[2022-06-02 09:23] deepaksharma23 commented on #3341
I am also seeing same error

[2022-06-02 09:44] metheu opened #4829 "Prometheus/ Alertmanager in terminating loop on EKS cluster"
**What happened?**

The promethues/alertmanager pod keeps getting terminated without apparent reason.  The promethues logs show a healthy start up.

**Did you expect to see something different?**

Yes, the promethues pod should come up.

**How to reproduce it (as minimally and precisely as possible)**:

Could not reproduce.

**Environment**

AWS

* Prometheus Operator version:

    `quay.io/promet

[2022-06-02 10:23] simonpasquier opened #4830 "Support HTTP server configuration for Prometheus & Alertmanager"
In addition to TLS configuration, the CRDs should support all options under the `http_server_config` key (see https://prometheus.io/docs/prometheus/latest/configuration/https/#https-and-authentication).

[2022-06-02 15:49] #4298 closed

[2022-06-03 07:45] wyb1 commented on #4828
I am happy to join and discuss this at the next office hours. Looks like it will take place on Tuesday.

[2022-06-03 08:01] metheu commented on #4829
@simonpasquier thanks for reaching out. I thought so too but I only have one prom operator running.

`11:58:59 matt@ip-192-168-1-107 ~ → k get pods --all-namespaces | grep prom-operator-operator
monitoring             prom-operator-operator-866b655f68-7vp9t                           1/1     Running            0          22h`

I'm running out of ideas at this point. Do you have any pointers how to

[2022-06-03 09:07] ChrisSteinbach opened #4832 "No indication that too many PrometheusRules have been registered"
**What happened?**

When the number of PrometheusRules published to the operator goes over the limit for what fits in a single config map (prometheus-xxx-rulefiles-0) a new config map is created for the remaining rules (prometheus-xxx-rulefiles-1) but this configuration is silently ignored.

**Did you expect to see something different?**

We expected that either the second rulefiles config map wou

[2022-06-03 12:38] simonpasquier commented on #4829
you could look at the audit logs on the statefulset resource? Also your grep might be too restrictive, maybe `k get pods --all-namespaces | grep operator`

[2022-06-03 12:39] simonpasquier commented on #4832
Can you share the logs of the config-reloader as well as the final Prometheus configuration?
The statefulset definition would also be useful.

[2022-06-03 13:16] metheu commented on #4829
@simonpasquier you were right! :) There was a rouge prom operator with different naming name in some other namespace.

`k get pods --all-namespaces | grep operator
default                prometheus-operator-6f59b8cf85-zvs79                              1/1     Running            0          18h
kube-system            keda-operator-947d6f679-99wwr                                     1/1     Running

[2022-06-03 15:22] simonpasquier commented on #4829
No problem! It is a such frequent problem that it would deserve a note in the [documentation](https://github.com/prometheus-operator/prometheus-operator/blob/main/Documentation/troubleshooting.md), in case you want to volunteer :)

[2022-06-03 20:21] igorgosh-sap opened #4836 "How to set enable_http2: false in service monitor"
**What did you do?**
We're trying to upgrade kube-prometheus-stack to version 2.35
We used to build image with ENV PROMETHEUS_COMMON_DISABLE_HTTP2=1 in previous versions to turn off http2
but it's no longer working. In version 2.35 new parameter was introduced enable_http2 and it's set to true by default

**Did you expect to see some different?**
We're unable to set enable_http2 to false for servi

[2022-06-03 20:44] metheu commented on #4829
@simonpasquier gladly! [PR opened](https://github.com/prometheus-operator/prometheus-operator/pull/4838)

[2022-06-04 08:45] xulianghz opened #4839 "Creating K8s secret with Alertmanager config fails when compressed config is larger than 1MB"
prometheus-operator on Kubernetes Slack. Using K8s secret reload Alertmanager config. But K8s secret there is a limit of not more than 1MB. How to solve the problem of too many configurations?

[2022-06-05 04:01] wajika opened #4841 "How to modify kubelet's rules?"
[code]

I added additional configuration according to [Additional Scrape Configuration](https://github.com/prometheus-operator/prometheus-operator/blob/main/Documentation/additional-scrape-config.md), but no new label appeared in prometheus, what is the reason? My added rules are overridden by CRD?

[config endpoint information](https://gist.github.com/wajika/21098344fa0c5bde644fdbd59efe682c)

[2022-06-05 07:16] heylongdacoder commented on #4830
I will give it a try :)

[2022-06-07 16:09] simonpasquier commented on #4839
Thanks for the report. Are you using AlertmanagerConfig?

[2022-06-08 00:54] X-Mars opened #4843 "how to deploy prometheus-operator with an existing prometheus ?"
**What did you do?**
how to deploy prometheus-operator with an existing prometheus ?
**Did you expect to see some different?**
no
**Environment**
centos 7.9
* Prometheus Operator version:
0.57
* Kubernetes version information:
kubernete 1.16

* Kubernetes cluster kind:
kubeadm

* Manifests:
no

[2022-06-08 13:06] simonpasquier commented on #4843
Can you add more details? Do you have an existing statefulset that you want the operator to "adopt"?

[2022-06-08 14:09] sangram23 opened #4845 "Prometheus operator Support AWS ALB to using ingress"
I have installed prometheus operator in my AWS EKS Cluster and trying to access using ingress . For Ingress Controller  using  AWS ALB.

1)- I have created Nodeport Service
apiVersion: v1
kind: Service
metadata:
   name: prometheus-server-nodeport
   labels:
     app: prometheus
     component: server
     release: prometheus
spec:
  type: NodePort
  selector:
     app: prometheus
     component:

[2022-06-08 19:00] sslavic commented on #501
I don't see a way currently to configure [Prometheus CR](https://prometheus-operator.dev/docs/operator/api/#prometheusspec) so that operator configures env for Prometheus main container in the StatefulSet. Am I missing something? When supported this would allow community to experiment , and depending on result defaults change might be easier to justify. WDYT, would it make sense to support configu

[2022-06-09 15:09] simonpasquier commented on #4845
It should be possible to expose Prometheus via ingress and I'm not aware of any issue with AWS. Maybe check https://github.com/prometheus-operator/kube-prometheus/blob/main/docs/customizations/exposing-prometheus-alertmanager-grafana-ingress.md?

[2022-06-09 15:53] mikechengwei commented on #4836
/assign

[2022-06-10 00:26] X-Mars commented on #4843
I have a prometheus deploy by yaml and kind is Deployment.
I want to add ServiceMonitor  for it.
How to do can i?
Thank you .

[code]

[2022-06-10 06:51] ChrisSteinbach commented on #4832
We solved our problem by removing obsolete test rules. And we did so before saving logs although, like I say, nothing was logged by the config-loader. At least nothing indicative of error.

If we reach the number of rules that trigger this problem again, we will add logs and config. Or create another issue if this one has been closed.

[2022-06-10 06:51] #4832 closed

[2022-06-10 06:56] simonpasquier commented on #4841
can you provide the Prometheus manifest?

[2022-06-10 06:56] simonpasquier commented on #4803
for the record, https://prometheus.io/docs/prometheus/latest/storage/#backfilling-for-recording-rules (in particular, the "Limitations" section).

[2022-06-10 07:05] simonpasquier commented on #4843
It's not something that is possible. You have to use a Prometheus CRD which would create and manage a statefulset.

[2022-06-10 07:21] X-Mars commented on #4843
got it . thank you！

[2022-06-10 07:21] #4843 closed

[2022-06-10 09:05] dickescheid commented on #4808
I am having issues with remoteWrite.
I have tried passing the configurations like so:

[code]

and after doing a `helm upgrade monitoring prometheus-community/kube-prometheus-stack -f production.yaml --namespace monitoring`
I get the following message:

[code]

When trying to put the `basicAuth` part in `additionalRemoteWrite` the error changes:

[code]

[2022-06-10 11:53] kubecto commented on #1884
Following this configuration makes me valid
[code]

[2022-06-10 15:51] simonpasquier commented on #4808
@dickescheid the username and password fields are secret key selectors:

[code]

See https://github.com/prometheus-operator/prometheus-operator/blob/main/Documentation/api.md#basicauth

[2022-06-10 15:53] simonpasquier commented on #501
you could use [strategic merge patch](https://github.com/prometheus-operator/prometheus-operator/blob/main/Documentation/user-guides/strategic-merge-patch.md) to inject env variables in the prometheus container

[2022-06-10 22:34] dickescheid commented on #4808
whoops 😅 , thanks a lot !

[2022-06-11 09:07] wajika commented on #4841
I did the deployment using the default yaml provided by the rabc directory and then created a secret file containing job_name: kubelet.

[code]

[prometheus-operator](https://github.com/prometheus-operator/prometheus-operator)/[example](https://github.com/prometheus-operator/prometheus-operator/tree/main/example)/[rbac](https://github.com/prometheus-operator/prometheus-operator/tree/main/example/r

[2022-06-13 10:31] DareLekan commented on #3245
Good day. I am facing a similar issue here. I have alertmanager and blackbox configured. However, both shows different information for same endpoint. What am I doing wrong. Please help.
![prometheus config 1](https://user-images.githubusercontent.com/77133189/173334810-955e7bf2-b6fb-4188-9791-58abb8ad5a71.JPG)
![prometheus config 2](https://user-images.githubusercontent.com/77133189/173334815-d114

[2022-06-13 13:52] simonpasquier commented on #4841
Can you share the operator's logs?

[2022-06-13 19:59] DareLekan opened #4849 "Good day. I am facing a similar issue here. I have alertmanager and blackbox configured. However, both shows different information for same endpoint. What am I doing wrong. Please help."
Good day. I am facing a similar issue here. I have alertmanager and blackbox configured. However, both shows different information for same endpoint. What am I doing wrong. Please help.
![prometheus config 1](https://user-images.githubusercontent.com/77133189/173334810-955e7bf2-b6fb-4188-9791-58abb8ad5a71.JPG)
![prometheus config 2](https://user-images.githubusercontent.com/77133189/173334815-d114

[2022-06-14 01:33] omriarieli commented on #4823
I am also seeing this message in operator logs, and my prometheus resource is there as well. I deployed prometheus from bitnami/kube-prometheus chart and applied the CRD's manually from [here](https://github.com/bitnami/charts/tree/master/bitnami/kube-prometheus/crds)

[2022-06-14 02:21] martin2110 commented on #4836
I ran in to this also.

[2022-06-14 02:57] ctml91 commented on #4823
If you check the CRD, at end do you see subresource available? If not, you might not have the correct CRD version installed.

[2022-06-14 02:58] ctrought commented on #4786
Thanks and understood. I've submitted PR's to them as you suggested.

[2022-06-14 02:58] #4786 closed

[2022-06-14 05:11] slashpai commented on #4849
Could you please share the Probe configuration?

[2022-06-14 07:38] heilerich commented on #4715
This is still an issue.

[2022-06-14 08:35] slashpai commented on #4715
[fatsheep9146](https://github.com/fatsheep9146) Do you want to contribute to fix?

[2022-06-14 08:36] wajika commented on #4841
[container.log](https://github.com/prometheus-operator/prometheus-operator/files/8897919/container.5.log)

Sorry I had no success importing additional-scrape-configs before. I didn't notice it, so there are some "could not be found" errors in the log.
I just added scrape-configs correctly, but I still can't find kubernetes_io_hostname or the additional-scrape-configs content I imported under the /

[2022-06-14 08:45] fatsheep9146 commented on #4715
No problem, assign to me :)

[2022-06-14 09:14] slashpai commented on #4715
It's sufficient to comment as you did if you would like to work on it :)

[2022-06-14 09:21] simonpasquier commented on #4823
@omriarieli https://github.com/bitnami/charts/blob/master/bitnami/kube-prometheus/crds/crd-prometheus.yaml doesn't contain the proper definition for the `status` subresource. You need to talk to the maintainers of bitnami/charts.

[2022-06-14 09:24] simonpasquier commented on #4841
Can you check the config-reloader logs in the prometheus pod?

[2022-06-14 09:50] DareLekan commented on #4849
Here @slashpai
![blackbox probe](https://user-images.githubusercontent.com/77133189/173548998-73ef808a-7ef7-4257-9271-815f661ef2a0.JPG)

[2022-06-14 10:07] DareLekan commented on #4849
Thanks @slashpai I am pretty new to this, however does the screenshot attached meet what you asked?
![alert probe 2](https://user-images.githubusercontent.com/77133189/173552395-ea4e7cba-0d59-4a33-8326-af873803134b.JPG)
![alert probe](https://user-images.githubusercontent.com/77133189/173552407-79a7fb5a-9199-43d0-a8d8-753a99471072.JPG)

[2022-06-14 10:15] Boeller666 commented on #4414
I have the same problem. I use prometheus remote-write to send metrics from different clusters to an observer cluster running thanos-receive. As receive gets problems with big block-durations when a WAL replay is needed eg. after pod restarts, I need to decrease block-durations.

[2022-06-14 11:38] vivekjainx86 opened #4850 "Add support for passing web.max-connections argument to Prometheus"
**What is missing?**
I didn't find any specification in PrometheusSpec to pass `--web.max-connections=<integer>` argument to Prometheus. Also, there is no support for passing configuration parameter to Prometheus which is not in PrometheusSpec.

**Why do we need it?**
It will be helpful if PrometheusSpec has all the configuration parameters that Prometheus has, or at least there should be a way to

[2022-06-14 12:09] DareLekan commented on #4849
You are correct @slashpai I am asking about the blackbox exporter.

[2022-06-14 12:10] slashpai commented on #4849
I suppose that would be a question for https://github.com/prometheus/blackbox_exporter :)

[2022-06-14 12:16] slashpai commented on #4850
@vivekjainx86 would you like to contribute? :)

[2022-06-14 12:37] simonpasquier opened #4851 "Add support for additional CLI arguments to Prometheus, Alertmanager and Thanos Ruler"
**What is missing?**

Users have no practical way to pass additional CLI arguments to the operands. One could use [strategic merge patch](https://github.com/prometheus-operator/prometheus-operator/blob/main/Documentation/user-guides/strategic-merge-patch.md) to override the argument list generated by the operator but this is brittle and hacky since the operation replaces all items.

For most argum

[2022-06-14 12:40] simonpasquier commented on #4850
I've just filed #4851which is about this use case as it was an action item from our last office hours meetings :)

[2022-06-14 12:59] DareLekan commented on #4849
Thank you for the resource. I have followed the link

[2022-06-14 13:26] AdheipSingh commented on #4730
@brancz is this something we can add, would be willing to submit a PR for this

[2022-06-14 17:37] lucasscheepers opened #4852 "Prometheus is unable to load the scrape_configs file"
I've deployed Prometheus, Alertmanager, Grafana et cetera in the `cattle-monitoring-system` namespace using the rancher-monitoring Helm chart. Look [here][1] and [here][2] for documentation. Everything in this namespace is running OK.

Now I'm trying to deploy an extra Prometheus instance in another namespace called `indigo` using the manifest files. Unfortunately the configuration scrape_configs

[2022-06-14 17:38] lucasscheepers commented on #4852
[This is my Stackoverflow post](https://stackoverflow.com/questions/72619665/how-to-add-the-scrape-configs-file-to-prometheus)

[2022-06-15 00:46] wajika commented on #4841
I probably understand what you mean, I also looked at the config-reloader logs yesterday but I didn't see any serious failures.

I'm not sure if the following record affects config-reloader
`trigger reload: reload request failed: Post \"http://localhost:9090/-/reload\`

[code]
[code]

[2022-06-15 03:46] slashpai commented on #4841
config-reloader have issue as described in https://github.com/prometheus-operator/prometheus-operator/issues/4708.  Issue is when we update Prometheus object to trigger an invalid configuration and later even after updating to valid configuration, reloader doesn't reload Prometheus with the good configuration but instead it stops doing anything.

Looking at the error `trigger reload: reload reques

[2022-06-15 05:31] wajika commented on #4841
Thanks for your reply, finally gave me a clue.
Do you know what I can do to get more leads for troubleshooting?

[2022-06-15 09:09] wajika commented on #4841
![image](https://user-images.githubusercontent.com/17058349/173789462-72d7962a-ad68-4560-a249-886b04ee7686.png)
According to @slashpai's tip, I found that the version of prometheus I was running was too old (v0.47.0), after I upgraded to 0.57.0, the config was updated normally.

[2022-06-15 11:13] boernd commented on #4851
@simonpasquier Are you already working on this? Otherwise we could contribute, see https://github.com/infonova/prometheus-operator/commit/eec58ffe90ec3ce032ee48faa94665d5be3410c1

[2022-06-15 12:58] lucasscheepers commented on #4852
[According to this comment ](https://github.com/prometheus-operator/prometheus-operator/issues/1860#issuecomment-420407467) I managed to fix my issue. I forgot to create a ServiceMonitor and link this in the Prometheus object

[2022-06-15 13:05] simonpasquier commented on #4851
I'm not working on it, feel free to send a PR :)

[2022-06-16 05:54] #4841 closed

[2022-06-16 14:53] Voolodimer commented on #3608
I'm trying to update a config with a command
`helm` upgrade -n monitoring prometheus-operator prometheus-community/kube-prometheus-stack --version 18.0.5 --debug --install --atomic --values supply_values.yaml`
and my new targets are not getting added.
How to update the configuration correctly?

[2022-06-20 11:25] slashpai commented on #4524
@simonpasquier I think we have covered possible options in PRs linked, good to close?

[2022-06-20 13:19] johgoe commented on #4836
This should be the flag: `enable_http2` for the scrape configuration https://github.com/prometheus/prometheus/blob/main/docs/configuration/configuration.md

see: https://github.com/prometheus/prometheus/pull/10492

[2022-06-20 13:48] simonpasquier commented on #4524
Yep, I think we're good.

[2022-06-20 13:48] #4524 closed

[2022-06-20 15:56] Nexus2k commented on #4079
This still seems to be an issue, I've had to expand the PVC manually but there's no way the Filesystem get's expanded due to the pod lacking the needed tools. Any workaround for that?

[2022-06-21 04:13] #4343 closed

[2022-06-21 09:19] RafalSkolasinski commented on #3071
I believe that possibility to specify just port number can be helpful in some situations. In many cases using port's name is easier / cleaner but somehow you just need to be able to specify port number. Please consider re-opening this.

P.S. Does the `targetPort` still work? It is documented but marked as deprecated.

[2022-06-22 10:03] matthiasr commented on #4816
I'm not sure about preserving compatibility here tbh. Scraping a completed pod will _never_ work, and doesn't really give a signal other than "up == 0". Alerting on CrashLoopBackoff can and should happen through kubelet and/or KSM metrics, which can examine the state of the pod.

When a ~pod~ container is in CrashLoopBackOff, what _is_ its phase actually? As I read the [pod lifecycle](https://kube

[2022-06-24 07:53] faustodavid commented on #4791
Hey @slashpai I think my PR got ignored 😅 , you mentioned you were working on this as well, maybe you can submit yours or help reviewing mine? I really would like to have this feature because at the moment my exemplars just last like 5 minutes.

[2022-06-24 08:02] slashpai commented on #4791
I will try to review that today :)

[2022-06-24 08:06] faustodavid commented on #4791
Thanks!

[2022-06-24 22:14] SoJoh opened #4867 "ServiceMonitor not found"
Hello,

I find our Prometheus Operator to ignore certain ServiceMonitors even though it recognizes the same configuration in other namespaces.

**Situation**

There are two namespaces each with a service and a service monitor.

v1-feat
- service/client
- servicemonitor/client-metrics

v1
- service/client
- servicemonitor/client-metrics

**Expected behavior**
Both Service Monitors should be loaded

[2022-06-25 05:15] slashpai commented on #4867
Version mentioned in issue seems to be that of helm chart. What version of prometheus-operator are you using?

[2022-06-25 18:00] drym3r commented on #3375
While the strategic merge-path is pretty cool, I understand that this issue would need to be addressed. It also happens with the alertmanager. Curiously enough, the `initContainer` does have the `capabilities` and `allowPrivilegeEscalation` above other definitions. I think it would make sense that all the containers would have the same options of `securityContext` configuration.

Alertmanager.spec

[2022-06-25 18:01] alexppg commented on #3375
While the strategic merge-path is pretty cool, I understand that this issue would need to be addressed. It also happens with the alertmanager. Curiously enough, the initContainer does have the capabilities and allowPrivilegeEscalation above other definitions. I think it would make sense that all the containers would have the same options of securityContext configuration.

Alertmanager.spec.securit

[2022-06-26 14:55] heylongdacoder commented on #4200
I am working on it.

[2022-06-27 07:58] SoJoh commented on #4867
Yeah right, this version is mentioned in the build info of Prometheus UI, but after double-checking, it actually seems like we are running **v0.38.1**.

[2022-06-27 10:31] wsdng commented on #3071
We also need to use a port number. Same problem, different szenario: The port name is not part of deployment.yaml as we have an envoy proxy from AWS AppMesh that changes the port from an named port "http" to the unnamed 443.

[2022-06-27 12:01] simonpasquier commented on #3071
Yes it's still supported and will continue to be by the current API version (e.g. `monitoring.coreos.com/v1`).

`targetPort` was copied from the ServiceMonitor CRD but it was confusing because it relates to Kubernetes [services](https://kubernetes.io/docs/reference/generated/kubernetes-api/v1.23/#serviceport-v1-core).
Rather than "undeprecating" `targetPort`, I'd be ok having a new `portNumber` fi

[2022-06-28 06:59] alexdepalex commented on #4523
Same here. We're getting tokens through the vault-agent, but this doesn't work for PodMonitors. And there doesn't seem to be an override for this, like for ServiceMonitors.

[2022-06-28 13:12] #4791 closed

[2022-06-28 20:51] abentley opened #4874 "No default described for endpoint path"
**What happened?**
I looked at the docs and I couldn't find out which path ServiceMonitor used by default

**Did you expect to see something different?**
I expected to see a default

**How to reproduce it (as minimally and precisely as possible)**:
https://prometheus-operator.dev/docs/operator/api/#endpoint

**Environment**
N/A
* Prometheus Operator version:
N/A

* Kubernetes version information:

[2022-06-29 04:57] slashpai commented on #4874
metrics path is not a required field for Endpoint since operator let prometheus set the default. It will use the default `/metrics`. But if you need to set a different path you can use `path` field in [Endpoint](https://github.com/prometheus-operator/prometheus-operator/blob/main/Documentation/api.md#endpoint)

[2022-06-29 05:00] slashpai commented on #4874
@simonpasquier May be we should set default metric path using openapi to avoid confusion. wdyt?

[2022-06-29 05:06] slashpai commented on #4867
Does the prometheus service account has access to both namespaces which you are trying to monitor applications?
https://prometheus-operator.dev/docs/operator/troubleshooting/#troubleshooting-servicemonitor-changes will also help to troubleshoot better

[2022-06-29 05:50] SoJoh commented on #4867
I followed that guide already as good as I could.

This is the assigned clusterrole for the serviceaccount:

[code]

  Also, the services are deployed from the same repository, same helm chart and same pipeline, only different images of the services. Therefore I could not find any differences in the namespaces in regards to RBAC or whatever.

 We also have the same setup for another environment on

[2022-06-29 09:56] simonpasquier commented on #4874
I wouldn't set a defaut value in the OpenAPI spec because it would create friction if Prometheus changes its behavior (very unlikely though).
But it's worth adding a comment [here](https://github.com/prometheus-operator/prometheus-operator/blob/708ea77c900806616466116ce07ddd215e3870a1/pkg/apis/monitoring/v1/types.go#L1137) to explain that it will fallback to the Prometheus default value when empty

[2022-06-29 12:58] snuggie12 opened #4877 "New field in monitors to auto include ready status"
**What is missing?**
Curious if there's any interest in adding a field to `PodMonitor` and `ServiceMonitor` that would automatically add relabeling which checks if a resource is ready.

**Why do we need it?**
Some of our devs get scraped early and that is messing with our progressive delivery system. Adding relabelling that uses `__meta_kubernetes_endpoint_ready` can fix that issue. Not sure we _n

[2022-06-29 23:03] snuggie12 commented on #4877
Yeah, it's similar but the endpoint maps back to servicemonitor which is what we use.

I also see loads of people have issues of targets not leaving where as this is about starting scraping too early. Didn't know if my ticket should be separate or not but happy to close and watch that issue if that'll track both podmonitor and servicemonitor.

[2022-06-30 07:54] roymartinezblanco opened #4880 "[AlertmanagerConfig] Allow Any in alertmanagerConfigNamespaceSelector"
**What is missing?**
Currently the alertmanagerConfig only supports a hard coded list of namespaces in the `alertmanagerConfigNamespaceSelector`.

**Why do we need it?**
Allow/Add `any: true` similar to `ServiceMonitor`

[2022-06-30 10:38] #4874 closed

[2022-06-30 11:11] slashpai commented on #4877
I am ok with keeping this issue open but we could follow same approach for both.
Would you like to contribute for the fix?

[2022-06-30 12:19] simonpasquier commented on #4877
I think that #4816 would also apply in your case but we can keep this one open until we have a clearer picture.

[2022-06-30 12:26] stafot commented on #4414
IMHO is a reasonable request for implementations with `thanos` as centralized point of truth. As the memory needs and the durations parameters could be different for each user of `prometheus-operator` depending to its scale.

[2022-06-30 15:10] dembaca opened #4882 "AlertmanagerConfig validation for opsgenie_config.responder.type does not allow template strings"
**What happened?**

According to the [Alertmanager documentation](https://prometheus.io/docs/alerting/latest/configuration/#responder) a `<tmpl_string>` should be accepted as value for `opsgenie_config.responder.type`.

Prometheus Operator refuses to accept a template string (see log output below).

**Did you expect to see something different?**

I expect a `tmpl_string`, i.e. a string containing

[2022-06-30 15:37] simonpasquier commented on #4882
good catch! would you like to submit a fix?

[2022-07-01 08:15] simonpasquier commented on #4882
hmm in fact the Alertmanager documentation isn't accurate because the config validation only accepts `^(team|teams|user|escalation|schedule)$`.

https://github.com/prometheus/alertmanager/blob/528b9588bf814c394b3111a21c66aab71828131c/config/notifiers.go#L503-L506

[2022-07-01 09:50] nabokihms commented on #4523
@simonpasquier, thanks for clarifying. I will give it a try. Is it worth adding this example to docs somewhere?

[2022-07-01 13:02] simonpasquier commented on #4523
I added this item to the next [office hours](https://docs.google.com/document/d/1-fjJmzrwRpKmSPHtXN5u6VZnn39M28KqyQGBEJsqUOk/edit?usp=sharing) meeting which is planned for Tuesday July 5th :)

[2022-07-01 18:08] jzelinskie commented on #4355
Apologies for resurrecting a closed issue. `create` works around this by not creating the annotation, but this annotation is necessary for some kubectl functionality, for example `--prune`.

While there's a [PR for upstream to add support for server-side prune](https://github.com/kubernetes/kubernetes/pull/110913), these are all simply workarounds to the fact that the annotation just shouldn't be

[2022-07-01 18:14] druanoor opened #4884 "[ThanosRuler] Thanos Ruler does not support object storage backend configuration"
Thanos Ruler does not support object storage backend configuration.

Not even possible to use a workaround because ThanosRuler CRD does not support extraArgs either.

Best way to implement this is to add it just like in Thanos sidecar is done, adding a `objStore ` property

[2022-07-04 12:54] #4715 closed

[2022-07-04 16:20] #4884 closed

[2022-07-05 06:17] slashpai commented on #4880
Can you provide more details what you are trying to do? :)

[2022-07-05 15:10] simonpasquier commented on #4523
We discussed the topic with @paulfantom during the office hours meeting and we agreed to move forward with the solution sketched in https://github.com/prometheus-operator/prometheus-operator/issues/4523#issuecomment-1172107348. @nabokihms feel free to submit a pull request if you have time :)
Maybe I'd suggest to start with the API changes before going into the implementation details.

[2022-07-05 15:43] AshtonKem commented on #3608
I finally figured this out this morning, adding this to my helm override values did the trick.

[code]

More than a tiny bit concerning that this issue is still open 2 years later though. Seems like the docs need a go-over? Or maybe there are some bugs?

[2022-07-06 03:43] mzupan commented on #4414
Battled this for a long time and this setup helped make progress.

The reason we all want to config these is those that autoscale on a massive level you can easily have pod memory of 30-40gigs of memory.

You have to disable compaction for this to work. If you don't then it just ignores the arguments from what I can tell and keeps the default 2h in place.

[code]

I'm keeping only 800meg which in

[2022-07-06 09:05] simonpasquier commented on #3608
From what I can tell, all the reports come from people that install the prometheus operator from the Helm chart. Since the chart is maintained at https://github.com/prometheus-community/helm-charts, it would make sense to report the issue there.

[2022-07-06 09:19] sybadm commented on #3608
That's correct. However, there is no common platform and lack of collaboration between two communities. I struggled a lot configuring Prometheus using Helm and almost gone mad at one point. Helm chart documentation is not really great which then people start thinking the issue with underline operators. Anyone using Prometheus with Helm need to know that /etc/prometheus/prometheus.yml file is not r

[2022-07-06 09:54] Nog-Frog commented on #3737
Hey, just stopping by to say this feature is also very important to us. Currently this issue prevents us from using the AlertmanagerConfiguration CRD, which is really a shame.

[2022-07-06 13:50] simonpasquier commented on #4708
closed by https://github.com/prometheus-operator/prometheus-operator/pull/4887 :)

[2022-07-06 13:50] #4708 closed, assigned to nobody

[2022-07-06 21:50] visla-xugeng commented on #3608
@keyboardfann I have a question, based on the code in your reply. What if prometheus and target service/pod are in different namespaces, how to write target?
Let's say Prometheus is in Monitoring ns, the target is in kube-system. What address should I use here?

[code]

[2022-07-07 14:15] StuxxNet opened #4891 "Force Prometheus Operator Update Into prometheus.yaml.gz and Check Logs of ServiceMonitors Scrapping"
**What did you do?**

Checked the content of prometheus.yaml.gz and didn't find many targets altougth the service and servicemonitor labels are matching

**Did you expect to see some different?**

Yes, expected to see the new targets

**Environment**

* Prometheus Operator version:

    `prometheus-operator:v0.38.1`

* Kubernetes version information:

    `v1.19.16-eks-de875a99`

* Kubernetes clus

[2022-07-08 07:08] zqzzq opened #4892 "AlertmanagerEndpoints doesn't contain basicAuth field"
how can i config alertmanager's basic_auth in prometheus config like:
[code]
the AlertmanagerEndpoints struct in Prometheus CRD only support "bearerTokenFile" and "authorization" field.

[2022-07-08 07:33] zoxpx opened #4893 "prometheus-operator:v0.56.3 loads non-versioned prometheus/prometheus:latest image"
**What happened?**

The `prometheus-operator:v0.56.3` (also `:v0.50.0`) pulls the wrong `prometheus` image:

When using spec with the following arguments:
[code]
.. the _actual_ images pulled by the `prometheus-operator` are the following:
[code]

Notes:
* in our test, we used custom registry server 10.13.1.68, but the issue is easily reproducible even without these overrides (i.e. same issue even

[2022-07-08 08:44] vsamidurai opened #4894 "service monitor default relabel config adds additional labels."
**What happened?**
Service monitor default relabel rules add additional labels in pod-level metrics.

**Did you expect to see something different?**
expect to see original metrics from exporters without additional container label. ability to disable these rules would probably help.

**How to reproduce it (as minimally and precisely as possible)**:
check any pod-level metrics from kube-state-metric

[2022-07-08 11:09] simonpasquier commented on #4893
I agree that not having the same behavior between Prometheus and Alertmanager is confusing and the operator should probably default to the Prometheus image's tag to `spec.version` if empty (e.g. like it does for Alertmanager).
This would be a potentially breaking change for users but I suspect that nobody relies on the image name having a missing tag/digest. @paulfantom thoughts?

[2022-07-08 12:16] simonpasquier commented on #4894
The way to remove the `container` label is to add a relabel config rule:

[code]

[2022-07-08 13:09] vsamidurai commented on #4894
yes, this drops from all the metrics. even metrics with the original container label.

[2022-07-08 13:49] simonpasquier commented on #4894
It's possible but a bit more involved than my initial answer indeed. I haven't tested but it should something like this:

[code]

[2022-07-08 16:31] PyDataBlog opened #4896 "Prometheus is only picking up a metrics deployment in service discovery but not as a target"
**What did you do?**
I installed `kube-prometheus-stack` via helm:

[code]
![image](https://user-images.githubusercontent.com/29863388/178033176-2a04e4ab-899d-4ee7-9735-712588058e8f.png)

Then proceeded to deploy a fastapi application which has a metrics endpoint that Prometheus is supposed to scrape. `/metrics` endpoint works fine as seen below:

![image](https://user-images.githubusercontent.com

[2022-07-08 21:15] PyDataBlog commented on #4896
Figured it out. I missed a label `app: code-detector` in service config.

[2022-07-08 21:15] #4896 closed

[2022-07-10 13:16] mikechengwei commented on #4803
I will follow up  this feature.My idea is to create a new promtool crd resouece, using the base resource of the job api, linked the prometheusrule resource with the prometheus instance.

[2022-07-11 13:22] upstream-dmahlberg commented on #4755
This seems to work now (tested with 0.57.0 / kube-prometheus-stack 36.2.0).

[2022-07-12 13:44] timmow opened #4902 "Hit Maximum secret size for alertmanager.yaml in kubernetes"
**What happened?**
When creating an alertmanager config with recievers and routes for 300 "teams" within our organisation, we hit an error with the maximum secret size similar to the error with prometheus config in [this issue](https://github.com/prometheus-operator/prometheus-operator/issues/2234).

I see the following in the logs
[code]

Would you be open to a similar fix to #2243 but for alertm

[2022-07-13 06:12] slashpai commented on #4902
Related issue https://github.com/prometheus-operator/prometheus-operator/issues/4839

[2022-07-14 13:34] pietervincken opened #4913 "Prometheus loses connection to Alertmanager after rescheduling of Alertmanager"
**What happened?**

Connection between Prometheus and Alertmanager is lost when Alertmanagers get rescheduled by the cluster.

**Did you expect to see something different?**

When pods are rescheduled (normal operation) Prometheus instances should be able to recover and connect to the correct alert manager instances again.

**How to reproduce it (as minimally and precisely as possible)**:

- Deplo

[2022-07-14 14:28] onstring commented on #4079
Could anyone help elaborate on how can you manually expand the PVC in this case?
I've increased volumeClaimTemplate.spec.resources.requests.storage but PVC/PV doesn't change.
I cannot manually change PVC size either, as it will still stick to the old value, even though I temporarily delete the sts.

[2022-07-14 14:33] Nexus2k commented on #4079
We ended up deleting the PVC and therefore losing the historic data...

[2022-07-14 14:39] asettouf commented on #4079
Yup, you might wanna configure a storage class that allows resizing beforehand if you wanna go that way. Otherwise it's delete and recreate.

[2022-07-14 14:40] Nexus2k commented on #4079
We've used the default DO storageclass which has resizing enabled. As said I think the container simply has no tools built-in that allow filesystem level resizing.

[2022-07-14 14:47] Nexus2k commented on #4079
yes and despite the PV showing up as 50GB size, the filesystem in the pod was still just showing up as 20GB. Maybe it's a DO issue that it doesn't do the FS level resize commands but it certainly would be useful if the prometheus pod had the standard linux disktools on board.

[2022-07-14 14:52] nuriel77 commented on #4079
I see. Could be DO related indeed. Telling by this [blogpost](https://medium.com/@luboremo/digitalocean-pvc-resizing-for-thorchain-590dc689021e) it seems that a workaround consists of downtime: mounting the volume to a droplet and performing the resize operation on it.

[2022-07-15 10:06] R0peE opened #4914 "metricRelabelings dropping fields in CR on save"
**What did you do?**
I would like to replace the name of metrics scraped with ServiceMonitor, I have set up for that the following configuration:
[code]

After saving the CR the `source_labels: [__name__]` and `target_label: __name__` fields are missing, producing an erronous yaml for Prometheus.

What seems to be missing? Is it a syntax issue (as far as i see it should be not) or the `__name__` l

[2022-07-15 11:31] #4914 closed

[2022-07-15 17:12] edenkoveshi opened #4916 "[Feature]: Maintain a service for a "primary" replica"
**What is missing?**
The idea is to maintain a service that points only to one prometheus replica, and update it if that replica is down.

**Why do we need it?**
Having more than one prometheus replica can come in handy as the loading time might be quite long.
However, when there is more than one replica the prometheus-operated service points to all instances, multiplying the number of metrics pre

[2022-07-18 07:16] slashpai commented on #4913
alertmanager is identified automatically based on alertmanager endpoint details specified in `alerting` section of `Prometheus` object which translates to following relabel config in prometheus configuration if you used default kube-prometheus stack. So it based on alertmanager service name and  port specified. It may take sometime to get it reflected after new pod is created.

[code]

Have you ch

[2022-07-18 07:27] slashpai commented on #4916
Since Prometheus is deployed through StatefulSet, I don't think it is a good idea to have separate service objects for them
Lets see what maintainers have to say though

[2022-07-18 07:36] chandradharrao commented on #3756
Same here.
Its not working for me too.
Did you get it to work?

[2022-07-18 13:20] simonpasquier commented on #4376
It looks like we are done :)

https://prometheus-operator.dev/docs/operator/api/#monitoring.coreos.com/v1beta1.Weekday

![image](https://user-images.githubusercontent.com/2587585/179519124-6c9a1cf3-4a44-446b-ba60-4fbc3d8b2fc0.png)

[2022-07-18 13:21] CherryJia opened #4918 "remote_write configuration block will be refreshed."
Hi Team,
We are trying to send metrics to my grafana cloud instance. per doc https://grafana.com/docs/grafana-cloud/kubernetes-monitoring/prometheus/remote_write_operator/#step-2--modify-the-prometheus-manifest-configuration
I have appended the following remote_write configuration block to the CR manifest , but it will take effective for only a while , then got refreshed out after very soon. seems

[2022-07-18 13:45] pietervincken commented on #4913
I updated to the latest version this morning and now I cannot reproduce it anymore, so it seems solved now.

I looked at the service object as you suggested and that syncs almost instantly with pods coming up. After the upgrade that is also instantly reflected in the alertmanagers section of the Prometheus configuration UI.

I'll close the issue.

[2022-07-18 13:45] #4913 closed

[2022-07-19 04:53] slashpai commented on #4918
Thanks for the report, can you help with these questions

How did you deploy prometheus operator? Also could you please share prometheus-operator logs and mention which version of operator are you using?

[2022-07-19 06:00] slashpai commented on #4892
https://github.com/prometheus-operator/prometheus-operator/issues/4200 seems related

[2022-07-19 09:52] swage6 opened #4921 "The Prometheus UI does not get custom Servicemonitoring"
**What did you do?**
I need the starboard-Exporter data collected by Prometheus

**Did you expect to see some different?**
I expected my ServiceMonitor to result in a target on the UI regardless of it working or not, as I have an existing, partially erroring, ServiceMonitor

* Prometheus Operator version:
quay.io/prometheus/prometheus:v2.29.1

* Kubernetes version information:
Client Version: vers

[2022-07-19 10:17] slashpai commented on #4921
Can you format the service monitor and service definition mentioned above it's a bit difficult to read the definition :)

[2022-07-19 13:04] simonpasquier commented on #4892
This is a gap indeed. Do you want to contribute?

[2022-07-19 19:15] edenkoveshi commented on #4916
Actually that's implemented in many other operators that operate StatefulSets such as Postgresql, Kafka etc.

I hope I'm not doing something wrong, but I am seeing double metrics (for 2-replicas prometheus) on any service querying prometheus (e.g. Grafana, Alertmanager). The metrics differ by the prometheus_replica label. It actually makes sense to me since I query the service and it redirects tra

[2022-07-20 00:57] zhenglisai commented on #4071
i write a exporter myself, and i found probe not support params, do this feature in developing?

[2022-07-20 03:03] swage6 commented on #4921
Sorry, I am not familiar with Github, the layout is not good, I can share my files
[starboard-system-serviceMonitoring.txt](https://github.com/prometheus-operator/prometheus-operator/files/9146148/starboard-system-serviceMonitoring.txt)
[starboard-exporter-service.txt](https://github.com/prometheus-operator/prometheus-operator/files/9146149/starboard-exporter-service.txt)

[2022-07-20 09:24] slashpai commented on #4677
This looks good to be closed as https://github.com/prometheus-operator/prometheus-operator/pull/4709 merged

[2022-07-21 07:16] EvertonSA opened #4922 "Is it possible to provision a persistent volume and persistent volume claim outside of prometheus operator scope"
**What did you do?**

I'm trying to add PV storage to my prometheus instance but I need it to control persistent volume and persistent volume claims outside of prometheus-operator scope.

in the docs api, it says:

![image](https://user-images.githubusercontent.com/30481051/180152996-d19abdd9-b46e-466f-b341-a81ad17dfbc9.png)

so I assume controlling PVC outside of prometheus-operator is not an opt

[2022-07-21 10:16] #4830 closed

[2022-07-21 10:35] #4851 closed

[2022-07-21 14:13] #4902 closed

[2022-07-21 14:23] #4376 closed

[2022-07-21 18:58] fire833 commented on #4713
This would help solve the issues with #4259. I would really like this feature for validating my prometheus operator CRDs with the same validation tools as vanilla K8s resources.

[2022-07-22 10:23] jojotong commented on #4606
@simonpasquier  https://github.com/prometheus-operator/prometheus-operator/pull/4622 has been merged. I planed to open a new pr to support custom templates first, like below:
[code]
What do you think?

[2022-07-22 10:53] simonpasquier commented on #4606
@jojotong I think it makes sense. `v1.SecretOrConfigMap` instead of `v1.ConfigMapKeySelector` might be a better choice since it provides more flexibility (e.g. you're not supposed to store secret data in templates but :man_shrugging:).

[2022-07-22 13:22] bingikarthik opened #4928 "thanos-sidecar failed to upload blocks to object storage starting with v0.56.3"
**What happened?**

thanos-sidecar failed to upload blocks to object storage after upgrading promtheus-operator to v0.56.3. Following are the error logs:
[code]

**Did you expect to see something different?**

Expected to thanos-sidecar upload blocks to object storage successfully

**How to reproduce it (as minimally and precisely as possible)**:

Exec into prometheus pod in thanos-sidecar contain

[2022-07-22 14:56] simonpasquier commented on #4928
Thanks for the report! I think that you can workaround the issue by patching the thanos container

[code]

Would you like to submit the fix?

[2022-07-22 15:01] bingikarthik commented on #4928
Sure, will do!

[2022-07-22 16:02] dasari-sai opened #4930 "additional scrape configs not working with my configuration"
Dear All,

I've been struggling with additional scrape config from past few weeks. I've deployed prometheus-operator in our kubernetes cluster using kustomize from bundle.yaml file. I've added the additional scrape config in the prometheus-additional file and created a secret like mentioned in the document and mentioned the entries in the deployment files. But it is not picking it up. These are my

[2022-07-22 17:05] BharatKJain commented on #4224
I also faced the same issue while running alertmanager with Kubernetes version 1.21 and EKS.

Issue:
`alertmanager-main-1.alertmanager-operated.monitoring.svc:9094 err=“1 error occurred:\n\t* Failed to resolve alertmanager-main-1.alertmanager-operated.monitoring.svc:9094: lookup alertmanager-main-1.alertmanager-operated.monitoring.svc on 172.20.0.10:53: no such host\n\n”`

We were using self-manag

[2022-07-22 18:25] mehtameha1 commented on #2359
I have the same issue with EBS CSI as well.

[2022-07-22 18:25] lianfulei commented on #2359
这是来自QQ邮箱的假期自动回复邮件。
 
您好，我最近正在休假中，无法亲自回复您的邮件。我将在假期结束后，尽快给您回复。

[2022-07-25 00:53] zqzzq commented on #4892
Sorry, I don't have time to do this right now, and I have achieved my purpose through "additionalAlertManagerConfigs" param.

[2022-07-25 03:36] jojotong commented on #4606
That's a good idea 😄.

[2022-07-26 06:36] aerishe commented on #4801
i have same problems!

[2022-07-26 06:42] aerishe commented on #4801
this problem waste my one day, delete all file, it works:
[code]

[2022-07-26 06:45] roymartinezblanco commented on #4880
Sure thing, let me provide more context.

Our use case is that our application teams host their applications in separate namespaces.
`App A` will live in namespace `A`. Today alerts are created using the `alertManagerConfig` Object along with `PrometheusRule` for the alerts.

Our `alertManagerConfig` objects live in the same namespace (Monitoring) as our alert manager. The default behavior of the

[2022-07-26 10:37] #4928 closed

[2022-07-26 12:41] slamer59 commented on #4439
Hello,
I tried to split in two Apps since I use argoCD. It doesnot seems to work.

_Failed sync attempt to 90224b658ebc179a1fb5ba05677a58f76b56c52e: one or more objects failed to apply, reason: CustomResourceDefinition.apiextensions.k8s.io "prometheuses.monitoring.coreos.com" is invalid: metadata.annotations: Too long: must have at most 262144 bytes (retried 5 times)._

[2022-07-26 18:58] DewaldDeJager commented on #4930
It looks like your secret is in the `prometheus-operator` namespace and the Prometheus deployment is in the `default` namespace. Since secrets are namespaced, the secret won't be found and therefore the static config won't be applied.

[2022-07-27 02:48] bigbugbean commented on #3954
I'm hitting a similar issue, and I know why that is. Please the author to explain why doing this and what I should do if I want to match alerts for all namespaces of the entire K8S cluster?

[2022-07-27 07:56] SlevinWasAlreadyTaken commented on #3954
@bigbugbean you mean find a solution in this discussion: https://github.com/prometheus-operator/prometheus-operator/issues/3737

[2022-07-27 10:42] dasari-sai commented on #4930
I've checked the logs nothing is reflecting regarding anything about the additional scrape configs. @DewaldDeJager Let me try it out and update. Thank you for the reply.

[2022-07-28 02:45] jzelinskie commented on #4355
👋

It looks like the PR for server-side prune got closed upstream. I suppose that only leaves us with your suggestion to create a stripped-down version of the CRD. While somewhat unfortunate, that'd solve our use-case. Should I create a new issue for that? Also willing to do some legwork if need be.

[2022-07-28 13:50] simonpasquier commented on #4355
https://github.com/prometheus-operator/prometheus-operator/pull/4937 is a quick hack. It would be good if you could test it.

[2022-07-28 14:22] #4440 closed

[2022-07-29 09:54] DesireWithin opened #4938 "Where does kubelet service and endpoints come from?"
**What did you do?**

I'm learning prometheus and prometheus-operator(kube-prometheus). I deploy kube-prometheus on `cluster-1` and then deploy prometheus as statefulset on `cluster-2`.

When I trying to add kubelet as a monitoring object on `cluster-2` just as kube-prometheus did in `cluster-1`, I was surprised not to see kubelet service&endpoint in `cluster-2`.

After I deploy [setup folder](htt

[2022-07-29 10:15] DesireWithin commented on #4938
It should be written in the code.
After I modify `--kubelet-service=kube-system/kubelet` in `prometheusOperator-deployment.yaml` to `--kubelet-service=kube-system/kubelet-my`, an `kubelete-my` endpoint(and service) appeared.

So, if I use prometheus alone instead of prometheus-operator, every time I modify kubernetes nodes(add or remove), I need modify kubelet endpoint too.

[2022-07-29 10:56] simonpasquier commented on #4938
correct the Prometheus operator is responsible for updating the kubelet service if started with `--kubelet-service`.

[2022-07-29 14:07] simonpasquier opened #4939 "Thanos sidecar should skip TLS verification when TLS is enabled for Prometheus web configuration"
**What happened?**

Configured Promtheus with TLS certificate/key (using `spec.web.tlsConfig: {cert: ..., key: ...}`) + Thanos sidecar.
Checked the Thanos sidecar logs:

[code]

The `thanos_sidecar_prometheus_up` metric is 0, meaning that it can't connect to Prometheus.

**Did you expect to see something different?**

Yes no error in the logs and Thanos sidecar being connected to Prometheus.

**Ho

[2022-07-29 14:10] dasari-sai commented on #4930
I tried to setup for prometheus-operator namespace itself, Just gave it a default job to monitor prometheus instance. But still it's not working or reflecting.

[2022-07-29 14:18] simonpasquier opened #4940 "Prometheus pod crashlooping when web TLS configuration references an invalid secret key"
**What happened?**

Configured Prometheus with web TLS configuration (e.g. `spec.web.tlsConfig: {cert: ..., key: ...}`) but passing a key reference that doesn't exist.

The Prometheus pod enters a crashlooping state because it can't load the file on disk.

**Did you expect to see something different?**

Yes :)
The operator should catch it before and fail the reconciliation.

**How to reproduce it

[2022-07-29 14:18] dasari-sai commented on #4930
If possible could you please share with me on how you apply to a default namespace.

[2022-07-30 16:35] heylongdacoder commented on #4939
related to #4200 , will have a look on this as well

[2022-07-31 13:58] CandleFlower opened #4943 "custom rule_files dir"
I got a simple need to custom rule_files dir in promethues.env.yml, for history hosted rule files. I don't wanna to translate to the PromethuesRule . A way to custom rule_files dir better supported.

[2022-08-01 04:44] sthaha opened #4944 "web config limits the number of characters usable to name secrets"
**What happened?**

To configure TLS, certs and key is added to a `secret`. E.g. for `Prometheus` CR is named `project-appname-prometheus` its TLS assets are in a secret (injected using secrets field) - `projectname-appname-prometheus-tls-secret`

When the secret is injected into prometheus using the follow spec
[code]

The stateful set generated by the operator has `volume.name` as `web-config-tl

[2022-08-01 06:21] simonpasquier commented on #4944
IIUC this affects potentially all secrets/configmaps managed by the operator so we need a generic solution that shortens the name of the resource if needed.

[2022-08-01 07:19] #4826 closed

[2022-08-01 07:20] simonpasquier commented on #4943
Can you provide more details about why creating a PrometheusRule object isn't possible?

[2022-08-01 08:01] cedi opened #4945 "grafana-sc-datasources fails to update datasources"
**What happened?**
When trying to update datasources in grafana using the `grafana-sc-datasources` sidecar, which reads from the `grafana-datasource` ConfigMap, the datasources are not updated and the sidecar python throws an error with stacktrace:

[code]

**Did you expect to see something different?**

I expect the datasources to be reloadded properly.

**How to reproduce it (as minimally and pr

[2022-08-01 09:44] ChrisFraun commented on #4545
I just realized that the feature is already implemented.
https://github.com/prometheus-community/helm-charts/blob/main/charts/kube-prometheus-stack/values.yaml#L1832-L1834
https://github.com/prometheus-community/helm-charts/blob/main/charts/kube-prometheus-stack/templates/prometheus-operator/deployment.yaml#L119

[2022-08-01 14:32] SHEELE41 opened #4946 "How can I autoscale Prometheus shards using HPA?"
**What did you do?**
I already read #3130, #2590 and saw that Prometheus shards can be autoscaled via the HPA.

I want to increase only 'shards' value, not 'replicas' value, when overall cpu usage of Prometheus shards(pods) is increasing.
(Because I want each Prometheus object to scrape metric from targets mutual exclusively.)

[code]

So, I used [kubernetes-sigs/metrics-server](https://github.com

[2022-08-01 21:51] michalschott commented on #4204
I'd like to open this issue. Today I had weird issue where arm64 images were pulled onto my amd64 workers - I believe having an ability to change imagePullPolicy to be "Always" would help here.

[2022-08-02 01:06] DesireWithin commented on #4938
Mabybe it's out of scope of prometheus-operator, but I'm wondering is there another way to update kubelet endpoints automatically, I check the docs, [here](https://kubernetes.io/docs/setup/production-environment/tools/kubeadm/kubelet-integration/) and [here](https://kubernetes.io/docs/reference/config-api/kubelet-config.v1beta1/) , find nothing.

[2022-08-02 01:07] stefiane opened #4948 "Prometheus and Alertmanager Kind needs to support the configuration of the parameter of TerminationGracePeriod"
**What is missing?**
 the configuration of the parameter of TerminationGracePeriod for Prometheus and Alertmanager CRD Kind
**Why do we need it?**
when Prometheus's pod is scheduled to Node1,and Node1 was shut down because of an problem；but Prometheus's pod cannot be automatically migrated to other nodes.
By setting TerminationGracePeriod parameter is one of solution.
**Environment**

* Prometheus

[2022-08-02 01:57] sthaha commented on #4944
That's right @simonpasquier
I was thinking of using a short sha1 for the name e.g.
`web-config-tls-secret-key-projectname-appname-prometheus-tls-secret` would become `web-tls-secret-<sha1 (key + secret-name)[8]` for the volume names

[2022-08-02 03:44] CandleFlower commented on #4943
I wanna management rule_files with webside console server. In my condition, I need management multi region and multi k8s clusters, I cannot access the k8s server directly, but with a proxy agent, I can remote write a file.

[2022-08-02 05:30] slashpai commented on #4948
Related issues https://github.com/prometheus-operator/prometheus-operator/issues/3433 https://github.com/prometheus-operator/prometheus-operator/pull/4681

[2022-08-02 12:48] simonpasquier commented on #4938
I haven't heard of anything like this but if something built-in exists, the operator could use it for sure.

[2022-08-02 13:55] simonpasquier commented on #4944
Sounds good to me. A small improvement could be to truncate `web-config-tls-secret-key-projectname-appname-prometheus-tls-secret` so that it fits the 63 chars limit with the SHA suffix. E.g. `web-config-tls-secret-key-projectname-appname-prometheus-tls-secret` would be turned into `web-config-tls-secret-key-projectname-appname-promethe-89c72073`.

[2022-08-02 14:04] simonpasquier commented on #4943
While I see where you're coming from, I feel like it's a niche use case that would make the operator more complex that needs to be.

[2022-08-02 21:03] syedkalimi opened #4949 "Prometheus-operator listing duplicate targets for kube-scheduler"
**What happened?**
i have followed the troubleshooting guide here and updated my kubelet service https://github.com/prometheus-operator/prometheus-operator/blob/main/Documentation/troubleshooting.md
i am seeing that prometheus-operator is listing duplicate targets for kube-scheduler

**Did you expect to see something different?**
i would expect a single target for kube-scheduler to be listed.

**E

[2022-08-03 01:51] #4938 closed

[2022-08-03 04:31] slashpai commented on #4839
This is fixed in https://github.com/prometheus-operator/prometheus-operator/pull/4906 and will be available in next prometheus-operator release (0.59.0)

[2022-08-03 04:31] #4839 closed

[2022-08-03 04:32] slashpai commented on #4849
Thank you, closing this issue since its related to blackbox-exporter

[2022-08-03 04:32] #4849 closed

[2022-08-03 04:41] slashpai commented on #4949
Hello @syedkalimi Thank you for the report

Could you please explain a bit more about the issue and how you installed the operator?  Also the operator version used is a bit old :)

[2022-08-03 09:28] simonpasquier commented on #4946
Thanks for the detailed report!

Hmm I would need to look more into the details of how HPA works.

This is a very good question. Even if #4735 implements the scale subresouce, it's probably not doing what we want since as you noted, it's going to add more replicas instead of more shards.

To be honest, we need to review your use case in more depth. And I think it will become even more pressing wit

[2022-08-03 10:29] vsamidurai commented on #4894
@simonpasquier  thank you. workaround relabel config works for us. closing the issue.

[2022-08-03 10:29] #4894 closed

[2022-08-03 12:19] slashpai commented on #4727
Reopening this since we are reverting the change https://github.com/prometheus-operator/prometheus-operator/pull/4952
I will submit another patch for same to consider HPA

[2022-08-03 12:46] simonpasquier commented on #4946
We've been discussing it offline with @slashpai  and came to the conclusion that #4375 had to be reverted for now (see #4952).

The plan is rather to re-implement the scale subresource with the following changes:
* scale the number of shards rather than the number of replicas.
* implement a `status.selector` field that can be used by HPA.

@SHEELE41 does it make sense from your point of view?

[2022-08-03 18:09] SHEELE41 commented on #4946
Thanks you for answering @simonpasquier.

That's exactly what I wanted!

**My opinion**
I checked #4735 and #4952.

As you said at #4952, I also thought `status.selector` subresource should be added to Prometheus CRD and enabled via `+kubebuilder:subresource:scale:selectorpath=.status.selector`.

This may solve the problem that HPA can't get metrics but, as you know, this will be not enough yet to

[2022-08-03 20:58] #4823 closed

[2022-08-04 06:55] simonpasquier commented on #4946
My idea is that scaling should only work for shards. There's little incentive to scale the number of replicas IMHO: increasing this number is never going to spread the load.

I think it could work if we add a `status.shards` field to the Prometheus status?

[code]

[2022-08-04 07:16] sthaha commented on #4944
@simonpasquier could you please assign the bug to me?

[2022-08-04 08:04] doryer opened #4955 "kube-prometheus-stack cannot parse YAML CRD"
**What happened?**

Trying to parse this CRD in my code with ruamel library ( Python 3.9 ) and getting parse error for this CRD: https://github.com/prometheus-operator/prometheus-operator/blob/main/example/prometheus-operator-crd/monitoring.coreos.com_alertmanagerconfigs.yaml#L72

I'm getting the error on lines 73/74 which is an enum that has string values that are arithmetic operators, that are n

[2022-08-04 09:14] SHEELE41 commented on #4946
Oh, I see.

Then I think we can deal with this problem in the way you suggested.

I really appreciate your help. :)

[2022-08-04 09:29] jleloup commented on #4621
This would quite nice to have for sure.

@gavol The thing is `prometheus_replica` is a bit different semantically as it contains both shard & replica numbers. While it can help in some cases, it would not be sufficient when you have to clearly separate those two informations.

As an example in Thanos, I would let Thanos Query deduplicate `prometheus_replica` in order to give me a single set of res

[2022-08-04 09:36] jpiper commented on #501
In your Prometheus CRD:

[code]

[2022-08-04 10:16] simonpasquier commented on #4955
Same issue as described in https://github.com/prometheus-operator/prometheus-operator/pull/4897. The generated YAML is valid according to the YAML spec so you need a fix in the Python library.

[2022-08-04 15:13] SHEELE41 commented on #4946
Ah, okay.
That sounds good to me.

[2022-08-04 17:34] Guyverix commented on #4439
The above fix appears to work correctly with ArgoCD build v2.4.6+a48bca0 with no additional changes needed... At least it appears to have worked properly.  I am still kicking the tires since I am an ArgoCD and Kubernetess n00b.

[2022-08-05 13:17] PhilipGough commented on #4955
Furthermore, I tried to force the generated output to quote the enum values via `// +kubebuilder:validation:Enum={"!=","=","=~","!~"}` but `make generate` does not produce a diff so there is nothing we can reasonably do here!

[2022-08-05 15:45] heylongdacoder opened #4956 "make test-unit failed on MacBook with M1 chip"
**What happened?**

make test-unit failed on MacBook with M1 chip

**Did you expect to see something different?**

Yes. Expect `make test-unit` success on MacBook with M1 chip

**How to reproduce it (as minimally and precisely as possible)**:

By using Prometheus Operator latest main branch, run `make test-unit` and check the error log.

**Environment**

* Go Version:

go version go1.18.4 darwin/a

[2022-08-08 07:49] #4956 closed

[2022-08-08 12:01] michalschott opened #4958 "Sharding - have I missed anything?"
**What did you do?**

Trying to use sharding configuration, I have noticed that both shards are scrapping the same targets (which is everything in cluster).

**Did you expect to see some different?**

According to https://github.com/prometheus-operator/prometheus-operator/blob/main/Documentation/user-guides/shards-and-replicas.md I should not see the same target list on both shards?

**Environment

[2022-08-08 12:17] michalschott commented on #4958
Something to add:

[code]

Above are created obviously by helm. I'm exposing thanos-sidecars via ingress:

[code]

Noticed I've got flip-flopping data on graphs:

<img width="1425" alt="Zrzut ekranu 2022-08-8 o 14 16 39" src="https://user-images.githubusercontent.com/6672421/183415914-e50eaba1-38e2-40ce-a429-f5e69f05b0c2.png">
<img width="1432" alt="Zrzut ekranu 2022-08-8 o 14 16 31" src="https://

[2022-08-08 13:25] simonpasquier commented on #4958
It depends what you mean by "same target list". Both shards will have the same Prometheus configuration but they will drop targets at runtime depending on the target's address.

[2022-08-08 15:34] #4939 closed

[2022-08-09 17:53] jeunii commented on #4037
Hello. Where can I find documentation on providing the slack url from a secret ?

[code]

I am going through this https://prometheus.io/docs/alerting/latest/configuration/#slack_config but it says nothing about `apiURL`

[2022-08-10 07:19] simonpasquier commented on #4037
@jeunii you want to look at https://prometheus-operator.dev/docs/operator/api/

[2022-08-10 09:50] leo-lao opened #4963 "In alertmanager.yaml secret, does match:{label:keyword} support more flexible usage?"
**What did you do?**
I want to set up global alertmanager configurations in the secret(mentioned in [doc](https://github.com/prometheus-operator/prometheus-operator/blob/main/Documentation/user-guides/alerting.md#manually-managed-secret))
and alertmanager.yaml in the secret looks like this:
[code]
I am confused with how to correctly filtrate alerts, I used such matchers:
[code]
But it did not work

[2022-08-10 10:40] simonpasquier commented on #4963
you need to use a more recent version of the operator (at least v0.52.0 I believe).

[2022-08-11 00:58] diranged commented on #3433
So.. just to double check, there is still no answer here right? Even though we need to specifically set the `terminationGracePeriod` (per https://ganeshvernekar.com/blog/prometheus-tsdb-snapshot-on-shutdown/#few-things-to-be-aware-of) to make sure that prometheus can shut down gracefully?

[2022-08-11 01:43] leo-lao commented on #4963
OK. thanks for replying

[2022-08-11 01:43] #4963 closed

[2022-08-11 13:27] davinkevin commented on #4079
We had the same subject, we followed those steps:

1. Update the `Prometheus` field `spec.storage.volumeClaimTemplate.spec.resources.requests.storage` to `NEW-SIZE`

2. Patch every PVC with the following command:

[code]

3. Delete the STS to update its definition, the recreation is done right away by the Prometheus operator

[code]

A fix directly in the prometheus operator would be a great addit

[2022-08-11 13:54] simonpasquier commented on #4079
As i said earlier, I'm not convinced that it should be done by the operator given that it's a gap in the Statefulset controller that's being addressed by https://github.com/kubernetes/enhancements/issues/661. Documenting the procedure in https://github.com/prometheus-operator/prometheus-operator/blob/main/Documentation/user-guides/storage.md would be great.

[2022-08-11 14:13] jeunii commented on #4037
@simonpasquier thanks. any idea why i would get the error

[code]

my config is

[code]

secret:

[code]

[2022-08-11 15:03] davinkevin commented on #4079
Thank you @simonpasquier for your answer, and sorry because I missed your message in the flow of all answers. You're right, it should be a k8s concern at `statefulsets` level.

+1 for an extra documentation entry on this 👍

[2022-08-12 14:03] tongpu commented on #4730
I just want to put there here for anyone else arriving here via a search engine. The `containers` and `init-containers` fields already support the following configuration, because they use a strategic merge patch to merge the default configuration with any values provided via the spec, so

[code]
already works for increasing the `failureThreshold` of the `prometheus` container.

However the docume

[2022-08-12 23:04] v1jayr opened #4967 "Graceful scale down of shards"
**What is missing?**
With sharded prometheus, reducing the number of shards results in immediate removal of shards. There is no native mechanism to gracefully prevent loss of metrics held by those shards. Ideally, scale down is a 2 step process where a subset of shards are available for query without adding new metric data (without scraping) and later as part of separate update to operator they ar

[2022-08-15 08:48] gitgaoxiang opened #4968 "Secret or other resource in prometheus ns changes would cause additional secret loaded request secret list frequently"
**What happened?**
In my cluster, I have many secret and prometheus pod in the same ns，I often find that the K8S APiserver resource usage metrics are too high，I checked the API logs，found this.

<img width="1261" alt="lQLPJxaJfDQbpAzMus0J2rCY3n3sw1x1TgLiUm8qgIcA_2522_186" src="https://user-images.githubusercontent.com/19486917/184602947-a758bd96-cf0c-4eb4-9bbf-687f5fc6800b.png">

**Why is this a p

[2022-08-16 12:19] michalschott commented on #4958
So to me it looks more like a bug with chart itself.

Pointing remote thanos reader to `service/prometheus-prometheus` (doesn't matter if ingress is being used) means each request will flip-flop between shards. Reaching `service/prometheus-prometheus-0` will point to single shard instead. Maybe exposing another shard with separate service which will point just to it will solve the issue? Or am I m

[2022-08-18 18:52] a0s commented on #4200
I am using `kube-prometheus-stack`. I created a new secret `custom-prometheus-web-config` as described in https://prometheus.io/docs/guides/basic-auth/#creating-web-yml. Now i need a way how to mount this secret instead of default `prometheus-kube-prometheus-stack-prometheus-web-config`
<img width="737" alt="Screenshot 2022-08-18 at 20 52 19" src="https://user-images.githubusercontent.com/418868/1

[2022-08-19 02:44] heylongdacoder commented on #4200
@a0s If I am not mistaken, currently prometheus-operator don't support the mounting of a custom web-config.

[2022-08-19 13:54] thetechnick opened #4975 "Reported conditions don't align with established conventions"
We are implementing a higher-level controller on top of github.com/rhobs/observability-operator, as part of github.com/openshift/addon-operator.
Now we want to use the new status conditions posted by OO and Prometheus Operator, but this left us confused as these conditions seem to behave different to other conditions.

1) Condition Status is either "True", "False" or "Unkown"
Prometheus Operator a

[2022-08-19 15:08] mchiappini commented on #4730
What @tongpu suggested worked perfectly. For those using the `kube-prometheus-stack` the way to do it would look like this:
[code]

[2022-08-19 17:13] mlaitinen commented on #3737
Can confirm that global configuration works. Adding:
[code]
to the `Alertmanager` CR on `kube-prometheus-stack` did the trick. Thanks for the tip!

[2022-08-22 09:36] slashpai commented on #4967
Currently scaling down [shards](https://github.com/prometheus-operator/prometheus-operator/blob/main/Documentation/user-guides/shards-and-replicas.md) will not reshard data onto remaining instances. It must be manually moved.

I think we need to figure out the best approach if we need to implement resharding. We will discuss this in next office hours

[2022-08-22 10:08] slashpai commented on #4968
Updating the secret is needed when changes are made to ServiceMonitors/PodMonitors/Probe or the Prometheus resource itself.

More details in https://github.com/prometheus-operator/prometheus-operator/blob/main/Documentation/design.md#prometheus

[2022-08-23 02:11] swage6 commented on #4921
Hey, guys. The problem has been solved。The reason is that Prometheus does not have the namespace permission of the Starboard-system，Thank you for your help😀

[2022-08-23 09:13] slashpai commented on #4921
Thank you, closing the issue since its resolved

[2022-08-23 09:13] #4921 closed

[2022-08-23 09:15] LavBU opened #4977 "Prometheus see new Service Monitoring components, but with zero targets"
**What did you do?**

Installed Redis using:
$ helm install my-release bitnami/redis --set global.redis.password=mypass --namespace=redis --create-namespace

Installed Redis Exporter using:
$ helm upgrade --install rex prometheus-community/prometheus-redis-exporter --set redisAddress=redis://my-release-redis-master:6379 --set auth.enabled=true --set auth.redisPassword=mypass --namespace redis

Por

[2022-08-23 10:29] #4977 closed

[2022-08-23 13:08] goshlanguage commented on #4439
I think the Application spec may have changed. I've updated my local Application to:

[code]

[2022-08-24 03:28] adamsb6 commented on #2630
I just found the need for this as well. Context is that we need to be able to scrape from pods that are IPv6 only. Prometheus is currently deployed in an EKS cluster that was IPv4 from the start, and with EKS we can't touch the bits of the control plane we'd need to convert it and enable dual stack Services.

However, we are able to run on dualstack nodes, and we can configure the Prometheus State

[2022-08-24 07:45] zwangsheng opened #4978 "[Need Help] service "kube-prometheus-kube-prome-operator" not found"
**What did you do?**

Run ` kubectl create -f manifests/` after check `kubectl create -f manifests/setup` ready

**Did you expect to see some different?**

**Environment**

* Prometheus Operator version:
   [fb13468](https://github.com/prometheus-operator/prometheus-operator/commit/fb13468008cdebc0ba361a4ce9305774803a7c0d)

* Kubernetes version information:

    `1.19.0`

* Kubernetes cluster kind

[2022-08-24 09:01] amohamedhey commented on #3737
@mlaitinen @michaelm-88 how to use this feature to overwrite namespace label matching optional.

[2022-08-24 09:27] slashpai commented on #4978
Hello this should be logged to https://github.com/prometheus-operator/kube-prometheus/issues

Did you follow https://github.com/prometheus-operator/kube-prometheus#quickstart?

[2022-08-24 09:30] zwangsheng commented on #4978
Thanks for you reply. I'll move this issue.

And yes, i follow this link doc.

[2022-08-25 02:29] BcTpe4HbIu commented on #3737
Is there a way to specify `templates` using `alertmanagerConfiguration` (while also setting `alertmanagerConfigSelector`)?
I don't see a way to set `templates` without using `configSecret`.
But `configSecret` is not loaded when `alertmanagerConfiguration` and `alertmanagerConfigSelector` set.

[2022-08-25 02:43] jojotong commented on #3737
@BcTpe4HbIu it's in progress on https://github.com/prometheus-operator/prometheus-operator/pull/4933

[2022-08-25 15:10] BeyondEvil commented on #4822
Might sharing exactly how you solved this @jimethn ?

I have the same issue, but I don't understand how I tie the CRD matchers object to a receiver.

[2022-08-26 08:29] Iridias commented on #4922
I second this request!
Although its possible to specify an existing PV (via `volumeName`) in the `volumeClaimTemplate.spec`, that's not that helpful, as every instance of the StatefulSet creates a new PVC - and the PV can bind to only one of them.

[2022-08-26 08:34] gitgaoxiang commented on #4968
@slashpai whether it can be use sClient.Get instead of sClient.List. if so , when ns have a lot of secret ,it can reduce the pressure on the apiserver

[2022-08-26 09:58] ylallemant commented on #4922
it would be an important feature for persistence !

[2022-08-26 14:11] JoaoBraveCoding commented on #4975
Hi Nico 👋 having read your issue I agree with you that we should try and follow the conventions! I'll review your PR but @simonpasquier will be the best person to discuss the design decisions. Thanks for the contribution!

[2022-08-26 15:55] JoaoBraveCoding commented on #4922
Not sure if it's possible but couldn't you use both `volumes` and `volumeMounts` to achieve this? By mounting your volume under `/prometheus`?

[2022-08-26 16:12] JoaoBraveCoding commented on #4968
Hello @gitgaoxiang I think I see your point. You basically want to replace the List with a set of Get's, from my side it looks reasonable. Unless I'm missing anything

I think you can always do it, you just can't expect it to always be merged

[2022-08-29 16:17] julianandrews commented on #3587
I'm also running into this issue.

Patching the Prometheus object fixes the issue, but we deploy our Prometheus Operator with ArgoCD and automatic syncing enabled so the fix requires manually disabling auto-sync, patching the config, waiting for successful deployment, and then re-enabling auto-sync. I think this is a fairly common setup.

Patching isn't really isn't a great solution since you need

[2022-08-30 10:12] #4231 closed

[2022-08-30 13:03] simonpasquier commented on #4975
Yes there's a difference:
* (Type: Available, Status: False) means that the Prometheus service is totally unavailable (e.g. no pods are ready).
* (Type: Available, Status: Degraded) means that the Prometheus service is partially available (e.g. at least 1 pod is ready, some aren't).

As I understood the conventions doc, True, False and Unknown are recommended but it doesn't tell that an operator s

[2022-08-30 13:42] thetechnick commented on #4975
Hi @simonpasquier ,
thanks for taking your time :)

I understand the reasoning behind reporting a degraded state, but this should be reported as a separate condition.
The reason for reporting individual conditions, is to reduce ambiguity and unexpected interpretation of distinct status conditions.

e.g. a Prometheus deployment can be both `Degraded: "True"` and `Available: "True"`, signaling that

[2022-08-30 14:07] gmendesnip opened #4989 "TelegramConfigs not working"
**What happened?**
Setting up notification channels and policies for Grafana, I was following the documentation from https://prometheus.io/docs/alerting/latest/configuration/#telegram_config and https://github.com/prometheus-operator/prometheus-operator/blob/main/Documentation/api.md for `receivers`.

However, while applying it for slack and telegram alerts, slack alerts were set up fine while tel

[2022-08-30 15:28] simonpasquier commented on #3587
I suppose that you misunderstood my comment. I was talking about using strategic merge patch as documented [here](https://github.com/prometheus-operator/prometheus-operator/blob/main/Documentation/user-guides/strategic-merge-patch.md). So the example would be

[code]

[2022-08-30 15:37] simonpasquier commented on #4922
You should be able to create the persistent volumes in advance because the names are predictable (e.g. `prometheus-<resource name>-0, `prometheus-<resource name>-1`, ...). See https://stackoverflow.com/questions/48270971/how-do-i-statically-provision-a-volume-for-a-statefulset.

[2022-08-30 15:57] simonpasquier commented on #2630
you could use the `paused` field in the spec to stop the operator from reconciling the underlying resources.

yes, the usual approach would be to provide a `FieldManager` value for all create/update/patch operations.

Sorry to hear about this. While the CRD looks a bit like the StatefulSet, the reference API is at https://prometheus-operator.dev/docs/operator/api/#monitoring.coreos.com/v1.Promethe

[2022-08-30 17:03] JoaoBraveCoding commented on #4989
Hello, @gmendesnip I don't have much experience with this, but you actually have a `-` in the `chatID` couldn't be this?

Isn't there anything showing in the Alertmanager logs?

[2022-08-30 23:51] adamsb6 commented on #2630
Thanks, that helps a ton!

What are the consequences of setting `paused` to true? I'm guessing updates to Helm values will no longer be propagated to the prometheus StatefulSet, and changes/deletions won't be overwritten, is there anything else we'd need to watch out for if running this way?

[2022-08-31 06:31] gmendesnip commented on #4989
Unfortunately, nothing on the logs. The chatID actually is with `-` (that is on the URL). I tried without it and also didn't work.

[2022-08-31 15:14] jimethn commented on #4822
In my case, my problem was I was using the Alertmanager syntax instead of the AlertmanagerConfig syntax. I was trying

[code]

which is the Alertmanager syntax, as opposed to

[code]

which is the AlertmanagerConfig syntax required by prometheus-operator.

@BeyondEvil Your problem is different, you aren't using _any_ recognized syntax. 😉 You have

[code]

but it should be

[code]

`routes` is a li

[2022-09-01 06:17] slashpai commented on #4989
@gmendesnip  Could you please let us know what version of prometheus-operator version you are using?
Telegram support was added in `0.57` only

[2022-09-01 06:54] gmendesnip commented on #4989
It is on version v.0.57.0

[2022-09-01 07:23] slashpai commented on #4989
From issue description I see `Image: docker.io/bitnami/prometheus-operator:0.56.2-debian-10-r0` that looks to be different
Could you please check version is right from prometheus-operator deployment?

[2022-09-01 07:42] gmendesnip commented on #4989
I guess the docker image version is set by the kube-prometheus version. I'm searching the documentation and can't find any specifications for the kube-prometheus version I must set in order to have prometheus-operator 0.57 version.

My version is set to 6.10.3. Which version do you suggest to use so I can have telegram support?

`resource "helm_release" "bitnami-prometheus" {
  depends_on = [kuber

[2022-09-01 07:43] gmendesnip commented on #4989
Also, for Grafana Operator is set to version 2.5.2

resource "helm_release" "grafana-operator" {
  name             = "grafana-operator"
  repository       = "https://charts.bitnami.com/bitnami"
  chart            = "grafana-operator"
  namespace        = kubernetes_namespace.monitoring.metadata[0].name
  create_namespace = false
  version          = "2.5.2"

[2022-09-01 08:03] slashpai commented on #4989
I am not familiar with bitnami helm charts but looks like chart is using `0.56` version of prometheus operator from description in issue. So if chart deploys `0.57` or above it should have telegram support. Can you ask that charts repo how to use that? You would also to need to update alertmanager CRD to get the feature

[2022-09-01 08:30] gmendesnip commented on #4989
How do I update the Alertmanager CRD?

[2022-09-01 08:44] slashpai commented on #4989
sorry I meant alertmanager config crd

I see that is packaged as part of chart https://github.com/bitnami/charts/blob/master/bitnami/kube-prometheus/crds/crd-alertmanager-config.yaml. So that already has telegram fields.  And latest chart uses https://github.com/bitnami/charts/blob/master/bitnami/kube-prometheus/values.yaml#L67 `0.58` version. So IIUC you would need to use newer version of chart f

[2022-09-01 09:01] gmendesnip commented on #4989
I've updated to 0.58 and I still got the same problem:

`Name:                   instr-cluster-prometheus-operator
Namespace:              monitoring
CreationTimestamp:      Mon, 08 Aug 2022 14:57:52 +0200
Labels:                 app=kube-prometheus-stack-operator
                        app.kubernetes.io/instance=instr-cluster-prometheus
                        app.kubernetes.io/managed-by=Helm

[2022-09-01 09:34] simonpasquier commented on #2630
The operator won't try to reconcile the statefulset and the Prometheus configuration. If your resources are static, it's not a big deal but if you add/update/remove monitor and rule objects then it's more problematic.

[2022-09-01 09:43] simonpasquier commented on #4944
Closed by #4822 4988

[2022-09-01 09:43] #4944 closed

[2022-09-01 12:13] slashpai commented on #4989
Can you check prometheus-operator logs?

[2022-09-01 12:36] gmendesnip commented on #4989
There is not much on the logs. It repeats the same thing. For telegramConfigs, the warning log is the same for the slackConfigs, but slack is working, telegram is not:

`level=info ts=2022-09-01T09:20:48.79339231Z caller=operator.go:750 component=alertmanageroperator key=monitoring/alertmanager msg="sync alertmanager"
level=info ts=2022-09-01T09:20:48.805614481Z caller=operator.go:881 component=al

[2022-09-01 12:41] #4955 closed

[2022-09-01 14:45] slashpai commented on #4989
ok configuration looks good to me. Can you also check the alertmanager logs as well?

[2022-09-01 15:31] zohebs341 opened #4992 "Azure AKS 1.21.9 to 1.22.11 - prometheus-prometheus-oper-operator is crashing with crd related errors after upgrade"
**What did you do?**

We have upgraded the Azure AKS cluster from 1.21.9 to 1.22.11, after that prometheus-prometheus-oper-operator pod is crashing and not coming up. If I disable crds, pod is not crashing.

But in 1.21.9, it was working fine with below parameter set to true.

Like this,  - --manage-crds=false

**Did you expect to see some different?**

Pod should be up and running without crashin

[2022-09-01 15:39] adamsb6 commented on #2630
Thank you, that boost confidence that our workaround won't have unintended side effects.

The workaround I've come up with is to `helm upgrade` with `paused` set to false whenever have any changes to our values.yaml. After waiting for the upgrade to complete, we'll then run `helm upgrade --reuse-values --wait --set prometheus.prometheusSpec.paused=true`, and then after that completes we `kubectl p

[2022-09-01 16:12] slashpai commented on #4992
The operator version used is a bit old. There may be issues fixed in newer versions. Can you try to use any of the latest version of operator?

[2022-09-01 16:29] zohebs341 commented on #4992
@slashpai Thanks for your response.

As in values.yaml, for each component, a specific image is being used.

It would be great if you can assist with the upgrade process. Or just let me know the operator image which I should use.

Current Image tag in values.yaml:

image:
    repository: quay.io/coreos/prometheus-operator
    tag: v0.38.1

[2022-09-01 16:58] slashpai commented on #4992
I haven't worked much with helm charts. But If you are using [Prometheus community helm chart](https://github.com/prometheus-community/helm-charts/tree/main/charts%2Fkube-prometheus-stack) latest version of chart would be deploying latest version ie `0.58.0` IIUC.

[2022-09-02 07:08] gmendesnip commented on #4989
The only thing appearing after deploying on Alertmanager logs is:
`ts=2022-09-02T07:07:08.101Z caller=dispatch.go:352 level=error component=dispatcher msg="Notify for alerts failed" num_alerts=4 err="monitoring/alertmanager-config/slack-infra/slack[0]: notify retry canceled due to unrecoverable error after 1 attempts: channel \"#alerts\": unexpected status code 404: channel_not_found"
ts=2022-09-0

[2022-09-02 08:54] simonpasquier commented on #2630
there's already a [PR](https://github.com/prometheus-operator/prometheus-operator/pull/3899) for adding `dnsPolicy` but it's stale. Feel free to revive it.
For `hostNetwork`, the main concern is around security. In general we prefer not to expose something that lowers the pod security. Having said that it looks like many folks are asking for it so I've added the item for discussion to our next off

[2022-09-02 08:55] simonpasquier commented on #4691
Folks are asking for `hostNetwork` support in https://github.com/prometheus-operator/prometheus-operator/issues/2630.

[2022-09-02 09:09] applike-ss opened #4993 "log format not set on prometheus main container"
**What happened?**
I was setting the log format for the Prometheus CR to json.
The config reloader container did get the new `--log-format=json` argument, the main container (`prometheus`) did not.

**Did you expect to see something different?**
I would've expected consistent behaviour for the same pod. This means, that the `prometheus` container should've also gotten the `--log-format=json` argum

[2022-09-02 09:27] applike-ss commented on #4993
I just wrote a unit test which should've proven my case, however instead it prove me wrong.

This seems quite strange, because i see the result right in front of me in lens and the config-reloader container hast the --log-format=json arg, while the prometheus container clearly does not.

[2022-09-02 09:48] applike-ss commented on #4993
I found the cause of the issue, but i am not sure if it is intended behaviour.

My spec looked roughly like this:
[code]

The root cause here is that i am passing arguments for the prometheus container.

Maybe a dev of this project can tell if this behaviour is desired or not?

[2022-09-02 10:04] applike-ss commented on #4993
I just checked the code and it seems the only thing holding us back from removing the args completely on our side would be the `--storage.tsdb.min-block-duration=15m` flag. I will discuss internally if we are ok to remove it. Anyway it would be nice to see support for it in the operator.

[2022-09-02 10:30] simonpasquier commented on #4993
Maybe a dev of this project can tell if this behaviour is desired or not?

yes it is the expected behavior: when you override the args because there's no way to append arguments with the strategic merge patch option so you need to pass all arguments manually.

[2022-09-02 11:27] applike-ss commented on #4993
Thank you for clearing that up. Would it make sense to you to add the `--storage.tsdb.min-block-duration` flag or is it not added for good reason (e.g. alpha feature)?

[2022-09-02 11:52] slashpai commented on #4993
Regarding `--storage.tsdb.min-block-duration`  and `--storage.tsdb.max-block-duration` is discussed in https://github.com/prometheus-operator/prometheus-operator/issues/4414

As mentioned in issue, maintainers are not in opinion to have these flags in operator :)

[2022-09-02 11:54] applike-ss commented on #4993
Thanks, closing it then!

[2022-09-02 11:54] #4993 closed

[2022-09-02 14:10] amorattab commented on #3341
You are getting Out of Memory error! So you may need to increase the prometheus server's memory based on your load. Look for:

[code]
on prometheus-server pod manifest, and edit it to see which size fits your need.

[2022-09-02 14:46] simonpasquier commented on #4414
With the latest version of the operator (v0.59.0), it should be possible to pass additional arguments via `spec.additionalArgs`.

[code]

[2022-09-02 15:05] simonpasquier commented on #4948
https://github.com/prometheus-operator/prometheus-operator/issues/4691 too. What is your use case exactly? Is it to force pod deletion? https://kubernetes.io/docs/tasks/run-application/force-delete-stateful-set-pod/ has detailed instructions on how to deal with the situation.

[2022-09-04 16:51] slashpai commented on #4946
I have been working on this, will try to submit patch soon as possible :)

[2022-09-06 03:15] SHEELE41 commented on #4946
Well noted :)
Thanks for your help, @slashpai

[2022-09-06 11:33] cuizhaoyue opened #4998 "The "GroupRule" struct is missing the "limit" field."
**What happened?**
I can't create a alerting rule with the "limit" field so that I can't limit the number of alerts an alerting can produce.

**Did you expect to see something different?**

**How to reproduce it (as minimally and precisely as possible)**:

**Environment**

* Prometheus Operator version:

    `v0.59.0`

* Kubernetes version information:

    `Client Version: version.Info{Major:"1",

[2022-09-06 13:43] simonpasquier commented on #4998
The `limit` field is supported starting with Prometheus >= 2.31 and Thanos Ruler >= 0.24.

[2022-09-07 15:41] #4067 closed

[2022-09-08 07:06] simonpasquier commented on #4439
With https://github.com/prometheus-operator/prometheus-operator/pull/4937, you can now run `make stripped-down-crds.yaml` which would generate CRD manifests with empty description fields and it should avoid the "CRD being too long" problem.

[2022-09-08 07:06] #4439 closed

[2022-09-08 13:55] mhindery opened #5003 "Concatenating labels (using empty 'separator') in relabelings not possible"
**What happened?**

I have a ServiceMonitor with relabelings on its endpoints, and one of the relabeling configs must concatenate two labels. Its relabeling config is defined like this:

[code]

This is exactly the same configuration as I have in a previous Prometheus setup without the prometheus operator, (having this in `prometheus.yml` instead of via a `ServiceMonitor`). This rule works in the

[2022-09-08 22:34] diranged commented on #4946
Glad you all are looking into this - just adding in our chime of support. We were just looking into using Keda (https://keda.sh/docs/2.8/concepts/scaling-deployments/#scaling-of-custom-resources) to scale the PrometheusOperator resource shards as well...

[2022-09-09 15:22] simonpasquier commented on #5003
At first I thought that it was due to the latest CRD validations that were added recently but it looks like it's been the behavior forever.

https://github.com/prometheus-operator/prometheus-operator/blob/ad64869358bfc470bac56c48a1ecee6dfb8dc88c/pkg/prometheus/promcfg.go#L1481-L1483

I'm not sure exactly how we can deal with it without breaking the API guarantees :thinking:

In the meantime, you m

[2022-09-09 15:29] simonpasquier commented on #4882
Depends on https://github.com/prometheus/alertmanager/pull/3060

[2022-09-09 21:29] BeyondEvil commented on #4822
Yes, thank you @jimethn 🙏

[2022-09-11 14:52] lokeshm89 commented on #3832
We are facing this issue in our team.

[2022-09-12 06:38] slashpai commented on #5003
I was trying with

[code]

But since string default is empty string, it will break the configs which doesn't specify value for separator since expected separator for those configs would be `;`

[2022-09-12 08:30] rgarcia89 opened #5011 "HA Cluster pushing via remote write - deduplication issue"
Hi, I am currently pushing metrics via `remote_write` from a HA cluster to another. Unfortunately on the receiving prom cluster I am seeing everything double. Metrics from both replicas of the source cluster are being processed. From my understanding deduplication should be handling that by default, when deploying via the operator using the `prometheus_replica="prometheus-ap-0"`  label. Something

[2022-09-12 08:59] heylongdacoder opened #5012 "AMZeroDowntimeRollingDeployment e2e test failed on MacBook with M1 chip"
**What happened?**

AMZeroDowntimeRollingDeployment e2e test failed on MacBook with M1 chip

**Did you expect to see something different?**

Yes. Expect AMZeroDowntimeRollingDeployment e2e test success on MacBook with M1 chip.

**How to reproduce it (as minimally and precisely as possible)**:

By using Prometheus Operator latest main branch, run `make test-e2e` on MacBook with M1 chip.

**Environm

[2022-09-12 12:06] slashpai commented on #5011
It's working as expected. IIUC deduplication should be handled at receiver end. Do you use Thanos?

[2022-09-12 12:28] rgarcia89 commented on #5011
@slashpai is that so? In that case I am wondering about the use case of the `replicaExternalLabelName` variable and also about the dedupe log entries that I see in the source prometheuses:

[code]

[2022-09-12 15:14] simonpasquier commented on #5012
Thanks for flagging this! Indeed the e2e tests depend on https://quay.io/repository/coreos/prometheus-alertmanager-test-webhook which has never been migrated when we switched from the coreos organization. And I suspect that we have the same issue with `quay.io/coreos/instrumented-sample-app` :-/
In practice, we'd need to [build](https://github.com/prometheus-operator/prometheus-operator/blob/main/

[2022-09-12 16:24] adamsb6 commented on #2630
That's great to hear, what did the team have to say at the office hours meeting?

[2022-09-13 09:20] AndrewwHummer commented on #4930
you specify `namespace: prometheus-operator` in your additional-scrape-configs.yaml but you dont do that in your prometheus-deploy.yaml

So add `namespace: prometheus-operator` to prometheus-deploy.yaml and your secret and your deployment are in the same namespace.

[2022-09-14 05:38] duje-begonja-rdx opened #5019 "Duplicated notifications because of the top-level route enforcement"
**What did you do?**
I have created AlertmanagerConfig CRD and set top-level route property "continue: false". CRD was correctly picked up by Alertmanager and placed on top of routes but with property "continue: true".

**Did you expect to see some different?**
I expected that property won't be enforced. That is causing us problem because after notification is sent (route from CRD) it continues to

[2022-09-14 05:52] Rajpratik71 commented on #2630
"**No opposition to get that in.**"

[2022-09-14 06:02] Rajpratik71 commented on #2630
@simonpasquier and Team , please review #5010 which will cover  `hostNetwork`

[2022-09-14 06:55] simonpasquier commented on #2630
We've discussed the topic in our last meeting and we agreed that while the documentation [discourages](https://kubernetes.io/docs/concepts/configuration/overview/#services) `hostNetwork`, we have several use cases which would benefit from it. Following our [maintainers policy](https://github.com/prometheus-operator/prometheus-operator/issues/4691#issuecomment-1123702982), it makes sense for the op

[2022-09-14 07:19] simonpasquier commented on #4967
The request makes sense but I'm not yet sure about how it would work in practice.

Keeping in-excess shards around looks good to me but when to remove the shards is more complicated IMHO. If time-based retention time is configured, the operator could determine that the shard can be removed after (retention time period). For storage-based retention, it should probably be a user decision. We need al

[2022-09-14 09:09] SuperQ commented on #4414
Thanks @simonpasquier, I was thinking about adding a configuration option for the DisableCompaction feature to allow overriding the hard-coded `2h` value there.

I'm looking to change our min/max block duration to 1h to help combat large (20M+ head series, 100Gi+ memory) instances with high pod churn rates. By compacting the head more often, we should be able to keep these large instances from bui

[2022-09-14 09:26] simonpasquier commented on #4414
:wave: @SuperQ have you tested with the new `spec.additionalArgs` field as I indicated above?

[2022-09-15 08:23] howieyuen opened #5020 "[404] ThanosRuler in Design doc"
the link of ThanosRuler section is
https://prometheus-operator.dev/docs/operator/design/thanos.md

may be this ?
https://prometheus-operator.dev/docs/operator/thanos/

more info see here: https://prometheus-operator.dev/docs/operator/design/#thanosruler

[2022-09-15 15:17] JHeilCoveo opened #5022 "Thanos cluster ruler unavailable when STS updated"
**What happened?**

What started our investigation was a frequent notification that our thanos-cluster-ruler was unavailable even with a replica set to 2.
After some investigation it appears that prometheus-operator is changing thanos-cluster-ruler STS very frequently.

We are hovering around 700 rules which in turns makes prometheus-operator recreate the STS because it's changing the number of co

[2022-09-15 22:03] r0bj opened #5023 "0.59.0: adding CAP_FOWNER capability breaks prometheus in restricted namespaces"
**What happened?**
In https://github.com/prometheus-operator/prometheus-operator/pull/4931 CAP_FOWNER capability was added to the securityContext in the thanos-sidecar container. Unfortunately it breaks prometheus running in restricted namespaces (https://kubernetes.io/docs/concepts/security/pod-security-standards/#restricted). In restricted namespaces containers must drop ALL capabilities, and ar

[2022-09-16 08:07] simonpasquier commented on #5023
Hmm this is interesting. Unfortunately we have no e2e test covering this part but it would have to wait for block uploads which isn't really practical + the test matrix would be huge depending on the object storage solution, PVC or no PVC, default security settings, ...

To confirm, could you add the following snippet to your Prometheus spec and check if 1) the pods can be started and 2) the sidec

[2022-09-16 08:09] Anticom opened #5024 "operator dying without any hints to issues in the logs"
**What happened?**

Prometheus operator keeps dying without any hints in the logs to issues causing it.

We're running the operator provisioned via `prometheus-community/kube-prometheus-stack` on EKS. For some time everything ran fine but for some time now it just keeps crashing.
I've checked the events and increased log verbosity to debug hoping to gain some insights into why this is happening ho

[2022-09-16 08:49] bingikarthik commented on #5023
Hello @simonpasquier ,

No, we are not using any storage/PVC's for our prometheus pods !

[2022-09-16 09:44] simonpasquier commented on #5024
The `unknown conversion` error is "expected" and unrelated to your issue. I'd look at the details of the pod resource.

[2022-09-16 12:35] simonpasquier commented on #5012
@heylongdacoder if you have some time, maybe you can try #5025 on your local environment?

[2022-09-16 13:28] SuperQ commented on #4816
We are also running into this. We want to drop Failed, Succeeded, and Unknown pods from Pod/Service monitors.

I think by default we should `action: drop` the phases that Kubernetes has recycled pod IPs for.

[2022-09-16 16:10] SuperQ commented on #4816
I included `Unknown` based on [this prometheus/prometheus issue comment](https://github.com/prometheus/prometheus/issues/10755#issuecomment-1139575193).

[2022-09-16 22:19] r0bj commented on #5023
@simonpasquier

Unfortunately adding `securityContext.capabilities.add: []` to the thanos-sidecar container as you described is not fixing the issue. It seems that you cannot overwrite existing parameters by defining an empty table.

Yes, I use PVC as a prometheus storage. Storage class is backed by rook ceph.

[2022-09-17 04:08] heylongdacoder commented on #5012
Hi @simonpasquier , I have confirmed that image `quay.io/prometheus-operator/prometheus-alertmanager-test-webhook:latest` is running fine on my local environment! Thank you so much for fixing this. :D

[2022-09-19 09:35] georgelza commented on #1921
sitting with the same issue.
servicemonitor is in default.
prometheus is in monitoring
app pod and service definition is in namespace: trustreg

[2022-09-19 12:56] Anticom commented on #5024
@simonpasquier Can't find anything suspicious in there as well:
[code]

[2022-09-19 13:18] gberche-orange opened #5035 "PrometheusRule loading rules from ConfigMap (configMapRef)"
**What is missing?**

Ability to load a prometheus rule from a custom map, similarly to the [configMapRef](https://github.com/grafana-operator/grafana-operator/blob/master/documentation/dashboards.md#config-map-references) in the grafana-operator

**Why do we need it?**

To be able to reuse off-the-shelf prometheus rules available from git repos such as [host-and-hardware/node-exporter.yml](https:

[2022-09-19 13:31] gberche-orange commented on #4495
@simonpasquier

My team has a similar use-case that would benefit from adding both labels and annotations to the rules loaded from the [PrometheusRule](https://prometheus-operator.dev/docs/operator/api/#monitoring.coreos.com/v1.PrometheusRule) resource

We'd like to reuse off-the-shelf alert definitions such as [host-and-hardware/node-exporter.yml](https://github.com/samber/awesome-prometheus-aler

[2022-09-19 14:35] simonpasquier commented on #4495
:wave: @gberche-orange, could you provide more details about your use case (e.g. maybe with 1 or 2 concrete examples)?

Since Kubernetes objects also carry labels & annotations, does it make sense to reference which need to be injected? For instance,

[code]

[2022-09-19 14:39] simonpasquier commented on #5024
The container is OOM-killed, you want to increase/remove the memory limits.

[code]

[2022-09-19 15:04] simonpasquier commented on #5023
Thanks for pointing it out. Indeed strategic merge patch wouldn't help here.

Talking to @PhilipGough we're going to revert #4931 since it poses a potential security issue and there wasn't an issue in the first place for other users. For people that still need additional capabilities, it will still be possible to use the strategic merge patch technique to pass them on.

[2022-09-19 18:14] Anticom commented on #5024
What are recommended production settings for small clusters?
I don't quite like the idea of removing the `resource.limits` entirely.

[2022-09-20 01:49] euven opened #5036 "`Probe` config ignored"
**What happened?**
I created a  [`Probe`](https://github.com/prometheus-operator/prometheus-operator/blob/main/Documentation/api.md#monitoring.coreos.com/v1.ProbeSpec) resource, with [`basicAuth`](https://github.com/prometheus-operator/prometheus-operator/blob/main/Documentation/api.md#monitoring.coreos.com/v1.BasicAuth) and [`tlsConfig`](https://github.com/prometheus-operator/prometheus-operator/

[2022-09-20 08:45] simonpasquier commented on #5036
can you share the generated Prometheus configuration?

[2022-09-20 08:49] simonpasquier commented on #5024
I don't think that we have concrete numbers but I'd suggest doubling the memory limits and see if it helps.

[2022-09-20 09:03] Anticom commented on #5024
Solved the issue, thanks!

[2022-09-20 09:03] #5024 closed

[2022-09-20 09:05] mhindery commented on #4414
@simonpasquier  I am trying to set `additionalArgs` on the Prometheus CRD. I'm getting this validation error though everytime I try to update it:

[code]

This is an environment from kube-prometheus using the latest chart (v40.1.0) which uses the prometheus operator v0.59.1 (quay.io/prometheus-operator/prometheus-operator:v0.59.1)

[2022-09-20 09:35] simonpasquier commented on #4414
@mhindery I guess that you haven't the latest version of the CRDs installed.

[2022-09-20 11:02] infa-mlagad commented on #4340
Hi @antoniordz96  , were you able to fix this? I am facing exactly same issue.
Also where did you define global: parameters. I see there no option for global in alertmanagerconfig object. So i had to define it in alertmanager secret. But this is adding those **null** parameters as well in the config.

[2022-09-20 15:17] #5023 closed

[2022-09-20 16:23] gberche-orange commented on #5035
Thanks @simonpasquier !

+1, the CR schema validation is very useful, and I did not find a way to add such schema on a plain configmap or secret (other than a secret type)

Unfortunately custom kustomize plugins are currently by-design not supported by fluxcd, see https://github.com/fluxcd/kustomize-controller/issues/323.

One workaround we are using is to preprocess/render the PrometheusRule spec

[2022-09-21 01:32] rbjorklin commented on #4730
What' the latest on this? We just had one shard continuously restarting due to the `startupProbe` limit being reached. Temporarily running an internal fork of the operator with the `failureThreshold` bumped.

With the internal fork the shard came up in: `total_replay_duration=16m26.36364506s`

[2022-09-21 04:07] tongpu commented on #4730
Have a look at the two comments above you, they describe how you can increase the `failureThreshold` directly using the Prometheus object as well as when using kubePrometheusStack.

[2022-09-21 07:11] gberche-orange commented on #4495
thanks @simonpasquier

adding onto an existing off-the-shelf prometheus alert such as [host-and-hardware/node-exporter.yml](https://github.com/samber/awesome-prometheus-alerts/blob/master/dist/rules/host-and-hardware/node-exporter.yml#L214)

1) a set of [prometheus alert rule label](https://prometheus.io/docs/prometheus/latest/configuration/alerting_rules/)  such as the followings:
* `source: awes

[2022-09-21 09:26] euven commented on #5036
See below for a Probe and its generated Prometheus config @simonpasquier :

Probe:
[code]

Relevant generated Prometheus config:
[code]

I see the following in the Blackbox exporter logs:
[code]

As you can see above, it's trying to validate the cert, even though `insecureSkipVerify` has been configured.

My Blackbox exporter `http_2xx` module config looks as follows:
[code]

Let me know if you ne

[2022-09-21 09:45] simonpasquier commented on #5035
Thanks for the details! While a Kustomize plugin wouldn't work with Flux, it would make sense for the prometheus-operator project to offer a tool that translates native Prometheus rule files to PrometheusRule resources because it would help people migrating from file-based configuration to CRD-based. It could even work both as a Kustomize plugin and as a standalone program.

Would it be helpful in

[2022-09-21 09:56] simonpasquier commented on #5036
`insecureSkipVerify` only applies to the TLS connection between Prometheus and the blackbox exporter. If you want to skip verification between the blackbox exporter and the probed host, the right way to go is indeed to tweak the module configuration in the exporter.

[2022-09-21 10:17] simonpasquier commented on #4495
Thanks for the detailed explanation, it helps a lot.

One use case with labels at least would be that you can easily leverage the same labels to include/exclude rules at the Prometheus level too. But I fail to find a compelling use case for annotations (except that it would be more visible when you look directly at the PrometheusRule resource and you don't have to repeat the information at 2 place

[2022-09-21 10:35] gberche-orange commented on #5035
Great, thanks !

Certainly, such a standalone tool would replace our homemade [ad hoc templating](https://gist.github.com/gberche-orange/dade3f20327c1f356d32406d4ddaedf6) in our preprocessing pipeline.

The kustomize plugin "facet" of this tool could also integrate a kustomize-based preprocessing pipeline, similar to the workflow described at https://github.com/fluxcd/kustomize-controller/pull/163

[2022-09-21 13:22] simonpasquier commented on #3937
closed by https://github.com/prometheus-operator/prometheus-operator/pull/4238

[2022-09-21 13:22] #3937 closed

[2022-09-21 13:23] simonpasquier commented on #3322
Unless I'm mistaken, it's closed by https://github.com/prometheus-operator/prometheus-operator/pull/4238.

[2022-09-21 13:23] #3322 closed

[2022-09-21 13:36] simonpasquier commented on #5022
IIUC you've got lots of PrometheusRules objects but as the number of objects evolves over time, the operator will generate 1 configmap then 2 configmaps then 1 configmap and so on.

While changing `podManagementPolicy` would help, I wonder if it would be possible to fix the root cause with the operator generating resources that wouldn't trigger frequent redeployments.
I can see a few options:
1. T

[2022-09-21 20:49] euven commented on #5036
Oh, right - thanks for clarifying @simonpasquier !

In that case, should the references to "targets" in the [documentation](https://github.com/prometheus-operator/prometheus-operator/blob/main/Documentation/api.md#monitoring.coreos.com/v1.ProbeTLSConfig) be removed? I think that's what made me misunderstand this.

I assume this is the case for the the `basicAuth` configuration too?

I wonder if it

[2022-09-22 09:08] simonpasquier commented on #5036
It says "targets" because the struct is an embedded version of [SafeTLSConfig](https://github.com/prometheus-operator/prometheus-operator/blob/main/Documentation/api.md#monitoring.coreos.com/v1.SafeTLSConfig). What could be updated at least is the `ProbeTLSConfig` description.

https://github.com/prometheus-operator/prometheus-operator/blob/817797096d8dacc2c6e5b2bac77433b10e013a53/pkg/apis/monitor

[2022-09-22 13:22] simonpasquier commented on #4495
For the record, a similar feature was requested in prometheus/prometheus a long time ago but dismissed arguing that it was the responsibility of the config management system.

https://github.com/prometheus/prometheus/issues/4139

[2022-09-22 15:41] gberche-orange commented on #4495
Yes, this would perfectly match our needs. Thanks @simonpasquier !

/CC @JCL38-ORANGE

[2022-09-23 06:12] oneslideicywater opened #5046 "how to configure ServiceMonitor scrape metrics other than "/metrics""
I have a service serve metrics under path “/promtheus”, which not the usually used path "/metrics"

how can I configure `ServiceMonitor` Object, like this ?

[code]

[2022-09-23 06:25] oneslideicywater commented on #5046
found it in the CRD description
[code]

[2022-09-23 06:25] #5046 closed

[2022-09-23 12:38] simonpasquier commented on #4495
@gberche-orange or @JCL38-ORANGE since we deviated from the original issue's description, would you mind creating a new issue summarizing your use case more specifically?

[2022-09-23 12:38] #4495 closed

[2022-09-23 14:59] iceman91176 opened #5048 "Support for AlertManager active_time_intervals"
**What happened?**
With the merge of #4709 and the new v1beta1 AlertmanagerConfig i thought that it would be possible to configure routes not only with mute_time_intervals, but also with active_time_intervals. Unfortunately this is not possible. It is still only possible to configure mute_time_intervals.  There is no definition for "activeTimeIntervals"  in the v1beta1 specs.

We installed the new

[2022-09-24 15:56] djsly commented on #3391
[code]
that's for my WAL file. only way to start up is to patch to avoid the operator from managing the prom resource and increase the startup timeout.

[2022-09-26 07:21] gberche-orange opened #5050 "Ability to add labels and annotations to prometheus rules from PrometheusRule CR"
**What is missing?**

Ability to add labels and annotations to prometheus rules from PrometheusRule CR

**Why do we need it?**

adding onto an existing off-the-shelf prometheus alert such as [host-and-hardware/node-exporter.yml](https://github.com/samber/awesome-prometheus-alerts/blob/master/dist/rules/host-and-hardware/node-exporter.yml#L214)

1) a set of [prometheus alert rule label](https://pro

[2022-09-26 07:22] gberche-orange commented on #4495
@simonpasquier of course, submitted https://github.com/prometheus-operator/prometheus-operator/issues/5050

[2022-09-26 16:46] dasari-sai commented on #4930
I am doing this deployment using argocd . It doesn't require to specify as the namespace will be specified in kustomization.yaml file

[2022-09-26 17:53] eripa commented on #3862
We encountered another issue with the current implementation, that is for the automatic Kubelet Endpoint generation that the operator is responsible for.

**TL;DR Kubelet Endpoint generation must also be updated to create and manage EndpointSlices for the Kubelets**

We forked the operator to manually enable the EndpointSlice support (encountered the same issue seen in #4634), and added the necess

[2022-09-26 18:27] briend commented on #3862
Worth pointing out that eventually many things that use Service Monitors can and should switch to using PodMonitors:

https://github.com/prometheus-community/helm-charts/issues/2074

In the meantime, I think Prometheus Operator might want to add the `endpointslice.kubernetes.io/skip-mirror: true` label to the Endpoints resource that it manages today.  That is, it is pointless to allow the Endpoint

[2022-09-27 15:48] simonpasquier commented on #3862
@eripa do you want to contribute your patch here? We'd be more than happy to support endpointslices out of the box.

[2022-09-27 15:59] jzelinskie opened #5052 "Configurable TSDB OutOfOrderTimeWindow"
**What is missing?**

While it hasn't been released yet, the next version of Prometheus will support configuring an out of order window for the TSDB.
Configuring this should be available in the Prometheus CR.

**Why do we need it?**

This helps immensely for clouds that silently migrate VMs and cause clock hiccups.
Without this change, a single out of order timestamp indefinitely locks up Promethe

[2022-09-27 17:53] mkhpalm commented on #3862
All we did was fix the bug with whats already in prometheus-operator similar to whats happening here:

https://github.com/prometheus-operator/prometheus-operator/pull/4635/files

`discovery.k8s.io` needs to define a version so just adding `discovery.k8s.io/v1` makes prometheus-operator detect endpointslice support and convert service discovery from endpoints to endpointslices in prometheus config.

[2022-09-28 06:41] codesome commented on #5052
Could you please elaborate on this? How does an out-of-order sample lock up Prometheus?

[2022-09-28 14:22] matthiasr commented on #4816
Good point, I think we should keep Unknown by default – as soon as
Kubernetes knows what's up with the pod it will go to another state, but
until then it's probably worth considering it "potentially up".

On Fri, Sep 16, 2022 at 4:11 PM Ben Kochie ***@***.***> wrote:

[2022-09-28 14:57] sarce666 commented on #3277
hello

did you solved your issue

i have exactly the same

[2022-09-28 14:57] SuperQ commented on #4816
I've updated #5049 to keep `Unknown` pods.

[2022-09-28 15:09] sarce666 commented on #3277
hello

i have the exact same issue

here is my service monitor :

apiVersion: monitoring.coreos.com/v1
kind: ServiceMonitor
metadata:
  labels:
    ops.workload.io/component: arangodb
    ops.workload.io/category: infrastructure
  name: arangodb
  namespace: cattle-monitoring-system

[code]

the token:

[code]

the endpoint definition
[code]

and the service
[code]

the prometheus is build 2.28.1

[2022-09-28 16:39] #4816 closed

[2022-09-29 07:32] sarce666 opened #5054 "Using bearerTokenSecret doesn't include the Bearer Token in the Authentication Header #3277"
hello

i have the exact same issue

here is my service monitor :

[code]

the token:

[code]

the endpoint definition
[code]

and the service
[code]

the prometheus is build 2.28.1
install in kubernetes with helm 100.1.3+up19.0.3
the operator version is v0.50.0

_Originally posted by @sarce666 in https://github.com/prometheus-operator/prometheus-operator/issues/3277#issuecomment-1261057579_

[2022-09-29 07:48] #5054 closed

[2022-09-30 10:51] mpasteur commented on #4880
Hi,

alertmanagerConfigNamespaceSelector can be set to {} which lead to an "any namespace" match.

cheers

[2022-09-30 20:45] pratikgajjar opened #5057 "How to use Ec2 Service discovery job via prometheus operator crd"
**What did you do?**
I want to use [ec2_sd_config](https://prometheus.io/docs/prometheus/latest/configuration/configuration/#ec2_sd_config) to scrape metrics from ec2 nodes that are not part of k8s cluster

**Did you expect to see some different?**
Couldn't find docs related to this on [OpenShift API spec](https://docs.openshift.com/container-platform/4.10/rest_api/monitoring_apis/servicemonitor-m

[2022-10-02 09:15] Sonali-Rajput commented on #4545
Is this issue still getting worked on?

[2022-10-02 10:48] Sonali-Rajput commented on #5020
Kindly review the PR

[2022-10-02 11:13] Sonali-Rajput commented on #5020
I have tried to fix the issue kindly review for the same 😊

[2022-10-03 09:25] simonpasquier commented on #4545
Since d46ae5145e, Prometheus operator will generate secure-by-default SecurityContexts for the containers it manages (e.g. alertmanager, prometheus, ...). If needed it is possible to use strategic merge patches to override the default values.

[2022-10-03 10:32] simonpasquier commented on #5057
You need to use `spec.additionalScrapeConfigs` to provide configurations not based on Kubernetes service discovery.

[2022-10-03 14:50] #5020 closed

[2022-10-03 15:08] paul-bormans opened #5064 "Allow extra context (annotations/labels) to operator generated RulesConfigMaps"
In a multi-tenant setup (specifically using remote-write to send metrics to a Cortex backend); there is no way to "connect" the prometheus-operator created rules configmaps to Cortex as these require additional labels/annotations to identify the tenant to whom the definitions should become available.

Following the use of the sidecars (https://cortexproject.github.io/cortex-helm-chart/guides/confi

[2022-10-03 15:11] slashpai commented on #5064
I see a similar request already logged here https://github.com/prometheus-operator/prometheus-operator/issues/5050

[2022-10-03 15:20] paul-bormans commented on #5064
@slashpai I was reading that ticket as well, it's close but not the same. In the referenced ticket they like to set extra label/annotations for a set of loaded PrometheusRule CRs (which do not have the context), then this new context is set on the Rules/Events themselves. This is different as we are looking for adding context to the ConfigMaps (the wrapper if you will).

[2022-10-03 21:14] zbialik commented on #1053
is the same true for the `ruleSelector` field? we can just set that to `{}` and `Prometheus` will get ALL `PrometheusRules` in the defined `ruleNamespaceSelector`?

[2022-10-04 11:15] Sonali-Rajput commented on #5036
/assign

[2022-10-04 13:11] simonpasquier commented on #5064
IIUC the use case is an external component (Cortex) consuming the configmaps generated by the Prometheus operator?

[2022-10-04 14:38] RiRa12621 opened #5066 "Minikube quickstart outdated in Readme"
The readme has an example how to get started with minikube and prometheus operator. This example has an outdated Kubernetes version in the command:

https://github.com/prometheus-operator/prometheus-operator/blob/fb52a0f0758ad7a9f4e9f45afdcce0b9d0569252/README.md?plain=1#L205

This leads to the following error:

[code]

[2022-10-04 15:39] simonpasquier commented on #5066
:wave: long time no see! Thanks for the report, this is a nice hacktoberfest issue :)

[2022-10-05 08:10] adabuleanu commented on #4877
I ended up on this thread because I have experienced a similar issue with a slow starting pod  ~ 2 minutes (with all the probes configured), so I ended up with a lot of 503 error codes until the pod transitioned into ready state. I expected that the default behavior should have been to scrape ready endpoints. Analysing this thread and  https://github.com/prometheus-operator/prometheus-operator/iss

[2022-10-05 11:34] paul-bormans commented on #5064
@simonpasquier indeed Cortex comprises a Prometheus Ruler and AlertManager and requires the same rule/alert definitions, only annotated to a given tenant / org-id. Since the PrometheusRule CRD is a de-facto standard it's desirable to either "patch" the rulefiles ConfigMaps as generated by the prometheus-operator -OR- have another operator running side-by-side with the prometheus-operator to output

[2022-10-05 11:50] mcorbin opened #5067 "Operator trying to recreate the statefulset in a loop"
**What happened?**

I'm deploying Prometheus operator using [kube-prometheus-stack](https://github.com/prometheus-community/helm-charts/tree/main/charts/kube-prometheus-stack).
When I add the variable `minReadySeconds` on `prometheusSpec` (for example: `minReadySeconds: 180`) the operator enters in a loop where it deletes and creates the statefulset all the time (pods are immediately terminated on

[2022-10-05 13:19] simonpasquier commented on #5067
:wave: I'll try to reproduce on my side but pods being deleted/created are often triggered by 2 (or more) operators running at the same time (details [here](https://github.com/prometheus-operator/prometheus-operator/blob/main/Documentation/troubleshooting.md#prometheusalertmanager-pods-stuck-in-terminating-loop-with-healthy-start-up-logs)). Can you check that it's not your case?
I'll try to replic

[2022-10-05 13:39] mcorbin commented on #5067
Hello, thank you for your quick answer.

I confirm I only have one operator running (a deployment with one instance, checked with`kubectl get pods --all-namespaces | grep 'prom.*operator'` which returns only one pod named "kube-p-operator").

I did the test again:

- Everything work as expected
- I add `minReadySeconds: 180` to the manifest
- Immediately my prometheus instances are terminated (I c

[2022-10-05 15:01] #2630 closed

[2022-10-05 16:49] zbialik commented on #4621
Does using `$(SHARD)` for an `externalLabel` work accurately in the event you change `Prometheus.spec.shards` field?

I think I'm seeing some of my `Prometheus` pods denoting the wrong `shard` in some metrics after I've increased the # `shards` for a `Prometheus`.

Or perhaps this is related to the following note from [this](https://github.com/prometheus-operator/prometheus-operator/blob/main/Docu

[2022-10-05 17:26] jzelinskie commented on #5052
I believe the issue that I've seen manifested is caused by GCP live migrating our GKE node VMs.
Once an inconsistent timestamp has been seen, all Prometheus scrapes fail with the behavior described in this issue: https://github.com/prometheus/prometheus/issues/8243

I believe v2.39.0 fixes this (due to the linked PRs), but it is not enabled by default, so the Prometheus Operator needs some way for

[2022-10-05 19:33] simonpasquier commented on #5052
Thanks for the clarification @jzelinskie. Once #5068 lands, we should be able to support for this without too much hassle.

[2022-10-05 22:18] mbecca commented on #2821
Hi, are you find another solution for this situation?

[2022-10-06 09:27] paulfantom commented on #4893
Sorry for long silence.

I agree with @simonpasquier that we should unify this behavior between Alertmanager and Prometheus by defaulting to use `spec.version`. We only need to remember that there are also other, deprecated but not removed, methods of setting up container image tag.

[2022-10-06 09:51] #5052 closed

[2022-10-06 10:10] Nageshbansal commented on #4344
Hey! @paulfantom, can I work on this issue?

[2022-10-06 13:49] simonpasquier commented on #5067
Tried your steps but I can't reproduce the same behavior: if I edit `minReadySeconds`, none of the pods gets redeployed which makes sense since `minReadySeconds` is one of the few fields that can be updated in the StatefulSet spec...
Can you run the operator with `--log-level=debug`? Also looking the Kube events might provide a hint of what's happening?

[2022-10-06 14:06] simonpasquier commented on #5064
In theory, I'd recommend having a dedicated operator: the fact that the Prometheus operator uses configmaps to provision Prometheus rules is an implementation detail and may change in the future (we could use secrets, decide to compress the content, ...).
Having said that, the operator accepts a `--labels` arg which allows defining labels that should be added to all managed resources. The labels a

[2022-10-06 14:39] #5066 closed

[2022-10-06 15:11] mcorbin commented on #5067
Thank you for your investigations.

This is logs and events I can see when I trigger the issue:

Logs:

[code]

Events:
[code]

I just have to remove `minReadySeconds: 180` from the `Prometheus` resource (with kubectl edit for example) to fix the issue and make the statefulset work (and conversely, adding `minReadySeconds` immediately triggers the issue and my statefulset pods are immediately term

[2022-10-07 10:01] simonpasquier commented on #4079
FYI how to manually resize volumes is now documented at https://prometheus-operator.dev/docs/operator/storage/#resizing-volumes.

[2022-10-07 16:03] simonpasquier commented on #5067
I've managed to reproduce it with minikube running Kube v1.22. Indeed the operator enters a create/delete hot-loop.
I suspect that the bug happens if the `StatefulSetMinReadySeconds` feature gate isn't enabled.: when I start minikube with `--feature-gates=StatefulSetMinReadySeconds=true` then it works fine.
Anyway we need to understand why the operator enters into this loop and prevent it.

[2022-10-07 21:57] jzelinskie opened #5076 "spec.tsdb.outOfOrderTimeWindow YAML unmarshal error"
**What happened?**

Attempted to deploy Prometheus CR with spec.tsdb.outOfOrderTimeWindow set to `30m`.
Pod fails to come up.

**Did you expect to see something different?**

I expected to see the pods come up healthy.

**How to reproduce it (as minimally and precisely as possible)**:

Create a Prometheus CR using the new field and see the pod fail to come up.

**Environment**

* Prometheus Operat

[2022-10-09 07:34] beasync commented on #4930
Hi all,

I've found the same problem @dasari-sai describes (prometheus-operator v0.59.2). Operator and secret in the same namespace.

The operator log was as follows:

[code]

Adding an unneeded `serviceMonitorSelector` the operator no longer returns the console warning and the`additionalScrapeConfigs` are loaded.

This does not work:

[code]

This works:

[code]

[2022-10-09 22:32] ameyp opened #5077 "AlertmanagerConfig does not support apiURLFile for Slack"
I'm trying to use `apiFileURL` in a `AlertmanagerConfig` custom resource to read the Slack webhook URL from a file. Here's my YAML:

[code]

**What happened?**

`kubectl apply` failed with:

[code]

**Did you expect to see something different?**

I expected it to succeed

**How to reproduce it (as minimally and precisely as possible)**:

Try to apply the YAML above

**Environment**

* Prometheus O

[2022-10-10 08:34] simonpasquier commented on #5076
:facepalm: I rushed the change and didn't test it properly. I'll fix it in v0.60.1...

[2022-10-10 11:48] paul-bormans commented on #5064
After a few days of thinking and trying various directions i don't think this issue should be dealt with at Prometheus side; as Cortex is not within it's scope you can't really try to output CM's according to it's requirements.

A long term better solution would be one where Cortex has it's own operator that takes control over the ruler component and optionally prepares it's rule input through Con

[2022-10-10 13:29] slashpai opened #5079 "Implement validations using validation-rules feature of custom resource definitions"
**What is missing?**

Some of the validations like where two fields cannot be set at the same time can be validated using [validation rules](https://kubernetes.io/docs/tasks/extend-kubernetes/custom-resources/custom-resource-definitions/#validation-rules) (eg: one cannot set alerting and recording rule at the same time). They are still in beta, so we may look into implementing that once its GA

**

[2022-10-10 14:00] hadican commented on #4414
@mhindery You should have installed CRDs with:
[code]

If you don't put `--server-side`, you might get error for annotations like: `Too long: must have at most 262144 bytes`

[2022-10-10 14:26] simonpasquier commented on #5077
The Slack configuration already has a `apiURL` field which is a secret key reference so instead of assuming a file location on disk, the AlertmanagerConfig resource can reference the secret directly:

[code]

Does it work for you?

[2022-10-10 15:07] ameyp commented on #5077
Not exactly, because I want to use a secret stored in Hashicorp Vault. With their sidecar container, I can write the URL to a file on disk, but not to a secret.

I ended up abandoning AlertmanagerConfig and going with `alertmanager.alertmanagerSpec.useExistingSecret` and `alertmanager.alertmanagerSpec.configSecret` instead in order to use `api_url_file` directly.

[2022-10-10 15:19] simonpasquier commented on #5077
This is a very valid reason then :)

Not sure what you mean by `alertmanager.alertmanagerSpec.useExistingSecret` but I think I see your point anyway.

[2022-10-11 10:16] mcorbin commented on #5067
The setting would indeed not work without the feature-gates, I completely missed that. I'll see if I can enable it.

Thank you again for your answers and investigations.

[2022-10-11 13:10] #5076 closed

[2022-10-11 13:51] antoinedeschenes commented on #4237
What if `DefaultPrometheusVersion` was used by default? Specifying `latest` in the `--prometheus-default-base-image` flag would bring back the current behavior. (Although it seems that a default image tag would override `p.Spec.Version`) https://github.com/prometheus-operator/prometheus-operator/blob/036e7c4437e848822fd66e3ed0a3652e360db2f7/pkg/operator/image.go#L38-L42

[2022-10-11 14:10] timbuchwaldt opened #5085 "Improve handling of rule configmaps"
**What is missing?**
Improved handling of rule configmaps in a grow-only mode.

**Why do we need it?**
When reaching the size-limit of the first configmap and then falling below it again, the operator updates the STS and recreates the pods to go back to 1 configmap. This introduces disturbance - especially if the number of rules is around the limit, therefore re-triggering this behaviour multiple

[2022-10-11 15:42] JoaoBraveCoding commented on #5050
/assign

[2022-10-12 20:07] simonpasquier commented on #5067
IIUC the problem is that when validating the statefulset update, Kubernetes < 1.25 doesn't reset the minReadySeconds field if the feature gate isn't enabled. Link to the release-1.22 branch's code:

https://github.com/kubernetes/kubernetes/blob/490d07d58cec093a3c91699b6659f53dfc2fc97c/pkg/apis/apps/validation/validation.go#L158-L160

(note how the error messages are slightly different whether the

[2022-10-12 20:18] simonpasquier commented on #5085
Similar to the issue highlighted in #5022. I agree with that the operator should do better and avoid unnecessary pod rollouts.
We could also leverage [optional configmaps](https://kubernetes.io/docs/tasks/configure-pod-container/configure-pod-configmap/#optional-configmaps) and pre-provision a few volumes in advance in the statefulset without having to create the configmaps effectively...

[2022-10-13 08:11] danhngo-lx opened #5090 "How to add header to ServiceMonitor endpoint?"
**What did you do?**
I need to add `Authorization` header to an endpoint of ServiceMonitor. However according to [the API ](https://github.com/prometheus-operator/prometheus-operator/blob/main/Documentation/api.md#authorization), only `Bearer` and `Basic` is supported, while I need something other than that. Specifically I need to add the following header value:
[code]

**Did you expect to see som

[2022-10-13 08:16] Nctllnty opened #5091 "Possible to have remote write to 2 destinations?"
**What did you do?**
Possible to have remote write to 2 destinations?

**Did you expect to see some different?**
no
**Environment**
/
* Prometheus Operator version:
latest
    `Insert image tag or Git SHA here`

* Kubernetes version information:
1.21.1
    `kubectl version`

* Kubernetes cluster kind:

    insert how you created your cluster: kops, bootkube, etc.

* Manifests:

[code]

* Prometheu

[2022-10-14 10:19] #5036 closed

[2022-10-15 09:54] AlexDaichendt commented on #4845
I can confirm, that its possible to use an ALB.

values.yaml for the helm chart:
[code]

[2022-10-16 18:07] adalamilton commented on #1637
I believe associating the PV with the PVC using selector should work, but in my case, the storage class didn't support it. So I had to look for another option. The PV in which you had all your dashboards must still be there, so it's just a matter of associating it to a PVC and then invoking that PVC from the Grafana values file. It was a little harder that I expected, and the thing is that when th

[2022-10-18 03:03] divyanshurai07 opened #5104 "when using kubectl apply to deploy prometheus operator for the latest version in AKS , the prometheuses CRD was not installed, it gave an error saying the definition is too long."
**What did you do?**

when using kubectl apply to deploy prometheus operator for the latest version in AKS , the prometheuses CRD was not installed, it gave an error saying the definition is too long.

**Did you expect to see some different?**

yes

**Environment**

AKS

* Prometheus Operator version:

    quay.io/prometheus-operator/prometheus-operator:v0.60.1

* Kubernetes version information:

[2022-10-18 05:12] slashpai commented on #5104
You have couple of options as fix
1. Use `kubectl create` instead of `kubectl apply`
2. Use `kubectl apply --server-side`  instead of `kubectl apply`
3. Run `make stripped-down-crds.yaml` which will generate a version of the CRDs with all description fields removed and you can use the generated file to run `kubectl apply`

[2022-10-18 21:02] saeid93 commented on #3596
Does additional scrape config able to override default values like scraping intervals? I tried to change all the scrape intervals to 1s through the following:
[code]

but I see no changes using:
[code]
outputs:

[code]

[2022-10-19 06:38] P9os opened #5105 "Adding relabel for every static in staticConfig of Probe"
**What is missing?**
We use Probe for collect data from SNMP targets, and have only IP address label.
**Why do we need it?**
Ability to add label for every static target in Probe CRD, like us prometheus config yaml

[code]

**Environment**
K8s v1.22.8
* Prometheus Operator version: quay.io/prometheus-operator/prometheus-operator:v0.58.0

**Anything else we need to know?**:
Suggest model like as:
[

[2022-10-19 11:25] BrewToR commented on #2288
Hello, could you please tell me how ?
thanks !

[2022-10-19 11:34] nihaldivyam commented on #3669
Do we have a solution for this yet?

[2022-10-19 12:20] slashpai commented on #3669
I see the dependent issue in prometheus is resolved. So this seems to be fixed in Prometheus `2.29.0`. What version of Prometheus  and Operator are you using?

[2022-10-19 12:22] nihaldivyam commented on #3669
Right thanks i was using the old `version 2.28.1` .

[2022-10-20 00:48] uqix commented on #4606
Looking forward to `global.smtp/wechat...` badly.👍

[2022-10-20 08:11] simonpasquier commented on #5105
This is supported AFAICT, the spec already allows to define labels per target:

[code]

[2022-10-20 10:30] P9os commented on #5105
Now, i check manifests CRD of Probe,
[Probe](https://github.com/prometheus-community/helm-charts/blob/main/charts/kube-prometheus-stack/crds/crd-probes.yaml#L581).
[code]
And it not contains this model.

[2022-10-20 12:47] simonpasquier commented on #5105
you need to ask https://github.com/prometheus-community/helm-charts then

[2022-10-20 12:48] simonpasquier commented on #5105
the latest API reference is https://prometheus-operator.dev/docs/operator/api/#monitoring.coreos.com/v1.ProbeTargetStaticConfig

[2022-10-20 15:50] from-nibly commented on #5048
This is not a duplicate. This is specifically talking about a feature that was missed in that other issue. We need active_time_intervals as well as mute_time_intervals.

[2022-10-20 15:51] from-nibly commented on #4656
Any news on adding support for active_time_intervals?

[2022-10-21 05:14] laurivosandi commented on #2203
Prometheus Operator creates the `prometheus-operated` service, however I can't seem to find an easy way to set the session affinity to client there. What about making `ClientIP` the default there?

[2022-10-21 07:57] frittentheke commented on #4414
@SuperQ may I bluntly point at my issue / suggestion to have the storage management of Prometheus take the space required for compaction into account: https://github.com/prometheus/prometheus/issues/11112

While this would not free the need for tuning the settings (see comments like https://github.com/prometheus-operator/prometheus-operator/issues/4414#issuecomment-1090110995) but it would remove

[2022-10-21 11:00] mimmus commented on #3391
@djsly  how to patch  to avoid restart?

[2022-10-21 11:33] mimmus commented on #4730
In my case, pod is restarted even if I patched Prometheus object with startupProbe as suggested (I can see it in the pod).
I think it is restarted directly by operator: is it possible?

[2022-10-21 14:50] simonpasquier commented on #4656
This issue is tagged with `help_wanted`, anybody is free to contribute a PR :)

[2022-10-21 14:51] mimmus commented on #4730
But is it effective at the second attempt?
(In the meanwhile, I solved removing `wal` directory)

[2022-10-21 17:16] BeyondEvil commented on #1969
Be great if yo could share the solution?

[2022-10-24 16:16] simonpasquier opened #5116 "Implement `spec.attachMetadata.node` for ServiceMonitor"
**What is missing?**

https://github.com/prometheus-operator/prometheus-operator/pull/4792 added the ability to attach node metadata during target discovery for PodMonitor. It wasn't possible to do the same for ServiceMonitor because the feature was only available for the pod role at that time.
Now that https://github.com/prometheus/prometheus/pull/10759 merged in Prometheus v2.37.0, we can close

[2022-10-24 16:17] simonpasquier commented on #5116
cc @fpetkovski I've just realized that we miss a small improvement for ServiceMonitor :)

[2022-10-24 19:21] toan-hf commented on #4822
@jimethn  but in the end if you follow the AlertManagerConfig syntax like you explained above, have you still seen that error?
I also used the same syntax like AlertMangerConfig but got that warning like you mentioned as always

[code]

[code]

[2022-10-25 03:24] #4463 closed

[2022-10-25 06:38] penghuazhou opened #5117 "99.9th quantile low than 0.8 second."
**What did you do?**
I have press test prometheus when post "http://prometheus-operated.monitoring:9090/api/v1/query?query=max%28rate%28container_cpu_usage_seconds_total%7Bnamespace%3D%22test-infra%22%2Ccontainer%3D%22bservice770%22%7D%5B2m%5D%29%29&time=2022-10-24T09:27:41Z"

**Did you expect to see some different?**
99.9th quantile low than 0.8 second.

**Environment**
kubenetes 1.20.11

* Prome

[2022-10-25 14:08] simonpasquier commented on #5117
This doesn't look like an issue related with the Prometheus operator directly.

[2022-10-25 14:33] mblaschke-daimlertruck opened #5119 "offer prometheuses.defaultSampleLimit (additionally to enforcedSampleLimit)"
**What is missing?**
Please provide a `defaultSampleLimit` in `Prometheuses` spec which should be used as default value if `PodMonitor` or `ServiceMonitor` doesn't have a `sampleLimit`.

**Why do we need it?**
In shared clusters we cannot control that `sampleLimit` is in place.
`enforcedSampleLimit` might be an option but some metric jobs needs higher limits and `enforcedSampleLimit` only sets the

[2022-10-25 15:43] alirezaDavid commented on #4958
Hey,
I have the same issue, my setup is:
[code]
And there are:
[code]

And I'm using port-forward to check specific pods like mentioned here https://github.com/prometheus-operator/prometheus-operator/blob/main/Documentation/user-guides/shards-and-replicas.md

[code]

The problem is all Prometheus instances have the same number of targets (It seems they are duplicates)

[2022-10-25 16:46] mblaschke-daimlertruck commented on #5119
would be still good to have it in both services (different scopes)

[2022-10-25 19:19] mblaschke commented on #5119
@simonpasquier added a draft PR, not sure if that's everything what i have to do here

[2022-10-26 06:12] penghuazhou commented on #5117
thanks

[2022-10-26 06:13] #5117 closed

[2022-10-26 06:57] vasuenduri opened #5121 "Failed to render chart: exit status 1: Error: parse error at (prometheus-operator/templates/prometheus-rules/postgres.yaml:22): function "query" not defined"
**functions not working in prometheus alerts**

rules:
        - alert: VolumeOutOfSpace
          expr: 1 / kubelet_volume_stats_capacity_bytes * kubelet_volume_stats_used_bytes > .75
          for: 3m
          labels:
            environment: staging
            severity: warning
            type: "system"
          annotations:
            unit: percentage
            summary: "volume almost o

[2022-10-26 07:21] simonpasquier commented on #5121
`Failed to render chart` indicates that you deploy using Helm so you need to ask the question to the chart maintainers.

[2022-10-26 07:23] simonpasquier commented on #5119
I agree but I'd prefer to hear from Prometheus first so we don't end up with different approaches... Could you file an issue to github.com/prometheus/prometheus?

[2022-10-26 08:39] simonpasquier commented on #5121
to be more precise, you need to escape the `{{` and `}}`:

[code]

[2022-10-26 12:51] teochenglim commented on #3831
yes, just delete the prometheus and re-add. but your data will be lose. be sure you know what you doing.

[2022-10-26 13:29] vasuenduri commented on #5121
thanks @simonpasquier , it's working.

[2022-10-26 13:29] #5121 closed

[2022-10-27 06:53] luk-sam commented on #3831
Finally, I found a solution which may help someone.

I had a lost pod prometheus-operator in the _default_ namespace, so cleaning up whole k8 cluster instead of singular namespace resolved the issue.

thanks for quick response.

[2022-10-27 12:10] neha-kapila94 opened #5123 "Manual storage for 2nd replica in pending state"
Installed prometheus operator release-0.11 following guide
**https://github.com/prometheus-operator/kube-prometheus**

To achieve HA we have set the Prometheus instance replicas as 2 along with manual storage following the guilde:
https://github.com/prometheus-operator/prometheus-operator/blob/main/Documentation/user-guides/storage.md

Provisioning the first replica's PVC is bound successfully to

[2022-10-28 00:38] teochenglim commented on #3831
I didn't tried. But since it is just statefulset refuse to reconciliation, then kubectl delete sts/prometheus -n [namespace] might just works by enforcing it to recreate.

The challenge is doing it while servicemonitor and podmonitor crd shall not get deleted on live system.

[2022-10-28 10:41] slashpai opened #5124 "Prometheus log reports field partial_response_strategy not found in type rulefmt.RuleGroup when sets this field in PrometheusRule"
**What happened?**
Prometheus log reports field partial_response_strategy not found in type rulefmt.RuleGroup when sets this field in PrometheusRule. This was getting logged till removed this field or set it to `""`

[code]

**Did you expect to see something different?**

Since this field is only applicable for Thanos. Operator should reject this field for Prometheus and allow it only for Thanos

[2022-10-28 13:53] simonpasquier commented on #5123
This could be a scheduling issue, you should probably look at the Kubernetes events.

[2022-10-28 21:49] jimethn commented on #4822
@toan-hf that is just a warning, not an error, and it is a red-herring.

(emphasis mine)

Under the hood, the operator converts the CRD into a valid alertmanager config. The config syntax the operator is outputting to is deprecated, but it's still valid.

![image](https://user-images.githubusercontent.com/89885/198738517-0a824f67-7099-43ab-bcb6-c17c166f1e7f.png)

I'm sure the good folks here at pr

[2022-10-29 22:02] iyashu commented on #3862
@simonpasquier we've also encountered a [similar issue](https://github.com/prometheus-operator/prometheus-operator/issues/3862#issuecomment-1258404114) during our K8s clusters upgrade to v1.22. As we've few clusters comprising more than 1000 nodes, switching prometheus-operator to endpointslice doesn't work for kubelet target due to [endpointslice mirror controller truncating addresses](https://ku

[2022-10-30 19:25] brahama opened #5127 "Pod Monitor Target disappears on Port change or never appears"
Hi fellows,

I had created a simple pod monitor just to start testing and adding targets, but on my first attempt i am having issues and the target does not appear in the UI.
This was strange as i am seeing quite a few prometheus targets UP and just a couple DOWN due to Connection Refused.

Simple manifest
[code]

This one works (shows as DOWN correctly with an unauthorized message) and shows in t

[2022-10-30 22:48] brahama commented on #5127
I Patched the chart that generated the deployment to add the name to the port and that seems to fix it. But honestly the behavior seems pretty random. Why would one of the Podmonitors work and the other one not. Need to undersatnd the PodMonitor resource a bit better of course. Cheers!

[2022-10-31 00:00] snuggie12 commented on #3875
@tiagomeireles I was able to use pause and slightly different steps with no issues. Here is the process I used. I'm on k8s 1.22 on GKE. If I'm vague on some steps it's because we use argocd/gitops so I won't have patch or edit commands listed:

1. Set `Prometheus` custom resource to `paused: true`
2. `kubectl get sts foo -o yaml > /tmp/sts.yaml`
3. edit `/tmp/sts.yaml` with new size. Only the new

[2022-10-31 03:51] meysam81 commented on #2451
For anyone else banging their head to the wall after hours, like me, you will need to create another `kind: Prometheus` for your own app(s) with the proper `spec.serviceMonitorSelector` because the prometheus created with the operator is meant to be used for the operator & k8s only, and it has a `release: prometheus-operator` as its `spec.serviceMonitorSelector.matchLabels`, meaning that it won't

[2022-10-31 13:41] beingnishas opened #5128 "Missing flow chart in documentation troubleshooting.md"
**What did you do?**
Referred documentation to troubleshoot https://github.com/prometheus-operator/prometheus-operator/blob/main/Documentation/troubleshooting.md which has a missing flow diagram redirected to https://github.com/prometheus-operator/prometheus-operator/blob/main/img/custom-metrics-elements.png

**Did you expect to see some different?**
Yes
**Environment**

* Prometheus Operator vers

[2022-10-31 13:48] gites opened #5129 "Missing "description" filed in AlertmanagerConfig / pagerdutyConfigs when using stripped-down-crds.yaml CRDs"
**What happened?**
After upgrading CRDs to v0.60.1 using stripped-down-crds.yaml  AlertmanagerConfig validation is failing:
[code]

**Did you expect to see something different?**
AlertmanagerConfig validation should  pass

**How to reproduce it (as minimally and precisely as possible)**:
1. Use v0.60.1 and `stripped-down-crds.yaml` for creating CRDs in cluster
2. Define `AlertmanagerConfig/v1alpha

[2022-10-31 17:26] danielloader commented on #4786
Hate to necro closed issues, but I thought I'd ask here for others.

@ctrought - did you ever get these Pull requests merged? Noticed the latest version on OperatorHub is still v0.47.0?

Finding it rather laborious trying to install the Prometheus operator at the same time as the Grafana operator given neither installs like the other!

[2022-10-31 17:54] ctrought commented on #4786
I did end up submitting a PR, but as I'm an OpenShift user I only submitted to the OH repo for OCP.

https://github.com/redhat-openshift-ecosystem/community-operators-prod/pull/1232

[2022-11-01 13:28] mlaitinen opened #5130 "Omitting access_key and secret_key in Alertmanager SNS configuration causes a crash"
**What happened?**

I configured Alertmanager with an SNS receiver and defined a sigv4 configuration without `access_key` and `secret_key`. This causes Prometheus Operator to crash.

I have to define the sigv4 configuration, because otherwise I get this:
[code]

**Did you expect to see something different?**

As mentioned in [Prometheus documentation](https://prometheus.io/docs/alerting/latest/con

[2022-11-02 11:51] mikechengwei commented on #5085
I want to fix this requirements, assign to me. Thanks.

[2022-11-02 11:52] mikechengwei commented on #5085
/assign

[2022-11-02 12:15] slashpai commented on #5129
Thanks for the report!
Would you like to contribute for the fix? stripped-down-crds.yaml is generated using [make command](https://github.com/prometheus-operator/prometheus-operator/blob/main/Makefile#L233-L235). The `for` loop condition need to be updated.

[2022-11-02 21:41] beingnishas commented on #3996
@gr8Adakron : Did you make it work? I am in a same situation, I tried:
[code]

[2022-11-03 02:15] haiming3 commented on #3862
How do you realize ’fix discovery.k8s.io/v1 in prometheus-operator‘ ？

[2022-11-03 05:23] slashpai commented on #5129
This will be case for all types having `description` as field name

I see `OpsGenieConfig` has a field named `description` as well

[2022-11-03 06:55] Haleygo commented on #4281
Hi, is there any process on populate CR .Status?

This metric sounds interesting too.

[2022-11-03 13:41] slashpai commented on #5130
Thanks for reporting the issue!

[2022-11-03 13:52] slashpai commented on #5128
@beingnishas  The image link is put in markdown in a way that it displays correctly in https://prometheus-operator.dev. Its correctly displayed in It will be displayed correctly in https://prometheus-operator.dev/docs/operator/troubleshooting

[2022-11-03 14:10] slashpai commented on #5127
As you already identified, since `targetPort` is deprecated you should use `port` . Make sure selector labels are correct.
https://prometheus-operator.dev/docs/operator/troubleshooting/ helps with troubleshooting

[2022-11-03 15:46] beingnishas commented on #5128
I see thank you for such a quick update! :)

[2022-11-03 15:46] #5128 closed

[2022-11-04 07:09] cyxinda opened #5133 "PodMonitor can't be loaded prometheus operator"
First,I add a ServiceMonitor,it works. I write serviceMonitor yaml as follow:
[code]
the ServiceMonitor named pro-client appeared in the page of prometheus.
![image](https://user-images.githubusercontent.com/7237898/199906530-c382cba2-06bd-44ae-b1b7-e9ce380c1496.png)
And there are the config about ServiceMonitor in the /etc/prometheus/config_out/prometheus.env.yaml of the pod of prometheus.
![imag

[2022-11-04 09:06] slashpai commented on #5133
Have you defined `podMonitorNamespaceSelector` in `Prometheus` resource? If not defined `Prometheus` resource will check only in own namespace.

Also what is the prometheus-operator version you are using?

[2022-11-04 09:30] cyxinda commented on #5133
I have't defined podMonitorNamespaceSelector ,because prometheus's namespace is the same as podMonitor's.And It should not the answer.The namespace of serviceMonitor is same as the podMonitor's.

[2022-11-04 09:30] cyxinda commented on #5133
I have't defined podMonitorNamespaceSelector ,because prometheus's namespace is the same as podMonitor's.And It should not the answer.The namespace of serviceMonitor is same as the podMonitor's.

[2022-11-04 09:39] slashpai commented on #5133
- What is the prometheus-operator version used?
- Did you check prometheus-operator/prometheus logs?

[2022-11-04 09:40] slashpai commented on #5133
Config looks correct to me

- What is the prometheus-operator version used?
- Did you check prometheus-operator/prometheus logs?

[2022-11-04 10:03] cyxinda commented on #5133
![1111](https://user-images.githubusercontent.com/7237898/199943906-cdc47d72-3379-403e-b866-9030643fbb42.png)
1. As the picture above ,the prometheus-operator version is 15.17.0 .and the prometheus version is 2.39.1 .
2. I run the command to create podMonitor as follow:
[code]
when I run the command above ,there no logs in the log of prometheus.

Then I run :
[code]
the log of prometheus as follow

[2022-11-04 10:21] cyxinda commented on #5133
![1111](https://user-images.githubusercontent.com/7237898/199943906-cdc47d72-3379-403e-b866-9030643fbb42.png)
1. As the picture above ,the prometheus-operator version is 0.60.1 .and the prometheus version is 2.39.1 .
2. I run the command to create podMonitor as follow:
[code]

the log of prometheus-operator as follow:
[code]

3. I run the command to create the ServiceMonitor as follow:
[code]
Ther

[2022-11-04 16:33] JoaoBraveCoding commented on #5133
It's indeed weird that prometheus-operator (p-o) is not picking up the PodMonitor object. Could you enable debug logs on p-o, I checked the code and with them, we should be able to tell if p-o is picking up the PodMonitor when it selects for them.

[2022-11-06 20:32] jeffmace commented on #4894
Linking this issue to the solution at https://github.com/prometheus-operator/prometheus-operator/issues/4065#issuecomment-859512408 for a simpler solution.

[2022-11-07 02:42] cyxinda commented on #5133
the  debug log of  prometheus-operator  is:
[code]

But I can't find the solution about podmonitor from the debug log above .

[2022-11-07 10:39] Ornias1993 commented on #4439
Would it be an option to also offer a stripped-down bundle?

[2022-11-07 20:31] slyt opened #5139 "Add templates field to AlertmanagerConfig CRD"
**What is missing?**
The `AlertManagerConfig` CRD does not have the ability to add `templates` to the `alertmanager.yaml` config file. It appears the only way to configure the the search paths for the templates is by using a Secret to configure the AlertManager, [as mentioned in the alerting docs](https://github.com/prometheus-operator/prometheus-operator/blob/main/Documentation/user-guides/alerti

[2022-11-08 12:17] JoaoBraveCoding commented on #5139
Hello @slyt I think your issue is similar to https://github.com/prometheus-operator/prometheus-operator/issues/4606 which seems to have already been fixed by the PR https://github.com/prometheus-operator/prometheus-operator/pull/4933

[2022-11-08 16:16] JoaoBraveCoding commented on #5130
/assign

[2022-11-08 19:23] slyt commented on #5139
That looks like it's just for the `alertmanagerConfiguration` within the [Alertmanager CRD](https://github.com/prometheus-operator/prometheus-operator/blob/main/jsonnet/prometheus-operator/alertmanagers-crd.json).

I'm looking to add template support to the [AlertmanagerConfig CRD](https://github.com/prometheus-operator/prometheus-operator/blob/main/jsonnet/prometheus-operator/alertmanagerconfigs-

[2022-11-08 20:37] roee-landesman opened #5145 "PrometheusOperator Istio fails to replace metric name"
### Discussed in https://github.com/prometheus-operator/prometheus-operator/discussions/5144

<div type='discussions-op-text'>

<sup>Originally posted by **roee-landesman** November  8, 2022</sup>
I'm attempting to do a basic metric relabeling where I replace the `__name__` by removing a prefix (specifically `workload:`). This is taken directly from the upstream istio documentation found [here](ht

[2022-11-09 08:10] PhilipGough commented on #5130
Closed via #5143

[2022-11-09 08:10] #5130 closed

[2022-11-09 12:11] RenePinnow opened #5146 "Operator doesn't allow to change enable_http2 for alertmanager config"
I’m trying to update our prometheus stack and now running into an issue.
In the past we already had this issue: https://github.com/prometheus/prometheus/issues/10213.

This is related to the combination of prometheus and istio. We got a eof error when prometheus is tries to push alerts to the alertmanager. This was fixed by disabling http2 with the environment variable PROMETHEUS_COMMON_DISABLE_HT

[2022-11-09 20:59] liam-murray-xealth commented on #5019
I ran into this as well. I am adding an additional AlertmanagerConfig which gets merged into the global config under the top-level route. It appears the Prometheus Operator does not recognize that the top-level route in the AlertmanagerConfig becomes a child route in the final config.

[2022-11-10 08:17] igrowheart commented on #4992
Met the same issue on old prometheus operator while upgrading from eks 1.21  to 1.22. Anyone solved this?

[2022-11-10 17:27] DylanWarnock commented on #5139
I've also tried add inline templates:

[code]

but the text field gets applied as an empty string

[2022-11-10 19:58] slyt commented on #5139
Yep, embedding templates in the fields is the work-around I'm also currently using. I eventually got it working with the config below, but it looked like some fields didn't allow multiline strings, specifically the `color` and `action.url` fields. It turned out that using a single-quotted one-line string for those problematic fields allowed it to work.

Here's my workaround AlertmanagerConfig mani

[2022-11-10 22:33] DylanWarnock commented on #5139
Thank you! Would you mind share your an example of your PrometheusRule CRDs? How are CommonLabels vs Labels defined?

[2022-11-10 22:57] slyt commented on #5139
Sure thing, here's the test rule that I used to debug my template formatting, you'll probably have to change the `namespace` fields, but other than that is should apply okay. Note that you don't actually need to define CommonLabels in your alerts; I'm not sure exactly how those work though, [the docs](https://prometheus.io/docs/alerting/latest/notifications/#data) are not very detailed.

[code]

[2022-11-10 23:06] DylanWarnock commented on #5139
I'm not sure how you are applying your chart. I'm using helm managed by argocd. Have you encountered an issue where helm seems be interpreting the text after `text: |` as template references rather than a multiple string to be passed to alert manager?

[2022-11-10 23:19] DylanWarnock commented on #5139
Helm keeps saying I'm making reference to values that don't exist, but should the entire block after `text: |` be interpreted as a multiline string?

[2022-11-11 00:53] slyt commented on #5139
I'm using kube-prometheus-stack and deploying with ArgoCD. However, I try to avoid configuring stuff in the helm values of the ArgoCD Application, it's difficult to patch and syntax highlighting doesn't work well.

What does you values.yaml look like for your helm chart?

My ArgoCD Application manifest for kube-prometheus-stack looks like this. Note that `alertmanager.alertmanagerSpec.alertmanager

[2022-11-11 01:29] slyt commented on #5139
I've submitted [a seperate issue on the kube-prometheus-stack project](https://github.com/prometheus-community/helm-charts/issues/2657) because I was having issues adding the templates to the values.yaml this way as well.

[2022-11-14 06:12] slashpai commented on #5145
I am not familiar with Istio. Could you please detail how did you install Istio in your system?

[2022-11-14 06:40] roee-landesman commented on #5145
Sure thing; the basic setup (seen [here](https://istio.io/latest/docs/ops/best-practices/observability/) is two Prometheus instances, one scraping istio sidecar proxies in the `istio-system` namespace, and the other, lets call it main, in the `prometheus-system` namespaces scraping all application metrics as well as the `/federate` endpoint of the Istio prometheus. We run Istio sidecars on all use

[2022-11-14 15:20] simonpasquier commented on #5129
Ah, indeed the generation of stripped-down-crds.yaml is crude: it strips the `description` keys from all objects, not looking at the context. Not sure if we can fix it easily with more `jq` "magic".

https://github.com/prometheus-operator/prometheus-operator/blob/01a2744de896778eb78958835dffe77d30280d78/Makefile#L235

[2022-11-15 08:12] #5124 closed

[2022-11-15 08:27] simonpasquier commented on #3862
@iyashu feel free to open a PR. I don't think that anybody's working on it right now.

[2022-11-15 13:16] #5116 closed

[2022-11-15 13:16] whc9527 opened #5162 "walCompression not working"
helm upgrade --install -n hawkeye-engineer-gz pm-adx prometheus-community/kube-prometheus-stack --version 41.7.4 -f prometheus/xxx.yaml

[code]

I installed prometehus using the above method, but storage.tsdb.wal-compression is still true. Why?

![image](https://user-images.githubusercontent.com/17898805/201928891-a9832c51-077e-463a-a762-1a48e59b9bbe.png)

[2022-11-15 13:22] whc9527 commented on #5162
I have a program that periodically pulls data from the fedration interface, a large cluster of over 100 Prometheus. I looked up some documentation and learned that the Head block stored 3 hours of data in memory, and my scenario only required instantaneous vectors

https://ganeshvernekar.com/blog/prometheus-tsdb-the-head-block/

[2022-11-15 14:26] simonpasquier opened #5163 "Prometheus operator generated invalid Alertmanager configuration"
_From https://github.com/prometheus/alertmanager/issues/3138_

**What did you do?**

We have deployed AlertManager using `kube-prometheus-stack (version - 41.5.1)`. We have configured Alertmanager to be able to load configuration from different namespaces. In one of the namespace, Alertmanager configuration was incorrect and Alertmanager was complaining (as expected). But this issue has prevented

[2022-11-15 15:45] Migueljfs opened #5165 "Alertmanager not dropping alerts based on "match" rule"
**What did you do?**
I set up alertmanager using kube-prometheus rules and Prometheus Operator. I added matching routes to drop alerts based on low severity and to send slack alerts on high severity.

Here's an example of what I see in slack:
<img width="713" alt="image" src="https://user-images.githubusercontent.com/25540481/199969900-53888b56-091d-4e51-b8f0-25ce52677389.png">

As you can see, bo

[2022-11-15 18:34] SuperQ opened #5168 "Namespace Controller"
**What is missing?**

A meta-controller that configures Prometheus instances automatically.

**Why do we need it?**

For large Kubernetes clusters, it's useful to shard Prometheus in order to scrape a lot of application metrics produced by many namespaces. In order to do this, a Kubernetes controller can watch the namespace list and automatically create per-namespace Prometheus instances. This com

[2022-11-16 01:25] whc9527 commented on #5162
Thanks for your help, I added an option "--no-storage.tsdb.wal-compression" to the parameter.
[code]
Then I see in prometheus console --storage.tsdb.wal compression is turned off. Is there any way to verify that wal compression is turned off?
![image](https://user-images.githubusercontent.com/17898805/202060484-1a380800-842c-4ae3-a324-b62f72202f92.png)

[2022-11-16 06:38] #5162 closed

[2022-11-16 14:53] simonpasquier commented on #5165
could you share the definition of the Alertmanager resource and the resulting Alertmanager configuration (copied from the Alertmanager UI)?

[2022-11-16 16:28] Migueljfs commented on #5165
Hello,

Alertmanager resource:
[code]

In the UI:
[code]

[2022-11-17 04:29] #4880 closed

[2022-11-17 10:24] HamedAkhavan commented on #5104
thanks @slashpai, `kubectl apply --server-side` worked for me

[2022-11-17 13:48] #4071 closed

[2022-11-17 15:55] JoaoBraveCoding commented on #4877
@simonpasquier I think we might be able to close this one

[2022-11-17 15:57] JoaoBraveCoding commented on #4850
With #4851 being closed shouldn't this be closed as well? Or do we want dedicated support for this?

[2022-11-17 16:17] JoaoBraveCoding commented on #4730
To configure probes, we can use strategic-merge-patch. With the documentation containing a section on strategic-merge-patch and how to use it https://prometheus-operator.dev/docs/operator/strategic-merge-patch/ what else should be addressed in this issue? From my POV it seems like we can close it unless we want to support the suggestion Simon gave https://github.com/prometheus-operator/prometheus-

[2022-11-17 16:35] simonpasquier commented on #4877
Right, closing it!

[2022-11-17 16:39] simonpasquier commented on #4850
I'd keep the issue opened. The CRD should eventually allow setting this parameter:

[code]

[2022-11-17 22:20] gadelkareem opened #5172 "additionalScrapeConfigs does not work"
On a federated Prometheus setup, the central Prometheus and Prometheus Operator is in `monitor` namespace while my service is running in `scrapers` namespace.

I am trying to add `static_config` to Prometheus:
[code]
All config works but not the `additionalScrapeConfigs`

[2022-11-19 14:53] simonpasquier commented on #5168
:wave: this sounds definitely interesting :)
Can you share publicly what you have today?
I'm not sure if this has to be part of this project or a new project under the prometheus-operator organization. Happy to discuss further during our [office hours](https://github.com/prometheus-operator/prometheus-operator/blob/main/CONTRIBUTING.md#office-hours-meetings) (next one is monday Nov 21th, 9am UTC).

[2022-11-21 07:07] soasme opened #5176 "Support _param_target based sharding for Probes"
**What is missing?**
The current prometheus-operator does not support sharding static config targets defined in a single Probe, because "sharding is done on the contents of the `__address__` target meta-label." but the `__address__` label is set to the Prober.URL, rather than Targets.StaticConfig.Static[*].

**Why do we need it?**
Enable more even distribution of all targets defined in a Probe.

*

[2022-11-21 14:28] simonpasquier commented on #5172
Can you share the prometheus-operator's logs? Can you share the generated Prometheus configuration?

[2022-11-21 14:51] #5172 closed

[2022-11-21 16:46] jgagnon44 commented on #1859
I think I'm having the same issue. I am using the following:

- Kubernetes 1.24
- Helm 3.10.0
- `kube-prometheus-stack` Helm chart 41.7.4 (app version 0.60.1)

When I check the alerts, there are a lot that are firing, including the ones mentioned in this thread. It is not clear to me what is going on here as to why these alerts are constantly firing. Are there K8s components that are missing (serv

[2022-11-22 15:33] simonpasquier commented on #5165
The configuration of matchers is different between the Alertmanager [configuration file](https://prometheus.io/docs/alerting/latest/configuration/) and the AlertmanagerConfig CRD.
Your AlertmanagerConfig object should rather look like this:

[code]

[2022-11-23 10:15] Venture200 commented on #4664
hi @dullest, after upgrading thanos to 0.29 I got hard link block error also but before it was working properly. any idea ?

[2022-11-23 10:53] wys199703 opened #5182 "ServiceMonitor could not find target Service after configuration"
**What did you do?**
Prometheus/Service/Deployment/ServiceMonitor are in the same namespace.

**question:**
There were no targets showed in prometheus webUI after apply ServiceMonitor.yaml.
Meanwhile in the Configuration webUI I can see it is updated by servicemonitor configure.
So I wonder what is the main cause and how to fix it.

**Basically tested:**
i) Enter the prometheus pod can access the

[2022-11-23 12:30] Migueljfs commented on #5165
Indeed I had already tried that format but it didn't work then, must have intended it wrong or something, copy pasting your code worked.

I'll close this as your solution worked

[2022-11-23 12:30] #5165 closed

[2022-11-24 09:09] #4892 closed

[2022-11-24 09:31] #4922 closed

[2022-11-24 16:30] JoaoBraveCoding opened #5187 "Improve Thanos Ruler e2e tests to exercise `spec.queryConfig` and `spec.alertmanagerConfig`"
**What is missing?**

In the PR https://github.com/prometheus-operator/prometheus-operator/pull/5122 a regression was introduced to the ThanosRuler code, this regression wasn't caught by the CI because e2e Thanos Ruler doesn't exercise `spec.queryConfig` nor the `spec.alertmanagerConfig` fields. Fortunately the regression was later on caught by the OpenShift CI https://github.com/openshift/prometh

[2022-11-24 16:38] simonpasquier commented on #3737
I believe that the main concerns have been resolved with the latest v0.61.1:
* One can define the main configuration using  `AlertmanagerConfig` CRD (with the `spec.alertmanagerConfiguration` field).
* It is possible to disable the namespace enforcement when AlertmanagerConfig objects are merged in the resulting configuration using `spec.alertmanagerConfigMatcherStrategy.type: None`.

[2022-11-24 16:38] #3737 closed

[2022-11-24 16:39] simonpasquier commented on #4764
I believe that the main concerns have been resolved with the latest v0.61.1:
* One can define the main configuration using  `AlertmanagerConfig` CRD (with the `spec.alertmanagerConfiguration` field).
* It is possible to disable the namespace enforcement when AlertmanagerConfig objects are merged in the resulting configuration using `spec.alertmanagerConfigMatcherStrategy.type: None`.

[2022-11-24 16:39] #4764 closed

[2022-11-25 08:09] simonpasquier opened #5188 "Sign release artifacts"
**What is missing?**

Official container images and release artifacts should be signed with [cosign](https://github.com/sigstore/cosign).

**Why do we need it?**

End users should be able to verify the project's artifacts.

**Environment**

* Prometheus Operator version: N/A

**Anything else we need to know?**:

Our good friends at Parca have already implemented it with GitHub Actions
* https://gi

[2022-11-25 09:18] simonpasquier commented on #4033
I believe that the main concerns have been resolved with the latest v0.61.1:
* One can define the main configuration using  `AlertmanagerConfig` CRD (with the `spec.alertmanagerConfiguration` field).
* It is possible to disable the namespace enforcement when AlertmanagerConfig objects are merged in the resulting configuration using `spec.alertmanagerConfigMatcherStrategy.type: None`.

[2022-11-25 09:18] #4033 closed

[2022-11-25 10:04] simonpasquier opened #5190 "webhook's AdmissionResponse should contain the field name(s) in case of failure"
**What is missing?**

The admission webhook doesn't set the `field` value in the [StatusCause](https://pkg.go.dev/k8s.io/apimachinery/pkg/apis/meta/v1#StatusCause) when an error is detected.

https://github.com/prometheus-operator/prometheus-operator/blob/740129b60784d3c23689583cc8871dcb07cc6c68/pkg/admission/admission.go#L156-L159

**Why do we need it?**

This can be used by clients to understand

[2022-11-25 10:49] simonpasquier opened #5191 "Reject invalid PrometheusRule objects beforehand rather than failing the reconciliation"
**What is missing?**

When the Thanos/Prometheus controllers detect an invalid PrometheusRule object (invalid PromQL expression for instance), they fail the reconciliation (and for Prometheus, the `Reconciled`  condition will be set to False). Instead the controllers should reject the invalid object and proceed (just like we do for service/pod monitors and probes).

**Why do we need it?**

In self

[2022-11-25 13:38] #5067 closed

[2022-11-25 16:18] simonpasquier commented on #5019
Can you share the Alertmanager & Alertmanager manifests as well as the generated Alertmanager configuration (from the Alertmanager UI status page)?

[2022-11-28 06:46] multani opened #5192 "Allow to fetch Alertmanager configuration from a ConfigMap"
**What is missing?**

The Prometheus Operator always fetches the Alertmanager configuration from a Kubernetes Secret (`configSecret` key from the `alertmanagerSpec`).

I suppose the configuration was fetched from a Secret because traditionally, password, API keys/or tokens, etc. were directly part of Alertmanager's configuration file.

Since a few releases already, Alertmanager supports reading se

[2022-11-28 11:23] JoaoBraveCoding commented on #4730
Discussed with @simonpasquier over Slack that it might be a good idea to expose a `startupProbeTimeoutSeconds` field in the Prometheus CRD and then the PO would "translate" it into `periodSeconds x failureThreshold`.

[2022-11-28 23:01] krishgu opened #5193 "PodMonitor not showing up in Targets GUI - for Springboot"
**What did you do?**
We have a setup of multiple microservices instrumented with Springboot actuator metrics, published on a pre-configured port at 8100. So given a pod with "label: my-app" has an IP, 192.168.1.2 -- http://192.168.1.2:8100/actuator/metrics from inside the cluster provides the metrics.

However, when we define a podMonitor for this pod with
[code]
- there is a new scrape config in

[2022-11-28 23:31] krishgu commented on #5193
this is likely because these conditions aren't matching..  [kubernetes_sd_config doc](https://prometheus.io/docs/prometheus/latest/configuration/configuration/#kubernetes_sd_config)

1. the port-number is not defined in the pod definition
2. the container-name is not prometheus

[code]

how to remove the _pod_name filter or specify it in [podMetricsEndpoint](https://github.com/prometheus-operator/

[2022-11-28 23:46] #5193 closed

[2022-11-28 23:47] krishgu commented on #5193
there seems to be no way to scrape a pod via a custom port, without it being defined in the pod definition. will modify our deployments accordingly.

[2022-11-29 07:04] charris-ca commented on #4764
Awesome thank you!

[2022-11-29 15:06] simonpasquier commented on #5192
One pitfall if we were to implement this is that users may start putting sensitive data in the ConfigMap. At least the secret approach makes it obvious that it has security implications.
A better approach would be to promote the usage of the new `spec.alertmanagerConfig`uration field in the Alertmanager CRD like described [here](https://prometheus-operator.dev/docs/user-guides/alerting/#using-aler

[2022-11-29 15:11] simonpasquier commented on #4656
#5135 implemented the support for active time intervals in the generated configuration. We still need to add similar support to the AlertmanagerConfig CRD (both v1alpha1 and v1beta1).

[2022-11-30 03:54] multani commented on #5192
@simonpasquier Ah yes, this is actually a nice alternative that I completely missed :+1:

[2022-11-30 03:54] #5192 closed

[2022-11-30 05:19] sthaha commented on #5129
@slashpai, I am happy to work on this if no else one is working on it

[2022-11-30 05:19] slashpai commented on #5129
@sthaha This may be interesting to you :)

[2022-11-30 11:20] uri-tech commented on #2451
just need to add to the ServiceMonitor labels the "release: kube-prometheus"

if you install with helm you can do that:
serviceMonitor:
  enabled: true
  additionalLabels:
    release: kube-prometheus

[2022-11-30 11:50] akamac opened #5195 "Add mergeKey for PrometheusRule CRD"
**What is missing?**
mergeKey definition for rules in PrometheusRule CRD
**Why do we need it?**
To be able to override the specific rule with strategicMerge patch.

For now, only JSON patch can be used for this, but using rule's index in path (no selectors are allowed) is not descriptive.

[2022-11-30 16:39] simonpasquier commented on #5195
You mean mergeKey for groups?

https://github.com/prometheus-operator/prometheus-operator/blob/4e026ff8f9ccac7ab12a7118a94f316ae5e8f183/pkg/apis/monitoring/v1/types.go#L1820-L1823

mergeKey for individual rules isn't really possible with the current schema because of the difference between alerting and recording rules.

[2022-11-30 18:39] akamac commented on #5195
Yeah, I've just realised that while patching the existing schema.
Merging only rule groups is not that interesting.

I guess we should add `name` field for both alerting and recording rules and make it mandatory, thus allowing to merge rules on `name` key.