[2018-02-09 10:12] brancz commented on #956
Make sure your clusters actually follow the requirements on kubelet authorization and authentication. https://github.com/coreos/prometheus-operator/tree/master/contrib/kube-prometheus#prerequisites

[2018-02-09 10:14] brancz commented on #972
closed by #973

[2018-02-09 10:14] #972 closed

[2018-02-09 10:15] brancz commented on #971
Note that in order to collect metrics in a secure and sane way you need to enable kubelet RBAC authZ and token authN in your cluster. See requirements here: https://github.com/coreos/prometheus-operator/tree/master/contrib/kube-prometheus#prerequisites

[2018-02-09 10:32] brancz commented on #976
Albeit the name `401 Unauthorized` it tells us that the problem is the authentication (if it was an authorization issue it would be `403 Forbidden`. Just to make sure, both of these flags are enabled, right?

* `--authentication-token-webhook=true`
* `--authorization-mode=Webhook`

Next I would check the kubelet logs as well as the apiserver logs to find the declined `TokenReview` request, which i

[2018-02-09 12:18] dejaeghered commented on #976
Those flags were missing indeed.  Thank you for the swift help!

[2018-02-09 12:19] #976 closed

[2018-02-09 17:53] whereisaaron opened #978 "Bug: Operator hard-codes the PVC accessModes, preventing ReadWriteMany storage"
Prometheus operator hard-codes the value of PVC `accessModes` [here](https://github.com/coreos/prometheus-operator/blob/master/pkg/prometheus/statefulset.go#L165) and [here](https://github.com/coreos/prometheus-operator/blob/master/pkg/alertmanager/statefulset.go#L120) preventing the use of any access mode other than `ReadWriteOnce`, so e.g. `ReadWriteMany` storage (or other future values) cannot

[2018-02-09 20:04] whereisaaron commented on #830
@brancz NFSv4 is POSIX compliant I believe? I think you are thinking of the old NFSv3? Certainly [AWS EFS is claiming POSIX compliance](https://docs.aws.amazon.com/efs/latest/ug/creating-using.html) for its NFSv4 clusters.

In the prometheus/prometheus#3534 example they [solved the NFS problem](https://github.com/prometheus/prometheus/issues/3534#issuecomment-350324174) by updating to a newer `tsd

[2018-02-09 21:54] whereisaaron opened #979 "helm chart 'kube-prometheus' 'values.yaml' has incorrect values for child charts (v0.0.19)"
This simple Prometheus CRD storage spec fails to create a PVC and StatefulSet. If I remove the `storage` spec it works fine. If I create a simple PVC myself with the same settings the PV is created. The prometheus-operator logs contain nothing to explain why it doesn't work. Am I missing something simple?

[code]

I know the PVC and provisioner work, because this test works fine
[code]

[code]

Th

[2018-02-10 12:00] gianrubio commented on #979
Do you have errors or warnings in the k8s events?

[2018-02-10 19:05] whereisaaron commented on #979
Thanks for asking @gianrubio. I have tracked this down to a problem with the `helm` charts. The `kube-operator` chart `values.yaml` file is out of date with its child charts like `prometheus` which themselves contain errors.

The `kube-operator` chart tells chart users (`helm inspect values`) that storage is specified like this:
[code]

But the current `prometheus` chart says (`helm inspect values

[2018-02-11 10:42] pashok2398 commented on #971
@brancz Thank you for the quick reply,
However i have no option to edit the kubelet configuration as its provisioned by the Cloud Provider, is there still a way to use custom config.file or some other solution in my case?
Thanks

[2018-02-12 08:37] gianrubio commented on #979
@whereisaaron nice catch!!!  Do you mind to make a PR to fix that?

[2018-02-12 08:48] brancz commented on #971
I don't know anything about what a cluster in Bluemix looks like, so it's hard to tell. I would recommend trying to use the insecure port (10255 with http), you can configure that in the kubelet ServiceMonitor.

[2018-02-12 09:05] brancz commented on #978
Can you elaborate on your use case? This was done intentionally, in order to prevent users from shooting themselves in the foot, as using the same volume for two different Prometheus instances or Alertmanager instances is incorrect. It would turn coordination free or AP systems into something rather unpredictable.

[2018-02-12 09:39] vivek-jain commented on #485
@brancz is this feature rolled out with 1.8?

[2018-02-12 10:03] brancz commented on #485
@vivek-jain I don't have a 1.8+ cluster handy that actually uses volumes. I believe this did land in 1.8, but I would have to check myself. Could you verify and report back here?

[2018-02-12 13:50] brancz commented on #856
Prometheus has it's own time-series database, you would want to use the tooling around the Prometheus ecosystem, also note that heapster is in the process of being deprecated.

This is unrelated to the Prometheus Operator, it's about usage of Prometheus/Alertmanager.

It makes more sense to ask questions like this on the [prometheus-users mailing list](https://groups.google.com/forum/#!forum/prome

[2018-02-12 13:50] #856 closed

[2018-02-12 13:50] brancz commented on #899
This is unrelated to the Prometheus Operator, please contact Tectonic customer support.

[2018-02-12 13:50] #899 closed

[2018-02-12 13:51] brancz commented on #965
Any news on this?

[2018-02-12 14:08] brancz commented on #932
This is not an issue with the Prometheus Operator and since there are no guarantees on the compatibility of the kube-prometheus collection I will close this issue.

[2018-02-12 14:08] #932 closed

[2018-02-12 14:10] simon-k8s commented on #969
@gianrubio Thank you so much. I was able to update to the current version without any problems.

[2018-02-12 14:12] brancz commented on #962
There were a couple of rather significant changes to the grafana manifests lately, could you try out again if it works for you now on current master?

[2018-02-12 15:41] whereisaaron commented on #978
Hi @brancz, I was testing an EFS mount, which creates ReadWriteMany PVs. It mysteriously didn't work until I found this override in the code. I was able to fool `prometheus-operator` by artificially creating the EFS PV as 'ReadWriteOnce' and get it deployed.

Maybe I'm selfish here, but IMHO I shouldn't have to waste time doing the extra trouble-shooting to uncover why `prometheus-operator` isn't

[2018-02-12 15:45] brancz commented on #978
Fair enough. Do you want to add a PR to allow setting the value, but defaulting to the current one?

[2018-02-12 18:07] ScottBrenner commented on #355
Did anyone find a resolution for this? Having the same issue.

[2018-02-12 19:04] bitva77 opened #982 "401 Unauthorized against Kubelet targets"
I'm not reporting an issue so much as also showing how I fixed it, in case any one else has a similar issue.

**What did you do?**

Executed ./hack/cluster-monitoring/deploy

**What did you expect to see?**

Everything green in the Grafana Dashboard.

**What did you see instead? Under which circumstances?**

First checked the Grafana dashboard and saw a few alerts firing.  Also the control plane a

[2018-02-12 19:38] IBMRob commented on #966
Some further investigations has highlighted what the problem is here.  It looks like that by default the mounts of this type are mounted with the user/group permissions of `drwxr-xr-x    4 nobody   42949672      4096 Feb 12 10:41 data`

I suspect this due to  https://github.com/coreos/prometheus-operator/blob/master/pkg/prometheus/statefulset.go#L365 which is setting prometheus to run as userid 10

[2018-02-12 20:16] grebois opened #983 "Unable to run exporter-node on all nodes"
**What did you do?**

[code]

**What did you expect to see?**

Node Exporter on all nodes

**What did you see instead? Under which circumstances?**

Node Exporter only on master nodes

**Environment**

AWS

* Kubernetes version information:

[code]

* Kubernetes cluster kind:

Kops

@mbenabda @gianrubio If I remove this lines it does not even deploy on masters nodes:

https://github.com/coreos/pro

[2018-02-12 23:24] shamsalmon opened #985 "kubeneretes-operator fails to start"
**What did you do?**
Nothing, kubernetes operator restarted by itself. After restarting, it got stuck on a crash loop. I tried to recreate it, but it fails.
**What did you expect to see?**

kubernetes-operator does not crash loop

**What did you see instead? Under which circumstances?**

kubernetes-operator crash loops

**Environment**

Kops AWS v1.8.0

* Kubernetes version information:

Client Ve

[2018-02-13 00:44] dimm0 commented on #744
Any updates on this? The stats are quite unusable with IPs...

[2018-02-13 09:30] brancz commented on #355
@ScottBrenner you can always silence alerts.

[2018-02-13 10:31] brancz commented on #985
Which version of the Prometheus Operator are you using? Did you upgrade this cluster or did you create it with version `1.8.0`?

[2018-02-13 10:33] brancz commented on #982
The controller-manager and scheduler can't be scraped on GKE as far as I know. The second change is correct, actually a lot of people have run into this, would you mind adding a section/doc on GKE here? https://github.com/coreos/prometheus-operator/tree/master/contrib/kube-prometheus/docs

[2018-02-13 12:08] shamsalmon commented on #985
@brancz I upgraded about a month ago but no problems since now.

[2018-02-13 13:06] brancz commented on #985
it sounds like there is a problem with the migration, depending on the complexity of your Prometheus setup I recommend just removing everything and reinstalling

[2018-02-13 13:10] shamsalmon commented on #985
I will try nuking everything later today.

[2018-02-13 13:15] shamsalmon commented on #985
Thinking of that, you reminded me the only change I made recently was trying to do a blackbox-exporter implementation. I still had an old servicemonitor even though i thought i removed the whole thing. After that was deleted, prometheus-operator started successfully.

[2018-02-13 13:16] shamsalmon commented on #985
I think some more helpful error messages are needed here, like what exactly it is failing to convert. That way we can debug it if it happens.

[2018-02-13 13:28] brancz commented on #985
I agree, just that the conversion code has already been removed as it was just necessary for a migration, so I don't think we'll do anything about it.

[2018-02-13 13:38] shamsalmon commented on #985
The issue did not seem related to upgrading the cluster, but I am sure you understand the code much better than I do. This issue can be closed if you don't think adding more explicit error messages is necessary. I know prom 1.9 will have CRD validation as well.

[2018-02-13 17:53] #983 closed

[2018-02-14 13:17] 23doors commented on #474
Why was this closed when only loglevel config (without log format) was added? And inconsistently only to prometheus (and not to alertmanager).

[2018-02-14 18:20] leifmadsen commented on #982
I actually had an issue with a virtualized vanilla kubernetes 1.9.3 (not GKE, etc) as well. Looks like it's the same type of problem. I'll have to try out the work around next time I deploy here.

[2018-02-14 20:57] leifmadsen commented on #979
I've submitted a PR

CC: @whereisaaron

[2018-02-14 21:14] leifmadsen commented on #979
I also think there is another issue here that needs to be addressed. The way that the templates deal with the persistent volume claim results in issues with the PVC claimName that is much too long. I'm basically on day one with Helm here, but looking at how the grafana chart deals with a separate `pvc.yaml` might also be required here.

That way we can likely better control the naming of the pvc,

[2018-02-14 21:25] leifmadsen commented on #979
(my current work around is to name the deploy just `kp` instead of `kube-prometheus`)

[2018-02-15 10:08] brancz commented on #982
@leifmadsen do make sure the prerequisites (token authentication and RBAC authorization on kubelet) are met: https://github.com/coreos/prometheus-operator/tree/master/contrib/kube-prometheus#prerequisites

[2018-02-15 10:35] strzelecki-maciek commented on #982
Affected with the same issue, running GKE 1.9.2 getting 401 when quering the https kubelet port, and getting metrics when quering the non-http port (10255 if i remember correctly).
What is the least-hacky way to apply a simple relabel to the helm-deployed stable prometheus-operator (would appreciate some explanation with steps)? Thanks!

[2018-02-15 10:38] brancz commented on #982
@gianrubio maby in the helm charts we could have an option say “insecureLubeletMetrics” and have it default to false, then people on GKE just need to enable that. Wdyt?

[2018-02-15 17:01] bitva77 commented on #982
Looks like for a kubespray install it might be passing these to kubelet huh:

--authentication-token-webhook
--kubeconfig
--require-kubeconfig flags

see https://github.com/kubernetes/kubeadm/issues/650

[2018-02-15 18:15] leifmadsen commented on #982
@brancz yea that looks to be my issue. Learning about authn/authz now :)

[2018-02-15 18:22] Quentin-M opened #992 "Validation over deprecated fields?"
**What did you do?**

Using `quay.io/coreos/prometheus-operator:v0.17.0`, the following used to work.

[code]

**What did you expect to see?**

[code]
But those fields are showed as deprecated? Why would I have to specify them?

Sorry for the brief issue, can add more information as needed. Just wanted to throw this out there ASAP.

[2018-02-15 19:36] brancz commented on #992
Sorry about this, looks like having validations as a beta feature was a good idea. @ant31 can you make sure to adapt this?

[2018-02-15 19:40] Quentin-M commented on #992
Sure, it might also very much be my own fault not following too much what's going on and what needs to be changed from a version to another! I only updated to get the unprivileged securityContext going.

Great work guys! Thanks!

[2018-02-15 20:38] gianrubio commented on #982
@brancz the helm chart [already have](https://github.com/coreos/prometheus-operator/blob/master/helm/exporter-kubelets/values.yaml#L4) this flags, what're missing is a document explaining about it.

[2018-02-15 20:50] gianrubio commented on #966
@IBMRob would you like to contribute to the project applying this changes? [Here](https://github.com/coreos/prometheus-operator/tree/master/helm#how-to-contribue) is the guide explaining how to contribute.

[2018-02-15 21:33] IBMRob commented on #966
If this was a simple yaml update more than happy to. Given that the statefulSet are actually Go it might be more of a challenge as I have no experience of the language.

[2018-02-15 21:59] xeor commented on #835
Just make sure you don't set `GF_SERVER_ENFORCE_DOMAIN`, or the config-reloader container wont work.

As an example, here is how you can let a proxy in front (that you trust), add headers to authenticate you and make you admin. Useful for grafana @ home :)

[code]

[2018-02-16 09:01] #992 closed

[2018-02-16 09:03] brancz commented on #992
@Quentin-M we just merged #994, could you build the image from master and see if it works for you? (note that while in beta, validations will only be installed when the CRDs don't already exists, so you need to make sure to remove existing CRs and remove the CRDs created by the Prometheus Operator, if you're not using an entirely new cluster anyways)

[2018-02-16 09:23] brancz commented on #966
Honestly the user/group we chose was a mistake, I've been trying to think of how we could migrate from `1000:2000` to `nobody:nobody` (`65534:65534`).

Although a bit more complicated what we could do is this:

* For new statefulsets we just set `65534:65534` by default.
* For existing statefulsets we keep the user/group settings and insert an init container that changes the existing file permissi

[2018-02-16 09:26] brancz commented on #835
With Grafana v5 the whole grafana-watcher isn't necessary anymore anyways, as provisioning grafana completely from disk is now supported directly in Grafana :tada:.

[2018-02-16 13:49] luisyonaldo commented on #399
https://github.com/prometheus/alertmanager/pull/1222

[2018-02-16 16:02] IBMRob commented on #966
I would be happy with that behavior @brancz.

I did try coding a short term fix but its currently failing the e2e tests :(

[2018-02-16 16:46] brancz commented on #399
Thanks for pointing out @luisyonaldo. With that patch, this is now possible. Closing here :tada:

[2018-02-16 16:46] #399 closed

[2018-02-16 18:58] ayk33 opened #996 "Issue adding new target"
Hello,

Following the example on https://itnext.io/kubernetes-monitoring-with-prometheus-in-15-minutes-8e54d1de2e13 I was able to get prometheus / prometheus-operator up and running. However I am running into issues when trying to add a new target on prometheus.

From the documentation it looks like all I need to do is add a new service/service monitor. However when I do that, my app does not show

[2018-02-17 20:45] dobesv opened #998 "Rules stored in emptyDir ?"
**What did you do?**

Setup prometheus operator with a cluster managed by cluster-autoscaler.

**What did you expect to see?**

Nodes with prometheus running on them could be terminated

**What did you see instead? Under which circumstances?**

cluster-autoscaler compains `Fast evaluation: node ip-172-20-52-38.ec2.internal cannot be removed: pod with local storage present: prometheus-k8s-0`

**Env

[2018-02-18 21:57] danisabad commented on #352
Any news about proper documentation on this? Or could you please, provide an example how it supposed to be used?

[2018-02-19 08:23] hamid2013 opened #999 "Change the Local Retention from 24 hours to custom"
**What did you do?**
[code]

**What did you expect to see?**
[code]

**Environment**
[code]

* Kubernetes version information:

	Client Version: version.Info{Major:"1", Minor:"7", GitVersion:"v1.7.1", GitCommit:"1dc5c66f5dd61da08412a74221ecc79208c2165b", GitTreeState:"clean", BuildDate:"2017-07-14T02:00:46Z", GoVersion:"go1.8.3", Compiler:"gc", Platform:"darwin/amd64"}
Server Version: version.Info

[2018-02-19 08:33] gianrubio commented on #996
Looks like your serviceMonitor can't find the endpoint with port "web". Rename the service port name to web or change the serviceMonitor to match the endpoint name.

[code]

[2018-02-19 11:02] mbenabda commented on #999
have you used the helm chart to install the operator ?
in that case
[code]
otherwise:
in your ```Prometheus``` object's ```spec``` field:
[code]
if you did that already and it didn't work: tell us your prometheus-operator version & dump your Prometheus object's yaml in here

[2018-02-19 11:54] hamid2013 commented on #999
Thanks @mbenabda

I have made that work. But is it possible to store the data in the persistent storage.

[2018-02-19 14:13] oszi commented on #962
I've tested it on the v0.17 version and it works now.

[2018-02-19 14:13] #962 closed

[2018-02-19 17:33] mbenabda commented on #999
yes: see PrometheusSpec.storage.
eg:
[code]

[2018-02-19 19:30] sebglon opened #1000 "Disable Helm kube-controler and scheduler on GCE"
**What did you do?**
On Google the kubernetes is managed by your. And i can't have access to this component.

Do you know if it exists a solution to have those metrics; or to disable it on kube-prometheus charts?

[2018-02-19 19:59] #979 closed

[2018-02-19 20:20] whereisaaron commented on #979
Good catch @leifmadsen, a common way people handle this is to have templates in `_helpers.tpl` that ensure generated names are not too long.

First, modern charts avoid duplicating the chart name in resource names, if the release name actually already contains the chart name. This avoids the `prometheus-kube-prometheus-prometheus-kube-prometheus-*` junk.

Second, you can get the template to test t

[2018-02-19 20:39] ayk33 commented on #996
Thanks @gianrubio that was exactly the problem.

[2018-02-19 20:39] #996 closed

[2018-02-20 13:07] pashok2398 commented on #971
@brancz
Hi, just tried it getting:
```Get http://KUBELET_IP:10250/metrics/cadvisor: net/http: HTTP/1.x transport connection broken: malformed HTTP response "\x15\x03\x01\x00\x02\x02"``` under Prometheus Targets

[2018-02-20 14:18] domcar opened #1001 "Alerts firing: ControllerManager, Scheduler and TargetDown"
**What did you do?**
I installed prometheus-operator and kube-prometheus using helm:
[code]
**What did you expect to see?**
Everything green in Alert Manager

**What did you see instead? Under which circumstances?**
Some Alerts are firing:
- K8s Scheduler
- K8S Controller
- NodeDiskRuningFull
- TargetDown

**Environment**
GKE

* Kubernetes version information:

	Client Version: version.Info{Major:

[2018-02-20 16:21] crandles opened #1002 "prometheus-config-reloader errors may prevent rules from loading"
**What did you do?**
  Installed helm chart for Prometheus instance.

**What did you expect to see?**
  Prometheus instance should have loaded the included rules.

**What did you see instead? Under which circumstances?**
  Prometheus had no data for the associated rules.

* prometheus-config-reloader Logs

[code]

It looks like the code [here](https://github.com/coreos/prometheus-operator/blob/mas

[2018-02-20 19:28] erkolson commented on #835
@brancz can you elaborate on why the watcher is not needed for Grafana v5?  If the dashboard configuration files are mounted from configmaps, will updates to the configmaps cause grafana to update/reread them?

[2018-02-21 08:26] domcar commented on #1001
If it helps, it looks like some services have no endpoints:
[code]

[2018-02-21 11:26] alexanderdavidsen opened #1004 "Prometheus only loads alert rules in the "monitoring" namespace"
I created a new alert manager rule, using configmaps, in a different namespace. I would expect these rules to be added to Prometheus, but they are not. When creating the same rule in the "monitoring" namespace, the rules are loaded by prometheus as expected.

Is there a setting the specifies which namespaces Prometheus looks for new rules?

Edit: prometheus-operator(0.0.11) and kube-prometheus(0.0

[2018-02-21 11:36] #1000 closed

[2018-02-21 11:40] sebglon opened #1005 "Helm kube-prometheus for GCE ETCD endpoint"
On latest version of kube-prometheus Chart, i have no metrics for etcd, kube-scheduler, kube-controller-manager.

After seeing this page: https://github.com/coreos/prometheus-operator/blob/master/contrib/kube-prometheus/manifests/etcd/etcd-bootkube-gce.yaml write by @brancz , i have added the values like that:

[code]

But this not work. I have timeout.

How can i config or find the right endpoint

[2018-02-21 12:13] sebglon commented on #355
I have the same. How can i find the right IP/port to put on endpoint?

[2018-02-21 17:29] sandromello commented on #1001
I had a simular issue, but I've used `kubeadm` to install the cluster. I fixed those alerts editing selector of those services.

If you have kubernetes core components as pods in the `kube-system` namespace, make sure the label selector of those services match with the labels of the pods.

[code]

[code]

[2018-02-22 07:51] hamid2013 commented on #999
Hi @mbenabda ,

I have tried the storage but it seems to be not working

PV Template:
---
apiVersion: v1
kind: PersistentVolume
metadata:
  labels:
    type: local
    app: prometheus
  name: prometheus-volume
  namespace: monitoring
spec:
  accessModes:
    - ReadWriteOnce
  capacity:
    storage: 15Gi
  hostPath:
    path: /data/influxdb
  storageClassName: manual

And Storage added on the prome

[2018-02-22 08:05] hamid2013 commented on #1001
I am also facing same issue, but in my case i have used Azure acs-engine to launch the cluster.

Keep getting the Scheduler and Controller alert.

[2018-02-22 08:19] domcar commented on #1001
@sandromello The problem is that I don't have the Pods `kube-scheduler` or `controller-manager`. I think this is the reason why it doesn't work

[2018-02-22 09:31] sebglon commented on #256
Those can start an scrape metric but not solve __param_target relabel on metric.
I have found a PR that can help us: https://github.com/coreos/prometheus-operator/pull/923

[2018-02-22 10:00] lzbgt commented on #633
@lorenzo-biava
1. you don't have to redeploy kubernetes by change kubeadm settings, just change address from 127.0.0.1 to 0.0.0.0 in etc/kubernetes/manifests/kube-scheduler.yaml, and kube-controller-manager.yaml and restart docker & kubelet works
2. as you have mentioned the correct servicemonitor configs `- path: /metrics/cadvisor
    port: http-metrics
    interval: 30s
    honorLabels: true`
or

[2018-02-22 11:07] mbenabda commented on #999
try removing the resources key of the volumeClaimTemplate spec

[2018-02-22 12:29] s0rc3r3r01 opened #1008 "issue with ClusterRole of kube-state-metrics"
**What did you do?**
Deploy prometheus operator in cluster with RBAC enabled
**What did you expect to see?**
No RBAC exceptions
**What did you see instead? Under which circumstances?**
Logs on apiserevr :
`I0222 12:22:24.280453       5 rbac.go:114] RBAC DENY: user "system:serviceaccount:monitoring:kube-state-metrics" groups ["system:serviceaccounts" "system:serviceaccounts:monitoring" "system:auth

[2018-02-22 14:48] lostick commented on #695
Great news, It will make federation a lot easier as well.

[2018-02-22 15:32] #1008 closed

[2018-02-22 16:34] simox-83 commented on #898
So, after successfully setup the etcd monitoring, I wanted to use my custom Prometheus to scrape the node exporter metrics. After hours of troubleshooting (the nodes are not listed in the targets as they should be), I found out that if I run `wget http://10.223.10.212:9100/metrics` from my custom Prometheus pod, I get a nice `permission denied`. If I do the same from the official tectonic Promethe

[2018-02-22 18:08] dmcnaught opened #1011 "[kube-prometheus] 0.17.0 deployed to k8s 1.8.8 (created with kops 1.8.1) - 2 unexpected alerts."
**What did you do?**
[code]

**What did you expect to see?**
Only DeadManSwitch alert
**What did you see instead? Under which circumstances?**
DaemonSetRolloutStuck (1 active)
DeadMansSwitch (1 active)
K8SDaemonSetsNotScheduled (1 active)
All pods in the cluster are "Running" with no failing healthchecks.
**Environment**
k8s 1.8.8 on AWS created with kops 1.8.1
* Kubernetes version information:

[

[2018-02-22 18:47] dmcnaught commented on #1011
One of my nodes was full, and the node-exporter ds wasn't on it:
Found the problem with this:
[code]
Desired was one more than current...

[2018-02-22 18:47] #1011 closed

[2018-02-22 19:27] ScottBrenner commented on #1001
This is a known issue with GKE #355 #845. I ended up just deleting the two alerts.

[2018-02-23 04:08] hamid2013 commented on #999
When i tried this:

[code]

[2018-02-23 06:48] anuthaharinimn commented on #544
how can i monitor supervisord processes using prometheus node_exporter??

[2018-02-23 08:26] gianrubio commented on #999
@hamid2013 deleting the StatefulSet will solve your issue, run :`kubectl delete sts -n monitoring prometheus-kube-prometheus`

[2018-02-23 09:13] sebglon commented on #256
Show on prometheus doc

And of courese this label is not available for `metricRelabelings`
is it possible to preserve  all `__param` labels?
that can solve this issues...

[2018-02-23 15:21] ralberto opened #1013 "Cross namespace monitoring problem"
**What did you do?**
Deployed prometheus operator and a prometheus instance in a namespace called "monitoring". Once pods were running, I've deployed a ServiceMonitor to monitor a service running in another namespace.

[code]

**What did you expect to see?**
Service "myservice-api" being monitored by prometheus.

**What did you see instead? Under which circumstances?**
Service "myservice-api" is n

[2018-02-23 16:14] mbenabda commented on #1013
Hello,

see https://github.com/coreos/prometheus-operator/pull/813 for a discussion about this exact topic

[2018-02-23 16:52] opusmagnum opened #1014 "Documentation: Clarify _RelabelConfig_ usage in API documentation"
**What did you do?**
Tried to relabel some metrics, adding `RelabelConfig` spec to the ServiceMonitor manifest.
**What did you expect to see?**
I have expected, that this spec will be transformed into `<relabel_configs>` section.
**What did you see instead? Under which circumstances?**
A `<metric_relabel_configs>` section was generated by Prometheus Operator instead.
**Environment**

* Kubernetes

[2018-02-23 16:58] aranair commented on #731
I was facing the same issue of it showing up in the prometheus configs but showing up in targets (after going through some digging about that serviceMonitorSelectors too heh).

My service is in the `default` namespace and if I used

[code]
as opposed to

[code]

It wouldn't show up.

[2018-02-23 16:58] opusmagnum commented on #1014
Do I undestand correctly, that `__meta_` labels are only available for [relabeling](https://prometheus.io/docs/prometheus/latest/configuration/configuration/#relabel_config) but not for [metrics_relabeling](https://prometheus.io/docs/prometheus/latest/configuration/configuration/#metric_relabel_configs)?

[2018-02-23 18:54] hawksight opened #1016 "ruleselector not obeying labels and pulling in all configmaps"
**What did you do?**
Had an issue in prometheus where rules could not be viewed from the web UI.
Killed one of the prometheu-k8s pods to see if reloading would work.
Pod failed to start (crashlooping) because of config.
Investigated and found that every configmap in that namespace was being pulled in as a 'rule'.
Other configmaps include grafana dashboard files (json) etc, so loading was failing.

[2018-02-23 20:59] amalucelli commented on #834
Below a example that works if anyone needs.

The point here's that we need three manifests:

1. `Service` that points to the external resource (`type: ExternalName`);
2. `Endpoints` that points to the external address of our resource (this type of service don't create the `Endpoint` resource automatically, we need to create it manually);
3. `ServiceMonitor` with the correct selectors;

**Service M

[2018-02-24 00:15] ScottBrenner opened #1017 "Monitoring custom services: no metrics"
**What did you do?**

Have a pod exposing metrics in Prometheus-friendly format on port 9103, followed [the example on monitoring custom services](https://github.com/coreos/prometheus-operator/tree/master/contrib/kube-prometheus#monitoring-custom-services) but the second Prometheus that is deployed does not have metrics from the custom service.

**What did you expect to see?**

Metrics from my cus

[2018-02-24 05:16] hamid2013 commented on #999
Hello,

I am able to solve both the problem in Azure ACS 9acs-engine).

1. Retention period: Custom (say 20 Days) by introducing
    retention: 480h

2. Persistent Volume
    storage:
    volumeClaimTemplate:
      spec:
        resources:
          requests:
            storage: 15Gi

In the second case, the selector was not working on the Azure environment.

[2018-02-25 13:37] elad661 commented on #1017
I think @yaacov had the same issue

[2018-02-25 14:53] yaacov commented on #1017
I did have this problem, in my case it was miss matchings labels and selectors, it works now ...

[2018-02-26 04:10] ScottBrenner commented on #1017
Believe that's my issue as well, any suggestions on what I'm missing?
https://github.com/notifications

[2018-02-26 12:31] ralberto opened #1019 "Question: Sharing prometheus operator"
<I'm not sure if there is a better place to raise questions like this, but couldn't find anywhere - feel free to redirect>

I'm deploying a kubernetes cluster that will be used by multiples teams, each one having a separate namespace. Each namespace has a user with the admin role (not cluster_admin), that is responsible of managing the namespace.
I'd like to grant privileges to the namespace admin

[2018-02-26 12:51] simox-83 commented on #898
@brancz any news on this? I get still this from a prometheus pod:
[code]
I saw the RBAC policies and I gave the user account full permission - I setup a clusterrole for this. I suspect it might be the native node exporter which is from Tectonic.. I hope I don't have to deploy a separate one.
Thanks,
Simone

[2018-02-26 13:33] brancz commented on #544
@anuthaharinimn that's a question I would ask on the [prometheus-users mailing list](https://groups.google.com/forum/#!forum/prometheus-users). :slightly_smiling_face:

[2018-02-26 13:37] brancz commented on #898
What you are looking for is most likely this permission: https://github.com/coreos/prometheus-operator/blob/master/contrib/kube-prometheus/manifests/prometheus/prometheus-k8s-roles.yaml#L54

That's what the node-exporter checks for.

[2018-02-26 13:46] brancz commented on #355
@sebglon I would contact GKE support, I am not aware of how the topology of GKE clusters are in that way. Otherwise I recommend just silencing/removing those alerts.

[2018-02-26 13:47] brancz commented on #1005
Can you elaborate what kind of cluster you are using? Bootkube? GKE? kubeadm?

[2018-02-26 13:49] brancz commented on #835
That's true, updates will not be propagated, however, as grafana is just provisioned on every start up, it should be a completely new deployment of grafana anyways. This is in line with the philosophy that the declarative app working group withing Kubernetes intends on deploying/updating any application on Kubernetes. (For the time being if it's a problem, just delete the pods of the deployment on

[2018-02-26 13:51] brancz commented on #352
I don't have time to write the docs right now, but the generated API docs are up to date: https://github.com/coreos/prometheus-operator/blob/master/Documentation/api.md

See the remote read/write specs of the PrometheusSpec. If someone figures it out, please contribute docs! :slightly_smiling_face: (as a hint, the config itself is pretty much exactly the same as the [upstream ones](https://prometh

[2018-02-26 13:53] simox-83 commented on #898
@brancz thanks for the answer, I found out that nonresourceUrl last Friday and included in my clusterroles, but it didn't help. Here my roles config:

[code]
I still can't see the nodes as targets.. is there any way I can see more logs from the prometheus pods? That `wget` command just says permission denied, I actually wanted to check what happens when the pod tries to scrape the node-exporter ta

[2018-02-26 13:56] brancz commented on #971
you need to make sure that the `scheme` in the kubelet ServiceMonitor is `https`, what you shared looks like it's trying to do a plain HTTP request when the kubelet is expecting TLS.

[2018-02-26 14:00] brancz commented on #898
I'm not exactly sure if the version you have supports this, but there is the `logLevel` field.

[2018-02-26 14:16] simox-83 commented on #898
I am on 2.1.0 and it doesn't seem to support that field. Is there anything I could look into to troubleshoot this more?

[2018-02-26 14:23] brancz commented on #898
What you can do is set `pause: true` in the Prometheus object, then you can modify the underlying `StatefulSet` to set the `--log-level` flag yourself.

[2018-02-26 14:31] simox-83 commented on #898
It doesn't seem to work, as soon as I add the loglevel in the statefulset, it will immediately revert it back.

[2018-02-26 14:38] brancz commented on #898
sorry, that's `paused: true` in the prometheus object (https://github.com/coreos/prometheus-operator/blob/master/Documentation/api.md#prometheusspec)

[2018-02-26 14:48] simox-83 commented on #898
It doesnt seem to like the logLevel flag. I tried `--log-level=debug` or `--loglevel=debug` or `--logLevel=debug` but the container crashes.

[2018-02-26 14:50] brancz commented on #1000
just delete the alerts if you don't want them :slightly_smiling_face:

[2018-02-26 14:51] brancz commented on #1008
do you mind sharing what your problem was and how you solved it? :slightly_smiling_face:

[2018-02-26 14:54] brancz commented on #898
Excerpt from `prometheus -h`:

[code]

Sorry once again, it was `--log.level`.

[2018-02-26 15:12] ralberto commented on #1019
Answering my own question:
One single prometheus operator handles all prometheus instances, etc....

[2018-02-26 15:12] #1019 closed

[2018-02-26 15:17] simox-83 commented on #898
Thanks with the log.level flag works :) I am looking at the logs, it seems I can see it tries to scrape the node-exporters endpoints and I don't see any error. Here an extract of the logs:
[code]
I am not sure if I need to deploy my own endpoints in the `containerhosting` namespace, but I assume not, because the service account used can do `get endpoints` so it can use the `tectonic` ones. I still

[2018-02-26 16:46] simox-83 commented on #898
@brancz I did another test. I used the token used by the `ch-monitoring` account and then I expose one of the node exporter pod using `kubectl proxy node-exporter-352rt`. I then ran `curl 127.0.0.1:8001/metrics` and got the metrics printed at screen. So this should exclude, as root cause of the issue, the roles associated with my account. So now I really don't know what else could be, I still gett

[2018-02-26 17:24] SergeBlais opened #1022 "reinstalling using helm"
<snip generic comments>

[2018-02-26 17:28] SergeBlais commented on #1022
Hi all,
I'm learning about this, and I tried to install prometheus a few times, but it never completely worked. So now I am trying to use helm (for the second time), and the install

helm install coreos/prometheus-operator --name prometheus-operator --namespace monitoring
won't work, it gives me the error

Error: jobs.batch "prometheus-operator-create-sm-job" already exists

How can I deal with th

[2018-02-26 19:47] ag237 opened #1023 "Alertmanager: error: unknown short flag '-c', try --help"
**What did you do?**

helm repo add coreos https://s3-eu-west-1.amazonaws.com/coreos-charts/stable/

helm repo update

helm install coreos/kube-prometheus --name kube-prometheus  --namespace prometheus-system --set rbacEnable=true

**What did you see instead? Under which circumstances?**

Alertmanager pod crashloopbackoff, with this error

alertmanager: error: unknown short flag '-c', try --help

[2018-02-26 20:30] tourea opened #1024 "Support for ReadOnlyRootFilesystem"
## Feature Request
In general it a good practice to enable SecurityContext.readOnlyRootFilesystem on pods in order reduces security attack vectors since the container instance's filesystem cannot be tampered with or written to unless it has explicit read-write permissions on its filesystem folder and directories.
Currently, only `FSGroup, RunAsNonRoot, RunAsUser` are supported by `v1.PodSecurityCo

[2018-02-26 20:51] ScottBrenner commented on #985
Seems I'm running to this `"creating CRDs failed: timed out waiting for Custom Resoruce: json: cannot unmarshal string into Go value of type []string"` issue as well now, using the most recent version of prometheus-operator.

[2018-02-26 21:56] ScottBrenner commented on #1017
So close! Here's the new error I'm seeing:
[code]

[2018-02-27 00:43] ScottBrenner commented on #1017
Resolved.

[2018-02-27 00:43] #1017 closed

[2018-02-27 08:06] kongslund commented on #1023
I experience the same thing on master

[2018-02-27 08:26] kongslund commented on #1023
Okay, further investigation revealed that this is a breaking change in `alertmanager` from v0.12.0 to v0.13.0 with respect to how it accepts arguments. Starting from v0.13.0 arguments are indicated with double dash (`--`) instead of just single dash (`-`).

You can see the difference here:
[code]
[code]

[2018-02-27 09:03] brancz commented on #985
If possible I recommend to delete the configmaps created in the default namespace and recreate the Promteheus, Alertmanager and ServiceMonitor objects.

[2018-02-27 09:05] brancz commented on #1024
This is definitely something we should do. Would you like to create a PR to add this? :slightly_smiling_face:

[2018-02-27 09:08] brancz commented on #898
Can you share the Pod manifest of one of the node-exporter pods? Something in the line of the request is denying it, and I'm not sure what it could be here (maybe some firewall issues?). But with a look at the node-exporter Pod I just want to make sure there is nothing from node-exporter side that might be doing that.

[2018-02-27 09:34] simox-83 commented on #898
@brancz here you are:

[code]
I honestly don't think it's a firewall issue, the tectonic prometheus can scrape the metrics properly and they are all in the same network.. hope this can help.
Cheers,
Simone

[2018-02-27 10:01] brancz commented on #1023
Which version of the Prometheus operator are you using? Since v0.16.1 the flags should all be double dashed for Alertmanagers.

[2018-02-27 10:05] brancz commented on #1017
@ScottBrenner could you share what the problem was and how you resolved it for future reference? Thanks! :slightly_smiling_face:

[2018-02-27 10:07] brancz commented on #1019
Yes and that's what we recommend for users :slightly_smiling_face: .

[2018-02-27 10:12] kongslund commented on #1023
I was running Prometheus operator v15.0.0 in the test environment so shame on me :) Upgrading it to v0.17.0 fixed the issue so I guess that this would be true for @ag237 as well?

[2018-02-27 10:16] brancz commented on #998
I think this makes sense, but we need to think carefully about making sure, that we're not breaking the Prometheus data directory (for 1.x and 2.x) in any way. Just `/tmp` I don't think would work, as mount namespaces are not shared among containers, therefore the `/tmp` directory would not be accessible by both containers.

[2018-02-27 10:21] brancz commented on #998
cc @fabxc is it safe to write something into the data dir of 1.x Prometheus servers other than storage related things? Or do you think it's just safest to move the data dir one level down and have a `data`, `rules`, etc directory in the then "main" volume?

[2018-02-27 10:26] fabxc commented on #998
Yea, you can put anything there just fine. But probably still better to separate it.

[2018-02-27 11:06] brancz commented on #1016
Thanks for the elaborate report, very useful!

I think this is because the `ruleSelector` should be a full selector, not a map of labels. Could you try adapting it to be like this?

[code]

I believe what we are seeing is that it gets unmarshaled into an "empty" selector, which by default selects everything in Kubernetes.

[2018-02-27 13:57] simox-83 commented on #898
@brancz I am not sure actually this is an issue. I have the etcd metrics properly scraped and visible as targets in the Prometheus UI; however if I run `wget https://10.223.10.212:2379/metrics` I get the exact message `wget: can't open 'metrics': Permission denied`. As etcd is properly working I believe this is a misleading error. But at this point I am hopeless, don't really know what else to che

[2018-02-27 13:57] carlosedp commented on #976
One question, this happened to my cluster deployed with Kubeadm. Is there any option to add the parameters to the kubeadm config file that is referred here: https://github.com/coreos/prometheus-operator/blob/master/contrib/kube-prometheus/docs/kube-prometheus-on-kubeadm.md

Maybe update that document to add this.

[2018-02-27 15:17] shamalco opened #1025 "Deploy Grafana & Grafana-watcher"
Hi,

I successfully deployed prometheus-operator, and enable cluster monitoring. But I completely confused regarding the deployment of Grafana, there is no clear docmentation. I see in kube-prometheus there is a  [mainfest folder](https://github.com/coreos/prometheus-operator/tree/master/contrib/kube-prometheus/manifests/grafana) called grafana, do I use this to deploy grafana? Or I need to deploy

[2018-02-27 15:42] ag237 commented on #1023
I'm using the helm chart from coreos, so the defaults that are in there.

Looking at the debug of the helm install, alertmanager is set to v0.14.0 which is the latest I see at quay.io/prometheus/alertmanager

[2018-02-27 16:16] simox-83 commented on #898
@brancz I got it working.. somehow :) One of the things I missed was the namespaceselector in the service monitor definition. I will continue tomorrow and polish what I have done so I have a clear idea of what was broken.
Thanks for your help!

[2018-02-27 16:54] hawksight commented on #1016
@brancz - thank you for your suggestion. Indeed this was something I missed in translating the yaml document into a python dictionary. I didn't see it in staging as that must have been applied from the original yaml file.

Just out of interest, is this intended behaviour? Defaulting to mounting all configmaps (in namespace)?
Perhaps its something that could be a warning in the application of the r

[2018-02-27 18:13] ScottBrenner commented on #1017
Can't say for sure, was some combination of mismatching labels and [deleting artifacts from previous attempts](https://github.com/coreos/prometheus-operator/issues/985#issuecomment-368796015).

[2018-02-27 19:16] gianrubio commented on #1023
I can't reproduce this issue using the latest version from kube-prometheus (v0.0.20) and prometheus-operator (v0.0.11). Please upgrade both charts.

[2018-02-27 19:23] gianrubio commented on #1022
hi @SergeBlais this is a know issue where the helm chart could create some "garbage", could you paste  the output of this job?  ```kubectl logs prometheus-operator-create-sm-job -n monitoring```

In any case I recommend you to delete all helm chart with --purge option, delete the monitoring namespace and recreated all again.

[2018-02-27 19:27] ag237 commented on #1023
The latest version appears to be 0.0.22, https://github.com/coreos/prometheus-operator/blob/master/helm/kube-prometheus/Chart.yaml

which is broken.

I've tried version 0.0.21 and that one seems to work fine.

[2018-02-27 19:39] sebglon commented on #1005
I use gke

Le lun. 26 févr. 2018 14:47, Frederic Branczyk <notifications@github.com> a
écrit :

[2018-02-27 20:16] gianrubio commented on #1023
it's 0.0.22 because I merged a PR, it should work on 0.0.20, 0.0.21 and 0.0.22

[2018-02-27 21:32] adamdecaf opened #1026 "Verify ConfigMap checksums before reloading"
**What did you do?**

I'm managing the `Secret`'s manually myself to apply `relabel_configs`. In doing so I ran into the `configmaps.json` part of the `Secret`.

Initially this worried me because I'd have to work through the [makeRuleConfigMap logic for consistently hashing ConfigMaps](https://github.com/coreos/prometheus-operator/blob/v0.17.0/pkg/prometheus/statefulset.go#L215), but then it seems

[2018-02-27 22:44] jolson490 opened #1027 "cluster name in notification from alertmanager to HipChat - AWS __meta_ec2_tag_Name label and kube-prometheus"
**What did you do?**

Hello,

I'm running [kube-prometheus/self-hosted-deploy](https://github.com/coreos/prometheus-operator/blob/master/contrib/kube-prometheus/hack/cluster-monitoring/self-hosted-deploy). In my K8s cluster on AWS, each node's `hostname` has the private IP (not the name of the cluster/environment - e.g. "sandbox", "dev", etc.; thus prometheus queries such as `kube_pod_info` only r

[2018-02-27 23:32] ScottBrenner commented on #1025
To my knowledge a prometheus-operator does not include Grafana out-of-the-box, you'll have to set it up yourself. kube-prometheus automatically deploys and configures Grafana for you.

[2018-02-27 23:59] aagarwalincontact commented on #830
I am trying with to run below commands and looking for docker logs , still getting the
"Opening storage failed open DB in /prometheus/data/: open /prometheus/data/245726561: permission denied"
**Any insights will really help**

##################
mkdir -p /prometheus/data/
chown ec2-user:ec2-user /prometheus/data/

# To configure your EC2 instance to mount an EFS file system automatically at launc

[2018-02-28 02:10] shamalco commented on #1025
I know that kube-prometheus has the manifest, but I am confused by the role grafana-watcher. I noticed there is a grafana-creditantials defined in kube-prometheus but not use by any of the manifests, but there is a tag-line "Grafana Watcher". Do I need to supplemental grafana with grafana watcher ?

[2018-02-28 02:35] whereisaaron commented on #830
Hi @aagarwalincontact prometheus-operator is for Kubernetes, so you use Kubernetes to mount the EFS volume into the container. Either using the Deployment/StatefulSet `volumes` / `volumeMounts` or using a PVC with [`efs-provisioner`](https://github.com/wongma7/efs-provisioner).

[code]

Also, it is unlikely the container is running as `ec2-user`. So that uid will unexpected inside the container an

[2018-02-28 06:42] domcar opened #1028 "Failed: Create secret"
**What did you do?**
Installed prometheus and kube-prometheus with helm chart:
[code]
**What did you expect to see?**
No errors in GCP activity
**What did you see instead? Under which circumstances?**
[code]
There is an entry log every minute or more often
**Environment**
GKE
* Kubernetes version information:

	Client Version: version.Info{Major:"1", Minor:"8", GitVersion:"v1.8.1", GitCommit:"f38e

[2018-02-28 06:55] domcar commented on #1028
I tried the same on a new cluster and I could see how initially the secret gets created but immediately after that, the errors started:
[code]

[2018-02-28 09:02] gianrubio commented on #1028
This credentials are managed by the operator, looks like it's not related to helm. Could you paste the output of `kubectl logs -n monitoring -l operator=prometheus` and `kubectl get events -n monitoring`

[2018-02-28 10:53] brancz commented on #976
@carlosedp would you like to create a PR for that? :slightly_smiling_face:

[2018-02-28 11:01] brancz commented on #1005
In that case that IP is not correct, it was initially contributed for Kubernetes clusters created on GCP with bootkube. You will need to ask Google support on how to access your etcd server(s) for this.

[2018-02-28 12:31] brancz commented on #1025
I apologize for this, we're in the process of phasing out the grafana-watcher, as the functionality that it implements has inspired features that have as of Grafana v5 been implemented in Grafana directly. As a result we have the grafana-watcher still in this repo until a final version of Grafana v5 is released.

More broadly though, a lot of content in kube-prometheus is generated, including the

[2018-02-28 12:42] domcar commented on #1028
`kubectl logs -n aux -l operator=prometheus`

I don't paste them all to avoid flooding the comment, but they are all like these:
[code]

and `kubectl get events -n aux`:
[code]

[2018-02-28 12:44] brancz commented on #1026
The checksum is only to signify whether the content of a ConfigMap has changed. This is done in order to avoid reloading Prometheus when it's not strictly necessary, or vise versa to force reload Prometheus when a ConfigMap hash has changed.

[2018-02-28 12:45] brancz commented on #1027
Related to #744

[2018-02-28 12:47] brancz commented on #744
I apologize for still not having gotten to this, we are currently reworking our Grafana dashboards, once we have the transition done, we will be able to take care of this easily.

[2018-02-28 12:53] brancz commented on #1016
An empty selector selecting everything is just how Kubernetes works, I don't think we should change that for our case.

I think the big thing to take away here is that validations saying that the fields that you had do not exist in a type `Selector`. That way the object would not have been create-able, and therefore the error couldn't have happened in the first place.

[2018-02-28 13:00] brancz commented on #1013
The problem is mostly a permission problem, as we do not want to grant a Prometheus server permission to access *all* ConfigMaps in *all* namespaces.

The way Prometheus and the Prometheus Operator is intended to be used is that teams create their own Prometheus server that they can configure to their need.

[2018-02-28 14:56] shamalco commented on #1025
@brancz Thanks its crystal clear, I thought the same but I was just confused. Thanks for the support and excellent project, and made its much easier to setup prometheus and maintain it.

[2018-02-28 14:56] #1025 closed

[2018-02-28 15:37] adamdecaf commented on #1026
Alright, do you think they should be verified? RBAC handles the permissions required to update ConfigMaps, so nothing like that is needed here.

[2018-02-28 16:09] ag237 commented on #1023
so doing some more digging, if i --set alertmanager.image.tag=v0.12.0, on my helm install, alertmanager starts up fine.

[code]

[code]

[code]

Now set version to v0.14.0

[code]

[code]
[code]

Also errors out when i use v0.13.0

[code]
[code]
[code]

[2018-02-28 17:24] dmcnaught opened #1030 "Failure 403 configmaps \"prometheus-k8s-rules\" is forbidden: User \"system:serviceaccount:monitoring:prometheus-k8s\" cannot get configmaps in the namespace \"monitoring\""
**What did you do?**
[code]
**What did you expect to see?**
Rules
**What did you see instead? Under which circumstances?**
It worked for 5 mintues, and then I saw "No alerting rules defined"
[code]
**Environment**

k8s 1.8.8 upgraded from 1.7.9 with kops 1.8.1 on AWS

* Kubernetes version information:

[code]

* Kubernetes cluster kind:

kops

* Manifests:

* Prometheus Operator Logs:

[code]

[2018-02-28 18:11] dmcnaught commented on #1030
Alert are now appearing again. Not sure what caused them to all disappear for a while...
prometheus-config-reloader is still throwing that error

[2018-02-28 18:37] carlosedp commented on #976
Done on #1031

[2018-02-28 18:51] dmcnaught commented on #1030
Gone again... not sure how this could be intermittently failing. The prometheus-k8s role seems to have access to get configmaps.

[2018-02-28 19:21] dmcnaught commented on #1030
pod prometheus-k8s-1 is working, pod prometheus-k8s-0 is not working - permissions errors in both config-reloader and prometheus containers...
[code]

[2018-02-28 19:23] dmcnaught commented on #1030
restarted prometheus-k8s-0 and no errors on restart. Looks like permissions were created after the pod initially started...

[2018-02-28 20:32] gianrubio commented on #1023
@ag237 what version of prometheus-operator are you running?

[2018-02-28 20:39] ag237 commented on #1023
ah sorry i misread above...i'm running 0.15.0..upgrading to 0.17.0, thanks!

[2018-02-28 20:49] ag237 commented on #1023
fixed, thanks!

[2018-02-28 20:49] #1023 closed

[2018-03-01 10:43] brancz commented on #1030
So this is resolved? In any case this is quite curious. (but we're actually already improving error handling on the config reloader side https://github.com/coreos/prometheus-operator/pull/1003, so I expect behavior like this to go away once we merge that PR)

[2018-03-01 14:41] domcar commented on #819
Anyone can tell me how to make it work? I just cannot

[2018-03-01 15:57] SergeBlais commented on #1022
Thanks, deleting the namespace did the trick. When I tried doing the log command I got this:

`bash-4.2$ kubectl logs prometheus-operator-create-sm-job -n monitoring`
`Error from server (NotFound): pods "prometheus-operator-create-sm-job" not found`

But I was able to reinstall. Continuing on to learning... ;)

[2018-03-01 15:58] #1022 closed

[2018-03-01 17:04] dmcnaught commented on #1030
There's a workaround - to delete the pod. Not sure if there's a fix that would involve making sure the role is created before creating the pod.

[2018-03-02 09:03] gianrubio commented on #1028
@domcar where do you have the error message? I can't see on the logs

[2018-03-02 09:06] domcar commented on #1028
Google Cloud Console --> Activity

[2018-03-02 12:18] brancz commented on #1026
The reloads are synchronized by the config reloaded so there can’t be a race condition there.

I don’t think there’s a reason to verify them.

[2018-03-02 12:35] brancz commented on #1028
I'm somewhat confused as to what the actual error is that you are seeing. Do things work or are you just getting an error from GCP but everything still works? If not in what way does it not work?

[2018-03-02 12:36] brancz commented on #1030
I have seen this with HA apiserver clusters before, I'd say this is not a Prometheus Operator issue. If you agree I'd say we close this here.

[2018-03-02 12:49] domcar commented on #1028
Everything works but the ativity log is floated with this messages:
[code]

There are something like 3 or 4 error messages per minute

[2018-03-02 12:51] domcar commented on #1028
![screen shot 2018-03-02 at 13 50 26](https://user-images.githubusercontent.com/19223900/36899726-b34c16bc-1e20-11e8-8198-0c058c0ee5a8.png)

[2018-03-02 13:15] brancz commented on #1028
I see, yes this might be a problem with the Prometheus Operator.

I think this is where it tries to create a secret even if it already exists: https://github.com/coreos/prometheus-operator/blob/ee9e7dbfdfffae2abd01ef48a643526a1f6b97c1/pkg/prometheus/operator.go#L694

We should guard it with an if statement like here: https://github.com/coreos/prometheus-operator/blob/ee9e7dbfdfffae2abd01ef48a64352

[2018-03-02 13:22] domcar commented on #1028
I can try

[2018-03-02 15:23] adamdecaf commented on #1026
Agreed. Thanks!

[2018-03-02 15:23] #1026 closed

[2018-03-02 16:35] opusmagnum commented on #1014
Fixed with PR #1015.
Special thanks to @brancz for a great support and patience!

[2018-03-02 16:35] #1014 closed

[2018-03-03 03:34] jolson490 commented on #1027
Thank you @brancz - in my Googling I hadn't yet come across that issue 744.

I believe this issue 1027 can be closed (per the reply I just posted on the aforementioned topic in the Google group).

[2018-03-03 03:34] #1027 closed

[2018-03-04 09:01] hameno commented on #1001
This also seems to be the case for rancher/rke deployments (at least it is happening on my dev cluster)

[2018-03-05 09:21] RobinUS2 commented on #357
@Blasterdick it may be obvious but keep in mind that using an actual email address for a user account e.g. john@doe.com will also work

[2018-03-05 09:33] Blasterdick commented on #357
@RobinUS2 for my setup with GKE v1.9.2 cluster using an actual G Suite account email doesn't work, I've tried it first.

[2018-03-05 09:38] RobinUS2 commented on #357
@Blasterdick interesting, because in my case there was no principal ID number to be found and I tried the email and it did work. At least it's worth testing both in case you are not making progress.

[2018-03-05 12:40] #1028 closed

[2018-03-05 14:56] mrueg opened #1039 "Split prometheus-config-reloader in its own repository / provide its own releases"
In order to build my own containers from scratch, can you provide prometheus-config-reloader in its own repository or provide a prometheus-config-reloader-0.0.2 and hopefully a 0.0.3 tag to fetch the sources from?
Thanks!

[2018-03-05 20:04] brancz commented on #1039
The prometheus-config-reloader is tightly coupled with the Prometheus Operator, we don't intend on splitting it into a separate repo. Why would a separate repo make a difference (for us it would make it harder to maintain and justify that it should *only* be used with the prometheus operator)?

[2018-03-06 09:20] ayashjorden opened #1042 "kube-prometheus: Failed to list *v1.Endpoints/Service/Pod: Unauthorized"
**What did you do?**
1. Cloned this repo
2. Modified Prometheus, AlertManager and Grafana Services to be LoadBalancer
3. Executed ./hack/cluster-monitoring/deploy

**What did you expect to see?**
Some data in Grafana

**What did you see instead? Under which circumstances?**
No data in Grafana, and Prometheus pods failing on `Failed to list *v1.Endpoints: Unauthorized` (also for Service and Pod.
Ch

[2018-03-06 09:49] ese opened #1043 "CRD validation require deprecated fields"
**What did you do?**

Test prometheus-operator 0.17 with our current prometheus definition

**What did you expect to see?**

Works fine

**What did you see instead? Under which circumstances?**

Failed to validate storage spec
spec.storage.class in body is required
spec.storage.selector in body is required
spec.storage.resources in body is required

If I deactivate validation all works fine with t

[2018-03-06 09:51] brancz commented on #1042
1) make sure your cluster meets the requirements for the stack: https://github.com/coreos/prometheus-operator/tree/master/contrib/kube-prometheus#prerequisites

2) could you try to make the services non load-balancer (just ClusterIP for now) and just access them via kubectl port-forward? I just want to make sure the load balancer services are not creating the problem.

3) The unauthorized part is

[2018-03-06 09:52] brancz commented on #1043
This is already fixed on master, we just have to do a release, sorry for the inconvenience.

[2018-03-06 09:52] brancz commented on #1043
There is one more feature I would like to implement then we'll do another release.

[2018-03-06 09:56] Atoms commented on #982
in kubespray PR is merged with fix for this
https://github.com/kubernetes-incubator/kubespray/pull/2184

[2018-03-06 10:22] mdacrema opened #1044 "Prometheus discovery with systemd-managed control-manager and scheduler"
**What did you do?**
I've deployed kube-prometheus via hack/cluster-monitoring/deploy

**What did you expect to see?**
No alerts in the prometheus alert page

**What did you see instead? Under which circumstances?**
K8SControllerManagerDown and K8SSchedulerDown alerts triggered

**Environment**

* Kubernetes version information:

Client Version: version.Info{Major:"1", Minor:"9", GitVersion:"v1.9.

[2018-03-06 10:30] brancz commented on #1044
You can similar to monitoring external etcd create a Service and Endpoints object manually and add the IPs + ports to your scheduler/controller-manager there. See here for the etcd example: https://github.com/coreos/prometheus-operator/blob/master/contrib/kube-prometheus/docs/Monitoring%20external%20etcd.md

[2018-03-06 11:05] ayashjorden commented on #1042
1. It seems that my `kubelets` (authorization-mode=Webhook are missing the `--authentication-token-webhook` flag.
1.1 They're configured with TLS key-pair in kubeconfig file. does that mean that I need to provide Prometheus pods with TLS secret to query the ApiServer and Kubelets?

I'm working on 2 and 3

[2018-03-06 11:11] brancz commented on #1042
Token authentication and TLS cert authentication are not mutually exclusive, you can and should use both, apiserver -> kubelet via TLS and Prometheus -> kubelet via ServiceAccount token.

The unauthorized part in the logs does look like some ServiceAccount/RBAC problem.

[2018-03-06 11:28] domcar opened #1045 "Cannot upgrade chart to use persistent volume claim"
**What did you do?**
helm upgrade --install --kube-context default --namespace aux
**What did you expect to see?**
Chart upgraded
**What did you see instead? Under which circumstances?**
Error: UPGRADE FAILED: failed to create patch: unable to find api field in struct Unstructured for the json field "spec"
**Environment**
GKE 1.9
* Kubernetes version information:

	Client Version: version.Info{Maj

[2018-03-06 12:16] mrueg commented on #1039
After thinking more about it, I guess it's not about the separate repository, but more about a missing tag/release process for it. Could you consider creating tags for its releases prefixed with `prometheus-config-reloader-$VERSION`?

[2018-03-06 12:31] ayashjorden commented on #1042
Hi @brancz,
I've cycled all k8s Worker nodes and now the `--authentication-token-webhook` is enabled on all of them.
On my ApiServer, the `authorization-mode` is set only to `Node,RBAC`, should I add the `Webhook`?

Please see [prometheus-pod-logs.log](prometheus-pod-logs.log) file.

Any other logs I can add?
Thank you
[prometheus-pod-logs.log](https://github.com/coreos/prometheus-operator/files/1

[2018-03-06 16:43] mdacrema commented on #1044
Ok, now it works!
Basically I had to edit actual endpoints which had "subsets:null" adding labels and correct addresses and ports.
Then I created services and all the alerts disappeared.

Thank you

[2018-03-06 17:46] mrueg commented on #1039
@brancz can you create a tag for it as a start?

[2018-03-06 17:54] brancz commented on #1044
Awesome! :tada:

[2018-03-06 17:54] #1044 closed

[2018-03-06 17:57] brancz commented on #1042
Are you sure your `ServiceAccount` setup works at all? On the clusters I work on (and that I can confirm that it works I only have `--authorization-mode=RBAC`. Could you run a conformance test on your cluster to make sure it's working properly?

[2018-03-06 18:27] brancz commented on #1039
We're currently doing changes to the prometheus-config-reloader, once we merge that PR I'll make sure to add a tag for it. (https://github.com/coreos/prometheus-operator/pull/1003)

[2018-03-06 18:37] ephur commented on #1042
I'm actually having a similar, but maybe different in scope, I used kube-prometheus as a base, but want to extend it to monitor a few other items. The logs are below, as well as the outputs showing that the roles in the proper namespaces are added for the service account.

Prometheus logs:
[code]

[code]

[code]
[code]

The same role with the same permissions exist in the `kube-system` namespace,

[2018-03-06 18:55] ephur commented on #1042
The issue I mentioned was solved when deleting the Prometheus pods and letting them get recreated.

[2018-03-06 19:10] ayashjorden commented on #1042
@ephur How your --authorization-mode looks like?

I don't understand what is missconfigured in my env...

[2018-03-06 20:11] ayashjorden commented on #1042
Removing `Node` from authorization-mode broke my cluster, added it **after** RBAC.

@ephur ,
In my cluster, I have three ApiServers, each one with own TLS crt/key from Vault, but all of them are from the same PKI backend - e.g. same CA.

Based on pure TLS, using the CA from which all keys were generated, should verify the tokens..., no?

[2018-03-06 20:38] ayashjorden commented on #1042
I totally missed https://github.com/kelseyhightower/kubernetes-the-hard-way/blob/8db0280ef6d311b1f4f23e6bab16019c3af7aaac/docs/08-bootstrapping-kubernetes-controllers.md

Didn't configure ApiServer `--service-account-key-file=/var/lib/kubernetes/ca-key.pem`
And ControllerManager :
[code]

Will report once I refactor my cluster to support that

Thank you all in the meantime 👍

[2018-03-06 21:23] StephanX commented on #992
This affected me as well.  I could not make release 17.0 work out of the box on a new cluster + volumeClaimTemplates ; building from master (I used sha 009c916d) did work, though.

[2018-03-07 01:10] leifmadsen commented on #860
@gianrubio in what version of Operator was the storage spec updated? I can't for the life of me get the persistent storage to deploy due to errors in the Go code (missing data for the deprecated methods):

[code]
I seem to be running `v0.17.0` so I'm a bit confused why I'm getting an issue with the Go structs complaining.

[2018-03-07 02:17] leifmadsen commented on #860
OK, actually after destroying my cluster, and doing another set of tests, I was able to figure out a working configuration:

[code]

I'll see what I can do about supplying a documentation update, because I wasn't able to get things working without defining the deprecated arguments.

(FYI this is being added to the old [deprecated?] `kube-prometheus/manifests/` because my environment doesn't allow

[2018-03-07 07:12] brancz commented on #992
@StephanX you can disable validations with `--with-validation=false`

[2018-03-07 09:52] xuchenhao001 opened #1048 "ServiceMonitors doesn't work for custom service"
**What did you do?**
Created a custom deployment & service (ceph)
**What did you expect to see?**
prometheus automatically add a target to ceph
**What did you see instead? Under which circumstances?**
There isn't any error, nor new prometheus target. But new service monitor is created successfully.
[code]
**Environment**
Ubuntu 16.04 x86, Kubernetes v1.8.4, prometheus-operator v0.17.0
* Kubernetes

[2018-03-07 10:09] brancz commented on #1048
Could you share the generated Prometheus config? (you can find it in `/config` of the Prometheus UI)

[2018-03-07 10:13] fripoli opened #1049 "Cluster monitoring + example service monitoring does not show up"
**What did you do?**

- Created a new cluster
- Cloned this repo
- Ran `hack/cluster-monitoring/deploy` - all fine
- Ran `hack/example-service-monitoring/deploy` - all fine

**What did you expect to see?**
`kubectl port-forward prometheus-frontend-0 9090`

Example service monitoring showing as a target in one of the prometheus

**What did you see instead? Under which circumstances?**

No example s

[2018-03-07 13:31] ayashjorden commented on #1042
@ephur Thank you for the shared TLS crt/key tip it worked!

[2018-03-07 13:31] #1042 closed

[2018-03-07 13:55] ayashjorden commented on #1042
What I still don't understand is:
- If all of the TLS crt/key pairs issued in my cluster, **are generated by the same CA**
- and the `controller-manager` uses Master1 TLS crt/key to sign tokens

Why Master2 or Master3 can't verify the tokens ?

[2018-03-07 14:07] xuchenhao001 commented on #1048
Sure. Here is the `/config`:
[code]

[2018-03-07 14:31] xuchenhao001 commented on #1048
Problem solved due to [issue890](https://github.com/coreos/prometheus-operator/issues/890#issuecomment-357867881). I record this for those who suffering with the same promblem:
First checkout the `prometheus` object:
[code]
Notice that:
[code]
So my `ServiceMonitor` object must contain a label with key `k8s-app`.
However, I used to have a label `k8s-apps` (that works before I upgrade `prometheus-o

[2018-03-07 14:31] #1048 closed

[2018-03-07 15:25] gianrubio commented on #860
I'm not quite sure when prometheus operator changed the spec, the issue was fixed in helm chart 2 weeks ago, please take a look on this PR https://github.com/coreos/prometheus-operator/pull/990

Closing this issue once the problem was solved.

[2018-03-07 15:25] #860 closed

[2018-03-07 17:03] fripoli commented on #1049
Even simply following this guide

https://coreos.com/operators/prometheus/docs/latest/user-guides/getting-started.html

I could not get any targets showing up on the prometheus UI

[2018-03-07 20:39] crandles opened #1052 "proposal: support configuring AlertManager mesh peers"
I would like to deploy an AlertManager mesh across multiple Kubernetes clusters. To do so, this would require some extra configuration of the `-mesh.peer` flag.

AM doesn't support service discovery [yet](https://github.com/prometheus/alertmanager/issues/645) -- ideally we would add an AlertingSpec, to the AlertmanagerSpec that would discover the other endpoints, similar to Prometheus.

Until that

[2018-03-08 08:12] dobesv commented on #731
I figured out a hack so that it will pick up ALL the service monitors without requiring any particular label on them:

[code]

It seems like this would be a better default / example value than always requiring `k8s-app`.

[2018-03-08 08:59] dobesv opened #1053 "Document method to use ALL service monitors, regardless of labels"
**What did you do?**

I added a service monitor and it wasn't picked up by prometheus.  After much head-scratching and digging I realized it was not matched by the `serviceMonitorSelector`.  I had followed an example that required all service monitors to have a label `k8s-app`.

**What did you expect to see?**

I expected prometheus to pick up on ALL service monitors.  It was not intuitive to me t

[2018-03-08 14:15] brancz commented on #1052
I completely agree with all your requirements and am open to discuss strategies to get there, however, I would like to hold off on implementations on this until we actually use the reworked gossiping which ships in Alertmanager `v0.15.0`.

[2018-03-08 14:22] brancz commented on #1053
Note that the kube-prometheus manifests are purely an example, and they're absolutely supposed to be picked up by you and modified to your need.

That said, I do agree that it would probably be more intuitive for people to just have the "all" selector there. Would you like to create a PR to change this?

[2018-03-08 15:09] #1002 closed

[2018-03-08 16:28] bgagnon opened #1055 "Alertmanager's data.retention option is not configurable"
Unless I am mistaken, there is no way to customize the `--data.retention` flag for the Alertmanager `StatefulSet` which defaults to 120 hours.

https://github.com/coreos/prometheus-operator/blob/dedb1f41e6c9229af05b88e16dc6cced39e2f0d6/pkg/alertmanager/statefulset.go#L165

Ideally, the `Alertmanager` CRD should support the same `retention` field as the Prometheus CRD.
For example, to set `retentio

[2018-03-08 17:05] brancz commented on #1055
Happy to accept PRs to add this!

[2018-03-08 18:10] tadasv opened #1059 "Pointing to custom alertmanager"
I started prometheus operator with helm. Now I'm about to deploy kube-prometheus with helm. Is it possible to point prometheus to an existing alertmanager that's running outside of kubernetes cluster?

I see `alertingEndpoints` option in`prometheus` config but it looks like you must point to alert manager inside the cluster.

We already have alertmanager running elsewhere, and we'd like to just se

[2018-03-08 18:42] #1049 closed

[2018-03-08 18:43] brancz commented on #1059
That's not possible today, however, I'm open to adding an option for "static" Alertmanagers.

[2018-03-08 18:45] brancz commented on #1059
As a work around that would work today: you can specify an `Endpoints` object and a respective `Service` where you manage the IP of the Alertmanager yourself. Very similar to how people monitor external etcd today: https://github.com/coreos/prometheus-operator/blob/master/contrib/kube-prometheus/docs/Monitoring%20external%20etcd.md

[2018-03-08 18:48] mrueg commented on #1039
@brancz Since #1003 is merged, can you provide a tag? Thanks a bunch!

[2018-03-08 19:06] brancz commented on #1039
We have yet to figure out something, but then we'll do that, yes.

[2018-03-08 19:35] tadasv commented on #1059
I'll look into Endpoints option a bit closer. But it seems that you can't point an endpoint to a CNAME. We run on AWS and we'd have to point to ELB since there's no guarantees that ELB IP will stay the same.

What would it take to support passing in arbitrary configuration to prometheus? I'd be willing to fork the code for my own use.

[2018-03-08 21:22] bgagnon commented on #1053
Is using an empty object actually supported today? I was under the impression this resulted in _zero_ service monitors being matched.

[2018-03-08 21:25] bgagnon commented on #1043
I also experienced this after upgrading a little too hastily to 0.17.
This redundant block helped pass validation:

[code]
Sticking with `v0.16.1` until this is fixed.

[2018-03-09 07:20] brancz commented on #1053
We/Kubernetes differentiate in:

* no selector / “null” : no servicemonitors selected
* empty selector “{}” : all servicemonitors in a namespace selected
* specified selector: select all matching servicemonitors in same namespace

[2018-03-09 07:27] brancz commented on #1059
That’s what I was trying to figure out. In that case I think it’s ok for us to accept allowing to set alertmanagers statically.

Note that you still want your alertmanager cluster to be HA and you need multiple ELBs to point at each instance.

[2018-03-09 17:14] ledor473 opened #1064 "Support Alertmanager move to kingping"
**What did you do?**
Tried to upgrade to Alertmanager >= v0.13.0

**What did you expect to see?**
A working Alertmanager

**What did you see instead? Under which circumstances?**
Pod stuck in CrashLoopBackOff

----

I've traced down the problem to this change: https://github.com/prometheus/alertmanager/pull/974

Since the format of the command line arguments changed, this logic should be changed:

[2018-03-09 17:16] dobesv commented on #1053
Created https://github.com/coreos/prometheus-operator/pull/1065

[2018-03-11 17:39] brancz commented on #1064
Which version of the Prometheus Operator are you using? This should be [fixed in `v0.16.1`](https://github.com/coreos/prometheus-operator/releases/tag/v0.16.1).

As the flags themselves are actually the same we just add an additional dash for Alertmanager `v0.13.0` and higher:

https://github.com/coreos/prometheus-operator/blob/e88fda4c182e26218bdd365e565b7a4cdd16ea5e/pkg/alertmanager/statefulset.

[2018-03-11 21:39] ledor473 commented on #1064
I completely missed that when looking at the code. We must be running an older version.

I'll close the issue right away as I'm confident it will work once upgraded 👍

Thanks @brancz

[2018-03-11 21:39] #1064 closed

[2018-03-12 09:39] MolenZhang opened #1070 "How can i add custom labels on prometheus metrics by serviceMonitor?"
**What did you do?**
    I use prometheus operator in k8s,and send alerts by alertmanager through webhook.
I added one prometheus target by serviceMonitor,and got the metrics like this:
[code]

**What did you expect to see?**
   I guess that there must be someway to add extra labels by serviceMonitor or prometheus,such as receiver="Bob",just like the following:
[code]

**Environment**

* Kubernete

[2018-03-12 14:41] gianrubio commented on #828
My first thought was not really clear let me explain again. I would like to have an way to configure the alerts not only in the configmaps. My proposal was to allow the serviceMonitor to accept alerts definition something like this:

[code]

In that case developers doesn't need to touch the configmap, they will only manipulate one file that will be the `serviceMonitor`.

[2018-03-12 15:35] brancz commented on #828
The biggest problem I have with that is that a lot of alerting rules don't correspond to a single ServiceMonitor, so the abstraction feels weird. If a developer can access the ServiceMonitor, what difference does it make to give her/him access to the ConfigMap?

[2018-03-12 18:01] bamb00 opened #1071 "node-exporter error: Path /proc is mounted on /proc but it is not a shared or slave mount"
**What did you do?**
Deploy prometheus-operator from  contrib/kube-system/hack/cluster-monitoring/deploy

**What did you expect to see?**
prometheus-operator and node-exporter deployed

**What did you see instead? Under which circumstances?**
* node-exporter failed with,

       failed to open log file "/var/log/pods/3722965f-2616-11e8-8fc0-02420ac00002/node-exporter_7.log": open /var/log/pods/372

[2018-03-12 18:24] HannanSolo opened #1072 "Cannot Deploy helm because of apiVersion"
**What did you do?**
Tried to install kuberneted prometheus on my GKE 1.9.2 cluster.
`helm install coreos/kube-prometheus --name kube-prometheus --namespace monitoring`

**What did you expect to see?**
Yay good job its up and running, have fun.

**What did you see instead? Under which circumstances?**
`Error: apiVersion "monitoring.coreos.com/v1alpha1" in kube-prometheus/charts/exporter-kube-state

[2018-03-12 19:24] HannanSolo commented on #1072
Thanks for the quick reply!!
So i tried that a got a huge Auth error.

[code]
And I think I should already know how to do this, do you have any tips?

[2018-03-12 19:26] gianrubio commented on #1045
@domcar I did a PR #1074 to fix the `storageSpec`, somehow this document was not updated since the last change in `storageSpec`. Please adapt your values to the same format suggested in the new example.

[2018-03-12 19:55] gianrubio commented on #1001
@domcar one way to avoid this issue is to have a flag to control if some dependencies from kube-prometheus will be deployed. Looking on [alertmanager example](https://github.com/coreos/prometheus-operator/blob/master/helm/kube-prometheus/requirements.yaml#L6) on how it's possible to skip the installation of a dependency.

PR are always welcome :)

[2018-03-12 19:59] gianrubio commented on #1072
This looks related on how GKE manage permission, I have no experience with GKE so I can't help you. Theres a similar issue [here](https://github.com/coreos/prometheus-operator/issues/357) discussing GKE + RBAC + prometheus operator.

[2018-03-12 22:13] #1045 closed

[2018-03-13 03:03] brancz commented on #1071
Given that this is the very first time I am hearing of this, is there anything special about your cluster and or how you run the kubelet?

[2018-03-13 08:10] gianrubio commented on #964
Marking this issue because we didn't receive any reply

[2018-03-13 08:10] #964 closed

[2018-03-13 09:53] terrada3 opened #1076 "Current: `{{ container_name`}} is not expanded on grafana dash bord."
**What did you do?**
install  kube-prometheus and prometheus-operator by using helm

**What did you expect to see?**
Container names are shown in pods dashbord.

**What did you see instead? Under which circumstances?**
A variable that is container_name is not expanded actual value.

[code]

Other variables are not expanded too.
![image](https://user-images.githubusercontent.com/4397382/37334491-5e

[2018-03-13 14:01] gianrubio commented on #1076
This is a know issue,  introduced on #1006. @vglafirov do you have time to work on this issue?

[2018-03-13 14:52] nabadger commented on #695
Hi,
Doing the re-label via `kube_pod_labels` at query time seems quite a handful when you end up with lots of recording rules / alerts.

Our current use-case would be to create an environment label on each service, but if we consider that it's super easy to (and useful) to create labels on k8s, we'll want to extend this further.

Given the amount of rules we have (then add on 3rd-party ones), ther

[2018-03-13 19:52] bamb00 opened #1077 "prometheus statefulsets volumeClaimTemplate lstat error for hostPath"
**What did you do?**
Deploy prometheus statefulsets with persistent volume hostPath

**What did you expect to see?**
hostPath volume getting mounted

**What did you see instead? Under which circumstances?**
        The persistent volume is successfully bound in Persistent Volume.  The error below is from the prometheus statefulsets pod the dir did not get mount in /tmp/.../

        Error: lstat /

[2018-03-13 22:40] bgagnon opened #1078 "Setting the `namespace` for `alertmanagers` to the current namespace in the `alertsmanager` of a Prometheus spec"
This is a feature request for a way to set `namespace` of Alertmanager endpoints based on the namespace of the Prometheus custom resource itself.

[code]

The [`endpoints` discovery role](https://prometheus.io/docs/prometheus/latest/configuration/configuration/#endpoints) for `kubernetes_sd_config` supports an empty `namespaces` array, but this will match endpoints from _all_ namespaces, which is

[2018-03-13 22:45] wombat opened #1079 "Installing kube-prometheus on Azure AKS fails"
**What did you do?**
I tried installing `kube-prometheus` after installing `prometheus-operator`

**What did you expect to see?**
Install finished successfully

**What did you see instead? Under which circumstances?**
The install failed with:
[code]

**Environment**
* Kubernetes version information:
[code]

* Kubernetes cluster kind:
Azure AKS

* Manifests:

https://github.com/coreos/prometheus-op

[2018-03-13 23:03] vglafirov commented on #1076
@gianrubio #1081 should fix this issue.

[2018-03-14 02:20] brancz commented on #1079
This seems like an RBAC issue very similar to what people encounter [on GKE](https://github.com/coreos/prometheus-operator/blob/master/Documentation/troubleshooting.md#rbac-on-google-container-engine-gke).

If I'm not mistaken, you are the first person to report running on Azure AKS, so we'd love to get this in a similar style into our troubleshooting doc!

[2018-03-14 02:23] brancz commented on #1078
I think it's reasonable to use the same namespace when unspecified. Would you like to shoot us a PR, to add this?

[2018-03-14 02:27] brancz commented on #1077
I'm not 100% sure, but I believe everything is working as intended here, the `PersistentVolume` expects that you have already created the `/tmp/mydir` directory on your host in order to use it as a volume. I believe local-volumes in Kubernetes is more what you are looking for (which is an alpha feature right now I believe).

[2018-03-14 02:40] #1070 closed

[2018-03-14 04:02] bgagnon commented on #256
An update on this:

I now have working relabelings for a `Servicemonitor` + `blackbox_exporter` combo.
I ended up generating the `Servicemonitor` from a Python controller, but it should be easy to adapt for other cases.

Here's the piece of code that generates an endpoint:

[code]

I'm adding several dozens of hose to the same `Servicemonitor` with different values for `target_url`. They each poin

[2018-03-14 04:03] #1077 closed

[2018-03-14 06:05] terrada3 commented on #1076
@gianrubi, @vglafirov
Thank you so much. And sorry for my slow reply.

[2018-03-14 07:50] sebglon opened #1083 "Alertmanager source url not use Prometheus external url"
**What did you do?**
Whit Helm, i use prometheus and alertmanager with inngress and fqdn.

**What did you expect to see?**
Ingress work well with fqdn
But external url are not valueted with fqdn.
prometheus external url is: http://monitoring-prometheus.monitoring:9090

**What did you see instead? Under which circumstances?**
Is it normal?
Is it possible to populate prometheus external Url with you

[2018-03-14 07:54] gianrubio commented on #1076
Fixed by #1081

[2018-03-14 07:54] #1076 closed

[2018-03-14 08:01] gianrubio commented on #1083
Did you setup the [externalUrl](https://github.com/coreos/prometheus-operator/blob/b6fcff5a19cf807bc28429de608e7173fee95313/helm/prometheus/templates/prometheus.yaml#L31) parameter? Could you share your values.yaml?

[2018-03-14 08:12] sebglon commented on #1083
I not set externalUrl. Because I thought it was done with the fqdn.
Why to not put fqdn on externalUrl if it is specified?

[2018-03-14 09:52] tomplus commented on #1059
Duplicated: https://github.com/coreos/prometheus-operator/issues/871

I had the same problem and I've implemented a workaround. Settings static endpoints to alertmanagers would be great.

[2018-03-14 10:20] brancz commented on #256
I actually really like your approach as it’s very similar to what I was imagining to automate with the BlackboxMonitor as described in #923.

[2018-03-14 10:47] brancz commented on #1059
@tomplus in hindsight, I think it would be ok to enable use of static (dns) addresses. This will probably require authentication as well, which we've been meaning to add anyways.

[2018-03-14 10:50] brancz commented on #1083
Yes.

[2018-03-14 11:02] tadasv commented on #1059
@tomplus I made a workaround for now also. Since endpoints needs IPs, I created a very simple service that runs nginx which proxies to ELB DNS.

[2018-03-14 11:54] jpiper opened #1084 "kubelet endpoint isn't created if a single node fails"
**What did you do?**
When you manually add a node to kubernetes that hasn't yet come up (i.e. `kubectl describe node <node>` only shows an `ExternalID` and not `InternalIP` or `Hostname`) this prevents the kubelet endpoint from being generated,

**What did you expect to see?**
I expect the endpoint object to come up with the rest of the nodes.

**What did you see instead? Under which circumstances

[2018-03-14 20:20] dimm0 commented on #744
Still looking forward to getting this done (although I've already implemented a bunch of workarounds, none of them seem to be completely fixing the issue)

[2018-03-14 22:38] brancz commented on #1077
The Prometheus objects supports anything that a statefulset supports, but you of course need to satisfy the requirement of hostpath.

[2018-03-15 00:29] metalmatze opened #1086 "Add static_configs to ServiceMonitor"
**What did you do?**
I'd like to use the combination of ServiceMonitors and static configuration for Federation.

**Use Case**: I want to run a Prometheus that scrapes a bunch of exporters and other apps via ServiceMonitors, but at the same time scrape other Prometheus via Federation with an URL like this: https://prometheus.example.com/federate

**What did you expect to see?**
I expected there to

[2018-03-15 00:30] shavo007 opened #1087 "All kube-prometheus-exporter-node pods crashing"
**What did you do?**

Installing charts:

[code]

**What did you expect to see?**
All resources up and running

**What did you see instead? Under which circumstances?**
All pods for kube-prometheus-exporter-node are crashing

**Environment**
Kops 1.8

I have 3 masters and 2 worker nodes

Cluster:
[code]

* Kubernetes version information:

	Client Version: version.Info{Major:"1", Minor:"8", GitVers

[2018-03-15 00:32] shavo007 commented on #816
just tried charts again and still broken :-( #1087

[2018-03-15 02:10] bamb00 opened #1088 "Unable to see Targets for prometheus-frontend"
**What did you do?**
Deploy prometheus-operator, prometheus-frontend with serviceaccount, roles, rolebinding.

**What did you expect to see?**
Not getting metrics at http://ip_address:30100

The prometheus-frontend is  using system:serviceaccount:monitoring:prometheus-frontend and the serviceAccountName: prometheus-frontend is set in the prometheus-frontend deployment

**What did you see instead?

[2018-03-15 04:54] shavo007 opened #1089 "grafana pod crashing due to persistent volume"
**What did you do?**
Install helm charts

**What did you expect to see?**
Grafana up and running with persistence

**What did you see instead? Under which circumstances?**
[code]

**Environment**
Kops 1.8 on aws

* Kubernetes version information:

[code]

* Kubernetes cluster kind:

	 kops,

* Manifests:

[code]

* Prometheus Operator Logs:

I see the volume is dynamically created with the claim i

[2018-03-15 07:46] gianrubio commented on #1087
Seem like you are running an outdated version of the helm charts, the  node-exporter version is 15.2 since 3 months ago.

What version of the charts are you running (`helm list`) ?
Did you run `helm repo update` before installing this charts?

[2018-03-15 07:51] gianrubio commented on #1089
Maybe the storageSpec example in grafana are outdated, could you try to use [the same notation](https://github.com/coreos/prometheus-operator/blob/master/helm/prometheus/values.yaml#L280-L288) that we use in prometheus?

[2018-03-15 12:15] shavo007 commented on #1087
You could be right! Maybe the chart is already cached.. @gianrubio I'll verify tomorrow morning in work.

[2018-03-15 12:18] gianrubio commented on #1087
No problem! Feel free to reopen the issue if it was not the case

[2018-03-15 12:18] #1087 closed

[2018-03-15 12:24] mxey opened #1090 "[helm] exporter-kube-state chart ignores replicaCount"
In the deployment template, replicas is overwritten with value `1`: https://github.com/coreos/prometheus-operator/blob/master/helm/exporter-kube-state/templates/deployment.yaml#L15

**What did you do?**

`helm install coreos/exporter-kube-state --set replicaCount=2`

**What did you expect to see?**

[code]

**What did you see instead? Under which circumstances?**

[code]

**Environment**

* Kubern

[2018-03-15 12:36] mxey opened #1091 "Allow monitoring of service as one instance instead of many endpoints"
prometheus-operator only configures Prometheus for Kubernetes-SD of endpoints of services. Prometheus can discover other resources as well: https://prometheus.io/docs/prometheus/latest/configuration/configuration/#<kubernetes_sd_config>

For some services, like kube-state-metrics in particular, it would be useful to run multiple instances for redundancy, but have Prometheus only query one of them,

[2018-03-15 14:05] gianrubio commented on #1090
@mxey do you mind to make a PR to fix that?

[2018-03-15 14:16] wombat commented on #1079
@brancz thats what I thought too but from what I read is that RBAC is only available from AKS GA onward (https://github.com/Azure/AKS/issues/67).
I noticed that when I clone the repo and change the default value for `rbacEnable` to false, it deploys the chart. So from what it looks to me, the flag on the commandline is not correctly handled.

[2018-03-15 14:18] wombat commented on #1079
I also noticed that the exporters for `kube-dns` and `apiserver` don´t work due to the way AKS configures the services. Healthchecks and ports are different to the way the chart tries to look them up.

[2018-03-15 18:02] bamb00 commented on #1077
@brancz The hostPath is use in PersistenVolume but the volumeMounts has to set in prometheus statefulsets.  I don't see how that is set.

[2018-03-16 00:16] shavo007 commented on #1087
fantastic! all good @gianrubio

[code]

Note to self always update the charts! ;-)

[2018-03-16 00:55] shavo007 commented on #1089
changed but fails validation:

[code]

[code]

The format is different for grafana https://github.com/coreos/prometheus-operator/blob/master/helm/grafana/values.yaml#L70

[2018-03-16 02:35] chlung opened #1093 "Unable to retrieve metrics from k8s custom metrics server"
**What did you do?**
I deploy Prometheus Operator(kube-prometheus/hack/cluster-monitoring/deploy) and custom metrics server(kube-prometheus/manifests/custom-metrics-api).  The metrics are able to access through curl and kubectl but not from direct api call inside a program.  I try to know if I miss somehing.

**What did you expect to see?**
I am calling /apis/custom.metrics.k8s.io/v1beta1/namespac

[2018-03-16 02:53] brancz commented on #1077
The Prometheus object supports PVCs and doesn't intend to support any lower level specification. If you want hostpath PVs, then make them be selected by the PVC requirements. I recommend reading this: https://kubernetes.io/docs/concepts/storage/volumes/#hostpath

In your case I believe all you're missing is the `DirectoryOrCreate` type.

[2018-03-16 02:55] brancz commented on #1084
This should be fixed. @ant31 could you have a look at this?

[2018-03-16 02:56] jpiper commented on #1084
Just want to clarify, this is the case of manually adding a node resource before the cluster has ever seen the node. In this case, I was applying node labels before a node had come up.

[2018-03-16 02:59] brancz commented on #1084
Sorry for not being very elaborate. I think you're request is legitimate, we should log that this happened and increase a counter to a metric (which we have to introduce in the first place), but continue to reconcile further as if everything was ok.

[2018-03-16 03:01] jpiper commented on #1084
Sounds good :) I was re-reading my bug report which had some typos/omissions in it (I was up late debugging when I wrote it) and wanted to make sure that it was clear :)

[2018-03-16 03:15] brancz commented on #1093
This is likely something to ask in the adapter repository, as I believe it's about using the API correctly. This walk through is slightly outdated, but except for the apiGroup change it should conceptually work similarly.

[2018-03-16 03:18] chlung commented on #1093
@brancz I will post the question to adapter repo.  Thanks.

[2018-03-16 03:19] #1093 closed

[2018-03-16 04:14] jpiper opened #1094 "no way to set insecureSkipVerify for alertmanager connections"
I have the problem that I need to use an external alert manager. I've created an endpoint object and service as mentioned in https://github.com/coreos/prometheus-operator/issues/871#issuecomment-356598118

The problem I'm having here is that my company doesn't sign certs for IP addresses, so I can't push via https to our external alertmanager unless I could can enable `insecureSkipVerify` for aler

[2018-03-16 05:43] bamb00 commented on #1077
I'm using k8s 1.7.4 which has not supported type: DirectoryOrCreate

[2018-03-16 08:33] xytis commented on #828
Perhaps providing another "Kind: Alert" would solve this issue?

I assume it would be beneficial to allow developers to define Alerts in their dedicated namespaces, where a remote service would consume those objects and reconfigure alertmanager that is dedicated to particular scope (or somehow matched by labels akin to "Kind: Ingress").

[2018-03-16 09:28] MihaiAnei commented on #914
@gianrubio Sorry for the late reply! I made a PR with that small fix :)

[2018-03-16 09:57] shenshouer commented on #633
@lzbgt thks

[2018-03-16 10:56] metalmatze opened #1097 "Add statefulset_errors_total metric with alert"
**What did you do?**
Run the Operator and probably update the Prometheus CRD.

**What did you expect to see?**
The StatefulSet should be updated.

**What did you see instead? Under which circumstances?**
The StatefulSet was not updated. I could see this in the logs:

[code]

I'd like to have a metric for this, so we can alert on the `sum(rate(prometheus_operator_statefulset_errors_total[5m]))`. I

[2018-03-16 11:59] brancz commented on #1077
In that case you just need to make sure it already exists on the host.

[2018-03-16 14:46] brancz commented on #1091
I understand your reasoning, but at the same time I wonder how much an HA setup of kube-state-metrics is actually worth, unless there is something wrong with the host it runs on, I don't see the value of having kube-state-metrics HA, a new Pod, kube-state-metrics is a mirror of the API/etcd, so if it has a memory leak all HA pairs would be affected in the same way.

At one point we actually did ru

[2018-03-16 14:54] mxey commented on #1091
My intent was to avoid it going down if there is something wrong with the host, yes.

[2018-03-16 15:25] crandles commented on #1094
I think it might be better to surface the `tls_config` ([TLSConfig](https://github.com/coreos/prometheus-operator/blob/master/Documentation/api.md#tlsconfig)) to follow how those configurations are exposed in other resources

[2018-03-16 15:27] jpiper commented on #1094
Ah good idea, I can redo my PR on Monday :)

[2018-03-16 15:27] brancz commented on #1086
I think this is reasonable, in turn this incidentally also solves #1091 for most cases I imagine.

[2018-03-16 15:44] brancz commented on #1097
I think a general metric on "prometheus_operator_reconcile_errors_total" would catch this and further issues. Big thumbs up! :+1:

[2018-03-16 15:57] lorenzo-biava commented on #633
@lzbgt Sorry I've missed this; I've not been working with Kubernetes and Prometheus Operator lately, but it's definitely good to know that there's a dedicated doc for `kubeadm` configurations now. Thanks for pointing that out :wink:

[2018-03-16 18:54] crandles commented on #1052
I think we should be able to leverage the `StaticConfigs` in #1100

[2018-03-17 06:18] brancz commented on #1052
I think I'd prefer not to mix the two concerns, I think I'm happy with having this in the Alertmanager object itself.

[2018-03-17 08:56] #1090 closed

[2018-03-17 09:36] #914 closed

[2018-03-17 16:14] Chehai opened #1102 "Alert rule configmap example in Documentation/user-guides/alerting.md has incorrect label selector for role"
**What did you do?**
I set up an alert rule configmap using the example in Documentation/user-guides/alerting.md
[code]

**What did you expect to see?**

I expected to see ExampleAlert shows up in alertmanager.

**What did you see instead? Under which circumstances?**

No alerts were generated.

**Environment**

* Kubernetes version information:

Client Version: version.Info{Major:"1", Minor:"9",

[2018-03-18 09:54] #1094 closed

[2018-03-19 04:32] whypro opened #1104 "Add `--node-exporter-service` cmd arg to automatically create service and endpoints for node-exporter"
**What did you do?**
Our cluster deploy node-exporter by raw deb pkg instead of daemonset because k8s 1.7 is not support mount propagation. So we have to create node-exporter endpoints manually and maintain a list of cluster nodes. It would be a nightmare when add/delete node to/from cluster frequently.

**What did you expect to see?**

So I suppose it would be better if prometheus-operator give a

[2018-03-19 08:27] #1097 closed

[2018-03-19 10:02] brancz commented on #1102
Actually the Prometheus object in the [alerting docs](https://github.com/coreos/prometheus-operator/blob/master/Documentation/user-guides/alerting.md) has the correct label, but it would make sense to unify them.

[2018-03-19 10:06] brancz commented on #1104
Are you thinking of the hack scripts or helm?

[2018-03-19 11:32] ehvattum opened #1106 "grafana extravars not quoting strings that needs to be quoted."
**What did you do?**
I attempted to set an environment variable in the deployment that is created with the grafana chart.
 `--set extraVars[0].name=GF_AUTH_GOOGLE_ENABLED --set extraVars[0].value="true"`

**What did you expect to see?**
The envrionment variable `GF_AUTH_GOOGLE_ENABLED` injected into the deployment with the value of `"true"`

**What did you see instead? Under which circumstances?**

[2018-03-19 12:51] mxinden commented on #1088
@bamb00 Thanks for your bug report.

Do I understand correctly that you are facing the following two issues:
- prometheus-frontend not discovering the example-app targets
- Retrieving the `/metrics` endpoint from the prometheus-frontend instance

Did you use the [./hack/example-service-monitoring/deploy](https://github.com/coreos/prometheus-operator/blob/master/contrib/kube-prometheus/hack/example

[2018-03-19 13:13] JMLizano commented on #592
Hi,
don't know if currently there is any on going work on this, but I think it is a great idea. I have started to work in the development of the standalone alertmanager chart, and I have come to a point where I am not sure how to go on. Here are my questions/decisions to the moment:

* Offer two installing modes, configurable through 'deploymentMode' parameter on values.yaml:
    * Install as a st

[2018-03-19 13:41] mxinden opened #1109 "Support Alertmanager >=v0.15.0"
With Alertmanager >=v0.15.0 the gossip library changes to https://github.com/hashicorp/memberlist. With the library, Alertmanager flags change.

This issue tracks the effort of supporting new Alertmanager versions with the Prometheus operator.

[2018-03-19 14:36] Chehai commented on #1102
Thank you for unifying them to avoid confusion for first-time users!

[2018-03-19 15:02] brancz commented on #592
1) If there is a case that you can't handle with the prometheus operator then please open an issue so we can discuss how to integrate your use case in a meaningful way into the operator
2) The helm charts here should only concern those deployments that use the prometheus operator. The helm charts are as is a giant maintenance burden (well handled thanks to @gianrubio ), we need to scope the effort

[2018-03-19 15:03] #1102 closed

[2018-03-19 15:37] ehvattum opened #1110 "Grafana: Support setting secrets from values or by overriding with --set"
**What did you do?**
Try to deploy a release of grafana with google auth.

**What did you expect to see?**
Sensitive credentials like `GF_AUTH_GOOGLE_CLIENT_SECRET` not stored in the plain yaml file of the deployment.

**What did you see instead? Under which circumstances?**
Sensitive credentials stored plainly, since there are no extension points into which I can create additional secrets.

It wo

[2018-03-19 15:50] tonglil commented on #218
Are there any updates on this? It would be a huge blessing for using Prometheus operator more generally for easy operations to support the collection of any metrics, not just ones from in the cluster.

[2018-03-19 16:57] Nonymus opened #1113 "helm: prometheus secrets default is empty map, should be empty list"
**What did you do?**
Used `kube-prometheus` helm chart as dependency in a tailored monitoring system. In its values.yaml, added a secret for prometheus:
[code]
**What did you expect to see?**
Helm will install and configure the chart without complaining.

**What did you see instead? Under which circumstances?**
The end result is working as expected, but helm issues a warning:
`warning: cannot over

[2018-03-19 17:12] optiomas opened #1114 "Support for monitoring external HTTPs targets"
**What did you do?**

In order to monitor a service external to the cluster, I followed your example at https://github.com/coreos/prometheus-operator/blob/master/contrib/kube-prometheus/docs/Monitoring%20external%20etcd.md.

**What did you expect to see?**

A successfully scraped target.

**What did you see instead? Under which circumstances?**

Prometheus reports the target returns a 404. The rea

[2018-03-19 18:41] stonefury commented on #834
@amalucelli  I'm currently trying to get external nodes monitored.  Your example was very close but the service file looked like it was missing the port:.  Could you confirm this still works? I just set this up via the specs below but it doesn't seem to be working.

`pet-bfleming-2:try3 bfleming$ cat *
apiVersion: v1
kind: Endpoints
metadata:
  name: my-internal-server
  labels:
    k8s-app: node-

[2018-03-19 18:59] amalucelli commented on #834
@stonefury yes! I've compared and reviewed your configuration based on my working stack and your configuration looks good, the only thing that differs are the `k8s-app` label and the `ip` address.

Can you review the following points?

1. The `Service` and `Endpoints` were created in `monitoring` namespace?
2. Are your `Prometheus` configured to select the `k8s-app` label?

[code]

As far as I kno

[2018-03-19 19:42] stonefury commented on #834
@amalucelli  I cleaned up some of my failed attempts, and maybe I needed to wait a little longer for data to show up. It works! Fantastic, thanks for your post on this, and really appreciate you responding so quick. You should create a gist for this. That example is very useful.

[2018-03-19 19:57] chancez opened #1115 "Incorrect metrics for pod_name:container_cpu_usage:sum"
https://github.com/coreos/prometheus-operator/blob/master/contrib/kube-prometheus/manifests/prometheus/prometheus-k8s-rules.yaml#L398-L400 doesn't seem to group by namespace with pod, meaning pods that have the same name across namespaces will be grouped together.

[2018-03-19 21:04] ayashjorden opened #1116 "Deploying kube-prometheus from master branch causing "x509: certificate signed by unknown authority""
**What did you do?**

1. Checkout branch master
2. From `contrib/kube-prometheus` run hack/cluster-monitoring/self-hosted-deploy
3. Watch pod's `prometheus-k8s-0` (or 1) logs shouting: `x509: certificate signed by unknown authority`
4. Checkout tag 0.17.0
5. run hack/cluster-monitoring/self-hosted-deploy
6. Prometheus is successfully gathering metrics, strange.

**What did you expect to see?**
Reg

[2018-03-19 21:30] amalucelli commented on #834
That's nice @stonefury!

For the friendly name, some considerations/ideas:

Grafana use the following templating on `nodes-dashboard.json` to suggest the `IP`:`Port` list:

[code]

Querying Prometheus for `node_boot_time`, Grafana use the [`label_values`](http://docs.grafana.org/features/datasources/prometheus/#query-variable) function based on the `instance` label, that will return all of our nod

[2018-03-19 21:40] vsinha commented on #695
I'm also interested in the capability. We deploy different configs of our service with identifying labels and it'd be ideal to see these propagated through Prometheus Operator so I can select using them in Grafana.

Forwarding all labels with a prefix seems ideal for my use case.

[2018-03-20 08:08] alexppg opened #1118 "Grafana chart pointing to nowhere"
**What did you do?**
Install the grafana chart.
**What did you expect to see?**
I expected to it to work correctly.
**What did you see instead? Under which circumstances?**
It did, mostly. By default, the prometheus datasource points to `http://{{ printf "%s-%s" .Release.Name "prometheus" }}:9090`. As I understand, this is not correct. By adding the "release name" namespace, it's impossible to mak

[2018-03-20 08:20] olvesh commented on #695
I have replicated the coreos alerts with grouping where applicable. Just looking for personal time to create a PR, if there is interest?
E.g.
[code]

[2018-03-20 11:48] hamid2013 opened #1119 "Monitoring the Heap related stuff"
**What did you expect to see?**
We want to monitor the Heap Memory used/Heap memory assigned for all the pods which has this.

**Environment**
QA

* Kubernetes version information:
Client Version: version.Info{Major:"1", Minor:"7", GitVersion:"v1.7.1", GitCommit:"1dc5c66f5dd61da08412a74221ecc79208c2165b", GitTreeState:"clean", BuildDate:"2017-07-14T02:00:46Z", GoVersion:"go1.8.3", Compiler:"gc", P

[2018-03-20 13:13] brancz commented on #1119
This is unrelated to the Prometheus Operator, it's about usage of Prometheus/Alertmanager.

It makes more sense to ask questions like this on the [prometheus-users mailing list](https://groups.google.com/forum/#!forum/prometheus-users) rather than in a GitHub issue. On the mailing list, more people are available to potentially respond to your question, and the whole community can benefit from the

[2018-03-20 13:13] #1119 closed

[2018-03-20 13:15] brancz commented on #1118
@gianrubio is probably the best to answer this :slightly_smiling_face:

[2018-03-20 13:55] brancz commented on #1116
This is likely the problem, your TLS certificates seem like they are not valid for this IP, they should be valid here.

[2018-03-20 13:56] brancz commented on #1115
you're absolutely right, would you like to shoot us a PR? :slightly_smiling_face:

[2018-03-20 13:58] brancz commented on #1114
Dupe of #218, although in your case, you can only do blackbox probes on a jira instance, extracting metrics from it would not be whitebox monitoring and you would get all sorts of distorted results. External services would be the wrong approach.

[2018-03-20 13:58] #1114 closed

[2018-03-20 15:19] stonefury commented on #834
Thanks @amalucelli .  I don't quite understand your suggestion on getting friendly values. I tried a few things, but I think I just need to learn more about grafana and prometheus. At this point I'm just familiar with the k8s aspect of it.

[2018-03-20 16:20] MIllgner opened #1121 "StorageSpec for prometheus's persistent volume is not picked up by prometheus-operator"
**What did you do?**
I tried to configure prometheus-operator's value file to get a PVC/PV instead of an emptyDir{}. I did it with following commands:

helm upgrade -i prometheus-operator coreos/prometheus-operator  --namespace monitoring
helm upgrade -i kube-prometheus coreos/kube-prometheus  --namespace monitoring -f values.yaml

**What did you expect to see?**

I expected to get a PVC and a PV

[2018-03-20 17:08] gianrubio commented on #1110
@ehvattum indeed these variables are not stored in secrets, do you want to contribute to the project doing a PR?

[2018-03-20 17:10] gianrubio commented on #1113
Closed by #1112

[2018-03-20 17:10] #1113 closed

[2018-03-20 17:31] optiomas commented on #1114
@brancz: Thanks for triaging. We're using this exporter in JIRA: https://github.com/AndreyVMarkelov/jira-prometheus-exporter/

Not sure what you mean by external services being the wrong approach. The JIRA instance is living outside of our Kubernetes cluster.

[2018-03-20 18:45] gianrubio commented on #1118
Sorry @alexppg  but I don't get what didn't work in your setup or what do you want to make configurable, could you explain again? Please give more info like variables, logs or how did you create the charts.

[2018-03-20 18:50] gianrubio commented on #1121
It happened the same to me yesterday but I forgot to fill an issue, for some reason the upgrade in the `storageSpec` in the Prometheus `crd` are not triggering a change to the statefulSet of prometheus.

@MIllgner could you provide logs from prometheus-operator when you added the storageSpec?

[2018-03-20 19:07] gianrubio commented on #1106
This is not a bug in the grafana chart but in helm templating, I can see other users having the same [issue](https://github.com/kubernetes/helm/issues/1707). Seems like a [PR](https://github.com/kubernetes/helm/pull/3599) is open to fix that helm behaviour.

I'm closing this issue because it can be fixed here, feel free to reopen or add more comments.

[2018-03-20 19:07] #1106 closed

[2018-03-20 21:53] stonefury commented on #907
I'm on .17, and using k8s deployed on aws using kops.

I run:

hack/cluster-monitoring/deploy

But controllers and scheduler has an empty chart.

[2018-03-20 22:37] vsinha commented on #926
for future googlers, changing the kubelet `ServiceMonitor`  to look for the http endpoints on port 10255 worked for me:

(`prometheus-k8s-service-monitor-kubelet.yaml` for the `hack/` example)

`port: https-metrics` changes to `port: http-metrics`  (in code [here](https://github.com/coreos/prometheus-operator/blob/7a8bc75512e39a984f46b2788b5fa9bf64999571/pkg/prometheus/operator.go#L400))
[code]

[2018-03-21 07:50] alexppg commented on #1118
Sure @gianrubio, I'll explain myself.
When you use the grafana chart, it creates a prometheus datasource, which is pointing to `http://{{ printf "%s-%s" .Release.Name "prometheus" }}:9090`. Since the grafana chart doesn't include the installation of prometheus, it means that it will never point to a real installation of prometheus.
For example:

`helm install -f microservice.yml --namespace monito

[2018-03-21 09:06] MIllgner commented on #1121
@gianrubio I see following error in the prometheus-operator log:

[code]

[2018-03-21 09:55] brancz commented on #1114
The Jira exporter is a per process exporter, you need to run an instance of the exporter for each Jira server (even each HA pair etc), so pointing Prometheus at an external load balancer address, will give you wonky results.

[2018-03-21 10:48] brancz commented on #1121
This is not a bug, it's just that storage cannot be changed after it was initially created. What we could probably do is that we recreate on any changes to an emptydir volume or a change from emptydir -> storage, but we can't modify any storage that is already in place.

[2018-03-21 11:11] brancz commented on #1121
For now you need to re-create the Prometheus object, we'll have to clarify why this happens in the StatefulSet controller, and if it makes any sense to override this behavior on our side, or if possible just fix things upstream.

[2018-03-21 11:33] richerve commented on #1118
@alexppg the kube-prometheus Chart is self-contained, is basically a wrapper that include a bunch of other Charts like grafana and prometheus. You will need to do only one installation of `kube-prometheus` and that will install and configure grafana, prometheus and exporters. Doing a `helm install` (a Release) for each one doesn't make sense as you're duplicating all other resources under each Rel

[2018-03-21 11:38] richerve commented on #1121
Meanwhile you can do `kubectl delete sts prometheus-kube-prometheus` and in the next loop the new StatefulSet will be picked up and the volume configured. This will not delete the Pods but if you have only one replica the service will be down for a moment.

[2018-03-21 11:42] richerve commented on #1110
@ehvattum Right now you can specify those variables in `extraVars` and use a Secret to reference the values, that's what I'm doing to configure an external RDS db. You will need to manage the Secret creation as this will not be handled by kube-prometheus.

[2018-03-21 11:43] mr-prud commented on #1121
I think is a bug, because even in creation the prometheus-operator api invalid request when
` spec.storage.class in body is required`
` spec.storage.selector in body is required`
` spec.storage.resources in body is required`
Actually we must set spec.storage.[class,selector,resources] with empty value to be "api compliant" but this value are not used.
the storageSpec.volumeClaimTemplate is suffici

[2018-03-21 11:55] brancz commented on #1121
yeah that's a bug as described in #992 we're soon gonna be releasing a new version that will fix this

[2018-03-21 12:03] optiomas commented on #1114
We’re running a single instance :-)

[2018-03-21 12:09] ehvattum commented on #1110
I'm working on a general fix to this, and will submit a PR.

[2018-03-21 12:37] richerve opened #1127 "Question: Grafana Helm Chart >= 5.0.0 and grafana-watcher"
Given that with Grafana version 5.0.0 the functionality provided by grafana-watcher is basically built-in, I think it makes sense to remove the requirement of grafana-watcher and refactor the helm chart to use this built-in features.

My main question is how to approach this?
1. Modify the grafana Helm Chart on prometheus-operator and bump the major version (or at least the minor if we want to sta

[2018-03-21 12:43] MIllgner commented on #1121
@brancz @richerve @mr-prud Thanks for the explanation. I deleted the statefulSet and now the storageSpec is picked up by prometheus-operator. When the forementioned bug is fixed, I will remove the depricated values too.
By the way, I tried to follow prometheus' s storage users guide:
https://github.com/coreos/prometheus-operator/blob/master/Documentation/user-guides/storage.md
which was not really

[2018-03-21 13:13] ayashjorden commented on #1116
Its hard for me to believe so.
As I explained: Deploying from `master` was failing with the error in the OP, **but** deploying tag `0.17.0` worked perfectly

[2018-03-21 13:27] brancz commented on #1114
I'll put my infra hat on and say you should, but in terms of metrics in your situation that should be fine then, would faking the Service/Endpoints object work for you?

[2018-03-21 13:27] alexppg commented on #1118
You're absolutely write. I didn't see the option to deploy grafana in the kube-prometheus chart, sorry for the noise.

[2018-03-21 13:27] #1118 closed

[2018-03-21 13:52] woshihaoren opened #1128 "Helm install prometheus-operator will collection kube-dns's metrics，but grafana doesn't have graph."
**What did you do?**
Helm install prometheus-operator will collection kube-dns's metrics，but grafana doesn't have graph.
1.Can add some useful graphs?
2.use hack/cluster-monitoring/deploy command install kube-prometheus doesn't  collection kube-dns‘’s metrics.

[2018-03-21 15:43] zinkst commented on #966
We're hitting the same issue as @IBMRob.
Is there already a solution for that ?
We tried to patch the statefulset and insert the initcontainer required by the ibm pvc ( see [Adding non-root user access to NFS file storage](https://console.bluemix.net/docs/containers/cs_storage.html#nonroot) )
using the following patch:
[code]
with
[code]
The patch gets applied but unfortunatly it looks like it get

[2018-03-21 16:05] brancz commented on #966
Due to recent learnings I believe we should simply not preset any values in the first place, as the kubelet ensures the group of the volume mounted before the pod is started. We should just remove the default values.

[2018-03-21 16:17] brancz commented on #1116
hmm interesting ... which versions of Prometheus are those?

[2018-03-21 16:20] brancz commented on #1128
we should fix this, would you like to create a PR for this? :slightly_smiling_face:

[2018-03-21 17:03] jolson490 commented on #399
The latest [release of prometheus-operator](https://github.com/coreos/prometheus-operator/releases) is `v0.17.0`, which [uses](https://github.com/coreos/prometheus-operator/blob/v0.17.0/contrib/kube-prometheus/manifests/alertmanager/alertmanager.yaml#L9) `v0.14.0` of [alertmanager](https://github.com/prometheus/alertmanager).
The new `http_config.proxy_url` functionality wasn't introduced to alert

[2018-03-21 17:10] optiomas commented on #1114
How would that be different from the manifests above?

[2018-03-21 18:01] brancz commented on #399
We are already implementing support for v0.15 for the alertmanager and a new release is around the corner, your problem will soon be solved :)

[2018-03-21 21:20] ayashjorden commented on #1116
For `master` branch -> Prometheus `v2.2.1`
For the `0.17.0` tag -> Prometheus `v2.2.0-rc.0`

[2018-03-22 07:51] MIllgner commented on #966
@brancz @IBMRob are you working on a fix for this bug? It is an important feature for prometheus-operator to rely on persistent volumes instead of emptyDir{}.

[2018-03-22 07:53] MIllgner commented on #1121
I am going to close this issue as we passed the original reported problem. Thanks for your support.

[2018-03-22 07:53] #1121 closed

[2018-03-22 08:38] brancz commented on #1114
Ah I apologize, I've read through too many threads recently. I imagine #1086 would solve that problem then :slightly_smiling_face:

[2018-03-22 08:41] brancz commented on #1116
Can you share the Prometheus config that both of those end up generating on the `/config` page of the Prometheus UI? (maybe 1 or 2 gists as they are probably rather large)

[2018-03-22 09:04] IBMRob commented on #966
I am not actively working to fix this.

[2018-03-22 09:04] ayashjorden commented on #1116
How can I get the `commit id` that is deployed for PrometheusOperator, this will allow me to try and reproduce the issue.

[2018-03-22 09:07] brancz commented on #966
Note that NFS is in many situation a bit wonky and is therefore unsupported by the Prometheus server. I recommend using a different storage provider.

In the next release there will be a new flag on the prometheus operator `--disable-auto-user-group`, which does not pre-set any of the user or fsgroup, so it should give you total control over that part.

Also the kubelet should be chowning the data

[2018-03-22 09:09] IBMRob commented on #966
Choosing a different storage provided isn't really possible in the IBM Cloud Containers service so we are stuck with NFS.

@brancz are you saying this will not be fixed in the current version? Whats the ETA on the next release?

[2018-03-22 09:16] brancz commented on #1116
The container image tag corresponds to the git tag of the GitHub release.

[2018-03-22 09:17] brancz commented on #966
We're currently finishing up some work, but a new release should be out soon.

[2018-03-22 10:14] richerve commented on #1127
@gianrubio What's your opinion on this?

[2018-03-22 10:31] hphde commented on #966
@brancz what is `soon`? Days, Weeks, Month? :)

[2018-03-22 10:41] brancz commented on #966
Less than a month, more than a day, my estimation would be some time next week, but it might be the week after as well. Publishing dates is never good though, as it sets expectations and things can easily be delayed.

[2018-03-22 12:01] MIllgner commented on #966
@brancz thanks for the info. What would be behind this new flag `--disable-auto-user-group` on the prometheus operator ? Would it only fix the current bug in  statefulSets's generation for mounting nfs storage or would it generally change the user/group management in other kubernetes artificats?

[2018-03-22 12:05] brancz commented on #966
The point is that the kubelet should be taking care of the appropriate permissions on your volume, if it's not doing that, then there is little we can do in the prometheus operator apart from a hack. Instead I recommend preparing the volume yourself with the appropriate permissions.

The `--disable-auto-user-group` flag disables the prometheus operator from pre-setting user/group on pods.

[2018-03-22 14:23] gianrubio commented on #1089
I successfully created a grafana pod using the storageSpec below, in a k8s created by kops.  The first timeout error is related to something in your infrasctucture  and not in the grafana pod. Did you try to  create a storage in other deployments or you have the same error?

[code]

[2018-03-22 14:26] gianrubio commented on #1127
Agreed!

As we discussed on #592 and https://github.com/kubernetes/charts/pull/3490 we are working to move all the charts to upstream except kube-prometheus and prometheus operator. I already started working on node-exporter, any help for other charts will be welcome. Do you want to point the current grafana chart to the upstream?

[2018-03-22 14:31] gianrubio commented on #861
Closing this issue because we provide the instruction on how to skip the error, this should be fixed in helm not here. https://github.com/kubernetes/helm/issues/2994

[2018-03-22 14:31] #861 closed

[2018-03-22 14:35] gianrubio commented on #982
Can we close this issue?

[2018-03-22 15:10] #982 closed

[2018-03-22 15:37] jolson490 opened #1136 "Add log.level to AlertmanagerSpec"
Hello. I'd please like functionality added to [AlertmanagerSpec](https://github.com/coreos/prometheus-operator/blob/master/Documentation/api.md#alertmanagerspec) to allow a value to be specified for `log.level`.

More info:

I'd like something about firing alerts to be included in the alertmanager logs. The alertmanager default log level is `info`, which doesn't include alerts, but I installed ale

[2018-03-22 16:30] richerve commented on #1127
TBH, upstream `stable/grafana` Chart is very clean and well maintained, of course it doesn't have grafana-watcher and uses Jobs instead but again that is the main point to remove. I will try to ask upstream if they have a path to follow for 5.0.0 and then I will work in adapting it for kube-prometheus, I mean, adjusting `values.yaml`.

[2018-03-22 20:44] brancz commented on #1136
happy to have the Alertmanager log level in the AlertmanagerSpec just like the PrometheusSpec does :slightly_smiling_face: , would you like to shoot us a PR?

[2018-03-22 22:33] alex-hempel opened #1137 "[kube-prometheus] How to install Grafana plugins with monitoring-grafana image?"
The kube-prometheus manifest for Grafana deployment currently uses the image `quay.io/coreos/monitoring-grafana:5.0.0`. This image does not use the run.sh entrypoint like the official Grafana docker image does, and it appears to have no obvious way of installing plugins dynamically when creating a container. With the official image, it can be done via the environment variable `GF_INSTALL_PLUGINS`.

[2018-03-23 06:52] scriptonist commented on #1079
Deploying helm chart for `prometheus operator` with `rbacEnable=false` and `kube-prometheus` with `global.rbacEnable=false` works for me in AKS :smiley:

[2018-03-23 07:50] MIllgner commented on #966
@brancz We are pretty interested to get a working solution for using NFS storage. So, we are looking forward to get this flag enabled pretty soon.

[2018-03-23 07:59] brancz commented on #966
As I said, the Prometheus project does not support NFS as a storage mechanism, if you run into trouble you're on your own. I do not recommend doing this - that said, if you're ok with those terms you can go ahead. The flag as described will land in the next release - although I'm still uncertain whether it will actually solve the permission problems and I believe you will still end up having to se

[2018-03-23 08:07] brancz commented on #1137
This is probably because we're explicitly setting the path in the [`config.ini`](https://github.com/coreos/prometheus-operator/blob/0971f911e2ea26b4960a102ab7f752346b91526f/contrib/kube-prometheus/grafana-image/config.ini#L7). I think Grafana takes precedence in the config over env variables. We should remove that line, or at least modify the path to something people can actually mount something i

[2018-03-23 08:10] brancz commented on #1079
@gianrubio do you see anything to improve here for the helm charts? If not, feel free to close.

To be honest I don't think it's worth the time to make an entirely unsecured Kubernetes cluster work with this stack. We've worked hard to push for reasonable security mechanisms in Kubernetes, and they should be used.

[2018-03-23 08:58] MIllgner commented on #966
The only way, we figured out to set permissions manually is to do it on pod level, means using the `init container` approach referenced above. But this way is not doable with prometheus-operator as the prometheus service monitor will re-generate its statefulSets every time when you try to patch it.

[2018-03-23 09:41] brancz commented on #966
You can manually provision your volume and prepare the permission, the Prometheus Operator will through the PVC it creates always choose the same volume for the same Pod. The SecurityContext allows you so specify the user and group you want your Pod to run as, which will allow you to predict the permissions your volume will need. This is entirely possible without init containers, and is a one-off

[2018-03-23 10:10] hphde commented on #966
@brancz we hear you but where to put that part really?

[2018-03-23 10:37] brancz commented on #966
A full example of the above could be

[code]

This is simply the manifest example from the [storage user guide](https://github.com/coreos/prometheus-operator/blob/master/Documentation/user-guides/storage.md) plus the security context.

[2018-03-23 11:05] hphde commented on #966
we are working with helm charts

[2018-03-23 12:14] MIllgner commented on #966
@brancz I have added the securityContext in the StorageSpec section in the prometheus-operator's value files, but it will not be picked up during deployment:
[code]
So, I will give up for now and wait for flag in the next release.

[2018-03-23 13:35] michaelpietzsch opened #1138 "Support Grafana 5.0.3"
Hi,

anyone has a clue when Grafana 5.0.3 is going to be available at the quai repo?
quay.io/repository/coreos

regards michael

[2018-03-23 14:03] sebglon opened #1139 "Prometheus add rules for duplicate timestamp"
**What did you do?**
Is it possible to add new alertmanager Rules to monitor:
prometheus_target_scrapes_sample_duplicate_timestamp_total

if it increase send a warning because we have a configuration error on relabel_configs with target unicity.

[2018-03-23 14:27] #1079 closed

[2018-03-23 14:35] brancz commented on #1139
This would be a great alerting rule! Would you like to shoot us a PR to add it? :slightly_smiling_face:

[2018-03-23 14:36] brancz commented on #1138
If you shoot us a PR updating everything I'll be happy to publish the new image :slightly_smiling_face:

[2018-03-23 14:37] brancz commented on #966
@MIllgner the `securityContext` is a sibling of the storage definition, not within it. I believe this is just a matter of adding support to helm. cc @gianrubio

[2018-03-24 17:01] bamb00 commented on #830
@brancz I'm running into the same issue.  Had to set the volume path to 775 for the subpath prometheus-db to mount.  Does not work with chmod 755.

       level=info ts=2018-03-24T16:25:47.133107849Z caller=targetmanager.go:68 component="target manager" msg="Starting target manager..."
       level=error ts=2018-03-24T16:25:47.133300991Z caller=main.go:324 msg="Opening storage failed" err="open DB

[2018-03-26 01:07] alex-hempel commented on #1137
Hi @brancz,

I've been looking into the differences between the two images, and I am not sure that the path setting is the culprit.

The official image uses the run.sh script as an entrypoint. That script handles certain environment variables, among them `GF_INSTALL_PLUGINS`.

The quay.io image currently used by kube-prometheus does not use that script (presumably due to the issues it's causing on

[2018-03-26 04:41] alex-hempel commented on #1138
I'll be happy to take a shot at this.

[2018-03-26 08:59] brancz commented on #830
@bamb00 which version of the Prometheus Operator are you using? And what does the generated Pod object look like in the end?

[2018-03-26 09:01] brancz commented on #1137
Yes you're right. The official Grafana image is actually currently being re-worked, and it seems that all the issues we had with the original image will be gone, so I'd prefer to put our energy into [the proposed changes to the upstream image](https://github.com/grafana/grafana-docker/pull/146) than improve ours.

[2018-03-26 09:15] andersflemmen opened #1150 "How to provide imagePullSecrets when using helm operator?"
What is the best way to provide imagePullSecrets to the different service accounts used by the operator when using helm for deployment? I am currently patching the service accounts manually, but this requires running the deployment script multiple times, as the service accounts are created when installing the chart, and any changes to the service accounts don't seem to be picked up by currently ru

[2018-03-26 09:43] sebglon opened #1151 "Grafana dashboar 'node' - add number of cpu available per server"
**What did you do?**
On Node grafana dashboard can you add available CPU line for system load?
This is more easily to compare system load with available CPU on each node.

We can make the same on "all node" dashboard.

[2018-03-26 09:49] #695 closed

[2018-03-26 09:58] brancz commented on #1151
Happy to have this added, if you do want to add this, would you mind contributing it here: https://github.com/brancz/kubernetes-grafana

[2018-03-26 14:29] bamb00 commented on #830
@brancz Using prometheus-operator 0.14 and prometheus image v2.0.0-rc1.  How can I override the user id 1000 to root?

[2018-03-26 17:30] jolson490 commented on #399
Awesome, thanks @brancz . Just curious, is there anywhere I can look online where a rough guess has been shared as to when the next release of prometheus-operator will be coming out?

In the mean time, I've found that sometimes i need to run the aforementioned `kubectl set env` command several times in order for it to work, but even when it does work then after some amount of time (just a guess: p

[2018-03-26 18:04] brancz commented on #830
The ability to specify a custom security context has only been supported since 0.17 : https://github.com/coreos/prometheus-operator/releases/tag/v0.17.0

[2018-03-26 19:59] bamb00 commented on #1077
@brancz Is there anyway I can disable the emptyDir in volumes and use hostPath? I notice when using volumeClaimTemplate the SubPath is creted.

[2018-03-26 20:51] s4rd1nh4 commented on #860
The configuration of sending notifications by slack for example can not be defined during the bootstrap, this is a very common plugin of grafana, is there a way to get around this?

[2018-03-26 23:33] marc-sensenich opened #1153 "Helm: Add the ability to specify custom configuration files for Grafana"
In some cases there is the need to define additional configuration files for configuring Grafana, the one case that is being faced is to define an LDAP configuration for Grafana. Therefore, there should be an option to define and mount custom configuration files for Grafana when using the Helm chart deployment.

A potential solution for this has been implemented in #1147

[2018-03-27 06:40] brancz commented on #1077
The point of hostpath is that it just mounts whatever is on the host inside the container. There’s no other way.

[2018-03-27 09:07] pierreozoux opened #1154 "Official helm chart"
This is a meta issue to track progress around the plan to make this an official helm chart:

 - [ ] [prometheus-operator](https://github.com/kubernetes/charts/pull/3490)
 - [x] node-exporter @gianrubio  (https://github.com/kubernetes/charts/pull/4260)
 - [ ] kube-prometheus
 - [ ] kube-state-metrics
 - [ ] grafana (we don't need to move the chart because it already exist in the upstream, we should

[2018-03-27 14:17] gianrubio commented on #1154
@pierreozoux you're very welcome to help us to move/point charts to upstream. For now I don't know if makes sense to move all chart there so any other feedback are welcome .

ps. I edited your first comment adding more links and comments

[2018-03-27 14:19] gianrubio commented on #1127
@richerve we have [another issue](https://github.com/coreos/prometheus-operator/issues/1154) to track the progress of helm charts. Do you still want to work in the grafana chart?

[2018-03-27 16:26] richerve commented on #1127
Yes I can work on the grafana Chart.

[2018-03-27 22:17] incognick commented on #703
I'm running into this as well. Any updates here?

[2018-03-27 22:27] carlosedp commented on #256
I've followed @adamdecaf config and adjusted the manifests to deploy a SNMP exporter to collect data from my router. The files can be seen on https://github.com/carlosedp/prometheus-operator-ARM/tree/master/manifests/snmp-exporter

[2018-03-27 23:57] cyphrsonic commented on #873
Is there any plan to address this issue? This is an issue for me too.

[2018-03-28 07:45] brancz commented on #703
`KUBERNETES_SERVICE_HOST` is set by Kubernetes, so we can't override it. I've contacted some client-go maintainers, to see what our options are.

[2018-03-28 07:57] brancz commented on #873
We are about to release a new version of the Prometheus Operator which should fix these issues, as we're entirely relying on the statefulset controller to take care of things, which should respect the sidecar injection.

[2018-03-28 08:45] incognick commented on #703
Thanks for responding so quickly.

What if the prometheus CRD spec provided environment variables that we could pass along to the Prometheus container spec here? https://github.com/coreos/prometheus-operator/blob/7ecc95274d1c4a68b97ab97d9f822f29fb0767c0/pkg/prometheus/statefulset.go#L575

[2018-03-28 08:53] gianrubio commented on #1154
I update the issue, assign @richerve to grafana chart

[2018-03-28 08:53] #1127 closed

[2018-03-28 09:12] brancz commented on #703
So it turns out, that this is actually all working as intended, it's just that the Kubernetes Services/Endpoints objects are not using IPv6 (yet). There is work upstream to do this, but there is no bug here, so I will close this.

The code where the kubelet adds these flags is: https://github.com/kubernetes/kubernetes/blob/012b085ac870d359131f4251213bf2fff1d15aa0/pkg/kubelet/envvars/envvars.go#L46

[2018-03-28 09:12] #703 closed

[2018-03-28 12:20] incognick commented on #703
My use case is not related to IPv6. I’m previewing AWS’ EKS and the masters are at a public endpoint so any pods trying to reference the API, fail. Can you confirm my suggestion above? I have created a fork to try this out today. Thanks!

[2018-03-28 12:42] brancz commented on #703
My guess is that that would require overriding the Kubernetes API endpoint used in the Prometheus config, rather than via an environment variable.

[2018-03-28 15:29] gabreal commented on #485
On Kubernetes v1.9.4-gke.1 there are metrics for persistent volumes available i.e.
[code]

[2018-03-28 17:50] incognick commented on #703
You are correct.  The kubelet keeps overriding the environment vars. I tried making my own prometheus container.  I'll try the config route.  Thanks!

[2018-03-28 18:17] erkolson opened #1157 "Metric used in AlertmanagerDownOrMissing Alert is missing"
**What did you do?**
Installed prometheus-operator and kube-prometheus from the helm charts in this repo.

**What did you expect to see?**
I expected the defined alerts to have data scraped by the bundled configuration

**What did you see instead? Under which circumstances?**
The `prometheus_operator_alertmanager_spec_replicas` metric does not exist in the created prometheus, defined here:
https:/

[2018-03-28 19:31] axhixh commented on #819
Have a look at https://github.com/coreos/prometheus-operator/tree/master/helm/grafana/dashboards

You will notice that the dashboard exported from Grafana is wrapped inside "dashboard" and there are additional fields like @shavo007 mentioned.

[2018-03-28 19:32] axhixh commented on #819
Please look at https://github.com/coreos/prometheus-operator/tree/master/helm/grafana/dashboards for examples.

You will notice that, as @shavo007, mentioned, you need to wrap it as a value to "dashboard" and add additional "input" field.

[2018-03-29 03:13] FuzzOli87 opened #1158 "pods "prometheus-prometheus-0" is forbidden when creating a new prometheus server on a different namespace"
**What did you do?**
prom.yml
[code]
kubectl apply -f prom.yml
**What did you expect to see?**
A prometheus server running on that namespace.
**What did you see instead? Under which circumstances?**
A stateful set failing to be created.
`create Pod prometheus-prometheus-0 in StatefulSet prometheus-prometheus failed error: pods "prometheus-prometheus-0" is forbidden: service account istio-system/pr

[2018-03-29 07:29] lth2015 commented on #965
@jeffwji, I have the same problem...

Name:           alertmanager-example-0
Namespace:      default
Node:           docker81/172.21.0.81
Start Time:     Thu, 29 Mar 2018 15:20:24 +0800
Labels:         alertmanager=example
                app=alertmanager
                controller-revision-hash=alertmanager-example-cb56984cd
                statefulset.kubernetes.io/pod-name=alertmanager-example-

[2018-03-29 07:38] lth2015 commented on #965
I dump the statefulset file:
`apiVersion: apps/v1
kind: StatefulSet
metadata:
  creationTimestamp: 2018-03-29T03:32:50Z
  generation: 3
  labels:
    alertmanager: example
    app: alertmanager
  name: alertmanager-example
  namespace: default
  ownerReferences:
  - apiVersion: monitoring.coreos.com/v1
    blockOwnerDeletion: true
    controller: true
    kind: Alertmanager
    name: example
    u

[2018-03-29 08:19] lth2015 commented on #965
I want to use `kubectl edit statefulset alertmanager-example` to set initialDelaySeconds to 60s in liveness and readness, I save the file but the value doesn't change, how can I do next?

[2018-03-29 13:46] jody-frankowski commented on #1154
I think this can help a lot of users discover this tool, and I also think the "official" charts repo is an entrypoint where most users search for them at first (at least I do this).
However I see at least one potential problem which is the upsteam merging speed.

[2018-03-29 16:06] deboshrestha opened #1159 "Defining storage in kube-prometheus"
**What did you do?**
We are using [this](https://github.com/coreos/prometheus-operator/tree/master/contrib/kube-prometheus) to use Prometheus in our Kubernetes cluster. The deployment method we are using is as follows -

[code]
The next step we are trying is set up a PV and PVC for storage of the metrics collected by Prometheus.
We are using Flexvolume here defining the PV and PVC .

Also, we are

[2018-03-29 17:19] FuzzOli87 commented on #1158
I'm going to close this since a fresh day let me get a grip of the paradigm and I'm getting it!

[2018-03-29 17:19] #1158 closed

[2018-03-29 21:49] FuzzOli87 opened #1160 "How to create configurations for prometheus jobs for istio"
**What did you do?**
Created a new service monitor.
`kubectl apply -f sm.yml`
**What did you expect to see?**
[code]
**What did you see instead? Under which circumstances?**
[code]
**Environment**
AWS
* Kubernetes version information:

[code]

* Kubernetes cluster kind:
kops

* Manifests:
sm.yml
[code]

I'm trying to create the jobs for istio components that act similar to the ones posted at the v

[2018-03-29 23:41] arthur-mencke-hs commented on #1044
@mdacrema could you share the Endpoint changes and Service objects you created?

[2018-03-29 23:42] amencke commented on #1044
@mdacrema could you share the Endpoint changes and Service objects you created?

[2018-03-30 03:03] FuzzOli87 commented on #1160
Closing this because I figured out how to use jobLabel!

[2018-03-30 03:03] #1160 closed

[2018-03-30 07:42] mdacrema commented on #1044
@amencke here you are

Scheduler: https://gist.github.com/mdacrema/e6284421b497f32d6c45b9524fff18db
Controller-manager: https://gist.github.com/mdacrema/414ad0e75159ab75718c69e1e448dd8e

If you're using calico you can also find custom definitions here: https://gist.github.com/mdacrema/04402fb4a7c338da122b00932f8ac05c

[2018-03-30 11:03] gianrubio commented on #1154
@jody-frankowski I just receive permission to merge requests in the upstream using the [OWNERS](https://blog.github.com/2017-07-06-introducing-code-owners/) file, in this case I can easily merge requests there.

[2018-03-30 19:24] ScottBrenner opened #1161 "kube-prometheus: Grafana datasource provisioning?"
Quick question - what is the suggested method for Grafana datasource provisioning when using kube-prometheus? I managed to get it working using Grafana 5's method (http://docs.grafana.org/administration/provisioning/#datasources) but am wondering if there's a (better) way to do it using kube-prometheus - I've tried editing configmaps and using some of the provided generator scrips but no luck. Tha

[2018-03-31 01:05] ephur opened #1162 "etcd chart does not support TLS configuration"
**What did you do?**
Used the helm chart to deploy kube-prometheus in our cluster, with an external ETCD cluster

**What did you expect to see?**
Prometheus scraping etcd metrics

**What did you see instead? Under which circumstances?**
TLS errors

**Environment**

* Kubernetes version information:
[code]
* Kubernetes cluster kind:
Built from scratch

[2018-03-31 01:08] ephur commented on #1162
I have submitted a [relevant PR for this issue](https://github.com/coreos/prometheus-operator/pull/1164)

[2018-03-31 06:34] aonz opened #1165 "Support for a custom scrape job on ServiceMonitor"
**What did you do?**

We launched Prometheus Operator in our Kubernetes cluster and it works fine with monitoring our pods with `ServiceMonitor`. However, we would like to also be able to monitor the existing services running on EC2 instances.

**What did you expect to see?**

After reading this issue https://github.com/coreos/prometheus-operator/issues/671, it seems like we have to choose between

[2018-04-01 08:08] eldada commented on #926
Running on GKE, I solved a similar issue with adding `--set exporter-kubelets.https=false` to my `helm install` command.
See comment in `helm/exporter-kubelets/values.yaml`:
[code]

[2018-04-01 08:56] ephur commented on #1165
Just a thought, but you could create services with a list of endpoints. This is how we monitor items that are not in the cluster. For examples take a look at:

https://kubernetes.io/docs/concepts/services-networking/service/#services-without-selectors

[2018-04-01 11:52] distol opened #1166 "Customize relabel configs"
Prometheus Operator v0.17.0, Prometheus v2.2.1.

# Problem
Prometheus Operator already does an awesome "automagic" with relabeling, but lack of ability to make any customization — is it good or bad?

* For now, Prometheus Operator adds following labels automatically: endpoint, instance, namespace, pod, and service. It is very useful if you monitor `applications` (redis, mongo, any other exporter,

[2018-04-01 15:00] distol opened #1167 "Bug: sourceLabels should not be required in RelabelConfig"
Prometheus Operator v0.17.0, Prometheus v2.2.1.

## Problem
For now, if you try to use `action: labeldrop`, you will get the following error in Prometheus:
[code]

## Service Monitor Example
[code]

## Extra info
* `replacement`, that is also required according documention, should also not be required
* According to prometheus docs all fields are optional.

[2018-04-02 07:20] lth2015 commented on #898
I'm puzzled with the tlsConfig field of etcd-k8s servicemonitor,  after several attempts I find the way.

It works:
`
 tlsConfig:
      caFile: /etc/prometheus/secrets/etcd-certs/etcd-ca.crt
      certFile: /etc/prometheus/secrets/etcd-certs/etcd.crt
      insecureSkipVerify: true
      keyFile: /etc/prometheus/secrets/etcd-certs/etcd.key
`
According to the documents of [<Monitoring external etcd>

[2018-04-02 08:50] aonz commented on #1165
Thank you for the info. I tried it and it seems to work with the static IPs. :)

But since most of our apps are running under an auto scaling group with dynamic IPs, it won't work well in this case. `ExternalName` did not work also, since `ServiceMonitor` will only use `Endpoints`. :(

[2018-04-02 11:12] simox-83 commented on #898
Thanks man,
I actually figured this out at some point, but forgot to give an update.
Cheers,
Simone

2018-04-02 9:20 GMT+02:00 李探花 <notifications@github.com>:

[2018-04-02 11:43] wleese opened #1169 "Support Thanos Deployments"
Support deploying Thanos along with Prometheus, to provide a default solution to long term metric storage and horizontal scaling.

https://github.com/improbable-eng/thanos

[2018-04-02 18:16] adamdecaf commented on #1166
I want to attach a `metric_relabel_config` on a `ServiceMonitor`. It'd be nice to apply that against all metrics coming from the monitor.

[2018-04-02 20:42] jmreicha commented on #256
I am having trouble getting this working with the snmp-exporter.  I followed instructions provided by @carlosedp but the operator doesn't seem to pick up the configuration changes.  I created the `service` and `deployment` as above, changed the `ServiceMonitor` to the following.

[code]

But Prometheus/operator never seem to pick up the configuration changes.  Any idea why this wouldn't work?  I d

[2018-04-03 06:48] brancz commented on #898
Would you like to add this to the docs and create a PR? :)

[2018-04-03 09:12] brancz commented on #256
@jmreicha this thread is about blackbox-exporter support, please open a new issue if you're having problems with another type of exporter.

[2018-04-03 09:23] brancz commented on #1167
Thanks for reporting! I'll get a PR out soon to fix this.

[2018-04-03 09:32] brancz commented on #1043
@incognick currently validations are not updated, so you will need to create the CRDs from scratch or apply them from `example/prometheus-operator-crd`.

[2018-04-03 09:36] brancz commented on #485
Great! I think there is ultimately no issue in the Prometheus Operator present here, so I will close this issue, but feel free to keep discussing if anything comes up.

[2018-04-03 09:36] #485 closed

[2018-04-03 09:39] brancz commented on #835
As a side note, the Grafana upstream image is changing to incorporate our needs, so very soon our initial need for the custom image will go away, and everyone will be able to configure Grafana as they desire.

[2018-04-03 09:40] brancz commented on #965
You can set `paused: true` in the Alertmanager object spec, then the Prometheus Operator will not reconcile the underlying StatefulSet.

[2018-04-03 09:59] brancz commented on #1169
We've already worked out a PoC for this, and will in the upcoming weeks provide more details! :slightly_smiling_face: It's coming!

[2018-04-03 10:07] brancz commented on #1165
Custom scrape jobs go so deeply into configuring Prometheus that we recommend to just use a custom config for it: https://github.com/coreos/prometheus-operator/blob/master/Documentation/custom-configuration.md

You still get rolling upgrades and all of those things, but you will just have to manage the configuration yourself.

[2018-04-03 10:11] brancz commented on #1161
Ultimately we want to get to a point where we do this in a very similar way to https://github.com/brancz/kubernetes-grafana, that way everything is streamlined and all generated via one language: jsonnet. It is almost at feature parity with the kube-prometheus dashboards, so if you want to get started with the future proof way I recommend contributing to that, as we will soon be switching over to

[2018-04-03 10:13] brancz commented on #1159
You will want to set the PVC template in the Prometheus object, not the Prometheus Operator deployment object. See the [storage user-guide](https://github.com/coreos/prometheus-operator/blob/master/Documentation/user-guides/storage.md).

[2018-04-03 10:15] brancz commented on #1157
I'm not 100% sure about the helm charts, but the bare kube-prometheus manifests are collecting Prometheus Operator metrics as well.

[2018-04-03 12:20] #1167 closed

[2018-04-03 13:39] deboshrestha commented on #1159
Thanks for responding. Now I have attached the storage portion to the Prometheus object in this manner -

[code]

And the PV is being created this way -

[code]

However, still its not attaching to the Prometheus "prometheus-k8s-0" pod , and if I do a describe on it I see the following -

[code]

As you can see the volumes are still pointing to EmptyDir , and when I read the documentation it seems

[2018-04-03 14:27] brancz commented on #1159
PVC templates cannot be changed after initial creation, you need to either delete the underlying statefulset or delete and re-create the Prometheus object entirely.

[2018-04-03 14:41] deboshrestha commented on #1159
I am redeploying it this way - since we are using kube-prometheus -

`hack/cluster-monitoring/teardown`  -- to bring it down.

Then create the PV only this time and delete the previous PV and PVC. And this way to bring it up -

`hack/cluster-monitoring/deploy`

Shouldn't this re create the underlying statefulset and also the Prometheus object?

[2018-04-03 15:17] brancz commented on #1159
Yep, you're right, I noticed your volumeClaimTemplate is indented one space too much, maybe that's causing it.

[2018-04-03 15:18] deboshrestha commented on #1159
Thanks , I will try it out .

[2018-04-03 15:54] deboshrestha commented on #1159
Its interesting, this time when I recreated the whole thing it actually worked , and when I do a describe on my pod I get the following -

[code]

And it seems the volume is finally mounting. yay!

Also, this is my final PV
[code]
and prometheus-k8s object -
[code]

Thanks for all your help! The next step I will do is see if I can do the original 2 replicas thing  in the spec portion and see how t

[2018-04-03 16:32] brancz commented on #1159
That should work no problem, you just need to make sure to create the respective persistent volumes. For the smoothest experience (if available) I recommend using a storage class and auto provisioning of PVs.

As there doesn’t seem to be an issue with the Prometheus operator, I’ll close this issue, but feel free to keep asking questions should you have any.

[2018-04-03 16:32] #1159 closed

[2018-04-03 16:33] brancz commented on #1159
That should work no problem, you just need to make sure to create the respective persistent volumes. For the smoothest experience (if available) I recommend using a storage class and auto provisioning of PVs.

As there doesn’t seem to be an issue with the Prometheus operator, I’ll close this issue, but feel free to keep asking questions should you have any.

[2018-04-03 17:24] ScottBrenner commented on #1161
Neat, thanks!

[2018-04-03 17:24] #1161 closed

[2018-04-03 19:09] #1162 closed

[2018-04-03 19:11] gianrubio commented on #1157
what targets you have in your prometheus and what alerts are triggering?

[2018-04-03 19:27] gianrubio commented on #1150
There's no support for private images for now. I'm wondering what kind of image are you deploying to require to host privately. In my case all prometheus metrics are running in custom build but I always push as public image.

[2018-04-03 19:29] gianrubio commented on #966
Helm chart doesn't support `securityContext` for now, @MIllgner do you want to send a PR to us adding this ability?

[2018-04-03 19:30] mikeln opened #1173 "Prometheus Helm Chart For Custom Configs"
**What did you do?**
Attempted to supply prometheus config values as documented in the README for the prometheus chart.

**What did you expect to see?**
Config values supplied to chart.  (Then hopefully supplied to prometheus.yaml config).

**What did you see instead? Under which circumstances?**
No values supplied to chart.

Note: this was attempt to follow your guidelines on creating a custom pr

[2018-04-03 20:05] ScottBrenner commented on #1137
@alex-hempel Did you figure out how to install plugins dynamically when creating a container?

[2018-04-03 20:31] ephur opened #1174 "helm charts: Add CoreDNS support (feature)"
**What did you do?**
Deployed kube-prometheus via helm charts

**What did you expect to see?**
Monitoring for my DNS service

**What did you see instead? Under which circumstances?**
No monitoring and a service monitor for a DNS service which I do not use

**Environment**

* Kubernetes version information:
kubectl: 1.9.4
kubernetes: 1.10.0

* Kubernetes cluster kind:
Custom built

* Manifests:
N/A

[2018-04-03 20:40] ephur commented on #1174
Please note, I added a relevant PR: (https://github.com/coreos/prometheus-operator/pull/1175)[https://github.com/coreos/prometheus-operator/pull/1175]

[2018-04-03 22:56] mikeln commented on #1173
Clarification:  this was on a helm upgrade.

Full delete --purge and helm install appear to have worked correctly.

[2018-04-04 00:04] jmreicha opened #1177 "How to use snmp_exporter with prometheus-operator?"
**What did you do?**

Attempted to configure the snmp_exporter using the prometheu-operator following instructions from [this issue](https://github.com/coreos/prometheus-operator/issues/256#issuecomment-376696419), borrowing configurations and manifests from [this repo](https://github.com/carlosedp/prometheus-operator-ARM/tree/master/manifests/snmp-exporter).

I created a `service` and `deployment

[2018-04-04 00:16] amencke commented on #1044
Thanks so much @mdacrema! Did you by any chance figure out how to deal with changing IP addresses of the masters (without having to manually update the endpoint objects)?

[2018-04-04 06:05] brancz commented on #1157
The target these metrics are coming from is the Prometheus operator itself.

[2018-04-04 06:14] brancz commented on #1150
This should be supported, different companies have different standards on this. The Prometheus and Alertmanager objects already support it so at just a matter of adding the playing with helm.

[2018-04-04 07:04] brancz commented on #1173
I’m unsure whether that should work, as that’s quite a dramatic change. I guess it’s up to @gianrubio to make that call. I’m fine either way.

[2018-04-04 07:08] andersflemmen commented on #1150
Yes, it is company standards. Would be really nice to have indeed!

[2018-04-04 11:47] MIllgner commented on #966
@gianrubio @brancz The issue is still that the prometheus operator is using 1000:2000 instead of nobody:nobody (65534:65534), as you pointed out above. With that I am still getting the error in the prometheus server:
`caller=main.go:582 err="Opening storage failed mkdir /var/prometheus/data/wal: permission denied"`
I tried to overwrite the securityContext in mulitple places, but did not find any w

[2018-04-04 13:37] MIllgner commented on #966
@gianrubio @brancz When I add a pvc for alertmanager and grafana by adding the storageSpec in the values.yaml for the kube-prometheus chart, everything is fine. Two PVCs are created and can be mounted by alertmanager and grafana pod. There is only the permission issue on the prometheus server itself. Any help is appreciated to get this issue fixed.

[2018-04-04 14:29] tomplus opened #1179 "Prometheus uses only one of AlertmanagerEndpoints"
**What did you do?**

I have defined the section `alertmanagers` with two AlertmanagerEndpoints:

[code]

There are defined `endpoints`:
[code]

but Prometheus uses only the second address (`/status`):
[code]

Prometheus has configuration:

[code]

**What did you expect to see?**

Prometheus uses two endpoints to send alerts.

**What did you see instead? Under which circumstances?**

Prometheus us

[2018-04-04 15:03] atopuzov opened #1180 "NodeDiskRunningFull is a bit too aggressive on nodes with small disks"
**What did you do?**

Let autoscaler spin up a node with a small disk (8 Gi).

**What did you expect to see?**

No alarms.

**What did you see instead? Under which circumstances?**

Every time a new node is spun up NodeDiskRunningFull (the one with critical severity) is alarming.
They clear up some 10-15 mins later.

**Environment**

* Kubernetes version information:

Client Version: version.Info{

[2018-04-04 15:05] atopuzov commented on #1180
An example of actual disk space available (left) and linear_predict(right).
<img width="1439" alt="screen shot 2018-04-04 at 16 51 17" src="https://user-images.githubusercontent.com/202178/38316066-29be97e8-382a-11e8-90bd-e1aa075853ac.png">

[2018-04-04 15:12] atopuzov commented on #1180
My first gut feeling is to increase the time interval it needs to be active from 10min to 20min. Any better solutions?

[2018-04-04 16:42] brancz commented on #1180
I think this is ultimately for you to decide, as everyone's infrastructure is going to be different, so I encourage you to do what works best for you! :) If you feel it's something that might work better for everyone I'm more than happy to merge that.

[2018-04-04 16:44] brancz commented on #1179
Thanks for reporting! This shouldn't be happening, we need to investigate.

[2018-04-04 16:44] atopuzov commented on #1180
@brancz That's why opened an issue to discuss possible solutions that are will work for everyone (well most) ;-)

[2018-04-04 16:45] brancz commented on #1180
As we're looking at the past 2 hours of data I think increasing the `for` to 20m is reasonable.

[2018-04-05 00:06] amencke opened #1181 "Monitoring the control plane running on EC2 nodes"
**What did you do?**
Attempted to deploy the Prometheus operator to both minikube and a standard Kubernetes cluster

**What did you expect to see?**
Metrics come in, targets listed

**What did you see instead? Under which circumstances?**
Prometheus works fine in the minikube environment. However, there is no data at all present in the version deployed to a regular k8s cluster. No targets and no d

[2018-04-05 07:30] mikisseth opened #1182 "Grafana pod metrics for statefulsets not separated by namespace"
**What did you do?**
* Deployed a multi node statefulset (Elasticsearch), so node pods are named consistently between namespaces for the deployed ss (elasticsearch-data-0, elasticsearch-data-1...).
* Go into the Pod dashboard in Grafana, select a namespace and select a pod.

**What did you expect to see?**
Metrics for the selected pod in the selected namespace

**What did you see instead? Under wh

[2018-04-05 07:57] #1174 closed

[2018-04-05 08:07] gianrubio commented on #1180
I noticed the same behaviour last week and I don't think the current alert is well tuned, specially because [kubelet](https://kubernetes.io/docs/concepts/cluster-administration/kubelet-garbage-collection/)  automatically run a garbage collection after the volumes reach 90% of the disk space so the alert gone

[2018-04-05 08:10] gianrubio commented on #1177
Did you deploy prometheus crd using [serviceMonitorSelector](https://github.com/coreos/prometheus-operator/blob/512db0d7920d9bc42163ae2b12e4f7681d5912fb/example/rbac/prometheus/prometheus.yaml#L10-L12)? In that case you should have the same labels in your serviceMonitor.

If it's not the case please share the Prometheus object, services and endpoints.

[2018-04-05 09:18] Atoms opened #1184 "RuleSelector Extending"
**What did you do?**
Create cluster role to be able to watch/list/get configmaps

**What did you expect to see?**
Expectation is to select rules across all cluster not just namespace in which prometheus resides

**What did you see instead? Under which circumstances?**
Configmaps with labels are not detected in other namespaces

* Kubernetes version information:

Client Version: version.Info{Major:

[2018-04-05 09:25] brancz commented on #1180
GCing at 90% seems a bit too late, but I’m happy to tune this alert.

[2018-04-05 10:07] brancz commented on #1181
We have the believe that self-hosted clusters are the way to run Kubernetes, which is why a lot of the use cases here are optimized for that.

This statement is a paradox, if the control plane components are not run as Pods, then it is not a self hosted cluster.

For your case I recommend using a fully custom configuration for Prometheus and make use of the EC2 service discovery built into Prometh

[2018-04-05 13:29] gianrubio commented on #1150
@andersflemmen would you like to contribute to the project sending a PR to us?

[2018-04-05 16:17] amencke commented on #1181
My apologies - I thought that "self-hosted" meant the exact opposite of what it actually means, which is definitely a terrible starting point for getting the Prometheus operator running. Appreciate the response - I will read over the docs you sent. If I get a working configuration I'll document it and share it here.

[2018-04-05 16:24] jmreicha commented on #1177
@gianrubio I deployed the prometheus-operator using Helm and it looks like it just created a Prometheus crd for `kube-prometheus`, I didn't actually create a Prometheus object only the `ServiceMonitor` that I posted above.

I wonder if that's part of my problem?

[2018-04-05 16:44] mikeln commented on #1086
Would definitely like to see

[2018-04-05 17:27] jmreicha commented on #1177
Adding the Prometheus object and tying it to the ServiceMonitor that got me farther, but I'm still not seeing the configuration or the new target in the Prometheus console.

The prometheus-operator logs do indicate that the the configurations get updated but still not seeing a new target for the exporter or anything for it in the Prometheus configs.

[code]

[2018-04-05 19:43] bamb00 commented on #1077
@brancz My concerns, the subPath name is always "prometheus-db" forcing all the prometheuses storage to be in one location.  I think the subPath is not necessary from prometheus volumeMounts.

[2018-04-05 20:00] ScottBrenner commented on #732
As `retention` is not defined in `kube-prometheus` out-of-the-box, what does it default to?

[2018-04-05 20:28] brancz commented on #732
Persistent storage is not available in the same way on all clusters, the kube prometheus stack is really just an example and is absolutely there for you to customize to your need.

Default retention is 24h iirc.

[2018-04-05 23:12] bamb00 commented on #830
@brancz Thanks for the info.  Change to prometheus-operator v0.17 and was able to adjust the permission  to /var/prometheus/data.

[2018-04-06 06:37] #1086 closed

[2018-04-06 06:42] brancz commented on #830
I’m going to close this as the Prometheus operator exposes all options for you to configure permissions, user and group.

If the volume provider you are using does not support the kubelet setting appropriate permissions, then it’s up to you to ensure this.

[2018-04-06 06:42] #830 closed

[2018-04-06 08:01] FaKod opened #1186 "StatefulSet of Alertmanager is created without Service Account"
**What did you do?**

Used the HELM chart: alertmanager together with PodSecurityPolicy Admission Controller

**What did you expect to see?**

A alertmanager-kube-prometheus StatefulSet with a ServiceAccount, that I am able to bind to a PodSecurityPolicy

**What did you see instead? Under which circumstances?**

I had to bind my PodSecurityPolicy to SA default

**Environment**

* Kubernetes versio

[2018-04-06 08:11] FaKod commented on #1043
@brancz Does 0.17 still use the "wrong" CRDs?
0.18 works for me (no storage validation errors)

[2018-04-06 09:27] vielktus opened #1188 "Missing example app in Helm kube-prometheus"
**What did you do?**
helm install kube-prometheus
**What did you expect to see?**
there's an example app prometheus instance
**What did you see instead? Under which circumstances?**
no example app

Not sure if this is missing or I should config a different way when using Helm to deploy kube-prometheus (write another helm like "prometheus-my-app" and select example-app ServiceMonitors)?

[2018-04-06 09:28] ghost opened #1189 "clusterroles.rbac.authorization.k8s.io "prometheus-operator" is forbidden: attempt to grant extra privileges"
**What did you do?**
Trying to install prometheus using helm on AWS cluster

**What did you expect to see?**
Correct installation

**What did you see instead? Under which circumstances?**
Error: release prometheus-operator failed: clusterroles.rbac.authorization.k8s.io "prometheus-operator" is forbidden: attempt to grant extra privileges: [PolicyRule{Resources:["thirdpartyresources"], APIGroups:["

[2018-04-06 09:44] brancz commented on #1189
The general problem is that the user you are using is trying to grant higher privileges that you have yourself, so you need to find a way to have a user that does have enough permissions.

[2018-04-06 10:32] oliver-whiteman commented on #1189
What privileges are required? I'm struggling a bit to understand the output and what specifically it cannot do

[2018-04-06 13:35] jolson490 commented on #1109
Just curious, can/should this issue be closed, now that https://github.com/coreos/prometheus-operator/pull/1122 has been merged?

By the way, thank you @mxinden very much for making this change - I've been looking forward to being able to use the latest version of alertmanager.

[2018-04-06 13:49] brancz commented on #1109
@jolson490 nice catch, yes indeed this can be closed! Thanks!

[2018-04-06 13:49] #1109 closed

[2018-04-06 13:51] brancz commented on #1189
What did you execute to get this error? Did you deploy the `bundle.yaml` or use the hack script to install the kube-prometheus stack?

[2018-04-06 13:52] brancz commented on #1043
Yep, this can be closed as this problem went away with 0.18. Thanks!

[2018-04-06 13:52] #1043 closed

[2018-04-06 13:53] brancz commented on #1186
That's fair, I think every application should have it's own ServiceAccount.

[2018-04-07 02:08] dobesv commented on #998
It appears that `alertmanager` has the same issue, `cluster-autoscaler` thinks it cannot be evicted because it has local storage.

[2018-04-07 09:30] vielktus commented on #1188
Already installed prometheus-operator (helm)
I mean this example app "contrib/kube-prometheus/manifests/examples/example-app/". This is an example to create a Prometheus instance to monitor this app, as I understand. So when it comes with helm, how should I create prometheus instance (leave the config stuffs for prometheus-operator to generate) ?

[2018-04-09 10:35] lpzdvd opened #1195 "prometheus-k8s-service-coredns-metrics throws an error due to namespace not matching monitoring"
**What did you do?**

./hack/cluster-monitoring/deploy

**What did you expect to see?**

all manifests deployed properly

**What did you see instead? Under which circumstances?**

prometheus-k8s-service-coredns-metrics throws an error due to metadata.namespace definining kube-system

namespace "monitoring" created
clusterrolebinding "prometheus-operator" configured
clusterrole "prometheus-operator

[2018-04-09 13:59] thu2004 opened #1199 "master tag of docker image not update"
**What did you do?**
Use the master branch for testing new features
https://quay.io/repository/coreos/prometheus-operator?tab=tags

**What did you expect to see?**
master tag of docker image is up to day.

**What did you see instead? Under which circumstances?**
master tag of docker image is outdated.

[2018-04-09 15:52] mxinden commented on #1199
This is a fair request. I will make sure this is automated for the future. Thanks for the notice.

[2018-04-09 16:27] mxinden commented on #1195
@lpzdvd Thanks for reporting this.

@brancz If you don't mind, I would hardcode the namespace value in every manifest of kube-prometheus. People that want a custom namespace can still `sed` through the project.

[2018-04-09 16:35] brancz commented on #1195
I’m actually working on generating everything with jsonnet which will make off of this much much nicer. Pull request should be out in a few days.

[2018-04-09 22:23] ScottBrenner opened #1201 "ServiceMonitor - Correct usage of staticTargets?"
Regarding [this](https://github.com/coreos/prometheus-operator/blob/7c84fdb17d606a23a2e8e98354e6ed00212d4628/example/prometheus-operator-crd/servicemonitor.crd.yaml#L143)-

I've followed the [custom service monitoring example](https://github.com/coreos/prometheus-operator/tree/master/contrib/kube-prometheus#monitoring-custom-services) and want to additionally monitor a static target - see below. I

[2018-04-09 23:28] mikeln commented on #1201
I think these are correct:
[code]

However,  I do not see the prometheus config get updated when I add a staticTarget service monitor.
Is there some "special sauce" needed to get  kube-prometheus/prometheus to pick the the config change?

[2018-04-09 23:43] ScottBrenner commented on #1201
Thanks. FWIW I've been doing a `kubectl -f apply <file>` then `curl -X POST <prometheus URL>/-/reload`.

[2018-04-10 04:54] k1-hedayati opened #1202 "Invalid ServiceMonitor manifest will crash the operator"
**What did you do?**
Created an invalid ServiceMonitor manifest.

**What did you expect to see?**
Just ignore invalid ServiceMonitor and don't crash.
There was a comment on #892 stating that CRD validation is not implemented yet, utill it gets implemented as a workaround is it possible to ignore invalid CRD and move on?

**What did you see instead? Under which circumstances?**
Operator enters `Cra

[2018-04-10 08:16] brancz commented on #1201
Note static targets support was only merged after the latest release. It will only land in the next minor release and it’s experimental so may change at any time without deprecation.

[2018-04-10 08:28] brancz commented on #1202
Strange that definitely shouldn't happen under any circumstance. CRD validation is already implemented, but only available since 0.17 of the Prometheus Operator and Kubernetes 1.9. Also note that validations are still in beta so they will not be automatically installed, only if you start with a fresh installation.

[2018-04-10 08:28] brancz commented on #1202
@mxinden could you have a look at skipping ServiceMonitors when unmarshalling errors occur?

[2018-04-10 09:29] k1-hedayati commented on #1202
@brancz  I'm using `quay.io/coreos/prometheus-operator:v0.18.0` but my is Kubernetes 1.8 could it be the reason for issue?

[2018-04-10 10:26] mxinden commented on #1202
@k1-hedayati I am having difficulties reproducing this issue.

Is this a contiguous error log? The last line implies, that the operator fails to unmarshall a CRD instance (servicemonitor x) while registering the servicemonitor CRD kind. So far I have been unable to find this as a code path.

I my test setup (1.8 minikube, v0.18.0 Prometheus operator) I have created the invalid serviceaccount. The

[2018-04-10 11:07] k1-hedayati commented on #1202
Yes you are right when operator is already running after adding invalid spec it just prints this message continuously without crashing.
[code]
But I found out this error occurs when operator is starting, my operator was killed somehow and it couldn't start with this error:
[code]

So for reproducing you just need to delete current operator's pod

[2018-04-10 14:38] erkolson commented on #1157
Just seeing this now.  I was on vacation while you responded and unfortuneately no longer have access to the prometheus-operator installation -- my company is going out of business and we are shutting everything down.

I used kube-prometheus from the chart v 0.0.18.

All of the targets from kube-prometheus were green at the time I reported this.  Not sure there is any more information I can provid

[2018-04-10 15:03] chancez commented on #1180
The GC at 90% is because it want's to avoid GCing images that might end up getting used when pods are rescheduled, as well as reducing overall resource consumption by avoiding GCing more than needed. If I understand correctly, it also GCs only down to 80% full by default, so the expected average is between 80% and 90% full when configured by default.

[2018-04-10 15:13] gianrubio commented on #1186
Will https://github.com/coreos/prometheus-operator/pull/1187 fix this issue?

[2018-04-10 15:17] gianrubio commented on #1188
Prometheus instance is automatically created when deploy kube-prometheus and prometheus-operator. The example app is basically a deployment with the right serviceMonitor and not a prometheus instance.

Please share the pods you have deployed and `helm ls` output

[2018-04-10 16:12] jdfalk commented on #1165
Could the operator be modified to look at a second configmap/secret and concat the autogenerated with that? Something like 'prometheus-config-override' which allows the users to put in additional manual configuration that will be appended to the end of the autogenerated config. I think that would solve 99% of these problems and still put the onus on the user to ensure their custom config is correc

[2018-04-10 16:45] mxinden commented on #1201
@mikeln The prometheus operator should automatically update the Prometheus config and reload Prometheus. Are you able to reproduce this? If so, would you mind opening up a new issue?

[2018-04-10 17:38] dobesv commented on #998
Ah, I didn't realize alertmanager had a persistent volume claim template, thanks.

[2018-04-10 17:52] mikeln opened #1207 "StaticTarget ServiceMonitor Is Not Updating Prometheus Configuration"
**What did you do?**
Use a serviceMonitor with a static target to monitor another cluster via the <cluster prometheus ingress>/federate  endpoint.  (Use PR1100 changes)

**What did you expect to see?**
Data from the other cluster.  More directly, the prometheus.yaml config file should have been updated for the new static configs.

**What did you see instead? Under which circumstances?**
No change

[2018-04-10 17:53] mikeln commented on #1201
https://github.com/coreos/prometheus-operator/issues/1207

[2018-04-11 03:05] vielktus commented on #1188
helm list:
[code]
pods:
[code]
It's not really what I mean Gianrubio :). Personally, I think the idea behind Prometheus Operator is to deploy the `kind` Prometheus, and prometheus-operator will watch this object to generate Prometheus instance. So, we can define many Prometheus `kind` and choose desired ServiceMonitors. If I follow this helm, I will create a Prometheus instance included all of the

[2018-04-11 09:50] mxinden commented on #1202
@k1-hedayati We have decided to keep crash-looping on an invalid CRD state on operator startup. We are improving the error feedback. (See https://github.com/coreos/prometheus-operator/pull/1208)

Let me know if this is a valid solution for you. Thanks a lot for reporting this issue!

[2018-04-11 12:05] mxinden commented on #1207
@mikeln The _static-targets-feature_ has not been released by now. It is only part of the `master` branch (See [comment](https://github.com/coreos/prometheus-operator/issues/1201#issuecomment-380014739)). I am sorry for any confusion this might have caused.

Feel free to reopen here, in case you are facing the same issue on `master`.

[2018-04-11 12:05] #1207 closed

[2018-04-11 12:07] mxinden commented on #1201
@mikeln @ScottBrenner  The _static-targets-feature_ has not been released by now. It is only part of the `master` branch (See [comment](https://github.com/coreos/prometheus-operator/issues/1201#issuecomment-380014739)). I am sorry for any confusion this might have caused.

Feel free to reopen here, in case you are facing the same issue on `master`.

---

@mikeln We will soon push any images for al

[2018-04-11 12:07] #1201 closed

[2018-04-11 12:31] brancz commented on #1201
In fact some early testers have reported that it doesn’t work as intended so static targets may be reverted and or significantly changed even before it ever being released.

[2018-04-11 13:13] #1202 closed

[2018-04-11 13:16] brancz commented on #1202
For context once validations are more widely available and adopted this won’t be possible in the first place, it was mostly a shortcoming of CRDs compared to standard resources. Validations will in the future prevent this kind of error from happening in the first place. Sorry for the inconvenience!

[2018-04-11 13:48] mikeln commented on #1207
Yeah, I misread the release commit list.

[2018-04-11 15:00] wesselOC opened #1210 "Tag v0.18.1 not found in repository quay.io/coreos/prometheus-operator"
**What did you do?**
Followed the following guide:

https://github.com/coreos/prometheus-operator/blob/master/contrib/kube-prometheus/docs/KOPSonAWS.md

[code]

**What did you expect to see?**

Running prometheus operator able to fetch the code

**What did you see instead? Under which circumstances?**

Failed to pull image "quay.io/coreos/prometheus-operator:v0.18.1": rpc error: code = Unknown des

[2018-04-11 15:10] mxinden commented on #1210
@wesselOC Thanks for reporting this. I am currently in the phase of automating the build of new images. I hope to be done with that tomorrow.

For now you would need to build the image yourself from the `release-0.18` branch. Sorry for the inconvenience.

[2018-04-11 15:10] InTheCloudDan opened #1211 "Helm: exporters x509 authentication"
**What did you do?**

Bluemix does not allow bearerToken authentication against nodes, only x509 authentication. In the current Helm chart there is no way to specify for any or all exporters to use x509 authentication in place of bearerToken.

In my instance I manually updated that ServiceMonitor but am looking for a more maintainable way that still will work with the Helm chart. I haven't yet bee

[2018-04-11 15:14] wesselOC commented on #1210
Thanks for the feedback!. Will  try to build it myself!

[2018-04-11 17:17] jdfalk commented on #1165
As a follow up, you could eliminate the static config field of the service monitor crd and just leave that up to the user in custom configuration. Hopefully, that would keep service monitors a bit cleaner and create a clear distinction that service monitors are for kubernetes native objects vs custom config for everything else.

[2018-04-11 18:57] crandles commented on #1186
@gianrubio It will apply the required PodSecurityPolicy to the `default` service account, instead of an account specific to the alertmanager instance.

[2018-04-11 19:34] k1-hedayati commented on #1202
@mxinden That's good, we can work with that until validations come in place, thank you guys

[2018-04-11 20:24] ScottBrenner commented on #1201
Got it. How could I configure the [custom service monitoring example](https://github.com/coreos/prometheus-operator/tree/master/contrib/kube-prometheus#monitoring-custom-services) to monitor a static target?

[2018-04-11 22:22] stonefury opened #1212 "etcd dashboard blank when using kops"
Could someone provide instructions or guidance on getting the etcd dashboard to work for a cluster brough up with kops?  I did not bring up an HA mode.

From what I can tell, etcd has port 2380 open, but not 2379. So I'm confused as to where the metrcs endpoint is when using kops to create the cluster.

[2018-04-11 23:36] ayk33 opened #1213 "intermittent "This site can’t be reached" for services"
**What did you do?**
I deployed all three services `Prometheus, Grafana, Alertmanager` via the helm charts `coreos/prometheus-operator` and `coreos/kube-prometheus`. From there I am creating a service with type LoadBalancer for each service. (Manifest of service can be found below)

**What did you see instead? Under which circumstances?**
The issue I am running into is hard to pin down. Intermitte

[2018-04-12 06:36] brancz commented on #1201
@ScottBrenner In most cases you can probably just use the same strategy as laid out here: https://github.com/coreos/prometheus-operator/blob/master/contrib/kube-prometheus/docs/Monitoring%20external%20etcd.md

[2018-04-12 07:09] brancz commented on #1212
The metrics endpoint of etcd is on the 2379 port (and optionally an additional one that you can specify starting with etcd v3.3). You may need to open firewall rules if you are running Prometheus on a non master (I would recommend running it on a master node though).

If your etcd is not visible through the Kubernetes API, you will need to use something along the lines of this to monitor an extern

[2018-04-12 07:09] #1212 closed

[2018-04-12 07:16] brancz commented on #1213
Not sure if this has anything to do with it, but the annotation map seems to be indented incorrectly, although that should be caught by a validation. Also I would recommend to use a different selector, to select potentially multiple pods, the selector you would want to use there is `app: prometheus`.

Otherwise this does indeed sound like there is some issue with the elb.

[2018-04-12 07:17] brancz commented on #1213
I'll close this for now, but feel free to re-open or open a new issue if we can prove that this is indeed something wrong with the Prometheus Operator.

[2018-04-12 07:17] #1213 closed

[2018-04-12 07:43] mxinden commented on #1210
@wesselOC You can find the `v0.18.1` image on Quay now.

[2018-04-12 07:43] #1210 closed

[2018-04-12 07:54] wesselOC commented on #1210
Thanks your a rockstar!

[2018-04-12 07:58] brancz commented on #1138
The image has since been updated and pushed. Closing.

[2018-04-12 07:58] #1138 closed

[2018-04-12 08:03] brancz commented on #1071
Closing due to lack of information. Feel free to comment, re-open or open a new issue if you have more concrete information on how to reproduce your issue, but this doesn’t seem like a problem with the Prometheus Operator.

[2018-04-12 08:03] #1071 closed

[2018-04-12 08:13] brancz commented on #971
This is mostly about your cloud provider so closing here.

For the record the three options there are to retrieve metrics from the kubelet:

* use 10255 insecure (http) read only port
* use 10250 secure (https) port with client certs
* use 10250 secure (https) port with service account token authentication

[2018-04-12 08:13] #971 closed

[2018-04-12 08:14] #985 closed

[2018-04-12 08:16] brancz commented on #956
As there doesn’t seem to be an issue with the Prometheus operator here I’m closing this.

[2018-04-12 08:16] #956 closed

[2018-04-12 08:17] brancz commented on #924
Closing as #924 was merged

[2018-04-12 08:17] #924 closed

[2018-04-12 08:24] brancz commented on #779
Changing as the charts have changed significantly and everything has been migrated to use Prometheus 2.0.

[2018-04-12 08:24] #779 closed

[2018-04-12 08:27] brancz commented on #759
Closing this due to lack of information. Feel free to continue to comment, re-open or open a new issue. There doesn’t seem to be an issue with the Prometheus Operator itself here.

[2018-04-12 08:27] #759 closed

[2018-04-12 08:31] brancz commented on #725
Closing this as there doesn’t seem to be a problem with the Prometheus operator, I’ll try to follow up with the cAdvisor people.

[2018-04-12 08:31] #725 closed

[2018-04-12 08:33] brancz commented on #692
Closing this as it’s outdated. Feel free to re-open or open a new issue.

[2018-04-12 08:33] #692 closed

[2018-04-12 08:36] brancz commented on #633
Closing as sample configurations are available and specific documentation for certain platforms as well.

[2018-04-12 08:36] #633 closed

[2018-04-12 08:50] brancz commented on #614
Am sorry for the confusion. We now have validations in place and fixed the falsely required fields.

[2018-04-12 08:50] #614 closed

[2018-04-12 08:51] brancz commented on #569
Mount propagation is now on by default in Kubernetes 1.10, so I’m closing this.

[2018-04-12 08:51] #569 closed

[2018-04-12 09:40] vgkowski commented on #965
I have the same issue and found that it comes from the peering with other alertmanager pods. The alertmanager fails to start because it cannot find the other peers. I assume we would need to change the statefulset PodManagementPolicy from OrderedReady to Parallel

[2018-04-12 10:07] brancz commented on #965
Parallel management has some other effects that I'm not too keen on, such as giving Alertmanager instances time to gossip their state before tearing down an instance.

[2018-04-12 13:11] Itfly opened #1214 "No data points for Pods dashboard after deploying kube-prometheus"
**What did you do?**
I deployed the latest kube-prometheus (commit:aae5278218a4b1df1ffba51ab395a64723e33668) on my kubernete cluster. It's great to show lots of metrics on Grafana UI. However, there's no data points for Pods dashboard almostly except some of pods have memory points.

**What did you expect to see?**
Expect to have data points for Pods dashboard

**What did you see instead? Under wh

[2018-04-12 13:24] dmitrievav opened #1215 "enable-admin-api is not possible"
**What did you do?**

I tried to delete some stale data from Prometheus like
`curl -XPOST https://prometheus.internal.loveos.io/api/v1/admin/tsdb/clean_tombstones`
but for that I have to enable admin-api first, which is not possible at the moment

**What did you expect to see?**

some positive http response

**What did you see instead? Under which circumstances?**

`{"status":"error","errorType":"

[2018-04-12 14:29] gianrubio commented on #1177
On the prometheus object you have this section

[code]

Prometheus operator will only pick servicemonitors that has this labels, so I'd recommend you to add this label in your servicemonitor. It should be something like this:

[code]

[2018-04-12 16:15] ayk33 commented on #1213
The indentation part was simply a copy paste mistake on my part. I'll try changing the selector to `app: prometheus` and see if that helps, although I am not sure it will. For my Grafana deployment I am using the selector `app: kube-prometheus-grafana` and that shows the same issue.

Let me know if you have any other recommendations to rule out prometheus-operator? As part of my testing I also cre

[2018-04-12 16:56] brancz commented on #1213
Actually Grafana is under no management by the Prometheus Operator, so that actually proves that it's no problem with the Prometheus Operator itself, but rather some issue with the elb. The Grafana setup is merely an example deployment.

[2018-04-12 17:03] brancz commented on #1215
We should figure out what to do here, and maybe even clean tombstones automatically with the sidecar. @fabxc what is your take on this?

[2018-04-12 17:05] brancz commented on #1214
Are you successfully scraping all targets? kubelets/cadvisor?

[2018-04-12 17:08] stonefury opened #1216 "v1beta2.Stateful set does not exist for my deployment"
Using Rancher 1.6 and looks like kubernetes 1.7

Client Version: version.Info{Major:"1", Minor:"8", GitVersion:"v1.8.3", GitCommit:"f0efb3cb883751c5ffdbe6d515f3cb4fbe7b7acd", GitTreeState:"clean", BuildDate:"2017-11-08T18:39:33Z", GoVersion:"go1.8.3", Compiler:"gc", Platform:"linux/amd64"}
Server Version: version.Info{Major:"1", Minor:"7+", GitVersion:"v1.7.7-rancher1", GitCommit:"a1ea37c6f6d21f31

[2018-04-12 17:12] brancz commented on #1216
In the latest minor release we dropped support for Kubernetes 1.7, see the [release notes](https://github.com/coreos/prometheus-operator/releases/tag/v0.18.0).

All versions before that should be compatible, but I of course recommend also upgrading your Kubernetes cluster :slightly_smiling_face: .

Sorry for the inconvenience, but we won't be able to change that going forward. I'm going to close t

[2018-04-12 17:12] #1216 closed

[2018-04-12 17:33] bamb00 commented on #860
I'm running into this same issue below and I'm using manual storage provisioning.  Why is the error require to use storage class?

       spec.storage.class in body is required
       spec.storage.selector in body is required
       spec.storage.resources in body is required

       storage:
         volumeClaimTemplate:
           spec:
             selector:
               matchLabels:

[2018-04-12 17:34] ayk33 commented on #1213
Got it. Alright thanks for the feedback. This helps narrow it down a little.

[2018-04-12 18:55] leifmadsen commented on #860
@bamb00 did you see my comment?

https://github.com/coreos/prometheus-operator/issues/860#issuecomment-370999129

[2018-04-12 19:03] bamb00 commented on #860
@leifmadsen Hi,

Yes I did.  You are using storage class.  I'm using manual storage provisioning which does not use storage class.  Unless I'm missing something.

I was able to use the same manual storage provisioning in 0.14.

Thanks.

[2018-04-12 19:11] bamb00 commented on #860
@leifmadsen OK.  I did miss you can set the class, resources, and selector in the body.  Thanks.

[2018-04-12 20:41] Quentin-M opened #1217 "Kubernetes 1.10+ supports RunAsGroup / RunAsNonRootGroup"
Kubernetes 1.10 now supports RunAsGroup / RunAsNonRootGroup, behind a feature flag. The Prometheus Operator should consider adding support for it once those flags go GA.

See https://github.com/kubernetes/kubernetes/pull/52077

[2018-04-12 21:42] ScottBrenner commented on #1201
@brancz Bingo! Much appreciated.

@mikebryant see above ☝️

[2018-04-13 03:06] Itfly commented on #1214
@brancz Checking the targets, the kubelet's status is down with Error:
[code]

[2018-04-13 05:38] Itfly commented on #1214
After running the following commands on all the masters and nodes , all kubelet targets are up and data points are shown on Grafana:
[code]

Also  modify the configMap kubeadm-config with command `kubectl -n kube-system edit cm kubeadm-config
` by adding:
[code]

[2018-04-13 05:39] #1214 closed

[2018-04-13 07:59] gianrubio commented on #898
@brancz should the operator support to launch a prometheus instance in the master node just to scrap etcd metrics?

[2018-04-13 08:09] dmitrievav commented on #1215
People may want to be able cleaning up some data manually, as described here https://prometheus.io/docs/prometheus/latest/querying/api/#delete-series

Could you just introduce optional parameter for enabling "TSDB Admin APIs"?  If it is not enabled by default it should not be security concern, right? I could make and test a patch.

`pkg/prometheus/statefulset.go
@@ -385,6 +385,10 @@ func makeState

[2018-04-13 08:11] gianrubio commented on #898
What about to run a http proxy in the master node that forward traffic to etcd metrics endpoint?

[2018-04-13 09:26] brancz commented on #898
The Prometheus Operator already gives you all the tools you need to perform any of those configurations mentioned above, it's up to you and the configuration of your cluster to decide what's the best way to do this. Ideally I recommend to have no additional indirections such as a proxy, as this often leads to isssues.

Tectonic shipped etcd monitoring in 1.8.7, so I'm closing this.

[2018-04-13 09:26] #898 closed

[2018-04-13 09:31] brancz commented on #1215
Ideally I'd like to have things like cleaning tombstones directly worked into the Prometheus Operator, so people don't have to think about those operational aspects themselves, for that however these APIs would always need to be enabled.

[2018-04-13 10:41] goruha opened #1220 "Grafana chart resource limits hardcoded"
**What did you do?**
Specifiy resources for grafana chart

**What did you expect to see?**
Resources to be applied to grafana container

**What did you see instead? Under which circumstances?**
Hardcode resource limits in chart
https://github.com/coreos/prometheus-operator/blob/master/helm/grafana/templates/grafana-deployment.yaml#L61

[2018-04-13 10:52] dmitrievav commented on #1215
For that we could simply add a cronjob to Prometheus Operator manifests.

[2018-04-13 11:16] brancz commented on #1215
Something like that would most likely need to be implemented into the sidecar.

[2018-04-13 11:57] dmitrievav commented on #1215
Is not it better then sidecar ?

[code]

[2018-04-13 12:43] dmitrievav commented on #1215
To be on the same page, do you mean "prometheus-config-reloader" as a side car?

[2018-04-13 12:53] brancz commented on #1215
Yes. The name is at this point slightly misleading, but that would be a good place to have things like that.

[2018-04-13 13:33] figaw commented on #966
@IBMRob the initContainer worked beautifully for me on a classic Prometheus container, I had to use `65534:65534` on v. 2.1 tho. Complete example here: https://github.com/figaw/gke-prometheus-mvp

[2018-04-13 14:12] klynch opened #1221 "Prometheus not created with OwnerReferencesPermissionEnforcement admission controller enabled"
**What did you do?**

After upgrading the cluster to 1.10 and enabling more admission controllers (particulary `OwnerReferencesPermissionEnforcement`) , Prometheus was unable to create a Prometheus instance.

I attempted to apply the changes from #975 but it did not solve the problem.

After removing the `OwnerReferencesPermissionEnforcement`, the prometheus-operator behaved as expected.

**Enviro

[2018-04-13 16:16] jmreicha commented on #1177
@gianrubio Yes! That was it.  I added `prometheus: kube-prometheus` and the service showed up as a target and started working.  Thank you!

[2018-04-13 16:16] #1177 closed

[2018-04-13 16:42] klynch commented on #1221
According to https://github.com/openshift/origin/issues/18784#issuecomment-370855340 this is an upstream issue.

[2018-04-15 05:13] #1188 closed

[2018-04-15 10:54] gianrubio commented on #1220
Would you like to contribute to the project sending a PR?

[2018-04-17 07:41] Deshke opened #1225 "loglevel is ignored for alertmanager"
**What did you do?**
added the `loglevel: debug` to alertmanager-main

[code]

**What did you expect to see?**

debug log in the logs and `--log.level=debug` as arg for the alertmanager

**What did you see instead? Under which circumstances?**
[code]

**Environment**

* Kubernetes version information:

[code]
* Kubernetes cluster kind:

`kops`

* Prometheus Operator Logs:

[code]

[2018-04-17 07:45] mxinden commented on #1225
@Deshke which version of the Prometheus Operator are you using?

[2018-04-17 07:48] Deshke commented on #1225
@mxinden `quay.io/coreos/prometheus-operator:v0.18.1`

[2018-04-17 07:49] Deshke commented on #1225
did not work with 0.15 to 0.17 either

[2018-04-17 07:57] mxinden commented on #1225
@Deshke The [_AM-LOG-Level_](https://github.com/coreos/prometheus-operator/commit/51daf7711b4ad568c8f513b81cbdd6fecc33dff6) feature is not yet released. It is only present on current `master`.

In order to use it, you would need to build a Prometheus operator Docker image from `master` (`make crossbuild contianer`) and deploy it on your cluster.

I am closing here. Let me know if you have any furt

[2018-04-17 07:57] #1225 closed

[2018-04-17 08:46] brancz commented on #1221
Thanks for getting back to this @klynch! In that case we'll have to wait for it to be fixed upstream. I would suggest to close this, and re-open or create a new issue once it's fixed upstream. Then we can make sure that everything works appropriately in the Prometheus Operator.

[2018-04-17 08:46] #1221 closed

[2018-04-17 20:26] richerve commented on #1154
Recently there were a couple of important PRs in upstream `stable/grafana` that made it more flexible and support Grafana > 5.0.0 in a proper way. Taking a quick look it doesn't seem to be very difficult to use stable/grafana in kube-prometheus, I will try to start to work on this, this week.

[2018-04-18 10:45] brancz commented on #1217
As it’s already part of the struct but kept behind a feature flag, we can implement this as soon as we update to the Kubernetes 1.10 client go version.

[2018-04-18 18:58] mrueg opened #1233 "Helm: Don't rely on .Values.image.tag for version compatibility"
**What did you do?**
I used my custom prometheus containers with its own versioning
**What did you expect to see?**
I expected to see the right api choices e.g. in https://github.com/coreos/prometheus-operator/blob/c96fa34640fbf7584cf3fc54f4fbfc96dc38b502/helm/prometheus-operator/templates/deployment.yaml#L30
**What did you see instead? Under which circumstances?**
It picked the wrong path, as the

[2018-04-18 21:37] ayk33 opened #1234 "Tolerations not set for prometheus-operator/templates/get-crd-job.yaml"
**What did you do?**
I am trying to deploy prometheus-operator (and soon kube-prometheus) onto my master nodes. The master nodes are tainted to block pods from from deploying onto them. I set the tolerations field in my values file for prometheus-operator, and part of the helm install is successful. The job `prometheus-operator-create-sm-job` gets created successfully but `prometheus-operator-get-

[2018-04-19 13:43] gianrubio commented on #1234
@ayk33 would you like to send a PR for us and fix your issue?

[2018-04-19 16:31] dobesv commented on #1180
I'm getting this alert often for new disks when a node freshly spins up:

[code]

[2018-04-19 18:28] julianvmodesto commented on #658
Yes we switched to Prometheus 2.x, thanks for follow up.

This specific issue is resolved now!

Just FYI, the latest startup issues i've had are OOMing and unresponsiveness when starting up + immediately reloading the Prometheus config with the sidecar. Upstream issue is here for reference https://github.com/prometheus/prometheus/issues/3112. i.e. because of the upstream issue, the configmap reloa

[2018-04-19 18:53] ayk33 commented on #1234
Sure. Just making sure, all the changes that are needed is just modifying `get-crd-job.yaml` correct?

Also, is there any discussion already about getting the `tolerations` field available for `kube-prometheus`? I do not see that as a parameter in the values.

[2018-04-20 07:49] gianrubio commented on #1234
Exactly

No, this fields are only available if the dependency support it, maybe some deps have the [values in example ](https://github.com/coreos/prometheus-operator/blob/master/helm/kube-prometheus/values.yaml) outdated.

[2018-04-22 20:13] gianrubio commented on #1233
@mrueg I don't think we should support version < 13.0 so I don't mind to remove this validation, would you like to contribute to the project making a PR to fix this issue?

[2018-04-23 02:44] hobbsh opened #1240 "[Helm] Adding a serviceMonitor to kube-prometheus values throws helm error"
Seems to be an issue with the helm template for serviceMonitors - could it be possible that it is expecting some helm labels for my service, but I didn't deploy my service with helm?

**What did you do?**
Added a service monitor in kube-prometheus values.yml and updated with helm (using Ansible):

**What did you expect to see?**
Expected the serviceMonitor to create on its own

**What did you see