[2020-04-20 17:13] brancz commented on #3139
The `serviceMonitorNamespaceSelector` cannot `matchNames`. You have to use either `matchLabels` or `matchExpressions`.

[2020-04-20 21:42] brancz commented on #3152
You need to create the serviceaccount yourself and specify it in the prometheus or thanos ruler object. So annotating it is totally up to you :)

[2020-04-21 04:25] vietwow commented on #3152
@brancz I know this could be done manually but it should support in automatically for CI/CD and automation tasks because almost production are IaaC codes, right ?

[2020-04-21 07:15] brancz commented on #3152
I’m not sure I understand. You’re entirely in charge of creating the serviceaccount so you will just need to add the annotation.

Can you elaborate what you would have imagined the solution to be?

[2020-04-21 07:26] FelixRodriguezJara commented on #3139
Thank you very much for your help!

We have applied labels to the namespaces and used the match labels clause in the service monitor namespace selector, like this:

[code]

We have got rid of the error messages on our namespaces and we don´t see any errors in namespaces outside ours, we will verify the health of the Prometheus targets to see if everything is working fine.

On the other hand, we ar

[2020-04-21 07:34] vietwow commented on #3152
@brancz sorry for confused you, let me explain more clearly

I am deploying prometheus-operator with thanos using official helm chart from https://github.com/helm/charts/tree/master/stable/prometheus-operator

My EKS cluster is using IRSA for security purpose, so for all services, I need to set annotations for its serviceaccount, and usually, for other charts, it supports this through values.yaml

[2020-04-21 07:50] lilic commented on #3152
We do not maintain the helm chart so we don't know about that, with plain manifests that's possible so it's not an issue I would say for this repo, best to ask on k8s slack some helm folks are on prometheus-operator channel or open issue on helm.

[2020-04-21 08:26] brancz commented on #3150
I think this has to do with the way storage classes work, as you don't specify one in your volumeclaimtemplate, it uses the default one. I'd try asking the workload API folks on Kubernetes as this is really about the statefulset.

On another note, [NFS volumes are unsupported by Prometheus](https://prometheus.io/docs/prometheus/latest/storage/#operational-aspects), you should not use them.

[2020-04-21 08:39] joschi36 commented on #2916
@mickael-carl Did you do any progress on this one?
It would be really helpful if there is documentation for the webhooks.

[2020-04-21 09:14] 0robustus1 commented on #2916
It would be worthwhile to wait with the documentation for a release that includes https://github.com/coreos/prometheus-operator/pull/3134 (or write the documentation with the PR in mind) as it makes it unnecessary to deploy a sidecar (such as ghostunnel) for the TLS handling required from Kubernetes Admission Webhooks.

[2020-04-21 10:06] vietwow commented on #3152
Ah Ok, so this is my misunderstand, sorry and thanks @lilic

Best regarsd,
VietWOW

[2020-04-21 10:13] paulfantom commented on #3147
I think this would need bringing in promlint as a library. So probably related to https://github.com/prometheus/prometheus/issues/5317

[2020-04-21 12:02] shibumi opened #3156 "kube_persistentvolume_capacity_bytes does not show all PV/PVCs"
**What happened?**

I've deployed the prometheus-operator via `stable/prometheus-operator` helm chart on a rancher cluster.  I want to monitor all PV/PVC in my cluster. However when I use `kube_persistentvolume_capacity_bytes` it doesn't show all PVs, it only shows the PVs in the prometheus-operator namespace. On the other hand `kubelet_volume_stats_capacity_bytes` seems to show all PVs. Any idea

[2020-04-21 12:03] #3152 closed

[2020-04-21 12:11] lilic commented on #3156
That metric comes from kube-state-metrics, what makes you think it's an operator or prometheus problem? Note that kubelet_volume_stats_capacity_bytes comes from k8s kubelet and not kube-state-metrics.

https://github.com/kubernetes/kube-state-metrics/blob/master/docs/persistentvolume-metrics.md

[2020-04-21 12:26] brancz commented on #3148
Why can't you scrape metrics from each Pod? That's how Prometheus is intended to work. Even the service type discovery would be abused here, as it's meant for blackbox target discovery, not for whitebox.

[2020-04-21 12:39] shibumi commented on #3156
@lilic thanks a lot. I just wonder why I get more namespaces on the kubelet metric. Do I need to deploy the kube-state-metric pod on every node?

I thought this is a prometheus-operator problem, because I thought the namespaceSelector for prometheus-operator doesn't work correctly. I had no other explanation for missing metrics for the kube_* metrics.

[2020-04-21 12:44] shibumi commented on #3156
Ah ok, I had a second look on the metrics.

[code]

The metric says `namespace="monitoring"`, but this is just the namespace of the kube-metrics server, the persistentvolume is from another service in another namespace, so it actually works, I just have been misreading the metric output.

Sorry for the noise. Thanks for your help @lilic.
Closing this one.

[2020-04-21 12:44] #3156 closed

[2020-04-21 12:50] shibumi commented on #2972
@vitobotta I ran into the same issue, but we still deployed the prometheus-operator to rancher. This works, except for a few components like `kube-scheduler` or `kube-control-manager`. It seems that rancher has no `kube-scheduler` and/or `etcd` pods in kube-system. Is this correct or is my cluster just misconfigured?

[2020-04-21 12:56] vitobotta commented on #2972
Hi @shibumi I was trying to use this because I didn't have much resources in the old cluster. I am back to using Rancher's own monitoring stack.

[2020-04-21 13:14] shibumi commented on #2972
@vitobotta ok, we don't use the internal stack, because of the vendor-lockin. It's not possible to migrate the monitoring from rancher to google cloud etc in a sane way.  My monitoring setup is working so far (except the rules for kube-scheduler, so I hoped I could get some information about it here).

[2020-04-21 13:45] infa-ddeore commented on #3148
the problem is prometheus cant communicate with the pod directly when istio is in `STRICT` mtls mode for the target pod's namespace, but promtheus can scrape the k8 service with `STRICT` istio mtls, thats why I want to have servicemonitor support for service role.

making service role available doesn't solve this problem 100% as scraping k8 service is like scraping one of a backend pod only.

howe

[2020-04-21 18:38] dobber commented on #2558
Thanks @laoshufeifei
In order to create the resource, you need something like this (change the provisioned to whatever you use:
[code]

Then you can add the grafana.persistence: settings in the above comment.

[2020-04-21 18:43] dobber commented on #2558
I would suggest putting this in the documentation.

[2020-04-21 19:58] jtslear commented on #2733
I presume a good question to be asked here, is when are kubelet targets refreshed?  I am too running into this issue, and between a combination of node pools being rotated in and out of clusters, alongside preemptible instances, I have a lot of targets that are no longer available for scraping.  What configuration parameters are available to help assist the prometheus operator in refreshing the li

[2020-04-22 05:47] omerlh commented on #3147
Ohh I see... so the only workaround, for now, is doing something like using yq to extract the group and run promtool :(

[2020-04-22 12:33] brancz commented on #3139
Presumably there are ServiceMonitors that set their `namespaceSelector` to those namespace(s).

[2020-04-22 13:18] brancz commented on #3148
This seems like a very special request for a very narrow use case of a system that violates Prometheus best practices. I recommend that you use the `additionalScrapeConfigs` feature which allows you to specify any Prometheus scrape config you want.

Aside from that istio should allow some mechanism other than the HOST header if they ever want to play well with the Prometheus ecosystem. Ideally som

[2020-04-22 13:38] #3148 closed

[2020-04-22 16:50] joelanford opened #3158 "Remove `context.TODO()` used in Kubernetes client function calls"
**What is missing?**
After https://github.com/coreos/prometheus-operator/pull/3154 merges, the prometheus-operator repo will contain `context.TODO()` in all Kubernetes client function calls.

We should follow up by plumbing real contexts through the call stack so that `context.TODO()` can be removed.

**Why do we need it?**
See https://github.com/coreos/prometheus-operator/pull/3154#issuecomment-6

[2020-04-23 06:04] #3146 closed

[2020-04-23 07:22] brancz commented on #2733
Kubelets are refreshed every 3min: https://github.com/coreos/prometheus-operator/blob/eea008c42a12ba3f050d840442c4bdd5942fb92f/pkg/prometheus/operator.go#L556. I wouldn't mind if this was moved to be informer based so it happens faster than delayed by up to 3 min.

[2020-04-23 07:33] brancz commented on #3151
As you're creating a subscription, presumably on OpenShift you're installing the Prometheus Operator via OLM/Marketplace? That setup can only watch the same namespace it runs in. It can't use a global watch, because OpenShift's cluster-monitoring already watches certain namespaces of openshift cluster components, meaning the two controllers would interfere with each other.

As you're already on 4.

[2020-04-23 09:24] moustafa-mneimneih opened #3159 "Grafana Multi-Cluster Dashboards in Prometheus Operator"
**What did you do?**
Deployed prometheus operator (prometheus, alertmanager, grafana) with thanos across multiple clusters. Default alerts and rules were deployed. Default Grafana dashboards were not multi cluster so I found kubernetes-mixin (https://github.com/kubernetes-monitoring/kubernetes-mixin) which does generate multi-cluster dashboards. Upon deploying the new dashboards, I had multi clust

[2020-04-23 20:31] jeffhoffman13 commented on #2555
I have Prometheus and Grafana running on localhost via docker-compose file.

I have node_exporters running on two other nodes and I can curl their metrics so the network between nodes semm ok.

How can I connect external node_exportters to a docker container on a diffrent host?

[2020-04-23 21:45] ryaneorth opened #3161 "Plans to move the Helm chart back?"
Given the deprecation timeline of the central helm repository (https://github.com/helm/charts#deprecation-timeline) are there plans to move the prometheus-operator Helm chart back to this repository or some other de-centralized Helm repository?

[2020-04-23 22:44] sev3ryn commented on #2940
@benjaminhuo have you started work on this?

@brancz what do you think, about naming attribute ignoreNamespaceLabelEnforcement(bool) and placing it under PrometheusRuleSpec?
If parameter is set to true it will not add namespace label to metrics and alerts in this PrometheusRule

[2020-04-23 23:48] rmb938 opened #3162 "Can't built docker image for ARM"
**What happened?**

[code]

**Did you expect to see something different?**

The docker image built

**How to reproduce it (as minimally and precisely as possible)**:

[code]

**Anything else we need to know?**:

The image `quay.io/prometheus/busybox-linux-arm` does not exist, only `quay.io/prometheus/busybox-linux-armv7` exists. However I can't use `make image ARCH=armv7` because go build doesn't

[2020-04-24 06:49] benjaminhuo commented on #2940
@sev3ryn , Sorry I has been working on other stuff and haven't started working on this yet .
I can create a PR for this if you haven't

[2020-04-24 08:36] matthiasr opened #3164 "podMonitorSelector alone does not work"
**What happened?**

When using a `Prometheus` that only has a `podMonitorSelector: {}` but not a `serviceMonitorSelector: {}`, the pod monitor is never synced.

When starting this way, no targets appear in Prometheus. Since these are the only ones in the namespace, the `secret/prometheus-prometheus` entry `prometheus.yaml.gz` remains an empty string.

Adding a dummy `serviceMonitorSelector: {}` fi

[2020-04-24 08:38] sev3ryn commented on #2940
@benjaminhuo  already added PR

@brancz my use case for this is that we do not want to limit our tenants to be able to use only their metrics, rather we want help them not to make mistakes by not including namespace label in every single metric they touch.
Our users are developers new to k8s and Prometheus and because of awesomely made integration with k8s (thanks to you) it is not obvious at firs

[2020-04-24 08:45] sev3ryn commented on #2940
Also about light tenancy - it is already light even with enforcing namespaces to metrics. Users still can query metrics from other namespaces using Grafana or Prometheus UI - the only way to make this enforcement hard is to use proxy like [promql-guard](https://github.com/kfdm/promql-guard) in front of Prometheus.

More context why I came to this issue :) is you can find [in this discussion](https

[2020-04-24 09:03] sev3ryn commented on #2940
but we can do it as you've said with even bigger flexibility. What if we do two changes instead of one ?

1. NamespaceLabelEnforcementWhitelistSelector metav1.LabelSelector (please propose better name) in PromtheusSpec
2. CommonLabels map[string]string in PromtheusRuleSpec that will give users ability to define common labels to be added to all the metrics in rule file. E.g. it is useful to define

[2020-04-24 09:13] brancz commented on #2940
The field in the prometheus spec should be something like “prometheusRulesExcludedFromEnforce”, and it should be a list of namespace+name.

The second one I’m not sure I understand, you can already add external labels to prometheus which will apply to all alerts produced and each rule can define its labels.

[2020-04-24 09:29] sev3ryn commented on #2940
Here I'm talking not about alert labels but about metric labels. E.g.
[code]

this construction will rewrite expressions to
[code]

[2020-04-24 09:47] brancz commented on #2940
That's something that should be done with tooling before creating the PrometheusRule. If this is a practice at your organization I encourage you to build tooling for this, but it's not something that can be widely applied.

[2020-04-24 09:59] brancz commented on #2555
@jeffhoffman13 the Prometheus Operator is about running Prometheus on Kubernetes. I recommend you to ask your questions on the [Prometheus Users Mailing List](https://groups.google.com/forum/#!forum/prometheus-users).

[2020-04-24 10:03] sev3ryn commented on #2940
commonLabels idea requires parsing promQL expression to add labels properly so it is not doable with templating tools. And prometheus-operator already parses promQL so it is trivial to add it here.

But if you think that prometheus operator should not do this -I'm still ok with it, I'll just have to write my own operator for prometheus operator that will translate ExtendedPromethuesRule to operato

[2020-04-24 10:27] sev3ryn commented on #2940
regarding prometheusRulesExcludedFromEnforce - why do you think list of namespace+name is better than label selector? IMHO labels is the k8s glue that should bind components together

[2020-04-24 12:22] brancz commented on #3162
cc @simonpasquier @metalmatze

[2020-04-24 12:32] brancz commented on #3159
The helm charts are neither used nor maintained by the prometheus-operator maintainers. Therefore we don't know the setup, so we're unlikely to be able to help you. I recommend creating an issue on the upstream helm charts repo where these helm charts are maintained.

Side note, with the jsonnet based approach you would be able to add this as a configuration parameter.

[2020-04-24 12:46] brancz commented on #3161
We're definitely not going to move it back into this repository. That said we've discussed a number of times to move this and the kube-prometheus repo out of the coreos org into a more neutral org. I could see the helm chart moving into that org as well. That said, my personal condition for this would be the renaming of the chart to be the kube-prometheus chart, because prometheus-operator is _onl

[2020-04-24 13:04] ryaneorth commented on #3161
That makes sense. Thank you for your response @brancz ! Is there any timeline for this?

[2020-04-24 13:08] Minstrel56 opened #3166 "How add list in servicemonitor params.target?"
Hello, how can i add array of targets into spec.endpoints.params.target?
If i try to use somthing like this range function
Values
[code]
Chart
[code]

i get error
Error: unable to build kubernetes objects from release manifest: error validating "": error validating data: ValidationError(ServiceMonitor.spec.endpoints[0].params.target[0]): invalid type for com.coreos.monitoring.v1.ServiceMonitor.spe

[2020-04-24 13:09] brancz commented on #3161
Currently trying to figure out who currently owns the [kube-prometheus](https://github.com/kube-prometheus) org. Basically once we've agreed on a suitable org, I'm all for just doing it :)

[2020-04-24 13:41] brancz commented on #3166
The helm charts are neither used nor maintained by the prometheus-operator maintainers. Therefore we don't know the setup, so we're unlikely to be able to help you. I recommend creating an issue on the upstream helm charts repo where these helm charts are maintained.

[2020-04-24 13:45] moustafa-mneimneih commented on #3159
Thanks for your response.
I've started looking at using this project instead of the helm chart. I couldn't find any docs around using jsonnet with this. Also, I couldn't find any reference to how I can enable multi-cluster setup using this prometheus operator. Ultimately I want to deploy a prometheus, alertmanager, grafana and thanos. Should i still be looking at this repo? Or would kube-prometheu

[2020-04-24 13:47] ryandawsonuk opened #3167 "`path` in PodMetricsEndpoint from PodMonitor Spec is not picked up"
Seems to [be in the CRD](https://github.com/coreos/prometheus-operator/blob/6225c4c5fb3ff91ad88f2528775a34c986804ed0/example/prometheus-operator-crd/monitoring.coreos.com_podmonitors.yaml#L125) but it's not exactly clear how to set it.

The default seems to be `/metrics`. How would I change this to `/prometheus`? I'm guessing something like:
[code]
Not been able to get it to work as yet though.

[2020-04-24 13:49] Cottonglow commented on #3151
Thank you @brancz . That makes sense. I managed to get it to a working state by updating the Prometheus CSV to allow for `MultiNamespace` installation and then adding the `test` namespace as a target namespace in the OperatorGroup.

I will have a look at the User Workload Monitoring feature next and see how it works. Will this feature be the recommended way to do monitoring on OpenShift? As oppose

[2020-04-24 13:54] brancz commented on #3159
kube-prometheus represents the "full" solution. Prometheus Operator is just the kubernetes controller that manages individual Prometheus / Alertmanager clusters. Kube-Prometheus is a concrete use of the Prometheus Operator.

[2020-04-24 13:57] brancz commented on #3167
Can you check whether the PodMonitor is picked up by your Prometheus at all? Make sure to double check label selectors configured in your Prometheus instance as well as that your pods have the selector you specify in the PodMonitor.

[2020-04-24 13:58] brancz commented on #3151
Yes.

[2020-04-24 14:27] moustafa-mneimneih commented on #3159
Great thanks!

[2020-04-24 14:27] #3159 closed

[2020-04-24 14:35] Cottonglow commented on #3151
So I have tested the User Workload Monitoring feature on a new cluster. I deployed the following ConfigMap:
[code]
and used the same ServiceMonitor as previously:
[code]
and this is the Kafka yaml that I want to scrape:
[code]
Once Kafka is deployed, it's services will receive the `strimzi.io/kind: Kafka` label:
[code]

The ServiceMonitor still doesn't appear in the configuration. I think I might

[2020-04-24 14:47] brancz commented on #2957
Sorry for the late reply. I feel like something less explicit would be more appropriate here. Maybe we can have something similar to the Prometheus configuration which is preprocessed before it's presented to the Prometheus server. If we did that, then we could allow users to exchange the reloader that also perform the templating with whatever they want. The contract would essentially be: a contai

[2020-04-24 15:29] ryandawsonuk commented on #3167
I changed my service to be on the default of `/metrics`. But what I posted above might be correct - I might have just applied it wrong. I'll try it again and see.

[2020-04-24 15:54] rmb938 commented on #2946
For people that want arm support I have made https://github.com/rmb938/prometheus-operator-multi-arch

It uses github actions and clones this repo to do build and publish the image, no extra code needed. If you don't trust a random persons images (I don't blame you) feel free to fork my repo and set it up yourself.

[2020-04-24 15:55] gclawes commented on #2946
Could you make a PR for this repo to do the same?

[2020-04-24 16:00] rmb938 commented on #2946
I can once https://github.com/coreos/prometheus-operator/issues/3162 is fixed. How I'm doing it is bypassing the makefile and I doubt the maintainers will be happy if I do that

[2020-04-24 17:14] FelixRodriguezJara commented on #3139
Yes, you were right, we had some of the monitors pointing to kube-system and default kubernetes elements. We have removed them and the errors are gone!

Thank you!

[2020-04-24 17:14] #3139 closed

[2020-04-24 17:17] brancz commented on #3164
This is unfortunately due to some historic legacy. I personally think we should actually remove this, since we have the `additionalScrapeConfigs` feature. (this used to be intentional to allow the user to manage the prometheus config themselves if service monitor selectors were unspecified, the additionalScrapeConfigs feature turned out to be the better choice though)

If you want to do a PR to fi

[2020-04-24 17:18] brancz commented on #2940
In a multi tenant environment (which `enforcedNamespaceLabel` was aimed towards), we want the ability to alert on global things to be a _very_ controlled and _very_ explicit thing. We want to avoid accidentally selecting things or users knowing magic selectors.

[2020-04-24 17:44] Slach opened #3168 "Quickstart installation way was broken after remove rights from ClusterRoleBinding"
**What happened?**
Installation process which recommended on https://github.com/coreos/prometheus-operator#quickstart was broken after https://github.com/coreos/prometheus-operator/commit/05a8934c678134bffc83c401b091e6d0df651d6e

kubectl apply -f https://raw.githubusercontent.com/coreos/prometheus-operator/master/bundle.yaml

failed with state in CrashLoopBackOff
with error
[code]

cause
ClusterRo

[2020-04-24 20:30] davidham commented on #1139
This alert started firing on one of my clusters, how do I fix it? What is the problem this is calling out?

[2020-04-25 11:37] brancz commented on #3168
I dropped a note on your comment on the commit. We should definitely make the bundle work, but you should also not use bundles from the master branch but rather from releases. Nevertheless thanks a lot for reporting! It might have gone unnoticed into a release otherwise! :)

[2020-04-25 11:53] Slach commented on #3168
ok I can wait for a new release
and I need use `bundle.yml` from master on my staging environment
thanks a lot for clarify

[2020-04-25 11:53] #3168 closed

[2020-04-25 12:24] jeffhoffman13 commented on #2555
Never mind it is an issue I believe with the Prometheus container. You can't override the /etc/prometheus/prometheus.yml file in the container, so custom configs can't be used. the container needs to be rebuilt with a link to /tmp/prometheus.yml.

[2020-04-26 06:04] izelnakri opened #3169 "Maintain a helm chart"
Since the introduction of ```kubectl -k``` and ```helm 3```, it is now possible to version control helm charts and run kustomize over the output of an helm chart without installing additional software. This gives developers 100% control over their manifest and provides an easy way to automate their workflow using the native/and standard software.

Having `prometheus-operator` chart as 'community-s

[2020-04-27 00:56] meschbach commented on #3061
I am seeing a similar issue with an installation of `prometheus-operator`.  Did you find a solution to your issue?

[2020-04-27 01:26] Yangstatus commented on #3061
This issue has not been resolved, but it does not affect the normal use of the service.This may be a configuration BUG and I hope this problem can be fixed later.

[2020-04-27 01:27] yeya24 opened #3170 "Support environment variables in Prometheus"
**What is missing?**

Currently, Prometheus CR doesn't support setting env vars for the Prometheus container

**Why do we need it?**

https://github.com/prometheus/prometheus/releases/tag/v2.18.0-rc.0 adds Jaeger integration to Prometheus. Jaeger supports different type of [env vars](https://github.com/jaegertracing/jaeger-client-go#environment-variables). We should have the ability to set env var

[2020-04-27 07:21] matthiasr commented on #3164
Hmm, that sounds like it would be a breaking change for someone. I think I
can see how to extend the existing logic to be "if service and pod monitors
were unspecified", what do you think about doing that first, and then
tackling the legacy-cleanup separately?

On Fri, Apr 24, 2020 at 5:17 PM Frederic Branczyk <notifications@github.com>
wrote:

[2020-04-27 07:26] brancz commented on #3164
That sounds good to me! Maybe we can specifically call this out in field descriptions that this behavior will be dropped in the future and we do so in a couple of releases?

[2020-04-27 08:06] brancz commented on #3169
None of the maintainers use helm and we used to have a helm chart as part of this repo and it certainly did not work out well, which is exactly why it was removed. I'm not opposed to have a separate repo for it, as mentioned here: https://github.com/coreos/prometheus-operator/issues/3161, but we will not be having one as part of this repo again. It would give a false perception of the maintainers

[2020-04-27 08:12] brancz commented on #3170
You can already specify environment variables through the `containers` array, by "redefining" the Prometheus container, as everything you specify in there will be merged into the generated Prometheus container. That allows you to specify environment variables. Note this explicitly excludes any guarantees about upgrades as we can't make sure things work as expected when people can specify arbitrary

[2020-04-27 08:13] brancz commented on #3061
This is a race that between the file being provisioned on disk by the sidecar and Prometheus starting, however, Prometheus just tries again and once the file is there it starts just fine. This is primarily a beauty mark, things still work as expected. If someone wants to work on removing this through we'd be more than happy to review! :)

[2020-04-27 09:24] jdomag commented on #2207
Anybody knows how to allow traffic from nodes to masters on port 4001 using kops?

[2020-04-27 09:33] izelnakri commented on #3169
Could you expand on why it did not work well? A lot happened & happening on the helm development side of things. Today I found the best way to deploy any 3rd party k8s project is to helm output their chart and run kustomization over it when values.yaml falls short. This approach works with jsonnet as well meanwhile the current suggested jsonnet customization doesnt work well with kustomize(which i

[2020-04-27 09:41] lilic commented on #3169
As Frederic said, we do not use helm or that helm chart, and we cannot maintain it or provide support for it when users open issues about it.

We are not preventing those who maintain or use that chart to add those things in the upstream community supported chart. Not sure what the difference between it being here and upstream?

[2020-04-27 10:07] izelnakri commented on #3169
Hi @lilic, I would still appreciate an explanation on why having a chart in this repo did not work well and is a bad idea.

" Why are you or someone else not adding those things in the chart upstream? Not sure what the difference between it being here or in the upstream?" -> if the Chart configurations were in this repo than it is much easier to create a automated release process where chart would

[2020-04-27 10:09] brancz commented on #3169
Because none of the maintainers used and use helm and helm contributions were always sporadic and no one ever truly took maintainership of them they just naturally decayed, and people opened issues against the repo for something the maintainers had no reasonable way to respond that would actually be satisfactory.

Again, we're super happy to give someone that responsibility, even in a blessed spac

[2020-04-27 15:47] yeya24 commented on #3170
Thanks. Successfully trying the newest Prometheus with Jaeger, by redefining the Prometheus container!

[2020-04-27 15:47] #3170 closed

[2020-04-27 21:26] meschbach commented on #3061
Thanks @brancz !  Definitely wasn't reading the pod state correctly and the service did start properly after the sidecar generated the configuration file.

First thought off the top of my head is to exponentially back off for up to 30 seconds if the file doesn't exist, possibly with an additional command line option.  Would this be an acceptable solution or is there a better alternative?

Willing

[2020-04-28 01:31] Yangstatus commented on #3061
That's a good idea!

[2020-04-28 03:37] benjaminhuo opened #3172 "Supporting prometheus 2.17.2"
There are 2 minor prometheus releases 2.17.1 and 2.17.2 since 2.17.0 in which memory leak or cpu/memory consumption fixes are included.
Is it safe to add v2.17.2 to operator's compatibility matrix and then update kube-prometheus?

Thanks
Ben

[2020-04-28 05:56] brancz commented on #3172
Feel free to add them, I don’t see a reason why not.

[2020-04-28 06:16] benjaminhuo commented on #3172
Sure :)

[2020-04-28 12:07] #3164 closed

[2020-04-28 13:05] shay-berman opened #3178 "No validation on the RemoteReadSpec fields"
**What happened?**
I set this remoteread detail in the prometheus CR
[code]
and successfully create the prometheus CR.

**Did you expect to see something different?**
I would expect that if I set a key that is not valid for remoteRead spec the creation should fail.

**How to reproduce it (as minimally and precisely as possible)**:
Create prometheus CR using the remoteRead above.

**Environment**
K

[2020-04-28 16:05] patoarvizu opened #3180 "--kubelet-service flag when deployed via OLM?"
**What did you do?**

I'm deploying the operator through the OLM framework, via a `Subscription` object, but because the most recent `ClusterServiceVersion` ([0.37.0](https://github.com/operator-framework/community-operators/tree/master/upstream-community-operators/prometheus/0.37.0)) doesn't include the `--kubelet-service` flag, and as far as I can tell, there's no way to inject that via environm

[2020-04-29 08:10] #3093 closed

[2020-04-29 09:29] simonpasquier opened #3181 ""namespace <...> does not exist" errors in the logs"
**What happened?**

Seeing errors like this in the logs when starting prometheus-operator with different values for the `--prometheus-instance-namespaces` and `--namespaces` arguments.

[code]

**Did you expect to see something different?**

Yes, no error.

**How to reproduce it (as minimally and precisely as possible)**:

**Environment**

* Prometheus Operator version:

`master`

* Kubernetes ver

[2020-04-29 09:51] brancz commented on #3178
cc @pgier @dgrisonnet with the recent CRD changes this should now be validated as expected right?

[2020-04-29 10:07] #3137 closed

[2020-04-29 10:27] brancz commented on #3180
The OLM catalog entry is scoped to invididual namespaces, which is why this kind of configuration is and won't be possible for that use case. I've been playing with the idea though to just extract the controller to sync kubelets into an `Endpoints` object, then you could just run it separately.

[2020-04-29 10:40] #2946 closed

[2020-04-29 10:40] #3162 closed

[2020-04-29 10:46] brancz commented on #3061
If we can find something reasonably small then something minimal that just checks that the file is there and then starts the prometheus process would be best I feel.

[2020-04-29 10:48] dgrisonnet commented on #3178
Since #3107 was reverted by #3132 because we needed to upgrade CRD to v1 before upgrading controller-gen I don't think this is validated right now. However, since we recently upgraded CRD to v1 in #3175 we might be able to update controller-gen again.

I am concerned that upgrading controller-gen will break our v1beta1 CRDs again. I am not sure if controller-gen provides an opt-in way to remove th

[2020-04-29 10:57] brancz commented on #3178
If that’s the case, why don’t we drop v1beta1 entirely? It seems like keeping it is keeping us from marking progress. People who have to use v1beta1 will just have to use an older version of prometheus operator compatible with their Kubernetes version.

[2020-04-29 11:24] dgrisonnet commented on #3178
Sounds good to me.

[2020-04-29 13:53] avestuk opened #3183 "Bundle fails RBAC"
**What happened?**

Deploying the Prometheus Operator using the latest bundle.yaml from master gives issues with RBAC permissions.

`kubectl apply -f  https://raw.githubusercontent.com/coreos/prometheus-operator/master/bundle.yaml`

Master currently at: https://github.com/coreos/prometheus-operator/commit/d1c3b3f6e6e2c29420a49404a943004ae3460bba

[code]

Fixed by adding `apiextensions.k8s.io` and

[2020-04-29 18:00] meschbach commented on #3061
What would happen if the file isn't present?

If we change the entry point to a script then something like this might work on busybox:
[code]
Is modifying the entry point a stability concern?

[2020-04-29 18:24] elisiano commented on #3061
another approach would be to have an init-container that generates that file the first time, so that when the operator starts the file is there for sure.
This means that the file should be placed onto a shared volume though.

[2020-04-29 22:39] patoarvizu commented on #3180
Ah, I see... so you're saying that because there can be more than one `Subscription` to `prometheus-operator` in the same cluster, there would be some contention between multiple instances to create/manage the same kubelet service? That would make sense, but I'm not sure if that's what you mean.

That logic runs per instance of the operator, not per CRD instance, right? So if there's a single oper

[2020-04-29 23:24] meschbach commented on #3061
I think that is a great solution!  I believe the `prometheus` instance and the configuration reloader share a volume.  Do you think it would be an issue to use this volume during initialization?

[2020-04-30 07:35] brancz commented on #3061
Modifying the config reloader to be a one-off instead of long running for the init container sounds like a fantastic idea!

[2020-04-30 08:18] paulfantom commented on #3183
Applying `master` bundle version with prometheus operator in version v0.38.0 won't work. You should use the same version of a bundle as prometheus-operator, in this case: https://github.com/coreos/prometheus-operator/blob/release-0.38/bundle.yaml

In https://github.com/coreos/prometheus-operator/pull/3155 we purposefully removed management of CRDs by prometheus-operator, so RBAC for CRD is no long

[2020-04-30 08:43] fuguohong1024 opened #3186 "edit cm(configmap) prometheus-env ,then i restart pod to reload cm,but it does't work,like never edit it"
i want  prometheus monitoring etcd ,the i add some config  to cm like this
`- job_name:monitoring/etcd/0
    scheme: https
    tls_config:
      insecure_skip_verify: true
    static_configs:
    - targets: ['192.168.1.160:2379','192.168.1.161:2379','192.168.1.162:2379']`
and my prometheus-k8s.yaml
`volumeMounts:
        - mountPath: /etc/prometheus/config
          name: config
`......
 ` - empty

[2020-04-30 14:49] rayotte opened #3188 "Vulnerability scanner for prometheus-operator"
* Prometheus Operator version:

   prometheus-operator 0.38.1 (8.13.0 helm chart)

* Kubernetes version information:

   client: 1.17.0
   server: 1.15.5

Is there a way to do CVE vulnerability scan for prometheus-operator (and other busybox) image? Tried both Clair and Anchore scanners but both did not work for images with busybox bases

[2020-04-30 15:59] avestuk commented on #3183
@paulfantom Ah I see. Thanks very much.

[2020-04-30 19:12] vrathore18 opened #3189 "Unable to mount EFS volume"
I am started getting this error(previously it was working) and prometheus stucked at container creating.
`prometheus-qa-prometheus-operator-k8s-prometheus-0           0/3     ContainerCreating   0          2m35s`
PS. DNS is enabled in VPC
[code]

[2020-04-30 19:48] elisiano commented on #3061
yeah before leaving my previous comment I went looking for that source code but my go is weak and I wouldn't know how to make that happen without directions.

[2020-05-01 09:28] kiuka commented on #3150
@brancz why would it be unsupported?

"NFS is only potentially POSIX, most implementations are not."

[2020-05-01 15:06] qukichin opened #3190 "Grafna could not import the default dashboard and data source"
Hi
The Chart version I used is 8.12.3, It all looks good!
[code]

But the dashboard and data source were not imported in grafana.

kubectl logs -n monitoring -f --tail 100 prometheus-grafana-546cf65f95-blhz2 grafana-sc-dashboard
[code]

kubectl logs -n monitoring -f prometheus-grafana-546cf65f95-blhz2 grafana-sc-datasources
[code]

[2020-05-01 15:08] qukichin commented on #3190
172.21.0.1 is the kube-apiserver service address.
[code]

[2020-05-01 16:52] qukichin commented on #3190
Currently, we use aliyun Kubernetes.

[2020-05-01 17:09] qukichin commented on #3190
There doesn't seem to be an associated configmaps in the namespace?
[code]

[2020-05-03 09:09] vsliouniaev commented on #3169
@izelnakri Are those additional CRDs you mentioned in-use somewhere?

[2020-05-03 09:23] brancz commented on #3150
Prometheus' storage relies on certain semantics, which are not POSIX compliant in many NFS implementations. With this significant unrecoverable storage corruptions can happen (and have happened).

[2020-05-03 20:14] shay-berman commented on #3178
Thanks guys for your responsiveness.
So does this bug is going to be fixed?

[2020-05-03 20:22] shay-berman opened #3191 "Why prometheus server object does NOT create service object to the Prometheus CR?"
**What happened?**
The creation of the prometheus CR does not create its k8s service!
It means that in order to create Prometheus Custom Resource the user should create the CR BUT also need to manually create a k8s service for this prometheus stateful-set.
So why the create of the service for the prometheus stateful-set is not part of the operator job?

**Did you expect to see something different?

[2020-05-04 05:58] brancz commented on #3178
It would be great if you could test that once #3187 merges :)

[2020-05-04 06:20] shay-berman commented on #3178
Sure @brancz. Also reviewed #3187
But can you please clarify how merging #3187 will fix this issue?

[2020-05-04 06:30] brancz commented on #3178
#3187 actually won't cut it just yet, (the theory is) we also need to upgrade the controller tools as @dgrisonnet mentioned.

[2020-05-04 06:32] shay-berman commented on #3178
ok, thanks for the clarification.

[2020-05-04 06:53] brancz commented on #3191
There can be infinite numbers of configurations that would be "correct" depending on the users requirements. This is not something we can generalize and universally do. We intentionally leave this up to the user, the prometheus operator is not about provisioning services, it's about the life-cycle and configuration of Prometheus itself.

[2020-05-04 06:54] brancz commented on #3190
The helm charts are neither used nor maintained by the prometheus-operator maintainers. Therefore we don't know the setup, so we're unlikely to be able to help you. I recommend creating an issue on the upstream helm charts repo where these helm charts are maintained.

[2020-05-04 06:54] #3190 closed

[2020-05-04 06:56] brancz commented on #3189
This doesn't seem like a problem with the prometheus operator, but rather with your cluster or volume provisioning/mounting. Can you mount these volumes with other Pods?

[2020-05-04 06:58] brancz commented on #3186
You need to configure this in the `ServiceMonitor` custom resource. The secret containing the prometheus configuration is autogenerated and will always be reconciled so what you are experiencing is expected.

[2020-05-04 07:02] brancz commented on #3188
I am not aware of a scanner that scans busybox.

That said prometheus operator is a statically linked binary, so scanning the image isn't going to help you a whole lot, as what you run isn't concerned with it. At the very most maybe the root CAs are interesting but are updated whenever a new debian package is released, which doesn't happen very often (debian because that's where the prometheus bus

[2020-05-04 07:11] shay-berman commented on #3191
Thanks @brancz  for the clarification.
Its a bit strange that the CR of the prometheus does not generate its service, because without service no one can really use the prometheus it self.   I am not sure but I think that usually operator also handle the relevant service\ingress needed for the app as part of the creation of the CR - but maybe I am wrong.

[2020-05-04 08:06] brancz commented on #3191
Prometheus Operator being the first operator that was ever created, I think if anything it would be setting the standard :)

The problem is that there can be infinite ways to configure a service/ingress none of which would truly satisfy all users, and if it would, then we would be recreating those APIs as part of the prometheus operator, which doesn't really make sense.

[2020-05-04 08:33] ingvarm-gr commented on #3147
This is one of the reasons we wrote github.com/G-Research/prometheus-config-loader (keep your prometheus rules in "prometheus rule YAML", one layer of templating that uses different 'this is expansion' to never collide with what prometehus use, promtool checking, unit-testing, and uploading to multiple clusters).

[2020-05-04 10:10] manikanta-kondeti commented on #2864
@jbrunetext were you able to find out the fix for this?

[2020-05-04 10:35] brancz commented on #3061
The reloader is here: https://github.com/coreos/prometheus-operator/blob/master/cmd/prometheus-config-reloader/main.go

And I would suggest we add a new flag, something along the lines of `--one-off`, which just runs the processing once, instead of watching. It requires a bit of a refactoring in the thanos reloader code, to allow extracting and using only the templating part, separately from the f

[2020-05-04 10:41] brancz commented on #3180
Correct.

You can have multiple prometheus operator instances for the same CRDs, but not for the CRs (Prometheus, ServiceMonitor, PodMonitor, etc.). If two prometheus operators act on the same CRs, then the outcome is undefined, as only one controller must be actively reconciling them.

[2020-05-04 12:42] dgrisonnet commented on #3178
Hi @shay-berman, sorry I misunderstood your initial problem. In order to validate that all the fields exist, we use Kubernetes CRD pruning. However, this feature is only available after Kubernetes v1.15.0. Because of that, we disabled it in `kube-prometheus` #2924 but I don't know how it is done in the helm chart.

Thinking about it we might want to revert https://github.com/coreos/kube-prometheus

[2020-05-04 17:07] ingvarm-gr commented on #3166
It can be quite useful to simply render the helm chart to stdout (or redirected into a file). Looking at the snippet of template, it looks like your range template does not include the `-` list indicator, whereas your hand-crafted version does.

[2020-05-04 20:06] shay-berman commented on #3191
ok, what about setting the headless service that needed for the thanos sidecar?  you can see my thoughts -> https://github.com/helm/charts/pull/22238

[2020-05-04 20:08] shay-berman commented on #3178
Helm does nothing here.  If the CR has admission controller that fail on wrong field also the helm should fail.

[2020-05-05 03:10] fuguohong1024 commented on #3186
3Q,i know how to do it。

[2020-05-05 03:10] #3186 closed

[2020-05-05 08:11] vrathore18 opened #3192 "How can I expose grafana, prometheus and alert manager via ALB"
I saw a couple of example on how to expose grafana via ngnix. But I am looking for a way to expose grafana, prometheus and alert manager via ALB ingress

[code]

But this is now working. any pointers? how to make it work for ALB?

[2020-05-05 08:31] brancz commented on #3178
What @dgrisonnet meant is we have no idea if the helm chart is correctly synced, it's not maintained by us as we don't use it.

[2020-05-05 08:32] brancz commented on #3178
I really think we should move beyond 1.14 at this point. I don't think we should put much more work into supporting it.

[2020-05-05 08:33] brancz commented on #3191
You can have multiple groups of Prometheus servers that may or may not be part of the same Thanos setup, having a service like that will never satisfy everyone, and to most it will just be noise.

[2020-05-05 13:55] haf commented on #3169
Instead of having a Helm chart, how about having plain kubernetes manifests in this repo? That way, people can [c|k]ustomize the way they want, downstream.

[2020-05-05 17:58] clausa20 opened #3193 "Thanos sidecar with serviceAccountName in Prometheus object"
Is there a way to specify a serviceAccountName to run the thanos side container with prometheus object?
For example having this:

kind: Prometheus
metadata:
  name: myprometheus
  namespace: monitoring
  labels:
    prometheus: myprometheus
spec:
  ....
  thanos:
    objectStorageConfig:
      key: thanos.yaml
      name: thanos-objstore-config

I would like to have a way to specify something like

[2020-05-05 19:05] jtslear commented on #2733
Is this the only way, currently, that kublet targets are refreshed?

In looking at one of my clusters, it's got two nodes configured as `targets` that haven't been attached to the cluster for at least 7 days if not longer.  When viewing details on the `service-discovery` endpoints, there are even more nodes that haven't been around for awhile.  If we are refreshing this data every 3 minutes, presu

[2020-05-05 19:26] pgier commented on #3178
I created https://github.com/coreos/kube-prometheus/pull/519 which reverts the previous compatibility changes.  This enables validation, but the CRD will no longer apply in kube 1.14 and earlier.

[2020-05-05 23:56] andrewsav-datacom commented on #1859
@brancz I'd like to revisit this with you if possible. We have a working workaround here in this thread, could we integrate it to the code base of kube-prometheus, so that every kubeadm user does not have [to do this](https://github.com/coreos/prometheus-operator/issues/1859#issuecomment-437740104) manually?

[2020-05-05 23:57] AndrewSav commented on #1859
@brancz I'd like to revisit this with you if possible. We have a working workaround here in this thread, could we integrate it to the code base of kube-prometheus, so that every kubeadm user does not have [to do this](https://github.com/coreos/prometheus-operator/issues/1859#issuecomment-437740104) manually?

[2020-05-06 02:22] izelnakri commented on #3169
@vsliouniaev havent seen them yet but based on my use them seem needed. @haf I think Helm should make versioning declarative with `package.json`(maybe helm.json) and `helm_charts` folder. Of course put all the manifests under one file however versioning it and updating it is still a challenge. In my opinion, helm will eventually need to have explicit versioning and most CNCF projects are getting d

[2020-05-06 03:34] fuguohong1024 opened #3194 "monitoring/ingress-nginx up = 0"
my service and servicemonitor like follow:
# kubectl  -n monitoring get servicemonitor  ingress-nginx -o yaml
apiVersion: monitoring.coreos.com/v1
kind: ServiceMonitor
metadata:
  annotations:
    kubectl.kubernetes.io/last-applied-configuration: |
      {"apiVersion":"monitoring.coreos.com/v1","kind":"ServiceMonitor","metadata":{"annotations":{},"name":"ingress-nginx","namespace":"monitoring"},"s

[2020-05-06 03:38] fuguohong1024 commented on #3194
something i need to do for monitor  ingrees? or y not data

[2020-05-06 06:30] shay-berman commented on #3191
got your point @brancz - so may I close this ticket?

[2020-05-06 06:36] lilic commented on #3169
We have plain manifests in this repo -> https://github.com/coreos/prometheus-operator/tree/master/example :)

[2020-05-06 06:47] shay-berman commented on #3178
@pgier \ @brancz
You mentioned that [prometheus-operator-helm-chart](https://github.com/helm/charts/tree/master/stable/prometheus-operator) does not maintained by you(prometheus operator maintainers).

So i wonder which one should I use - the [prometheus-operator-helm-chart](https://github.com/helm/charts/tree/master/stable/prometheus-operator) or the [kube-prometheus](https://github.com/coreos/ku

[2020-05-06 07:02] #3181 closed

[2020-05-06 08:28] amuraru opened #3195 "Add support for pattern/regex matching of operator namespaces/denyNamespaces"
**What is missing?**

Currently the operator allows setting namespaces or deny-namespaces to configure the list of NSs watched.

In dynamic environments where the NS are dynamic and require multiple operator instances to be run it would be useful to specify these parameters as patterns/regex and not statically.

**Why do we need it?**

This allows:
- disjoint/non-overlapping set of namespaces watc

[2020-05-06 08:44] haf commented on #3169
Yes, but I mean a complete setup that I can point my kustomization to. Would you let me PR what I mean?

[2020-05-06 08:45] fuguohong1024 commented on #3194
#edit  endpoint  of   add ip like follow,then is work

apiVersion: v1
kind: Endpoints
metadata:
  labels:
    app: ingress-nginx
  name: ingress-nginx
  namespace: ingress-nginx
subsets:
  - addresses:
      - ip: 192.168.1.142
      - ip: 192.168.1.143
      - ip: 192.168.1.163
      - ip: 192.168.1.164
    ports:
    - name: metrics
      port: 10254
      protocol: TCP

[2020-05-06 08:45] #3194 closed

[2020-05-06 09:16] lilic commented on #3169
This seems like a problem with kustomize if it needs very specific directory or something for it. We have this https://github.com/coreos/prometheus-operator/blob/master/kustomization.yaml no idea around the backstory for it nor do I use kustomize, but yes if it doesn't work lets fix it, as it seems like it worked before?

cc @brancz whats the history around that file?

[2020-05-06 09:17] paulfantom commented on #3169
Full working kustomize setup is provided by kube-prometehus repository. Kustomize file is available at https://github.com/coreos/kube-prometheus/blob/master/kustomization.yaml

[2020-05-06 09:41] haf commented on #3169
Ok, let's review improvement opportunities for those:

- [grafana dashboards definitions](https://raw.githubusercontent.com/coreos/kube-prometheus/master/manifests/grafana-dashboardDefinitions.yaml) — too large, you'll run into problems applying; instead use configMapGenerator in kustomization.yaml and point to plain json files. The upside of this is a clean workflow from Grafana where you create

[2020-05-06 09:42] paulfantom commented on #3169
This is something should be discussed in another issue in kube-prometheus.

[2020-05-06 09:58] paulfantom commented on #3169
There is no one recommended way and don't plan on recommending one other the other in prometheus-operator repository. Readme points out the differences between two different mechanisms of deploying stack and it is out for the end-user to decide which one is the one he or she wants to use.

We as maintainers of prometheus-operator use jsonnet from kube-prometheus to generate deployment manifests. W

[2020-05-06 11:08] mlushpenko opened #3196 "Allow disabling HA mode for the alertmanager"
**What is missing?**
Not possible to disable HA mode

**Why do we need it?**
Get rid of alertmanager errors on a single node cluster https://github.com/prometheus/alertmanager/issues/1814

**Anything else we need to know?**:
To disable HA mode you have to put `--cluster.listen-address=""` and it is currently hardcoded https://github.com/coreos/prometheus-operator/blob/6b1a5276fe42efd355b001cd891cf

[2020-05-06 11:16] mlushpenko commented on #3196
I could try creating a PR if you can guide me a bit.

[2020-05-06 12:42] christianlafleur commented on #2733
I have the same issue

[2020-05-06 14:48] paulfantom commented on #3196
HA is a huge part of prometheus-operator since usually user wants monitoring to be one of the most reliable parts of the cluster. I don't see how disabling it can do anything good.

[2020-05-06 16:30] brancz commented on #3169
FWIW I think the list of suggestions are awesome! Let’s work on those things! :)

[2020-05-06 16:41] brancz commented on #2733
I don’t know off the top of my head if debug mode prints much about node sync, but do give it a try.

[2020-05-06 16:50] brancz commented on #3196
I don’t think they’re particularly good use cases but I can imagine a single node setup where it’s kind of useless to have multiple nodes. I think I could live with removing this if replicas is 1.

[2020-05-06 17:16] patoarvizu commented on #3180
But the logic to create the kubelet `Endpoints` is not executed per CR, only at the global operator level, isn't it?

If that assumption is correct, there could still be contention if there is more than one operator running on the same cluster, but it seems to me that could still happen regardless of whether the operator is deployed via OLM or "manually" (or both). And even if that could happen, i

[2020-05-06 19:00] mlushpenko commented on #3196
I guess those errors aren't critical and maybe they don't affect anything at all, not sure. We have a number of small clusters forwarding alerts to the tools cluster and no hardcore SLAs yet, so no strong requirements for high availability. And I believe there are many companies who have test environments in a similar situation. So, for my understanding, you wouldn't do it yourself but could consi

[2020-05-06 20:19] geofffranks opened #3198 "KubeletDown alert rule firing, Kubelet dashboards broken"
**What did you do?**

We upgraded from v8.2.0 to v8.13.3 of the helm chart for prometheus-operator, our KubeletDown alerts started firing, and kubelet dashboards started breaking (no data at all, even historically). Kubelet scraping is working according to prometheus, and there are metrics for . it.

**Did you expect to see some different?**

No alerts to fire, and dashboards to keep working

**En

[2020-05-07 07:46] brancz commented on #3196
I would be ok with that yes.

[2020-05-07 07:54] brancz commented on #3180
That is correct.

[2020-05-07 08:05] brancz commented on #3178
The jsonnet version of kube-prometheus is maintained by the same people who maintain the prometheus operator. You need to make your own opinion of that information (obviously we recommend the jsonnet approach, but that's _our_ opinion). We simply don't believe in helm as a technology which is why we don't use it or support it.

That said, often the jsonnet version is more up to date as it's kind o

[2020-05-07 08:05] #3191 closed

[2020-05-07 08:25] brancz commented on #3195
The problem with something like this is that there is no such support in the Kubernetes API for doing something like this, so all we could do is list all, and then filter, which we already allow with Kubernetes native mechanisms like label selectors.

This is very non trivial. The prometheus operator heavily relies on not changing this at runtime, it would be a massive refactoring to change this.

[2020-05-07 08:27] brancz commented on #3193
It's the same `Pod` as the Prometheus server, so it's just the `serviceAccountName` field of the `PrometheusSpec`.

[2020-05-07 08:28] brancz commented on #3192
Unfortunately I have no experience with the ALB ingress controller. That said, this shouldn't be different from exposing any other service.

[2020-05-07 08:31] brancz commented on #3198
The helm charts are neither used nor maintained by the prometheus-operator maintainers. Therefore we don't know the setup, so we're unlikely to be able to help you. I recommend creating an issue on the upstream helm charts repo where these helm charts are maintained.

[2020-05-07 08:31] #3198 closed

[2020-05-07 09:32] helios741 opened #3199 "kube-controller-manager target is down"
**What happened?**

kube-controller-manager target is down, because "server returned HTTP status 400 Bad Reques":
![image](https://user-images.githubusercontent.com/12036324/81277104-820b0880-9086-11ea-9427-18d96eef6d50.png)

**Did you expect to see something different?**
I want to see its status is UP, which is ok on the k8s 1.8 cluster, but my current cluster is 1.16

**How to reproduce it (as m

[2020-05-07 17:22] patoarvizu commented on #3180
Does that mean that this feature could potentially be implemented? 🙂

[2020-05-08 06:18] brancz commented on #3180
Sorry, I’m not following what feature. If the —kubelet-service flag is not specified then the sync process is not started.

[2020-05-08 07:02] franck102 opened #3202 "kube-state-metrics container is using obsolete command line arguments"
The latest stable chart (https://github.com/helm/charts/tree/master/stable/prometheus-operator ) creates a kube-state-metrics deployment that uses the obsolete --collectors command line argument, and the container fails to start:

[code]

[code]

The argument has been replaced with --resources

[2020-05-08 09:08] sunzhen99 opened #3203 "AggregatedAPIDown"
Annotations
message = An aggregated API v1beta1.metrics.k8s.io/default is down. It has not been available at least for the past five minutes.
runbook_url = https://github.com/kubernetes-monitoring/kubernetes-mixin/tree/master/runbook.md#alert-name-aggregatedapidown

[2020-05-08 09:09] sunzhen99 commented on #3203
![image](https://user-images.githubusercontent.com/65014110/81390817-a8947680-914e-11ea-8285-2251077ed5ce.png)

[2020-05-08 10:00] haf-afa commented on #3169
Ok, here's the WIP https://github.com/coreos/kube-prometheus/pull/523

[2020-05-08 14:15] shay-berman opened #3204 "Scrape external service with FQDN"
**What happened?**
Cannot scrape a service with its FQDN that is out side of the k8s cluster. It only works if you set the service IP, but I prefer not to use IP(s) which may change.

See the prometheus UI that just show the servicemonitor name but nothing inside the endpoints list:
![image](https://user-images.githubusercontent.com/1079649/81413591-5c493680-914e-11ea-8eb2-408415d29ee0.png)

Here

[2020-05-08 14:31] patoarvizu commented on #3180
Yeah, I would like to *be able to* set the flag when the operator is deployed via OLM. Right now it can only be set if the operator is deployed directly via a `Deployment` where I can modify the `args`, but if deployed via a `Subscription`, there's no way to do that.

[2020-05-08 16:19] franck102 commented on #3202
Bitname has a different Docker image for kube-state-metrics with the same v1.9.5 tag. Cleaning that up solved the problem.

[2020-05-08 16:19] #3202 closed

[2020-05-09 09:55] sebarys opened #3205 "Dropping metrics gathered using ServiceMonitor"
Hi,

I'm using ServiceMonitor to scrape metrics from Istio. I would like to drop some of them and found that it is possible using `metric_relabel_configs`.

My current ServiceMonitor yaml:
[code]

Unfortunately I couldn't find how apply drop configuration to ServiceMonitor - is it possible somehow at the moment? Or can I provide global `metric_relabel_configs` to prometheus-operator `values.yaml`

[2020-05-09 09:57] sebarys commented on #3204
I think externalNames are not supported there is few issues about it e.g. https://github.com/coreos/prometheus-operator/issues/218

[2020-05-09 18:42] shay-berman commented on #3204
Thanks @sebarys  for direct me to a similar issue #218.

BUT it looks like this is very long thread without a solution:
Issue #218 was closed and redirect to  --->  https://github.com/coreos/prometheus-operator/pull/372, which was closed and then redirect to --> https://github.com/prometheus/prometheus/issues/2791, which was closed without any formal solution for ExternalName service in k8s.

The

[2020-05-09 18:52] #1435 closed

[2020-05-10 18:56] shay-berman commented on #3178
Thanks @brancz  for the clarification.

Anyway - @pgier\@dgrisonnet  should we keep this issue open?

[2020-05-11 05:57] brancz commented on #3205
The helm charts are neither used nor maintained by the prometheus-operator maintainers. Therefore we don't know the setup, so we're unlikely to be able to help you. I recommend creating an issue on the upstream helm charts repo where these helm charts are maintained.

That said outside of the helm chart you can provide “metricRelabelings” in a servicemonitor’s endpoint definition.

[2020-05-11 06:43] brancz commented on #3199
Your newer cluster probably only had the https endpoint, not the http endpoint.

[2020-05-11 07:55] brancz commented on #3151
Your relabeling rule seems to drop any endpoints not coming from the “prometheus-kube-state-metrics” object. You shared the describe of “my-cluster-kafka-bootstrap” Service/endpoints.

[2020-05-11 08:16] helios741 commented on #3199
@brancz
yes，i closed the http port.
now close this issue.

[2020-05-11 09:17] sebarys commented on #3205
thanks @brancz - `metricRelabelings` in Endpoints object ( https://github.com/coreos/prometheus-operator/blob/master/Documentation/api.md#endpoint ) looks like sth that I'm looking for.

I think it would be nice to provide somewhere complete example of such ServiceMonitor, I think it is common use case that in production system you want to filter out part of metrics scraped using declared `Service

[2020-05-11 10:07] stigok opened #3206 "Relase notes and breaking change in 0.39"
It appears to be a breaking change in https://github.com/coreos/prometheus-operator/pull/3187, but it was noted as **[CHANGE]** in the release notes. It would be nice to note these as **[BREAKING CHANGE]**, or similar, instead, to increase the chance they are noted.

[2020-05-11 10:47] sev3ryn commented on #2940
created PR according to spec mentioned in https://github.com/coreos/prometheus-operator/issues/2940#issuecomment-618899612

@brancz  on occasion please review #3207. If my changes LGTY I'll proceed with modifying  tests

[2020-05-11 10:55] paulfantom commented on #3206
We are mostly following [prometheus format for changelog](https://github.com/prometheus/prometheus/blob/master/RELEASE.md), which is stated in our [RELEASE](REALESE.md) document.

Additionally, if you look at the changelog, the majority of previous `[CHANGE]` entries were either breaking changes in some form or they were very important for end-user.

[2020-05-11 11:01] #3199 closed

[2020-05-11 11:01] lilic commented on #3206
Agreed, have not noticed this done in any of other repos before, can you give an example @stigok ?

[2020-05-11 11:01] artemsre opened #3208 "OOM kiled 2.16 prometheus and target-heap-size"
There is a prometheus-operator k8s deploy. And my prometheus sometimes is killed by OOM-killer. It happens if someone executing heavy promql.

Documentation says:
`flag storage.local.target-heap-size allows you to set the heap size (in bytes) Prometheus aims not to exceed.`

But prometheus-operator uses this flag only for 1.6-1.X prometheuses.
https://github.com/coreos/prometheus-operator/blob/mas

[2020-05-11 12:47] surajssd commented on #2865
Should this be closed now that the issue https://github.com/coreos/prometheus-operator/issues/3093 is fixed? And there is a new release as well https://github.com/coreos/prometheus-operator/releases/tag/v0.39.0

[2020-05-11 13:11] stigok commented on #3206
Okay. Seems I made some fast assumptions. I thought *[BREAKING CHANGE]* was part of the semver norms, but appears this has only been described in _[Conventional Commits](https://www.conventionalcommits.org/en/v1.0.0-beta.2/)_.

My issue with this is that it's the first release that is breaking in our environment due to some of our clusters being stuck at Kubernetes v1.15. But since this is a v0.x

[2020-05-11 14:18] brancz commented on #3205
I think this would make a nice user-guide. Do you want to add a documentation page on it? :)

[2020-05-11 14:18] #2865 closed

[2020-05-11 14:19] brancz commented on #256
https://github.com/coreos/prometheus-operator/pull/2832 is progressing nicely :)

[2020-05-11 15:30] brancz commented on #3180
I don't think we ever intend to do that. However I think having this controller in here in the first place is odd at the very least. How about extracting the endpoints sync to a separate project?

[2020-05-11 15:31] brancz commented on #3203
Please open issues following the issue template. If you don't follow it and just paste the output of an alert we don't really know how to help you.

[2020-05-11 15:31] #3203 closed

[2020-05-11 19:02] sebarys commented on #3205
I've just found that Istio has nice example how such dropping configuration should look: https://github.com/istio/installer/blob/master/istio-telemetry/prometheus-operator/templates/servicemonitors.yaml#L304 maybe it can be linked somewhere as reference

[2020-05-11 21:15] patoarvizu commented on #3180
Yeah, it makes sense. That sounds like a more robust solution to me anyway.

[2020-05-12 11:28] artemsre commented on #3208
My mistake. this flag works only for 1 version of prometheus

[2020-05-12 11:28] #3208 closed

[2020-05-12 13:16] paulfantom opened #3211 "startup probe for prometheus"
**What is missing?**
Currently, prometheus pods have a long liveness probe because of the possibility that prometheus will need a long time to replay WAL on startup. Such scenarios are perfectly handled by a [startupProbe](https://kubernetes.io/docs/tasks/configure-pod-container/configure-liveness-readiness-startup-probes/#define-startup-probes)

**Why do we need it?**
To decrease the liveness pro

[2020-05-12 15:18] arianitu commented on #3206
@stigok can you explain what happened? We're still evaluating this project and we've been searching for "breaking change" or "upgrading" and trying to understand the stability of the project.

Did you upgrade Prometheus Operator to a new version that wasn't supported by your Kubernetes version? How do you know when to upgrade (we can't find docs that talk about upgrading between versions anywhere.

[2020-05-12 16:06] mlushpenko commented on #3196
I thought about it a bit more, laziness took over, so an extra alertmanager instance won't harm :)

[2020-05-12 16:06] #3196 closed

[2020-05-12 21:08] cah-andrewfitzgerald commented on #3150
For what it's worth, the [Amazon EFS docs](https://docs.aws.amazon.com/efs/latest/ug/creating-using.html) state that it is POSIX compliant.
<img width="973" alt="Screen Shot 2020-05-12 at 5 07 22 PM" src="https://user-images.githubusercontent.com/13521755/81745567-130d2580-9473-11ea-993d-5945632ee2b4.png">

[2020-05-13 06:55] nlamirault commented on #2003
@lswith @brancz I've got a similar problem for Prometheus.
It works fine with @AngusDavis  kustomizeconfig setup for additonal scraping and thanos storage :
with this file :

[code]

But not for change secret name for GOOGLE_APPLICATION_CREDENTIALS.
Prometheus mount the service account file like that into the Prometheus pod :

`/etc/prometheus/secrets/service-account-prometheus/-mt62kbtk4t`

[code

[2020-05-13 08:15] stigok commented on #3206
I try to keep software up-to-date in our clusters to avoid "big jumps" if we are forced to upgrade later on. I look at the diffs in the YAML between the existing version and the new, and take a decision to update based on that diff and the changelog.

What we see now, is that a change was introduced that requires Kubernetes version 1.16, which means we will be stuck at v0.38.1 until our cluster is

[2020-05-13 08:15] dgrisonnet commented on #3178
I think we can close this issue as this validation is enabled in the manifests provided by this repository.

As a side note, this validation requires Kubernetes v1.15+.

[2020-05-13 08:23] #3178 closed

[2020-05-13 08:27] brancz commented on #3150
That does increase confidence. I would still be cautious, but just because I've been burned :)

[2020-05-13 08:39] iwilltry42 commented on #3114
Hi there, did you find some way to fix this? I just upgraded the Helm Chart today and now I'm facing the same issues :/

[2020-05-13 09:25] shay-berman commented on #3204
@gouthamve \ @brancz \ @sebarys - can anyone help on this please?

[2020-05-13 09:42] Pasukaru commented on #375
For those on DigitalOcean: You need to specify the right storage class.

In our case, applying this patch worked like a charm:
<details>

(We installed prometheus-operator (7.4.0) via helm on a 1.15.9-do.2 cluster)

prometheus.patch.json:
[code]

Then run:
`kubectl patch --type=merge -n <namespace> prometheus <prometheus-name> --patch "$(cat prometheus.patch.json | jq -c)"`
</details>

[2020-05-13 11:47] vrathore18 opened #3215 "How to create storage provisioning(persistent storange) automatically"
In my current setup, I created efs volumn then pv, pvc, sc manually and then using the created sc(ie. k8s-utils-efs-provisioner-sc) in value.yaml.

prometheus:
   prometheusSpec:
     storageSpec:
       volumeClaimTemplate:
         spec:
           storageClassName: k8s-utils-efs-provisioner-sc
           accessModes: ["ReadWriteOnce"]
           resources:
             requests:

[2020-05-13 12:27] wandersonfdias opened #3216 "Override readiness/liveness values for prometheus"
What did you do?
Change Readiness/Liveness config for prometheus

What did you expect to see?
Define values override readiness/liveness into values.yaml file.

What did you see instead? Under which circumstances?
No values are available and prometheus use default values for both config.

Related chart: https://github.com/helm/charts/tree/master/stable/prometheus-operator

[2020-05-13 12:52] shay-berman opened #3217 "Set the interval to update the additional-scrape-configs secret inside prometheus pod"
**What is missing?**
Allow to set the interal for the operator to update the additional-scrape-configs (comes as secret) in the prometheus POD.
From testing I did, it looks like that the operator immediately watch changes in secret objects but it take at least 1-2minutes until the prometheus pod it self refresh its configuration by the sidecar `prometheus-config-reloader`.

`level=info ts=2020-05-

[2020-05-13 16:22] pgier opened #3218 "Errors in log when watching multiple namespaces"
While watching more than one namespace for any resource (Prometheuses, PrometheusRules, Alertmanagers, etc.)  The custom multiListerWatcher Watch() function will occasionally run into an error where the `resourceVersion` string does not match the expected format.  This produces a log error and invokes some internal error handling code.
[code]
This is due to an interaction between the kubernetes cl

[2020-05-13 16:32] sebarys commented on #3204
In our project we've added this using `static_configs` as it looks that there is no plan for now to have this feature in prometheus-operator

[2020-05-13 16:51] brancz commented on #3204
You cannot in a meaningful way monitor external services as prometheus needs to scrape each instance/process individually. That’s why you need to use a separate discovery mechanism that actually does discover all processes.

[2020-05-14 05:46] RahulArora31 commented on #3203
WARNING | ALERTNAME = AggregatedAPIDown | CLUSTER = remy-idev-rtp | NAME = v1beta1.metrics.k8s.io | DESCRIPTION = An aggregated API v1beta1.metrics.k8s.io/default is down. It has not been available at least for the past five minutes.

[2020-05-14 05:49] RahulArora31 commented on #3203
PrometheusRule-  sum
  by(name, namespace) (sum_over_time(aggregator_unavailable_apiservice[5m])) >
  0
Output - WARNING | ALERTNAME = AggregatedAPIDown | CLUSTER = remy-idev-rtp | NAME = v1beta1.metrics.k8s.io | DESCRIPTION = An aggregated API v1beta1.metrics.k8s.io/default is down. It has not been available at least for the past five minutes.

[2020-05-14 07:56] #1826 closed

[2020-05-14 08:38] ston1th opened #3222 "thanos sidecar log level and log format double definition"
**What happened?**
#3112 introduced a double definition of log level and log format in the thanos sidecar container if logLevel and logFormat are set directly in the prometheus spec:

[code]

resulting container:

[code]

The other main log levels are appended here: https://github.com/coreos/prometheus-operator/blob/01f49eb0a4896091fca6af0aa7b42a3d437fb015/pkg/prometheus/statefulset.go#L820-L826

[2020-05-14 08:43] lilic commented on #3222
Thanks nice find, do you want to do the PR to fix this?

[2020-05-14 08:46] lilic commented on #3206
Seems like this issue can be closed.

@arianitu we try not to make any breaking changes, as we use it ourselves so we are always careful unless completely necessary if there are breaking changes by k8s or other components we use, hope that answers your question.

[2020-05-14 09:29] #3206 closed

[2020-05-14 09:37] vsliouniaev opened #3223 "Admission hooks block rules that promtool treats as valid"
#### What happened?
Submitting a rule with a non-string label passes promtool but fails admission hooks:

[code]

#### Did you expect to see something different?
There should be parity between what is allowed to simplify creating CI pipelines.

#### Suggested solution
It should be possible to use the mutating hook we already have to alter the rules so that label values are always strings. This is

[2020-05-14 13:26] caliban74 opened #3224 "Data synchronization when upscaling Prometheus PODs"
I'm using an old version of Prometheus Operator (v0.18.1) and so far I just run a single Prometheus POD (replicas set to 1 in Prometheus object). I have also some Grafana dashboards that show its metrics. I wanted to upscale Prometheus PODs to 2 replicas and I expected the existing metrics data in the Persistent Volume of the existing POD to be copied into the new Persistent Volume of the new POD

[2020-05-15 04:51] brancz commented on #3224
This works as intended. If you want full data, then you need something like [Thanos](https://github.com/thanos-io/thanos) that requests both Prometheus instances and merges the results at query time.

[2020-05-15 04:55] brancz commented on #3223
Can we first assess why this works in promtool and not in the webhook? If that doesn't help then I'm ok with this solution.

[2020-05-15 05:00] brancz commented on #3217
This is not something we control, we rely on the mechanism Kubernetes provides to reload the secret.

[2020-05-15 05:00] brancz commented on #3216
Can you explain why? :)

[2020-05-15 05:02] brancz commented on #3215
The prometheus operator actually doesn't take care of any of this itself, it just makes use of dynamic volume provisioning that the StatefulSet does. You need to ensure that your storageclass supports dynamic volume provisioning.

[2020-05-15 05:04] brancz commented on #3211
That or remove liveness probe entirely. Happy to try this though.

[2020-05-15 08:17] vsliouniaev commented on #3223
It's due to the definition of the `PrometheusRule` CRD only allowing strings. Prometheus using yaml instead of json natively just treats this as strings.

At first the bad rule would just break the operator, then additional CRD-related validation was added here: https://github.com/coreos/prometheus-operator/commit/1ac10b0be2123c22ffe16f71a83640855865f534.

[2020-05-15 08:34] vsliouniaev commented on #3223
There is actually an additional issue with `absent_over_time` not being an accepted, which would need a prometheus dependency update.

[2020-05-15 11:40] ryandawsonuk commented on #3167
Have tried this again and tried variations on `path: '/prometheus'` like `path: prometheus` and couldn't get it to use the alternative path. Only way I've been able to get it to work is to switch the app itself to using `/metrics`

[2020-05-15 12:53] ryandawsonuk opened #3226 "how to get resource metrics like kube_pod_container_resource_requests_memory_bytes"
I've previously been working with the prometheus helm chart and was used to seeing metrics for resources [like kube_pod_container_resource_requests_memory_bytes](https://www.replex.io/blog/kubernetes-in-production-the-ultimate-guide-to-monitoring-resource-metrics-with-grafana). I'm using this operator on OpenShift withe CSV and creating a ServiceMonitor and PodMonitor for my app. I see the metrics

[2020-05-15 13:02] lilic commented on #3226
More of a openshift specific question rather than this operator, but since I work on this there can answer it :)
- In openshift this operator is already installed by default for both user and cluster workloads.
- those metrics do not come from your app or this operator but from kube-state-metrics (they will be in openshift depending on the version of openshift your are using and can query them for

[2020-05-15 13:29] ryandawsonuk commented on #3226
Ok so in order to get resources I should [enable Monitoring](https://docs.openshift.com/container-platform/4.3/monitoring/monitoring-your-own-services.html#enabling-monitoring-of-your-own-services_monitoring-your-own-services) and not use the community prometheus operator from operatorhub. Yes that's clear.

I'm actually hoping to create an operator that uses other operators including prometheus.

[2020-05-15 13:35] lilic commented on #3226
you can use just the default installed prometheus in the cluster and query there, the kube-state-metrics metric you are talking about are already on the cluster. So for that metric no need for user workload monitoring, for gathering metrics about user apps you should enable monitoring yes.

Sure feel free to reach out on k8s slack, we have openshift-devs or openshift-users we can discuss your use

[2020-05-15 13:40] ryandawsonuk commented on #3226
Ok I see what you mean now. Yes it is there, it's just in a different prometheus instance from the one I'm looking at.

[2020-05-15 13:40] #3226 closed

[2020-05-15 14:24] pbn4 commented on #2733
Sure issue here

[2020-05-15 15:00] macroscopicentric opened #3227 "timeout config field in AlertmanagerEndpoints"
**What is missing?**

A timeout field in the AlertmanagerEndpoints API endpoint.

Right now, you can only define limited parts of Prometheus' Alertmanager config (ie, [this block of config](https://prometheus.io/docs/prometheus/latest/configuration/configuration/#alertmanager_config)) via prometheus-operator's PrometheusSpec, via the `alerting` or `additionalAlertManagerConfigs` fields. However, t

[2020-05-15 23:38] nehagupta84 opened #3228 "Promql - Need to create alert on pod restart on the most recent pod created."
**What did you do?**

**Did you expect to see some different?**

**Environment**

* Prometheus Operator version:

    `Insert image tag or Git SHA here`

* Kubernetes version information:

    `kubectl version`

* Kubernetes cluster kind:

    insert how you created your cluster: kops, bootkube, etc.

* Manifests:

[code]

* Prometheus Operator Logs:

[code]

**Anything else we need to know?**:

[2020-05-16 10:14] Emmanuelgelati commented on #1890
Any news on this?

[2020-05-16 10:15] c4m4 commented on #1890
Any news on this?

[2020-05-16 14:22] shay-berman commented on #3204
ok so based on your feedback it looks like there is no plan to support scrape ExternalName k8s service type. And your recommendation is to use `static_configs` to define external service.

Should I close this ticket?

[2020-05-16 14:26] shay-berman commented on #3217
Hi @brancz
Yes the k8s responsible to reload a secret to a pod. K8s usually take few seconds to update secret inside a pod.
But in additional-scrape-configs, if u change the additional-scrape-configs secret there is overhead in prometheus operator that need to read the secret and then change the prometheus configuration yaml file. And this overhead is depend on the prometheus operator - and based

[2020-05-16 17:11] Iulian7 commented on #2733
Same issue on GKE. All the UNHEALTHY endpoints have existed in the past but have been removed from the cluster since days.

[2020-05-18 13:25] caliban74 commented on #3224
@brancz Thank you for your reply. I will try it out as soon as possible.

[2020-05-18 13:25] #3224 closed

[2020-05-18 17:59] brancz commented on #2733
Do you see those when you do `kubectl get nodes` as well?

[2020-05-18 18:04] brancz commented on #3204
The way the issue is created it won't happen. That said, we have thought about having more generic scrape configs available through some new CRD in the prometheus operator. That could be something that could be used for that. As far as I know there is no one working on this currently though.

[2020-05-18 18:21] wandersonfdias commented on #3216
Hi, Frederic. How are you?

So, currently I'm using a stable version of prometheus-operator chart
(8.13.x).

Analysing the prometheus POD probes, we have these configurations:

    livenessProbe:

Readiness Probe will fail after 10 minutes (120 attempts distributed at 5
seconds periods).
Liveness Probe will fail after 30 seconds (6 attempts distributed at 5
seconds periods).

Currently, I have a s

[2020-05-18 23:21] ston1th commented on #3222
Sorry, I didn't have time lately. I'll try to provide a patch soon.

[2020-05-19 08:02] winningjai commented on #3119
@pgier @brancz,
I have a doubt about this.

1.  Consider I need to collect metrics from all the pods under a particular service. What I need to prefer PodMonitor or ServiceMonitor.

2.  If I used ServiceMonitor, will Prometheus server scrape all the nodes under the service or it will scrape just the service endpoint alone.

Thanks in advance for your time.

[2020-05-19 08:13] brancz commented on #3217
It looks like we should already reconcile the configuration the moment the watch sees it. Can you double check the generated secret?

This is not true in my experience it takes anywhere between 2-5min.

[2020-05-19 12:00] jbfavre opened #3234 "Docker images mirror on docker hub"
**What is missing?**
Prometheus-operator docker image should be made available on docker hub https://hub.docker.com/u/coreos and identified as official image.
This would allow image mirroring on Google Cloud Registry (mirroring only works from docker hub AFAIK)

**Why do we need it?**
Currently, we used quay.io as docker registry.
Since quay.io is currently experiencing an outage (https://status.q

[2020-05-19 12:05] jbfavre commented on #3234
To be exhustive, same applies to:
* `quay.io/coreos/configmap-reload`
* `quay.io/coreos/prometheus-config-reloader`
* `quay.io/coreos/kube-state-metrics`

Do I need to open separate issues ?

[2020-05-19 12:14] christianlafleur commented on #2733
Nope they are gone.

[2020-05-19 15:49] lilic commented on #3222
No hurry, thanks!

[2020-05-19 21:00] pbn4 commented on #2733
Nope, gone here too.

[2020-05-20 08:59] ilkinmammadzada commented on #1573
@jiuchongxiao ,
Could you please share step after installation Prometheus and Push-gateway to collect data from Push-gateway?

[2020-05-20 10:21] mazzy89 commented on #3036
Applied helm chart 8.13.8 but the issue still persist.

[2020-05-20 10:57] zhifei92 opened #3235 "Can Prometheus -operator monitor another k8s cluster?Not the k8s cluster it's in"
**What did you do?**

Can Prometheus -operator monitor another k8s cluster?Not the k8s cluster it's in

[2020-05-20 11:13] brancz commented on #3119
It will scrape all pods behind the service, because the `Service` maintains an `Endpoints` object. That's where Prometheus discovers the targets from.

[2020-05-20 12:07] lechen26 opened #3236 "Delete ServiceMonitor does not re-update configuration"
Hi

perhaps i'm missing something but seems like when deleting ServiceMonitor the operator does not reload the configuration and update prometheus.

after deleting serviceMonitor i dont see the change refelected on the prometheus configuration, even after along time.
adding new ServiceMonitor being added as  a new Target, but what about the opposite?
doesnt deleting ServiceMonitor should be reflec

[2020-05-20 13:30] brancz commented on #3236
How long did you wait? Could you watch the secret that gets generated and see if that gets updated? Did prometheus reload successfully?

[2020-05-20 13:32] brancz commented on #3235
It can but you’re not going to have the best experience. You’re probably best off writing your own additionalScrapeConfigs and not use service monitors etc. if that’s something you want to do. You’re in any case going to need to have network access to the pod network.

[2020-05-20 13:34] #2916 closed

[2020-05-20 13:41] brancz commented on #3228
This is unrelated to the Prometheus Operator, it's about usage of Prometheus/Alertmanager.

It makes more sense to ask questions like this on the [prometheus-users mailing list](https://groups.google.com/forum/#!forum/prometheus-users) rather than in a GitHub issue. On the mailing list, more people are available to potentially respond to your question, and the whole community can benefit from the

[2020-05-20 13:41] #3228 closed

[2020-05-20 13:42] brancz commented on #3227
I think this makes sense to be added. Do you want to contribute this?

[2020-05-20 13:55] #2940 closed

[2020-05-20 16:28] mickael-carl commented on #3227
If @macroscopicentric doens't, I'd be happy to give it a try 🙂

[2020-05-20 16:30] lechen26 opened #3237 "How does resources requests/limits defined for CRD component?"
if i have Prometheus object after installing the operator, how can i define specific resources requests/limits for each container?

setting the spec.resources like the folowing:
[code]
will only set them on the main prometheus container.
so what about the config reloader container resources?
i see it has his own resources requests/limits which i assume came from the CRD.

i assume edit the statefu

[2020-05-20 22:18] macroscopicentric commented on #3227
I'd love to! I probably won't have the time this week but I'll look into the contributing guidelines and find something to use as a template for a PR next week.

[2020-05-21 09:34] Stealthguard opened #3238 "Problem to enable api in Prometheus"
Hello!

I started currently playing around with prometheus.
I have not much experience with this kind of software. But I succeeded to install prometheus in the proxmox environment and connect it to grafana.

Everything works fine and stable.

Till now, I could find many answers to my questions here in the forum. Thanks for that.

But now I have a little problem to enable the web api function and I

[2020-05-21 10:55] lechen26 commented on #3238
as you wrote it on prometheus-operator i assume you are using prometheus.
if you do i guess you can add ' enableAdminAPI: true' on the prometheus spec.

[2020-05-21 11:06] Stealthguard commented on #3238
Thanks for your fast reply. Yes you are right im using prometheus. Sorry about that.
Do you mean that I only have to add the line to the prometheus.yml file?

[2020-05-21 13:36] Iulian7 opened #3239 "Error opening query log file after deploying bundle.yaml"
**What did you do?**
1. Deployed `bundle.yaml` v0.39.0. I only changed the namespace from `default` to `monitoring` in the `Service`, `ServiceAccount` and `Deployment`. I also changed the namespace of the service account subject in the `ClusterRoleBinding`. This all went fine.
2. Created a `Prometheus` resource in the same namespace. Looking at the logs from the newly created `prometheus` pod, I s

[2020-05-21 16:57] sc250024 commented on #3161
Totally for this. The Bitnami Prometheus operator chart is well-maintained, but lacks many of the features already built-in to the community version.

[2020-05-22 09:08] Cottonglow commented on #3151
Thank you @brancz! I cut out most of the relabeling rules and it started to work again. I can now get metrics out of my applications.

It turns out I was also looking at the wrong prometheus, ie the openshift monitoring prometheus and not the user workload one. I have found the following which helped me expose the user workload prometheus so I can see the configuration and targets - https://github

[2020-05-22 09:08] #3151 closed

[2020-05-23 02:43] jagguli commented on #3216
I have a situation where prometheus is running a repair job on start, hence it does not report as ready, until the repair completes

But because readiness fails the container keeps getting restarted.

[2020-05-23 03:45] jagguli commented on #3094
This is still an issue for me, my pod gets killed before the wal replay completes. It seems that there is no direct way to configure readinessProbes

[2020-05-24 09:33] yevgeniyo opened #3240 "Not possible to change "group_by" parameter for alertmanager configuration"
**What happened?**

Not possible to change "group_by" parameter for alertmanager configuration

**Did you expect to see something different?**

By default it creates "group_by: ['job']"
If you want to change to other value like cluster or alertname it's still remains the same.

**How to reproduce it (as minimally and precisely as possible)**:

Build alertmanager with operator and try to change gro

[2020-05-24 10:16] vsliouniaev commented on #3240
Alertmanager configuration is loaded from a secret specified by

[code]

https://github.com/coreos/prometheus-operator/blob/master/Documentation/api.md#alertmanagerspec

Could you share your alertmanager resource and the configuration in the secret?

[2020-05-24 10:30] yevgeniyo commented on #3240
So secret had old configuration with "job" parameter
I have deleted secret, run helm upgrade and deleted pod, it fixed the issue...

Weird that another parameters like "icon_emoji" for slack are changing on the fly..... is duet to templating?

[2020-05-24 10:38] vsliouniaev commented on #3240
Alertmanager does not provide a direct integration to slack besides using webhooks. This could also be something downstream of alertmanager in your alerting pipeline.

[2020-05-24 10:42] yevgeniyo commented on #3240
Thank you, please close this issue

[2020-05-24 10:42] #3240 closed

[2020-05-25 07:53] brancz commented on #3130
Looks like it took a bit more than I anticipated. I took a stab at it in #3241.

[2020-05-25 12:44] brancz commented on #3239
That's curious. Could you check the permissions and owner on that file? I would have expected the kubelet to have changed ownership before mounting. This is a GCP type volume I assume?

[2020-05-25 12:49] ybettan commented on #3118
I am working on that one, hope I will send a PR ASAP.

[2020-05-25 13:07] brancz commented on #3237
Controlling the request/limit for the reloaders is done via the `--config-reloader-cpu` and `--config-reloader-memory` flags on the prometheus operator.

[2020-05-25 23:52] zenbones opened #3243 "Metric relabeling is removing all samples. How can I stop it?"
Here's query for my custom metrics job...

[code]

Notice how I have no samples post relabeling? How can I tell why that's occurring, and how can I best stop it?

[2020-05-26 06:43] rborsaru opened #3245 "Target shows up but alert shows firing"
Hi,

I have Installed prometheus-operator 8.13.7 and blackbox-exporter 3.5.0.
I have two blackbox targets that i will ping to check avaialability.
The targets show as up if i look at status/targets/endpoints.
However the targets are down and they show firing if i look under Alerts.
What do i do wrong?

Thank you!!
RB

[2020-05-26 07:02] #3222 closed

[2020-05-26 07:21] msenmurugan commented on #2733
@brancz I'm using GKE and using user defined nodepools to spin up and down nodes. Even for the nodes that are existing and not using preemptible VM's also having the same issue. Similar to others, some of the nodes that are spin down also in the kubelet target list.

Please find below one of an existing node's info

[code]

Please let me know for more details as well.

[2020-05-26 07:40] brancz commented on #2733
Could one of you try to put prometheus operator in debug mode and see if it prints something useful about the node sync?

[2020-05-26 08:00] brancz commented on #3245
What alert is firing?

[2020-05-26 08:01] brancz commented on #3243
Can you share your ServiceMonitor/PodMonitor?

[2020-05-26 10:10] rborsaru commented on #3245
Here are the settings from my values file:
*****
additionalPrometheusRules:
  - name: myrule-file
    groups:
    - name: alert.rules
      rules:
      - alert: EndpointDown
        expr: probe_success == 0
        for: 10s
        labels:
          severity: "critical"
        annotations:
          summary: "Endpoint {{ $labels.instance }} down"

*****
additionalScrapeConfigs:
    - job_name: '

[2020-05-26 10:18] zenbones commented on #3243
This is the service monitor. I could fish out the version with the vars filled in, but this is a minikube install with everything in the 'default' namespace, so the values would not be terribly interesting. Both the app label and match label do match the app name, as  the app uses exactly same same variables for its name (and release, etc). Other than this I'm relying on the defaults for the prome

[2020-05-26 11:41] brancz commented on #3245
I see. Ok this has to do with how the blackbox exporter works. The "UP" that you see in the targets page in Prometheus just refers to the ability to scrape the blackbox exporter successfully. The probe itself still fails though.

[2020-05-26 11:46] brancz commented on #3243
There is no default metric relabeling as far as I'm aware. Can you share the job configuration that is generated for this `ServiceMonitor`? (you can find that on the `/config` page on the Prometheus UI)

[2020-05-26 13:13] metalmatze commented on #3036
This issue actually has become obsolete, because the underlying recording rules changed.
A similar problem still exists though it's with slightly different recording rules.

As this problem was never about the Prometheus Operator itself, I'm going to close this here. Please check in the future: https://github.com/kubernetes-monitoring/kubernetes-mixin/issues/411

[2020-05-26 13:13] #3036 closed

[2020-05-26 16:51] zenbones commented on #3243
[code]

[2020-05-26 17:17] brancz commented on #3243
Very odd, clearly there is no metric relabeling happening. Could you report this on upstream Prometheus?

[2020-05-26 20:55] MichaelKorn commented on #1777
#1799 did not solve the problem because we still don't get a sum over all requests as 'code' ist not mention in the without() clause.  The result ist an empty vector or a vector with (one or more) 100% elements.
I would like to recommend the following formula:
`sum(rate(apiserver_request_count{code=~"^(?:5..)$"}[5m])) without(instance, pod, code)
          / sum(rate(apiserver_request_count[5m]))

[2020-05-26 21:12] zenbones commented on #3243
https://github.com/prometheus/prometheus/issues/7298

[2020-05-27 07:06] delulu opened #3246 "relabelings vs metricRelabelings"
Hi there,

We can leverage `relabelings` or `metricRelabelings` to rename/drop a label, and it seems `relabelings` is applied on the `Scrape` behavior, and `metricRelabelings` is applied after the `Scrape` behavior and before the ingestion, right?

I would like to understand more about these two settings, so could share your own best practice, for example which one is more efficient and less cost?

[2020-05-27 07:38] brancz commented on #3246
You’re on the right track.

Relabelings refer to the labels that a target ends up having, this happens when Prometheus discovers your targets (so we often refer to this as “at discovery time”). Targets are scraped and all target labels are added to the metrics scraped from that target.

Metric relabeling is as you noted correctly done after the target’s labels have been added to the metrics that w

[2020-05-27 07:46] brancz commented on #1777
I believe these rules have actually been removed recently from the [kubernetes-mixin](https://github.com/kubernetes-monitoring/kubernetes-mixin) (where these rules are now defined and just imported into this repo in form of a dependency), in favor of mult-window error burn rate type alerts. Nevertheless your suggestion would indeed have been good.

[2020-05-27 09:49] alekc opened #3247 "Node address priority can lead to unreachable targets."
**What is missing?**
Currently prometheus operator uses following logic to determine ip address for a node (which will be used later on for target discovery like kubelet or node-exporter)

[code]
In my environment I have some nodes which are behind the nat, so they have NodeInternalIP set to a private range, and public IP set as NodeExternalIP.

Those internal ips are not routable from the rest of

[2020-05-27 09:54] brancz commented on #3247
Would it make sense to rather have a flag that specifies the priority?

[2020-05-27 10:09] alekc commented on #3247
By a flag I suppose you mean the flag for prometheus which would change such priority globally?

That would work in my scenario (and to be honest in most of them), but if someone has some specific firewall rules they would probably still need to be able to change this behaviour on individual node base.

[2020-05-27 10:21] brancz commented on #3247
A flag on the prometheus operator that in order of specifying takes precendece for one over the other instead of the static code we have today.

That makes me wonder, why are nodes not self descriptive about this, or maybe they are?

[2020-05-27 10:36] alekc commented on #3247
They are

I.e. this is my current cluster
[code]

As you can see, I have `k3s-ingress-xx` and `k3s-server-xx` running with internal and external ip status, they are routable between them using internal ip and if prometheus was running on them it would not have any issue in scraping.

However, in my case, prometheus is running on `k3s-online-01` which is situated in another server farm and can reac

[2020-05-27 12:36] alekc commented on #3247
Also, another valid point to consider is the annotation `flannel.alpha.coreos.com/public-ip-overwrite`

https://coreos.com/flannel/docs/latest/kubernetes.html

If users explicitly set that annotation to the node, then there is a very good possibility that the node can only be reached by that ip.

[2020-05-27 12:38] paulfantom opened #3248 "Roll over prometheus pod when no targets detected"
**What is missing?**
prometheus-operator rolling over prometheus pod when it doesn't have any scrape targets.

**Why do we need it?**
Currently, there is a slight chance that environment variables necessary for Prometheus SD are not set inside a pod by k8s API server. This is not a panic scenario for prometheus itself, but it causes issue which can be automatically solved by prometheus-operator.

[2020-05-27 14:47] brancz commented on #3248
It can be perfectly legitimate for Prometheus to not have any scrape targets. If SD is not working, then those metrics should show that.

[2020-05-28 02:10] delulu commented on #3246
Since we can already use `Relabelings` to rename or drop labels, and `metricRelabelings` has the same configuration format as `Relabelings`.

What's the purpose of `metricRelabelings`, is there anything that we have to do with `metricRelabelings`?

[2020-05-28 05:06] brancz commented on #3246
With metric relabeling you can for example rename labels at ingestion time, or drop entire metrics that are not useful to you for example or maybe harmful (in a cardinality explosion for example).

[2020-05-28 06:18] #3223 closed

[2020-05-28 07:02] alekc commented on #3247
I've tried to run a patched instance of prometheus operator, works fine as far as I can see, almost all relevant metrics are exposed in a correct way now.

The only bit missing is node exporter, and I am bashing my head against the wall. By default, node exporter pods are using hostnetwork, and they are assigned node's ip. From relabling I cannot access host.status.NodeExternalIP so I cannot find

[2020-05-28 07:43] rainmanh opened #3251 "Minikube -- cadvisor Replacement Issues"
**What did you do?**

**Did you expect to see some different?**

In the Prometheus GUI it shows :
[code]
When it should be:

[code]

**Environment**

This is minikube in MacOsX
minikube version: v1.10.1

* Prometheus Operator version:

**quay.io/coreos/prometheus-operator:v0.39.0**

* Kubernetes version information:

    `kubectl version`

[code]

* Kubernetes cluster kind:

minikube version: v1.1

[2020-05-28 07:45] brancz commented on #3247
It might actually be easier in your case to just write plain Prometheus configuration using the `node` role, and make use of it via the `additionalScrapeConfigs` feature. Note that you will need to grant Prometheus additional permissions to discover nodes in that case.

[2020-05-28 13:08] RickS-C137 opened #3252 "Label selector for service is selecting not matching services"
We have two clusters, one for production and one for development. The pods are deployed via Helm charts. One of the internally developed applications was updated so we rolled out the update on the clusters.
The Helm chart deployes, among other resources, a service and a corresponding servicemonitor. Before the upgrade the service had the label 'prometheus: caas' and the servicemonitor had the labe

[2020-05-28 13:49] granular-ryanbonham commented on #3234
Agreed this would be a huge win. Quay.io has been very unreliable.

[2020-05-28 15:53] carlwoodhouse commented on #3234
and its down again ...

[2020-05-28 16:07] zgfh commented on #2990
demo:
1. create secert:
[code]
2. change crd:
[code]

[2020-05-28 16:18] blakewatters commented on #3234
+1 This is ridiculous. How is there no mirror out there?

[2020-05-28 16:33] lilic commented on #3234
You can always build the image from the release and push to a registry :)

@blakewatters @jbfavre are you willing to work on adding the automation part to build the images? :)

[2020-05-28 16:38] lilic commented on #3234
cc @coreos/team-monitoring ^

[2020-05-28 20:23] alekc commented on #3247
Mm I didn't need any additional permission to discover node (but I used the helm chart so it might be covered by it).
For any future googler, this is the syntax to achieve such relabling (note, in my case I used flannel annotation because it represents accurately the reachable ip for my instances, your use case might be different).

[code]

@brancz getting back to the original opening point, what

[2020-05-28 21:28] satyendranit opened #3254 "Using Blackbox exporter probe_http_status_code is 200 But probe_success is 0 from Prometheus"
I am using kubernetes setup, where I am using blackbox exporter to probe external URLs from Prometheus. But I am surprised with two different things like my probe_http_status_code response is 200 but my probe_success response is 0. how can a probe_http_status_code response be 200 while probe is failing.

[2020-05-29 08:33] brancz commented on #3254
This is unrelated to the Prometheus Operator, it's about usage of Prometheus/blackbox exporter.

It makes more sense to ask questions like this on the [prometheus-users mailing list](https://groups.google.com/forum/#!forum/prometheus-users) rather than in a GitHub issue. On the mailing list, more people are available to potentially respond to your question, and the whole community can benefit from

[2020-05-29 08:33] #3254 closed

[2020-05-29 09:18] sunhubs opened #3255 "how to add a customize metric relabelling for all Servicemonitor and PodMonitor"
**What did you do?**
I want to add customize metric relabelling for all the scrape jobs generated by servicemoitor and podmonitor. For example i want to relable [__meta_kubernetes_pod_label_app] to [app].
currently, i have to set for all the ServiceMonitor and PodMonitor yaml file to add:
`
relabelings:

    - sourceLabels: [__meta_kubernetes_pod_label_app]

      targetLabel: app
`
i think it is

[2020-05-29 11:10] paulfantom commented on #3248
Yes, when a user is using only prometheus. It isn't a legitimate situation when using prometheus-operator which is tightly coupled with k8s.

In this particular case when k8s SD is not available and user is using prom-op, then prometheus will have metrics on which it should alert. The alert will fire, but it won't be delivered to alertmanager as those endpoints couldn't be discovered. This in turn

[2020-05-29 11:54] brancz commented on #3251
You should be seeing more than one group of targets no? Could you share a screenshot of the `/targets` page of your Prometheus?

[2020-05-29 12:21] brancz commented on #3255
This doesn’t exist but I think it’s an interesting feature to consider, especially when consistent practices across an organization exist

[2020-05-29 12:22] TakumaNakagame opened #3256 "Remove maxRetries option for remoteWrite"
**What happened?**

Removes the maxRetries option in remoteWrite.

`max_retries` option in `remote_write` has been removed in v2.11.0.
https://github.com/prometheus/prometheus/pull/5649

However, this option remains in the PrometheusOperator. ( `.spec.remoteWrite.QueueConfig.maxRetries` )
https://github.com/coreos/prometheus-operator/blob/master/Documentation/api.md#queueconfig.

This option does

[2020-05-29 12:25] brancz commented on #3256
Yeah, we need to just exclude the field for versions >=2.11.0.

[2020-05-29 12:27] brancz commented on #3248
There are arbitrary amounts of things that we could check, but I don't think that's reasonable. As far as I know `KUBERNETES_SVC_HOST` not being set is actually just a race on the kubelet and is currently being addressed there.

For any combination of these types of things going wrong, is exactly what WatchDog type alerts are for.

[2020-05-29 12:40] Alexx-G opened #3257 "Configurable K8S probes"
**What happened?**

In case the volume of data is huge (e.g. 150+ pods, each with ~4-5MB of metrics), Prometheus doesn't manage to start within liveness probe limits. It just stucks in a restart loop, trying to load WAL and getting killed by K8S.

**Did you expect to see something different?**

I'd expect liveness probe to be either configurable or at least comparable to readiness probe, which is

[2020-05-29 12:47] brancz commented on #3257
Could you create a PR to set liveness equally large as readiness?

[2020-05-29 12:47] brancz commented on #3257
FWIW I even wouldn't mind removing the liveness probe all together, I feel it's causing more harm than use.

[2020-05-29 12:50] brancz commented on #3252
That's very old, it's hard to tell if there was something up with those versions ~2 years ago. Could you share the two generated configurations? You can find those on the `/targets` page of Prometheus.

[2020-05-29 13:19] Alexx-G commented on #3257
I'll give it a try, though I'm not familiar with the codebase - just setting lower expectations.
I think it's better to have liveness probe than not to have it, but getting a right limit is tough. While 5min would seem more than enough, it appears that for some use cases it's not enough.
Setting a large liveness probe also has its own downsides - in case there's a glitch or huge slowness in promet

[2020-05-29 13:54] itninja-hue commented on #1454
Prometheus failing to retrieve nfs volumes status (storage left etc ) when i migrating some pvc from gp2 to nfs, it suddenly don't detect them anymore ? how to approach this
Note that my Prometheus pvc is on gp2.
does Prometheus only  retrieve metrics from the sc that he is using ?

[2020-05-29 15:56] brancz commented on #3257
Yeah I'm happy with startupProbe as well. For what it's worth Prometheus is working on drastic improvements on WAL replay time, which even for huge setups should get it down to only a few minutes.

[2020-05-29 17:17] Alexx-G commented on #3257
Would you mind if I submit a PR in a few days with startup probe similar to liveness probe? In this case it’s possible to leave liveness/readiness probes untouched

[2020-05-29 20:20] paulfantom commented on #3102
Closing since issue is explained and there was no response from original poster. Please reopen if needed.

[2020-05-29 20:20] #3102 closed

[2020-05-30 12:15] sc250024 commented on #3169
I think the thing to do here is to use Bitnami's Prometheus Operator Helm chart here: https://hub.helm.sh/charts/bitnami/prometheus-operator. They seem to have integrated most of the core functionality into the chart, and they maintain their charts very well.

On a longer note, I'm really not sure why the maintainers / people in general have such a revulsion to Helm. Having used it extensively mys

[2020-05-30 16:55] Eslamanwar commented on #2435
i facing related issue to that, as i deployed Istio and promethues and thanos
The problem is that when applying Istio Envoyfilter to promethues POD ,thanos-prometheus-thanos-querier cant make query to promethues-server and gives error "rpc error: code = Unknown desc = " address=prometheus-server.metrics.svc.cluster.local.:10901"

[2020-05-31 08:00] rainmanh commented on #3251
Yes of course

[https://pasteboard.co/JaT968s.png](https://pasteboard.co/JaT968s.png)

<img src="(https://pasteboard.co/JaT968s.png">

[2020-05-31 10:30] gopisaba opened #3259 "AggregatedAPIDown is keep triggering after the upgrade"
**What happened?**

After the recent prometheus-operator upgrade, `AggregatedAPIDown` alert is keep triggering

**Did you expect to see something different?**

Excepts not to see this alert. Do we need to silence or remove this alert until the issue is fixed? https://github.com/kubernetes-monitoring/kubernetes-mixin/issues/397

**How to reproduce it (as minimally and precisely as possible)**:

Ins

[2020-06-01 09:01] mdbraber commented on #3093
I've tried in all sorts of ways to get v0.39.0 (or the backported v0.38.0) working, but whatever I try, none of the metadata is saved. In my deployment.yml I have the following:

[code]

But when running `kubectl get prometheus -oyaml -n monitoring` no metadata is present:

[code]

FYI - I'm using the following image settings:

[code]

The workaround for now is to set `fullnameOverride: z` to keep

[2020-06-01 10:38] sunhubs commented on #3255
Thanks @brancz , but may I know, when will this be released?

[2020-06-01 14:52] hedeesa opened #3260 "connect prometheus to a outside Alertmanager"
I want to use an Alertmanager which is outside of the prometheus cluster, I read this https://github.com/coreos/prometheus-operator/blob/master/Documentation/user-guides/alerting.md and I assumed that there is no way to define an  Alertmanager(which is not in the cluster) for the  prometheues.
Is there a way to do such thing ?

[2020-06-02 06:15] RickS-C137 commented on #3252
The configuration on the /targets page for the non-working one is empty:
![image](https://user-images.githubusercontent.com/38781160/83486057-ac46bf00-a4a8-11ea-9c23-d83644f08db3.png)
And here's like a working one looks like:
![image](https://user-images.githubusercontent.com/38781160/83486315-3c850400-a4a9-11ea-955e-54e396c178d0.png)

[2020-06-02 07:25] brancz commented on #3255
Whenever someone implements it :)

[2020-06-02 10:18] brancz commented on #2824
I think this has been resolved? cc @pgier

[2020-06-02 20:39] pgier commented on #3260
You should be able to use the additionalAlertmanagerConfigs field in your Prometheus resource to point to a secret which contains the appropriate alertmanager config.  See #1338 for a bit more information.

[2020-06-03 02:07] bigangryrobot opened #3261 "[Proposal] AlertmanagerRule CRD"
**What is missing?**
Alertmanager is only configurable in one way, normally via deployment and creation of its secret. This means that the best alternative is to inject additional changes via jobs running in the cluster reading configuration files or firing up alert managers to support subsections of users as effective as possible. Neither of these solutions are finite in their approach or scale w

[2020-06-03 03:26] emzfuu commented on #1559
im currently experiencing this GF_PATHS_DATA='/var/lib/grafana' is not writable in kubernete.
i already added the 472 permission but still get the error. here is my yaml file

apiVersion: apps/v1
kind: Deployment
metadata:
  name: grafana-ewan
  namespace: grafana
spec:
  replicas: 1
  selector:
    matchLabels:
      app: grafana
  template:
    metadata:
      name: grafana
      labels:

[2020-06-03 03:43] daurnimator opened #3262 "Hash locking the alertmanager config-reloader image"
I attempted to specify an image hash for the alertmanager

[code]

However it doesn't seem to do a strategic merge in the same way prometheus does:

[code]

How can I specify the exact image checksum for the config-reloader container?

-----

Version: prometheus-operator:v0.34.0

[2020-06-03 05:12] MarcMielke commented on #3094
seeing the same
repeat:
`... caller=head.go:625 component=tsdb msg="WAL segment loaded" segment=x maxSegment=y` etc., then a 503 from the probe leading to a pod restart.
goto repeat

[2020-06-03 06:46] brancz commented on #3260
You can use the additionalAlertmanagerConfigs feature to use arbitrary service discovery mechanism to discover alertmanagers.

[2020-06-03 06:53] #3248 closed

[2020-06-03 08:11] matthiasr commented on #3097
We ran into this problem as well. I believe it is not necessary to move the package at all – adding a `go.mod` to `pkg/apis` would allow importing just the dependencies of those packages (k8s.io/api and k8s.io/apimachinery).

[2020-06-03 08:54] brancz commented on #3257
that would be awesome!

[2020-06-03 09:02] brancz commented on #3169
We've had our share of experience with it as well and we chose to abandon it because of that. We replaced it with something we're happier with :) We've run this project for >4 years now, helm chart maintainers come and go every ~6 months. We're promised maintainership and then people abandon it because it's too hard to maintain. We've experienced this too often to have this happen in the main repo

[2020-06-03 09:04] sc250024 commented on #3169
@brancz That's a good point. Is the issue you all have with Helm itself (i.e. its method of constructing the manifest), or with the fact that there's no steady maintainer? What tool do you all use instead?

[2020-06-03 09:20] lilic commented on #3169
We (in openshift) use operators (controllers) to reconcile and further customize manifests that are generated by prometheus https://github.com/coreos/kube-prometheus.

[2020-06-03 09:20] martijn commented on #1637
FYI for people caught off guard by this like me: When using the stable/prometheus-operator helm chart it seems to be sufficient to set the `grafana.persistence.enabled` value to true.

[2020-06-03 10:47] ymettier commented on #3033
Hello,

I have a similar need : get the `job` label with value as `<namespace>/<service>`. The reason of my need is that Promtail does it this way and I think they do it the right way (what if you have 2 services with similar name in 2 distinct namespaces ?).

Because this is the default config in Promtail, I would like to configure prometheus-operator in a way that it would also be the default.

[2020-06-03 14:20] bwplotka opened #3263 "Consider using `bingo` for versioning Go tools for the project development."
Hi, as spoken offline, we might want to simplify our tooling with https://github.com/bwplotka/bingo (shameless plug) (: +1:

Read more about it here: https://deploy-preview-16--bwplotka.netlify.app/2020/bingo/

[2020-06-04 09:09] brancz commented on #3033
"the right way" is very opinionated :slightly_smiling_face: . My personal opinion on this is that the `job` label is an outdated concept, it got into Prometheus because of how borgmon at google handled "tasks". In Prometheus Operator we went the way of denormalizing this need for `namespace/service` and have distinct labels for these, which are default (and can even be enforced by an administrator

[2020-06-04 10:23] pinguo-yaojun commented on #3150
Did you find the way to use EFS in prometheus?

[2020-06-04 12:25] brancz commented on #3262
You can specify the reloader image as a flag on the prometheus operator.

[2020-06-04 12:28] brancz commented on #3261
There is a design for such a feature already: https://docs.google.com/document/d/1aVVttvocop8zNezwrNFbHh_HKRW_fhJUZqhmrr8fGK0/edit?usp=sharing

Duplicate of https://github.com/coreos/prometheus-operator/issues/2766, https://github.com/coreos/prometheus-operator/issues/2927, https://github.com/coreos/prometheus-operator/issues/1528

[2020-06-04 12:35] brancz commented on #3259
I think silencing this for a long time is the best choice here. I'm closing this here, as this project is about the prometheus operator controllers only, the full solution with alerts etc. is the [kube-prometheus project](https://github.com/coreos/kube-prometheus).

[2020-06-04 12:35] #3259 closed

[2020-06-04 13:23] lechen26 opened #3266 "Label not unique"
Hi

I have a serviceMonitor for simple statefulset application which exist on multiple namespaces.

[code]

it used to work for me until i've upgraded the components version. (after GKE ugpraded to 1.16).
now i'm getting the following error on all targets of that servicemonitor
"label name 'node' is not unique. invalid sample'"

on the configuration i see the following:
[code]

i dont even see thi

[2020-06-04 13:48] hedeesa commented on #3260
for now this solution works fine for me
https://github.com/coreos/prometheus-operator/issues/871#issuecomment-356598118

[2020-06-04 13:48] #3260 closed

[2020-06-04 15:45] SebiBurchi opened #3267 "Scraping dynamic targets"
Hello,
I am trying to use Prometheus-operator in order to collect some metrics.
I saw that prom-operator only uses secret file for additional scrape configs.
Here i have a problem because i need to modify that secret inside the pod from my Kubernetes cluster, and the changes to be propagated to prom-operator scrape targets. For this thing to happen, I tried to mount the secret file as a volume in

[2020-06-04 16:03] Mykolaichenko commented on #2711
FYI: check NetworkPolicies as well. It was my case:
https://github.com/helm/charts/issues/16249#issuecomment-638950626

[2020-06-04 18:19] lechen26 commented on #3266
Hi @brancz , thanks.
i just see it on the Target view on prometheus UI , next to these endpoints.
State of these endpoints is DOWN with this error:
![image](https://user-images.githubusercontent.com/7347506/83795724-91429d80-a6a8-11ea-967f-5061b92425ac.png)
![image](https://user-images.githubusercontent.com/7347506/83795874-ca7b0d80-a6a8-11ea-8d83-1a3f23f1c066.png)

i dont understand why it compla

[2020-06-04 18:39] tamalsaha opened #3269 "feat: Move api & client to a separate module"
**What is missing?**
We currently programmatically create ServiceMonitor etc. We would like to be able to just depend on the api types and generated client/lister/informer. One option will be to release separate go modules from this repo or create separate repo for the api and generate client code.

**Why do we need it?**
This will make the go.mod simpler. Go modules don't transitively pass repalc

[2020-06-05 05:28] lechen26 commented on #3266
Ok,
i kept looking the node label on the wrong location.
i've jsut looked on all the metrics exposed by this rabbitmq exporter, and i've found a lot of metrics which includes 2 node labels, such :
`rabbitmq_core_node_node_send_bytes{node="rabbit@rabbitmq-0.rabbitmq-discovery.default.svc.cluster.local",node="rabbit@rabbitmq-1.rabbitmq-discovery.default.svc.cluster.local"} 396213004387
`
so it has i

[2020-06-05 07:25] paulfantom commented on #1559
Prometheus-operator is not shipping grafana nor any other grafana installation mechanisms are present in this repository. If you encountered any issues with grafana installation please open issue in a project responsible for it (ex. helm chart or kube-prometheus).

[2020-06-05 07:25] #1559 closed

[2020-06-05 07:26] paulfantom commented on #3267
You can use `ServiceMonitor` or `PodMonitor` CRs for this and let prometheus-operator modify secrets and reload prometheus :)

[2020-06-05 07:35] SebiBurchi commented on #3267
Actually, the dynamic targets are external devices. So, basically, i want to to add device ip as a dynamic target. The device is not running inside the cluster. We are talking about external targets which are agnostic of k8s cluster. So, i don't think i can use ServiceMonitor or PodMonitor

[2020-06-05 08:12] paulfantom commented on #3267
You still can do this by creating `Endpoint` objects, sth like in https://devops.college/prometheus-operator-how-to-monitor-an-external-service-3cb6ac8d5acb.

A different approach would be to use `additionalScrapeConfigs` field of [PrometheusSpec](https://github.com/coreos/prometheus-operator/blob/master/Documentation/api.md#prometheusspec)

[2020-06-05 08:37] SebiBurchi commented on #3267
Actually, this is my real problem: `additionalScrapeConfigs` uses secret key for specifying targets. How i said, i need to modify that secret inside a pod and i can no longer do this in kubernetes.

[2020-06-06 13:39] onedr0p commented on #1319
Year 2020 making a call to see if there's any progress on this. I am getting this even on the latest chart version.

[2020-06-07 06:17] lechen26 commented on #3236
i've waited long time, 5-10 minutes.
i'm not sure what was the problem, i ended up redeploying the stack and problem didnt appear again, it might be it was an issue on the deployment, not sure.
anyway , closing this.

[2020-06-07 06:17] #3236 closed

[2020-06-07 06:17] lechen26 commented on #3237
thanks!

[2020-06-07 06:17] #3237 closed

[2020-06-07 13:29] lechen26 opened #3270 "many-to-many matching not allowed"
Hi

How should i handle warning messages on the prometheus-logs which are related to **"many-to-many matching not allowed: matching labels must be unique on one side"**

i've noticed the prometheus pod logs are full with 'rule evaludation failure' messages and that its happening when i'm redeploying changes or pods are moving from node to node.

for example i have the following rule (from k8s.rule

[2020-06-08 08:38] #3235 closed

[2020-06-08 11:41] simonpasquier commented on #3270
I'd suggest that you update the rules since it looks a lot like something that was fixed in https://github.com/kubernetes-monitoring/kubernetes-mixin/pull/306.

[2020-06-08 11:53] simonpasquier commented on #3269
Can you be more specific about which packages you'd like to extract into a separate Go module?

[2020-06-09 11:24] brancz commented on #1319
cc @simonpasquier I think you recently fixed a bunch of these, were these rules also fixed in that?

[2020-06-09 11:37] brancz commented on #3266
This is definitely incorrect metrics exposition, a label cannot have two values. I'm not sure if Prometheus got more strict but it was never valid output. The exporter needs to be fixed here.

[2020-06-09 13:41] bwplotka commented on #3269
Also, be aware that having multiple of repos will be extremely hard to maintain. Something we touched here: https://github.com/grpc-ecosystem/go-grpc-middleware/issues/275

Looks like some new pattern arises with nested modules + [modularise](https://github.com/modularise/modularise)

[2020-06-09 13:47] chadxz commented on #3266
I ran into this issue as well recently, and found a corresponding note in the Prometheus release notes about it:

https://github.com/prometheus/prometheus/blob/master/CHANGELOG.md#2160--2020-02-13

I was using a 3rd-party rabbitmq exporter that exhibited this issue, so upgrading rabbitmq and using the built-in exporter fixed the problem for me.

[2020-06-09 13:49] brancz opened #3273 "Permanent, meaningful, discoverable home for the project"
There have been various discussions and asks to move the prometheus-operator into a more permanent, meaningful and discoverable home. Projects in the coreos org, primarily revolve around fedora-coreos, and that clashes with discoverablility a lot. It also incorrectly reflects the reality that this project is not entirely maintained by "coreos", but there are multiple non-Red Hat maintainers presen

[2020-06-09 13:53] lilic commented on #3273
+1 (💯 ) from me

[2020-06-09 13:54] brancz commented on #3273
I meant to add it, but my proposal would be to move it to the [prometheus-operator](https://github.com/prometheus-operator) org, that I have reserved.

[2020-06-09 13:59] brancz commented on #3266
Thanks a lot for sharing @chadxz ! That sounds like the appropriate solution. Closing here, but feel free to open a new issue should you feel something else might be wrong with the prometheus operator! :)

[2020-06-09 13:59] #3266 closed

[2020-06-09 14:15] paulfantom commented on #3273
From my side we have 3 possible places where the project can go:

#### *prometheus-community* org

pros:
- discoverability
- neutral space
- established community

cons:
- community goal is to offer a neutral place for projects that are too small to be known by themselves or that are abandoned by the original author
- possible problems with creating additional repositories

#### organization dedic

[2020-06-09 15:25] brancz commented on #3251
Could you check on the `/discovery` page what the value of these labels were for the targets discovered?

`__meta_kubernetes_endpoint_address_target_name`
`__meta_kubernetes_node_name`

[2020-06-09 15:29] brancz commented on #3252
And the generated config section shown in the `/config` page?

[2020-06-09 16:10] rainmanh commented on #3251
I guess you mean  in `/service-discovery`
I cannot find either of those tags in `default/kubelet/0`, neither in `default/kubelet/1`
i.e.

[code]
The closest would be: `__meta_kubernetes_pod_node_name` and `__meta_kubernetes_endpoints_name`.
Thinking I am missing quite a few things in here with minikube...

[2020-06-09 19:07] tamalsaha commented on #3269
- **api**: https://github.com/coreos/prometheus-operator/tree/master/pkg/apis
- **client**: https://github.com/coreos/prometheus-operator/tree/master/pkg/client

[2020-06-09 19:12] tamalsaha commented on #3269
Recently https://github.com/cloudevents/sdk-go did a single git repo but multiple Go module split. I think that works for external users.

[2020-06-10 05:33] brancz commented on #3251
Which version of Prometheus are you using?

[2020-06-10 05:59] RickS-C137 commented on #3252
Looks normal to me:
[code]

[2020-06-10 07:02] s-urbaniak commented on #3273
+1 from me for moving to prometheus-operator org

[2020-06-10 08:54] brancz commented on #3252
Sorry for all the questions, finally could you share the `Service` that you are expecting to be picked up by this?

[2020-06-10 09:39] simonpasquier commented on #3273
Same for me, I think that the **prometheus-operator** organization is the best choice.

[2020-06-10 12:16] ibmboy19 opened #3274 "ServiceMonitor namespace issue"
**What did you do?**

Document says:
While ServiceMonitors must live in the same namespace as the Prometheus resource, discovered targets may come from any namespace. This allows cross-namespace monitoring use cases, for example, for meta-monitoring. Use the namespaceSelector of the ServiceMonitorSpec to restrict the namespaces from which Endpoints objects may be discovered.

Does it mean ServiceM

[2020-06-10 18:08] musabmasood opened #3275 "Support --prometheus.ready_timeout flag for thanos-sidecar"
**What is missing?**

The `--prometheus.ready_timeout` flag for thanos-sidecar

**Why do we need it?**

The sidecar crashes if prometheus is not ready in 10 minutes, so we want to increase it as our prometheus is fairly big

**Prometheus Operator version:**

`8.14.0`

[2020-06-11 03:02] ibmboy19 commented on #3274
Thanks.

How can I debug the situation?
![image](https://user-images.githubusercontent.com/6712103/84340321-0a735080-abd3-11ea-93e4-d35eb60cb25f.png)

[2020-06-11 04:38] JiyeYu commented on #2701
I met this issue when I tried $sudo make
I would appreciate it if someone can check it out.

[2020-06-11 05:50] #3274 closed

[2020-06-11 06:41] brancz commented on #3251
Could you share the service discovery result again now? With the updated Prometheus version we should see more things now I believe.

[2020-06-11 06:46] brancz commented on #3275
Happy to accept this if you want to create a PR :)

[2020-06-11 06:59] rainmanh commented on #3251
Yes of course, I forgot to also supply that information

[code]

[2020-06-11 11:29] Javid907 commented on #3114
Normal   Pulled     <invalid>  kubelet, ip-192-168-16-48.eu-central-1.compute.internal  Container image "docker.io/bitnami/prometheus:2.18.1-debian-10-r28" already present on machine
  Warning  Failed     <invalid>  kubelet, ip-192-168-16-48.eu-central-1.compute.internal  Error: cannot find volume "config-out" to mount into container "prometheus"
  Normal   Pulled     <invalid>  kubelet, ip-192-16

[2020-06-11 12:38] #3251 closed

[2020-06-11 13:25] lygav commented on #3114
Same thing here, any news?

[2020-06-11 15:12] saravana-code commented on #2990
Is that achieved @GabrielPeral , I am also in need of this feature " to have single alerts be subscribed for multiple clusters/prometheus datasources"

[2020-06-11 16:14] ellen-lau opened #3277 "Using bearerTokenSecret doesn't include the Bearer Token in the Authentication Header"
I'm trying to use the `bearerTokenSecret` definition in my ServiceMonitor to scrape my target's /metrics endpoint with a Bearer Token (used for authentication) included in the Authorization Header. It looks like my target is getting scraped, but the token I'm including in the secret I provide is not being included in the Authorization Header. The `endpoint` configuration for my ServiceMonitor look

[2020-06-11 19:01] mchandrasekar90 opened #3278 "Parameterize terminationGracePeriod in operator"
Ability to customize this value would help in running in managed kubernetes clusters where this is not allowed. It could be upto the individual to accept the risk and tune it

https://github.com/coreos/prometheus-operator/blob/master/pkg/prometheus/statefulset.go#L295

[2020-06-11 19:51] leifmadsen opened #3279 "ServiceMonitor with endpoint.interval uses wrong type for Prometheus"
**What happened?**

ServiceMonitor object doesn't pass validation when loaded with `endpoint.interval` as an integer (requires string type), but string type fails to load into Prometheus v2.7.1

**How to reproduce it (as minimally and precisely as possible)**:

[code]
This will result in Prometheus failing to load the configuration:

[code]

**Environment**

minikube

* Prometheus Operator version

[2020-06-12 05:34] iwilltry42 commented on #3114
Update on my situation: For me, all issues with updating the instances were caused by a second prometheus-operator instance that was running in the cluster, managed by Rancher.
So I "fixed" it by limiting the conflicting operator to only manage Prometheus/Alertmanager instances in its own namespace (See https://github.com/rancher/system-charts/pull/227).

[2020-06-12 20:51] vsliouniaev commented on #3279
You probably intended to set "10s" for 10 seconds here?

[2020-06-14 08:03] shay-berman commented on #3217
@brancz  can you clarify your request about - double check the generated secret?    What exactly you want me to test?

[2020-06-15 08:09] s-urbaniak opened #3282 "Merges in release-0.35 are failing"
**What happened?**

After merging into `release-0.35` CI fails with:

https://travis-ci.org/github/coreos/prometheus-operator/jobs/698411430

[code]

**Did you expect to see something different?**

No failure

**How to reproduce it (as minimally and precisely as possible)**:

See CI

**Environment**

CI

* Prometheus Operator version:

https://github.com/coreos/prometheus-operator/commit/8b9d02446

[2020-06-15 08:12] paulfantom commented on #3282
It is failing due to lack of `*-dev` repos and our script works correctly only on  `master` due to: https://github.com/coreos/prometheus-operator/blob/master/scripts/travis-push-docker-image.sh#L20

[2020-06-15 08:29] brancz commented on #3278
I’ve never heard this being not allowed to be set. Do you have docs on which provider does this?

[2020-06-15 08:31] sunhubs opened #3283 "How to add customise tag on the volume created by pvc"
**What did you do?**
I create a pvc, and it will create a volume in AWS with the default tags
**Did you expect to see some different?**
I want to add customize tag due to some reason
**Environment**
helm:v3.2.1
prometheus:v2.16.0
* Prometheus Operator version:
v0.38.1

* Kubernetes version information:
client 1.14.7
server 1.16.8

* Kubernetes cluster kind:
AWS eks

* Manifests:

[code]

* Prometh

[2020-06-15 08:45] brancz commented on #3283
The helm charts are neither used nor maintained by the prometheus-operator maintainers. Therefore we don't know the setup, so we're unlikely to be able to help you. I recommend creating an issue on the upstream helm charts repo where these helm charts are maintained.

[2020-06-15 08:45] #3283 closed

[2020-06-15 08:54] paulfantom commented on #3282
It seems we have 2 issues here:
1) We wanted to push to repository to which we don't have credentials (or some other quay issue)
2) On release branches we are pushing images to repos with `-dev` suffix (unless we do a patch release). Which means our patches are not easily usable by others.

I think solving latter also solves the former so I would like us to figure out how do we proceed with patchi

[2020-06-15 09:09] brancz commented on #3277
Thank you for opening this issue!

Could you provide us with the generated config, that you can find under `/config` in the Prometheus UI? That will tell us whether, the configuration was provisioned correctly and or whether the token was correctly provisioned.

[2020-06-15 12:23] brancz commented on #3217
There is a `Secret` in the same namespace and the same name as your Prometheus `StatefulSet` (it's gzipped). You can get the plaintext with:

[code]

[2020-06-15 17:17] inoam commented on #3257
+1 for configurable probes.
I would also like a configurable probe, and would like it to liveness.
I have different case:
Suggest storage system has some glitch, it might take more than 30 seconds (6 retries * 5 seconds) for block device to reconnect.
In the current code prometheus would be restarted, but as said here, starup could take quite long (minutes). In this case small glitch of 30 seconds

[2020-06-15 22:59] wandersonfdias commented on #3216
Hi @brancz . How are you?

Could you review my previous request?

Regargs,

Wanderson.

[2020-06-16 09:57] paulfantom commented on #3216
This should be fixed by including startupProbe, more in https://github.com/coreos/prometheus-operator/issues/3211

default configurations, we will have a better use.
In some scenarios, when the volume of data to scrape are high, until we
adjust the memory/cpu resources, the prometheus POD has a lot of restarts
(because livenessProbe failing).

Setting different readinessProbe/livenessProbe paramet

[2020-06-16 18:28] wandersonfdias commented on #3216
Thanks, @paulfantom.

This will solve my problem.

[2020-06-16 19:01] ellen-lau commented on #3277
Under /config for the Prometheus UI, this following is what is generated. The ServiceMonitor in question is the `appsody/test-token` monitor.
[code]

I don't see anything specific under the monitor's config when I have `bearerTokenSecret` configured in the ServiceMonitor. In comparison, I know when `basicAuth` is configured in the ServiceMonitor, the config will show something like:
[code]

[2020-06-17 07:03] RickS-C137 commented on #3252
Yeah, that's the weird thing. When I set it to 'prometheus: caas-rest-api' it works! And when I set it to ´prometheus: caas' it won't. This is the cause for this thread. It makes no sense to me.

[2020-06-17 07:06] lygav commented on #3114
Thanks, turns out that was pretty much the same thing here. Other prom-operator instances.

[2020-06-17 08:34] lilic opened #3285 "make generate/format target does not work on darwin"
In https://github.com/coreos/prometheus-operator/pull/3284 I had to run `make generate` to update the Documentation/compatibility.md file to include the new versions of Prometheus. The `make generate` (even with running `make clean`) does not produce anything. In CI there is a failure. When adding the new versions manually to the file, and running `make --always-make generate ` or `make generate`

[2020-06-17 12:12] kissmikijr commented on #3120
Hey, I have the same problem, for me I have a running prometheus pod in the cluster, but I'd like to let's say add some new labels to the kind Prometheus so the labels will be on my prometheus pod,

Right now the running prometheus pods will be killed instantly, the operator is going to start new pods with the updated specification but for the prometheus pods to be ready it takes a lot of time sin

[2020-06-17 15:36] lilic commented on #3285
Figured out the problem with the sed, its because sed on darwin is different than on GNU sed, when switching to gnu sed it worked, but this does not work out of the box on all distros. cc @paulfantom @dgrisonnet

[2020-06-17 16:26] lilic opened #3288 "Introduce requirement entry to CHANGELOG for all PRs"
As in tittle. This would make release process much faster and less error prone.

cc @coreos/team-monitoring thoughts and 👍 👎 on this?

[2020-06-17 16:40] dgrisonnet commented on #3285
We could switch to [this](https://stackoverflow.com/a/22084103) more portable usage of sed.

[2020-06-17 17:31] devlucasc opened #3289 "How can I set the ClusterDomain in AlertManager?"
I would like to know how can I set ClusterDomain in AlertManager to support FQDN DNS

I found this [Pull 3138](https://github.com/coreos/prometheus-operator/pull/3138/files) but I could not find any docs do handle with this.

Thanks

[2020-06-18 16:31] bravitejareddy commented on #1637
We are using ConfigMaps, but still, we have the same issue were all the dashboards get deleted if grafana pod deleted or restarted.

Looking for a workaround does anyone have a fix?

Here is my Grafana Deployment spec:

**grafana-persistent-storage.yaml**

`apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  annotations:
    pv.kubernetes.io/bind-completed: "yes"
    pv.kubernetes.io/bound-by-c

[2020-06-18 16:38] bravitejareddy opened #3291 "Grafana dashboards not getting persisted if pod deleted/restarts"
**What did you do?**
We used config map to store all the dashboards and these dashboards are loaded to Grafana.

**Did you expect to see some different?**
All dashboards in configmap need to be stored persistently.
**Environment**

* Prometheus Operator version: v0.38

    `Insert image tag or Git SHA here`
    Name:                   prometheus-operator
Namespace:              monitoring
Creation

[2020-06-18 18:48] ellen-lau commented on #3277
Any updates with this?

[2020-06-19 08:07] #3285 closed

[2020-06-19 08:19] paulfantom commented on #3291
This project doesn't provide any manifests to install or manage grafana.
If you used [kube-prometheus](https://github.com/coreos/kube-prometheus) to install prometheus-operator, then your grafana instance is immutable and any changes are not persisted by default.
If you used helm chart, please open issue in helm chart repository.

[2020-06-19 08:19] #3291 closed

[2020-06-19 08:22] paulfantom commented on #3289
You can pass `--cluster-domain="some.domain.example.org"` to prometheus-operator.

[2020-06-19 11:19] MrD2 commented on #1637
You can set up a PVC for your grafana stuff

See here: https://review.opendev.org/#/c/722396/2/magnum/drivers/common/templates/kubernetes/helm/prometheus-operator.sh

[2020-06-19 11:26] brancz commented on #3282
We should do a patch release every time we patch something in `release-X.Y`.

[2020-06-19 11:33] #2963 closed

[2020-06-19 11:44] brancz commented on #3142
cc @lilic I believe this was resolved on upstream Thanos, no?

[2020-06-19 11:45] brancz commented on #3252
I think I'm maybe missing something, but that's exactly how label selectors work.

[2020-06-19 11:46] #3114 closed

[2020-06-19 13:41] brancz commented on #3120
We already perform a rolling update, where Prometheus servers created from the same `Prometheus` object are rolled out individually.

@kissmikijr could you explain your setup a bit more? What your explaining doesn't sound like the Prometheus Operator.

[2020-06-19 14:17] brancz commented on #3289
As @paulfantom already answered, I'm gonna close this here, but feel free to keep commenting and or create another issue should you feel there is a problem with Prometheus Operator :)

[2020-06-19 14:17] #3289 closed

[2020-06-19 15:04] kissmikijr commented on #3120
Yes ofc @brancz , I am not really familiar tbh, as I interpreted the original question it seemed really familiar what I'd like to do.

so my setup:
I have a prometheus-operator running in my cluster
I have Prometheus definitions in my cluster
something like this:
[code]

these create `prometheus-prometheus-0`, and `prometheus-prometheus-1` pods in my cluster.

I'd like to change my Prometheus spec

[2020-06-19 15:09] brancz commented on #3277
It does appear that there is a bug, as this should have been templated into the resulting configuration. One thing though, could you let us know what version of Prometheus Operator you are using?

[2020-06-19 15:29] ellen-lau commented on #3277
I am using Prometheus Operator version 0.32.0, which is the default that is downloaded off of OLM.

[2020-06-20 00:34] leifmadsen commented on #3279
Ah duh. That is probably it. I will reopen if that's not the case. Thanks!

[2020-06-20 00:34] #3279 closed

[2020-06-20 11:10] jecnua commented on #2515
Please remove the stale label again.

[2020-06-20 11:11] jecnua commented on #2346
Please remove the stale label again.

[2020-06-20 11:48] Alexx-G commented on #3257
I’ve looked into it and it might be a bit more complicated than I expected. startupProbes have been introduced in K8S 1.16 and IIRC they’re still in alpha.
Thus I’d really do 2 things - making liveness probe less strict (doubling retries) and in case K8S version is >= 1.16, add startup probes.

TBH, it might make sense to make them configurable, but afaik it would mean updating CRDs, is this right

[2020-06-21 07:13] puneetmathur-87 commented on #1166
with respect to node-exporter o we have any work around for now to get the node name label in the metrics without additionalScrape config ?

[2020-06-21 20:09] elsbrock commented on #3204
One use case I see is federation, where I want to configure another Prometheus instance as target to be scraped. It'd be great if that were possible by means of a ServiceMonitor.

[2020-06-22 00:24] ghostsquad opened #3292 "docs: CRD Definitions (API Documentation)"
Is there documentation for the CRD's such as the PrometheusRule?
I can't see to find a definitive guide to what fields are available, valid values, and behaviors.

In the readme (https://github.com/coreos/prometheus-operator?ts=4) it says:

The design doc does not describe the CRD's though
https://github.com/coreos/prometheus-operator/blob/master/Documentation/design.md?ts=4

---

I suspect there

[2020-06-22 00:57] ghostsquad commented on #2927
@brancz

Is this suggesting that it's desirable to have one global state/configuration for alertmanager? I'm attempting to enable the teams I support to be autonomous and not to step on each others toes, so I feel strongly against this statement.

When you say `multi-tenant` are you referring to untrusted entities co-existing? AFAIK, most k8s clusters are "multi-tenant" in that you have many teams

[2020-06-22 06:40] benjaminhuo opened #3293 "Port important fixes or features back to v0.38.* for K8s prior to v1.16"
Does it make sense to port some important fixes or features without changing CRDs back to v0.38+ and make a new release to support k8s < 1.16 ?

Important PRs  without changing CRDs I can find are as following:

- https://github.com/coreos/prometheus-operator/pull/3126 fcb4b9ce85772514555f284eef9761f1650d4bc9
- https://github.com/coreos/prometheus-operator/pull/3179 3289cd23b4fe1806ad29f0bfa0961bc

[2020-06-22 10:20] benjaminhuo commented on #3293
@lilic what do you think?

[2020-06-22 14:52] metalmatze commented on #3273
I'm in favour of _organization dedicated to observability_ so that we don't spread our 15 projects across 10 different orgs, but wouldn't block having an prometheus-operator org, if that's the overall consensus.

[2020-06-22 14:54] metalmatze commented on #3288
While it's probably helping quite a bit, keep in mind that you still most likely need to go through all PRs and check the ones that don't have added this. :man_shrugging:

[2020-06-22 15:38] spencergilbert commented on #3277
I'm also seeing this problem, also on v0.32.0 - would a newer version resolve this issue?

[2020-06-22 16:58] CVirus commented on #2687
@eddycharly I tried your approach and the exporter only scrapes the first target for some reason.

[2020-06-22 18:59] ellen-lau commented on #3277
In addition to the above question, will this issue be patched for 0.32.0?

[2020-06-22 21:38] wmcnamee-tunein commented on #3150
Also interested if anyone has successfully used EFS with Prometheus.

[2020-06-22 21:39] ghostsquad commented on #3150
also curious if anyone has gotten this to work and/or had any problems with EFS

[2020-06-23 08:08] RickS-C137 commented on #3252
Ok, I guess my descriptions was miss leading. I'm trying it like this:

Working:
label selector in servicemonitor: `prometheus: caas`
label on the service: `prometheus: caas-rest-api`

NOT working:
label selector in servicemonitor: `prometheus: caas-rest-api`
label on the service: `prometheus: caas-rest-api`

So the combination that should NOT work is working and vise versa.

[2020-06-23 09:26] Asgoret commented on #2397
@benjaminhuo Hi! Can you please share you jsonnet file? :)

[2020-06-23 09:30] benjaminhuo commented on #2397
@Asgoret , here you are:

[code]

[2020-06-23 10:52] s-urbaniak commented on #3288
Yes, what @metalmatze says is my experience too from other open source projects. It doesn't relieve you from iterating over all of them. It is a supportive thing for the release manager though.

[2020-06-23 11:28] Asgoret commented on #2397
@benjaminhuo Just prometheus rules? Nothing more?

[2020-06-23 11:30] metalmatze commented on #3288
Exactly. Totally worth doing, but then work sadly doesn't disappear 😁

[2020-06-23 11:34] benjaminhuo commented on #2397
Sorry @Asgoret , you can refer to https://github.com/coreos/kube-prometheus/blob/master/jsonnet/kube-prometheus/kube-prometheus-static-etcd.libsonnet for  etcd jsonnet files.

[2020-06-23 11:40] Asgoret commented on #2397
@benjaminhuo thanks for helping! Have a good day! :)

[2020-06-23 12:52] brancz commented on #1441
Still some work outstanding for this.

[2020-06-23 12:54] brancz commented on #2515
Contributions on improving the docs would be very welcome! :)

[2020-06-23 13:01] brancz commented on #3257
I would prefer not to add fields for a short team workaround. Both the Prometheus project as well as Kubernetes are working on features or have already released features to resolve this (for Prometheus this is WAL snapshots, for Kubernetes startup probes). For a short term workaround, I think people should override the liveness probe by specifying an alternative probe in via the `containers` array

[2020-06-23 13:12] brancz commented on #3204
@elsbrock for a Prometheus in the same cluster this is perfectly possible. The federation endpoint on prometheus is no different from any other `/metrics` endpoint, so all you need to do is change the path to scrape from to `/federate` instead of `/metrics` which you can specify using the `path` field in the ServiceMonitor endpoint definition.

[2020-06-23 14:03] brancz commented on #3292
Here :) https://github.com/coreos/prometheus-operator/blob/master/Documentation/api.md

What do you think we could have done differently to make this easier to find?

[2020-06-23 14:03] brancz commented on #3292
If you have any suggestion, please contribute them! :)

[2020-06-23 14:09] brancz commented on #3293
I think things that actually fall into the bug category are definitely fine to backport. I don't think all of these fall into that category, but those that do, I think we're more than happy to accept PRs for backports! :)

[2020-06-23 15:14] brancz commented on #3277
I can't find a bugfix in the changelog about this, so I assume this is still a problem in the latest version, it would be helpful if someone could validate that though.

[2020-06-23 15:22] brancz commented on #2927
I was alluding to the fact that in a well structured environment with enforced practices/workflows, it's not even strictly necessary to have routes per team, as what Alertmanager can do out of the box can be perfectly sufficient to route to different slack channels or pagerduty receivers etc.

That said, it may still be desirable for other reasons.

That's practically what the Alertmanager CRD is

[2020-06-23 15:43] lilic commented on #3293
Yes, anything that is a bug can and should be backported into the patch release, feel free to create those PRs, thanks! For feature work, we tend to not backport those.

[2020-06-23 15:44] brancz commented on #3252
hmm ... it does seem very weird, would it be possible to share the whole manifests? (including the Prometheus manifest)

[2020-06-23 15:52] lilic commented on #3288
Yes the point was to help out the release manager, that does not mean it won't be an automated process, but it will certainly help with the CHANGELOG text msg for example already.

[2020-06-23 16:18] lilic commented on #3142
Yes this should be working fine now, @jalev can you confirm, thanks!

[2020-06-24 09:43] paulfantom commented on #3288
I feel like this is a good idea, but after implementing it we will need to be stricter in code review and accept PRs only when they add an entry to changelog. This way we don't need any automated processes in place. I know a few projects which do this (for example home-assistant) and there is no need to iterate over all PRs when doing a release.

On the other hand modifying one file in multiple PR

[2020-06-24 12:20] brancz commented on #3120
I see, in this specific case, there is some room for improvement. Specifically it seems, that [today](https://github.com/coreos/prometheus-operator/blob/ca324956d4094348c35e50413a6e4239d3d47a57/pkg/prometheus/statefulset.go#L907) we are using the [entire](https://github.com/coreos/prometheus-operator/blob/ca324956d4094348c35e50413a6e4239d3d47a57/pkg/prometheus/statefulset.go#L658-L676) labels as t

[2020-06-24 16:59] elsbrock commented on #3204
Right, but in our case the Prometheus instance is running in an entirely different network segment, so we either need to use the global config (which I don't find to be nice from dependency point of view, a `ServiceMonitor` seems much better) or set up a reverse proxy pod that I can then scrape using a `ServiceMonitor`.

[2020-06-24 18:38] brancz commented on #3204
Yes for those cases an additionalScrapeConfig is best.

[2020-06-25 02:19] tirelibirefe opened #3295 "ingress or clusterip"
I've read jsonnet stuff and there is no enough documentation about how to apply about jsonnet thing. I didn't understand anything.

I've created clusterip service, it didn't work. Probably it doesn't work as there are 2 services use port 9090.

[code]
Is there another way to expose prometheus outside of kubernetes cluster?

[2020-06-25 08:03] Tikam02 commented on #2968
@brancz can you give the example for the above how to do it.

[2020-06-25 08:41] #3120 closed

[2020-06-25 09:58] brancz commented on #3295
`ClusterIP` type services do not expose an application to the outside of a cluster, that doesn't have anything to do with jsonnet. I would suggest that you start without jsonnet, and understand the concepts separately, and then dive into how to achieve this with jsonnet.

[2020-06-25 12:13] erd82 commented on #1637
Having the same problem ... using Grafana as add-on within Home Assistant. As soon as the Grafana restarted (already saved) dashboards get deleted.

[2020-06-25 12:42] tirelibirefe commented on #3295
Sorry, my mention was missing.
I know clusterip, nodeport, service and ingress. I mean if there was a working clusterip ip, it would be easy to expose it outside of the cluster via custom ingress.
Do you guys all use only jsonnet to access prometheus from outside of kubernetes?

[2020-06-25 13:03] tirelibirefe commented on #3295
ok, let me explain the problem from the beginning.
My system is bare-metal vSphere Kubespray Kubernetes:
I prepared service and ingress manifests based on tutorial here:
[https://github.com/coreos/prometheus-operator/blob/master/Documentation/user-guides/exposing-prometheus-and-alertmanager.md](https://github.com/coreos/prometheus-operator/blob/master/Documentation/user-guides/exposing-prometheus-

[2020-06-25 13:56] ngc104 opened #3296 "Add objectStorageConfigFile for ThanosSpec"
**What is missing?**

In`ThanosSpec` there is an option `objectStorageConfig` that will add a line `--objstore.config=<content>` in the generated thanos-sidecar container.

However there is not option `objectStorageConfigFile` that will add a line `--objstore.config-file=<file-path>` in the generated thanos-sidecar container.

**Why do we need it?**

When you are using vault-injector, your pod com

[2020-06-25 14:51] brancz commented on #3296
I think this is reasonable. If we can manage to implement something that doesn't confuse users too much, then I'd be happy with this, as I agree that container identity "attestation based" secret obtaining makes a lot of sense.

[2020-06-25 15:51] tirelibirefe commented on #3191
@shay-berman ;How did you accomplish this task? How do you access to prometheus from outside of K8s?

[2020-06-25 18:42] bravitejareddy commented on #1637
I am able to get a few of the dashboards persistent using the same configmap, but for the rest of all dashboards if a pod deleted/restart those dashboards gets deleted.

Here is my Grafana Dashboard I believe there is some issue with the format can anyone help, Thanks in Advance.

[code]

[2020-06-25 18:47] bravitejareddy commented on #1637
I did not use helm to deploy Prometheus operator, Just to confirm what I did was deleted the PVC and Deployment and re-deployed the complete Grafana but still, it's same I don't see those dashboards imported  Dashboard  name and JSON ^^  "Request Handling Performance"

![image](https://user-images.githubusercontent.com/55269989/85780397-339eef80-b742-11ea-8419-eda4e3d85376.png)

[2020-06-25 23:38] tirelibirefe opened #3297 "servicemonitor targets dropped"
**What did you do?**
I've a running prometheus operator and a prometheus under namespace=monitoring.
I've another another prometheus instance running under another namespace namespace=kafka.

**Did you expect to see some different?**

**Environment**
baremetal Kubespray Kubernetes 1.18 works on Vsphere 6.7u3

* Prometheus Operator version:
prometheus-operator-8.15.5
Prometheus 2.19

* Kubernetes v

[2020-06-25 23:58] tirelibirefe commented on #3297
the question can be summarized as "how can Prometheus scrape Servicemonitors in different namespace(s)?"

[2020-06-26 01:12] tirelibirefe commented on #2557
@afirth @aceeric
Please look at the problem here:
[https://github.com/coreos/prometheus-operator/issues/3297](https://github.com/coreos/prometheus-operator/issues/3297)

I have the same/similar problem.

I've a Prometheus and prometheus-operator under namespace=monitoring and another prometheus instance under namespace=kafka . I used manifests provided by Strimzi. My Kafka is installed by Strimzi

[2020-06-26 04:42] eesperi commented on #966
I'm also having this same exact problem.

[2020-06-26 04:42] benjaminhuo commented on #3293
In the PRs or commits I mentioned, only one PR is not a bug which is
- https://github.com/coreos/prometheus-operator/pull/3286 1ae8026b1b405c465befcdab3be6a80db85af53d

As for PR https://github.com/coreos/prometheus-operator/pull/3182 8d2152cd2561f0b3d4b7784d35aaa2f8c7962632 , it's actually a bug although it's marked as enhancement is release notes.

I'll create a PR to release-0.38.2 branch

Ben

[2020-06-26 05:31] brancz commented on #3295
[code]

I believe you meant to turn `port` and `targetPort` around? 9090 is what Prometheus listens on and your ingress points at port 80 on the Service.

[2020-06-26 05:36] brancz commented on #3297
Can you share the output of this please?

[code]

[2020-06-26 07:24] benjaminhuo commented on #3293
@lilic @brancz , I've created a branch release-0.38.2 in my own repo https://github.com/benjaminhuo/prometheus-operator/tree/release-0.38.2 , which upstream release branch should I submit a PR for this?

Thanks
Ben

[2020-06-26 08:26] afirth commented on #3297
you said you are using the prometheus operator. Check the selectors on the CRD of your prometheus?

[code]

At least in old versions of the helm chart, the `serviceMonitorNamespaceSelector` defaulted to only the installed namespace.

[2020-06-26 09:31] lilic commented on #3293
Ideally we want to backport to all the releases so 0.38 and 0.39. So creating a PR against https://github.com/coreos/prometheus-operator/tree/release-0.39 and https://github.com/coreos/prometheus-operator/tree/release-0.38. Thanks!

[2020-06-26 11:31] Sayrus opened #3298 "Prometheus Operator watching every secret leads to high memory usage"
**What happened?**

After updating to Helm V3, we saw an increase in the Prometheus-Operator memory usage (enough to lead to it being OOMKilled) from Base64 decode functions and json parsing.

After investigating, we found the root cause of the problem: the operator is watching every secrets and Helm v3 created several thousands of them (and they are in the namespace of the resources instead of a

[2020-06-26 11:43] lilic commented on #3298
Interesting issue! We have not noticed this ourselves as we do not use helm, but I think that seems like a valid fix. cc @brancz any objections on your side? Not sure I would call it a bug?

[2020-06-26 12:52] afirth commented on #2557
The original question was answered by @brancz some time ago (along with lots of other related ones, thanks!), and could probably be closed.

[2020-06-26 13:34] benjaminhuo commented on #3293
@lilic I've created PR #3300 for release-0.38 branch , let me know if I should bump the version and then regenerate as well

[2020-06-26 13:36] paulfantom commented on #3298
As I stated in https://github.com/coreos/prometheus-operator/pull/3299#pullrequestreview-438296328, hardcoding dependency on helm label is mixing two separate technologies. If such an issue is caused by watching too many secrets then this doesn't have anything to do with helm and we should fix it in other ways (possibly by introducing new label, specific to prometheus operator).

[2020-06-26 13:42] lilic commented on #3298
Not sure its hardcoding a dependancy here, its just opinionated more :)

But yes I would prefer if this would be added as a flag so you pass the selector for which secrets to exclude.

[2020-06-26 13:42] Sayrus commented on #3298
Introducing a label sounds like the proper way to do it. Will that break existing setups? If so, should it be opt-in?
I think it would work to introduce a `WatchListSelector` so that the user is free to opt-in while not creating an unjustified dependency.

If you're fine with this approach, I can work on implementing properly.

[2020-06-26 15:04] #2557 closed

[2020-06-26 18:18] mmiller1 commented on #3093
I'm also still seeing this issue in version 0.40.0.

[2020-06-26 18:31] tirelibirefe commented on #3297
@brancz it looks like all services have labels strimzi.io/kind=Kafka
[code]

[2020-06-26 18:33] tirelibirefe commented on #3297
@afirth

[code]

[2020-06-26 18:36] mmiller1 opened #3302 "operator is not retaining metadata for embedded PVC objects"
**What happened?**
in both our alertmanager & prometheus specs, after upgrading to 0.38.1 the storage.volumeClaimTemplate.metadata field is ignored and set to {}.
This feels like it's related to https://github.com/coreos/prometheus-operator/pull/3115 & https://github.com/coreos/prometheus-operator/issues/3093
**Did you expect to see something different?**
These fields were not ignored in version 0

[2020-06-26 18:47] rsilva-nk commented on #455
Hi guys, I am evaluating Cortex as a backend so it is required externalLabels to be something like:

externalLabels:
    cluster: ${CLUSTER_NAME}
    __replica__: ${REPLICA_NAME}

I was able to fetch Cluster Name, but since I am using Helm Operator, not sure how can Replica (or POD) name can be retrieved dynamically. Please, any suggests?

[2020-06-26 18:55] tirelibirefe commented on #3297
I changed the scenario a bit:

The time when I sent my first support request I assumed that  prometheus servers in namespace=kafka and namespace=monitoring work together. So I configured my prometheus in namespace=kafka but there were nothing shown in prometheus in namespace=monitoring. Now I know that was a wrong expectation.

I changed the scenario.
I removed prometheus server in namespace=kafka

[2020-06-27 03:50] teochenglim opened #3303 "servicemonitor/prometheus-operator-kubelet missing tls config on /metrics/resource/v1alpha1"
**What happened?**
The newly added servicemonitor object for kubelet on path /metrics/resource/v1alpha1 missing "token" and "tlsConfig"

1. Current setting when render

$ kubectl edit servicemonitor/prometheus-operator-kubelet -n monitoring

[code]

2. Correct settings

[code]

**Did you expect to see something different?**

**How to reproduce it (as minimally and precisely as possible)**:

[code]

[2020-06-29 01:27] teochenglim commented on #3303
/close

[2020-06-29 01:27] #3303 closed

[2020-06-29 06:38] #2680 closed

[2020-06-29 11:57] my1990 opened #3305 "Install push gateway"
How to install push gateway when Prometheus operator can be installed
Is that right? I didn't see the documentation

[2020-06-29 14:23] brancz commented on #3305
The push gateway is like any other target to scrape. Have a look at the getting started guide to understand how to configure targets .

[2020-06-30 12:04] HaveFun83 commented on #3302
Please check your storage spec description:
[code]
https://github.com/coreos/prometheus-operator/blob/master/Documentation/api.md#embeddedpersistentvolumeclaim

[2020-06-30 12:42] mmiller1 commented on #3302
Thanks for your response. Is there something in particular I should be looking at - I've looked over the API docs and don't see any errors here. Additionally, I should mention that:
[code]
was only added during debugging per guidance in a comment made on a previous issue https://github.com/coreos/prometheus-operator/issues/3093

[2020-07-01 02:03] davejhahn commented on #1470
I ran into this problem, and tried what @tals suggested and it didn't work.  However, when I ran kubectl get -n monitoring prometheus -o yaml it actually indicates this:

    serviceMonitorSelector:
      matchLabels:
        release: prometheus-operator

When I added release: prometheus-operator label to the service monitor, it appeared and everything looked good.   Solved bitnami kafka, zookeepe

[2020-07-01 07:44] LucaPrete commented on #1470
I've ended up adding to my helm-chart

[code]

[2020-07-01 10:22] 0robustus1 opened #3309 "Alertmanager not reloaded on configMaps changes"
**What happened?**

We have a configmap that stores our templates (e.g. for E-Mails) for the Alertmanager.
We specify an Alertmanager resource with the `configMaps` value set.
On startup the Alertmanager correctly uses the configured templates.

However, when we update the configmap (and only the configmap) the changes do not seem to be propagated to Alertmanager. While kubernetes automatically up

[2020-07-01 11:32] paulfantom commented on #2207
kube-prometheus project moved out from this repository to https://github.com/coreos/kube-prometheus and with that this issue is no longer valid. If this is still happening please open a new issue in https://github.com/coreos/kube-prometheus repository.

[2020-07-01 11:32] #2207 closed

[2020-07-01 15:12] brancz commented on #3309
Nice catch. Yeah I think it depends quite a lot on what is mounted via those configmaps, but it seems save to reload Alertmanager in any case. I don't really think this is a bug, but an enhancement though, as there is no claim that Alertmanager would do this.

That said I would definitely welcome this addition. Do you want to take a stab at it?

[2020-07-02 06:11] 0robustus1 commented on #3309
Fair enough. If it originally wasn't an intended feature it makes sense to classify it as an enhancement 👍

I'll prepare a PR.

[2020-07-02 08:15] alexconlin commented on #3120
@brancz does the same logic need to be applied to the alertmanager stateful set as well? i think it would have the same problem when adding new labels to the alertmanager pods?

[2020-07-02 08:25] brancz commented on #3120
@alexconlin indeed. You want to take care of that?

[2020-07-02 08:49] #1909 closed

[2020-07-02 13:05] HaveFun83 commented on #3302
My bad sorry. We saw the same here. But the pvc name looks auto generated thru the prometheus-operator.
Prometheus is named cluster and the pvc has prometheus-cluster-db-prometheus-cluster-0 the alertmanager is identical.

[2020-07-02 15:10] gecube commented on #2821
the same

[2020-07-02 15:43] ellen-lau commented on #3277
Are there any updates with this? Will this be fixed in a later version or patched for v0.32.0? Thanks.

[2020-07-03 06:38] Romiko opened #3313 "additionalServiceMonitors - Scrape an endpoint that is not in kubernetes"
**What is missing?**
The ability to define additionalServiceMonitors that are not in the cluster using a domain name not a direct IP.

**Why do we need it?**
I would like to scrape an application endpoint /metrics directly.

**Anything else we need to know?**:

`    additionalServiceMonitors:
    - name: AnAppMetricEndpoint
      endpoints:
        - externalDomainPath: myapp.xyz.com/metrics

[2020-07-03 06:58] Lucki9999 opened #3314 "kubelet down metrics/resource/v1alpha1 down"
**What did you do?**

**Did you expect to see some different?**
Kubelet resource/v1alpha1 services should show as up, but it is showing down as per the attached snapshot.

**Environment**

* Prometheus Operator version:

    `Insert image tag or Git SHA here`

* Kubernetes version information:

    `kubectl version`
    1.16.9
<img width="1432" alt="Screen Shot 2020-07-03 at 10 22 28 AM" src="http

[2020-07-03 09:23] brancz commented on #3314
This is unrelated to the Prometheus Operator, it's about usage of Prometheus/Alertmanager.

It makes more sense to ask questions like this on the [prometheus-users mailing list](https://groups.google.com/forum/#!forum/prometheus-users) rather than in a GitHub issue. On the mailing list, more people are available to potentially respond to your question, and the whole community can benefit from the

[2020-07-03 09:23] #3314 closed

[2020-07-03 09:27] brancz commented on #3313
ServiceMonitors are not the right use for this. You can use the additionalScrapeConfigs feature to specify arbitrary Prometheus config. However, unless there is a single process behind the external domain you want to specify, you are most likely going to get incorrect monitoring with this approach, as Prometheus expects whitebox monitoring.

[2020-07-03 09:33] brancz commented on #3147
promlint is now a library, we should be in a good position to fix this now. @vsliouniaev you originally created the validating webhook, do you think you can integrate this into it as well?

[2020-07-03 14:39] dgrisonnet commented on #2802
If nobody is looking into this right now, I'd be interested in taking over this issue.

[2020-07-03 15:52] fredleger commented on #3277
I can confirm the same behavior with a fresh prometheus operator deployed through rancher monitoring setup.
@brancz what kind of info do you need to dig any further ?

In my case i started suspecting this in a very simple setup:
1. deploy prometheus operator
2. deploy stable/minio with helm 3 (and with the service monitor enabled in prom ns)
3. Check the targets in prom UI

This will generate the

[2020-07-03 18:02] mrueg commented on #3204
@brancz I wonder if there's a way to provide additionalScrapeConfigs as a Kubernetes CRD object?
Often multiple teams share a single prometheus(-operator) deployment and that would enable self-service for scrapeconfigs.

[2020-07-04 06:17] brancz commented on #3204
This is not possible today, but I would like to get there one day. I would like to essentially introduce a lower level CRD "ScrapeConfig", which all the other config generation CRs are ultimately converted to. The difficulty is maintaining the types for such a CR, this would need to be automated, by inspecting the types from Prometheus and converting.All of this is not impossible but it will need

[2020-07-06 04:12] Romiko commented on #3313
Hi,

Thanks for the reply. We will test it out. The main reason we want this feature is for a dedicated Prometheus Server that only records SLI's to generate SLO's. So the pattern should be ok for this scenario.

[2020-07-06 20:54] JennyMet opened #3320 "Monitor kublet"
Hi,

Not sure if it's support or bug...
**What did you do?**
We are using Prometheus operator (as-is) successfully for several of month, today we find the kublet was down for 20 min,
However we didnt get any alerts, doest the promtheus operator monitor it by default? if yes what could be the reason that we didnt get any alerts? for other components we are getting alerts in case of an issue

**Did

[2020-07-07 07:05] paulfantom commented on #3320
That depends on your installation method and if ServiceMonitor responsible for kubelet was installed.

You need to check 2 things (both in prometheus UI):
1. If kubelet target is scraped
2. If you have alerts for kubelet and/or generic `TargetDown` alert.

[2020-07-07 07:10] JennyMet commented on #3320
@paulfantom - Thanks, will check it today. in case we dont have it, how should I add it?  it will be great if you could provide reference / example ?

[2020-07-07 07:47] paulfantom commented on #3320
You can take a look at kube-prometheus project and [example manifests](https://github.com/coreos/kube-prometheus/tree/master/manifests), especially [one for kubelet](https://github.com/coreos/kube-prometheus/blob/master/manifests/prometheus-serviceMonitorKubelet.yaml).

[2020-07-07 12:00] mmiller1 commented on #3302
The pvc name will be auto generated if not defined in this metadata spec, our specific issue is that this functionality worked in 0.34.0, however, after an attempt to upgrade to 0.38.1, the parameters were ignored, resulting in data loss due to new PVCs being created instead of using the existing ones.

[2020-07-07 14:02] kamit78 opened #3321 "prometheus target showing down with 403 error"
**What happened?**

**Did you expect to see something different?**

**How to reproduce it (as minimally and precisely as possible)**:

**Environment**

* Prometheus Operator version:

    `Insert image tag or Git SHA here`

* Kubernetes version information:

    `kubectl version`

* Kubernetes cluster kind:

    insert how you created your cluster: kops, bootkube, etc.

* Manifests:

[code]

* Pro

[2020-07-07 14:26] kamit78 commented on #3321
We have configured Prometheus to monitor forgeRock application but one application target is down with 403 error . **When I  tried to curl/wget the same target url from withing prometheus pod using same credentials , it is working fine and scrap data from metrics endpoint ** We are using custom service monitor that connect with application service to get the data. I'm attaching screenshot of error

[2020-07-07 15:45] mengqhai opened #3322 "No way to mount secrets to thanos sidecar to enable tls"
**What happened?**
To enable tls for thanos sidecar, I'll need to config grpcServerTlsConfig in ThanosSpec.  And in the [doc of ThanosSpec](https://github.com/coreos/prometheus-operator/blob/master/Documentation/api.md#thanosspec), it says:
[code]
So I'll need a way to mount the tls related secrets into the thanos sidecar container as CAFile, CertFile, and KeyFile.  However there's no way to do so

[2020-07-08 07:26] brancz commented on #3313
As in federation?

[2020-07-08 07:27] brancz commented on #3193
Closing due to inactivity, but feel free to continue to comment or open another issue should you feel there is something wrong with the prometheus operator :)

[2020-07-08 07:27] #3193 closed

[2020-07-08 08:20] brancz commented on #3321
Looks like the endpoint may be expecting some sort of credentials that are authorized to access the endpoint. I would suggest you to first try and `curl` the endpoint and see if you can make that work. This doesn't seem like a problem with the prometheus operator, but just missing correct credentials configuration.

[2020-07-08 08:23] brancz commented on #3322
This is not a bug, this is a feature/enhancement request. You can add mounts by merging through the containers array, but I agree that the secret/configmap key references would be better here. If you want to give this a stab, the contribution would be more than welcome! :)

[2020-07-08 17:30] yann-soubeyrand commented on #3119
Hello,

I should say that I'm a little bit confused too: when talking about ServiceMonitor, I would expect my service to be monitored, not the associated Endpoints (otherwise I would have been looking for an EndpointsMonitor). This would be particularly useful when one has a highly available exporter and wants only one of the exporter's pods to be scraped each time to avoid having duplicate metric

[2020-07-09 06:37] AlehB opened #3324 "Alert Configuration in Prometheus Operator Helm chart"
Hello everyone,

We have installed Prometheus Operator Helm chart into our Kubernetes cluster and successfully able to get different information about the pods, nodes and etc in the Grafana dashboard.

![image](https://user-images.githubusercontent.com/2253605/87004777-aa1e0180-c1c6-11ea-8106-4eeef603bf61.png)

Now we would like to configure some basic alert notifications and send them to Telegram

[2020-07-09 07:50] paulfantom commented on #3119
@yann-soubeyrand scraping metric endpoints via a load balancer is an antipattern in prometheus. Best practice is to scrape directly and this is why ServiceMonitor is examining all endpoints in a Service and scraping them this way.

[2020-07-09 07:54] paulfantom commented on #3324
We do not maintain prometheus-operator helm chart nor use it.

Generally speaking:
1 and 2: To create alert you need to add PrometehusRule object and configure alertmanager Secret as explained in https://github.com/coreos/prometheus-operator/blob/master/Documentation/user-guides/alerting.md
3: You need blackbox_exporter and you can use newly added [Probe object](https://github.com/coreos/prometheu

[2020-07-09 08:38] yann-soubeyrand commented on #3119
@paulfantom so how do you achive high availability for your exporters? Do you scrape all the replicas of your exporters and then get duplicated metrics and useless load on your applications (elasticsearch or postgresql exporters can be quite demanding on the server they get the metrics from)?

[2020-07-09 10:05] OuFinx opened #3325 "Different memory values in the k8s"
**What happened?**
I wanted to see RAM metrics from the POD but see different values

**Did you expect to see something different?**
I expect to see correct RAM metrics from the POD

**How to reproduce it (as minimally and precisely as possible)**:
In the dashboard for pod used
`sum(container_memory_working_set_bytes{cluster="$cluster", namespace="$namespace", pod="$pod", container!="POD", contain

[2020-07-09 10:58] paulfantom commented on #3325
Seems like a good question for [kubernetes-monitoring/kubernetes-mixin](https://github.com/kubernetes-monitoring/kubernetes-mixin/) as all those dashboards and recording rules come from there.

[2020-07-09 12:08] wiegandf opened #3326 "Log format not standardized"
**What happened?**
We have set log format to json and log contains multiple log formats.
[code]

**Did you expect to see something different?**
I expected to see one standardized log format.

**How to reproduce it (as minimally and precisely as possible)**:

**Environment**

* Prometheus Operator version:

    `v0.40.0`

* Kubernetes version information:

    `v1.17.6`

* Manifests:

[code]

* Pro

[2020-07-09 12:49] drazul opened #3327 "Add new metric when prometheus is stuck on "creating config failed""
**What is missing?**

There is no metric to alert when prometheus fail to create the new configuration before reload it.

**Context:**
We work on a shared kubernetes cluster with different teams and someone deleted, by mistake, one secret used to get the api credentials used by the service monitor. And because of that prometheus started to throw this error:

[code]

And because of this error all t

[2020-07-09 13:49] brancz commented on #3326
We unfortunately cannot influence this, this is because Kubernetes libraries log a lot and don't let us configure the log format.

[2020-07-09 14:45] brancz commented on #3327
I think in this case we should just skip the ServiceMonitor (and maybe write a status into the ServiceMonitor, that this has happened)

[2020-07-09 16:09] GMartinez-Sisti commented on #1897
I think it's a good measure to prevent removing PVCs by default. However there are some situations where we want them to be removed, ideally a configuration flag could be available.

Is there any ETA or discussion for this configuration?

[2020-07-10 08:08] lilic commented on #3326
@wiegandf as Frederic mentioned this is a kubernetes problem, so maybe would be good to open issue to allow to configure the log format, if one does not exist. Until then I think documenting this would be good, do you mind opening PR to add to docs to avoid confusion for other people, thanks!

[2020-07-10 08:12] lilic commented on #522
Since we don't support the helm chart in this repo anymore, closing this issue. Feel free to open a new one if you think it's not valid, thanks!

[2020-07-10 08:12] #522 closed

[2020-07-10 08:12] lilic commented on #513
Since we don't support the helm chart in this repo anymore, closing this issue. Feel free to open a new one if you think it's not valid, thanks!

[2020-07-10 08:12] #513 closed

[2020-07-10 08:13] lilic commented on #355
Since there  has not had any activity for some time, closing this issue, feel free to open a new one if you are still facing this problem.

[2020-07-10 08:13] #355 closed

[2020-07-10 08:15] lilic commented on #256
Since we merged https://github.com/coreos/prometheus-operator/pull/2832 we can close this issue for now. If there is anything missing for this feature or bugs feel free to open a new issue. 🎉

[2020-07-10 08:15] #256 closed

[2020-07-10 08:16] lilic commented on #1089
Since we don't support the helm chart in this repo anymore, closing this issue. Feel free to open a new one if you think it's not valid, thanks!

[2020-07-10 08:16] #1089 closed

[2020-07-10 08:16] lilic commented on #1072
Since we don't support the helm chart in this repo anymore, closing this issue. Feel free to open a new one if you think it's not valid, thanks!

[2020-07-10 08:16] #1072 closed

[2020-07-10 08:17] brancz commented on #380
This should now be fixed with the validating webhooks. Should you use the validating webhooks and this still occurs, please open a new issue.

[2020-07-10 08:17] #380 closed

[2020-07-10 08:17] lilic commented on #966
Since we don't support the helm chart in this repo anymore, closing this issue. Feel free to open a new one if you think it's not valid, thanks!

[2020-07-10 08:17] #966 closed

[2020-07-10 08:18] lilic commented on #1189
Since we don't support the helm chart in this repo anymore, closing this issue. Feel free to open a new one if you think it's not valid, thanks!

[2020-07-10 08:18] #1189 closed

[2020-07-10 08:18] lilic commented on #1150
Since we don't support the helm chart in this repo anymore, closing this issue. Feel free to open a new one if you think it's not valid, thanks!

[2020-07-10 08:18] #1150 closed

[2020-07-10 08:18] lilic commented on #1110
Since we don't support the helm chart in this repo anymore, closing this issue. Feel free to open a new one if you think it's not valid, thanks!

[2020-07-10 08:18] #1110 closed

[2020-07-10 08:19] lilic commented on #2084
Since there  has not had any activity for some time, closing this issue, feel free to open a new one if you are still facing this problem.

[2020-07-10 08:19] #2084 closed

[2020-07-10 08:19] lilic commented on #2025
Since we don't support the helm chart in this repo anymore, closing this issue. Feel free to open a new one if you think it's not valid, thanks!

[2020-07-10 08:19] #2025 closed

[2020-07-10 08:20] brancz commented on #597
This should now be possible to be validated at create/update time through the validating webhooks. Should this still be possible when using the validating webhook, then please open a new issue! :)

[2020-07-10 08:20] #597 closed

[2020-07-10 08:22] lilic commented on #1380
Since we don't support the helm chart in this repo anymore, closing this issue. Feel free to open a new one if you think it's not valid, thanks!

[2020-07-10 08:22] #1380 closed

[2020-07-10 08:23] lilic commented on #677
Since there  has not had any activity for some time, closing this issue, feel free to open a new one if you are still facing this problem.

[2020-07-10 08:23] #677 closed

[2020-07-10 08:24] lilic commented on #743
Since there  has not had any activity for some time, closing this issue, feel free to open a new one in https://github.com/kubernetes-monitoring/kubernetes-mixin if you are still facing this problem.

[2020-07-10 08:24] #743 closed

[2020-07-10 08:24] lilic commented on #745
Since there  has not had any activity for some time, closing this issue, feel free to open a new one if you still want this feature.

[2020-07-10 08:24] #745 closed

[2020-07-10 08:25] lilic commented on #1211
Since we don't support the helm chart in this repo anymore, closing this issue. Feel free to open a new one if you think it's not valid, thanks!

[2020-07-10 08:25] #1211 closed

[2020-07-10 08:26] lilic commented on #903
Since there has not been any activity for some time, closing this issue, feel free to open a new one if you are still facing this problem.

[2020-07-10 08:26] #903 closed

[2020-07-10 08:35] lilic commented on #1811
Since we don't support the helm chart in this repo anymore, closing this issue. Feel free to open a new one if you think it's not valid, thanks!

[2020-07-10 08:35] #1811 closed

[2020-07-10 08:50] vsliouniaev commented on #3326
Prometheus solved this problem, so I think it should be possible to log k8s internal output here as well. Here is some output from a prometheus e.g.:
[code]

AFAIK it's done by switching klog dependency for klog-gokit [simonpasquier/klog-gokit](https://github.com/simonpasquier/klog-gokit)

[2020-07-10 08:52] vsliouniaev commented on #1897
Would it be reasonable to add a property to the prometheus CRD that would cause the PVCs to have owner reference set to the prometheus CR? We have something that does this via annotations but we definitely don't want to do it in every case either.

[2020-07-10 08:55] vsliouniaev commented on #3147
This should be simple to add. I will try to get to it when I have a chance.

[2020-07-10 09:26] GMartinez-Sisti commented on #1897
What would be the suggested behavior on removal with owner reference? This wouldn't possibly solve the situation of temporary environments, where an admin wants everything removed after cleaning up.

[2020-07-10 12:43] brancz commented on #3326
Yeah this is possible. @vsliouniaev you want to give this a shot? I was actually just talking to @lilic about something vaguely related .. being we have 2 flags to set the log level of each of these it might be useful to unify these so people only have to set the gokit logger and then translate the log levels to the klog levels, for example

all = 10
debug = 8
info = 4
err =3

[2020-07-10 13:23] brancz commented on #1897
I have a feeling this can go into an arbitrary amount of scenarios, which is exactly why the Kubernetes StatefulSet controller did not implement any of this but leaves it up to the user.

[2020-07-10 13:35] GMartinez-Sisti commented on #1897
My problem is that It requires extra wrapping to clean up the PVCs that were created by something else.

I think that the PV is the one to control what happens to the storage on deletion, since that is set on the Storage Class that was chosen at the time of creation. When I don’t want them to removed I can choose a Storage Class that retains the disk after removal from kubernetes.

I understand th

[2020-07-10 13:56] #3110 closed

[2020-07-12 07:55] nlamirault commented on #2003
Any news ?

[2020-07-13 09:04] lilic commented on #3218
Still valid.

[2020-07-13 09:41] paulfantom opened #3329 "Incorrect ServiceMonitor blocks prometheus deployment"
**What happened?**

During re-deploying a cluster I did following:

1. Created Prometheus object with:
[code]
2. Added ServiceMonitor which references non-existing Secret via `bearerTokenSecret`
3. Prometheus pod wasn't created and prometheus-operator logs suggested incorrect ServiceMonitor
4. Waited for about an hour
5. Added a Secret to satisfy SM from 2.
6. prometheus pod came up

**Did you exp

[2020-07-13 09:44] brancz commented on #3329
Did the Pod start and Prometheus failed to start, or the Pods didn't even start because the Secret couldn't be mounted?

[2020-07-13 09:45] paulfantom commented on #3329
Pods didn't start. After Secret was created pods were started.

[2020-07-13 09:52] yann-soubeyrand commented on #3119
Hi @paulfantom, that's a real question, I'd really like to know what's the right approach for the scraping of highly available exporters if scraping them through a load balancer is an antipattern?

[2020-07-13 10:13] paulfantom commented on #3119
Highly available exporter is an anti-pattern in itself and that has a consequence of https://github.com/coreos/prometheus-operator/issues/3119#issuecomment-655966968. The best practice is to have an exporter near to an instance that is being monitored.

However, if you need to do this then [`additionalScrapeConfigs`](https://github.com/coreos/prometheus-operator/blob/master/Documentation/additiona

[2020-07-13 11:21] paulfantom commented on #3325
Closing in favour of https://github.com/kubernetes-monitoring/kubernetes-mixin/issues/458

[2020-07-13 11:21] #3325 closed

[2020-07-13 11:54] brancz commented on #2003
We don't use kustomize, so we're not super incentivized to implement this, but we're very open to contributions from anyone who wants to contribute this! :)

[2020-07-13 12:03] #3309 closed

[2020-07-13 12:11] brancz commented on #3329
Secrets and ConfigMaps are transferred into the namespace the Prometheus object is in, so my suggestion would be to always create the "transferred" one, but only fill them if secret/configmap is available and key exists in the referenced secret/configmap

[2020-07-14 00:43] varunsrinath opened #3330 "Create VolumeMount on alert Manager."
Hi Team,

I have a alert manager with a webhook config, it needs to hit a endpoint that supports mTLS.  To load certs I have a PV and PVC. I am able to create volumes, However i am not able to create a mount path.

Is there a way to add a mount path ? or any other way to load my client certs?

[2020-07-14 00:51] varunsrinath opened #3331 "HA prometheus with common PV and PVC"
Hi Team,

Is it possible to have 2 Prometheus instances refer to same PVC? will that cause any DB conflicts or is this even possible theoretically?

I am trying to look for a setup where in case one Prometheus goes down while patching the other one has the data.  When we read  the data back i want to see if we can get data for all the timestamps without any missing data due to the patch.

[2020-07-14 06:35] brancz commented on #3331
Prometheus is specifically designed to require entirely distinct PVs, they must not be shared, as Prometheus relies on this for high availability purposes. Most people just load balance to all HA replicas, but my recommendation to make sure you have no gaps in data is to use the [thanos](https://github.com/thanos-io/thanos) [query](https://thanos.io/components/query.md/) component, which at query

[2020-07-14 06:36] brancz commented on #3330
Do the `volume` and `volumeMount` fields not work?

[2020-07-14 11:51] varunsrinath commented on #3330
No only volume works, Volume Mount needs to be under container spec and
operator does not provide a way to inject that. I tried adding even mount
in alert manager yaml under spec. But no luck!!

On Tue, Jul 14, 2020 at 1:36 AM Frederic Branczyk <notifications@github.com>
wrote:

[2020-07-14 12:23] brancz commented on #3330
Could you share your Alertmanager object?

This is what the docs on the `volumeMounts` field say:

[2020-07-14 12:43] BenjaminHerbert commented on #1516
@atopuzov Is there an issue for this topic?
@brancz Could you tell how the `kube_pod_info` metric can be joined into the query?

[2020-07-14 14:20] paulfantom opened #3335 "Add .Status field to CRs"
**What is missing?**

Currently `.Status` field for objects used by prometheus-operator (PodMonitors, ServiceMonitors, Prometheus, PrometheusRule...) is not populated by operator. It would be good to include some information in this field. Some examples:

1) For Pod/ServiceMonitor it could have number of discovered targets.
2) For Prometheus it could have some `/status` information from prometheus

[2020-07-14 16:32] varunsrinath commented on #3331
Right that’s what I was thinking too as indexing and compression of data
from different Prometheus would be different and will cause conflict.

The issue now I am facing is now is how to bind the 2 PVC created by the
operator with my 2 PVs.

I tried removing the volume name and use the label selector to see if they
would map. But no luck. Do you have any sample config that shows to set up
2 PV? An

[2020-07-14 16:36] abelal83 commented on #3010
How would one specify to the operate to use an additional alertmanager via DNS?
for example, by default the operator creates this

[code]

how would I be able to setup like this

[code]

Looking through values.yaml it expects me to supply alertingEndpoints resulting in operator attempting to find within same cluster. Have I missed something obvious?

[2020-07-14 18:38] varunsrinath commented on #3330
I just have the volumeMounts section above the volumes in
alertmanager.yaml, i did not know any place to add it there was no
container specific portion. Do you have any sample of using a volume mount
using PV in alert manager?

Thanks,
Varun

On Tue, Jul 14, 2020 at 7:24 AM Frederic Branczyk <notifications@github.com>
wrote:

[2020-07-14 19:38] atopuzov commented on #1516
@BenjaminHerbert sorry I don't work with k8s anymore so I don't know.

[2020-07-15 05:58] brancz commented on #3331
You will have to use a setup with 2 distinct PVs.

[2020-07-15 06:00] brancz commented on #3330
Sounds like you are deploying an old version of the prometheus operator.

[2020-07-15 06:18] brancz commented on #3335
Agreed that this would be amazing, I've thought about this for a long time there are two problems involved here that are not necessarily trivial to answer:

1) how to perform the communication between the prometheus operator and Prometheus pods securely (for real status and targets this is required)
2) deduplication of rules, targets, etc., this has been solved elsewhere so I'm not entirely convin

[2020-07-15 07:45] amuraru commented on #3195
@brancz

Makes sense.

My use-case is the following: I want to run two prometheus-operator instances: one watching all namespaces (global/catch-all) and one configured to watch a single ns via `--namespaces`. The label selector works for all prom resources except `Prometheus` CR itself which when created in the namespace watched by both operators is acted upon by both operators.

Would it make sen

[2020-07-15 08:07] amuraru commented on #3195
Nevermind :) - I see https://github.com/coreos/prometheus-operator/pull/2615 implemented the support for the exact use-case above. Awesome

[2020-07-15 09:01] yann-soubeyrand commented on #3119
Thanks for your answer @paulfantom. In case one cannot have the exporter near the instance being monitored (like a PostgreSQL instance on AWS RDS), what's the best practice for the deployment of the exporter? Should one deploy a single instance of it and use a PodMonitor (and accept that there can be holes in the metrics when the exporter gets unavailable, which can happen for various reasons like

[2020-07-15 11:11] brancz commented on #3195
Are we ok closing this then? :)

[2020-07-15 11:57] amuraru commented on #3195
yup - thanks!

[2020-07-15 12:18] #3195 closed

[2020-07-15 17:37] bhandari8sujit opened #3336 "Installation of prometheus-operator chart fails (timed out). Possibly due to unreachable api-server?"
**What happened?**
Installation of prometheus-operator chart fails (timed out). Possibly due to unreachable api-server?

**Did you expect to see something different?**
A clean installation was expected.

**How to reproduce it (as minimally and precisely as possible)**:

kubectl apply -f https://raw.githubusercontent.com/coreos/prometheus-operator/release-0.38/example/prometheus-operator-crd/monito

[2020-07-15 17:58] varunsrinath commented on #3330
Today I pulled the latest code. However my CRDS are getting overridden to
older version after the custom resource are created. They are having a
generation: 2 meta data. Do you know how is it able to load back the old
CRD. I confirmed that my source code does not have it.

Thanks,
Varun

On Wed, Jul 15, 2020 at 1:00 AM Frederic Branczyk <notifications@github.com>
wrote:

[2020-07-15 19:33] varunsrinath commented on #3330
I found the issue, I was using the old Prometheus operator image. Funny
thing is the image ships with old CRD which was overriding my new one.

Not sure if this is a bug. But by updating my prom-operator image to latest
I was able to mount the volumes.

Please close the issue.

Thanks,
V

On Wed, Jul 15, 2020 at 12:58 PM Varun Srinath <varunsrinath88@gmail.com>
wrote:

[2020-07-15 23:18] varunsrinath commented on #3331
Can you please share an example on how to do it?

On Wed, Jul 15, 2020 at 12:58 AM Frederic Branczyk <notifications@github.com>
wrote:

[2020-07-15 23:34] varunsrinath commented on #3331
Should I be creating my PVCs manually without using claim template by
following certain naming convention?

On Wed, Jul 15, 2020 at 6:18 PM Varun Srinath <varunsrinath88@gmail.com>
wrote:

[2020-07-16 04:31] #3330 closed

[2020-07-16 04:32] brancz commented on #3330
This is expected. The prometheus operator used to manage CRDs, it doesn't anymore though.

[2020-07-16 04:41] brancz commented on #3336
@vsliouniaev looks like this might have something to do with the admission webhook. As you also know the helm chart better, could you have a look at this?

[2020-07-16 04:42] brancz commented on #3331
Do create the PVCs through the template, but make sure there are either 2 PVs matching the requirements or that there is dynamic volume provisioning available.

[2020-07-16 11:18] paulfantom commented on #3119
In such case, you need to deploy at least 2 instances and deduplicate data on prometheus level.

[2020-07-16 13:21] piraces commented on #3336
Experiencing the same issue here...

First I was getting this error:
[code]

Then it changed to this:
[code]

[2020-07-16 13:47] jbfavre commented on #3234
@lilic Sorry for not answering sooner.
I'd be glad to help, but my understanding is that I'll need kind of "root" access to your CI setup/config.
Not sure you'll want that to ever happen :)
Anyway, again, I'll be happy to help

[2020-07-16 15:16] paulfantom commented on #3234
Most configuration is done in code contained in this repository. Admin access is necessary only for adding credentials.

[2020-07-16 16:41] sjentzsch opened #3337 "Being able to enable high availability mode for 1 replica alertmanager"
**What is missing?**
With v0.40.0 and https://github.com/coreos/prometheus-operator/pull/3233 we cannot enable high availability mode for 1 replica alertmanager anymore.

**Why do we need it?**

In my case, I have two clusters with each a prometheus-operator and a single alertmanager replica; but both of those form an Alertmanager cluster.

**Environment**

* Prometheus Operator version: v0.40.0

[2020-07-16 17:54] chris-isaak commented on #3150
I have a very basic Prometheus, configured to pull from cAdvisor in a POC using Fargate and EFS.  I had to create the prometheus.yml file before launch for it to work.  I do wish I knew why the docker image is not writing to the EFS itself.  Again my setup is very basic. Using POSIX permission 755 for the share.

[2020-07-16 22:42] vaishali-prophecy opened #3338 "ServiceMonitorNamespaceSelector doesn't seem to work for Prometheus"
In my prometheus deployment, servicemonitorselector and servicemonitornamespaceselector look like this -

[code]

And my namespace which has the desired service monitor running is -

[code]

But still I am not able to get service in service discovery tab of Prometheus UI. I checked Prometheus logs and there doesn't seem to be any RBAC issues.

[2020-07-17 05:30] vsliouniaev commented on #3336
@bhandari8sujit
You're correct - sounds like the issue is caused by unreachable api server when the helm chart is trying to create some certificates for admission webhooks:
[code]

Unfortunately helm is notoriously poor at fixing issues that happen on first install. So the only thing I can think of is to purge and start again.

@piraces
Your issue does not sound the same, however it does suggest t

[2020-07-17 05:53] brancz commented on #3338
Could you check what's in the generated configuration?

[code]

[2020-07-17 05:57] vaishali-prophecy commented on #3338
This is deployed in namespace 'prophecy' and here is the config -

[code]

[2020-07-17 05:58] brancz commented on #3337
You're essentially looking for a setup where there is one global Alertmanager cluster across Kubernetes clusters? I think this is a neat idea! Do you think just enabling HA with a single replica would be sufficient for this? It would be amazing if we could talk through the entire architecture of how things would work, but if we can manage to I'd be more than happy to have something like this!

[2020-07-17 07:28] lilic opened #3339 "Remove the need for custom multi namespace listwatcher"
This has caused a few problems in the past, and made it difficult to debug due to its nature.

TODO: write up plan on how to remove this, possibly using https://v1-17.docs.kubernetes.io/docs/reference/generated/kubernetes-api/v1.17/#labelselectorrequirement-v1-meta

See background https://github.com/coreos/prometheus-operator/issues/3218

[2020-07-17 07:42] piraces commented on #3336
Thanks @vsliouniaev , purging the chart and trying again solved my issue. Sorry for the noise...

[2020-07-17 09:13] brancz commented on #3338
Could you share your whole `Prometheus` object as well as the `ServiceMonitor` you expected to be working?

[2020-07-17 11:14] lilic commented on #3234
We already have the PR for it, see the latest status there :) https://github.com/coreos/prometheus-operator/pull/3258

[2020-07-17 11:30] vsliouniaev commented on #3326
It will probably be some time before I can get to this, so anyone who would like to do it - feel free

[2020-07-17 11:46] vaishali-prophecy commented on #3338
PFA the yamls for service monitor and prometheus.

[prometheus.txt](https://github.com/coreos/prometheus-operator/files/4937546/prometheus.txt)
[service_monitor.txt](https://github.com/coreos/prometheus-operator/files/4937548/service_monitor.txt)